---
{
	"title": "Transitions",
	"language": "en",
	"category": "Plugin",
	"description": "CSS-based transitions",
	"tag": "transitions",
	"altLangPrefix": "transitions",
	"css": "demo/transitions"
}
---
<div class="alert alert-info">
	<p><strong>Purpose:</strong> create a transition class with optional states.</p>
</div>

<h2>Fade</h2>
<div class="">
	<p>Hover mouse over space below to trigger fade-in (300ms)</p>
	<img src="http://placehold.it/350x150&amp;text=fade-in+test" class="wb-fade-in-test" alt="placeholder" tabindex="0" />
	<img src="http://placehold.it/350x150&amp;text=fade-in+test" class="" alt="placeholder" />
</div>

<div class="">
	<p>Hover mouse over space below to trigger fade-out (500ms)</p>
	<img src="http://placehold.it/350x150&amp;text=fade-out+test" class="wb-fade-out-test" alt="placeholder" tabindex="0" />
	<img src="http://placehold.it/350x150&amp;text=fade-out+test" class="" alt="placeholder" />
</div>

<br>
<br>

<h2>Slide</h2>
<div class="">
	<p>Hover mouse over space below to trigger slide-left (300ms)</p>
	<img src="http://placehold.it/350x150&amp;text=slide-left+test" class="wb-slide-left-test" alt="placeholder" tabindex="0" />
	<img src="http://placehold.it/350x150&amp;text=slide-left+test" class="" alt="placeholder" />
</div>
<br>
<div class="">
	<p>Hover mouse over space below to trigger slide-right (500ms)</p>
	<img src="http://placehold.it/350x150&amp;text=slide-right+test" class="wb-slide-right-test" alt="placeholder" tabindex="0" />
	<img src="http://placehold.it/350x150&amp;text=slide-left+test" class="" alt="placeholder" />
</div>
