/*
  WET-BOEW
  @title: Form additions to WET-BOEW
 */

$asterisk-width: .665em;

%forms-color-red-bold {
	color: #d3080c;
	font-weight: 700;
}

// scss-lint:disable QualifyingElement
label,
legend,
.checkbox,
input[type="checkbox"] {
	&.required {
		&:before {
			@extend %forms-color-red-bold;
			content: "* ";
			margin-left: -$asterisk-width;
		}

		strong {
			&.required {
				@extend %forms-color-red-bold;
			}
		}
	}
}
// scss-lint:enable QualifyingElement

[dir=rtl] {
	label,
	legend {
		&.required {
			&:before {
				margin-left: auto;
				margin-right: -$asterisk-width;
			}
		}
	}
}
