/*
  WET-BOEW
  @title: Form additions to WET-BOEW
 */

$asterisk-width: .67em;

%forms-color-red-bold {
	color: #d3080c;
	font-weight: 700;
}

// scss-lint:disable QualifyingElement
label,
legend,
.checkbox,
input[type="checkbox"] {
	&.required {
		&:before {
			@extend %forms-color-red-bold;
			content: "* ";
			margin-left: -$asterisk-width;
			vertical-align: top;
		}

		strong {
			&.required {
				@extend %forms-color-red-bold;
			}
		}
	}
}
// scss-lint:enable QualifyingElement

.form-group {
	&.has-error {
		.checkbox {
			color: $text-color;
		}
	}

	.checkbox {
		&.checkbox-standalone {
			label {
				font-weight: 700;
			}
		}
	}
}

[dir=rtl] {
	label,
	legend {
		&.required {
			&:before {
				margin-left: auto;
				margin-right: -$asterisk-width;
			}
		}
	}
}
