---
title: Validation de formulaires
language: fr
---
<style>
.wb-formvalid fieldset {
	margin-bottom: 20px;
}
.wb-formvalid legend {
	margin-bottom: 0;
}
.wb-formvalid label {
	display: block;
	margin-top: 15px;
}
</style>
<div class="wb-formvalid">
	<form action="#" method="get" id="validation-example">
		<fieldset>
			<legend>Coordonnées</legend>
			<label for="title1"><span class="field-name">Titre</span> <strong>(obligatoire)</strong></label>
			<select id="title1" name="title1" required="required">
				<option label="Sélectionner un titre"></option>
				<option value="dr">D. Ph.</option>
				<option value="esq">Me</option>
				<option value="mr">M.</option>
				<option value="ms">Madame</option>
			</select>
			<label for="fname"><span class="field-name">Prénom</span> <strong>(obligatoire)</strong></label>
			<input id="fname" name="fname" type="text" required="required" pattern=".{2,}" data-rule-minlength="2" />
			<label for="lname"><span class="field-name">Nom de famille</span> <strong>(obligatoire)</strong></label>
			<input id="lname" name="lname" type="text" required="required" pattern=".{2,}" data-rule-minlength="2" />
			<label for="tel"><span class="field-name">Numéro de téléphone</span> (999-999-9999) <strong>(obligatoire)</strong></label>
			<input id="tel" name="tel" type="tel" required="required" data-rule-phoneUS="true" />
			<label for="email1"><span class="field-name">Adresse électronique</span></label>
			<input id="email1" name="email1" type="email" />
			<label for="url1"><span class="field-name">URL du site Web (http://www.url.com)</span></label>
			<input id="url1" name="url1" type="url" />
		</fieldset>

		<fieldset>
			<legend>Autres exemples</legend>
			<label for="date1"><span class="field-name">Date</span><span class="datepicker-format"> (AAAA-MM-JJ)</span></label>
			<input id="date1" name="date1" type="date" data-rule-dateISO="true" />
			<label for="time1"><span class="field-name">Heure</span> (hh:mm)</label>
			<input id="time1" name="time1" type="time" />
			<label for="an1"><span class="field-name">Alphanumérique</span> (4 caractères minimum)</label>
			<input id="an1" name="an1" type="text" pattern="[A-Za-z0-9\s]{4,}" data-rule-alphanumeric="true" data-rule-minlength="4" />
			<label for="digits1"><span class="field-name">Chiffres seulement</span></label>
			<input id="digits1" name="digits1" type="number" />
			<label for="integer1"><span class="field-name">Intègre</span> (entre 5 et 40)</label>
			<input id="integer1" name="integer1" type="number" min="5" max="40" />
			<label for="letters1"><span class="field-name">Lettres seulement</span> (5 caractères maximum)</label>
			<input id="letters1" name="letters1" type="text" size="5" maxlength="5" pattern="[A-Za-z\s]" data-rule-lettersonly="true" />
			<label for="text1"><span class="field-name">Lettres et des signes de ponctuation seulement</span> (ponctuation qui est permis&#160;: [. , ( ) "])</label>
			<input id="text1" name="text1" type="text" pattern="[A-Za-z-.,()'&#34;\s]" data-rule-letterswithbasicpunc="true" />
			<label for="password1"><span class="field-name">Mot de passe</span> (entre 5 et 10 characters)</label>
			<input id="password1" name="password1" type="password" maxlength="10" size="10" pattern=".{5,10}" data-rule-rangelength="[5,10]" />
		</fieldset>

		<fieldset>
			<legend><span class="field-name">Animal favori</span> (sélectionner au moins une des options ci-dessous)</legend>
			<label for="animal1"><input type="checkbox" name="animal" value="1" id="animal1" required="required" />&#160;&#160;Chien</label>
			<label for="animal2"><input type="checkbox" name="animal" value="2" id="animal2" />&#160;&#160;Chat</label>
			<label for="animal3"><input type="checkbox" name="animal" value="3" id="animal3" />&#160;&#160;Poisson</label>
			<label for="animal4"><input type="checkbox" name="animal" value="4" id="animal4" />&#160;&#160;Autre</label>
		</fieldset>

		<fieldset>
			<legend><span class="field-name">Statut de citoyen</span></legend>
			<label for="status1"><input type="radio" name="status" value="1" id="status1" required="required" />&#160;&#160;Citoyen canadien</label>
			<label for="status2"><input type="radio" name="status" value="2" id="status2" />&#160;&#160;Résident permanent</label>
			<label for="status3"><input type="radio" name="status" value="3" id="status3" />&#160;&#160;Permis de travail</label>
			<label for="status4"><input type="radio" name="status" value="4" id="status4" />&#160;&#160;Autre</label>
		</fieldset>

		<input type="submit" value="Soumettre" /> <input type="reset" value="Réinitialiser" />
	</form>
</div>
<div class="clear"></div>
<noscript>
<p>Ce formulaire ne peut pas être soumis sans Javascript. Veuillez utiliser une des méthodes précisées ci-dessous&#160;:</p>
<ul>
<li>Méthode 1</li>
<li>Méthode 2</li>
<li>Méthode n</li>
</ul>
</noscript>