---
{
	"title": "Form validation",
	"language": "en",
	"category": "Plugins",
	"description": "Provides generic validation and error message handling for Web forms.",
	"tag": "formvalid",
	"parentdir": "formvalid",
	"altLangPrefix": "formvalid",
	"dateModified": "2014-07-20"
}
---
<section>
	<h2>Purpose</h2>
	<p>Provides generic validation and error message handling for Web forms.</p>
</section>

<section>
	<h2>Example</h2>
	<details class="mrgn-bttm-lg">
		<summary>View code</summary>
		<pre><code>&lt;div class=&quot;wb-frmvld&quot;&gt;
	&lt;form action=&quot;#&quot; method=&quot;get&quot; id=&quot;validation-example&quot;&gt;
		&lt;fieldset&gt;
			&lt;legend&gt;Contact information&lt;/legend&gt;
			&lt;div class=&quot;form-group&quot;&gt;
				&lt;label for=&quot;title1&quot; class=&quot;required&quot;&gt;&lt;span class=&quot;field-name&quot;&gt;Title&lt;/span&gt; &lt;strong class=&quot;required&quot;&gt;(required)&lt;/strong&gt;&lt;/label&gt;
				&lt;select class=&quot;form-control&quot; id=&quot;title1&quot; name=&quot;title1&quot; required=&quot;required&quot;&gt;
					&lt;option label=&quot;Select a title&quot;&gt;&lt;/option&gt;
					&lt;option value=&quot;dr&quot;&gt;Dr.&lt;/option&gt;
					&lt;option value=&quot;esq&quot;&gt;Esq.&lt;/option&gt;
					&lt;option value=&quot;mr&quot;&gt;Mr.&lt;/option&gt;
					&lt;option value=&quot;ms&quot;&gt;Ms.&lt;/option&gt;
				&lt;/select&gt;
			&lt;/div&gt;
			&lt;div class=&quot;form-group&quot;&gt;
				&lt;label for=&quot;fname1&quot; class=&quot;required&quot;&gt;&lt;span class=&quot;field-name&quot;&gt;First Name&lt;/span&gt; &lt;strong class=&quot;required&quot;&gt;(required)&lt;/strong&gt;&lt;/label&gt;
				&lt;input class=&quot;form-control&quot; id=&quot;fname1&quot; name=&quot;fname1&quot; type=&quot;text&quot; required=&quot;required&quot; pattern=&quot;.{2,}&quot; data-rule-minlength=&quot;2&quot; /&gt;
			&lt;/div&gt;
			&lt;div class=&quot;form-group&quot;&gt;
				&lt;label for=&quot;lname1&quot; class=&quot;required&quot;&gt;&lt;span class=&quot;field-name&quot;&gt;Last Name&lt;/span&gt; &lt;strong class=&quot;required&quot;&gt;(required)&lt;/strong&gt;&lt;/label&gt;
				&lt;input class=&quot;form-control&quot; id=&quot;lname1&quot; name=&quot;lname1&quot; type=&quot;text&quot; required=&quot;required&quot; pattern=&quot;.{2,}&quot; data-rule-minlength=&quot;2&quot; /&gt;
			&lt;/div&gt;
			&lt;div class=&quot;form-group&quot;&gt;
				&lt;label for=&quot;tel1&quot; class=&quot;required&quot;&gt;&lt;span class=&quot;field-name&quot;&gt;Telephone Number&lt;/span&gt; (999-999-9999) &lt;strong class=&quot;required&quot;&gt;(required)&lt;/strong&gt;&lt;/label&gt;
				&lt;input class=&quot;form-control&quot; id=&quot;tel1&quot; name=&quot;tel1&quot; type=&quot;tel&quot; required=&quot;required&quot; data-rule-phoneUS=&quot;true&quot; /&gt;
			&lt;/div&gt;
			&lt;div class=&quot;form-group&quot;&gt;
				&lt;label for=&quot;email1&quot;&gt;&lt;span class=&quot;field-name&quot;&gt;Email Address&lt;/span&gt; (yourname@domain.com)&lt;/label&gt;
				&lt;input class=&quot;form-control&quot; id=&quot;email1&quot; name=&quot;email1&quot; type=&quot;email&quot; /&gt;
			&lt;/div&gt;
			&lt;div class=&quot;form-group&quot;&gt;
				&lt;label for=&quot;url1&quot;&gt;&lt;span class=&quot;field-name&quot;&gt;Website URL (http://www.url.com)&lt;/span&gt;&lt;/label&gt;
				&lt;input class=&quot;form-control&quot; id=&quot;url1&quot; name=&quot;url1&quot; type=&quot;url&quot; /&gt;
			&lt;/div&gt;
		&lt;/fieldset&gt;

		&lt;fieldset&gt;
			&lt;legend&gt;Other examples&lt;/legend&gt;
			&lt;div class=&quot;form-group&quot;&gt;
				&lt;label for=&quot;date1&quot;&gt;&lt;span class=&quot;field-name&quot;&gt;Date&lt;/span&gt;&lt;span class=&quot;datepicker-format&quot;&gt; (YYYY-MM-DD)&lt;/span&gt;&lt;/label&gt;
				&lt;input class=&quot;form-control&quot; id=&quot;date1&quot; name=&quot;date1&quot; type=&quot;date&quot; data-rule-dateISO=&quot;true&quot; /&gt;
			&lt;/div&gt;
			&lt;div class=&quot;form-group&quot;&gt;
				&lt;label for=&quot;time1&quot;&gt;&lt;span class=&quot;field-name&quot;&gt;Time&lt;/span&gt; (hh:mm)&lt;/label&gt;
				&lt;input class=&quot;form-control&quot; id=&quot;time1&quot; name=&quot;time1&quot; type=&quot;time&quot; /&gt;
			&lt;/div&gt;
			&lt;div class=&quot;form-group&quot;&gt;
				&lt;label for=&quot;number1&quot;&gt;&lt;span class=&quot;field-name&quot;&gt;Number&lt;/span&gt; (between 5 and 40)&lt;/label&gt;
				&lt;input class=&quot;form-control&quot; id=&quot;number1&quot; name=&quot;number1&quot; type=&quot;number&quot; min=&quot;5&quot; max=&quot;40&quot; /&gt;
			&lt;/div&gt;
			&lt;div class=&quot;form-group&quot;&gt;
				&lt;label for=&quot;an1&quot;&gt;&lt;span class=&quot;field-name&quot;&gt;Alphanumeric&lt;/span&gt; (at least 4 characters)&lt;/label&gt;
				&lt;input class=&quot;form-control&quot; id=&quot;an1&quot; name=&quot;an1&quot; type=&quot;text&quot; pattern=&quot;[A-Za-z0-9\s]{4,}&quot; data-rule-alphanumeric=&quot;true&quot; data-rule-minlength=&quot;4&quot; /&gt;
			&lt;/div&gt;
			&lt;div class=&quot;form-group&quot;&gt;
				&lt;label for=&quot;numeric1&quot;&gt;&lt;span class=&quot;field-name&quot;&gt;Numeric&lt;/span&gt; (digits only)&lt;/label&gt;
				&lt;input class=&quot;form-control&quot; id=&quot;numeric1&quot; name=&quot;numeric1&quot; type=&quot;number&quot; data-rule-digits=&quot;true&quot; /&gt;
			&lt;/div&gt;
			&lt;div class=&quot;form-group&quot;&gt;
				&lt;label for=&quot;letters1&quot;&gt;&lt;span class=&quot;field-name&quot;&gt;Letters only&lt;/span&gt; (maximum of 5 characters)&lt;/label&gt;
				&lt;input class=&quot;form-control&quot; id=&quot;letters1&quot; name=&quot;letters1&quot; type=&quot;text&quot; size=&quot;5&quot; maxlength=&quot;5&quot; pattern=&quot;[A-Za-z\s]&quot; data-rule-lettersonly=&quot;true&quot; /&gt;
			&lt;/div&gt;
			&lt;div class=&quot;form-group&quot;&gt;
				&lt;label for=&quot;text1&quot;&gt;&lt;span class=&quot;field-name&quot;&gt;Letters and punctuation only&lt;/span&gt; (allowed punctuation: [. , ( ) &quot;])&lt;/label&gt;
				&lt;input class=&quot;form-control&quot; id=&quot;text1&quot; name=&quot;text1&quot; type=&quot;text&quot; pattern=&quot;[A-Za-z-.,()'&amp;#34;\s]&quot; data-rule-letterswithbasicpunc=&quot;true&quot; /&gt;
			&lt;/div&gt;
			&lt;div class=&quot;form-group&quot;&gt;
				&lt;label for=&quot;password1&quot;&gt;&lt;span class=&quot;field-name&quot;&gt;Password&lt;/span&gt; (between 5 and 10 characters)&lt;/label&gt;
				&lt;input class=&quot;form-control&quot; id=&quot;password1&quot; name=&quot;password1&quot; type=&quot;password&quot; maxlength=&quot;10&quot; size=&quot;10&quot; pattern=&quot;.{5,10}&quot; data-rule-rangelength=&quot;[5,10]&quot; /&gt;
			&lt;/div&gt;
		&lt;/fieldset&gt;

		&lt;fieldset&gt;
			&lt;legend class=&quot;required&quot;&gt;&lt;span class=&quot;field-name&quot;&gt;Favourite pets&lt;/span&gt; &lt;strong class=&quot;required&quot;&gt;(required)&lt;/strong&gt;&lt;/legend&gt;
			&lt;div class=&quot;checkbox&quot;&gt;
				&lt;label for=&quot;animal1&quot;&gt;&lt;input type=&quot;checkbox&quot; name=&quot;animal&quot; value=&quot;1&quot; id=&quot;animal1&quot; required=&quot;required&quot; /&gt;&amp;#160;&amp;#160;Dog&lt;/label&gt;
			&lt;/div&gt;
			&lt;div class=&quot;checkbox&quot;&gt;
				&lt;label for=&quot;animal2&quot;&gt;&lt;input type=&quot;checkbox&quot; name=&quot;animal&quot; value=&quot;2&quot; id=&quot;animal2&quot; /&gt;&amp;#160;&amp;#160;Cat&lt;/label&gt;
			&lt;/div&gt;
			&lt;div class=&quot;checkbox&quot;&gt;
				&lt;label for=&quot;animal3&quot;&gt;&lt;input type=&quot;checkbox&quot; name=&quot;animal&quot; value=&quot;3&quot; id=&quot;animal3&quot; /&gt;&amp;#160;&amp;#160;Fish&lt;/label&gt;
			&lt;/div&gt;
			&lt;div class=&quot;checkbox&quot;&gt;
				&lt;label for=&quot;animal4&quot;&gt;&lt;input type=&quot;checkbox&quot; name=&quot;animal&quot; value=&quot;4&quot; id=&quot;animal4&quot; /&gt;&amp;#160;&amp;#160;Other&lt;/label&gt;
			&lt;/div&gt;
		&lt;/fieldset&gt;

		&lt;fieldset&gt;
			&lt;legend class=&quot;required&quot;&gt;&lt;span class=&quot;field-name&quot;&gt;Citizenship status&lt;/span&gt; &lt;strong class=&quot;required&quot;&gt;(required)&lt;/strong&gt;&lt;/legend&gt;
			&lt;div class=&quot;radio&quot;&gt;
				&lt;label for=&quot;status1&quot;&gt;&lt;input type=&quot;radio&quot; name=&quot;status&quot; value=&quot;1&quot; id=&quot;status1&quot; required=&quot;required&quot; /&gt;&amp;#160;&amp;#160;Canadian citizen&lt;/label&gt;
			&lt;/div&gt;
			&lt;div class=&quot;radio&quot;&gt;
				&lt;label for=&quot;status2&quot;&gt;&lt;input type=&quot;radio&quot; name=&quot;status&quot; value=&quot;2&quot; id=&quot;status2&quot; /&gt;&amp;#160;&amp;#160;Permanent resident&lt;/label&gt;
			&lt;/div&gt;
			&lt;div class=&quot;radio&quot;&gt;
				&lt;label for=&quot;status3&quot;&gt;&lt;input type=&quot;radio&quot; name=&quot;status&quot; value=&quot;3&quot; id=&quot;status3&quot; /&gt;&amp;#160;&amp;#160;Work permit&lt;/label&gt;
			&lt;/div&gt;
			&lt;div class=&quot;radio&quot;&gt;
				&lt;label for=&quot;status4&quot;&gt;&lt;input type=&quot;radio&quot; name=&quot;status&quot; value=&quot;4&quot; id=&quot;status4&quot; /&gt;&amp;#160;&amp;#160;Other&lt;/label&gt;
			&lt;/div&gt;
		&lt;/fieldset&gt;

		&lt;input type=&quot;submit&quot; value=&quot;Submit&quot; class=&quot;btn btn-primary&quot; /&gt; &lt;input type=&quot;reset&quot; value=&quot;Reset&quot; class=&quot;btn btn-default&quot; /&gt;
	&lt;/form&gt;
&lt;/div&gt;

&lt;noscript&gt;
	&lt;p&gt;This form cannot be submitted without JavaScript. You may use one of the following methods:&lt;/p&gt;
	&lt;ul&gt;
		&lt;li&gt;Method 1&lt;/li&gt;
		&lt;li&gt;Method 2&lt;/li&gt;
		&lt;li&gt;Method n&lt;/li&gt;
	&lt;/ul&gt;
&lt;/noscript&gt;</code></pre>
	</details>

	<div class="wb-frmvld">
		<form action="#" method="get" id="validation-example">
			<fieldset>
				<legend>Contact information</legend>
				<div class="form-group">
					<label for="title1" class="required"><span class="field-name">Title</span> <strong class="required">(required)</strong></label>
					<select class="form-control" id="title1" name="title1" required="required">
						<option label="Select a title"></option>
						<option value="dr">Dr.</option>
						<option value="esq">Esq.</option>
						<option value="mr">Mr.</option>
						<option value="ms">Ms.</option>
					</select>
				</div>
				<div class="form-group">
					<label for="fname1" class="required"><span class="field-name">First Name</span> <strong class="required">(required)</strong></label>
					<input class="form-control" id="fname1" name="fname1" type="text" required="required" pattern=".{2,}" data-rule-minlength="2" />
				</div>
				<div class="form-group">
					<label for="lname1" class="required"><span class="field-name">Last Name</span> <strong class="required">(required)</strong></label>
					<input class="form-control" id="lname1" name="lname1" type="text" required="required" pattern=".{2,}" data-rule-minlength="2" />
				</div>
				<div class="form-group">
					<label for="tel1" class="required"><span class="field-name">Telephone Number</span> (999-999-9999) <strong class="required">(required)</strong></label>
					<input class="form-control" id="tel1" name="tel1" type="tel" required="required" data-rule-phoneUS="true" />
				</div>
				<div class="form-group">
					<label for="email1"><span class="field-name">Email Address</span> (yourname@domain.com)</label>
					<input class="form-control" id="email1" name="email1" type="email" />
				</div>
				<div class="form-group">
					<label for="url1"><span class="field-name">Website URL (http://www.url.com)</span></label>
					<input class="form-control" id="url1" name="url1" type="url" />
				</div>
			</fieldset>

			<fieldset>
				<legend>Other examples</legend>
				<div class="form-group">
					<label for="date1"><span class="field-name">Date</span><span class="datepicker-format"> (YYYY-MM-DD)</span></label>
					<input class="form-control" id="date1" name="date1" type="date" data-rule-dateISO="true" />
				</div>
				<div class="form-group">
					<label for="time1"><span class="field-name">Time</span> (hh:mm)</label>
					<input class="form-control" id="time1" name="time1" type="time" />
				</div>
				<div class="form-group">
					<label for="number1"><span class="field-name">Number</span> (between 5 and 40)</label>
					<input class="form-control" id="number1" name="number1" type="number" min="5" max="40" />
				</div>
				<div class="form-group">
					<label for="an1"><span class="field-name">Alphanumeric</span> (at least 4 characters)</label>
					<input class="form-control" id="an1" name="an1" type="text" pattern="[A-Za-z0-9\s]{4,}" data-rule-alphanumeric="true" data-rule-minlength="4" />
				</div>
				<div class="form-group">
					<label for="numeric1"><span class="field-name">Numeric</span> (digits only)</label>
					<input class="form-control" id="numeric1" name="numeric1" type="number" data-rule-digits="true" />
				</div>
				<div class="form-group">
					<label for="letters1"><span class="field-name">Letters only</span> (maximum of 5 characters)</label>
					<input class="form-control" id="letters1" name="letters1" type="text" size="5" maxlength="5" pattern="[A-Za-z\s]" data-rule-lettersonly="true" />
				</div>
				<div class="form-group">
					<label for="text1"><span class="field-name">Letters and punctuation only</span> (allowed punctuation: [. , ( ) "])</label>
					<input class="form-control" id="text1" name="text1" type="text" pattern="[A-Za-z-.,()'&#34;\s]" data-rule-letterswithbasicpunc="true" />
				</div>
				<div class="form-group">
					<label for="password1"><span class="field-name">Password</span> (between 5 and 10 characters)</label>
					<input class="form-control" id="password1" name="password1" type="password" maxlength="10" size="10" pattern=".{5,10}" data-rule-rangelength="[5,10]" />
				</div>
			</fieldset>

			<fieldset>
				<legend class="required"><span class="field-name">Favourite pets</span> <strong class="required">(required)</strong></legend>
				<div class="checkbox">
					<label for="animal1"><input type="checkbox" name="animal" value="1" id="animal1" required="required" />&#160;&#160;Dog</label>
				</div>
				<div class="checkbox">
					<label for="animal2"><input type="checkbox" name="animal" value="2" id="animal2" />&#160;&#160;Cat</label>
				</div>
				<div class="checkbox">
					<label for="animal3"><input type="checkbox" name="animal" value="3" id="animal3" />&#160;&#160;Fish</label>
				</div>
				<div class="checkbox">
					<label for="animal4"><input type="checkbox" name="animal" value="4" id="animal4" />&#160;&#160;Other</label>
				</div>
			</fieldset>

			<fieldset>
				<legend class="required"><span class="field-name">Citizenship status</span> <strong class="required">(required)</strong></legend>
				<div class="radio">
					<label for="status1"><input type="radio" name="status" value="1" id="status1" required="required" />&#160;&#160;Canadian citizen</label>
				</div>
				<div class="radio">
					<label for="status2"><input type="radio" name="status" value="2" id="status2" />&#160;&#160;Permanent resident</label>
				</div>
				<div class="radio">
					<label for="status3"><input type="radio" name="status" value="3" id="status3" />&#160;&#160;Work permit</label>
				</div>
				<div class="radio">
					<label for="status4"><input type="radio" name="status" value="4" id="status4" />&#160;&#160;Other</label>
				</div>
			</fieldset>

			<input type="submit" value="Submit" class="btn btn-primary" /> <input type="reset" value="Reset" class="btn btn-default" />
		</form>
	</div>

	<noscript>
		<p>This form cannot be submitted without JavaScript. You may use one of the following methods:</p>
		<ul>
			<li>Method 1</li>
			<li>Method 2</li>
			<li>Method n</li>
		</ul>
	</noscript>
</section>