---
title: Multimedia Player
language: en
---
<p>For video, the multimedia player leverages the native HTML5 video tag and relies on Flash as a fallback mechanism when the HTML5 video tag is not implemented. The MPEG 4 format (H264 codec) is the minimum requirement for video because the Flash fallback relies on it and H264 is the standard video format on many mobile devices. An optional but highly recommended Webm (VP8 codec) should be added as well to allow some browsers such as Firefox that do not include native support for H264 to leverage the native HTML5 performance gains.</p>
<p>For <a href="#audio-only">audio only</a>, the multimedia player leverages the native HTML5 audio tag and relies on Flash as a fallback mechanism when the HTML5 audio tag is not implemented.</p>
<p>For both video and audio-only, the multimedia player's timeline relies on the HTML5 progress element and uses a polyfill when the element is not supported.</p>

<section class="container">
	<h2>Examples</h2>
	<p>The first two video examples and the audio only example use native HTML5 video or audio on most modern browsers including Firefox 6+, Google Chrome 3+ and IE9. The third video example works natively in some browsers but relies on the Flash fallback for Firefox. For all examples, the Flash fallback is used for IE 7 and 8 as well as older versions of Firefox.</p>
	<section class="row">
		<div class="wb-multimedia col-md-6">
			<h3>MPEG4 (H264 + AAC) and WebM(VP8) source and HTML captions</h3>
			<video width="480" height="270" poster="http://31591.vws.magma.ca/sct-tbs/wet-boew/thumbnail.png" title="Video Example">
				<source src="http://31591.vws.magma.ca/sct-tbs/wet-boew/demo-eng.webm" type="video/webm" />
				<source src="http://31591.vws.magma.ca/sct-tbs/wet-boew/demo-eng.mp4" type="video/mp4" />
				<track src="mediaplayer-transcript_captions-en.html" kind="captions" data-type="text/html" srclang="en" label="English" />
			</video>
			<p><a href="mediaplayer-transcript_captions-en.html">Transcript</a></p>
		</div>
	</section>

	<section class="row">
		<div class="wb-multimedia col-md-6">
			<h3>MPEG4 (H264 + AAC) and WebM(VP8) sources with TTML captions</h3>
			<video width="480" height="270" poster="http://31591.vws.magma.ca/sct-tbs/wet-boew/thumbnail.png" title="Video Example">
				<source src="http://31591.vws.magma.ca/sct-tbs/wet-boew/demo-2-eng.webm" type="video/webm" />
				<source src="http://31591.vws.magma.ca/sct-tbs/wet-boew/demo-2-eng.mp4" type="video/mp4" />
				<track src="captions-en.xml" kind="captions" data-type="application/ttml+xml" srclang="en" label="English" />
			</video>
			<p><a href="mediaplayer-transcript_captions-en.html">Transcript</a></p>
		</div>
	</section>

	<section class="row">
		<div class="wb-multimedia col-md-6">
		<h3>MPEG4 (H264 + AAC) source with inline HTML captions</h3>
		<p>This example illustrates the use of an inline transcript to provide captions. This example can also demonstrate the fallback mechanism in Web browsers that don't support HTML5 videos.</p>
		<video width="480" height="270" poster="http://31591.vws.magma.ca/sct-tbs/wet-boew/thumbnail.png" title="Video Example">
			<source src="http://31591.vws.magma.ca/sct-tbs/wet-boew/demo-3-eng.mp4" type="video/mp4" />
			<track src="#inline-captions" kind="captions" data-type="text/html" srclang="en" label="English" />
		</video>
		<details id="inline-captions">
			<summary>Small Aircraft Passenger Guidelines - HTML5 Transcript/Captions</summary>
			<p class="wet-boew-vd"><em>(Our FIELD REPORTER is standing in the foreground, there is a small plane behind him. Throughout the entire video, he addresses the camera directly.)</em></p>
			<p>
				<span class="wet-boew-tt" data-begin="10.00s" data-dur="1.75s">When most people think of airports, </span>
				<span class="wet-boew-tt" data-begin="11.75s" data-dur="1.75s">they think of big, busy terminals </span>
				<span class="wet-boew-tt" data-begin="13.50s" data-dur="2.25s">that see thousands of passengers each day.</span>
				<span class="wet-boew-tt" data-begin="15.75s" data-dur="1.75s">But that's not the only way to fly. </span>
				<span class="wet-boew-tt" data-begin="18.00s" data-dur="2.00s">Smaller aircraft such as light twins, </span>
					<span class="wet-boew-tt" data-begin="20.00s" data-dur="1.50s">business jets, </span>
					<span class="wet-boew-tt" data-begin="21.50s" data-dur="2.00s">floatplanes and helicopters </span>
					<span class="wet-boew-tt" data-begin="23.50s" data-dur="2.25s">all take off from airstrips like this one…</span>
				</p>

				<p class="wet-boew-vd">(<em>As he speaks, shot of a light single engine plane taxiing on an airstrip with a forest in the background. Shot of a helicopter getting ready to land on another airstrip. And a shot of a plane that has just taken off while a light twin engine plane is taxiing on the airstrip</em>.)</p>

				<p>
					<span class="wet-boew-tt" data-begin="26.00s" data-dur="1.50s">Or this one.</span>
				</p>

				<p class="wet-boew-vd">(<em>Shot of a floatplane alongside a dock</em>.)</p>

				<p>
					<span class="wet-boew-tt" data-begin="28.25s" data-dur="1.75s">Like any other airport, </span>
					<span class="wet-boew-tt" data-begin="30.00s" data-dur="1.00s">you'll find crew, </span>
					<span class="wet-boew-tt" data-begin="31.00s" data-dur="1.00s">baggage handlers, </span>
					<span class="wet-boew-tt" data-begin="32.00s" data-dur="1.00s">fuel trucks </span>
					<span class="wet-boew-tt" data-begin="33.00s" data-dur="2.00s">and aircraft moving about. </span>
					<span class="wet-boew-tt" data-begin="35.00s" data-dur="2.75s">What you may not find are flight attendants</span>—
					<span class="wet-boew-tt" data-begin="37.75s" data-dur="1.75s">and that means when it comes to safety, </span>
					<span class="wet-boew-tt" data-begin="39.50s" data-dur="1.75s">you need to take the lead.</span>
				</p>

				<p>
					<span class="wet-boew-tt" data-begin="41.25s" data-dur="2.00s">First you need to get from Point A</span>—
					<span class="wet-boew-tt" data-begin="43.25s" data-dur="1.25s">the terminal</span>—
					<span class="wet-boew-tt" data-begin="44.50s" data-dur="1.00s">to Point B</span>—
					<span class="wet-boew-tt" data-begin="45.50s" data-dur="1.25s">the aircraft. </span>
					<span class="wet-boew-tt" data-begin="46.75s" data-dur="2.25s">Without an enclosed walkway to shelter you, </span>
					<span class="wet-boew-tt" data-begin="49.00s" data-dur="2.00s">here are a few things to keep in mind.</span>
				</p>

				<p class="wet-boew-vd">(<em>A small group of people holding their carry-on luggage are waiting at a doorway leading to the airstrip terminal. A young lady leads them to a small airplane</em>.)</p>

				<p>
					<span class="wet-boew-tt" data-begin="51.25s" data-dur="3.00s">First, the most direct route isn't always the safest. </span>
					<span class="wet-boew-tt" data-begin="54.50s" data-dur="2.50s">Always follow the directions given to you by the crew </span>
					<span class="wet-boew-tt" data-begin="57.00s" data-dur="1.25s">and, if there is one, </span>
					<span class="wet-boew-tt" data-begin="58.25s" data-dur="1.75s">follow the painted walkway</span>—
					<span class="wet-boew-tt" data-begin="60.00s" data-dur="2.25s">that way, you can be seen by any moving aircraft </span>
					<span class="wet-boew-tt" data-begin="62.25s" data-dur="1.75s">and you'll stay clear of hazards </span>
					<span class="wet-boew-tt" data-begin="64.00s" data-dur="2.00s">like propellers or wings.</span>
				</p>

				<p>
					<span class="wet-boew-tt" data-begin="66.00s" data-dur="2.00s">And make sure you have a firm grip on your belongings </span>
					<span class="wet-boew-tt" data-begin="68.00s" data-dur="1.25s">at all times</span>—
					<span class="wet-boew-tt" data-begin="69.25s" data-dur="1.75s">even something as small as a hat </span>
					<span class="wet-boew-tt" data-begin="71.00s" data-dur="1.50s">could cause significant damage </span>
					<span class="wet-boew-tt" data-begin="72.50s" data-dur="1.75s">if it's blown into a propeller.</span>
				</p>

				<p class="wet-boew-vd">(<em>Close-up on a scarf. A woman takes it off to put it in her purse</em>.)</p>

				<p>
					<span class="wet-boew-tt" data-begin="74.25s" data-dur="2.50s">It's also important to never smoke near any aircraft </span>
					<span class="wet-boew-tt" data-begin="76.75s" data-dur="1.75s">or refuelling station</span>—
					<span class="wet-boew-tt" data-begin="78.50s" data-dur="1.50s">the fuel is extremely flammable </span>
					<span class="wet-boew-tt" data-begin="80.00s" data-dur="1.75s">and can ignite instantly.</span>
				</p>

				<p>
					<span class="wet-boew-tt" data-begin="82.50s" data-dur="3.00s">Above all, be aware of your surroundings at all times.</span>
					<span class="wet-boew-tt" data-begin="86.00s" data-dur="1.50s">This means not listening to music </span>
					<span class="wet-boew-tt" data-begin="87.50s" data-dur="1.00s">or using your phone </span>
					<span class="wet-boew-tt" data-begin="88.50s" data-dur="1.50s">while walking across the airstrip </span>
					<span class="wet-boew-tt" data-begin="90.00s" data-dur="1.25s">or boarding the plane. </span>
					<span class="wet-boew-tt" data-begin="91.25s" data-dur="2.00s">It also means watching out for propellers, </span>
					<span class="wet-boew-tt" data-begin="93.25s" data-dur="2.50s">rotor blades, exhausts and intakes</span>—
					<span class="wet-boew-tt" data-begin="95.75s" data-dur="3.00s">all of which could cause serious injury.</span>
				</p>

				<p>
					<span class="wet-boew-tt" data-begin="99.25s" data-dur="1.25s">Different types of aircraft </span>
					<span class="wet-boew-tt" data-begin="100.50s" data-dur="1.50s">have different boarding procedures.</span>—
					<span class="wet-boew-tt" data-begin="102.75s" data-dur="1.25s">Make sure you know in advance </span>
					<span class="wet-boew-tt" data-begin="104.00s" data-dur="2.25s">how to approach and leave your aircraft.</span>
					<span class="wet-boew-tt" data-begin="106.25s" data-dur="3.25s">This is particularly important for helicopters and floatplanes.</span>
					<span class="wet-boew-tt" data-begin="109.50s" data-dur="1.75s">With a helicopter, for example, </span>
					<span class="wet-boew-tt" data-begin="111.25s" data-dur="3.00s">you should always approach from the front.</span>
				</p>

				<p class="wet-boew-vd">(<em>A couple of people approach a helicopter from the front and start to board</em>.)</p>

				<p>
					<span class="wet-boew-tt" data-begin="114.00s" data-dur="3.00s">Of course, safety doesn't end once you're inside the plane. </span>
					<span class="wet-boew-tt" data-begin="117.00s" data-dur="1.50s">Without any flight attendants, </span>
					<span class="wet-boew-tt" data-begin="118.50s" data-dur="1.50s">it's up to you to understand </span>
					<span class="wet-boew-tt" data-begin="120.00s" data-dur="2.25s">the ins and outs of the aircraft you're flying on.</span>
				</p>

				<p>
					<span class="wet-boew-tt" data-begin="122.25s" data-dur="1.25s">Part of that understanding </span>
					<span class="wet-boew-tt" data-begin="123.50s" data-dur="2.00s">will come from the pilot's briefing. </span>
					<span class="wet-boew-tt" data-begin="126.00s" data-dur="2.50s">Your pilot is experienced and well trained</span>—
					<span class="wet-boew-tt" data-begin="128.50s" data-dur="3.00s">so be sure to not only listen closely to what they have to say, </span>
					<span class="wet-boew-tt" data-begin="131.50s" data-dur="3.00s">but to carefully follow all of their instructions. </span>
					<span class="wet-boew-tt" data-begin="134.50s" data-dur="1.25s">If at any point </span>
					<span class="wet-boew-tt" data-begin="135.75s" data-dur="2.75s">you feel something has been left unsaid </span>
					<span class="wet-boew-tt" data-begin="137.50s" data-dur="1.25s">or is unclear, </span>
					<span class="wet-boew-tt" data-begin="138.75s" data-dur="2.00s">don't be afraid to ask questions.</span>
				</p>

				<p>
					<span class="wet-boew-tt" data-begin="141.00s" data-dur="3.25s">This briefing will change depending on the type of plane you're on, </span>
					<span class="wet-boew-tt" data-begin="144.25s" data-dur="1.25s">but it should cover:</span>
				</p>

				<ul>
					<li>
						<span class="wet-boew-tt" data-begin="145.75s" data-dur="2.25s">how to safely store your carry-on luggage </span>
						<span class="wet-boew-tt" data-begin="148.00s" data-dur="2.00s">if there is room for it in the cabin;</span>
					</li>
					<li>
						<span class="wet-boew-tt" data-begin="150.00s" data-dur="2.00s">how to use your seat belt;</span>
					</li>
					<li>
						<span class="wet-boew-tt" data-begin="152.00s" data-dur="3.00s">how to operate the door in case of an emergency landing; and</span>
					</li>
					<li>
						<span class="wet-boew-tt" data-begin="155.00s" data-dur="2.00s">where to find fire extinguishers, </span>
						<span class="wet-boew-tt" data-begin="157.00s" data-dur="1.00s">first aid kits, </span>
						<span class="wet-boew-tt" data-begin="158.00s" data-dur="1.00s">oxygen masks </span>
						<span class="wet-boew-tt" data-begin="159.00s" data-dur="2.00s">and life preservers.</span>
					</li>
				</ul>

				<p>
					<span class="wet-boew-tt" data-begin="161.00s" data-dur="3.25s">The briefing should also include the emergency locator transmitter, </span>
					<span class="wet-boew-tt" data-begin="164.25s" data-dur="1.50s">or ELT. </span>
					<span class="wet-boew-tt" data-begin="165.75s" data-dur="3.25s">It transmits a radio signal that allows rescue workers to find you </span>
					<span class="wet-boew-tt" data-begin="169.00s" data-dur="2.25s">in the event of an emergency landing.</span>
				</p>

				<p class="wet-boew-vd">(<em>Close-up shot of the <abbr title="emergency locator transmitte">ELT</abbr> on a plane</em>.)</p>

				<p>
					<span class="wet-boew-tt" data-begin="171.50s" data-dur="2.75s">Now, don't let all this emergency talk scare you. </span>
					<span class="wet-boew-tt" data-begin="174.25s" data-dur="2.50s">Canada has a strong aviation safety record. </span>
					<span class="wet-boew-tt" data-begin="176.75s" data-dur="2.75s">But the best protection is good preparation.</span>
				</p>

				<p>
					<span class="wet-boew-tt" data-begin="180.00s" data-dur="3.00s">That's why every aircraft carries a passenger safety card, </span>
					<span class="wet-boew-tt" data-begin="183.00s" data-dur="1.25s">like this. </span>
					<span class="wet-boew-tt" data-begin="184.25s" data-dur="3.00s">It should include all of the information from the pilot's briefing </span>
					<span class="wet-boew-tt" data-begin="187.00s" data-dur="3.50s">as well as additional details about the plane's safety procedures</span>—
					<span class="wet-boew-tt" data-begin="190.50s" data-dur="2.50s">so make sure to look it over before you take off.</span>
				</p>

				<p class="wet-boew-vd">(<em>As our FIELD REPORTER mentions the safety card, one of the passengers takes it from the seat pocket in front of him and shows it to the camera</em>.)</p>

				<p>
					<span class="wet-boew-tt" data-begin="194.00s" data-dur="1.25s">Once you're in the air, </span>
					<span class="wet-boew-tt" data-begin="195.25s" data-dur="2.00s">you still have a big role to play.</span>
				</p>

				<p>
					<span class="wet-boew-tt" data-begin="197.50s" data-dur="2.75s">First, make sure you know how to quickly fasten your seat belt </span>
					<span class="wet-boew-tt" data-begin="200.25s" data-dur="1.75s">at any time during the flight</span>—
					<span class="wet-boew-tt" data-begin="202.00s" data-dur="1.50s">this includes during take-off, </span>
					<span class="wet-boew-tt" data-begin="203.50s" data-dur="2.00s">if the pilot turns on the safety belt sign </span>
					<span class="wet-boew-tt" data-begin="205.50s" data-dur="2.25s">or instructs you verbally mid-flight, </span>
					<span class="wet-boew-tt" data-begin="207.75s" data-dur="2.00s">and prior to landing.</span>
				</p>

				<p>
					<span class="wet-boew-tt" data-begin="209.75s" data-dur="2.75s">Second, ensure that all carry-on bags are stowed away, </span>
					<span class="wet-boew-tt" data-begin="212.50s" data-dur="1.75s">loose items are secure </span>
					<span class="wet-boew-tt" data-begin="214.25s" data-dur="2.25s">and that the cabin is free from obstruction. </span>
					<span class="wet-boew-tt" data-begin="216.50s" data-dur="2.50s">This will help make an emergency evacuation easier, </span>
					<span class="wet-boew-tt" data-begin="219.00s" data-dur="1.25s">if needed.</span>
				</p>

				<p>
					<span class="wet-boew-tt" data-begin="220.25s" data-dur="2.00s">Third, don't distract the pilot. </span>
					<span class="wet-boew-tt" data-begin="222.25s" data-dur="2.75s">This doesn't mean you can't ever talk to the pilot</span>—
					<span class="wet-boew-tt" data-begin="225.00s" data-dur="2.00s">in fact, if you notice something out of the ordinary, </span>
					<span class="wet-boew-tt" data-begin="227.00s" data-dur="2.00s">by all means, tell them.</span>
				</p>

				<p>
					<span class="wet-boew-tt" data-begin="229.00s" data-dur="3.25s">Finally, don't interfere with the operation of the aircraft. </span>
					<span class="wet-boew-tt" data-begin="232.25s" data-dur="1.75s">This means not touching any controls, </span>
					<span class="wet-boew-tt" data-begin="234.00s" data-dur="1.25s">knobs or gauges, </span>
					<span class="wet-boew-tt" data-begin="235.25s" data-dur="1.75s">and waiting for the pilot's permission </span>
					<span class="wet-boew-tt" data-begin="237.00s" data-dur="2.25s">to open any windows or doors.</span>
				</p>

				<p>
					<span class="wet-boew-tt" data-begin="240.00s" data-dur="3.25s">Also, because some items can interfere with the plane's systems, </span>
					<span class="wet-boew-tt" data-begin="243.25s" data-dur="1.25s">always ask the pilot </span>
					<span class="wet-boew-tt" data-begin="244.50s" data-dur="2.00s">which electronic equipment you can use </span>
					<span class="wet-boew-tt" data-begin="246.50s" data-dur="1.50s">before you take off. </span>
					<span class="wet-boew-tt" data-begin="248.00s" data-dur="2.25s">If in doubt, don't use it.</span>
				</p>

				<p class="wet-boew-vd">(<em>A passenger is holding a smartphone and puts it in his pocket</em>.)</p>

				<p>
					<span class="wet-boew-tt" data-begin="251.50s" data-dur="2.00s">Remember, comfort and safety in the air </span>
					<span class="wet-boew-tt" data-begin="253.50s" data-dur="2.25s">is a partnership between you and the pilot. </span>
					<span class="wet-boew-tt" data-begin="255.75s" data-dur="1.50s">Keep these tips in mind </span>
					<span class="wet-boew-tt" data-begin="257.25s" data-dur="3.00s">and you'll be sure to have a safe and memorable trip.</span>
					<span class="wet-boew-tt" data-begin="261.00s" data-dur="1.25s">Be informed. </span>
					<span class="wet-boew-tt" data-begin="262.25s" data-dur="1.00s">Be prepared. </span>
					<span class="wet-boew-tt" data-begin="263.25s" data-dur="1.00s">And be safe.</span>
				</p>

				<p class="wet-boew-vd"><strong><em>Text on screen</em>:</strong></p>

				<p class="wet-boew-vd"><a href="http://www.tc.gc.ca/eng/menu.htm" rel="external">www.tc.gc.ca</a></p>
				<p class="wet-boew-vd">(<em>Canada Wordmark</em>)</p>
			</details>
		</div>
	</section>

	<section>
		<h3 id="audio-only">Audio only</h3>
		<p>The MP3 format (H264 codec) is the minimum requirement for the player because the Flash fallback relies on it and MP3 is a widely supported format on many mobile devices. An optional but highly recommended format, OGG Vorbis, should be added as well to allow some browsers such as Firefox that do not include native support for MP3 to leverage the HTML5 native performance gains.</p>
		<section class="row">
			<div class="wb-multimedia col-md-6">
				<h4>Example (Ride of the Valkyries)</h4>
				<audio title="Audio Example (Ride of the Valkyries)">
					<source src="http://www.archive.org/download/RideOfTheValkyries/ride_of_the_valkyries_2.mp3" type="audio/mp3" />
					<source src="http://www.archive.org/download/RideOfTheValkyries/ride_of_the_valkyries_2.ogg" type="audio/ogg" />
				</audio>
			</div>
		</section>
	</section>
</section>
