---
title: Lecteur multimédia
language: fr
---
<section>
	<h2>Exemples</h2>
	<p lang="en">The first two video examples and the audio only example use native HTML5 video or audio on most modern browsers including Firefox 6+, Google Chrome 3+ and IE9. The third video example works natively in some browsers but relies on the Flash fallback for Firefox. For all examples, the Flash fallback is used for IE 7 and 8 as well as older versions of Firefox.</p>
	<section class="wb-multimedia">	
		<h3>Sources MPEG4 (H264 + AAC) et WebM(VP8) avec les sous-titres en HTML</h3>
		<video width="480" height="270" poster="http://31591.vws.magma.ca/sct-tbs/wet-boew/thumbnail.png" title="Video Example">
			<source src="http://31591.vws.magma.ca/sct-tbs/wet-boew/demo-fra.webm" type="video/webm" />
			<source src="http://31591.vws.magma.ca/sct-tbs/wet-boew/demo-fra.mp4" type="video/mp4" />
			<track src="mediaplayer-transcript_captions-fr.html" kind="captions" data-type="text/html" srclang="fr" label="Français" />
		</video>
		<p><a href="mediaplayer-transcript_captions-fr.html">Transcription</a></p>
	</section>
	<section class="wb-multimedia">
		<h3>Sources MPEG4 (H264 + AAC) et WebM(VP8) avec les sous-titres TTML</h3>
		<video width="480" height="270" poster="http://31591.vws.magma.ca/sct-tbs/wet-boew/thumbnail.png" title="Video Example">
			<source src="http://31591.vws.magma.ca/sct-tbs/wet-boew/demo-2-fra.webm" type="video/webm" />
			<source src="http://31591.vws.magma.ca/sct-tbs/wet-boew/demo-2-fra.mp4" type="video/mp4" />
			<track src="captions-fr.xml" kind="captions" data-type="application/ttml+xml" srclang="fr" label="Français" />
		</video>
		<p><a href="mediaplayer-transcript_captions-fr.html">Transcription</a></p>
	</section>

	<section class="wb-multimedia">
		<h3>MPEG4 H264 + AAC) et WebM(VP8) sources avec sous-tires en ligne en HTML</h3>
		<p lang="en">This example illustrates the use of an inline transcript to provide captions. This example can also demonstrate the fallback mechanism in Web browsers that don't support HTML5 videos.</p>
		<video width="480" height="270" poster="http://31591.vws.magma.ca/sct-tbs/wet-boew/thumbnail.png" title="Video Example">
	    <source src="http://31591.vws.magma.ca/sct-tbs/wet-boew/demo-3-fra.mp4" type="video/mp4" />
			<track src="#inline-captions" kind="captions" data-type="text/html" srclang="fr" label="Français" />
		</video>
		<details id="inline-captions">
			<summary>Lignes directrices pour les passagers de petits avions - Transcription et Sous-Titres HTML5</summary>
			<p class="wet-boew-vd">(<em>Notre ANIMATEUR est debout au premier plan, et il y a un petit avion derrière lui. Pendant toute la durée de la vidéo, il s'adresse directement à la caméra</em>.)</p>

			<p>
				<span class="wet-boew-tt" data-begin="9.75s" data-dur="1.50s">Pour la plupart d'entre nous,</span>
				<span class="wet-boew-tt" data-begin="11.25s" data-dur="1.75s">quand nous pensons à un aéroport, </span>
				<span class="wet-boew-tt" data-begin="13.00s" data-dur="2.00s">nous pensons à une grande aérogare </span>
				<span class="wet-boew-tt" data-begin="15.00s" data-dur="2.50s">où circulent chaque jour des milliers de passagers. </span>
				<span class="wet-boew-tt" data-begin="17.50s" data-dur="2.75s">Mais c'est pas la seule façon de prendre l'avion. </span>
				<span class="wet-boew-tt" data-begin="20.25s" data-dur="1.50s">Les plus petits aéronefs, </span>
				<span class="wet-boew-tt" data-begin="21.75s" data-dur="1.25s">comme les bimoteurs légers, </span>
				<span class="wet-boew-tt" data-begin="23.00s" data-dur="1.25s">les jets d'affaires, </span>
				<span class="wet-boew-tt" data-begin="24.25s" data-dur="1.75s">les hydravions et les hélicoptères </span>
				<span class="wet-boew-tt" data-begin="26.00s" data-dur="3.25s">décollent tous de bandes d'atterrissage comme celle-ci.</span>
			</p>

			<p class="wet-boew-vd"><em>(Pendant qu'il parle, prise de vue d'un petit avion léger qui roule sur une bande d'atterrissage, il y a une forêt en arrière-plan. Prise de vue d'un hélicoptère qui s'apprête à atterrir sur une autre bande d'atterrissage. Et prise de vue d'un avion qui vient de décoller pendant qu'un bimoteur léger roule sur la bande d'atterrissage juste en dessous.)</em></p>

			<p>
				<span class="wet-boew-tt" data-begin="29.25s" data-dur="2.00s">Ou celle-ci.</span>
			</p>

			<p class="wet-boew-vd">(<em>Plan sur un hydravion amarré le long d'un quai</em>.)</p>

			<p>
				<span class="wet-boew-tt" data-begin="32.00s" data-dur="1.75s">Comme dans tout aéroport, </span>
				<span class="wet-boew-tt" data-begin="33.75s" data-dur="1.50s">vous y verrez des équipages, </span>
				<span class="wet-boew-tt" data-begin="35.25s" data-dur="1.50s">des préposés aux bagages, </span>
				<span class="wet-boew-tt" data-begin="36.75s" data-dur="1.75s">des camions d'avitaillement </span>
				<span class="wet-boew-tt" data-begin="38.50s" data-dur="2.25s">et des avions qui circulent. </span>
				<span class="wet-boew-tt" data-begin="41.00s" data-dur="3.00s">Cependant, vous n'y verrez peut-être pas d'agents de bord. </span>
				<span class="wet-boew-tt" data-begin="44.00s" data-dur="2.00s">Cela veut dire qu'en matière de sécurité, </span>
				<span class="wet-boew-tt" data-begin="46.00s" data-dur="2.00s">vous êtes responsable.</span>
			</p>

			<p>
				<span class="wet-boew-tt" data-begin="48.50s" data-dur="1.90s">D'abord, vous devez vous rendre du point A,</span>
				<span class="wet-boew-tt" data-begin="50.40s" data-dur="1.10s">l'aérogare,</span>
				<span class="wet-boew-tt" data-begin="51.50s" data-dur="1.00s">au point B, </span>
				<span class="wet-boew-tt" data-begin="52.50s" data-dur="1.00s">l'aéronef.</span>
				<span class="wet-boew-tt" data-begin="53.50s" data-dur="1.50s">Quand il n'y a pas de passerelle couverte </span>
				<span class="wet-boew-tt" data-begin="55.00s" data-dur="1.25s">qui vous protège, </span>
				<span class="wet-boew-tt" data-begin="56.25s" data-dur="2.50s">il y a quelques petites choses à garder à l'esprit.</span>
			</p>
			
			<p class="wet-boew-vd">(<em>Quelques personnes qui portent leur bagage de cabine attendent à une sortie de l'aérogare menant à la bande d'atterrissage. Une jeune femme les amène à un petit avion</em>.)</p>
			
			<p>
				<span class="wet-boew-tt" data-begin="59.00s" data-dur="3.25s">La ligne droite n'est pas toujours le chemin le plus sûr.</span>
				<span class="wet-boew-tt" data-begin="63.25s" data-dur="2.00s">Il faut toujours suivre les indications </span>
				<span class="wet-boew-tt" data-begin="65.25s" data-dur="2.00s">qui vous ont été données par l'équipage </span>
				<span class="wet-boew-tt" data-begin="67.25s" data-dur="1.25s">et, s'il y en a une,</span>
				<span class="wet-boew-tt" data-begin="68.50s" data-dur="2.25s">suivre la voie piétonne délimitée. </span>
				<span class="wet-boew-tt" data-begin="70.75s" data-dur="2.75s">Ainsi, vous serez vu par les pilotes des avions en mouvement </span>
				<span class="wet-boew-tt" data-begin="73.50s" data-dur="2.50s">et vous serez en dehors du chemin d'éléments dangereux </span>
				<span class="wet-boew-tt" data-begin="76.00s" data-dur="2.00s">comme les hélices ou les ailes.</span>
			</p>
			<p>
				<span class="wet-boew-tt" data-begin="78.25s" data-dur="2.50s">Assurez-vous de bien tenir vos effets personnels </span>
				<span class="wet-boew-tt" data-begin="80.75s" data-dur="1.00s">en tout temps. </span>
				<span class="wet-boew-tt" data-begin="81.75s" data-dur="2.75s">En effet, même quelque chose d'aussi petit qu'un chapeau </span>
				<span class="wet-boew-tt" data-begin="84.50s" data-dur="2.25s">pourrait occasionner des dommages considérables </span>
				<span class="wet-boew-tt" data-begin="86.75s" data-dur="2.00s">si le vent l'emporte dans des hélices.</span>
			</p>
			
			<p class="wet-boew-vd">(<em>Gros plan sur un fichu qu'une dame retire pour le mettre dans son sac à main</em>.)</p>
			
			<p>
				<span class="wet-boew-tt" data-begin="89.00s" data-dur="3.00s">Il est important de ne jamais fumer près d'un aéronef </span>
				<span class="wet-boew-tt" data-begin="92.00s" data-dur="2.00s">ou d'une station d'avitaillement, </span>
				<span class="wet-boew-tt" data-begin="94.00s" data-dur="2.25s">car le carburant est extrêmement inflammable </span>
				<span class="wet-boew-tt" data-begin="96.25s" data-dur="2.25s">et peut s'enflammer instantanément.</span>
			</p>
			<p>
				<span class="wet-boew-tt" data-begin="99.75s" data-dur="0.75s">Avant tout</span>
				<span class="wet-boew-tt" data-begin="100.50s" data-dur="2.00s">Soyez conscient de ce qu'il y a autour de vous </span>
				<span class="wet-boew-tt" data-begin="102.50s" data-dur="1.00s">en tout temps. </span>
				<span class="wet-boew-tt" data-begin="103.75s" data-dur="2.50s">Cela veut dire que vous ne devriez pas écouter de musique </span>
				<span class="wet-boew-tt" data-begin="106.25s" data-dur="1.50s">ou vous servir de votre téléphone </span>
				<span class="wet-boew-tt" data-begin="107.75s" data-dur="2.25s">pendant que vous marchez sur la bande d'atterrissage </span>
				<span class="wet-boew-tt" data-begin="110.00s" data-dur="2.00s">ou que vous montez à bord de l'avion. </span>
				<span class="wet-boew-tt" data-begin="112.00s" data-dur="1.50s">Cela signifie également </span>
				<span class="wet-boew-tt" data-begin="113.50s" data-dur="2.00s">qu'il faut faire attention aux hélices, </span>
				<span class="wet-boew-tt" data-begin="115.50s" data-dur="1.25s">aux pales de rotor, </span>
				<span class="wet-boew-tt" data-begin="116.75s" data-dur="1.75s">aux systèmes d'échappement et d'entrée d'air, </span>
				<span class="wet-boew-tt" data-begin="118.50s" data-dur="2.25s">qui peuvent causer des blessures graves.</span>
			</p>
			
			<p>
				<span class="wet-boew-tt" data-begin="121.25s" data-dur="2.00s">Il y a différentes procédures d'embarquement </span>
				<span class="wet-boew-tt" data-begin="123.25s" data-dur="2.00s">selon les différents types d'aéronefs. </span>
				<span class="wet-boew-tt" data-begin="126.25s" data-dur="2.00s">Assurez-vous de connaître à l'avance </span>
				<span class="wet-boew-tt" data-begin="128.25s" data-dur="2.25s">la façon de vous diriger vers votre aéronef </span>
				<span class="wet-boew-tt" data-begin="130.50s" data-dur="1.75s">et de vous en éloigner. </span>
				<span class="wet-boew-tt" data-begin="132.25s" data-dur="2.50s">C'est particulièrement important pour les hélicoptères </span>
				<span class="wet-boew-tt" data-begin="134.75s" data-dur="1.75s">et les hydravions à flotteurs. </span>
				<span class="wet-boew-tt" data-begin="136.50s" data-dur="1.50s">Pour les hélicoptères par exemple, </span>
				<span class="wet-boew-tt" data-begin="138.00s" data-dur="1.75s">vous devriez toujours vous en approcher </span>
				<span class="wet-boew-tt" data-begin="139.75s" data-dur="1.25s">en venant de l'avant.</span>
			</p>
			
			<p class="wet-boew-vd">(<em>Deux personnes s'approchent d'un hélicoptère en venant de l'avant et commencent à embarquer</em>.)</p>
			
			<p>
				<span class="wet-boew-tt" data-begin="141.50s" data-dur="2.00s">Bien sûr, faire attention à la sécurité </span>
				<span class="wet-boew-tt" data-begin="143.50s" data-dur="2.50s">ne s'arrête pas une fois que vous êtes dans l'avion. </span>
				<span class="wet-boew-tt" data-begin="146.00s" data-dur="1.25s">Comme il n'y a pas d'agents de bord,</span>
				<span class="wet-boew-tt" data-begin="147.25s" data-dur="2.50s">c'est à vous de comprendre ce qui se rapporte à l'aéronef </span>
				<span class="wet-boew-tt" data-begin="149.75s" data-dur="1.25s">dans lequel vous volez.</span>
			</p>
			
			<p>
				<span class="wet-boew-tt" data-begin="152.00s" data-dur="1.50s">Les instructions du pilote </span>
				<span class="wet-boew-tt" data-begin="153.50s" data-dur="2.75s">vous fourniront une partie de ce qu'il y a à comprendre. </span>
				<span class="wet-boew-tt" data-begin="157.00s" data-dur="1.75s">Votre pilote a de l'expérience </span>
				<span class="wet-boew-tt" data-begin="158.75s" data-dur="1.50s">et il est bien formé. </span>
				<span class="wet-boew-tt" data-begin="160.25s" data-dur="2.00s">Écoutez attentivement ce qu'il a à dire </span>
				<span class="wet-boew-tt" data-begin="162.00s" data-dur="2.00s">et suivez toutes ses instructions. </span>
				<span class="wet-boew-tt" data-begin="164.00s" data-dur="3.25s">Si à tout moment, il vous semble qu'il manque de l'information </span>
				<span class="wet-boew-tt" data-begin="167.25s" data-dur="1.75s">ou que quelque chose n'est pas clair, </span>
				<span class="wet-boew-tt" data-begin="169.00s" data-dur="2.50s">n'hésitez pas à poser des questions.</span>
			</p>
			
			<p>
				<span class="wet-boew-tt" data-begin="172.00s" data-dur="1.75s">Ces instructions seront différentes </span>
				<span class="wet-boew-tt" data-begin="173.75s" data-dur="2.25s">selon le type d'avion que vous prenez, </span>
				<span class="wet-boew-tt" data-begin="176.00s" data-dur="1.50s">mais elles devraient traiter :</span>
			</p>
			
			<ul>
				<li>
					<span class="wet-boew-tt" data-begin="177.50s" data-dur="2.50s">de la façon de ranger votre bagage de cabine </span>
					<span class="wet-boew-tt" data-begin="179.50s" data-dur="1.25s">en toute sécurité, </span>
					<span class="wet-boew-tt" data-begin="180.75s" data-dur="1.75s">s'il y a de la place dans la cabine;</span>
				</li>
				<li>
					<span class="wet-boew-tt" data-begin="182.50s" data-dur="3.00s">de la façon d'utiliser votre ceinture de sécurité;</span>
				</li>
				<li>
					<span class="wet-boew-tt" data-begin="185.50s" data-dur="2.00s">de la façon de manipuler la porte </span>
					<span class="wet-boew-tt" data-begin="187.50s" data-dur="2.00s">en cas d'atterrissage d'urgence;</span>
				</li>
				<li>
					<span class="wet-boew-tt" data-begin="189.50s" data-dur="2.00s">et de l'endroit où trouver des extincteurs, </span>
					<span class="wet-boew-tt" data-begin="191.50s" data-dur="1.50s">des trousses de premiers soins, </span>
					<span class="wet-boew-tt" data-begin="193.00s" data-dur="1.50s">des masques à oxygène </span>
					<span class="wet-boew-tt" data-begin="194.50s" data-dur="1.50s">et des gilets de sauvetage.</span>
				</li>
			</ul>
			
			<p>
				<span class="wet-boew-tt" data-begin="197.00s" data-dur="1.50s">Les instructions devraient aussi comprendre </span>
				<span class="wet-boew-tt" data-begin="198.50s" data-dur="3.50s">de l'information sur la radiobalise de repérage d'urgence, </span>
				<span class="wet-boew-tt" data-begin="202.00s" data-dur="1.50s">ou ELT. </span>
				<span class="wet-boew-tt" data-begin="203.50s" data-dur="1.25s">Elle émet un signal radio </span>
				<span class="wet-boew-tt" data-begin="204.75s" data-dur="2.00s">qui permet aux secouristes de trouver l'avion </span>
				<span class="wet-boew-tt" data-begin="206.75s" data-dur="1.75s">en cas d'atterrissage d'urgence.</span>
			</p>
			
			<p class="wet-boew-vd">(<em>Plan rapproché de l'<abbr title="radiobalise de repérage d'urgence">ELT</abbr> sur un avion</em>.)</p>
			
			<p>
				<span class="wet-boew-tt" data-begin="209.50s" data-dur="3.00s">Ne soyez pas effrayé par tous ces éléments de sécurité. </span>
				<span class="wet-boew-tt" data-begin="212.50s" data-dur="2.00s">Le Canada possède un excellent dossier </span>
				<span class="wet-boew-tt" data-begin="214.50s" data-dur="2.00s">en matière de sécurité aérienne. </span>
				<span class="wet-boew-tt" data-begin="217.50s" data-dur="1.00s">La meilleure protection </span>
				<span class="wet-boew-tt" data-begin="218.50s" data-dur="2.00s">reste tout de même de bien se préparer.</span>
			</p>
			
			<p>
				<span class="wet-boew-tt" data-begin="220.50s" data-dur="2.25s">C'est pourquoi il y a dans tous les aéronefs </span>
				<span class="wet-boew-tt" data-begin="222.75s" data-dur="2.00s">une carte des mesures de sécurité, </span>
				<span class="wet-boew-tt" data-begin="224.75s" data-dur="1.25s">comme celle-ci. </span>
				<span class="wet-boew-tt" data-begin="226.00s" data-dur="3.00s">Elle doit comprendre tous les renseignements fournis par le pilote </span>
				<span class="wet-boew-tt" data-begin="229.00s" data-dur="2.00s">lorsqu'il a donné ses instructions </span>
				<span class="wet-boew-tt" data-begin="231.00s" data-dur="2.00s">ainsi que des détails supplémentaires </span>
				<span class="wet-boew-tt" data-begin="233.00s" data-dur="2.00s">sur les procédures de sécurité dans l'avion. </span>
				<span class="wet-boew-tt" data-begin="235.00s" data-dur="3.25s">Assurez-vous de la parcourir avant le décollage.</span>
			</p>
			
			<p class="wet-boew-vd">(<em>Pendant que notre ANIMATEUR mentionne la carte des mesures de sécurité, un des passagers la prend de la pochette du siège devant lui et la montre à la caméra</em>.)</p>
			
			<p>
				<span class="wet-boew-tt" data-begin="238.50s" data-dur="2.00s">Une fois que l'aéronef a décollé, </span>
				<span class="wet-boew-tt" data-begin="240.50s" data-dur="2.50s">vous avez encore un rôle important à jouer.</span>
			</p>
			<p>
				<span class="wet-boew-tt" data-begin="243.00s" data-dur="2.00s">Premièrement, assurez-vous de savoir</span>
				<span class="wet-boew-tt" data-begin="245.00s" data-dur="2.75s">comment attacher votre ceinture de sécurité rapidement </span>
				<span class="wet-boew-tt" data-begin="247.75s" data-dur="2.25s">à n'importe quel moment au cours du voyage, soit</span>:
			</p>
			
			<ul>
				<li>
					<span class="wet-boew-tt" data-begin="250.00s" data-dur="2.00s">pendant le décollage,</span>
				</li>
				<li>
					<span class="wet-boew-tt" data-begin="252.00s" data-dur="2.25s">en plein vol si le pilote allume le signal </span>
					<span class="wet-boew-tt" data-begin="254.25s" data-dur="1.75s">de boucler la ceinture de sécurité </span>
					<span class="wet-boew-tt" data-begin="256.00s" data-dur="2.25s">ou s'il vous le dit directement,</span>
				</li>
				<li>
					<span class="wet-boew-tt" data-begin="258.25s" data-dur="2.50s">et avant d'amorcer l'atterrissage.</span>
				</li>
			</ul>
			
			<p>
				<span class="wet-boew-tt" data-begin="260.75s" data-dur="3.00s">Deuxièmement, veillez à ce que tous les bagages de cabine </span>
				<span class="wet-boew-tt" data-begin="263.75s" data-dur="1.25s">soient bien rangés, </span>
				<span class="wet-boew-tt" data-begin="265.00s" data-dur="2.00s">que les objets mobiles soient attachés ou rangés </span>
				<span class="wet-boew-tt" data-begin="267.00s" data-dur="3.00s">et qu'il n'y ait pas d'encombrement dans la cabine. </span>
				<span class="wet-boew-tt" data-begin="270.00s" data-dur="2.00s">Cela facilitera une évacuation d'urgence, </span>
				<span class="wet-boew-tt" data-begin="272.00s" data-dur="2.00s">si cela devait arriver.</span>
			</p>
			<p>
				<span class="wet-boew-tt" data-begin="274.50s" data-dur="2.25s">Troisièmement, ne dérangez pas le pilote. </span>
				<span class="wet-boew-tt" data-begin="276.75s" data-dur="2.50s">Ça ne veut pas dire que vous ne pouvez jamais lui parler. </span>
				<span class="wet-boew-tt" data-begin="279.25s" data-dur="2.75s">En fait, si vous remarquez quelque chose d'anormal </span>
				<span class="wet-boew-tt" data-begin="282.00s" data-dur="1.00s">ou de différent, </span>
				<span class="wet-boew-tt" data-begin="283.00s" data-dur="2.00s">n'hésitez surtout pas à le lui dire.</span>
			</p>
			<p>
				<span class="wet-boew-tt" data-begin="285.50s" data-dur="4.25s">Finalement, ne perturbez pas le fonctionnement de l'aéronef. </span>
				<span class="wet-boew-tt" data-begin="288.75s" data-dur="2.25s">Cela signifie de ne pas toucher les commandes, </span>
				<span class="wet-boew-tt" data-begin="291.00s" data-dur="1.50s">les boutons et les indicateurs </span>
				<span class="wet-boew-tt" data-begin="292.50s" data-dur="2.00s">et d'attendre la permission du pilote </span>
				<span class="wet-boew-tt" data-begin="294.50s" data-dur="1.50s">avant d'ouvrir toute fenêtre </span>
				<span class="wet-boew-tt" data-begin="296.00s" data-dur="1.50s">ou toute porte.</span>
			</p>
			<p>
				<span class="wet-boew-tt" data-begin="298.00s" data-dur="1.50s">De plus, certains appareils </span>
				<span class="wet-boew-tt" data-begin="299.50s" data-dur="3.00s">peuvent produire des interférences avec les systèmes de l'avion. </span>
				<span class="wet-boew-tt" data-begin="302.50s" data-dur="2.25s">Aussi est-il important de toujours demander au pilote, </span>
				<span class="wet-boew-tt" data-begin="304.75s" data-dur="1.25s">avant de décoller, </span>
				<span class="wet-boew-tt" data-begin="306.00s" data-dur="1.50s">quels appareils électroniques</span>
				<span class="wet-boew-tt" data-begin="307.50s" data-dur="1.50s">vous pouvez utiliser. </span>
				<span class="wet-boew-tt" data-begin="309.00s" data-dur="2.00s">Si vous avez un doute sur votre appareil, </span>
				<span class="wet-boew-tt" data-begin="311.00s" data-dur="1.50s">ne l'utilisez pas.</span>
			</p>
			
			<p>(<em>Un passager tient son téléphone intelligent et le met dans sa poche</em>.)</p>
			
			<p>
				<span class="wet-boew-tt" data-begin="313.00s" data-dur="3.50s">Souvenez-vous que le confort et la sécurité dans les airs </span>
				<span class="wet-boew-tt" data-begin="316.50s" data-dur="3.00s">sont le résultat d'une entente entre vous et le pilote. </span>
				<span class="wet-boew-tt" data-begin="319.50s" data-dur="2.75s">Gardez les conseils que je vous ai donnés à l'esprit, </span>
				<span class="wet-boew-tt" data-begin="322.25s" data-dur="2.50s">et vous serez assuré d'avoir un voyage agréable, </span>
				<span class="wet-boew-tt" data-begin="324.75s" data-dur="1.75s">en toute sécurité.</span>
				<span class="wet-boew-tt" data-begin="327.25s" data-dur="1.50s">Informez-vous. </span>
				<span class="wet-boew-tt" data-begin="328.75s" data-dur="1.25s">Préparez-vous. </span>
				<span class="wet-boew-tt" data-begin="330.00s" data-dur="1.50s">Et soyez prudent.</span>
			</p>
			
			<p class="wet-boew-vd"><em><strong>Texte à l'écran</strong></em> <strong>:</strong></p>
			<p class="wet-boew-vd"><a href="http://www.tc.gc.ca/fra/menu.htm" rel="external">www.tc.gc.ca</a></p>
			<p class="wet-boew-vd">(<em>Mot-symbole Canada</em>)</p>
		</details>
	</section>

	<section>
		<h3 id="audio-only">Audio seulement</h3>
		<p lang="en">The MP3 format (H264 codec) is the minimum requirement for the player because the Flash fallback relies on it and MP3 is a widely supported format on many mobile devices. An optional but highly recommended format, OGG Vorbis, should be added as well to allow some browsers such as Firefox that do not include native support for MP3 to leverage the HTML5 native performance gains.</p>
		<section class="wb-multimedia">
			<h4>Exemple (Chevauchée des Walkyries)</h4>
			<audio title="Exemple audio (Chevauchée des Walkyries)">
				<source src="http://www.archive.org/download/RideOfTheValkyries/ride_of_the_valkyries_2.mp3" type="audio/mp3" />
				<source src="http://www.archive.org/download/RideOfTheValkyries/ride_of_the_valkyries_2.ogg" type="audio/ogg" />
			</audio>
		</section>
	</section>
</section>