@charset "utf-8";
/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt
 */
/* ---- IE7 fixes ---- */
.ie7 input[type=submit] {
  border-color: #c8c8c8 !important;
}
.ie7 label {
  display: inline-block;
}
.ie7 .module-billboard a {
  background-image: none !important;
}
.ie7 .date-month {
  min-width: 80px;
}
.ie7 .date-month p {
  padding-top: 3px;
  padding-bottom: 3px;
}
.ie7 .date-day {
  min-width: 78px;
  width: auto;
}
