@charset "utf-8";
/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt
 */
/* ---- IE8 fixes ---- */
.ie8 .module-alert, .ie8 .module-attention, .ie8 .module-note, .ie8 .module-info, .ie8 .module-question, .ie8 .module-answer, .ie8 .module-tool, .ie8 .module-inprogress, .ie8 .module-refer, .ie8 .module-summary, .ie8 .module-archive {
  border: none;
}
.ie8 .module-billboard a {
  background-image: none !important;
}
.ie8 .date-month {
  min-width: 80px;
}
.ie8 .date-month p {
  padding-top: 3px;
  padding-bottom: 3px;
}
.ie8 .date-day {
  min-width: 78px;
  width: auto;
}
