---
{
	"title": "Facebook embedded pages (TODO FR)",
	"language": "fr",
	"category": "Plugiciels",
	"description": "Helps with implementing Facebook embedded pages.",
	"tag": "facebook",
	"parentdir": "facebook",
	"altLangPrefix": "facebook",
	"dateModified": "2015-08-03"
}
---
<span class="wb-prettify all-pre hide"></span>

<section>
	<h2>Purpose</h2>
	<p>Helps with implementing Facebook embedded pages.</p>
</section>

<section>
	<h2>Example</h2>

	<div class="wb-facebook">
		<div class="fb-page" data-href="https://www.facebook.com/ParcsCanada" data-small-header="true" data-hide-cover="false" data-show-facepile="false" data-show-posts="true">
			<div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/ParcsCanada"><a href="https://www.facebook.com/ParcsCanada">Parcs Canada Facebook</a></blockquote></div>
		</div>
	</div>

	<section>
		<h3>Code</h3>
		<pre><code>&lt;div class=&quot;wb-facebook&quot;&gt;
		&lt;div class=&quot;fb-page&quot; data-href=&quot;https://www.facebook.com/ParcsCanada&quot; data-small-header=&quot;true&quot; data-hide-cover=&quot;false&quot; data-show-facepile=&quot;false&quot; data-show-posts=&quot;true&quot;&gt;
			&lt;div class=&quot;fb-xfbml-parse-ignore&quot;&gt;&lt;blockquote cite=&quot;https://www.facebook.com/ParcsCanada&quot;&gt;&lt;a href=&quot;https://www.facebook.com/ParcsCanada&quot;&gt;Parcs Canada Facebook&lt;/a&gt;&lt;/blockquote&gt;&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;</code></pre>
	</section>

	<p><a href="https://developers.facebook.com/docs/plugins/page-plugin#Settings">Facebook Embedded Pages configuration options</a></p>
</section>
