.pln
{
	color: #000;
}
@media screen
{
	.str
	{
		color: #3F7D3F;
	}
	.kwd
	{
		color: #226B8E; /*from 008*/
	}
	.com
	{
		color: #800;
	}
	.typ
	{
		color: #606;
	}
	.lit
	{
		color: #066;
	}
	.pun,.opn,.clo
	{
		color: #660;
	}
	.tag
	{
		color: #226B8E;
	}
	.atn
	{
		color: #606; /*from 606*/
	}
	.atv
	{
		color: #3F7D3F; /*from 3F7D3F*/
	}
	.dec,.var
	{
		color: #606;
	}
	.fun
	{
		color: red;
	}
}
@media print,projection
{
	.str
	{
		color: #060;
	}
	.kwd
	{
		color: #006;
		font-weight: bold;
	}
	.com
	{
		color: #600;
		font-style: italic;
	}
	.typ
	{
		color: #404;
		font-weight: bold;
	}
	.lit
	{
		color: #044;
	}
	.pun,.opn,.clo
	{
		color: #440;
	}
	.tag
	{
		color: #006;
		font-weight: bold;
	}
	.atn
	{
		color: #404;
	}
	.atv
	{
		color: #060;
	}
}
pre.prettyprint
{
	background-color: #f5f5f5;
	border: 1px solid #ddd;
	border-radius: 3px;
	box-shadow: 40px 0 0 #FBFBFC inset, 41px 0 0 #eee inset;
	color: #707070;
	font-size: 95%;
	padding: 8px;
}
ol.linenums
{
	margin: 0 0 0 32px !important;
}
ol.linenums li {
	padding-left: 10px;
	text-shadow: 0 1px 0 #fff;
}