/*
	Web Experience Toolkit (WET) / Boîte à outils de l\'expérience Web (BOEW) 
	@theme : generic
	@author : World Wide Web
	@notes: A basic theme for WET-BOEW
	@licence: wet-boew.github.io/wet-boew/License-eng.txt / wet-boew.github.io/wet-boew/Licence-fra.txt
*/
