/*
  WET-BOEW
  @title: Accessibility Additions to WET-BOEW
 */

%accessible-invisible {
	height: 1px !important;
	width: 1px !important;
	clip: rect(1px, 1px, 1px, 1px);
	overflow: hidden !important;
	position: absolute;
	margin: 0 !important;
}

%accessible-invisible-show {
	height: inherit !important;
	width: inherit !important;
	clip: rect(auto, auto, auto, auto);
	overflow: inherit !important;
	position: static;
	margin: inherit !important;
}

.wb-skip-link, .wb-invisible, .wb-mnavbar a, .wb-srch label, a + .wb-st-nav h2, .wb-srch h2, .wb-sttng h2, .wb-org-nav .wb-ft h3 {
	@extend %accessible-invisible;
}

.wb-skip-link:focus, .wb-mnavbar a:focus {
	@extend %accessible-invisible-show;
}