/*
  WET-BOEW
  @title: Accessibility Additions to WET-BOEW
 */

%accessible-invisible {
	height: 1px !important;
	width: 1px !important;
	clip: rect(1px, 1px, 1px, 1px);
	overflow: hidden !important;
	position: absolute;
	margin: 0 !important;
}

%accessible-invisible-show {
	background-color: #000;
	color: #FFF;
	text-decoration: none;
	clip: rect(auto, auto, auto, auto);
	height: inherit !important;
	overflow: inherit !important;
	position: static;
	width: inherit !important;
	z-index: 501;
	margin: inherit !important;
}