/*
  WET-BOEW
  @title: Accessibility Additions to WET-BOEW
 */

%accessible-invisible {
	height: 1px !important;
	width: 1px !important;
	clip: rect(1px, 1px, 1px, 1px);
	overflow: hidden !important;
	position: absolute;
	margin: 0 !important;
}

%accessible-invisible-show {
	background-color: #000;
	color: #FFF;
	text-decoration: none;
	clip: rect(auto, auto, auto, auto);
	height: inherit !important;
	overflow: inherit !important;
	position: static;
	width: inherit !important;
	z-index: 501;
	margin: inherit !important;
}


#wb-skip {
		float: left;
		height: 0;
		ul {
			list-style-type: none;
			margin-top: -1.8em;
		}
		li {
			left: 0;
			position: absolute;
			text-align: center;
			top: 10px;
			width: 100%;
			z-index: 3;
		}
		a {
			background-color: transparent;
			color: #FFF;
			font-weight: 700;
			&:link, &:visited {
				  background-color: transparent;
				  color: #FFF;
				  font-weight: 700;
			}
			padding: 5px;
	  }
}


.wb-invisible, .wb-mnavbar a, .wb-srch label, a + .wb-st-nav h2, .wb-srch h2, .wb-sttng h2, .wb-org-nav .wb-ft h3, #wb-skip a, #wb-skip a:link, #wb-skip a:visited {
	@extend %accessible-invisible;
}

#wb-skip a:focus, .wb-mnavbar a:focus {
	@extend %accessible-invisible-show;
}

