/*
  WET-BOEW
  @title: Form additions to WET-BOEW
 */
$asterisk-width: 0.665em;
%forms-color-red {
	color: #d3080c;
}
label, legend {
	&.required {
		&:before {
			@extend %forms-color-red;
			content: "* ";
			margin-left: -$asterisk-width;
		}
		strong {
			&.required {
				@extend %forms-color-red;	
			}
		}
	}
}

[dir=rtl] {
	label, legend {
		&.required {
			&:before {
				margin-left: auto;
				margin-right: -$asterisk-width;
			}
		}
	}
}
