/*
  WET-BOEW
  @title: Language selector
 */

//	Sourced from http://css-tricks.com/snippets/css/clear-fix/
%clear-fix {
	content: "";
	display: table;
	clear: both;
}

//	Horizontal language selector
.wb-lang-links-horiz {
	.wb-lang-link {
		display: inline-block;
	}
}

//	Vertical language selector
.wb-lang-links-vert {
	.wb-lang-link {
		display: block;
	}
}

//	Right-to-left horizontal language selector
.wb-lang-links-rtl {
	.wb-lang-link {
		float: right;
	}
}

.wb-lang-links-rtl:after {
	@extend %clear-fix;
}

#wb-lang {
	h2 {
		@extend %accessible-invisible;
	}
}