/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 */
table, th, td {
	border: 1px solid black;
}
progress {
	width: 10em;
}
.progress {
	margin-bottom: 0px;
}
