/* ================================================================== */
/* Additions to default viewport */
/* ================================================================== */

/* ================================================================== */
/* Centering */
/* ================================================================== */
.centered { margin-left: auto; margin-right: auto; }

/* ================================================================== */
/* Lists */
/* ================================================================== */



[class*="list-grid-"] {  width: auto; }

@for $i from 1 through 12 {
		$num : percentage(1/$i);
		.list-grid-medium-#{$i} > li { width: $num; }
}

// Spacial end node grid clearing
$listclend: ();
$listclother: ();
@for $i from 1 through 12 {
	 $listclend: join($listclend, unquote(".list-grid-medium-#{$i} > li:nth-of-type(n)"), comma);
	 $listclother: join($listclother, unquote(".list-grid-medium-#{$i} > li:nth-of-type(#{$i}n+1)"), comma);
}
#{$listclend} { clear: none }
#{$listclother} { clear: both } 