---
{
	"title": "Postback - Error Page",
	"language": "en",
	"description": "Example of a failure page for the wb-postback plugin.",
	"tag": "wb-postback",
	"parentdir": "wb-postback",
	"altLangPrefix": "failure",
	"dateModified": "2026-01-08"
}
---
<p>Something went wrong. Please submit your information via an alternative method.</p>
