---
{
	"title": "Postback - Page d'échec",
	"language": "fr",
	"description": "Exemple d'une page d'échec pour le plugin wb-postback.",
	"tag": "wb-postback",
	"parentdir": "wb-postback",
	"altLangPrefix": "failure",
	"dateModified": "2026-01-08"
}
---
<p>Nous somme désolé, un problème est survenu lors de la soumission de votre formulaire. Veuillez nous envoyer l'information via une méthode alternative.</p>
