---
{
	"title": "Postback - Page de succès",
	"language": "fr",
	"description": "Exemple d'une page de succès pour le plugin wb-postback.",
	"tag": "wb-postback",
	"parentdir": "wb-postback",
	"altLangPrefix": "success",
	"dateModified": "2026-01-08"
}
---
<p>Merci! Votre soumission a été réussie.</p>
