---
{
	"title": "Postback - Success Page",
	"language": "en",
	"description": "Example of a success page for the wb-postback plugin.",
	"tag": "wb-postback",
	"parentdir": "wb-postback",
	"altLangPrefix": "success",
	"dateModified": "2026-01-08"
}
---
<p>Thank you! Your submission was successful.</p>
