/*
	WET-BOEW Grid structure
*/


/*-----------------------------
	Fixed Width Container Block
 ------------------------------*/
.container {
	width: $width;
	margin: 0 auto;
}

/*-----------------------------
	Clearing Row markup
 ------------------------------*/
.row {
	width: 100%;
	overflow: hidden;
	*zoom: 1;
	margin: 0 auto;

	.row {
	  width: auto;
	  max-width: none;
	  margin-left: -$gutterWidth;
	  margin-right: -$gutterWidth;
	}

	&:before, .row:after{
	  content: " ";
	  display: table;
	}

	&:after, .row:after {
	  clear: both;
	  content: " ";
	  display: table;
	}
}

/*-----------------------------
	Basic grid set-up
 ------------------------------*/
[class*="span-"] {
  position: relative;
  padding: $gutterWidth/2 $gutterWidth;
  width: 100%;
  float: left;
  display: inline;
  
}

/*-----------------------------
	Column Loop for all the classes
 ------------------------------*/
@include create_grid($columns);

/*-----------------------------
	Human Readable Column loop
 ------------------------------*/
$i: 1;
@each $spn in full, half, third, fourth, fifth, sixth {
	$col: floor($columns/$i);
	@include create_column($spn, $col);
	$i: $i + 1;
}

/*-----------------------------
	Visually pleasing divisions
 ------------------------------*/
.span-golden-a {
	width: 61.803399%;
	_width: 61.803399% - 0.0694%; /* IE6-7 */
}

.span-golden-b {
	width: 38.196601%;
	_width: 38.196601% - 0.0694%; /* IE6-7 */
}

/*-----------------------------
	Helper Reflows
 ------------------------------*/
.span-reflow {
  width: auto;
  display: block;
  float: none;
}

.span-centered {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  float: none;
  display: inline;
}

// Full Bleeds for the grid system
.bleed-full {
	&.row > [class*='span-']:first-child {  padding-left: 0px;}
	&.row > [class*='span-']:last-child {  padding-right: 0px;}
	> .row > [class*='span-']:first-child {  padding-left: 0px;}
	> .row > [class*='span-']:last-child {  padding-right: 0px;}
	> [class*='span-']:first-child { padding-left: 0px; }
	> [class*='span-']:last-child { padding-right: 0px; }
}
.bleed-left {
	&.row > [class*='span-']:first-child {  padding-left: 0px;}
	> [class*='span-']:first-child { padding-left: 0px; }
	> .row > [class*='span-']:first-child { padding-left: 0px; }
}

.bleed-right {
	&.row > [class*='span-']:last-child {  padding-right: 0px;}
	> [class*='span-']:last-child { padding-right: 0px; }
	> .row > [class*='span-']:last-child { padding-right: 0px; }
}
