
/* Large Screen */


    .container { width: 1200px; }
    .row .row { margin-left: -15px; margin-right: -15px; }
    /* lets grow the padding in larger screens */
    [class*="span-"] { padding-left: 15px; padding-right: 15px; float: none; display: inline; }
    /* Check to see if this is correct */
    .bleed-full {
	[class*="pull-"]:last-child, > .row [class*="pull-"]:last-child { padding-right: 15px; }
	[class*="push-"]:first-child, > .row [class*="push-"]:first-child {padding-left: 15px; }
	}
