---
title: Footnotes
language: en
---
<section>
	<h2>Overview</h2>
	<p>The purpose of the Footnotes sub-project is to implement a consistent, accessible way of handling footnotes across Government of Canada web sites. The main concept behind this solution is to place footnotes in a definition list, within a dedicated section. An example of this can be found in the <a href="#fnb">Footnotes</a> section. Supporting CSS is used to lay out the footnotes and hide navigational aids<sup id="fnb1-ref"><a class="footnote-link" href="#fnb1"><span class="wb-invisible">Footnote </span>1</a></sup>.</p>
</section>

<section>
	<h2>Benefits</h2>
	<ul>
		<li>Conforms to WCAG 2.0 AA<sup id="fnb2a-ref"><a class="footnote-link" href="#fnb2"><span class="wb-invisible">Footnote </span>2</a></sup></li>
		<li>Progressive enhancement approach</li>
		<li>Support for Firefox, Opera, Safari, Chrome, and IE 7+<sup id="fnb2b-ref"><a class="footnote-link" href="#fnb2"><span class="wb-invisible">Footnote </span>2</a></sup></li>
		<li>Support for English and French</li>
		<li>Configurable layout and design<sup id="fnb2c-ref"><a class="footnote-link" href="#fnb2"><span class="wb-invisible">Footnote </span>2</a></sup>&#160;<sup id="fnb3-ref"><a class="footnote-link" href="#fnb3"><span class="wb-invisible">Footnote </span>3</a></sup></li>
	</ul>
</section>

<section>
	<h2>Recommended usage</h2>
	<ul>
		<li>Implementing footnotes in Web pages<sup id="fnb*-ref"><a class="footnote-link" href="#fnb*"><span class="wb-invisible">Footnote </span>*</a></sup></li>
	</ul>
</section>

<div class="wb-footnotes" role="note">
	<section>
		<h2 id="fnb" class="wb-invisible">Footnotes</h2>
		<dl>
			<dt>Footnote 1</dt>
			<dd id="fnb1">
				<p>Example of a standard footnote.</p>
				<p class="footnote-return">
					<a href="#fnb1-ref"><span class="wb-invisible">Return to footnote </span>1<span class="wb-invisible"> referrer</span></a>
				</p>
			</dd>
			<dt>Footnote 2</dt>
			<dd id="fnb2">
				<p>Example of a footnote being referenced by multiple pieces of content.</p>
				<p class="footnote-return">
					<a href="#fnb2a-ref"><span class="wb-invisible">Return to <span>first</span> footnote </span>2<span class="wb-invisible"> referrer</span></a>
				</p>
			</dd>
			<dt>Footnote 3</dt>
			<dd id="fnb3">
				<p>Example of a footnote containing multiple paragraphs (first paragraph).</p>
				<p>Example of a footnote containing multiple paragraphs (second paragraph).</p>
				<p>Example of a footnote containing multiple paragraphs (third paragraph).</p>
				<p class="footnote-return">
					<a href="#fnb3-ref"><span class="wb-invisible">Return to footnote </span>3<span class="wb-invisible"> referrer</span></a>
				</p>
			</dd>
			<dt>Footnote *</dt>
			<dd id="fnb*">
				<p>Example of a standard footnote, denoted by a symbol.</p>
				<p class="footnote-return">
					<a href="#fnb*-ref"><span class="wb-invisible">Return to footnote </span>*<span class="wb-invisible"> referrer</span></a>
				</p>
			</dd>
		</dl>
	</section>
</div>