---
{
	"title": "Notes de bas de page",
	"language": "fr",
	"category": "Plugiciels",
	"description": "Une méthode cohérente et facile d’accès pour répertorier les notes de bas de page.",
	"tag": "footnotes",
	"parentdir": "footnotes",
	"altLangPrefix": "footnotes",
	"dateModified": "2016-06-10"
}
---
<section>
	<h2>But</h2>
	<p>Le plugiciel Notes de bas de page vise à mettre en place une méthode cohérente et facile d’accès pour répertorier les notes de bas de page dans l’ensemble des sites Web du gouvernement canadien. L’idée force qui sous-tend cette solution consiste à classer les notes de bas de page dans une liste de définitions à l’intérieur d’une section spécifique. Un exemple de ceci peut être trouvé dans la section <a href="#fn">Notes de bas de page</a>. Des styles CSS servent à disposer les notes de bas de page et à dissimuler les aides à la navigation<sup id="fn1-rf"><a class="fn-lnk" href="#fn1"><span class="wb-inv">Note de bas de page </span>1</a></sup>.</p>
</section>

<section>
	<h2>Avantages</h2>
	<ul>
		<li>Conformes à WCAG 2.0 AA<sup id="fn2-1-rf"><a class="fn-lnk" href="#fn2"><span class="wb-inv">Note de bas de page </span>2</a></sup></li>
		<li>Approche d'amélioration progressive</li>
		<li>Soutien pour Firefox, Opera, Safari, Chrome et IE 7+<sup id="fn2-2-rf"><a class="fn-lnk" href="#fn2"><span class="wb-inv">Note de bas de page </span>2</a></sup></li>
		<li>Soutien pour l'anglais et le français</li>
		<li>Mise en page et conception configurable<sup id="fn2-3-rf"><a class="fn-lnk" href="#fn2"><span class="wb-inv">Note de bas de page </span>2</a></sup>&#160;<sup id="fn3-rf"><a class="fn-lnk" href="#fn3"><span class="wb-inv">Note de bas de page </span>3</a></sup></li>
	</ul>
</section>

<section>
	<h2>Utilisation recommandée</h2>
		<ul>
			<li>Exécuter les notes de bas de page dans les pages Web<sup id="fn*-rf"><a class="fn-lnk" href="#fn*"><span class="wb-inv">Note de bas de page </span>*</a></sup></li>
		</ul>
</section>

<aside class="wb-fnote" role="note">
	<h2 id="fn">Notes de bas de page</h2>
	<dl>
		<dt>Note de bas de page 1</dt>
		<dd id="fn1">
			<p>Exemple de note de bas de page standard.</p>
			<p class="fn-rtn"><a href="#fn1-rf"><span class="wb-inv">Retour à la référence de la note de bas de page </span>1</a></p>
		</dd>
		<dt>Note de bas de page 2</dt>
		<dd id="fn2">
			<p>Exemple de note de bas de page qui comporte de nombreux liens.</p>
			<p class="fn-rtn"><a href="#fn2-1-rf"><span class="wb-inv">Retour à la <span>première</span> référence de la note de bas de page </span>2</a></p>
		</dd>
		<dt>Note de bas de page 3</dt>
		<dd id="fn3">
			<p>Exemple de note de bas de page qui compte plusieurs paragraphes (premier paragraphe).</p>
			<p>Exemple de note de bas de page qui compte plusieurs paragraphes (deuxième paragraphe).</p>
			<p>Exemple de note de bas de page qui compte plusieurs paragraphes (troisième paragraphe).</p>
			<p class="fn-rtn"><a href="#fn3-rf"><span class="wb-inv">Retour à la référence de la note de bas de page </span>3</a></p>
		</dd>
		<dt>Note de bas de page *</dt>
		<dd id="fn*">
			<p>Exemple de note de bas de page standard, représentée par un symbole.</p>
			<p class="fn-rtn"><a href="#fn*-rf"><span class="wb-inv">Retour à la référence de la note de bas de page </span>*</a></p>
		</dd>
	</dl>
</aside>

<section class="wb-prettify all-pre">
	<h2>Code</h2>
	<pre><code>&lt;section&gt;
	&lt;h2&gt;But&lt;/h2&gt;
	&lt;p&gt;Le plugiciel Notes de bas de page vise à mettre en place une méthode cohérente et facile d’accès pour répertorier les notes de bas de page dans l’ensemble des sites Web du gouvernement canadien. L’idée force qui sous-tend cette solution consiste à classer les notes de bas de page dans une liste de définitions à l’intérieur d’une section spécifique. Un exemple de ceci peut être trouvé dans la section &lt;a href="#fn"&gt;Notes de bas de page&lt;/a&gt;. Des styles CSS servent à disposer les notes de bas de page et à dissimuler les aides à la navigation&lt;sup id="fn1-rf"&gt;&lt;a class="fn-lnk" href="#fn1"&gt;&lt;span class="wb-inv"&gt;Note de bas de page &lt;/span&gt;1&lt;/a&gt;&lt;/sup&gt;.&lt;/p&gt;
&lt;/section&gt;

&lt;section&gt;
	&lt;h2&gt;Avantages&lt;/h2&gt;
	&lt;ul&gt;
		&lt;li&gt;Conformes à WCAG 2.0 AA&lt;sup id=&quot;fn2-1-rf&quot;&gt;&lt;a class=&quot;fn-lnk&quot; href=&quot;#fn2&quot;&gt;&lt;span class=&quot;wb-inv&quot;&gt;Note de bas de page &lt;/span&gt;2&lt;/a&gt;&lt;/sup&gt;&lt;/li&gt;
		&lt;li&gt;Approche d'amélioration progressive&lt;/li&gt;
		&lt;li&gt;Soutien pour Firefox, Opera, Safari, Chrome et IE 7+&lt;sup id=&quot;fn2-2-rf&quot;&gt;&lt;a class=&quot;fn-lnk&quot; href=&quot;#fn2&quot;&gt;&lt;span class=&quot;wb-inv&quot;&gt;Note de bas de page &lt;/span&gt;2&lt;/a&gt;&lt;/sup&gt;&lt;/li&gt;
		&lt;li&gt;Soutien pour l'anglais et le français&lt;/li&gt;
		&lt;li&gt;Mise en page et conception configurable&lt;sup id=&quot;fn2-3-rf&quot;&gt;&lt;a class=&quot;fn-lnk&quot; href=&quot;#fn2&quot;&gt;&lt;span class=&quot;wb-inv&quot;&gt;Note de bas de page &lt;/span&gt;2&lt;/a&gt;&lt;/sup&gt;&#160;&lt;sup id=&quot;fn3-rf&quot;&gt;&lt;a class=&quot;fn-lnk&quot; href=&quot;#fn3&quot;&gt;&lt;span class=&quot;wb-inv&quot;&gt;Note de bas de page &lt;/span&gt;3&lt;/a&gt;&lt;/sup&gt;&lt;/li&gt;
	&lt;/ul&gt;
&lt;/section&gt;

&lt;section&gt;
	&lt;h2&gt;Utilisation recommandée&lt;/h2&gt;
		&lt;ul&gt;
			&lt;li&gt;Exécuter les notes de bas de page dans les pages Web&lt;sup id=&quot;fn*-rf&quot;&gt;&lt;a class=&quot;fn-lnk&quot; href=&quot;#fn*&quot;&gt;&lt;span class=&quot;wb-inv&quot;&gt;Note de bas de page &lt;/span&gt;*&lt;/a&gt;&lt;/sup&gt;&lt;/li&gt;
		&lt;/ul&gt;
&lt;/section&gt;

&lt;aside class=&quot;wb-fnote&quot; role=&quot;note&quot;&gt;
	&lt;h2 id=&quot;fn&quot;&gt;Notes de bas de page&lt;/h2&gt;
	&lt;dl&gt;
		&lt;dt&gt;Note de bas de page 1&lt;/dt&gt;
		&lt;dd id=&quot;fn1&quot;&gt;
			&lt;p&gt;Exemple de note de bas de page standard.&lt;/p&gt;
			&lt;p class=&quot;fn-rtn&quot;&gt;&lt;a href=&quot;#fn1-rf&quot;&gt;&lt;span class=&quot;wb-inv&quot;&gt;Retour à la référence de la note de bas de page &lt;/span&gt;1&lt;/a&gt;&lt;/p&gt;
		&lt;/dd&gt;
		&lt;dt&gt;Note de bas de page 2&lt;/dt&gt;
		&lt;dd id=&quot;fn2&quot;&gt;
			&lt;p&gt;Exemple de note de bas de page qui comporte de nombreux liens.&lt;/p&gt;
			&lt;p class=&quot;fn-rtn&quot;&gt;&lt;a href=&quot;#fn2-1-rf&quot;&gt;&lt;span class=&quot;wb-inv&quot;&gt;Retour à la &lt;span&gt;première&lt;/span&gt; référence de la note de bas de page &lt;/span&gt;2&lt;/a&gt;&lt;/p&gt;
		&lt;/dd&gt;
		&lt;dt&gt;Note de bas de page 3&lt;/dt&gt;
		&lt;dd id=&quot;fn3&quot;&gt;
			&lt;p&gt;Exemple de note de bas de page qui compte plusieurs paragraphes (premier paragraphe).&lt;/p&gt;
			&lt;p&gt;Exemple de note de bas de page qui compte plusieurs paragraphes (deuxième paragraphe).&lt;/p&gt;
			&lt;p&gt;Exemple de note de bas de page qui compte plusieurs paragraphes (troisième paragraphe).&lt;/p&gt;
			&lt;p class=&quot;fn-rtn&quot;&gt;&lt;a href=&quot;#fn3-rf&quot;&gt;&lt;span class=&quot;wb-inv&quot;&gt;Retour à la référence de la note de bas de page &lt;/span&gt;3&lt;/a&gt;&lt;/p&gt;
		&lt;/dd&gt;
		&lt;dt&gt;Note de bas de page *&lt;/dt&gt;
		&lt;dd id=&quot;fn*&quot;&gt;
			&lt;p&gt;Exemple de note de bas de page standard, représentée par un symbole.&lt;/p&gt;
			&lt;p class=&quot;fn-rtn&quot;&gt;&lt;a href=&quot;#fn*-rf&quot;&gt;&lt;span class=&quot;wb-inv&quot;&gt;Retour à la référence de la note de bas de page &lt;/span&gt;*&lt;/a&gt;&lt;/p&gt;
		&lt;/dd&gt;
	&lt;/dl&gt;
&lt;/aside&gt;</code></pre>
</section>
