!!! 5
html(lang='en')
head
    meta(charset='UTF-8')
    title Welcome :: Grid CSS Demo
    link(rel='shortcut icon', href='/favicon.ico')
    meta(name='description', content='')
    meta(name='dcterms.creator', content='')
    meta(name='dcterms.title', content='')
    meta(name='dcterms.issued', title='W3CDTF', content='')
    meta(name='dcterms.modified', title='W3CDTF', content='')
    meta(name='dcterms.subject', title='gccore', content='')
    meta(name='dcterms.language', title='ISO639-2', content='eng')
    // Mobile Goodness 
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // CSS Magic 
    link(rel='stylesheet', href='css/base.css')
    link(rel='stylesheet', href='css/theme.css')
    // WET-BOEW Vapour 
    script(src='http://code.jquery.com/jquery-2.0.2.min.js')
    script(src='js/vapour.js')
    script(src='https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js')
    include mixins
  body
    .demo-grids
      .row
        .span-100
          h1 WET-BOEW 4 grid framework
      .row
        .span-100
          h2 Fluid grids | Fixed width container | Gutter in between container and grids
      .container
          mixin grids
      .row
        .span-100
          h2 Fluid grids | Fixed width container | Full bleed to container edges
      .container.bleed-full
         mixin grids
      .row
        .span-100
          h2 Fluid grids | Full width | Gutter in between grids and chrome 
        mixin grids
      .row
        .span-100
          h2 Fluid grids | Full width | Full bleed to chrome edges
      .bleed-full
         mixin grids

     