!!! 5
html(lang='en')
head
    meta(charset='UTF-8')
    title Welcome :: Grid CSS Demo
    link(rel='shortcut icon', href='/favicon.ico')
    meta(name='description', content='')
    meta(name='dcterms.creator', content='')
    meta(name='dcterms.title', content='')
    meta(name='dcterms.issued', title='W3CDTF', content='')
    meta(name='dcterms.modified', title='W3CDTF', content='')
    meta(name='dcterms.subject', title='gccore', content='')
    meta(name='dcterms.language', title='ISO639-2', content='eng')
    // Mobile Goodness 
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // CSS Magic 
    link(rel='stylesheet', href='css/base.css')
    link(rel='stylesheet', href='css/theme.css')
    // WET-BOEW Vapour 
    script(src='http://code.jquery.com/jquery-2.0.2.min.js')
    script(src='js/vapour.js')
    script(src='https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js')
    include mixins
  body
    .grid-container
      h3
          | Basic Grid Demonstration
        p
          | There are 3 distinct classes for grid manipulation to allow and even better control of grid cell behaviour in small (mobile), medium (tablet), and large (desktop) views.
      mixin ngrids()
      hr
      h3
          | Border Demonstration
      mixin borders()
      hr