!!! 5
html(lang='en')
head
    meta(charset='UTF-8')
    title Welcome :: Grid CSS Demo
    link(rel='shortcut icon', href='/favicon.ico')
    meta(name='description', content='')
    meta(name='dcterms.creator', content='')
    meta(name='dcterms.title', content='')
    meta(name='dcterms.issued', title='W3CDTF', content='')
    meta(name='dcterms.modified', title='W3CDTF', content='')
    meta(name='dcterms.subject', title='gccore', content='')
    meta(name='dcterms.language', title='ISO639-2', content='eng')
    // Mobile Goodness 
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // CSS Magic 
    link(rel='stylesheet', href='css/base.css')
    link(rel='stylesheet', href='css/theme.css')
    // WET-BOEW Vapour 
    script(src='http://code.jquery.com/jquery-2.0.2.min.js')
    script(src='js/vapour.js')
    script(src='https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js')
    include mixins
  body
    .grid-container.border-left-dashed.border-right-dashed
      h1
          | Basic Grid Demonstration
        p
          | There are 3 distinct classes for grid manipulation to allow and even better control of grid cell behaviour in small (mobile), medium (tablet), and large (desktop) views.
      mixin ngrids()
      hr
      h2
          | Border Demonstration
      mixin borders()
      hr
      h2 List grid
      p
        | Desktop: 4 cells across (using
        code list-grid-4
        | )
        br
        | Mobile: 2 cells across (using
        code list-grid-small-2
        | )
      ul.list-grid-small-2.list-grid-4
        - var i = 8
        - while(i--)
            li
              img(src='http://wet-boew.github.io/wet-boew/demos/tabs/images/demo-1.jpg')

      p
        | Desktop: 12 cells across (using
        code list-grid-12
        | )
        br
        | Mobile: 4 cells across (using
        code list-grid-small-4
        | )
      ul.list-grid-small-4.list-grid-12
        - var i = 12
        - while(i--)
            li
              img(src='http://wet-boew.github.io/wet-boew/demos/tabs/images/demo-1.jpg')

      p
        | Desktop: 3 cells across (using
        code list-grid-3
        | )
        br
        | Mobile: 5 cells across (using
        code list-grid-small-5
        | )
      ul.list-grid-small-5.list-grid-3
       - var i = 8
        - while(i--)
            li
              img(src='http://wet-boew.github.io/wet-boew/demos/tabs/images/demo-1.jpg')
       hr
       h2 Bleed and Gutter Demonstration
      .gutterless
          .grid-25
            section.example-block
               b
                | 25%
             span.dynamic-px-width
          .grid-50
            section.example-block
               b
                | 50%
             span.dynamic-px-width
          .grid-25
            section.example-block
               b
                | 25%
             span.dynamic-px-width
      .clear
      .bleed-full        
        .grid-25
          section.example-block
             b
              | 25%
           span.dynamic-px-width
        .grid-50
          section.example-block
             b
              | 50%
           span.dynamic-px-width
        .grid-25
          section.example-block
             b
              | 25%
           span.dynamic-px-width
      .clear
      .bleed-left        
        .grid-25
          section.example-block
             b
              | 25%
           span.dynamic-px-width
        .grid-50
          section.example-block
             b
              | 50%
           span.dynamic-px-width
        .grid-25
          section.example-block
             b
              | 25%
           span.dynamic-px-width
      .clear
      .bleed-right        
        .grid-25
          section.example-block
             b
              | 25%
           span.dynamic-px-width
        .grid-50
          section.example-block
             b
              | 50%
           span.dynamic-px-width
        .grid-25
          section.example-block
             b
              | 25%
           span.dynamic-px-width