---
{
	"title": "Favicon",
	"language": "en"
}
---
	
<p>This plugin provides the ability to add and update the favicon's on a web page. Its default behaviour is to add a mobile favicon to web pages that have a favicon defined by a <code>&lt;link rel="shortcut icon"&gt;</code> element.</p>
<p>The mobile favicon's file name, rel, path and sizes can be set with data attributes on the <code>&lt;link rel="shortcut icon"&gt;</code>:</p>

<ul>
	<li><strong>data-filename:</strong> filename of the mobile favicon (defaults to "favicon-mobile.png"). This will be appended to the favicon's path.</li>
	<li><strong>data-path:</strong> path to the mobile favicon (defaults to using the same path as the shortcut icon).</li>
	<li><strong>data-rel:</strong> rel attribute of the mobile favicon (defaults to "apple-touch-icon").</li>
	<li><strong>data-sizes:</strong> sizes attribute of the mobile favicon (defaults to "57x57 72x72 114x114 144x144 150x150").</li>
</ul>

<p>For example, the following overides the rel and file name attributes of the mobile favicon:</p>

<code class="prettyprint">&lt;link href="favion.ico" rel="shortcut icon" data-filename="my-mobile-favicon.ico" data-rel="apple-touch-icon-precomposed"&gt;</code>	
