/*
 Banner
 */

// Needed for backwards compatibility with WET 4.0.27 and below's HTML markup.
// Remove object references from all of this theme's logo selectors in WET 4.1+.
.wb-sppe {
	img,
	object {
		width: 100%;
	}
}

#wb-bnr {
	background: $wb-bnr-background-color;
	background: $wb-bnr-background-linear-gradient;
}

#wb-bar {
	background: $wb-bar-background;
	border-bottom: 1px solid $wb-bnr-border-bottom;
	color: $wb-bnr-color;
	min-height: 2.2em;
	z-index: 1;
}

#wb-lng ul,
#wb-glb-mn .pnl-btn {
	float: right;
	margin: 0;

	li {
		border-left: 1px solid $wb-lng-glb-mn-pnl-btn-border-left;
		float: left;
		list-style-type: none;
		padding: 6px 15px;

		&:first-child {
			border-left: 0;
		}
	}

	a {
		color: $wb-lng-glb-mn-pnl-btn-a-color;
		text-decoration: none;
	}
}

#wb-glb-mn {
	.pnl-btn {
		position: relative;
		z-index: 2;

		li {
			padding: 4px 0 4px 10px;
			width: 100%;
		}

		a {
			color: $wb-glb-mn-pnl-btn-a;
			display: block;
			font-size: 1.5em;
			line-height: 1em;
			width: 100%;
		}

		span {
			.glyphicon-th-list {
				padding-left: 10px;
				top: 0;
			}
		}
	}
}

#wb-sttl {
	a {
		color: $wb-sttl-a-color;
		font-size: 1.9em;
		line-height: normal;
		text-decoration: none;
		text-shadow: 1px 1px 1px $wb-sttl-a-text-shadow;
	}

	small {
		display: block;
		font-size: .4em;
		margin-bottom: 4px;
	}

	object {
		pointer-events: none;
	}

	object,
	img {
		float: left;
		height: 1.5em;
		margin: 9px 15px 9px 0;
		width: 3.25em;
	}
}

[dir=rtl] {
	#wb-lng,
	#wb-glb-mn {
		> {
			ul {
				float: left;
			}
		}
	}

	#wb-glb-mn {
		.pnl-btn {
			text-align: left;

			span {
				.glyphicon-th-list {
					padding-left: 0;
					padding-right: 10px;
				}
			}
		}
	}

	#wb-sttl {
		float: right;

		object,
		img {
			margin: 9px 0 9px 15px;
		}
	}
}
