/*
 Banner
 */
#wb-bar {
	min-height: 3em;
}

#wb-sttl {
	a {
		padding-top: 1.1em;
		position: relative;
		z-index: 1;
	}

	object,
	img {
		height: 1.21em;
		margin: 0;
		position: absolute;
		top: -10px;
		width: 2.6em;
	}
}

[dir=rtl] {
	#wb-sttl {
		object,
		img {
			margin: 0;
		}
	}
}
