/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-eng.txt / wet-boew.github.io/wet-boew/Licence-fra.txt
 */
%base-default-responsive-large-width100pct-min-width-960 {
	width: 100%;
	min-width: 960px;
}
%base-default-responsive-large-width-480 {
	width: 480px;
}
%base-default-responsive-large-width-240 {
	width: 240px;
}

body {
	min-width: 960px;
}

#wb-head {
	@extend %base-default-responsive-large-width100pct-min-width-960;
}

#wb-core {
	@extend %base-default-responsive-large-width100pct-min-width-960;
}

#wb-foot {
	@extend %base-default-responsive-large-width100pct-min-width-960;
}

#wb-head-in {
	@extend %base-default-responsive-large-width100pct-min-width-960;
}

#base-fullhd {
	@extend %base-default-responsive-large-width100pct-min-width-960;
}

#base-bnr {
	@extend %base-default-responsive-large-width100pct-min-width-960;
}

#base-psnb {
	@extend %base-default-responsive-large-width100pct-min-width-960;
	.mb-menu {
		@extend %base-default-responsive-large-width960px;
	}
}

#base-bc {
	@extend %base-default-responsive-large-width100pct-min-width-960;
}

#wb-foot-in {
	@extend %base-default-responsive-large-width100pct-min-width-960;
}

#base-fullft {
	@extend %base-default-responsive-large-width100pct-min-width-960;
}

#base-sft {
	@extend %base-default-responsive-large-width100pct-min-width-960;
}

%base-default-responsive-large-margin-auto-width960px {
	@extend %base-default-responsive-large-width960px;
	margin: auto;
}

#wb-core-in {
	@extend %base-default-responsive-large-margin-auto-width960px;
}

#base-fullhd-in {
	@extend %base-default-responsive-large-margin-auto-width960px;
}

#base-bnr-in {
	@extend %base-default-responsive-large-margin-auto-width960px;
}

#base-psnb-in {
	@extend %base-default-responsive-large-margin-auto-width960px;
}

#base-bc-in {
	@extend %base-default-responsive-large-margin-auto-width960px;
}

#base-fullft-in {
	@extend %base-default-responsive-large-margin-auto-width960px;
}

#base-sft-in {
	@extend %base-default-responsive-large-margin-auto-width960px;
}

#base-subsite {
	@extend %base-default-responsive-large-margin-auto-width960px;
}

#base-title-in {
	width: 360px;
}

#wb-body-sec-sup {
	#wb-main {
		@extend %base-default-responsive-large-width-480;
		right: 240px;
	}
	#wb-main-in {
		@extend %base-default-responsive-large-width-480;
	}
}

#wb-sec {
	@extend %base-default-responsive-large-width-240;
}

#wb-sup {
	@extend %base-default-responsive-large-width-240;
	left: 480px;
}

%base-default-responsive-large-width960px {
	width: 960px;
}

#wb-body {
	#wb-main {
		@extend %base-default-responsive-large-width960px;
	}
}

[id|="wb-body-sec"] {
	[id|="wb-main"] {
		width: 720px;
	}
}

/* Right to left (RTL) CSS */
[dir="rtl"] {
	#wb-body-sec-sup {
		#wb-main {
			right: auto;
			left: 240px;
		}
	}

	#wb-sup {
		left: auto;
		right: 480px;
	}
}