/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt
 */
.ie7 {
	#wb-core{
		margin-bottom:-20px;
	}
	.base-minister ul{
		padding-bottom:17px;
	}
	#base-srchbx{
		padding-bottom:0;
		bottom:-4px;
	}
	#base-srch-submit{
		padding:2px 0;
		position:relative;
		top:1px;
	}
	#base-title{
		zoom:1;
		position:relative;
	}
	#base-title-in{

	}
	#base-date-mod{
		position:relative;
		float:right;
		margin-bottom:-15px;
		top:17px;
	}
	#base-tctr{
		padding:7px 0 6px;
		li.base-tc{
			padding:0 10px;
		}
		li.base-tr{
			padding-left:10px;
		}
	}
	#base-fullft li{
		margin:13px 35px 14px 9px;
	}
	#base-bnr,#base-tctr li{
		float:left;
	}

	/* Right to left (RTL) CSS */
	[dir="rtl"] {
		#base-date-mod {
			float: left;
		}

		#base-tctr {
			li.base-tr {
				padding-left: 0;
				padding-right: 10px;
			}
		}

		#base-fullft li {
			margin: 13px 9px 14px 35px;
		}

		#base-bnr, #base-tctr li {
			float: right;
		}
	}
}