/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt
 */
.ie7{
	#base-subsite a{
		font-size:expression(this.previousSibling == null ? '100%' : '-' );
		padding-left:expression(this.previousSibling == null ? '0' : '-' );
		border-left:expression(this.previousSibling == null ? 'none' : '-' );
	}

	/* Right to left (RTL) CSS */
	[dir="rtl"] {
		#base-subsite a {
			padding-left: 0;
			padding-right: expression(this.previousSibling == null ? '0' : '-' );
			border-left: none;
			border-right: expression(this.previousSibling == null ? 'none' : '-' );
		}
	}
}