/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt
 */
%base-default-desktop-background-none {
	background: none;
}
%base-default-desktop-text-shadow-none {
	text-shadow: none;
}
%base-default-desktop-h2-hidden-clip {
	h2 {
		position: absolute;
		clip: rect(1px, 1px, 1px, 1px);//TODO: Should have old IE class withouth commas
		height: 0 !important;
		width: 0 !important;
		overflow: hidden !important;
		margin: 0 !important;
	}
}
%base-default-desktop-display-none {
	display: none !important;
}
 
[class*="ui-overlay-"] {
	@extend %base-default-desktop-text-shadow-none;
}

[class*="ui-body-"] {
	@extend %base-default-desktop-text-shadow-none;
	.ui-link {
		font-weight: 400;
	}
}

#base-title {
	@extend %base-default-desktop-background-none;
}

#base-fullhd {
	.ui-header {
		display: none !important;
	}
}

#base-psnb {
	@extend %base-default-desktop-h2-hidden-clip;
}

#base-srchbx {
	@extend %base-default-desktop-h2-hidden-clip;
}

#base-bc-in {
	font-size: 85%;
	color: #555;
	ol {
		line-height: 1.57em;
		list-style-type: none;
		margin: 2px 10px 0;
		padding: 0;
		&:after {
			content: ".";
			display: block;
			height: 0;
			clear: both;
			visibility: hidden;
		}
	}
	li {
		display: inline;
		float: left;
		white-space: nowrap;
		margin: 0 5px 0 0;
		padding: 0 11px 0 0;
		&:last-child {
			background-image: none;
			padding-right: 0;
		}
	}
	a {
		color: #295376;
		text-decoration: none;
		@include pseudo-focus {
			color: #295376;
			text-decoration: underline;
		}
	}
}

#base-bc-in {
	background: #FFF;
}

#base-date-mod {
	margin: 0;
}

#base-bnr {
	.ui-navbar {
		@extend %base-default-desktop-display-none;
	}
}

#jqm-wb-mb {
	@extend %base-default-desktop-display-none;
}

#jqm-wb-search {
	@extend %base-default-desktop-display-none;
}

.ui-loader {
	@extend %base-default-desktop-display-none;
}
