/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt
 */
@import "compass/css3/text-shadow";

%base-default-desktop-text-shadow-none {
	@include text-shadow(none);
}

[class*="ui-overlay-"] {
	@extend %base-default-desktop-text-shadow-none;
}

[class*="ui-body-"] {
	@extend %base-default-desktop-text-shadow-none;
	.ui-link {
		font-weight: normal;
	}
}

%base-default-desktop-hidden-clip {
		position: absolute;
		clip: rect(1px, 1px, 1px, 1px);//TODO: Should have old IE class withouth commas
		height: 0 !important;
		width: 0 !important;
		overflow: hidden !important;
		margin: 0 !important;
}
		
#base-psnb {
	h2 {
		@extend %base-default-desktop-hidden-clip;
	}
}

#base-srchbx {
	h2 {
		@extend %base-default-desktop-hidden-clip;
	}
}

#base-bc {
	font-size: 85%;
	color: #555;
	ol {
		line-height: 1.57em;
		list-style-type: none;
		margin: 2px 10px 0;
		padding: 0;
		&:after {
			content:".";
			display: block;
			height: 0;
			clear: both;
			visibility: hidden;
		}
	}
	li {
		display: inline;
		float: left;
		white-space: nowrap;
	}
	a {
		color: #295376;
		text-decoration: none;
		&:hover, &:focus, &:active {
			color: #295376;
			text-decoration: underline;
		}
	}
}

#base-bc-in {
	background: #FFF;
}

#base-date-mod {
	margin: 0;
}

%base-default-desktop-display-none {
	display: none !important;
}

#base-bnr {
	.ui-navbar {
		@extend %base-default-desktop-display-none;
	}
}

#jqm-wb-mb {
	@extend %base-default-desktop-display-none;
}

#jqm-wb-search {
	@extend %base-default-desktop-display-none;
}

.ui-loader {
	@extend %base-default-desktop-display-none;
}
