/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt
 */
body {
	min-width: 768px;
}

#base-title-in {
	width: 290px;
}

#wb-body-sec-sup {
	#wb-main {
		width: 384px;
		right: 192px;
	}
	#wb-main-in {
		width: 384px;
	}
}

#wb-sec {
	width: 192px;
}

#wb-sup {
	width: 192px;
	left: 384px;
}

%base-default-responsive768-with768px {
	width: 768px;
}

#wb-core-in {
	@extend %base-default-responsive768-with768px;
}

#base-fullhd-in {
	@extend %base-default-responsive768-with768px;
}

#base-bnr-in {
	@extend %base-default-responsive768-with768px;
}

#base-psnb-in {
	@extend %base-default-responsive768-with768px;
}

#base-bc-in {
	@extend %base-default-responsive768-with768px;
}

#base-fullft-in {
	@extend %base-default-responsive768-with768px;
}

#base-sft-in {
	@extend %base-default-responsive768-with768px;
}

#base-psnb {
	.mb-menu {
		@extend %base-default-responsive768-with768px;
	}
}

#wb-body {
	#wb-main {
		@extend %base-default-responsive768-with768px;
	}
}

[id|="wb-body-sec"] {
	[id|="wb-main"] {
		width: 576px;
	}
}

#base-subsite {
	@extend %base-default-responsive768-with768px;
	p {
		margin: 0 auto;
	}
}

/* Right to left (RTL) CSS */
[dir="rtl"] {
	#wb-body-sec-sup {
		#wb-main {
			right: auto;
			left: 192px;
		}
	}

	#wb-sup {
		left: auto;
		right: 384px;
	}
}