/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt
 */
body{
	min-width: 1200px;
}

#base-title-in{
	width: 500px;
}

#wb-body-sec-sup {
	#wb-main{
		width: 600px;
		left: 300px;
	}
	#wb-main-in{
		width: 600px;
	}
}

#wb-sec{
	width: 300px;
}

#wb-sup{
	width: 300px;
	left: 600px;
}

#wb-core-in,#base-fullhd-in,#base-bnr-in,#base-psnb-in,#base-bc-in,#base-fullft-in,#base-sft-in,#base-bnr-in,#base-psnb .mb-menu,#wb-body #wb-main,#base-subsite{
	width: 1200px;
}

[id|="wb-body-sec"] [id|="wb-main"] {
	width: 900px;
}

#base-subsite p{
	margin: 0 auto;
}

/* Right to left (RTL) CSS */
[dir="rtl"] {
	#wb-body-sec-sup {
		#wb-main {
			left: auto;
			right: 300px;
		}
	}

	#wb-sup {
		left: auto;
		right: 600px;
	}
}