/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-eng.txt / wet-boew.github.io/wet-boew/Licence-fra.txt
 */
.ie7 {
	#wb-core {
		margin-bottom:-20px;
	}
	.base-minister { //TODO: Should the base theme refrence a minister section?
		ul {
			padding-bottom: 17px;
		}
	}
	#base-srchbx {
		padding-bottom: 0;
		bottom:-4px;
	}
	#base-srch-submit {
		padding: 2px 0;
		position: relative;
		top: 1px;
	}
	#base-title {
		zoom: 1;
		position: relative;
	}
	%base-default-screen-ie-float-right {
		float: right;
	}
	#base-date-mod {
		position: relative;
		@extend %base-default-screen-ie-float-right;
		margin-bottom:-15px;
		top: 17px;
	}
	#base-tctr {
		padding: 7px 0 6px;
		li {
			@extend %base-default-screen-ie-float-left;
			&.base-tc {
				padding: 0 10px;
			}
			&.base-tr {
				padding-left: 10px;
			}
		}
	}
	#base-fullft {
		li {
			margin: 13px 35px 14px 9px;
		}
	}
	%base-default-screen-ie-float-left {
		float: left;
	}
	#base-bnr {
		@extend %base-default-screen-ie-float-left;
	}
	// Right to left (RTL) CSS
	&[dir="rtl"] {
		%base-default-screen-ie7-rtl-float-fix {
			zoom: 1;
			float: none;
			display: inline;
		}
		#base-date-mod {
			@extend %base-default-screen-ie-float-left;
			dt, dd {
				@extend %base-default-screen-ie7-rtl-float-fix;
			}
		}
		#base-tctr {
			li {
				@extend %base-default-screen-ie-float-right;
				&.base-tr {
					padding-left: 0;
					padding-right: 10px;
				}
			}
		}
		#base-fullhd {
			ul {
				@extend %base-default-screen-ie-float-left;
				li {
					@extend %base-default-screen-ie-float-left;
				}
			}
		}
		#base-fullft {
			li {
				margin: 13px 9px 14px 35px;
			}
		}
		#base-bnr {
			@extend %base-default-screen-ie-float-right;
		}
	}
}

.ie8 {
	#base-srch-submit {
		padding: 2px 5px;
		background-color: #cecece !important;
		position: relative;
		top: 1px;
	}
}