/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt
 */
.ie7 {
	#base-date-mod {
		padding-bottom: 11px;
	}
}
.ie7, .ie8 {
	&[dir="rtl"] {
		#base-bc {
			li {
				float: right;
			}
		}
	}
	[data-theme="a"], [data-theme="b"], [data-theme="c"] {
		.ui-icon {
			background-color: #8F8F8F;
		}
	}
}