/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt
 */
#base-bc {
	li {
		background:url(../images/bcrumb.gif) right 60% no-repeat;
		margin:0 5px 0 0;
		padding:0 11px 0 0;
		&:last-child {
			background-image:none;
			padding-right:0;
		}
	}
}