/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt
 */
@import "compass/css3/images";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";

body {
	-webkit-text-size-adjust: none;
	font: {
		family: Verdana, Arial, Helvetica, sans-serif;
		size: 80%;
	}
	color: #333;
}

%base-default-mobile-margin0-text-shadow-none {
	margin: {
		left: 0;
		right: 0;
	}
	text-shadow: none;
}

h2 {
	@extend %base-default-mobile-margin0-text-shadow-none;
}

h3 {
	@extend %base-default-mobile-margin0-text-shadow-none;
}

h4 {
	@extend %base-default-mobile-margin0-text-shadow-none;
}

h5 {
	@extend %base-default-mobile-margin0-text-shadow-none;
}

h6 {
	@extend %base-default-mobile-margin0-text-shadow-none;
}

p {
	@extend %base-default-mobile-margin0-text-shadow-none;
}

blockquote {
	@extend %base-default-mobile-margin0-text-shadow-none;
}

table {
	@extend %base-default-mobile-margin0-text-shadow-none;
}

form {
	@extend %base-default-mobile-margin0-text-shadow-none;
}

img {
}

pre {
	@extend %base-default-mobile-margin0-text-shadow-none;
}

a {
	color: #326CA6;
	font-weight: bold;
	&:active {
		text-decoration: underline !important;
	}
}

img {
	@extend %base-default-mobile-margin0-text-shadow-none;
	max-width: 100%;
	height: auto;
	display: block;
}

%base-default-mobile-visibility-hidden {
	visibility: hidden;
}

%base-default-mobile-clear-both {
	clear: both;
}

.clear {
	@extend %base-default-mobile-clear-both;
	display: block;
	height: 0;
	margin: 0;
	overflow: hidden;
	@extend %base-default-mobile-visibility-hidden;
	width: 0;
}

//Use for single padding: 0 rules
%base-default-mobile-padding0 {
	padding: 0;
}
.ui-mobile {
	#base-srch {
		@include box-shadow(none);
	}
	#wb-sec {
		@extend %base-default-mobile-display-none;
	}
	.ui-content {
		padding: 0 15px;
	}
	.wet-boew-menubar {
		a {
			@extend %base-default-mobile-padding0;
		}
	}
}

[class*="span-"] {
	position: relative;
}

%base-default-mobile-display-none {
	display: none;
}

[id|="wb-body-sec"] {
	#wb-skip2 {
		@extend %base-default-mobile-visibility-hidden;
	}
}

[id|="wb-body"] {
	background: #fff !important;
}

#base-title {
	background: #CF3F0E;
	min-height: 40px;
	font-weight: 700;
	padding: 2px 5px;
	a {
		font-size: 1.5em;
		color: #fff !important;
		text-shadow: 0 1px 1px #044062;
		text-decoration: none;
	}
}

#base-date-mod {
	@extend %base-default-mobile-after-content;
	float: right;
	margin: 5px 0;
}

#wb-main-in {
	padding: {
		left: 5px;
		right: 5px;
	}
	h1 {
		border-bottom: 1px solid #e5e5e5;
		font-weight: 400;
		margin-top: 5px;
		position: static !important;
		&.wb-invisible {
			position: absolute !important;
		}
	}
	[class*="span-"] {
		margin-bottom: 20px;
	}
}

%base-default-mobile-padding5px {
	padding: 5px;
}

#wb-sec {
	@extend %base-default-mobile-padding5px;
}

%base-default-mobile-background-efefef {
	background: #efefef;
}

#base-sft {
	@extend %base-default-mobile-background-efefef;
	padding-bottom: 5px;
	margin-top: 5px;
	.ui-footer {
		border: 0;
	}
	li {
		a {
			&.ui-btn {
				font-weight: 700;
				margin: 0;
				border-top-width: 0;
			}
		}
		&:nth-child(1), &:nth-child(2) {
			a {
				&.ui-btn {
					border-top-width: 1px;
				}
			}
		}
		&:not(:last-child) {
			&.ui-block-a {
				a {
					&.ui-btn {
						border-right-width: 0;
					}
				}
			}
		}
	}
}

#base-sft-in {
	@extend %base-default-mobile-after-content;
	border-top: 1px solid #CCCCCC;
	@extend %base-default-mobile-padding5px;
	@extend %base-default-mobile-background-efefef;
	div {
		width: 50%;
		float: left;
	}
}

#base-fullft {
	@extend %base-default-mobile-clear-both;
	@extend %base-default-mobile-margin0;
	@extend %base-default-mobile-padding5px;
	li {
		width: 50%;
		float: left !important;
		margin: 10px 0;
		&#base-fullft-ca {
			div {
				text-align: left;
			}
		}
	}
}

#base-fullhd { 
	p {
		@extend %base-default-mobile-display-none;
	}
	ul {
		margin: 0 5px 0 0;
		li {
			@extend %base-default-mobile-display-none;
			padding-top: 8px;
		}
		#base-fullhd-lang {
			display: inline;
			float: right;
			margin-bottom: 2px;
		}
	}
}

#base-fullhd-lang {
	a {
		background: #eee;
		border: 1px solid #ddd;
		@include border-radius(2px);
		color: #222;
		float: right;
		font-weight: 400;
		padding: 3px;
		text-transform: capitalize;
		text-decoration: none;
	}
}

#base-srch-submit {
	min-height: 22px;
	display: inline;
	margin: 0;
}

%base-default-mobile-monster-psnd-srchbx {
	width: 50%;
	float: right;
	border-top: 1px solid #CCC;
	h2 {
		background-color: #EEEEEE;
		@include background-image(linear-gradient(#FFFFFF, #F1F1F1));
		border: {
			top: 1px solid #CCC;
			bottom: 1px solid #CCC;
			left: 1px solid #CCC;
			right: none;
		}
		color: #222;
		font: {
			size: 1em;
			weight: 700;
		}
		margin: 0;
		position: relative;
		padding: 0.7em 18px 0.8em 0;
		text-align: center;
		text-shadow: 0 1px 0 #FFF;
		text-transform: capitalize;
		a {
			color: #000;
			text-decoration: none;
		}
		&:hover, &:focus, &:active {
			background-color: #DFDFDF;
			@include background-image(linear-gradient(#F6F6F6, #E0E0E0));
		}
	}
}

#base-psnb {
	@extend %base-default-mobile-monster-psnd-srchbx;
	h2 {
		span {
			@extend %base-default-mobile-display-none;
		}
	}
	#base-psnb-in {
		@extend %base-default-mobile-display-none;
	}
}

#base-bnr {
	@extend %base-default-mobile-clear-both;
	background: #4E7EB7;
	.ui-navbar {
		a {
			&.ui-btn-active {
				background-color: #DFDFDF;
				@include background-image(linear-gradient(#F6F6F6, #E0E0E0));
				border: 1px solid #CCC;
				border-right: none;
				color: #222;
				text-shadow: none;
			}
		}
	}
}

#base-srchbx {
	@extend %base-default-mobile-monster-psnd-srchbx;
	h2 {
		padding-right: 20px;
	}
	form {
		@extend %base-default-mobile-display-none;
	}
}

#base-subsite {
	font-size: 130%;
	text-shadow: 1px 1px 1px #333;
	p {
		margin: {
			top: 0;
			bottom: 0;
		}
	}
}

%base-default-mobile-font-size1em {
	font-size: 1em;
}

#base-bnr-in {
	.ui-mini {
		.ui-btn-inner {
			@extend %base-default-mobile-font-size1em;
		}
	}
}

.wet-boew-menubar {
	a {
		background: #eee;
		border: {
			top: 1px solid #ccc;
			bottom: 1px solid #ccc;
		}
		color: #222;
		display: block;
		font-weight: 700;
		padding: 0.8em 0 0.9em;
		position: relative;
		z-index: 200;
		text-align: center;
		text-decoration: none;
	}
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		position: relative;
		z-index: 1;
	}
	li {
		color: #333;
		text-shadow: 0 1px 0 #fff;
		position: relative;
		z-index: 1;
		h3 {
			font-weight: 400;
			font-size: 1em;
			margin: 0;
			padding: 0;
		}
		.mb-sm {
			@extend %base-default-mobile-display-none;
			* {
				@extend %base-default-mobile-display-none;
			}
		}
	}
}

#wb-core {
	@extend %base-default-mobile-clear-both;
}

%base-default-mobile-after-content {
	&:after {
		content:".";
		display: block;
		height: 0;
		@extend %base-default-mobile-clear-both;
		@extend %base-default-mobile-visibility-hidden;
	}
}

#wb-head {
	@extend %base-default-mobile-after-content;
}

#base-bc {
	@extend %base-default-mobile-display-none;
}

.ui-content {
	.ui-listview {
		margin: 0 -15px;
	}
}

.ui-collapsible-heading {
	@extend %base-default-mobile-font-size1em;
	@extend %base-default-mobile-margin0;
}

.ui-li-static {
	@extend %base-default-mobile-font-size1em;
	@extend %base-default-mobile-margin0;
}

%base-default-mobile-border-bottom-none {
	border-bottom: none;
}

.ui-dialog {
	h1 {
		@extend %base-default-mobile-border-bottom-none;
	}
}

.ui-popup {
	h1 {
		@extend %base-default-mobile-border-bottom-none;
	}
}

#jqm-wb-search {
	label {
		clip: rect(1px, 1px, 1px, 1px);
		height: 1px;
		overflow: hidden;
		position: absolute;
		width: 1px;
	}
	%base-default-mobile-jqm-wb-search-background-none {
		background: none;
	}
	.ui-icon-searchfield {
		&:after {
			@extend %base-default-mobile-jqm-wb-search-background-none;
		}
	}
	.ui-icon-search {
		@extend %base-default-mobile-jqm-wb-search-background-none;
	}
}

%base-default-mobile-border-radius-0 {
	@include border-radius(0);
}

%base-default-mobile-padding-left0 {
	padding-left: 0;
}

//Used to consolidate single rule classes
%base-default-mobile-margin0 {
	margin: 0;
}

//Used to consolidate single rule classes
%base-default-white-space-normal {
	white-space: normal;
}
#jqm-wb-mb {
	a {
		&:link {
			text-decoration: none
		}
	}
		h1 {
		@extend %base-default-mobile-border-bottom-none;
	}
	div {
		&.ui-collapsible-set {
			+ {
				h2 {
					border-top: 3px groove #fff;
					padding-top: 8px;
					margin-top: 23px;
				}
			}
		}
	}
	h2 {
		color: #555;
	}
	h3 {
		&.top-section {
			font-size: 1.2em;
		}
	}
	.ui-content {
		padding: 0 15px 5px;
		.ui-listview {
			@extend %base-default-mobile-margin0;
		}
	}
	.ui-btn-inner {
		@extend %base-default-white-space-normal;
	}
	.ui-btn-icon-top {
		.ui-btn-inner {
			padding: 0.6em 33px 0.7em 10px;
		}
	}
	.ui-btn-icon-right {
		span {
			&.ui-btn-inner {
				padding-left: 40px;
			}
		}
		div {
			&.ui-btn-inner {
				padding-left: 25px;
			}
		}
	}
	.ui-body-a {
		background: #FFF;
	}
	.ui-collapsible-set {
		@extend %base-default-mobile-margin0;
		a {
			@extend %base-default-white-space-normal;
		}
	}
	.ui-collapsible-heading {
		.ui-btn {
			border-left-width: 1px;
			border-right-width: 1px;
		}
		&:not(.ui-collapsible-heading-collapsed) {
			a {
				@include border-bottom-left-radius(0);
				@include border-bottom-right-radius(0);
			}
		}
	}
	.wb-nested-menu {
		@extend %base-default-mobile-padding0;
		h2, h3, h4, h5 {
			@extend %base-default-mobile-margin0;
		}
		.ui-btn-icon-right {
			.ui-btn-inner {
				@extend %base-default-mobile-padding-left0;
			}
		}
		a {
			padding-left: 55px;
			&.ui-btn-icon-left {
				padding-left: 0;
			}
		}
		.wb-nested-menu {
			a {
				padding-left: 70px;
				&.ui-btn-icon-left {
					padding-left: 15px;
				}
			}
			.wb-nested-menu {
				a {
					padding-left: 85px;
					&.ui-btn-icon-left {
						padding-left: 30px;
					}
				}
			}
		}
		.wb-nested-li-heading a {
			border-top: 0;
		}
	}
	.ui-collapsible-content {
		@extend %base-default-mobile-padding0;
	}
	.ui-li-static {
		border-left: none;
		border-right: none;
		background: #F4F4F4;
	}
	.ui-btn {
		margin: 0;
		text-align: left;
	}
	.ui-li {
		padding: 0;
		border-width: 1px 1px 0 1px;
		.ui-collapsible {
			&:first-child {
				margin-top: -1px;
			}
		}
	}
	.ui-corner-bottom {
		border-bottom-width: 1px;
	}
	.ui-content {
		h2 {
			+ {
				ul {
					&.ui-listview {
						margin-bottom: 1em;
					}
				}
			}
		}
	}
	.top-section {
		a {
			margin: 0 0 5px;
			@extend %base-default-mobile-border-radius-0;
		}
	}
	.top-level {
		&.ui-btn-corner-all {
			@include border-radius(0.6em);//TODO: Rest of the border-radius declarations are px, why is this in ems
		}
	}
	#base-bc-in {
		background: #DFDFDD;
		@include background-image(linear-gradient(#F0EFEF, #DFDFDD));
		color: #555;
		@extend %base-default-mobile-border-radius-0;
		border-bottom: 1px solid #ccc;
		@include box-shadow(0 1px 2px rgba(0, 0, 0, 0.3));
		text-shadow: 0 1px 1px #fff;
		a {
			color: #326CA6;
			text-decoration: none;
			@extend %base-default-mobile-border-radius-0;
			&:hover, &:active {
				text-decoration: underline;
			}
		}
		li {
			background: url(../images/bcrumb-mobile.png) no-repeat right center;
			display: inline;
			float: left;
			margin: 0;
			padding: 5px 12px 5px 5px;
			@extend %base-default-mobile-border-radius-0;
			&:last-child {
				background-image: none;
				padding-left: 5px;
			}
		}
		ol {
			@extend %base-default-mobile-after-content;
			line-height: 1.57em;
			list-style-type: none;
			margin: 0;
			padding: 0;
			font-size: 90%;
		}
	}
}

#jqm-mb-location-text {
	margin: 0 -15px 10px;
	h2 {
		@extend %base-default-mobile-display-none;
	}
}

%base-default-mobile-display-none-important {
	display: none !important;
}

.mobile-hide {
	@extend %base-default-mobile-display-none-important;
}

.mobile-show {
	display: block !important;
}

.ui-loader-default {
	h1 {
		margin: 0;
		padding: 0;
		border: 0;
	}
}

/* Custom jquery.mobile icons */
.ui-icon-site-menu {
	@extend %base-default-mobile-icon-background-positioning;
	background-image: url(../images/icons-18-white.png);
}
.ui-icon-alt {
	@extend %base-default-mobile-icon-background-positioning;
	background-image: url(../images/icons-18-black.png);
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	only screen and (min--moz-device-pixel-ratio: 1.5), 
	only screen and (-o-min-device-pixel-ratio: 3/2), 
	only screen and (min-device-pixel-ratio: 1.5), 
	only screen and (min-resolution: 240dpi), 
	only screen and (min-resolution: 1.5dppx) {
	.ui-icon-site-menu {
		background-image: url(../images/icons-36-white.png);
	}
	.ui-icon-alt {
		background-image: url(../images/icons-36-black.png);
	}
}

/* Position and size the custom icon */
%base-default-mobile-icon-background-positioning {
	background-position: 0 50%;
	background-size: 18px 18px;
}

.no-js {
	#base-srch {
		margin-top: 3px;
		padding: 3px 0;
	}
	#base-psnb {
		li {
			border: 1px solid #222;
		}
		a {
			color: #222;
			padding: 0.45em 0.79em;
		}
	}
	.ui-content {
		@extend %base-default-mobile-padding0;
	}
	.mobile-pe {
		@extend %base-default-mobile-display-none-important;
	}
}

.pe-disable {
	#base-psnb {
		@extend %base-default-mobile-pe-disable-width100pct-float-none;
		margin-top: -11px;
		#base-psnb-in {
			@extend %base-default-mobile-pe-disable-width100pct-display-block-z100;
		}
	}
	%base-default-mobile-pe-disable-width100pct-float-none {
		width: 100% !important;
		float: none;
	}
	%base-default-mobile-pe-disable-width100pct-display-block-z100 {
		display: block;
		width: 100%;
		z-index: 100;
	}
	#base-srchbx {
		@extend %base-default-mobile-pe-disable-width100pct-float-none;
		form {
			@extend %base-default-mobile-pe-disable-width100pct-display-block-z100;
			border-bottom: 1px solid #999;
			text-align: center;
			background: #1A3D6C;
			padding: 10px 0;
		}
	}
}

/* Right to left (RTL) CSS */
%base-default-mobile-float-left {
	float: left;
}
%base-default-mobile-padding-right0 {
	padding-right: 0;
}

//Combines single text-align: right rules
%base-default-mobile-text-align-right {
	text-align: right;
}

[dir="rtl"] {
	#base-date-mod {
		@extend %base-default-mobile-float-left;
	}

	#base-sft {
		li {
			&.ui-block-a {
				a {
					&.ui-btn {
						border-left-width: 0;
					}
				}
			}
		}
	}

	#base-sft-in {
		div {
			float: right;
		}
	}

	#base-fullft {
		li {
			float: right !important;

			&#base-fullft-ca {
				div {
					@extend %base-default-mobile-text-align-right;
				}
			}
		}
	}

	#base-fullhd {
		ul {
			margin: 0 0 0 5px;

			#base-fullhd-lang {
				@extend %base-default-mobile-float-left;
			}
		}
	}

	#base-fullhd-lang {
		a {
			@extend %base-default-mobile-float-left;
		}
	}

	#base-psnb, #base-srchbx {
		@extend %base-default-mobile-float-left;

		h2 {
			padding: 0.7em 0 0.8em 18px;
			border-right: 1px solid #CCC;
			border-left: none;
		}
	}

	#base-bnr {
		.ui-navbar {
			a {
				&.ui-btn-active {
					border: 1px solid #CCC;
					border-left: none;
				}
			}
		}
	}

	#base-srchbx {
		h2 {
			padding: {
				right: 0;
				left: 20px;
			}
		}
	}

	#jqm-wb-mb {
		.ui-btn-icon-top {
			.ui-btn-inner {
				padding: 0.6em 10px 0.7em 33px;
			}
		}

		.ui-btn-icon-right {
			span {
				&.ui-btn-inner {
					@extend %base-default-mobile-padding-left0;
					padding-right: 40px;
				}
			}

			div {
				&.ui-btn-inner {
					padding: {
						left: 0;
						right: 25px;
					}
				}
			}
		}

		.wb-nested-menu {
			.ui-btn-icon-right {
				.ui-btn-inner {
					@extend %base-default-mobile-padding-right0;
				}
			}

			a {
				padding-left: 0;
				padding-right: 55px;

				&.ui-btn-icon-left {
					@extend %base-default-mobile-padding-right0;
				}
			}

			.wb-nested-menu {
				a {
					padding-left: 0;
					padding-right: 70px;

					&.ui-btn-icon-left {
						padding-left: 0;
						padding-right: 15px;
					}
				}

				.wb-nested-menu {
					a {
						padding-left: 0;
						padding-right: 85px;

						&.ui-btn-icon-left {
							padding-left: 0;
							padding-right: 30px;
						}
					}
				}
			}
		}

		.ui-btn {
			@extend %base-default-mobile-text-align-right;
		}

		.ui-icon-site-menu, .ui-icon-alt {
			background-position: 100% 50%;
		}
	}
}