/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-eng.txt / wet-boew.github.io/wet-boew/Licence-fra.txt
 */
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/images";

html {
	overflow-y: scroll;
}

body {
	padding: 0;
}

img {
	border: none;
}

h1 {
	color: #333;
	border-bottom: 1px solid #333;
	font: {
		weight: 400;
		size: 1.8em;
	}
	margin: {
		bottom: 10px !important;
		top: 0;
	}
}

%base-default-large-screen-inline-z-index1 {
	z-index: 1;
	display: inline;
}

#wb-sec {
	@extend %base-default-large-screen-inline-z-index1;
	@extend %base-default-large-screen-float-left;
}

#wb-sup {
	@extend %base-default-large-screen-inline-z-index1;
	@extend %base-default-large-screen-float-right;
	@extend %base-default-large-screen-position-relative;
}

%base-default-large-screen-overflow-hidden {
	overflow: hidden;
}

#wb-head {
	@extend %base-default-large-screen-overflow-hidden;
}

#wb-foot {
	@extend %base-default-large-screen-overflow-hidden;
	a {
		@extend %base-default-large-screen-psuedo-underline;
	}
}

#wb-foot-in {
	@extend %base-default-large-screen-overflow-hidden;
}

#base-bc {
	@extend %base-default-large-screen-overflow-hidden;
}

#base-fullft {
	@extend %base-default-large-screen-overflow-hidden;
}

#base-sft {
	@extend %base-default-large-screen-overflow-hidden;
}

#base-bc-in {
	@extend %base-default-large-screen-overflow-hidden;
}

#base-fullft-in {
	@extend %base-default-large-screen-overflow-hidden;
}

#base-sft-in {
	@extend %base-default-large-screen-overflow-hidden;
}

#wb-head-in {
	@extend %base-default-large-screen-overflow-hidden;
	background-color: #ccc;
}

#wb-core {
	background: #eee;
}

#wb-core-in {
	@extend %base-default-large-screen-position-relative;
	background: #FFF;
	overflow: visible !important;
	padding-top: 5px;
	&:after {
		content:".";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
	}
}

%base-default-large-screen-position-relative {
	position: relative;
}

#base-bnr {
	@extend %base-default-large-screen-position-relative;
	@extend %base-default-large-screen-overflow-hidden;
	z-index: 501 !important;
}

#base-bnr-in {
	@extend %base-default-large-screen-position-relative;
	@extend %base-default-large-screen-overflow-hidden;
	background: #cf3f0e;
}

#wb-main-in {
	padding: {
		top: 1px;
		bottom: 2.5em; //TODO: mixed px and ems
	}
  a {
    @extend %base-default-large-screen-link;
  }
}

%base-default-large-screen-float-right {
	float: right;
}


#wb-body-sec {
	#wb-main {
		@extend %base-default-large-screen-float-right;
	}
}

#wb-sec-in {
	margin: 7px 0 0 10px;
}

#base-title {
	@extend %base-default-large-screen-title-font;
	display: table-row;
	border: none !important;
	a {
		@extend %base-default-large-screen-title-font;
		display: inline-block;
		margin-left: 10px;
	}
	@include pseudo-focus {
		text-decoration: underline;
	}
}

#base-date-mod {
	position: absolute;
	bottom: 10px;
	right: 10px;
}

%base-default-large-screen-float-left {
	float: left;
}

#wb-body {
	#wb-main {
		@extend %base-default-large-screen-float-left;
	}
}

#wb-body-sec-sup {
	#wb-main {
		@extend %base-default-large-screen-float-right;
		@extend %base-default-large-screen-position-relative;
	}
}

%base-default-large-screen-link {
	&, &.ui-link {
		&:link {
			color: #295376;
		}
		&:visited {
			color: #5a306b;
		}
	}
}

#base-fullhd-in {
	a {
		@extend %base-default-large-screen-psuedo-underline;
		border-left: 1px solid #fff;
		display: block;
		padding: 0 1em;
	}
	li {
		&:first-child {
			a {
				border-left: none;
			}
		}
	}
	p {
		@extend %base-default-large-screen-float-left;
	}
	@extend %base-default-large-screen-overflow-hidden;
	background: #333;
}

%base-default-large-screen-title-font {
	color: #fff;
	font-size: 1.52em;
	font-family: Arial, Helvetica, sans-serif;
	text-shadow: 1px 1px 1px #333;
}

#base-title-in {
	display: table-cell;
	vertical-align: middle;
	margin: 0;
	padding: 3px 0;
}

%base-default-large-screen-border-radius-2px {
	@include border-radius(2px);
}

%base-default-large-screen-box-shadow-none {
	@include box-shadow(none);
}

#base-srchbx {
	position: absolute;
	text-align: right;
	right: 0;
	bottom: -1px;
	width: auto;
	z-index: 100;
	padding: 11px 5px 6px 12px;
	a {
		@extend %base-default-large-screen-psuedo-underline;
		&, &:visited {
			color: #fff;
			text-decoration: none;
			font-size: 80%;
			padding: 2px;
		}
	}
	input {
		margin: 0 0 1px;
		min-height: 0;
	}
	form {
		margin: 0;
	}
	label {
		position: absolute;
		@include clip-rect;
		height: 1px;
		width: 1px;
		overflow: hidden;
	}
	#base-srch {
		background: #fff;
		border: 1px solid #ccc;
		@extend %base-default-large-screen-border-radius-2px;
		@extend %base-default-large-screen-box-shadow-none;
		color: #444;
		margin-left: 0;
		padding: 2px 0;
		width: 218px;
		@include pseudo-focus(false) {
			background: #f0fcff;
		}
	}
}

#base-srch-submit {
	background: #ccc;
	@if $legacy-support-for-ie8 {
		@include filter-gradient(#F0F0F0,#CCC);
	} @else {
		@include background-image(linear-gradient(#F0F0F0,#CCC));
	}
	-webkit-appearance: none;
	min-height: 24px;
	border:{
		bottom: 1px solid #999;
		right: 1px solid #999;
		top: 1px solid #fff;
		left: 1px solid #fff;
	}
	@extend %base-default-large-screen-border-radius-2px;
	@extend %base-default-large-screen-box-shadow-none;
	color: #333;
	text-shadow: 0 1px 0 #eee;
	font-weight: 400;
	padding: 2px 6px;
	display: inline;
	@include pseudo-focus {
		background: #ddd;
		@if $legacy-support-for-ie8 {
			@include filter-gradient(#CCC,#DDD);
		} @else {
			@include background-image(linear-gradient(#CCC,#DDD));
		}
		text-shadow: 0 1px 0 #ddd;
		@extend %base-default-large-screen-box-shadow-none;
		border:{
			bottom: 1px solid #999;
			right: 1px solid #999;
			top: 1px solid #fff;
			left: 1px solid #fff;
		}
	}
	&:active {
		@include box-shadow(inset 0 0 5px 2px #999, 0 0 0 0 #eee);
		border: 1px solid #999;
	}
}

%base-default-large-screen-psuedo-underline {
	@include pseudo-focus {
		text-decoration: underline;
	}
}

#base-subsite {
	a {
		@extend %base-default-large-screen-psuedo-underline;
	}
}

#base-psnb {
	.mb-menu {
		.mb-sm-open {
			li, .nav-current {
				background: none;
			}
		}
		.nav-current {
			background: #333;
		}
		.mb-active {
			a {
				&.mb-has-sm {
					&:hover, &:link, &:visited {
						background-color: #CCC;
						color: #000;
					}
				}
			}
		}
	}
	.mb-menu {
		&, & li {
			background: #555;
		}
	}
}

@-moz-document url-prefix() {
	#base-srch-submit {
		min-height: 22px;
	}
}

/* Right to left (RTL) CSS */
[dir="rtl"] {
	#wb-body {
		#wb-main {
			@extend %base-default-large-screen-float-left;
		}
	}

	#wb-body-sec {
		#wb-main {
			@extend %base-default-large-screen-float-left;
		}
	}

	#wb-sec-in {
		margin: 7px 10px 0 0;
	}

	#base-date-mod {
		right: auto;
		left: 10px;
	}

	#wb-sec {
		@extend %base-default-large-screen-float-right;
	}

	#wb-body-sec-sup {
		#wb-main {
			@extend %base-default-large-screen-float-left;
		}
	}
	#wb-sup {
		@extend %base-default-large-screen-float-left;
	}

	#base-fullhd {
		ul {
			@extend %base-default-large-screen-float-left;
			li {
				@extend %base-default-large-screen-float-right;
				&#base-fullhd-lang {
					a {
						padding: 0 10px;
						margin: {
							right: auto;
							left: 1px;
						}
					}
				}
			}
		}

		a {
			border: {
				left: none;
				right: 1px solid #fff;
			}
		}

		li {
			&:first-child {
				a {
					border-right: none;
				}
			}
		}

	}

	#base-fullhd-in {
		p {
			@extend %base-default-large-screen-float-right;
		}
	}

	#base-title {
		a {
			margin-left: auto;
			padding-right: 10px;
		}
	}

	#base-srchbx {
		text-align: left;
		right: auto;
		left: 0;
		padding: 11px 12px 6px 5px;

		#base-srch {
			margin-left: auto;
			margin-right: 0;
		}
	}

	#base-srch-submit {
		border: {
			right: 1px solid #fff;
			left: 1px solid #999;
		}

		&:focus, &:hover {
			border: {
				right: 1px solid #fff;
				left: 1px solid #999;
			}
		}
	}
}