/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-eng.html / wet-boew.github.io/wet-boew/Licence-fra.html
 */
.no-js {
	%base-default-small-medium-ns-display-block {
		display: block;
	}

	#base-fullhd {
		ul {
			@extend %base-default-small-medium-ns-display-block;
		}
	}

	#base-bc {
		@extend %base-default-small-medium-ns-display-block;
	}

	#base-psnb {
		@extend %base-default-small-medium-ns-width100pct-float-none;
		@extend %base-default-small-medium-ns-display-block;
		#base-psnb-in {
			@extend %base-default-small-medium-ns-display-block-width100pct-z-index100;
		}
		.mb-menu {
			background: #555;
		}
	}

	%base-default-small-medium-ns-width100pct-float-none {
		width: 100% !important;
		float: none;
	}
	%base-default-small-medium-ns-display-block-width100pct-z-index100 {
		display: block;
		width: 100%;
		z-index: 100;
	}
	#base-srchbx {
		@extend %base-default-small-medium-ns-width100pct-float-none;
		@extend %base-default-small-medium-ns-display-block;
		form {
			@extend %base-default-small-medium-ns-display-block-width100pct-z-index100;
			border-bottom: 1px solid #999;
			text-align: center;
			background: #555;
			padding: 10px 0;
			margin-bottom: 0;
		}
	}

	#wb-sec {
		@extend %base-default-small-medium-ns-display-block;
	}

	#wb-foot {
		@extend %base-default-small-medium-ns-display-block;
	}
}