/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-eng.txt / wet-boew.github.io/wet-boew/Licence-fra.txt
 */
.ie7 {
	#wb-core {
		margin-bottom: -20px;
	}
	#base-title {
		zoom: 1;
		position: relative;
	}
	#base-bnr {
		float: left;
	}

	// Right to left (RTL) CSS
	&[dir="rtl"] {
		#base-bnr {
			float: right;
		}
	}
}
