/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-eng.html / wet-boew.github.io/wet-boew/Licence-fra.html
 */

body {
	margin: 0;
}

#base-fullhd {
	overflow: hidden;
	background: #555;
	font-size: 0.9em;
	color: #fff;
	a {
		color: #fff;
		text-decoration: none;
	}
}
