/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-eng.txt / wet-boew.github.io/wet-boew/Licence-fra.txt
 */
.ie7 {
	h2 {
		height: 1px !important;
		width: 1px !important;
	}
}
.ie7, .ie8 {
	%sp-pe-ie-ie7-ie8-font-weight-400 {
		font-weight: 400;
	}
	#base-tc {
		a {
			@extend %sp-pe-ie-ie7-ie8-font-weight-400;
			&.ui-link {
				@extend %sp-pe-ie-ie7-ie8-font-weight-400;
			}
		}
	}
}