@charset "utf-8";
/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt
 */
body{
	min-width:768px;
}

#base-title-in{
	width:290px;
}

#wb-body-sec-sup #wb-main{
	width:384px;
	right:192px;
}

#wb-body-sec-sup #wb-main-in{
	width:384px;
}

#wb-sec{
	width:192px;
}

#wb-sup{
	width:192px;
	left:384px;
}

#wb-core-in,#base-fullhd-in,#base-bnr-in,#base-psnb-in,#base-bc-in,#base-fullft-in,#base-sft-in,#base-bnr-in,#base-psnb .mb-menu,#wb-body #wb-main,#base-subsite p{
	width:768px;
}

#wb-body-sec #wb-main,#wb-body-sec-sup #wb-main,#wb-body-sec #wb-main-in,#wb-body-sec-sup #wb-main-in{
	width:576px;
}

#base-subsite p{
	margin:0 auto;
}