@charset "utf-8";
/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt
 */
#wb-head, #wb-foot, #wb-sec, #gcwu-date-mod {
	line-height: normal;
}
 
#gcwu-srchbx label,#gcwu-sft h3,#gcwu-bc h2{
	clip:rect(1px, 1px, 1px, 1px);
	height:0 !important;
	overflow:hidden !important;
	position:absolute;
	width:0 !important;
	margin:0 !important;
}

#gcwu-date-mod {
	dt,dd{
		float:left;
	}
	dd {
		margin:0 0 0 10px;
	}
}

#gcwu-title a {
	text-decoration:none;
}