@charset "utf-8";
/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt
 */
html{
	overflow-y:scroll;
}

body{
	padding:0;
}

#wb-head-in,#wb-core-in,#wb-foot-in{
	margin:auto;
}

#wb-sec,#wb-sup{
	z-index:1;
	display:inline;
}

#wb-head,#wb-head-in,#wb-foot,#wb-foot-in{
	overflow:hidden;
}

#wb-core-in{
	overflow:visible !important;
	position:relative;
	padding-top:5px;
}

#wb-main-in{
	padding-top:1px;
	padding-bottom:2.5em;
}

#wb-body-sec #wb-main{
	float:right;
}

#wb-sec-in{
	margin:7px 0 0 10px;
}

img{
	border:none;
}

#wb-core-in:after{
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}

#wb-body #wb-main,#wb-body-sec-sup #wb-main,#wb-sec{
	float:left;
}

#wb-body-sec-sup #wb-main,#wb-sup{
	float:right;
	position:relative;
}

.wb-sec-def {
	a.nav-current{
		border:1px solid #222;
	}
}