@charset "utf-8";
/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt
 */
#wb-main-in{
	border-top:3px outset #666;
	padding-top:5px;
}

h1{
	font-size:140%;
	margin:0 !important;
}

h2{
	font-size:125%;
}

h3{
	font-size:120%;
}

h4{
	font-size:115%;
}

h5{
	font-size:110%;
}

h6{
	font-size:100%;
}

#wb-sec,#wb-sup,#wb-foot{
	display:none;
}

.clear{
	clear:both;
	display:block;
	height:0 !important;
	min-height:0 !important;
	overflow:hidden;
	visibility:hidden;
	width:0;
	margin:0;
}