/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt
 */
html{
	overflow-y:scroll;
}

body{
	padding:0;
}

#wb-sec,#wb-sup{
	z-index:1;
	display:inline;
}

#wb-head,#wb-head-in,#wb-foot,#wb-foot-in,#base-fullhd,#base-bnr,#base-bc,#base-fullft,#base-sft,#base-fullhd-in,#base-bnr-in,#base-bc-in,#base-fullft-in,#base-sft-in{
	overflow:hidden;
}

#wb-head-in{
	background-color:#ccc;
}

#wb-core{
	background:#eee;
}

#wb-core-in{
	overflow:visible !important;
	position:relative;
	padding-top:5px;
	background:#FFF;
}

#base-bnr{
	position:relative;
	z-index:501 !important;
}

#base-bnr-in{
	position:relative;
	background:#cf3f0e;
}

#wb-main-in{
	padding-top:1px;
	padding-bottom:2.5em;
}

#wb-body-sec #wb-main{
	float:right;
}

#wb-sec-in{
	margin:7px 0 0 10px;
}

#base-title{
	&:hover,&:focus,&:active{
		text-decoration:underline;
	}
}

#base-date-mod{
	position:absolute;
	bottom:10px;
	right:10px;
}

img{
	border:none;
}

h1{
	color:#333;
	font-weight:400;
	border-bottom:1px solid #333;
	font-size:1.8em;
	margin-bottom:10px !important;
	margin-top:0;
}

#wb-core-in:after{
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}

#wb-body #wb-main,#wb-body-sec-sup #wb-main,#wb-sec{
	float:left;
}

#wb-body-sec-sup #wb-main,#wb-sup{
	float:right;
	position:relative;
}

a{
	&:link{
		color:#295376;
	}
	&:visited{
		color:#5a306b;
	}	
}

#base-fullhd{
	background:#555;
	font-size:0.9em;
	color:#FFF;
}

#base-fullhd{
	ul{
		list-style-type:none;
		float:right;
		margin:0;
		padding:0;
		li{
			float:left;
			padding:13px 0;
		}
	}
	a{
		border-left:1px solid #fff;
		color:#fff;
		display:block;
		text-decoration:none;
		padding:0 1em;
	}
	li:first-child a{
		border-left:none;
	}
}

#base-fullhd ul li#base-fullhd-lang a{
	padding-right:10px;
	margin-right:1px;
}

#base-fullhd-in{
	background:#333;
}

#base-title{
	display:table-row;
	a{
		display:inline-block;
		margin-left:10px;
	}
}

#base-title,#base-title a{
	color:#fff;
	font-size:1.52em;
	font-family:Arial, Helvetica, sans-serif;
	text-shadow:#333 1px 1px 1px;
}

#base-title-in{
	display:table-cell;
	vertical-align:middle;
	margin:0;
}

#base-srchbx{
	position:absolute;
	text-align:right;
	right:0;
	bottom:-1px;
	width:auto;
	z-index:100;
	padding:11px 5px 6px 12px;
	input{
		margin:0 0 1px;
		min-height: 0;
	}
	form{
		margin:0;
	}
	label{
		position:absolute;
		clip:rect(1px, 1px, 1px, 1px);
		height:1px;
		width:1px;
		overflow:hidden;
	}
	#base-srch{
		color:#444;
		border:1px solid #ccc;
		border-radius:2px;
		-moz-border-radius:2px;
		-webkit-border-radius:2px;
		margin-left:0;
		width:218px;
		box-shadow:none;
		-moz-box-shadow:none;
		-webkit-box-shadow:none;
		background:#fff;
		padding:2px 0;
		&:focus,&:active{
			background:#f0fcff;
		}
	}
	a,a:visited{
		color:#fff;
		text-decoration:none;
		font-size:80%;
		padding:2px;
	}	
}

#base-srch-submit{
	background:#ccc url(../images/search-button.gif) 0 0 repeat-x;
	-webkit-appearance:none;
	min-height:24px;
	border:{
		bottom:1px solid #999;
		right:1px solid #999;
		top:1px solid #fff;
		left:1px solid #fff;
		radius:2px;
	}
	color:#333;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	text-shadow:0 1px 0 #eee;
	font-weight:400;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	padding:2px 6px;
	display:inline;
	&:focus,&:hover{
		background:#ddd url(../images/search-button-focus.gif) 0 0 repeat-x;
		text-shadow:0 1px 0 #ddd;
		box-shadow:none;
		-moz-box-shadow:none;
		-webkit-box-shadow:none;
		border:{
			bottom:1px solid #999;
			right:1px solid #999;
			top:1px solid #fff;
			left:1px solid #fff;
		}
	}
	&:active{
		-moz-box-shadow:inset 0 0 5px 2px #999, 0 0 0 0 #eee;
		-webkit-box-shadow:inset 0 0 5px 2px #999, 0 0 0 0 #eee;
		box-shadow:inset 0 0 5px 2px #999, 0 0 0 0 #eee;
		border:1px solid #999;
	}
}

#base-subsite{
	a:hover,a:focus,a:active{
		text-decoration:underline;
	}
}

#base-fullhd,#base-srchbx,#wb-foot{
	a:hover,a:focus,a:active{
		text-decoration:underline;
	}
}

#base-psnb {
	.mb-menu {
		.mb-sm-open {
			li, .nav-current{
				background:none;
			}
		}
	}
	.mb-menu,.mb-menu li{
		background:#555;
	}
	.mb-menu {
		.nav-current{
			background:#333;
		}
	}
}

@-moz-document url-prefix() {
	#base-srch-submit{
		min-height: 22px;
	}
}
	