@charset "utf-8";
/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt
 */
body{
	min-width:960px;
}

#wb-head,#wb-core,#wb-foot,#gcwu-bnr,#gcwu-psnb,#gcwu-bc,#gcwu-sft{
	width:100%;
}

#gcwu-title-in{
	width:360px;
}

#wb-body-sec-sup #wb-main{
	width:480px;
	right:240px;
}

#wb-sec{
	width:240px;
}

#wb-sup{
	width:240px;
	left:480px;
}

#wb-core-in,#wb-head-in,#wb-foot-in,#gcwu-bnr-in,#gcwu-psnb-in,#gcwu-bc-in,#gcwu-sft-in,#gcwu-bnr-in,#gcwu-psnb .mb-menu,#wb-body #wb-main{
	width:960px;
}

#wb-body-sec #wb-main,#wb-body-sec-sup #wb-main,#wb-body-sec #wb-main-in,#wb-body-sec-sup #wb-main-in{
	width:720px;
}

#wb-body-sec-sup #wb-main-in{
	width:480px;
}