@charset "utf-8";
/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt
 */
body{
	margin:0;
}

h1{
	border-bottom:none;
}

#wb-head{
	background:#FF9;
	#wb-head-in{
		background-color:#9FF;
		h3{
			color:#222;
		}
	}
}

#wb-core{
	background:#262;
	#wb-core-in{
		background:#C0C;
	}
}

#wb-sec {
	background:#CC9;
}

#wb-foot {
	background:#CCC;
	#wb-foot-in {
		background:#696;
		h3 {
			color: #222;
		}
	}
}