/*
  Default Structure Grid System
 */

.container{
	margin:0 auto;
	width:$viewport-default;
}
.row{
	width:100%;
	overflow:hidden;
	margin: $gutters auto;
	@if $has-ie-backward-support == true {  *zoom:1; }
	//.row {
		//width:auto;
		//max-width:none;
		//margin: 0 (-$gutters);
	//}
	&:before {
		content:" ";
		display:table;
	}
	&:after {
		content:" ";
		display:table;
		clear: both;
	}
}

/* Straight numeric column spans */
@for $i from 1 through $columns {
		@include create_column($i, $i);
}

/*-----------------------------
	Human Readable Column loop
 ------------------------------*/
$i: 1;
@each $spn in full, half, third, fourth, fifth, sixth {
	$col: floor($columns/$i);
	@include create_column($spn, $col);
	$i: $i + 1;
}
	/*-----------------------------
		Visually pleasing divisions
	 ------------------------------*/
.row {
	.span-golden-a {
		width: 61.803399%;
		@if $has-ie-backward-support == true { _width: 61.803399% - 0.0694%; /* IE6-7 */ }
	}

	.span-golden-b {
		width: 38.196601%;
		@if $has-ie-backward-support == true { _width: 38.196601% - 0.0694%; /* IE6-7 */ }
	}
}
// Structure adjustments
.row {

/*-----------------------------
	Basic grid set-up
 ------------------------------*/
	[class*=span-] {
	  position: relative;
	  padding: 0 $gutters;
	  float: left;
	  display: inline;  
	}

	/*-----------------------------
		Helper Reflows
	 ------------------------------*/
	.span-reflow {
	  width: auto;
	  display: block;
	  float: none;
	}

	.span-centered {
	  //position: relative;
	  margin-left: auto;
	  margin-right: auto;
	  float: none;
	  display: block;
	}
}
