/*
   Responsive container - Large Screen 1200px and higher
 */ 

.row {
	[class*=span-] { 
		padding-left: $gutters-large;
		padding-right: $gutters-large;
	}
}

.bleed-full {
	 .row, &.row {  margin-left: (-$gutters-large); margin-right: (-$gutters-large);}
}

.bleed-left {
	.row, &.row { margin-left: (-$gutters-large); }
}

.bleed-right {
  .row, &.row {margin-right: (-$gutters-large);}
}


[class*=list-grid-] {
	margin:0 $gutters-large;
	> li{
		padding:0 $gutters-large $gutters-xlarge;
	}
}
