---
{
	"title": "Sticky table of contents",
	"language": "fr",
	"category": "Plugiciels",
	"description": "Provides a floating table of contents.",
	"tag": "sticky-table-of-contents",
	"parentdir": "sticky-table-of-contents",
	"altLangPrefix": "sticky-table-of-contents",
	"dateModified": "2014-12-08"
}
---

<ul>
	<li><a href="#">Standard table of contents</a></li>
</ul>

<hr />

<span class="wb-prettify all-pre hide"></span>
<section>
	<h2>Purpose</h2>
	<p>The sticky table of contents plugin is used to link to sections on the page.</p>

	<div class="row">
		<nav class="wb-tableofcontents col-md-3 col-md-push-9">
			<ol>
				<li><a href="#applications">Application</a></li>
				<li><a href="#context">Contexte</a></li>
				<li><a href="#policystatement">Énoncé de politique</a></li>
				<li><a href="#requirements">Exigences de la politique</a></li>
			</ol>
		</nav>

		<div class="col-md-9 col-md-pull-3">
			<section>
				<h3 id="applications">Application</h3>
				<p>La présente Politique s'applique aux ministères, au sens de l'article 2 de la Loi sur la gestion des finances publiques (LGFP), à l'exception des alinéas b) et c) et à moins que des lois, des règlements ou des décrets particuliers les en excluent. Toutefois, les exigences des sections 6.1.1, 6.1.2 et 6.1.4 ci-dessous ne s'appliquent qu'aux organisations de l'administration publique centrale qui figurent à l'article 11.1 de la LGFP, à moins qu'elles en soient exclues aux termes de lois, de règlements ou de décrets particuliers. D'autres ministères ou organismes distincts qui ne sont pas assujettis à ces dispositions sont encouragés à respecter ces exigences à titre de bonne pratique.</p>
			</section>

			<section>
				<h3 id="context">Contexte</h3>
				<p>Le gouvernement du Canada reconnaît que l'accès ouvert aux dispositifs et réseaux électroniques, y compris Internet, est essentiel à la transformation de la façon dont les fonctionnaires travaillent et servent les Canadiens. L'accès ouvert à Internet, y compris aux outils et services externes et du gouvernement du Canada relatifs au Web 2.0 permettra d'accroître la productivité, la communication et la collaboration et d'encourager le partage des connaissances et de l'expertise en appui à l'innovation. </p>
			</section>

			<section>
				<h3 id="policystatement">Énoncé de politique</h3>
				<p>La présente Politique a pour objectif d'assurer l'utilisation acceptable et efficiente des dispositifs et réseaux électroniques du gouvernement du Canada à l'appui de l'amélioration de la communication et la collaboration et, de ce fait, accroître la productivité ainsi que l'exécution des programmes et la prestation de services aux particuliers et aux entreprises.</p>
			</section>

			<section>
				<h3 id="requirements">Exigences de la politique</h3>
				<p>Pour les ministères dont les services de réseaux sont fournis par SPC, il incombe à l'administrateur général de ce ministère de gérer les outils à l'appui de la surveillance et d'établir des rapports mensuels, et en cas de nécessité, sur l'utilisation des dispositifs et réseaux électroniques du gouvernement du Canada afin d'aider les administrateurs généraux dans l'identification, la conduite d'enquêtes et la mise en œuvre de mesures correctives au sujet de questions d'utilisation inacceptable.</p>
			</section>	
		</div>
	</div>
</section>
