---
{
	"title": "Sticky table of contents",
	"language": "en",
	"category": "Plugins",
	"description": "Provides a floating table of contents.",
	"tag": "sticky-table-of-contents",
	"parentdir": "sticky-table-of-contents",
	"altLangPrefix": "sticky-table-of-contents",
	"tableofcontents": "true",
	"dateModified": "2014-12-08"
}
---

<ul>
	<li><a href="#">Standard table of contents</a></li>
</ul>

<hr />

<span class="wb-prettify all-pre hide"></span>
<section>
	<h2>Purpose</h2>
	<p>The sticky table of contents plugin is used to link to sections on the page.</p>

	<section>
		<h3 id="applications">Application</h3>
		<p>This policy applies to "departments" as defined in section 2 of the Financial Administration Act (FAA), with the exception of paragraphs (b) and (c), and unless otherwise excluded by specific acts, regulations or orders-in-council. However, the requirements of Sections 6.1.1, 6.1.2 and 6.1.4 below only apply to the core public administration as defined in section 11.1 of the FAA, unless otherwise excluded by specific acts, regulations or orders-in-council. Other departments or separate agencies not subject to these provisions are encouraged to meet these requirements as good practice.</p>
	</section>

	<section>
		<h3 id="context">Context</h3>
		<p>The Government of Canada recognizes that open access to Government of Canada electronic networks and devices, including the Internet, is essential to transforming the way public servants work and serve Canadians. Open access to the Internet including Government of Canada and external Web 2.0 tools and services will enhance productivity, communication and collaboration, and encourage the sharing of knowledge and expertise to support innovation.</p>
	</section>

	<section>
		<h3 id="policystatement">Policy statement</h3>
		<p>The objective of this policy is to ensure acceptable and efficient use of Government of Canada electronic networks and devices to support enhanced communication and collaboration thereby improving productivity, and program and service delivery to individuals and businesses.</p>
	</section>
	
	<section>
		<h3 id="requirements">Requirements</h3>
		<p>For departments that receive their network services from SSC, the Deputy Head of SSC is responsible for managing tools to support monitoring and providing reports monthly, and as required, about the use of Government of Canada electronic networks and devices to assist deputy heads in the identification, investigation and implementation of corrective action on issues that arise regarding unacceptable use.</p>
	</section>
</section>
