---
{
	"title": "Correctif « datalist » (saisie automatique)",
	"language": "fr",
	"category": "Correctifs",
	"categoryfile": "polyfills",
	"description": "Émule l'attribut « list » de l'élément « input », ainsi que l'élément « datalist », pour les navigateurs qui ne les supportent pas. Ceci ajoute des fonctionnalités de saisie semi-automatique des champs de « input » spécifiques en affichant dynamiquement une liste de mots qui correspondent à la « datalist ».",
	"altLangPrefix": "datalist",
	"dateModified": "2014-08-06"
}
---	
<span class="wb-prettify all-pre hide"></span>

<section>
	<h2>But</h2>
	<p>L'attribut <code>input list</code> et l'élément <code>datalist</code> de HTML5 ajoutent des fonctionnalités de saisie automatique en affichant dynamiquement une liste de mots qui correspondent à l'entrée de l'utilisateur. Étant donné que certains navigateurs ne prennent pas en charge cette fonctionnalité à l'origine, ce correctif émule la même fonctionnalité en utilisant HTML générique et WAI-ARIA. Met en œuvre le <a href="http://www.w3.org/TR/wai-aria-practices/#datepicker">modèle de conception &#171;&#160;<span lang="en">Auto Complete</span>&#160;&#187; de WAI-ARIA (anglais seulement)</a>.</p>
</section>

<div lang="en">
<p><strong>Needs translation</strong></p>
<section>
	<h2>Use when</h2>
	<ul>
		<li>Adding auto-complete functionality to specific text input fields</li>
	</ul>
</section>

<section>
	<h2>Working example</h2>

	<pre><code>&lt;label for="city"&gt;City&lt;/label&gt;
&lt;input type="text" id="city" name="city" list="suggestions" /&gt;
&lt;datalist id="suggestions"&gt;
	&lt;!--[if lte IE 9]&gt;&lt;select&gt;&lt;![endif]--&gt;
	&lt;option label="" value="Calgary"&gt;&lt;/option&gt;
	&lt;option label="" value="Edmonton"&gt;&lt;/option&gt;
	&lt;option label="" value="Iqualuit"&gt;&lt;/option&gt;
	&lt;option label="" value="Ottawa"&gt;&lt;/option&gt;
	&lt;option label="" value="Montreal"&gt;&lt;/option&gt;
	&lt;option label="" value="St. John"&gt;&lt;/option&gt;
	&lt;option label="" value="St. John's"&gt;&lt;/option&gt;
	&lt;option label="" value="Toronto"&gt;&lt;/option&gt;
	&lt;option label="" value="Vancouver"&gt;&lt;/option&gt;
	&lt;option label="" value="Whitehorse"&gt;&lt;/option&gt;
	&lt;option label="" value="Winnipeg"&gt;&lt;/option&gt;
	&lt;option label="" value="Yellowknife"&gt;&lt;/option&gt;
	&lt;!--[if lte IE 9]&gt;&lt;/select&gt;&lt;![endif]--&gt;
&lt;/datalist&gt;</code></pre>

	<ul>
		<li><a href="../../../demos/datalist/datalist-en.html">English example</a></li>
		<li><a href="../../../demos/datalist/datalist-fr.html">French example</a></li>
	</ul>
</section>

<section>
	<h2>How to implement</h2>
	<p>To use the polyfill, the standard <code>input list</code> attribute and <code>datalist</code> element must be used. In cases where a browser doesn't support this attribute and element, the polyfill is automatically loaded.</p>
</section>

<section>
	<h2>Configuration options</h2>
	<p><a href="http://www.w3.org/TR/html5/forms.html#the-datalist-element">Configuration options available for the <code>datalist</code> element (HTML5 specification)</a></p>
</section>

<section>
	<h2>Events</h2>
	<table class="table">
		<thead>
			<tr>
				<th>Event</th>
				<th>Trigger</th>
				<th>What it does</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><code>wb-init.wb-datalist</code></td>
				<td>Triggered manually (e.g., <code>$( "input[type=list]" ).trigger( "wb-init.wb-datalist" );</code>).</td>
				<td>Used to manually initialize the <code>datalist</code> polyfill on an <code>input</code> element with a <code>list</code> attribute. <strong>Note:</strong> The <code>datalist</code> polyfill will be initialized automatically unless the <code>input list</code> attribute and <code>datalist</code> element are added after the page has already loaded.</td>
			</tr>
			<tr>
				<td><code>wb-ready.wb-datalist</code> (v4.0.5+)</td>
				<td>Triggered automatically after the <code>datalist</code> polyfill initializes. <strong>Note:</strong> This event will only be triggered if the polyfill is loaded. The polyfill will not load for browsers with native <code>datalist</code> support.</td>
				<td>Used to identify where the <code>datalist</code> polyfill initialized (target of the event)
					<pre><code>$( document ).on( "wb-ready.wb-datalist", "input[type=list]", function( event ) {
});</code></pre>
					<pre><code>$( "input[type=list]" ).on( "wb-ready.wb-datalist", function( event ) {
});</code></pre>
				</td>
			</tr>
			<tr>
				<td><code>wb-ready.wb</code> (v4.0.5+)</td>
				<td>Triggered automatically when WET has finished loading and executing.</td>
				<td>Used to identify when all WET plugins and polyfills have finished loading and executing. 
					<pre><code>$( document ).on( "wb-ready.wb", function( event ) {
});</code></pre>
				</td>
			</tr>
		</tbody>
	</table>
</section>

<section>
	<h2>Source code</h2>
	<p><a href="https://github.com/wet-boew/wet-boew/tree/master/src/polyfills/datalist">Datalist polyfill source code on GitHub</a></p>
</section>
</div>
