---
{
	"title": "Utilitaire",
	"language": "fr",
	"category": "Autre",
	"categoryfile": "other",
	"description": "Page d'utilitaires.",
	"altLangPrefix": "utility",
	"dateModified": "2021-11-08"
}
---
<p>La documentation incluant les examples pratiques au sujet des utilitaires sont disponible au : <a href="../../../demos/utility/utility-fr.html">https://wet-boew.github.io/wet-boew/demos/utility/utility-fr.html</a>.</p>
