/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-eng.txt / wet-boew.github.io/wet-boew/Licence-fra.txt
 */



$columnWidth: 100%/$columns;

@mixin create_column($name, $num) {
	.row .span-#{$name} { width: $columnWidth * $num; @if $has-ie-backward-support == true { _width: $columnWidth * $num - 0.0694%; } }
}

@mixin create_mobile_column($name, $num) {
	.row .span-m-#{$name} { position: relative; width: $columnWidth * $num; }
}

@mixin create_list_column($name, $num) {
	.row .list-grid-#{$name} > li { width: 100%/$num; }
}

@mixin create_mobile_list_column($name, $num) {
	.row .list-grid-m-#{$name} > li { width: 100%/$num; }
}

@mixin create_offset($name, $num) {
	.row .offset-#{$num} { margin-left: $columnWidth * $num; @if $has-ie-backward-support == true { _margin-left: $columnWidth * $num - 0.0694%; } }
}

@mixin create_mobile_offset($name, $num) {
	.row .offset-m-#{$num} { margin-left: $columnWidth * $num; @if $has-ie-backward-support == true { _margin-left: $columnWidth * $num - 0.0694%; } }
}

@mixin create_pull_push($name, $num) {
	.row .pull-#{$num} { right: $columnWidth * $num; @if $has-ie-backward-support == true { _right: $columnWidth * $num - 0.0694%; } }
	.row .push-#{$num} { left: $columnWidth * $num; @if $has-ie-backward-support == true { _left: $columnWidth * $num - 0.0694%; } }
}

@mixin create_mobile_pull_push($name, $num) {
	.row .pull-m-#{$num} { right: $columnWidth * $num; @if $has-ie-backward-support == true { _right: $columnWidth * $num - 0.0694%; } }
	.row .push-m-#{$num} { left: $columnWidth * $num; @if $has-ie-backward-support == true { _left: $columnWidth * $num - 0.0694%; } }
}



@mixin microfix(){
	&:before, &:after {
	content: " "; /* 1 */
	display: table; /* 2 */
	}
	&:after {  clear: both; }
	zoom: 1;
	@if $has-ie-backward-support == true {  _height: 1%; }
	overflow: hidden;
}
