/*
	Web Experience Toolkit (WET) / Boîte à outils de l\'expérience Web (BOEW)
	@theme : generic
	@author : World Wide Web
	@notes: A basic theme for WET-BOEW
	@licence: wet-boew.github.io/wet-boew/License-eng.txt / wet-boew.github.io/wet-boew/Licence-fra.txt
*/

body{

  background:#FFF;
  color:#222;
  font-family:Arial,Verdana,Helvetica,sans-serif;
  font-weight:400;
  font-style:normal;
  line-height:1.5;
  position:relative;
  cursor:default;
  margin:0;
  padding:0;
  font-size:80%;
}


/* just for demo purposes */
.container {
  border: 1px dashed #999;
  border-top: none;
  border-bottom: none;
}


.example-box { background-color: #eee;  text-align: center; }


pre.prettyprint {background-color: #F5F5F5;border-radius: 3px 3px 3px 3px;}
