# This file is for unifying the coding style for different editors and IDEs
# editorconfig.org

root = true

[*]
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
indent_style = tab
indent_size = 4

[{.*,*.json,*.md,*.yml}]
indent_style = space
indent_size = 2

[site/includes/sitemenureplace.hbs]
insert_final_newline = false

[*.csv]
trim_trailing_whitespace = false

# Tracked third party files
[{dep/modernizr-custom.js,src/polyfills/events/mobile.js,src/polyfills/slider/slider.js}]
charset = unset
trim_trailing_whitespace = unset
insert_final_newline = unset
indent_style = unset
indent_size = unset
