# Set default behaviour, in case users don't have core.autocrlf set.
* text=auto

# These files are text and should be normalized (convert crlf => lf)
*.js      text
*.css     text
*.scss    text
*.html    text
*.php     text
*.inc     text
*.xml     text
*.txt     text
*.md      text
*.properties  text
*.rb      text
*.yml     text


# Images should be treated as binary
# (binary is a macro for -text -diff)
*.png     binary
*.jpeg    binary
*.gif     binary
*.jar     binary