---
{
	"title": "Alertes repliables",
	"language": "fr",
	"category": "Plugiciels",
	"description": "Créer des alertes que les utilisateurs peuvent replier.",
	"tag": "collapsible-alerts",
	"parentdir": "collapsible-alerts",
	"altLangPrefix": "collapsible-alerts",
	"dateModified": "2016-06-09"
}
---
<section>
	<details class="alert alert-success" id="alert-success" open="open">
		<summary class="h2">
			<h2>Bien joué!</h2>
		</summary>
		<p>Vous avez lue une <a href="#" class="alert-link">alerte importante</a>.</p>
	</details>
</section>

<section>
	<details class="alert alert-info" id="alert-info" open="open">
		<summary class="h2">
			<h2>Avertissement!</h2>
		</summary>
		<p>Vous devez prêter attention à <a href="#" class="alert-link">cette alerte</a>, mais elle n'est pas super importante.</p>
	</details>
</section>

<section>
	<details class="alert alert-warning" id="alert-warning" open="open">
		<summary class="h2">
			<h2>Attention!</h2>
		</summary>
		<p>Il vaudrait mieux vérifier, <a href="#" class="alert-link">c'est plutôt moche</a>.</p>
	</details>
</section>

<section>
	<details class="alert alert-danger" id="alert-danger" open="open">
		<summary class="h2">
			<h2>Ah non!</h2>
		</summary>
		<p><a href="#" class="alert-link">Modifier les paramètres</a> ou essayer d'envoyer à nouveau.</p>
	</details>
</section>
