---
{
	"title": "Interface à onglets - Carrousel",
	"language": "fr",
	"category": "Plugiciels",
	"description": "Comprime plusieurs images et légendes superposées et fourni des controls qui permettent à l'utilisateur de choisi l'image à afficher.",
	"tag": "tabs, carousel",
	"parentdir": "tabs",
	"altLangPrefix": "tabs-carousel",
	"dateModified": "2014-07-08"
}
---

<section>
	<h2>Carrousel - Style 1 (<code>carousel-s1</code>)</h2>
	<div class="wb-tabs carousel-s1">
		<ul role="tablist">
			<li class="active"><a href="#panel1">Onglet	1</a></li>
			<li><a href="#panel2">Onglet 2</a></li>
			<li><a href="#panel3">Onglet 3</a></li>
		</ul>
		<div class="tabpanels">
			<div role="tabpanel" id="panel1" class="in fade">
				<figure>
					<img src="img/protect-environment.jpg" alt="Panneau 1" />
					<figcaption>
						<p>
							Prenez note : <a href="http://www.tc.gc.ca/fra/aviationcivile/opssvs/generale-personnel-changements-1814.htm">Renouvellement du carnet de documents d'aviation</a><br />
							En savoir plus sur <a href="http://www.tc.gc.ca/fra/aerien-menu.htm">le transport aérien</a> au Canada.
						</p>
					</figcaption>
				</figure>
			</div>
			<div role="tabpanel" id="panel2" class="out fade">
				<figure>
					<img src="img/banff.jpg" alt="Panneau 2" />
					<figcaption>
						<p>
							Prenez note : <a href="http://www.tc.gc.ca/fra/securiteferroviaire/publications-46.htm">Programme d'amélioration des passages à niveau (PAPN)</a><br />
							En savoir plus sur <a href="http://www.tc.gc.ca/fra/ferroviaire-menu.htm">le transport ferroviaire</a> au Canada.
						</p>
					</figcaption>
				</figure>
			</div>
			<div role="tabpanel" id="panel3" class="out fade">
				<figure>
					<img src="img/investinourfuture.jpg" alt="Panneau 3" />
					<figcaption>
						<p>
							Prenez note : <a href="http://www.tc.gc.ca/fra/comiteexpertssecuritenaviresciternes/menu.htm">Tanker Groupe d'experts sur la sécurité</a><br />
							En savoir plus sur <a href="http://www.tc.gc.ca/fra/maritime-menu.htm">le transport maritime</a> au Canada.
						</p>
					</figcaption>
				</figure>
			</div>
		</div>
	</div>
</section>

<section>
	<h2>Carrousel - Style 2</h2>
	<div class="wb-tabs carousel-s2">
		<ul role="tablist">
			<li class="active"><a href="#panel4">Onglet 1</a></li>
			<li><a href="#panel5">Onglet 2</a></li>
			<li><a href="#panel6">Onglet 3</a></li>
		</ul>
		<div class="tabpanels">
			<div role="tabpanel" id="panel4" class="in fade">
				<figure>
					<img src="img/protect-environment.jpg" alt="Panneau 1" />
					<figcaption>
						<p>
							Prenez note : <a href="http://www.tc.gc.ca/fra/aviationcivile/opssvs/generale-personnel-changements-1814.htm">Renouvellement du carnet de documents d'aviation</a><br />
							En savoir plus sur <a href="http://www.tc.gc.ca/fra/aerien-menu.htm">le transport aérien</a> au Canada.
						</p>
					</figcaption>
				</figure>
			</div>
			<div role="tabpanel" id="panel5" class="out fade">
				<figure>
					<img src="img/banff.jpg" alt="Panneau 2" />
					<figcaption>
						<p>
							Prenez note : <a href="http://www.tc.gc.ca/fra/securiteferroviaire/publications-46.htm">Programme d'amélioration des passages à niveau (PAPN)</a><br />
							En savoir plus sur <a href="http://www.tc.gc.ca/fra/ferroviaire-menu.htm">le transport ferroviaire</a> au Canada.
						</p>
					</figcaption>
				</figure>
			</div>
			<div role="tabpanel" id="panel6" class="out fade">
				<figure>
					<img src="img/investinourfuture.jpg" alt="Panneau 3" />
					<figcaption>
						<p>
							Prenez note : <a href="http://www.tc.gc.ca/fra/comiteexpertssecuritenaviresciternes/menu.htm">Tanker Groupe d'experts sur la sécurité</a><br />
							En savoir plus sur <a href="http://www.tc.gc.ca/fra/maritime-menu.htm">le transport maritime</a> au Canada.
						</p>
					</figcaption>
				</figure>
			</div>
		</div>
	</div>
</section>

<section>
	<h2>Exemple en grilles</h2>
	<div class="row">
		<section class="col-sm-6 col-md-4">
			<h3>Carrousel - Style 1 - col-sm-6 col-md-4</h3>
			<div class="wb-tabs carousel-s1">
				<ul role="tablist">
					<li class="active"><a href="#panel7">Onglet 1</a></li>
					<li><a href="#panel8">Onglet 2</a></li>
					<li><a href="#panel9">Onglet 3</a></li>
				</ul>
				<div class="tabpanels">
					<div role="tabpanel" id="panel7" class="in fade">
						<figure>
							<img src="img/protect-environment.jpg" alt="Panneau 1" />
							<figcaption>
								<p>
									Prenez note : <a href="http://www.tc.gc.ca/fra/aviationcivile/opssvs/generale-personnel-changements-1814.htm">Renouvellement du carnet de documents d'aviation</a><br />
									En savoir plus sur <a href="http://www.tc.gc.ca/fra/aerien-menu.htm">le transport aérien</a> au Canada.
								</p>
							</figcaption>
						</figure>
					</div>
					<div role="tabpanel" id="panel8" class="out fade">
						<figure>
							<img src="img/banff.jpg" alt="Panneau 2" />
							<figcaption>
								<p>
									Prenez note : <a href="http://www.tc.gc.ca/fra/securiteferroviaire/publications-46.htm">Programme d'amélioration des passages à niveau (PAPN)</a><br />
									En savoir plus sur <a href="http://www.tc.gc.ca/fra/ferroviaire-menu.htm">le transport ferroviaire</a> au Canada.
								</p>
							</figcaption>
						</figure>
					</div>
					<div role="tabpanel" id="panel9" class="out fade">
						<figure>
							<img src="img/investinourfuture.jpg" alt="Panneau 3" />
							<figcaption>
								<p>
									Prenez note : <a href="http://www.tc.gc.ca/fra/comiteexpertssecuritenaviresciternes/menu.htm">Tanker Groupe d'experts sur la sécurité</a><br />
									En savoir plus sur <a href="http://www.tc.gc.ca/fra/maritime-menu.htm">le transport maritime</a> au Canada.
								</p>
							</figcaption>
						</figure>
					</div>
				</div>
			</div>
		</section>
		<section class="col-sm-6 col-md-8">
			<h3>Carrousel - Style 2 - col-sm-6 col-md-8</h3>
			<div class="wb-tabs carousel-s2">
				<ul role="tablist">
					<li class="active"><a href="#panel10">Onglet 1</a></li>
					<li><a href="#panel11">Onglet 2</a></li>
					<li><a href="#panel12">Onglet 3</a></li>
				</ul>
				<div class="tabpanels">
					<div role="tabpanel" id="panel10" class="in fade">
						<figure>
							<img src="img/protect-environment.jpg" alt="Panneau 1" />
							<figcaption>
								<p>
									Prenez note : <a href="http://www.tc.gc.ca/fra/aviationcivile/opssvs/generale-personnel-changements-1814.htm">Renouvellement du carnet de documents d'aviation</a><br />
									En savoir plus sur <a href="http://www.tc.gc.ca/fra/aerien-menu.htm">le transport aérien</a> au Canada.
								</p>
							</figcaption>
						</figure>
					</div>
					<div role="tabpanel" id="panel11" class="out fade">
						<figure>
							<img src="img/banff.jpg" alt="Panneau 2" />
							<figcaption>
								<p>
									Prenez note : <a href="http://www.tc.gc.ca/fra/securiteferroviaire/publications-46.htm">Programme d'amélioration des passages à niveau (PAPN)</a><br />
									En savoir plus sur <a href="http://www.tc.gc.ca/fra/ferroviaire-menu.htm">le transport ferroviaire</a> au Canada.
								</p>
							</figcaption>
						</figure>
					</div>
					<div role="tabpanel" id="panel12" class="out fade">
						<figure>
							<img src="img/investinourfuture.jpg" alt="Panneau 3" />
							<figcaption>
								<p>
									Prenez note : <a href="http://www.tc.gc.ca/fra/comiteexpertssecuritenaviresciternes/menu.htm">Tanker Groupe d'experts sur la sécurité</a><br />
									En savoir plus sur <a href="http://www.tc.gc.ca/fra/maritime-menu.htm">le transport maritime</a> au Canada.
								</p>
							</figcaption>
						</figure>
					</div>
				</div>
			</div>
		</section>
	</div>
</section>

<section>
	<h2>Changement de la vitesse de rotation</h2>
	<section>
		<h3>Attribut &#171;&#160;data&#160;&#187; (<code>data-wb-tabs='{"interval": 3}'</code>)</h3>
		<div class="wb-tabs carousel-s2" data-wb-tabs='{"interval": 3}'>
			<ul role="tablist">
				<li class="active"><a href="#panel13">Onglet 1</a></li>
				<li><a href="#panel14">Onglet 2</a></li>
				<li><a href="#panel15">Onglet 3</a></li>
			</ul>
			<div class="tabpanels">
				<div role="tabpanel" id="panel13" class="in fade">
					<figure>
						<img src="img/protect-environment.jpg" alt="Panneau 1" />
						<figcaption>
							<p>
								Prenez note : <a href="http://www.tc.gc.ca/fra/aviationcivile/opssvs/generale-personnel-changements-1814.htm">Renouvellement du carnet de documents d'aviation</a><br />
								En savoir plus sur <a href="http://www.tc.gc.ca/fra/aerien-menu.htm">le transport aérien</a> au Canada.
							</p>
						</figcaption>
					</figure>
				</div>
				<div role="tabpanel" id="panel14" class="out fade">
					<figure>
						<img src="img/banff.jpg" alt="Panneau 2" />
						<figcaption>
							<p>
								Prenez note : <a href="http://www.tc.gc.ca/fra/securiteferroviaire/publications-46.htm">Programme d'amélioration des passages à niveau (PAPN)</a><br />
								En savoir plus sur <a href="http://www.tc.gc.ca/fra/ferroviaire-menu.htm">le transport ferroviaire</a> au Canada.
							</p>
						</figcaption>
					</figure>
				</div>
				<div role="tabpanel" id="panel15" class="out fade">
					<figure>
						<img src="img/investinourfuture.jpg" alt="Panneau 3" />
						<figcaption>
							<p>
								Prenez note : <a href="http://www.tc.gc.ca/fra/comiteexpertssecuritenaviresciternes/menu.htm">Tanker Groupe d'experts sur la sécurité</a><br />
								En savoir plus sur <a href="http://www.tc.gc.ca/fra/maritime-menu.htm">le transport maritime</a> au Canada.
							</p>
						</figcaption>
					</figure>
				</div>
			</div>
		</div>
	</section>

	<section>
		<h3>Classes CSS (<code lang="en">slow</code>, <code lang="en">fast</code>)</h3>
		<div class="wb-tabs carousel-s2" data-wb-tabs='{"interval": 3}'>
			<ul role="tablist">
				<li class="active"><a href="#panel16">Onglet 1</a></li>
				<li><a href="#panel17">Onglet 2</a></li>
				<li><a href="#panel18">Onglet 3</a></li>
			</ul>
			<div class="tabpanels">
				<div role="tabpanel" id="panel16" class="in fade">
					<figure>
						<img src="img/protect-environment.jpg" alt="Panneau 1" />
						<figcaption>
							<p>
								Prenez note : <a href="http://www.tc.gc.ca/fra/aviationcivile/opssvs/generale-personnel-changements-1814.htm">Renouvellement du carnet de documents d'aviation</a><br />
								En savoir plus sur <a href="http://www.tc.gc.ca/fra/aerien-menu.htm">le transport aérien</a> au Canada.
							</p>
						</figcaption>
					</figure>
				</div>
				<div role="tabpanel" id="panel17" class="out fade">
					<figure>
						<img src="img/banff.jpg" alt="Panneau 2" />
						<figcaption>
							<p>
								Prenez note : <a href="http://www.tc.gc.ca/fra/securiteferroviaire/publications-46.htm">Programme d'amélioration des passages à niveau (PAPN)</a><br />
								En savoir plus sur <a href="http://www.tc.gc.ca/fra/ferroviaire-menu.htm">le transport ferroviaire</a> au Canada.
							</p>
						</figcaption>
					</figure>
				</div>
				<div role="tabpanel" id="panel18" class="out fade">
					<figure>
						<img src="img/investinourfuture.jpg" alt="Panneau 3" />
						<figcaption>
							<p>
								Prenez note : <a href="http://www.tc.gc.ca/fra/comiteexpertssecuritenaviresciternes/menu.htm">Tanker Groupe d'experts sur la sécurité</a><br />
								En savoir plus sur <a href="http://www.tc.gc.ca/fra/maritime-menu.htm">le transport maritime</a> au Canada.
							</p>
						</figcaption>
					</figure>
				</div>
			</div>
		</div>
	</section>
</section>

<section>
	<h2>Exemple avec le lecteur multimédia</h2>
	<div class="row">
		<div class="col-xs-12 col-sm-6">
			<div class="wb-tabs carousel-s2">
				<ul role="tablist">
					<li class="active"><a href="#panel19">Onglet 1</a></li>
					<li><a href="#panel20">Onglet 2</a></li>
				</ul>
				<div class="tabpanels">
					<div role="tabpanel" id="panel19" class="in fade">
						<figure class="wb-mltmd">
							<video poster="http://www.servicecanada.gc.ca/fra/video/images/te-lj-fra.jpg" title="Trouver un emploi">
								<source type="video/webm" src="http://video2.servicecanada.gc.ca/video/boew-wet/te-lj-fra.webm" />
								<source type="video/mp4" src="http://video2.servicecanada.gc.ca/video/boew-wet/te-lj-fra.mp4" />
								<track src="../multimedia/cpts-lg-fr.html" kind="captions" data-type="text/html" srclang="fr" label="Français" />
							</video>
							<figcaption>
								<p>Trouver un emploi (<a href="http://www.servicecanada.gc.ca/fra/video/te.shtml">Transcription</a>)</p>
							</figcaption>
						</figure>
					</div>
					<div role="tabpanel" id="panel20" class="out fade">
						<figure class="wb-mltmd">
							<video poster="http://www.servicecanada.gc.ca/fra/video/images/dc-td-fra.jpg" title="Développement des compétences">
								<source type="video/webm" src="http://video2.servicecanada.gc.ca/video/boew-wet/dc-td-fra.webm" />
								<source type="video/mp4" src="http://video2.servicecanada.gc.ca/video/boew-wet/dc-td-fra.mp4" />
								<track src="../multimedia/cpts-lg2-fr.html" kind="captions" data-type="text/html" srclang="fr" label="Français" />
							</video>
							<figcaption>
								<p>Développement des compétences (<a href="http://www.servicecanada.gc.ca/fra/video/dc.shtml">Transcription</a>)</p>
							</figcaption>
						</figure>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section>
	<h2>Transitions CSS</h2>
	<section>
		<h3 id="fade">Fondu (<code lang="fr">fade</code>)</h3>
		<div class="wb-tabs carousel-s2">
			<ul role="tablist">
				<li class="active"><a href="#panel21">Onglet 1</a></li>
				<li><a href="#panel22">Onglet 2</a></li>
				<li><a href="#panel23">Onglet 3</a></li>
			</ul>
			<div class="tabpanels">
				<div role="tabpanel" id="panel21" class="in fade">
					<figure>
						<img src="img/protect-environment.jpg" alt="Panneau 1" />
						<figcaption>
							<p>
								Prenez note : <a href="http://www.tc.gc.ca/fra/aviationcivile/opssvs/generale-personnel-changements-1814.htm">Renouvellement du carnet de documents d'aviation</a><br />
								En savoir plus sur <a href="http://www.tc.gc.ca/fra/aerien-menu.htm">le transport aérien</a> au Canada.
							</p>
						</figcaption>
					</figure>
				</div>
				<div role="tabpanel" id="panel22" class="out fade">
					<figure>
						<img src="img/banff.jpg" alt="Panneau 2" />
						<figcaption>
							<p>
								Prenez note : <a href="http://www.tc.gc.ca/fra/securiteferroviaire/publications-46.htm">Programme d'amélioration des passages à niveau (PAPN)</a><br />
								En savoir plus sur <a href="http://www.tc.gc.ca/fra/ferroviaire-menu.htm">le transport ferroviaire</a> au Canada.
							</p>
						</figcaption>
					</figure>
				</div>
				<div role="tabpanel" id="panel23" class="out fade">
					<figure>
						<img src="img/investinourfuture.jpg" alt="Panneau 3" />
						<figcaption>
							<p>
								Prenez note : <a href="http://www.tc.gc.ca/fra/comiteexpertssecuritenaviresciternes/menu.htm">Tanker Groupe d'experts sur la sécurité</a><br />
								En savoir plus sur <a href="http://www.tc.gc.ca/fra/maritime-menu.htm">le transport maritime</a> au Canada.
							</p>
						</figcaption>
					</figure>
				</div>
			</div>
		</div>
	</section>

	<section>
		<h3 id="slide">Coulisse - Horizontal (<code lang="fr">slide</code>)</h3>
		<div class="wb-tabs carousel-s2 slide">
			<ul role="tablist">
				<li class="active"><a href="#panel24">Onglet 1</a></li>
				<li><a href="#panel25">Onglet 2</a></li>
				<li><a href="#panel26">Onglet 3</a></li>
			</ul>
			<div class="tabpanels">
				<div role="tabpanel" id="panel24" class="in">
					<figure>
						<img src="img/protect-environment.jpg" alt="Panneau 1" />
						<figcaption>
							<p>
								Prenez note : <a href="http://www.tc.gc.ca/fra/aviationcivile/opssvs/generale-personnel-changements-1814.htm">Renouvellement du carnet de documents d'aviation</a><br />
								En savoir plus sur <a href="http://www.tc.gc.ca/fra/aerien-menu.htm">le transport aérien</a> au Canada.
							</p>
						</figcaption>
					</figure>
				</div>
				<div role="tabpanel" id="panel25" class="out">
					<figure>
						<img src="img/banff.jpg" alt="Panneau 2" />
						<figcaption>
							<p>
								Prenez note : <a href="http://www.tc.gc.ca/fra/securiteferroviaire/publications-46.htm">Programme d'amélioration des passages à niveau (PAPN)</a><br />
								En savoir plus sur <a href="http://www.tc.gc.ca/fra/ferroviaire-menu.htm">le transport ferroviaire</a> au Canada.
							</p>
						</figcaption>
					</figure>
				</div>
				<div role="tabpanel" id="panel26" class="out">
					<figure>
						<img src="img/investinourfuture.jpg" alt="Panneau 3" />
						<figcaption>
							<p>
								Prenez note : <a href="http://www.tc.gc.ca/fra/comiteexpertssecuritenaviresciternes/menu.htm">Tanker Groupe d'experts sur la sécurité</a><br />
								En savoir plus sur <a href="http://www.tc.gc.ca/fra/maritime-menu.htm">le transport maritime</a> au Canada.
							</p>
						</figcaption>
					</figure>
				</div>
			</div>
		</div>
	</section>

	<section>
		<h3 id="slidevert">Coulisse - Vertical (<code lang="fr">slidevert</code>)</h3>
		<div class="wb-tabs carousel-s2 slidevert">
			<ul role="tablist">
				<li class="active"><a href="#panel27">Onglet 1</a></li>
				<li><a href="#panel28">Onglet 2</a></li>
				<li><a href="#panel29">Onglet 3</a></li>
			</ul>
			<div class="tabpanels">
				<div role="tabpanel" id="panel27" class="in">
					<figure>
						<img src="img/protect-environment.jpg" alt="Panneau 1" />
						<figcaption>
							<p>
								Prenez note : <a href="http://www.tc.gc.ca/fra/aviationcivile/opssvs/generale-personnel-changements-1814.htm">Renouvellement du carnet de documents d'aviation</a><br />
								En savoir plus sur <a href="http://www.tc.gc.ca/fra/aerien-menu.htm">le transport aérien</a> au Canada.
							</p>
						</figcaption>
					</figure>
				</div>
				<div role="tabpanel" id="panel28" class="out">
					<figure>
						<img src="img/banff.jpg" alt="Panneau 2" />
						<figcaption>
							<p>
								Prenez note : <a href="http://www.tc.gc.ca/fra/securiteferroviaire/publications-46.htm">Programme d'amélioration des passages à niveau (PAPN)</a><br />
								En savoir plus sur <a href="http://www.tc.gc.ca/fra/ferroviaire-menu.htm">le transport ferroviaire</a> au Canada.
							</p>
						</figcaption>
					</figure>
				</div>
				<div role="tabpanel" id="panel29" class="out">
					<figure>
						<img src="img/investinourfuture.jpg" alt="Panneau 3" />
						<figcaption>
							<p>
								Prenez note : <a href="http://www.tc.gc.ca/fra/comiteexpertssecuritenaviresciternes/menu.htm">Tanker Groupe d'experts sur la sécurité</a><br />
								En savoir plus sur <a href="http://www.tc.gc.ca/fra/maritime-menu.htm">le transport maritime</a> au Canada.
							</p>
						</figcaption>
					</figure>
				</div>
			</div>
		</div>
	</section>
</section>
