---
{
	"title": "Interface à onglets",
	"language": "fr",
	"category": "plugin",
	"description": "Comprime plusieurs sections de contenu dans le même espace physique et fourni des onglets qui permettent à l'utilisateur de choisi la section de contenu à afficher.",
	"tag": "tabs",
	"en": "tabs"
}
---

<div class="wb-tabs" data-speed="slow">
	<ul role="tablist">
		<li class="active"><a href="#tab1">Onglet 1</a></li>
		<li><a href="#tab2">Onglet 2</a></li>
		<li><a href="#tab3">Onglet 3</a></li>
	</ul>
	<section role="tabpanel" id="tab1" class="in fade">
		<figure>
			<img src="http://www.tpsgc-pwgsc.gc.ca/comm/images/min-2013-10-10.jpg" alt="" />
			<figcaption>
				<p>Dévoilement des dessins de conception de l'édifice patrimonial Sir John A. Macdonald</p>
				<p>
					<a href="http://nouvelles.gc.ca/web/article-fra.do?mthd=tp&crtr.page=1&nid=779619&crtr.tp1D=1" class="btn btn-primary">Pour en savoir plus<span class="wb-inv"> - Dévoilement des dessins de conception de l'édifice patrimonial Sir John A. Macdonalde</span></a>
				</p>
			</figcaption>
		</figure>
	</section>
	<section role="tabpanel" id="tab2" class="out fade">
		<figure>
			<img src="http://www.tpsgc-pwgsc.gc.ca/comm/images/pay_pen.jpg" alt="" />
			<figcaption>
				<p>En tant que le plus grand administrateur de la paye et de la pension du Canada..</p>
				<p><a href="http://www.tpsgc-pwgsc.gc.ca/remuneration-compensation/index-fra.html" class="btn btn-primary">Pour en savoir plus<span class="wb-inv"> - Services de paye et de pension pour les employés du gouvernement du Canada</span></a></p>
			</figcaption>
		</figure>
	</section>
	<section role="tabpanel" id="tab3" class="out fade">
		<figure>
			<img src="http://www.tpsgc-pwgsc.gc.ca/comm/images/paystub.jpg" alt="" />
			<figcaption>
				<p>Paye - Visionnez et imprimez vos états des gains et relevés d'impôt</p>
				<p>
					<a href="http://www.tpsgc-pwgsc.gc.ca/remuneration-compensation/awr-cwa/index-fra.html" class="btn btn-primary">Pour en savoir plus<span class="wb-inv"> - Paye - Visionnez et imprimez vos états des gains et relevés d'impôt</span></a>
				</p>
			</figcaption>
		</figure>
	</section>
</div>

<div class="wb-tabs tabs-s1" data-speed="slow">
	<ul role="tablist">
		<li class="active"><a href="#tab4">Onglet 1</a></li>
		<li><a href="#tab5">Onglet 2</a></li>
		<li><a href="#tab6">Onglet 3</a></li>
	</ul>
	<section role="tabpanel" id="tab4" class="in fade">
		<figure>
			<img src="http://www.tc.gc.ca/media/images/communications-eng/flytheskies-tcbanner2.jpg" alt="" />
			<figcaption>
				<p>
					Prenez note : <a href="http://www.tc.gc.ca/fra/aviationcivile/normes/generale-personnel-changements-3419.htm">Renouvellement du carnet de documents d'aviation</a><br />
					En savoir plus sur <a href="http://www.tc.gc.ca/eng/air-menu.htm">le transport aérien</a> au Canada.
				</p>
			</figcaption>
		</figure>
	</section>
	<section role="tabpanel" id="tab5" class="out fade">
		<figure>
			<img src="http://www.tc.gc.ca/media/images/communications-eng/stayontrack-tcbanner2.jpg" alt="" />
			<figcaption>
				<p>
					Prenez note : <a href="http://www.tc.gc.ca/fra/securiteferroviaire/publications-46.htm">Programme d'amélioration des passages à niveau (PAPN)</a><br />
					En savoir plus sur <a href="/eng/rail-menu.htm">le transport ferroviaire</a> au Canada.
				</p>
			</figcaption>
		</figure>
	</section>
	<section role="tabpanel" id="tab6" class="out fade">
		<figure>
			<img src="http://www.tc.gc.ca/media/images/communications-eng/tanker2.jpg" alt="" />
			<figcaption>
				<p>
					Prenez note : <a href="http://www.tc.gc.ca/fra/comiteexpertssecuritenaviresciternes/menu.htm">Tanker Groupe d'experts sur la sécurité</a><br />
					En savoir plus sur <a href="/eng/marine-menu.htm">le transport maritime</a> au Canada.
				</p>
			</figcaption>
		</figure>
	</section>
</div>

<div class="wb-tabs tabs-s2 stopped" data-speed="slow">
	<ul role="tablist">
		<li class="active"><a href="#tab7">Onglet 1</a></li>
		<li><a href="#tab8">Onglet 2</a></li>
		<li><a href="#tab9">Onglet 3</a></li>
	</ul>
	<section role="tabpanel" id="tab7" class="in fade">
		<figure>
			<img src="http://www.tc.gc.ca/media/images/communications-eng/flytheskies-tcbanner2.jpg" alt="" />
			<figcaption>
				<p>
					Prenez note : <a href="http://www.tc.gc.ca/fra/aviationcivile/normes/generale-personnel-changements-3419.htm">Renouvellement du carnet de documents d'aviation</a><br />
					En savoir plus sur <a href="http://www.tc.gc.ca/eng/air-menu.htm">le transport aérien</a> au Canada.
				</p>
			</figcaption>
		</figure>
	</section>
	<section role="tabpanel" id="tab8" class="out fade">
		<figure>
			<img src="http://www.tc.gc.ca/media/images/communications-eng/stayontrack-tcbanner2.jpg" alt="" />
			<figcaption>
				<p>
					Prenez note : <a href="http://www.tc.gc.ca/fra/securiteferroviaire/publications-46.htm">Programme d'amélioration des passages à niveau (PAPN)</a><br />
					En savoir plus sur <a href="/eng/rail-menu.htm">le transport ferroviaire</a> au Canada.
				</p>
			</figcaption>
		</figure>
	</section>
	<section role="tabpanel" id="tab9" class="out fade">
		<figure>
			<img src="http://www.tc.gc.ca/media/images/communications-eng/tanker2.jpg" alt="" />
			<figcaption>
				<p>
					Prenez note : <a href="http://www.tc.gc.ca/fra/comiteexpertssecuritenaviresciternes/menu.htm">Tanker Groupe d'experts sur la sécurité</a><br />
					En savoir plus sur <a href="/eng/marine-menu.htm">le transport maritime</a> au Canada.
				</p>
			</figcaption>
		</figure>
	</section>
</div>

