---
{
	"title": "Tabbed Interface",
	"language": "en",
	"fr": "tabs"
}
---
<style>


.no-js #sample1 [role="tabpanel"] {
	position: static;
	display: block;
}

#sample1 {
	min-height: 600px;
}

#sample1 [role="tablist"] {
	list-style-type: none;
	position: absolute;
	top: 1em;
	left: 25%;
}



#sample1 [role="tablist"] li {
	list-style-type: none;
	display: inline;
}

#sample1 [role="tabpanel"] {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
}

#sample1 [role="tabpanel"] figure {
	position: relative;
	background: #fff;
}

#sample1 [role="tabpanel"] img {
	min-width: 100%;
	height: auto;
	display: block;

}

#sample1 [role="tabpanel"] figcaption {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	color: #fff;
	background: rgba(0,0,0,0.7);
}


</style>



<div class="wb-tabs" id="sample1" data-speed="slow">
	<ul role="tablist">
		<li><a href="#tab1" class="btn btn-default active">Tab 1</a></li>
		<li><a href="#tab2" class="btn btn-default">Tab 2</a></li>
		<li><a href="#tab3" class="btn btn-default">Tab 3</a></li>
	</ul>
	<section role="tabpanel" id="tab1" class="in fade">
		<figure>
			<img src="http://www.tc.gc.ca/media/images/communications-eng/flytheskies-tcbanner2.jpg" alt="" />
			<figcaption>
				<p>
					Take Note: <a href="http://www.tc.gc.ca/eng/civilaviation/standards/general-personnel-changes-3419.htm">Renewal of the Aviation Document Booklet</a>&nbsp;<br />
					Learn more about&nbsp;<a href="http://www.tc.gc.ca/eng/air-menu.htm">air transportation</a> in Canada.
				</p>
			</figcaption>
		</figure>
	</section>
	<section role="tabpanel" id="tab2" class="out fade">
		<figure>
			<img src="http://www.tc.gc.ca/media/images/communications-eng/stayontrack-tcbanner2.jpg" alt="" />
			<figcaption>
				<p>
					Take Note: <a href="http://www.tc.gc.ca/eng/railsafety/publications-46.htm">Grade Crossing Improvement Program (GCIP)</a><br />
					Learn more about <a href="/eng/rail-menu.htm">rail transportation</a> in Canada.
				</p>
			</figcaption>
		</figure>
	</section>
	<section role="tabpanel" id="tab3" class="out fade">
		<figure>
			<img src="http://www.tc.gc.ca/media/images/communications-eng/tanker2.jpg" alt="" />
			<figcaption>
				<p>
					Take Note: <a href="http://www.tc.gc.ca/eng/tankersafetyexpertpanel/menu.htm">Tanker Safety Expert Panel</a><br />
					Learn more about&nbsp;<a href="/eng/marine-menu.htm">marine transportation</a> in Canada.
				</p>
			</figcaption>
		</figure>
	</section>

</div>
