---
{
	"title": "Interface à onglets - Carrousel",
	"language": "fr",
	"category": "Plugiciel",
	"description": "Comprime plusieurs images et légendes superposées et fourni des controls qui permettent à l'utilisateur de choisi l'image à afficher.",
	"tag": "tabs, carousel",
	"parentdir": "tabs",
	"altLangPrefix": "tabs-carousel",
	"dateModified": "2014-02-28"
}
---

<section>
	<h2>Carrousel - Style 1 (<code>carousel-s1</code>)</h2>
	<div class="wb-tabs carousel-s1" data-speed="slow">
		<ul role="tablist">
			<li class="active"><a href="#panel1">Image 1</a></li>
			<li><a href="#panel2">Image 2</a></li>
			<li><a href="#panel3">Image 3</a></li>
		</ul>
		<div role="tabpanel" id="panel1" class="in fade">
			<figure>
				<img src="img/protect-environment.jpg" alt="panneau 1" />
				<figcaption>
					<p>
						Prenez note : <a href="http://www.tc.gc.ca/fra/aviationcivile/normes/generale-personnel-changements-3419.htm">Renouvellement du carnet de documents d'aviation</a><br />
						En savoir plus sur <a href="http://www.tc.gc.ca/fra/aerien-menu.htm">le transport aérien</a> au Canada.
					</p>
				</figcaption>
			</figure>
		</div>
		<div role="tabpanel" id="panel2" class="out fade">
			<figure>
				<img src="img/banff.jpg" alt="panneau 2" />
				<figcaption>
					<p>
						Prenez note : <a href="http://www.tc.gc.ca/fra/securiteferroviaire/publications-46.htm">Programme d'amélioration des passages à niveau (PAPN)</a><br />
						En savoir plus sur <a href="http://www.tc.gc.ca/fra/ferroviaire-menu.htm">le transport ferroviaire</a> au Canada.
					</p>
				</figcaption>
			</figure>
		</div>
		<div role="tabpanel" id="panel3" class="out fade">
			<figure>
				<img src="img/investinourfuture.jpg" alt="panneau 3" />
				<figcaption>
					<p>
						Prenez note : <a href="http://www.tc.gc.ca/fra/comiteexpertssecuritenaviresciternes/menu.htm">Tanker Groupe d'experts sur la sécurité</a><br />
						En savoir plus sur <a href="http://www.tc.gc.ca/fra/maritime-menu.htm">le transport maritime</a> au Canada.
					</p>
				</figcaption>
			</figure>
		</div>
	</div>
</section>

<section>
	<h2>Carrousel - Style 2</h2>
	<section>
		<h3>Légende en chevauchement (par défaut)</h3>
		<div class="wb-tabs carousel-s2" data-speed="slow">
			<ul role="tablist">
				<li class="active"><a href="#panel4"><img src="img/protect-environment.jpg" alt="onglet 1" /></a></li>
				<li><a href="#panel5"><img src="img/banff.jpg" alt="onglet 2" /></a></li>
				<li><a href="#panel6"><img src="img/investinourfuture.jpg" alt="onglet 3" /></a></li>
			</ul>
			<div role="tabpanel" id="panel4" class="in fade">
				<figure>
					<img src="img/protect-environment.jpg" alt="panneau 1" />
					<figcaption>
						<p>
							Prenez note : <a href="http://www.tc.gc.ca/fra/aviationcivile/normes/generale-personnel-changements-3419.htm">Renouvellement du carnet de documents d'aviation</a><br />
							En savoir plus sur <a href="http://www.tc.gc.ca/fra/aerien-menu.htm">le transport aérien</a> au Canada.
						</p>
					</figcaption>
				</figure>
			</div>
			<div role="tabpanel" id="panel5" class="out fade">
				<figure>
					<img src="img/banff.jpg" alt="panneau 2" />
					<figcaption>
						<p>
							Prenez note : <a href="http://www.tc.gc.ca/fra/securiteferroviaire/publications-46.htm">Programme d'amélioration des passages à niveau (PAPN)</a><br />
							En savoir plus sur <a href="http://www.tc.gc.ca/fra/ferroviaire-menu.htm">le transport ferroviaire</a> au Canada.
						</p>
					</figcaption>
				</figure>
			</div>
			<div role="tabpanel" id="panel6" class="out fade">
				<figure>
					<img src="img/investinourfuture.jpg" alt="panneau 3" />
					<figcaption>
						<p>
							Prenez note : <a href="http://www.tc.gc.ca/fra/comiteexpertssecuritenaviresciternes/menu.htm">Tanker Groupe d'experts sur la sécurité</a><br />
							En savoir plus sur <a href="http://www.tc.gc.ca/fra/maritime-menu.htm">le transport maritime</a> au Canada.
						</p>
					</figcaption>
				</figure>
			</div>
		</div>
	</section>
	<section>
		<h3>Légende non en chevauchement (<code>no-overlap</code>)</h3>
		<div class="wb-tabs carousel-s2 no-overlap" data-speed="slow">
			<ul role="tablist">
				<li class="active"><a href="#panel7"><img src="img/protect-environment.jpg" alt="onglet 1" /></a></li>
				<li><a href="#panel8"><img src="img/banff.jpg" alt="onglet 2" /></a></li>
				<li><a href="#panel9"><img src="img/investinourfuture.jpg" alt="onglet 3" /></a></li>
			</ul>
			<div role="tabpanel" id="panel7" class="in fade">
				<figure>
					<img src="img/protect-environment.jpg" alt="panneau 1" />
					<figcaption>
						<p>
							Prenez note : <a href="http://www.tc.gc.ca/fra/aviationcivile/normes/generale-personnel-changements-3419.htm">Renouvellement du carnet de documents d'aviation</a><br />
							En savoir plus sur <a href="http://www.tc.gc.ca/fra/aerien-menu.htm">le transport aérien</a> au Canada.
						</p>
					</figcaption>
				</figure>
			</div>
			<div role="tabpanel" id="panel8" class="out fade">
				<figure>
					<img src="img/banff.jpg" alt="panneau 2" />
					<figcaption>
						<p>
							Prenez note : <a href="http://www.tc.gc.ca/fra/securiteferroviaire/publications-46.htm">Programme d'amélioration des passages à niveau (PAPN)</a><br />
							En savoir plus sur <a href="http://www.tc.gc.ca/fra/ferroviaire-menu.htm">le transport ferroviaire</a> au Canada.
						</p>
					</figcaption>
				</figure>
			</div>
			<div role="tabpanel" id="panel9" class="out fade">
				<figure>
					<img src="img/investinourfuture.jpg" alt="panneau 3" />
					<figcaption>
						<p>
							Prenez note : <a href="http://www.tc.gc.ca/fra/comiteexpertssecuritenaviresciternes/menu.htm">Tanker Groupe d'experts sur la sécurité</a><br />
							En savoir plus sur <a href="http://www.tc.gc.ca/fra/maritime-menu.htm">le transport maritime</a> au Canada.
						</p>
					</figcaption>
				</figure>
			</div>
		</div>
	</section>
</section>
