---
{
	"title": "Tabbed Interface - Carousel",
	"language": "en",
	"category": "Plugin",
	"description": "Dynamically stacks multiple images and captions into a carousel (or slider) widget.",
	"tag": "tabs, carousel",
	"altLangPrefix": "tabs-carousel",
	"dateModified": "2014-02-28"
}
---

<section>
	<h2>Carousel style 1 (<code>carousel-s1</code>)</h2>
	<div class="wb-tabs carousel-s1" data-speed="slow">
		<ul role="tablist">
			<li class="active"><a href="#panel1">Image 1</a></li>
			<li><a href="#panel2">Image 2</a></li>
			<li><a href="#panel3">Image 3</a></li>
		</ul>
		<div role="tabpanel" id="panel1" class="in fade">
			<figure>
				<img src="img/protect-environment.jpg" alt="panel 1" />
				<figcaption>
					<p>
						Take Note: <a href="http://www.tc.gc.ca/eng/civilaviation/standards/general-personnel-changes-3419.htm">Renewal of the Aviation Document Booklet</a>&nbsp;<br />
						Learn more about&nbsp;<a href="http://www.tc.gc.ca/eng/air-menu.htm">air transportation</a> in Canada.
					</p>
				</figcaption>
			</figure>
		</div>
		<div role="tabpanel" id="panel2" class="out fade">
			<figure>
				<img src="img/banff.jpg" alt="panel 2" />
				<figcaption>
					<p>
						Take Note: <a href="http://www.tc.gc.ca/eng/railsafety/publications-46.htm">Grade Crossing Improvement Program (GCIP)</a><br />
						Learn more about <a href="http://www.tc.gc.ca/eng/rail-menu.htm">rail transportation</a> in Canada.
					</p>
				</figcaption>
			</figure>
		</div>
		<div role="tabpanel" id="panel3" class="out fade">
			<figure>
				<img src="img/investinourfuture.jpg" alt="panel 3" />
				<figcaption>
					<p>
						Take Note: <a href="http://www.tc.gc.ca/eng/tankersafetyexpertpanel/menu.htm">Tanker Safety Expert Panel</a><br />
						Learn more about&nbsp;<a href="http://www.tc.gc.ca/eng/marine-menu.htm">marine transportation</a> in Canada.
					</p>
				</figcaption>
			</figure>
		</div>
	</div>
</section>

<section>
	<h2>Carousel style 2 (<code>carousel-s2</code>)</h2>
	<section>
		<h3>Overlapping caption (default)</h3>
		<div class="wb-tabs carousel-s2" data-speed="slow">
			<ul role="tablist">
				<li class="active"><a href="#panel4"><img src="img/protect-environment.jpg" alt="tab 1" /></a></li>
				<li><a href="#panel5"><img src="img/banff.jpg" alt="tab 2" /></a></li>
				<li><a href="#panel6"><img src="img/investinourfuture.jpg" alt="tab 3" /></a></li>
			</ul>
			<div role="tabpanel" id="panel4" class="in fade">
				<figure>
					<img src="img/protect-environment.jpg" alt="panel 1" />
					<figcaption>
						<p>
							Take Note: <a href="http://www.tc.gc.ca/eng/civilaviation/standards/general-personnel-changes-3419.htm">Renewal of the Aviation Document Booklet</a>&nbsp;<br />
							Learn more about&nbsp;<a href="http://www.tc.gc.ca/eng/air-menu.htm">air transportation</a> in Canada.
						</p>
					</figcaption>
				</figure>
			</div>
			<div role="tabpanel" id="panel5" class="out fade">
				<figure>
					<img src="img/banff.jpg" alt="panel 2" />
					<figcaption>
						<p>
							Take Note: <a href="http://www.tc.gc.ca/eng/railsafety/publications-46.htm">Grade Crossing Improvement Program (GCIP)</a><br />
							Learn more about <a href="http://www.tc.gc.ca/eng/rail-menu.htm">rail transportation</a> in Canada.
						</p>
					</figcaption>
				</figure>
			</div>
			<div role="tabpanel" id="panel6" class="out fade">
				<figure>
					<img src="img/investinourfuture.jpg" alt="panel 3" />
					<figcaption>
						<p>
							Take Note: <a href="http://www.tc.gc.ca/eng/tankersafetyexpertpanel/menu.htm">Tanker Safety Expert Panel</a><br />
							Learn more about&nbsp;<a href="http://www.tc.gc.ca/eng/marine-menu.htm">marine transportation</a> in Canada.
						</p>
					</figcaption>
				</figure>
			</div>
		</div>
	</section>

	<section>
		<h3>Non-overlapping caption (<code>no-overlap</code>)</h3>
		<div class="wb-tabs carousel-s2 no-overlap" data-speed="slow">
			<ul role="tablist">
				<li class="active"><a href="#panel7"><img src="img/protect-environment.jpg" alt="tab 1" /></a></li>
				<li><a href="#panel8"><img src="img/banff.jpg" alt="tab 2" /></a></li>
				<li><a href="#panel9"><img src="img/investinourfuture.jpg" alt="tab 3" /></a></li>
			</ul>
			<div role="tabpanel" id="panel7" class="in fade">
				<figure>
					<img src="img/protect-environment.jpg" alt="panel 1" />
					<figcaption>
						<p>
							Take Note: <a href="http://www.tc.gc.ca/eng/civilaviation/standards/general-personnel-changes-3419.htm">Renewal of the Aviation Document Booklet</a>&nbsp;<br />
							Learn more about&nbsp;<a href="http://www.tc.gc.ca/eng/air-menu.htm">air transportation</a> in Canada.
						</p>
					</figcaption>
				</figure>
			</div>
			<div role="tabpanel" id="panel8" class="out fade">
				<figure>
					<img src="img/banff.jpg" alt="panel 2" />
					<figcaption>
						<p>
							Take Note: <a href="http://www.tc.gc.ca/eng/railsafety/publications-46.htm">Grade Crossing Improvement Program (GCIP)</a><br />
							Learn more about <a href="http://www.tc.gc.ca/eng/rail-menu.htm">rail transportation</a> in Canada.
						</p>
					</figcaption>
				</figure>
			</div>
			<div role="tabpanel" id="panel9" class="out fade">
				<figure>
					<img src="img/investinourfuture.jpg" alt="panel 3" />
					<figcaption>
						<p>
							Take Note: <a href="http://www.tc.gc.ca/eng/tankersafetyexpertpanel/menu.htm">Tanker Safety Expert Panel</a><br />
							Learn more about&nbsp;<a href="http://www.tc.gc.ca/eng/marine-menu.htm">marine transportation</a> in Canada.
						</p>
					</figcaption>
				</figure>
			</div>
		</div>
	</section>
</section>
