---
{
	"title": "Tabbed Interface",
	"language": "en",
	"fr": "tabs"
}
---




<div class="wb-tabs tabs-s1" id="sample1" data-speed="slow">
	<ul role="tablist">
		<li><a href="#tab1" class="active">Tab 1</a></li>
		<li><a href="#tab2">Tab 2</a></li>
		<li><a href="#tab3">Tab 3</a></li>
	</ul>
	<section role="tabpanel" id="tab1" class="in fade">
		<figure>
			<img src="http://www.tc.gc.ca/media/images/communications-eng/flytheskies-tcbanner2.jpg" alt="" />
			<figcaption>
				<p>
					Take Note: <a href="http://www.tc.gc.ca/eng/civilaviation/standards/general-personnel-changes-3419.htm">Renewal of the Aviation Document Booklet</a>&nbsp;<br />
					Learn more about&nbsp;<a href="http://www.tc.gc.ca/eng/air-menu.htm">air transportation</a> in Canada.
				</p>
			</figcaption>
		</figure>
	</section>
	<section role="tabpanel" id="tab2" class="out fade">
		<figure>
			<img src="http://www.tc.gc.ca/media/images/communications-eng/stayontrack-tcbanner2.jpg" alt="" />
			<figcaption>
				<p>
					Take Note: <a href="http://www.tc.gc.ca/eng/railsafety/publications-46.htm">Grade Crossing Improvement Program (GCIP)</a><br />
					Learn more about <a href="/eng/rail-menu.htm">rail transportation</a> in Canada.
				</p>
			</figcaption>
		</figure>
	</section>
	<section role="tabpanel" id="tab3" class="out fade">
		<figure>
			<img src="http://www.tc.gc.ca/media/images/communications-eng/tanker2.jpg" alt="" />
			<figcaption>
				<p>
					Take Note: <a href="http://www.tc.gc.ca/eng/tankersafetyexpertpanel/menu.htm">Tanker Safety Expert Panel</a><br />
					Learn more about&nbsp;<a href="/eng/marine-menu.htm">marine transportation</a> in Canada.
				</p>
			</figcaption>
		</figure>
	</section>

</div>
