---
{
	"title": "Interface à onglets",
	"language": "fr",
	"en": "tabs"
}
---

<div class="wb-tabs tabs-s1" id="sample1" data-speed="slow">
	<ul role="tablist">
		<li><a href="#tab1" class="active">Tab 1</a></li>
		<li><a href="#tab2">Tab 2</a></li>
		<li><a href="#tab3">Tab 3</a></li>
	</ul>
	<section role="tabpanel" id="tab1" class="in fade">
		<figure>
			<img src="http://www.tc.gc.ca/media/images/communications-eng/flytheskies-tcbanner2.jpg" alt="" />
			<figcaption>
				<p>
					Prenez note : <a href="http://www.tc.gc.ca/fra/aviationcivile/normes/generale-personnel-changements-3419.htm">Renouvellement du carnet de documents d'aviation</a><br />
					En savoir plus sur <a href="http://www.tc.gc.ca/eng/air-menu.htm">le transport aérien</a> au Canada.
				</p>
			</figcaption>
		</figure>
	</section>
	<section role="tabpanel" id="tab2" class="out fade">
		<figure>
			<img src="http://www.tc.gc.ca/media/images/communications-eng/stayontrack-tcbanner2.jpg" alt="" />
			<figcaption>
				<p>
					Prenez note : <a href="http://www.tc.gc.ca/fra/securiteferroviaire/publications-46.htm">Programme d'amélioration des passages à niveau (PAPN)</a><br />
					En savoir plus sur <a href="/eng/rail-menu.htm">le transport ferroviaire</a> au Canada.
				</p>
			</figcaption>
		</figure>
	</section>
	<section role="tabpanel" id="tab3" class="out fade">
		<figure>
			<img src="http://www.tc.gc.ca/media/images/communications-eng/tanker2.jpg" alt="" />
			<figcaption>
				<p>
					Prenez note : <a href="http://www.tc.gc.ca/fra/comiteexpertssecuritenaviresciternes/menu.htm">Tanker Groupe d'experts sur la sécurité</a><br />
					En savoir plus sur <a href="/eng/marine-menu.htm">le transport maritime</a> au Canada.
				</p>
			</figcaption>
		</figure>
	</section>

</div>
