---
{
	"title": "WET theme",
	"tag": "theme-wet-boew",
	"parentdir": "theme-wet-boew",
	"altLangPrefix": "index",
	"dateModified": "2014-02-19"
}
---
<section>
	<h2>English</h2>
	<ul>
		<li><a href="content-en.html">Content page</a></li>
		<li><a href="content-secmenu-en.html">Content page - Secondary menu</a></li>
		<li><a href="content-nosearchlang-en.html">Content page - No search or language selection link</a></li>
		<li><a href="content-nositemenubc-en.html">Content page - No site menu or breadcrumb trail</a></li>
		<li><a href="content-nosearchlangsitemenubc-en.html">Content page - No search, language selection link, site menu or breadcrumb trail</a></li>
		<li><a href="splashpage-en.html">Splash page</a></li>
	</ul>
</section>

<section>
	<h2>French</h2>
	<ul>
		<li><a href="content-fr.html">Content page</a></li>
		<li><a href="content-secmenu-fr.html">Content page - Secondary menu</a></li>
		<li><a href="content-nosearchlang-fr.html">Content page - No search or language selection link</a></li>
		<li><a href="content-nositemenubc-fr.html">Content page - No site menu or breadcrumb trail</a></li>
		<li><a href="content-nosearchlangsitemenubc-fr.html">Content page - No search, language selection link, site menu or breadcrumb trail</a></li>
		<li><a href="splashpage-fr.html">Splash page</a></li>
	</ul>
</section>