/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-eng.txt / wet-boew.github.io/wet-boew/Licence-fra.txt
 */
@import "compass/css3/images";
%ogpl-serv-small-medium-width-90-height-22 {
	width: 90px;
	height: 22px;
}
%ogpl-serv-small-medium-background-white {
	background: #FFF;
}
%ogpl-serv-small-medium-color-295376 {
	color: #295376;
}
%ogpl-serv-small-medium-text-decoration-none {
	text-decoration: none;
}
%ogpl-serv-small-medium-padding-0-5 {
	padding: 0 5px;
}
%ogpl-serv-small-medium-padding-0-color-000-font-weight-700 {
	padding: 0;
	color: #000;
	font-weight: 700;
}
%ogpl-serv-small-medium-50pct-black {
	@extend %ogpl-serv-small-medium-padding-0-color-000-font-weight-700;
	font-size: 1.5em;
	@extend %ogpl-serv-small-medium-50pct-float-left;
}
%ogpl-serv-small-medium-clear-left {
	clear: left;
}
%ogpl-serv-small-medium-alt-title {
	@extend %ogpl-serv-small-medium-padding-0-color-000-font-weight-700;
	font-size: 1.2em;
}
%ogpl-serv-small-medium-display-block {
	display: block;
}
%ogpl-serv-float-left {
	float: left;
}
%ogpl-serv-small-medium-50pct-float-left {
	width: 50%;
	@extend %ogpl-serv-float-left;
}
%ogpl-serv-small-medium-display-none {
	display: none;
}
%ogpl-serv-small-medium-margin-0 {
	margin: 0;
}

#ogpl-sig {
	@extend %ogpl-serv-float-left;
	margin: 10px 0;
	img {
		margin-bottom: 0;
	}
}

a {
    color: #295376;
    font-weight: 700;
}

#ogpl-sig-in {
	width: 214px;
	height: 20px;
}

#ogpl-title {
	#ogpl-wmms {
		display: none;
	}
}

.pe-disable {
	#ogpl-title {
		#ogpl-wmms {
			display: block;
		}
	}
}

#ogpl-bar {
	@extend %ogpl-serv-small-medium-display-none;
}

#wb-foot {
	#ogpl-wmms {
		margin-top: 10px;
		width: 100%;
		img {
			@extend %ogpl-serv-small-medium-width-90-height-22;
		}
		object {
			@extend %ogpl-serv-small-medium-width-90-height-22;
		}
	}
	#ogpl-wmms-in {
		position: static;
		margin: auto;
		@extend %ogpl-serv-small-medium-width-90-height-22;
	}
}

#wb-head {
	@extend %ogpl-serv-small-medium-padding-0-5;
}

#wb-foot-in {
	@extend %ogpl-serv-small-medium-background-white;
}

#wb-head-in {
	@extend %ogpl-serv-small-medium-background-white;
}

#wb-body {
	@extend %ogpl-serv-small-medium-background-white;
	#wb-main {
		float: left !important;
	}
}

#ogpl-title {
	a {
		@extend %ogpl-serv-small-medium-color-295376;
		@extend %ogpl-serv-small-medium-text-decoration-none;
		&:visited {
			@extend %ogpl-serv-small-medium-color-295376;
			@extend %ogpl-serv-small-medium-text-decoration-none;
		}
		@include pseudo-focus {
			@extend %ogpl-serv-small-medium-color-295376;
			text-decoration: underline;
		}
	}
}

#ogpl-title-left {
	@extend %ogpl-serv-small-medium-50pct-black;
	@extend %ogpl-serv-small-medium-clear-left;
}

#ogpl-title-right {
	@extend %ogpl-serv-small-medium-50pct-black;
}

.ogpl-alt-title-left {
	@extend %ogpl-serv-small-medium-50pct-black;
	@extend %ogpl-serv-small-medium-clear-left;
	@extend %ogpl-serv-small-medium-alt-title;
}

.ogpl-alt-title-right {
	@extend %ogpl-serv-small-medium-50pct-black;
	@extend %ogpl-serv-small-medium-alt-title;
}

#wb-main-in {
    padding-left: 5px;
    padding-right: 5px;
}

#ogpl-bar {
	@extend %ogpl-serv-small-medium-display-none;
}

#wb-foot {
	@extend %ogpl-serv-small-medium-display-none;
	@extend %ogpl-serv-small-medium-background-white;
	ul {
		@extend %ogpl-serv-small-medium-margin-0;
	}
	a {
		@extend %ogpl-serv-small-medium-margin-0;
	}
	li {
		a {
			&.ui-btn {
				border-top-width: 0;
			}
		}
		&:nth-child(1), &:nth-child(2) {
			a {
				&.ui-btn {
					border-top-width: 1px;
				}
			}
		}
		&:not(:last-child) {
			&.ui-block-a {
				a {
					&.ui-btn {
						border-right-width: 0;
					}
				}
			}
		}
	}
	.ui-footer {
		border: none;
		background: none;
	}
}

#ogpl-tc {
	ul {
		width: 100%;
		padding-top: 0;
	}
	li {
		margin-right: 0;
		width: 50%;
		a {
			@include background-image(linear-gradient(#F5F5F5, #D5D5D5));
			color: #2F3E46;
			font-weight: 700;
			text-align: center;
			display: block;
			text-shadow: none;
			font-size: 100%;
			border-top-width: 0;
			padding: 9px 0;
			border: 1px solid #999;
		}
		&:first-child {
			a {
				border-right-width: 0;
			}
		}
	}
}

.ui-mobile {
	#wb-foot {
		@extend %ogpl-serv-small-medium-display-block;
	}
}

.no-js {
	#ogpl-sig {
		@extend %ogpl-serv-small-medium-50pct-float-left;
		margin-top: 20px;
	}
	#ogpl-bar {
		@extend %ogpl-serv-small-medium-display-block;
		margin-bottom: 5px;
	}
	#wb-foot {
		@extend %ogpl-serv-small-medium-display-block;
		@extend %ogpl-serv-small-medium-padding-0-5;
	}
	#ogpl-wmms {
		@extend %ogpl-serv-small-medium-50pct-float-left;
	}
	.ogpl-tc-left {
		@extend %ogpl-serv-small-medium-50pct-float-left;
	}
	.ogpl-tc-right {
		@extend %ogpl-serv-small-medium-50pct-float-left;
		text-align: right;
	}
}