/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-eng.txt / wet-boew.github.io/wet-boew/Licence-fra.txt
 */

.ie7 {
	#wb-core {
		margin-bottom: -20px;
	}
	#wb-main-in {
		position: static;
	}
	#ogpl-title {
		margin-top: -1px;
	}
	%ogpl-serv-screen-ie7-title-margin-2px {
		margin-top: 2px;
	}
	#ogpl-title-left {
		@extend %ogpl-serv-screen-ie7-title-margin-2px;
	}
	#ogpl-title-right {
		@extend %ogpl-serv-screen-ie7-title-margin-2px;
	}
	.ogpl-alt-title-left {
		@extend %ogpl-serv-screen-ie7-title-margin-2px;
	}
	.ogpl-alt-title-right {
		@extend %ogpl-serv-screen-ie7-title-margin-2px;
	}
	#wb-core-in {
		div {
			#ogpl-bar {
				margin-bottom: 13px;
			}
		}
	}
	#ogpl-tc {
		li {
			margin-bottom: 6px;
		}
	}
}

.ie7, .ie8 {
	#wb-core-in, #ogpl-tc {
		a {
			&, &.uri-link {
				font-weight: 400;
			}
		}
	}
}