/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-eng.html / wet-boew.github.io/wet-boew/Licence-fra.html
 */
%ogpl-sp-pe-responsive-large-width-100perc-min-width-960 {
	width: 100%;
	min-width: 960px;
}
%ogpl-sp-pe-responsive-large-width-960 {
	width: 960px;
}
%ogpl-sp-pe-responsive-large-margin-auto {
	margin: auto;
}

body {
	min-width: 960px;
}

#wb-head {
	@extend %ogpl-sp-pe-responsive-large-width-100perc-min-width-960;
}

#wb-core {
	@extend %ogpl-sp-pe-responsive-large-width-100perc-min-width-960;
}

#wb-head-in {
	@extend %ogpl-sp-pe-responsive-large-width-100perc-min-width-960;
}

#ogpl-bnr {
	@extend %ogpl-sp-pe-responsive-large-width-100perc-min-width-960;
}

#wb-core-in {
	@extend %ogpl-sp-pe-responsive-large-margin-auto;
	@extend %ogpl-sp-pe-responsive-large-width-960;
}

#ogpl-bnr-in {
	@extend %ogpl-sp-pe-responsive-large-margin-auto;
	@extend %ogpl-sp-pe-responsive-large-width-960;
}

#wb-body {
	#wb-main {
		@extend %ogpl-sp-pe-responsive-large-width-960;
	}
}