---
{
	"title": "Ajout au calendrier",
	"language": "fr",
	"category": "Plugiciels",
	"description": "Ajouter un événement à un calendrier (google, Apple, Android, Outlook ou autres).",
	"tag": "add-cal",
	"parentdir": "add-cal",
	"altLangPrefix": "add-cal",
	"dateModified": "2021-05-07"
}
---

<h2>Événement incluant un endroit détaillé</h2>
<p>L'exemple suivant présente un événement incluant un emplacement détaillé (nom, adresse, région, province et code postale).</p>
<div class="wb-addcal provisional mrgn-bttm-md" typeof="Event">
	<h3 property="name">Canux20</h3>
	<p property="description">CanUX (prononcé «canucks», comme l&apos; équipe de hockey) est un événement indépendant, local, à but non lucratif et dirigé par des bénévoles, créé pour les personnes qui souhaitent apprendre et partager leur expertise sur l'expérience utilisateur et la façon dont notre profession contribue à faire les choses fonctionnent mieux pour tout le monde.</p>
	<p property="location" typeof="Place">
		<span property="name">Centre Shaw</span><br />
		<span class="address" property="address" typeof="PostalAddress">
			<span property="streetAddress">55, promenade du Colonel-By</span><br />
			<span property="addressLocality">Ottawa</span>,
			<span property="addressRegion">ON</span><br />
			<span property="postalCode">K1N 9J2</span>
		</span>
	</p>
	<dl>
		<dt>Début</dt>
		<dd><time property="startDate" datetime="2020-01-27 07:00Z">Le lundi 27 janvier 2020, 7:00am (HNE)</time></dd>
		<dt>Fin</dt>
		<dd><time property="endDate" datetime="2020-01-29 12:00Z">Le mercredi 29 janvier 2020, 12:00pm (HNE)</time></dd>
	</dl>
</div>

<h2>Example d'événement incluant seulement un lieu</h2>
<p>L'exemple suivant présente un événement incluant le nom d'un lieu sans adresse complète.</p>
<div class="wb-addcal provisional mrgn-bttm-md" typeof="Event">
	<h3 property="name">Igloo Baratanga</h3>
	<p property="description">Une activité de percussions pour toute la famille! Participez à un cercle de tambours et réchauffez-vous. Aucune expérience musicale requise et sourires garantis! Viens jouer avec nous!</p>
	<p><strong>Quand</strong>&nbsp;: <time property="startDate" datetime="2020-02-08 13:00Z">Le dimanche 8 février 2021 | de 13:00 (HNE)</time> à <time property="endDate" datetime="2020-02-08 13:30Z">13:30 (HNE)</time></p>
	<p property="location"><strong>Où</strong>&nbsp;: Le Domaine des flocons au parc Jacques-Cartier (Gatineau)</p>
</div>

<h2>Code source</h2>
<pre><code>&lt;h2&gt;Évènement incluant un endroit détaillé&lt;/h2&gt;
&lt;p&gt;L'exemple suivant présente un événement incluant un emplacement détaillé (nom, adresse, région, province et code postale).&lt;/p&gt;
&lt;div class="wb-addcal provisional mrgn-bttm-md" typeof="Event"&gt;
	&lt;h3 property="name"&gt;Canux20&lt;/h3&gt;
	&lt;p property="description"&gt;CanUX (prononcé «canucks», comme l&apos; équipe de hockey) est un événement indépendant, local, à but non lucratif et dirigé par des bénévoles, créé pour les personnes qui souhaitent apprendre et partager leur expertise sur l'expérience utilisateur et la façon dont notre profession contribue à faire les choses fonctionnent mieux pour tout le monde.&lt;/p&gt;
	&lt;p property="location" typeof="Place"&gt;
		&lt;span property="name"&gt;Centre Shaw&lt;/span&gt;&lt;br /&gt;
		&lt;span class="address" property="address" typeof="PostalAddress"&gt;
			&lt;span property="streetAddress"&gt;55, promenade du Colonel-By&lt;/span&gt;&lt;br /&gt;
			&lt;span property="addressLocality"&gt;Ottawa&lt;/span&gt;,
			&lt;span property="addressRegion"&gt;ON&lt;/span&gt;&lt;br /&gt;
			&lt;span property="postalCode"&gt;K1N 9J2&lt;/span&gt;
		&lt;/span&gt;
	&lt;/p&gt;
	&lt;dl&gt;
		&lt;dt&gt;Début&lt;/dt&gt;
		&lt;dl&gt;&lt;time property="startDate" datetime="2020-01-27 07:00Z"&gt;Le lundi 27 janvier 2020, 7:00am (HNE)&lt;/time&gt;&lt;/dl&gt;
		&lt;dt&gt;Fin&lt;/dt&gt;
		&lt;dl&gt;&lt;time property="endDate" datetime="2020-01-29 12:00Z"&gt;Le mercredi 29 janvier 2020, 12:00pm (HNE)&lt;/time&gt;&lt;/dl&gt;
	&lt;/dl&gt;
&lt;/div&gt;
&lt;h2&gt;Example d'événement incluant seulement un lieu&lt;/h2&gt;
&lt;p&gt;L'exemple suivant présente un événement incluant le nom d'un lieu sans adresse complète.&lt;/p&gt;
&lt;div class="wb-addcal provisional mrgn-bttm-md" typeof="Event"&gt;
	&lt;h3 property="name"&gt;Igloo Baratanga&lt;/h3&gt;
	&lt;p property="description"&gt;Une activité de percussions pour toute la famille! Participez à un cercle de tambours et réchauffez-vous. Aucune expérience musicale requise et sourires garantis! Viens jouer avec nous!&lt;/p&gt;
	&lt;p&gt;&lt;strong&gt;Quand&lt;/strong&gt;&nbsp;: &lt;time property="startDate" datetime="2020-02-08 13:00Z"&gt;Le dimanche 8 février 2021 | de 13:00 (HNE)&lt;/time&gt; à &lt;time property="endDate" datetime="2020-02-08 13:30Z"&gt;13:30 (HNE)&lt;/time&gt;&lt;/p&gt;
	&lt;p property="location"&gt;&lt;strong&gt;Où&lt;/strong&gt;&nbsp;: Le Domaine des flocons au parc Jacques-Cartier (Gatineau)&lt;/p&gt;
&lt;/div&gt;</code></pre>
