/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-eng.html / wet-boew.github.io/wet-boew/Licence-fra.html
 */

@import "compass/css3/images";

.ie7, .ie8 {
	%gcwu-default-screen-images-ie8-header-background {
		background: url(../images/header-bg-ie.jpg) repeat-x center 3.1em #fff;
	}
	[id|="wb-body"] {
		@extend %gcwu-default-screen-images-ie8-header-background;
	}
	#wb-head-in {
		@extend %gcwu-default-screen-images-ie8-header-background;
		background-color: #406C93;
	}
	#gcwu-psnb {
		.mb-mega {
			.mb-sm-open {
				@include filter-gradient(#CCC, #EEE);
			}
		}
		a {
			&:hover, &:link, &:visited {
				&.mb-has-sm {
					margin-bottom: -1px;
				}
			}
		}
	}
	%gcwu-default-screen-images-ie8-deco-background {
		background: url(../images/content-deco-ie.gif) center top repeat-y;
	}
	#wb-core-in {
		@extend %gcwu-default-screen-images-ie8-deco-background;
	}
	#gcwu-bc-in {
		@extend %gcwu-default-screen-images-ie8-deco-background;
	}
	#gcwu-sft-in {
		background: url(../images/sft-deco-ie.gif) center top no-repeat;
	}
}