/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 */
@import "compass/css3/inline-block";

%gcwu-default-line-height-normal {
	line-height: normal;
}

#wb-head {
	@extend %gcwu-default-line-height-normal;
}

#wb-foot {
	@extend %gcwu-default-line-height-normal;
}

#wb-sec {
	@extend %gcwu-default-line-height-normal;
}

%gcwu-default-hidden {
	@include clip-rect;
	height: 0 !important;
	overflow: hidden !important;
	position: absolute;
	width: 0 !important;
	margin: 0 !important;
}

#gcwu-gcnb {
	h2 {
		@extend %gcwu-default-hidden;
	}
}

#gcwu-srchbx {
	label {
		@extend %gcwu-default-hidden;
	}
}

#gcwu-priorities {
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			margin: 0;
			padding: 0;
		}
	}
	img {
		margin-bottom: 0;
	}
}

#gcwu-sft {
	h3 {
		@extend %gcwu-default-hidden;
	}
}

#gcwu-bc {
	h2 {
		@extend %gcwu-default-hidden;
	}
}

#gcwu-gcft {
	h3 {
		@extend %gcwu-default-hidden;
	}
}

#gcwu-date-mod {
	@extend %gcwu-default-line-height-normal;
	dt, dd {
		float: left;
	}
	dd {
		margin: 0 0 0 0.39em;
	}
}

#gcwu-title {
	a {
		text-decoration: none;
	}
}
