/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-eng.txt / wet-boew.github.io/wet-boew/Licence-fra.txt
 */
%gcwu-default-desktop-hidden-h2 {
	h2 {
		position: absolute;
		@include clip-rect;
		height: 0 !important;
		width: 0 !important;
		overflow: hidden !important;
		margin: 0 !important;
	}
}

#gcwu-psnb {
	@extend %gcwu-default-desktop-hidden-h2;
}

#gcwu-srchbx {
	@extend %gcwu-default-desktop-hidden-h2;
}

#gcwu-bc {
	font-size: 85%;
	color: #555;
	ol {
		line-height: 1.57em;
		list-style-type: none;
		margin: 2px 10px 0;
		padding: 0;
		&:after {
			content: ".";
			display: block;
			height: 0;
			clear: both;
			visibility: hidden;
		}
	}
	li {
		float: left;
		white-space: nowrap;
	}
	a {
		color: #295376;
		text-decoration: none;
		@include pseudo-focus {
			color: #295376;
			text-decoration: underline;
		}
	}
}

#gcwu-date-mod {
	margin: 0;
}

%gcwu-default-desktop-display-none-important {
	display: none !important;
}

#gcwu-bnr {
	.ui-navbar {
		@extend %gcwu-default-desktop-display-none-important;
	}
}

#jqm-wb-mb {
	@extend %gcwu-default-desktop-display-none-important;
}

#jqm-wb-search {
	@extend %gcwu-default-desktop-display-none-important;
}

.ui-loader {
	@extend %gcwu-default-desktop-display-none-important;
}