/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt
 */
#gcwu-title {
	background: #146094 url(../images/bg-waves.jpg);
}

#jqm-wb-mb {
	#gcwu-bc-in {
		li {
			background: url(../images/bcrumb-mobile.png) no-repeat right center;
		}
	}
}

/* Custom jquery.mobile icons */
.ui-icon-site-menu {
	@extend %gcwu-default-mobile-images-background-position-important;
	background-image: url(../images/icons-18-white.png) !important;
}

.ui-icon-alt {
	@extend %gcwu-default-mobile-images-background-position-important;
	background-image: url(../images/icons-18-black.png) !important;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	only screen and (min--moz-device-pixel-ratio: 1.5),
	only screen and (-o-min-device-pixel-ratio: 3/2),
	only screen and (min-device-pixel-ratio: 1.5),
	only screen and (min-resolution: 240dpi),
	only screen and (min-resolution: 1.5dppx) {
	.ui-icon-site-menu {
		background-image: url(../images/icons-36-white.png) !important;
	}
	.ui-icon-alt {
		background-image: url(../images/icons-36-black.png) !important;
	}
}

/* Position and size the custom icon */
%gcwu-default-mobile-images-background-position-important {
	background-position: 0 50% !important;
}