/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt
 */
//TODO: Sheet is a duplicate of the IE7 version, can be merged
@import "compass/css3/images";
.ie8 {
	[id|="wb-body-sec"], #wb-head-in {
		background: url(../images/header-bg-ie.jpg) repeat-x center 3.1em #fff;
	}
	#wb-head-in {
		background-color: #406C93;
	}
	#gcwu-psnb {
		.mb-mega {
			.mb-sm-open {
				@include filter-gradient(#CCC, #EEE);
			}
		}
	}
	#wb-core-in, #gcwu-bc-in {
		background: url(../images/content-deco-ie.gif) center top repeat-y;
	}
	#gcwu-sft-in {
		background: url(../images/sft-deco-ie.gif) center top no-repeat;
	}
}