/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 */
body {
	min-width: 960px;
}

#wb-head, #wb-core, #wb-foot, #wb-head-in, #gcwu-gcnb, #gcwu-bnr, #gcwu-psnb, #gcwu-bc, #wb-foot-in, #gcwu-gcft, #gcwu-sft {
	width: 100%;
	min-width: 960px;
}

#wb-core-in, #gcwu-gcnb-in, #gcwu-bnr-in, #gcwu-psnb-in, #gcwu-bc-in, #gcwu-gcft-in, #gcwu-sft-in {
	margin: auto;
}

#gcwu-title-in {
	width: 360px;
}

#wb-body-sec-sup {
	#wb-main {
		width: 480px;
		right: 240px;
	}
}

#wb-sec {
	width: 240px;
}

#wb-sup {
	width: 240px;
	left: 480px;
}

#gcwu-gcft {
	li {
		margin: 12px 0 13px 44px;
		&:first-child {
			margin-left: 10px;
		}
	}
}

//TODO: Is li parent nessessary?
li {
	&#gcwu-gcft-ca {
		margin-left: 0 !important;
		a {
			padding-left: 44px;
		}
	}
}

#wb-core-in, #gcwu-gcnb-in, #gcwu-bnr-in, #gcwu-psnb-in, #gcwu-bc-in, #gcwu-gcft-in, #gcwu-sft-in, #gcwu-psnb .mb-menu, #wb-body #wb-main {
	width: 960px;
}

[id|="wb-body-sec"] {
	[id|="wb-main"] {
		width: 720px;
	}
}

#wb-body-sec-sup {
	#wb-main-in {
		width: 480px;
	}
}
