/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 */

.ie7, .ie8 {
	#gcwu-bc {
		li {
			background: url(../images/bcrumb.gif) left center no-repeat;
			margin: 0 5px 0 0;
			padding: 0 0 0 11px;
			&:first-child {
				background-image: none;
				padding-left: 0;
			}
		}
	}
}
