/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt
 */
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/appearance";
@import 'compass/css3/transform';
@import 'compass/css3/images';

%gcwu-default-large-screen-font-weight-400 {
	font-weight: 400;
}
%gcwu-default-large-screen-width-139-height-33 {
	width: 139px;
	height: 33px;
}
%gcwu-default-large-screen-width-234-height-22 {
	width: 234px;
	height: 22px;
}
%gcwu-default-large-screen-font-weight-400-color-333 {
	@extend %gcwu-default-large-screen-font-weight-400;
	color: #333;
}
%gcwu-default-large-screen-border-left-none {
	border-left: none;
}
%gcwu-default-link {
	&, &.ui-link {
		&:link {
			color: #295376;
		}
		&:visited {
			color: #5a306b;
		}
	}
}
%gcwu-default-large-screen-inline-z1 {
	z-index: 1;
	display: inline;
}
%gcwu-default-large-screen-overflow-hidden {
	overflow: hidden;
}
%gcwu-default-large-screen-display-block {
	display: block;
}
%gcwu-default-large-screen-position-relative {
	position: relative;
}
%gcwu-default-large-screen-position-absolute {
	position: absolute;
}
%gcwu-default-large-screen-padding-0 {
	padding: 0;
}
%gcwu-default-large-screen-margin-left-10 {
	margin-left: 10px;
}
%gcwu-default-large-screen-margin-right-10 {
	margin-right: 10px;
}
%gcwu-default-large-screen-margin-left-0 {
	margin-left: 0;
}
%gcwu-default-large-screen-margin-left-auto {
	margin-left: auto;
}
%gcwu-default-large-screen-float-left {
	float: left;
}
%gcwu-default-large-screen-float-right {
	float: right;
}
%gcwu-default-large-screen-float-right-relative {
	@extend %gcwu-default-large-screen-float-right;
	@extend %gcwu-default-large-screen-position-relative;
}
%gcwu-default-large-screen-margin-0 {
	margin: 0;
}
%gcwu-default-text-decoration-underline-a-psuedos {
	a {
		@include pseudo-focus {
			text-decoration: underline;
		}
	}
}
%gcwu-default-large-screen-right-auto {
	right: auto;
}
%gcwu-default-large-screen-padding-left-0 {
	padding-left: 0;
}
%gcwu-default-large-screen-border-right-fff-left-999 {
	border: {
		right: 1px solid #fff;
		left: 1px solid #999;
	}
}
%gcwu-default-large-screen-margin-right-0 {
	margin-right: 0;
}
%gcwu-default-large-screen-color-fff {
	color: #FFF;
}

html {
	overflow-y: scroll;
}

body {
	@extend %gcwu-default-large-screen-padding-0;
}

img {
	border: none;
}

h1 {
	@extend %gcwu-default-large-screen-font-weight-400-color-333;
	border-bottom: 1px solid #333;
	font-size: 1.8em;
	margin-bottom: 10px !important;
	margin-top: 0;
}

a {
	@extend %gcwu-default-link;
}

#wb-sup {
	@extend %gcwu-default-large-screen-inline-z1;
	@extend %gcwu-default-large-screen-float-right-relative;
}

#wb-head {
	@extend %gcwu-default-large-screen-overflow-hidden;
}

#wb-head-in {
	@extend %gcwu-default-large-screen-overflow-hidden;
}

#wb-foot {
	@extend %gcwu-default-large-screen-overflow-hidden;
	@extend %gcwu-default-text-decoration-underline-a-psuedos;
	#gcwu-wmms {
		display: none;
	}
}

#wb-foot-in {
	@extend %gcwu-default-large-screen-overflow-hidden;
}

#gcwu-bc {
	@extend %gcwu-default-large-screen-overflow-hidden;
}

#gcwu-gcft {
	@extend %gcwu-default-large-screen-overflow-hidden;
}

#gcwu-sft {
	@extend %gcwu-default-large-screen-overflow-hidden;
}

#gcwu-bc-in {
	@extend %gcwu-default-large-screen-overflow-hidden;
}

#gcwu-gcft-in {
	@extend %gcwu-default-large-screen-overflow-hidden;
}

#gcwu-sft-in {
	@extend %gcwu-default-large-screen-overflow-hidden;
}

#wb-core-in {
	overflow: visible !important;
	@extend %gcwu-default-large-screen-position-relative;
	padding-top: 5px;
	&:after {
		content: ".";
		@extend %gcwu-default-large-screen-display-block;
		height: 0;
		clear: both;
		visibility: hidden;
	}
}

#gcwu-bnr {
	@extend %gcwu-default-large-screen-overflow-hidden;
	@extend %gcwu-default-large-screen-position-relative;
	z-index: 501 !important;
}

#gcwu-bnr-in {
	@extend %gcwu-default-large-screen-overflow-hidden;
	min-height: 6.5em;
	@extend %gcwu-default-large-screen-position-relative;
}

#wb-main-in {
	padding-top: 1px;
	padding-bottom: 2.5em;
}

#wb-body-sec {
	#wb-main {
		@extend %gcwu-default-large-screen-float-right;
	}
	#gcwu-content {
		@extend %gcwu-default-large-screen-float-left;
	}
}

#wb-sec-in {
	margin: 7px 0 0 10px;
}

#wb-body {
	#gcwu-content {
		@extend %gcwu-default-large-screen-float-left;
		@extend %gcwu-default-large-screen-position-relative;
	}
	#wb-main {
		@extend %gcwu-default-large-screen-float-left;
	}
}

#gcwu-aside {
	@extend %gcwu-default-large-screen-float-right;
	@extend %gcwu-default-large-screen-margin-left-10;
	@extend %gcwu-default-large-screen-margin-right-10;
	img {
		width: 100%;
		height: auto;
		-ms-interpolation-mode: bicubic;
	}
	.gcwu-minister-img {
		img {
			width: auto !important;
			height: auto;
		}
	}
}

#gcwu-date-mod {
	@extend %gcwu-default-large-screen-position-absolute;
	bottom: 0;
	right: 10px;
}

#wb-body-sec-sup {
	#wb-main {
		@extend %gcwu-default-large-screen-float-left;
		@extend %gcwu-default-large-screen-float-right-relative;
	}
}

#wb-sec {
	@extend %gcwu-default-large-screen-float-left;
	@extend %gcwu-default-large-screen-inline-z1;
}

#gcwu-sig {
	@extend %gcwu-default-large-screen-float-left;
	margin: 9px 0 9px 10px;
	img {
		@extend %gcwu-default-large-screen-margin-left-0;
		@extend %gcwu-default-large-screen-width-234-height-22;
	}
  object {
    @extend %gcwu-default-large-screen-width-234-height-22;
  }
}

#gcwu-sig-in {
	@extend %gcwu-default-large-screen-width-234-height-22;
}

#gcwu-gcnb {
	min-height: 3.6em;
	a {
		border-left: 1px solid #fff;
		@extend %gcwu-default-large-screen-display-block;
		padding: 0 1em;
		text-shadow: none;
		@extend %gcwu-default-large-screen-font-weight-400;
	}
	li {
		&:first-child {
			a {
				@extend %gcwu-default-large-screen-border-left-none;
			}
		}
	}
}

#gcwu-gcnb-in {
	@extend %gcwu-default-large-screen-overflow-hidden;
	min-height: 41px;
}

#gcwu-title {
	height: 123px;
	display: table-row;
	a {
		display: inline-block;
		@extend %gcwu-default-large-screen-margin-left-10;
		@include pseudo-focus {
			text-decoration: underline;
		}
	}
	&, a {
		@extend %gcwu-default-large-screen-color-fff;
		font-size: 1.52em;
		font-family: Arial, Helvetica, sans-serif;
		text-shadow: 1px 1px 1px #333;
		@extend %gcwu-default-large-screen-font-weight-400;
	}
}

#gcwu-title-in {
	display: table-cell;
	vertical-align: middle;
	@extend %gcwu-default-large-screen-margin-0;
}

#gcwu-srchbx {
	@extend %gcwu-default-text-decoration-underline-a-psuedos;
	@extend %gcwu-default-large-screen-position-absolute;
	background: #146094;
	border-top: 1px solid #87aec9;
	text-align: right;
	right: 0;
	bottom: -1px;
	width: auto;
	border: {
		right: 1px solid #15527D;
		left: 1px solid #15527D;
	}
	z-index: 100;
	padding: 11px 10px 6px 12px;
	input {
		margin: 0 0 1px;
		min-height: 0;
	}
	form {
		@extend %gcwu-default-large-screen-margin-0;
	}
	label {
		@extend %gcwu-default-large-screen-position-absolute;
		@include clip-rect;
		height: 1px;
		width: 1px;
		@extend %gcwu-default-large-screen-overflow-hidden;
	}
	#gcwu-srch { //TODO: Does this need to be nested?
		color: #444;
		border: 1px solid #ccc;
		@include border-radius(2px);
		@extend %gcwu-default-large-screen-margin-left-0;
		width: 218px;
		@include box-shadow(none);
		background: #fff;
		padding: 2px 0;
		@include pseudo-focus(false) {
			background: #f0fcff;
		}
	}
	a {
		&, &:visited {
			@extend %gcwu-default-large-screen-color-fff;
			text-decoration: none;
			font-size: 80%;
			padding: 2px;
		}
	}
}

#gcwu-srch-submit {
	@include appearance(none);
	min-height: 24px;
	@if $legacy-support-for-ie8 { 
		@include filter-gradient(#F0F0F0,#CCC);
	} @else {
		@include background-image(linear-gradient(#F0F0F0,#CCC));
	}
	border: {
		bottom: 1px solid #999;
		right: 1px solid #999;
		top: 1px solid #fff;
		left: 1px solid #fff;
	}
	@include border-radius(2px);
	text-shadow: 0 1px 0 #eee;
	@extend %gcwu-default-large-screen-font-weight-400-color-333;
	@include box-shadow(none);
	padding: 2px 6px;
	display: inline;
	@include pseudo-focus {
		@if $legacy-support-for-ie8 { 
			@include filter-gradient(#CCC,#DDD);
		} @else {
			@include background-image(linear-gradient(#CCC,#DDD));
		}
		text-shadow: 0 1px 0 #ddd;
		@include box-shadow(none);
		border: {
			bottom: 1px solid #999;
			right: 1px solid #999;
			top: 1px solid #fff;
			left: 1px solid #fff;
		}
	}
	&:active {
		@include box-shadow(inset 0 0 5px 2px #999, 0 0 0 0 #eee);
		border: 1px solid #999;
	}
}

#gcwu-wmms {
	@extend %gcwu-default-large-screen-position-absolute;
	top: 39px;
	right: 10px;
	img {
		@extend %gcwu-default-large-screen-width-139-height-33;
		margin: 0;
	}
  object {
    @extend %gcwu-default-large-screen-width-139-height-33;
  }
}

#gcwu-wmms-in {
	@extend %gcwu-default-large-screen-float-right;
	@extend %gcwu-default-large-screen-width-139-height-33;
}

#gcwu-psnb {
	.wet-boew-menubar {
		margin-top: -1px;
		border-bottom: 4px solid #ccc;
	}
	.mb-menu {
		@if not $legacy-support-for-ie8 {
			border-top: 1px solid #87AEC9;
		}
		&, li {
			background: #23447e;
			min-height: 2.15em;
			@if $legacy-support-for-ie8 { 
				background: #23447e url(../images/menu-bg.gif) repeat-x;
			} @else {
				@include background-image(linear-gradient(#146094, #23447E));
			}
		}
		li {
			@extend %gcwu-default-large-screen-padding-0;
			border: {
				left: 1px solid #124B79;
				right: 1px solid #15598f;
				bottom: none;
			}
			&:first-child {
				&.mb-active {
					border-left: 1px solid #CCC;
				}
			}
		}
		a {
			@if $legacy-support-for-ie8 {
				padding: 0.45em 1.17em 0.45em 0.79em;
			} @else {
				padding: 0.48em 1.17em 0.48em 0.79em;
			}
			&.mb-has-sm {
				padding-right: 0.38em;
			}
		}
		.mb-sm-open {
			@include box-shadow(0 5px 5px -4px rgba(0, 0, 0, 0.5), 5px 5px 5px -4px rgba(0, 0, 0, 0.5), -5px 5px 5px -4px rgba(0, 0, 0, 0.5));
			border-bottom: 4px solid #0F315B;
			@if $legacy-support-for-ie8 { 
				@include filter-gradient(#CCC, #EEE);
			} @else {
				@include background-image(linear-gradient(#CCC, #EEE));
			}
			li {
				background: transparent;
				min-height: 0;
				border: none;
			}
			.nav-current {
				background: none;
			}
		}
		.mb-active {
			a {
				&:hover, &:link, &:visited {
					&.mb-has-sm {
						background-color: #CCC;
						color: #000;
					}
				}
			}
		}
		.nav-current {
			background: #0f315b;
			border-top: #8BAAA2 1px solid;
		}
	}
}

@if $experimental-support-for-mozilla {
	@-moz-document url-prefix() {
		#gcwu-srch-submit {
			min-height: 22px;
		}
	}
}

/* Right to left (RTL) CSS */
[dir="rtl"] {
	#wb-body, #wb-body-sec {
		#wb-main {
			@extend %gcwu-default-large-screen-float-left;
		}
	}

	#wb-sec-in {
		margin: 7px 10px 0 0;
	}

	#gcwu-date-mod {
		@extend %gcwu-default-large-screen-right-auto;
		left: 10px;
	}

	#wb-sec {
		@extend %gcwu-default-large-screen-float-right;
	}

	#wb-body-sec-sup {
		#wb-main {
			@extend %gcwu-default-large-screen-float-left;
		}
	}
	#wb-sup {
		@extend %gcwu-default-large-screen-float-left;
	}

	#gcwu-sig {
		@extend %gcwu-default-large-screen-float-right;
		img {
			@extend %gcwu-default-large-screen-margin-right-0;
		}
	}

	#gcwu-sig-in {
		@extend %gcwu-default-large-screen-margin-right-10;
		@extend %gcwu-default-large-screen-margin-left-0;
	}

	#gcwu-gcnb {
		ul {
			@extend %gcwu-default-large-screen-float-left;
			li {
				@extend %gcwu-default-large-screen-float-right;
				&#gcwu-gcnb-lang {
					a {
						padding: 0 10px;
						margin: {
							right: auto;
							left: 1px;
						}
					}
				}
			}
		}

		a {
			@extend %gcwu-default-large-screen-border-left-none;
			border-right: 1px solid #fff;
		}

		li {
			&:first-child {
				a {
					border-right: none;
				}
			}
		}
	}

	#gcwu-title {
		a {
			@extend %gcwu-default-large-screen-margin-left-auto;
			@extend %gcwu-default-large-screen-margin-right-10;
		}
	}

	#gcwu-srchbx {
		text-align: left;
		@extend %gcwu-default-large-screen-right-auto;
		left: 0;
		padding: 11px 12px 6px 10px;

		#gcwu-srch {
			@extend %gcwu-default-large-screen-margin-left-auto;
			@extend %gcwu-default-large-screen-margin-right-0;
		}
	}

	#gcwu-srch-submit {
		@extend %gcwu-default-large-screen-border-right-fff-left-999;
		@include pseudo-focus {
			@extend %gcwu-default-large-screen-border-right-fff-left-999;
		}
	}

	#gcwu-wmms {
		left: 10px;
		@extend %gcwu-default-large-screen-right-auto;
		img {
			@extend %gcwu-default-large-screen-right-auto;
			left: 2px;
		}
	}

	#gcwu-psnb {
		.mb-menu {
			a {
				@if $legacy-support-for-ie8 {
					padding: 0.45em 0.79em 0.45em 1.17em;
				} @else {
					padding: 0.48em 0.79em 0.48em 1.17em;
				}
				&.mb-has-sm {
					padding-left: 0.38em;
					padding-right: 0.79em;
				}
			}
		}
	}

	#gcwu-gcft-ca {
		a {
			@extend %gcwu-default-large-screen-border-left-none;
			border-right: 1px solid #666;
			@extend %gcwu-default-large-screen-padding-left-0;
			padding-right: 44px;
		}
	}
}