/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-eng.txt / wet-boew.github.io/wet-boew/Licence-fra.txt
 */
body, #wb-head, #wb-core, #wb-foot, #wb-head-in, #gcwu-gcnb, #gcwu-bnr, #gcwu-psnb, #gcwu-bc, #wb-foot-in, #gcwu-gcft, #gcwu-sft {
	min-width: 768px;
}

#gcwu-title-in {
	width: 290px;
}

#wb-body-sec-sup {
	#wb-main {
		width: 384px;
		right: 192px;
	}
	#wb-main-in {
		width: 384px;
	}
}

#wb-sec {
	width: 192px;
}

#wb-sup {
	width: 192px;
	left: 384px;
}

#gcwu-gcft {
	li {
		margin: 12px 0 13px 20px;
		&:lang(fr){
			margin: 12px 0 13px 13px;
		}
		&:first-child {
			margin-left: 10px;
		}
	}
}

//TODO: Is li parent nessessary?
li {
	&#gcwu-gcft-ca {
		margin-left: 0 !important;
		a {
			padding-left: 20px;
			&:lang(fr){
				padding-left: 13px;
			}
		}
	}
}

%gcwu-default-responsive-768-width-768px {
	width: 768px;
}

#wb-core-in {
	@extend %gcwu-default-responsive-768-width-768px;
}

#gcwu-gcnb-in {
	@extend %gcwu-default-responsive-768-width-768px;
}

#gcwu-bnr-in {
	@extend %gcwu-default-responsive-768-width-768px;
}

#gcwu-psnb-in {
	@extend %gcwu-default-responsive-768-width-768px;
}

#gcwu-bc-in {
	@extend %gcwu-default-responsive-768-width-768px;
}

#gcwu-gcft-in {
	@extend %gcwu-default-responsive-768-width-768px;
}

#gcwu-sft-in {
	@extend %gcwu-default-responsive-768-width-768px;
}

#gcwu-psnb {
	.mb-menu {
		@extend %gcwu-default-responsive-768-width-768px;
	}
}

#wb-body {
	#wb-main {
		@extend %gcwu-default-responsive-768-width-768px;
	}
}

[id|="wb-body-sec"] {
	[id|="wb-main"] {
		width: 576px;
	}
}
