/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt
 */
@import "compass/css3/images";

%gcwu-default-desktop-screen-images-header-background {
	background: {
		image: url(../images/header-leaf.jpg), url(../images/header-bg.jpg);
		repeat: no-repeat, repeat-x;
		position: center 3.08em;
		color: #fff;
	}
}
%gcwu-default-desktop-screen-images-deco-side {
	background: {
		image: url(../images/content-deco-side.gif), url(../images/content-deco-side.gif);
		position: left top, right top;
		repeat: repeat-y;
		color: #fff;
	}
}

[id|="wb-body"] {
	@extend %gcwu-default-desktop-screen-images-header-background;
}

#wb-head-in {
	@extend %gcwu-default-desktop-screen-images-header-background;
	background-color: #406C93;
}

#wb-core-in {
	@extend %gcwu-default-desktop-screen-images-deco-side;
}

#gcwu-bc-in {
	@extend %gcwu-default-desktop-screen-images-deco-side;
}

#gcwu-psnb {
	.mb-menu {
		.expandicon {
			padding-right: 0.79em;
			background: url(../images/menu-arrow.gif) no-repeat right center;
		}
	}
}

/* Right to left (RTL) CSS */
[dir="rtl"] {
	#gcwu-psnb {
		.mb-menu {
			.expandicon {
				padding-left: 0.79em;
				padding-right: 0;
				background-position: left center;
			}
		}
	}
}
