/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt
 */
#gcwu-bc {
	display: block;
}

#jqm-wb-mb {
	#gcwu-bc-in {
		display: none;
	}
}

#wb-body {
	#gcwu-content {
		width: 720px;
	}
}

#wb-body-sec {
	#gcwu-content {
		width: 480px;
	}
}

%gcwu-default-mobile-tablet-width-172 {
	width: 172px;
}
#gcwu-aside {
	@extend %gcwu-default-mobile-tablet-width-172;
}
#gcwu-priorities {
	@extend %gcwu-default-mobile-tablet-width-172;
}