/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 */
.ie7, .ie8 {
	&[dir="rtl"] {
		#gcwu-bc {
			li {
				float: right;
			}
		}
	}
	[data-theme="a"] {
		.ui-icon {
			background-color: #191919;
		}
	}
	[data-theme="b"] {
		.ui-icon {
			background-color: #1B334D;
		}
	}
	[data-theme="c"] {
		.ui-icon {
			background-color: #696969;
		}
	}
}
