/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt
 */
%gcwu-default-desktop-hidden-h2 {
	h2 {
		position: absolute;
		@include clip-rect;
		height: 0 !important;
		width: 0 !important;
		overflow: hidden !important;
		margin: 0 !important;
	}
}
%gcwu-default-desktop-background-none {
	background: none;
}
 
[class*="ui-body-"], [class*="ui-overlay-"] {
	text-shadow: none;
}

[class*="ui-body-"] .ui-link {
	font-weight: normal;
}
 
#gcwu-title {
	@extend %gcwu-default-desktop-background-none;
}

#gcwu-gcnb {
	.ui-header {
		@extend %gcwu-default-desktop-display-none-important;
	}
}

#gcwu-psnb {
	@extend %gcwu-default-desktop-hidden-h2;
}

#gcwu-srchbx {
	@extend %gcwu-default-desktop-hidden-h2;
}

#gcwu-bc-in {
	font-size: 85%;
	ol {
		margin: 2px 10px 0;
	}
	li {
		white-space: nowrap;
		margin: 0 5px 0 0;
		padding: 0 11px 0 0;
		&:last-child {
			background-image: none;
		}
	}
}

#gcwu-date-mod {
	margin: 0;
}

%gcwu-default-desktop-display-none-important {
	display: none !important;
}

#gcwu-bnr {
	.ui-navbar {
		@extend %gcwu-default-desktop-display-none-important;
	}
}

#jqm-wb-mb {
	@extend %gcwu-default-desktop-display-none-important;
}

#jqm-wb-search {
	@extend %gcwu-default-desktop-display-none-important;
}

.ui-loader {
	@extend %gcwu-default-desktop-display-none-important;
}