/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 */
.no-js {
	%gcwu-default-mobile-ns-positioning {
		width: 100% !important;
		float: none;
	}
	%gcwu-default-mobile-ns-display-block {
		display: block;
		width: 100%;
		z-index: 100;
	}
	#gcwu-psnb {
		margin-top: -11px;
		@extend %gcwu-default-mobile-ns-positioning;
		#gcwu-psnb-in {
			@extend %gcwu-default-mobile-ns-display-block;
		}
	}
	#gcwu-srchbx {
		@extend %gcwu-default-mobile-ns-positioning;
		form {
			border-bottom: 1px solid #999;
			text-align: center;
			background: #1A3D6C;
			padding: 10px 0;
			@extend %gcwu-default-mobile-ns-display-block;
		}
	}
}