/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-eng.txt / wet-boew.github.io/wet-boew/Licence-fra.txt
 */
@import "compass/css3/border-radius";

%gcwu-default-screen-text-decoration-underline {
	text-decoration: underline;
}
%gcwu-default-screen-text-decoration-none {
	text-decoration: none;
}
%gcwu-default-screen-display-none {
	display: none;
}
%gcwu-default-screen-display-block {
	display: block;
}
%gcwu-default-screen-wmms-sig-display-none {
	#gcwu-wmms-in {
		@extend %gcwu-default-screen-display-none;
	}
	#gcwu-sig-in {
		@extend %gcwu-default-screen-display-none;
	}
}
%gcwu-default-screen-wmms-sig-display-block {
	#gcwu-wmms-in {
		@extend %gcwu-default-screen-display-block;
	}
	#gcwu-sig-in {
		@extend %gcwu-default-screen-display-block;
	}
}
%gcwu-default-screen-ui-mobile-rendering-wmms-sig-display-block-none {
	&.ui-mobile {
		@extend %gcwu-default-screen-wmms-sig-display-block;
		&.ui-mobile-rendering {
			@extend %gcwu-default-screen-wmms-sig-display-none;
		}
	}
}
%gcwu-default-screen-font-arial {
	font-family: Arial, Helvetica, sans-serif;
}
%gcwu-default-screen-complex-border {
	font-size: 100%;
	border-bottom: none;
	@include border-radius(2px);
	margin: 0 0 3px;
	a {
		&, &.ui-link {
			font-weight: 700;
			background: #DDD;
			padding: 2px 4px;
			&.nav-current {
				color: #0F315B;
				padding: 1px 3px;
			}
		}
	}
}
//TODO: Similar to rule on line ?? except for the li element. Could these be merged further.
%gcwu-default-screen-a-pseudo-underline {
	a {
		&, &.ui-link {
			@extend %gcwu-default-screen-display-block;
			color: #333;
			@extend %gcwu-default-screen-text-decoration-none;
			&:visited {
				color: #333;
			}
			@include pseudo-focus {
				color: #333;
				@extend %gcwu-default-screen-text-decoration-underline;
			}
			&.nav-current {
				color: #0F315B;
			}
		}
	}
}

body {
	margin: 0;
}

#gcwu-gcnb {
	overflow: hidden;
	background: #000;
	font-size: 0.9em;
	ul {
		list-style-type: none;
		float: right;
		margin: 0;
		padding: 0;
		li {
			float: left;
			padding: 13px 0;
			&#gcwu-gcnb-lang {
				a {
					text-transform: capitalize;
					padding-right: 10px;
					margin-right: 1px;
				}
			}
		}
	}
	a {
		color: #fff;
		@extend %gcwu-default-screen-text-decoration-none;
	}
}

#gcwu-title {
	small {
		font-size: 0.45em;
		display: block;
	}		
}

#gcwu-wmms-in {
	@extend %gcwu-default-screen-display-none;
}
#gcwu-sig-in {
	@extend %gcwu-default-screen-display-none;
}
.svg {
	@extend %gcwu-default-screen-wmms-sig-display-block;
}
.pe-disable {
	@extend %gcwu-default-screen-wmms-sig-display-block;
}
.no-svg {
	@extend %gcwu-default-screen-ui-mobile-rendering-wmms-sig-display-block-none;
}
.ie9 {
	@extend %gcwu-default-screen-ui-mobile-rendering-wmms-sig-display-block-none;
}
.ie10 {
	@extend %gcwu-default-screen-ui-mobile-rendering-wmms-sig-display-block-none;
}

.wb-sec-def {
	h3 {
		@extend %gcwu-default-screen-complex-border;
		@extend %gcwu-default-screen-a-pseudo-underline;
		&.top-section {
			color: #222;
			font-size: 1.1em;
			a {
				&, &.ui-link {
					color: #fff;
					padding-top: 5px;
					padding-bottom: 5px;
					&:visited {
						color: #fff;
					}
					@include pseudo-focus {
						color: #fff;
						@extend %gcwu-default-screen-text-decoration-underline;
					}
					&.nav-current {
						color: #fff;
						padding-top: 4px;
						padding-bottom: 4px;
						background: #0f315b;
					}
				}
			}
		}
	}
	h4 {
		@extend %gcwu-default-screen-complex-border;
		@extend %gcwu-default-screen-a-pseudo-underline;
	}
	li {
		@extend %gcwu-default-screen-a-pseudo-underline;
		a {
			padding: 4px 5px;
			&.nav-current {
				padding: 3px 4px;
			}
		}
		li {
			margin-left: 0;
			border: none;
			list-style-type: none;
			padding: 0;
		}
	}
	a {
		&.nav-current {
			border: 1px solid #777;
			@include border-radius(2px);
		}
	}
	ul {
		list-style-type: none;
		margin: 0 0 3px;
		padding: 0;
		ul {
			list-style-type: none;
			margin-left: 10px;
			padding-left: 5px;
			border-left: 1px solid #ccc;
		}
	}
	.top-level {
		@extend %gcwu-default-screen-complex-border;
		@extend %gcwu-default-screen-a-pseudo-underline;
	}
}

#wb-foot {
	%gcwu-default-screen-foot-border {
		border: none;
		font: {
			size: 110%;
			weight: 700;
		}
		margin: 20px 0 5px;
	}
	h4 {
		@extend %gcwu-default-screen-foot-border;
	}
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	li {
		a {
			font-weight: 400;
		}
	}
	a {
		@extend %gcwu-default-screen-text-decoration-none;
	}
	.span-1, .span-2, .span-3, .span-4, .span-5, .span-6, .span-7, .span-8, .span-9, .span-10, .span-11, .span-12 {
		margin-bottom: 0;
	}
	.gcwu-col-head {
		@extend %gcwu-default-screen-foot-border;
		.ui-link {
			font-weight: 700;
		}
	}
}

#gcwu-sft {
	padding-bottom: 20px;
	@extend %gcwu-default-screen-font-arial;
	%gcwu-default-screen-color-222 {
		color: #222;
	}
	a {
		@extend %gcwu-default-screen-color-222;
	}
	span {
		&.link {
			@extend %gcwu-default-screen-color-222;
		}
	}
	li {
		%gcwu-default-screen-line-height-175em {
			line-height: 1.75em;
		}
		a {
			@extend %gcwu-default-screen-line-height-175em;
		}
		span {
			&.link {
				@extend %gcwu-default-screen-line-height-175em;
			}
		}
	}
	%gcwu-default-screen-margin-top-10px {
		margin-top: 10px;
	}
	h4 {
		@extend %gcwu-default-screen-margin-top-10px;
	}
	address {
		font-style: normal;
	}
	.gcwu-col-head {
		@extend %gcwu-default-screen-margin-top-10px;
	}
}

#gcwu-sft-in {
	padding-top: 20px;
	.span-1, .span-2, .span-3, .span-4, .span-5, .span-6, .span-7, .span-8, .span-9, .span-10, .span-11, .span-12 {
		position: static;
	}
}

#gcwu-tctr {
	margin: 0;
	padding: 8px 0 6px;
	li {
		display: inline;
		&.gcwu-tc {
			border-right: 1px solid #999;
			padding: 0 9px 0 10px;
		}
		&.gcwu-tr {
			padding-left: 6px;
		}
	}
}

#gcwu-gcft {
	background: #040707;
	@extend %gcwu-default-screen-font-arial;
	ul {
		list-style-type: none;
		margin: 0;
	}
	li {
		float: left;
		span {
			text-transform: uppercase;
			font-weight: 700;
		}
		//TODO: Is child selector nessessary with ID selector?
		&#gcwu-gcft-ca {
			float: right;
			padding-left: 0;
			margin-right: 0;
			div {
				font-size: 170%;
				text-align: right;
				font-weight: 400;
				margin: 0;
			}
		}
	}
	a {
		@extend %gcwu-default-screen-text-decoration-none;
		color: #fff;
		font-size: 90%;
	}
}

#gcwu-gcft-ca {
	@extend %gcwu-default-screen-font-arial;
	float: right !important;
	padding-left: 0;
	margin-right: 0;
	div {
		font-size: 170%;
		text-align: right;
		font-weight: 400;
		margin: 0;
	}
	a {
		@include inline-block;
		color: #fff;
		@extend %gcwu-default-screen-text-decoration-none;
		border-left: 1px solid #666;
		line-height: 1.45em;
		padding-right: 10px;
		font-size: 0.95em;
	}
}

/* Right to left (RTL) CSS */
[dir="rtl"] {
	#gcwu-tctr {
		padding: 11px 0 25px;
		li {
			float: right;

			&.gcwu-tc {
				border-left: 1px solid #999;
				border-right: 0;
			}

			&.gcwu-tr {
				padding: 0 9px;
			}

			a {
				line-height: 1em;
			}
		}
	}
}
