/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt
 */
body {
	min-width: 1200px;
}

#gcwu-title-in {
	width: 500px;
}

#wb-body-sec-sup {
	#wb-main {
		width: 600px;
		left: 300px;
	}
	#wb-main-in {
		width: 600px;
	}
}

#wb-sec {
	width: 300px;
}

#wb-sup {
	width: 300px;
	left: 600px;
}

#gcwu-gcft {
	li {
		margin: 12px 0 13px 88px;
		&:first-child {
			margin-left: 10px;
		}
	}
}

//TODO: Is li parent nessessary?
li {
	&#gcwu-gcft-ca {
		margin-left: 0 !important;
	}
}

%width-1200px {
	width: 1200px;
}

#wb-core-in {
	@extend %width-1200px;
}

#gcwu-gcnb-in {
	@extend %width-1200px;
}

#gcwu-bnr-in {
	@extend %width-1200px;
}

#gcwu-psnb-in {
	@extend %width-1200px;
}

#gcwu-bc-in {
	@extend %width-1200px;
}

#gcwu-gcft-in {
	@extend %width-1200px;
}

#gcwu-sft-in {
	@extend %width-1200px;
}

#gcwu-psnb {
	.mb-menu {
		@extend %width-1200px;
	}
}

#wb-body {
	#wb-main {
		@extend %width-1200px;
	}
	#gcwu-content {
		@extend %width-900px;
	}
}

%width-900px {
	width: 900px;
}

[id|="wb-body-sec"] {
	[id|="wb-main"] {
		@extend %width-900px;
	}
}

#wb-body-sec {
	#gcwu-content {
		width: 580px;
	}
}

%width-280px {
	width: 280px;
}

#gcwu-aside {
	@extend %width-280px;
}

#gcwu-priorities {
	@extend %width-280px;
}

/* Right to left (RTL) CSS */
[dir="rtl"] {
	#wb-body-sec-sup {
		#wb-main {
			left: auto;
			right: 300px;
		}
	}

	#wb-sup {
		left: auto;
		right: 600px;
	}
}