/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-eng.txt / wet-boew.github.io/wet-boew/Licence-fra.txt
 */

h1 {
	font-size: 140%;
	margin: 0 !important;
}

h2 {
	font-size: 125%;
}

h3 {
	font-size: 120%;
}

h4 {
	font-size: 115%;
}

h5 {
	font-size: 110%;
}

h6 {
	font-size: 100%;
}

#gcwu-sig {
	img {
		position: absolute;
		top: 10px;
		left: 0;
	}
}

#gcwu-wmms {
	img {
		position: absolute;
		top: 0;
		right: 0;
	}
}

#gcwu-title {
	&, a {
		font-size: 16pt;
		text-decoration: none;
		color: #000;
		width: 100%;
		position: relative;
		top: 9px;
	}
}

#wb-main-in {
	border-top: 3px outset #666;
	padding-top: 5px;
}

#gcwu-bc {
	min-height: inherit;
	height: auto;
	ol {
		width: 100%;
		margin: 0;
		padding: 0;
	}
	li {
		background: none;
		padding: 0;
		&:before {
			content: " > ";
		}
		&:first-child:before {
			content: "";
		}
	}
	a {
		padding-left: 0;
		background: none;
	}
}

%gcwu-default-print-display-none {
	display: none;
}

#wb-sec {
	@extend %gcwu-default-print-display-none;
}

#wb-sup {
	@extend %gcwu-default-print-display-none;
}

#gcwu-gcnb {
	ul {
		@extend %gcwu-default-print-display-none;
	}
}

#gcwu-srchbx {
	@extend %gcwu-default-print-display-none;
}

#gcwu-psnb {
	@extend %gcwu-default-print-display-none;
}

#wb-foot {
	@extend %gcwu-default-print-display-none;
}

#gcwu-date-mod {
	float: right;
}

.clear {
	clear: both;
	display: block;
	height: 0 !important;
	min-height: 0 !important;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	margin: 0;
}