/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt
 */
@import "compass/css3/text-shadow";
@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";
@import "compass/css3/images";
@import 'compass/css3/transform';

%gcwu-default-mobile-no-rounded-corners {
	@include border-radius(0);
}

%gcwu-default-mobile-all-rounded-corners {
	@include border-radius(0.6em);
}

%gcwu-default-mobile-no-bottom-rounded-corners {
	@include border-bottom-left-radius(0);
	@include border-bottom-right-radius(0);
}

%gcwu-default-mobile-no-top-rounded-corners {
	@include border-top-left-radius(0);
	@include border-top-right-radius(0);
}

%gcwu-default-mobile-bottom-rounded-corners {
	@include border-bottom-left-radius(0.6em);
	@include border-bottom-right-radius(0.6em);
}

%gcwu-default-mobile-top-rounded-corners {
	@include border-top-left-radius(0.6em);
	@include border-top-right-radius(0.6em);
}

body {
	@if $experimental-support-for-webkit {
		-webkit-text-size-adjust: none;
	}
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 80%;
	color: #333;
}

a {
	color: #295376;
	font-weight: bold;
	&:active {
		text-decoration: underline !important;
	}
}

blockquote {
	@extend %no-margin-no-shadow;
}

%no-margin-no-shadow {
	margin-left: 0;
	margin-right: 0;
	@include text-shadow(none);
}

form {
	@extend %no-margin-no-shadow;
}

#{headings(2,6)} {
	@extend %no-margin-no-shadow;
}

img {
	@extend %no-margin-no-shadow;
	max-width: 100%;
	height: auto;
	@extend %gcwu-default-mobile-display-block;
}

li {
	&#gcwu-gcft-ca { //TODO: Is this ID ever outside an li?
		a {
			padding-left: 0;
			padding-right: 0;
			font-size: 0.7em;
			border: none;
		}
	}
}

p {
	@extend %no-margin-no-shadow;
}

pre {
	@extend %no-margin-no-shadow;
}

table {
	@extend %no-margin-no-shadow;
}

[id|="wb-body-sec"] {
	#wb-skip2 {
		@extend %gcwu-default-mobile-display-none;
		visibility: hidden;
	}
}

#wb-head {
	@extend %period-after-pseudo;
}

[id|="wb-body"] {
	background: #fff !important;
}

#gcwu-title {
	border: 1px solid #456F9A;
	p {
		padding: 3px;
		margin: 0;
	}
	a {
		font-size: 1.5em;
		color: #fff !important;
		@include text-shadow(0 1px 1px #044062);
		text-decoration: none;
	}
}

#gcwu-wmms {
	@extend %position-absolute;
	top: 0;
	left: 0;
	img {
		padding: 5px 3px;
		margin: 0;
		background: #fff;
	}
}

#gcwu-date-mod {
	@extend %period-after-pseudo;
	float: right;
	margin: 5px 0;
}

#gcwu-priorities {
	li {
		text-align: center;
	}
	ul {
		@extend %period-after-pseudo;
	}
}

[class*="span-"]{
	position: relative;
}

#wb-main-in {
	padding: 3px;
	h1 {
		font-size: 1.5em;
		font-weight: 400;
		margin: -3px;
		padding: 0 3px;
		border: 1px solid #999;
		border-width: 1px 0 0 0;
		@include text-shadow(none);
		position: static !important;
		&.wb-invisible {
			position: absolute !important;
		}
	}
	.span-1, .span-2, .span-3, .span-4, .span-5, .span-6, .span-7, .span-8, .span-9, .span-10, .span-11, .span-12 {
		margin-bottom: 20px;
	}
}

.clear {
	clear: both;
	@extend %gcwu-default-mobile-display-block;
	height: 0;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	margin: 0;
}

.ui-mobile {
	#gcwu-srch {
		@include box-shadow(none);
	}
	.ui-content {
		padding: 0 15px;
	}
	.wet-boew-menubar {
		a {
			padding: 0;
		}
	}
	.ui-li, a {
		&.ui-corner-top {
			@extend %gcwu-default-mobile-top-rounded-corners;
		}
		&.ui-corner-bottom {
			border-bottom-width: 1px;
			@extend %gcwu-default-mobile-bottom-rounded-corners;
		}
	}
}

.ui-header {
	.ui-title {
		min-width: 180px;
		margin-left: 35px;
		margin-right: 35px;
	}
}

%background-efefef {
	background: #efefef;
}

#gcwu-gcnb {
	min-height: 41px;
	.ui-header {
		border: 1px solid #333;
	}
	li {
		@extend %gcwu-default-mobile-display-none;
	}
}

#gcwu-mnavbar {
	right: 3px;
	.ui-btn-inner {
		padding: 0.6em 14px;
	}
}

#gcwu-srch-submit {
	min-height: 22px;
	display: inline;
	margin: 0;
}

#gcwu-sig {
	@extend %gcwu-default-mobile-display-none;
}

#gcwu-wmms {
	@extend %gcwu-default-mobile-display-none;
}

#gcwu-gcnb {
	ul {
		@extend %gcwu-default-mobile-display-none;
	}
}

#gcwu-bc {
	@extend %gcwu-default-mobile-display-none;
}

#gcwu-psnb {
	@extend %gcwu-default-mobile-display-none;
}

#gcwu-srchbx {
	@extend %gcwu-default-mobile-display-none;
}

#wb-sec {
	@extend %gcwu-default-mobile-display-none;
}

#wb-foot {
	@extend %gcwu-default-mobile-display-none;
}

#gcwu-gcft {
	@extend %gcwu-default-mobile-display-none;
}

#gcwu-bnr {
	background: #225C96;
}

#gcwu-bnr-in {
	.ui-mini {
		.ui-btn-inner {
			font-size: 1em;
		}
	}
}

#gcwu-bc-in {
	background: #DFDFDD;
	@include background-image(linear-gradient(#F0EFEF, #DFDFDD));
	@extend %gcwu-default-mobile-no-rounded-corners;
	@include text-shadow(0 1px 1px #fff);
	border-bottom: 1px solid #ccc;
	@include box-shadow(0 1px 2px rgba(0, 0, 0, 0.3));
	ol {
		margin: 0;
		font-size: 90%;
	}
	li {
		margin: 0;
		padding: 5px 12px 5px 5px;
		@extend %gcwu-default-mobile-no-rounded-corners;
		&:last-child {
			padding-left: 5px;
		}
	}
	a {
		@extend %gcwu-default-mobile-no-rounded-corners;
	}
}

#wb-core {
	clear: both;
}

%period-after-pseudo {
	&:after {
		content: ".";
		@extend %gcwu-default-mobile-display-block;
		height: 0;
		clear: both;
		visibility: hidden;
	}
}

%gcwu-default-mobile-display-none {
	display: none;
}

%gcwu-default-mobile-display-block {
	display: block;
}

%white-space-normal {
	white-space: normal;
}

%position-absolute {
	position: absolute;
}

.ui-title {
	img {
		@extend %position-absolute;
		left: 3px;
		top: 8px;
	}
}

.ui-content {
	.ui-listview {
		margin: 0 -15px;
	}
}

%gcwu-default-mobile-font-1em-margin-0 {
	font-size: 1em;
	margin: 0;
}

%gcwu-default-mobile-font-125em {
	font-size: 1.25em;
}

h3 {
	&.ui-collapsible-heading {
		@extend %gcwu-default-mobile-font-1em-margin-0;
	}
}

.ui-li-static {
	@extend %gcwu-default-mobile-font-1em-margin-0;
	@extend %gcwu-default-mobile-font-125em;
}

.wb-nested-menu {
	h4 {
		@extend %gcwu-default-mobile-font-1em-margin-0;
	}
}

.ui-btn-inner {
	@extend %gcwu-default-mobile-font-125em;
}

legend {
	@extend %gcwu-default-mobile-font-125em;
}

label {
	&.ui-select {
		@extend %gcwu-default-mobile-font-125em;
	}
	&.ui-input-text {
		@extend %gcwu-default-mobile-font-125em;
	}
}

input {
	&.ui-input-text {
		@extend %gcwu-default-mobile-font-125em;
	}
}

textarea {
	&.ui-input-text {
		@extend %gcwu-default-mobile-font-125em;
	}
}

select {
	@extend %gcwu-default-mobile-font-125em;
}

%h1-border-bottom-none {
	h1 {
		border-bottom: none;
	}
}
.ui-dialog {
	@extend %h1-border-bottom-none;
}

.ui-popup {
	@extend %h1-border-bottom-none;
}

#jqm-wb-search {
	label {
		clip: rect(1px, 1px, 1px, 1px);
		height: 1px;
		overflow: hidden;
		@extend %position-absolute;
		width: 1px;
	}
	.ui-icon-searchfield:after, .ui-icon-search {
		background: none;
	}
}

#jqm-wb-mb {
	a {
		&:link {
			text-decoration: none
		}
	}
	h3 {
		&.top-section {
			font-size: 1.2em;
		}
	}
	div {
		&.ui-collapsible-set + h2 {
			border-top: 3px groove #fff;
			padding-top: 8px;
			margin-top: 23px;
		}
	}
	.ui-content {
		padding: 0 15px 5px;
		.ui-listview {
			margin: 0;
		}
		h2 {
			+ {
				ul {
					&.ui-listview {
						margin-bottom: 1em;
					}
				}
			}
		}
	}
	.ui-btn-inner {
		@extend %white-space-normal;
	}
	.ui-btn-icon-top {
		.ui-btn-inner {
			padding: 0.6em 33px 0.7em 10px;
		}
	}
	.ui-btn-icon-right {
		span {
			&.ui-btn-inner {
				padding-left: 40px;
			}
		}
		div {
			&.ui-btn-inner {
				padding-left: 25px;
			}
		}
	}
	.ui-body-a {
		background: #FFF;
	}
	.ui-collapsible-set {
		margin: 0;
		a {
			@extend %white-space-normal;
		}
		.ui-collapsible:not(:first-child) {
			@extend %gcwu-default-mobile-no-top-rounded-corners;
		}
		.ui-collapsible:last-child {
			.ui-collapsible-content {
				> :not(:last-child) {
					@extend %gcwu-default-mobile-no-bottom-rounded-corners;
				}
			}
		}
	}
	.ui-collapsible-heading {
		.ui-btn {
			border-left-width: 1px;
			border-right-width: 1px;
		}
		&:not(.ui-collapsible-heading-collapsed) {
			a {
				@extend %gcwu-default-mobile-no-bottom-rounded-corners;
			}
		}
	}
	.wb-nested-menu {
		padding: 0;
		h2, h3, h4, h5 {
			margin: 0;
		}
		.ui-btn-icon-right {
			.ui-btn-inner {
				padding-left: 0;
			}
		}
		a {
			padding-left: 55px;
			&.ui-btn-icon-left {
				padding-left: 0;
			}
		}
		.wb-nested-menu {
			a {
				padding-left: 70px;
				&.ui-btn-icon-left {
					padding-left: 15px;
				}
			}
			.wb-nested-menu {
				a {
					padding-left: 85px;
					&.ui-btn-icon-left {
						padding-left: 30px;
					}
				}
			}
		}
		.wb-nested-li-heading a {
			border-top: 0;
		}
	}
	.ui-collapsible-content {
		padding: 0;
	}
	.ui-li-static {
		border-left: none;
		border-right: none;
		background: #F4F4F4;
	}
	.ui-btn {
		margin: 0;
		text-align: left;
	}
	.ui-li {
		padding: 0;
		border-width: 1px 1px 0 1px;
		.ui-collapsible {
			&:first-child {
				margin-top: -1px;
			}
		}
		&.ui-corner-bottom {
			border-bottom-width: 1px;
		}
	}
	.top-section {
		a {
			margin: 0 0 5px;
			@extend %gcwu-default-mobile-no-rounded-corners;
		}
	}
	.top-level {
		&.ui-btn-corner-all {
			@extend %gcwu-default-mobile-all-rounded-corners;
		}
	}
}

#jqm-mb-location-text {
	margin: 0 -15px 10px;
	h2 {
		@extend %gcwu-default-mobile-display-none;
	}
}

.mobile-hide {
	display: none !important;
}

.mobile-show {
	display: block !important;
}

.ui-loader-default {
	h1 {
		margin: 0;
		padding: 0;
		border: 0;
	}
}

.no-js {
	#gcwu-gcnb {
		a {
			border-left: none;
			padding: 0 5px !important;
		}
	}
	#gcwu-srch {
		margin-top: 3px;
		padding: 3px 0;
	}
	#gcwu-psnb {
		.mb-menu {
			position: static;
		}
		li {
			border: 1px solid #222;
		}
		a {
			color: #222;
			background: #eee;
			padding: 0.45em 0.79em;
		}
	}
	#wb-main-in {
		h1 {
			background: #eee;
		}
	}
	#gcwu-sft-in {
		background: none;
		padding-left: 5px;
	}
	.ui-content {
		padding: 0;
	}
	.mobile-pe {
		display: none !important;
	}
}

.pe-disable {
	#gcwu-psnb {
		margin-top: -11px;
	}
	#gcwu-psnb, #gcwu-srchbx {
		width: 100% !important;
		float: none;
	}
	#gcwu-gcnb { 
		ul {
			@extend %gcwu-default-mobile-display-block;
		}
	}
	#gcwu-wmms {
		@extend %gcwu-default-mobile-display-block;
	}
	#gcwu-bc {
		@extend %gcwu-default-mobile-display-block;
	}
	#gcwu-psnb {
		@extend %gcwu-default-mobile-display-block;
	}
	#gcwu-srchbx {
		@extend %gcwu-default-mobile-display-block;
	}
	#wb-sec {
		@extend %gcwu-default-mobile-display-block;
	}
	#wb-foot {
		@extend %gcwu-default-mobile-display-block;
	}
	#gcwu-psnb #gcwu-psnb-in, #gcwu-srchbx form {
		@extend %gcwu-default-mobile-display-block;
		width: 100%;
		z-index: 100;
	}
	#gcwu-srchbx {
		form {
			border-bottom: 1px solid #999;
			text-align: center;
			background: #1A3D6C;
			padding: 10px 0;
		}
	}
}
/* Right to left (RTL) CSS */
/* Right to left (RTL) CSS */
%rtl-scalex {
	@include scaleX(-1);
	@extend %gcwu-default-mobile-display-block;
}
%gcwu-default-mobile-padding-right-0 {
	padding-right: 0;
}
[dir="rtl"] {
	#gcwu-date-mod {
		float: left;
	}

	#gcwu-gcnb {
		.ui-title {
			img {
				right: 3px;
				left: auto;
			}
		}
	}
	
	#gcwu-mnavbar {
		@extend %rtl-scalex;
		left: 3px;
		right: auto;
	}

	#gcwu-bc-in {
		&, li:last-child, a {
			@extend %rtl-scalex;
		}
	}

	.ui-popup-container, #wb-main {
		.ui-btn, .ui-btn-text {
			@extend %rtl-scalex;
			text-align: right;
		}
		.ui-submit, .ui-select {
			.ui-btn, .ui-btn-text {
				text-align: center;
			}
		}
		.ui-li-has-arrow {
			.ui-btn-inner {
				a.ui-link-inherit {
					padding-right: 12px;
				}
			}
		}
	}
	
	.ul-li {
		text-align: right;
	}

	#jqm-wb-mb {
		.wb-nested-menu {
			.ui-btn-icon-right {
				.ui-btn-inner {
					@extend %gcwu-default-mobile-padding-right-0;
				}
			}

			a {
				padding-right: 55px;

				&.ui-btn-icon-left {
					@extend %gcwu-default-mobile-padding-right-0;
				}
			}

			.wb-nested-menu {
				a {
					padding-right: 70px;

					&.ui-btn-icon-left {
						padding-left: 15px;
						padding-right: 15px;
					}
				}

				.wb-nested-menu {
					a {
						padding-left: 0;
						padding-right: 85px;

						&.ui-btn-icon-left {
							padding-left: 30px;
							padding-right: 30px;
						}
					}
				}
			}
		}

		.ui-collapsible-content {
			> a {
				@extend %gcwu-default-mobile-padding-right-0;
			}
		}
	}

	#gcwu-sft {
		li {
			&.ui-block-a a.ui-btn {
				border-left-width: 0;
			}
		}
	}

	#gcwu-gcft {
		li {
			float: right !important;

			&#base-fullft-ca div {
				text-align: right;
			}
		}
	}

	.ui-title {
		img {
			right: 3px;
		}
	}

	.ul-li {
		text-align: right !important;
	}

	#gcwu-gcnb {
		ul {
			margin: 0 0 0 5px;
			#gcwu-gcnb-lang {
				float: left;
			}
		}
	}

	#gcwu-gcnb-lang a {
		float: left;
	}

	#gcwu-psnb, #gcwu-srchbx {
		float: left;

		h2 {
			padding: 0.7em 0 0.8em 18px;
			border-right: 1px solid #CCC;
			border-left: none;
		}
	}

	#gcwu-bnr .ui-navbar a.ui-btn-active {
		border: 1px solid #CCC;
		border-left: none;
	}

	#gcwu-srchbx h2 {
		padding-right: 0;
		padding-left: 20px;
	}

	&.no-js {
		#gcwu-sft-in {
			padding-right: 5px;
		}
	}
}