/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt
 */
@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";
@import "compass/css3/images";
@import 'compass/css3/transform';

%gcwu-default-mobile-no-rounded-corners {
	@include border-radius(0);
}

%gcwu-default-mobile-all-rounded-corners {
	@include border-radius(0.6em);
}

%gcwu-default-mobile-no-bottom-rounded-corners {
	@include border-bottom-left-radius(0);
	@include border-bottom-right-radius(0);
}

%gcwu-default-mobile-no-top-rounded-corners {
	@include border-top-left-radius(0);
	@include border-top-right-radius(0);
}

%gcwu-default-mobile-bottom-rounded-corners {
	@include border-bottom-left-radius(0.6em);
	@include border-bottom-right-radius(0.6em);
}

%gcwu-default-mobile-top-rounded-corners {
	@include border-top-left-radius(0.6em);
	@include border-top-right-radius(0.6em);
}

%gcwu-default-mobile-font-weight-normal {
	font-weight: normal;
}

%gcwu-default-mobile-border-none {
	border: none;
}

%gcwu-default-mobile-text-shadow-none {
	text-shadow: none;
}

%gcwu-default-mobile-text-decoration-none {
	text-decoration: none;
}

body {
	@if $experimental-support-for-webkit {
		-webkit-text-size-adjust: none;
	}
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 80%;
	color: #333;
}

a {
	color: #295376;
	font-weight: bold;
	&:active {
		text-decoration: underline !important;
	}
}

blockquote {
	@extend %gcwu-default-mobile-text-shadow-none;
}

form {
	@extend %gcwu-default-mobile-text-shadow-none;
}

#{headings(2,6)} {
	@extend %gcwu-default-mobile-text-shadow-none;
}

img {
	@extend %gcwu-default-mobile-text-shadow-none;
	max-width: 100%;
	height: auto;
	@extend %gcwu-default-mobile-display-block;
}

li {
	&#gcwu-gcft-ca { //TODO: Is this ID ever outside an li?
		a {
			padding-left: 0;
			padding-right: 0;
			font-size: 0.7em;
			@extend %gcwu-default-mobile-border-none;
		}
	}
}

p {
	@extend %gcwu-default-mobile-text-shadow-none;
}

pre {
	@extend %gcwu-default-mobile-text-shadow-none;
}

table {
	@extend %gcwu-default-mobile-text-shadow-none;
}

#gcwu-priorities {
	li {
		text-align: center;
	}
	ul {
		@extend %gcwu-default-mobile-period-after-pseudo;
	}
}

.mobile-view {
	#wb-skip2 {
		@extend %gcwu-default-mobile-display-none;
		visibility: hidden;
	}
}

#wb-head {
	@extend %gcwu-default-mobile-period-after-pseudo;
}

[id|="wb-body"] {
	background: #fff !important;
}

#gcwu-title {
	@include background-image(linear-gradient(#4474AD, #174F88));
	border: 1px solid #456F9A;
	p {
		padding: 3px 5px;
		margin: 0;
	}
	a {
		font-size: 1.5em;
		@extend %gcwu-default-mobile-font-weight-normal;
		color: #fff !important;
		text-shadow: 0 1px 1px #044062;
		@extend %gcwu-default-mobile-text-decoration-none;
	}
}

%gcwu-default-mobile-width-90-height-22 {
	width: 90px;
	height: 22px;
}
#gcwu-wmms {
	@extend %gcwu-default-mobile-position-absolute;
	top: 9px;
	left: 5px;
	object {
		@extend %gcwu-default-mobile-width-90-height-22;
	}
	img {
		@extend %gcwu-default-mobile-width-90-height-22;
	}
}

#gcwu-date-mod {
	@extend %gcwu-default-mobile-period-after-pseudo;
	float: right;
	margin: 5px 0;
}

#wb-main-in {
	padding: 0 5px;
	h1 {
		margin-top: 0.5em;
	}
}

.ui-mobile {
	#gcwu-srch {
		@include box-shadow(none);
	}
	.ui-content {
		padding: 0 15px;
	}
	.wet-boew-menubar {
		a {
			padding: 0;
		}
	}
	.ui-li, a {
		&.ui-corner-top {
			@extend %gcwu-default-mobile-top-rounded-corners;
		}
		&.ui-corner-bottom {
			border-bottom-width: 1px;
			@extend %gcwu-default-mobile-bottom-rounded-corners;
		}
	}
}

.ui-header {
	.ui-title {
		min-width: 180px;
		margin-left: 35px;
		margin-right: 35px;
		@extend %gcwu-default-mobile-text-shadow-none;
	}
}

#gcwu-gcnb {
	min-height: 42px;
	@include background-image(linear-gradient(#3C3C3C, #111));
	ul {
		@extend %gcwu-default-mobile-display-none;
	}
	li {
		@extend %gcwu-default-mobile-display-none;
	}
}

#gcwu-mnavbar {
	right: 5px;
	.ui-btn-inner {
		padding: 0.6em 14px;
	}
}

#gcwu-srch-submit {
	min-height: 22px;
	display: inline;
	margin: 0;
}

#gcwu-sig {
	@extend %gcwu-default-mobile-display-none;
}

#gcwu-bc {
	@extend %gcwu-default-mobile-display-none;
}

#gcwu-psnb {
	@extend %gcwu-default-mobile-display-none;
}

#gcwu-srchbx {
	@extend %gcwu-default-mobile-display-none;
}

#wb-sec {
	@extend %gcwu-default-mobile-display-none-important;
}

#wb-foot {
	@extend %gcwu-default-mobile-display-none;
}

#gcwu-gcft {
	@extend %gcwu-default-mobile-display-none;
}

#gcwu-bnr {
	background: #225C96;
}

#gcwu-bnr-in {
	.ui-mini {
		.ui-btn-inner {
			font-size: 1em;
		}
	}
}

%gcwu-default-mobile-last-child-padding-5 {
	&:last-child {
		padding: 5px;
	}
}
#gcwu-bc-in {
	background: #DFDFDD;
	@include background-image(linear-gradient(#F0EFEF, #DFDFDD));
	@extend %gcwu-default-mobile-no-rounded-corners;
	text-shadow: 0 1px 1px #fff;
	border-bottom: 1px solid #ccc;
	@include box-shadow(0 1px 2px rgba(0, 0, 0, 0.3));
	ol {
		margin: 0;
		font-size: 90%;
	}
	li {
		margin: 0;
		padding: 5px 12px 5px 5px;
		@extend %gcwu-default-mobile-no-rounded-corners;
		@extend %gcwu-default-mobile-last-child-padding-5;
	}
	a {
		@extend %gcwu-default-mobile-no-rounded-corners;
	}
}

#wb-core {
	clear: both;
}

%gcwu-default-mobile-period-after-pseudo {
	&:after {
		content: ".";
		@extend %gcwu-default-mobile-display-block;
		height: 0;
		clear: both;
		visibility: hidden;
	}
}

%gcwu-default-mobile-display-none {
	display: none;
}

%gcwu-default-mobile-display-none-important {
	display: none !important;
}

%gcwu-default-mobile-display-block {
	display: block;
}

%gcwu-default-mobile-display-block-important {
	display: block !important;
}

%gcwu-default-mobile-white-space-normal {
	white-space: normal;
}

%gcwu-default-mobile-position-absolute {
	position: absolute;
}

.ui-content {
	.ui-listview {
		margin: 0 -15px;
		&.ui-listview-inset {
			margin: 15px 0;
		}
	}
}

#popupLanguages {
	li {
		a {
			text-transform: capitalize;
			.current {
				text-transform: lowercase;
			}
		}
	}
}

%gcwu-default-mobile-margin-left-right--15 {
	margin: 0 -15px;
}
#popupAbout {
	.site-app-title {
		@extend %gcwu-default-mobile-margin-left-right--15;
		padding: 5px 15px 0 15px;
	}
	.app-version {
		@extend %gcwu-default-mobile-margin-left-right--15;
		@extend %gcwu-default-mobile-border-none;
		padding: 0 15px;
	}
}

%gcwu-default-mobile-font-1em-margin-0 {
	font-size: 1em;
	margin: 0;
}

%gcwu-default-mobile-font-125em {
	font-size: 1.25em;
}

h3 {
	&.ui-collapsible-heading {
		@extend %gcwu-default-mobile-font-1em-margin-0;
	}
}

.ui-li-static {
	@extend %gcwu-default-mobile-font-1em-margin-0;
	@extend %gcwu-default-mobile-font-125em;
}

.wb-nested-menu {
	h4 {
		@extend %gcwu-default-mobile-font-1em-margin-0;
	}
}

.ui-btn-inner {
	@extend %gcwu-default-mobile-font-125em;
}

legend {
	@extend %gcwu-default-mobile-font-125em;
}

label {
	&.ui-select {
		@extend %gcwu-default-mobile-font-125em;
	}
	&.ui-input-text {
		@extend %gcwu-default-mobile-font-125em;
	}
}

input {
	&.ui-input-text {
		@extend %gcwu-default-mobile-font-125em;
	}
}

textarea {
	&.ui-input-text {
		@extend %gcwu-default-mobile-font-125em;
	}
}

select {
	@extend %gcwu-default-mobile-font-125em;
}

%gcwu-default-mobile-h1-border-bottom-none {
	h1 {
		border-bottom: none;
	}
}
.ui-dialog {
	@extend %gcwu-default-mobile-h1-border-bottom-none;
}

.ui-popup {
	@extend %gcwu-default-mobile-h1-border-bottom-none;
}

#jqm-wb-search {
	label {
		@include clip-rect;
		height: 1px;
		overflow: hidden;
		@extend %gcwu-default-mobile-position-absolute;
		width: 1px;
	}
	.ui-icon-searchfield:after, .ui-icon-search {
		background: none;
	}
}

#jqm-wb-mb {
	a {
		@extend %gcwu-default-mobile-text-shadow-none;
		&:link {
			@extend %gcwu-default-mobile-text-decoration-none;
		}
	}
	h3 {
		&.top-section {
			font-size: 1.2em;
		}
	}
	div {
		&.ui-collapsible-set + h2 {
			border-top: 3px groove #fff;
			padding-top: 8px;
			margin-top: 23px;
		}
	}
	.ui-content {
		padding: 0 15px 5px;
		.ui-listview {
			margin: 0;
		}
		h2 {
			+ {
				ul {
					&.ui-listview {
						margin-bottom: 1em;
					}
				}
			}
		}
	}
	.ui-btn-inner {
		@extend %gcwu-default-mobile-white-space-normal;
	}
	.ui-btn-icon-top {
		.ui-btn-inner {
			padding: 0.6em 33px 0.7em 10px;
		}
	}
	.ui-btn-icon-right {
		span {
			&.ui-btn-inner {
				padding-left: 40px;
			}
		}
		div {
			&.ui-btn-inner {
				padding-left: 25px;
			}
		}
	}
	.ui-body-a {
		background: #FFF;
	}
	.ui-collapsible-set {
		margin: 0;
		a {
			@extend %gcwu-default-mobile-white-space-normal;
		}
		.ui-collapsible {
			&:not(:first-child) {
				@extend %gcwu-default-mobile-no-top-rounded-corners;
			}
			&:last-child {
				.ui-collapsible-content {
					> {
						:not(:last-child) {
							@extend %gcwu-default-mobile-no-bottom-rounded-corners;
						}
					}
				}
			}
		}
	}
	.ui-collapsible-heading {
		.ui-btn {
			border-left-width: 1px;
			border-right-width: 1px;
		}
		&:not(.ui-collapsible-heading-collapsed) {
			a {
				@extend %gcwu-default-mobile-no-bottom-rounded-corners;
			}
		}
	}
	.wb-nested-menu {
		padding: 0;
		h2, h3, h4, h5 {
			margin: 0;
		}
		.ui-btn-icon-right {
			.ui-btn-inner {
				padding-left: 0;
			}
		}
		a {
			padding-left: 55px;
			&.ui-btn-icon-left {
				padding-left: 0;
			}
		}
		.wb-nested-menu {
			a {
				padding-left: 70px;
				&.ui-btn-icon-left {
					padding-left: 15px;
				}
			}
			.wb-nested-menu {
				a {
					padding-left: 85px;
					&.ui-btn-icon-left {
						padding-left: 30px;
					}
				}
			}
		}
		.wb-nested-li-heading a {
			border-top: 0;
		}
	}
	.ui-collapsible-content {
		padding: 0;
	}
	.ui-li-static {
		border-left: none;
		border-right: none;
		background: #F4F4F4;
		.wb-nested-menu {
			a {
				font-size: 0.8em;
			}
		}
	}
	.ui-btn {
		margin: 0;
		text-align: left;
	}
	.ui-li {
		padding: 0;
		border-width: 1px 1px 0 1px;
		.ui-collapsible {
			&:first-child {
				margin-top: -1px;
			}
		}
		&.ui-corner-bottom {
			border-bottom-width: 1px;
		}
	}
	.top-section {
		a {
			margin: 0 0 5px;
			@extend %gcwu-default-mobile-no-rounded-corners;
		}
	}
	.top-level {
		&.ui-btn-corner-all {
			@extend %gcwu-default-mobile-all-rounded-corners;
		}
	}
}

#jqm-mb-location-text {
	margin: 0 -15px 10px;
	h2 {
		@extend %gcwu-default-mobile-display-none;
	}
}

.ui-loader-default {
	h1 {
		margin: 0;
		padding: 0;
		border: 0;
	}
}

.no-js {
	#gcwu-gcnb {
		a {
			border-left: none;
			padding: 0 5px !important;
		}
	}
	#gcwu-srch {
		margin-top: 3px;
		padding: 3px 0;
	}
	#gcwu-psnb {
		.mb-menu {
			position: static;
		}
		li {
			border: 1px solid #222;
		}
		a {
			color: #222;
			background: #eee;
			padding: 0.45em 0.79em;
		}
	}
	#gcwu-sft-in {
		background: none;
		padding-left: 5px;
	}
	.ui-content {
		padding: 0;
	}
	.mobile-pe {
		@extend %gcwu-default-mobile-display-none-important;
	}
}

.pe-disable {
	#gcwu-psnb, #gcwu-srchbx {
		width: 100% !important;
		float: none;
	}
	#gcwu-gcnb { 
		ul {
			@extend %gcwu-default-mobile-display-block;
		}
	}
	#gcwu-bc {
		@extend %gcwu-default-mobile-display-block;
	}
	#gcwu-psnb {
		@extend %gcwu-default-mobile-display-block;
	}
	#gcwu-srchbx {
		@extend %gcwu-default-mobile-display-block;
		margin-bottom: 0;
	}
	#wb-sec {
		@extend %gcwu-default-mobile-display-block-important;
	}
	#wb-foot {
		@extend %gcwu-default-mobile-display-block;
	}
	#gcwu-psnb #gcwu-psnb-in, #gcwu-srchbx form {
		@extend %gcwu-default-mobile-display-block;
		width: 100%;
		z-index: 100;
	}
	#gcwu-srchbx {
		form {
			border-bottom: 1px solid #999;
			text-align: center;
			background: #1A3D6C;
			padding: 10px 0;
		}
	}
}

/* Right to left (RTL) CSS */
%gcwu-default-mobile-rtl-scalex {
	@include scaleX(-1);
	@extend %gcwu-default-mobile-display-block;
}
%gcwu-default-mobile-padding-right-0 {
	padding-right: 0;
}
[dir="rtl"] {
	#gcwu-date-mod {
		float: left;
	}

	#gcwu-wmms {
		left: auto;
		right: 5px;
	}
	
	#gcwu-mnavbar {
		@extend %gcwu-default-mobile-rtl-scalex;
		left: 5px;
		right: auto;
	}

	#gcwu-bc-in {
		@extend %gcwu-default-mobile-rtl-scalex;
		a {
			@extend %gcwu-default-mobile-rtl-scalex;
		}
		li {
			padding: 5px 5px 5px 12px;
			@extend %gcwu-default-mobile-last-child-padding-5;
			&:last-child {
				@extend %gcwu-default-mobile-rtl-scalex;
			}
		}
	}

	.ui-popup-container, #wb-main {
		.ui-btn, .ui-btn-text {
			@extend %gcwu-default-mobile-rtl-scalex;
			text-align: right;
		}
		.ui-submit, .ui-select {
			.ui-btn, .ui-btn-text {
				text-align: center;
			}
		}
		.ui-li-has-arrow {
			.ui-btn-inner {
				a.ui-link-inherit {
					padding-right: 12px;
				}
			}
		}
	}
	
	.ul-li {
		text-align: right;
	}

	#jqm-wb-mb {
		.wb-nested-menu {
			.ui-btn-icon-right {
				.ui-btn-inner {
					@extend %gcwu-default-mobile-padding-right-0;
				}
			}

			a {
				padding-right: 55px;

				&.ui-btn-icon-left {
					@extend %gcwu-default-mobile-padding-right-0;
				}
			}

			.wb-nested-menu {
				a {
					padding-right: 70px;

					&.ui-btn-icon-left {
						padding-left: 15px;
						padding-right: 15px;
					}
				}

				.wb-nested-menu {
					a {
						padding-left: 0;
						padding-right: 85px;

						&.ui-btn-icon-left {
							padding-left: 30px;
							padding-right: 30px;
						}
					}
				}
			}
		}

		.ui-collapsible-content {
			> a {
				@extend %gcwu-default-mobile-padding-right-0;
			}
		}
	}

	#gcwu-sft {
		li {
			&.ui-block-a a.ui-btn {
				border-left-width: 0;
			}
		}
	}

	#gcwu-gcft {
		li {
			float: right !important;

			&#base-fullft-ca div {
				text-align: right;
			}
		}
	}

	.ul-li {
		text-align: right !important;
	}

	#gcwu-gcnb {
		ul {
			margin: 0 0 0 5px;
			#gcwu-gcnb-lang {
				float: left;
			}
		}
	}

	#gcwu-gcnb-lang a {
		float: left;
	}

	#gcwu-psnb, #gcwu-srchbx {
		float: left;

		h2 {
			padding: 0.7em 0 0.8em 18px;
			border-right: 1px solid #CCC;
			border-left: none;
		}
	}

	#gcwu-bnr .ui-navbar a.ui-btn-active {
		border: 1px solid #CCC;
		border-left: none;
	}

	#gcwu-srchbx h2 {
		padding-right: 0;
		padding-left: 20px;
	}

	&.no-js {
		#gcwu-sft-in {
			padding-right: 5px;
		}
	}
}