/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt
 */
%gcwu-default-responsive-large-width-100perc-min-width-960 {
	width: 100%;
	min-width: 960px;
}
%gcwu-default-responsive-large-width-960 {
	width: 960px;
}
%gcwu-default-responsive-large-width-720 {
	width: 720px;
}
%gcwu-default-responsive-large-width-480 {
	width: 480px;
}
%gcwu-default-responsive-large-width-240 {
	width: 240px;
}
%gcwu-default-responsive-large-width-220 {
	width: 220px;
}
%gcwu-default-responsive-large-margin-auto {
	margin: auto;
}

body {
	min-width: 960px;
}

#wb-head {
	@extend %gcwu-default-responsive-large-width-100perc-min-width-960;
}

#wb-core {
	@extend %gcwu-default-responsive-large-width-100perc-min-width-960;
}

#wb-foot {
	@extend %gcwu-default-responsive-large-width-100perc-min-width-960;
}

#wb-head-in {
	@extend %gcwu-default-responsive-large-width-100perc-min-width-960;
}

#gcwu-gcnb {
	@extend %gcwu-default-responsive-large-width-100perc-min-width-960;
}

#gcwu-bnr {
	@extend %gcwu-default-responsive-large-width-100perc-min-width-960;
}

#gcwu-psnb {
	@extend %gcwu-default-responsive-large-width-100perc-min-width-960;
	.mb-menu {
		@extend %gcwu-default-responsive-large-width-960;
	}
}

#gcwu-bc {
	@extend %gcwu-default-responsive-large-width-100perc-min-width-960;
}

#wb-foot-in {
	@extend %gcwu-default-responsive-large-width-100perc-min-width-960;
}

#gcwu-gcft {
	@extend %gcwu-default-responsive-large-width-100perc-min-width-960;
	li {
		margin: 12px 0 13px 44px;
		&:first-child {
			margin-left: 10px;
		}
	}
}

#gcwu-sft {
	@extend %gcwu-default-responsive-large-width-100perc-min-width-960;
}

#wb-core-in {
	@extend %gcwu-default-responsive-large-margin-auto;
	@extend %gcwu-default-responsive-large-width-960;
}

#gcwu-gcnb-in {
	@extend %gcwu-default-responsive-large-margin-auto;
	@extend %gcwu-default-responsive-large-width-960;
}

#gcwu-psnb-in {
	@extend %gcwu-default-responsive-large-margin-auto;
	@extend %gcwu-default-responsive-large-width-960;
}

#gcwu-bc-in {
	@extend %gcwu-default-responsive-large-margin-auto;
	@extend %gcwu-default-responsive-large-width-960;
}

#gcwu-gcft-in {
	@extend %gcwu-default-responsive-large-margin-auto;
	@extend %gcwu-default-responsive-large-width-960;
}

#gcwu-sft-in {
	@extend %gcwu-default-responsive-large-margin-auto;
	@extend %gcwu-default-responsive-large-width-960;
}

#gcwu-title-in {
	width: 360px;
}

#wb-body-sec-sup {
	#wb-main {
		@extend %gcwu-default-responsive-large-width-480;
		right: 240px;
	}
}

#wb-sec {
	@extend %gcwu-default-responsive-large-width-240;
}

#wb-sup {
	@extend %gcwu-default-responsive-large-width-240;
	left: 480px;
}

//TODO: Is li parent nessessary?
li {
	&#gcwu-gcft-ca {
		margin-left: 0 !important;
		a {
			padding-left: 44px;
		}
	}
}

#gcwu-bnr-in {
  @extend %gcwu-default-responsive-large-margin-auto;
	@extend %gcwu-default-responsive-large-width-960;
}

[id|="wb-body-sec"] {
	[id|="wb-main"] {
		@extend %gcwu-default-responsive-large-width-720;
	}
}

#wb-body {
	#wb-main {
		@extend %gcwu-default-responsive-large-width-960;
	}
	#gcwu-content {
		@extend %gcwu-default-responsive-large-width-720;
	}
}

#wb-body-sec-sup {
	#wb-main-in {
		@extend %gcwu-default-responsive-large-width-480;
	}
}
#wb-body-sec {
	#gcwu-content {
		@extend %gcwu-default-responsive-large-width-480;
	}
}

#gcwu-aside {
	@extend %gcwu-default-responsive-large-width-220;
}
#gcwu-priorities {
	@extend %gcwu-default-responsive-large-width-220;
}

/* Right to left (RTL) CSS */
[dir="rtl"] {
	#wb-body-sec-sup {
		#wb-main {
			right: auto;
			left: 240px;
		}
	}

	#wb-sup {
		left: auto;
		right: 480px;
	}
}
