/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt
 */
%gcwu-default-responsive-large-1200-width-600 {
	width: 600px;
}
%gcwu-default-responsive-large-1200-width-300 {
	width: 300px;
}

body {
	min-width: 1200px;
}

#gcwu-title-in {
	width: 500px;
}

#wb-body-sec-sup {
	#wb-main {
		@extend %gcwu-default-responsive-large-1200-width-600;
		left: 300px;
	}
	#wb-main-in {
		@extend %gcwu-default-responsive-large-1200-width-600;
	}
}

#wb-sec {
	@extend %gcwu-default-responsive-large-1200-width-300;
}

#wb-sup {
	@extend %gcwu-default-responsive-large-1200-width-300;
	left: 600px;
}

#gcwu-gcft {
	li {
		margin: 12px 0 13px 88px;
		&:first-child {
			margin-left: 10px;
		}
	}
}

//TODO: Is li parent nessessary?
li {
	&#gcwu-gcft-ca {
		margin-left: 0 !important;
	}
}

%gcwu-default-responsive-large-1200-width-1200 {
	width: 1200px;
}

#wb-core-in {
	@extend %gcwu-default-responsive-large-1200-width-1200;
}

#gcwu-gcnb-in {
	@extend %gcwu-default-responsive-large-1200-width-1200;
}

#gcwu-bnr-in {
	@extend %gcwu-default-responsive-large-1200-width-1200;
}

#gcwu-psnb-in {
	@extend %gcwu-default-responsive-large-1200-width-1200;
}

#gcwu-bc-in {
	@extend %gcwu-default-responsive-large-1200-width-1200;
}

#gcwu-gcft-in {
	@extend %gcwu-default-responsive-large-1200-width-1200;
}

#gcwu-sft-in {
	@extend %gcwu-default-responsive-large-1200-width-1200;
}

#gcwu-psnb {
	.mb-menu {
		@extend %gcwu-default-responsive-large-1200-width-1200;
	}
}

#wb-body {
	#wb-main {
		@extend %gcwu-default-responsive-large-1200-width-1200;
	}
	#gcwu-content {
		@extend %gcwu-default-responsive-large-1200-width-900;
	}
}

%gcwu-default-responsive-large-1200-width-900 {
	width: 900px;
}

[id|="wb-body-sec"] {
	[id|="wb-main"] {
		@extend %gcwu-default-responsive-large-1200-width-900;
	}
}

#wb-body-sec {
	#gcwu-content {
		width: 580px;
	}
}

%gcwu-default-responsive-large-1200-width-280 {
	width: 280px;
}

#gcwu-aside {
	@extend %gcwu-default-responsive-large-1200-width-280;
}

#gcwu-priorities {
	@extend %gcwu-default-responsive-large-1200-width-280;
}

/* Right to left (RTL) CSS */
%gcwu-default-responsive-large-1200-left-auto {
	left: auto;
}
[dir="rtl"] {
	#wb-body-sec-sup {
		#wb-main {
			@extend %gcwu-default-responsive-large-1200-left-auto;
			right: 300px;
		}
	}

	#wb-sup {
		@extend %gcwu-default-responsive-large-1200-left-auto;
		right: 600px;
	}
}