/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 */
.ie7, .ie8 {
	.wet-boew-menubar {
		margin-top: 0;
	}
}

.ie7 {
	#wb-core {
		margin-bottom: -20px;
	}
	#gcwu-srchbx {
		padding-bottom: 0;
		height: 36px;
	}
	#gcwu-srch-submit {
		padding: 2px 0;
		position: relative;
		top: 1px;
	}
	%gcwu-default-screen-ie7-overflow-visible {
		overflow: visible;
	}
	#gcwu-bnr {
		@extend %gcwu-default-screen-ie7-float-left;
		@extend %gcwu-default-screen-ie7-overflow-visible;
	}
	#gcwu-bnr-in {
		@extend %gcwu-default-screen-ie7-overflow-visible;
	}
	#gcwu-title {
		zoom: 1;
		position: relative;
	}
	#gcwu-title-in {
		position: absolute;
		top: 50%;
		a {
			position: relative;
			top: -50%;
		}
	} 
	#gcwu-date-mod {
		position: relative;
		float: right;
		margin-bottom: -15px;
		top: 17px;
	}
	#gcwu-tctr {
		padding: 7px 0 6px;
		li {
			@extend %gcwu-default-screen-ie7-float-left;
			&.gcwu-tc {
				padding: 0 10px;
			}
			&.gcwu-tr {
				padding-left: 10px;
			}
		}
	}
	#gcwu-gcft {
		li {
			margin: 13px 35px 14px 9px;
		}
	}
	%gcwu-default-screen-ie7-float-left {
		float: left;
	}
}

.ie8 {
	#gcwu-srch-submit {
		padding: 2px 5px;
		background-color: #cecece !important;
		position: relative;
		top: 1px;
	}
}
