/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 */
.wb-sec-def {
	h3 {
		&.top-section {
			a {
				background: #23447e url(../images/menu-bg.gif) 0 -2px repeat-x;
			}
		}
	}
}

#gcwu-sft {
	background: url(../images/sft-deco.gif) center top repeat-x #efefef;
}

#gcwu-sft-in {
	background: {
		image: url(../images/sft-deco-leaf.gif), url(../images/sft-deco-side.gif), url(../images/sft-deco-side.gif);
		position: center top, left top, right top;
		repeat: no-repeat;
		color: transparent;
	}
}