/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt
 */
body {
	min-width:768px;
}

#gcwu-title-in {
	width:290px;
}

#wb-body-sec-sup #wb-main {
	width:384px;
	right:192px;
}

[dir="rtl"] #wb-body-sec-sup #wb-main {
	right:auto;
	left:192px;
}

#wb-body-sec-sup #wb-main-in {
	width:384px;
}

#wb-sec {
	width:192px;
}

#wb-sup {
	width:192px;
	left:384px;
}

[dir="rtl"] #wb-sup {
	left:auto;
	right:384px;
}

#wb-body-sec #gcwu-content {
	width:480px;
}

#gcwu-gcft {
	li {
		margin:12px 0 13px 20px;
		&:lang(fr){
			margin:12px 0 13px 13px;
		}
		&:first-child {
			margin-left:10px;
		}
	}
}

[dir="rtl"] #gcwu-gcft {
	li {
		margin:12px 20px 13px 0;
		&:lang(fr){
			margin:12px 13px 13px 0;
		}
		&:first-child {
			margin-left:auto;
			margin-right:10px;
		}
	}
}

li#gcwu-gcft-ca {
	margin-left:0 !important;
	a {
		padding-left:20px;
		&:lang(fr){
			padding-left:13px;
		}
	}
}

[dir="rtl"] li#gcwu-gcft-ca {
	margin-right:0 !important;
	a {
		padding-left:0;
		padding-right:20px;
		&:lang(fr){
			padding-left:0;
			padding-right:13px;
		}
	}
}

#wb-core-in,#gcwu-gcnb-in,#gcwu-bnr-in,#gcwu-psnb-in,#gcwu-bc-in,#gcwu-gcft-in,#gcwu-sft-in,#gcwu-psnb .mb-menu,#wb-body #wb-main {
	width:768px;
}

#wb-body-sec #wb-main,#wb-body-sec-sup #wb-main,#wb-body-sec #wb-main-in,#wb-body-sec-sup #wb-main-in,#wb-body #gcwu-content {
	width:576px;
}

#gcwu-aside,#gcwu-priorities {
	width:172px;
}