/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-eng.html / wet-boew.github.io/wet-boew/Licence-fra.html
 */
.ie7 {
	h1 {
		position: absolute;
		@include clip-rect;
		height: 1px !important;
		width: 1px !important;
		overflow: hidden !important;
		margin: 0 !important;
	}

	#gcwu-title {
		border-bottom: 1px solid #333;
	}
}