/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt
 */
%gcwu-serv-screen-display-none {
	display: none;
}
%gcwu-serv-screen-display-block {
	display: block;
}
%gcwu-serv-screen-wmms-sig-display-none {
	#gcwu-wmms-in {
		@extend %gcwu-serv-screen-display-none;
	}
	#gcwu-sig-in {
		@extend %gcwu-serv-screen-display-none;
	}
}
%gcwu-serv-screen-wmms-sig-display-block {
	#gcwu-wmms-in {
		@extend %gcwu-serv-screen-display-block;
	}
	#gcwu-sig-in {
		@extend %gcwu-serv-screen-display-block;
	}
}
%gcwu-serv-screen-ui-mobile-rendering-wmms-sig-display-block-none {
	&.ui-mobile {
		@extend %gcwu-serv-screen-wmms-sig-display-block;
		&.ui-mobile-rendering {
			@extend %gcwu-serv-screen-wmms-sig-display-none;
		}
	}
}

html {
	overflow-y: scroll;
}

body {
	width: 100%;
	margin: 0;
	padding: 0;
}

h1 {
	margin: 0;
}

%gcwu-serv-screen-margin-auto {
	margin: auto;
}

#wb-head-in {
	@extend %gcwu-serv-screen-margin-auto;
	@extend %gcwu-serv-screen-overflow-hidden;
}

#wb-foot-in {
	@extend %gcwu-serv-screen-margin-auto;
	@extend %gcwu-serv-screen-background-white;
	@extend %gcwu-serv-screen-overflow-hidden;
}

%gcwu-serv-screen-block-element {
	display: block;
	float: none;
	margin: auto;
	line-height: normal;
}

#gcwu-title {
	@extend %gcwu-serv-screen-block-element;
}

%gcwu-serv-screen-overflow-hidden {
	overflow: hidden;
}

#wb-head {
	@extend %gcwu-serv-screen-overflow-hidden;
}

%gcwu-serv-screen-background-white {
	background: #fff;
}

#wb-core-in {
	@extend %gcwu-serv-screen-margin-auto;
	@extend %gcwu-serv-screen-background-white;
	overflow: visible !important;
	&:after {
		content: ".";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
	}
	div { //TODO: Is the div precondition needed when the child selector is an ID?
		#gcwu-bar {
			height: 10px;
			background: #28507a;
			margin-bottom: 12px;
			padding-bottom: 0;
		}
	}
}

#wb-main-in {
	position: relative;
	padding-top: 1px;
	padding-bottom: 1px;
}

#wb-body {
	#wb-main {
		float: left;
	}
}

#gcwu-bnr {
	width: 100%;
}

#gcwu-wmms-in {
	@extend %gcwu-serv-screen-display-none;
}
#gcwu-sig-in {
	@extend %gcwu-serv-screen-display-none;
}
.svg {
	@extend %gcwu-serv-screen-wmms-sig-display-block;
}
.pe-disable {
	@extend %gcwu-serv-screen-wmms-sig-display-block;
}
.no-svg {
	@extend %gcwu-serv-screen-ui-mobile-rendering-wmms-sig-display-block-none;
}
.ie9 {
	@extend %gcwu-serv-screen-ui-mobile-rendering-wmms-sig-display-block-none;
}
.ie10 {
	@extend %gcwu-serv-screen-ui-mobile-rendering-wmms-sig-display-block-none;
}

%gcwu-serv-screen-text-align-right {
	text-align: right;
}

#gcwu-title-right {
	@extend %gcwu-serv-screen-text-align-right;
}

.gcwu-alt-title-right {
	@extend %gcwu-serv-screen-text-align-right;
}

.gcwu-tc-left {
	text-align: left;
}

.gcwu-tc-right {
	text-align: right;
}

#gcwu-tc {
	@extend %gcwu-serv-screen-block-element;
	ul {
		line-height: normal;
		list-style: none;
		margin: 0;
		padding: 0;
	}
	li {
		float: left;
		margin-bottom: 4px;
		a {
			text-decoration: none;
			font-size: 0.9em;
			@include pseudo-focus {
				text-decoration: underline;
			}
		}
	}
}

/* Right to left (RTL) CSS */
[dir="rtl"] {
	.wb-sec-def {
		ul {
			ul {
				margin-left: auto;
				margin-right: 10px;
				padding-left: 0;
				padding-right: 5px;
				border-left: none;
				border-right: 1px solid #ccc;
			}
		}

		li li {
			margin-left: auto;
			margin-right: 0;
		}
	}
}