/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt
 */
%gcwu-serv-print-position-absolute {
	position: absolute;
}
%gcwu-serv-print-left-0 {
	left: 0;
}
%gcwu-serv-print-right-0 {
	right: 0;
}
%gcwu-serv-margin-0-padding-0-width-100perc {
	margin: 0;
	padding: 0;
	width: 100%;
}
 
#gcwu-sig {
	@extend %gcwu-serv-print-position-absolute;
	top: 10px;
	@extend %gcwu-serv-print-left-0;
}

#gcwu-wmms {
	@extend %gcwu-serv-print-position-absolute;
	top: 0;
	@extend %gcwu-serv-print-right-0;
}

#gcwu-title {
	margin-top: 40px;
}


#gcwu-title-left {
	@extend %gcwu-serv-margin-0-padding-0-width-100perc;
}

#gcwu-title-right {
	@extend %gcwu-serv-margin-0-padding-0-width-100perc;
}

.gcwu-alt-title-left {
	@extend %gcwu-serv-margin-0-padding-0-width-100perc;
}

.gcwu-alt-title-right {
	@extend %gcwu-serv-margin-0-padding-0-width-100perc;
}

#gcwu-tc {
	display: none;
}

[dir="rtl"] {
	#gcwu-sig {
		left: auto;
		@extend %gcwu-serv-print-right-0;
	}

	#gcwu-wmms {
		right: auto;
		@extend %gcwu-serv-print-left-0;
	}
}