/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt
 */
.ie7 {
	#wb-core {
		margin-bottom: -20px;
	}
	#wb-main-in {
		position:static;
	}
	#gcwu-title {
		margin-top:-1px;
	}
	#gcwu-title-left,#gcwu-title-right,.gcwu-alt-title-left,.gcwu-alt-title-right {
		margin-top:2px;
	}
	#wb-core-in div #gcwu-bar {
		margin-bottom:13px;
	}
	#gcwu-tc li {
		margin-bottom:6px;
	}
}