/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt
 */
h1 {
	position: absolute;
	clip: rect(1px, 1px, 1px, 1px);
	height: 0 !important;
	width: 0 !important;
	overflow: hidden !important;
	margin: 0 !important;
}

#wb-skip {
	display: none;
	visibility: hidden;
}

#wb-body {
	background: #fff;
}

#wb-core-in, #wb-head-in {
	background: #fff;
}

#gcwu-sig {
	margin-top: 20px;
	margin-bottom: 11px;
}

#gcwu-wmms {
	text-align: right;
	margin-top: 10px;
	margin-bottom: 11px;
}

#gcwu-sig, #gcwu-wmms {
	img {
		margin-bottom: 0;
	}
}

#gcwu-title {
	border-bottom: 1px solid #666;
	a {
		&, &:visited, &:hover, &:focus, &:active {
			color: #295376;
			text-decoration: none;
		}
		&:hover, &:focus, &:active {
			text-decoration: underline;
		}
	}
}

#gcwu-title-left, #gcwu-title-right, .gcwu-alt-title-left, .gcwu-alt-title-right {
	padding: 0;
	color: #000;
	font-size: 1.5em;
	font-weight: bold;
}

.gcwu-alt-title-left, .gcwu-alt-title-right {
	padding: 0;
	color: #000;
	font-size: 1.2em;
	font-weight: bold;
}

#wb-core-in {
	h2, p {
		margin-left: 0;
	}
	li {
		a {
			text-decoration: none;
			&:hover, &:focus, &:active {
				text-decoration: underline;
			}
		}
	}
}