/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-eng.txt / wet-boew.github.io/wet-boew/Licence-fra.txt
 */

.ie7 {
	#wb-core {
		margin-bottom: -20px;
	}
	#wb-main-in {
		position: static;
	}
	#gcwu-title {
		margin-top: -1px;
	}
	%gcwu-serv-screen-ie7-title-margin-2px {
		margin-top: 2px;
	}
	#gcwu-title-left {
		@extend %gcwu-serv-screen-ie7-title-margin-2px;
	}
	#gcwu-title-right {
		@extend %gcwu-serv-screen-ie7-title-margin-2px;
	}
	.gcwu-alt-title-left {
		@extend %gcwu-serv-screen-ie7-title-margin-2px;
	}
	.gcwu-alt-title-right {
		@extend %gcwu-serv-screen-ie7-title-margin-2px;
	}
	#wb-core-in {
		div {
			#gcwu-bar {
				margin-bottom: 13px;
			}
		}
	}
	#gcwu-tc {
		li {
			margin-bottom: 6px;
		}
	}
}