/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt
 */
#gcwu-sig {
	float: left;
	margin: 10px 0 10px 0;
	img {
		margin-bottom: 0;
	}
}
 
#gcwu-sig-in {
	width: 214px;
	height: 20px;
}

#wb-head {
	padding: 0 5px;
}

#wb-foot, #wb-foot-in, #wb-head-in {
	background: #FFF;
}

#wb-foot #gcwu-wmms img {
	display: block;
	margin: 5px auto;
}

#wb-body {
	background: #fff;
}

#gcwu-title {
	a {
		&, &:visited, &:hover, &:focus, &:active {
			color: #295376;
			text-decoration: none;
		}
		&:hover, &:focus, &:active {
			text-decoration: underline;
		}
	}
}

#gcwu-title-left, #gcwu-title-right, .gcwu-alt-title-left, .gcwu-alt-title-right {
	padding: 0;
	color: #000;
	font-size: 1.5em;
	font-weight: bold;
	width: 50%;
	float: left;
}

#gcwu-title-left, .gcwu-alt-title-left {
	clear: left;
}

.gcwu-alt-title-left, .gcwu-alt-title-right {
	padding: 0;
	color: #000;
	font-size: 1.2em;
	font-weight: bold;
}

#wb-main-in {
    padding-left: 5px;
    padding-right: 5px;
}

#gcwu-bar, #wb-foot {
	display: none;
}

.ui-mobile #wb-foot {
	display: block;
}

.no-js {
	#gcwu-bar, #wb-foot {
		display: block;
	}
	#gcwu-sig {
		margin-top: 20px;
	}
	#gcwu-bar {
		margin-bottom: 5px;
	}
	#wb-foot {
		padding: 0 5px;
	}
	#gcwu-sig, #gcwu-wmms, .gcwu-tc-left, .gcwu-tc-right {
		width: 50%;
		float: left;
	}
	.gcwu-tc-right {
		text-align: right;
	}
}