/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt
 */
@import "compass/css3/inline-block";
@import "compass/css3/appearance";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";

%gcwu-sp-pe-width-214-height-20 {
	width: 214px;
	height: 20px;
}
%gcwu-sp-pe-width-126-height-30 {
	width: 126px;
	height: 30px;
}
%gcwu-sp-pe-font-weight-700 {
	font-weight: 700;
}
%gcwu-sp-pe-title-all {
	padding-top: 10px;
	color: #333;
	@extend %gcwu-sp-pe-font-weight-700;
}
%gcwu-sp-pe-title {
	font-size: 1.5em;
	@extend %gcwu-sp-pe-title-all;
}
%gcwu-sp-pe-alt-title {
	font-size: 1.2em;
	@extend %gcwu-sp-pe-title-all;
}
%gcwu-sp-pe-lang {
	list-style-type: none;
	@include inline-block;
	margin: 10px 0 0;
	padding-left: 0;
	div {
		min-width: 8em;
	}
	li {
		@extend %gcwu-sp-pe-float-left;
		@extend %gcwu-sp-pe-padding-0;
		text-align: center;
		a {
			@include appearance(none);
			border: {
				bottom: 1px solid #999;
				right: 1px solid #999;
				top: 1px solid #fff;
				left: 1px solid #fff;
			}
			color: #333;
			padding: 10px 0;
			@include border-radius(2px);
			text-shadow: 0 1px 0 #eee;
			@extend %gcwu-sp-pe-font-weight-700;
			font-size: 120%;
			@include box-shadow(none);
			@extend %gcwu-sp-pe-display-block;
			@extend %gcwu-sp-pe-text-decoration-none;
			text-transform: capitalize;
			@include pseudo-focus {
				text-shadow: 0 1px 0 #ddd;
				@include box-shadow(none);
				border: 1px solid #999;
			}
		}
	}
}
%gcwu-sp-pe-tc {
	list-style-type: none;
	@include inline-block;
	margin: 0;
	padding: {
		top: 4px;
		left: 0;
	}
	line-height: normal;
	div {
		min-width: 8em;
	}
	li {
		@extend %gcwu-sp-pe-float-left;
		@extend %gcwu-sp-pe-padding-0;
		a {
			@extend %gcwu-sp-pe-display-block;
			@extend %gcwu-sp-pe-text-decoration-none;
			font-size: 0.9em;
			@include pseudo-focus {
				text-decoration: underline;
			}
		}
	}
}
%gcwu-sp-pe-text-shadow-none {
	text-shadow: none;
}
%gcwu-sp-pe-float-left {
	float: left;
}
%gcwu-sp-pe-padding-0 {
	padding: 0;
}
%gcwu-sp-pe-display-block {
	display: block;
}
%gcwu-sp-pe-text-decoration-none {
	text-decoration: none;
}

h1 {
	font-size: 2em;
	color: #222;
	border: none;
	@extend %gcwu-sp-pe-font-weight-700;
	margin-bottom: 0 !important;
	@extend %gcwu-sp-pe-text-shadow-none;
}

h2 {
	position: absolute;
	@include clip-rect;
	height: 0 !important;
	width: 0 !important;
	overflow: hidden !important;
	margin: 0 !important;
}

#gcwu-title {
	@extend %gcwu-sp-pe-text-shadow-none;
}

#wb-body {
	background: #fff;
}

#wb-skip {
	display: none;
	visibility: hidden;
}

#gcwu-sig {
	img {
		@extend %gcwu-sp-pe-width-214-height-20;
	}
}

#gcwu-sig-in {
	@extend %gcwu-sp-pe-width-214-height-20;
}

#gcwu-wmms {
	img {
		@extend %gcwu-sp-pe-width-126-height-30;
	}
}

#gcwu-wmms-in {
	@extend %gcwu-sp-pe-width-126-height-30;
	position: absolute;
	right: 0;
}

#gcwu-title-left {
	@extend %gcwu-sp-pe-title;
}

#gcwu-title-right {
	@extend %gcwu-sp-pe-title;
}

.gcwu-alt-title-left {
	@extend %gcwu-sp-pe-alt-title;
}

.gcwu-alt-title-right {
	@extend %gcwu-sp-pe-alt-title;
}

#gcwu-other-lang {
	@extend %gcwu-sp-pe-lang;
}

#gcwu-ef-lang {
	@extend %gcwu-sp-pe-lang;
	li {
		@include inline-block;
		a {
			&:active {
				@include box-shadow(inset 0 0 5px 2px #999, 0 0 0 0 #eee);
			}
		}
	}
}

#gcwu-tc {
	margin-top: 0;
}

#gcwu-ef-tc {
	@extend %gcwu-sp-pe-tc;
}

#gcwu-other-tc {
	@extend %gcwu-sp-pe-tc;
}
