/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt
 */
.ie7 {
	#gcwu-sig {
		margin-top: 20px;
		padding-bottom: 10px;
	}
	%gcwu-sp-pe-screen-ie7-title-all {
		padding-top: 12px;
	}
	#gcwu-title-left {
		@extend %gcwu-sp-pe-screen-ie7-title-all;
	}
	#gcwu-title-right {
		@extend %gcwu-sp-pe-screen-ie7-title-all;
	}
	.gcwu-alt-title-left {
		@extend %gcwu-sp-pe-screen-ie7-title-all;
	}
	.gcwu-alt-title-right {
		@extend %gcwu-sp-pe-screen-ie7-title-all;
	}
	%gcwu-sp-pe-screen-ie7-langs {
		margin: 13px 0 0;
	}
	#gcwu-ef-lang {
		@extend %gcwu-sp-pe-screen-ie7-langs;
	}
	#gcwu-other-lang {
		@extend %gcwu-sp-pe-screen-ie7-langs;
	}
	#gcwu-tc {
		margin-top: -1px;
	}
	%gcwu-sp-pe-screen-ie7-padding-top-8px {
		padding-top: 8px;
	}
	#gcwu-ef-tc {
		@extend %gcwu-sp-pe-screen-ie7-padding-top-8px;
	}
	#gcwu-other-tc {
		@extend %gcwu-sp-pe-screen-ie7-padding-top-8px;
	}
	#wb-core {
		margin-bottom: -20px;
	}
	#wb-main-in {
		position: static;
	}
}