/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-eng.txt / wet-boew.github.io/wet-boew/Licence-fra.txt
 */

h1 {
	@extend %gcwu-sp-pe-mobile-padding-sides-5px;
}
 
#wb-foot {
	@extend %gcwu-sp-pe-mobile-lang-foot;
	background: #FFF;		
	.ui-footer {
		border: 0;
		background: none;
	}
	#gcwu-wmms {
		img {
			display: block;
			margin: 5px auto;
		}
	}
}

#gcwu-sig {
	float: left;
	margin: 10px 0 10px 5px;
	img {
		margin-bottom: 0;
	}
}

#gcwu-bnr {
	width: 100%;
}

%gcwu-sp-pe-mobile-padding-sides-5px {
    padding: {
		left: 5px;
		right: 5px;
	}
}

#gcwu-title {
	@extend %gcwu-sp-pe-mobile-padding-sides-5px;
}

%gcwu-sp-pe-mobile-titles-all {
	width: 50%;
	float: left;
}

#gcwu-title-left {
	@extend %gcwu-sp-pe-mobile-titles-all;
	@extend %gcwu-sp-pe-mobile-left-titles;
}

#gcwu-title-right {
	@extend %gcwu-sp-pe-mobile-titles-all;
}

.gcwu-alt-title-left {
	@extend %gcwu-sp-pe-mobile-titles-all;
	@extend %gcwu-sp-pe-mobile-left-titles;
}

.gcwu-alt-title-right {
	@extend %gcwu-sp-pe-mobile-titles-all;
}

%gcwu-sp-pe-mobile-left-titles {
	clear: left;
}

#wb-main-in {
	background: none;
	padding-bottom: 0;
}

#gcwu-lang {
	@extend %gcwu-sp-pe-mobile-lang-foot;
	a[href]{
		@include pseudo-focus {
			color: #FFF;
		}
	}
}

%gcwu-sp-pe-mobile-lang-foot {
	display: none;
	%gcwu-sp-pe-mobile-margin-0 {
		margin: 0;
	}
	a {
		@extend %gcwu-sp-pe-mobile-margin-0;
	}
	li {
		a {
			&.ui-btn {
				border-top-width: 0;
			}
			&:nth-child(1), &:nth-child(2) {
				a {
					&.ui-btn {
						border-top-width: 1px;
					}
				}
			}
			&:not(:last-child) {
				&.ui-block-a {
					a {
						&.ui-btn {
							border-right-width: 0;
						}
					}
				}
			}
		}
	}
	ul {
		@extend %gcwu-sp-pe-mobile-margin-0;
	}
}

.ui-mobile {
	%gcwu-sp-pe-mobile-ui-mobile-display-block {
		display: block;
	}
	#gcwu-lang {
		@extend %gcwu-sp-pe-mobile-ui-mobile-display-block;
	}
	#wb-foot {
		@extend %gcwu-sp-pe-mobile-ui-mobile-display-block;
	}
}

.no-js  {
	%gcwu-sp-pe-mobile-no-js-block-li {
		display: block;
		padding: 0 5px;
		li {
			margin-right: 20px;
			width: 108px;
		}
	}
	#wb-foot {
		@extend %gcwu-sp-pe-mobile-no-js-block-li;
	}
	#gcwu-lang {
		@extend %gcwu-sp-pe-mobile-no-js-block-li;
		a {
			@include pseudo-focus {
				color: #000;
			}
		}
		.span-6 {
			width: 256px;
			float: left;
		}
	}
	#gcwu-wmms {
		float: right;
		margin-top: 10px;
	}
}