/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-eng.txt / wet-boew.github.io/wet-boew/Licence-fra.txt
 */

h1 {
	padding: 30px 0 0 0;
	margin: 10px 0;
}

#gcwu-sig {
	img {
		position: absolute;
		top: 10px;
		left: 0;
	}
}

#gcwu-wmms {
	img {
		position: absolute;
		top: 0;
		right: 0;
	}
}

%gcwu-sp-pe-print-li-magring-right-20px {
	li {
		margin-right: 20px;
	}
}

#gcwu-lang {
	@extend %gcwu-sp-pe-print-li-magring-right-20px;
}

#gcwu-tc {
	@extend %gcwu-sp-pe-print-li-magring-right-20px;
}
