/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt
 */

html {
	overflow-y: scroll;
}

body {
	width: 100%;
	margin: 0;
	padding: 0;
}

#wb-main {
	h1 {
		text-align: center;
		padding: 40px 0;
		margin: 0;
		border: none;
	}
}

%gcwu-sp-pe-screen-margin-auto {
	margin: auto;
}

#wb-head-in {
	@extend %gcwu-sp-pe-screen-margin-auto;
	@extend %gcwu-sp-pe-screen-overflow-hidden;
}

#wb-foot-in {
	@extend %gcwu-sp-pe-screen-margin-auto;
	@extend %gcwu-sp-pe-screen-overflow-hidden;
}

%gcwu-sp-pe-screen-overflow-hidden  {
	overflow: hidden;
}

#wb-head {
	@extend %gcwu-sp-pe-screen-overflow-hidden;
}

#wb-foot {
	@extend %gcwu-sp-pe-screen-overflow-hidden;
}

%gcwu-sp-pe-screen-display-block-auto-margins {
	display: block;
	float: none;
	margin: auto;
}

#gcwu-tc {
	@extend %gcwu-sp-pe-screen-display-block-auto-margins;
}

#gcwu-sig {
	@extend %gcwu-sp-pe-screen-display-block-auto-margins;
	@extend %gcwu-sp-pe-screen-img-margin-bottom-0;
	margin-top: 20px;
	margin-bottom: 7px;
	line-height: normal;
}

%gcwu-sp-pe-screen-img-margin-bottom-0 {
	img {
		margin-bottom: 0;
	}
}

#gcwu-wmms {
	@extend %gcwu-sp-pe-screen-img-margin-bottom-0;
}

#wb-core-in {
	@extend %gcwu-sp-pe-screen-margin-auto;
	overflow: visible !important;
	&:after {
		content: ".";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
	}
}

#wb-main-in {
	position: relative;
	padding-top: 1px;
	padding-bottom: 1px;
}

#gcwu-bnr {
	width: 100%;
}

#gcwu-title {
	width: auto;
	min-height: 115px;
}

%gcwu-sp-pe-screen-right-titles {
	text-align: right;
}

#gcwu-title-right {
	@extend %gcwu-sp-pe-screen-right-titles;
}

.gcwu-alt-title-right {
	@extend %gcwu-sp-pe-screen-right-titles;
}

#gcwu-lang {
	margin-top: 20px;
	line-height: normal;
}

#gcwu-lang, #gcwu-tc {
	li {
		margin-right: 10px;
	}
}