/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-eng.html / wet-boew.github.io/wet-boew/Licence-fra.html
 */
.ie7 {
	#gcwu-sig {
		margin-top: 20px;
		padding-bottom: 3px;
	}
	%gcwu-sp-pe-screen-ie7-title-all {
		padding-top: 10px;
	}
	#gcwu-title-left {
		@extend %gcwu-sp-pe-screen-ie7-title-all;
	}
	#gcwu-title-right {
		@extend %gcwu-sp-pe-screen-ie7-title-all;
	}
	.gcwu-alt-title-left {
		@extend %gcwu-sp-pe-screen-ie7-title-all;
	}
	.gcwu-alt-title-right {
		@extend %gcwu-sp-pe-screen-ie7-title-all;
	}
	%gcwu-sp-pe-screen-ie7-langs {
		margin: 10px 0 0;
	}
	#gcwu-ef-lang {
		@extend %gcwu-sp-pe-screen-ie7-langs;
	}
	#gcwu-other-lang {
		@extend %gcwu-sp-pe-screen-ie7-langs;
	}
	%gcwu-sp-pe-screen-ie7-padding-top-7px {
		padding-top: 7px;
	}
	#gcwu-ef-tc {
		@extend %gcwu-sp-pe-screen-ie7-padding-top-7px;
	}
	#gcwu-other-tc {
		@extend %gcwu-sp-pe-screen-ie7-padding-top-7px;
	}
	#wb-core {
		margin-bottom: -20px;
	}
	#wb-main-in {
		position: static;
	}
}