/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 */
#gcwu-wmms {
	text-align: right;
	margin-top: 15px;
	img {
		width: auto;
	}
}

#wb-body {
	#wb-main {
		float: left;
	}
}

#wb-main {
	a[href] {
		@include pseudo-focus {
			color: #000;
		}
	}
}

.ui-mobile {
	%gcwu-sp-pe-desktop-screen-ui-mobile-display-none {
		display: none;
	}
	#gcwu-lang {
		@extend %gcwu-sp-pe-desktop-screen-ui-mobile-display-none;
	}
	#wb-foot {
		@extend %gcwu-sp-pe-desktop-screen-ui-mobile-display-none;
	}
}