/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 */
%gcwu-sp-pe-print-width-214-height-20 {
	width: 214px;
	height: 20px;
}
%gcwu-sp-pe-print-width-126-height-30 {
	width: 126px;
	height: 30px;
}

h1 {
	padding: 30px 0 0 0;
	margin: 10px 0;
}

#gcwu-sig {
	margin-top: 10px;
	float: left;
	img {
		@extend %gcwu-sp-pe-print-width-214-height-20;
	}
	object {
		@extend %gcwu-sp-pe-print-width-214-height-20;
	}
}

#gcwu-sig-in {
	@extend %gcwu-sp-pe-print-width-214-height-20;
}

#gcwu-wmms {
	img {
		@extend %gcwu-sp-pe-print-width-126-height-30;
	}
	object {
		@extend %gcwu-sp-pe-print-width-126-height-30;
	}
}

#gcwu-wmms-in {
	@extend %gcwu-sp-pe-print-width-126-height-30;
}

#wb-foot {
	display: none;
}

[dir="rtl"] {
	#gcwu-sig {
		float: right;
	}

	#gcwu-wmms {
		float: left;
	}
}
