/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt
 */
.ie7 {
	#gcwu-sig {
		margin-top: 20px;
		padding-bottom: 10px;
	}
	#gcwu-title-left, #gcwu-title-right, .gcwu-alt-title-left, .gcwu-alt-title-right {
		padding-top: 12px;
	}
	#gcwu-ef-lang, #gcwu-other-lang {
		margin: 13px 0 0;
	}
	#gcwu-tc {
		margin-top: -1px;
	}
	#gcwu-ef-tc, #gcwu-other-tc {
		padding-top: 8px;
	}
	#wb-core {
		margin-bottom: -20px;
	}
	#wb-main-in {
		position: static;
	}
}