@charset "utf-8";
/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt
 */
.ie7 {
	#wb-core{
		margin-bottom:-20px;
	}
	.gcwu-minister ul{
		padding-bottom:17px;
	}
	#deocrative-banner-full {
		display: inline-block !important; 
		float: left; 
		margin: 0; 
		padding: 0 10px 0 10px; 
		width: 700px;
	}
	#wb-body,#wb-body-sec,#wb-body-sec-sup,#wb-body-sec-sup,#wb-head-in{
		background:url(../images/header-bg-ie.jpg) repeat-x center 3.1em #fff;
	}
	#wb-head-in{
		background-color:#406C93;
	}
	#gcwu-srchbx{
		padding-bottom:0;
		bottom:-4px;
	}
	#gcwu-srch-submit{
		padding:2px 0;
		position:relative;
		top:1px;
	}
	#gcwu-title{
		zoom:1;
		position:relative;
	}
	#gcwu-title-in{
		position:absolute;
		top:23%;
	}
	#gcwu-psnb {
		.mb-hsubmenu .mb-sm-open ul{
			width:960px;
		}
	}
	#gcwu-date-mod{
		position:relative;
		float:right;
		margin-bottom:-15px;
		top:17px;
	}
	#gcwu-tctr{
		padding:7px 0 6px;
		li.gcwu-tc{
			padding:0 10px;
		}
		li.gcwu-tr{
			padding-left:10px;
		}
	}
	#gcwu-gcft li{
		margin:13px 35px 14px 9px;
	}
	#gcwu-bnr,#gcwu-tctr li{
		float:left;
	}
	#wb-core-in,#gcwu-bc-in{
		background:url(../images/content-deco-ie.gif) center top repeat-y;
	}
	#gcwu-sft-in{
		background:url(../images/sft-deco-ie.gif) center top no-repeat;
	}
}