@charset "utf-8";
/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * www.tbs.gc.ca/ws-nw/wet-boew/terms / www.sct.gc.ca/ws-nw/wet-boew/conditions
 */
#gcwu-gcnb h2,#gcwu-srchbx label,#gcwu-aside h2,.gcwu-minister h2,.gcwu-minister h3,#gcwu-sft h3,#gcwu-bc h2,#gcwu-gcft h3{
	clip:rect(1px, 1px, 1px, 1px);
	height:0 !important;
	overflow:hidden !important;
	position:absolute;
	width:0 !important;
	margin:0 !important;
}

#gcwu-date-mod dt,#gcwu-date-mod dd{
	float:left;
}

#gcwu-date-mod dd{
	margin:0 0 0 10px;
}

#gcwu-content h2,#gcwu-priorities h3{
	color:#333;
	font-weight:400;
}

#gcwu-content h2,#gcwu-priorities h3{
	border:none;
	margin-bottom:5px;
	font-size:1.6em;
}

div#gcwu-headlines ul li,div#gcwu-headlines ul{
	list-style:none !important;
	margin:0 !important;
	padding:0 !important;
}

#gcwu-headlines ul li a,#gcwu-video a{
	font-size:100%;
}

#gcwu-headlines ul li h3,#gcwu-headlines ul li p{
	margin:0;
	padding:5px;
}

#gcwu-headlines ul li h3{
	font-size:1em;
	font-weight:700;
}

#gcwu-priorities{
	padding-bottom:10px;
	border-bottom:1px solid #000;
}

#gcwu-aside div#gcwu-priorities ul li{
	margin:0;
	padding:0;
}

#gcwu-aside div#gcwu-priorities ul{
	list-style:none;
	margin:0;
	padding:0;
}

#gcwu-connect h2{
	border:none;
	margin-bottom:5px;
	color:#333;
	float:left;
	margin-top:2px;
	margin-right:10px;
}

#gcwu-connect ul{
	list-style-type:none;
}

#gcwu-connect li{
	display:inline-block;
}

#gcwu-connect a{
	background:none;
	padding-right:0;
	text-decoration:none;
}

.gcwu-minister{
	margin-top:10px;
}

.gcwu-minister-in{
	min-height:149px;
}

.gcwu-minister img{
	padding-right:5px;
	float:left;
	margin:0;
}

.gcwu-minister p{
	margin:0;
	padding:10px 5px 10px 0;
}

.gcwu-minister p strong{
	font-weight:700;
	color:#001D45;
}

.gcwu-minister ul{
	list-style-type:none;
	padding-top:17px;
	margin:0;
}

.gcwu-minister li{
	padding-bottom:8px;
}

.gcwu-minister ul:after{
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}

#gcwu-title a,.gcwu-minister li a:hover,.gcwu-minister li a:focus,.gcwu-minister li a:active{
	text-decoration:none;
}

#gcwu-aside img,#gcwu-priorities h2,#gcwu-priorities h3,.gcwu-minister h2,.gcwu-minister h3{
	margin-left:0;
	margin-right:0;
}