@charset "utf-8";
/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * www.tbs.gc.ca/ws-nw/wet-boew/terms / www.sct.gc.ca/ws-nw/wet-boew/conditions
 */
.ie7 {
	#wb-core{
		margin-bottom:-20px;
	}
	.gcwu-minister ul{
		padding-bottom:17px;
	}
	#deocrative-banner-full {
		display: inline-block !important; 
		float: left; 
		margin: 0; 
		padding: 0 10px 0 10px; 
		width: 700px;
	}
	#wb-body,#wb-body-sec,#wb-body-sec-sup,#wb-body-sec-sup,#wb-head-in{
		background-position:center 3.1em;
	}
	#gcwu-srchbx{
		padding-bottom:0;
		bottom:-4px;
	}
	#gcwu-srch-submit{
		padding:1px 0;
	}
	#gcwu-title{
		position:relative;
		a{
			position:relative;
			top:-50%;
		}	
	}
	#gcwu-title,#gcwu-title a{
		filter:Shadow(Color=#333333, Direction=125,Strength=1);
	}
	#gcwu-title-in{
		position:absolute;
		top:50%;
	}
	#gcwu-psnb {
		.mb-mega .mb-sm-open{
			background:url(../images/gradiant.jpg) repeat-x 0 0 #eee;
		}
		.mb-hsubmenu .mb-sm-open ul{
			width:960px;
		}
	}
	#gcwu-date-mod{
		position:relative;
		float:right;
		margin-bottom:-15px;
		top:10px;
	}
	#gcwu-tctr{
		padding:7px 0 6px;
		li.gcwu-tc{
			padding:0 10px;
		}
		li.gcwu-tr{
			padding-left:10px;
		}
	}
	#gcwu-gcft li{
		margin:13px 35px 14px 9px;
	}
	#gcwu-bnr,#gcwu-tctr li{
		float:left;
	}
}