@charset "utf-8";
/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * www.tbs.gc.ca/ws-nw/wet-boew/terms / www.sct.gc.ca/ws-nw/wet-boew/conditions
 */
#gcwu-psnb h2,#gcwu-srchbx h2{
	position:absolute;
	clip:rect(1px, 1px, 1px, 1px);
	height:0 !important;
	width:0 !important;
	overflow:hidden !important;
	margin:0 !important;
}

#gcwu-bc ol{
	line-height:1.57em;
	list-style-type:none;
	margin:2px 10px 0;
	padding:0;
}

#gcwu-bc ol:after{
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}

#gcwu-bc li{
	display:inline;
	float:left;
	white-space:nowrap;
	background:url(../images/breadcrumb.gif) left 60% no-repeat;
	margin:0 5px 0 0;
	padding:0 0 0 11px;
}

#gcwu-bc{
	font-size:85%;
	color:#555;
}

#gcwu-bc a{
	color:#295376;
	text-decoration:none;
}

#gcwu-bc li:first-child{
	background-image:none;
	padding-left:0;
}

#gcwu-bc a:hover,#gcwu-bc a:focus,#gcwu-bc a:hover,#gcwu-bc a:active{
	color:#295376;
	text-decoration:underline;
}

#gcwu-date-mod{
	margin:0;
}

#gcwu-bnr .ui-navbar,#jqm-wb-mb,#jqm-wb-search,.ui-loader{
	display:none !important;
}