@charset "utf-8";
/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * www.tbs.gc.ca/ws-nw/wet-boew/terms / www.sct.gc.ca/ws-nw/wet-boew/conditions
 */
body{
	min-width:960px;
}

#wb-head,#wb-core,#wb-foot,#wb-head-in,#gcwu-gcnb,#gcwu-bnr,#gcwu-psnb,#gcwu-bc,#wb-foot-in,#gcwu-gcft,#gcwu-sft{
	width:100%;
}

#gcwu-title{
	width:360px;
}

#wb-core-in,#gcwu-bc-in{
	background-image:url(../images/content-deco.gif);
}

#wb-body-sec-sup #wb-main{
	width:480px;
	right:240px;
}

#wb-sec{
	width:240px;
}

#wb-sup{
	width:240px;
	left:480px;
}

#gcwu-sft-in{
	background-image:url(../images/footer-deco.gif);
}

#gcwu-gcft li{
	margin:12px 0 13px 44px;
}

#gcwu-gcft li:first-child{
	margin-left:10px;
}

li#gcwu-gcft-ca a{
	padding-left:44px;
}

#wb-core-in,#gcwu-gcnb-in,#gcwu-bnr-in,#gcwu-psnb-in,#gcwu-bc-in,#gcwu-gcft-in,#gcwu-sft-in,#gcwu-bnr-in,#gcwu-psnb .mb-menu,#gcwu-psnb .mb-hsubmenu .showcase-visible ul,#wb-body #wb-main{
	width:960px;
}

#wb-body-sec #wb-main,#wb-body-sec-sup #wb-main,#wb-body-sec #wb-main-in,#wb-body-sec-sup #wb-main-in,#wb-body #gcwu-content{
	width:720px;
}

#wb-body-sec-sup #wb-main-in,#wb-body-sec #gcwu-content{
	width:480px;
}

#gcwu-aside,#gcwu-priorities{
	width:220px;
}

li#gcwu-gcft-ca{
	margin-left:0 !important;
}