@charset "utf-8";
/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt
 */
.ie8 {
	#wb-body,#wb-body-sec,#wb-body-sec-sup,#wb-body-sec-sup,#wb-head-in{
		background:url(../images/header-bg-ie.jpg) repeat-x center 3.1em #fff;
	}
	#wb-head-in{
		background-color:#406C93;
	}
	#gcwu-psnb .mb-mega .mb-sm-open{
		background:url(../images/gradiant.jpg) repeat-x 0 0 #eee;
	}
	#wb-core-in,#gcwu-bc-in{
		background:url(../images/content-deco-ie.gif) center top repeat-y;
	}
	#gcwu-sft-in{
		background:url(../images/sft-deco-ie.gif) center top no-repeat;
	}
}