@charset "utf-8";
/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * www.tbs.gc.ca/ws-nw/wet-boew/terms / www.sct.gc.ca/ws-nw/wet-boew/conditions
 */
.ie8 {
	#wb-body,#wb-body-sec,#wb-body-sec-sup,#wb-body-sec-sup,#wb-head-in{
		background:url(../images/header-bg-ie.jpg) repeat-x center 3.1em #fff;
	}
	#wb-head-in{
		background-color:#406C93;
	}
	#gcwu-srch-submit{
		padding:2px 5px;
		background-color: #cecece !important;
		position:relative;
		top:1px;
	}
	#wb-core-in,#gcwu-bc-in{
		background:url(../images/content-deco-ie.gif) center top repeat-y;
	}
	#gcwu-sft-in{
		background:url(../images/sft-deco-ie.gif) center top no-repeat;
	}
}