@charset "utf-8";
/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * www.tbs.gc.ca/ws-nw/wet-boew/terms / www.sct.gc.ca/ws-nw/wet-boew/conditions
 */
.ie7 #gcwu-sig {
	margin-top:20px;
	padding-bottom:10px;
}

.ie7 #gcwu-title-left,.ie7  #gcwu-title-right,.ie7  .gcwu-alt-title-left,.ie7  .gcwu-alt-title-right{
	padding-top:12px;
}

.ie7 #gcwu-ef-lang,.ie7  #gcwu-other-lang{
	margin:13px 0 0;
}

.ie7 #gcwu-tc{
	margin-top:-1px;
}

.ie7 #gcwu-ef-tc,.ie7  #gcwu-other-tc{
	padding-top:8px;
}

.ie7 #wb-core {
	margin-bottom: -20px;
}
.ie7 #wb-main-in {
	position: static;
}