@charset "utf-8";
/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * www.tbs.gc.ca/ws-nw/wet-boew/terms / www.sct.gc.ca/ws-nw/wet-boew/conditions
 */
#gcwu-sig img {
	position: absolute;
	top: 10px;
	left: 0;
}

#gcwu-wmms img {
	position: absolute;
	top: 0;
	right: 0;
}

h1 {
	padding: 30px 0 0 0;
	margin: 10px 0;
}

#gcwu-lang li, #gcwu-tc li{
	margin-right: 20px;
}