@charset "utf-8";
/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * www.tbs.gc.ca/ws-nw/wet-boew/terms / www.sct.gc.ca/ws-nw/wet-boew/conditions
 */
.ie7 {
	#gcwu-sig {
		margin-top:20px;
		padding-bottom:10px;
	}
	#gcwu-title-left,#gcwu-title-right,.gcwu-alt-title-left,.gcwu-alt-title-right{
		padding-top:12px;
	}
	#gcwu-ef-lang,#gcwu-other-lang{
		margin:13px 0 0;
	}
	#gcwu-tc{
		margin-top:-1px;
	}
	#gcwu-ef-tc,#gcwu-other-tc{
		padding-top:8px;
	}
	#wb-core {
		margin-bottom: -20px;
	}
	#wb-core-in {
		background: url(../images/sp-pe-bg-ie.jpg) top center repeat-x #fff;
	}
	#wb-main-in {
		position: static;
	}
}