---
{
	"title": "Expiration de la session",
	"language": "fr",
	"category": "Plugiciels",
	"description": "Ferme la session de l'utilisateur après un certain délai.",
	"tag": "session-timeout",
	"parentdir": "session-timeout",
	"altLangPrefix": "session-timeout",
	"dateModified": "2025-05-20"
}
---

<span class="wb-sessto" data-wb-sessto='{"inactivity": 30000, "logouturl": "../../index.html#wet-boew"}'></span>

<section><h2 id="how">Configuration</h2>
	<p>Ajoutez les lignes suivantes à la page&#160;:</p>
	<pre><code>&lt;span class="wb-sessto" data-wb-sessto='{"inactivity": 30000, "logouturl": "../../index.html#wet-boew"}'&gt;&lt;/span&gt;</code></pre>
</section>

<section><h2 id="try">Faites un essai</h2>
	<p>Cette page a été configurée pour expirer dans 30 secondes. Après ce délai, vous aurez 3 minutes pour choisir de la garder active ou non. Veuillez svp attendre que la boîte de dialogue apparaisse.</p>
</section>
