---
{
	"title": "Session Expired",
	"language": "en",
	"category": "Plugins",
	"description": "Contains link to return to working example.",
	"tag": "session-timeout",
	"parentdir": "session-timeout",
	"altLangPrefix": "session-timeout",
	"dateModified": "2025-05-26"
}
---

<p>Click on the link to return to the <a href="session-timeout-en.html">Session Timeout example.</a></p>
