---
{
	"title": "Session Timeout",
	"language": "en",
	"category": "Plugins",
	"description": "Helps Web asset owners to provide session timeout and inactivity timeout functionality.",
	"tag": "session-timeout",
	"parentdir": "session-timeout",
	"altLangPrefix": "session-timeout",
	"dateModified": "2024-10-24"
}
---

<span class="wb-sessto" data-wb-sessto='{"inactivity": 30000, "logouturl": "../index-en.html"}'></span>

<section>
	<h2 id="how">How do I use it?</h2>
	<p>Add the following to the page:</p>
	<pre><code>&lt;span class="wb-sessto" data-wb-sessto='{"inactivity": 30000, "logouturl": "../index-en.html"}'&gt;&lt;/span&gt;</code></pre>
</section>

<section>
	<h2 id="try">Try it out!</h2>
	<p>This page has a 30 seconds inactivity timeout period. You also have 3 minutes to confirm if you want to keep the session alive. Please wait for the prompt to appear.</p>
</section>
