---
{
	"title": "Expiration de la session avec l'option textOverrides",
	"language": "fr",
	"category": "Plugiciels",
	"description": "Ferme la session de l'utilisateur après un certain délai.",
	"tag": "session-timeout-text-override",
	"parentdir": "session-timeout",
	"altLangPrefix": "session-timeout-text-override",
	"dateModified": "2025-05-20"
}
---

<span class="wb-sessto" data-wb-sessto='{"inactivity": 30000, "reactionTime": 30000, "logouturl": "../../index.html#wet-boew", "textOverrides": {"buttonContinue": "Keep Going", "buttonEnd": "Goodbye", "timeoutAlready": "You took too long.  Bye!", "buttonSignin": "Start Over", "timeoutEnd": "Are you still there?"}}'></span>

<section><h2 id="how">Configuration</h2>
	<p>Ajoutez l'option <code>textOverrides</code> à l'élément d'expiration de la session. Voici l'exemple de la page actuelle&nbsp;:</p>
	<pre><code>&lt;span class="wb-sessto" data-wb-sessto='{"inactivity": 30000, "reactionTime": 30000, "logouturl": "../../index.html#wet-boew", "textOverrides": {"buttonContinue": "Keep Going", "buttonEnd": "Goodbye", "timeoutAlready": "You took too long.  Bye!", "buttonSignin": "Start Over", "timeoutEnd": "Are you still there?"}}'&gt;&lt;/span&gt;</code></pre>
</section>

<section><h2 id="try">Faites un essai</h2>
	<p>Cette page a été configurée pour expirer dans 30 secondes. Après ce délai, vous aurez 30 secondes pour choisir de la garder active ou non. Veuillez svp attendre que la boîte de dialogue apparaisse.</p>
</section>
