---
{
	"title": "Session expirée",
	"language": "fr",
	"category": "Plugiciels",
	"description": "Contient un lien permettant de revenir à l'exemple de travail.",
	"tag": "session-timeout",
	"parentdir": "session-timeout",
	"altLangPrefix": "session-timeout",
	"dateModified": "2025-05-26"
}
---

<p>Cliquez sur le lien pour revenir à <a href="session-timeout-fr.html">l'exemple de l'expiration de la session</a></p>
