---
{
	"title": "Exit script middle page",
	"language": "en",
	"category": "Plugins",
	"categoryfile": "plugins",
	"description": "Redirects users to another sites.",
	"tag": "exitscript",
	"parentdir": "exitscript",
	"altLangPrefix": "exitscript",
	"dateModified": "2020-06-17"
}
---
<p>Dear Visitor,</p>

<p>Thank you for visiting our website. We want to inform you that by clicking on the following link, you will be directed away from our site to another web page. Please note that we are not responsible for the content or privacy practices of the external website you are about to visit.</p>

<p><span class="wb-exitscript wb-exitscript-urlparam"></span></p>

<p><a href="../../../demos/exitscript/exitscript-en.html">Return to the plugin example page</a></p>

<details class="mrgn-bttm-md">
<summary>View code</summary>
	<pre><code>&lt;p&gt;&lt;span class="wb-exitscript wb-exitscript-urlparam"&gt;&lt;/span&gt;&lt;/p&gt;</code></pre>
</details>
