---
{
	"title": "Page intermédiaire de sortie de navigation",
	"language": "fr",
	"category": "Plugiciels",
	"categoryfile": "plugins",
	"description": "Page modèle afin d'aviser l'utilisateur d'une redirection vers un autre site.",
	"tag": "exitscript",
	"parentdir": "exitscript",
	"altLangPrefix": "exitscript",
	"dateModified": "2020-06-17"
}
---
<p>Cher visiteur,</p>

<p>Merci d'avoir visité notre site web. Nous tenons à vous informer qu'en cliquant sur le lien suivant, vous serez redirigé(e) hors de notre site vers une autre page web. Veuillez noter que nous ne sommes pas responsables du contenu ou des pratiques en matière de confidentialité du site externe que vous vous apprêtez à visiter.</p>

<p><span class="wb-exitscript wb-exitscript-urlparam"></span></p>

<p><a href="../../../demos/exitscript/exitscript-fr.html">Retourner à la page d'exemple du plugiciel</a></p>

<details class="mrgn-bttm-md">
<summary>Cosulter le code</summary>
	<pre><code>&lt;p&gt;&lt;span class="wb-exitscript wb-exitscript-exiturlparam"&gt;&lt;/span&gt;&lt;/p&gt;</code></pre>
</details>
