---
{
	"title": "Pied de page dans le menu",
	"language": "fr",
	"tag": "menu",
	"parentdir": "menu",
	"altLangPrefix": "footer-menu",
	"dateModified": "2018-08-06"
}
---
<span class="wb-prettify all-pre hide"></span>
			<section>
				<h2 class="mrgn-tp-0 text-success h4">Structures acceptées <span class="glyphicon glyphicon-ok-circle"></span></h2>
				<ul>
					<li><a href="footer-menu-demos/footer-menu-list-fr.html">Titre suivi par une liste de liens</a></li>
					<li><a href="footer-menu-demos/footer-menu-link-fr.html">Titre suivi par un seul lien</a></li>
					<li><a href="footer-menu-demos/footer-menu-heading-fr.html">Titre avec lien</a></li>
				</ul>
			</section>
			<section>
				<h2 class="mrgn-tp-0 text-danger h4">Structures non acceptées <span class="glyphicon glyphicon-remove-circle"></span></h2>
				<ul>
					<li><a href="footer-menu-demos/footer-menu-error-1-fr.html">Titre avec lien suivi par une liste de liens</a></li>
					<li><a href="footer-menu-demos/footer-menu-error-2-fr.html">Titre suivi par plusieurs liens sans l'utilisation d'une liste</a></li>
					<li><a href="footer-menu-demos/footer-menu-error-3-fr.html">Plusieurs titres avec lien</a></li>
				</ul>
			</section>
			<section>
				<h2 class="mrgn-tp-0 h4">De plus</h2>
				<ul>
					<li><a href="footer-menu-demos/footer-menu-mix-fr.html">Mélange de structures acceptées</a></li>
				</ul>
			</section>
