---
{
	"title": "Footer Menu Integration",
	"language": "en",
	"tag": "menu",
	"parentdir": "menu",
	"altLangPrefix": "footer-menu",
	"dateModified": "2018-08-06"
}
---
<span class="wb-prettify all-pre hide"></span>

<section>
	<h2 class="mrgn-tp-0 text-success h4">Supported <span class="glyphicon glyphicon-ok-circle"></span></h2>
	<ul>
		<li><a href="footer-menu-demos/footer-menu-list-en.html">Heading followed by a list of links</a></li>
		<li><a href="footer-menu-demos/footer-menu-link-en.html">Heading followed by a single link</a></li>
		<li><a href="footer-menu-demos/footer-menu-heading-en.html">Linked heading</a></li>
	</ul>
</section>

<section>
	<h2 class="mrgn-tp-0 text-danger h4">Not Supported <span class="glyphicon glyphicon-remove-circle"></span></h2>
	<ul>
		<li><a href="footer-menu-demos/footer-menu-error-1-en.html">Linked heading followed by a list of links</a></li>
		<li><a href="footer-menu-demos/footer-menu-error-2-en.html">Heading followed by multiple links without using a list</a></li>
		<li><a href="footer-menu-demos/footer-menu-error-3-en.html">Multiple linked headings</a></li>
	</ul>
</section>

<section>
	<h2 class="mrgn-tp-0 h4">Other</h2>
	<ul>
		<li><a href="footer-menu-demos/footer-menu-mix-en.html">Mixing different supported structures</a></li>
	</ul>
</section>
