---
{
  "title": "Menu Plugin",
  "language": "en"
}
---

<style type="text/css">
#menu-demo {
  background: #0B3048;
}
#menu-demo .menu {
  display: table;
  width: 100%;
  text-shadow: 1px 1px 1px #222;
  position: relative;
  margin-bottom: 0;
  font-size: 15px;
}
#menu-demo .menu .active {
  text-shadow: none;
  background: #243850;
}
#menu-demo .menu > li {
  position: relative;
  display: table-cell;
  margin: 0;
  padding: 0;
}
#menu-demo .menu > li a {
  color: #fff;
  font-size: 14px;
  padding: 1em;
  text-align: center;
  display: block;
  border-left: 2px ridge #284468;
}
#menu-demo .menu > li a:hover {
  text-decoration: none;
}
#menu-demo .menu > li:last-child a {
  border-right: 2px ridge #284468;
}
#menu-demo .sm {
  display: none;
}
#menu-demo .sm.open {
  display: inline;
  position: absolute;
  z-index: 100;
  box-shadow: 0 3px 3px -2px rgba(0, 0, 0, 0.3), 3px 3px 3px -2px rgba(0, 0, 0, 0.3), -3px 3px 3px -2px rgba(0, 0, 0, 0.3);
  border-left: none;
  border-right: none;
  border-bottom: 5px solid #243850;
  text-transform: none;
  padding: 0;
  background: #ccc;
  top: auto;
  min-width: 200px;
}
#menu-demo .sm.open li {
  display: block;
}
#menu-demo .sm.open li a {
  color: #444;
  border-left: none;
  border-right: none;
  text-shadow: none;
  text-align: left;
  padding: 5px 10px;
}
#menu-demo .sm.open li a:hover, #menu-demo .sm.open li a:focus, #menu-demo .sm.open li a:active {
  background: #243850;
  color: #fff;
}
#menu-demo .sm.open .slflnk {
  background: #bbb;
}
#menu-demo .sm.open .expicon {
  display: none;
}
#menu-demo .sm .row {
  background: transparent;
}
#menu-demo .sm .row a {
  color: #6e6e6e;
}
#menu-demo .expicon {
  left: 0.75em;
  position: relative;
  top: 0.75em;
}

</style>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, minima deleniti autem tenetur odit nostrum sunt eligendi quasi maiores veritatis voluptate tempore dolorem animi libero!</p>
<nav role="navigation" id="menu-demo" data-ajax-replace="menu-include-{{language}}.html" data-post-remove="remove after init" class="wb-menu remove after init" typeof="SiteNavigationElement">
	<ul class="list-inline menu">
		<li><a href="http://www.canada.gc.ca" class="item">Lorem ipsum dolor sit amet.</a></li>
		<li><a href="http://www.tc.gc.ca" class="item">Lorem ipsum.</a></li>
		<li><a href="http://www.tbs-sct.gc.ca" class="item">Lorem ipsum dolor sit amet, consectetur.</a></li>
		<li><a href="http://www.ec.gc.ca" class="item">Lorem ipsum toda.</a></li>
	</ul>
</nav>
<!-- DataAjaxFragmentEnd -->
</html>
