---
{
	"title": "Secondary Menu",
	"language": "en",
	"fr": "menu-secondary"
}
---

<div class="row">

	<nav role="navigation" id="wb-sec" typeof="SiteNavigationElement" class="col-md-3">
		<h2>Secondary menu</h2>
		<ul class="list-unstyled">
			<li><a href="#">Lorem ipsum dolor sit amet.</a></li>
			<li><a href="#">Officia, molestiae praesentium.</a></li>
			<li><a href="#">Officiis, dolorem ut sunt?</a></li>
			<li><a href="#">Harum, aliquam cupiditate!</a></li>
			<li><a href="#">Quos voluptates quisquam alias.</a></li>
		</ul>
	</nav>
	
	<div class="col-md-9">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, minima deleniti autem tenetur odit nostrum sunt eligendi quasi maiores veritatis voluptate tempore dolorem animi libero!</p>
	</div>

</div>
