---
{
	"title": "Menu",
	"language": "fr",
	"category": "Plugiciel",
	"description": "Une barre de menu interactive comprenant des sous-menus optionnels.",
	"tag": "menu",
	"en": "menu"
}
---

<style>
.menu-demo .menu {
	text-shadow: 1px 1px 1px #666;
	margin-bottom: 0;
}
.menu-demo .menu > li {
	margin: 0;
	padding: 0;
}
.menu-demo .menu > li > a {
	color: #fff;
	padding: 1em;
	border-left: 2px ridge #284468;
}
.menu-demo .menu > li:last-child a {
	border-right: 2px ridge #284468;
}
.menu-demo .sm.open {
	box-shadow: 0 3px 3px -2px rgba(0, 0, 0, 0.3), 3px 3px 3px -2px rgba(0, 0, 0, 0.3), -3px 3px 3px -2px rgba(0, 0, 0, 0.3);
	border-left: none;
	border-right: none;
	padding: 0;
	background: #ccc;
	min-width: 200px;
}
.menu-demo .sm.open li a {
	font-size: 0.95em;
	color: #444;
	border-left: none;
	border-right: none;
	text-shadow: none;
	padding: 5px 10px;
}
.menu-demo .sm .row {
	background: transparent;
}

#menu-demo-1 {
	background: #0B3048;
}
#menu-demo-1 .menu .active {
	text-shadow: none;
	background: #335075;
}
#menu-demo-1 .menu a {
	text-decoration: none;
}
#menu-demo-1 .menu > li > a {
	padding: 0.8em;
}
#menu-demo-1 .menu > li > a:hover, #menu-demo-1 .menu > li > a:focus {
	text-decoration: underline;
}
#menu-demo-1 .sm.open li a:hover, #menu-demo-1 .sm.open li a:focus {
	background: #243850;
	color: #fff;
}
#menu-demo-1 .sm.open .slflnk {
	background: #bbb;
}
#menu-demo-1 .sm .row a {
	color: #6e6e6e;
}
#menu-demo-1 .sm.open {
	border-bottom: 5px solid #243850;
}
#menu-demo-1 .expicon {
	margin-right: 5px;
}

#menu-demo-2 {
	background: #335075;
}
#menu-demo-2 .menu {
	width: 100%;
}
#menu-demo-2 .menu .active {
	text-shadow: none;
	background: #0B3048;
}
#menu-demo-2 .menu > li > a {
	padding: 1.0em;
}
#menu-demo-2 .sm.open li a:hover, #menu-demo-2 .sm.open li a:focus {
	background: #243850;
	color: #fff;
}
#menu-demo-2 .sm.open .slflnk {
	background: #bbb;
}
#menu-demo-2 .sm .row a {
	color: #6e6e6e;
}
#menu-demo-2 .sm.open {
	border-bottom: 5px solid #335075;
}

@media screen and (max-width:991px){

	#wb-sm {
		background: #114F7A;
	}

	#wb-sm .menu li a:hover, #wb-sm .menu li a:focus, #wb-sm .menu li a:active {
		background: transparent;
	}

	#wb-sm .nav-close  {
	    background: none repeat scroll 0 0 #305277;
	    height: 44px;
		margin-top:20px;
		color:#fff;
		text-decoration:none;
		vertical-align:middle;
		margin-left:-20px;
		padding-top:10px;
		text-transform:lowercase;
	}

	#wb-sm .nav-close span{
		margin:-3px 10px 0;
		font-size:1.5em;
		vertical-align:middle;
	}

	#wb-sm .menu {
		text-transform:none;
		color:#fff;
	}

	#wb-sm .menu a{
		color:#fff;
	}

	#wb-sm .expicon {
		position:absolute;
		top:.8em;
		border-top-color:transparent;
		border-left-color:#90a4b4;
		border-bottom:5px solid transparent;
	}

	#wb-sm .sm.open {
		border:none;
	}

	#wb-sm .menu li.active .expicon {
		border-top-color:#fff !important;  /* note the !important is there to override the !important being used in base.css */
		border-left-color:transparent;
		top:1.1em;
	}

	#wb-sm .menu > li a {
		padding-left:25px;
		color:#fff;
	}

	#wb-sm .sm.open li a {
		padding-left:35px;
		color:#a5b5c2;
	}

	#wb-sm:target .wb-nav {
		background:#1b3452;
		padding:20px 0;
		font-size:14px;
		color:#90a4b4;
	}

	.wb-nav > ul > li {
		padding:0 10px 0 25px;
	}

	.wb-nav a{
		padding:5px 5px 5px 10px;
		color:#fff;
		text-decoration:none;
		display:block;
	}

	#wb-sm .sm.open li a {
		color: #fff;
	}

	#wb-sm .menu ul li, #wb-sm .menu .active, #wb-sm .menu > li.active > a, #wb-sm .menu > li.active > a , #wb-sm .menu .active:hover  {
		background: transparent !important;
		border: none !important;
		color: #fff !important;
	}

	.wb-info .list-unstyled li, .wb-info .list-unstyled li a {
		color: #fff;
		padding-left: 10px;
    	text-decoration: none;
	}

	#wb-sm .row ,#wb-sm .sm, #wb-sm .sm.open {
		border: 0;
	}

	.wb-info .list-unstyled li ul li {
		color: #eee;
	}

	#wb-imrpt-1 {
		padding: 20px 30px;
	}

	#wb-imrpt-1 h2, label[for=wb-srch-q-imprt] { 
	  position: absolute;
	  width: 1px;
	  height: 1px;
	  margin: -1px;
	  padding: 0;
	  overflow: hidden;
	  clip: rect(0 0 0 0);
	  border: 0;
	 }

}
</style>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, minima deleniti autem tenetur odit nostrum sunt eligendi quasi maiores veritatis voluptate tempore dolorem animi libero!</p>
<nav role="navigation" id="menu-demo-1" data-ajax-replace="menu-include-{{language}}.html" data-post-remove="remove after init" class="menu-demo wb-menu remove after init" typeof="SiteNavigationElement">
	<ul class="list-inline menu">
		<li><a href="http://www.canada.gc.ca" class="item">Section 1</a></li>
		<li><a href="http://www.tc.gc.ca" class="item">Section 2</a></li>
		<li><a href="http://www.tbs-sct.gc.ca" class="item">Section 3</a></li>
		<li><a href="http://www.ec.gc.ca" class="item">Section 4</a></li>
	</ul>
</nav>

<hr />

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, minima deleniti autem tenetur odit nostrum sunt eligendi quasi maiores veritatis voluptate tempore dolorem animi libero!</p>
<nav role="navigation" id="menu-demo-2" data-ajax-replace="menu-include-{{language}}.html" data-post-remove="remove after init" class="menu-demo wb-menu remove after init" typeof="SiteNavigationElement">
	<ul class="list-inline menu">
		<li><a href="http://www.canada.gc.ca" class="item">Section 1</a></li>
		<li><a href="http://www.tc.gc.ca" class="item">Section 2</a></li>
		<li><a href="http://www.tbs-sct.gc.ca" class="item">Section 3</a></li>
		<li><a href="http://www.ec.gc.ca" class="item">Section 4</a></li>
	</ul>
</nav>
