---
title: Menu Plugin
language: en
---
<section>
	<h1>{{title}}</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, minima deleniti autem tenetur odit nostrum sunt eligendi quasi maiores veritatis voluptate tempore dolorem animi libero!</p>
	<nav role="navigation" id="wb-sm" data-ajax-replace="menu-{{language}}.txt" class="wb-menu">
		<h2>Navigation</h2>
		<ul class="list-inline menu">
			<li><a href="http://www.canada.gc.ca">Lorem ipsum dolor sit amet.</a></li>
			<li><a href="http://www.tc.gc.ca">Lorem ipsum.</a></li>
			<li><a href="http://www.tbs-sct.gc.ca">Lorem ipsum dolor sit amet, consectetur.</a></li>
			<li><a href="http://www.ec.gc.ca">Lorem ipsum toda.</a></li>
		</ul>
	</nav>
	
</section>
<!-- DataAjaxFragmentEnd -->
</html>