---
title: Menu Plugin
language: en
sitetitle: Web Experience Toolkit (WET)
tagline: Collaborative open source project led by the Government of Canada
---
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, minima deleniti autem tenetur odit nostrum sunt eligendi quasi maiores veritatis voluptate tempore dolorem animi libero!</p>
<nav role="navigation" id="wb-sm" data-ajax-replace="menu-include-{{language}}.html" data-post-remove="remove after init" class="wb-menu remove after init" typeof="SiteNavigationElement">
	<h2>Menu</h2>
	<ul class="list-inline menu">
		<li><a href="http://www.canada.gc.ca">Lorem ipsum dolor sit amet.</a></li>
		<li><a href="http://www.tc.gc.ca">Lorem ipsum.</a></li>
		<li><a href="http://www.tbs-sct.gc.ca">Lorem ipsum dolor sit amet, consectetur.</a></li>
		<li><a href="http://www.ec.gc.ca">Lorem ipsum toda.</a></li>
	</ul>
</nav>
<!-- DataAjaxFragmentEnd -->
</html>
