---
{
	"title": "Menu",
	"language": "en",
	"category": "Plugin",
	"description": "Provides an interactive menu with optional sub-menus.",
	"tag": "menu",
	"altLangPrefix": "menu",
	"css": "demo/menu"
}
---
<ul>
	<li><strong>Large screens:</strong> The menu is rendered in the header as a menu bar.</li>
	<li><strong>Small and medium screens:</strong> The menu is rendered as a side panel, triggered by a menu button in the header, and includes the secondary menu and the footer.</p>
</ul>
