---
{
	"title": "Menu",
	"language": "fr",
	"category": "plugin",
	"description": "Une barre de menu interactive comprenant des sous-menus optionnels.",
	"tag": "menu",
	"en": "menu"
}
---

<style>
.menu-demo .menu {
	text-shadow: 1px 1px 1px #222;
	margin-bottom: 0;
}
.menu-demo .menu > li {
	margin: 0;
	padding: 0;
}
.menu-demo .menu > li > a {
	color: #fff;
	padding: 1em;
	border-left: 2px ridge #284468;
}
.menu-demo .menu > li:last-child a {
	border-right: 2px ridge #284468;
}
.menu-demo .sm.open {
	box-shadow: 0 3px 3px -2px rgba(0, 0, 0, 0.3), 3px 3px 3px -2px rgba(0, 0, 0, 0.3), -3px 3px 3px -2px rgba(0, 0, 0, 0.3);
	border-left: none;
	border-right: none;
	padding: 0;
	background: #ccc;
	min-width: 200px;
}
.menu-demo .sm.open li a {
	font-size: 0.95em;
	color: #444;
	border-left: none;
	border-right: none;
	text-shadow: none;
	padding: 5px 10px;
}
.menu-demo .sm .row {
	background: transparent;
}

#menu-demo-1 {
	background: #0B3048;
}
#menu-demo-1 .menu .active {
	text-shadow: none;
	background: #335075;
}
#menu-demo-1 .menu a {
	text-decoration: none;
}
#menu-demo-1 .menu > li > a {
	padding: 0.8em;
}
#menu-demo-1 .menu > li > a:hover, #menu-demo-1 .menu > li > a:focus {
	text-decoration: underline;
}
#menu-demo-1 .sm.open li a:hover, #menu-demo-1 .sm.open li a:focus {
	background: #243850;
	color: #fff;
}
#menu-demo-1 .sm.open .slflnk {
	background: #bbb;
}
#menu-demo-1 .sm .row a {
	color: #6e6e6e;
}
#menu-demo-1 .sm.open {
	border-bottom: 5px solid #243850;
}
#menu-demo-1 .expicon {
	margin-right: 5px;
}

#menu-demo-2 {
	background: #335075;
}
#menu-demo-2 .menu {
	width: 100%;
}
#menu-demo-2 .menu .active {
	text-shadow: none;
	background: #0B3048;
}
#menu-demo-2 .menu > li > a {
	padding: 1.0em;
}
#menu-demo-2 .sm.open li a:hover, #menu-demo-2 .sm.open li a:focus {
	background: #243850;
	color: #fff;
}
#menu-demo-2 .sm.open .slflnk {
	background: #bbb;
}
#menu-demo-2 .sm .row a {
	color: #6e6e6e;
}
#menu-demo-2 .sm.open {
	border-bottom: 5px solid #335075;
}
</style>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, minima deleniti autem tenetur odit nostrum sunt eligendi quasi maiores veritatis voluptate tempore dolorem animi libero!</p>
<nav role="navigation" id="menu-demo-1" data-ajax-replace="menu-include-{{language}}.html" data-post-remove="remove after init" class="menu-demo wb-menu remove after init" typeof="SiteNavigationElement">
	<ul class="list-inline menu">
		<li><a href="http://www.canada.gc.ca" class="item">Section 1</a></li>
		<li><a href="http://www.tc.gc.ca" class="item">Section 2</a></li>
		<li><a href="http://www.tbs-sct.gc.ca" class="item">Section 3</a></li>
		<li><a href="http://www.ec.gc.ca" class="item">Section 4</a></li>
	</ul>
</nav>

<hr />

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, minima deleniti autem tenetur odit nostrum sunt eligendi quasi maiores veritatis voluptate tempore dolorem animi libero!</p>
<nav role="navigation" id="menu-demo-2" data-ajax-replace="menu-include-{{language}}.html" data-post-remove="remove after init" class="menu-demo wb-menu remove after init" typeof="SiteNavigationElement">
	<ul class="list-inline menu">
		<li><a href="http://www.canada.gc.ca" class="item">Section 1</a></li>
		<li><a href="http://www.tc.gc.ca" class="item">Section 2</a></li>
		<li><a href="http://www.tbs-sct.gc.ca" class="item">Section 3</a></li>
		<li><a href="http://www.ec.gc.ca" class="item">Section 4</a></li>
	</ul>
</nav>
