---
title: Menu Plugin
language: en
---

<style type="text/css">
#menu-demo {
  margin-bottom: 5em;
}
#menu-demo .menu {
  display: table;
  width: 100%;
  margin: 0;
}
#menu-demo .menu > li {
  display: table-cell;
  padding: 0;
}
#menu-demo .menu li a:hover, #menu-demo .menu li a:focus, #menu-demo .menu li a:active {
  background: #243850;
}
#menu-demo .menu li li a:hover, #menu-demo .menu li li a:focus, #menu-demo .menu li li a:active {
  background: none;
}
#menu-demo .expandicon {
  left: 0.75em;
  position: relative;
  top: 0.75em;
  margin-right: 0.8em;
}
#menu-demo .sbmnu .open {
  background: #ccc;
  border-bottom: 5px solid #243850;
  border-left: 0 none;
  border-right: 0 none;
  box-shadow: 0 3px 3px -2px rgba(0, 0, 0, 0.3), 3px 3px 3px -2px rgba(0, 0, 0, 0.3), -3px 3px 3px -2px rgba(0, 0, 0, 0.3);
  display: inline-block;
  padding: 5px;
  margin: 0;
  list-style-type: none;
  position: absolute;
  left: 0;
  z-index: 100;
  width: auto;
}
#menu-demo .sbmnu .open li {
  display: block;
  float: none;
}
#menu-demo .sbmnu .open a {
  color: #333;
}
</style>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, minima deleniti autem tenetur odit nostrum sunt eligendi quasi maiores veritatis voluptate tempore dolorem animi libero!</p>
<nav role="navigation" id="menu-demo" data-ajax-replace="menu-include-{{language}}.html" data-post-remove="remove after init" class="wb-menu remove after init" typeof="SiteNavigationElement">

	<ul class="list-inline menu">
		<li><a href="http://www.canada.gc.ca" class="item">Lorem ipsum dolor sit amet.</a></li>
		<li><a href="http://www.tc.gc.ca" class="item">Lorem ipsum.</a></li>
		<li><a href="http://www.tbs-sct.gc.ca" class="item">Lorem ipsum dolor sit amet, consectetur.</a></li>
		<li><a href="http://www.ec.gc.ca" class="item">Lorem ipsum toda.</a></li>
	</ul>
</nav>
<!-- DataAjaxFragmentEnd -->
</html>
