---
title: Menu Plugin
language: en
---
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, minima deleniti autem tenetur odit nostrum sunt eligendi quasi maiores veritatis voluptate tempore dolorem animi libero!</p>
<nav role="navigation" id="menu-demo" data-ajax-replace="menu-include-{{language}}.html" data-post-remove="remove after init" class="wb-menu remove after init" typeof="SiteNavigationElement">

	<ul class="list-inline menu">
		<li><a href="http://www.canada.gc.ca" class="item">Lorem ipsum dolor sit amet.</a></li>
		<li><a href="http://www.tc.gc.ca" class="item">Lorem ipsum.</a></li>
		<li><a href="http://www.tbs-sct.gc.ca" class="item">Lorem ipsum dolor sit amet, consectetur.</a></li>
		<li><a href="http://www.ec.gc.ca" class="item">Lorem ipsum toda.</a></li>
	</ul>
</nav>
<!-- DataAjaxFragmentEnd -->
</html>
