---
{
	"title": "Menu",
	"language": "en",
	"category": "Plugin",
	"description": "Provides an interactive menu bar with optional sub-menus.",
	"tag": "menu",
	"fr": "menu",
	"css": "demo/menu"
}
---
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, minima deleniti autem tenetur odit nostrum sunt eligendi quasi maiores veritatis voluptate tempore dolorem animi libero!</p>
<nav role="navigation" id="menu-demo-1" data-ajax-replace="menu-include-{{language}}.html" data-post-remove="remove after init" class="menu-demo wb-menu remove after init" typeof="SiteNavigationElement">
	<ul class="list-inline menu">
		<li><a href="http://www.canada.gc.ca" class="item">Section 1</a></li>
		<li><a href="http://www.tc.gc.ca" class="item">Section 2</a></li>
		<li><a href="http://www.tbs-sct.gc.ca" class="item">Section 3</a></li>
		<li><a href="http://www.ec.gc.ca" class="item">Section 4</a></li>
	</ul>
</nav>

<hr />

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, minima deleniti autem tenetur odit nostrum sunt eligendi quasi maiores veritatis voluptate tempore dolorem animi libero!</p>
<nav role="navigation" id="menu-demo-2" data-ajax-replace="menu-include-{{language}}.html" data-post-remove="remove after init" class="menu-demo wb-menu remove after init" typeof="SiteNavigationElement">
	<ul class="list-inline menu">
		<li><a href="http://www.canada.gc.ca" class="item">Section 1</a></li>
		<li><a href="http://www.tc.gc.ca" class="item">Section 2</a></li>
		<li><a href="http://www.tbs-sct.gc.ca" class="item">Section 3</a></li>
		<li><a href="http://www.ec.gc.ca" class="item">Section 4</a></li>
	</ul>
</nav>
