---
{
	"title": "Menu",
	"language": "fr",
	"category": "Plugiciel",
	"description": "Une barre de menu interactive comprenant des sous-menus optionnels.",
	"tag": "menu",
	"parentdir": "menu",
	"altLangPrefix": "menu",
	"css": ["demo/menu"],
	"dateModified": "2014-02-19"
}
---
<ul>
	<li><strong>Grands écrans&#160;:</strong> Le menu est affiché dans l'en-tête comme une barre de menu.</li>
	<li><strong>Petits écrans et écrans de taille moyenne&#160;:</strong> Le menu est affiché comme un panneau latéral, activé par un bouton de menu dans l'en-tête, et comprend le menu secondaire et le pied de page.</li>
</ul>
