---
{
	"title": "Titre du message - Boîte à outils de l’expérience Web / Message title - Web Experience Toolkit",
	"language": "fr",
	"layout": "servermessage.hbs"
}
---
<h1 class="wb-inv">Titre du message / <span lang="en">Message title</span></h1>

<section class="col-md-6">
	<h2><span class="glyphicon glyphicon-warning-sign mrgn-rght-md"></span> Titre du message</h2>
	<p>Texte d'exemple. Texte d'exemple. Texte d'exemple. Texte d'exemple. Texte d'exemple. Texte d'exemple. Texte d'exemple. Texte d'exemple. Texte d'exemple.</p>
</section>

<section class="col-md-6" lang="en">
	<h2><span class="glyphicon glyphicon-warning-sign mrgn-rght-md"></span> Message title</h2>
	<p>Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. Sample text.</p>
</section>
