---
{
	"title": "Message title - Web Experience Toolkit / Titre du message - Boîte à outils de l’expérience Web",
	"language": "en",
	"layout": "servermessage.hbs"
}
---
<h1 class="wb-inv">Message title / <span lang="fr">Titre du message</span></h1>

<section class="col-md-6">
	<h2><span class="glyphicon glyphicon-warning-sign mrgn-rght-md"></span> Message title</h2>
	<p>Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. Sample text.</p>
</section>

<section class="col-md-6" lang="fr">
	<h2><span class="glyphicon glyphicon-warning-sign mrgn-rght-md"></span> Titre du message</h2>
	<p>Texte d'exemple. Texte d'exemple. Texte d'exemple. Texte d'exemple. Texte d'exemple. Texte d'exemple. Texte d'exemple. Texte d'exemple. Texte d'exemple.</p>
</section>
