---
{
	"title": "Language selection - Web Experience Toolkit / Sélection de la langue - Boîte à outils de l’expérience Web",
	"language": "en",
	"layout": "splashpage.hbs"
}
---
<h1 class="wb-inv">Language selection - Web Experience Toolkit / <span lang="fr">Sélection de la langue - Boîte à outils de l’expérience Web</span></h1>

<section class="col-md-6">
	<h2 class="h3 text-center">Web Experience Toolkit</h2>
	<ul class="list-unstyled">
		<li><a class="btn btn-lg btn-primary btn-block" href="../index-en.html">English</a></li>
		<li><a class="btn btn-lg btn-default btn-block mrgn-tp-sm" href="../../License-en.html" rel="license">Terms and conditions of use</a></li>
	</ul>
</section>

<section class="col-md-6" lang="fr">
	<h2 class="h3 text-center">Boîte à outils de l’expérience Web</h2>
	<ul class="list-unstyled">
		<li><a class="btn btn-lg btn-primary btn-block" href="../index-fr.html">Français</a></li>
		<li><a class="btn btn-lg btn-default btn-block mrgn-tp-sm" href="../../Licence-fr.html" rel="license">Conditions régissant l'utilisation</a></li>
	</ul>
</section>
