/*
 * BACKGROUND SCSS
 * - Decorative OOCSS Extending CSS for background treatment of elements
 */

$background-light-color: #eee !default;
$background-light-text: #222 !default;
$background-medium-color: #777 !default;
$background-medium-text: #fff !default;
$background-accent-color: #0056b7 !default;
$background-accent-text: #fff !default;
$background-dark-color: #222 !default;
$background-dark-text: #fff !default;

$background-highlight-color: #ffffc9 !default;
$background-highlight-text: #222 !default;
$background-white-color: #fff !default;
$background-white-text: #222 !default;

[class*="background-"] {color: #fff;}

.background-light  { background: $background-light-color; color: $background-light-text; }
.background-medium { background: $background-medium-color; color: $background-medium-text; }
.background-accent { background: $background-accent-color; color: $background-accent-text; }
.background-dark   { background: $background-dark-color; color: $background-dark-text; }
.background-highlight { background: $background-highlight-color; color: $background-highlight-text; }
.background-white { background: $background-white-color; color: $background-white-text; }

