/*
 * MARGIN SCSS
 * - MARGIN OOCSS Extending CSS for positioning of elements
 */

$margin-xsmall : 2px !default;
$margin-small : 5px !default;
$margin-medium: 10px !default;
$margin-large: 20px !default;
$margin-xlarge: 50px !default;

    
[class*="margin-all"]      { margin: $margin-medium !important;}
[class*="margin-all none"] { margin: 0 !important; }
[class*="margin-all xsml"] { margin: $margin-xsmall !important; }
[class*="margin-all sml"]  { margin: $margin-small !important; }
[class*="margin-all lrg"]  { margin: $margin-large !important; }
[class*="margin-all xlrg"] { margin: $margin-xlarge !important; }

[class*="margin-left"]      { margin-left: $margin-medium !important;}
[class*="margin-left none"] { margin-left: 0 !important; }
[class*="margin-left xsml"] { margin-left: $margin-xsmall !important; }
[class*="margin-left sml"]  { margin-left: $margin-small !important; }
[class*="margin-left lrg"]  { margin-left: $margin-large !important; }
[class*="margin-left xlrg"] { margin-left: $margin-xlarge !important; }

[class*="margin-right"]      { margin-right: $margin-medium !important;}
[class*="margin-right none"] { margin-right: 0 !important; }
[class*="margin-right xsml"] { margin-right: $margin-xsmall !important; }
[class*="margin-right sml"]  { margin-right: $margin-small !important; }
[class*="margin-right lrg"]  { margin-right: $margin-large !important; }
[class*="margin-right xlrg"] { margin-right: $margin-xlarge !important; }

[class*="margin-top"]      { margin-top: $margin-medium !important;}
[class*="margin-top none"] { margin-top: 0 !important; }
[class*="margin-top xsml"] { margin-top: $margin-xsmall !important; }
[class*="margin-top sml"]  { margin-top: $margin-small !important; }
[class*="margin-top lrg"]  { margin-top: $margin-large !important; }
[class*="margin-top xlrg"] { margin-top: $margin-xlarge !important; }

[class*="margin-bottom"]      { margin-bottom: $margin-medium !important;}
[class*="margin-bottom none"] { margin-bottom: 0 !important; }
[class*="margin-bottom xsml"] { margin-bottom: $margin-xsmall !important; }
[class*="margin-bottom sml"]  { margin-bottom: $margin-small !important; }
[class*="margin-bottom lrg"]  { margin-bottom: $margin-large !important; }
[class*="margin-bottom xlrg"] { margin-bottom: $margin-xlarge !important; }

