/*
 * PADDING SCSS
 * - PADDING OOCSS Extending CSS for positioning of elements
 */

$padding-xsmall : 2px !default;
$padding-small : 5px !default;
$padding-medium: 10px !default;
$padding-large: 20px !default;
$padding-xlarge: 50px !default;

    
[class*="padding-all"]      { padding: $padding-medium !important;}
[class*="padding-all none"] { padding: 0 !important; }
[class*="padding-all xsml"] { padding: $padding-xsmall !important; }
[class*="padding-all sml"]  { padding: $padding-small !important; }
[class*="padding-all lrg"]  { padding: $padding-large !important; }
[class*="padding-all xlrg"] { padding: $padding-xlarge !important; }

[class*="padding-left"]      { padding-left: $padding-medium !important;}
[class*="padding-left none"] { padding-left: 0 !important; }
[class*="padding-left xsml"] { padding-left: $padding-xsmall !important; }
[class*="padding-left sml"]  { padding-left: $padding-small !important; }
[class*="padding-left lrg"]  { padding-left: $padding-large !important; }
[class*="padding-left xlrg"] { padding-left: $padding-xlarge !important; }

[class*="padding-right"]      { padding-right: $padding-medium !important;}
[class*="padding-right none"] { padding-right: 0 !important; }
[class*="padding-right xsml"] { padding-right: $padding-xsmall !important; }
[class*="padding-right sml"]  { padding-right: $padding-small !important; }
[class*="padding-right lrg"]  { padding-right: $padding-large !important; }
[class*="padding-right xlrg"] { padding-right: $padding-xlarge !important; }

[class*="padding-top"]      { padding-top: $padding-medium !important;}
[class*="padding-top none"] { padding-top: 0 !important; }
[class*="padding-top xsml"] { padding-top: $padding-xsmall !important; }
[class*="padding-top sml"]  { padding-top: $padding-small !important; }
[class*="padding-top lrg"]  { padding-top: $padding-large !important; }
[class*="padding-top xlrg"] { padding-top: $padding-xlarge !important; }

[class*="padding-bottom"]      { padding-bottom: $padding-medium !important;}
[class*="padding-bottom none"] { padding-bottom: 0 !important; }
[class*="padding-bottom xsml"] { padding-bottom: $padding-xsmall !important; }
[class*="padding-bottom sml"]  { padding-bottom: $padding-small !important; }
[class*="padding-bottom lrg"]  { padding-bottom: $padding-large !important; }
[class*="padding-bottom xlrg"] { padding-bottom: $padding-xlarge !important; }

