---
{
	"title": "v3.1.10 release notes",
	"language": "en",
	"description": "v3.1.10 release notes - Version history - Web Experience Toolkit (WET)",
	"altLangPrefix": "v3.1.10",
	"dateModified": "2014-04-23"
}
---
<ul>
	<li><strong>Release date:</strong> <time>2014-04-23</time></li>
	<li><a href="../dwnld-en.html#v3110">Downloads</a></li>
</ul>

<section>
	<h2>What's New</h2>
	<ul>
		<li>Grids: Added medium view support for nesting a span-3 in a span-4</li>
		<li>Menu: Fixed cursor and underlining of hover states of menu bar</li>
		<li>Tables: Added sorting for currency and formatted numbers</li>
		<li>WET theme: Aligned site menu with the v4.0 site menu</li>
		<li>All themes: Removed links from footer headings</li>
	</ul>
</section>

<section>
	<h2>Details</h2>
	<p><strong>Number of commits:</strong> 42</p>
	<ul>
		<li><a href="https://github.com/pjackson28">@pjackson28</a>: 31 commits</li>
		<li><a href="https://github.com/LaurentGoderre">@LaurentGoderre</a>: 4 commits</li>
		<li><a href="https://github.com/nschonni">@nschonni</a>: 4 commits</li>
		<li><a href="https://github.com/EricDunsworth">@EricDunsworth</a>: 3 commits</li>
	</ul>
	<section>
		<h3>List of commits</h3>
		<ul>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/7b0558e">Prepare post build for repo migration</a> - Laurent Goderre, 2014-03-27 14:03:43 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/7690e9b">Documentation: Removed v3.0 development download links</a> - Paul Jackson, 2014-03-31 10:22:16 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/37fcc7e">Updated links to master branch to point to the v3.1 branch</a> - Laurent Goderre, 2014-03-31 11:41:44 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/6fc0d5e">Changed breadcrumb and nav links to stay within v3.1</a> - Laurent Goderre, 2014-04-01 10:12:58 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/55af454">Documentation: Fixed various outdated v3.0 links and an ID/markup issue.</a> - Eric Dunsworth, 2014-04-01 20:49:48 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/e459657">Updated roadmap with specific maintenance release dates</a> - Paul Jackson, 2014-04-02 13:07:55 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/7c78083">Demos: Updated Drupal WxT links in index page.</a> - Eric Dunsworth, 2014-04-02 15:40:17 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/6a5ee0e">Charts: Fixed links to documentation</a> - Paul Jackson, 2014-04-03 23:06:00 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/4fd58eb">Demos+Documentation: Fixed a few broken links.</a> - Eric Dunsworth, 2014-04-04 01:14:01 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/e5c60fd">Added missing demo and documentation pages (fixes #5131)</a> - Paul Jackson, 2014-04-04 13:43:12 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/27dc94b">Tables: Added sorting for currency and formatted numbers (fixes #5115)</a> - Paul Jackson, 2014-04-07 23:26:55 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/1312885">Removed links from footer headings</a> - Paul Jackson, 2014-04-08 01:42:31 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/b940aae">WET theme: Aligned site menu with the v4.0 site menu</a> - Paul Jackson, 2014-04-08 02:28:52 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/b2df79f">Tables: Removed redundant currency sorting support (already covered by formatted numbers sorting)</a> - Paul Jackson, 2014-04-08 11:49:41 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/5cb4431">Grids: Added medium support for nesting a span-3 in a span-4 (fixes #5174)</a> - Paul Jackson, 2014-04-08 16:42:53 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/c583bde">Pluralized the working example categories</a> - Paul Jackson, 2014-04-09 15:06:25 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/5207e6d">Removed unnecessary hidden text for table references to success criteria</a> - Paul Jackson, 2014-04-16 14:27:55 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/7fdbc50">Fixed sorting of formatted numbers in HTML tags</a> - Paul Jackson, 2014-04-16 14:46:27 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/24e434d">Form validation: Pluralized legend on checkbox example (fixes #5262)</a> - Paul Jackson, 2014-04-22 14:04:15 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/59518be">Menu: Fixed cursor and underlining of hover states of menu bar</a> - Paul Jackson, 2014-04-22 15:03:04 -0400</li>
		</ul>
	</section>
</section>
