---
{
	"title": "v3.1.12 - Notes d'utilisation",
	"language": "fr",
	"description": "v3.1.12 - Notes d'utilisation - Historique des versions - Boîte à outils de l'expérience Web (BOEW)",
	"altLangPrefix": "v3.1.12",
	"dateModified": "2014-06-17"
}
---
<ul>
	<li><strong>Date de lancement&#160;:</strong> <time>2014-06-17</time></li>
	<li><a href="../dwnld-fr.html#v3112">Téléchargements</a></li>
</ul>

<section>
	<h2>Quoi de neuf?</h2>
	<div lang="en">
	<p><strong>Needs translation</strong></p>
	<ul>
		<li>Form validation: Made labels for number and digit/numeric validation more accurate</li>
		<li>Multimedia player: Changed examples to use figure/figcaption</li>
	</ul>
	</div>
</section>

<section>
	<h2>Détails</h2>
	<p><strong>Nombre des &#171;&#160;commits&#160;&#187;</strong> 15</p>
	<ul>
		<li><a href="https://github.com/pjackson28">@pjackson28</a>&#160;: 11 &#171;&#160;commits&#160;&#187;</li>
		<li><a href="https://github.com/EricDunsworth">@EricDunsworth</a>&#160;: 3 &#171;&#160;commits&#160;&#187;</li>
		<li><a href="https://github.com/nschonni">@nschonni</a>&#160;: 1 &#171;&#160;commit&#160;&#187;</li>
	</ul>
	<section>
		<h3>Liste des &#171;&#160;commits&#160;&#187;</h3>
		<ul lang="en">
			<li><a href="https://github.com/wet-boew/wet-boew/commit/e9370ca">Updated build version to v3.1.12-development</a> - Paul Jackson, 2014-05-21 13:59:05 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/5a74dc4">Form validation: Made labels for number and digit/numeric validation more accurate</a> - Paul Jackson, 2014-05-23 23:58:35 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/b0011e2">Design guide: Replaced broken wiki links with documentation ones.</a> - Eric Dunsworth, 2014-05-30 13:19:23 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/f67d9c2">Demos/Documentation: Updated links to multimedia player's example videos/thumbnails.</a> - Eric Dunsworth, 2014-06-05 15:26:14 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/c199b55">Demos/Documentation: Replaced various outdated wiki links with their documentation equivalents.</a> - Eric Dunsworth, 2014-06-05 22:49:24 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/c2ad022">Multimedia player: Changed examples to use figure/figcaption</a> - Paul Jackson, 2014-06-10 11:18:25 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/9e45750">Multimedia player: Updated documentation to support figure/figcaption</a> - Paul Jackson, 2014-06-10 11:38:00 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/4b53558">Multimedia player: Removed IE7 references from multimedia player examples</a> - Paul Jackson, 2014-06-10 14:27:58 -0400</li>
		</ul>
	</section>
</section>
