---
{
	"title": "v3.1.13 release notes",
	"language": "en",
	"description": "v3.1.13 release notes - Version history - Web Experience Toolkit (WET)",
	"altLangPrefix": "v3.1.13",
	"dateModified": "2014-07-22"
}
---
<ul>
	<li><strong>Release date:</strong> <time>2014-07-22</time></li>
	<li><a href="../dwnld-en.html#v3113">Downloads</a></li>
</ul>

<section>
	<h2>What's New</h2>
	<ul>
		<li>GC Web Usability theme: Removed visible domain names from GC footer link text</li>
		<li>Session timeout: Prevented double firing of requests</li>
	</ul>
</section>

<section>
	<h2>Details</h2>
	<p><strong>Number of commits:</strong> 9</p>
	<ul>
		<li><a href="https://github.com/pjackson28">@pjackson28</a>: 9 commits</li>
	</ul>
	<section>
		<h3>List of commits</h3>
		<ul>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/71ccbe0">Updated build version to v3.1.13-development</a> - Paul Jackson, 2014-06-17 22:57:01 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/c0b181c">GC Web Usability theme: Removed visible domain names from GC footer link text</a> - Paul Jackson, 2014-06-19 09:40:24 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/8fdc830">Fixed markup of site menu include file</a> - Paul Jackson, 2014-06-23 16:33:43 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/f49cf11">Session timeout: Prevented double firing of requests.</a> - Paul Jackson, 2014-06-25 10:54:28 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/f40aa87">GCWU theme: Fixed alignment of links in the GC footer</a> - Paul Jackson, 2014-07-07 02:44:45 -0400</li>
		</ul>
	</section>
</section>
