---
{
	"title": "v3.1.11 - Notes d'utilisation",
	"language": "fr",
	"description": "v3.1.11 - Notes d'utilisation - Historique des versions - Boîte à outils de l'expérience Web (BOEW)",
	"altLangPrefix": "v3.1.11",
	"dateModified": "2014-05-21"
}
---
<ul>
	<li><strong>Date de lancement&#160;:</strong> 2014-05-21</li>
	<li><a href="../dwnld-fr.html#v3111">Téléchargements</a></li>
</ul>

<section>
	<h2>Quoi de neuf?</h2>
	<div lang="en">
	<p><strong>Needs translation</strong></p>
	<ul>
		<li>Archived: Moved explanatory archived message to within archived section and corrected heading</li>
		<li>Archived: Changed background and border colour to yellow and corrected icon size</li>
		<li>Demos: Removed SSI variant's demos landing page due to decommissioned links.</li>
	</ul>
	</div>
</section>

<section>
	<h2>Détails</h2>
	<p><strong>Nombre des &#171;&#160;commits&#160;&#187;</strong> 11</p>
	<ul>
		<li><a href="https://github.com/pjackson28">@pjackson28</a>&#160;: 7 &#171;&#160;commits&#160;&#187;</li>
		<li><a href="https://github.com/EricDunsworth">@EricDunsworth</a>&#160;: 3 &#171;&#160;commits&#160;&#187;</li>
		<li><a href="https://github.com/LaurentGoderre">@LaurentGoderre</a>&#160;: 1 &#171;&#160;commit&#160;&#187;</li>
	</ul>
	<section>
		<h3>Liste des &#171;&#160;commits&#160;&#187;</h3>
		<ul lang="en">
			<li><a href="https://github.com/wet-boew/wet-boew/commit/9c1a62d">Updated build version to v3.1.11-development</a> - Paul Jackson, 2014-04-23 12:12:57 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/783bb5e">Archived: Moved explanatory archived message to within archived section and corrected heading (fixes #5343)</a> - Paul Jackson, 2014-04-30 14:38:49 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/6ba875e">Archived: Changed background and border colour to yellow and corrected icon size</a> - Paul Jackson, 2014-04-30 16:11:51 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/3cd4ac1">Demos/Documentation: Fixed and corrected various broken+missing links.</a> - Eric Dunsworth, 2014-05-15 00:03:00 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/d923834">Git: Added v4.0 i8n json files to .gitignore file.</a> - Eric Dunsworth, 2014-05-15 00:04:11 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/761171b">Demos: Removed SSI variant's demos landing page due to decommissioned links. Related to wet-boew/wet-boew-ssi#64.</a> - Eric Dunsworth, 2014-05-15 22:39:32 -0400</li>
		</ul>
	</section>
</section>
