---
{
	"title": "v3.1.14 release notes",
	"language": "en",
	"description": "v3.1.14 release notes - Version history - Web Experience Toolkit (WET)",
	"altLangPrefix": "v3.1.14",
	"dateModified": "2014-08-19"
}
---
<ul>
	<li><strong>Release date:</strong> <time>2014-08-19</time></li>
	<li><a href="../dwnld-en.html#v3114">Downloads</a></li>
</ul>

<section>
	<h2>What's New</h2>
	<ul>
		<li><strong>Table validator:</strong> Fixed issue that caused <code>&lt;col /&gt;</code> to appear as <code>&lt;col&gt;</code> in HTML results.</li>
		<li><strong>GC Intranet theme:</strong> Fixed display of nav-current links in the menu bar sub-menus</li>
		<li><strong>GC Web Usability theme:</strong> Fixed Canada.ca separator in the GC footer</li>
	</ul>
</section>

<section>
	<h2>Details</h2>
	<p><strong>Number of commits:</strong> 4</p>
	<ul>
		<li><a href="https://github.com/pjackson28">@pjackson28</a>: 3 commits</li>
		<li><a href="https://github.com/EricDunsworth">@EricDunsworth</a>: 1 commit</li>
	</ul>
	<section>
		<h3>List of commits</h3>
		<ul>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/6f75f2c">Updated build version to v3.1.14-development</a> - Paul Jackson, 2014-07-22 23:42:05 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/5fac5a6">Table validator: Fixed issue that caused <code>&lt;col /&gt;</code> to appear as <code>&lt;col&gt;</code> in HTML results. v3.1 variant of gh-5699.</a> - Eric Dunsworth, 2014-07-22 23:59:00 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/7868eda">GCWU theme: Fixed Canada.ca separator in the GC footer</a> - Paul Jackson, 2014-07-31 12:51:34 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/c3e6d80">GC Intranet theme: Fixed display of nav-current links in the menu bar sub-menus</a> - Paul Jackson, 2014-08-19 22:11:03 -0400</li>
		</ul>
	</section>
</section>
