---
{
	"title": "v3.1.6 release notes",
	"language": "en",
	"description": "v3.1.6 release notes - Version history - Web Experience Toolkit (WET)",
	"altLangPrefix": "v3.1.6",
	"dateModified": "2014-03-01"
}
---
<ul>
	<li><strong>Release date:</strong> <time>2013-11-01</time></li>
	<li><a href="../dwnld-en.html#v316">Downloads</a></li>
</ul>

<section>
	<h2>What's New</h2>
	<ul>
		<li>Session timeout: added missing timeout messages (fixes #3354)</li>
	</ul>
</section>

<section>
	<h2>Details</h2>
	<p><strong>Number of commits:</strong> 7</p>
	<ul>
		<li><a href="https://github.com/pjackson28">@pjackson28</a>: 5 commits</li>
		<li><a href="https://github.com/nschonni">@nschonni</a>: 1 commit</li>
		<li><a href="https://github.com/patheard">@patheard</a>: 1 commit</li>
	</ul>
	<section>
		<h3>List of commits</h3>
		<ul>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/f447714">Session: added missing timeout messages (fixes #3354)</a> - Pat Heard, 2013-10-29 20:29:43 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/c79792f">Updated home page and readme for v3.1.6 release.</a> - Paul Jackson, 2013-11-01 02:00:12 -0400</li>
		</ul>
	</section>
</section>
