---
{
	"title": "v3.1.13 - Notes d'utilisation",
	"language": "fr",
	"description": "v3.1.13 - Notes d'utilisation - Historique des versions - Boîte à outils de l'expérience Web (BOEW)",
	"altLangPrefix": "v3.1.13",
	"dateModified": "2014-07-22"
}
---
<ul>
	<li><strong>Date de lancement&#160;:</strong> <time>2014-07-22</time></li>
	<li><a href="../dwnld-fr.html#v3112">Téléchargements</a></li>
</ul>

<section>
	<h2>Quoi de neuf?</h2>
	<div lang="en">
	<p><strong>Needs translation</strong></p>
	<ul>
		<li>GC Web Usability theme: Removed visible domain names from GC footer link text</li>
		<li>Session timeout: Prevented double firing of requests</li>
	</ul>
	</div>
</section>

<section>
	<h2>Détails</h2>
	<p><strong>Nombre des &#171;&#160;commits&#160;&#187;</strong> 9</p>
	<ul>
		<li><a href="https://github.com/pjackson28">@pjackson28</a>&#160;: 9 &#171;&#160;commits&#160;&#187;</li>
	</ul>
	<section>
		<h3>Liste des &#171;&#160;commits&#160;&#187;</h3>
		<ul lang="en">
			<li><a href="https://github.com/wet-boew/wet-boew/commit/71ccbe0">Updated build version to v3.1.13-development</a> - Paul Jackson, 2014-06-17 22:57:01 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/c0b181c">GC Web Usability theme: Removed visible domain names from GC footer link text</a> - Paul Jackson, 2014-06-19 09:40:24 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/8fdc830">Fixed markup of site menu include file</a> - Paul Jackson, 2014-06-23 16:33:43 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/f49cf11">Session timeout: Prevented double firing of requests.</a> - Paul Jackson, 2014-06-25 10:54:28 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/f40aa87">GCWU theme: Fixed alignment of links in the GC footer</a> - Paul Jackson, 2014-07-07 02:44:45 -0400</li>
		</ul>
	</section>
</section>
