---
{
	"title": "v3.1.6 - Notes d'utilisation",
	"language": "fr",
	"altLangPrefix": "v3.1.6"
}
---
<ul>
	<li><strong>Date de lancement&#160;:</strong> 2013-11-01</li>
	<li><strong>Téléchargements</strong>
		<ul>
			<li><a href="https://github.com/wet-boew/wet-boew/archive/v3.1.6.zip">Code source</a> (<strong>Répertoire&#160;:</strong> wet-boew, <strong>Étiquette git&#160;:</strong> v3.1.6)</li>
			<li><a href="https://github.com/wet-boew/wet-boew-dist/archive/v3.1.6.zip">Fichiers de production</a> (<strong>Répertoire&#160;:</strong> wet-boew-dist, <strong>Étiquette git&#160;:</strong> v3.1.6)</li>
		</ul>
	</li>
</ul>

<section>
	<h2>Quoi de neuf?</h2>
	<div lang="en">
	<p><strong>Needs translation</strong></p>
	<ul>
		<li>Session timeout: added missing timeout messages (fixes #3354)</li>
	</ul>
	</div>
</section>

<section>
	<h2>Détails</h2>
	<p><strong>Nombre des &#171;&#160;commits&#160;&#187;</strong> 7</p>
	<ul>
		<li><a href="https://github.com/pjackson28">@pjackson28</a>&#160;: 5 &#171;&#160;commits&#160;&#187;</li>
		<li><a href="https://github.com/nschonni">@nschonni</a>&#160;: 1 &#171;&#160;commit&#160;&#187;</li>
		<li><a href="https://github.com/patheard">@patheard</a>&#160;: 1 &#171;&#160;commit&#160;&#187;</li>
	</ul>
	<section>
		<h3>Liste des &#171;&#160;commits&#160;&#187;</h3>
		<ul lang="en">
			<li><a href="https://github.com/wet-boew/wet-boew/commit/f447714">Session: added missing timeout messages (fixes #3354)</a> - Pat Heard, 2013-10-29 20:29:43 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/c79792f">Updated home page and readme for v3.1.6 release.</a> - Paul Jackson, 2013-11-01 02:00:12 -0400</li>
		</ul>
	</section>
</section>
