/*
  WET-BOEW
  @title: List CSS
 */

.lst-lwr-alph {
	list-style-type: lower-alpha;
}

.lst-upr-alph {
	list-style-type: upper-alpha;
}

.lst-lwr-rmn {
	list-style-type: lower-roman;
}

.lst-upr-rmn {
	list-style-type: upper-roman;
}

.lst-num {
	list-style-type: decimal;
}

.lst-none {
	list-style-type: none;
}

.lst-spcd {
	> {
		li {
			margin-bottom: 10px;
		}
	}

	ul,
	ol {
		margin-top: 10px;
	}
}
