---
{
	"title": "Data Inview: Panel",
	"language": "en",
	"category": "Plugin",
	"description": "Displays a banner when a section moves out of the viewport.",
	"tag": "data-inview",
	"fr": "data-inview-panel",
	"css": "demo/data-inview-panel"
}
---
<section>
	<h2>Example</h2>
	<div class="wb-inview toc" data-inview="pg-panel">
		<section id="pg-panel">
			<h3>Table of contents</h3>
			<ul>
				<li><a href="#anchor1">Section 1</a></li>
				<li><a href="#anchor2">Section 2</a></li>
				<li><a href="#anchor3">Section 3</a></li>
				<li><a href="#anchor4">Section 4</a></li>
				<li><a href="#anchor5">Section 5</a></li>
				<li><a href="#anchor6">Section 6</a></li>
			</ul>
		</section>
	</div>
	<section>
		<h4 id="anchor1">Section 1</h4>
		<p>Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text.</p>
	</section>
	<section>
		<h4 id="anchor2">Section 2</h4>
		<p>Different example text. Different example text. Different example text. Different example text. Different example text. Different example text. Different example text. Different example text.</p>
	</section>
	<section>
		<h4 id="anchor3">Section 3</h4>
		<p>Other example text. Other example text. Other example text. Other example text. Other example text. Other example text. Other example text. Other example text. Other example text. Other example text. Other example text. Other example text.</p>
	</section>
	<section>
		<h4 id="anchor4">Section 4</h4>
		<p>Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text.</p>
	</section>
	<section>
		<h4 id="anchor5">Section 5</h4>
		<p>Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text.</p>
		<p>Different example text. Different example text. Different example text. Different example text. Different example text. Different example text. Different example text. Different example text.</p>
		<p>Other example text. Other example text. Other example text. Other example text. Other example text. Other example text. Other example text. Other example text. Other example text. Other example text. Other example text. Other example text.</p>
		<p>Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text.</p>
		<p>Different example text. Different example text. Different example text. Different example text. Different example text. Different example text. Different example text. Different example text.</p>
		<p>Other example text. Other example text. Other example text. Other example text. Other example text. Other example text. Other example text. Other example text. Other example text. Other example text. Other example text. Other example text.</p>
	</section>
	<section>
		<h4 id="anchor6">Section 6</h4>
		<p>Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text.</p>
		<p>Different example text. Different example text. Different example text. Different example text. Different example text. Different example text. Different example text. Different example text.</p>
		<p>Other example text. Other example text. Other example text. Other example text. Other example text. Other example text. Other example text. Other example text. Other example text. Other example text. Other example text. Other example text.</p>
	</section>
</section>
