---
{
	"title": "Data Inview : Bannière",
	"language": "fr",
	"category": "Plugiciel",
	"description": "Affiche une bannière quand une section se déplace hors de la clôture.",
	"tag": "data-inview",
	"en": "data-inview-banner"
}
---
<style>
#banner {
	border: 1px solid #333;
}
#banner p {
	padding-top: 10px;
	padding-bottom: 10px;
}
#banner h3 {
	background-color: #ddd;
	color: #000;
	margin: 0;
	padding: 2px 0 2px 10px;
}
</style>
<section>
	<h2>Exemple</h2>

	<section id="banner" class="archive wb-inview">
		<h3 class="no-gutter">Section avec une bannière conditionnelle</h3>
		<p class="col-md-12">Une bannière sera affichée lors de cette section est hors de la clôture.</p>
		<p class="pg-banner"><a href="#banner">Cette section est hors de la clôture.</a></p>
	</section>

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, quisquam, optio corporis incidunt ipsa quaerat repellendus consequatur natus accusamus sapiente! Nobis fugit atque dolor mollitia doloremque! Veritatis ea consectetur ut.</p>
	<p>Omnis, ex facilis vel quas ab! Perspiciatis, asperiores, quod repudiandae ad aperiam rem impedit eos quibusdam hic in omnis deleniti autem quos quaerat accusantium esse minus tempora dolore? Ab, quas?</p>
	<p>Harum, nulla, consequuntur, sed, earum voluptate omnis laudantium necessitatibus sint totam id beatae corrupti nisi animi provident illo praesentium reprehenderit in quis quod itaque repellendus dolor vel. Vitae, reiciendis, voluptatibus!</p>
	<p>Inventore, aut, ea quisquam quis dignissimos sed illo nihil assumenda eaque perferendis optio magnam repellat pariatur maxime accusamus deserunt possimus modi neque sunt debitis nesciunt at esse odit commodi dolorum.</p>
	<p>Provident, ipsa laudantium necessitatibus hic quibusdam omnis vero quidem quasi molestias deleniti voluptatem est maiores. Ipsa, pariatur, corporis saepe deleniti quisquam accusantium tempora sapiente error quis expedita nam eos ducimus!</p>
	<p>Rerum fugiat omnis id mollitia commodi tempore quibusdam modi. Minima ipsa magnam minus obcaecati accusamus! Vitae, quam ratione deleniti voluptates consequuntur ipsum earum quibusdam possimus voluptatibus dignissimos nihil officia adipisci.</p>
	<p>Laboriosam, velit, id, tempora omnis atque voluptatem quo tempore est ipsam illo consequatur distinctio sed illum? Architecto, reprehenderit, alias incidunt quod in numquam rerum! Corporis ducimus dicta quod ab at.</p>
	<p>Explicabo, magni, dicta assumenda dignissimos sunt consequatur aut pariatur saepe cupiditate nulla nemo nam? Qui, fugiat, reiciendis, hic sint optio minus eos cum ut et blanditiis quaerat consectetur ipsa mollitia.</p>
	<p>Quisquam, numquam, veniam, minus vero doloremque delectus corporis ducimus a quo aliquid fugit quos magni omnis voluptatibus in accusantium ipsa odit quia ut eum quae velit consequuntur iure adipisci hic.</p>
	<p>Nostrum, ab aspernatur impedit odio explicabo? Doloremque, quos, corporis ut quibusdam aperiam inventore fugiat sunt minima iure dolorum facere molestiae similique quas itaque repellendus! Facere, nam quas blanditiis aperiam rem?</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, quisquam, optio corporis incidunt ipsa quaerat repellendus consequatur natus accusamus sapiente! Nobis fugit atque dolor mollitia doloremque! Veritatis ea consectetur ut.</p>
	<p>Omnis, ex facilis vel quas ab! Perspiciatis, asperiores, quod repudiandae ad aperiam rem impedit eos quibusdam hic in omnis deleniti autem quos quaerat accusantium esse minus tempora dolore? Ab, quas?</p>
	<p>Harum, nulla, consequuntur, sed, earum voluptate omnis laudantium necessitatibus sint totam id beatae corrupti nisi animi provident illo praesentium reprehenderit in quis quod itaque repellendus dolor vel. Vitae, reiciendis, voluptatibus!</p>
	<p>Inventore, aut, ea quisquam quis dignissimos sed illo nihil assumenda eaque perferendis optio magnam repellat pariatur maxime accusamus deserunt possimus modi neque sunt debitis nesciunt at esse odit commodi dolorum.</p>
	<p>Provident, ipsa laudantium necessitatibus hic quibusdam omnis vero quidem quasi molestias deleniti voluptatem est maiores. Ipsa, pariatur, corporis saepe deleniti quisquam accusantium tempora sapiente error quis expedita nam eos ducimus!</p>
	<p>Rerum fugiat omnis id mollitia commodi tempore quibusdam modi. Minima ipsa magnam minus obcaecati accusamus! Vitae, quam ratione deleniti voluptates consequuntur ipsum earum quibusdam possimus voluptatibus dignissimos nihil officia adipisci.</p>
	<p>Laboriosam, velit, id, tempora omnis atque voluptatem quo tempore est ipsam illo consequatur distinctio sed illum? Architecto, reprehenderit, alias incidunt quod in numquam rerum! Corporis ducimus dicta quod ab at.</p>
	<p>Explicabo, magni, dicta assumenda dignissimos sunt consequatur aut pariatur saepe cupiditate nulla nemo nam? Qui, fugiat, reiciendis, hic sint optio minus eos cum ut et blanditiis quaerat consectetur ipsa mollitia.</p>
	<p>Quisquam, numquam, veniam, minus vero doloremque delectus corporis ducimus a quo aliquid fugit quos magni omnis voluptatibus in accusantium ipsa odit quia ut eum quae velit consequuntur iure adipisci hic.</p>
	<p>Nostrum, ab aspernatur impedit odio explicabo? Doloremque, quos, corporis ut quibusdam aperiam inventore fugiat sunt minima iure dolorum facere molestiae similique quas itaque repellendus! Facere, nam quas blanditiis aperiam rem?</p>
</section>
