---
{
	"title": "Data Inview : Panneau",
	"language": "fr",
	"en": "data-inview-panel"
}
---
<section>
	<h2>Exemple</h2>
	<div class="wb-inview toc">
		<section class="pg-panel">
			<h3>Table des matières</h3>
			<ul>
				<li><a href="#anchor1">Lorem ipsum dolor sit amet, consectetur.</a></li>
				<li><a href="#anchor2">Odit incidunt aliquam quasi dolores qui!</a></li>
				<li><a href="#anchor3">Consequatur, reprehenderit est adipisci officia eaque.</a></li>
				<li><a href="#anchor4">Sed, consectetur eaque eius earum iure.</a></li>
				<li><a href="#anchor5">Nihil, cumque mollitia totam dolore tenetur.</a></li>
				<li><a href="#anchor6">Labore, fuga optio hic itaque ratione!</a></li>
			</ul>
		</section>
	</div>
	<section>
		<h4 id="anchor1">Lorem ipsum dolor sit amet, consectetur</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, ab, sapiente, quis unde adipisci assumenda facilis alias rem dignissimos illum accusamus blanditiis iure omnis odit quaerat explicabo expedita officiis perferendis.</p>
	</section>
	<section>
		<h4 id="anchor2">Dolor molestiae quod sint illum at</h4>
		<p>Accusantium illo nisi mollitia quam laborum amet obcaecati fugiat! Iste, nobis ipsam corporis nisi ducimus expedita quas. Officiis, autem, ab laboriosam sunt repellat sequi id soluta magni qui labore aspernatur.</p>
	</section>
	<section>
		<h4 id="anchor3">Saepe, quos dolorum amet eius rerum</h4>
		<p>Consequuntur, aliquam doloribus voluptatum facere nam ipsam dolores in dolore hic illo. Velit, sunt, possimus a tempora sit accusantium esse nostrum aperiam magnam soluta quibusdam nulla debitis repellat qui voluptatibus.</p>
	</section>
	<section>
		<h4 id="anchor4">Obcaecati architecto in facilis ab voluptatem</h4>
		<p>Reprehenderit, sequi, quibusdam minus fugiat impedit minima consequatur quasi eum adipisci voluptatum modi unde sed exercitationem praesentium consectetur dolores libero. Consequuntur sint cumque incidunt vitae quis porro dolores modi. Dignissimos.</p>
	</section>
	<section>
		<h4 id="anchor5">Aliquam sit veritatis quasi non dolor</h4>
		<p>Magni, distinctio, laudantium, neque voluptatibus impedit maiores molestias officia perferendis cupiditate obcaecati tempora cum assumenda sapiente libero rem voluptates sit ad iusto id error dicta quos eos reiciendis necessitatibus dolorum!</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, quasi, eveniet, odio, accusantium laborum beatae non distinctio repudiandae enim cumque doloremque aut quas omnis. Molestias, vel sequi pariatur assumenda deserunt.</p>
		<p>A, expedita, ea odit voluptas est atque ipsa quae impedit! Odit, reprehenderit, ratione, repudiandae minima aspernatur voluptatem ut quos quibusdam iusto iure rerum cumque facilis ea tempore soluta quas iste.</p>
		<p>Rerum, cumque, sed, autem quas tenetur error natus consectetur sunt soluta neque quo doloremque inventore cupiditate commodi numquam nemo iusto possimus est magnam ea officia atque nam voluptate fugiat consequuntur.</p>
		<p>Maiores, vel, dolor sunt odio at quam dolores magnam dignissimos consequuntur saepe vitae earum assumenda ipsam qui nam minus provident. Perspiciatis aut saepe sapiente dicta numquam necessitatibus nesciunt unde voluptate.</p>
		<p>Quibusdam, quos minus consectetur deserunt obcaecati facilis voluptatem qui. Neque, corrupti, deserunt omnis repellendus expedita earum doloremque laboriosam ex suscipit nihil repudiandae pariatur dicta magni dolore beatae adipisci dolores delectus.</p>
	</section>
	<section>
		<h4 id="anchor6">Repellat, explicabo quibusdam tenetur hic nobis</h4>
		<p>Eligendi, voluptatibus, corrupti repellat ipsum sunt aperiam dolore unde quis illo ex molestias maiores quo blanditiis quae enim excepturi corporis minima est hic et vel recusandae illum cumque ad omnis.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, nulla, ea dolorum quisquam quaerat dolores eos exercitationem voluptates doloremque ab ex modi dolore quidem voluptatum quos ipsam laboriosam consequatur tempora!</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur distinctio itaque nisi magnam. Quis, nemo voluptatem facilis officia et earum atque labore odio laudantium dolores ipsam enim! Molestias, architecto, eveniet.</p>
		<p>A, praesentium possimus illum ipsam perferendis sint maxime? Distinctio, quam, impedit, perferendis, assumenda tempore numquam ut architecto repellendus deleniti quos repudiandae sit blanditiis voluptatum aperiam nobis a iusto similique? Adipisci.</p>
		<p>Pariatur, facilis, atque aliquam iste error possimus vitae repudiandae aperiam reprehenderit consectetur delectus tenetur nisi earum. Porro libero sapiente accusantium iure nisi! Veniam voluptas maxime nobis delectus dolorum tempora esse.</p>
	</section>
</section>
