---
{
	"title": "Downloads",
	"language": "en",
	"description": "Downloads - Version history - Web Experience Toolkit (WET)",
	"altLangPrefix": "dwnld",
	"dateModified": "2014-08-20"
}
---
<p>See <a href="version-info-en.html">Versioning</a> for the meaning of each version number.</p>

<section>
	<h2>Table of contents</h2>
	<ul>
		<li>Version 4.0
			<ul>
				<li><a href="#v40stable">Stable releases</a></li>
				<li><a href="#v40dev">Development releases</a></li>
			</ul>
		</li>
		<li>Version 3.1
			<ul>
				<li><a href="#v31stable">Stable releases</a></li>
				<li><a href="#v31dev">Development releases</a></li>
			</ul>
		</li>
		<li>Version 3.0 (no longer supported)
			<ul>
				<li><a href="#v30stable">Stable releases</a></li>
			</ul>
		</li>
	</ul>
</section>

<section>
	<h2 id="v40">Version 4.0</h2>
	<section>
		<h3 id="v40stable">Stable releases</h3>
		<section>
			<h4 id="v405">v4.0.5</h4>
			<p><a href="v4.0/v4.0.5-en.html">Release notes<span class="wb-inv"> - v4.0.5</span></a></p>
			<table class="table table-bordered mrgn-bttm-xl">
				<thead>
					<tr>
						<th scope="col">Theme</th>
						<th scope="col">Source code</th>
						<th scope="col">Production files</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Web Experience Toolkit (WET)</td>
						<td><a href="https://github.com/wet-boew/wet-boew/archive/v4.0.5.zip">Download<span class="wb-inv"> - v4.0.5 source code - Web Experience Toolkit (WET) theme</span></a></td>
						<td><a href="https://github.com/wet-boew/wet-boew/releases/download/v4.0.5/wet-boew-dist-4.0.5.zip">Download<span class="wb-inv"> - v4.0.5 production files - Web Experience Toolkit (WET) theme</span></a></td>
					</tr>
					<tr>
						<td>Base</td>
						<td><a href="https://github.com/wet-boew/theme-base/archive/v4.0.5.zip">Download<span class="wb-inv"> - v4.0.5 source code- Base theme</span> (theme only)</a></td>
						<td><a href="https://github.com/wet-boew/theme-base/releases/download/v4.0.5/themes-dist-4.0.5-theme-base.zip">Download<span class="wb-inv"> - v4.0.5 production files - Base theme</span></a></td>
					</tr>
					<tr>
						<td>Canada.ca</td>
						<td><a href="https://github.com/wet-boew/GCWeb/archive/v4.0.5.zip">Download<span class="wb-inv"> - v4.0.5 source code - Canada.ca theme</span> (theme only)</a></td>
						<td><a href="https://github.com/wet-boew/GCWeb/releases/download/v4.0.5/themes-dist-4.0.5-gcweb.zip">Download<span class="wb-inv"> - v4.0.5 production files - Canada.ca theme</span></a></td>
					</tr>
					<tr>
						<td>Government of Canada Web Usability</td>
						<td><a href="https://github.com/wet-boew/theme-gcwu-fegc/archive/v4.0.5.zip">Download<span class="wb-inv"> - v4.0.5 source code - Government of Canada Web Usability theme</span> (theme only)</a></td>
						<td><a href="https://github.com/wet-boew/theme-gcwu-fegc/releases/download/v4.0.5/themes-dist-4.0.5-theme-gcwu-fegc.zip">Download<span class="wb-inv"> - v4.0.5 production files - Government of Canada Web Usability theme</span></a></td>
					</tr>
					<tr>
						<td>Government of Canada Intranet</td>
						<td><a href="https://github.com/wet-boew/theme-gc-intranet/archive/v4.0.5.zip">Download<span class="wb-inv"> - v4.0.5 source code - Government of Canada Intranet theme</span> (theme only)</a></td>
						<td><a href="https://github.com/wet-boew/theme-gc-intranet/releases/download/v4.0.5/themes-dist-4.0.5-theme-gc-intranet.zip">Download<span class="wb-inv"> - v4.0.5 production files - Government of Canada Intranet theme</span></a></td>
					</tr>
					<tr>
						<td>Open Government Platform (OGPL)</td>
						<td><a href="https://github.com/wet-boew/theme-ogpl/archive/v4.0.5.zip">Download<span class="wb-inv"> - v4.0.5 source code - Open Government Platform (OGPL) theme</span> (theme only)</a></td>
						<td><a href="https://github.com/wet-boew/theme-ogpl/releases/download/v4.0.5/themes-dist-4.0.5-theme-ogpl.zip">Download<span class="wb-inv"> - v4.0.5 production files - Open Government Platform (OGPL) theme</span></a></td>
					</tr>
				</tbody>
			</table>
		</section>

		<section>
			<h4 id="v404">v4.0.4</h4>
			<p><a href="v4.0/v4.0.4-en.html">Release notes<span class="wb-inv"> - v4.0.4</span></a></p>
			<table class="table table-bordered mrgn-bttm-xl">
				<thead>
					<tr>
						<th scope="col">Theme</th>
						<th scope="col">Source code</th>
						<th scope="col">Production files</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Web Experience Toolkit (WET)</td>
						<td><a href="https://github.com/wet-boew/wet-boew/archive/v4.0.4.zip">Download<span class="wb-inv"> - v4.0.4 source code - Web Experience Toolkit (WET) theme</span></a></td>
						<td><a href="https://github.com/wet-boew/wet-boew/releases/download/v4.0.4/wet-boew-dist-4.0.4.zip">Download<span class="wb-inv"> - v4.0.4 production files - Web Experience Toolkit (WET) theme</span></a></td>
					</tr>
					<tr>
						<td>Base</td>
						<td><a href="https://github.com/wet-boew/theme-base/archive/v4.0.4.zip">Download<span class="wb-inv"> - v4.0.4 source code- Base theme</span> (theme only)</a></td>
						<td><a href="https://github.com/wet-boew/theme-base/releases/download/v4.0.4/themes-dist-4.0.4-theme-base.zip">Download<span class="wb-inv"> - v4.0.4 production files - Base theme</span></a></td>
					</tr>
					<tr>
						<td>Canada.ca</td>
						<td><a href="https://github.com/wet-boew/GCWeb/archive/v4.0.4.zip">Download<span class="wb-inv"> - v4.0.4 source code - Canada.ca theme</span> (theme only)</a></td>
						<td><a href="https://github.com/wet-boew/GCWeb/releases/download/v4.0.4/themes-dist-4.0.4-gcweb.zip">Download<span class="wb-inv"> - v4.0.4 production files - Canada.ca theme</span></a></td>
					</tr>
					<tr>
						<td>Government of Canada Web Usability</td>
						<td><a href="https://github.com/wet-boew/theme-gcwu-fegc/archive/v4.0.4.zip">Download<span class="wb-inv"> - v4.0.4 source code - Government of Canada Web Usability theme</span> (theme only)</a></td>
						<td><a href="https://github.com/wet-boew/theme-gcwu-fegc/releases/download/v4.0.4/themes-dist-4.0.4-theme-gcwu-fegc.zip">Download<span class="wb-inv"> - v4.0.4 production files - Government of Canada Web Usability theme</span></a></td>
					</tr>
					<tr>
						<td>Government of Canada Intranet</td>
						<td><a href="https://github.com/wet-boew/theme-gc-intranet/archive/v4.0.4.zip">Download<span class="wb-inv"> - v4.0.4 source code - Government of Canada Intranet theme</span> (theme only)</a></td>
						<td><a href="https://github.com/wet-boew/theme-gc-intranet/releases/download/v4.0.4/themes-dist-4.0.4-theme-gc-intranet.zip">Download<span class="wb-inv"> - v4.0.4 production files - Government of Canada Intranet theme</span></a></td>
					</tr>
					<tr>
						<td>Open Government Platform (OGPL)</td>
						<td><a href="https://github.com/wet-boew/theme-ogpl/archive/v4.0.4.zip">Download<span class="wb-inv"> - v4.0.4 source code - Open Government Platform (OGPL) theme</span> (theme only)</a></td>
						<td><a href="https://github.com/wet-boew/theme-ogpl/releases/download/v4.0.4/themes-dist-4.0.4-theme-ogpl.zip">Download<span class="wb-inv"> - v4.0.4 production files - Open Government Platform (OGPL) theme</span></a></td>
					</tr>
				</tbody>
			</table>
		</section>

		<section>
			<h4 id="v403">v4.0.3</h4>
			<p><a href="v4.0/v4.0.3-en.html">Release notes<span class="wb-inv"> - v4.0.3</span></a></p>
			<table class="table table-bordered mrgn-bttm-xl">
				<thead>
					<tr>
						<th scope="col">Theme</th>
						<th scope="col">Source code</th>
						<th scope="col">Production files</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Web Experience Toolkit (WET)</td>
						<td><a href="https://github.com/wet-boew/wet-boew/archive/v4.0.3.zip">Download<span class="wb-inv"> - v4.0.3 source code - Web Experience Toolkit (WET) theme</span></a></td>
						<td><a href="https://github.com/wet-boew/wet-boew/releases/download/v4.0.3/wet-boew-dist-4.0.3.zip">Download<span class="wb-inv"> - v4.0.3 production files - Web Experience Toolkit (WET) theme</span></a></td>
					</tr>
					<tr>
						<td>Base</td>
						<td><a href="https://github.com/wet-boew/theme-base/archive/v4.0.3.zip">Download<span class="wb-inv"> - v4.0.3 source code- Base theme</span> (theme only)</a></td>
						<td><a href="https://github.com/wet-boew/theme-base/releases/download/v4.0.3/themes-dist-4.0.3-theme-base.zip">Download<span class="wb-inv"> - v4.0.3 production files - Base theme</span></a></td>
					</tr>
					<tr>
						<td>Canada.ca</td>
						<td><a href="https://github.com/wet-boew/GCWeb/archive/v4.0.3.zip">Download<span class="wb-inv"> - v4.0.3 source code - Canada.ca theme</span> (theme only)</a></td>
						<td><a href="https://github.com/wet-boew/GCWeb/releases/download/v4.0.3/themes-dist-4.0.3-gcweb.zip">Download<span class="wb-inv"> - v4.0.3 production files - Canada.ca theme</span></a></td>
					</tr>
					<tr>
						<td>Government of Canada Web Usability</td>
						<td><a href="https://github.com/wet-boew/theme-gcwu-fegc/archive/v4.0.3.zip">Download<span class="wb-inv"> - v4.0.3 source code - Government of Canada Web Usability theme</span> (theme only)</a></td>
						<td><a href="https://github.com/wet-boew/theme-gcwu-fegc/releases/download/v4.0.3/themes-dist-4.0.3-theme-gcwu-fegc.zip">Download<span class="wb-inv"> - v4.0.3 production files - Government of Canada Web Usability theme</span></a></td>
					</tr>
					<tr>
						<td>Government of Canada Intranet</td>
						<td><a href="https://github.com/wet-boew/theme-gc-intranet/archive/v4.0.3.zip">Download<span class="wb-inv"> - v4.0.3 source code - Government of Canada Intranet theme</span> (theme only)</a></td>
						<td><a href="https://github.com/wet-boew/theme-gc-intranet/releases/download/v4.0.3/themes-dist-4.0.3-theme-gc-intranet.zip">Download<span class="wb-inv"> - v4.0.3 production files - Government of Canada Intranet theme</span></a></td>
					</tr>
					<tr>
						<td>Open Government Platform (OGPL)</td>
						<td><a href="https://github.com/wet-boew/theme-ogpl/archive/v4.0.3.zip">Download<span class="wb-inv"> - v4.0.3 source code - Open Government Platform (OGPL) theme</span> (theme only)</a></td>
						<td><a href="https://github.com/wet-boew/theme-ogpl/releases/download/v4.0.3/themes-dist-4.0.3-theme-ogpl.zip">Download<span class="wb-inv"> - v4.0.3 production files - Open Government Platform (OGPL) theme</span></a></td>
					</tr>
				</tbody>
			</table>
		</section>

		<section>
			<h4 id="v402">v4.0.2</h4>
			<p><a href="v4.0/v4.0.2-en.html">Release notes<span class="wb-inv"> - v4.0.2</span></a></p>
			<table class="table table-bordered mrgn-bttm-xl">
				<thead>
					<tr>
						<th scope="col">Theme</th>
						<th scope="col">Source code</th>
						<th scope="col">Production files</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Web Experience Toolkit (WET)</td>
						<td><a href="https://github.com/wet-boew/wet-boew/archive/v4.0.2.zip">Download<span class="wb-inv"> - v4.0.2 source code - Web Experience Toolkit (WET) theme</span></a></td>
						<td><a href="https://github.com/wet-boew/wet-boew/releases/download/v4.0.2/wet-boew-dist-4.0.2.zip">Download<span class="wb-inv"> - v4.0.2 production files - Web Experience Toolkit (WET) theme</span></a></td>
					</tr>
					<tr>
						<td>Base</td>
						<td><a href="https://github.com/wet-boew/theme-base/archive/v4.0.2.zip">Download<span class="wb-inv"> - v4.0.2 source code- Base theme</span> (theme only)</a></td>
						<td><a href="https://github.com/wet-boew/theme-base/releases/download/v4.0.2/themes-dist-4.0.2-theme-base.zip">Download<span class="wb-inv"> - v4.0.2 production files - Base theme</span></a></td>
					</tr>
					<tr>
						<td>Canada.ca</td>
						<td><a href="https://github.com/wet-boew/GCWeb/archive/v4.0.2.zip">Download<span class="wb-inv"> - v4.0.2 source code - Canada.ca theme</span> (theme only)</a></td>
						<td><a href="https://github.com/wet-boew/GCWeb/releases/download/v4.0.2/themes-dist-4.0.2-gcweb.zip">Download<span class="wb-inv"> - v4.0.2 production files - Canada.ca theme</span></a></td>
					</tr>
					<tr>
						<td>Government of Canada Web Usability</td>
						<td><a href="https://github.com/wet-boew/theme-gcwu-fegc/archive/v4.0.2.zip">Download<span class="wb-inv"> - v4.0.2 source code - Government of Canada Web Usability theme</span> (theme only)</a></td>
						<td><a href="https://github.com/wet-boew/theme-gcwu-fegc/releases/download/v4.0.2/themes-dist-4.0.2-theme-gcwu-fegc.zip">Download<span class="wb-inv"> - v4.0.2 production files - Government of Canada Web Usability theme</span></a></td>
					</tr>
					<tr>
						<td>Government of Canada Intranet</td>
						<td><a href="https://github.com/wet-boew/theme-gc-intranet/archive/v4.0.2.zip">Download<span class="wb-inv"> - v4.0.2 source code - Government of Canada Intranet theme</span> (theme only)</a></td>
						<td><a href="https://github.com/wet-boew/theme-gc-intranet/releases/download/v4.0.2/themes-dist-4.0.2-theme-gc-intranet.zip">Download<span class="wb-inv"> - v4.0.2 production files - Government of Canada Intranet theme</span></a></td>
					</tr>
					<tr>
						<td>Open Government Platform (OGPL)</td>
						<td><a href="https://github.com/wet-boew/theme-ogpl/archive/v4.0.2.zip">Download<span class="wb-inv"> - v4.0.2 source code - Open Government Platform (OGPL) theme</span> (theme only)</a></td>
						<td><a href="https://github.com/wet-boew/theme-ogpl/releases/download/v4.0.2/themes-dist-4.0.2-theme-ogpl.zip">Download<span class="wb-inv"> - v4.0.2 production files - Open Government Platform (OGPL) theme</span></a></td>
					</tr>
				</tbody>
			</table>
		</section>

		<section>
			<h4 id="v401">v4.0.1</h4>
			<p><a href="v4.0/v4.0.1-en.html">Release notes<span class="wb-inv"> - v4.0.1</span></a></p>
			<table class="table table-bordered mrgn-bttm-xl">
				<thead>
					<tr>
						<th scope="col">Theme</th>
						<th scope="col">Source code</th>
						<th scope="col">Production files</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Web Experience Toolkit (WET)</td>
						<td><a href="https://github.com/wet-boew/wet-boew/archive/v4.0.1.zip">Download<span class="wb-inv"> - v4.0.1 source code - Web Experience Toolkit (WET) theme</span></a></td>
						<td><a href="https://github.com/wet-boew/wet-boew/releases/download/v4.0.1/wet-boew-dist-4.0.1.zip">Download<span class="wb-inv"> - v4.0.1 production files - Web Experience Toolkit (WET) theme</span></a></td>
					</tr>
					<tr>
						<td>Base</td>
						<td><a href="https://github.com/wet-boew/theme-base/archive/v4.0.1.zip">Download<span class="wb-inv"> - v4.0.1 source code- Base theme</span> (theme only)</a></td>
						<td><a href="https://github.com/wet-boew/theme-base/releases/download/v4.0.1/themes-dist-4.0.1-theme-base.zip">Download<span class="wb-inv"> - v4.0.1 production files - Base theme</span></a></td>
					</tr>
					<tr>
						<td>Canada.ca</td>
						<td><a href="https://github.com/wet-boew/GCWeb/archive/v4.0.1.zip">Download<span class="wb-inv"> - v4.0.1 source code - Canada.ca theme</span> (theme only)</a></td>
						<td><a href="https://github.com/wet-boew/GCWeb/releases/download/v4.0.1/themes-dist-4.0.1-gcweb.zip">Download<span class="wb-inv"> - v4.0.1 production files - Canada.ca theme</span></a></td>
					</tr>
					<tr>
						<td>Government of Canada Web Usability</td>
						<td><a href="https://github.com/wet-boew/theme-gcwu-fegc/archive/v4.0.1.zip">Download<span class="wb-inv"> - v4.0.1 source code - Government of Canada Web Usability theme</span> (theme only)</a></td>
						<td><a href="https://github.com/wet-boew/theme-gcwu-fegc/releases/download/v4.0.1/themes-dist-4.0.1-theme-gcwu-fegc.zip">Download<span class="wb-inv"> - v4.0.1 production files - Government of Canada Web Usability theme</span></a></td>
					</tr>
					<tr>
						<td>Government of Canada Intranet</td>
						<td><a href="https://github.com/wet-boew/theme-gc-intranet/archive/v4.0.1.zip">Download<span class="wb-inv"> - v4.0.1 source code - Government of Canada Intranet theme</span> (theme only)</a></td>
						<td><a href="https://github.com/wet-boew/theme-gc-intranet/releases/download/v4.0.1/themes-dist-4.0.1-theme-gc-intranet.zip">Download<span class="wb-inv"> - v4.0.1 production files - Government of Canada Intranet theme</span></a></td>
					</tr>
					<tr>
						<td>Open Government Platform (OGPL)</td>
						<td><a href="https://github.com/wet-boew/theme-ogpl/archive/v4.0.1.zip">Download<span class="wb-inv"> - v4.0.1 source code - Open Government Platform (OGPL) theme</span> (theme only)</a></td>
						<td><a href="https://github.com/wet-boew/theme-ogpl/releases/download/v4.0.1/themes-dist-4.0.1-theme-ogpl.zip">Download<span class="wb-inv"> - v4.0.1 production files - Open Government Platform (OGPL) theme</span></a></td>
					</tr>
				</tbody>
			</table>
		</section>

		<section>
			<h4 id="v400">v4.0.0</h4>
			<p><a href="v4.0/v4.0.0-en.html">Release notes<span class="wb-inv"> - v4.0.0</span></a></p>
			<table class="table table-bordered mrgn-bttm-xl">
				<thead>
					<tr>
						<th scope="col">Theme</th>
						<th scope="col">Source code</th>
						<th scope="col">Production files</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Web Experience Toolkit (WET)</td>
						<td><a href="https://github.com/wet-boew/wet-boew/archive/v4.0.0.zip">Download<span class="wb-inv"> - v4.0.0 source code - Web Experience Toolkit (WET) theme</span></a></td>
						<td><a href="https://github.com/wet-boew/wet-boew/releases/download/v4.0.0/wet-boew-dist-4.0.0.zip">Download<span class="wb-inv"> - v4.0.0 production files - Web Experience Toolkit (WET) theme</span></a></td>
					</tr>
					<tr>
						<td>Base</td>
						<td><a href="https://github.com/wet-boew/theme-base/archive/v4.0.0.zip">Download<span class="wb-inv"> - v4.0.0 source code- Base theme</span> (theme only)</a></td>
						<td><a href="https://github.com/wet-boew/theme-base/releases/download/v4.0.0/themes-dist-4.0.0-theme-base.zip">Download<span class="wb-inv"> - v4.0.0 production files - Base theme</span></a></td>
					</tr>
					<tr>
						<td>Canada.ca</td>
						<td><a href="https://github.com/wet-boew/GCWeb/archive/v4.0.0.zip">Download<span class="wb-inv"> - v4.0.0 source code - Canada.ca theme</span> (theme only)</a></td>
						<td><a href="https://github.com/wet-boew/GCWeb/releases/download/v4.0.0/themes-dist-4.0.0-gcweb.zip">Download<span class="wb-inv"> - v4.0.0 production files - Canada.ca theme</span></a></td>
					</tr>
					<tr>
						<td>Government of Canada Web Usability</td>
						<td><a href="https://github.com/wet-boew/theme-gcwu-fegc/archive/v4.0.0.zip">Download<span class="wb-inv"> - v4.0.0 source code - Government of Canada Web Usability theme</span> (theme only)</a></td>
						<td><a href="https://github.com/wet-boew/theme-gcwu-fegc/releases/download/v4.0.0/themes-dist-4.0.0-theme-gcwu-fegc.zip">Download<span class="wb-inv"> - v4.0.0 production files - Government of Canada Web Usability theme</span></a></td>
					</tr>
					<tr>
						<td>Government of Canada Intranet</td>
						<td><a href="https://github.com/wet-boew/theme-gc-intranet/archive/v4.0.0.zip">Download<span class="wb-inv"> - v4.0.0 source code - Government of Canada Intranet theme</span> (theme only)</a></td>
						<td><a href="https://github.com/wet-boew/theme-gc-intranet/releases/download/v4.0.0/themes-dist-4.0.0-theme-gc-intranet.zip">Download<span class="wb-inv"> - v4.0.0 production files - Government of Canada Intranet theme</span></a></td>
					</tr>
					<tr>
						<td>Open Government Platform (OGPL)</td>
						<td><a href="https://github.com/wet-boew/theme-ogpl/archive/v4.0.0.zip">Download<span class="wb-inv"> - v4.0.0 source code - Open Government Platform (OGPL) theme</span> (theme only)</a></td>
						<td><a href="https://github.com/wet-boew/theme-ogpl/releases/download/v4.0.0/themes-dist-4.0.0-theme-ogpl.zip">Download<span class="wb-inv"> - v4.0.0 production files - Open Government Platform (OGPL) theme</span></a></td>
					</tr>
				</tbody>
			</table>
		</section>

		<section>
			<h4 id="v400rc1">v4.0.0 Release Candidate 1</h4>
			<p><a href="v4.0/v4.0.0-rc1-en.html">Release notes<span class="wb-inv"> - v4.0.0 Release Candidate 1</span></a></p>
			<table class="table table-bordered mrgn-bttm-xl">
				<thead>
					<tr>
						<th scope="col">Theme</th>
						<th scope="col">Source code</th>
						<th scope="col">Production files</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Web Experience Toolkit (WET)</td>
						<td><a href="https://github.com/wet-boew/wet-boew/archive/v4.0.0-rc1.zip">Download<span class="wb-inv"> - v4.0.0 Release Candidate 1 source code - Web Experience Toolkit (WET) theme</span></a></td>
						<td><a href="https://github.com/wet-boew/wet-boew/releases/download/v4.0.0-rc1/wet-boew-dist-4.0.0-rc1.zip">Download<span class="wb-inv"> - v4.0.0 Release Candidate 1 production files - Web Experience Toolkit (WET) theme</span></a></td>
					</tr>
					<tr>
						<td>Base</td>
						<td><a href="https://github.com/wet-boew/theme-base/archive/v4.0.0-rc1.zip">Download<span class="wb-inv"> - v4.0.0 Release Candidate 1 source code- Base theme</span> (theme only)</a></td>
						<td><a href="https://github.com/wet-boew/theme-base/releases/download/v4.0.0-rc1/themes-dist-4.0.0-rc1-theme-base.zip">Download<span class="wb-inv"> - v4.0.0 Release Candidate 1 production files - Base theme</span></a></td>
					</tr>
					<tr>
						<td>Canada.ca</td>
						<td><a href="https://github.com/wet-boew/GCWeb/archive/v4.0.0-rc1.zip">Download<span class="wb-inv"> - v4.0.0 Release Candidate 1 source code - Canada.ca theme</span> (theme only)</a></td>
						<td><a href="https://github.com/wet-boew/GCWeb/releases/download/v4.0.0-rc1/themes-dist-4.0.0-rc1-gcweb.zip">Download<span class="wb-inv"> - v4.0.0 Release Candidate 1 production files - Canada.ca theme</span></a></td>
					</tr>
					<tr>
						<td>Government of Canada Web Usability</td>
						<td><a href="https://github.com/wet-boew/theme-gcwu-fegc/archive/v4.0.0-rc1.zip">Download<span class="wb-inv"> - v4.0.0 Release Candidate 1 source code - Government of Canada Web Usability theme</span> (theme only)</a></td>
						<td><a href="https://github.com/wet-boew/theme-gcwu-fegc/releases/download/v4.0.0-rc1/themes-dist-4.0.0-rc1-theme-gcwu-fegc.zip">Download<span class="wb-inv"> - v4.0.0 Release Candidate 1 production files - Government of Canada Web Usability theme</span></a></td>
					</tr>
					<tr>
						<td>Government of Canada Intranet</td>
						<td><a href="https://github.com/wet-boew/theme-gc-intranet/archive/v4.0.0-rc1.zip">Download<span class="wb-inv"> - v4.0.0 Release Candidate 1 source code - Government of Canada Intranet theme</span> (theme only)</a></td>
						<td><a href="https://github.com/wet-boew/theme-gc-intranet/releases/download/v4.0.0-rc1/themes-dist-4.0.0-rc1-theme-gc-intranet.zip">Download<span class="wb-inv"> - v4.0.0 Release Candidate 1 production files - Government of Canada Intranet theme</span></a></td>
					</tr>
					<tr>
						<td>Open Government Platform (OGPL)</td>
						<td><a href="https://github.com/wet-boew/theme-ogpl/archive/v4.0.0-rc1.zip">Download<span class="wb-inv"> - v4.0.0 Release Candidate 1 source code - Open Government Platform (OGPL) theme</span> (theme only)</a></td>
						<td><a href="https://github.com/wet-boew/theme-ogpl/releases/download/v4.0.0-rc1/themes-dist-4.0.0-rc1-theme-ogpl.zip">Download<span class="wb-inv"> - v4.0.0 Release Candidate 1 production files - Open Government Platform (OGPL) theme</span></a></td>
					</tr>
				</tbody>
			</table>
		</section>

		<section>
			<h4 id="v400b2">v4.0.0 Beta 2</h4>
			<p><a href="v4.0/v4.0.0-b2-en.html">Release notes<span class="wb-inv"> - v4.0.0 Beta 2</span></a></p>
			<table class="table table-bordered mrgn-bttm-xl">
				<thead>
					<tr>
						<th scope="col">Theme</th>
						<th scope="col">Source code</th>
						<th scope="col">Production files</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Web Experience Toolkit (WET)</td>
						<td><a href="https://github.com/wet-boew/wet-boew/archive/v4.0.0-b2.zip">Download<span class="wb-inv"> - v4.0.0 Beta 2 source code - Web Experience Toolkit (WET) theme</span></a></td>
						<td><a href="https://github.com/wet-boew/wet-boew/releases/download/v4.0.0-b2/wet-boew-dist-4.0.0-b2.zip">Download<span class="wb-inv"> - v4.0.0 Beta 2 production files - Web Experience Toolkit (WET) theme</span></a></td>
					</tr>
					<tr>
						<td>Base</td>
						<td><a href="https://github.com/wet-boew/theme-base/archive/v4.0.0-b2.zip">Download<span class="wb-inv"> - v4.0.0 Beta 2 source code- Base theme</span> (theme only)</a></td>
						<td><a href="https://github.com/wet-boew/theme-base/releases/download/v4.0.0-b2/themes-dist-4.0.0-b2-theme-base.zip">Download<span class="wb-inv"> - v4.0.0 Beta 2 production files - Base theme</span></a></td>
					</tr>
					<tr>
						<td>Canada.ca</td>
						<td><a href="https://github.com/wet-boew/GCWeb/archive/v4.0.0-b2.zip">Download<span class="wb-inv"> - v4.0.0 Beta 2 source code - Canada.ca theme</span> (theme only)</a></td>
						<td><a href="https://github.com/wet-boew/GCWeb/releases/download/v4.0.0-b2/themes-dist-4.0.0-b2-gcweb.zip">Download<span class="wb-inv"> - v4.0.0 Beta 2 production files - Canada.ca theme</span></a></td>
					</tr>
					<tr>
						<td>Government of Canada Web Usability</td>
						<td><a href="https://github.com/wet-boew/theme-gcwu-fegc/archive/v4.0.0-b2.zip">Download<span class="wb-inv"> - v4.0.0 Beta 2 source code - Government of Canada Web Usability theme</span> (theme only)</a></td>
						<td><a href="https://github.com/wet-boew/theme-gcwu-fegc/releases/download/v4.0.0-b2/themes-dist-4.0.0-b2-theme-gcwu-fegc.zip">Download<span class="wb-inv"> - v4.0.0 Beta 2 production files - Government of Canada Web Usability theme</span></a></td>
					</tr>
					<tr>
						<td>Government of Canada Intranet</td>
						<td><a href="https://github.com/wet-boew/theme-gc-intranet/archive/v4.0.0-b2.zip">Download<span class="wb-inv"> - v4.0.0 Beta 2 source code - Government of Canada Intranet theme</span> (theme only)</a></td>
						<td><a href="https://github.com/wet-boew/theme-gc-intranet/releases/download/v4.0.0-b2/themes-dist-4.0.0-b2-theme-gc-intranet.zip">Download<span class="wb-inv"> - v4.0.0 Beta 2 production files - Government of Canada Intranet theme</span></a></td>
					</tr>
					<tr>
						<td>Open Government Platform (OGPL)</td>
						<td><a href="https://github.com/wet-boew/theme-ogpl/archive/v4.0.0-b2.zip">Download<span class="wb-inv"> - v4.0.0 Beta 2 source code - Open Government Platform (OGPL) theme</span> (theme only)</a></td>
						<td><a href="https://github.com/wet-boew/theme-ogpl/releases/download/v4.0.0-b2/themes-dist-4.0.0-b2-theme-ogpl.zip">Download<span class="wb-inv"> - v4.0.0 Beta 2 production files - Open Government Platform (OGPL) theme</span></a></td>
					</tr>
				</tbody>
			</table>
		</section>

		<section>
			<h4 id="v400b1">v4.0.0 Beta 1</h4>
			<p><a href="v4.0/v4.0.0-b1-en.html">Release notes<span class="wb-inv"> - v4.0.0 Beta 1</span></a></p>
			<table class="table table-bordered mrgn-bttm-xl">
				<thead>
					<tr>
						<th scope="col">Theme</th>
						<th scope="col">Source code</th>
						<th scope="col">Production files</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Web Experience Toolkit (WET)</td>
						<td><a href="https://github.com/wet-boew/wet-boew/archive/v4.0.0-b1.zip">Download<span class="wb-inv"> - v4.0.0 Beta 1 source code - Web Experience Toolkit (WET) theme</span></a></td>
						<td><a href="https://github.com/wet-boew/wet-boew/releases/download/v4.0.0-b1/wet-boew-dist-4.0.0-b1.zip">Download<span class="wb-inv"> - v4.0.0 Beta 1 production files - Web Experience Toolkit (WET) theme</span></a></td>
					</tr>
					<tr>
						<td>Canada.ca</td>
						<td><a href="https://github.com/wet-boew/GCWeb/archive/v4.0.0-b1.zip">Download<span class="wb-inv"> - v4.0.0 Beta 1 source code - Canada.ca theme</span> (theme only)</a></td>
						<td><a href="https://github.com/wet-boew/GCWeb/releases/download/v4.0.0-b1/GCWeb-4.0.0-b1.zip">Download<span class="wb-inv"> - v4.0.0 Beta 1 production files - Canada.ca theme</span></a></td>
					</tr>
				</tbody>
			</table>
		</section>
	</section>

	<section>
		<h3 id="v40dev">Development releases</h3>
		<table class="table table-bordered mrgn-bttm-xl">
			<thead>
				<tr>
					<th scope="col">Theme</th>
					<th scope="col">Source code</th>
					<th scope="col">Precompiled files</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Web Experience Toolkit (WET)</td>
					<td><a href="https://github.com/wet-boew/wet-boew/archive/master.zip">Download<span class="wb-inv"> - Latest v4.0 source code - Web Experience Toolkit (WET) theme</span></a></td>
					<td><a href="https://github.com/wet-boew/wet-boew-dist/archive/master-dist.zip">Download<span class="wb-inv"> - Latest v4.0 Precompiled files - Web Experience Toolkit (WET) theme</span></a></td>
				</tr>
				<tr>
					<td>Base</td>
					<td><a href="https://github.com/wet-boew/theme-base/archive/master.zip">Download<span class="wb-inv"> - Latest v4.0 source code - Base theme</span> (theme only)</a></td>
					<td><a href="https://github.com/wet-boew/themes-dist/archive/theme-base.zip">Download<span class="wb-inv"> - Latest v4.0 Precompiled files - Base theme</span></a></td>
				</tr>
				<tr>
					<td>Canada.ca</td>
					<td><a href="https://github.com/wet-boew/GCWeb/archive/master.zip">Download<span class="wb-inv"> - Latest v4.0 source code - Canada.ca theme</span> (theme only)</a></td>
					<td><a href="https://github.com/wet-boew/themes-dist/archive/GCWeb.zip">Download<span class="wb-inv"> - Latest v4.0 Precompiled files - Canada.ca theme</span></a></td>
				</tr>
				<tr>
					<td>Government of Canada Web Usability</td>
					<td><a href="https://github.com/wet-boew/theme-gcwu-fegc/archive/master.zip">Download<span class="wb-inv"> - Latest v4.0 source code - Government of Canada Web Usability theme</span> (theme only)</a></td>
					<td><a href="https://github.com/wet-boew/themes-dist/archive/theme-gcwu-fegc.zip">Download<span class="wb-inv"> - Latest v4.0 Precompiled files - Government of Canada Web Usability theme</span></a></td>
				</tr>
				<tr>
					<td>Government of Canada Intranet</td>
					<td><a href="https://github.com/wet-boew/theme-gc-intranet/archive/master.zip">Download<span class="wb-inv"> - Latest v4.0 source code - Government of Canada Intranet theme</span> (theme only)</a></td>
					<td><a href="https://github.com/wet-boew/themes-dist/archive/theme-gc-intranet.zip">Download<span class="wb-inv"> - Latest v4.0 Precompiled files - Government of Canada Intranet theme</span></a></td>
				</tr>
				<tr>
					<td>Open Government Platform (OGPL)</td>
					<td><a href="https://github.com/wet-boew/theme-ogpl/archive/master.zip">Download<span class="wb-inv"> - Latest v4.0 source code - Open Government Platform (OGPL) theme</span> (theme only)</a></td>
					<td><a href="https://github.com/wet-boew/themes-dist/archive/theme-ogpl.zip">Download<span class="wb-inv"> - Latest v4.0 Precompiled files - Open Government Platform (OGPL) theme</span></a></td>
				</tr>
			</tbody>
		</table>
	</section>
</section>

<section>
	<h2 id="v31">Version 3.1</h2>
	<section>
		<h3 id="v31stable">Stable releases</h3>
		<table class="table table-bordered mrgn-bttm-xl">
			<thead>
				<tr>
					<th scope="col">Version</th>
					<th scope="col">Source code</th>
					<th scope="col">Production files</th>
					<th scope="col">Release notes</th>
				</tr>
			</thead>
			<tbody>
				<tr id="v3114">
					<td>v3.1.14</td>
					<td><a href="https://github.com/wet-boew/wet-boew/archive/v3.1.14.zip">Download<span class="wb-inv"> - v3.1.14 source code</span></a></td>
					<td><a href="https://github.com/wet-boew/wet-boew/releases/download/v3.1.14/wet-boew-dist-3.1.14.zip">Download<span class="wb-inv"> - v3.1.14 production files</span></a></td>
					<td><a href="v3.1/v3.1.14-en.html">Release notes<span class="wb-inv"> - v3.1.14</span></a></td>
				</tr>
				<tr id="v3113">
					<td>v3.1.13</td>
					<td><a href="https://github.com/wet-boew/wet-boew/archive/v3.1.13.zip">Download<span class="wb-inv"> - v3.1.13 source code</span></a></td>
					<td><a href="https://github.com/wet-boew/wet-boew/releases/download/v3.1.13/wet-boew-dist-3.1.13.zip">Download<span class="wb-inv"> - v3.1.13 production files</span></a></td>
					<td><a href="v3.1/v3.1.13-en.html">Release notes<span class="wb-inv"> - v3.1.13</span></a></td>
				</tr>
				<tr id="v3112">
					<td>v3.1.12</td>
					<td><a href="https://github.com/wet-boew/wet-boew/archive/v3.1.12.zip">Download<span class="wb-inv"> - v3.1.12 source code</span></a></td>
					<td><a href="https://github.com/wet-boew/wet-boew/releases/download/v3.1.12/wet-boew-dist-3.1.12.zip">Download<span class="wb-inv"> - v3.1.12 production files</span></a></td>
					<td><a href="v3.1/v3.1.12-en.html">Release notes<span class="wb-inv"> - v3.1.12</span></a></td>
				</tr>
				<tr id="v3111">
					<td>v3.1.11</td>
					<td><a href="https://github.com/wet-boew/wet-boew/archive/v3.1.11.zip">Download<span class="wb-inv"> - v3.1.11 source code</span></a></td>
					<td><a href="https://github.com/wet-boew/wet-boew/releases/download/v3.1.11/wet-boew-dist-3.1.11.zip">Download<span class="wb-inv"> - v3.1.11 production files</span></a></td>
					<td><a href="v3.1/v3.1.11-en.html">Release notes<span class="wb-inv"> - v3.1.11</span></a></td>
				</tr>
				<tr id="v3110">
					<td>v3.1.10</td>
					<td><a href="https://github.com/wet-boew/wet-boew/archive/v3.1.10.zip">Download<span class="wb-inv"> - v3.1.10 source code</span></a></td>
					<td><a href="https://github.com/wet-boew/wet-boew/releases/download/v3.1.10/wet-boew-dist-3.1.10.zip">Download<span class="wb-inv"> - v3.1.10 production files</span></a></td>
					<td><a href="v3.1/v3.1.10-en.html">Release notes<span class="wb-inv"> - v3.1.10</span></a></td>
				</tr>
				<tr id="v319">
					<td>v3.1.9</td>
					<td><a href="https://github.com/wet-boew/wet-boew/archive/v3.1.9.zip">Download<span class="wb-inv"> - v3.1.9 source code</span></a></td>
					<td><a href="https://github.com/wet-boew/wet-boew/releases/download/v3.1.9/wet-boew-dist-3.1.9.zip">Download<span class="wb-inv"> - v3.1.9 production files</span></a></td>
					<td><a href="v3.1/v3.1.9-en.html">Release notes<span class="wb-inv"> - v3.1.9</span></a></td>
				</tr>
				<tr id="v318">
					<td>v3.1.8</td>
					<td><a href="https://github.com/wet-boew/wet-boew/archive/v3.1.8.zip">Download<span class="wb-inv"> - v3.1.8 source code</span></a></td>
					<td><a href="https://github.com/wet-boew/wet-boew/releases/download/v3.1.8/wet-boew-dist-3.1.8.zip">Download<span class="wb-inv"> - v3.1.8 production files</span></a></td>
					<td><a href="v3.1/v3.1.8-en.html">Release notes<span class="wb-inv"> - v3.1.8</span></a></td>
				</tr>
				<tr id="v317">
					<td>v3.1.7</td>
					<td><a href="https://github.com/wet-boew/wet-boew/archive/v3.1.7.zip">Download<span class="wb-inv"> - v3.1.7 source code</span></a></td>
					<td><a href="https://github.com/wet-boew/wet-boew/releases/download/v3.1.7/wet-boew-dist-3.1.7.zip">Download<span class="wb-inv"> - v3.1.7 production files</span></a></td>
					<td><a href="v3.1/v3.1.7-en.html">Release notes<span class="wb-inv"> - v3.1.7</span></a></td>
				</tr>
				<tr id="v316">
					<td>v3.1.6</td>
					<td><a href="https://github.com/wet-boew/wet-boew/archive/v3.1.6.zip">Download<span class="wb-inv"> - v3.1.6 source code</span></a></td>
					<td><a href="https://github.com/wet-boew/wet-boew/releases/download/v3.1.6/wet-boew-dist-3.1.6.zip">Download<span class="wb-inv"> - v3.1.6 production files</span></a></td>
					<td><a href="v3.1/v3.1.6-en.html">Release notes<span class="wb-inv"> - v3.1.6</span></a></td>
				</tr>
				<tr id="v315">
					<td>v3.1.5</td>
					<td><a href="https://github.com/wet-boew/wet-boew/archive/v3.1.5.zip">Download<span class="wb-inv"> - v3.1.5 source code</span></a></td>
					<td><a href="https://github.com/wet-boew/wet-boew/releases/download/v3.1.5/wet-boew-dist-3.1.5.zip">Download<span class="wb-inv"> - v3.1.5 production files</span></a></td>
					<td><a href="v3.1/v3.1.5-en.html">Release notes<span class="wb-inv"> - v3.1.5</span></a></td>
				</tr>
				<tr id="v314">
					<td>v3.1.4</td>
					<td><a href="https://github.com/wet-boew/wet-boew/archive/v3.1.4-release-src.zip">Download<span class="wb-inv"> - v3.1.4 source code</span></a></td>
					<td><a href="https://github.com/wet-boew/wet-boew/releases/download/v3.1.4-release-src/wet-boew-dist-3.1.4-release-dist.zip">Download<span class="wb-inv"> - v3.1.4 production files</span></a></td>
					<td><a href="v3.1/v3.1.4-en.html">Release notes<span class="wb-inv"> - v3.1.4</span></a></td>
				</tr>
				<tr id="v313">
					<td>v3.1.3</td>
					<td><a href="https://github.com/wet-boew/wet-boew/archive/v3.1.3-release-src.zip">Download<span class="wb-inv"> - v3.1.3 source code</span></a></td>
					<td><a href="https://github.com/wet-boew/wet-boew/releases/download/v3.1.3-release-src/wet-boew-dist-3.1.3-release-dist.zip">Download<span class="wb-inv"> - v3.1.3 production files</span></a></td>
					<td><a href="v3.1/v3.1.3-en.html">Release notes<span class="wb-inv"> - v3.1.3</span></a></td>
				</tr>
				<tr id="v312">
					<td>v3.1.2</td>
					<td><a href="https://github.com/wet-boew/wet-boew/archive/v3.1.2-release-src.zip">Download<span class="wb-inv"> - v3.1.2 source code</span></a></td>
					<td><a href="https://github.com/wet-boew/wet-boew/releases/download/v3.1.2-release-src/wet-boew-dist-3.1.2-release-dist.zip">Download<span class="wb-inv"> - v3.1.2 production files</span></a></td>
					<td><a href="v3.1/v3.1.2-en.html">Release notes<span class="wb-inv"> - v3.1.2</span></a></td>
				</tr>
				<tr id="v311">
					<td>v3.1.1</td>
					<td><a href="https://github.com/wet-boew/wet-boew/archive/v3.1.1-release-src.zip">Download<span class="wb-inv"> - v3.1.1 source code</span></a></td>
					<td><a href="https://github.com/wet-boew/wet-boew/releases/download/v3.1.1-release-src/wet-boew-dist-3.1.1-release-dist.zip">Download<span class="wb-inv"> - v3.1.1 production files</span></a></td>
					<td><a href="v3.1/v3.1.1-en.html">Release notes<span class="wb-inv"> - v3.1.1</span></a></td>
				</tr>
				<tr id="v310">
					<td>v3.1.0</td>
					<td><a href="https://github.com/wet-boew/wet-boew/archive/v3.1.0-release-src.zip">Download<span class="wb-inv"> - v3.1.0 source code</span></a></td>
					<td><a href="https://github.com/wet-boew/wet-boew/releases/download/v3.1.0-release-src/wet-boew-dist-3.1.0-release-dist.zip">Download<span class="wb-inv"> - v3.1.0 production files</span></a></td>
					<td><a href="v3.1/v3.1.0-en.html">Release notes<span class="wb-inv"> - v3.1.0</span></a></td>
				</tr>
				<tr id="v310rc1">
					<td>v3.1.0 Release Candidate 1</td>
					<td><a href="https://github.com/wet-boew/wet-boew/archive/v3.1.0-rc1-src.zip">Download<span class="wb-inv"> - v3.1.0 Release Candidate 1 source code</span></a></td>
					<td><a href="https://github.com/wet-boew/wet-boew/releases/download/v3.1.0-rc1-src/wet-boew-dist-3.1.0-rc1-dist.zip">Download<span class="wb-inv"> - v3.1.0 Release Candidate 1 production files</span></a></td>
					<td><a href="v3.1/v3.1.0-rc1-en.html">Release notes<span class="wb-inv"> - v3.1.0 Release Candidate 1</span></a></td>
				</tr>
				<tr id="v310b2">
					<td>v3.1.0 Beta 2</td>
					<td><a href="https://github.com/wet-boew/wet-boew/archive/v3.1.0-b2-src.zip">Download<span class="wb-inv"> - v3.1.0 Beta 2 source code</span></a></td>
					<td><a href="https://github.com/wet-boew/wet-boew/releases/download/v3.1.0-b2-src/wet-boew-dist-3.1.0-b2-dist.zip">Download<span class="wb-inv"> - v3.1.0 Beta 2 production files</span></a></td>
					<td><a href="v3.1/v3.1.0-b2-en.html">Release notes<span class="wb-inv"> - v3.1.0 Beta 2</span></a></td>
				</tr>
				<tr id="v310b1">
					<td>v3.1.0 Beta 1</td>
					<td><a href="https://github.com/wet-boew/wet-boew/archive/v3.1.0-b1-src.zip">Download<span class="wb-inv"> - v3.1.0 Beta 1 source code</span></a></td>
					<td><a href="https://github.com/wet-boew/wet-boew/releases/download/v3.1.0-b1-src/wet-boew-3.1.0-b1-dist.zip">Download<span class="wb-inv"> - v3.1.0 Beta 1 production files</span></a></td>
					<td><a href="v3.1/v3.1.0-b2-en.html">Release notes<span class="wb-inv"> - v3.1.0 Beta 1</span></a></td>
				</tr>
				<tr id="v310a1">
					<td>v3.1.0 Alpha 1</td>
					<td><a href="https://github.com/wet-boew/wet-boew/archive/v3.1.0-a1.zip">Download<span class="wb-inv"> - v3.1.0 Alpha 1 source code and production files</span></a></td>
					<td><a href="https://github.com/wet-boew/wet-boew/archive/v3.1.0-a1.zip">Download<span class="wb-inv"> - v3.1.0 Alpha 1 source code and production files</span></a></td>
					<td><a href="v3.1/v3.1.0-a1-en.html">Release notes<span class="wb-inv"> - v3.1.0 Alpha 1</span></a></td>
				</tr>
			</tbody>
		</table>
	</section>

	<section>
		<h3 id="v31dev">Development releases</h3>
		<table class="table table-bordered mrgn-bttm-xl">
			<thead>
				<tr>
					<th scope="col">Source code</th>
					<th scope="col">Precompiled files</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><a href="https://github.com/wet-boew/wet-boew/archive/v3.1.zip">Download<span class="wb-inv"> - Latest v3.1 source code</span></a></td>
					<td><a href="https://github.com/wet-boew/wet-boew-dist/archive/v3.1-dist.zip">Download<span class="wb-inv"> - Latest v3.1 Precompiled files</span></a></td>
				</tr>
			</tbody>
		</table>
	</section>
</section>

<section>
	<h2 id="v30">Version 3.0 (no longer supported)</h2>
	<section>
		<h3 id="v30stable">Stable releases</h3>
		<table class="table table-bordered mrgn-bttm-xl">
			<thead>
				<tr>
					<th scope="col">Version</th>
					<th scope="col">Source code</th>
					<th scope="col">Production files</th>
					<th scope="col">Release notes</th>
				</tr>
			</thead>
			<tbody>
				<tr id="v3014">
					<td>v3.0.14 (final version for v3.0.x)</td>
					<td><a href="https://github.com/wet-boew/wet-boew/archive/v3.0.14.zip">Download<span class="wb-inv"> - v3.0.14 source code</span></a></td>
					<td><a href="https://github.com/wet-boew/wet-boew/releases/download/v3.0.14/wet-boew-dist-3.0.14.zip">Download<span class="wb-inv"> - v3.0.14 production files</span></a></td>
					<td><a href="v3.0/v3.0.14-en.html">Release notes<span class="wb-inv"> - v3.0.14</span></a></td>
				</tr>
				<tr id="v3013">
					<td>v3.0.13</td>
					<td><a href="https://github.com/wet-boew/wet-boew/archive/v3.0.13.zip">Download<span class="wb-inv"> - v3.0.13 source code</span></a></td>
					<td><a href="https://github.com/wet-boew/wet-boew/releases/download/v3.0.13/wet-boew-dist-3.0.13.zip">Download<span class="wb-inv"> - v3.0.13 production files</span></a></td>
					<td><a href="v3.0/v3.0.13-en.html">Release notes<span class="wb-inv"> - v3.0.13</span></a></td>
				</tr>
				<tr id="v3012">
					<td>v3.0.12</td>
					<td><a href="https://github.com/wet-boew/wet-boew/archive/v3.0.12.zip">Download<span class="wb-inv"> - v3.0.12 source code</span></a></td>
					<td><a href="https://github.com/wet-boew/wet-boew/releases/download/v3.0.12/wet-boew-dist-3.0.12.zip">Download<span class="wb-inv"> - v3.0.12 production files</span></a></td>
					<td><a href="v3.0/v3.0.12-en.html">Release notes<span class="wb-inv"> - v3.0.12</span></a></td>
				</tr>
				<tr id="v3011">
					<td>v3.0.11</td>
					<td><a href="https://github.com/wet-boew/wet-boew/archive/v3.0.11.zip">Download<span class="wb-inv"> - v3.0.11 source code</span></a></td>
					<td><a href="https://github.com/wet-boew/wet-boew/releases/download/v3.0.11/wet-boew-dist-3.0.11.zip">Download<span class="wb-inv"> - v3.0.11 production files</span></a></td>
					<td><a href="v3.0/v3.0.11-en.html">Release notes<span class="wb-inv"> - v3.0.11</span></a></td>
				</tr>
				<tr id="v3010">
					<td>v3.0.10</td>
					<td><a href="https://github.com/wet-boew/wet-boew/archive/v3.0.10-release-src.zip">Download<span class="wb-inv"> - v3.0.10 source code</span></a></td>
					<td><a href="https://github.com/wet-boew/wet-boew/releases/download/v3.0.10-release-src/wet-boew-dist-3.0.10-release-dist.zip">Download<span class="wb-inv"> - v3.0.10 production files</span></a></td>
					<td><a href="v3.0/v3.0.10-en.html">Release notes<span class="wb-inv"> - v3.0.10</span></a></td>
				</tr>
				<tr id="v309">
					<td>v3.0.9</td>
					<td><a href="https://github.com/wet-boew/wet-boew/archive/v3.0.9-release-src.zip">Download<span class="wb-inv"> - v3.0.9 source code</span></a></td>
					<td><a href="https://github.com/wet-boew/wet-boew/releases/download/v3.0.9-release-src/wet-boew-dist-3.0.9-release-dist.zip">Download<span class="wb-inv"> - v3.0.9 production files</span></a></td>
					<td><a href="v3.0/v3.0.9-en.html">Release notes<span class="wb-inv"> - v3.0.9</span></a></td>
				</tr>
				<tr id="v308">
					<td>v3.0.8</td>
					<td><a href="https://github.com/wet-boew/wet-boew/archive/v3.0.8-release-src.zip">Download<span class="wb-inv"> - v3.0.8 source code</span></a></td>
					<td><a href="https://github.com/wet-boew/wet-boew/releases/download/v3.0.8-release-src/wet-boew-dist-3.0.8-release-dist.zip">Download<span class="wb-inv"> - v3.0.8 production files</span></a></td>
					<td><a href="v3.0/v3.0.8-en.html">Release notes<span class="wb-inv"> - v3.0.8</span></a></td>
				</tr>
				<tr id="v307">
					<td>v3.0.7</td>
					<td><a href="https://github.com/wet-boew/wet-boew/archive/v3.0.7-release-src.zip">Download<span class="wb-inv"> - v3.0.7 source code</span></a></td>
					<td><a href="https://github.com/wet-boew/wet-boew/releases/download/v3.0.7-release-src/wet-boew-dist-3.0.7-release-dist.zip">Download<span class="wb-inv"> - v3.0.7 production files</span></a></td>
					<td><a href="v3.0/v3.0.7-en.html">Release notes<span class="wb-inv"> - v3.0.7</span></a></td>
				</tr>
				<tr id="v306">
					<td>v3.0.6</td>
					<td><a href="https://github.com/wet-boew/wet-boew/archive/v3.0.6-release-src.zip">Download<span class="wb-inv"> - v3.0.6 source code</span></a></td>
					<td><a href="https://github.com/wet-boew/wet-boew/releases/download/v3.0.6-release-src/wet-boew-dist-3.0.6-release-dist.zip">Download<span class="wb-inv"> - v3.0.6 production files</span></a></td>
					<td><a href="v3.0/v3.0.6-en.html">Release notes<span class="wb-inv"> - v3.0.6</span></a></td>
				</tr>
				<tr id="v305">
					<td>v3.0.5</td>
					<td><a href="https://github.com/wet-boew/wet-boew/archive/v3.0.5-release-src.zip">Download<span class="wb-inv"> - v3.0.5 source code</span></a></td>
					<td><a href="https://github.com/wet-boew/wet-boew/releases/download/v3.0.5-release-src/wet-boew-dist-3.0.5-release-dist.zip">Download<span class="wb-inv"> - v3.0.5 production files</span></a></td>
					<td><a href="v3.0/v3.0.5-en.html">Release notes<span class="wb-inv"> - v3.0.5</span></a></td>
				</tr>
				<tr id="v304">
					<td>v3.0.4</td>
					<td><a href="https://github.com/wet-boew/wet-boew/archive/v3.0.4-release-src.zip">Download<span class="wb-inv"> - v3.0.4 source code</span></a></td>
					<td><a href="https://github.com/wet-boew/wet-boew/releases/download/v3.0.4-release-src/wet-boew-dist-3.0.4-release-dist.zip">Download<span class="wb-inv"> - v3.0.4 production files</span></a></td>
					<td><a href="v3.0/v3.0.4-en.html">Release notes<span class="wb-inv"> - v3.0.4</span></a></td>
				</tr>
				<tr id="v303">
					<td>v3.0.3</td>
					<td><a href="https://github.com/wet-boew/wet-boew/archive/v3.0.3-release-src.zip">Download<span class="wb-inv"> - v3.0.3 source code</span></a></td>
					<td><a href="https://github.com/wet-boew/wet-boew/releases/download/v3.0.3-release-src/wet-boew-dist-3.0.3-release-dist.zip">Download<span class="wb-inv"> - v3.0.3 production files</span></a></td>
					<td><a href="v3.0/v3.0.3-en.html">Release notes<span class="wb-inv"> - v3.0.3</span></a></td>
				</tr>
				<tr id="v302">
					<td>v3.0.2</td>
					<td><a href="https://github.com/wet-boew/wet-boew/archive/v3.0.2-release.zip">Download<span class="wb-inv"> - v3.0.2 source code and production files</span></a></td>
					<td><a href="https://github.com/wet-boew/wet-boew/archive/v3.0.2-release.zip">Download<span class="wb-inv"> - v3.0.2 source code and production files</span></a></td>
					<td><a href="v3.0/v3.0.2-en.html">Release notes<span class="wb-inv"> - v3.0.2</span></a></td>
				</tr>
				<tr id="v301">
					<td>v3.0.1</td>
					<td><a href="https://github.com/wet-boew/wet-boew/archive/v3.0.1-release.zip">Download<span class="wb-inv"> - v3.0.1 source code and production files</span></a></td>
					<td><a href="https://github.com/wet-boew/wet-boew/archive/v3.0.1-release.zip">Download<span class="wb-inv"> - v3.0.1 source code and production files</span></a></td>
					<td><a href="v3.0/v3.0.1-en.html">Release notes<span class="wb-inv"> - v3.0.1</span></a></td>
				</tr>
				<tr id="v300">
					<td>v3.0.0</td>
					<td><a href="https://github.com/wet-boew/wet-boew/archive/v3.0.0-release.zip">Download<span class="wb-inv"> - v3.0.0 source code and production files</span></a></td>
					<td><a href="https://github.com/wet-boew/wet-boew/archive/v3.0.0-release.zip">Download<span class="wb-inv"> - v3.0.0 source code and production files</span></a></td>
					<td><a href="v3.0/v3.0.0-en.html">Release notes<span class="wb-inv"> - v3.0.0</span></a></td>
				</tr>
			</tbody>
		</table>
	</section>
</section>
