---
{
	"title": "Téléchargements",
	"language": "fr",
	"description": "Téléchargements - Historique des versions - Boîte à outils de l'expérience Web (BOEW)",
	"altLangPrefix": "dwnld",
	"dateModified": "2014-08-20"
}
---
<p>Voir <a href="version-info-fr.html">Contrôle des versions</a> pour la signification de chaque numéro de version.</p>

<section>
	<h2>Table of contents</h2>
	<ul>
		<li>Version 4.0
			<ul>
				<li><a href="#v40stable">Versions stables</a></li>
				<li><a href="#v40dev">En développement</a></li>
			</ul>
		</li>
		<li>Version 3.1
			<ul>
				<li><a href="#v31stable">Versions stables</a></li>
				<li><a href="#v31dev">En développement</a></li>
			</ul>
		</li>
		<li>Version 3.0 (n'est plus supportée)
			<ul>
				<li><a href="#v30stable">Versions stables</a></li>
			</ul>
		</li>
	</ul>
</section>

<section>
	<h2 id="v40">Version 4.0</h2>
	<section>
		<h3 id="v40stable">Versions stables</h3>
		<section>
			<h4 id="v405">v4.0.5</h4>
			<p><a href="v4.0/v4.0.5-fr.html">Notes d'utilisation<span class="wb-inv"> - v4.0.5</span></a></p>
			<table class="table table-bordered mrgn-bttm-xl">
				<thead>
					<tr>
						<th scope="col">Thème</th>
						<th scope="col">Code source</th>
						<th scope="col">Fichiers de production</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Boîte à outils de l'expérience Web (BOEW)</td>
						<td><a href="https://github.com/wet-boew/wet-boew/archive/v4.0.5.zip">Télécharger<span class="wb-inv"> - Code source de v4.0.5 - Thème de la Boîte à outils de l'expérience Web (BOEW)</span></a></td>
						<td><a href="https://github.com/wet-boew/wet-boew/releases/download/v4.0.5/wet-boew-dist-4.0.5.zip">Télécharger<span class="wb-inv"> - Fichiers de production de v4.0.5 - Thème de la Boîte à outils de l'expérience Web (BOEW)</span></a></td>
					</tr>
					<tr>
						<td>Base</td>
						<td><a href="https://github.com/wet-boew/theme-base/archive/v4.0.5.zip">Télécharger<span class="wb-inv"> - Code source de v4.0.5 - Thème de base</span> (thème seulement)</a></td>
						<td><a href="https://github.com/wet-boew/theme-base/releases/download/v4.0.5/themes-dist-4.0.5-theme-base.zip">Télécharger<span class="wb-inv"> - Fichiers de production de v4.0.5 - Thème de base</span></a></td>
					</tr>
					<tr>
						<td>Canada.ca</td>
						<td><a href="https://github.com/wet-boew/GCWeb/archive/v4.0.5.zip">Télécharger<span class="wb-inv"> - Code source de v4.0.5 - Thème Canada.ca</span> (thème seulement)</a></td>
						<td><a href="https://github.com/wet-boew/GCWeb/releases/download/v4.0.5/themes-dist-4.0.5-gcweb.zip">Télécharger<span class="wb-inv"> - Fichiers de production de v4.0.5 - Thème Canada.ca</span></a></td>
					</tr>
					<tr>
						<td>Facilité d’emploi Web du gouvernement du Canada</td>
						<td><a href="https://github.com/wet-boew/theme-gcwu-fegc/archive/v4.0.5.zip">Télécharger<span class="wb-inv"> - Code source de v4.0.5 - Thème de la facilité d’emploi Web du gouvernement du Canada</span> (thème seulement)</a></td>
						<td><a href="https://github.com/wet-boew/theme-gcwu-fegc/releases/download/v4.0.5/themes-dist-4.0.5-theme-gcwu-fegc.zip">Télécharger<span class="wb-inv"> - Fichiers de production de v4.0.5 - Thème de la facilité d’emploi Web du gouvernement du Canada</span></a></td>
					</tr>
					<tr>
						<td>Gouvernement du Canada pour les sites intranet</td>
						<td><a href="https://github.com/wet-boew/theme-gc-intranet/archive/v4.0.5.zip">Télécharger<span class="wb-inv"> - Code source de v4.0.5 - Thème du gouvernement du Canada pour les sites intranet</span> (thème seulement)</a></td>
						<td><a href="https://github.com/wet-boew/theme-gc-intranet/releases/download/v4.0.5/themes-dist-4.0.5-theme-gc-intranet.zip">Télécharger<span class="wb-inv"> - Fichiers de production de v4.0.5 - Thème du gouvernement du Canada pour les sites intranet</span></a></td>
					</tr>
					<tr>
						<td>Plate-forme de gouvernement ouvert (PGO)</td>
						<td><a href="https://github.com/wet-boew/theme-ogpl/archive/v4.0.5.zip">Télécharger<span class="wb-inv"> - Code source de v4.0.5 - Thème de la Plate-forme de gouvernement ouvert (PGO)</span> (thème seulement)</a></td>
						<td><a href="https://github.com/wet-boew/theme-ogpl/releases/download/v4.0.5/themes-dist-4.0.5-theme-ogpl.zip">Télécharger<span class="wb-inv"> - Fichiers de production de v4.0.5 - Thème de la Plate-forme de gouvernement ouvert (PGO)</span></a></td>
					</tr>
				</tbody>
			</table>
		</section>

		<section>
			<h4 id="v404">v4.0.4</h4>
			<p><a href="v4.0/v4.0.4-fr.html">Notes d'utilisation<span class="wb-inv"> - v4.0.4</span></a></p>
			<table class="table table-bordered mrgn-bttm-xl">
				<thead>
					<tr>
						<th scope="col">Thème</th>
						<th scope="col">Code source</th>
						<th scope="col">Fichiers de production</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Boîte à outils de l'expérience Web (BOEW)</td>
						<td><a href="https://github.com/wet-boew/wet-boew/archive/v4.0.4.zip">Télécharger<span class="wb-inv"> - Code source de v4.0.4 - Thème de la Boîte à outils de l'expérience Web (BOEW)</span></a></td>
						<td><a href="https://github.com/wet-boew/wet-boew/releases/download/v4.0.4/wet-boew-dist-4.0.4.zip">Télécharger<span class="wb-inv"> - Fichiers de production de v4.0.4 - Thème de la Boîte à outils de l'expérience Web (BOEW)</span></a></td>
					</tr>
					<tr>
						<td>Base</td>
						<td><a href="https://github.com/wet-boew/theme-base/archive/v4.0.4.zip">Télécharger<span class="wb-inv"> - Code source de v4.0.4 - Thème de base</span> (thème seulement)</a></td>
						<td><a href="https://github.com/wet-boew/theme-base/releases/download/v4.0.4/themes-dist-4.0.4-theme-base.zip">Télécharger<span class="wb-inv"> - Fichiers de production de v4.0.4 - Thème de base</span></a></td>
					</tr>
					<tr>
						<td>Canada.ca</td>
						<td><a href="https://github.com/wet-boew/GCWeb/archive/v4.0.4.zip">Télécharger<span class="wb-inv"> - Code source de v4.0.4 - Thème Canada.ca</span> (thème seulement)</a></td>
						<td><a href="https://github.com/wet-boew/GCWeb/releases/download/v4.0.4/themes-dist-4.0.4-gcweb.zip">Télécharger<span class="wb-inv"> - Fichiers de production de v4.0.4 - Thème Canada.ca</span></a></td>
					</tr>
					<tr>
						<td>Facilité d’emploi Web du gouvernement du Canada</td>
						<td><a href="https://github.com/wet-boew/theme-gcwu-fegc/archive/v4.0.4.zip">Télécharger<span class="wb-inv"> - Code source de v4.0.4 - Thème de la facilité d’emploi Web du gouvernement du Canada</span> (thème seulement)</a></td>
						<td><a href="https://github.com/wet-boew/theme-gcwu-fegc/releases/download/v4.0.4/themes-dist-4.0.4-theme-gcwu-fegc.zip">Télécharger<span class="wb-inv"> - Fichiers de production de v4.0.4 - Thème de la facilité d’emploi Web du gouvernement du Canada</span></a></td>
					</tr>
					<tr>
						<td>Gouvernement du Canada pour les sites intranet</td>
						<td><a href="https://github.com/wet-boew/theme-gc-intranet/archive/v4.0.4.zip">Télécharger<span class="wb-inv"> - Code source de v4.0.4 - Thème du gouvernement du Canada pour les sites intranet</span> (thème seulement)</a></td>
						<td><a href="https://github.com/wet-boew/theme-gc-intranet/releases/download/v4.0.4/themes-dist-4.0.4-theme-gc-intranet.zip">Télécharger<span class="wb-inv"> - Fichiers de production de v4.0.4 - Thème du gouvernement du Canada pour les sites intranet</span></a></td>
					</tr>
					<tr>
						<td>Plate-forme de gouvernement ouvert (PGO)</td>
						<td><a href="https://github.com/wet-boew/theme-ogpl/archive/v4.0.4.zip">Télécharger<span class="wb-inv"> - Code source de v4.0.4 - Thème de la Plate-forme de gouvernement ouvert (PGO)</span> (thème seulement)</a></td>
						<td><a href="https://github.com/wet-boew/theme-ogpl/releases/download/v4.0.4/themes-dist-4.0.4-theme-ogpl.zip">Télécharger<span class="wb-inv"> - Fichiers de production de v4.0.4 - Thème de la Plate-forme de gouvernement ouvert (PGO)</span></a></td>
					</tr>
				</tbody>
			</table>
		</section>

		<section>
			<h4 id="v403">v4.0.3</h4>
			<p><a href="v4.0/v4.0.3-fr.html">Notes d'utilisation<span class="wb-inv"> - v4.0.3</span></a></p>
			<table class="table table-bordered mrgn-bttm-xl">
				<thead>
					<tr>
						<th scope="col">Thème</th>
						<th scope="col">Code source</th>
						<th scope="col">Fichiers de production</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Boîte à outils de l'expérience Web (BOEW)</td>
						<td><a href="https://github.com/wet-boew/wet-boew/archive/v4.0.3.zip">Télécharger<span class="wb-inv"> - Code source de v4.0.3 - Thème de la Boîte à outils de l'expérience Web (BOEW)</span></a></td>
						<td><a href="https://github.com/wet-boew/wet-boew/releases/download/v4.0.3/wet-boew-dist-4.0.3.zip">Télécharger<span class="wb-inv"> - Fichiers de production de v4.0.3 - Thème de la Boîte à outils de l'expérience Web (BOEW)</span></a></td>
					</tr>
					<tr>
						<td>Base</td>
						<td><a href="https://github.com/wet-boew/theme-base/archive/v4.0.3.zip">Télécharger<span class="wb-inv"> - Code source de v4.0.3 - Thème de base</span> (thème seulement)</a></td>
						<td><a href="https://github.com/wet-boew/theme-base/releases/download/v4.0.3/themes-dist-4.0.3-theme-base.zip">Télécharger<span class="wb-inv"> - Fichiers de production de v4.0.3 - Thème de base</span></a></td>
					</tr>
					<tr>
						<td>Canada.ca</td>
						<td><a href="https://github.com/wet-boew/GCWeb/archive/v4.0.3.zip">Télécharger<span class="wb-inv"> - Code source de v4.0.3 - Thème Canada.ca</span> (thème seulement)</a></td>
						<td><a href="https://github.com/wet-boew/GCWeb/releases/download/v4.0.3/themes-dist-4.0.3-gcweb.zip">Télécharger<span class="wb-inv"> - Fichiers de production de v4.0.3 - Thème Canada.ca</span></a></td>
					</tr>
					<tr>
						<td>Facilité d’emploi Web du gouvernement du Canada</td>
						<td><a href="https://github.com/wet-boew/theme-gcwu-fegc/archive/v4.0.3.zip">Télécharger<span class="wb-inv"> - Code source de v4.0.3 - Thème de la facilité d’emploi Web du gouvernement du Canada</span> (thème seulement)</a></td>
						<td><a href="https://github.com/wet-boew/theme-gcwu-fegc/releases/download/v4.0.3/themes-dist-4.0.3-theme-gcwu-fegc.zip">Télécharger<span class="wb-inv"> - Fichiers de production de v4.0.3 - Thème de la facilité d’emploi Web du gouvernement du Canada</span></a></td>
					</tr>
					<tr>
						<td>Gouvernement du Canada pour les sites intranet</td>
						<td><a href="https://github.com/wet-boew/theme-gc-intranet/archive/v4.0.3.zip">Télécharger<span class="wb-inv"> - Code source de v4.0.3 - Thème du gouvernement du Canada pour les sites intranet</span> (thème seulement)</a></td>
						<td><a href="https://github.com/wet-boew/theme-gc-intranet/releases/download/v4.0.3/themes-dist-4.0.3-theme-gc-intranet.zip">Télécharger<span class="wb-inv"> - Fichiers de production de v4.0.3 - Thème du gouvernement du Canada pour les sites intranet</span></a></td>
					</tr>
					<tr>
						<td>Plate-forme de gouvernement ouvert (PGO)</td>
						<td><a href="https://github.com/wet-boew/theme-ogpl/archive/v4.0.3.zip">Télécharger<span class="wb-inv"> - Code source de v4.0.3 - Thème de la Plate-forme de gouvernement ouvert (PGO)</span> (thème seulement)</a></td>
						<td><a href="https://github.com/wet-boew/theme-ogpl/releases/download/v4.0.3/themes-dist-4.0.3-theme-ogpl.zip">Télécharger<span class="wb-inv"> - Fichiers de production de v4.0.3 - Thème de la Plate-forme de gouvernement ouvert (PGO)</span></a></td>
					</tr>
				</tbody>
			</table>
		</section>

		<section>
			<h4 id="v402">v4.0.2</h4>
			<p><a href="v4.0/v4.0.2-fr.html">Notes d'utilisation<span class="wb-inv"> - v4.0.2</span></a></p>
			<table class="table table-bordered mrgn-bttm-xl">
				<thead>
					<tr>
						<th scope="col">Thème</th>
						<th scope="col">Code source</th>
						<th scope="col">Fichiers de production</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Boîte à outils de l'expérience Web (BOEW)</td>
						<td><a href="https://github.com/wet-boew/wet-boew/archive/v4.0.2.zip">Télécharger<span class="wb-inv"> - Code source de v4.0.2 - Thème de la Boîte à outils de l'expérience Web (BOEW)</span></a></td>
						<td><a href="https://github.com/wet-boew/wet-boew/releases/download/v4.0.2/wet-boew-dist-4.0.2.zip">Télécharger<span class="wb-inv"> - Fichiers de production de v4.0.2 - Thème de la Boîte à outils de l'expérience Web (BOEW)</span></a></td>
					</tr>
					<tr>
						<td>Base</td>
						<td><a href="https://github.com/wet-boew/theme-base/archive/v4.0.2.zip">Télécharger<span class="wb-inv"> - Code source de v4.0.2 - Thème de base</span> (thème seulement)</a></td>
						<td><a href="https://github.com/wet-boew/theme-base/releases/download/v4.0.2/themes-dist-4.0.2-theme-base.zip">Télécharger<span class="wb-inv"> - Fichiers de production de v4.0.2 - Thème de base</span></a></td>
					</tr>
					<tr>
						<td>Canada.ca</td>
						<td><a href="https://github.com/wet-boew/GCWeb/archive/v4.0.2.zip">Télécharger<span class="wb-inv"> - Code source de v4.0.2 - Thème Canada.ca</span> (thème seulement)</a></td>
						<td><a href="https://github.com/wet-boew/GCWeb/releases/download/v4.0.2/themes-dist-4.0.2-gcweb.zip">Télécharger<span class="wb-inv"> - Fichiers de production de v4.0.2 - Thème Canada.ca</span></a></td>
					</tr>
					<tr>
						<td>Facilité d’emploi Web du gouvernement du Canada</td>
						<td><a href="https://github.com/wet-boew/theme-gcwu-fegc/archive/v4.0.2.zip">Télécharger<span class="wb-inv"> - Code source de v4.0.2 - Thème de la facilité d’emploi Web du gouvernement du Canada</span> (thème seulement)</a></td>
						<td><a href="https://github.com/wet-boew/theme-gcwu-fegc/releases/download/v4.0.2/themes-dist-4.0.2-theme-gcwu-fegc.zip">Télécharger<span class="wb-inv"> - Fichiers de production de v4.0.2 - Thème de la facilité d’emploi Web du gouvernement du Canada</span></a></td>
					</tr>
					<tr>
						<td>Gouvernement du Canada pour les sites intranet</td>
						<td><a href="https://github.com/wet-boew/theme-gc-intranet/archive/v4.0.2.zip">Télécharger<span class="wb-inv"> - Code source de v4.0.2 - Thème du gouvernement du Canada pour les sites intranet</span> (thème seulement)</a></td>
						<td><a href="https://github.com/wet-boew/theme-gc-intranet/releases/download/v4.0.2/themes-dist-4.0.2-theme-gc-intranet.zip">Télécharger<span class="wb-inv"> - Fichiers de production de v4.0.2 - Thème du gouvernement du Canada pour les sites intranet</span></a></td>
					</tr>
					<tr>
						<td>Plate-forme de gouvernement ouvert (PGO)</td>
						<td><a href="https://github.com/wet-boew/theme-ogpl/archive/v4.0.2.zip">Télécharger<span class="wb-inv"> - Code source de v4.0.2 - Thème de la Plate-forme de gouvernement ouvert (PGO)</span> (thème seulement)</a></td>
						<td><a href="https://github.com/wet-boew/theme-ogpl/releases/download/v4.0.2/themes-dist-4.0.2-theme-ogpl.zip">Télécharger<span class="wb-inv"> - Fichiers de production de v4.0.2 - Thème de la Plate-forme de gouvernement ouvert (PGO)</span></a></td>
					</tr>
				</tbody>
			</table>
		</section>

		<section>
			<h4 id="v401">v4.0.1</h4>
			<p><a href="v4.0/v4.0.1-fr.html">Notes d'utilisation<span class="wb-inv"> - v4.0.1</span></a></p>
			<table class="table table-bordered mrgn-bttm-xl">
				<thead>
					<tr>
						<th scope="col">Thème</th>
						<th scope="col">Code source</th>
						<th scope="col">Fichiers de production</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Boîte à outils de l'expérience Web (BOEW)</td>
						<td><a href="https://github.com/wet-boew/wet-boew/archive/v4.0.1.zip">Télécharger<span class="wb-inv"> - Code source de v4.0.1 - Thème de la Boîte à outils de l'expérience Web (BOEW)</span></a></td>
						<td><a href="https://github.com/wet-boew/wet-boew/releases/download/v4.0.1/wet-boew-dist-4.0.1.zip">Télécharger<span class="wb-inv"> - Fichiers de production de v4.0.1 - Thème de la Boîte à outils de l'expérience Web (BOEW)</span></a></td>
					</tr>
					<tr>
						<td>Base</td>
						<td><a href="https://github.com/wet-boew/theme-base/archive/v4.0.1.zip">Télécharger<span class="wb-inv"> - Code source de v4.0.1 - Thème de base</span> (thème seulement)</a></td>
						<td><a href="https://github.com/wet-boew/theme-base/releases/download/v4.0.1/themes-dist-4.0.1-theme-base.zip">Télécharger<span class="wb-inv"> - Fichiers de production de v4.0.1 - Thème de base</span></a></td>
					</tr>
					<tr>
						<td>Canada.ca</td>
						<td><a href="https://github.com/wet-boew/GCWeb/archive/v4.0.1.zip">Télécharger<span class="wb-inv"> - Code source de v4.0.1 - Thème Canada.ca</span> (thème seulement)</a></td>
						<td><a href="https://github.com/wet-boew/GCWeb/releases/download/v4.0.1/themes-dist-4.0.1-gcweb.zip">Télécharger<span class="wb-inv"> - Fichiers de production de v4.0.1 - Thème Canada.ca</span></a></td>
					</tr>
					<tr>
						<td>Facilité d’emploi Web du gouvernement du Canada</td>
						<td><a href="https://github.com/wet-boew/theme-gcwu-fegc/archive/v4.0.1.zip">Télécharger<span class="wb-inv"> - Code source de v4.0.1 - Thème de la facilité d’emploi Web du gouvernement du Canada</span> (thème seulement)</a></td>
						<td><a href="https://github.com/wet-boew/theme-gcwu-fegc/releases/download/v4.0.1/themes-dist-4.0.1-theme-gcwu-fegc.zip">Télécharger<span class="wb-inv"> - Fichiers de production de v4.0.1 - Thème de la facilité d’emploi Web du gouvernement du Canada</span></a></td>
					</tr>
					<tr>
						<td>Gouvernement du Canada pour les sites intranet</td>
						<td><a href="https://github.com/wet-boew/theme-gc-intranet/archive/v4.0.1.zip">Télécharger<span class="wb-inv"> - Code source de v4.0.1 - Thème du gouvernement du Canada pour les sites intranet</span> (thème seulement)</a></td>
						<td><a href="https://github.com/wet-boew/theme-gc-intranet/releases/download/v4.0.1/themes-dist-4.0.1-theme-gc-intranet.zip">Télécharger<span class="wb-inv"> - Fichiers de production de v4.0.1 - Thème du gouvernement du Canada pour les sites intranet</span></a></td>
					</tr>
					<tr>
						<td>Plate-forme de gouvernement ouvert (PGO)</td>
						<td><a href="https://github.com/wet-boew/theme-ogpl/archive/v4.0.1.zip">Télécharger<span class="wb-inv"> - Code source de v4.0.1 - Thème de la Plate-forme de gouvernement ouvert (PGO)</span> (thème seulement)</a></td>
						<td><a href="https://github.com/wet-boew/theme-ogpl/releases/download/v4.0.1/themes-dist-4.0.1-theme-ogpl.zip">Télécharger<span class="wb-inv"> - Fichiers de production de v4.0.1 - Thème de la Plate-forme de gouvernement ouvert (PGO)</span></a></td>
					</tr>
				</tbody>
			</table>
		</section>

		<section>
			<h4 id="v400">v4.0.0</h4>
			<p><a href="v4.0/v4.0.0-fr.html">Notes d'utilisation<span class="wb-inv"> - v4.0.0</span></a></p>
			<table class="table table-bordered mrgn-bttm-xl">
				<thead>
					<tr>
						<th scope="col">Thème</th>
						<th scope="col">Code source</th>
						<th scope="col">Fichiers de production</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Boîte à outils de l'expérience Web (BOEW)</td>
						<td><a href="https://github.com/wet-boew/wet-boew/archive/v4.0.0.zip">Télécharger<span class="wb-inv"> - Code source de v4.0.0 - Thème de la Boîte à outils de l'expérience Web (BOEW)</span></a></td>
						<td><a href="https://github.com/wet-boew/wet-boew/releases/download/v4.0.0/wet-boew-dist-4.0.0.zip">Télécharger<span class="wb-inv"> - Fichiers de production de v4.0.0 - Thème de la Boîte à outils de l'expérience Web (BOEW)</span></a></td>
					</tr>
					<tr>
						<td>Base</td>
						<td><a href="https://github.com/wet-boew/theme-base/archive/v4.0.0.zip">Télécharger<span class="wb-inv"> - Code source de v4.0.0 - Thème de base</span> (thème seulement)</a></td>
						<td><a href="https://github.com/wet-boew/theme-base/releases/download/v4.0.0/themes-dist-4.0.0-theme-base.zip">Télécharger<span class="wb-inv"> - Fichiers de production de v4.0.0 - Thème de base</span></a></td>
					</tr>
					<tr>
						<td>Canada.ca</td>
						<td><a href="https://github.com/wet-boew/GCWeb/archive/v4.0.0.zip">Télécharger<span class="wb-inv"> - Code source de v4.0.0 - Thème Canada.ca</span> (thème seulement)</a></td>
						<td><a href="https://github.com/wet-boew/GCWeb/releases/download/v4.0.0/themes-dist-4.0.0-gcweb.zip">Télécharger<span class="wb-inv"> - Fichiers de production de v4.0.0 - Thème Canada.ca</span></a></td>
					</tr>
					<tr>
						<td>Facilité d’emploi Web du gouvernement du Canada</td>
						<td><a href="https://github.com/wet-boew/theme-gcwu-fegc/archive/v4.0.0.zip">Télécharger<span class="wb-inv"> - Code source de v4.0.0 - Thème de la facilité d’emploi Web du gouvernement du Canada</span> (thème seulement)</a></td>
						<td><a href="https://github.com/wet-boew/theme-gcwu-fegc/releases/download/v4.0.0/themes-dist-4.0.0-theme-gcwu-fegc.zip">Télécharger<span class="wb-inv"> - Fichiers de production de v4.0.0 - Thème de la facilité d’emploi Web du gouvernement du Canada</span></a></td>
					</tr>
					<tr>
						<td>Gouvernement du Canada pour les sites intranet</td>
						<td><a href="https://github.com/wet-boew/theme-gc-intranet/archive/v4.0.0.zip">Télécharger<span class="wb-inv"> - Code source de v4.0.0 - Thème du gouvernement du Canada pour les sites intranet</span> (thème seulement)</a></td>
						<td><a href="https://github.com/wet-boew/theme-gc-intranet/releases/download/v4.0.0/themes-dist-4.0.0-theme-gc-intranet.zip">Télécharger<span class="wb-inv"> - Fichiers de production de v4.0.0 - Thème du gouvernement du Canada pour les sites intranet</span></a></td>
					</tr>
					<tr>
						<td>Plate-forme de gouvernement ouvert (PGO)</td>
						<td><a href="https://github.com/wet-boew/theme-ogpl/archive/v4.0.0.zip">Télécharger<span class="wb-inv"> - Code source de v4.0.0 - Thème de la Plate-forme de gouvernement ouvert (PGO)</span> (thème seulement)</a></td>
						<td><a href="https://github.com/wet-boew/theme-ogpl/releases/download/v4.0.0/themes-dist-4.0.0-theme-ogpl.zip">Télécharger<span class="wb-inv"> - Fichiers de production de v4.0.0 - Thème de la Plate-forme de gouvernement ouvert (PGO)</span></a></td>
					</tr>
				</tbody>
			</table>
		</section>

		<section>
			<h4 id="v400rc1">v4.0.0 Candidat 1</h4>
			<p><a href="v4.0/v4.0.0-rc1-fr.html">Notes d'utilisation<span class="wb-inv"> - v4.0.0 Candidat 1</span></a></p>
			<table class="table table-bordered mrgn-bttm-xl">
				<thead>
					<tr>
						<th scope="col">Thème</th>
						<th scope="col">Code source</th>
						<th scope="col">Fichiers de production</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Boîte à outils de l'expérience Web (BOEW)</td>
						<td><a href="https://github.com/wet-boew/wet-boew/archive/v4.0.0-rc1.zip">Télécharger<span class="wb-inv"> - Code source de v4.0.0 Candidat 1 - Thème de la Boîte à outils de l'expérience Web (BOEW)</span></a></td>
						<td><a href="https://github.com/wet-boew/wet-boew/releases/download/v4.0.0-rc1/wet-boew-dist-4.0.0-rc1.zip">Télécharger<span class="wb-inv"> - Fichiers de production de v4.0.0 Candidat 1 - Thème de la Boîte à outils de l'expérience Web (BOEW)</span></a></td>
					</tr>
					<tr>
						<td>Base</td>
						<td><a href="https://github.com/wet-boew/theme-base/archive/v4.0.0-rc1.zip">Télécharger<span class="wb-inv"> - Code source de v4.0.0 Candidat 1 - Thème de base</span> (thème seulement)</a></td>
						<td><a href="https://github.com/wet-boew/theme-base/releases/download/v4.0.0-rc1/themes-dist-4.0.0-rc1-theme-base.zip">Télécharger<span class="wb-inv"> - Fichiers de production de v4.0.0 Candidat 1 - Thème de base</span></a></td>
					</tr>
					<tr>
						<td>Canada.ca</td>
						<td><a href="https://github.com/wet-boew/GCWeb/archive/v4.0.0-rc1.zip">Télécharger<span class="wb-inv"> - Code source de v4.0.0 Candidat 1 - Thème Canada.ca</span> (thème seulement)</a></td>
						<td><a href="https://github.com/wet-boew/GCWeb/releases/download/v4.0.0-rc1/themes-dist-4.0.0-rc1-gcweb.zip">Télécharger<span class="wb-inv"> - Fichiers de production de v4.0.0 Candidat 1 - Thème Canada.ca</span></a></td>
					</tr>
					<tr>
						<td>Facilité d’emploi Web du gouvernement du Canada</td>
						<td><a href="https://github.com/wet-boew/theme-gcwu-fegc/archive/v4.0.0-rc1.zip">Télécharger<span class="wb-inv"> - Code source de v4.0.0 Candidat 1 - Thème de la facilité d’emploi Web du gouvernement du Canada</span> (thème seulement)</a></td>
						<td><a href="https://github.com/wet-boew/theme-gcwu-fegc/releases/download/v4.0.0-rc1/themes-dist-4.0.0-rc1-theme-gcwu-fegc.zip">Télécharger<span class="wb-inv"> - Fichiers de production de v4.0.0 Candidat 1 - Thème de la facilité d’emploi Web du gouvernement du Canada</span></a></td>
					</tr>
					<tr>
						<td>Gouvernement du Canada pour les sites intranet</td>
						<td><a href="https://github.com/wet-boew/theme-gc-intranet/archive/v4.0.0-rc1.zip">Télécharger<span class="wb-inv"> - Code source de v4.0.0 Candidat 1 - Thème du gouvernement du Canada pour les sites intranet</span> (thème seulement)</a></td>
						<td><a href="https://github.com/wet-boew/theme-gc-intranet/releases/download/v4.0.0-rc1/themes-dist-4.0.0-rc1-theme-gc-intranet.zip">Télécharger<span class="wb-inv"> - Fichiers de production de v4.0.0 Candidat 1 - Thème du gouvernement du Canada pour les sites intranet</span></a></td>
					</tr>
					<tr>
						<td>Plate-forme de gouvernement ouvert (PGO)</td>
						<td><a href="https://github.com/wet-boew/theme-ogpl/archive/v4.0.0-rc1.zip">Télécharger<span class="wb-inv"> - Code source de v4.0.0 Candidat 1 - Thème de la Plate-forme de gouvernement ouvert (PGO)</span> (thème seulement)</a></td>
						<td><a href="https://github.com/wet-boew/theme-ogpl/releases/download/v4.0.0-rc1/themes-dist-4.0.0-rc1-theme-ogpl.zip">Télécharger<span class="wb-inv"> - Fichiers de production de v4.0.0 Candidat 1 - Thème de la Plate-forme de gouvernement ouvert (PGO)</span></a></td>
					</tr>
				</tbody>
			</table>
		</section>

		<section>
			<h4 id="v400b2">v4.0.0 Bêta 2</h4>
			<p><a href="v4.0/v4.0.0-b2-fr.html">Notes d'utilisation<span class="wb-inv"> - v4.0.0 Bêta 2</span></a></p>
			<table class="table table-bordered mrgn-bttm-xl">
				<thead>
					<tr>
						<th scope="col">Thème</th>
						<th scope="col">Code source</th>
						<th scope="col">Fichiers de production</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Boîte à outils de l'expérience Web (BOEW)</td>
						<td><a href="https://github.com/wet-boew/wet-boew/archive/v4.0.0-b2.zip">Télécharger<span class="wb-inv"> - Code source de v4.0.0 Bêta 2 - Thème de la Boîte à outils de l'expérience Web (BOEW)</span></a></td>
						<td><a href="https://github.com/wet-boew/wet-boew/releases/download/v4.0.0-b2/wet-boew-dist-4.0.0-b2.zip">Télécharger<span class="wb-inv"> - Fichiers de production de v4.0.0 Bêta 2 - Thème de la Boîte à outils de l'expérience Web (BOEW)</span></a></td>
					</tr>
					<tr>
						<td>Base</td>
						<td><a href="https://github.com/wet-boew/theme-base/archive/v4.0.0-b2.zip">Télécharger<span class="wb-inv"> - Code source de v4.0.0 Bêta 2 - Thème de base</span> (thème seulement)</a></td>
						<td><a href="https://github.com/wet-boew/theme-base/releases/download/v4.0.0-b2/themes-dist-4.0.0-b2-theme-base.zip">Télécharger<span class="wb-inv"> - Fichiers de production de v4.0.0 Bêta 2 - Thème de base</span></a></td>
					</tr>
					<tr>
						<td>Canada.ca</td>
						<td><a href="https://github.com/wet-boew/GCWeb/archive/v4.0.0-b2.zip">Télécharger<span class="wb-inv"> - Code source de v4.0.0 Bêta 2 - Thème Canada.ca</span> (thème seulement)</a></td>
						<td><a href="https://github.com/wet-boew/GCWeb/releases/download/v4.0.0-b2/themes-dist-4.0.0-b2-gcweb.zip">Télécharger<span class="wb-inv"> - Fichiers de production de v4.0.0 Bêta 2 - Thème Canada.ca</span></a></td>
					</tr>
					<tr>
						<td>Facilité d’emploi Web du gouvernement du Canada</td>
						<td><a href="https://github.com/wet-boew/theme-gcwu-fegc/archive/v4.0.0-b2.zip">Télécharger<span class="wb-inv"> - Code source de v4.0.0 Bêta 2 - Thème de la facilité d’emploi Web du gouvernement du Canada</span> (thème seulement)</a></td>
						<td><a href="https://github.com/wet-boew/theme-gcwu-fegc/releases/download/v4.0.0-b2/themes-dist-4.0.0-b2-theme-gcwu-fegc.zip">Télécharger<span class="wb-inv"> - Fichiers de production de v4.0.0 Bêta 2 - Thème de la facilité d’emploi Web du gouvernement du Canada</span></a></td>
					</tr>
					<tr>
						<td>Gouvernement du Canada pour les sites intranet</td>
						<td><a href="https://github.com/wet-boew/theme-gc-intranet/archive/v4.0.0-b2.zip">Télécharger<span class="wb-inv"> - Code source de v4.0.0 Bêta 2 - Thème du gouvernement du Canada pour les sites intranet</span> (thème seulement)</a></td>
						<td><a href="https://github.com/wet-boew/theme-gc-intranet/releases/download/v4.0.0-b2/themes-dist-4.0.0-b2-theme-gc-intranet.zip">Télécharger<span class="wb-inv"> - Fichiers de production de v4.0.0 Bêta 2 - Thème du gouvernement du Canada pour les sites intranet</span></a></td>
					</tr>
					<tr>
						<td>Plate-forme de gouvernement ouvert (PGO)</td>
						<td><a href="https://github.com/wet-boew/theme-ogpl/archive/v4.0.0-b2.zip">Télécharger<span class="wb-inv"> - Code source de v4.0.0 Bêta 2 - Thème de la Plate-forme de gouvernement ouvert (PGO)</span> (thème seulement)</a></td>
						<td><a href="https://github.com/wet-boew/theme-ogpl/releases/download/v4.0.0-b2/themes-dist-4.0.0-b2-theme-ogpl.zip">Télécharger<span class="wb-inv"> - Fichiers de production de v4.0.0 Bêta 2 - Thème de la Plate-forme de gouvernement ouvert (PGO)</span></a></td>
					</tr>
				</tbody>
			</table>
		</section>

		<section>
			<h4 id="v400b1">v4.0.0 Bêta 1</h4>
			<p><a href="v4.0/v4.0.0-b1-fr.html">Notes d'utilisation<span class="wb-inv"> - v4.0.0 Bêta 1</span></a></p>
			<table class="table table-bordered mrgn-bttm-xl">
				<thead>
					<tr>
						<th scope="col">Thème</th>
						<th scope="col">Code source</th>
						<th scope="col">Fichiers de production</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Boîte à outils de l'expérience Web (BOEW)</td>
						<td><a href="https://github.com/wet-boew/wet-boew/archive/v4.0.0-b1.zip">Télécharger<span class="wb-inv"> - Code source de v4.0.0 Bêta 1 - Thème de la Boîte à outils de l'expérience Web (BOEW)</span></a></td>
						<td><a href="https://github.com/wet-boew/wet-boew/releases/download/v4.0.0-b1/wet-boew-dist-4.0.0-b1.zip">Télécharger<span class="wb-inv"> - Fichiers de production de v4.0.0 Bêta 1 - Thème de la Boîte à outils de l'expérience Web (BOEW)</span></a></td>
					</tr>
					<tr>
						<td>Canada.ca</td>
						<td><a href="https://github.com/wet-boew/GCWeb/archive/v4.0.0-b1.zip">Télécharger<span class="wb-inv"> - Code source de v4.0.0 Bêta 1 - Thème Canada.ca</span> (thème seulement)</a></td>
						<td><a href="https://github.com/wet-boew/GCWeb/releases/download/v4.0.0-b1/GCWeb-4.0.0-b1.zip">Télécharger<span class="wb-inv"> - Fichiers de production de v4.0.0 Bêta 1 - Thème Canada.ca</span></a></td>
					</tr>
				</tbody>
			</table>
		</section>
	</section>

	<section>
		<h3 id="v40dev">En développement</h3>
		<table class="table table-bordered mrgn-bttm-xl">
			<thead>
				<tr>
					<th scope="col">Thème</th>
					<th scope="col">Code source</th>
					<th scope="col">Fichiers de production</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Boîte à outils de l'expérience Web (BOEW)</td>
					<td><a href="https://github.com/wet-boew/wet-boew/archive/master.zip">Télécharger<span class="wb-inv"> - Code source de v4.0 le plus récent - Thème de la Boîte à outils de l'expérience Web (BOEW)</span></a></td>
					<td><a href="https://github.com/wet-boew/wet-boew-dist/archive/master-dist.zip">Télécharger<span class="wb-inv"> - Fichiers précompilés de v4.0 les plus récents - Thème de la Boîte à outils de l'expérience Web (BOEW)</span></a></td>
				</tr>
				<tr>
					<td>Base</td>
					<td><a href="https://github.com/wet-boew/theme-base/archive/master.zip">Télécharger<span class="wb-inv"> - Code source de v4.0 le plus récent - Thème de base</span> (thème seulement)</a></td>
					<td><a href="https://github.com/wet-boew/themes-dist/archive/theme-base.zip">Télécharger<span class="wb-inv"> - Fichiers précompilés de v4.0 les plus récents - Thème de base</span></a></td>
				</tr>
				<tr>
					<td>Canada.ca</td>
					<td><a href="https://github.com/wet-boew/GCWeb/archive/master.zip">Télécharger<span class="wb-inv"> - Code source de v4.0 le plus récent - Thème Canada.ca</span> (thème seulement)</a></td>
					<td><a href="https://github.com/wet-boew/themes-dist/archive/GCWeb.zip">Télécharger<span class="wb-inv"> - Fichiers précompilés de v4.0 les plus récents - Thème Canada.ca</span></a></td>
				</tr>
				<tr>
					<td>Facilité d’emploi Web du gouvernement du Canada</td>
					<td><a href="https://github.com/wet-boew/theme-gcwu-fegc/archive/master.zip">Télécharger<span class="wb-inv"> - Code source de v4.0 le plus récent - Thème de la facilité d’emploi Web du gouvernement du Canada</span> (thème seulement)</a></td>
					<td><a href="https://github.com/wet-boew/themes-dist/archive/theme-gcwu-fegc.zip">Télécharger<span class="wb-inv"> - Fichiers précompilés de v4.0 les plus récents - Thème de la facilité d’emploi Web du gouvernement du Canada</span></a></td>
				</tr>
				<tr>
					<td>Gouvernement du Canada pour les sites intranet</td>
					<td><a href="https://github.com/wet-boew/theme-gc-intranet/archive/master.zip">Télécharger<span class="wb-inv"> - Code source de v4.0 le plus récent - Thème du gouvernement du Canada pour les sites intranet</span> (thème seulement)</a></td>
					<td><a href="https://github.com/wet-boew/themes-dist/archive/theme-gc-intranet.zip">Télécharger<span class="wb-inv"> - Fichiers précompilés de v4.0 les plus récents - Thème du gouvernement du Canada pour les sites intranet</span></a></td>
				</tr>
				<tr>
					<td>Plate-forme de gouvernement ouvert (PGO)</td>
					<td><a href="https://github.com/wet-boew/theme-ogpl/archive/master.zip">Télécharger<span class="wb-inv"> - Code source de v4.0 le plus récent - Thème de la Plate-forme de gouvernement ouvert (PGO)</span> (thème seulement)</a></td>
					<td><a href="https://github.com/wet-boew/themes-dist/archive/theme-ogpl.zip">Télécharger<span class="wb-inv"> - Fichiers précompilés de v4.0 les plus récents - Thème de la Plate-forme de gouvernement ouvert (PGO)</span></a></td>
				</tr>
			</tbody>
		</table>
	</section>
</section>

<section>
	<h2 id="v31">Version 3.1</h2>
	<section>
		<h3 id="v31stable">Versions stables</h3>
		<table class="table table-bordered mrgn-bttm-xl">
			<thead>
				<tr>
					<th scope="col">Version</th>
					<th scope="col">Code source</th>
					<th scope="col">Fichiers de production</th>
					<th scope="col">Notes d'utilisation</th>
				</tr>
			</thead>
			<tbody>
				<tr id="v3114">
					<td>v3.1.14</td>
					<td><a href="https://github.com/wet-boew/wet-boew/archive/v3.1.14.zip">Télécharger<span class="wb-inv"> - Code source de v3.1.14</span></a></td>
					<td><a href="https://github.com/wet-boew/wet-boew/releases/download/v3.1.14/wet-boew-dist-3.1.14.zip">Télécharger<span class="wb-inv"> - Fichiers de production de v3.1.14</span></a></td>
					<td><a href="v3.1/v3.1.14-fr.html">Notes d'utilisation<span class="wb-inv"> - v3.1.14</span></a></td>
				</tr>
				<tr id="v3113">
					<td>v3.1.13</td>
					<td><a href="https://github.com/wet-boew/wet-boew/archive/v3.1.13.zip">Télécharger<span class="wb-inv"> - Code source de v3.1.13</span></a></td>
					<td><a href="https://github.com/wet-boew/wet-boew/releases/download/v3.1.13/wet-boew-dist-3.1.13.zip">Télécharger<span class="wb-inv"> - Fichiers de production de v3.1.13</span></a></td>
					<td><a href="v3.1/v3.1.13-fr.html">Notes d'utilisation<span class="wb-inv"> - v3.1.13</span></a></td>
				</tr>
				<tr id="v3112">
					<td>v3.1.12</td>
					<td><a href="https://github.com/wet-boew/wet-boew/archive/v3.1.12.zip">Télécharger<span class="wb-inv"> - Code source de v3.1.12</span></a></td>
					<td><a href="https://github.com/wet-boew/wet-boew/releases/download/v3.1.12/wet-boew-dist-3.1.12.zip">Télécharger<span class="wb-inv"> - Fichiers de production de v3.1.12</span></a></td>
					<td><a href="v3.1/v3.1.12-fr.html">Notes d'utilisation<span class="wb-inv"> - v3.1.12</span></a></td>
				</tr>
				<tr id="v3111">
					<td>v3.1.11</td>
					<td><a href="https://github.com/wet-boew/wet-boew/archive/v3.1.11.zip">Télécharger<span class="wb-inv"> - Code source de v3.1.11</span></a></td>
					<td><a href="https://github.com/wet-boew/wet-boew/releases/download/v3.1.11/wet-boew-dist-3.1.11.zip">Télécharger<span class="wb-inv"> - Fichiers de production de v3.1.11</span></a></td>
					<td><a href="v3.1/v3.1.11-fr.html">Notes d'utilisation<span class="wb-inv"> - v3.1.11</span></a></td>
				</tr>
				<tr id="v3110">
					<td>v3.1.10</td>
					<td><a href="https://github.com/wet-boew/wet-boew/archive/v3.1.10.zip">Télécharger<span class="wb-inv"> - Code source de v3.1.10</span></a></td>
					<td><a href="https://github.com/wet-boew/wet-boew/releases/download/v3.1.10/wet-boew-dist-3.1.10.zip">Télécharger<span class="wb-inv"> - Fichiers de production de v3.1.10</span></a></td>
					<td><a href="v3.1/v3.1.10-fr.html">Notes d'utilisation<span class="wb-inv"> - v3.1.10</span></a></td>
				</tr>
				<tr id="v319">
					<td>v3.1.9</td>
					<td><a href="https://github.com/wet-boew/wet-boew/archive/v3.1.9.zip">Télécharger<span class="wb-inv"> - Code source de v3.1.9</span></a></td>
					<td><a href="https://github.com/wet-boew/wet-boew/releases/download/v3.1.9/wet-boew-dist-3.1.9.zip">Télécharger<span class="wb-inv"> - Fichiers de production de v3.1.9</span></a></td>
					<td><a href="v3.1/v3.1.9-fr.html">Notes d'utilisation<span class="wb-inv"> - v3.1.9</span></a></td>
				</tr>
				<tr id="v318">
					<td>v3.1.8</td>
					<td><a href="https://github.com/wet-boew/wet-boew/archive/v3.1.8.zip">Télécharger<span class="wb-inv"> - Code source de v3.1.8</span></a></td>
					<td><a href="https://github.com/wet-boew/wet-boew/releases/download/v3.1.8/wet-boew-dist-3.1.8.zip">Télécharger<span class="wb-inv"> - Fichiers de production de v3.1.8</span></a></td>
					<td><a href="v3.1/v3.1.8-fr.html">Notes d'utilisation<span class="wb-inv"> - v3.1.8</span></a></td>
				</tr>
				<tr id="v317">
					<td>v3.1.7</td>
					<td><a href="https://github.com/wet-boew/wet-boew/archive/v3.1.7.zip">Télécharger<span class="wb-inv"> - Code source de v3.1.7</span></a></td>
					<td><a href="https://github.com/wet-boew/wet-boew/releases/download/v3.1.7/wet-boew-dist-3.1.7.zip">Télécharger<span class="wb-inv"> - Fichiers de production de v3.1.7</span></a></td>
					<td><a href="v3.1/v3.1.7-fr.html">Notes d'utilisation<span class="wb-inv"> - v3.1.7</span></a></td>
				</tr>
				<tr id="v316">
					<td>v3.1.6</td>
					<td><a href="https://github.com/wet-boew/wet-boew/archive/v3.1.6.zip">Télécharger<span class="wb-inv"> - Code source de v3.1.6</span></a></td>
					<td><a href="https://github.com/wet-boew/wet-boew/releases/download/v3.1.6/wet-boew-dist-3.1.6.zip">Télécharger<span class="wb-inv"> - Fichiers de production de v3.1.6</span></a></td>
					<td><a href="v3.1/v3.1.6-fr.html">Notes d'utilisation<span class="wb-inv"> - v3.1.6</span></a></td>
				</tr>
				<tr id="v315">
					<td>v3.1.5</td>
					<td><a href="https://github.com/wet-boew/wet-boew/archive/v3.1.5.zip">Télécharger<span class="wb-inv"> - Code source de v3.1.5</span></a></td>
					<td><a href="https://github.com/wet-boew/wet-boew/releases/download/v3.1.5/wet-boew-dist-3.1.5.zip">Télécharger<span class="wb-inv"> - Fichiers de production de v3.1.5</span></a></td>
					<td><a href="v3.1/v3.1.5-fr.html">Notes d'utilisation<span class="wb-inv"> - v3.1.5</span></a></td>
				</tr>
				<tr id="v314">
					<td>v3.1.4</td>
					<td><a href="https://github.com/wet-boew/wet-boew/archive/v3.1.4-release-src.zip">Télécharger<span class="wb-inv"> - Code source de v3.1.4</span></a></td>
					<td><a href="https://github.com/wet-boew/wet-boew/releases/download/v3.1.4-release-src/wet-boew-dist-3.1.4-release-dist.zip">Télécharger<span class="wb-inv"> - Fichiers de production de v3.1.4</span></a></td>
					<td><a href="v3.1/v3.1.4-fr.html">Notes d'utilisation<span class="wb-inv"> - v3.1.4</span></a></td>
				</tr>
				<tr id="v313">
					<td>v3.1.3</td>
					<td><a href="https://github.com/wet-boew/wet-boew/archive/v3.1.3-release-src.zip">Télécharger<span class="wb-inv"> - Code source de v3.1.3</span></a></td>
					<td><a href="https://github.com/wet-boew/wet-boew/releases/download/v3.1.3-release-src/wet-boew-dist-3.1.3-release-dist.zip">Télécharger<span class="wb-inv"> - Fichiers de production de v3.1.3</span></a></td>
					<td><a href="v3.1/v3.1.3-fr.html">Notes d'utilisation<span class="wb-inv"> - v3.1.3</span></a></td>
				</tr>
				<tr id="v312">
					<td>v3.1.2</td>
					<td><a href="https://github.com/wet-boew/wet-boew/archive/v3.1.2-release-src.zip">Télécharger<span class="wb-inv"> - Code source de v3.1.2</span></a></td>
					<td><a href="https://github.com/wet-boew/wet-boew/releases/download/v3.1.2-release-src/wet-boew-dist-3.1.2-release-dist.zip">Télécharger<span class="wb-inv"> - Fichiers de production de v3.1.2</span></a></td>
					<td><a href="v3.1/v3.1.2-fr.html">Notes d'utilisation<span class="wb-inv"> - v3.1.2</span></a></td>
				</tr>
				<tr id="v311">
					<td>v3.1.1</td>
					<td><a href="https://github.com/wet-boew/wet-boew/archive/v3.1.1-release-src.zip">Télécharger<span class="wb-inv"> - Code source de v3.1.1</span></a></td>
					<td><a href="https://github.com/wet-boew/wet-boew/releases/download/v3.1.1-release-src/wet-boew-dist-3.1.1-release-dist.zip">Télécharger<span class="wb-inv"> - Fichiers de production de v3.1.1</span></a></td>
					<td><a href="v3.1/v3.1.1-fr.html">Notes d'utilisation<span class="wb-inv"> - v3.1.1</span></a></td>
				</tr>
				<tr id="v310">
					<td>v3.1.0</td>
					<td><a href="https://github.com/wet-boew/wet-boew/archive/v3.1.0-release-src.zip">Télécharger<span class="wb-inv"> - Code source de v3.1.0</span></a></td>
					<td><a href="https://github.com/wet-boew/wet-boew/releases/download/v3.1.0-release-src/wet-boew-dist-3.1.0-release-dist.zip">Télécharger<span class="wb-inv"> - Fichiers de production de v3.1.0</span></a></td>
					<td><a href="v3.1/v3.1.0-fr.html">Notes d'utilisation<span class="wb-inv"> - v3.1.0</span></a></td>
				</tr>
				<tr id="v310rc1">
					<td>v3.1.0 Candidat 1</td>
					<td><a href="https://github.com/wet-boew/wet-boew/archive/v3.1.0-rc1-src.zip">Télécharger<span class="wb-inv"> - Code source de v3.1.0 Candidat 1</span></a></td>
					<td><a href="https://github.com/wet-boew/wet-boew/releases/download/v3.1.0-rc1-src/wet-boew-dist-3.1.0-rc1-dist.zip">Télécharger<span class="wb-inv"> - Fichiers de production de v3.1.0 Candidat 1</span></a></td>
					<td><a href="v3.1/v3.1.0-rc1-fr.html">Notes d'utilisation<span class="wb-inv"> - v3.1.0 Candidat 1</span></a></td>
				</tr>
				<tr id="v310b2">
					<td>v3.1.0 Bêta 2</td>
					<td><a href="https://github.com/wet-boew/wet-boew/archive/v3.1.0-b2-src.zip">Télécharger<span class="wb-inv"> - Code source de v3.1.0 Bêta 2</span></a></td>
					<td><a href="https://github.com/wet-boew/wet-boew/releases/download/v3.1.0-b2-src/wet-boew-dist-3.1.0-b2-dist.zip">Télécharger<span class="wb-inv"> - Fichiers de production de v3.1.0 Bêta 2</span></a></td>
					<td><a href="v3.1/v3.1.0-b2-fr.html">Notes d'utilisation<span class="wb-inv"> - v3.1.0 Bêta 2</span></a></td>
				</tr>
				<tr id="v310b1">
					<td>v3.1.0 Bêta 1</td>
					<td><a href="https://github.com/wet-boew/wet-boew/archive/v3.1.0-b1-src.zip">Télécharger<span class="wb-inv"> - Code source de v3.1.0 Bêta 1</span></a></td>
					<td><a href="https://github.com/wet-boew/wet-boew/releases/download/v3.1.0-b1-src/wet-boew-3.1.0-b1-dist.zip">Télécharger<span class="wb-inv"> - Fichiers de production de v3.1.0 Bêta 1</span></a></td>
					<td><a href="v3.1/v3.1.0-b1-fr.html">Notes d'utilisation<span class="wb-inv"> - v3.1.0 Bêta 1</span></a></td>
				</tr>
				<tr id="v310a1">
					<td>v3.1.0 Alpha 1</td>
					<td><a href="https://github.com/wet-boew/wet-boew/archive/v3.1.0-a1.zip">Télécharger<span class="wb-inv"> - Code source det fichiers de production de v3.1.0 Alpha 1</span></a></td>
					<td></td>
					<td><a href="v3.1/v3.1.0-a1-fr.html">Notes d'utilisation<span class="wb-inv"> - v3.1.0 Alpha 1</span></a></td>
				</tr>
			</tbody>
		</table>
	</section>

	<section>
		<h3 id="v31dev">En développement</h3>
		<table class="table table-bordered mrgn-bttm-xl">
			<thead>
				<tr>
					<th scope="col">Code source</th>
					<th scope="col">Fichiers précompilés</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><a href="https://github.com/wet-boew/wet-boew/archive/v3.1.zip">Télécharger<span class="wb-inv"> - Code source de v3.1 le plus récent</span></a></td>
					<td><a href="https://github.com/wet-boew/wet-boew-dist/archive/v3.1-dist.zip">Télécharger<span class="wb-inv"> - Fichiers précompilés de v3.1 les plus récents</span></a></td>
				</tr>
			</tbody>
		</table>
	</section>
</section>

<section>
	<h2 id="v30">Version 3.0 (n'est plus supportée)</h2>
	<section>
		<h3 id="v30stable">Versions stables</h3>
		<table class="table table-bordered mrgn-bttm-xl">
			<thead>
				<tr>
					<th scope="col">Version</th>
					<th scope="col">Code source</th>
					<th scope="col">Fichiers de production</th>
					<th scope="col">Notes d'utilisation</th>
				</tr>
			</thead>
			<tbody>
				<tr id="v3014">
					<td>v3.0.14 (version finale pour v3.0.x)</td>
					<td><a href="https://github.com/wet-boew/wet-boew/archive/v3.0.14.zip">Télécharger<span class="wb-inv"> - Code source de v3.0.14</span></a></td>
					<td><a href="https://github.com/wet-boew/wet-boew/releases/download/v3.0.14/wet-boew-dist-3.0.14.zip">Télécharger<span class="wb-inv"> - Fichiers de production de v3.0.14</span></a></td>
					<td><a href="v3.0/v3.0.14-fr.html">Notes d'utilisation<span class="wb-inv"> - v3.0.14</span></a></td>
				</tr>
				<tr id="v3013">
					<td>v3.0.13</td>
					<td><a href="https://github.com/wet-boew/wet-boew/archive/v3.0.13.zip">Télécharger<span class="wb-inv"> - Code source de v3.0.13</span></a></td>
					<td><a href="https://github.com/wet-boew/wet-boew/releases/download/v3.0.13/wet-boew-dist-3.0.13.zip">Télécharger<span class="wb-inv"> - Fichiers de production de v3.0.13</span></a></td>
					<td><a href="v3.0/v3.0.13-fr.html">Notes d'utilisation<span class="wb-inv"> - v3.0.13</span></a></td>
				</tr>
				<tr id="v3012">
					<td>v3.0.12</td>
					<td><a href="https://github.com/wet-boew/wet-boew/archive/v3.0.12.zip">Télécharger<span class="wb-inv"> - Code source de v3.0.12</span></a></td>
					<td><a href="https://github.com/wet-boew/wet-boew/releases/download/v3.0.12/wet-boew-dist-3.0.12.zip">Télécharger<span class="wb-inv"> - Fichiers de production de v3.0.12</span></a></td>
					<td><a href="v3.0/v3.0.12-fr.html">Notes d'utilisation<span class="wb-inv"> - v3.0.12</span></a></td>
				</tr>
				<tr id="v3011">
					<td>v3.0.11</td>
					<td><a href="https://github.com/wet-boew/wet-boew/archive/v3.0.11.zip">Télécharger<span class="wb-inv"> - Code source de v3.0.11</span></a></td>
					<td><a href="https://github.com/wet-boew/wet-boew/releases/download/v3.0.11/wet-boew-dist-3.0.11.zip">Télécharger<span class="wb-inv"> - Fichiers de production de v3.0.11</span></a></td>
					<td><a href="v3.0/v3.0.11-fr.html">Notes d'utilisation<span class="wb-inv"> - v3.0.11</span></a></td>
				</tr>
				<tr id="v3010">
					<td>v3.0.10</td>
					<td><a href="https://github.com/wet-boew/wet-boew/archive/v3.0.10-release-src.zip">Télécharger<span class="wb-inv"> - Code source de v3.0.10</span></a></td>
					<td><a href="https://github.com/wet-boew/wet-boew/releases/download/v3.0.10-release-src/wet-boew-dist-3.0.10-release-dist.zip">Télécharger<span class="wb-inv"> - Fichiers de production de v3.0.10</span></a></td>
					<td><a href="v3.0/v3.0.10-fr.html">Notes d'utilisation<span class="wb-inv"> - v3.0.10</span></a></td>
				</tr>
				<tr id="v309">
					<td>v3.0.9</td>
					<td><a href="https://github.com/wet-boew/wet-boew/archive/v3.0.9-release-src.zip">Télécharger<span class="wb-inv"> - Code source de v3.0.9</span></a></td>
					<td><a href="https://github.com/wet-boew/wet-boew/releases/download/v3.0.9-release-src/wet-boew-dist-3.0.9-release-dist.zip">Télécharger<span class="wb-inv"> - Fichiers de production de v3.0.9</span></a></td>
					<td><a href="v3.0/v3.0.9-fr.html">Notes d'utilisation<span class="wb-inv"> - v3.0.9</span></a></td>
				</tr>
				<tr id="v308">
					<td>v3.0.8</td>
					<td><a href="https://github.com/wet-boew/wet-boew/archive/v3.0.8-release-src.zip">Télécharger<span class="wb-inv"> - Code source de v3.0.8</span></a></td>
					<td><a href="https://github.com/wet-boew/wet-boew/releases/download/v3.0.8-release-src/wet-boew-dist-3.0.8-release-dist.zip">Télécharger<span class="wb-inv"> - Fichiers de production de v3.0.8</span></a></td>
					<td><a href="v3.0/v3.0.8-fr.html">Notes d'utilisation<span class="wb-inv"> - v3.0.8</span></a></td>
				</tr>
				<tr id="v307">
					<td>v3.0.7</td>
					<td><a href="https://github.com/wet-boew/wet-boew/archive/v3.0.7-release-src.zip">Télécharger<span class="wb-inv"> - Code source de v3.0.7</span></a></td>
					<td><a href="https://github.com/wet-boew/wet-boew/releases/download/v3.0.7-release-src/wet-boew-dist-3.0.7-release-dist.zip">Télécharger<span class="wb-inv"> - Fichiers de production de v3.0.7</span></a></td>
					<td><a href="v3.0/v3.0.7-fr.html">Notes d'utilisation<span class="wb-inv"> - v3.0.7</span></a></td>
				</tr>
				<tr id="v306">
					<td>v3.0.6</td>
					<td><a href="https://github.com/wet-boew/wet-boew/archive/v3.0.6-release-src.zip">Télécharger<span class="wb-inv"> - Code source de v3.0.6</span></a></td>
					<td><a href="https://github.com/wet-boew/wet-boew/releases/download/v3.0.6-release-src/wet-boew-dist-3.0.6-release-dist.zip">Télécharger<span class="wb-inv"> - Fichiers de production de v3.0.6</span></a></td>
					<td><a href="v3.0/v3.0.6-fr.html">Notes d'utilisation<span class="wb-inv"> - v3.0.6</span></a></td>
				</tr>
				<tr id="v305">
					<td>v3.0.5</td>
					<td><a href="https://github.com/wet-boew/wet-boew/archive/v3.0.5-release-src.zip">Télécharger<span class="wb-inv"> - Code source de v3.0.5</span></a></td>
					<td><a href="https://github.com/wet-boew/wet-boew/releases/download/v3.0.5-release-src/wet-boew-dist-3.0.5-release-dist.zip">Télécharger<span class="wb-inv"> - Fichiers de production de v3.0.5</span></a></td>
					<td><a href="v3.0/v3.0.5-fr.html">Notes d'utilisation<span class="wb-inv"> - v3.0.5</span></a></td>
				</tr>
				<tr id="v304">
					<td>v3.0.4</td>
					<td><a href="https://github.com/wet-boew/wet-boew/archive/v3.0.4-release-src.zip">Télécharger<span class="wb-inv"> - Code source de v3.0.4</span></a></td>
					<td><a href="https://github.com/wet-boew/wet-boew/releases/download/v3.0.4-release-src/wet-boew-dist-3.0.4-release-dist.zip">Télécharger<span class="wb-inv"> - Fichiers de production de v3.0.4</span></a></td>
					<td><a href="v3.0/v3.0.4-fr.html">Notes d'utilisation<span class="wb-inv"> - v3.0.4</span></a></td>
				</tr>
				<tr id="v303">
					<td>v3.0.3</td>
					<td><a href="https://github.com/wet-boew/wet-boew/archive/v3.0.3-release-src.zip">Télécharger<span class="wb-inv"> - Code source de v3.0.3</span></a></td>
					<td><a href="https://github.com/wet-boew/wet-boew/releases/download/v3.0.3-release-src/wet-boew-dist-3.0.3-release-dist.zip">Télécharger<span class="wb-inv"> - Fichiers de production de v3.0.3</span></a></td>
					<td><a href="v3.0/v3.0.3-fr.html">Notes d'utilisation<span class="wb-inv"> - v3.0.3</span></a></td>
				</tr>
				<tr id="v302">
					<td>v3.0.2</td>
					<td><a href="https://github.com/wet-boew/wet-boew/archive/v3.0.2-release.zip">Télécharger<span class="wb-inv"> - Code source et fichiers de production de v3.0.2</span></a></td>
					<td><a href="https://github.com/wet-boew/wet-boew/archive/v3.0.2-release.zip">Télécharger<span class="wb-inv"> - Code source et fichiers de production de v3.0.2</span></a></td>
					<td><a href="v3.0/v3.0.2-fr.html">Notes d'utilisation<span class="wb-inv"> - v3.0.2</span></a></td>
				</tr>
				<tr id="v301">
					<td>v3.0.1</td>
					<td><a href="https://github.com/wet-boew/wet-boew/archive/v3.0.1-release.zip">Télécharger<span class="wb-inv"> - Code source et fichiers de production de v3.0.1</span></a></td>
					<td><a href="https://github.com/wet-boew/wet-boew/archive/v3.0.1-release.zip">Télécharger<span class="wb-inv"> - Code source et fichiers de production de v3.0.1</span></a></td>
					<td><a href="v3.0/v3.0.1-fr.html">Notes d'utilisation<span class="wb-inv"> - v3.0.1</span></a></td>
				</tr>
				<tr id="v300">
					<td>v3.0.0</td>
					<td><a href="https://github.com/wet-boew/wet-boew/archive/v3.0.0-release.zip">Télécharger<span class="wb-inv"> - Code source et fichiers de production de v3.0.0</span></a></td>
					<td><a href="https://github.com/wet-boew/wet-boew/archive/v3.0.0-release.zip">Télécharger<span class="wb-inv"> - Code source et fichiers de production de v3.0.0</span></a></td>
					<td><a href="v3.0/v3.0.0-fr.html">Notes d'utilisation<span class="wb-inv"> - v3.0.0</span></a></td>
				</tr>
			</tbody>
		</table>
	</section>
</section>
