---
{
	"title": "Downloads",
	"language": "en",
	"altLangPrefix": "dwnld"
}
---
<p>See <a href="version-info-en.html">Versioning</a> for the meaning of each version number.</p>

<section>
	<h2>Version 4.0</h2>
	<section>
		<h3>Stable releases</h3>
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Version</th>
					<th scope="col">Source code</th>
					<th scope="col">Production files</th>
					<th scope="col">Release notes</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>v4.0.0 Beta 1</td>
					<td><a href="https://github.com/wet-boew/wet-boew/archive/v4.0.0-b1.zip">Download<span class="wb-invisible"> - v4.0.0 Beta 1 source code</span></a></td>
					<td><a href="https://github.com/wet-boew/wet-boew-dist/archive/v4.0.0-b1.zip">Download<span class="wb-invisible"> - v4.0.0 Beta 1 production files</span></a></td>
					<td><a href="v4.0/v4.0.0-b1-en.html">Release notes<span class="wb-invisible"> - v4.0.0 Beta 1</span></a></td>
				</tr>
			</tbody>
		</table>
	</section>

	<section>
		<h3>Development releases</h3>
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Version</th>
					<th scope="col">Source code</th>
					<th scope="col">Precompiled files</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Latest changes</td>
					<td><a href="https://github.com/wet-boew/wet-boew/archive/v4.0.zip">Download<span class="wb-invisible"> - Latest v4.0 source code</span></a></td>
					<td><a href="https://github.com/wet-boew/wet-boew-dist/archive/v4.0-dist.zip">Download<span class="wb-invisible"> - Latest v4.0 Precompiled files</span></a></td>
				</tr>
			</tbody>
		</table>
	</section>
</section>

<section>
	<h2>Version 3.1</h2>
	<section>
		<h3>Stable releases</h3>
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Version</th>
					<th scope="col">Source code</th>
					<th scope="col">Production files</th>
					<th scope="col">Release notes</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>v3.1.7</td>
					<td><a href="https://github.com/wet-boew/wet-boew/archive/v3.1.7.zip">Download<span class="wb-invisible"> - v3.1.7 source code</span></a></td>
					<td><a href="https://github.com/wet-boew/wet-boew-dist/archive/v3.1.7.zip">Download<span class="wb-invisible"> - v3.1.7 production files</span></a></td>
					<td><a href="v3.1/v3.1.7-en.html">Release notes<span class="wb-invisible"> - v3.1.7</span></a></td>
				</tr>
				<tr>
					<td>v3.1.6</td>
					<td><a href="https://github.com/wet-boew/wet-boew/archive/v3.1.6.zip">Download<span class="wb-invisible"> - v3.1.6 source code</span></a></td>
					<td><a href="https://github.com/wet-boew/wet-boew-dist/archive/v3.1.6.zip">Download<span class="wb-invisible"> - v3.1.6 production files</span></a></td>
					<td><a href="v3.1/v3.1.6-en.html">Release notes<span class="wb-invisible"> - v3.1.6</span></a></td>
				</tr>
				<tr>
					<td>v3.1.5</td>
					<td><a href="https://github.com/wet-boew/wet-boew/archive/v3.1.5.zip">Download<span class="wb-invisible"> - v3.1.5 source code</span></a></td>
					<td><a href="https://github.com/wet-boew/wet-boew-dist/archive/v3.1.5.zip">Download<span class="wb-invisible"> - v3.1.5 production files</span></a></td>
					<td><a href="v3.1/v3.1.5-en.html">Release notes<span class="wb-invisible"> - v3.1.5</span></a></td>
				</tr>
				<tr>
					<td>v3.1.4</td>
					<td><a href="https://github.com/wet-boew/wet-boew/archive/v3.1.4-release-src.zip">Download<span class="wb-invisible"> - v3.1.4 source code</span></a></td>
					<td><a href="https://github.com/wet-boew/wet-boew-dist/archive/v3.1.4-release-dist.zip">Download<span class="wb-invisible"> - v3.1.4 production files</span></a></td>
					<td><a href="v3.1/v3.1.4-en.html">Release notes<span class="wb-invisible"> - v3.1.4</span></a></td>
				</tr>
				<tr>
					<td>v3.1.3</td>
					<td><a href="https://github.com/wet-boew/wet-boew/archive/v3.1.3-release-src.zip">Download<span class="wb-invisible"> - v3.1.3 source code</span></a></td>
					<td><a href="https://github.com/wet-boew/wet-boew-dist/archive/v3.1.3-release-dist.zip">Download<span class="wb-invisible"> - v3.1.3 production files</span></a></td>
					<td><a href="v3.1/v3.1.3-en.html">Release notes<span class="wb-invisible"> - v3.1.3</span></a></td>
				</tr>
				<tr>
					<td>v3.1.2</td>
					<td><a href="https://github.com/wet-boew/wet-boew/archive/v3.1.2-release-src.zip">Download<span class="wb-invisible"> - v3.1.2 source code</span></a></td>
					<td><a href="https://github.com/wet-boew/wet-boew-dist/archive/v3.1.2-release-dist.zip">Download<span class="wb-invisible"> - v3.1.2 production files</span></a></td>
					<td><a href="v3.1/v3.1.2-en.html">Release notes<span class="wb-invisible"> - v3.1.2</span></a></td>
				</tr>
				<tr>
					<td>v3.1.1</td>
					<td><a href="https://github.com/wet-boew/wet-boew/archive/v3.1.1-release-src.zip">Download<span class="wb-invisible"> - v3.1.1 source code</span></a></td>
					<td><a href="https://github.com/wet-boew/wet-boew-dist/archive/v3.1.1-release-dist.zip">Download<span class="wb-invisible"> - v3.1.1 production files</span></a></td>
					<td><a href="v3.1/v3.1.1-en.html">Release notes<span class="wb-invisible"> - v3.1.1</span></a></td>
				</tr>
				<tr>
					<td>v3.1.0</td>
					<td><a href="https://github.com/wet-boew/wet-boew/archive/v3.1.0-release-src.zip">Download<span class="wb-invisible"> - v3.1.0 source code</span></a></td>
					<td><a href="https://github.com/wet-boew/wet-boew-dist/archive/v3.1.0-release-dist.zip">Download<span class="wb-invisible"> - v3.1.0 production files</span></a></td>
					<td><a href="v3.1/v3.1.0-en.html">Release notes<span class="wb-invisible"> - v3.1.0</span></a></td>
				</tr>
				<tr>
					<td>v3.1.0 Release Candidate 1</td>
					<td><a href="https://github.com/wet-boew/wet-boew/archive/v3.1.0-rc1-src.zip">Download<span class="wb-invisible"> - v3.1.0 Release Candidate 1 source code</span></a></td>
					<td><a href="https://github.com/wet-boew/wet-boew-dist/archive/v3.1.0-rc1-dist.zip">Download<span class="wb-invisible"> - v3.1.0 Release Candidate 1 production files</span></a></td>
					<td><a href="v3.1/v3.1.0-rc1-en.html">Release notes<span class="wb-invisible"> - v3.1.0 Release Candidate 1</span></a></td>
				</tr>
				<tr>
					<td>v3.1.0 Beta 2</td>
					<td><a href="https://github.com/wet-boew/wet-boew/archive/v3.1.0-b2-src.zip">Download<span class="wb-invisible"> - v3.1.0 Beta 2 source code</span></a></td>
					<td><a href="https://github.com/wet-boew/wet-boew-dist/archive/v3.1.0-b2-dist.zip">Download<span class="wb-invisible"> - v3.1.0 Beta 2 production files</span></a></td>
					<td><a href="v3.1/v3.1.0-b2-en.html">Release notes<span class="wb-invisible"> - v3.1.0 Beta 2</span></a></td>
				</tr>
				<tr>
					<td>v3.1.0 Beta 1</td>
					<td><a href="https://github.com/wet-boew/wet-boew/archive/v3.1.0-b1-src.zip">Download<span class="wb-invisible"> - v3.1.0 Beta 1 source code</span></a></td>
					<td><a href="https://github.com/wet-boew/wet-boew-dist/archive/v3.1.0-b1-dist.zip">Download<span class="wb-invisible"> - v3.1.0 Beta 1 production files</span></a></td>
					<td><a href="v3.1/v3.1.0-b2-en.html">Release notes<span class="wb-invisible"> - v3.1.0 Beta 1</span></a></td>
				</tr>
				<tr>
					<td>v3.1.0 Alpha 1</td>
					<td colspan="2"><a href="https://github.com/wet-boew/wet-boew/archive/v3.1.0-a1.zip">Download<span class="wb-invisible"> - v3.1.0 Alpha 1 source code and production files</span></a></td>
					<td><a href="v3.1/v3.1.0-a1-en.html">Release notes<span class="wb-invisible"> - v3.1.0 Alpha 1</span></a></td>
				</tr>
			</tbody>
		</table>
	</section>

	<section>
		<h3>Development releases</h3>
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Version</th>
					<th scope="col">Source code</th>
					<th scope="col">Precompiled files</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Latest changes</td>
					<td><a href="https://github.com/wet-boew/wet-boew/archive/master.zip">Download<span class="wb-invisible"> - Latest v3.1 source code</span></a></td>
					<td><a href="https://github.com/wet-boew/wet-boew-dist/archive/master-dist.zip">Download<span class="wb-invisible"> - Latest v3.1 Precompiled files</span></a></td>
				</tr>
			</tbody>
		</table>
	</section>
</section>

<section>
	<h2>Version 3.0</h2>
	<section>
		<h3>Stable releases</h3>
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Version</th>
					<th scope="col">Source code</th>
					<th scope="col">Production files</th>
					<th scope="col">Release notes</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>v3.0.12</td>
					<td><a href="https://github.com/wet-boew/wet-boew/archive/v3.0.12.zip">Download<span class="wb-invisible"> - v3.0.12 source code</span></a></td>
					<td><a href="https://github.com/wet-boew/wet-boew-dist/archive/v3.0.12.zip">Download<span class="wb-invisible"> - v3.0.12 production files</span></a></td>
					<td><a href="v3.0/v3.0.12-en.html">Release notes<span class="wb-invisible"> - v3.0.12</span></a></td>
				</tr>
				<tr>
					<td>v3.0.11</td>
					<td><a href="https://github.com/wet-boew/wet-boew/archive/v3.0.11.zip">Download<span class="wb-invisible"> - v3.0.11 source code</span></a></td>
					<td><a href="https://github.com/wet-boew/wet-boew-dist/archive/v3.0.11.zip">Download<span class="wb-invisible"> - v3.0.11 production files</span></a></td>
					<td><a href="v3.0/v3.0.11-en.html">Release notes<span class="wb-invisible"> - v3.0.11</span></a></td>
				</tr>
				<tr>
					<td>v3.0.10</td>
					<td><a href="https://github.com/wet-boew/wet-boew/archive/v3.0.10-release-src.zip">Download<span class="wb-invisible"> - v3.0.10 source code</span></a></td>
					<td><a href="https://github.com/wet-boew/wet-boew-dist/archive/v3.0.10-release-dist.zip">Download<span class="wb-invisible"> - v3.0.10 production files</span></a></td>
					<td><a href="v3.0/v3.0.10-en.html">Release notes<span class="wb-invisible"> - v3.0.10</span></a></td>
				</tr>
				<tr>
					<td>v3.0.9</td>
					<td><a href="https://github.com/wet-boew/wet-boew/archive/v3.0.9-release-src.zip">Download<span class="wb-invisible"> - v3.0.9 source code</span></a></td>
					<td><a href="https://github.com/wet-boew/wet-boew-dist/archive/v3.0.9-release-dist.zip">Download<span class="wb-invisible"> - v3.0.9 production files</span></a></td>
					<td><a href="v3.0/v3.0.9-en.html">Release notes<span class="wb-invisible"> - v3.0.9</span></a></td>
				</tr>
				<tr>
					<td>v3.0.8</td>
					<td><a href="https://github.com/wet-boew/wet-boew/archive/v3.0.8-release-src.zip">Download<span class="wb-invisible"> - v3.0.8 source code</span></a></td>
					<td><a href="https://github.com/wet-boew/wet-boew-dist/archive/v3.0.8-release-dist.zip">Download<span class="wb-invisible"> - v3.0.8 production files</span></a></td>
					<td><a href="v3.0/v3.0.8-en.html">Release notes<span class="wb-invisible"> - v3.0.8</span></a></td>
				</tr>
				<tr>
					<td>v3.0.7</td>
					<td><a href="https://github.com/wet-boew/wet-boew/archive/v3.0.7-release-src.zip">Download<span class="wb-invisible"> - v3.0.7 source code</span></a></td>
					<td><a href="https://github.com/wet-boew/wet-boew-dist/archive/v3.0.7-release-dist.zip">Download<span class="wb-invisible"> - v3.0.7 production files</span></a></td>
					<td><a href="v3.0/v3.0.7-en.html">Release notes<span class="wb-invisible"> - v3.0.7</span></a></td>
				</tr>
				<tr>
					<td>v3.0.6</td>
					<td><a href="https://github.com/wet-boew/wet-boew/archive/v3.0.6-release-src.zip">Download<span class="wb-invisible"> - v3.0.6 source code</span></a></td>
					<td><a href="https://github.com/wet-boew/wet-boew-dist/archive/v3.0.6-release-dist.zip">Download<span class="wb-invisible"> - v3.0.6 production files</span></a></td>
					<td><a href="v3.0/v3.0.6-en.html">Release notes<span class="wb-invisible"> - v3.0.6</span></a></td>
				</tr>
				<tr>
					<td>v3.0.5</td>
					<td><a href="https://github.com/wet-boew/wet-boew/archive/v3.0.5-release-src.zip">Download<span class="wb-invisible"> - v3.0.5 source code</span></a></td>
					<td><a href="https://github.com/wet-boew/wet-boew-dist/archive/v3.0.5-release-dist.zip">Download<span class="wb-invisible"> - v3.0.5 production files</span></a></td>
					<td><a href="v3.0/v3.0.5-en.html">Release notes<span class="wb-invisible"> - v3.0.5</span></a></td>
				</tr>
				<tr>
					<td>v3.0.4</td>
					<td><a href="https://github.com/wet-boew/wet-boew/archive/v3.0.4-release-src.zip">Download<span class="wb-invisible"> - v3.0.4 source code</span></a></td>
					<td><a href="https://github.com/wet-boew/wet-boew-dist/archive/v3.0.4-release-dist.zip">Download<span class="wb-invisible"> - v3.0.4 production files</span></a></td>
					<td><a href="v3.0/v3.0.4-en.html">Release notes<span class="wb-invisible"> - v3.0.4</span></a></td>
				</tr>
				<tr>
					<td>v3.0.3</td>
					<td><a href="https://github.com/wet-boew/wet-boew/archive/v3.0.3-release-src.zip">Download<span class="wb-invisible"> - v3.0.3 source code</span></a></td>
					<td><a href="https://github.com/wet-boew/wet-boew-dist/archive/v3.0.3-release-dist.zip">Download<span class="wb-invisible"> - v3.0.3 production files</span></a></td>
					<td><a href="v3.0/v3.0.3-en.html">Release notes<span class="wb-invisible"> - v3.0.3</span></a></td>
				</tr>
				<tr>
					<td>v3.0.2</td>
					<td colspan="2"><a href="https://github.com/wet-boew/wet-boew/archive/v3.0.2-release.zip">Download<span class="wb-invisible"> - v3.0.2 source code and production files</span></a></td>
					<td><a href="v3.0/v3.0.2-en.html">Release notes<span class="wb-invisible"> - v3.0.2</span></a></td>
				</tr>
				<tr>
					<td>v3.0.1</td>
					<td colspan="2"><a href="https://github.com/wet-boew/wet-boew/archive/v3.0.1-release.zip">Download<span class="wb-invisible"> - v3.0.1 source code and production files</span></a></td>
					<td><a href="v3.0/v3.0.1-en.html">Release notes<span class="wb-invisible"> - v3.0.1</span></a></td>
				</tr>
				<tr>
					<td>v3.0.0</td>
					<td colspan="2"><a href="https://github.com/wet-boew/wet-boew/archive/v3.0.0-release.zip">Download<span class="wb-invisible"> - v3.0.0 source code and production files</span></a></td>
					<td><a href="v3.0/v3.0.0-en.html">Release notes<span class="wb-invisible"> - v3.0.0</span></a></td>
				</tr>
			</tbody>
		</table>
	</section>

	<section>
		<h3>Development releases</h3>
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Version</th>
					<th scope="col">Source code</th>
					<th scope="col">Precompiled files</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Latest changes</td>
					<td><a href="https://github.com/wet-boew/wet-boew/archive/v3.0.zip">Download<span class="wb-invisible"> - Latest v3.0 source code</span></a></td>
					<td><a href="https://github.com/wet-boew/wet-boew-dist/archive/v3.0-dist.zip">Download<span class="wb-invisible"> - Latest v3.0 Precompiled files</span></a></td>
				</tr>
			</tbody>
		</table>
	</section>
</section>
