---
{
	"title": "Downloads",
	"language": "en",
	"description": "Downloads - Latest version - Web Experience Toolkit (WET)",
	"altLangPrefix": "dwnld",
	"dateModified": "2022-03-10"
}
---
<p>WET-BOEW and GCWeb are at least quarterly released.</p>

<p>See <a href="version-info-en.html">Versioning</a> for the meaning of each version number.</p>

<section>
	<h2>Latest release</h2>

	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Product</th>
				<th>Version</th>
				<th class="text-center">Files</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Web Experience Toolkit (WET)</td>
				<td>v4.0.49 (STR)</td>
				<td class="text-center"><a class="btn btn-default" href="https://github.com/wet-boew/wet-boew/releases/latest">Download<span class="wb-inv"> - v4.0.49 (STR) - Web Experience Toolkit (WET) theme</span></a></td>
			</tr>
			<tr>
				<td>Canada.ca (GCWeb)</td>
				<td>v10.5.3 (STR)</td>
				<td class="text-center"><a class="btn btn-default" href="https://github.com/wet-boew/GCWeb/releases/latest">Download<span class="wb-inv"> - v10.5.3 (STR) - Canada.ca theme</span></a></td>
			</tr>
		</tbody>
	</table>

	<h3>Developer build</h3>
	<p>The following build of wet-boew and gcweb contains the latest changes made at the source in the master branch.</p>
	<ul>
		<li><a href="https://github.com/wet-boew/wet-boew-dist/archive/v4.0-dist.zip">Web Experience Toolkit (WET)</a> [<a href="https://github.com/wet-boew/wet-boew">Source Code</a>]</li>
		<li><a href="https://github.com/wet-boew/themes-dist/archive/GCWeb.zip">Canada.ca</a> [<a href="https://github.com/wet-boew/GCWeb">Source Code</a>]</li>
	</ul>
</section>

<section>
	<h2>Previous versions of WET-BOEW and GCWeb</h2>
	<p>Previous versions of WET-BOEW and GCWeb downloads are not listed on this page anymore.</p>
	<p><strong>Effective on:</strong> January 19, 2021</p>
	<p>Downloads are available on GitHub:</p>
	<ul>
		<li><a href="https://github.com/wet-boew/wet-boew/releases">All WET-BOEW releases</a>;</li>
		<li><a href="https://github.com/wet-boew/GCWeb/releases">All GCWeb releases</a>.</li>
	</ul>
	<p>Tip: After you have found the version you want to download, look for the Assets drop down in order to download the "dist" zip file.</p>
	<p><a href="dwnld-archive-en.html">Previous version list archived</a></p>
</section>
