---
{
	"title": "Téléchargements",
	"language": "fr",
	"description": "Téléchargements de la dernière version - Boîte à outils de l'expérience Web (BOEW)",
	"altLangPrefix": "dwnld",
	"dateModified": "2021-03-17"
}
---
<p>La BOEW et GCWeb sont publié au minimum selon cycle trimestrielle.<p>

<p>Voir <a href="version-info-fr.html">Contrôle des versions</a> pour la signification de chaque numéro de version.</p>

<section>
	<h2>Dernière publication</h2>

	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Produit</th>
				<th>Version</th>
				<th class="text-center">Fichiers</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Boîte à outils de l'expérience Web (WET-BOEW)</td>
				<td>v4.0.42.1 (DCT)</td>
				<td class="text-center"><a class="btn btn-default" href="https://github.com/wet-boew/wet-boew/releases/latest">Télécharger<span class="wb-inv"> - v4.0.42.1 (DCT) - Thème de la Boîte à outils de l'expérience Web (WET-BOEW)</span></a></td>
			</tr>
			<tr>
				<td>Canada.ca (GCWeb)</td>
				<td>v9.2.0 (DCT)</td>
				<td class="text-center"><a class="btn btn-default" href="https://github.com/wet-boew/GCWeb/releases/latest">Télécharger<span class="wb-inv"> - v9.2.0 (DCT) - Thème Canada.ca</span></a></td>
			</tr>
		</tbody>
	</table>

	<h3>Version en développement</h3>
	<p>La version suivante représente la wet-boew et gcweb tel que définie par les dernière modification apporté au code source sur la branche master.</p>
	<ul>
		<li><a href="https://github.com/wet-boew/wet-boew-dist/archive/v4.0-dist.zip">Boîte à outils de l'expérience Web (BOEW)</a> [<a href="https://github.com/wet-boew/wet-boew">Code source</a>]</li>
		<li><a href="https://github.com/wet-boew/themes-dist/archive/GCWeb.zip">Canada.ca</a>  [<a href="https://github.com/wet-boew/GCWeb">Code source</a>]</li>
	</ul>
</section>

<section>
	<h2>Télécharment des version antérieures</h2>
	<h2>Le téléchargement des versions antérieures de WET-BOEW et GCWeb ne sont désormais plus affichées sur cette page.</h2>
	<p><strong>En vigueur&nbsp;:</strong> 19 janvier 2021</p>
	<p>Les téléchargements sont disponibles sur GitHub:</p>
	<ul>
		<li><a href="https://github.com/wet-boew/wet-boew/releases">Tous les déploiements de WET-BOEW</a>;</li>
		<li><a href="https://github.com/wet-boew/GCWeb/releases">Tous les déploiements de GCWeb</a>.</li>
	</ul>
	<p>Astuce&nbsp;: Après avoir trouvé la version que vous voulez télécharger, rechercher la section "<span lang="en">Assets</span>" afin de télécharger le fichier zip "dist".</p>
	<p><a href="dwnld-archive-fr.html">Archive de la liste des versions antérieures</a></p>
</section>
