---
{
	"title": "Version history",
	"language": "en",
	"description": "Version history - Web Experience Toolkit (WET)",
	"altLangPrefix": "index",
	"dateModified": "2018-04-23"
}
---
<p>See <a href="version-info-en.html">Versioning</a> for the meaning of each version number.</p>

<section>
	<h2>Version 4.0</h2>
	<p><a href="v4.0/v4.0-changelog-en.html">v4.0 changelog</a></p>
	<table class="table">
		<thead>
			<tr>
				<th scope="col">Version</th>
				<th scope="col">Release date</th>
				<th scope="col">Release notes</th>
				<th scope="col">Downloads</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>v4.0.28</td>
				<td><time>2017-04-21</time></td>
				<td><a href="v4.0/v4.0.28-en.html">Release notes<span class="wb-inv"> - v4.0.28</span></a></td>
				<td><a href="dwnld-en.html#v4028">Downloads<span class="wb-inv"> - v4.0.28</span></a></td>
			</tr>
			<tr>
				<td>v4.0.27</td>
				<td><time>2017-12-14</time></td>
				<td><a href="v4.0/v4.0.27-en.html">Release notes<span class="wb-inv"> - v4.0.27</span></a></td>
				<td><a href="dwnld-en.html#v4027">Downloads<span class="wb-inv"> - v4.0.27</span></a></td>
			</tr>
			<tr>
				<td>v4.0.26</td>
				<td><time>2017-08-15</time></td>
				<td><a href="v4.0/v4.0.26-en.html">Release notes<span class="wb-inv"> - v4.0.26</span></a></td>
				<td><a href="dwnld-en.html#v4026">Downloads<span class="wb-inv"> - v4.0.26</span></a></td>
			</tr>
			<tr>
				<td>v4.0.25</td>
				<td><time>2017-05-17</time></td>
				<td><a href="v4.0/v4.0.25-en.html">Release notes<span class="wb-inv"> - v4.0.25</span></a></td>
				<td><a href="dwnld-en.html#v4025">Downloads<span class="wb-inv"> - v4.0.25</span></a></td>
			</tr>
			<tr>
				<td>v4.0.24</td>
				<td><time>2017-02-22</time></td>
				<td><a href="v4.0/v4.0.24-en.html">Release notes<span class="wb-inv"> - v4.0.24</span></a></td>
				<td><a href="dwnld-en.html#v4024">Downloads<span class="wb-inv"> - v4.0.24</span></a></td>
			</tr>
			<tr>
				<td>v4.0.23</td>
				<td><time>2016-11-16</time></td>
				<td><a href="v4.0/v4.0.23-en.html">Release notes<span class="wb-inv"> - v4.0.23</span></a></td>
				<td><a href="dwnld-en.html#v4023">Downloads<span class="wb-inv"> - v4.0.23</span></a></td>
			</tr>
			<tr>
				<td>v4.0.22</td>
				<td><time>2016-08-09</time></td>
				<td><a href="v4.0/v4.0.22-en.html">Release notes<span class="wb-inv"> - v4.0.22</span></a></td>
				<td><a href="dwnld-en.html#v4022">Downloads<span class="wb-inv"> - v4.0.22</span></a></td>
			</tr>
			<tr>
				<td>v4.0.21</td>
				<td><time>2016-04-11</time></td>
				<td><a href="v4.0/v4.0.21-en.html">Release notes<span class="wb-inv"> - v4.0.21</span></a></td>
				<td><a href="dwnld-en.html#v4021">Downloads<span class="wb-inv"> - v4.0.21</span></a></td>
			</tr>
			<tr>
				<td>v4.0.20</td>
				<td><time>2015-12-16</time></td>
				<td><a href="v4.0/v4.0.20-en.html">Release notes<span class="wb-inv"> - v4.0.20</span></a></td>
				<td><a href="dwnld-en.html#v4020">Downloads<span class="wb-inv"> - v4.0.20</span></a></td>
			</tr>
			<tr>
				<td>v4.0.19+2</td>
				<td><time>2015-12-02</time></td>
				<td><a href="v4.0/v4.0.19-en.html">Release notes<span class="wb-inv"> - v4.0.19</span></a></td>
				<td><a href="dwnld-en.html#v4019">Downloads<span class="wb-inv"> - v4.0.19</span></a></td>
			</tr>
			<tr>
				<td>v4.0.18</td>
				<td><time>2015-09-22</time></td>
				<td><a href="v4.0/v4.0.18-en.html">Release notes<span class="wb-inv"> - v4.0.18</span></a></td>
				<td><a href="dwnld-en.html#v4018">Downloads<span class="wb-inv"> - v4.0.18</span></a></td>
			</tr>
			<tr>
				<td>v4.0.17</td>
				<td><time>2015-08-21</time></td>
				<td><a href="v4.0/v4.0.17-en.html">Release notes<span class="wb-inv"> - v4.0.17</span></a></td>
				<td><a href="dwnld-en.html#v4017">Downloads<span class="wb-inv"> - v4.0.17</span></a></td>
			</tr>
			<tr>
				<td>v4.0.16</td>
				<td><time>2015-07-21</time></td>
				<td><a href="v4.0/v4.0.16-en.html">Release notes<span class="wb-inv"> - v4.0.16</span></a></td>
				<td><a href="dwnld-en.html#v4016">Downloads<span class="wb-inv"> - v4.0.16</span></a></td>
			</tr>
			<tr>
				<td>v4.0.15</td>
				<td><time>2015-06-23</time></td>
				<td><a href="v4.0/v4.0.15-en.html">Release notes<span class="wb-inv"> - v4.0.15</span></a></td>
				<td><a href="dwnld-en.html#v4015">Downloads<span class="wb-inv"> - v4.0.15</span></a></td>
			</tr>
            <tr>
				<td>v4.0.14</td>
				<td><time>2015-05-19</time></td>
				<td><a href="v4.0/v4.0.14-en.html">Release notes<span class="wb-inv"> - v4.0.14</span></a></td>
				<td><a href="dwnld-en.html#v4014">Downloads<span class="wb-inv"> - v4.0.14</span></a></td>
			</tr>
            <tr>
				<td>v4.0.13</td>
				<td><time>2015-04-21</time></td>
				<td><a href="v4.0/v4.0.13-en.html">Release notes<span class="wb-inv"> - v4.0.13</span></a></td>
				<td><a href="dwnld-en.html#v4013">Downloads<span class="wb-inv"> - v4.0.13</span></a></td>
			</tr>
			<tr>
				<td>v4.0.12</td>
				<td><time>2015-03-23</time></td>
				<td><a href="v4.0/v4.0.12-en.html">Release notes<span class="wb-inv"> - v4.0.12</span></a></td>
				<td><a href="dwnld-en.html#v4012">Downloads<span class="wb-inv"> - v4.0.12</span></a></td>
			</tr>
			<tr>
				<td>v4.0.11</td>
				<td><time>2015-02-17</time></td>
				<td><a href="v4.0/v4.0.11-en.html">Release notes<span class="wb-inv"> - v4.0.11</span></a></td>
				<td><a href="dwnld-en.html#v4011">Downloads<span class="wb-inv"> - v4.0.11</span></a></td>
			</tr>
			<tr>
				<td>v4.0.10</td>
				<td><time>2015-01-20</time></td>
				<td><a href="v4.0/v4.0.10-en.html">Release notes<span class="wb-inv"> - v4.0.10</span></a></td>
				<td><a href="dwnld-en.html#v4010">Downloads<span class="wb-inv"> - v4.0.10</span></a></td>
			</tr>
			<tr>
				<td>v4.0.9</td>
				<td><time>2014-12-11</time></td>
				<td><a href="v4.0/v4.0.9-en.html">Release notes<span class="wb-inv"> - v4.0.9</span></a></td>
				<td><a href="dwnld-en.html#v409">Downloads<span class="wb-inv"> - v4.0.9</span></a></td>
			</tr>
			<tr>
				<td>v4.0.8+2</td>
				<td><time>2014-11-21</time></td>
				<td><a href="v4.0/v4.0.8+2-en.html">Release notes<span class="wb-inv"> - v4.0.8+2</span></a></td>
				<td><a href="dwnld-en.html#v4082">Downloads<span class="wb-inv"> - v4.0.8+2</span></a></td>
			</tr>
			<tr>
				<td>v4.0.8+1</td>
				<td><time>2014-11-20</time></td>
				<td><a href="v4.0/v4.0.8+1-en.html">Release notes<span class="wb-inv"> - v4.0.8+1</span></a></td>
				<td><a href="dwnld-en.html#v4081">Downloads<span class="wb-inv"> - v4.0.8+1</span></a></td>
			</tr>
			<tr>
				<td>v4.0.8</td>
				<td><time>2014-11-18</time></td>
				<td><a href="v4.0/v4.0.8-en.html">Release notes<span class="wb-inv"> - v4.0.8</span></a></td>
				<td><a href="dwnld-en.html#v408">Downloads<span class="wb-inv"> - v4.0.8</span></a></td>
			</tr>
			<tr>
				<td>v4.0.7</td>
				<td><time>2014-10-22</time></td>
				<td><a href="v4.0/v4.0.7-en.html">Release notes<span class="wb-inv"> - v4.0.7</span></a></td>
				<td><a href="dwnld-en.html#v407">Downloads<span class="wb-inv"> - v4.0.7</span></a></td>
			</tr>
			<tr>
				<td>v4.0.6</td>
				<td><time>2014-09-23</time></td>
				<td><a href="v4.0/v4.0.6-en.html">Release notes<span class="wb-inv"> - v4.0.6</span></a></td>
				<td><a href="dwnld-en.html#v406">Downloads<span class="wb-inv"> - v4.0.6</span></a></td>
			</tr>
			<tr>
				<td>v4.0.5</td>
				<td><time>2014-08-20</time></td>
				<td><a href="v4.0/v4.0.5-en.html">Release notes<span class="wb-inv"> - v4.0.5</span></a></td>
				<td><a href="dwnld-en.html#v405">Downloads<span class="wb-inv"> - v4.0.5</span></a></td>
			</tr>
			<tr>
				<td>v4.0.4</td>
				<td><time>2014-07-22</time></td>
				<td><a href="v4.0/v4.0.4-en.html">Release notes<span class="wb-inv"> - v4.0.4</span></a></td>
				<td><a href="dwnld-en.html#v404">Downloads<span class="wb-inv"> - v4.0.4</span></a></td>
			</tr>
			<tr>
				<td>v4.0.3</td>
				<td><time>2014-06-17</time></td>
				<td><a href="v4.0/v4.0.3-en.html">Release notes<span class="wb-inv"> - v4.0.3</span></a></td>
				<td><a href="dwnld-en.html#v403">Downloads<span class="wb-inv"> - v4.0.3</span></a></td>
			</tr>
			<tr>
				<td>v4.0.2</td>
				<td><time>2014-05-21</time></td>
				<td><a href="v4.0/v4.0.2-en.html">Release notes<span class="wb-inv"> - v4.0.2</span></a></td>
				<td><a href="dwnld-en.html#v402">Downloads<span class="wb-inv"> - v4.0.2</span></a></td>
			</tr>
			<tr>
				<td>v4.0.1</td>
				<td><time>2014-04-23</time></td>
				<td><a href="v4.0/v4.0.1-en.html">Release notes<span class="wb-inv"> - v4.0.1</span></a></td>
				<td><a href="dwnld-en.html#v401">Downloads<span class="wb-inv"> - v4.0.1</span></a></td>
			</tr>
			<tr>
				<td>v4.0.0</td>
				<td><time>2014-03-31</time></td>
				<td><a href="v4.0/v4.0.0-en.html">Release notes<span class="wb-inv"> - v4.0.0</span></a></td>
				<td><a href="dwnld-en.html#v400">Downloads<span class="wb-inv"> - v4.0.0</span></a></td>
			</tr>
			<tr>
				<td>v4.0.0 Release Candidate 1</td>
				<td><time>2014-03-18</time></td>
				<td><a href="v4.0/v4.0.0-rc1-en.html">Release notes<span class="wb-inv"> - v4.0.0 Release Candidate 1</span></a></td>
				<td><a href="dwnld-en.html#v400rc1">Downloads<span class="wb-inv"> - v4.0.0 Release Candidate 1</span></a></td>
			</tr>
			<tr>
				<td>v4.0.0 Beta 2</td>
				<td><time>2014-03-01</time></td>
				<td><a href="v4.0/v4.0.0-b2-en.html">Release notes<span class="wb-inv"> - v4.0.0 Beta 2</span></a></td>
				<td><a href="dwnld-en.html#v400b2">Downloads<span class="wb-inv"> - v4.0.0 Beta 2</span></a></td>
			</tr>
			<tr>
				<td>v4.0.0 Beta 1</td>
				<td><time>2013-12-16</time></td>
				<td><a href="v4.0/v4.0.0-b1-en.html">Release notes<span class="wb-inv"> - v4.0.0 Beta 1</span></a></td>
				<td><a href="dwnld-en.html#v400b1">Downloads<span class="wb-inv"> - v4.0.0 Beta 1</span></a></td>
			</tr>
		</tbody>
	</table>
</section>

<section>
	<h2>Version 3.1 (no longer supported)</h2>
	<p><a href="http://wet-boew.github.io/wet-boew-legacy/v3.1/docs/versions/v3.1/v3.1-changelog-en.html">v3.1 changelog</a></p>
	<table class="table">
		<thead>
			<tr>
				<th scope="col">Version</th>
				<th scope="col">Release date</th>
				<th scope="col">Release notes</th>
				<th scope="col">Downloads</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>v3.1.14</td>
				<td><time>2014-08-19</time></td>
				<td><a href="http://wet-boew.github.io/wet-boew-legacy/v3.1/docs/versions/v3.1/v3.1.14-en.html">Release notes<span class="wb-inv"> - v3.1.14</span></a></td>
				<td><a href="dwnld-en.html#v3114">Downloads<span class="wb-inv"> - v3.1.14</span></a></td>
			</tr>
			<tr>
				<td>v3.1.13</td>
				<td><time>2014-07-22</time></td>
				<td><a href="http://wet-boew.github.io/wet-boew-legacy/v3.1/docs/versions/v3.1/v3.1.13-en.html">Release notes<span class="wb-inv"> - v3.1.13</span></a></td>
				<td><a href="dwnld-en.html#v3113">Downloads<span class="wb-inv"> - v3.1.13</span></a></td>
			</tr>
			<tr>
				<td>v3.1.12</td>
				<td><time>2014-06-17</time></td>
				<td><a href="http://wet-boew.github.io/wet-boew-legacy/v3.1/docs/versions/v3.1/v3.1.12-en.html">Release notes<span class="wb-inv"> - v3.1.12</span></a></td>
				<td><a href="dwnld-en.html#v3112">Downloads<span class="wb-inv"> - v3.1.12</span></a></td>
			</tr>
			<tr>
				<td>v3.1.11</td>
				<td><time>2014-05-21</time></td>
				<td><a href="http://wet-boew.github.io/wet-boew-legacy/v3.1/docs/versions/v3.1/v3.1.11-en.html">Release notes<span class="wb-inv"> - v3.1.11</span></a></td>
				<td><a href="dwnld-en.html#v3111">Downloads<span class="wb-inv"> - v3.1.11</span></a></td>
			</tr>
			<tr>
				<td>v3.1.10</td>
				<td><time>2014-04-23</time></td>
				<td><a href="http://wet-boew.github.io/wet-boew-legacy/v3.1/docs/versions/v3.1/v3.1.10-en.html">Release notes<span class="wb-inv"> - v3.1.10</span></a></td>
				<td><a href="dwnld-en.html#v3110">Downloads<span class="wb-inv"> - v3.1.10</span></a></td>
			</tr>
			<tr>
				<td>v3.1.9</td>
				<td><time>2014-03-28</time></td>
				<td><a href="http://wet-boew.github.io/wet-boew-legacy/v3.1/docs/versions/v3.1/v3.1.9-en.html">Release notes<span class="wb-inv"> - v3.1.9</span></a></td>
				<td><a href="dwnld-en.html#v319">Downloads<span class="wb-inv"> - v3.1.9</span></a></td>
			</tr>
			<tr>
				<td>v3.1.8</td>
				<td><time>2014-02-07</time></td>
				<td><a href="http://wet-boew.github.io/wet-boew-legacy/v3.1/docs/versions/v3.1/v3.1.8-en.html">Release notes<span class="wb-inv"> - v3.1.8</span></a></td>
				<td><a href="dwnld-en.html#v318">Downloads<span class="wb-inv"> - v3.1.8</span></a></td>
			</tr>
			<tr>
				<td>v3.1.7</td>
				<td><time>2013-12-14</time></td>
				<td><a href="http://wet-boew.github.io/wet-boew-legacy/v3.1/docs/versions/v3.1/v3.1.7-en.html">Release notes<span class="wb-inv"> - v3.1.7</span></a></td>
				<td><a href="dwnld-en.html#v317">Downloads<span class="wb-inv"> - v3.1.7</span></a></td>
			</tr>
			<tr>
				<td>v3.1.6</td>
				<td><time>2013-11-01</time></td>
				<td><a href="http://wet-boew.github.io/wet-boew-legacy/v3.1/docs/versions/v3.1/v3.1.6-en.html">Release notes<span class="wb-inv"> - v3.1.6</span></a></td>
				<td><a href="dwnld-en.html#v316">Downloads<span class="wb-inv"> - v3.1.6</span></a></td>
			</tr>
			<tr>
				<td>v3.1.5</td>
				<td><time>2013-10-27</time></td>
				<td><a href="http://wet-boew.github.io/wet-boew-legacy/v3.1/docs/versions/v3.1/v3.1.5-en.html">Release notes<span class="wb-inv"> - v3.1.5</span></a></td>
				<td><a href="dwnld-en.html#v315">Downloads<span class="wb-inv"> - v3.1.5</span></a></td>
			</tr>
			<tr>
				<td>v3.1.4</td>
				<td><time>2013-09-17</time></td>
				<td><a href="http://wet-boew.github.io/wet-boew-legacy/v3.1/docs/versions/v3.1/v3.1.4-en.html">Release notes<span class="wb-inv"> - v3.1.4</span></a></td>
				<td><a href="dwnld-en.html#v314">Downloads<span class="wb-inv"> - v3.1.4</span></a></td>
			</tr>
			<tr>
				<td>v3.1.3</td>
				<td><time>2013-08-06</time></td>
				<td><a href="http://wet-boew.github.io/wet-boew-legacy/v3.1/docs/versions/v3.1/v3.1.3-en.html">Release notes<span class="wb-inv"> - v3.1.3</span></a></td>
				<td><a href="dwnld-en.html#v313">Downloads<span class="wb-inv"> - v3.1.3</span></a></td>
			</tr>
			<tr>
				<td>v3.1.2</td>
				<td><time>2013-06-27</time></td>
				<td><a href="http://wet-boew.github.io/wet-boew-legacy/v3.1/docs/versions/v3.1/v3.1.2-en.html">Release notes<span class="wb-inv"> - v3.1.2</span></a></td>
				<td><a href="dwnld-en.html#v312">Downloads<span class="wb-inv"> - v3.1.2</span></a></td>
			</tr>
			<tr>
				<td>v3.1.1</td>
				<td><time>2013-05-16</time></td>
				<td><a href="http://wet-boew.github.io/wet-boew-legacy/v3.1/docs/versions/v3.1/v3.1.1-en.html">Release notes<span class="wb-inv"> - v3.1.1</span></a></td>
				<td><a href="dwnld-en.html#v311">Downloads<span class="wb-inv"> - v3.1.1</span></a></td>
			</tr>
			<tr>
				<td>v3.1.0</td>
				<td><time>2013-04-11</time></td>
				<td><a href="http://wet-boew.github.io/wet-boew-legacy/v3.1/docs/versions/v3.1/v3.1.0-en.html">Release notes<span class="wb-inv"> - v3.1.0</span></a></td>
				<td><a href="dwnld-en.html#v310">Downloads<span class="wb-inv"> - v3.1.0</span></a></td>
			</tr>
			<tr>
				<td>v3.1.0 Release Candidate 1</td>
				<td><time>2013-04-03</time></td>
				<td><a href="http://wet-boew.github.io/wet-boew-legacy/v3.1/docs/versions/v3.1/v3.1.0-rc1-en.html">Release notes<span class="wb-inv"> - v3.1.0 Release Candidate 1</span></a></td>
				<td><a href="dwnld-en.html#v310rc1">Downloads<span class="wb-inv"> - v3.1.0 Release Candidate 1</span></a></td>
			</tr>
			<tr>
				<td>v3.1.0 Beta 2</td>
				<td><time>2013-02-15</time></td>
				<td><a href="http://wet-boew.github.io/wet-boew-legacy/v3.1/docs/versions/v3.1/v3.1.0-b2-en.html">Release notes<span class="wb-inv"> - v3.1.0 Beta 2</span></a></td>
				<td><a href="dwnld-en.html#v310b2">Downloads<span class="wb-inv"> - v3.1.0 Beta 2</span></a></td>
			</tr>
			<tr>
				<td>v3.1.0 Beta 1</td>
				<td><time>2012-12-21</time></td>
				<td><a href="http://wet-boew.github.io/wet-boew-legacy/v3.1/docs/versions/v3.1/v3.1.0-b1-en.html">Release notes<span class="wb-inv"> - v3.1.0 Beta 1</span></a></td>
				<td><a href="dwnld-en.html#v310b1">Downloads<span class="wb-inv"> - v3.1.0 Beta 1</span></a></td>
			</tr>
			<tr>
				<td>v3.1.0 Alpha 1</td>
				<td><time>2012-12-02</time></td>
				<td><a href="http://wet-boew.github.io/wet-boew-legacy/v3.1/docs/versions/v3.1/v3.1.0-a1-en.html">Release notes<span class="wb-inv"> - v3.1.0 Alpha 1</span></a></td>
				<td><a href="dwnld-en.html#v310a1">Downloads<span class="wb-inv"> - v3.1.0 Alpha 1</span></a></td>
			</tr>
		</tbody>
	</table>
</section>

<section>
	<h2>Version 3.0 (no longer supported)</h2>
	<ul>
		<li><a href="http://wet-boew.github.io/wet-boew-legacy/v3.1/docs/versions/v3.0/v3.0-changelog-en.html">v3.0 changelog</a></li>
		<li><a href="http://wet-boew.github.io/wet-boew-legacy/v3.1/docs/versions/v3.0/changes2.3-3.0-en.html">Changes to class and id names from v2.3 to v3.0</a></li>
		<li><a href="https://github.com/wet-boew/wet-boew/wiki/Proposed-changes-from-v2.x-to-v3.x">Proposed changes from v2.x to v3.x</a></li>
	</ul>
	<table class="table">
		<thead>
			<tr>
				<th scope="col">Version</th>
				<th scope="col">Release date</th>
				<th scope="col">Release notes</th>
				<th scope="col">Downloads</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>v3.0.14 (final version for v3.0.x)</td>
				<td><time>2014-03-28</time></td>
				<td><a href="http://wet-boew.github.io/wet-boew-legacy/v3.0/docs/versions/v3.0/v3.0.14-en.html">Release notes<span class="wb-inv"> - v3.0.14</span></a></td>
				<td><a href="dwnld-en.html#v3014">Downloads<span class="wb-inv"> - v3.0.14</span></a></td>
			</tr>
			<tr>
				<td>v3.0.13</td>
				<td><time>2014-02-07</time></td>
				<td><a href="http://wet-boew.github.io/wet-boew-legacy/v3.0/docs/versions/v3.0/v3.0.13-en.html">Release notes<span class="wb-inv"> - v3.0.13</span></a></td>
				<td><a href="dwnld-en.html#v3013">Downloads<span class="wb-inv"> - v3.0.13</span></a></td>
			</tr>
			<tr>
				<td>v3.0.12</td>
				<td><time>2013-12-14</time></td>
				<td><a href="http://wet-boew.github.io/wet-boew-legacy/v3.0/docs/versions/v3.0/v3.0.12-en.html">Release notes<span class="wb-inv"> - v3.0.12</span></a></td>
				<td><a href="dwnld-en.html#v3012">Downloads<span class="wb-inv"> - v3.0.12</span></a></td>
			</tr>
			<tr>
				<td>v3.0.11</td>
				<td><time>2013-10-27</time></td>
				<td><a href="http://wet-boew.github.io/wet-boew-legacy/v3.0/docs/versions/v3.0/v3.0.11-en.html">Release notes<span class="wb-inv"> - v3.0.11</span></a></td>
				<td><a href="dwnld-en.html#v3011">Downloads<span class="wb-inv"> - v3.0.11</span></a></td>
			</tr>
			<tr>
				<td>v3.0.10</td>
				<td><time>2013-09-17</time></td>
				<td><a href="http://wet-boew.github.io/wet-boew-legacy/v3.0/docs/versions/v3.0/v3.0.10-en.html">Release notes<span class="wb-inv"> - v3.0.10</span></a></td>
				<td><a href="dwnld-en.html#v3010">Downloads<span class="wb-inv"> - v3.0.10</span></a></td>
			</tr>
			<tr>
				<td>v3.0.9</td>
				<td><time>2013-08-06</time></td>
				<td><a href="http://wet-boew.github.io/wet-boew-legacy/v3.0/docs/versions/v3.0/v3.0.9-en.html">Release notes<span class="wb-inv"> - v3.0.9</span></a></td>
				<td><a href="dwnld-en.html#v309">Downloads<span class="wb-inv"> - v3.0.9</span></a></td>
			</tr>
			<tr>
				<td>v3.0.8</td>
				<td><time>2013-06-27</time></td>
				<td><a href="http://wet-boew.github.io/wet-boew-legacy/v3.0/docs/versions/v3.0/v3.0.8-en.html">Release notes<span class="wb-inv"> - v3.0.8</span></a></td>
				<td><a href="dwnld-en.html#v308">Downloads<span class="wb-inv"> - v3.0.8</span></a></td>
			</tr>
			<tr>
				<td>v3.0.7</td>
				<td><time>2013-05-16</time></td>
				<td><a href="http://wet-boew.github.io/wet-boew-legacy/v3.0/docs/versions/v3.0/v3.0.7-en.html">Release notes<span class="wb-inv"> - v3.0.7</span></a></td>
				<td><a href="dwnld-en.html#v307">Downloads<span class="wb-inv"> - v3.0.7</span></a></td>
			</tr>
			<tr>
				<td>v3.0.6</td>
				<td><time>2013-04-11</time></td>
				<td><a href="http://wet-boew.github.io/wet-boew-legacy/v3.0/docs/versions/v3.0/v3.0.6-en.html">Release notes<span class="wb-inv"> - v3.0.6</span></a></td>
				<td><a href="dwnld-en.html#v306">Downloads<span class="wb-inv"> - v3.0.6</span></a></td>
			</tr>
			<tr>
				<td>v3.0.5</td>
				<td><time>2013-02-15</time></td>
				<td><a href="http://wet-boew.github.io/wet-boew-legacy/v3.0/docs/versions/v3.0/v3.0.5-en.html">Release notes<span class="wb-inv"> - v3.0.5</span></a></td>
				<td><a href="dwnld-en.html#v305">Downloads<span class="wb-inv"> - v3.0.5</span></a></td>
			</tr>
			<tr>
				<td>v3.0.4</td>
				<td><time>2012-01-24</time></td>
				<td><a href="http://wet-boew.github.io/wet-boew-legacy/v3.0/docs/versions/v3.0/v3.0.4-en.html">Release notes<span class="wb-inv"> - v3.0.4</span></a></td>
				<td><a href="dwnld-en.html#v304">Downloads<span class="wb-inv"> - v3.0.4</span></a></td>
			</tr>
			<tr>
				<td>v3.0.3</td>
				<td><time>2012-12-21</time></td>
				<td><a href="http://wet-boew.github.io/wet-boew-legacy/v3.0/docs/versions/v3.0/v3.0.3-en.html">Release notes<span class="wb-inv"> - v3.0.3</span></a></td>
				<td><a href="dwnld-en.html#v303">Downloads<span class="wb-inv"> - v3.0.3</span></a></td>
			</tr>
			<tr>
				<td>v3.0.2</td>
				<td><time>2012-11-15</time></td>
				<td><a href="http://wet-boew.github.io/wet-boew-legacy/v3.0/docs/versions/v3.0/v3.0.2-en.html">Release notes<span class="wb-inv"> - v3.0.2</span></a></td>
				<td><a href="dwnld-en.html#v302">Downloads<span class="wb-inv"> - v3.0.2</span></a></td>
			</tr>
			<tr>
				<td>v3.0.1</td>
				<td><time>2012-10-09</time></td>
				<td><a href="http://wet-boew.github.io/wet-boew-legacy/v3.0/docs/versions/v3.0/v3.0.1-en.html">Release notes<span class="wb-inv"> - v3.0.1</span></a></td>
				<td><a href="dwnld-en.html#v301">Downloads<span class="wb-inv"> - v3.0.1</span></a></td>
			</tr>
			<tr>
				<td>v3.0.0</td>
				<td><time>2012-09-17</time></td>
				<td><a href="http://wet-boew.github.io/wet-boew-legacy/v3.0/docs/versions/v3.0/v3.0.0-en.html">Release notes<span class="wb-inv"> - v3.0.0</span></a></td>
				<td><a href="dwnld-en.html#v3010">Downloads<span class="wb-inv"> - v3.0.0</span></a></td>
			</tr>
		</tbody>
	</table>
</section>
