---
{
	"title": "Roadmap",
	"language": "en",
	"description": "Roadmap - Version history - Web Experience Toolkit (WET)",
	"altLangPrefix": "rdmp",
	"dateModified": "2014-04-02"
}
---
<p>See <a href="version-info-en.html">Versioning</a> for the meaning of each version number.</p>

<section>
	<h2>Future milestones</h2>
	<table class="table">
		<thead>
			<tr>
				<th scope="col">Date (estimated)</th>
				<th scope="col">Milestones</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td rowspan="3">2014-09-23</td>
				<td>v4.0.6 release</td>
			</tr>
			<tr>
				<td>v3.1.15 release</td>
			</tr>
			<tr>
				<td>End of support for v3.1.x</td>
			</tr>
			<tr>
				<td rowspan="2">2014-08-19</td>
				<td>v4.0.5 release</td>
			</tr>
			<tr>
				<td>v3.1.14 release</td>
			</tr>
			<tr>
				<td rowspan="2">2014-07-22</td>
				<td>v4.0.4 release</td>
			</tr>
			<tr>
				<td>v3.1.13 release</td>
			</tr>
			<tr>
				<td rowspan="2">2014-06-17</td>
				<td>v4.0.3 release</td>
			</tr>
			<tr>
				<td>v3.1.12 release</td>
			</tr>
			<tr>
				<td rowspan="2">2014-05-20</td>
				<td>v4.0.2 release</td>
			</tr>
			<tr>
				<td>v3.1.11 release</td>
			</tr>
			<tr>
				<td>April/May 2014</td>
				<td>End of support for IE8 (when IE8 usage is below 5%)</td>
			</tr>
			<tr>
				<td rowspan="2">2014-04-22</td>
				<td>v4.0.1 release</td>
			</tr>
			<tr>
				<td>v3.1.10 release</td>
			</tr>
		</tbody>
	</table>
</section>

<section>
	<h2>Past milestones</h2>
	<table class="table">
		<thead>
			<tr>
				<th scope="col">Date</th>
				<th scope="col">Milestones</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>2014-03-31</td>
				<td><a href="v4.0/v4.0.0-en.html">v4.0.0 released</a></td>
			</tr>
			<tr>
				<td rowspan="3">2014-03-28</td>
				<td><a href="v3.1/v3.1.9-en.html">v3.1.9 released</a></td>
			</tr>
			<tr>
				<td>v3.0.x is no longer supported</td>
			</tr>
			<tr>
				<td><a href="v3.0/v3.0.14-en.html">v3.0.14 released (final version for v3.0.x)</a></td>
			</tr>
			<tr>
				<td>2014-03-18</td>
				<td><a href="v4.0/v4.0.0-rc1-en.html">v4.0.0 Release Candidate 1 released</a></td>
			</tr>
			<tr>
				<td>2014-03-01</td>
				<td><a href="v4.0/v4.0.0-b2-en.html">v4.0.0 Beta 2 released</a></td>
			</tr>
			<tr>
				<td rowspan="2">2013-02-07</td>
				<td><a href="v3.1/v3.1.8-en.html">v3.1.8 released</a></td>
			</tr>
			<tr>
				<td><a href="v3.0/v3.0.13-en.html">v3.0.13 released</a></td>
			</tr>
			<tr>
				<td>2013-12-16</td>
				<td><a href="v4.0/v4.0.0-b1-en.html">v4.0.0 Beta 1 released</a></td>
			</tr>
			<tr>
				<td rowspan="2">2013-12-14</td>
				<td><a href="v3.1/v3.1.7-en.html">v3.1.7 released</a></td>
			</tr>
			<tr>
				<td><a href="v3.0/v3.0.12-en.html">v3.0.12 released</a></td>
			</tr>
			<tr>
				<td>2013-11-01</td>
				<td><a href="v3.1/v3.1.6-en.html">v3.1.6 released</a></td>
			</tr>
			<tr>
				<td rowspan="2">2013-10-27</td>
				<td><a href="v3.1/v3.1.5-en.html">v3.1.5 released</a></td>
			</tr>
			<tr>
				<td><a href="v3.0/v3.0.11-en.html">v3.0.11 released</a></td>
			</tr>
			<tr>
				<td rowspan="2">2013-09-17</td>
				<td><a href="v3.1/v3.1.4-en.html">v3.1.4 released</a></td>
			</tr>
			<tr>
				<td><a href="v3.0/v3.0.10-en.html">v3.0.10 released</a></td>
			</tr>
			<tr>
				<td rowspan="2">2013-08-06</td>
				<td><a href="v3.1/v3.1.3-en.html">v3.1.3 released</a></td>
			</tr>
			<tr>
				<td><a href="v3.0/v3.0.9-en.html">v3.0.9 released</a></td>
			</tr>
			<tr>
				<td rowspan="2">2013-06-27</td>
				<td><a href="v3.1/v3.1.2-en.html">v3.1.2 released</a></td>
			</tr>
			<tr>
				<td><a href="v3.0/v3.0.8-en.html">v3.0.8 released</a></td>
			</tr>
			<tr>
				<td rowspan="2">2013-05-16</td>
				<td><a href="v3.1/v3.1.1-en.html">v3.1.1 released</a></td>
			</tr>
			<tr>
				<td><a href="v3.0/v3.0.7-en.html">v3.0.7 released</a></td>
			</tr>
			<tr>
				<td rowspan="3">2013-04-11</td>
				<td><a href="v3.1/v3.1.0-en.html">v3.1.0 released</a></td>
			</tr>
			<tr>
				<td><a href="v3.0/v3.0.6-en.html">v3.0.6 released</a></td>
			</tr>
			<tr>
				<td>End of support for IE7</td>
			</tr>
			<tr>
				<td>2013-04-03</td>
				<td><a href="v3.1/v3.1.0-rc1-en.html">v3.1.0 Release Candidate 1 released</a></td>
			</tr>
			<tr>
				<td rowspan="2">2013-02-15</td>
				<td><a href="v3.1/v3.1.0-b2-en.html">v3.1.0 Beta 2 released</a></td>
			</tr>
			<tr>
				<td><a href="v3.0/v3.0.5-en.html">v3.0.5 released</a></td>
			</tr>
			<tr>
				<td>2013-01-24</td>
				<td><a href="v3.0/v3.0.4-en.html">v3.0.4 released</a></td>
			</tr>
			<tr>
				<td rowspan="2">2012-12-21</td>
				<td><a href="v3.1/v3.1.0-b1-en.html">v3.1.0 Beta 1 released</a></td>
			</tr>
			<tr>
				<td><a href="v3.0/v3.0.3-en.html">v3.0.3 released</a></td>
			</tr>
			<tr>
				<td>2012-12-02</td>
				<td><a href="v3.1/v3.1.0-a1-en.html">v3.1.0 Alpha 1 released</a></td>
			</tr>
			<tr>
				<td>2012-11-15</td>
				<td><a href="v3.0/v3.0.2-en.html">v3.0.2 released</a></td>
			</tr>
			<tr>
				<td>2012-10-09</td>
				<td><a href="v3.0/v3.0.1-en.html">v3.0.1 released</a></td>
			</tr>
			<tr>
				<td>2012-09-17</td>
				<td><a href="v3.0/v3.0.0-en.html">v3.0.0 released</a></td>
			</tr>
			<tr>
				<td>2012-09-12</td>
				<td>v3.0.0 Release Candidate 1 released</td>
			</tr>
			<tr>
				<td>2012-09-03</td>
				<td>v3.0.0 Beta 4 released</td>
			</tr>
			<tr>
				<td>2012-08-14</td>
				<td>v3.0.0 Beta 3 released</td>
			</tr>
			<tr>
				<td>2012-08-02</td>
				<td>v3.0.0 Beta 2 released</td>
			</tr>
			<tr>
				<td>2012-07-02</td>
				<td>v3.0.0 Beta 1 released</td>
			</tr>
			<tr>
				<td>2012-05-11</td>
				<td>WET project moved to GitHub</td>
			</tr>
			<tr>
				<td rowspan="2">2012-02-09</td>
				<td>v2.3 released</td>
			</tr>
			<tr>
				<td>End of support for IE6 and XHTML 1.0 Strict</td>
			</tr>
			<tr>
				<td>2011-08-08</td>
				<td>v2.2 released</td>
			</tr>
			<tr>
				<td>2011-02-07</td>
				<td>v2.1 released</td>
			</tr>
			<tr>
				<td>2010-08-09</td>
				<td>v2.0 released</td>
			</tr>
		</tbody>
	</table>
</section>
