---
{
	"title": "Contrôle des versions",
	"language": "fr",
	"description": "Contrôle des versions - Historique des versions - Boîte à outils de l'expérience Web (BOEW)",
	"altLangPrefix": "version-info",
	"dateModified": "2014-02-19"
}
---
<div lang="en">
<p><strong>Needs translation</strong></p>
<section>
	<h2>Major version (e.g, v3.1.x to v4.0.0)</h2>
	<ul>
		<li>Typical risk of things breaking: <strong>High</strong></li>
		<li>Typical effort to upgrade: <strong>High</strong></li>
		<li>Typical changes:
			<ul>
				<li>Major framework changes (including major breaking changes)</li>
				<li>Major markup changes (including major breaking changes)</li>
				<li>New features and enhancements</li>
				<li>Bug fixes</li>
			</ul>
		</li>
		<li>Typical actions required to upgrade:
			<ul>
				<li>Modify existing content and code new content differently</li>
				<li>Major markup changes</li>
				<li>Add and replace JS, CSS and image files</li>
			</ul>
		</li>
	</ul>
</section>

<section>
	<h2>Minor version (e.g., v3.0.x to v3.1.0)</h2>
	<ul>
		<li>Typical risk of things breaking: <strong>Moderate</strong></li>
		<li>Typical effort to upgrade: <strong>Moderate</strong></li>
		<li>Typical changes:
			<ul>
				<li>Minor framework changes (possibility of minor breaking changes)</li>
				<li>Minor markup changes (possibility of minor breaking changes)</li>
				<li>New features and enhancements</li>
				<li>Bug fixes</li>
			</ul>
		</li>
		<li>Typical actions required to upgrade:
			<ul>
				<li>Minor markup changes</li>
				<li>Add and replace JS, CSS and image files</li>
			</ul>
		</li>
	</ul>
</section>

<section>
	<h2>Maintenance version (e.g., v3.1.0 to v3.1.1)</h2>
	<ul>
		<li>Typical risk of things breaking: <strong>Low</strong></li>
		<li>Typical effort to upgrade: <strong>Low</strong></li>
		<li>Typical changes:
			<ul>
				<li>Minor enhancements</li>
				<li>Bug fixes</li>
			</ul>
		</li>
		<li>Typical actions required to upgrade:
			<ul>
				<li>Add and replace JS, CSS and image files</li>
			</ul>
		</li>
	</ul>
</section>
</div>
