---
{
	"title": "Data JSON",
	"language": "en",
	"category": "Plugins",
	"description": "Insert content extracted from a JSON file.",
	"tag": "data-json",
	"parentdir": "data-json",
	"altLangPrefix": "data-json",
	"dateModified": "2016-11-07"
}
---
<p>Insert content extracted from a JSON file.</p>

<div class="wb-prettify all-pre"></div>

<div class="well">
	<p>Data selection is done by an JSON Pointer URI Fragment as described in <a href="https://tools.ietf.org/html/rfc6901#section-6">section 6 of RFC6901</a></p>
</div>

<p>The following attribute is supported:</p>

<dl class="dl-horizontal">
	<dt><code>data-json-after</code></dt>
	<dd>Insert content after an element</dd>

	<dt><code>data-json-append</code></dt>
	<dd>Insert content at the end of an element</dd>

	<dt><code>data-json-before</code></dt>
	<dd>Insert content before an element</dd>

	<dt><code>data-json-prepend</code></dt>
	<dd>Insert content at the start of an element</dd>

	<dt><code>data-json-replace</code></dt>
	<dd>Replace content inside an element</dd>

	<dt><code>data-json-replacewith</code></dt>
	<dd>Replace an element by the content</dd>
</dl>

<h2>Example</h2>

<p>My product ABC cost <a data-json-replacewith="demo/data-en.json#/fees/ABC" href="#">(consult our fees schedule)</a></p>

<pre><code>&lt;p&gt;My product ABC cost &lt;a data-json-replacewith=&quot;demo/data-en.json#/fees/ABC&quot; href=&quot;#&quot;&gt;(consult our fees schedule)&lt;/a&gt;&lt;/p&gt;</code></pre>


<p>Your are currently viewing the product &quot;<span data-json-replace="demo/data-en.json#/product">Unknown</span>&quot;</p>

<pre><code>&lt;p&gt;Your are currently viewing the product &amp;quot;&lt;span data-json-replace=&quot;demo/data-en.json#/products/en&quot;&gt;Unknown&lt;/span&gt;&amp;quot;&lt;/p&gt;</code></pre>

<h3>Content of <code>json/data-en.json</code></h3>
<pre><code>{
	"fees": {
		"ABC": "20$"
	},
	"products": "Hello world"
}</code></pre>

<h2>Selecting data</h2>

<p>(Source: <a href="https://tools.ietf.org/html/rfc6901">JSON Pointer, RCF6901</a>)</p>

<p>For example, given the JSON document</p>

<pre><code>{
	"foo": ["bar", "baz"],
	"": 0,
	"a/b": 1,
	"c%d": 2,
	"e^f": 3,
	"g|h": 4,
	"i\\j": 5,
	"k\"l": 6,
	" ": 7,
	"m~n": 8
}</code></pre>

<p>The following URI fragment identifiers evaluate to the accompanying values:</p>

<table class="table">
	<tr>
		<th>URI fragment</th>
		<th>Returning value</th>
	</tr>
	<tr>
		<td><code>#</code></td>
		<td>The whole document</td>
	</tr>
	<tr>
		<td><code>#/foo</code></td>
		<td><code>["bar", "baz"]</code></td>
	</tr>
	<tr>
		<td><code>#/foo/0</code></td>
		<td><code>"bar"</code></td>
	</tr>
	<tr>
		<td><code>#/</code></td>
		<td>0</td>
	</tr>
	<tr>
		<td><code>#/a~1b</code></td>
		<td>1</td>
	</tr>
	<tr>
		<td><code>#/c%25d</code></td>
		<td>2</td>
	</tr>
	<tr>
		<td><code>#/e%5Ef</code></td>
		<td>3</td>
	</tr>
	<tr>
		<td><code>#/g%7Ch</code></td>
		<td>4</td>
	</tr>
	<tr>
		<td><code>#/i%5Cj</code></td>
		<td>5</td>
	</tr>
	<tr>
		<td><code>#/k%22l</code></td>
		<td>6</td>
	</tr>
	<tr>
		<td><code>#/%20</code></td>
		<td>7</td>
	</tr>
	<tr>
		<td><code>#/m~0n</code></td>
		<td>8</td>
	</tr>
</table>

<h2>Issue that you may encounter</h2>

<dl>
	<dt>Display nothing, plugin seems to be broken.</dt>
	<dd>Ensure that your <a href="https://www.google.ca/search?q=validate+JSON#q=validate+JSON">JSON file is valid</a></dd>

	<dt>Recently updated data do not display</dt>
	<dd>Refresh your browser cache by opening a new tab the JSON file and then do a hard refresh <kbd>Ctrl + F5</kbd> or by testing your page from a new private mode session of your browser.</dd>
</dl>