---
{
	"title": "Data JSON",
	"language": "fr",
	"category": "Plugiciels",
	"description": "Insertion de contenu extrait d'un fichier JSON",
	"tag": "data-json",
	"parentdir": "data-json",
	"altLangPrefix": "data-json",
	"dateModified": "2016-11-07"
}
---
<p>Insertion de contenu extrait d'un fichier JSON</p>

<div class="wb-prettify all-pre"></div>

<div class="well">
	<p>La sélection des données est fait à l'aide d'un pointeur JSON représentant le « hash » de l'URL. (<a href="https://tools.ietf.org/html/rfc6901#section-6">section 6 of RFC6901</a>)</p>
</div>

<p>Les attribut suivantes sont supporté:</p>

<dl class="dl-horizontal">
	<dt><code>data-json-after</code></dt>
	<dd>Insérer du contenu après l'élément</dd>

	<dt><code>data-json-append</code></dt>
	<dd>Ajouter du contenu à la fin de l'élément</dd>

	<dt><code>data-json-before</code></dt>
	<dd>Insérer le contenu avant l'élément</dd>

	<dt><code>data-json-prepend</code></dt>
	<dd>Ajouter le contenu au début de l'élément</dd>

	<dt><code>data-json-replace</code></dt>
	<dd>Remplace le contenu de l'élément</dd>

	<dt><code>data-json-replacewith</code></dt>
	<dd>Remplace l'élément</dd>
</dl>


<h2>Exemple</h2>

<p>Mon produit ABC coûte <a data-json-replacewith="demo/data-fr.json#/fees/ABC" href="#">(consulter notre liste de frais)</a></p>


<pre><code>Mon produit ABC coûte &lt;a data-json-replacewith=&quot;demo/data-fr.json#/fees/ABC&quot; href=&quot;#&quot;&gt;(consulter notre liste de frais)&lt;/a&gt;</code></pre>

<p>Vous consultez le produits &quot;<span data-json-replace="demo/data-fr.json#/produit">Inconnue</span>&quot;</p>


<pre><code>Vous consultez le produits &amp;quot;&lt;span data-json-replace=&quot;demo/data-fr.json#/produit&quot;&gt;Inconnue&lt;/span&gt;&amp;quot;</code></pre>


<h3>Contenu du fichier <code>json/data-fr.json</code></h3>
<pre><code>{
	"fees": {
		"ABC": "20$"
	},
	"produit": "Bonjour le monde"
}</code></pre>

<h2>Selection de donnée</h2>

<p>(Source: <a href="https://tools.ietf.org/html/rfc6901" hreflang="en">Pointeur JSON, RCF6901</a>)</p>

<p>Par exemple, prennont ce document JSON</p>

<pre><code>{
	"foo": ["bar", "baz"],
	"": 0,
	"a/b": 1,
	"c%d": 2,
	"e^f": 3,
	"g|h": 4,
	"i\\j": 5,
	"k\"l": 6,
	" ": 7,
	"m~n": 8
}</code></pre>

<p>Voici les résultats après que le pointeur JSON aient été évalué à partir du fragments d'URI.</p>

<table class="table">
	<tr>
		<th>Fragment d'URI</th>
		<th>Valeur retourné</th>
	</tr>
	<tr>
		<td><code>#</code></td>
		<td>Tout le document</td>
	</tr>
	<tr>
		<td><code>#/foo</code></td>
		<td><code>["bar", "baz"]</code></td>
	</tr>
	<tr>
		<td><code>#/foo/0</code></td>
		<td><code>"bar"</code></td>
	</tr>
	<tr>
		<td><code>#/</code></td>
		<td>0</td>
	</tr>
	<tr>
		<td><code>#/a~1b</code></td>
		<td>1</td>
	</tr>
	<tr>
		<td><code>#/c%25d</code></td>
		<td>2</td>
	</tr>
	<tr>
		<td><code>#/e%5Ef</code></td>
		<td>3</td>
	</tr>
	<tr>
		<td><code>#/g%7Ch</code></td>
		<td>4</td>
	</tr>
	<tr>
		<td><code>#/i%5Cj</code></td>
		<td>5</td>
	</tr>
	<tr>
		<td><code>#/k%22l</code></td>
		<td>6</td>
	</tr>
	<tr>
		<td><code>#/%20</code></td>
		<td>7</td>
	</tr>
	<tr>
		<td><code>#/m~0n</code></td>
		<td>8</td>
	</tr>
</table>

<h2>Problème potentiel qui peuvent survenir</h2>

<dl>
	<dt>Aucun affichage, le composant semble disfonctionelle.</dt>
	<dd>Veuillez vérifier que votre <a href="https://www.google.ca/search?q=validate+JSON#q=validate+JSON" hreflang="en">fichier JSON est valide.</a></dd>

	<dt>La mise à jour récente des données ne s'affiche pas.</dt>
	<dd>Mettez à jour le cache de votre furteur en ouvrant un nouvel onglet pour consulter le fichier JSON et forcé la mise à jour en appuyant sur <kbd>Ctrl + F5</kbd> ou bien faite l'essai de page qui utilise ce plugin dans une nouvelle session du mode privé de votre furteur.</dd>
</dl>