---
{
	"title": "Data Ajax",
	"language": "en",
	"category": "Plugins",
	"description": "A basic AjaxLoader wrapper that inserts AJAXed-in content.",
	"tag": "data-ajax",
	"parentdir": "data-ajax",
	"altLangPrefix": "data-ajax",
	"css": ["demo/data-ajax"],
	"js": ["demo/data-ajax"],
	"dateModified": "2014-07-19"
}
---
<p>A basic AjaxLoader wrapper that inserts AJAXed in content.</p>

<section class="wb-prettify all-pre">
	<h2>Insert content after an element (data-ajax-after)</h2>
	<section>
		<h3>Example</h3>
		<div data-ajax-append="http://10.0.2.2:50279/features-en.html"></div>
	</section>
</section>
