---
{
	"title": "Data Ajax",
	"language": "fr",
	"en": "data-ajax"
}
---
<style>
.original {
	background: #ccc;
}
.ajaxed-in {
	background: #fff;
}
.original, .ajaxed-in {
	padding: 5px;
	border: 1px solid #000;
}
</style>

<p>Un enveloppeur simple pour AjaxLoader qui insère de contenu télécharger via AJAX.</p>

<section class="wb-prettify all-pre">
	<h2>Insérer du contenu après un élément (data-ajax-after)</h2>
	<section>
		<h3>Exemple</h3>
		<section data-ajax-after="ajax/data-ajax-extra-fr.html" class="original">
			<h4 id="anchor1">Bonjour tout le monde</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, dolorem explicabo perferendis vitae magnam.</p>
		</section>
		<section data-ajax-after="ajax/data-ajax-extra-2-fr.html" class="original">
			<h4 id="anchor1">Bonjour tout le monde - partie 2</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, dolorem explicabo perferendis vitae magnam.</p>
		</section>
		<details>
			<summary>Visualiser le code</summary>
			<pre><code>&lt;section data-ajax-after="ajax/data-ajax-extra-fr.html" class="original"&gt;
	&lt;h4 id="anchor1"&gt;Bonjour tout le monde&lt;/h4&gt;
	&lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, dolorem explicabo perferendis vitae magnam.&lt;/p&gt;
&lt;/section&gt;
&lt;section data-ajax-after="ajax/data-ajax-extra-2-fr.html" class="original"&gt;
	&lt;h4 id="anchor1"&gt;Bonjour tout le monde - partie 2&lt;/h4&gt;
	&lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, dolorem explicabo perferendis vitae magnam.&lt;/p&gt;
&lt;/section&gt;</code></pre>
		</details>
	</section>
</section>

<section>
	<h2>Ajouter du contenu à la fin d'un élément (data-ajax-append)</h2>
	<section>
		<h3>Exemple</h3>
		<div data-ajax-append="ajax/data-ajax-extra-fr.html" class="original">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, dolorem explicabo perferendis vitae magnam.</p>
		</div>
		<div data-ajax-append="ajax/data-ajax-extra-2-fr.html" class="original">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, dolorem explicabo perferendis vitae magnam.</p>
		</div>
		<details>
			<summary>Visualiser le code</summary>
			<pre><code>&lt;div data-ajax-append="ajax/data-ajax-extra-fr.html" class="original"&gt;
	&lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, dolorem explicabo perferendis vitae magnam.&lt;/p&gt;
&lt;/div&gt;
&lt;div data-ajax-append="ajax/data-ajax-extra-2-fr.html" class="original"&gt;
	&lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, dolorem explicabo perferendis vitae magnam.&lt;/p&gt;
&lt;/div&gt;</code></pre>
		</details>
	</section>
</section>

<section>
	<h2>Insérer le contenu avant un élément (data-ajax-before)</h2>
	<section>
		<h3>Exemple</h3>
		<section data-ajax-before="ajax/data-ajax-extra-fr.html" class="original">
			<h4 id="anchor1">Bonjour tout le monde</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, dolorem explicabo perferendis vitae magnam.</p>
		</section>
		<section data-ajax-before="ajax/data-ajax-extra-2-fr.html" class="original">
			<h4 id="anchor1">Bonjour tout le monde - partie 2</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, dolorem explicabo perferendis vitae magnam.</p>
		</section>
		<details>
			<summary>Visualiser le code</summary>
			<pre><code>&lt;section data-ajax-before="ajax/data-ajax-extra-fr.html" class="original"&gt;
	&lt;h4 id="anchor1"&gt;Bonjour tout le monde&lt;/h4&gt;
	&lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, dolorem explicabo perferendis vitae magnam.&lt;/p&gt;
&lt;/section&gt;
&lt;section data-ajax-before="ajax/data-ajax-extra-2-fr.html" class="original"&gt;
	&lt;h4 id="anchor1"&gt;Bonjour tout le monde - partie 2&lt;/h4&gt;
	&lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, dolorem explicabo perferendis vitae magnam.&lt;/p&gt;
&lt;/section&gt;</code></pre>
		</details>
	</section>
</section>

<section>
	<h2>Ajouter le contenu au début d'un élément (data-ajax-prepend)</h2>
	<section>
		<h3>Exemple</h3>
		<div data-ajax-prepend="ajax/data-ajax-extra-fr.html" class="original">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, dolorem explicabo perferendis vitae magnam.</p>
		</div>
		<div data-ajax-prepend="ajax/data-ajax-extra-2-fr.html" class="original">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, dolorem explicabo perferendis vitae magnam.</p>
		</div>
		<details>
			<summary>Visualiser le code</summary>
			<pre><code>&lt;div data-ajax-prepend="ajax/data-ajax-extra-fr.html" class="original"&gt;
	&lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, dolorem explicabo perferendis vitae magnam.&lt;/p&gt;
&lt;/div&gt;
&lt;div data-ajax-prepend="ajax/data-ajax-extra-2-fr.html" class="original"&gt;
	&lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, dolorem explicabo perferendis vitae magnam.&lt;/p&gt;
&lt;/div&gt;</code></pre>
		</details>
	</section>
</section>

<section>
	<h2>Remplace un élément (data-ajax-replace)</h2>
	<section>
		<h3>Exemple</h3>
		<div data-ajax-replace="ajax/data-ajax-extra-fr.html" class="original">
			<section>
				<h4 id="anchor1">Bonjour tout le monde</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, dolorem explicabo perferendis vitae magnam.</p>
			</section>
		</div>
		<div data-ajax-replace="ajax/data-ajax-extra-2-fr.html" class="original">
			<section>
				<h4 id="anchor1">Bonjour tout le monde - partie 2</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, dolorem explicabo perferendis vitae magnam.</p>
			</section>
		</div>
		<details>
			<summary>Visualiser le code</summary>
			<pre><code>&lt;div data-ajax-replace="ajax/data-ajax-extra-fr.html" class="original"&gt;
	&lt;section&gt;
		&lt;h4 id="anchor1"&gt;Bonjour tout le monde&lt;/h4&gt;
		&lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, dolorem explicabo perferendis vitae magnam.&lt;/p&gt;
	&lt;/section&gt;
&lt;/div&gt;
&lt;div data-ajax-replace="ajax/data-ajax-extra-2-fr.html" class="original"&gt;
	&lt;section&gt;
		&lt;h4 id="anchor1"&gt;Bonjour tout le monde - partie 2&lt;/h4&gt;
		&lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, dolorem explicabo perferendis vitae magnam.&lt;/p&gt;
	&lt;/section&gt;
&lt;/div&gt;</code></pre>
		</details>
	</section>
</section>
