---
title: Data Ajax
language: en
---
<style>
.original {
	background: #ccc;
}
.ajaxed-in {
	background: #fff;
}
.original, .ajaxed-in {
	padding: 5px;
	border: 1px solid #000;
}
</style>

<p>A basic AjaxLoader wrapper that inserts AJAXed in content</a>

<section class="wb-prettify all-pre">
	<h2>Insert content after an element (data-ajax-after)</h2>
	<section>
		<h3>Example</h3>
		<section data-ajax-after="ajax/data-ajax-extra.txt" class="original">
			<h4 id="anchor1">Hello World</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, dolorem explicabo perferendis vitae magnam.</p>
		</section>
		<section data-ajax-after="ajax/data-ajax-extra-2.txt" class="original">
			<h4 id="anchor1">Hello World - Part 2</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, dolorem explicabo perferendis vitae magnam.</p>
		</section>
	</section>
	<section>
		<h3>Coding</h3>
		<pre><code>&lt;section data-ajax-after="ajax/data-ajax-extra.txt" class="original"&gt;
	&lt;h4 id="anchor1"&gt;Hello World&lt;/h4&gt;
	&lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, dolorem explicabo perferendis vitae magnam.&lt;/p&gt;
&lt;/section&gt;
&lt;section data-ajax-after="ajax/data-ajax-extra-2.txt" class="original"&gt;
	&lt;h4 id="anchor1"&gt;Hello World - Part 2&lt;/h4&gt;
	&lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, dolorem explicabo perferendis vitae magnam.&lt;/p&gt;
&lt;/section&gt;</code></pre>
</section>

<section>
	<h2>Append content to an element (data-ajax-append)</h2>
	<section>
		<h3>Example</h3>
		<div data-ajax-append="ajax/data-ajax-extra.txt" class="original">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, dolorem explicabo perferendis vitae magnam.</p>
		</div>
		<div data-ajax-append="ajax/data-ajax-extra-2.txt" class="original">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, dolorem explicabo perferendis vitae magnam.</p>
		</div>
	</section>
	<section>
		<h3>Coding</h3>
		<pre><code>&lt;div data-ajax-append="ajax/data-ajax-extra.txt" class="original"&gt;
	&lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, dolorem explicabo perferendis vitae magnam.&lt;/p&gt;
&lt;/div&gt;
&lt;div data-ajax-append="ajax/data-ajax-extra-2.txt" class="original"&gt;
	&lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, dolorem explicabo perferendis vitae magnam.&lt;/p&gt;
&lt;/div&gt;</code></pre>
	</section>
</section>

<section>
	<h2>Insert content before an element (data-ajax-before)</h2>
	<section>
		<h3>Example</h3>
		<section data-ajax-before="ajax/data-ajax-extra.txt" class="original">
			<h4 id="anchor1">Hello World</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, dolorem explicabo perferendis vitae magnam.</p>
		</section>
		<section data-ajax-before="ajax/data-ajax-extra-2.txt" class="original">
			<h4 id="anchor1">Hello World - Part 2</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, dolorem explicabo perferendis vitae magnam.</p>
		</section>
	</section>
	<section>
		<h3>Coding</h3>
		<pre><code>&lt;section data-ajax-before="ajax/data-ajax-extra.txt" class="original"&gt;
	&lt;h4 id="anchor1"&gt;Hello World&lt;/h4&gt;
	&lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, dolorem explicabo perferendis vitae magnam.&lt;/p&gt;
&lt;/section&gt;
&lt;section data-ajax-before="ajax/data-ajax-extra-2.txt" class="original"&gt;
	&lt;h4 id="anchor1"&gt;Hello World - Part 2&lt;/h4&gt;
	&lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, dolorem explicabo perferendis vitae magnam.&lt;/p&gt;
&lt;/section&gt;</code></pre>
	</section>
</section>

<section>
	<h2>Prepend content to an element (data-ajax-prepend)</h2>
	<section>
		<h3>Example</h3>
		<div data-ajax-prepend="ajax/data-ajax-extra.txt" class="original">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, dolorem explicabo perferendis vitae magnam.</p>
		</div>
		<div data-ajax-prepend="ajax/data-ajax-extra-2.txt" class="original">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, dolorem explicabo perferendis vitae magnam.</p>
		</div>
	</section>
	<section>
		<h3>Coding</h3>
		<pre><code>&lt;div data-ajax-prepend="ajax/data-ajax-extra.txt" class="original"&gt;
	&lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, dolorem explicabo perferendis vitae magnam.&lt;/p&gt;
&lt;/div&gt;
&lt;div data-ajax-prepend="ajax/data-ajax-extra-2.txt" class="original"&gt;
	&lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, dolorem explicabo perferendis vitae magnam.&lt;/p&gt;
&lt;/div&gt;</code></pre>
	</section>
</section>

<section>
	<h2>Replaces an element (data-ajax-replace)</h2>
	<section>
		<h3>Example</h3>
		<div data-ajax-replace="ajax/data-ajax-extra.txt" class="original">
			<section>
				<h4 id="anchor1">Hello World</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, dolorem explicabo perferendis vitae magnam.</p>
			</section>
		</div>
		<div data-ajax-replace="ajax/data-ajax-extra-2.txt" class="original">
			<section>
				<h4 id="anchor1">Hello World - Part 2</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, dolorem explicabo perferendis vitae magnam.</p>
			</section>
		</div>
	</section>
	<section>
		<h3>Coding</h3>
		<pre><code>&lt;div data-ajax-replace="ajax/data-ajax-extra.txt" class="original"&gt;
	&lt;section&gt;
		&lt;h4 id="anchor1"&gt;Hello World&lt;/h4&gt;
		&lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, dolorem explicabo perferendis vitae magnam.&lt;/p&gt;
	&lt;/section&gt;
&lt;/div&gt;
&lt;div data-ajax-replace="ajax/data-ajax-extra-2.txt" class="original"&gt;
	&lt;section&gt;
		&lt;h4 id="anchor1"&gt;Hello World - Part 2&lt;/h4&gt;
		&lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, dolorem explicabo perferendis vitae magnam.&lt;/p&gt;
	&lt;/section&gt;
&lt;/div&gt;</code></pre>
	</section>
</section>
