---
{
	"title": "Chart and Graph - Custom working example",
	"language": "en",
	"category": "Plugin",
	"description": "Personalisation, multi graph type and custom preset",
	"tag": "charts",
	"altLangPrefix": "custom"
}
---

<ul>
	<li><a href="charts-en.html">Charts and Graph</a></li>
	<li><a href="labelsandreferencevalue-en.html">Labeling options and reference value</a></li>
	<li><a href="custom-en.html">Charts Personalisation, multi graph type and custom preset</a></li>
	<li><a href="piecustom-en.html">Custom Pie Charts</a></li>
	<li><a href="functionandnumbers-en.html">Number separator</a></li>
	<li><a href="functionandnumbers-en.html#functionpreset">Using function in your custom preset</a></li>
	<li><a href="testing-en.html">Specific use case</a></li>
</ul>
<hr />

<h2>Personalization</h2>

<p>The following working example show how the ḩtml data attribute <code>data-flot</code> can be used in order to produce a customized charts. The documentation of all available options is described in the <a href="https://github.com/flot/flot/blob/master/API.md">flot reference</a> documentation.</p>



<pre><code>&lt;table class="<strong>wb-charts wb-charts-bar</strong>" <strong>data-flot</strong>='{ "yaxis": { "max": 150000} }'&gt;</code></pre>

<ul>
	<li><code>wb-charts</code>: Call the WET charts plugin</li>
	<li><code>wb-charts-bar</code>: Apply Global Preset called &quot;bar&quot;</li>
	<li><code>data-flot</code>: Extend existing Global flot setting, after any preset, with the Json value.</li>
</ul>

<table class="wb-charts wb-charts-bar" data-flot='{ "yaxis": { "max": 150000} }'>
	<caption>Enquiries</caption>
	<thead>
		<tr>
			<th></th>
			<th>2008-09</th>
			<th>2009-10</th>
			<th>2010-11</th>
		</tr>
	</thead>

	<tbody>
		<tr>
			<th data-flot='{ "color":"#191970" }'>Enquiries</th>
			<td>80189</td>
			<td>65297</td>
			<td>70387</td>
		</tr>
		<tr>
			<th data-flot='{ "color":"#FF2222" }'>Threshold</th>
			<td colspan="2">70000</td>
			<td>75000</td>
		</tr>
	</tbody>
</table>

<details>
<summary>Source code of the Enquiries table</summary>
<pre><code>
&lt;table class=&quot;wb-charts wb-charts-bar&quot; data-flot='{ &quot;yaxis&quot;: { &quot;max&quot;: 150000} }'&gt;
	&lt;caption&gt;Enquiries&lt;/caption&gt;
	&lt;thead&gt;
		&lt;tr&gt;
			&lt;th&gt;&lt;/th&gt;
			&lt;th&gt;2008-09&lt;/th&gt;
			&lt;th&gt;2009-10&lt;/th&gt;
			&lt;th&gt;2010-11&lt;/th&gt;
		&lt;/tr&gt;
	&lt;/thead&gt;

	&lt;tbody&gt;
		&lt;tr&gt;
			&lt;th <strong>data-flot='{ &quot;color&quot;:&quot;#191970&quot; }'</strong>&gt;Enquiries&lt;/th&gt;
			&lt;td&gt;80189&lt;/td&gt;
			&lt;td&gt;65297&lt;/td&gt;
			&lt;td&gt;70387&lt;/td&gt;
		&lt;/tr&gt;
		&lt;tr&gt;
			&lt;th <strong>data-flot='{ &quot;color&quot;:&quot;#FF2222&quot; }'</strong>&gt;Threshold&lt;/th&gt;
			&lt;td colspan=&quot;2&quot;&gt;70000&lt;/td&gt;
			&lt;td&gt;75000&lt;/td&gt;
		&lt;/tr&gt;
	&lt;/tbody&gt;
&lt;/table&gt;
</code></pre>
</details>


<h2>Multi graph type</h2>



<pre><code>&lt;table class="<strong>wb-charts</strong>" <strong>data-flot</strong>='{ "yaxis": { "max": 150000} }'&gt;</code></pre>

<ul>
	<li><code>wb-charts</code>: Call the WET charts plugin</li>
	<li><code>data-flot</code>: Extend existing Global flot setting, after any preset, with the Json value.</li>
</ul>

<p>For combining bar charts with a line chart, the graph type need to be defined at the series levels.</p>  

<table class="wb-charts" data-flot='{ "yaxis": { "max": 150000} }'>
	<caption>Enquiries</caption>
	<thead>
		<tr>
			<th></th>
			<th>2008-09</th>
			<th>2009-10</th>
			<th>2010-11</th>
		</tr>
	</thead>

	<tbody>
		<tr>
			<th data-flot='{ "color":"#191970" }' class="wb-charts-bar">Enquiries</th>
			<td>80189</td>
			<td>65297</td>
			<td>70387</td>
		</tr>
		<tr>
			<th data-flot='{ "color":"#FF2222" }'>Threshold</th>
			<td colspan="2">70000</td>
			<td>75000</td>
		</tr>
	</tbody>
</table>

<details>
<summary>Source code of the Enquiries table</summary>
<pre><code>
&lt;table class=&quot;wb-charts&quot; data-flot='{ &quot;yaxis&quot;: { &quot;max&quot;: 150000} }'&gt;
	&lt;caption&gt;Enquiries&lt;/caption&gt;
	&lt;thead&gt;
		&lt;tr&gt;
			&lt;th&gt;&lt;/th&gt;
			&lt;th&gt;2008-09&lt;/th&gt;
			&lt;th&gt;2009-10&lt;/th&gt;
			&lt;th&gt;2010-11&lt;/th&gt;
		&lt;/tr&gt;
	&lt;/thead&gt;

	&lt;tbody&gt;
		&lt;tr&gt;
			&lt;th data-flot='{ &quot;color&quot;:&quot;#191970&quot; }' <strong>class=&quot;wb-charts-bar&quot;</strong>&gt;Enquiries&lt;/th&gt;
			&lt;td&gt;80189&lt;/td&gt;
			&lt;td&gt;65297&lt;/td&gt;
			&lt;td&gt;70387&lt;/td&gt;
		&lt;/tr&gt;
		&lt;tr&gt;
			&lt;th data-flot='{ &quot;color&quot;:&quot;#FF2222&quot; }'&gt;Threshold&lt;/th&gt;
			&lt;td colspan=&quot;2&quot;&gt;70000&lt;/td&gt;
			&lt;td&gt;75000&lt;/td&gt;
		&lt;/tr&gt;
	&lt;/tbody&gt;
&lt;/table&gt;
</code></pre>
</details>



<h2>Preset</h2>

<p>Declared in a script in the webpage where the name &quot;custom&quot; (name of the preset) can be any name. After you can apply it using the class pre-fixing with &quot;wb-charts-&quot; followed by your custom preset name.</p>

<pre><code>&lt;script&gt;
var wet_boew_charts = {
	flot: {
		<strong>custom</strong>: {
			colors: [ &quot;#ff0000&quot;,
					&quot;#00ff00&quot;,
					&quot;#0000ff&quot;,
					&quot;#ff0000&quot;,
					&quot;#00ff00&quot;,
					&quot;#0000ff&quot;,
					&quot;#ff0000&quot;,
					&quot;#00ff00&quot;,
					&quot;#0000ff&quot;]
		}
	}
}
&lt;/script&gt;</code></pre>
<script>
var wet_boew_charts = {
	flot: {
		custom: {
			colors: [ "#ff0000",
					"#00ff00",
					"#0000ff",
					"#ff0000",
					"#00ff00",
					"#0000ff",
					"#ff0000",
					"#00ff00",
					"#0000ff"]
		}
	}
}
</script>

<p><code>&lt;table class=&quot;wb-charts <strong>wb-charts-custom</strong>&quot;&gt;</code></p>

<table class="wb-charts wb-charts-custom">
	<caption>Number of pages by main purpose per main audience</caption>
	<tr>
		<td></td>
		<th>Education</th>
		<th>Task</th>
		<th>Navigation</th>
		<th>Support</th>
		<th>Information</th>
		<th>Corporate</th>
	</tr>
	<tr>
		<th data-flot='{ "bars":{ "show": true, "barWidth": 0.9, "order":1}}'>General</th>
		<td>2</td>
		<td>0</td>
		<td>20</td>
		<td>4</td>
		<td>100</td>
		<td>50</td>
	</tr>
	<tr>
		<th data-flot='{ "bars":{ "show": true, "barWidth": 0.9, "order":2}}'>Students</th>
		<td>2</td>
		<td>2</td>
		<td>1</td>
		<td>5</td>
		<td>50</td>
		<td>0</td>
	</tr>
	<tr>
		<th data-flot='{ "bars":{ "show": true, "barWidth": 0.9, "order":3}}'>Business</th>
		<td>60</td>
		<td>10</td>
		<td>20</td>
		<td>90</td>
		<td>50</td>
		<td>8</td>
	</tr>
	<tr>
		<th data-flot='{ "bars":{ "show": true, "barWidth": 0.9, "order":4}}'>Professional</th>
		<td>46</td>
		<td>26</td>
		<td>5</td>
		<td>101</td>
		<td>200</td>
		<td>142</td>
	</tr>
	<tr>
		<th data-flot='{ "bars":{ "show": true, "barWidth": 0.9, "order":5}}'>Lawyer</th>
		<td>0</td>
		<td>2</td>
		<td>4</td>
		<td>0</td>
		<td>300</td>
		<td>300</td>
	</tr>
</table>



<details>
	<summary>Table Source - <code>data-flot</code> attribute on <code>&lt;th&gt;</code></summary>
<pre><code>&lt;table class=&quot;wb-charts <strong>wb-charts-custom</strong>&quot;&gt;
	&lt;caption&gt;Number of pages by main purpose per main audience&lt;/caption&gt;
	&lt;tr&gt;
		&lt;td&gt;&lt;/td&gt;
		&lt;th&gt;Education&lt;/th&gt;
		&lt;th&gt;Task&lt;/th&gt;
		&lt;th&gt;Navigation&lt;/th&gt;
		&lt;th&gt;Support&lt;/th&gt;
		&lt;th&gt;Information&lt;/th&gt;
		&lt;th&gt;Corporate&lt;/th&gt;
	&lt;/tr&gt;
	&lt;tr&gt;
		&lt;th <strong>data-flot='{ &quot;bars&quot;:{ &quot;show&quot;: true, &quot;barWidth&quot;: 0.9, &quot;order&quot;:1}}'</strong>&gt;General&lt;/th&gt;
		&lt;td&gt;2&lt;/td&gt;
		&lt;td&gt;0&lt;/td&gt;
		&lt;td&gt;20&lt;/td&gt;
		&lt;td&gt;4&lt;/td&gt;
		&lt;td&gt;100&lt;/td&gt;
		&lt;td&gt;50&lt;/td&gt;
	&lt;/tr&gt;
	&lt;tr&gt;
		&lt;th <strong>data-flot='{ &quot;bars&quot;:{ &quot;show&quot;: true, &quot;barWidth&quot;: 0.9, &quot;order&quot;:2}}'</strong>&gt;Students&lt;/th&gt;
		&lt;td&gt;2&lt;/td&gt;
		&lt;td&gt;2&lt;/td&gt;
		&lt;td&gt;1&lt;/td&gt;
		&lt;td&gt;5&lt;/td&gt;
		&lt;td&gt;50&lt;/td&gt;
		&lt;td&gt;0&lt;/td&gt;
	&lt;/tr&gt;
	&lt;tr&gt;
		&lt;th <strong>data-flot='{ &quot;bars&quot;:{ &quot;show&quot;: true, &quot;barWidth&quot;: 0.9, &quot;order&quot;:3}}'</strong>&gt;Business&lt;/th&gt;
		&lt;td&gt;60&lt;/td&gt;
		&lt;td&gt;10&lt;/td&gt;
		&lt;td&gt;20&lt;/td&gt;
		&lt;td&gt;90&lt;/td&gt;
		&lt;td&gt;50&lt;/td&gt;
		&lt;td&gt;8&lt;/td&gt;
	&lt;/tr&gt;
	&lt;tr&gt;
		&lt;th <strong>data-flot='{ &quot;bars&quot;:{ &quot;show&quot;: true, &quot;barWidth&quot;: 0.9, &quot;order&quot;:4}}'</strong>&gt;Professional&lt;/th&gt;
		&lt;td&gt;46&lt;/td&gt;
		&lt;td&gt;26&lt;/td&gt;
		&lt;td&gt;5&lt;/td&gt;
		&lt;td&gt;101&lt;/td&gt;
		&lt;td&gt;200&lt;/td&gt;
		&lt;td&gt;142&lt;/td&gt;
	&lt;/tr&gt;
	&lt;tr&gt;
		&lt;th <strong>data-flot='{ &quot;bars&quot;:{ &quot;show&quot;: true, &quot;barWidth&quot;: 0.9, &quot;order&quot;:5}}'</strong>&gt;Lawyer&lt;/th&gt;
		&lt;td&gt;0&lt;/td&gt;
		&lt;td&gt;2&lt;/td&gt;
		&lt;td&gt;4&lt;/td&gt;
		&lt;td&gt;0&lt;/td&gt;
		&lt;td&gt;300&lt;/td&gt;
		&lt;td&gt;300&lt;/td&gt;
	&lt;/tr&gt;
&lt;/table&gt;</code></pre>
</details>

<h3>Other scope</h3>
<p>It is possible to apply a preset for others settings scope. When the same preset name exist and get applied, all of them would extend the setting.</p>
<pre><code>&lt;script&gt;
var wet_boew_charts = {
	flot: { }, // Flot global setting. Equivalent to &quot;data-flot&quot; set on the table element
	series: { }, // Flot series specific setting. Equivalent to &quot;data-flot&quot; set on the th element
	charts: { } // WET chart specific setting. Equivalent to &quot;data-wet-boew&quot; set on the table element
	
}
&lt;/script&gt;</code></pre>




<h2>Negative Tabular Values</h2>


<table class="wb-charts">
	<caption>Negative Number of pages by main purpose per main audience</caption>
	<tr>
		<td></td>
		<th>Education</th>
		<th>Task</th>
		<th>Navigation</th>
		<th>Support</th>
		<th>Information</th>
		<th>Corporate</th>
	</tr>
	<tr>
		<th>General</th>
		<td>-2</td>
		<td>0</td>
		<td>-20</td>
		<td>-4</td>
		<td>-100</td>
		<td>-50</td>
	</tr>
	<tr>
		<th>Students</th>
		<td>-2</td>
		<td>-2</td>
		<td>-1</td>
		<td>-5</td>
		<td>-50</td>
		<td>-0</td>
	</tr>
	<tr>
		<th>Business</th>
		<td>-60</td>
		<td>-10</td>
		<td>-20</td>
		<td>-90</td>
		<td>-50</td>
		<td>-8</td>
	</tr>
	<tr>
		<th>Professional</th>
		<td>-46</td>
		<td>-26</td>
		<td>-5</td>
		<td>-101</td>
		<td>-200</td>
		<td>-142</td>
	</tr>

	<tr>
		<th>Lawyer</th>
		<td>0</td>
		<td>-2</td>
		<td>-4</td>
		<td>0</td>
		<td>-300</td>
		<td>-300</td>
	</tr>
</table>





<h2>Pie Chart with personalized quarter</h2>


<pre><code>&lt;thead&gt;
	&lt;tr&gt;
		&lt;td&gt;&lt;/td&gt;
		&lt;th&gt;General&lt;/th&gt;
		&lt;th <strong>data-flot='{&quot;color&quot;:&quot;#00FF00&quot;}'</strong>&gt;Students&lt;/th&gt;
		&lt;th&gt;Buisness&lt;/th&gt;
		&lt;th&gt;Professional&lt;/th&gt;
		&lt;th&gt;Lawyer&lt;/th&gt;
	&lt;/tr&gt;
&lt;/thead&gt;</code></pre>


<table class="wb-charts wb-charts-pie" data-wet-boew='{ "height": 300, "decimal": 1 }'>
	<caption>Number of pages for tasking purpose per main audience</caption>
	<colgroup><col /></colgroup>
	<colgroup>
		<col />
		<col />
		<col />
		<col />
		<col />
	</colgroup>
	<thead>
		<tr>
			<td></td>
			<th>General</th>
			<th data-flot='{"color":"#00FF00"}'>Students</th>
			<th>Buisness</th>
			<th>Professional</th>
			<th>Lawyer</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th>Task</th>
			<td>0</td>
			<td>2</td>
			<td>10</td>
			<td>26</td>
			<td>2</td>
		</tr>
	</tbody>
</table>


