---
{
	"title": "Charts and graphs - Thousands separator and custom preset functions",
	"language": "en",
	"category": "Plugin",
	"description": "How to configure the thousands separator and use your own function in a preset.",
	"tag": "charts",
	"parentdir": "charts",
	"altLangPrefix": "functionandnumbers",
	"dateModified": "2014-02-19"
}
---

<ul>
	<li><a href="charts-en.html">Charts and graphs - Simple and easy</a></li>
	<li><a href="labelsandreferencevalue-en.html">Labels and reference values</a></li>
	<li><a href="custom-en.html">Customization, custom presets and multiple charts and graphs types</a></li>
	<li><a href="piecustom-en.html">Customizing pie charts</a></li>
	<li><a href="testing-en.html">Specific test cases</a></li>
</ul>

<hr />

<section>
	<h2>Thousands separator</h2>
	<section>
		<h3>Comma separator</h3>
		<section>
			<h4>Default</h4>
			<table class="wb-charts table">
				<caption>Contributions to WET from May 5, 2012 to May 4, 2013</caption>
				<thead>
					<tr>
						<th>Contributor</th>
						<th>Commits</th>
						<th>Additions</th>
						<th>Deletions</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th>pjackson28</th>
						<td>1,713</td>
						<td>1,483,907</td>
						<td>928,648</td>
					</tr>
					<tr>
						<th>nschonni</th>
						<td>506</td>
						<td>90,412</td>
						<td>72,797</td>
					</tr>
					<tr>
						<th>LaurentGoderre</th>
						<td>398</td>
						<td>52,983</td>
						<td>29,957</td>
					</tr>
					<tr>
						<th>duboisp</th>
						<td>289</td>
						<td>168,976</td>
						<td>106,100</td>
					</tr>
					<tr>
						<th>patheard</th>
						<td>135</td>
						<td>6,820</td>
						<td>3,639</td>
					</tr>
					<tr>
						<th>cfarquharson</th>
						<td>85</td>
						<td>18,572</td>
						<td>3,518</td>
					</tr>
				</tbody>
			</table>
		</section>
		<section>
			<h4>With the CSS option (<code>wb-charts-thousandcomma</code>)</h4>
			<table class="wb-charts wb-charts-thousandcomma table">
				<caption>Contributions to WET from May 5, 2012 to May 4, 2013</caption>
				<thead>
					<tr>
						<th>Contributor</th>
						<th>Commits</th>
						<th>Additions</th>
						<th>Deletions</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th>pjackson28</th>
						<td>1,713</td>
						<td>1,483,907</td>
						<td>928,648</td>
					</tr>
					<tr>
						<th>nschonni</th>
						<td>506</td>
						<td>90,412</td>
						<td>72,797</td>
					</tr>
					<tr>
						<th>LaurentGoderre</th>
						<td>398</td>
						<td>52,983</td>
						<td>29,957</td>
					</tr>
					<tr>
						<th>duboisp</th>
						<td>289</td>
						<td>168,976</td>
						<td>106,100</td>
					</tr>
					<tr>
						<th>patheard</th>
						<td>135</td>
						<td>6,820</td>
						<td>3,639</td>
					</tr>
					<tr>
						<th>cfarquharson</th>
						<td>85</td>
						<td>18,572</td>
						<td>3,518</td>
					</tr>
				</tbody>
			</table>
		</section>
	</section>

	<section>
		<h3>Dot separator</h3>
		<section>
			<h4>Default</h4>
			<table class="wb-charts table">
				<caption>Contributions to WET from May 5, 2012 to May 4, 2013</caption>
				<thead>
					<tr>
						<th>Contributor</th>
						<th>Commits</th>
						<th>Additions</th>
						<th>Deletions</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th>pjackson28</th>
						<td>1.713</td>
						<td>1.483.907</td>
						<td>928.648</td>
					</tr>
					<tr>
						<th>nschonni</th>
						<td>506</td>
						<td>90.412</td>
						<td>72.797</td>
					</tr>
					<tr>
						<th>LaurentGoderre</th>
						<td>398</td>
						<td>52.983</td>
						<td>29.957</td>
					</tr>
					<tr>
						<th>duboisp</th>
						<td>289</td>
						<td>168.976</td>
						<td>106.100</td>
					</tr>
					<tr>
						<th>patheard</th>
						<td>135</td>
						<td>6.820</td>
						<td>3.639</td>
					</tr>
					<tr>
						<th>cfarquharson</th>
						<td>85</td>
						<td>18.572</td>
						<td>3.518</td>
					</tr>
				</tbody>
			</table>
		</section>
		<section>
			<h4>With the CSS option (<code>wb-charts-thousanddot</code>)</h4>
			<table class="wb-charts wb-charts-thousanddot table">
				<caption>Contributions to WET from May 5, 2012 to May 4, 2013</caption>
				<thead>
					<tr>
						<th>Contributor</th>
						<th>Commits</th>
						<th>Additions</th>
						<th>Deletions</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th>pjackson28</th>
						<td>1.713</td>
						<td>1.483.907</td>
						<td>928.648</td>
					</tr>
					<tr>
						<th>nschonni</th>
						<td>506</td>
						<td>90.412</td>
						<td>72.797</td>
					</tr>
					<tr>
						<th>LaurentGoderre</th>
						<td>398</td>
						<td>52.983</td>
						<td>29.957</td>
					</tr>
					<tr>
						<th>duboisp</th>
						<td>289</td>
						<td>168.976</td>
						<td>106.100</td>
					</tr>
					<tr>
						<th>patheard</th>
						<td>135</td>
						<td>6.820</td>
						<td>3.639</td>
					</tr>
					<tr>
						<th>cfarquharson</th>
						<td>85</td>
						<td>18.572</td>
						<td>3.518</td>
					</tr>
				</tbody>
			</table>
		</section>
	</section>
</section>

<hr />

<section>
	<h2 id="functionpreset">Using functions within your custom preset</h2>
	<p>Goal: Extracting and parsing custom tabular data to create your chart or graph.</p>
	<section>
		<h3>Declaring your custom preset</h3>
		<pre><code>&lt;script&gt;
window[ "wb-charts" ] = {
	charts: {
		<strong>custom</strong>: {
			fn: {
				&quot;/getcellvalue&quot;: function(elem){
					var raw = $(elem).text().replace(/\s\s+/g, ' ').replace(/^\s+|\s+$/g, '').replace(/N/g, '');
					return [parseFloat(raw.match(/[\+\-0-9]+[0-9,\. ]*/)), raw.match(/[^\+\-\.\, 0-9]+[^\-\+0-9]*/)];
				}
			}
		}
	}
};
&lt;/script&gt;</code></pre>

		<p>The key for the <code>fn</code> object is similar to the JSON pointer defined in <a href="http://tools.ietf.org/html/rfc6901">RFC 6901</a>. The key identifies what should be overwritten with the function.</p>

		<script>
		window[ "wb-charts" ] = {
			charts: {
				custom: {
					fn: {
						"/getcellvalue": function(elem){
							var raw = $(elem).text().replace(/\s\s+/g, ' ').replace(/^\s+|\s+$/g, '').replace(/N/g, '');
							return [parseFloat(raw.match(/[\+\-0-9]+[0-9,\. ]*/)), raw.match(/[^\+\-\.\, 0-9]+[^\-\+0-9]*/)];
						}
					}
				}
			}
		};
		</script>

		<p><code>&lt;table class=&quot;wb-charts wb-charts-custom table&quot;&gt;</code></p>
		<table class="wb-charts wb-charts-custom table">
			<caption>Contributions to WET from May 5, 2012 to May 4, 2013</caption>
			<thead>
				<tr>
					<th>Contributor</th>
					<th>Commits</th>
					<th>Additions</th>
					<th>Deletions</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th>pjackson28</th>
					<td>1N713</td>
					<td>1N483N907</td>
					<td>928N648</td>
				</tr>
				<tr>
					<th>nschonni</th>
					<td>506</td>
					<td>90N412</td>
					<td>72N797</td>
				</tr>
				<tr>
					<th>LaurentGoderre</th>
					<td>398</td>
					<td>52N983</td>
					<td>29N957</td>
				</tr>
				<tr>
					<th>duboisp</th>
					<td>289</td>
					<td>168N976</td>
					<td>106N100</td>
				</tr>
				<tr>
					<th>patheard</th>
					<td>135</td>
					<td>6N820</td>
					<td>3N639</td>
				</tr>
				<tr>
					<th>cfarquharson</th>
					<td>85</td>
					<td>18N572</td>
					<td>3N518</td>
				</tr>
			</tbody>
		</table>
	</section>
</section>
