---
{
	"title": "Graphiques - Séparateur des milliers et fonctions personalisés dans vos préréglages",
	"language": "fr",
	"category": "Plugiciel",
	"description": "Comment vous pouvez configurer le séparateur des milliers et comment vous pouvez intégrer vos fonction personalisé",
	"tag": "charts",
	"altLangPrefix": "functionandnumbers"
}
---

<ul>
	<li><a href="charts-fr.html">Graphiques - Simple</a></li>
	<li><a href="labelsandreferencevalue-fr.html">Étiquettage et valeur de référence</a></li>
	<li><a href="custom-fr.html">Personalisation, préréglages personnalisés et plusieurs types de graphique</a></li>
	<li><a href="piecustom-fr.html">Personalisation de diagrame circulaire</a></li>
	<li><a href="testing-fr.html">Scénarios d'essai spécifiques</a></li>
</ul>

<hr />

<section>
	<h2>Séparateur des milliers</h2>
	<section>
		<h3>La virgule en tant que séparateur de millier</h3>
		<section>
			<h4>Défaut</h4>
			<table class="wb-charts table">
				<caption>Contribution à la BOEW du 5 mai 2012 au 4 may 2013</caption>
				<thead>
					<tr>
						<th>Contributeur</th>
						<th>&quot;Commits&quot;</th>
						<th>Ajout</th>
						<th>Supression</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th>pjackson28</th>
						<td>1,713</td>
						<td>1,483,907</td>
						<td>928,648</td>
					</tr>
					<tr>
						<th>nschonni</th>
						<td>506</td>
						<td>90,412</td>
						<td>72,797</td>
					</tr>
					<tr>
						<th>LaurentGoderre</th>
						<td>398</td>
						<td>52,983</td>
						<td>29,957</td>
					</tr>
					<tr>
						<th>duboisp</th>
						<td>289</td>
						<td>168,976</td>
						<td>106,100</td>
					</tr>
					<tr>
						<th>patheard</th>
						<td>135</td>
						<td>6,820</td>
						<td>3,639</td>
					</tr>
					<tr>
						<th>cfarquharson</th>
						<td>85</td>
						<td>18,572</td>
						<td>3,518</td>
					</tr>
				</tbody>
			</table>
		</section>
		<section>
			<h4>Avec l'option CSS (<code>wb-charts-thousandcomma</code>)</h4>
			<table class="wb-charts wb-charts-thousandcomma table">
				<caption>Contribution à la BOEW du 5 mai 2012 au 4 may 2013</caption>
				<thead>
					<tr>
						<th>Contributeur</th>
						<th>&quot;Commits&quot;</th>
						<th>Ajout</th>
						<th>Supression</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th>pjackson28</th>
						<td>1,713</td>
						<td>1,483,907</td>
						<td>928,648</td>
					</tr>
					<tr>
						<th>nschonni</th>
						<td>506</td>
						<td>90,412</td>
						<td>72,797</td>
					</tr>
					<tr>
						<th>LaurentGoderre</th>
						<td>398</td>
						<td>52,983</td>
						<td>29,957</td>
					</tr>
					<tr>
						<th>duboisp</th>
						<td>289</td>
						<td>168,976</td>
						<td>106,100</td>
					</tr>
					<tr>
						<th>patheard</th>
						<td>135</td>
						<td>6,820</td>
						<td>3,639</td>
					</tr>
					<tr>
						<th>cfarquharson</th>
						<td>85</td>
						<td>18,572</td>
						<td>3,518</td>
					</tr>
				</tbody>
			</table>
		</section>
	</section>

	<section>
		<h3>Le point en tant que séparateur de millier</h3>
		<section>
			<h4>Défaut</h4>
			<table class="wb-charts table">
				<caption>Contribution à la BOEW du 5 mai 2012 au 4 may 2013</caption>
				<thead>
					<tr>
						<th>Contributeur</th>
						<th>&quot;Commits&quot;</th>
						<th>Ajout</th>
						<th>Supression</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th>pjackson28</th>
						<td>1.713</td>
						<td>1.483.907</td>
						<td>928.648</td>
					</tr>
					<tr>
						<th>nschonni</th>
						<td>506</td>
						<td>90.412</td>
						<td>72.797</td>
					</tr>
					<tr>
						<th>LaurentGoderre</th>
						<td>398</td>
						<td>52.983</td>
						<td>29.957</td>
					</tr>
					<tr>
						<th>duboisp</th>
						<td>289</td>
						<td>168.976</td>
						<td>106.100</td>
					</tr>
					<tr>
						<th>patheard</th>
						<td>135</td>
						<td>6.820</td>
						<td>3.639</td>
					</tr>
					<tr>
						<th>cfarquharson</th>
						<td>85</td>
						<td>18.572</td>
						<td>3.518</td>
					</tr>
				</tbody>
			</table>
		</section>
		<section>
			<h4>Avec l'option CSS (<code>wb-charts-thousanddot</code>)</h4>
			<table class="wb-charts wb-charts-thousanddot table">
				<caption>Contribution à la BOEW du 5 mai 2012 au 4 may 2013</caption>
				<thead>
					<tr>
						<th>Contributeur</th>
						<th>&quot;Commits&quot;</th>
						<th>Ajout</th>
						<th>Supression</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th>pjackson28</th>
						<td>1.713</td>
						<td>1.483.907</td>
						<td>928.648</td>
					</tr>
					<tr>
						<th>nschonni</th>
						<td>506</td>
						<td>90.412</td>
						<td>72.797</td>
					</tr>
					<tr>
						<th>LaurentGoderre</th>
						<td>398</td>
						<td>52.983</td>
						<td>29.957</td>
					</tr>
					<tr>
						<th>duboisp</th>
						<td>289</td>
						<td>168.976</td>
						<td>106.100</td>
					</tr>
					<tr>
						<th>patheard</th>
						<td>135</td>
						<td>6.820</td>
						<td>3.639</td>
					</tr>
					<tr>
						<th>cfarquharson</th>
						<td>85</td>
						<td>18.572</td>
						<td>3.518</td>
					</tr>
				</tbody>
			</table>
		</section>
	</section>
</section>

<hr />

<section>
	<h2 id="functionpreset">Utilisation de fonction personalisé dans vos préréglages</h2>
	<p>Objet : Extraire et traité une donnée pour la création de votre graphique</p>
	<section>
		<h3>Déclaration de votre préréglage personalisé</h3>

		<pre><code>&lt;script&gt;
var wet_boew_charts = {
	charts: {
		<strong>personlise</strong>: {
			fn: {
				&quot;/getcellvalue&quot;: function(elem){
					var raw = $(elem).text().replace(/\s\s+/g, ' ').replace(/^\s+|\s+$/g, '').replace(/N/g, '');
					return [parseFloat(raw.match(/[\+\-0-9]+[0-9,\. ]*/)), raw.match(/[^\+\-\.\, 0-9]+[^\-\+0-9]*/)];
				}
			}
		}
	}
}
&lt;/script&gt;</code></pre>

		<p>La cleft à l'intéreur de l'objet <code>fn</code> est similaire a un pointeur JSON tel que défini dans <a href="http://tools.ietf.org/html/rfc6901">RFC 6901</a>. La cleft représent le chemin vers où vous désirer remplacer la valeur par la fonction définie.</p>

		<script>
		var wet_boew_charts = {
			charts: {
				personlise: {
					fn: {
						"/getcellvalue": function(elem){
							var raw = $(elem).text().replace(/\s\s+/g, ' ').replace(/^\s+|\s+$/g, '').replace(/N/g, '');
							return [parseFloat(raw.match(/[\+\-0-9]+[0-9,\. ]*/)), raw.match(/[^\+\-\.\, 0-9]+[^\-\+0-9]*/)];
						}
					}
				}
			}
		}
		</script>


		<p><code>&lt;table class=&quot;wb-charts wb-charts-personlise table&quot;&gt;</code></p>
		<table class="wb-charts wb-charts-personlise table">
			<caption>Contribution à la BOEW du 5 mai 2012 au 4 may 2013</caption>
			<thead>
				<tr>
					<th>Contributeur</th>
					<th>&quot;Commits&quot;</th>
					<th>Ajout</th>
					<th>Supression</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th>pjackson28</th>
					<td>1N713</td>
					<td>1N483N907</td>
					<td>928N648</td>
				</tr>
				<tr>
					<th>nschonni</th>
					<td>506</td>
					<td>90N412</td>
					<td>72N797</td>
				</tr>
				<tr>
					<th>LaurentGoderre</th>
					<td>398</td>
					<td>52N983</td>
					<td>29N957</td>
				</tr>
				<tr>
					<th>duboisp</th>
					<td>289</td>
					<td>168N976</td>
					<td>106N100</td>
				</tr>
				<tr>
					<th>patheard</th>
					<td>135</td>
					<td>6N820</td>
					<td>3N639</td>
				</tr>
				<tr>
					<th>cfarquharson</th>
					<td>85</td>
					<td>18N572</td>
					<td>3N518</td>
				</tr>
			</tbody>
		</table>
	</section>
</section>
