---
{
	"title": "Graphiques - Étiquettage et la valeur de référence",
	"language": "fr",
	"category": "Plugiciels",
	"description": "Comment contrôler l'étiquettage des graphiques et comment contrôler la valeur de référence pour déterminer la valeur des points",
	"tag": "charts",
	"parentdir": "charts",
	"altLangPrefix": "labelsandreferencevalue",
	"dateModified": "2015-03-10"
}
---

<ul>
	<li><a href="charts-fr.html">Graphiques - Simple</a></li>
	<li><a href="labelsandreferencevalue-fr.html">Étiquettage et valeur de référence (actuelle)</a></li>
	<li><a href="custom-fr.html">Personalisation, préréglages personnalisés et plusieurs types de graphique</a></li>
	<li><a href="piecustom-fr.html">Personalisation de diagrame circulaire</a></li>
	<li><a href="testing-fr.html">Scénarios d'essai spécifiques</a></li>
</ul>

<hr />

<section>
	<h2>Par défaut</h2>

	<pre><code>data-wb-charts = '{
	"noencapsulation": true
}'</code></pre>

	<table class="wb-charts wb-charts-line table" data-wb-charts='{ "noencapsulation": true }'>
		<thead>
			<tr>
				<td rowspan="3"></td>
				<th colspan="6">Groupe A</th>
				<th rowspan="3">Groupe B</th>
				<th rowspan="3">Groupe C</th>
			</tr>
			<tr>
				<th colspan="2">Sujet</th>
				<th colspan="4">Thème</th>
			</tr>
			<tr>
				<th>Article 1</th>
				<th>Article 2</th>
				<th>Objet 1</th>
				<th>Objet 2</th>
				<th>Objet 3</th>
				<th>Objet 4</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>Première série</th>
				<td>5</td>
				<td>10</td>
				<td>5</td>
				<td>10</td>
				<td>5</td>
				<td>10</td>
				<td>5</td>
				<td>10</td>
			</tr>
			<tr>
				<th>Deuxième série</th>
				<td>3</td>
				<td>9</td>
				<td>3</td>
				<td>9</td>
				<td>3</td>
				<td>9</td>
				<td>3</td>
				<td>9</td>
			</tr>
			<tr>
				<th>Troisième série</th>
				<td>4</td>
				<td>12</td>
				<td>4</td>
				<td>12</td>
				<td>4</td>
				<td>12</td>
				<td>4</td>
				<td>12</td>
			</tr>
		</tbody>
	</table>
</section>

<section>
	<h2>L'étiquette et la valeur de référence définie à la première ligne du tableau</h2>

	<pre><code>data-wb-charts = '{
	"referencevalue": 1,
	"labelposition": 1,
	"noencapsulation": true
}'</code></pre>

	<table class="wb-charts wb-charts-line table" data-wb-charts='{ "referencevalue": 1, "labelposition": 1, "noencapsulation": true }'>
		<thead>
			<tr>
				<td rowspan="3"></td>
				<th colspan="6">Groupe A</th>
				<th rowspan="3">Groupe B</th>
				<th rowspan="3">Groupe C</th>
			</tr>
			<tr>
				<th colspan="2">Sujet</th>
				<th colspan="4">Thème</th>
			</tr>
			<tr>
				<th>Article 1</th>
				<th>Article 2</th>
				<th>Objet 1</th>
				<th>Objet 2</th>
				<th>Objet 3</th>
				<th>Objet 4</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>Première série</th>
				<td>5</td>
				<td>10</td>
				<td>5</td>
				<td>10</td>
				<td>5</td>
				<td>10</td>
				<td>5</td>
				<td>10</td>
			</tr>
			<tr>
				<th>Deuxième série</th>
				<td>3</td>
				<td>9</td>
				<td>3</td>
				<td>9</td>
				<td>3</td>
				<td>9</td>
				<td>3</td>
				<td>9</td>
			</tr>
			<tr>
				<th>Troisième série</th>
				<td>4</td>
				<td>12</td>
				<td>4</td>
				<td>12</td>
				<td>4</td>
				<td>12</td>
				<td>4</td>
				<td>12</td>
			</tr>
		</tbody>
	</table>
</section>

<section>
	<h2>L'étiquette définie à la première ligne du tableau et la valeur de référence définie à la deuxième ligne du tableau</h2>

	<pre><code>data-wb-charts = '{
	"referencevalue": 2,
	"labelposition": 1,
	"noencapsulation": true
}'</code></pre>

	<table class="wb-charts wb-charts-line table" data-wb-charts='{ "referencevalue": 2, "labelposition": 1, "noencapsulation": true }'>
		<thead>
			<tr>
				<td rowspan="3"></td>
				<th colspan="6">Groupe A</th>
				<th rowspan="3">Groupe B</th>
				<th rowspan="3">Groupe C</th>
			</tr>
			<tr>
				<th colspan="2">Sujet</th>
				<th colspan="4">Thème</th>
			</tr>
			<tr>
				<th>Article 1</th>
				<th>Article 2</th>
				<th>Objet 1</th>
				<th>Objet 2</th>
				<th>Objet 3</th>
				<th>Objet 4</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>Première série</th>
				<td>5</td>
				<td>10</td>
				<td>5</td>
				<td>10</td>
				<td>5</td>
				<td>10</td>
				<td>5</td>
				<td>10</td>
			</tr>
			<tr>
				<th>Deuxième série</th>
				<td>3</td>
				<td>9</td>
				<td>3</td>
				<td>9</td>
				<td>3</td>
				<td>9</td>
				<td>3</td>
				<td>9</td>
			</tr>
			<tr>
				<th>Troisième série</th>
				<td>4</td>
				<td>12</td>
				<td>4</td>
				<td>12</td>
				<td>4</td>
				<td>12</td>
				<td>4</td>
				<td>12</td>
			</tr>
		</tbody>
	</table>
</section>

<section>
	<h2>L'étiquette définie à la première ligne du tableau et la valeur de référence définie à la troisième ligne du tableau</h2>

	<pre><code>data-wb-charts = '{
	"referencevalue": 3,
	"labelposition": 1,
	"noencapsulation": true
}'</code></pre>

	<table class="wb-charts wb-charts-line table" data-wb-charts='{ "referencevalue": 3, "labelposition": 1, "noencapsulation": true }'>

		<thead>
			<tr>
				<td rowspan="3"></td>
				<th colspan="6">Groupe A</th>
				<th rowspan="3">Groupe B</th>
				<th rowspan="3">Groupe C</th>
			</tr>
			<tr>
				<th colspan="2">Sujet</th>
				<th colspan="4">Thème</th>
			</tr>
			<tr>
				<th>Article 1</th>
				<th>Article 2</th>
				<th>Objet 1</th>
				<th>Objet 2</th>
				<th>Objet 3</th>
				<th>Objet 4</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>Première série</th>
				<td>5</td>
				<td>10</td>
				<td>5</td>
				<td>10</td>
				<td>5</td>
				<td>10</td>
				<td>5</td>
				<td>10</td>
			</tr>
			<tr>
				<th>Deuxième série</th>
				<td>3</td>
				<td>9</td>
				<td>3</td>
				<td>9</td>
				<td>3</td>
				<td>9</td>
				<td>3</td>
				<td>9</td>
			</tr>
			<tr>
				<th>Troisième série</th>
				<td>4</td>
				<td>12</td>
				<td>4</td>
				<td>12</td>
				<td>4</td>
				<td>12</td>
				<td>4</td>
				<td>12</td>
			</tr>
		</tbody>
	</table>
</section>

<section>
	<h2>L'étiquette définie à la deuxième ligne du tableau et la valeur de référence définie à la troisième ligne du tableau</h2>

	<pre><code>data-wb-charts = '{
	"referencevalue": 3,
	"labelposition": 2,
	"noencapsulation": true
}'</code></pre>

	<table class="wb-charts wb-charts-line table" data-wb-charts='{ "referencevalue": 3, "labelposition": 2, "noencapsulation": true }'>
		<thead>
			<tr>
				<td rowspan="3"></td>
				<th colspan="6">Groupe A</th>
				<th rowspan="3">Groupe B</th>
				<th rowspan="3">Groupe C</th>
			</tr>
			<tr>
				<th colspan="2">Sujet</th>
				<th colspan="4">Thème</th>
			</tr>
			<tr>
				<th>Article 1</th>
				<th>Article 2</th>
				<th>Objet 1</th>
				<th>Objet 2</th>
				<th>Objet 3</th>
				<th>Objet 4</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>Première série</th>
				<td>5</td>
				<td>10</td>
				<td>5</td>
				<td>10</td>
				<td>5</td>
				<td>10</td>
				<td>5</td>
				<td>10</td>
			</tr>
			<tr>
				<th>Deuxième série</th>
				<td>3</td>
				<td>9</td>
				<td>3</td>
				<td>9</td>
				<td>3</td>
				<td>9</td>
				<td>3</td>
				<td>9</td>
			</tr>
			<tr>
				<th>Troisième série</th>
				<td>4</td>
				<td>12</td>
				<td>4</td>
				<td>12</td>
				<td>4</td>
				<td>12</td>
				<td>4</td>
				<td>12</td>
			</tr>
		</tbody>
	</table>
</section>

<section>
	<h2>L'étiquette et la valeur de référence définie à la troisième ligne du tableau</h2>

	<pre><code>data-wb-charts = '{
	"referencevalue": 3,
	"labelposition": 3,
	"noencapsulation": true
}'</code></pre>

	<table class="wb-charts wb-charts-line table" data-wb-charts='{ "referencevalue": 3, "labelposition": 3, "noencapsulation": true }'>
		<thead>
			<tr>
				<td rowspan="3"></td>
				<th colspan="6">Groupe A</th>
				<th rowspan="3">Groupe B</th>
				<th rowspan="3">Groupe C</th>
			</tr>
			<tr>
				<th colspan="2">Sujet</th>
				<th colspan="4">Thème</th>
			</tr>
			<tr>
				<th>Article 1</th>
				<th>Article 2</th>
				<th>Objet 1</th>
				<th>Objet 2</th>
				<th>Objet 3</th>
				<th>Objet 4</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>Première série</th>
				<td>5</td>
				<td>10</td>
				<td>5</td>
				<td>10</td>
				<td>5</td>
				<td>10</td>
				<td>5</td>
				<td>10</td>
			</tr>
			<tr>
				<th>Deuxième série</th>
				<td>3</td>
				<td>9</td>
				<td>3</td>
				<td>9</td>
				<td>3</td>
				<td>9</td>
				<td>3</td>
				<td>9</td>
			</tr>
			<tr>
				<th>Troisième série</th>
				<td>4</td>
				<td>12</td>
				<td>4</td>
				<td>12</td>
				<td>4</td>
				<td>12</td>
				<td>4</td>
				<td>12</td>
			</tr>
		</tbody>
	</table>
</section>
