---
{
	"title": "Chart and Graph - Linear Chart Parse Direction Vertical",
	"language": "en",
	"category": "Plugin",
	"description": "Dynamically generates a calendar interface for navigating a list of events.",
	"tag": "charts",
	"fr": "linearparsevertical"
}
---

<ul>
	<li><a href="simple-en.html">Simple</a></li>
	<li><a href="complex-en.html">Complex</a></li>
	<li><a href="labels-en.html">Labels</a></li>
	<li><a href="labelsandreferencevalue-en.html">Labels and Reference Value</a></li>
	<li><a href="labelsreversetable-en.html">Labels with and without a reversed table</a></li>
	<li><a href="numberformat-en.html">Number Format</a></li>
	<li><a href="pie-en.html">Pie</a></li>
	<li><a href="simpleCustomized-en.html">Simple Customized</a></li>
	<li><a href="pieparsevertical-en.html">Pie Chart Parse Direction Vertical</a></li>
	<li><a href="linearparsevertical-en.html">Linear Chart Parse Direction Vertical</a></li>
</ul>
<hr />


<h2>Default Parsing Table Direction</h2>

<table class="wb-charts wb-charts-area">
	<caption>Some data</caption>
	<thead>
		<tr>
			<th>Column heading for a row heading</th>
			<th>col1</th>
			<th>col2</th>
			<th>col3</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th class="wb-charts-line">Row heading 1</th>
			<td>50</td>
			<td>100</td>
			<td>150</td>
		</tr>
		<tr>
			<th class="wb-charts-bar">Row heading 2</th>
			<td>210</td>
			<td>25</td>
			<td>75</td>
		</tr>
		<tr>
			<th class="wb-charts-line">Row heading 3</th>
			<td>1000</td>
			<td>245</td>
			<td>964</td>
		</tr>
	</tbody>
</table>



<hr />

<h2>Vertical Parsing Table Direction</h2>


<table class="wb-charts wb-charts-area wb-charts-parsedirection-y">
	<caption>Some data</caption>
	<colgroup><col /></colgroup>
	<colgroup><col /><col /><col /></colgroup>
	<thead>
		<tr>
			<th>Column heading for a row heading</th>
			<th class="wb-charts-line">Row heading 1</th>
			<th class="wb-charts-bar">Row heading 2</th>
			<th class="wb-charts-line">Row heading 3</th>

		</tr>
	</thead>
	<tbody>
		<tr>
			<th>col1</th>
			<td>50</td>
			<td>210</td>
			<td>1000</td>
		</tr>
		<tr>
			<th>col2</th>
			<td>100</td>
			<td>25</td>
			<td>245</td>
		</tr>
		<tr>
			<th>col3</th>
			<td>150</td>
			<td>75</td>
			<td>964</td>
		</tr>
	</tbody>
</table>




