---
{
	"title": "Chart and Graph - Pie Chart Parse Direction Vertical",
	"language": "en",
	"category": "Plugin",
	"description": "Dynamically generates a calendar interface for navigating a list of events.",
	"tag": "charts",
	"fr": "pieparsevertical"
}
---

<ul>
	<li><a href="simple-en.html">Simple</a></li>
	<li><a href="complex-en.html">Complex</a></li>
	<li><a href="labels-en.html">Labels</a></li>
	<li><a href="labelsandreferencevalue-en.html">Labels and Reference Value</a></li>
	<li><a href="labelsreversetable-en.html">Labels with and without a reversed table</a></li>
	<li><a href="numberformat-en.html">Number Format</a></li>
	<li><a href="pie-en.html">Pie</a></li>
	<li><a href="simpleCustomized-en.html">Simple Customized</a></li>
	<li><a href="pieparsevertical-en.html">Pie Chart Parse Direction Vertical</a></li>
	<li><a href="linearparsevertical-en.html">Linear Chart Parse Direction Vertical</a></li>
</ul>
<hr />

<h2>Default Parsing Table Direction</h2>



<table class="wb-charts wb-charts-pie" data-wet-boew='{ "height": 500, "decimal": 1 }'>
	<caption>Default Parsing - Revenues by products and services</caption>
	<thead>
		<tr>
			<th></th>
			<th data-flot='{ "color": "#6B8E23" }'>Patents</th>
			<th data-flot='{ "color": "#9ACD32" }'>Trademarks</th>
			<th data-flot='{ "color": "#191970" }'>Copyrights and Industrial Designs</th>
			<th data-flot='{ "color": "#483D8B" }'>Information</th>
		</tr>
	</thead>

	<tbody>
		<tr>
			<th>Revenues by products and services</th>
			<td>77.4%</td>
			<td>19.8%</td>
			<td>2.5%</td>
			<td>0.3%</td>
		</tr>
	</tbody>
</table>

<details>
<summary>Source Code</summary>
<pre><code>&lt;table class=&quot;wb-charts wb-charts-pie&quot; data-wet-boew='{ &quot;height&quot;: 500, &quot;decimal&quot;: 1 }'&gt;
	&lt;caption&gt;Default Parsing - Revenues by products and services&lt;/caption&gt;
	&lt;thead&gt;
		&lt;tr&gt;
			&lt;th&gt;&lt;/th&gt;
			&lt;th data-flot='{ &quot;color&quot;: &quot;#6B8E23&quot; }'&gt;Patents&lt;/th&gt;
			&lt;th data-flot='{ &quot;color&quot;: &quot;#9ACD32&quot; }'&gt;Trademarks&lt;/th&gt;
			&lt;th data-flot='{ &quot;color&quot;: &quot;#191970&quot; }'&gt;Copyrights and Industrial Designs&lt;/th&gt;
			&lt;th data-flot='{ &quot;color&quot;: &quot;#483D8B&quot; }'&gt;Information&lt;/th&gt;
		&lt;/tr&gt;
	&lt;/thead&gt;

	&lt;tbody&gt;
		&lt;tr&gt;
			&lt;th&gt;Revenues by products and services&lt;/th&gt;
			&lt;td&gt;77.4%&lt;/td&gt;
			&lt;td&gt;19.8%&lt;/td&gt;
			&lt;td&gt;2.5%&lt;/td&gt;
			&lt;td&gt;0.3%&lt;/td&gt;
		&lt;/tr&gt;
	&lt;/tbody&gt;
&lt;/table&gt;
</code></pre>
</details>

<hr />

<h2>Vertical Parsing Table Direction</h2>

<table class="wb-charts wb-charts-pie" data-wet-boew='{ "height": 500, "decimal": 1, "reversettblparsing": true }'>
	<caption>Vertical Parsing - Revenues by products and services</caption>
	<colgroup><col /></colgroup>
	<colgroup><col /></colgroup>
	<thead>
		<tr>
			<th></th>
			<th>Revenues by products and services</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th data-flot='{ "color": "#6B8E23" }'>Patents</th>
			<td>77.4%</td>
		</tr>
		<tr>
			<th data-flot='{ "color": "#9ACD32" }'>Trademarks</th>
			<td>19.8%</td>
		</tr>
		<tr>
			<th data-flot='{ "color": "#191970" }'>Copyrights and Industrial Designs</th>
			<td>2.5%</td>
		</tr>
		<tr>
			<th data-flot='{ "color": "#483D8B" }'>Information</th>
			<td>0.3%</td>
		</tr>
	</tbody>
</table>

<details>
<summary>Source Code</summary>
<pre><code>&lt;table class=&quot;wb-charts wb-charts-pie&quot; data-wet-boew='{ &quot;height&quot;: 500, &quot;decimal&quot;: 1, &quot;reversettblparsing&quot;: true }'&gt;
	&lt;caption&gt;Vertical Parsing - Revenues by products and services&lt;/caption&gt;
	&lt;colgroup&gt;&lt;col /&gt;&lt;/colgroup&gt;
	&lt;colgroup&gt;&lt;col /&gt;&lt;/colgroup&gt;
	&lt;thead&gt;
		&lt;tr&gt;
			&lt;th&gt;&lt;/th&gt;
			&lt;th&gt;Revenues by products and services&lt;/th&gt;
		&lt;/tr&gt;
	&lt;/thead&gt;
	&lt;tbody&gt;
		&lt;tr&gt;
			&lt;th data-flot='{ &quot;color&quot;: &quot;#6B8E23&quot; }'&gt;Patents&lt;/th&gt;
			&lt;td&gt;77.4%&lt;/td&gt;
		&lt;/tr&gt;
		&lt;tr&gt;
			&lt;th data-flot='{ &quot;color&quot;: &quot;#9ACD32&quot; }'&gt;Trademarks&lt;/th&gt;
			&lt;td&gt;19.8%&lt;/td&gt;
		&lt;/tr&gt;
		&lt;tr&gt;
			&lt;th data-flot='{ &quot;color&quot;: &quot;#191970&quot; }'&gt;Copyrights and Industrial Designs&lt;/th&gt;
			&lt;td&gt;2.5%&lt;/td&gt;
		&lt;/tr&gt;
		&lt;tr&gt;
			&lt;th data-flot='{ &quot;color&quot;: &quot;#483D8B&quot; }'&gt;Information&lt;/th&gt;
			&lt;td&gt;0.3%&lt;/td&gt;
		&lt;/tr&gt;
	&lt;/tbody&gt;
&lt;/table&gt;
</code></pre>
</details>
