---
title: Chart and Graph - Pie Chart Parse Direction Vertical working example
language: en
---

<ul>
	<li><a href="simple-en.html">Simple</a></li>
	<li><a href="complex-en.html">Complex</a></li>
	<li><a href="labels-en.html">Labels</a></li>
	<li><a href="numberformat-en.html">Number Format</a></li>
	<li><a href="pie-en.html">Pie</a></li>
	<li><a href="simpleCustomized-en.html">Simple Customized</a></li>
	<li><a href="pieparsevertical-en.html">Pie Chart Parse Direction Vertical</a></li>
</ul>
<hr />

<h2>Default Parsing Table Direction</h2>

<table class="wb-charts wb-charts-pie wb-charts-height-500 wb-charts-decimal-1 wb-charts-percentlegend-true">
	<caption>Default Parsing - Revenues by products and services</caption>
    <thead>
    	<tr>
        	<th></th>
        	<th>Patents</th>
            <th>Trademarks</th>
            <th>Copyrights and Industrial Designs</th>
            <th>Information</th>
        </tr>
    </thead>

    <tbody>
    	<tr>
        	<th>Revenues by products and services</th>
            <td class="wb-charts-color-6B8E23">77.4%</td>
            <td class="wb-charts-color-9ACD32">19.8%</td>
            <td class="wb-charts-color-191970">2.5%</td>
            <td class="wb-charts-color-483D8B">0.3%</td>
        </tr>
    </tbody>
</table>

<hr />

<h2>Vertical Parsing Table Direction</h2>


<table class="wb-charts wb-charts-pie wb-charts-height-500 wb-charts-decimal-1 wb-charts-percentlegend-true wb-charts-parsedirection-y">
	<caption>Vertical Parsing - Revenues by products and services</caption>
	<colgroup><col /></colgroup>
	<colgroup><col /></colgroup>
	<thead>
		<tr>
			<th></th>
			<th>Revenues by products and services</th>
		</tr>
	</thead>
    <tbody>
    	<tr>
        	<th>Patents</th>
            <td class="wb-charts-color-6B8E23">77.4%</td>
        </tr>
    	<tr>
            <th>Trademarks</th>
            <td class="wb-charts-color-9ACD32">19.8%</td>
        </tr>
    	<tr>
            <th>Copyrights and Industrial Designs</th>
            <td class="wb-charts-color-191970">2.5%</td>
        </tr>
    	<tr>
            <th>Information</th>
            <td class="wb-charts-color-483D8B">0.3%</td>
        </tr>
    </tbody>
</table>
