---
title: Chart and Graph - Test - Simple working example
language: en
---


<ul>
	<li><a href="simple-en.html">Simple</a></li>
	<li><a href="complex-en.html">Complex</a></li>
	<li><a href="labels-en.html">Labels</a></li>
	<li><a href="numberformat-en.html">Number Format</a></li>
	<li><a href="pie-en.html">Pie</a></li>
	<li><a href="simpleCustomized-en.html">Simple Customized</a></li>
</ul>
<hr />

<table class="wb-charts wb-charts-area">
	<caption>Some data</caption>
	<thead>
		<tr>
			<th>Column heading for a row heading</th>
			<th>col1</th>
			<th>col2</th>
			<th>col3</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th>Row heading 1</th>
			<td>50</td>
			<td>100</td>
			<td>150</td>
		</tr>
		<tr>
			<th>Row heading 2</th>
			<td>210</td>
			<td>25</td>
			<td>75</td>
		</tr>
		<tr>
			<th>Row heading 3</th>
			<td>1000</td>
			<td>245</td>
			<td>964</td>
		</tr>
	</tbody>
</table>


<hr />

<div id="outputresult"></div>

<hr />

<table class="wb-charts wb-charts-line">
				<caption>Ventes individuelles par catégorie en 2009</caption>
				<thead>
					<tr>
						<td></td>
						<th>nourriture</th>
						<th>auto</th>
						<th>domestiques</th>
						<th>meubles</th>
						<th>cuisine</th>
						<th>bain</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th>Mary</th>
						<td>300</td>
						<td>160</td>
						<td>40</td>
						<td>120</td>
						<td>100</td>
						<td>70</td>
					</tr>
					<tr>
						<th>Tom</th>
						<td>3</td>
						<td>40</td>
						<td>30</td>
						<td>45</td>
						<td>35</td>
						<td>49</td>
					</tr>
					<tr>
						<th>Brad</th>
						<td>10</td>
						<td>180</td>
						<td>10</td>
						<td>85</td>
						<td>70</td>
						<td>79</td>
					</tr>
					<tr>
						<th>Kate</th>
						<td>40</td>
						<td>80</td>
						<td>90</td>
						<td>25</td>
						<td>15</td>
						<td>119</td>
					</tr>
				</tbody>
			</table>


			<table class="wb-charts wb-charts-area">
				<caption>Certaines données</caption>
				<thead>
					<tr>
						<th>En-tète de colonne pour un en-tête de rangée</th>
						<th>col1</th>
						<th>col2</th>
						<th>col3</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th>En-tête de rangée 1</th>
						<td>50</td>
						<td>100</td>
						<td>150</td>
					</tr>
					<tr>
						<th>En-tête de rangée 2</th>
						<td>210</td>
						<td>25</td>
						<td>75</td>
					</tr>
					<tr>
						<th>En-tête de rangée 3</th>
						<td>1000</td>
						<td>245</td>
						<td>964</td>
					</tr>
				</tbody>
			</table>

			<table class="wb-charts wb-charts-bar">
				<caption>Ventes individuelles par catégorie en 2009</caption>
				<thead>
					<tr>
						<td></td>
						<th>nourriture</th>
						<th>auto</th>
						<th>domestiques</th>
						<th>meubles</th>
						<th>cuisine</th>
						<th>bain</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th>Mary</th>
						<td>300</td>
						<td>160</td>
						<td>40</td>
						<td>120</td>
						<td>100</td>
						<td>70</td>
					</tr>
					<tr>
						<th>Tom</th>
						<td>3</td>
						<td>40</td>
						<td>30</td>
						<td>45</td>
						<td>35</td>
						<td>49</td>
					</tr>
					<tr>
						<th>Brad</th>
						<td>10</td>
						<td>180</td>
						<td>10</td>
						<td>85</td>
						<td>70</td>
						<td>79</td>
					</tr>
					<tr>
						<th>Kate</th>
						<td>40</td>
						<td>80</td>
						<td>90</td>
						<td>25</td>
						<td>15</td>
						<td>119</td>
					</tr>
				</tbody>
			</table>

			<table class="wb-charts wb-charts-pie">
				<caption>Ventes individuelles par catégorie en 2009</caption>
				<thead>
					<tr>
						<td></td>
						<th>nourriture</th>
						<th>auto</th>
						<th>domestiques</th>
						<th>meubles</th>
						<th>cuisine</th>
						<th>bain</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th>Mary</th>
						<td>300</td>
						<td>160</td>
						<td>40</td>
						<td>120</td>
						<td>100</td>
						<td>70</td>
					</tr>
					<tr>
						<th>Tom</th>
						<td>3</td>
						<td>40</td>
						<td>30</td>
						<td>45</td>
						<td>35</td>
						<td>49</td>
					</tr>
					<tr>
						<th>Brad</th>
						<td>10</td>
						<td>180</td>
						<td>10</td>
						<td>85</td>
						<td>70</td>
						<td>79</td>
					</tr>
					<tr>
						<th>Kate</th>
						<td>40</td>
						<td>80</td>
						<td>90</td>
						<td>25</td>
						<td>15</td>
						<td>119</td>
					</tr>
				</tbody>
			</table>

			<table class="wb-charts wb-charts-pie">
				<caption>Tableau avec un item a 100%</caption>
				<thead>
					<tr>
						<td></td>
						<th>Value</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th>Mary</th>
						<td>300</td>
					</tr>
				</tbody>
			</table>
