---
{
	"title": "Graphique - Simple",
	"language": "fr",
	"category": "Plugin",
	"description": "Création de graphique simplement a partir d'instruction facile sur le tableau de donnée",
	"tag": "charts",
	"altLangPrefix": "simple"
}
---

<ul>
	<li><a href="simple-en.html">Simple</a></li>
	<li><a href="complex-en.html">Complex</a></li>
	<li><a href="labels-en.html">Labels</a></li>
	<li><a href="labelsandreferencevalue-en.html">Labels and Reference Value</a></li>
	<li><a href="labelsreversetable-en.html">Labels with and without a reversed table</a></li>
	<li><a href="numberformat-en.html">Number Format</a></li>
	<li><a href="pie-en.html">Pie</a></li>
	<li><a href="simplecustomized-en.html">Simple Customized</a></li>
	<li><a href="pieparsevertical-en.html">Pie Chart Parse Direction Vertical</a></li>
	<li><a href="linearparsevertical-en.html">Linear Chart Parse Direction Vertical</a></li>
</ul>
<hr />


<h2>Par défaut</h2>

<p><code>&lt;table class=&quot;wb-charts&quot;&gt;</code></p>

<table class="wb-charts">
	<caption>Nombre de page par objectif principaux et par audience</caption>
	<tr>
		<td></td>
		<th>Éducative</th>
		<th>Tâches</th>
		<th>Navigation</th>
		<th>Soutien</th>
		<th>Information</th>
		<th>Entreprise</th>
	</tr>
	<tr>
		<th>Général</th>
		<td>2</td>
		<td>0</td>
		<td>20</td>
		<td>4</td>
		<td>100</td>
		<td>50</td>
	</tr>
	<tr>
		<th>Étudiants</th>
		<td>2</td>
		<td>2</td>
		<td>1</td>
		<td>5</td>
		<td>50</td>
		<td>0</td>
	</tr>
	<tr>
		<th>Entreprise</th>
		<td>60</td>
		<td>10</td>
		<td>20</td>
		<td>90</td>
		<td>50</td>
		<td>8</td>
	</tr>
	<tr>
		<th>Professionnel</th>
		<td>46</td>
		<td>26</td>
		<td>5</td>
		<td>101</td>
		<td>200</td>
		<td>142</td>
	</tr>

	<tr>
		<th>Avocat</th>
		<td>0</td>
		<td>2</td>
		<td>4</td>
		<td>0</td>
		<td>300</td>
		<td>300</td>
	</tr>
</table>



<h2>Graphique en région</h2>

<p><code>&lt;table class=&quot;wb-charts wb-charts-area&quot;&gt;</code></p>

<table class="wb-charts wb-charts-area">
	<caption>Nombre de page par objectif principaux et par audience</caption>
	<tr>
		<td></td>
		<th>Éducative</th>
		<th>Tâches</th>
		<th>Navigation</th>
		<th>Soutien</th>
		<th>Information</th>
		<th>Entreprise</th>
	</tr>
	<tr>
		<th>Général</th>
		<td>2</td>
		<td>0</td>
		<td>20</td>
		<td>4</td>
		<td>100</td>
		<td>50</td>
	</tr>
	<tr>
		<th>Étudiants</th>
		<td>2</td>
		<td>2</td>
		<td>1</td>
		<td>5</td>
		<td>50</td>
		<td>0</td>
	</tr>
	<tr>
		<th>Entreprise</th>
		<td>60</td>
		<td>10</td>
		<td>20</td>
		<td>90</td>
		<td>50</td>
		<td>8</td>
	</tr>
	<tr>
		<th>Professionnel</th>
		<td>46</td>
		<td>26</td>
		<td>5</td>
		<td>101</td>
		<td>200</td>
		<td>142</td>
	</tr>

	<tr>
		<th>Avocat</th>
		<td>0</td>
		<td>2</td>
		<td>4</td>
		<td>0</td>
		<td>300</td>
		<td>300</td>
	</tr>
</table>



<h2>Graphiques à barres</h2>

<p><code>&lt;table class=&quot;wb-charts wb-charts-bar&quot;&gt;</code></p>

<table class="wb-charts wb-charts-bar">
	<caption>Nombre de page par objectif principaux et par audience</caption>
	<tr>
		<td></td>
		<th>Éducative</th>
		<th>Tâches</th>
		<th>Navigation</th>
		<th>Soutien</th>
		<th>Information</th>
		<th>Entreprise</th>
	</tr>
	<tr>
		<th>Général</th>
		<td>2</td>
		<td>0</td>
		<td>20</td>
		<td>4</td>
		<td>100</td>
		<td>50</td>
	</tr>
	<tr>
		<th>Étudiants</th>
		<td>2</td>
		<td>2</td>
		<td>1</td>
		<td>5</td>
		<td>50</td>
		<td>0</td>
	</tr>
	<tr>
		<th>Entreprise</th>
		<td>60</td>
		<td>10</td>
		<td>20</td>
		<td>90</td>
		<td>50</td>
		<td>8</td>
	</tr>
	<tr>
		<th>Professionnel</th>
		<td>46</td>
		<td>26</td>
		<td>5</td>
		<td>101</td>
		<td>200</td>
		<td>142</td>
	</tr>

	<tr>
		<th>Avocat</th>
		<td>0</td>
		<td>2</td>
		<td>4</td>
		<td>0</td>
		<td>300</td>
		<td>300</td>
	</tr>
</table>




<h2>Graphiques à secteurs</h2>

<p><code>&lt;table class=&quot;wb-charts wb-charts-pie&quot;&gt;</code></p>

<table class="wb-charts wb-charts-pie">
	<caption>Nombre de page par objectif principaux et par audience</caption>
	<tr>
		<td></td>
		<th>Éducative</th>
		<th>Tâches</th>
		<th>Navigation</th>
		<th>Soutien</th>
		<th>Information</th>
		<th>Entreprise</th>
	</tr>
	<tr>
		<th>Général</th>
		<td>2</td>
		<td>0</td>
		<td>20</td>
		<td>4</td>
		<td>100</td>
		<td>50</td>
	</tr>
	<tr>
		<th>Étudiants</th>
		<td>2</td>
		<td>2</td>
		<td>1</td>
		<td>5</td>
		<td>50</td>
		<td>0</td>
	</tr>
	<tr>
		<th>Entreprise</th>
		<td>60</td>
		<td>10</td>
		<td>20</td>
		<td>90</td>
		<td>50</td>
		<td>8</td>
	</tr>
	<tr>
		<th>Professionnel</th>
		<td>46</td>
		<td>26</td>
		<td>5</td>
		<td>101</td>
		<td>200</td>
		<td>142</td>
	</tr>

	<tr>
		<th>Avocat</th>
		<td>0</td>
		<td>2</td>
		<td>4</td>
		<td>0</td>
		<td>300</td>
		<td>300</td>
	</tr>
</table>

<h2>Tableau de données utilisé</h2>

<table>
	<caption>Nombre de page par objectif principaux et par audience</caption>
	<!--<thead>-->
		<tr>
			<td></td>
			<th>Éducative</th>
			<th>Tâches</th>
			<th>Navigation</th>
			<th>Soutien</th>
			<th>Information</th>
			<th>Entreprise</th>
		</tr>
		<!--
		<tr>
			<td>Enseigner à un utilisateur une tâche</td>
			<td>Compléter une tâche par un utilisateur</td>
			<td>Rediriger un utilisateur vers une tâche ou/et un sujet</td>
			<td>Aider un utilisateur ou/et une tâche</td>
			<td>Informer un utilisateur sur un sujet</td>
			<td>Informer un utilisateur à propos de l'entreprise</td>
		</tr>
		
	</thead>
	<tbody>-->
		<tr>
			<th>Général</th>
			<td>2</td>
			<td>0</td>
			<td>20</td>
			<td>4</td>
			<td>100</td>
			<td>50</td>
		</tr>
		<tr>
			<th>Étudiants</th>
			<td>2</td>
			<td>2</td>
			<td>1</td>
			<td>5</td>
			<td>50</td>
			<td>0</td>
		</tr>
		<tr>
			<th>Entreprise</th>
			<td>60</td>
			<td>10</td>
			<td>20</td>
			<td>90</td>
			<td>50</td>
			<td>8</td>
		</tr>
		<tr>
			<th>Professionnel</th>
			<td>46</td>
			<td>26</td>
			<td>5</td>
			<td>101</td>
			<td>200</td>
			<td>142</td>
		</tr>

		<tr>
			<th>Avocat</th>
			<td>0</td>
			<td>2</td>
			<td>4</td>
			<td>0</td>
			<td>300</td>
			<td>300</td>
		</tr>
	<!--</tbody>-->
</table>

<pre><code>&lt;table&gt;
	&lt;caption&gt;Nombre de page par objectif principaux et par audience&lt;/caption&gt;
	&lt;tr&gt;
		&lt;td&gt;&lt;/td&gt;
		&lt;th&gt;Éducative&lt;/th&gt;
		&lt;th&gt;Tâches&lt;/th&gt;
		&lt;th&gt;Navigation&lt;/th&gt;
		&lt;th&gt;Soutien&lt;/th&gt;
		&lt;th&gt;Information&lt;/th&gt;
		&lt;th&gt;Entreprise&lt;/th&gt;
	&lt;/tr&gt;
	&lt;tr&gt;
		&lt;th&gt;Général&lt;/th&gt;
		&lt;td&gt;2&lt;/td&gt;
		&lt;td&gt;0&lt;/td&gt;
		&lt;td&gt;20&lt;/td&gt;
		&lt;td&gt;4&lt;/td&gt;
		&lt;td&gt;100&lt;/td&gt;
		&lt;td&gt;50&lt;/td&gt;
	&lt;/tr&gt;
	&lt;tr&gt;
		&lt;th&gt;Étudiants&lt;/th&gt;
		&lt;td&gt;2&lt;/td&gt;
		&lt;td&gt;2&lt;/td&gt;
		&lt;td&gt;1&lt;/td&gt;
		&lt;td&gt;5&lt;/td&gt;
		&lt;td&gt;50&lt;/td&gt;
		&lt;td&gt;0&lt;/td&gt;
	&lt;/tr&gt;
	&lt;tr&gt;
		&lt;th&gt;Entreprise&lt;/th&gt;
		&lt;td&gt;60&lt;/td&gt;
		&lt;td&gt;10&lt;/td&gt;
		&lt;td&gt;20&lt;/td&gt;
		&lt;td&gt;90&lt;/td&gt;
		&lt;td&gt;50&lt;/td&gt;
		&lt;td&gt;8&lt;/td&gt;
	&lt;/tr&gt;
	&lt;tr&gt;
		&lt;th&gt;Professionnel&lt;/th&gt;
		&lt;td&gt;46&lt;/td&gt;
		&lt;td&gt;26&lt;/td&gt;
		&lt;td&gt;5&lt;/td&gt;
		&lt;td&gt;101&lt;/td&gt;
		&lt;td&gt;200&lt;/td&gt;
		&lt;td&gt;142&lt;/td&gt;
	&lt;/tr&gt;

	&lt;tr&gt;
		&lt;th&gt;Avocat&lt;/th&gt;
		&lt;td&gt;0&lt;/td&gt;
		&lt;td&gt;2&lt;/td&gt;
		&lt;td&gt;4&lt;/td&gt;
		&lt;td&gt;0&lt;/td&gt;
		&lt;td&gt;300&lt;/td&gt;
		&lt;td&gt;300&lt;/td&gt;
	&lt;/tr&gt;
&lt;/table&gt;</code></pre>

