---
{
	"title": "Chart and Graph - Simple Customized",
	"language": "en",
	"category": "Plugin",
	"description": "Dynamically generates a calendar interface for navigating a list of events.",
	"tag": "charts",
	"fr": "simplecustomized"
}
---

<ul>
	<li><a href="simple-en.html">Simple</a></li>
	<li><a href="complex-en.html">Complex</a></li>
	<li><a href="labels-en.html">Labels</a></li>
	<li><a href="labelsandreferencevalue-en.html">Labels and Reference Value</a></li>
	<li><a href="labelsreversetable-en.html">Labels with and without a reversed table</a></li>
	<li><a href="numberformat-en.html">Number Format</a></li>
	<li><a href="pie-en.html">Pie</a></li>
	<li><a href="simpleCustomized-en.html">Simple Customized</a></li>
	<li><a href="pieparsevertical-en.html">Pie Chart Parse Direction Vertical</a></li>
	<li><a href="linearparsevertical-en.html">Linear Chart Parse Direction Vertical</a></li>
</ul>
<hr />



<h2 id="figure16">Figure 1</h2>



<p>Json Parameter</p>
<pre><code>{
	"yaxis": {
		"max": 5000000,
		"min": 0
	}
}
</code></pre>

<pre><code>&lt;table class="wb-charts wb-charts-bar wb-charts-height-450" data-wet-boew='{ "yaxis": { "max": 5000000, "min": 0} }'&gt;</code></pre>

<table class="wb-charts wb-charts-bar wb-charts-height-450" data-wet-boew='{ "yaxis": { "max": 5000000, "min": 0} }'>
	<caption>Internet Traffic</caption>
	<colgroup><col /></colgroup>
	<colgroup><col /><col /><col /></colgroup>
	<thead>
		<tr>
			<th></th>
			<th>2008-09</th>
			<th>2009-10</th>
			<th>2010-11</th>
		</tr>
	</thead>

	<tbody>
		<tr>
			<th data-wet-boew='{ "color":"#191970" }'>Patent Searches</th>
			<td>1995068</td>
			<td>2885113</td>
			<td>3794772</td>
		</tr>
		<tr>
			<th data-wet-boew='{ "color":"#483D8B" }'>Trademark Searches</th>
			<td>2767011</td>
			<td>2798982</td>
			<td>2889591</td>
		</tr>
		<tr>
			<th data-wet-boew='{ "color":"#A9A9A9" }'>Home Page Access</th>
			<td>1072753</td>
			<td>1151086</td>
			<td>915725</td>
		</tr>
		<tr>
			<th data-wet-boew='{ "color":"#696969" }'>Copyright Searches</th>
			<td>191424</td>
			<td>223449</td>
			<td>229687</td>
		</tr>
		<tr>
			<th data-wet-boew='{ "color":"#C0C0C0" }'>Commissioner's Decision Searches</th>
			<td>18815</td>
			<td>26609</td>
			<td>24820</td>
		</tr>
		<tr>
			<th data-wet-boew='{ "color":"#6B8E23" }'>Industrial Design</th>
			<td>76331</td>
			<td>78339</td>
			<td>66283</td>
		</tr>
	</tbody>
</table>

<details>
	<summary>Colors series parameters set on <code>&lt;th&gt;</code> with the <code>data-wet-boew</code> attribute</summary>


<pre><code>&lt;tr&gt;
	&lt;th <strong>data-wet-boew='{ &quot;color&quot;:&quot;#191970&quot; }'</strong>&gt;Patent Searches&lt;/th&gt;
	&lt;td&gt;1995068&lt;/td&gt;
	&lt;td&gt;2885113&lt;/td&gt;
	&lt;td&gt;3794772&lt;/td&gt;
&lt;/tr&gt;
&lt;tr&gt;
	&lt;th <strong>data-wet-boew='{ &quot;color&quot;:&quot;#483D8B&quot; }'</strong>&gt;Trademark Searches&lt;/th&gt;
	&lt;td&gt;2767011&lt;/td&gt;
	&lt;td&gt;2798982&lt;/td&gt;
	&lt;td&gt;2889591&lt;/td&gt;
&lt;/tr&gt;
&lt;tr&gt;
	&lt;th <strong>data-wet-boew='{ &quot;color&quot;:&quot;#A9A9A9&quot; }'</strong>&gt;Home Page Access&lt;/th&gt;
	&lt;td&gt;1072753&lt;/td&gt;
	&lt;td&gt;1151086&lt;/td&gt;
	&lt;td&gt;915725&lt;/td&gt;
&lt;/tr&gt;
&lt;tr&gt;
	&lt;th <strong>data-wet-boew='{ &quot;color&quot;:&quot;#696969&quot; }'</strong>&gt;Copyright Searches&lt;/th&gt;
	&lt;td&gt;191424&lt;/td&gt;
	&lt;td&gt;223449&lt;/td&gt;
	&lt;td&gt;229687&lt;/td&gt;
&lt;/tr&gt;
&lt;tr&gt;
	&lt;th <strong>data-wet-boew='{ &quot;color&quot;:&quot;#C0C0C0&quot; }'</strong>&gt;Commissioner's Decision Searches&lt;/th&gt;
	&lt;td&gt;18815&lt;/td&gt;
	&lt;td&gt;26609&lt;/td&gt;
	&lt;td&gt;24820&lt;/td&gt;
&lt;/tr&gt;
&lt;tr&gt;
	&lt;th <strong>data-wet-boew='{ &quot;color&quot;:&quot;#6B8E23&quot; }'</strong>&gt;Industrial Design&lt;/th&gt;
	&lt;td&gt;76331&lt;/td&gt;
	&lt;td&gt;78339&lt;/td&gt;
	&lt;td&gt;66283&lt;/td&gt;
&lt;/tr&gt;</code></pre>
</details>


<h2>Figure 2</h2>


<p>Json Parameter</p>
<pre><code>{
	"yaxis": {
		"max": 100000
	}
}
</code></pre>

<pre><code>&lt;table class="wb-charts wb-charts-bar wb-charts-height-450" data-wet-boew='{ "yaxis": { "max": 100000} }'&gt;</code></pre>


<table class="wb-charts wb-charts-bar wb-charts-height-350" data-wet-boew='{ "yaxis": { "max": 100000} }'>
	<caption>Enquiries</caption>
	<thead>
		<tr>
			<th></th>
			<th>2008-09</th>
			<th>2009-10</th>
			<th>2010-11</th>
		</tr>
	</thead>

	<tbody>
		<tr>
			<th data-wet-boew='{ "color":"#191970" }'>Enquiries</th>
			<td>72189</td>
			<td>72297</td>
			<td>70387</td>
		</tr>
		<tr>
			<th data-wet-boew='{ "color":"#FF2222" }' class="wb-charts-line">Threshold</th>
			<td colspan="2">70000</td>
			<td>75000</td>
		</tr>
	</tbody>
</table>


<details>
	<summary>Source code of the <code>tbody</code> element</summary>
<pre><code>&lt;tbody&gt;
	&lt;tr&gt;
		&lt;th <strong>data-wet-boew='{ &quot;color&quot;:&quot;#191970&quot; }'</strong>&gt;Enquiries&lt;/th&gt;
		&lt;td&gt;72189&lt;/td&gt;
		&lt;td&gt;72297&lt;/td&gt;
		&lt;td&gt;70387&lt;/td&gt;
	&lt;/tr&gt;
	&lt;tr&gt;
		&lt;th <strong>data-wet-boew='{ &quot;color&quot;:&quot;#FF2222&quot; }'</strong> <em>class=&quot;wb-charts-line&quot;</em>&gt;Threshold&lt;/th&gt;
		&lt;td colspan=&quot;2&quot;&gt;70000&lt;/td&gt;
		&lt;td&gt;75000&lt;/td&gt;
	&lt;/tr&gt;
&lt;/tbody&gt;</code></pre>

<p>The <code><em>class=&quot;wb-charts-line&quot;</em></code> have no effect because the global charts options is set to bar chart. To have the desired effect you need to set the graph type for each individual series like the next charts example.</p>

</details>




<h2>Figure 2 (reversed table)</h2>

<p>Json Parameter</p>
<pre><code>{
	"yaxis": {
		"max": 100000
	},
	"colors": [ "#191970", "#FF2222" ]
}
</code></pre>

<pre><code>&lt;table class="wb-charts wb-charts-height-450 wb-charts-nolegend wb-charts-parsedirection-y" data-wet-boew='{ "yaxis": { "max": 100000}, "colors": [ "#191970", "#FF2222" ] }'&gt;</code></pre>


<table class="wb-charts wb-charts-height-350 wb-charts-nolegend wb-charts-parsedirection-y" data-wet-boew='{ "yaxis": { "max": 100000}, "colors": [ "#191970", "#FF2222" ] }'>
	<caption>Enquiries</caption>
	<thead>
		<tr>
			<th></th>
			<th class="wb-charts-bar">Enquiries</th>
			<th class="wb-charts-line">Threshold</th>
		</tr>
	</thead>

	<tbody>
		<tr>
			<th>2008-09</th>
			<td>72189</td>
			<td rowspan="2">70000</td>
		</tr>

		<tr>
			<th>2009-10</th>
			<td>72297</td>
		</tr>

		<tr>
			<th>2010-11</th>
			<td>70387</td>
			<td>75000</td>
		</tr>
	</tbody>
</table>


<details>
	<summary>Source code of the <code>thead</code> element</summary>
<pre><code>&lt;thead&gt;
	&lt;tr&gt;
		&lt;th&gt;&lt;/th&gt;
		&lt;th <strong>class=&quot;wb-charts-bar&quot;</strong>&gt;Enquiries&lt;/th&gt;
		&lt;th <strong>class=&quot;wb-charts-line&quot;</strong>&gt;Threshold&lt;/th&gt;
	&lt;/tr&gt;
&lt;/thead&gt;</code></pre>
</details>


