---
title: Chart and Graph - Simple Customized working example
language: en
---

<ul>
	<li><a href="simple-en.html">Simple</a></li>
	<li><a href="complex-en.html">Complex</a></li>
	<li><a href="labels-en.html">Labels</a></li>
	<li><a href="numberformat-en.html">Number Format</a></li>
	<li><a href="pie-en.html">Pie</a></li>
	<li><a href="simpleCustomized-en.html">Simple Customized</a></li>
</ul>
<hr />


<h2 id="figure16">Figure 1</h2>

<table class="wb-charts wb-charts-bar wb-charts-height-450 wb-charts-width-550 wb-charts-topvalue-4000000 wb-charts-bottomvalue-0">
	<caption>Internet Traffic</caption>
    <thead>
    	<tr>
        	<th></th>
        	<th>2008-09</th>
            <th>2009-10</th>
            <th>2010-11</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <th class="wb-charts-color-midnightblue">Patent Searches</th>
            <td>1995068</td>
            <td>2885113</td>
            <td>3794772</td>
        </tr>
        <tr>
            <th class="wb-charts-color-slateblue">Trademark Searches</th>
            <td>2767011</td>
            <td>2798982</td>
            <td>2889591</td>
        </tr>
        <tr>
            <th class="wb-charts-color-darkgray">Home Page Access</th>
            <td>1072753</td>
            <td>1151086</td>
            <td>915725</td>
        </tr>
        <tr>
            <th class="wb-charts-color-dimgray">Copyright Searches</th>
            <td>191424</td>
            <td>223449</td>
            <td>229687</td>
        </tr>
        <tr>
            <th class="wb-charts-color-silver">Commissioner's Decision Searches</th>
            <td>18815</td>
            <td>26609</td>
            <td>24820</td>
        </tr>
        <tr>
            <th class="wb-charts-color-olivedrab">Industrial Design</th>
            <td>76331</td>
            <td>78339</td>
            <td>66283</td>
        </tr>
	</tbody>
</table>

<details>
	<summary>CSS class parameterss</summary>

	<p>Table element (table)</p>
	<ul>
		<li>wb-charts</li>
		<li>wb-charts-bar</li>
		<li>wb-charts-height-450</li>
		<li>wb-charts-width-550</li>
		<li>wb-charts-topvalue-4000000</li>
		<li>wb-charts-bottomvalue-0</li>
	</ul>

    <p>Table heading element (th) associated to each bar</p>

	<ul>
		<li>wb-charts-color-midnightblue</li>
		<li>wb-charts-color-slateblue</li>
		<li>wb-charts-color-darkgray</li>
		<li>wb-charts-color-dimgray</li>
		<li>wb-charts-color-silver</li>
		<li>wb-charts-color-olivedrab</li>
	</ul>
</details>


<h2>Figure 2</h2>

<table class="wb-charts wb-charts-bar wb-charts-height-350 wb-charts-width-550 wb-charts-topvalue-80000 wb-charts-bottomvalue-0">
	<caption>Enquiries</caption>
    <thead>
    	<tr>
        	<th></th>
            <th>2008-09</th>
            <th>2009-10</th>
            <th>2010-11</th>
        </tr>
    </thead>

    <tbody>
    	<tr>
        	<th class="wb-charts-color-midnightblue">Enquiries</th>
            <td>72189</td>
            <td>72297</td>
            <td>70387</td>
        </tr>
    </tbody>
</table>


<details>
	<summary>CSS class parameterss</summary>

	<p>Table element (table)</p>
	<ul>
		<li>wb-charts</li>
		<li>wb-charts-bar</li>
		<li>wb-charts-height-350</li>
		<li>wb-charts-width-550</li>
		<li>wb-charts-topvalue-80000</li>
		<li>wb-charts-bottomvalue-0</li>
	</ul>

    <p>Table heading element (th) associated to each bar</p>

	<ul>
		<li>wb-charts-color-midnightblue</li>
	</ul>
</details>




<h2>Figure 2 (reversed table)</h2>

<table class="wb-charts wb-charts-bar wb-charts-height-350 wb-charts-width-550 wb-charts-topvalue-80000 wb-charts-bottomvalue-0 wb-charts-parsedirectionremoved-y wb-charts-nolegend-true">
	<caption>Enquiries</caption>
	<thead>
    	<tr>
        	<th></th>
        	<th class="wb-charts-color-midnightblue">Enquiries</th>
        </tr>
    </thead>

    <tbody>
    	<tr>
            <th>2008-09</th>
            <td>72189</td>
        </tr>

    	<tr>
            <th>2009-10</th>
            <td>72297</td>
        </tr>

    	<tr>
            <th>2010-11</th>
            <td>70387</td>
        </tr>
    </tbody>
</table>


<details>
	<summary>CSS Class Parameter</summary>

	<p>Table element (table)</p>
	<ul>
		<li>wb-charts</li>
		<li>wb-charts-bar</li>
		<li>wb-charts-height-350</li>
		<li>wb-charts-width-550</li>
		<li>wb-charts-topvalue-80000</li>
		<li>wb-charts-bottomvalue-0</li>
		<li>wb-charts-nolegend-true</li>
		<li>wb-charts-parsedirectionremoved-y</li>
	</ul>

    <p>Cell heading element (th) associated to each bar</p>

	<ul>
		<li>wb-charts-color-midnightblue</li>
	</ul>
</details>



<h2>Figure 3</h2>

<table class="wb-charts wb-charts-bar wb-charts-height-300 wb-charts-width-550 wb-charts-topvalue-50 wb-charts-bottomvalue-0 wb-charts-nocutaxis-true">
	<caption>Employees by Age Group</caption>
    <thead>
    	<tr>
        	<th></th>
            <th>March 2009</th>
            <th>March 2010</th>
            <th>March 2011</th>
        </tr>
    </thead>
    <tbody>
    	<tr>
        	<th class="wb-charts-color-midnightblue">&lt; 35 Years</th>
            <td>30.5</td>
            <td>30.4</td>
            <td>27.3</td>
        </tr>
        <tr>
        	<th class="wb-charts-color-slateblue">35 to 49 Years</th>
            <td>44.6</td>
            <td>42.8</td>
            <td>47.4</td>
        </tr>
        <tr>
        	<th class="wb-charts-color-darkgray">50+ Years</th>
            <td>24.9</td>
            <td>26.8</td>
            <td>25.3</td>
        </tr>
    </tbody>
</table>


<details>
	<summary>CSS class parameters</summary>

	<p>Table element (table)</p>
	<ul>
		<li>wb-charts</li>
		<li>wb-charts-bar</li>
		<li>wb-charts-height-300</li>
		<li>wb-charts-width-550</li>
		<li>wb-charts-topvalue-50</li>
		<li>wb-charts-bottomvalue-0</li>
	</ul>

    <p>Table heading element (th) associated to each bar</p>

	<ul>
		<li>wb-charts-color-midnightblue</li>
		<li>wb-charts-color-slateblue</li>
		<li>wb-charts-color-darkgray</li>
	</ul>
</details>





<h3>Figure 4</h3>

<table class="wb-charts wb-charts-bar wb-charts-height-350 wb-charts-width-550 wb-charts-topvalue-1200 wb-charts-bottomvalue-0">
	<caption>Total Employees</caption>
    <thead>
    	<tr>
        	<th></th>
            <th>March 2009</th>
            <th>March 2010</th>
            <th>March 2011</th>
        </tr>
    </thead>
    <tbody>
    	<tr>
        	<th class="wb-charts-color-midnightblue">Total Employees</th>
            <td>1080</td>
            <td>1102</td>
            <td>1056</td>
        </tr>
    </tbody>
</table>



<details>
	<summary>CSS class parameters</summary>

	<p>Table element (table)</p>
	<ul>
		<li>wb-charts</li>
		<li>wb-charts-bar</li>
		<li>wb-charts-height-350</li>
		<li>wb-charts-width-550</li>
		<li>wb-charts-topvalue-1200</li>
		<li>wb-charts-bottomvalue-0</li>
	</ul>

    <p>Table heading element (th) associated to each bar</p>

	<ul>
		<li>wb-charts-color-midnightblue</li>
	</ul>
</details>




<h2>Figure 5</h2>


<table class="wb-charts wb-charts-bar wb-charts-height-300 wb-charts-width-550 wb-charts-topvalue-700 wb-charts-bottomvalue-0">
	<caption>Employees by Gender</caption>
    <thead>
    	<tr>
        	<th></th>
            <th>March 2009</th>
            <th>March 2010</th>
            <th>March 2011</th>
        </tr>
    </thead>

    <tbody>
    	<tr>
        	<th class="wb-charts-color-midnightblue">Male</th>
            <td>490</td>
            <td>496</td>
            <td>494</td>
        </tr>
        <tr>
        	<th class="wb-charts-color-slateblue">Female</th>
            <td>590</td>
            <td>606</td>
            <td>562</td>
        </tr>
    </tbody>
</table>

<details>
	<summary>CSS class parameters</summary>

	<p>Table element (table)</p>
	<ul>
		<li>wb-charts</li>
		<li>wb-charts-bar</li>
		<li>wb-charts-height-300</li>
		<li>wb-charts-width-550</li>
		<li>wb-charts-topvalue-700</li>
		<li>wb-charts-bottomvalue-0</li>
	</ul>

    <p>Table heading element (th) associated to each bar</p>

	<ul>
		<li>wb-charts-color-midnightblue</li>
		<li>wb-charts-color-slateblue</li>
	</ul>
</details>


<h2>Figure 6</h2>

<table class="wb-charts wb-charts-pie wb-charts-height-500 wb-charts-decimal-1 wb-charts-percentlegend-true">
	<caption>Revenues by products and services</caption>
    <thead>
    	<tr>
        	<th></th>
        	<th>Patents</th>
            <th>Trademarks</th>
            <th>Copyrights and Industrial Designs</th>
            <th>Information</th>
        </tr>
    </thead>

    <tbody>
    	<tr>
        	<th>Revenues by products and services</th>
            <td class="wb-charts-color-olivedrab">77.4%</td>
            <td class="wb-charts-color-yellowgreen">19.8%</td>
            <td class="wb-charts-color-midnightblue">2.5%</td>
            <td class="wb-charts-color-slateblue">0.3%</td>
        </tr>
    </tbody>
</table>



<details>
	<summary>CSS class parameters</summary>

	<p>Table element (table)</p>
	<ul>
		<li>wb-charts</li>
		<li>wb-charts-pie</li>
		<li>wb-charts-height-500</li>
		<li>wb-charts-decimal-1</li>
		<li>wb-charts-percentlegend-true</li>
	</ul>

    <p>Table heading element (th) associated to each bar</p>
	<ul>
		<li>wb-charts-color-olivedrab</li>
		<li>wb-charts-color-yellowgreen</li>
		<li>wb-charts-color-midnightblue</li>
		<li>wb-charts-color-slateblue</li>
	</ul>
</details>

