---
{
	"title": "Archived - Archived information",
	"language": "en",
	"category": "Other",
	"description": "Helps users identify Web pages that have been archived online.",
	"tag": "archived",
	"parentdir": "archived",
	"altLangPrefix": "archived",
	"css": ["demo/archived"],
	"dateModified": "2014-07-19"
}
---
<span class="wb-prettify all-pre"></span>

<section id="archived" class="alert alert-warning wb-inview" data-inview="archived-bnr">
	<h2>Archived information</h2>
	<p>The <a href="http://www.tbs-sct.gc.ca/pol/doc-eng.aspx?id=24227">Standard on Web Usability</a> replaces this content. This content is archived because Common Look and Feel 2.0 Standards have been rescinded.</p>
	<p>Archived information is provided for reference, research or recordkeeping purposes. It is not subject to the Government of Canada Web Standards and has not been altered or updated since it was archived. Please contact us to request a format other than those available.</p>
	<details class="mrgn-tp-md">
		<summary>View code</summary>
		<section>
			<h3>HTML</h3>
			<pre><code>&lt;section id=&quot;archived&quot; class=&quot;alert alert-warning wb-inview&quot; data-inview=&quot;archived-bnr&quot;&gt;
	&lt;h2&gt;Archived information&lt;/h2&gt;
	&lt;p&gt;The &lt;a href=&quot;http://www.tbs-sct.gc.ca/pol/doc-eng.aspx?id=24227&quot;&gt;Standard on Web Usability&lt;/a&gt; replaces this content. This content is archived because Common Look and Feel 2.0 Standards have been rescinded.&lt;/p&gt;
	&lt;p&gt;Archived information is provided for reference, research or recordkeeping purposes. It is not subject to the Government of Canada Web Standards and has not been altered or updated since it was archived. Please contact us to request a format other than those available.&lt;/p&gt;
&lt;/section&gt;

&lt;section id=&quot;archived-bnr&quot; class=&quot;wb-overlay modal-content overlay-def wb-bar-t&quot;&gt;
	&lt;header&gt;
		&lt;h2 class=&quot;wb-inv&quot;&gt;Archived&lt;/h2&gt;
	&lt;/header&gt;
	&lt;p&gt;&lt;a href=&quot;#archived&quot;&gt;This page has been archived on the Web.&lt;/a&gt;&lt;/p&gt;
&lt;/section&gt;</code></pre>
		</section>

		<section>
			<h3>CSS</h3>
			<pre><code>#archived-bnr {
	background-color: #fd0;
}

#archived-bnr p {
	margin: 0;
	text-align: center;
}

#archived-bnr a {
	color: #000;
	display: block;
	font-weight: 700;
	padding: 0.75em 44px;
	text-decoration: underline;
}

#archived-bnr .overlay-close {
	color: #000;
}</code></pre>
		</section>
	</details>
</section>

<section id="archived-bnr" class="wb-overlay modal-content overlay-def wb-bar-t">
	<header>
		<h2 class="wb-inv">Archived</h2>
	</header>
	<p><a href="#archived">This page has been archived on the Web.</a></p>
</section>

<section>
	<h2>Example section</h2>
	<p>Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text.</p>
	<p>Different example text. Different example text. Different example text. Different example text. Different example text. Different example text. Different example text. Different example text.</p>
	<p>Other example text. Other example text. Other example text. Other example text. Other example text. Other example text. Other example text. Other example text. Other example text. Other example text. Other example text. Other example text.</p>
	<p>Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text.</p>
	<p>Different example text. Different example text. Different example text. Different example text. Different example text. Different example text. Different example text. Different example text.</p>
	<p>Other example text. Other example text. Other example text. Other example text. Other example text. Other example text. Other example text. Other example text. Other example text. Other example text. Other example text. Other example text.</p>
	<p>Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text.</p>
	<p>Different example text. Different example text. Different example text. Different example text. Different example text. Different example text. Different example text. Different example text.</p>
	<p>Other example text. Other example text. Other example text. Other example text. Other example text. Other example text. Other example text. Other example text. Other example text. Other example text. Other example text. Other example text.</p>
	<p>Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text.</p>
	<p>Different example text. Different example text. Different example text. Different example text. Different example text. Different example text. Different example text. Different example text.</p>
	<p>Other example text. Other example text. Other example text. Other example text. Other example text. Other example text. Other example text. Other example text. Other example text. Other example text. Other example text. Other example text.</p>
	<p>Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text.</p>
	<p>Different example text. Different example text. Different example text. Different example text. Different example text. Different example text. Different example text. Different example text.</p>
	<p>Other example text. Other example text. Other example text. Other example text. Other example text. Other example text. Other example text. Other example text. Other example text. Other example text. Other example text. Other example text.</p>
	<p>Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text.</p>
	<p>Different example text. Different example text. Different example text. Different example text. Different example text. Different example text. Different example text. Different example text.</p>
	<p>Other example text. Other example text. Other example text. Other example text. Other example text. Other example text. Other example text. Other example text. Other example text. Other example text. Other example text. Other example text.</p>
	<p>Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text.</p>
	<p>Different example text. Different example text. Different example text. Different example text. Different example text. Different example text. Different example text. Different example text.</p>
	<p>Other example text. Other example text. Other example text. Other example text. Other example text. Other example text. Other example text. Other example text. Other example text. Other example text. Other example text. Other example text.</p>
	<p>Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text.</p>
	<p>Different example text. Different example text. Different example text. Different example text. Different example text. Different example text. Different example text. Different example text.</p>
	<p>Other example text. Other example text. Other example text. Other example text. Other example text. Other example text. Other example text. Other example text. Other example text. Other example text. Other example text. Other example text.</p>
	<p>Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text.</p>
	<p>Different example text. Different example text. Different example text. Different example text. Different example text. Different example text. Different example text. Different example text.</p>
</section>
