---
{
	"title": "ARCHIVÉE - Contenu archivé",
	"language": "fr",
	"category": "Autre",
	"description": "Ajoute un avis d'archivage à une page Web.",
	"tag": "archived",
	"en": "archived"
}
---
<style>
.pg-banner {
	display: none;
}
.pg-banner.out {
	background-color: #c00;
}
.pg-banner.out a {
	color: #fff;
	text-decoration: underline;
	font-weight: 700;
}
#archived {
	background-color: #ffc;
	border: 1px solid #c00;
}
#archived p {
	padding-top: 10px;
	padding-bottom: 10px;
}
#archived h2 {
	background-color: #c00;
	color: #fff;
	margin: 0;
	padding: 2px 10px 2px 10px;
}
</style>
<p><span class="glyphicon glyphicon-warning-sign" title="Avertissement"></span> La <a href="http://www.tbs-sct.gc.ca/pol/doc-fra.aspx?id=24227">Norme sur la facilité d'emploi des sites Web</a> remplace ce contenu. Cette page Web a été archivée parce que les Normes sur la normalisation des sites Internet 2.0 ont étés annulées.</p>

<section id="archived" class="archive wb-inview">
	<h2 class="no-gutter">Contenu archivé</h2>
	<p class="col-md-12">L’information dont il est indiqué qu’elle est archivée est fournie à des fins de référence, de recherche ou de tenue de documents. Elle n’est pas assujettie aux normes Web du gouvernement du Canada et elle n’a pas été modifiée ou mise à jour depuis son archivage. Pour obtenir cette information dans un autre format, veuillez communiquer avec nous.</p>
	<p class="pg-banner"><a href="#archived">Cette page Web a été archivée dans le Web.</a></p>
</section>

<section>
	<h2>Lorem ipsum dolor sit amet</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, quisquam, optio corporis incidunt ipsa quaerat repellendus consequatur natus accusamus sapiente! Nobis fugit atque dolor mollitia doloremque! Veritatis ea consectetur ut.</p>
	<p>Omnis, ex facilis vel quas ab! Perspiciatis, asperiores, quod repudiandae ad aperiam rem impedit eos quibusdam hic in omnis deleniti autem quos quaerat accusantium esse minus tempora dolore? Ab, quas?</p>
	<p>Harum, nulla, consequuntur, sed, earum voluptate omnis laudantium necessitatibus sint totam id beatae corrupti nisi animi provident illo praesentium reprehenderit in quis quod itaque repellendus dolor vel. Vitae, reiciendis, voluptatibus!</p>
	<p>Inventore, aut, ea quisquam quis dignissimos sed illo nihil assumenda eaque perferendis optio magnam repellat pariatur maxime accusamus deserunt possimus modi neque sunt debitis nesciunt at esse odit commodi dolorum.</p>
	<p>Provident, ipsa laudantium necessitatibus hic quibusdam omnis vero quidem quasi molestias deleniti voluptatem est maiores. Ipsa, pariatur, corporis saepe deleniti quisquam accusantium tempora sapiente error quis expedita nam eos ducimus!</p>
	<p>Rerum fugiat omnis id mollitia commodi tempore quibusdam modi. Minima ipsa magnam minus obcaecati accusamus! Vitae, quam ratione deleniti voluptates consequuntur ipsum earum quibusdam possimus voluptatibus dignissimos nihil officia adipisci.</p>
	<p>Laboriosam, velit, id, tempora omnis atque voluptatem quo tempore est ipsam illo consequatur distinctio sed illum? Architecto, reprehenderit, alias incidunt quod in numquam rerum! Corporis ducimus dicta quod ab at.</p>
	<p>Explicabo, magni, dicta assumenda dignissimos sunt consequatur aut pariatur saepe cupiditate nulla nemo nam? Qui, fugiat, reiciendis, hic sint optio minus eos cum ut et blanditiis quaerat consectetur ipsa mollitia.</p>
	<p>Quisquam, numquam, veniam, minus vero doloremque delectus corporis ducimus a quo aliquid fugit quos magni omnis voluptatibus in accusantium ipsa odit quia ut eum quae velit consequuntur iure adipisci hic.</p>
	<p>Nostrum, ab aspernatur impedit odio explicabo? Doloremque, quos, corporis ut quibusdam aperiam inventore fugiat sunt minima iure dolorum facere molestiae similique quas itaque repellendus! Facere, nam quas blanditiis aperiam rem?</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, quisquam, optio corporis incidunt ipsa quaerat repellendus consequatur natus accusamus sapiente! Nobis fugit atque dolor mollitia doloremque! Veritatis ea consectetur ut.</p>
	<p>Omnis, ex facilis vel quas ab! Perspiciatis, asperiores, quod repudiandae ad aperiam rem impedit eos quibusdam hic in omnis deleniti autem quos quaerat accusantium esse minus tempora dolore? Ab, quas?</p>
	<p>Harum, nulla, consequuntur, sed, earum voluptate omnis laudantium necessitatibus sint totam id beatae corrupti nisi animi provident illo praesentium reprehenderit in quis quod itaque repellendus dolor vel. Vitae, reiciendis, voluptatibus!</p>
	<p>Inventore, aut, ea quisquam quis dignissimos sed illo nihil assumenda eaque perferendis optio magnam repellat pariatur maxime accusamus deserunt possimus modi neque sunt debitis nesciunt at esse odit commodi dolorum.</p>
	<p>Provident, ipsa laudantium necessitatibus hic quibusdam omnis vero quidem quasi molestias deleniti voluptatem est maiores. Ipsa, pariatur, corporis saepe deleniti quisquam accusantium tempora sapiente error quis expedita nam eos ducimus!</p>
	<p>Rerum fugiat omnis id mollitia commodi tempore quibusdam modi. Minima ipsa magnam minus obcaecati accusamus! Vitae, quam ratione deleniti voluptates consequuntur ipsum earum quibusdam possimus voluptatibus dignissimos nihil officia adipisci.</p>
	<p>Laboriosam, velit, id, tempora omnis atque voluptatem quo tempore est ipsam illo consequatur distinctio sed illum? Architecto, reprehenderit, alias incidunt quod in numquam rerum! Corporis ducimus dicta quod ab at.</p>
	<p>Explicabo, magni, dicta assumenda dignissimos sunt consequatur aut pariatur saepe cupiditate nulla nemo nam? Qui, fugiat, reiciendis, hic sint optio minus eos cum ut et blanditiis quaerat consectetur ipsa mollitia.</p>
	<p>Quisquam, numquam, veniam, minus vero doloremque delectus corporis ducimus a quo aliquid fugit quos magni omnis voluptatibus in accusantium ipsa odit quia ut eum quae velit consequuntur iure adipisci hic.</p>
	<p>Nostrum, ab aspernatur impedit odio explicabo? Doloremque, quos, corporis ut quibusdam aperiam inventore fugiat sunt minima iure dolorum facere molestiae similique quas itaque repellendus! Facere, nam quas blanditiis aperiam rem?</p>
</section>
