@charset "utf-8";
/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt
 */
div.cal-cnt .cal-header {
  background: #333;
  color: #FFF;
  font-weight: bold;
}
div.cal-cnt .cal-nextmonth a:link, div.cal-cnt .cal-nextmonth a:visited, div.cal-cnt .cal-prevmonth a:link, div.cal-cnt .cal-prevmonth a:visited {
  border: 1px solid #333;
}
div.cal-cnt .cal-nextmonth a:hover, div.cal-cnt .cal-nextmonth a:focus, div.cal-cnt .cal-nextmonth a:active, div.cal-cnt .cal-prevmonth a:hover, div.cal-cnt .cal-prevmonth a:focus, div.cal-cnt .cal-prevmonth a:active {
  color: #FFF;
  border: 1px solid #FFF;
}
div.cal-cnt .cal-goto-link a:link, div.cal-cnt .cal-goto-link a:visited {
  color: #FFF !important;
}
div.cal-cnt .cal-goto-link a:hover, div.cal-cnt .cal-goto-link a:focus, div.cal-cnt .cal-goto-link a:active {
  color: #36C !important;
  background-color: #FFF;
}
div.cal-cnt .cal-goto legend {
  color: #FFF;
}

.ui-mobile-viewport div.cal-cnt .cal-nextmonth a:link, .ui-mobile-viewport .cal-nextmonth a:visited, .ui-mobile-viewport .cal-nextmonth a:hover, .ui-mobile-viewport .cal-prevmonth a:link, .ui-mobile-viewport .cal-prevmonth a:visited, .ui-mobile-viewport .cal-prevmonth a:hover {
  border: none !important;
}

ol.cal-weekdays li {
  border-style: solid;
  border-color: #333;
  font-weight: bolder;
  background: #555;
  color: #FFF;
}

div.cal-days span.cal-empty, div.cal-days ol.cal-day-list li {
  border-style: solid;
  border-color: #AAA;
  background: #FFF;
}
div.cal-days span.cal-we, div.cal-days ol.cal-day-list li.cal-we {
  background: #EEE;
}
div.cal-days a {
  color: #111;
}
div.cal-days a:hover, div.cal-days a:focus, div.cal-days a:active {
  /* active is for IE, focus is for Firefox | active est pour IE, focus est pour Firefox */
  background: #333;
  color: #FFF;
}
div.cal-days .cal-currentday, div.cal-days .cal-currentday a {
  color: #FFF;
}

div.cal-days ol.cal-day-list li.cal-currentday, .cal-currentday a {
  background-color: #333;
}
