@charset "utf-8";
/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * www.tbs.gc.ca/ws-nw/wet-boew/terms / www.sct.gc.ca/ws-nw/wet-boew/conditions
 */
/* Charts and Graph */
figure, figcaption {
  display: block;
}

figure.wb-charts {
  border: 1px solid black;
  margin: 10px;
  /*
  svg, vml {
  	padding-left: 5px;
  	padding-right: 5px;
  }
  */
  /* Add focus styles (for keyboard accessibility) */
}
figure.wb-charts figcaption {
  border-bottom: 1px solid black;
  padding: 5px;
  margin-bottom: 10px;
}
figure.wb-charts details summary {
  background-color: whitesmoke;
  padding-left: 5px;
}
figure.wb-charts details table {
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
figure.wb-charts details table td {
  background-color: white;
}
figure.wb-charts summary:hover, figure.wb-charts summary:focus {
  background: #ddd;
}
figure.wb-charts figure {
  margin-left: 0px;
  margin-right: 0px;
}
figure.wb-charts figure figcaption {
  font-style: italic;
  text-align: center;
}
figure.wb-charts ul {
  list-style-type: none;
}
