@charset "utf-8";
/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * www.tbs.gc.ca/ws-nw/wet-boew/terms / www.sct.gc.ca/ws-nw/wet-boew/conditions
 */
datalist {
  display: none;
}

.wb-al-container {
  z-index: 50;
  display: inline;
  position: relative;
}

ul.wb-autolist {
  position: absolute;
  margin-top: -10px;
  margin-left: 0;
  padding-left: 0;
  z-index: 50;
  background: #fff;
  width: 100%;
  border-width: 0 1px 1px;
  border-style: solid;
  border-color: #000;
  max-height: 15em;
  overflow: auto;
}
ul.wb-autolist.al-hide {
  display: none;
}
ul.wb-autolist li {
  list-style-type: none;
  padding: 0 5px;
}
ul.wb-autolist li.al-hide {
  display: none;
}
ul.wb-autolist li .al-label {
  padding-left: 10px;
  float: right;
}
ul.wb-autolist li:hover, ul.wb-autolist li:focus, ul.wb-autolist li:active {
  background: #406C93;
  color: #fff;
}
