@charset "utf-8";
/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt
 */
datalist {
  display: none;
}

.wb-al-container {
  z-index: 50;
  display: inline;
  position: relative;
}

ul.wb-autolist {
  position: absolute;
  margin-top: -10px;
  margin-left: 0;
  padding-left: 0;
  z-index: 50;
  background: #fff;
  width: 100%;
  border-width: 0 1px 1px;
  border-style: solid;
  border-color: #000;
  overflow: auto;
}
ul.wb-autolist.al-hide {
  display: none;
}
ul.wb-autolist li {
  list-style-type: none;
}
ul.wb-autolist li .al-label {
  padding-left: 10px;
  float: right;
}
ul.wb-autolist li a {
  text-decoration: none;
  color: #000;
  display: block;
  padding: 0 5px;
}
ul.wb-autolist li a:hover, ul.wb-autolist li a:focus, ul.wb-autolist li a:active {
  background: #406C93;
  color: #fff;
}
