@charset "utf-8";
/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt
 */
.ie7 .wb-al-container {
  position: relative;
  display: inline;
}
.ie7 ul.wb-autolist {
  left: 0;
}
.ie7 ul.wb-autolist li a .al-value {
  float: left;
}
.ie7 ul.wb-autolist li a .al-label {
  clear: right;
}
