@charset "utf-8";
/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt
 */
#complete {
  text-align: center;
}
#complete p strong {
  font-size: 110%;
}

.wet-boew-feedback #web label[for=otherprob] {
  display: inline;
}

#web, #mobile, #computer, #info {
  display: none;
}

.no-js #web, .no-js #mobile, .no-js #computer, .no-js #info {
  display: block;
}
