@charset "utf-8";
/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * www.tbs.gc.ca/ws-nw/wet-boew/terms / www.sct.gc.ca/ws-nw/wet-boew/conditions
 */
/** Screen and print CSS **/
@media screen, print {
  .ie7 .wet-boew-footnotes {
    display: inline-block;
  }
  .ie7 .wet-boew-footnotes dl {
    margin-bottom: 0;
  }
}
/** Print-only CSS **/
@media print {
  .ie7 .wet-boew-footnotes {
    padding-bottom: 1em;
    /*definition list's padding-top value x2 via SASS?*/
  }
}
