@charset "utf-8";
/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt
 */
/*Print SCSS*/
@media print {
  .ie8 .wet-boew-footnotes dl dd {
    display: block;
  }
  .ie8 .wet-boew-footnotes dl dd p {
    display: inline-block;
  }
  .ie8 .wet-boew-footnotes dl dd p.footnote-return {
    display: block;
  }
}
