@charset "utf-8";
/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * www.tbs.gc.ca/ws-nw/wet-boew/terms / www.sct.gc.ca/ws-nw/wet-boew/conditions
 */
/*
    ColorBox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow: hidden;
}

#cboxOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
}

#cboxMiddleLeft, #cboxBottomLeft {
  clear: left;
}

#cboxContent {
  position: relative;
}

#cboxLoadedContent {
  overflow: auto;
}

#cboxTitle {
  margin: 0;
}

#cboxLoadingOverlay, #cboxLoadingGraphic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow {
  cursor: pointer;
}

.cboxPhoto {
  float: left;
  margin: auto;
  border: 0;
  display: block;
  max-width: none;
}

.cboxIframe {
  width: 100%;
  height: 100%;
  display: block;
  border: 0;
}

#colorbox, #cboxContent, #cboxLoadedContent {
  box-sizing: content-box;
}

/* 
    User Style:
    Change the following styles to modify the appearance of ColorBox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#colorbox, #cboxOverlay, #cboxWrapper {
  overflow: visible;
}

#cboxOverlay {
  background: #000;
}

#cboxContent {
  margin: 19px 28px 1.5em 28px;
}

.cboxIframe {
  background: #fff;
}

#cboxError {
  padding: 50px;
  border: 1px solid #ccc;
}

#cboxLoadedContent {
  border: 5px solid #000;
  background: #fff;
}

#cboxTitle {
  position: absolute;
  padding-top: 3px;
  left: 5px;
  color: #ccc;
  width: 70%;
}

#cboxCurrent {
  position: absolute;
  padding-top: 3px;
  right: 5px;
  color: #ccc;
  width: 26%;
  text-align: right;
}

#cboxSlideshow {
  position: absolute;
  top: -20px;
  right: 90px;
  color: #fff;
}

#cboxPrevious, #cboxNext {
  position: absolute;
  top: 50%;
  width: 28px;
  height: 65px;
  text-indent: -9999px;
}

#cboxPrevious {
  left: -28px;
  margin-top: -32px;
  background: url(../images/lightbox/controls.png) no-repeat top right;
}
#cboxPrevious:hover, #cboxPrevious:focus, #cboxPrevious:active {
  background-position: bottom right;
}

#cboxNext {
  right: -28px;
  margin-top: -32px;
  background: url(../images/lightbox/controls.png) no-repeat top left;
}
#cboxNext:hover, #cboxNext:focus, #cboxNext:active {
  background-position: bottom left;
}

#cboxLoadingOverlay {
  background: #000;
}

#cboxLoadingGraphic {
  background: url(../images/lightbox/loading.gif) no-repeat center center;
}

#cboxClose {
  position: absolute;
  top: -19px;
  right: 5px;
  display: block;
  background: url(../images/lightbox/controls.png) no-repeat top center;
  width: 38px;
  height: 19px;
  text-indent: -9999px;
}
#cboxClose:hover, #cboxClose:focus, #cboxClose:active {
  background-position: bottom center;
}

#cboxNext:focus, #cboxNext:active, #cboxPrevious:focus, #cboxPrevious:active, #cboxClose:focus, #cboxClose:active {
  outline: 0;
  border: 1px dotted #000;
}

.lb-inline, .lb-hidden-gallery a {
  display: none;
  visibility: hidden;
}

.lb-hidden-gallery li:first-child a {
  display: inline;
  visibility: visible;
}
