@charset "utf-8";
/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt
*/
video, object.video {
  width: 100%;
  background-color: #000;
  margin-bottom: -4px;
}

.wb-mm-captionsarea {
  background-color: #000;
  color: #FFF;
  text-align: center;
  padding: 0.5em;
  min-height: 1.5em;
}

.wet-boew-multimedia .wb-mm-overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.001);
  border: 0;
  width: 100%;
}
.wet-boew-multimedia .wb-mm-overlay * {
  display: block;
  margin: auto;
}
.wet-boew-multimedia .wb-mm-overlay img {
  width: 100px;
  height: 100px;
}
.wet-boew-multimedia svg * {
  pointer-events: none;
}

.wb-mm-controls {
  position: relative;
  width: 100%;
  padding: 0;
}
.wb-mm-controls button {
  border: 1px solid #BBB;
  background: #dadada url("../images/multimedia/background-toolbar.png") repeat-x 0 0;
  padding: 0;
}
.wb-mm-controls button svg, .wb-mm-controls button img {
  display: block;
  margin: 0;
  padding: 0;
}
.wb-mm-controls button img {
  width: 20px;
  height: 20px;
}
.wb-mm-controls .wb-mm-controls-start, .wb-mm-controls .wb-mm-timeline-current {
  float: left;
}
.wb-mm-controls .wb-mm-timeline-total {
  float: right;
}
.wb-mm-controls .wb-mm-controls-end {
  position: absolute;
  top: 0;
  right: 0;
}
.wb-mm-controls .wb-mm-timeline {
  position: relative;
  border: 1px solid #BBB;
  background: #dadada url("../images/multimedia/background-toolbar.png") repeat-x 0 0;
  margin-left: 83px;
  margin-right: 55px;
  height: 18px;
  padding: 2px 4px;
}
.wb-mm-controls .wb-mm-timeline p {
  margin: 0;
}
.wb-mm-controls .wb-mm-timeline .wb-mm-timeline-inner {
  margin: 0 70px;
}
.wb-mm-controls.wb-mm-no-cc .wb-mm-timeline {
  margin-right: 25px;
}
.wb-mm-controls progress {
  border: 1px solid #BBB;
  color: black;
  width: 100%;
  height: 14px;
  margin: 2px 0;
  /* Polyfill */
}
.wb-mm-controls progress::-moz-progress-bar {
  background: black;
  display: block;
}
.wb-mm-controls progress::-webkit-progress-value {
  background: black;
}
.wb-mm-controls progress div.wb-progress-outer {
  border: none;
  background-color: transparent!important;
  padding: 0;
}
.wb-mm-controls progress div.wb-progress-inner {
  background-color: black !important;
  padding: 0;
}

@media print {
  .wb-mm-controls, .wb-mm-overlay {
    display: none;
  }
}
