@charset "utf-8";
/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * www.tbs.gc.ca/ws-nw/wet-boew/terms / www.sct.gc.ca/ws-nw/wet-boew/conditions
 */
progress {
  display: inline-block;
}
progress div.wb-progress-outer {
  height: 1em;
  width: 100%;
  padding: 2px;
  border: 1px solid black;
  background-color: white;
}
progress div.wb-progress-undefined {
  height: 1em;
  width: 100%;
  padding: 2px;
  border: 1px solid black;
  background-color: #ff9999;
}
progress div.wb-progress-inner {
  height: 100%;
  border: none;
  background-color: #009900;
}
