@charset "utf-8";
/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * www.tbs.gc.ca/ws-nw/wet-boew/terms / www.sct.gc.ca/ws-nw/wet-boew/conditions
 */
/* Gradient (avoid encoding duplication) */
.tabs li a, .tabs-style-1 .tabs, .tabs-style-1 .tabs li a:hover, .tabs-style-1 .tabs li a:focus, .tabs-style-1 .tabs li a:active, .tabs-style-2 .tabs li.tabs-toggle, .tabs-style-3 .tabs-panel, .tabs-style-4 .tabs li a:hover, .tabs-style-4 .tabs li a:focus, .tabs-style-4 .tabs li a:active {
  background: url(../images/tabs/gradient.png) repeat-x 0 0 #eeeeee;
}

.tabs {
  border-bottom: solid 1px #ccc;
  margin: 0;
  padding: 0;
  position: relative;
}
.tabs li {
  display: inline-block;
  border: solid 1px #ccc;
  border-bottom: none;
  -moz-border-radius: 2px 2px 0 0;
  -webkit-border-radius: 2px 2px 0 0;
  border-radius: 2px 2px 0 0;
}
.tabs li a {
  display: block;
  text-decoration: none;
  color: #333;
  font-weight: 400;
  padding: 4px;
  position: relative;
  top: 1px;
  margin-top: -1px;
}
.tabs li a.active, .tabs li a.active:hover, .tabs li a.active:focus, .tabs li a.active:active {
  color: #333;
  padding-top: 5px;
  background: #fff;
  cursor: text;
}
.tabs li.active {
  background: #fff;
  position: relative;
}
.tabs li.tabs-toggle a {
  cursor: pointer;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #999;
  margin-right: 2px;
}
.tabs li.tabs-toggle a:hover, .tabs li.tabs-toggle a:focus, .tabs li.tabs-toggle a:active {
  text-decoration: underline;
  color: #000;
}
.tabs li.tabs-toggle a.tabs-next, .tabs li.tabs-toggle a.tabs-prev {
  padding: 2px 5px !important;
}
.tabs li.tabs-toggle a.tabs-start, .tabs li.tabs-toggle a.tabs-stop {
  padding: 2px 5px 2px 24px !important;
}
.tabs li.tabs-toggle a.tabs-prev {
  background: url(../images/tabs/prev.gif) no-repeat center 5px white !important;
}
.tabs li.tabs-toggle a.tabs-next {
  background: url(../images/tabs/next.gif) no-repeat center 5px white !important;
}
.tabs li.tabs-toggle a.tabs-stop {
  background: url(../images/tabs/pause.png) no-repeat -1px 0 white !important;
}
.tabs li.tabs-toggle a.tabs-start {
  background: url(../images/tabs/play.png) no-repeat -1px 0 white !important;
}
.tabs a {
  line-height: normal;
}
.tabs .tabs-toggle {
  border: none;
  background: none;
}

.tabs-panel > div.active, .no-js .tabs-panel > div {
  display: block;
}

.tabs-panel {
  border: solid 1px #ccc;
  border-top: none;
  padding: 10px;
}
.tabs-panel > div {
  display: none;
}
.tabs-panel h2, .tabs-panel h3, .tabs-panel h4, .tabs-panel h5, .tabs-panel h6 {
  border: none;
}
.tabs-panel .float-right {
  margin-left: 10px;
}
.tabs-panel .float-left {
  margin-right: 10px;
}

.clear {
  clear: both;
  display: block;
  height: 0 !important;
  margin: 0;
  min-height: 0 !important;
  overflow: hidden;
  visibility: hidden;
  width: 0;
}

.tabs-roller {
  height: 100%;
  width: 0;
  position: absolute;
  top: 0;
  left: 0;
  cursor: text;
  background-color: #000;
  opacity: 0.1;
}

/*with grids*/
.embedded-grid, .embedded-grid .tabs-panel {
  border: none;
  padding: 0;
}

.embedded-grid .tabs {
  margin: 0 10px 10px;
}

.span-1 .tabs, .span-2 .tabs, .span-3 .tabs, .span-4 .tabs, .span-5 .tabs, .span-6 .tabs, .span-7 .tabs, .span-8 .tabs, .span-9 .tabs, .span-10 .tabs, .span-11 .tabs, .span-12 .tabs {
  margin: 0;
}

/* style 1 */
.tabs-style-1 {
  border: solid 1px #ccc;
  padding: 2px;
}
.tabs-style-1 .tabs {
  border: 1px solid silver;
  color: #222;
  font-weight: 700;
  padding: 2px 2px 0;
}
.tabs-style-1 .tabs li a {
  background: #555555 url(../images/tabs/gradient2.png) repeat-x 0 bottom;
  border-top: none;
  color: #fff;
  padding: 3px 4px 4px;
}
.tabs-style-1 .tabs li a:hover, .tabs-style-1 .tabs li a:focus, .tabs-style-1 .tabs li a:active {
  color: #000;
  border-top: 1px solid #fff;
  padding-top: 1px;
}
.tabs-style-1 .tabs li a.active, .tabs-style-1 .tabs li a.active:hover, .tabs-style-1 .tabs li a.active:focus, .tabs-style-1 .tabs li a.active:active {
  color: #000;
  background: #fff;
  border-top: none;
  padding: 4px;
}
.tabs-style-1 .tabs li a.tabs-start, .tabs-style-1 .tabs li a.tabs-stop {
  color: #000;
}
.tabs-style-1 .tabs li.tabs-toggle a {
  color: #000;
}
.tabs-style-1 .tabs li.tabs-toggle a, .tabs-style-1 .tabs li.tabs-toggle a:active, .tabs-style-1 .tabs li.tabs-toggle a:hover, .tabs-style-1 .tabs li.tabs-toggle a:active {
  background-repeat: no-repeat;
  background-position: -1px 0;
  border: 1px solid #999;
}
.tabs-style-1 .tabs li.tabs-toggle a:active, .tabs-style-1 .tabs li.tabs-toggle a:hover, .tabs-style-1 .tabs li.tabs-toggle a:active {
  color: #c00;
}
.tabs-style-1 .tabs li.tabs-toggle a.tabs-prev, .tabs-style-1 .tabs li.tabs-toggle a.tabs-next {
  background-position: center 5px;
}
.tabs-style-1 .tabs-panel {
  border: none;
}

/* style 2 */
.tabs-style-2 {
  border: 0;
  padding: 0;
  position: relative;
  z-index: 1;
  margin: 0;
}
.tabs-style-2 .tabs {
  border: none;
  background: #eee;
  opacity: 0.95;
  min-height: 24px;
  position: absolute;
  width: 100%;
  z-index: 2;
  padding-top: 2px;
  margin-top: 0;
  bottom: 0;
  left: 0;
}
.tabs-style-2 .tabs li {
  border: none;
  margin-right: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  width: auto;
  float: left;
}
.tabs-style-2 .tabs li a {
  border: 1px solid #999;
  padding: 2px 5px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.tabs-style-2 .tabs li a.active, .tabs-style-2 .tabs li a:hover, .tabs-style-2 .tabs li a:focus, .tabs-style-2 .tabs li a:active {
  background: #333;
  color: #fff;
  padding-top: 2px;
}
.tabs-style-2 .tabs li.active {
  border: none;
  top: auto;
  color: #fff;
}
.tabs-style-2 .tabs li.tabs-toggle a {
  background-color: transparent !important;
}
.tabs-style-2 .tabs li.tabs-toggle a:hover, .tabs-style-2 .tabs li.tabs-toggle a:focus, .tabs-style-2 .tabs li.tabs-toggle a:active {
  color: #000;
}
.tabs-style-2 .tabs-panel {
  border: none;
  min-height: 220px;
  background: url(../images/tabs/gradient3.png) repeat-x 0 bottom #555555;
  color: #fff;
  margin: 0;
  padding: 0;
}
.tabs-style-2 .tabs-panel a, .tabs-style-2 .tabs-panel a:visited, .tabs-style-2 .tabs-panel h2, .tabs-style-2 .tabs-panel h3, .tabs-style-2 .tabs-panel h4, .tabs-style-2 .tabs-panel h5, .tabs-style-2 .tabs-panel h6 {
  color: #fff;
}
.tabs-style-2 .tabs-content-pad {
  padding: 10px 10px 36px;
}
.tabs-style-2 .tabs-roller {
  background-color: #fff;
  opacity: 0.25;
}

/* style 3 */
.tabs-style-3 {
  position: relative;
  z-index: 1;
  border: 1px solid #ccc;
  margin: 0;
  min-height: 220px;
  padding: 10px 0 10px 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.tabs-style-3 .tabs {
  width: 35%;
  position: absolute;
  z-index: 3;
  border: none;
  margin: 20px 0 0;
  right: 0;
}
.tabs-style-3 .tabs li {
  border: none;
  margin: 0;
  width: 100%;
}
.tabs-style-3 .tabs li a {
  display: block;
  border: none;
  text-decoration: none;
  background: transparent;
  padding: 5px 5px 5px 25px;
}
.tabs-style-3 .tabs li a.active, .tabs-style-3 .tabs li a:hover, .tabs-style-3 .tabs li a:focus, .tabs-style-3 .tabs li a:active {
  background: #000;
  color: #fff;
  margin-right: 0;
  padding: 5px 5px 5px 25px;
  opacity: 0.75;
  -moz-border-radius: 3px 0 0 3px;
  -webkit-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
.tabs-style-3 .tabs li.active {
  border: none;
  color: #fff;
}
.tabs-style-3 .tabs li.tabs-toggle {
  width: auto;
}
.tabs-style-3 .tabs li.tabs-toggle a {
  float: right;
  margin-top: 10px;
  border: 1px solid #ccc;
}
.tabs-style-3 .tabs li.tabs-toggle a:hover, .tabs-style-3 .tabs li.tabs-toggle a:focus, .tabs-style-3 .tabs li.tabs-toggle a:active {
  opacity: 1;
  color: #000;
  margin-right: 2px;
}
.tabs-style-3 .tabs-panel {
  width: 66%;
  z-index: 1;
  border: none;
  background-position: 0 bottom;
  color: #333;
  margin: 0;
  padding: 0;
  min-height: 220px;
  z-index: 2;
  border: 1px solid #ccc;
}
.tabs-style-3 .tabs-content-pad {
  padding: 10px;
}
.tabs-style-3 .tabs-roller {
  background-color: white;
  opacity: 0.2;
  -moz-border-radius: 3px 0 0 3px;
  -webkit-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}

/* style 4 */
.tabs-style-4 {
  padding: 0;
}
.tabs-style-4 .tabs {
  font-weight: 700;
  margin-bottom: 2px;
  padding: 0 0 1px 0;
  height: auto!important;
  border: none;
}
.tabs-style-4 .tabs li {
  display: block;
}
.tabs-style-4 .tabs li a {
  background: url(../images/tabs/gradient2-style4.png) repeat-x scroll 50% 50% black;
  border-top: 1px solid #000000;
  color: #FFF;
  font-size: 80%;
  margin: 0;
  padding: 2px;
}
.tabs-style-4 .tabs li a:hover, .tabs-style-4 .tabs li a:focus, .tabs-style-4 .tabs li a:active {
  color: #000;
}
.tabs-style-4 .tabs li a.active, .tabs-style-4 .tabs li a.active:hover {
  background: none repeat scroll 0 0 #FFF;
  border: none;
  color: #000 !important;
  padding-top: 2px;
}
.tabs-style-4 .tabs li.tabs-toggle {
  margin-top: 3px;
  display: inline-block;
}
.tabs-style-4 .tabs li.tabs-toggle a {
  font-size: 100%;
  width: auto!important;
  color: #000!important;
  border-top: 1px solid #999!important;
  margin-right: 2px;
}
.tabs-style-4 .tabs-panel {
  border: none;
  margin: 0;
  padding: 0;
}
.tabs-style-4 .tabs-panel img {
  display: block;
  margin-bottom: 0;
}

.wb-sup-def .tabs-style-4 {
  padding: 0;
}
.wb-sup-def .tabs {
  margin-left: -1px;
  padding: 0;
}
.wb-sup-def .tabs li {
  padding-left: 0;
  margin-left: 0;
}
.wb-sup-def .tabs li a:visited {
  color: #FFF;
}
.wb-sup-def .tabs a.active, .wb-sup-def .tabs a.active:hover {
  color: #000!important;
}
.wb-sup-def .tabs-toggle {
  margin-left: 2px!important;
}

/* style 5 */
.tabs-style-5 {
  padding: 0;
}
.tabs-style-5 .tabs {
  border: none;
  top: 3px;
}
.tabs-style-5 .tabs li {
  display: none!important;
}
.tabs-style-5 .tabs li a {
  display: none!important;
}
.tabs-style-5 .tabs li.tabs-toggle {
  display: inline-block!important;
}
.tabs-style-5 .tabs li.tabs-toggle a {
  display: block!important;
  width: auto!important;
}
.tabs-style-5 .tabs-panel {
  border: none;
  margin: 0;
  padding: 0;
}
.tabs-style-5 .tabs-panel img {
  display: block;
  margin-bottom: 0;
}

.wb-sup-def .tabs-style-5 {
  padding: 0;
}
.wb-sup-def .tabs-style-5 .tabs {
  margin-bottom: 1px;
}
.wb-sup-def .tabs-style-5 .tabs-toggle {
  margin-left: 9px!important;
}
