@charset "utf-8";
/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * www.tbs.gc.ca/ws-nw/wet-boew/terms / www.sct.gc.ca/ws-nw/wet-boew/conditions
 */
.ie7 .tabs li {
  display: inline;
  margin-right: 2px;
}
.ie7 .tabs-roller {
  filter: alpha(opacity=10);
}
.ie7 .tabs-style-2 .tabs {
  filter: alpha(opacity=95);
}
.ie7 .tabs-style-2 .tabs li.tabs-toggle {
  margin-right: 0;
}
.ie7 .tabs-style-2 .tabs-roller {
  filter: alpha(opacity=25);
}
.ie7 .tabs-style-3 .tabs li a.active, .ie7 .tabs-style-3 .tabs li a:hover, .ie7 .tabs-style-3 .tabs li a:focus, .ie7 .tabs-style-3 .tabs li a:active {
  filter: alpha(opacity=75);
}
.ie7 .tabs-style-3 .tabs li.tabs-toggle {
  width: 29px;
}
.ie7 .tabs-style-3 .tabs li.tabs-toggle a:hover, .ie7 .tabs-style-3 .tabs li.tabs-toggle a:focus, .ie7 .tabs-style-3 .tabs li.tabs-toggle a:active {
  filter: alpha(opacity=100);
}
.ie7 .tabs-style-3 .tabs-roller {
  filter: alpha(opacity=20);
}
.ie7 .tabs-style-4 .tabs li {
  margin-top: -3px;
}
.ie7 .tabs-style-4 .tabs li, .ie7 .tabs-style-5 .tabs li {
  margin-right: 0;
}
.ie7 .tabs-style-4 .tabs li a, .ie7 .tabs-style-5 .tabs li a {
  margin-top: 0;
  top: 0;
}
.ie7 .tabs-style-4 .tabs li.tabs-toggle, .ie7 .tabs-style-5 .tabs li.tabs-toggle {
  margin-top: 0;
  display: inline !important;
}
