@charset "utf-8";
/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt
 */
ol.wet-boew-zebra li, ol.wet-boew-zebra li li {
  list-style-type: none;
}
ol.wet-boew-zebra li {
  margin-bottom: 2px;
  margin-right: 0;
  padding: 10px;
}

table.wet-boew-zebra, table.wet-boew-zebra table {
  background-color: #fff;
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin-bottom: 10px;
  margin-top: 10px;
}

dl.wet-boew-zebra {
  margin-left: 0px;
}

.wet-boew-zebra li.list-odd, .wet-boew-zebra dt.list-odd, .wet-boew-zebra dd.list-odd {
  background-color: #ddd;
  border: 1px solid #ccc;
}
.wet-boew-zebra li.list-even, .wet-boew-zebra dt.list-even, .wet-boew-zebra dd.list-even {
  background-color: #eee;
  border: 1px solid #ccc;
}
.wet-boew-zebra li.list-hover, .wet-boew-zebra dt.list-hover, .wet-boew-zebra dd.list-hover {
  background-color: #f0fcff;
}
.wet-boew-zebra.alterwg li.list-odd, .wet-boew-zebra.alterwg dt.list-odd, .wet-boew-zebra.alterwg dd.list-odd {
  background-color: #ddd;
  border: none;
}
.wet-boew-zebra.alterwg li.list-even, .wet-boew-zebra.alterwg dt.list-even, .wet-boew-zebra.alterwg dd.list-even {
  background-color: #fff;
  border: none;
}
.wet-boew-zebra.alterwg li.list-hover, .wet-boew-zebra.alterwg dt.list-hover, .wet-boew-zebra.alterwg dd.list-hover {
  background-color: #f0fcff;
}
.wet-boew-zebra dt.list-odd, .wet-boew-zebra dd.list-odd {
  border: none;
}
.wet-boew-zebra dt.list-even, .wet-boew-zebra dd.list-even {
  border: none;
}
.wet-boew-zebra dl, .wet-boew-zebra dd {
  margin-left: 0px;
}
.wet-boew-zebra dt, .wet-boew-zebra dd {
  padding: 10px;
}
.wet-boew-zebra dt {
  font-weight: bold;
  margin-top: 2px;
}
.wet-boew-zebra.nomargin {
  margin: 0px;
}
.wet-boew-zebra tr.table-odd, .wet-boew-zebra tr.table-even tr.table-odd {
  /* td{ */
  background-color: #f0fcff;
  /* } */
}
.wet-boew-zebra tr.table-even, .wet-boew-zebra tr.table-odd tr.table-even {
  /* td{ */
  background-color: transparent;
  /* }*/
}
.wet-boew-zebra tr.table-hover td {
  background-color: #eee;
}
.wet-boew-zebra th {
  background-color: #eee;
  border: 1px solid #ccc;
  color: #333;
  text-align: center;
  padding: 8px;
  /*
   * I am not sure if we would like to style the cell header group, need to discuss
   *
  &.table-headgroupcol1, &.table-headgrouprow1 {
  	background-color: #CCC;
  }
  &.table-headgroupcol2, &.table-headgrouprow2 {
  	background-color: #AAA;
  }
  &.table-headgroupcol3, &.table-headgrouprow3 {
  	background-color: #999;
  }
  */
}
.wet-boew-zebra th.table-hover {
  background-color: lightgray;
  /*
  &.table-summaryrow0 {
  	background-color:#eee;
  }
  */
}
.wet-boew-zebra td {
  border: 1px solid #ccc;
  vertical-align: top;
  padding: 5px 10px;
  /* Advance Zebra */
}
.wet-boew-zebra td.table-keycell {
  font-style: italic;
  padding: 8px;
  background-color: #FFF;
}
.wet-boew-zebra td.table-desccell {
  font-style: italic;
  padding: 8px;
  background-color: #F4F4F4;
}
.wet-boew-zebra td.table-summarycol3, .wet-boew-zebra td.table-summaryrow3 {
  /* background-color: #9EE; */
  background-color: #FAFAFA;
}
.wet-boew-zebra td.table-summarycol2, .wet-boew-zebra td.table-summaryrow2 {
  background-color: #F4F4F4;
}
.wet-boew-zebra td.table-summarycol1, .wet-boew-zebra td.table-summaryrow1 {
  background-color: #EEE;
}
.wet-boew-zebra td.table-summarycol0, .wet-boew-zebra td.table-summaryrow0 {
  /* background-color: #EEE; */
  background-color: #DDD;
}
.wet-boew-zebra th.table-summarycol0, .wet-boew-zebra th.table-summaryrow0 {
  /* background-color: #EEE; */
  background-color: #DDD;
}
.wet-boew-zebra tbody.table-rowgroupmarker, .wet-boew-zebra tfoot.table-rowgroupmarker {
  border-top: solid black 2px;
}
.wet-boew-zebra colgroup.table-colgroupmarker {
  border-left: solid black 2px;
}
.wet-boew-zebra td.table-layoutCell, .wet-boew-zebra th.table-layoutCell {
  background-color: white;
}
.wet-boew-zebra col.table-odd {
  background-color: #f0fcff;
}
.wet-boew-zebra col.table-even {
  background-color: transparent;
}
.wet-boew-zebra col.table-hover {
  background-color: #eee;
}
