---
{
	"title": "Égalisation des hauteurs",
	"language": "fr",
	"description": "Un plugiel d'égalisation des hauteurs réactif.",
	"altLangPrefix": "equalheight",
	"dateModified": "2014-02-19"
}
---	
<span class="wb-prettify all-pre hide"></span>

<section>
	<h2>Fonction</h2>
	<p>Égalise la hauteur d'éléments étant sur la même ligne de base.</p>
</section>

<section>
	<h2>Utiliser lorsque</h2>
	<ul>
		<li>Des éléments ayant des hauteurs différentes sont affichés sur la même ligne de base.</li>
	</ul>
</section>

<section>
	<h2>Éviter lorsque</h2>
	<p>Aucun cas d'utilisation n'est connu pour lequel l'utilisation de ce plugiciel devrait être évitée.</p>
</section>

<section>
	<h2>Exemples pratiques</h2>
	<p><a href="../../../demos/equalheight/equalheight-fr.html">Exemples pratiques du plugiciel d'égalisation des hauteurs</a></p>
</section>

<section>
	<h2>Comment implémenter le plucigiel</h2>
	<ol>
		<li>Ajouter la classe <code lang="en">wb-eqht</code> à l'élément qui contient les éléments pour lequels vous voulez égaliser les hauteurs.</li>
	</ol>
</section>

<section>
	<h2>Paramètres de configuration</h2>
	<p>Aucun paramètre de configuration.</p>
</section>

<section>
	<h2>Événements</h2>
	<table class="table">
		<thead>
			<tr>
				<th>Événement</th>
				<th>Déclencheur</th>
				<th>Effet déclenché</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><code lang="en">txt-rsz.wb</code></td>
				<td>La taille de la police de caractères à été changée.</td>
				<td rowspan="4">Ré-égalise la hauteur de tous les éléments contenus dans un contenant <code lang="en">wb-eqht</code>.</td>
			</tr>
			<tr>
				<td><code lang="en">win-rsz-width.wb</code></td>
				<td>La largeur de la fenêtre du navigateur à été changée.</td>
			</tr>
			<tr>
				<td><code lang="en">win-rsz-height.wb</code></td>
				<td>La hauteur de la fenêtre du navigateur à été changée.</td>
			</tr>
			<tr>
				<td><code lang="en">tables-draw.wb</code></td>
				<td>Un <a href="../tables/tables-fr.html">tableau</a> à été déssiné.</td>
			</tr>
		</tbody>
	</table>
</section>

<section>
	<h2>Code source</h2>
	<p><a href="https://github.com/wet-boew/wet-boew/tree/master/src/plugins/equalheight">Code source du plugiciel d'égalisation des hauteurs sur <span lang="en">GitHub</span></a></p>
</section>

