---
{
	"title": "Égalisation des hauteurs",
	"language": "fr",
	"category": "Plugiciels",
	"categoryfile": "plugins",
	"description": "Un plugiel d'égalisation des hauteurs réactif.",
	"altLangPrefix": "equalheight",
	"dateModified": "2014-08-04"
}
---
<span class="wb-prettify all-pre hide"></span>

<section>
	<h2>Fonction</h2>
	<p>Égalise la hauteur d'éléments étant sur la même ligne de base.</p>
</section>

<section>
	<h2>Utiliser lorsque</h2>
	<ul>
		<li>Des éléments ayant des hauteurs différentes sont affichés sur la même ligne de base.</li>
	</ul>
</section>

<section>
	<h2>Éviter lorsque</h2>
	<p>Aucun cas d'utilisation n'est connu pour lequel l'utilisation de ce plugiciel devrait être évitée.</p>
</section>

<section>
	<h2>Exemples pratiques</h2>
	<p><a href="../../../demos/equalheight/equalheight-fr.html">Exemples pratiques du plugiciel d'égalisation des hauteurs</a></p>
</section>

<section>
	<h2>Comment implémenter le plucigiel</h2>
	<ol>
		<li>Ajouter la classe <code lang="en">wb-eqht</code> à l'élément qui contient les éléments pour lequels vous voulez égaliser les hauteurs.</li>
		<li>Ajouter la classe <code lang="en">hght-inhrt</code> à tout élément contenu pour lequel vous voulez égaliser les hauteurs.</li>
		<li lang="en">Add the class <code>eqht-trgt</code> to the equalize element. It the same as applying <code>hght-inhrt</code> up to the child of <code>wb-eqht</code>.</li>
	</ol>
</section>

<section>
	<h2>Paramètres de configuration</h2>
	<p>Aucun paramètre de configuration.</p>
</section>

<section>
	<h2>Événements</h2>
	<table class="table">
		<thead>
			<tr>
				<th>Événement</th>
				<th>Déclencheur</th>
				<th>Effet déclenché</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><code>wb-init.wb-eqht</code> (v4.0.5+)</td>
				<td>Triggered manually (e.g., <code>$( ".wb-eqht" ).trigger( "wb-init.wb-eqht" );</code>).</td>
				<td>Used to manually initialize the Equal heights plugin. <strong>Note:</strong> The Equal heights plugin will be initialized automatically unless the required markup is added after the page has already loaded.</td>
			</tr>
			<tr>
				<td><code>wb-update.wb-eqht</code> (v4.0.5+)</td>
				<td>Triggered manually (e.g., <code>$( ".wb-eqht" ).trigger( "wb-update.wb-eqht" );</code>).</td>
				<td>Used to manually trigger an update to the height equalization. <strong>Note:</strong> The Equal heights plugin will be automatically update the height equalization on window, text and zoom resizes as well as DataTable draws.</td>
			</tr>
			<tr>
				<td><code>wb-ready.wb-eqht</code> (v4.0.5+)</td>
				<td>Triggered automatically after the height equalization has been initialized.</td>
				<td>Used to identify when height equalization was initialized
					<pre><code>$( document ).on( "wb-ready.wb-eqht", ".wb-eqht", function( event ) {
});</code></pre>
				</td>
			</tr>
			<tr>
				<td><code>wb-updated.wb-eqht</code> (v4.0.5+)</td>
				<td>Triggered automatically each time the height equalization is updated.</td>
				<td>Used to identify when height equalization was updated
					<pre><code>$( document ).on( "wb-updated.wb-eqht", function( event ) {
});</code></pre>
				</td>
			</tr>
			<tr>
				<td><code>wb-ready.wb</code> (v4.0.5+)</td>
				<td>Triggered automatically when WET has finished loading and executing.</td>
				<td>Used to identify when all WET plugins and polyfills have finished loading and executing.
					<pre><code>$( document ).on( "wb-ready.wb", function( event ) {
});</code></pre>
				</td>
			</tr>
		</tbody>
	</table>
</section>

<section>
	<h2>Code source</h2>
	<p><a href="https://github.com/wet-boew/wet-boew/tree/master/src/plugins/equalheight">Code source du plugiciel d'égalisation des hauteurs sur <span lang="en">GitHub</span></a></p>
</section>
