---
{
	"title": "Equal height",
	"language": "en",
	"description": "A plugin for responsive equal height.",
	"altLangPrefix": "equalheight",
	"dateModified": "2014-02-19"
}
---
<span class="wb-prettify all-pre hide"></span>

<section>
	<h2>Purpose</h2>
	<p>Equalises the height of elements that are on the same baseline.</p>
    
        <h2>Use when</h2>
        <ul>
            <li>Elements of varying heights are displayed on the same baseline.</li>
        </ul>

        <h2>Do not use when</h2>
        <p>No known use cases when this plugin should not be used.</p>

        <h2>Working example</h2>
        <p><a href="../../../demos/equalheight/equalheight-en.html">Working example of the equal height plugin</a></p>

        <h2>How to implement</h2>
        <ol>
            <li>Add the class <code>wb-eqht</code> to the element that contains the elements for which you want the height to be equal.</li>
            <li>Add the class <code>hght-inhrt</code> to the nested element for which you want the height to be equal.</li>
        </ol>

        <h2>Configuration options</h2>
        <p>There are no configuration options.</p>
</section>

<section>
	<h2>Events</h2>
	<table class="table">
		<thead>
			<tr>
				<th>Event</th>
				<th>Trigger</th>
				<th>What it does</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><code>txt-rsz.wb</code></td>
				<td>The font size was changed.</td>
				<td rowspan="4">Re-equalises the heights of all elements contained in a <code>wb-eqht</code> container.</td>
			</tr>
			<tr>
				<td><code>win-rsz-width.wb</code></td>
				<td>The width of the browser window was changed.</td>
			</tr>
			<tr>
				<td><code>win-rsz-height.wb</code></td>
				<td>The height of the browser window was changed.</td>
			</tr>
			<tr>
				<td><code>tables-draw.wb</code></td>
				<td>A <a href="../tables/tables-en.html">table</a> was drawn.</td>
			</tr>
		</tbody>
	</table>
</section>

<section>
	<h2>Source code</h2>
	<p><a href="https://github.com/wet-boew/wet-boew/tree/master/src/plugins/equalheight">Source code for the equal height plugin on GitHub</a></p>
</section>
