---
{
	"title": "Développement des compétences",
	"language": "fr",
	"tag": "multimedia",
	"parentdir": "multimedia",
	"altLangPrefix": "multimedia",
	"dateModified": "2014-07-20"
}
---
<div id="inline-captions">
	<section>
		<h2>Transcription</h2>
		<p class="wb-vd" data-load="vd"><strong>(La vidéo débute par une image de l'animatrice s'avançant vers la caméra. Un trait rouge suit le texte «&#160;Développement des compétences&#160;».)</strong></p>
		<p><span class="wb-tmtxt" data-begin="2.20s" data-dur="3.10s" data-load="tt">Bonjour, je m'appelle Amélie et je travaille </span>
		<span class="wb-tmtxt" data-begin="5.30s" data-dur="1.63s" data-load="tt">à Service Canada.</span></p>
		<p class="wb-vd" data-load="vd"><strong>(Coupure et gros plan de l'animatrice.)</strong></p>
		<p><span class="wb-tmtxt" data-begin="6.93s" data-dur="2.27s" data-load="tt">Vous savez sans doute que tous les jours, </span>
		<span class="wb-tmtxt" data-begin="9.20s" data-dur="2.63s" data-load="tt">de nombreux Canadiens perfectionnent leurs </span>
		<span class="wb-tmtxt" data-begin="11.83s" data-dur="2.10s" data-load="tt">compétences ou changent d'emploi.</span></p>
		<p class="wb-vd" data-load="vd"><strong>(DESSIN AU TRAIT&#160;: Le bonhomme-allumettes se dirige vers l'animatrice, puis s'arrête. Des points d'interrogation apparaissent autour de sa tête.)</strong></p>
		<p><span class="wb-tmtxt" data-begin="13.93s" data-dur="1.73s" data-load="tt">Vous pensez faire comme eux?</span></p>
		<p><span class="wb-tmtxt" data-begin="15.66s" data-dur="2.90s" data-load="tt">Sachez que vous pouvez avoir accès à plus de 300 profils </span>
		<span class="wb-tmtxt" data-begin="18.56s" data-dur="4.07s" data-load="tt">d'emploi en ligne et en apprendre plus</span></p>
		<p class="wb-vd" data-load="vd"><strong>(DESSIN AU TRAIT&#160;: Le bonhomme allumettes tient une mallette. Un autre bonhomme allumettes portant un casque de protection et tenant un marteau apparaît à l'écran.)</strong></p>
		<p><span class="wb-tmtxt" data-begin="22.63s" data-dur="3.20s" data-load="tt">sur les compétences requises pour obtenir l'emploi </span>
		<span class="wb-tmtxt" data-begin="25.83s" data-dur="2.07s" data-load="tt">qui vous intéresse.</span></p>
		<p class="wb-vd" data-load="vd"><strong>(Plan moyen de l'animatrice. Une page du site Guichet emplois apparaît à l'écran et les mots «&#160;Information de formation, carrière et travailleurs&#160;» sont mis en évidence. Les mots «&#160;Section Formation et carrière du site Guichet emplois&#160;» apparaissent à l'intérieur d'une bulle.)</strong></p>
		<p><span class="wb-tmtxt" data-begin="27.90s" data-dur="2.50s" data-load="tt">La section Formation et carrière du site Guichet </span>
		<span class="wb-tmtxt" data-begin="30.40s" data-dur="3.70s" data-load="tt">emplois vous permet de voir les choix qui s'offrent </span>
		<span class="wb-tmtxt" data-begin="34.10s" data-dur="3.30s" data-load="tt">aux adultes en matière d'apprentissage et d'en </span>
		<span class="wb-tmtxt" data-begin="37.40s" data-dur="3.33s" data-load="tt">savoir plus sur les moyens à votre disposition pour vous </span>
		<span class="wb-tmtxt" data-begin="40.73s" data-dur="3.57s" data-load="tt">aider à payer la formation dont vous avez besoin.</span></p>
		<p class="wb-vd" data-load="vd"><strong>(Plan moyen de l'animatrice.)</strong></p>
		<p><span class="wb-tmtxt" data-begin="44.30s" data-dur="3.03s" data-load="tt">Vous y trouverez aussi une liste de conseillers, </span>
		<span class="wb-tmtxt" data-begin="47.33s" data-dur="3.13s" data-load="tt">d'enseignants et d'autres ressources dans votre </span>
		<span class="wb-tmtxt" data-begin="50.46s" data-dur="2.90s" data-load="tt">localité, auprès de qui vous pourrez obtenir plus </span>
		<span class="wb-tmtxt" data-begin="53.36s" data-dur="3.04s" data-load="tt">de renseignements avant de prendre une décision.</span></p>
		<p class="wb-vd" data-load="vd"><strong>(Plan moyen de l'animatrice.)</strong></p>
		<p><span class="wb-tmtxt" data-begin="56.40s" data-dur="1.53s" data-load="tt">Et ce n'est pas tout!</span></p>
		<p class="wb-vd" data-load="vd"><strong>(Plan moyen de l'animatrice. La page Web «&#160;Information sur le marché du travail&#160;» apparaît à l'écran.)</strong></p>
		<p><span class="wb-tmtxt" data-begin="57.93s" data-dur="2.90s" data-load="tt">Vous y obtiendrez divers renseignements, </span>
		<span class="wb-tmtxt" data-begin="60.83s" data-dur="2.87s" data-load="tt">comme les types d'emploi offerts, par région, </span>
		<span class="wb-tmtxt" data-begin="63.70s" data-dur="3.26s" data-load="tt">partout au pays, et vous pourrez en apprendre plus </span>
		<span class="wb-tmtxt" data-begin="66.96s" data-dur="2.70s" data-load="tt">sur les compétences requises pour obtenir </span>
		<span class="wb-tmtxt" data-begin="69.66s" data-dur="1.74s" data-load="tt">l'un de ces emplois.</span></p>
		<p class="wb-vd" data-load="vd"><strong>(Plan moyen de l'animatrice. DESSIN AU TRAIT&#160;: Le bonhomme allumettes est dans une salle de classe.)</strong></p>
		<p><span class="wb-tmtxt" data-begin="71.40s" data-dur="3.20s" data-load="tt">Si vous décidez de suivre une formation à plein temps, </span>
		<span class="wb-tmtxt" data-begin="74.60s" data-dur="2.66s" data-load="tt">vous pourriez avoir droit des prêts, </span>
		<span class="wb-tmtxt" data-begin="77.26s" data-dur="3.60s" data-load="tt">à des bourses et à des subventions pour vous aider </span>
		<span class="wb-tmtxt" data-begin="80.86s" data-dur="2.00s" data-load="tt">à en payer les coûts.</span></p>
		<p class="wb-vd" data-load="vd"><strong>(Plan moyen de l'animatrice.)</strong></p>
		<p><span class="wb-tmtxt" data-begin="82.86s" data-dur="2.90s" data-load="tt">Par exemple, les personnes qui ont terminé la première </span>
		<span class="wb-tmtxt" data-begin="85.76s" data-dur="2.80s" data-load="tt">ou la deuxième année d'un programme d'apprentissage </span>
		<span class="wb-tmtxt" data-begin="88.56s" data-dur="2.80s" data-load="tt">peuvent avoir droit à la Subvention </span>
		<span class="wb-tmtxt" data-begin="91.36s" data-dur="2.27s" data-load="tt">incitative aux apprentis.</span></p>
		<p><span class="wb-tmtxt" data-begin="93.63s" data-dur="2.10s" data-load="tt">Et celles qui ont terminé leur programme </span>
		<span class="wb-tmtxt" data-begin="95.73s" data-dur="3.50s" data-load="tt">peuvent avoir droit à la Subvention à l'achèvement </span>
		<span class="wb-tmtxt" data-begin="99.23s" data-dur="2.00s" data-load="tt">de la formation d'apprenti.</span></p>
		<p class="wb-vd" data-load="vd"><strong>(La page Web «&#160;Prêt d'études canadien – Disposition applicable aux étudiants ayant une invalidité permanente&#160;» apparaît à l'écran. Les mots «&#160;Bourses d'études&#160;» et «&#160;Programme canadien de prêts aux étudiants&#160;» apparaissent à l'intérieur d'une bulle.)</strong></p>
		<p><span class="wb-tmtxt" data-begin="101.23s" data-dur="3.43s" data-load="tt">Si vous êtes atteint d'une incapacité permanente, </span>
		<span class="wb-tmtxt" data-begin="104.66s" data-dur="2.70s" data-load="tt">vous pourriez avoir droit des bourses d'études </span>
		<span class="wb-tmtxt" data-begin="107.36s" data-dur="2.84s" data-load="tt">ou à une subvention dans le cadre du Programme canadien </span>
		<span class="wb-tmtxt" data-begin="110.20s" data-dur="2.63s" data-load="tt">de prêts aux étudiants.</span></p>
		<p class="wb-vd" data-load="vd"><strong>(La page Web «&#160;Régime d'encouragement à l'éducation permanente&#160;» apparaît à l'écran. DESSIN AU TRAIT&#160;: Le bonhomme-allumettes pointe vers l'écran.)</strong></p>
		<p><span class="wb-tmtxt" data-begin="112.83s" data-dur="2.67s" data-load="tt">Et grâce au Régime d'encouragement à l'éducation </span>
		<span class="wb-tmtxt" data-begin="115.50s" data-dur="3.40s" data-load="tt">permanente, vous pourriez utiliser les fonds de vos </span>
		<span class="wb-tmtxt" data-begin="118.90s" data-dur="3.53s" data-load="tt">REER pour payer vos études ou votre formation.</span></p>
		<p><span class="wb-tmtxt" data-begin="122.43s" data-dur="2.57s" data-load="tt">Peu importe votre choix de carrière, </span>
		<span class="wb-tmtxt" data-begin="125.00s" data-dur="2.63s" data-load="tt">prenez le temps de bien examiner toutes </span>
		<span class="wb-tmtxt" data-begin="127.63s" data-dur="2.40s" data-load="tt">les possibilités qui s'offrent à vous.</span></p>
		<p><span class="wb-tmtxt" data-begin="130.03s" data-dur="1.70s" data-load="tt">Vous ne le regretterez pas, </span>
		<span class="wb-tmtxt" data-begin="131.73s" data-dur="2.40s" data-load="tt">puisque votre choix sera bien réfléchi.</span></p>
		<p class="wb-vd" data-load="vd"><strong>(DESSIN AU TRAIT&#160;: Le bonhomme allumettes est assis à un bureau et travaille à l'ordinateur. La page d'accueil du site de Service Canada apparaît à l'écran.)</strong></p>
		<p><span class="wb-tmtxt" data-begin="134.13s" data-dur="3.60s" data-load="tt">N'oubliez pas de consulter le site Web de Service Canada.</span></p>
		<p><span class="wb-tmtxt" data-begin="137.73s" data-dur="2.97s" data-load="tt">Vous y trouverez les outils et les renseignements </span>
		<span class="wb-tmtxt" data-begin="140.70s" data-dur="2.93s" data-load="tt">dont vous avez besoin pour poursuivre vos études </span>
		<span class="wb-tmtxt" data-begin="143.63s" data-dur="1.63s" data-load="tt">et votre formation.</span></p>
		<p class="wb-vd" data-load="vd"><strong>(Gros plan de l'animatrice. DESSIN AU TRAIT&#160;: Le logo de Service Canada apparaît et le bonhomme allumettes fait un salut.)</strong></p>
		<p><span class="wb-tmtxt" data-begin="145.26s" data-dur="2.50s" data-load="tt">À Service Canada, nous sommes au service des gens.</span></p>
		<p class="wb-vd" data-load="vd"><strong>(L'écran devient noir.)</strong></p>
	</section>
</div>
