---
{
	"title": "Training and Development",
	"language": "en",
	"tag": "multimedia",
	"parentdir": "multimedia",
	"altLangPrefix": "multimedia",
	"dateModified": "2017-02-20"
}
---
<div id="inline-captions">
	<section>
		<h2>Transcript</h2>
		<p><strong>(Animated pen draws a red line that leads into the text Training and development.)</strong></p>
		<p>Hi, my name is Eric, and I'm a Service Canada employee.</p>
		<p><strong>(Cut to a close-up of the Host.)</strong></p>
		<p>Each and every day, Canadians are improving their job
		skills or changing their career paths.</p>
		<p><strong>(LINE DRAWING GRAPHIC: Stairs appear and our stick person walks towards them, stops. Question marks appear around his head.)</strong></p>
		<p>Are you thinking about taking that step?</p>
		<p>If so, did you know that you can research
		more than 300 job profiles online?</p>
		<p><strong>(LINE DRAWING GRAPHIC: Stick person appears with briefcase. And then wearing a hard hat and swinging a hammer.)</strong></p>
		<p>Plus, you can find out what skills you'll need
		to get the job that interests you.</p>
		<p><strong>(Medium shot of Host. LINE DRAWING GRAPHIC: The (actual) Job Bank’s Training and learning page appears. The words “Training, Career and Worker Information” are highlighted.)</strong></p>
		<p>Job Bank's Training and Careers site lets you explore
		adult-learning choices and explains the various options
		that are available to help you pay
		for the training you need.</p>
		<p><strong>(Medium shot of Host.)</strong></p>
		<p>You can even find counsellors, teachers,
		and other resources near you if you'd like to have
		more information before you make a decision.</p>
		<p><strong>(Medium shot of Host.)</strong></p>
		<p>And the support doesn't end there.</p>
		<p><strong>(Medium shot of Host. (actual) Service Canada home page. Dissolve to (actual) Labour Market Information site.)</strong></p>
		<p>From the alphabetical index on our Service Canada home page,
		you can link to the Labour Market Information site.</p>
		<p>There, you'll find out what kinds of jobs are available,
		by area, across the country, and what skills you'll need
		to get those jobs.</p>
		<p><strong>(Medium shot of Host. LINE DRAWING GRAPHIC: our stick person in a classroom setting.)</strong></p>
		<p>But, what if you decide to go for full-time training?</p>
		<p>Well, there are a number of loans and grants available
		that could help you with the costs.</p>
		<p><strong>(Medium shot of Host.)</strong></p>
		<p>For example, there's the Apprenticeship Incentive Grant
		for those who've completed the first or second level
		of their apprenticeship.</p>
		<p>And for those who've completed the entire apprenticeship,
		in a specific trade,
		there's the Apprenticeship Completion Grant.</p>
		<p><strong>(Show (actual) Canada Student Loans Program – Permanent Disability Benefit web page. Words “Student Loans Program” and “Study Grant” appear.)</strong></p>
		<p>If you have a permanent disability,
		you may want to look into the Canada Student Loans program,
		or apply for a study grant.</p>
		<p><strong>(Show main Life-Long Learning Plan program pages.)</strong></p>
		<p>Under the Life-Long Learning Plan program,
		you can find out how to use some of your RRSP funds
		to pay for your education or training.</p>
		<p><strong>(Medium shot of Host.)</strong></p>
		<p>Whatever you see yourself doing,
		why not take the time to discover all your options?</p>
		<p><strong>(LINE DRAWING GRAPHIC: our stick person waves.)</strong></p>
		<p>Doing your homework now can help you get
		on the right path to finding the work you want.</p>
		<p><strong>(Our stick person appears typing at computer and desk. (actual) Canada homepage, Job Bank and LMI pages loom out from the computer.)</strong></p>
		<p>Be sure to check out our Service Canada Web site.</p>
		<p>There you'll find the tools and information
		you need to continue your education and training.</p>
		<p>It really is time well spent.</p>
		<p><strong>(Tight shot of the Host. LINE DRAWING GRAPHIC: Service Canada logo. Stick person takes a bow.)</strong></p>
		<p>At Service Canada, we're people serving people.</p>
		<p><strong>(Dip to black.)</strong></p>
	</section>
</div>