---
{
	"title": "Training and Development",
	"language": "en",
	"tag": "multimedia",
	"parentdir": "multimedia",
	"altLangPrefix": "multimedia",
	"dateModified": "2014-02-19"
}
---
<div id="inline-captions">
	<section>
		<h2>Transcript</h2>
		<p class="wb-vd" data-load="vd"><strong>(Animated pen draws a red line that leads into the text Training and development.)</strong></p>
		<p><span class="wb-tmtxt" data-begin="1.40s" data-dur="3.33s" data-load="tt">Hi, my name is Eric, and I'm a Service Canada employee.</span></p>
		<p class="wb-vd" data-load="vd"><strong>(Cut to a close-up of the Host.)</strong></p>
		<p><span class="wb-tmtxt" data-begin="4.73s" data-dur="2.73s" data-load="tt">Each and every day, Canadians are improving their job </span>
		<span class="wb-tmtxt" data-begin="7.46s" data-dur="2.14s" data-load="tt">skills or changing their career paths.</span></p>
		<p class="wb-vd" data-load="vd"><strong>(LINE DRAWING GRAPHIC: Stairs appear and our stick person walks towards them, stops. Question marks appear around his head.)</strong></p>
		<p><span class="wb-tmtxt" data-begin="9.60s" data-dur="1.66s" data-load="tt">Are you thinking about taking that step?</span></p>
		<p><span class="wb-tmtxt" data-begin="11.26s" data-dur="2.04s" data-load="tt">If so, did you know that you can research </span>
		<span class="wb-tmtxt" data-begin="13.30s" data-dur="2.40s" data-load="tt">more than 300 job profiles online?</span></p>
		<p class="wb-vd" data-load="vd"><strong>(LINE DRAWING GRAPHIC: Stick person appears with briefcase. And then wearing a hard hat and swinging a hammer.)</strong></p>
		<p><span class="wb-tmtxt" data-begin="15.70s" data-dur="2.30s" data-load="tt">Plus, you can find out what skills you'll need </span>
		<span class="wb-tmtxt" data-begin="18.00s" data-dur="1.70s" data-load="tt">to get the job that interests you.</span></p>
		<p class="wb-vd" data-load="vd"><strong>(Medium shot of Host. LINE DRAWING GRAPHIC: The (actual) Job Bank’s Training and learning page appears. The words “Training, Career and Worker Information” are highlighted.)</strong></p>
		<p><span class="wb-tmtxt" data-begin="19.70s" data-dur="2.43s" data-load="tt">Job Bank's Training and Careers site lets you explore </span>
		<span class="wb-tmtxt" data-begin="22.13s" data-dur="3.07s" data-load="tt">adult-learning choices and explains the various options </span>
		<span class="wb-tmtxt" data-begin="25.20s" data-dur="1.93s" data-load="tt">that are available to help you pay </span>
		<span class="wb-tmtxt" data-begin="27.13s" data-dur="1.50s" data-load="tt">for the training you need.</span></p>
		<p class="wb-vd" data-load="vd"><strong>(Medium shot of Host.)</strong></p>
		<p><span class="wb-tmtxt" data-begin="28.63s" data-dur="1.80s" data-load="tt">You can even find counsellors, teachers, </span>
		<span class="wb-tmtxt" data-begin="30.43s" data-dur="2.10s" data-load="tt">and other resources near you if you'd like to have </span>
		<span class="wb-tmtxt" data-begin="32.53s" data-dur="2.13s" data-load="tt">more information before you make a decision.</span></p>
		<p class="wb-vd" data-load="vd"><strong>(Medium shot of Host.)</strong></p>
		<p><span class="wb-tmtxt" data-begin="34.66s" data-dur="1.74s" data-load="tt">And the support doesn't end there.</span></p>
		<p class="wb-vd" data-load="vd"><strong>(Medium shot of Host. (actual) Service Canada home page. Dissolve to (actual) Labour Market Information site.)</strong></p>
		<p><span class="wb-tmtxt" data-begin="36.40s" data-dur="2.73s" data-load="tt">From the alphabetical index on our Service Canada home page, </span>
		<span class="wb-tmtxt" data-begin="39.13s" data-dur="2.93s" data-load="tt">you can link to the Labour Market Information site.</span></p>
		<p><span class="wb-tmtxt" data-begin="42.06s" data-dur="2.10s" data-load="tt">There, you'll find out what kinds of jobs are available, </span>
		<span class="wb-tmtxt" data-begin="44.16s" data-dur="2.50s" data-load="tt">by area, across the country, and what skills you'll need </span>
		<span class="wb-tmtxt" data-begin="46.66s" data-dur="1.74s" data-load="tt">to get those jobs.</span></p>
		<p class="wb-vd" data-load="vd"><strong>(Medium shot of Host. LINE DRAWING GRAPHIC: our stick person in a classroom setting.)</strong></p>
		<p><span class="wb-tmtxt" data-begin="48.40s" data-dur="2.23s" data-load="tt">But, what if you decide to go for full-time training?</span></p>
		<p><span class="wb-tmtxt" data-begin="50.63s" data-dur="2.67s" data-load="tt">Well, there are a number of loans and grants available </span>
		<span class="wb-tmtxt" data-begin="53.30s" data-dur="2.13s" data-load="tt">that could help you with the costs.</span></p>
		<p class="wb-vd" data-load="vd"><strong>(Medium shot of Host.)</strong></p>
		<p><span class="wb-tmtxt" data-begin="55.43s" data-dur="2.33s" data-load="tt">For example, there's the Apprenticeship Incentive Grant </span>
		<span class="wb-tmtxt" data-begin="57.76s" data-dur="2.20s" data-load="tt">for those who've completed the first or second level </span>
		<span class="wb-tmtxt" data-begin="59.96s" data-dur="1.60s" data-load="tt">of their apprenticeship.</span></p>
		<p><span class="wb-tmtxt" data-begin="61.56s" data-dur="2.54s" data-load="tt">And for those who've completed the entire apprenticeship, </span>
		<span class="wb-tmtxt" data-begin="64.10s" data-dur="1.30s" data-load="tt">in a specific trade, </span>
		<span class="wb-tmtxt" data-begin="65.40s" data-dur="2.06s" data-load="tt">there's the Apprenticeship Completion Grant.</span></p>
		<p class="wb-vd" data-load="vd"><strong>(Show (actual) Canada Student Loans Program – Permanent Disability Benefit web page. Words “Student Loans Program” and “Study Grant” appear.)</strong></p>
		<p><span class="wb-tmtxt" data-begin="67.46s" data-dur="1.67s" data-load="tt">If you have a permanent disability, </span>
		<span class="wb-tmtxt" data-begin="69.13s" data-dur="2.50s" data-load="tt">you may want to look into the Canada Student Loans program, </span>
		<span class="wb-tmtxt" data-begin="71.63s" data-dur="2.20s" data-load="tt">or apply for a study grant.</span></p>
		<p class="wb-vd" data-load="vd"><strong>(Show main Life-Long Learning Plan program pages.)</strong></p>
		<p><span class="wb-tmtxt" data-begin="73.83s" data-dur="2.70s" data-load="tt">Under the Life-Long Learning Plan program, </span>
		<span class="wb-tmtxt" data-begin="76.53s" data-dur="2.73s" data-load="tt">you can find out how to use some of your RRSP funds </span>
		<span class="wb-tmtxt" data-begin="79.26s" data-dur="2.37s" data-load="tt">to pay for your education or training.</span></p>
		<p class="wb-vd" data-load="vd"><strong>(Medium shot of Host.)</strong></p>
		<p><span class="wb-tmtxt" data-begin="81.63s" data-dur="2.47s" data-load="tt">Whatever you see yourself doing, </span>
		<span class="wb-tmtxt" data-begin="84.10s" data-dur="2.73s" data-load="tt">why not take the time to discover all your options?</span></p>
		<p class="wb-vd" data-load="vd"><strong>(LINE DRAWING GRAPHIC: our stick person waves.)</strong></p>
		<p><span class="wb-tmtxt" data-begin="86.83s" data-dur="2.73s" data-load="tt">Doing your homework now can help you get </span>
		<span class="wb-tmtxt" data-begin="89.56s" data-dur="2.74s" data-load="tt">on the right path to finding the work you want.</span></p>
		<p class="wb-vd" data-load="vd"><strong>(Our stick person appears typing at computer and desk. (actual) Canada homepage, Job Bank and LMI pages loom out from the computer.)</strong></p>
		<p><span class="wb-tmtxt" data-begin="92.30s" data-dur="2.40s" data-load="tt">Be sure to check out our Service Canada Web site.</span></p>
		<p><span class="wb-tmtxt" data-begin="94.70s" data-dur="1.80s" data-load="tt">There you'll find the tools and information </span>
		<span class="wb-tmtxt" data-begin="96.50s" data-dur="1.80s" data-load="tt">you need to continue your education and training.</span></p>
		<p><span class="wb-tmtxt" data-begin="98.30s" data-dur="2.53s" data-load="tt">It really is time well spent.</span></p>
		<p class="wb-vd" data-load="vd"><strong>(Tight shot of the Host. LINE DRAWING GRAPHIC: Service Canada logo. Stick person takes a bow.)</strong></p>
		<p><span class="wb-tmtxt" data-begin="100.83s" data-dur="2.70s" data-load="tt">At Service Canada, we're people serving people.</span></p>
		<p class="wb-vd" data-load="vd"><strong>(Dip to black.)</strong></p>
	</section>
</div>