---
{
	"title": "Développement des compétences",
	"language": "fr",
	"tag": "multimedia",
	"parentdir": "multimedia",
	"altLangPrefix": "multimedia",
	"dateModified": "2017-02-20"
}
---
<div id="inline-captions">
	<section>
		<h2>Transcription</h2>
		<p><strong>(La vidéo débute par une image de l'animatrice s'avançant vers la caméra. Un trait rouge suit le texte «&#160;Développement des compétences&#160;».)</strong></p>
		<p>Bonjour, je m'appelle Amélie et je travaille
		à Service Canada.</p>
		<p><strong>(Coupure et gros plan de l'animatrice.)</strong></p>
		<p>Vous savez sans doute que tous les jours,
		de nombreux Canadiens perfectionnent leurs
		compétences ou changent d'emploi.</p>
		<p><strong>(DESSIN AU TRAIT&#160;: Le bonhomme-allumettes se dirige vers l'animatrice, puis s'arrête. Des points d'interrogation apparaissent autour de sa tête.)</strong></p>
		<p>Vous pensez faire comme eux?</p>
		<p>Sachez que vous pouvez avoir accès à plus de 300 profils
		d'emploi en ligne et en apprendre plus</p>
		<p><strong>(DESSIN AU TRAIT&#160;: Le bonhomme allumettes tient une mallette. Un autre bonhomme allumettes portant un casque de protection et tenant un marteau apparaît à l'écran.)</strong></p>
		<p>sur les compétences requises pour obtenir l'emploi
		qui vous intéresse.</p>
		<p><strong>(Plan moyen de l'animatrice. Une page du site Guichet emplois apparaît à l'écran et les mots «&#160;Information de formation, carrière et travailleurs&#160;» sont mis en évidence. Les mots «&#160;Section Formation et carrière du site Guichet emplois&#160;» apparaissent à l'intérieur d'une bulle.)</strong></p>
		<p>La section Formation et carrière du site Guichet
		emplois vous permet de voir les choix qui s'offrent
		aux adultes en matière d'apprentissage et d'en
		savoir plus sur les moyens à votre disposition pour vous
		aider à payer la formation dont vous avez besoin.</p>
		<p><strong>(Plan moyen de l'animatrice.)</strong></p>
		<p>Vous y trouverez aussi une liste de conseillers,
		d'enseignants et d'autres ressources dans votre
		localité, auprès de qui vous pourrez obtenir plus
		de renseignements avant de prendre une décision.</p>
		<p><strong>(Plan moyen de l'animatrice.)</strong></p>
		<p>Et ce n'est pas tout!</p>
		<p><strong>(Plan moyen de l'animatrice. La page Web «&#160;Information sur le marché du travail&#160;» apparaît à l'écran.)</strong></p>
		<p>Vous y obtiendrez divers renseignements,
		comme les types d'emploi offerts, par région,
		partout au pays, et vous pourrez en apprendre plus
		sur les compétences requises pour obtenir
		l'un de ces emplois.</p>
		<p><strong>(Plan moyen de l'animatrice. DESSIN AU TRAIT&#160;: Le bonhomme allumettes est dans une salle de classe.)</strong></p>
		<p>Si vous décidez de suivre une formation à plein temps,
		vous pourriez avoir droit des prêts,
		à des bourses et à des subventions pour vous aider
		à en payer les coûts.</p>
		<p><strong>(Plan moyen de l'animatrice.)</strong></p>
		<p>Par exemple, les personnes qui ont terminé la première
		ou la deuxième année d'un programme d'apprentissage
		peuvent avoir droit à la Subvention
		incitative aux apprentis.</p>
		<p>Et celles qui ont terminé leur programme
		peuvent avoir droit à la Subvention à l'achèvement
		de la formation d'apprenti.</p>
		<p><strong>(La page Web «&#160;Prêt d'études canadien – Disposition applicable aux étudiants ayant une invalidité permanente&#160;» apparaît à l'écran. Les mots «&#160;Bourses d'études&#160;» et «&#160;Programme canadien de prêts aux étudiants&#160;» apparaissent à l'intérieur d'une bulle.)</strong></p>
		<p>Si vous êtes atteint d'une incapacité permanente,
		vous pourriez avoir droit des bourses d'études
		ou à une subvention dans le cadre du Programme canadien
		de prêts aux étudiants.</p>
		<p><strong>(La page Web «&#160;Régime d'encouragement à l'éducation permanente&#160;» apparaît à l'écran. DESSIN AU TRAIT&#160;: Le bonhomme-allumettes pointe vers l'écran.)</strong></p>
		<p>Et grâce au Régime d'encouragement à l'éducation
		permanente, vous pourriez utiliser les fonds de vos
		REER pour payer vos études ou votre formation.</p>
		<p>Peu importe votre choix de carrière,
		prenez le temps de bien examiner toutes
		les possibilités qui s'offrent à vous.</p>
		<p>Vous ne le regretterez pas,
		puisque votre choix sera bien réfléchi.</p>
		<p><strong>(DESSIN AU TRAIT&#160;: Le bonhomme allumettes est assis à un bureau et travaille à l'ordinateur. La page d'accueil du site de Service Canada apparaît à l'écran.)</strong></p>
		<p>N'oubliez pas de consulter le site Web de Service Canada.</p>
		<p>Vous y trouverez les outils et les renseignements
		dont vous avez besoin pour poursuivre vos études
		et votre formation.</p>
		<p><strong>(Gros plan de l'animatrice. DESSIN AU TRAIT&#160;: Le logo de Service Canada apparaît et le bonhomme allumettes fait un salut.)</strong></p>
		<p>À Service Canada, nous sommes au service des gens.</p>
		<p><strong>(L'écran devient noir.)</strong></p>
	</section>
</div>
