---
{
	"title": "Lecteur multimédia - Audio seulement",
	"language": "fr",
	"category": "Plugiciels",
	"description": "Un lecteur média accessible permettant d'intégrer des contenus vidéo et audio sur les pages Web.",
	"tag": "multimedia",
	"parentdir": "multimedia",
	"altLangPrefix": "multimedia-audio",
	"dateModified": "2014-08-01"
}
---
<span class="wb-prettify all-pre hide"></span>

<div class="row">
	<section class="col-md-12">
		<h2>Vue d'ensemble</h2>
		<p>Pour l'audio seulement, le lecteur multimédia s'appuie sur la balise «&#160;<code>audio</code>&#160;» HTML5 natif.</p>
		<p>Le scénario du lecteur multimédia repose sur l'élément «&#160;<code>progress</code>&#160;» HTML5 et utilise un polyfill lorsque l'élément n'est pas pris en charge.</p>
		<p>Le format MP3 est le minimum requis pour la vidéo parce que c'est le format vidéo standard sur de nombreux navigateurs. Un OGG Vorbis facultative mais fortement recommandée devrait être ajouté aussi bien pour permettre à certains navigateurs tels que Firefox qui ne comprennent pas un support natif pour MP3 de tirer parti des gains de performance de leur implémentations d'HTML5.</p>
	</section>
</div>

<div class="row">
	<section class="col-md-12">
		<h2>Exemple (Chevauchée des Walkyries)</h2>
		<figure class="wb-mltmd" data-wb-mltmd='{"shareUrl": "http://www.archive.org/download/RideOfTheValkyries/ride_of_the_valkyries_2.mp3"}'>
			<audio title="Chevauchée des Walkyries">
				<source src="http://www.archive.org/download/RideOfTheValkyries/ride_of_the_valkyries_2.mp3" type="audio/mp3" />
				<source src="http://www.archive.org/download/RideOfTheValkyries/ride_of_the_valkyries_2.ogg" type="audio/ogg" />
			</audio>
			<figcaption>
				<p>Chevauchée des Walkyries</p>
			</figcaption>
		</figure>

		<details class="mrgn-tp-md">
			<summary>Visualiser le code</summary>
			<pre><code>&lt;figure class=&quot;wb-mltmd&quot; data-wb-mltmd='{"shareUrl": "http://www.archive.org/download/RideOfTheValkyries/ride_of_the_valkyries_2.mp3"}'&gt;
	&lt;audio title=&quot;Chevauchée des Walkyries&quot;&gt;
		&lt;source src=&quot;http://www.archive.org/download/RideOfTheValkyries/ride_of_the_valkyries_2.mp3&quot; type=&quot;audio/mp3&quot; /&gt;
		&lt;source src=&quot;http://www.archive.org/download/RideOfTheValkyries/ride_of_the_valkyries_2.ogg&quot; type=&quot;audio/ogg&quot; /&gt;
	&lt;/audio&gt;
	&lt;figcaption&gt;
		&lt;p&gt;Chevauchée des Walkyries&lt;/p&gt;
	&lt;/figcaption&gt;
&lt;/figure&gt;</code></pre>
		</details>
	</section>
</div>
