---
{
	"title": "Multimedia Player",
	"language": "en",
	"category": "Plugin",
	"description": "Provides a media player for embedding accessible video and audio into web pages.",
	"tag": "multimedia",
	"fr": "multimedia-audio"
}
---
<div class="row">
	<section class="wb-mltmd col-md-12">
		<h3 class="wb-inv">Audio</h3>
		<audio title="Audio Example">
			<source src="http://www.archive.org/download/RideOfTheValkyries/ride_of_the_valkyries_2.mp3" type="audio/mp3" />
			<source src="http://www.archive.org/download/RideOfTheValkyries/ride_of_the_valkyries_2.ogg" type="audio/ogg" />
		</audio>
	</section>
</div>
