---
{
	"title": "Multimedia Player - Video",
	"language": "en",
	"category": "Plugins",
	"description": "Provides an accessible multimedia player for embedding video into web pages.",
	"tag": "multimedia",
	"parentdir": "multimedia",
	"altLangPrefix": "multimedia",
	"dateModified": "2014-07-20"
}
---
<span class="wb-prettify all-pre hide"></span>

<div class="row">
	<section class="col-md-12">
		<h2>Overview</h2>
		<p>For video, the multimedia player leverages the native HTML5 <code>video</code> tag and relies on Flash as a fallback mechanism when the HTML5 <code>video</code> tag is not implemented. The MPEG 4 format (H264 codec) is the minimum requirement for video because the Flash fallback relies on it and H264 is the standard video format on many mobile devices. An optional but highly recommended Webm (VP8 codec) should be added as well to allow some browsers such as Firefox that do not include native support for H264 to leverage the native HTML5 performance gains.</p>
		<p>The multimedia player's timeline relies on the HTML5 <code>progress</code> element and uses a polyfill when the element is not supported.</p>
	</section>
</div>

<section>
	<div class="row">
		<div class="col-md-12">
			<h2>Examples</h2>
			<p>The first two video examples use native HTML5 video on most modern browsers including Firefox 6+, Google Chrome 3+ and IE9. The third video example works natively in some browsers but relies on the Flash fallback for Firefox. For all examples, the Flash fallback is used for IE8 as well as older versions of Firefox.</p>
		</div>
	</div>

	<div class="row">
		<section class="col-md-6">
			<h3 class="wb-inv">MPEG4 (H264 + AAC) and WebM (VP8) source and HTML captions</h3>
			<figure class="wb-mltmd" data-wb-mltmd='{"shareUrl": "http://youtu.be/p2-1ZIHu1W0"}'>
				<video poster="http://www.servicecanada.gc.ca/eng/video/images/te-lj-eng.jpg" title="Looking for a Job">
					<source type="video/webm" src="http://video2.servicecanada.gc.ca/video/boew-wet/te-lj-eng.webm" />
					<source type="video/mp4" src="http://video2.servicecanada.gc.ca/video/boew-wet/te-lj-eng.mp4" />
					<track src="cpts-lg-en.html" kind="captions" data-type="text/html" srclang="en" label="English" />
				</video>
				<figcaption>
					<p>Looking for a Job (<a href="http://www.servicecanada.gc.ca/eng/video/lj.shtml">Transcript</a>)</p>
				</figcaption>
			</figure>

			<details class="mrgn-tp-md">
				<summary>View code</summary>
				<section>
					<h4>In-page HTML</h4>
					<pre><code>&lt;figure class=&quot;wb-mltmd&quot; data-wb-mltmd='{&quot;shareUrl&quot;: &quot;http://youtu.be/p2-1ZIHu1W0&quot;}'&gt;
	&lt;video poster=&quot;http://www.servicecanada.gc.ca/eng/video/images/te-lj-eng.jpg&quot; title=&quot;Looking for a Job&quot;&gt;
		&lt;source type=&quot;video/webm&quot; src=&quot;http://video2.servicecanada.gc.ca/video/boew-wet/te-lj-eng.webm&quot; /&gt;
		&lt;source type=&quot;video/mp4&quot; src=&quot;http://video2.servicecanada.gc.ca/video/boew-wet/te-lj-eng.mp4&quot; /&gt;
		&lt;track src=&quot;cpts-lg-en.html&quot; kind=&quot;captions&quot; data-type=&quot;text/html&quot; srclang=&quot;en&quot; label=&quot;English&quot; /&gt;
	&lt;/video&gt;
	&lt;figcaption&gt;
		&lt;p&gt;Looking for a Job (&lt;a href=&quot;http://www.servicecanada.gc.ca/eng/video/lj.shtml&quot;&gt;Transcript&lt;/a&gt;)&lt;/p&gt;
	&lt;/figcaption&gt;
&lt;/figure&gt;</code></pre>
				</section>

				<section>
					<h4>cpts-lg-en.html</h4>
					<pre><code>&lt;div id=&quot;inline-captions&quot;&gt;
	&lt;section&gt;
		&lt;h2&gt;Transcript&lt;/h2&gt;
		&lt;p class=&quot;wb-vd&quot;&gt;&lt;strong&gt;(Animated pen draws a red line that leads into the text Looking for A Job)&lt;/strong&gt;&lt;/p&gt;
		&lt;p class=&quot;wb-vd&quot;&gt;&lt;strong&gt;(Cut to a medium shot of the Host. LINE DRAWING GRAPHIC: Stick person appears and waves.)&lt;/strong&gt;&lt;/p&gt;
		&lt;p&gt;&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;2.50s&quot; data-dur=&quot;3.84s&quot;&gt;Hi, my name is Eric, and I&amp;#39;m a Service Canada employee.&lt;/span&gt;&lt;/p&gt;
		&lt;p&gt;&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;6.34s&quot; data-dur=&quot;1.87s&quot;&gt;You may have heard the old saying that, &lt;/span&gt;
		&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;8.21s&quot; data-dur=&quot;1.84s&quot;&gt;when you&amp;#39;re out of work, finding a job is your &lt;/span&gt;
		&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;10.04s&quot; data-dur=&quot;1.70s&quot;&gt;full-time occupation.&lt;/span&gt;&lt;/p&gt;
		&lt;p class=&quot;wb-vd&quot;&gt;&lt;strong&gt;(LINE DRAWING GRAPHIC: Stick person walks to right side of screen. Screenshot of job bank website appears in animated computer screen.)&lt;/strong&gt;&lt;/p&gt;
		&lt;p&gt;&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;11.75s&quot; data-dur=&quot;2.40s&quot;&gt;Well, there&amp;#39;s a lot of truth to that:&lt;/span&gt;&lt;/p&gt;
		&lt;p&gt;&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;14.15s&quot; data-dur=&quot;2.57s&quot;&gt;finding a job does take time… and effort.&lt;/span&gt;&lt;/p&gt;
		&lt;p class=&quot;wb-vd&quot;&gt;&lt;strong&gt;(LINE DRAWING GRAPHIC: Stick person rests head against computer screen in discouragement. But then perks-up.)&lt;/strong&gt;&lt;/p&gt;
		&lt;p&gt;&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;16.72s&quot; data-dur=&quot;1.40s&quot;&gt;But don&amp;#39;t get discouraged.&lt;/span&gt;&lt;/p&gt;
		&lt;p&gt;&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;18.12s&quot; data-dur=&quot;1.90s&quot;&gt;There are a number of online tools and programs available &lt;/span&gt;
		&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;20.02s&quot; data-dur=&quot;1.94s&quot;&gt;to help you find a job.&lt;/span&gt;&lt;/p&gt;
		&lt;p class=&quot;wb-vd&quot;&gt;&lt;strong&gt;(Close-up of the Host.)&lt;/strong&gt;&lt;/p&gt;
		&lt;p&gt;&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;21.96s&quot; data-dur=&quot;2.30s&quot;&gt;No matter what you&amp;#39;re looking for there are many Web sites &lt;/span&gt;
		&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;24.26s&quot; data-dur=&quot;2.37s&quot;&gt;where employers post job notices looking for people &lt;/span&gt;
		&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;26.63s&quot; data-dur=&quot;1.90s&quot;&gt;to fill vacant positions.&lt;/span&gt;&lt;/p&gt;
		&lt;p class=&quot;wb-vd&quot;&gt;&lt;strong&gt;(Job Bank website reappears.)&lt;/strong&gt;&lt;/p&gt;
		&lt;p&gt;&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;28.53s&quot; data-dur=&quot;2.34s&quot;&gt;One of these sites is called Job Bank.&lt;/span&gt;&lt;/p&gt;
		&lt;p&gt;&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;30.86s&quot; data-dur=&quot;2.17s&quot;&gt;It&amp;#39;s updated every day, and lists job opportunities &lt;/span&gt;
		&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;33.03s&quot; data-dur=&quot;2.17s&quot;&gt;that are available across the country.&lt;/span&gt;&lt;/p&gt;
		&lt;p class=&quot;wb-vd&quot;&gt;&lt;strong&gt;(Close-up of the screen. Stick person’s profile. Words “Updated Daily and “48 Hours” appear on screen.)&lt;/strong&gt;&lt;/p&gt;
		&lt;p&gt;&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;35.20s&quot; data-dur=&quot;2.30s&quot;&gt;Since the job ads on Job Bank are updated daily, &lt;/span&gt;
		&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;37.50s&quot; data-dur=&quot;2.20s&quot;&gt;you should check them regularly.&lt;/span&gt;&lt;/p&gt;
		&lt;p&gt;&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;39.71s&quot; data-dur=&quot;3.57s&quot;&gt;And, you can search for jobs posted in the last 48 hours.&lt;/span&gt;&lt;/p&gt;
		&lt;p class=&quot;wb-vd&quot;&gt;&lt;strong&gt;(Words “Advertise your Skills” and “Email your matches” appear on screen.)&lt;/strong&gt;&lt;/p&gt;
		&lt;p&gt;&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;43.28s&quot; data-dur=&quot;2.40s&quot;&gt;On Job Bank you can also advertise your skills, &lt;/span&gt;
		&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;45.68s&quot; data-dur=&quot;2.57s&quot;&gt;and even ask them to send you e-mails when jobs &lt;/span&gt;
		&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;48.25s&quot; data-dur=&quot;2.34s&quot;&gt;that match your search criteria are posted.&lt;/span&gt;&lt;/p&gt;
		&lt;p class=&quot;wb-vd&quot;&gt;&lt;strong&gt;(Close-up of the Host. LINE DRAWING GRAPHIC: of the Parliament Building. The web address jobs.gc.ca appears in large letters on the front lawn, stick person points to words.)&lt;/strong&gt;&lt;/p&gt;
		&lt;p&gt;&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;50.58s&quot; data-dur=&quot;1.80s&quot;&gt;If you&amp;#39;re thinking about working in the public sector, &lt;/span&gt;
		&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;52.39s&quot; data-dur=&quot;2.70s&quot;&gt;jobs.gc.ca is the official Web site &lt;/span&gt;
		&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;55.09s&quot; data-dur=&quot;2.90s&quot;&gt;for Government of Canada listings open to the public.&lt;/span&gt;&lt;/p&gt;
		&lt;p&gt;&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;57.99s&quot; data-dur=&quot;1.57s&quot;&gt;Keep in mind, that some departments, &lt;/span&gt;
		&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;59.56s&quot; data-dur=&quot;2.50s&quot;&gt;like the Canada Revenue Agency and Parks Canada, &lt;/span&gt;
		&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;62.06s&quot; data-dur=&quot;2.34s&quot;&gt;post jobs on their own sites too.&lt;/span&gt;&lt;/p&gt;
		&lt;p class=&quot;wb-vd&quot;&gt;&lt;strong&gt;(Medium shot of the Host. LINE DRAWING GRAPHIC: stick person points to Job Bank web page, where words “User ID” and “Password” are highlighted.)&lt;/strong&gt;&lt;/p&gt;
		&lt;p&gt;&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;64.40s&quot; data-dur=&quot;2.44s&quot;&gt;When you apply for jobs, potential employers might ask &lt;/span&gt;
		&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;66.83s&quot; data-dur=&quot;2.34s&quot;&gt;you to send them your résumé and a covering letter.&lt;/span&gt;&lt;/p&gt;
		&lt;p&gt;&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;69.17s&quot; data-dur=&quot;2.17s&quot;&gt;Of course, you&amp;#39;ll want to make a good first impression &lt;/span&gt;
		&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;71.34s&quot; data-dur=&quot;2.04s&quot;&gt;on any potential employer.&lt;/span&gt;&lt;/p&gt;
		&lt;p class=&quot;wb-vd&quot;&gt;&lt;strong&gt;(The text Résumé Builder appears across stick person’s screen.)&lt;/strong&gt;&lt;/p&gt;
		&lt;p&gt;&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;73.37s&quot; data-dur=&quot;1.57s&quot;&gt;Here we can help too!&lt;/span&gt;&lt;/p&gt;
		&lt;p&gt;&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;74.94s&quot; data-dur=&quot;1.67s&quot;&gt;Check out our online Résumé Builder &lt;/span&gt;
		&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;76.61s&quot; data-dur=&quot;1.84s&quot;&gt;on the Job Bank Web site.&lt;/span&gt;&lt;/p&gt;
		&lt;p&gt;&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;78.45s&quot; data-dur=&quot;2.04s&quot;&gt;It can show you how to create a first-class résumé &lt;/span&gt;
		&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;80.48s&quot; data-dur=&quot;2.64s&quot;&gt;by giving you tips and different layout options.&lt;/span&gt;&lt;/p&gt;
		&lt;p class=&quot;wb-vd&quot;&gt;&lt;strong&gt;(Medium shot of the Host. LINE DRAWING GRAPHIC: one stick person talks to another stick person behind a desk labelled Career Counsellor.)&lt;/strong&gt;&lt;/p&gt;
		&lt;p&gt;&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;83.12s&quot; data-dur=&quot;2.24s&quot;&gt;And if you&amp;#39;re not sure which jobs you&amp;#39;d like to apply for, &lt;/span&gt;
		&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;85.35s&quot; data-dur=&quot;2.54s&quot;&gt;check out our Career Navigator tool to explore &lt;/span&gt;
		&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;87.89s&quot; data-dur=&quot;2.44s&quot;&gt;occupations that you might be interested in.&lt;/span&gt;&lt;/p&gt;
		&lt;p&gt;&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;90.32s&quot; data-dur=&quot;2.90s&quot;&gt;As well, career counsellors are usually available through &lt;/span&gt;
		&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;93.23s&quot; data-dur=&quot;2.44s&quot;&gt;your provincial or territorial government to help out.&lt;/span&gt;&lt;/p&gt;
		&lt;p class=&quot;wb-vd&quot;&gt;&lt;strong&gt;(Close-up of the Host. LINE DRAWING GRAPHIC: Stick person take a bow. Service Canada logo appears.)&lt;/strong&gt;&lt;/p&gt;
		&lt;p&gt;&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;95.66s&quot; data-dur=&quot;3.00s&quot;&gt;At Service Canada, we&amp;#39;re people serving people.&lt;/span&gt;&lt;/p&gt;
		&lt;p class=&quot;wb-vd&quot;&gt;&lt;strong&gt;(Dip to black.)&lt;/strong&gt;&lt;/p&gt;
	&lt;/section&gt;
&lt;/div&gt;</code></pre>
				</section>
			</details>
		</section>

		<section class="col-md-6">
			<h3 class="wb-inv">MPEG4 (H264 + AAC) and WebM (VP8) source and HTML captions</h3>
			<figure class="wb-mltmd" data-wb-mltmd='{"shareUrl": "http://youtu.be/jmNmrubTNI4"}'>
				<video poster="http://www.servicecanada.gc.ca/eng/video/images/dc-td-eng.jpg" title="Training and Development">
					<source type="video/webm" src="http://video2.servicecanada.gc.ca/video/boew-wet/dc-td-eng.webm" />
					<source type="video/mp4" src="http://video2.servicecanada.gc.ca/video/boew-wet/dc-td-eng.mp4" />
					<track src="cpts-lg2-en.html" kind="captions" data-type="text/html" srclang="en" label="English" />
				</video>
				<figcaption>
					<p>Training and Development (<a href="http://www.servicecanada.gc.ca/eng/video/td.shtml">Transcript</a>)</p>
				</figcaption>
			</figure>

			<details class="mrgn-tp-md">
				<summary>View code</summary>
				<section>
					<h4>In-page HTML</h4>
					<pre><code>&lt;figure class=&quot;wb-mltmd&quot; data-wb-mltmd='{&quot;shareUrl&quot;: &quot;http://youtu.be/jmNmrubTNI4&quot;}'&gt;
	&lt;video poster=&quot;http://www.servicecanada.gc.ca/eng/video/images/dc-td-eng.jpg&quot; title=&quot;Training and Development&quot;&gt;
		&lt;source type=&quot;video/webm&quot; src=&quot;http://video2.servicecanada.gc.ca/video/boew-wet/dc-td-eng.webm&quot; /&gt;
		&lt;source type=&quot;video/mp4&quot; src=&quot;http://video2.servicecanada.gc.ca/video/boew-wet/dc-td-eng.mp4&quot; /&gt;
		&lt;track src=&quot;cpts-lg2-en.html&quot; kind=&quot;captions&quot; data-type=&quot;text/html&quot; srclang=&quot;en&quot; label=&quot;English&quot; /&gt;
	&lt;/video&gt;
	&lt;figcaption&gt;
		&lt;p&gt;Training and Development (&lt;a href=&quot;http://www.servicecanada.gc.ca/eng/video/td.shtml&quot;&gt;Transcript&lt;/a&gt;)&lt;/p&gt;
	&lt;/figcaption&gt;
&lt;/figure&gt;</code></pre>
				</section>

				<section>
					<h4>cpts-lg2-en.html</h4>
					<pre><code>&lt;div id=&quot;inline-captions&quot;&gt;
	&lt;section&gt;
		&lt;h2&gt;Transcript&lt;/h2&gt;
		&lt;p class=&quot;wb-vd&quot; data-load=&quot;vd&quot;&gt;&lt;strong&gt;(Animated pen draws a red line that leads into the text Training and development.)&lt;/strong&gt;&lt;/p&gt;
		&lt;p&gt;&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;1.40s&quot; data-dur=&quot;3.33s&quot; data-load=&quot;tt&quot;&gt;Hi, my name is Eric, and I'm a Service Canada employee.&lt;/span&gt;&lt;/p&gt;
		&lt;p class=&quot;wb-vd&quot; data-load=&quot;vd&quot;&gt;&lt;strong&gt;(Cut to a close-up of the Host.)&lt;/strong&gt;&lt;/p&gt;
		&lt;p&gt;&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;4.73s&quot; data-dur=&quot;2.73s&quot; data-load=&quot;tt&quot;&gt;Each and every day, Canadians are improving their job &lt;/span&gt;
		&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;7.46s&quot; data-dur=&quot;2.14s&quot; data-load=&quot;tt&quot;&gt;skills or changing their career paths.&lt;/span&gt;&lt;/p&gt;
		&lt;p class=&quot;wb-vd&quot; data-load=&quot;vd&quot;&gt;&lt;strong&gt;(LINE DRAWING GRAPHIC: Stairs appear and our stick person walks towards them, stops. Question marks appear around his head.)&lt;/strong&gt;&lt;/p&gt;
		&lt;p&gt;&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;9.60s&quot; data-dur=&quot;1.66s&quot; data-load=&quot;tt&quot;&gt;Are you thinking about taking that step?&lt;/span&gt;&lt;/p&gt;
		&lt;p&gt;&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;11.26s&quot; data-dur=&quot;2.04s&quot; data-load=&quot;tt&quot;&gt;If so, did you know that you can research &lt;/span&gt;
		&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;13.30s&quot; data-dur=&quot;2.40s&quot; data-load=&quot;tt&quot;&gt;more than 300 job profiles online?&lt;/span&gt;&lt;/p&gt;
		&lt;p class=&quot;wb-vd&quot; data-load=&quot;vd&quot;&gt;&lt;strong&gt;(LINE DRAWING GRAPHIC: Stick person appears with briefcase. And then wearing a hard hat and swinging a hammer.)&lt;/strong&gt;&lt;/p&gt;
		&lt;p&gt;&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;15.70s&quot; data-dur=&quot;2.30s&quot; data-load=&quot;tt&quot;&gt;Plus, you can find out what skills you'll need &lt;/span&gt;
		&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;18.00s&quot; data-dur=&quot;1.70s&quot; data-load=&quot;tt&quot;&gt;to get the job that interests you.&lt;/span&gt;&lt;/p&gt;
		&lt;p class=&quot;wb-vd&quot; data-load=&quot;vd&quot;&gt;&lt;strong&gt;(Medium shot of Host. LINE DRAWING GRAPHIC: The (actual) Job Bank’s Training and learning page appears. The words “Training, Career and Worker Information” are highlighted.)&lt;/strong&gt;&lt;/p&gt;
		&lt;p&gt;&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;19.70s&quot; data-dur=&quot;2.43s&quot; data-load=&quot;tt&quot;&gt;Job Bank's Training and Careers site lets you explore &lt;/span&gt;
		&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;22.13s&quot; data-dur=&quot;3.07s&quot; data-load=&quot;tt&quot;&gt;adult-learning choices and explains the various options &lt;/span&gt;
		&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;25.20s&quot; data-dur=&quot;1.93s&quot; data-load=&quot;tt&quot;&gt;that are available to help you pay &lt;/span&gt;
		&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;27.13s&quot; data-dur=&quot;1.50s&quot; data-load=&quot;tt&quot;&gt;for the training you need.&lt;/span&gt;&lt;/p&gt;
		&lt;p class=&quot;wb-vd&quot; data-load=&quot;vd&quot;&gt;&lt;strong&gt;(Medium shot of Host.)&lt;/strong&gt;&lt;/p&gt;
		&lt;p&gt;&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;28.63s&quot; data-dur=&quot;1.80s&quot; data-load=&quot;tt&quot;&gt;You can even find counsellors, teachers, &lt;/span&gt;
		&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;30.43s&quot; data-dur=&quot;2.10s&quot; data-load=&quot;tt&quot;&gt;and other resources near you if you'd like to have &lt;/span&gt;
		&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;32.53s&quot; data-dur=&quot;2.13s&quot; data-load=&quot;tt&quot;&gt;more information before you make a decision.&lt;/span&gt;&lt;/p&gt;
		&lt;p class=&quot;wb-vd&quot; data-load=&quot;vd&quot;&gt;&lt;strong&gt;(Medium shot of Host.)&lt;/strong&gt;&lt;/p&gt;
		&lt;p&gt;&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;34.66s&quot; data-dur=&quot;1.74s&quot; data-load=&quot;tt&quot;&gt;And the support doesn't end there.&lt;/span&gt;&lt;/p&gt;
		&lt;p class=&quot;wb-vd&quot; data-load=&quot;vd&quot;&gt;&lt;strong&gt;(Medium shot of Host. (actual) Service Canada home page. Dissolve to (actual) Labour Market Information site.)&lt;/strong&gt;&lt;/p&gt;
		&lt;p&gt;&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;36.40s&quot; data-dur=&quot;2.73s&quot; data-load=&quot;tt&quot;&gt;From the alphabetical index on our Service Canada home page, &lt;/span&gt;
		&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;39.13s&quot; data-dur=&quot;2.93s&quot; data-load=&quot;tt&quot;&gt;you can link to the Labour Market Information site.&lt;/span&gt;&lt;/p&gt;
		&lt;p&gt;&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;42.06s&quot; data-dur=&quot;2.10s&quot; data-load=&quot;tt&quot;&gt;There, you'll find out what kinds of jobs are available, &lt;/span&gt;
		&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;44.16s&quot; data-dur=&quot;2.50s&quot; data-load=&quot;tt&quot;&gt;by area, across the country, and what skills you'll need &lt;/span&gt;
		&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;46.66s&quot; data-dur=&quot;1.74s&quot; data-load=&quot;tt&quot;&gt;to get those jobs.&lt;/span&gt;&lt;/p&gt;
		&lt;p class=&quot;wb-vd&quot; data-load=&quot;vd&quot;&gt;&lt;strong&gt;(Medium shot of Host. LINE DRAWING GRAPHIC: our stick person in a classroom setting.)&lt;/strong&gt;&lt;/p&gt;
		&lt;p&gt;&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;48.40s&quot; data-dur=&quot;2.23s&quot; data-load=&quot;tt&quot;&gt;But, what if you decide to go for full-time training?&lt;/span&gt;&lt;/p&gt;
		&lt;p&gt;&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;50.63s&quot; data-dur=&quot;2.67s&quot; data-load=&quot;tt&quot;&gt;Well, there are a number of loans and grants available &lt;/span&gt;
		&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;53.30s&quot; data-dur=&quot;2.13s&quot; data-load=&quot;tt&quot;&gt;that could help you with the costs.&lt;/span&gt;&lt;/p&gt;
		&lt;p class=&quot;wb-vd&quot; data-load=&quot;vd&quot;&gt;&lt;strong&gt;(Medium shot of Host.)&lt;/strong&gt;&lt;/p&gt;
		&lt;p&gt;&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;55.43s&quot; data-dur=&quot;2.33s&quot; data-load=&quot;tt&quot;&gt;For example, there's the Apprenticeship Incentive Grant &lt;/span&gt;
		&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;57.76s&quot; data-dur=&quot;2.20s&quot; data-load=&quot;tt&quot;&gt;for those who've completed the first or second level &lt;/span&gt;
		&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;59.96s&quot; data-dur=&quot;1.60s&quot; data-load=&quot;tt&quot;&gt;of their apprenticeship.&lt;/span&gt;&lt;/p&gt;
		&lt;p&gt;&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;61.56s&quot; data-dur=&quot;2.54s&quot; data-load=&quot;tt&quot;&gt;And for those who've completed the entire apprenticeship, &lt;/span&gt;
		&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;64.10s&quot; data-dur=&quot;1.30s&quot; data-load=&quot;tt&quot;&gt;in a specific trade, &lt;/span&gt;
		&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;65.40s&quot; data-dur=&quot;2.06s&quot; data-load=&quot;tt&quot;&gt;there's the Apprenticeship Completion Grant.&lt;/span&gt;&lt;/p&gt;
		&lt;p class=&quot;wb-vd&quot; data-load=&quot;vd&quot;&gt;&lt;strong&gt;(Show (actual) Canada Student Loans Program – Permanent Disability Benefit web page. Words “Student Loans Program” and “Study Grant” appear.)&lt;/strong&gt;&lt;/p&gt;
		&lt;p&gt;&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;67.46s&quot; data-dur=&quot;1.67s&quot; data-load=&quot;tt&quot;&gt;If you have a permanent disability, &lt;/span&gt;
		&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;69.13s&quot; data-dur=&quot;2.50s&quot; data-load=&quot;tt&quot;&gt;you may want to look into the Canada Student Loans program, &lt;/span&gt;
		&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;71.63s&quot; data-dur=&quot;2.20s&quot; data-load=&quot;tt&quot;&gt;or apply for a study grant.&lt;/span&gt;&lt;/p&gt;
		&lt;p class=&quot;wb-vd&quot; data-load=&quot;vd&quot;&gt;&lt;strong&gt;(Show main Life-Long Learning Plan program pages.)&lt;/strong&gt;&lt;/p&gt;
		&lt;p&gt;&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;73.83s&quot; data-dur=&quot;2.70s&quot; data-load=&quot;tt&quot;&gt;Under the Life-Long Learning Plan program, &lt;/span&gt;
		&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;76.53s&quot; data-dur=&quot;2.73s&quot; data-load=&quot;tt&quot;&gt;you can find out how to use some of your RRSP funds &lt;/span&gt;
		&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;79.26s&quot; data-dur=&quot;2.37s&quot; data-load=&quot;tt&quot;&gt;to pay for your education or training.&lt;/span&gt;&lt;/p&gt;
		&lt;p class=&quot;wb-vd&quot; data-load=&quot;vd&quot;&gt;&lt;strong&gt;(Medium shot of Host.)&lt;/strong&gt;&lt;/p&gt;
		&lt;p&gt;&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;81.63s&quot; data-dur=&quot;2.47s&quot; data-load=&quot;tt&quot;&gt;Whatever you see yourself doing, &lt;/span&gt;
		&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;84.10s&quot; data-dur=&quot;2.73s&quot; data-load=&quot;tt&quot;&gt;why not take the time to discover all your options?&lt;/span&gt;&lt;/p&gt;
		&lt;p class=&quot;wb-vd&quot; data-load=&quot;vd&quot;&gt;&lt;strong&gt;(LINE DRAWING GRAPHIC: our stick person waves.)&lt;/strong&gt;&lt;/p&gt;
		&lt;p&gt;&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;86.83s&quot; data-dur=&quot;2.73s&quot; data-load=&quot;tt&quot;&gt;Doing your homework now can help you get &lt;/span&gt;
		&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;89.56s&quot; data-dur=&quot;2.74s&quot; data-load=&quot;tt&quot;&gt;on the right path to finding the work you want.&lt;/span&gt;&lt;/p&gt;
		&lt;p class=&quot;wb-vd&quot; data-load=&quot;vd&quot;&gt;&lt;strong&gt;(Our stick person appears typing at computer and desk. (actual) Canada homepage, Job Bank and LMI pages loom out from the computer.)&lt;/strong&gt;&lt;/p&gt;
		&lt;p&gt;&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;92.30s&quot; data-dur=&quot;2.40s&quot; data-load=&quot;tt&quot;&gt;Be sure to check out our Service Canada Web site.&lt;/span&gt;&lt;/p&gt;
		&lt;p&gt;&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;94.70s&quot; data-dur=&quot;1.80s&quot; data-load=&quot;tt&quot;&gt;There you'll find the tools and information &lt;/span&gt;
		&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;96.50s&quot; data-dur=&quot;1.80s&quot; data-load=&quot;tt&quot;&gt;you need to continue your education and training.&lt;/span&gt;&lt;/p&gt;
		&lt;p&gt;&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;98.30s&quot; data-dur=&quot;2.53s&quot; data-load=&quot;tt&quot;&gt;It really is time well spent.&lt;/span&gt;&lt;/p&gt;
		&lt;p class=&quot;wb-vd&quot; data-load=&quot;vd&quot;&gt;&lt;strong&gt;(Tight shot of the Host. LINE DRAWING GRAPHIC: Service Canada logo. Stick person takes a bow.)&lt;/strong&gt;&lt;/p&gt;
		&lt;p&gt;&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;100.83s&quot; data-dur=&quot;2.70s&quot; data-load=&quot;tt&quot;&gt;At Service Canada, we're people serving people.&lt;/span&gt;&lt;/p&gt;
		&lt;p class=&quot;wb-vd&quot; data-load=&quot;vd&quot;&gt;&lt;strong&gt;(Dip to black.)&lt;/strong&gt;&lt;/p&gt;
	&lt;/section&gt;
&lt;/div&gt;</code></pre>
				</section>
			</details>
		</section>
	</div>

	<div class="row">
		<section class="col-md-12">
			<h3>MPEG4 (H264 + AAC) source with inline HTML captions</h3>
			<p>This example illustrates the use of an inline transcript to provide captions. This example can also demonstrate the fallback mechanism in Web browsers that don't support HTML5 videos.</p>
			<figure class="wb-mltmd">
				<video poster="http://www.servicecanada.gc.ca/eng/video/images/te-lj-eng.jpg" title="Looking for a Job">
					<source type="video/mp4" src="http://video2.servicecanada.gc.ca/video/boew-wet/te-lj-eng.mp4" />
					<track src="#inline-captions" kind="captions" data-type="text/html" srclang="en" label="English" />
				</video>
				<figcaption>
					<details id="inline-captions">
						<summary>Looking for a Job - HTML5 Transcript/Captions</summary>
						<p class="wet-boew-vd"><strong>(Animated pen draws a red line that leads into the text Looking for A Job)</strong></p>
						<p class="wet-boew-vd"><strong>(Cut to a medium shot of the Host. LINE DRAWING GRAPHIC: Stick person appears and waves.)</strong></p>
						<p><span class="wb-tmtxt" data-begin="2.50s" data-dur="3.84s">Hi, my name is Eric, and I&#39;m a Service Canada employee.</span></p>
						<p><span class="wb-tmtxt" data-begin="6.34s" data-dur="1.87s">You may have heard the old saying that, </span>
						<span class="wb-tmtxt" data-begin="8.21s" data-dur="1.84s">when you&#39;re out of work, finding a job is your </span>
						<span class="wb-tmtxt" data-begin="10.04s" data-dur="1.70s">full-time occupation.</span></p>
						<p class="wet-boew-vd"><strong>(LINE DRAWING GRAPHIC: Stick person walks to right side of screen. Screenshot of job bank website appears in animated computer screen.)</strong></p>
						<p><span class="wb-tmtxt" data-begin="11.75s" data-dur="2.40s">Well, there&#39;s a lot of truth to that:</span></p>
						<p><span class="wb-tmtxt" data-begin="14.15s" data-dur="2.57s">finding a job does take time… and effort.</span></p>
						<p class="wet-boew-vd"><strong>(LINE DRAWING GRAPHIC: Stick person rests head against computer screen in discouragement. But then perks-up.)</strong></p>
						<p><span class="wb-tmtxt" data-begin="16.72s" data-dur="1.40s">But don&#39;t get discouraged.</span></p>
						<p><span class="wb-tmtxt" data-begin="18.12s" data-dur="1.90s">There are a number of online tools and programs available </span>
						<span class="wb-tmtxt" data-begin="20.02s" data-dur="1.94s">to help you find a job.</span></p>
						<p class="wet-boew-vd"><strong>(Close-up of the Host.)</strong></p>
						<p><span class="wb-tmtxt" data-begin="21.96s" data-dur="2.30s">No matter what you&#39;re looking for there are many Web sites </span>
						<span class="wb-tmtxt" data-begin="24.26s" data-dur="2.37s">where employers post job notices looking for people </span>
						<span class="wb-tmtxt" data-begin="26.63s" data-dur="1.90s">to fill vacant positions.</span></p>
						<p class="wet-boew-vd"><strong>(Job Bank website reappears.)</strong></p>
						<p><span class="wb-tmtxt" data-begin="28.53s" data-dur="2.34s">One of these sites is called Job Bank.</span></p>
						<p><span class="wb-tmtxt" data-begin="30.86s" data-dur="2.17s">It&#39;s updated every day, and lists job opportunities </span>
						<span class="wb-tmtxt" data-begin="33.03s" data-dur="2.17s">that are available across the country.</span></p>
						<p class="wet-boew-vd"><strong>(Close-up of the screen. Stick person’s profile. Words “Updated Daily and “48 Hours” appear on screen.)</strong></p>
						<p><span class="wb-tmtxt" data-begin="35.20s" data-dur="2.30s">Since the job ads on Job Bank are updated daily, </span>
						<span class="wb-tmtxt" data-begin="37.50s" data-dur="2.20s">you should check them regularly.</span></p>
						<p><span class="wb-tmtxt" data-begin="39.71s" data-dur="3.57s">And, you can search for jobs posted in the last 48 hours.</span></p>
						<p class="wet-boew-vd"><strong>(Words “Advertise your Skills” and “Email your matches” appear on screen.)</strong></p>
						<p><span class="wb-tmtxt" data-begin="43.28s" data-dur="2.40s">On Job Bank you can also advertise your skills, </span>
						<span class="wb-tmtxt" data-begin="45.68s" data-dur="2.57s">and even ask them to send you e-mails when jobs </span>
						<span class="wb-tmtxt" data-begin="48.25s" data-dur="2.34s">that match your search criteria are posted.</span></p>
						<p class="wet-boew-vd"><strong>(Close-up of the Host. LINE DRAWING GRAPHIC: of the Parliament Building. The web address jobs.gc.ca appears in large letters on the front lawn, stick person points to words.)</strong></p>
						<p><span class="wb-tmtxt" data-begin="50.58s" data-dur="1.80s">If you&#39;re thinking about working in the public sector, </span>
						<span class="wb-tmtxt" data-begin="52.39s" data-dur="2.70s">jobs.gc.ca is the official Web site </span>
						<span class="wb-tmtxt" data-begin="55.09s" data-dur="2.90s">for Government of Canada listings open to the public.</span></p>
						<p><span class="wb-tmtxt" data-begin="57.99s" data-dur="1.57s">Keep in mind, that some departments, </span>
						<span class="wb-tmtxt" data-begin="59.56s" data-dur="2.50s">like the Canada Revenue Agency and Parks Canada, </span>
						<span class="wb-tmtxt" data-begin="62.06s" data-dur="2.34s">post jobs on their own sites too.</span></p>
						<p class="wet-boew-vd"><strong>(Medium shot of the Host. LINE DRAWING GRAPHIC: stick person points to Job Bank web page, where words “User ID” and “Password” are highlighted.)</strong></p>
						<p><span class="wb-tmtxt" data-begin="64.40s" data-dur="2.44s">When you apply for jobs, potential employers might ask </span>
						<span class="wb-tmtxt" data-begin="66.83s" data-dur="2.34s">you to send them your résumé and a covering letter.</span></p>
						<p><span class="wb-tmtxt" data-begin="69.17s" data-dur="2.17s">Of course, you&#39;ll want to make a good first impression </span>
						<span class="wb-tmtxt" data-begin="71.34s" data-dur="2.04s">on any potential employer.</span></p>
						<p class="wet-boew-vd"><strong>(The text Résumé Builder appears across stick person’s screen.)</strong></p>
						<p><span class="wb-tmtxt" data-begin="73.37s" data-dur="1.57s">Here we can help too!</span></p>
						<p><span class="wb-tmtxt" data-begin="74.94s" data-dur="1.67s">Check out our online Résumé Builder </span>
						<span class="wb-tmtxt" data-begin="76.61s" data-dur="1.84s">on the Job Bank Web site.</span></p>
						<p><span class="wb-tmtxt" data-begin="78.45s" data-dur="2.04s">It can show you how to create a first-class résumé </span>
						<span class="wb-tmtxt" data-begin="80.48s" data-dur="2.64s">by giving you tips and different layout options.</span></p>
						<p class="wet-boew-vd"><strong>(Medium shot of the Host. LINE DRAWING GRAPHIC: one stick person talks to another stick person behind a desk labelled Career Counsellor.)</strong></p>
						<p><span class="wb-tmtxt" data-begin="83.12s" data-dur="2.24s">And if you&#39;re not sure which jobs you&#39;d like to apply for, </span>
						<span class="wb-tmtxt" data-begin="85.35s" data-dur="2.54s">check out our Career Navigator tool to explore </span>
						<span class="wb-tmtxt" data-begin="87.89s" data-dur="2.44s">occupations that you might be interested in.</span></p>
						<p><span class="wb-tmtxt" data-begin="90.32s" data-dur="2.90s">As well, career counsellors are usually available through </span>
						<span class="wb-tmtxt" data-begin="93.23s" data-dur="2.44s">your provincial or territorial government to help out.</span></p>
						<p class="wet-boew-vd"><strong>(Close-up of the Host. LINE DRAWING GRAPHIC: Stick person take a bow. Service Canada logo appears.)</strong></p>
						<p><span class="wb-tmtxt" data-begin="95.66s" data-dur="3.00s">At Service Canada, we&#39;re people serving people.</span></p>
						<p class="wet-boew-vd"><strong>(Dip to black.)</strong></p>
					</details>
				</figcaption>
			</figure>

			<details class="mrgn-tp-md">
				<summary>View code</summary>
				<pre><code>&lt;figure class=&quot;wb-mltmd&quot;&gt;
	&lt;video poster=&quot;http://www.servicecanada.gc.ca/eng/video/images/te-lj-eng.jpg&quot; title=&quot;Looking for a Job&quot;&gt;
		&lt;source type=&quot;video/mp4&quot; src=&quot;http://video2.servicecanada.gc.ca/video/boew-wet/te-lj-eng.mp4&quot; /&gt;
		&lt;track src=&quot;#inline-captions&quot; kind=&quot;captions&quot; data-type=&quot;text/html&quot; srclang=&quot;en&quot; label=&quot;English&quot; /&gt;
	&lt;/video&gt;
	&lt;figcaption&gt;
		&lt;details id=&quot;inline-captions&quot;&gt;
			&lt;summary&gt;Looking for a Job - HTML5 Transcript/Captions&lt;/summary&gt;
			&lt;p class=&quot;wet-boew-vd&quot;&gt;&lt;strong&gt;(Animated pen draws a red line that leads into the text Looking for A Job)&lt;/strong&gt;&lt;/p&gt;
			&lt;p class=&quot;wet-boew-vd&quot;&gt;&lt;strong&gt;(Cut to a medium shot of the Host. LINE DRAWING GRAPHIC: Stick person appears and waves.)&lt;/strong&gt;&lt;/p&gt;
			&lt;p&gt;&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;2.50s&quot; data-dur=&quot;3.84s&quot;&gt;Hi, my name is Eric, and I&amp;#39;m a Service Canada employee.&lt;/span&gt;&lt;/p&gt;
			&lt;p&gt;&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;6.34s&quot; data-dur=&quot;1.87s&quot;&gt;You may have heard the old saying that, &lt;/span&gt;
			&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;8.21s&quot; data-dur=&quot;1.84s&quot;&gt;when you&amp;#39;re out of work, finding a job is your &lt;/span&gt;
			&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;10.04s&quot; data-dur=&quot;1.70s&quot;&gt;full-time occupation.&lt;/span&gt;&lt;/p&gt;
			&lt;p class=&quot;wet-boew-vd&quot;&gt;&lt;strong&gt;(LINE DRAWING GRAPHIC: Stick person walks to right side of screen. Screenshot of job bank website appears in animated computer screen.)&lt;/strong&gt;&lt;/p&gt;
			&lt;p&gt;&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;11.75s&quot; data-dur=&quot;2.40s&quot;&gt;Well, there&amp;#39;s a lot of truth to that:&lt;/span&gt;&lt;/p&gt;
			&lt;p&gt;&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;14.15s&quot; data-dur=&quot;2.57s&quot;&gt;finding a job does take time… and effort.&lt;/span&gt;&lt;/p&gt;
			&lt;p class=&quot;wet-boew-vd&quot;&gt;&lt;strong&gt;(LINE DRAWING GRAPHIC: Stick person rests head against computer screen in discouragement. But then perks-up.)&lt;/strong&gt;&lt;/p&gt;
			&lt;p&gt;&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;16.72s&quot; data-dur=&quot;1.40s&quot;&gt;But don&amp;#39;t get discouraged.&lt;/span&gt;&lt;/p&gt;
			&lt;p&gt;&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;18.12s&quot; data-dur=&quot;1.90s&quot;&gt;There are a number of online tools and programs available &lt;/span&gt;
			&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;20.02s&quot; data-dur=&quot;1.94s&quot;&gt;to help you find a job.&lt;/span&gt;&lt;/p&gt;
			&lt;p class=&quot;wet-boew-vd&quot;&gt;&lt;strong&gt;(Close-up of the Host.)&lt;/strong&gt;&lt;/p&gt;
			&lt;p&gt;&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;21.96s&quot; data-dur=&quot;2.30s&quot;&gt;No matter what you&amp;#39;re looking for there are many Web sites &lt;/span&gt;
			&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;24.26s&quot; data-dur=&quot;2.37s&quot;&gt;where employers post job notices looking for people &lt;/span&gt;
			&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;26.63s&quot; data-dur=&quot;1.90s&quot;&gt;to fill vacant positions.&lt;/span&gt;&lt;/p&gt;
			&lt;p class=&quot;wet-boew-vd&quot;&gt;&lt;strong&gt;(Job Bank website reappears.)&lt;/strong&gt;&lt;/p&gt;
			&lt;p&gt;&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;28.53s&quot; data-dur=&quot;2.34s&quot;&gt;One of these sites is called Job Bank.&lt;/span&gt;&lt;/p&gt;
			&lt;p&gt;&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;30.86s&quot; data-dur=&quot;2.17s&quot;&gt;It&amp;#39;s updated every day, and lists job opportunities &lt;/span&gt;
			&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;33.03s&quot; data-dur=&quot;2.17s&quot;&gt;that are available across the country.&lt;/span&gt;&lt;/p&gt;
			&lt;p class=&quot;wet-boew-vd&quot;&gt;&lt;strong&gt;(Close-up of the screen. Stick person’s profile. Words “Updated Daily and “48 Hours” appear on screen.)&lt;/strong&gt;&lt;/p&gt;
			&lt;p&gt;&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;35.20s&quot; data-dur=&quot;2.30s&quot;&gt;Since the job ads on Job Bank are updated daily, &lt;/span&gt;
			&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;37.50s&quot; data-dur=&quot;2.20s&quot;&gt;you should check them regularly.&lt;/span&gt;&lt;/p&gt;
			&lt;p&gt;&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;39.71s&quot; data-dur=&quot;3.57s&quot;&gt;And, you can search for jobs posted in the last 48 hours.&lt;/span&gt;&lt;/p&gt;
			&lt;p class=&quot;wet-boew-vd&quot;&gt;&lt;strong&gt;(Words “Advertise your Skills” and “Email your matches” appear on screen.)&lt;/strong&gt;&lt;/p&gt;
			&lt;p&gt;&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;43.28s&quot; data-dur=&quot;2.40s&quot;&gt;On Job Bank you can also advertise your skills, &lt;/span&gt;
			&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;45.68s&quot; data-dur=&quot;2.57s&quot;&gt;and even ask them to send you e-mails when jobs &lt;/span&gt;
			&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;48.25s&quot; data-dur=&quot;2.34s&quot;&gt;that match your search criteria are posted.&lt;/span&gt;&lt;/p&gt;
			&lt;p class=&quot;wet-boew-vd&quot;&gt;&lt;strong&gt;(Close-up of the Host. LINE DRAWING GRAPHIC: of the Parliament Building. The web address jobs.gc.ca appears in large letters on the front lawn, stick person points to words.)&lt;/strong&gt;&lt;/p&gt;
			&lt;p&gt;&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;50.58s&quot; data-dur=&quot;1.80s&quot;&gt;If you&amp;#39;re thinking about working in the public sector, &lt;/span&gt;
			&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;52.39s&quot; data-dur=&quot;2.70s&quot;&gt;jobs.gc.ca is the official Web site &lt;/span&gt;
			&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;55.09s&quot; data-dur=&quot;2.90s&quot;&gt;for Government of Canada listings open to the public.&lt;/span&gt;&lt;/p&gt;
			&lt;p&gt;&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;57.99s&quot; data-dur=&quot;1.57s&quot;&gt;Keep in mind, that some departments, &lt;/span&gt;
			&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;59.56s&quot; data-dur=&quot;2.50s&quot;&gt;like the Canada Revenue Agency and Parks Canada, &lt;/span&gt;
			&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;62.06s&quot; data-dur=&quot;2.34s&quot;&gt;post jobs on their own sites too.&lt;/span&gt;&lt;/p&gt;
			&lt;p class=&quot;wet-boew-vd&quot;&gt;&lt;strong&gt;(Medium shot of the Host. LINE DRAWING GRAPHIC: stick person points to Job Bank web page, where words “User ID” and “Password” are highlighted.)&lt;/strong&gt;&lt;/p&gt;
			&lt;p&gt;&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;64.40s&quot; data-dur=&quot;2.44s&quot;&gt;When you apply for jobs, potential employers might ask &lt;/span&gt;
			&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;66.83s&quot; data-dur=&quot;2.34s&quot;&gt;you to send them your résumé and a covering letter.&lt;/span&gt;&lt;/p&gt;
			&lt;p&gt;&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;69.17s&quot; data-dur=&quot;2.17s&quot;&gt;Of course, you&amp;#39;ll want to make a good first impression &lt;/span&gt;
			&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;71.34s&quot; data-dur=&quot;2.04s&quot;&gt;on any potential employer.&lt;/span&gt;&lt;/p&gt;
			&lt;p class=&quot;wet-boew-vd&quot;&gt;&lt;strong&gt;(The text Résumé Builder appears across stick person’s screen.)&lt;/strong&gt;&lt;/p&gt;
			&lt;p&gt;&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;73.37s&quot; data-dur=&quot;1.57s&quot;&gt;Here we can help too!&lt;/span&gt;&lt;/p&gt;
			&lt;p&gt;&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;74.94s&quot; data-dur=&quot;1.67s&quot;&gt;Check out our online Résumé Builder &lt;/span&gt;
			&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;76.61s&quot; data-dur=&quot;1.84s&quot;&gt;on the Job Bank Web site.&lt;/span&gt;&lt;/p&gt;
			&lt;p&gt;&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;78.45s&quot; data-dur=&quot;2.04s&quot;&gt;It can show you how to create a first-class résumé &lt;/span&gt;
			&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;80.48s&quot; data-dur=&quot;2.64s&quot;&gt;by giving you tips and different layout options.&lt;/span&gt;&lt;/p&gt;
			&lt;p class=&quot;wet-boew-vd&quot;&gt;&lt;strong&gt;(Medium shot of the Host. LINE DRAWING GRAPHIC: one stick person talks to another stick person behind a desk labelled Career Counsellor.)&lt;/strong&gt;&lt;/p&gt;
			&lt;p&gt;&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;83.12s&quot; data-dur=&quot;2.24s&quot;&gt;And if you&amp;#39;re not sure which jobs you&amp;#39;d like to apply for, &lt;/span&gt;
			&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;85.35s&quot; data-dur=&quot;2.54s&quot;&gt;check out our Career Navigator tool to explore &lt;/span&gt;
			&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;87.89s&quot; data-dur=&quot;2.44s&quot;&gt;occupations that you might be interested in.&lt;/span&gt;&lt;/p&gt;
			&lt;p&gt;&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;90.32s&quot; data-dur=&quot;2.90s&quot;&gt;As well, career counsellors are usually available through &lt;/span&gt;
			&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;93.23s&quot; data-dur=&quot;2.44s&quot;&gt;your provincial or territorial government to help out.&lt;/span&gt;&lt;/p&gt;
			&lt;p class=&quot;wet-boew-vd&quot;&gt;&lt;strong&gt;(Close-up of the Host. LINE DRAWING GRAPHIC: Stick person take a bow. Service Canada logo appears.)&lt;/strong&gt;&lt;/p&gt;
			&lt;p&gt;&lt;span class=&quot;wb-tmtxt&quot; data-begin=&quot;95.66s&quot; data-dur=&quot;3.00s&quot;&gt;At Service Canada, we&amp;#39;re people serving people.&lt;/span&gt;&lt;/p&gt;
			&lt;p class=&quot;wet-boew-vd&quot;&gt;&lt;strong&gt;(Dip to black.)&lt;/strong&gt;&lt;/p&gt;
		&lt;/details&gt;
	&lt;/figcaption&gt;
&lt;/figure&gt;</code></pre>
			</details>
		</section>
	</div>
</section>
