---
{
	"title": "Multimedia Player - Audio-only",
	"language": "en",
	"category": "Plugins",
	"description": "Provides an accessible audio player for embedding audio into web pages.",
	"tag": "multimedia",
	"parentdir": "multimedia",
	"altLangPrefix": "multimedia-audio",
	"dateModified": "2014-08-01"
}
---
<span class="wb-prettify all-pre hide"></span>

<div class="row">
	<section class="col-md-12">
		<h2>Overview</h2>
		<p>For audio-only, the multimedia player leverages the native HTML5 <code>audio</code> tag.</p>
		<p>The multimedia player's timeline relies on the HTML5 <code>progress</code> element and uses a polyfill when the element is not supported.</p>
		<p>The MP3 format is the minimum requirement for the player because it is a widely supported format on many browsers. An optional but highly recommended format, OGG Vorbis, should be added as well to allow some browsers such as Firefox that do not include native support for MP3 to leverage the HTML5 native performance gains.</p>
	</section>
</div>

<div class="row">
	<section class="col-md-12">
		<h2>Example (Ride of the Valkyries)</h2>
		<figure class="wb-mltmd" data-wb-mltmd='{"shareUrl": "http://www.archive.org/download/RideOfTheValkyries/ride_of_the_valkyries_2.mp3"}'>
			<audio title="Ride of the Valkyries">
				<source src="http://www.archive.org/download/RideOfTheValkyries/ride_of_the_valkyries_2.mp3" type="audio/mp3" />
				<source src="http://www.archive.org/download/RideOfTheValkyries/ride_of_the_valkyries_2.ogg" type="audio/ogg" />
			</audio>
			<figcaption>
				<p>Ride of the Valkyries</p>
			</figcaption>
		</figure>

		<details class="mrgn-tp-md">
			<summary>View code</summary>
			<pre><code>&lt;figure class=&quot;wb-mltmd&quot; data-wb-mltmd='{"shareUrl": "http://www.archive.org/download/RideOfTheValkyries/ride_of_the_valkyries_2.mp3"}'&gt;
	&lt;audio title=&quot;Ride of the Valkyries&quot;&gt;
		&lt;source src=&quot;http://www.archive.org/download/RideOfTheValkyries/ride_of_the_valkyries_2.mp3&quot; type=&quot;audio/mp3&quot; /&gt;
		&lt;source src=&quot;http://www.archive.org/download/RideOfTheValkyries/ride_of_the_valkyries_2.ogg&quot; type=&quot;audio/ogg&quot; /&gt;
	&lt;/audio&gt;
	&lt;figcaption&gt;
		&lt;p&gt;Ride of the Valkyries&lt;/p&gt;
	&lt;/figcaption&gt;
&lt;/figure&gt;</code></pre>
		</details>
	</section>
</div>
