---
{
	"title": "Lecteur média",
	"language": "fr",
	"category": "Plugiciel",
	"description": "Un lecteur média accessible permettant d'intégrer des contenus vidéo et audio sur les pages Web.",
	"tag": "multimedia",
	"en": "multimedia-audio"
}
---
<div class="row">
	<section class="wb-mltmd col-md-12">
		<h3 class="wb-inv">Audio</h3>
		<audio title="Exemple Audio">
			<source src="http://www.archive.org/download/RideOfTheValkyries/ride_of_the_valkyries_2.mp3" type="audio/mp3" />
			<source src="http://www.archive.org/download/RideOfTheValkyries/ride_of_the_valkyries_2.ogg" type="audio/ogg" />
		</audio>
	</section>
</div>
