/*
 * Site menu
 */

%wet-theme-wb-sm-wb-navcurr {
	background: $wet-theme-wb-sm-wb-navcurr-background;
	color: $wet-theme-wb-sm-wb-navcurr-color;
}

%wet-theme-wb-menu-hover-active {
	background: $wet-theme-wb-menu-hover-active-background;
	border-color: $wet-theme-wb-menu-hover-active-border-color;
	color: $wet-theme-wb-menu-hover-active-color;
}

#wb-sm {
	background: $mb-pnl-body-background;
	color: $mb-pnl-body-color;

	.menu {
		margin-bottom: 0;
		text-shadow: 1px 1px 1px $wb-sm-menu-text-shadow;

		> {
			li {
				> {
					a {
						border-left: 1px solid $wb-sm-menu-li-a-border-left;
						color: $mb-pnl-body-link-color;

						&.wb-navcurr {
							@extend %wet-theme-wb-sm-wb-navcurr;
						}

						// :focus not needed since already covered by the &.active state
						&:hover {
							@extend %wet-theme-wb-menu-hover-active;
						}
					}
				}

				&:last-child {
					> {
						a {
							border-right: 1px solid $wb-sm-menu-li-last-child-border-right;
						}
					}
				}

				&.active {
					> {
						a {
							@extend %wet-theme-wb-menu-hover-active;
						}
					}
				}
			}
		}
	}

	.sm {
		&.open {
			background: $wb-sm-sm-open-background;
			border-bottom: 5px solid $wb-sm-sm-open-border-bottom;
			border-left: 0;
			border-right: 0;
			padding: 0;

			li {
				a,
				summary {
					border-left: 0;
					border-right: 0;
					color: $wb-sm-sm-open-li-summary-color;
					padding: 5px 10px;
					text-decoration: none;
					text-shadow: none;

					&.wb-navcurr {
						@extend %wet-theme-wb-sm-wb-navcurr;
					}

					&:hover,
					&:focus {
						@extend %wet-theme-wb-sm-wb-navcurr;
					}
				}
			}

			.slflnk {
				a {
					background: $wb-sm-sm-open-slflnk-a;
				}
			}
		}

		.row {
			background: transparent;

			a {
				color: $wb-sm-sm-row-a-color;
			}
		}
	}

	#wb-sec-p {
		display: none;
	}
}

%wet-theme-site-menu-mb-pnl-bg {
	background: $mb-pnl-body-background;
	color: $mb-pnl-body-color;
}

#mb-pnl {
	&.modal-content {
		background: $mb-pnl-background;
	}

	.modal-header {
		background: $mb-pnl-header-background;
		border: 0;
		border-bottom: 1px solid $mb-pnl-modal-header-border-bottom;
		box-shadow: 0 3px 3px -2px rgba(0, 0, 0, .3), 3px 3px 3px -2px rgba(0, 0, 0, .3), -3px 3px 3px -2px rgba(0, 0, 0, .3);
		color: $mb-pnl-header-color;
	}

	.modal-body {
		background: $mb-pnl-background;
		padding: 0;

		li {
			line-height: 2em;
		}

		> {
			:first-child {
				padding-top: 20px;
			}
		}
	}

	.modal-footer {
		background: $mb-pnl-background;
	}

	.lng-ofr {
		@extend %wet-theme-site-menu-mb-pnl-bg;
	}

	summary {
		&:hover,
		&:focus {
			background: transparent;
			color: $mb-pnl-summary-focus-color;
		}
	}

	a {
		color: $mb-pnl-body-link-color;
		text-decoration: none;
	}

	.srch-pnl {
		@extend %wet-theme-site-menu-mb-pnl-bg;

		.form-group {
			float: left;
			margin-right: 5px;
			width: 75%;
		}
	}

	.sec-pnl {
		background: $mb-pnl-sec-pnl-background;

		a,
		summary {
			color: $mb-pnl-sec-pnl-summary-color;
		}
	}

	.sm-pnl {
		@extend %wet-theme-site-menu-mb-pnl-bg;
	}

	.info-pnl {
		border-top: 2px solid $mb-pnl-info-pnl-border-top;
	}
}

[dir=rtl] {
	#mb-pnl {
		.srch-pnl {
			.form-group {
				float: right;
				margin-left: 5px;
				margin-right: auto;
				width: 75%;
			}
		}
	}
}
