{{! Page content include}}
<div class="alert alert-info">
{{#contains language "en"}}
	<p>It is recommended to use <code>data-rule-required="true"</code> vs <code>required="required"</code> in required <code>&lt;fieldset&gt;</code> elements as this avoids screen readers indicating that the first option is required.</p>
{{else}}
	<p>Il est recommandé d'utiliser <code>data-rule-required="true"</code> au lieu de <code>required="required"</code> dans les éléments <code>&lt;fieldset&gt;</code> obligatoires puisque cela permet d'éviter que les lecteurs d'écran indiquent que la première option est obligatoire.</p>
{{/contains}}
</div>
