<a href="index-{{language}}.html">
	<object type="image/svg+xml" tabindex="-1" role="img" data="{{assets}}/assets/logo.svg" aria-label="{{#i18n "%site.title"}}{{/i18n}}"></object>
	<span>{{#i18n "%site.title"}}{{/i18n}} <small>{{#i18n "%site.tagline"}}{{/i18n}}</small></span>
</a>
