<a href="{{assets}}/index-{{language}}.html">
	<i class="wb-logo"></i>
	<span>{{#i18n "site.title"}}{{/i18n}}<span class="wb-inv">{{#i18n "comma-space"}}{{/i18n}}</span><small>{{#i18n "site.tagline"}}{{/i18n}}</small></span>
</a>
