<nav role="navigation" id="wb-bc" property="breadcrumb" aria-labelledby="wb-bc-nm">
	<h2 id="wb-bc-nm">{{{i18n "you-are-here"}}}</h2>
	<div class="container">
		<div class="row">
			<ol class="breadcrumb">
				{{>breadcrumbscontent}}
			</ol>
		</div>
	</div>
</nav>
