<nav role="navigation" id="wb-bc" property="breadcrumb">
	<h2>{{{i18n "you-are-here"}}}</h2>
	<div class="container">
		<div class="row">
			<ol class="breadcrumb">
				{{>breadcrumbscontent}}
			</ol>
		</div>
	</div>
</nav>
