<section class="col-sm-3">
	<h3>À propos</h3>
	<ul class="list-unstyled">
		<li><a href="{{rooturl}}/index-fr.html#apropos">{{#i18n "tmpl-about-wet"}}{{/i18n}}</a></li>
		<li><a href="http://www.tbs-sct.gc.ca/ws-nw/index-fra.asp">{{#i18n "tmpl-about-web-standards"}}{{/i18n}}</a></li>
	</ul>
</section>
<section class="col-sm-3">
	<h3>Contactez-nous</h3>
	<ul class="list-unstyled">
		<li><a href="https://github.com/wet-boew/wet-boew/issues/new">{{#i18n "tmpl-questions-comments"}}{{/i18n}}</a></li>
	</ul>
</section>
<section class="col-sm-3">
	<h3>Nouvelles</h3>
	<ul class="list-unstyled">
		<li><a href="https://github.com/wet-boew/wet-boew/pulse">{{#i18n "tmpl-recent-project-activity"}}{{/i18n}}</a></li>
		<li><a href="https://github.com/wet-boew/wet-boew/graphs">{{#i18n "tmpl-project-stats"}}{{/i18n}}</a></li>
	</ul>
</section>
<section class="col-sm-3">
	<h3>Restez branchés</h3>
	<ul class="list-unstyled">
		<li><a href="https://twitter.com/BoiteExpWeb">Twitter</a></li>
	</ul>
</section>
