<footer role="contentinfo" id="wb-info" class="visible-sm visible-md visible-lg wb-navcurr">
	<div class="container">
		<nav role="navigation" class="row">
			<h2>{{{i18n "tmpl-about-site"}}}</h2>
			{{>footercontent}}
		</nav>
	</div>
</footer>
