<section class="col-sm-3 col-lg-3">
	<h3>À propos</h3>
	<ul class="list-unstyled">
		<li><a href="{{rooturl}}/index-fr.html#apropos">À propos de la Boîte à outils de l’expérience Web</a></li>
		<li><a href="http://www.tbs-sct.gc.ca/ws-nw/index-fra.asp">À propos des normes Web</a></li>
	</ul>
</section>
<section class="col-sm-3 col-lg-3">
	<h3>Contactez-nous</h3>
	<ul class="list-unstyled">
		<li><a href="https://github.com/wet-boew/wet-boew/issues/new">Questions ou commentaires?</a></li>
	</ul>
</section>
<section class="col-sm-3 col-lg-3">
	<h3>Nouvelles</h3>
	<ul class="list-unstyled">
		<li><a href="https://github.com/wet-boew/wet-boew/pulse">Activité du projet récente</a></li>
		<li><a href="https://github.com/wet-boew/wet-boew/graphs">Statistiques du projet</a></li>
	</ul>
</section>
<section class="col-sm-3 col-lg-3">
	<h3>Restez branchés</h3>
	<ul class="list-unstyled">
		<li><a href="https://twitter.com/BoiteExpWeb">Twitter</a></li>
	</ul>
</section>
