<section class="col-sm-3 col-lg-3">
	<h3>About</h3>
	<ul class="list-unstyled">
		<li><a href="{{rooturl}}/index-en.html#about">About the Web Experience Toolkit</a></li>
                <li><a href="http://www.tbs-sct.gc.ca/ws-nw/index-eng.asp">About the Web Standards</a></li>
	</ul>
</section>
<section class="col-sm-3 col-lg-3">
	<h3>Contact us</h3>
	<ul class="list-unstyled">
		<li><a href="https://github.com/wet-boew/wet-boew/issues/new">Questions or comments?</a></li>
	</ul>
</section>
<section class="col-sm-3 col-lg-3">
	<h3>News</h3>
	<ul class="list-unstyled">
		<li><a href="https://github.com/wet-boew/wet-boew/pulse">Recent project activity</a></li>
			<li><a href="https://github.com/wet-boew/wet-boew/graphs">Project statistics</a></li>
	</ul>
</section>
<section class="col-sm-3 col-lg-3">
	<h3>Stay connected</h3>
	<ul class="list-unstyled">
		<li><a href="https://twitter.com/WebExpToolkit">Twitter</a></li>
	</ul>
</section>
