<section class="col-sm-3">
	<h3>About</h3>
	<ul class="list-unstyled">
		<li><a href="{{rooturl}}/index-en.html#about">{{#i18n "tmpl-about-wet"}}{{/i18n}}</a></li>
                <li><a href="http://www.tbs-sct.gc.ca/ws-nw/index-eng.asp">{{#i18n "tmpl-about-web-standards"}}{{/i18n}}</a></li>
	</ul>
</section>
<section class="col-sm-3">
	<h3>Contact us</h3>
	<ul class="list-unstyled">
		<li><a href="https://github.com/wet-boew/wet-boew/issues/new">{{#i18n "tmpl-questions-comments"}}{{/i18n}}</a></li>
	</ul>
</section>
<section class="col-sm-3">
	<h3>News</h3>
	<ul class="list-unstyled">
		<li><a href="https://github.com/wet-boew/wet-boew/pulse">{{#i18n "tmpl-recent-project-activity"}}{{/i18n}}</a></li>
			<li><a href="https://github.com/wet-boew/wet-boew/graphs">{{#i18n "tmpl-project-stats"}}{{/i18n}}</a></li>
	</ul>
</section>
<section class="col-sm-3">
	<h3>Stay connected</h3>
	<ul class="list-unstyled">
		<li><a href="https://twitter.com/WebExpToolkit">Twitter</a></li>
	</ul>
</section>
