
<section aria-labelledby="wb-sf-1-hd" class="col-sm-3 col-lg-3">
	<h3 id="wb-sf-1-hd">About</h3>
	<ul>
		<li><a href="#">About the Web Experience Toolkit</a></li>
		<li><a href="#">About the Web Standards</a></li>
	</ul>
</section>
<section aria-labelledby="wb-sf-2-hd" class="col-sm-3 col-lg-3">
	<h3 id="wb-sf-2-hd">Contact us</h3>
	<ul>
		<li><a href="#">Questions or comments?</a></li>
	</ul>
</section>
<section aria-labelledby="wb-sf-3-hd" class="col-sm-3 col-lg-3">
	<h3 id="wb-sf-3-hd">News</h3>
	<ul>
		<li><a href="#">Recent project activity</a></li>
	</ul>
</section>
<section aria-labelledby="wb-sf-4-hd" class="col-sm-3 col-lg-3">
	<h3 id="wb-sf-4-hd">Stay Connected</h3>
	<ul>
		<li><a href="#">Twitter</a></li>
	</ul>
</section>
