<ul class="pnl-btn list-inline text-right">
	<li><a href="#mb-pnl" title="{{{i18n "menu"}}}" aria-controls="mb-pnl" class="overlay-lnk btn btn-xs btn-default" role="button"><span class="glyphicon glyphicon-th-list"><span class="wb-inv">{{{i18n "menu"}}}</span></span></a></li>
</ul>
<div id="mb-pnl"></div>
