<div class="container">
	<div class="row text-right">
		<section class="wb-mb-links col-xs-12 visible-sm visible-xs" id="wb-glb-mn">
			<h2>Menu</h2>
			<ul class="list-inline text-right">
				<li><a href="#wb-sm" title="Menu" class="wb-trgt"><span class="glyphicon glyphicon-th-list"><span class="wb-inv">Menu</span></span></a></li>
				<li class="wb-trgt"><a href="#wb-srch" title="{{#i18n "%tmpl-search"}}{{/i18n}}"><span class="glyphicon glyphicon-search"><span class="wb-inv">{{#i18n "%tmpl-search"}}{{/i18n}}</span></span></a></li>
			</ul>
		</section>
	</div>
</div>