<ul class="pnl-btn list-inline text-right">
	<li><a href="#mb-pnl" title="{{{i18n "srch-menus"}}}" aria-controls="mb-pnl" class="overlay-lnk btn btn-sm btn-default" role="button"><span class="glyphicon glyphicon-search"><span class="glyphicon glyphicon-th-list"><span class="wb-inv">{{{i18n "srch-menus"}}}</span></span></span></a></li>
</ul>
<div id="mb-pnl"></div>
