<section>
	<h2>Heading 2 (<code>h2</code>)</h2>
	<section>
		<h3>Heading 3 (<code>h3</code>)</h3>
		<section>
			<h4>Heading 4 (<code>h4</code>)</h4>
			<section>
				<h5>Heading 5 (<code>h5</code>)</h5>
				<section>
					<h6>Heading 6 (<code>h6</code>)</h6>
					<p>Paragraph default appearance</p>
				</section>
			</section>
		</section>
	</section>
</section>
<p><a href="#">Link</a></p>
<ul>
	<li>unordered list (<code>ul</code>) - level 1
		<ul>
			<li>unordered list (<code>ul</code>) - level 2
				<ul>
					<li>unordered list (<code>ul</code>) - level 3</li>
				</ul>
			</li>
		</ul>
	</li>
</ul>
<ol>
	<li>ordered list (<code>ol</code>) - level 1</li>
	<li>ordered list (<code>ol</code>) - level 1
		<ol>
			<li>ordered list (<code>ol</code>) - level 2</li>
			<li>ordered list (<code>ol</code>) - level 2
				<ol>
					<li>ordered list (<code>ol</code>) - level 3</li>
					<li>ordered list (<code>ol</code>) - level 3</li>
				</ol>
			</li>
		</ol>
	</li>
</ol>
<table class="table table-striped">
	<caption>Table caption</caption>
	<thead>
		<tr>
			<th scope="col">Table header (<code>th</code>)</th>
			<th scope="col">Table header (<code>th</code>)</th>
			<th scope="col">Table header (<code>th</code>)</th>
			<th scope="col">Table header (<code>th</code>)</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Table data (<code>td</code>)</td>
			<td>Table data (<code>td</code>)</td>
			<td>Table data (<code>td</code>)</td>
			<td>Table data (<code>td</code>)</td>
		</tr>
		<tr>
			<td>Table data (<code>td</code>)</td>
			<td>Table data (<code>td</code>)</td>
			<td>Table data (<code>td</code>)</td>
			<td>Table data (<code>td</code>)</td>
		</tr>
		<tr>
			<td>Table data (<code>td</code>)</td>
			<td>Table data (<code>td</code>)</td>
			<td>Table data (<code>td</code>)</td>
			<td>Table data (<code>td</code>)</td>
		</tr>
	</tbody>
</table>
<form method="post" action="#" class="form-horizontal">
	<div class="form-group">
		<label for="data1" class="col-sm-3 control-label">Form (<code>input</code>):</label>
		<div class="col-sm-9">
			<input type="text" id="data1" name="data1" class="form-control">
		</div>
	</div>
	<div class="form-group">
		<label for="data2" class="col-sm-3 control-label">Form (<code>textarea</code>):</label>
		<div class="col-sm-9">
			<textarea id="data2" rows="3" cols="15" name="data2" class="form-control"></textarea>
		</div>
	</div>
	<div class="form-group">
		<label for="data4" class="col-sm-3 control-label">Form (<code>select</code>):</label>
		<div class="col-sm-9">
			<select name="data4" id="data4" class="form-control">
				<option value="Option 1">Option 1</option>
				<option value="Option 2">Option 2</option>
				<option value="Option 3">Option 3</option>
				<option value="Option 4">Option 4</option>
			</select>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-3 col-sm-9">
			<button type="submit" class="btn btn-primary">Submit</button>
		</div>
	</div>
</form>
<blockquote>
	<p>"<code>blockquote</code>"</p>
</blockquote>
