<div class="container visible-md visible-lg nvbar">
	<h2>{{#i18n "%tmpl-site-menu"}}{{/i18n}}</h2>
    <div class="row">
        <ul class="list-inline menu">
			<li><a href="{{rooturl}}/index-fr.html">{{#i18n "%tmpl-wet-project"}}{{/i18n}}</a></li>
			<li><a href="https://github.com/wet-boew/wet-boew/wiki/Mise-en-%C5%93uvre-de-la-BOEW">{{#i18n "%tmpl-implement-wet"}}{{/i18n}}</a></li>
			<li><a href="https://github.com/wet-boew/wet-boew/wiki/Lignes-directrices-pour-les-contributeurs">{{#i18n "%tmpl-contribute-wet"}}{{/i18n}}</a></li>
        </ul>
    </div>
</div>
