<div class="container visible-md visible-lg nvbar">
    <div class="row">
        <ul class="list-inline menu">
			<li><a href="{{rooturl}}/index-en.html">WET project</a></li>
			<li><a href="https://github.com/wet-boew/wet-boew/wiki/Implementing-WET">Implement WET</a></li>
			<li><a href="https://github.com/wet-boew/wet-boew/wiki/Contributor-guidelines">Contribute to WET</a></li>
        </ul>
    </div>
</div>
