<section id="wb-srch" class="col-md-4 visible-md visible-lg">
	<h2>{{{i18n "tmpl-search"}}}</h2>
	<form action="https://google.ca/search" method="get" role="search" class="form-inline">

		<div class="form-group">
			<label for="wb-srch-q">{{{i18n "tmpl-search-site"}}}</label>
			<input id="wb-srch-q" class="form-control" name="q" type="search" value="" size="27" maxlength="150" />
			<input type="hidden" name="q" value="site:wet-boew.github.io OR site:github.com/wet-boew/" />
		</div>

		<button type="submit" id="wb-srch-sub" class="btn btn-default">{{{i18n "tmpl-search"}}}</button>

	</form>
</section>
