<form action="#" method="post" role="search" class="form-inline">

	<div class="form-group">
		<label for="wb-srch-q">{{#i18n "tmpl-search-site"}}{{/i18n}}</label>
		<input id="wb-srch-q" class="form-control" name="wb-srch-q" type="search" value="" size="27" maxlength="150" />
	</div>

	<button type="submit" id="wb-srch-sub" class="btn btn-small" name="wb-srch-sub">{{#i18n "tmpl-search"}}{{/i18n}}</button>

</form>
