<nav role="navigation" id="wb-sm"{{>sitemenureplace}} data-trgt="mb-pnl" class="wb-menu visible-md visible-lg" typeof="SiteNavigationElement">
	<div class="container nvbar">
		<h2>{{{i18n "tmpl-topics-menu"}}}</h2>
		<div class="row">
			<ul class="list-inline menu">
				{{>sitemenucontent}}
			</ul>
		</div>
	</div>
</nav>
