<div class="container visible-md visible-lg nvbar">
    <div class="row">
        <ul class="list-inline menu">
			<li><a href="{{rooturl}}/index-fr.html">Projet de la BOEW</a></li>
			<li><a href="https://github.com/wet-boew/wet-boew/wiki/Mise-en-%C5%93uvre-de-la-BOEW">Mise en œuvre de la BOEW</a></li>
			<li><a href="https://github.com/wet-boew/wet-boew/wiki/Lignes-directrices-pour-les-contributeurs">Contribuer à la BOEW</a></li>
        </ul>
    </div>
</div>
