
<form action="#" method="post" role="search" class="form-inline">
	<div id="wet-srchbx-in">
		<label for="wb-srch-txt">{{#i18n "%tmpl-search-site"}}{{/i18n}}</label>
		<input id="wb-srch-txt" class="wb-srch-txt form-control" name="wb-srch-txt" type="search" value="" size="27" maxlength="150" />
		<button type="submit" id="wb-srch-submit" class="wb-srch-submit btn btn-primary btn-small" name="wb-srch-submit">{{#i18n "%tmpl-search"}}{{/i18n}}</button>
	</div>
</form>
