<div class="container visible-md visible-lg nvbar">
	<h2>{{#i18n "tmpl-site-menu"}}{{/i18n}}</h2>
    <div class="row">
        <ul class="list-inline menu">
			<li><a href="{{rooturl}}/index-en.html">{{#i18n "tmpl-wet-project"}}{{/i18n}}</a></li>
			<li><a href="https://github.com/wet-boew/wet-boew/wiki/Implementing-WET">{{#i18n "tmpl-implement-wet"}}{{/i18n}}</a></li>
			<li><a href="https://github.com/wet-boew/wet-boew/wiki/Contributor-guidelines">{{#i18n "tmpl-contribute-wet"}}{{/i18n}}</a></li>
        </ul>
    </div>
</div>
