<div class="container">
	<nav class="wb-menu">
		<ul>
			<li>
				<a href="http://wet-boew.github.io/wet-boew/index-en.html">WET project</a>
			</li>
			<li>
				<a href="https://github.com/wet-boew/wet-boew/wiki/Implementing-WET">Implement WET</a>
			</li>
			<li>
				<a href="https://github.com/wet-boew/wet-boew/wiki/Contributor-guidelines">Contribute to WET</a>
			</li>
		</ul>
	</nav>
</div>
