<form action="https://google.ca/search" method="get" role="search" class="form-inline">

	<div class="form-group">
		<label for="wb-srch-q">{{#i18n "tmpl-search-site"}}{{/i18n}}</label>
		<input id="wb-srch-q" class="form-control" name="q" type="search" value="" size="27" maxlength="150" />
		<input type="hidden" name="q" value="site:wet-boew.github.io OR github.com/wet-boew/" />
	</div>

	<button type="submit" id="wb-srch-sub" class="btn btn-default">{{#i18n "tmpl-search"}}{{/i18n}}</button>

</form>
