<div id="mocha"></div>

<!-- Mocha -->
<link rel="stylesheet" href="{{assets}}/../node_modules/mocha/mocha.css" >
<script src="{{assets}}/../node_modules/mocha/mocha.js"></script>
<!-- Expect.js -->
<script src="{{assets}}/../node_modules/expect.js/expect.js"></script>
<!-- Sinon -->
<script src="{{assets}}/../node_modules/sinon/pkg/sinon.js"></script>

<script>
	mocha.setup( "bdd" );
	vapour.doc.on( "ready", function() {
		mocha.run();
	});
</script>

<!-- Test -->
<script src="test.js"></script>
