---
{
	"title": "Data Scrub",
	"language": "fr",
	"category": "Plugiciels",
	"description": "Supprimer les informations personnelles identifiables (IPI) avant de soumettre le formulaire",
	"tag": "wb-data-scrub",
	"parentdir": "wb-data-scrub",
	"altLangPrefix": "wb-data-scrub",
	"dateModified": "2022-03-02"
}
---
<div class="wb-prettify all-pre hide"></div>

<h2>Exemple</h2>

<p>Supprimez les informations personnelles identifiables (IPI) des champs marqués du formulaire avant de les soumettre.</p>

<form action="wb-data-scrub-fr.html">
	<div class="form-content">
		<div class="form-group">
			<label for="preferredNumber"><span class="field-name">Numéro de téléphone</span></label>
			<input class="form-control" id="preferredNumber" name="preferredNumber" type="tel" data-rule-wbscrub />
		</div>
		<div class="form-group">
			<label for="email"><span class="field-name">Addresse courriel</span> (test@domaine)</label>
			<input class="form-control" id="email" name="email" type="email" data-rule-wbscrub />
		</div>
		<div class="form-group">
			<label for="search"><span class="field-name">Rechercher</span></label>
			<input class="form-control" id="search" name="search" type="search" data-rule-wbscrub />
		</div>
		<div class="form-group">
			<label for="comments"><span class="field-name">Commentaires</span></label>
			<textarea class="form-control" id="comments" name="comments" data-rule-wbscrub rows="4" cols="50" ></textarea>
		</div>
		<div class="form-group">
			<label for="noScrubField"><span class="field-name">Exemple de champ sans IPI</span></label>
			<input class="form-control" id="noScrubField" name="noScrubField" type="text" />
		</div>
		<button type="submit" class="btn btn-primary">Soumettre</button>
	</div>
</form>

<details class="mrgn-tp-md mrgn-bttm-md">
	<summary>View code</summary>
	<pre><code>&lt;form action="wb-data-scrub-fr.html" &gt;
	&lt;div class="form-content"&gt;
		&lt;div class="form-group"&gt;
			&lt;label for="preferredNumber"&gt;&lt;span class="field-name"&gt;Numéro de téléphone&lt;/span&gt;&lt;/label&gt;
			&lt;input class="form-control" id="preferredNumber" name="preferredNumber" type="tel" data-rule-wbscrub /&gt;
		&lt;/div&gt;
		&lt;div class="form-group"&gt;
			&lt;label for="email"&gt;&lt;span class="field-name"&gt;Addresse courriel&lt;/span&gt; (test@domaine)&lt;/label&gt;
			&lt;input class="form-control" id="email" name="email" type="email" data-rule-wbscrub /&gt;
		&lt;/div&gt;
		&lt;div class="form-group"&gt;
			&lt;label for="search"&gt;&lt;span class="field-name"&gt;Rechercher&lt;/span&gt;&lt;/label&gt;
			&lt;input class="form-control" id="search" name="search" type="search" data-rule-wbscrub /&gt;
		&lt;/div&gt;
		&lt;div class="form-group"&gt;
			&lt;label for="comments"&gt;&lt;span class="field-name"&gt;Commentaires&lt;/span&gt;&lt;/label&gt;
			&lt;textarea class="form-control" id="comments" name="comments" data-rule-wbscrub rows="4" cols="50"&gt;&lt;/textarea&gt;
		&lt;/div&gt;
		&lt;div class="form-group"&gt;
			&lt;label for="noScrubField"&gt;&lt;span class="field-name"&gt;Exemple de champ sans IPI&lt;/span&gt;&lt;/label&gt;
			&lt;input class="form-control" id="noScrubField" name="noScrubField" type="text" /&gt;
		&lt;/div&gt;
		&lt;button type="submit" class="btn btn-primary"&gt;Soumettre&lt;/button&gt;
	&lt;/div&gt;
&lt;/form&gt;
</code></pre>
</details>
<h2> Scénario de test</h2>
<p>Remplissez les champs suivants avec les valeurs suivantes:</p>
<ul>
	<li>Téléphone: <code>514 111 1111</code></li>
	<li>E-mail: <code>1@example.com</code></li>
	<li>Rechercher: <code>Numéro de passeport: AB123456</code></li>
	<li>Commentaires: <code>visa: 4916 0739.3667-6891, master:5428735149026050, SIN:123 123-123, ZIP:K2C 3N2, numéro de permis de conduire:P12345678912345, exemple de compte bancaire: 003-1234567</code></li>
	<li>Nom complet: <code>John Doe</code></li>
</ul>
<p>Le formulaire affichera un message informant l'utilisateur qu'aucun renseignement personnel ne sera soumis.</p>
<p>Après l'envoi du formulaire, la sortie des paramètres d'url sera :<code>?preferredNumber=&amp;email=&amp;search=Passport+Nr%3A+&amp;comments=visa%3A+%2C+master%3A%2C+SIN%3A%2C+ZIP%3A%2C+Driving+Licence+Nr%3AP%2C+Bank+account+example%3A+&amp;noScrubField=John+Doe</code></p>
