---
{
	"title": "Data Scrub",
	"language": "fr",
	"category": "Plugiciels",
	"description": "Supprimer les informations personnelles identifiables (IPI) avant de soumettre le formulaire",
	"tag": "wb-data-scrub",
	"parentdir": "wb-data-scrub",
	"altLangPrefix": "wb-data-scrub",
	"dateModified": "2022-02-24"
}
---
<div class="wb-prettify all-pre hide"></div>

<h2>Exemple</h2>

<p>Supprimez les informations personnelles identifiables (PII) des champs marqués du formulaire avant de les soumettre.</p>

<form action="wb-data-scrub-fr.html">
	<input type="hidden" name="scrub" value="1" data-wbscrub-flag />
	<div class="form-content">
		<div class="form-group">
			<label for="firstname"><span class="field-name">Prénom</span></label>
			<input class="form-control" id="firstname" name="firstname" type="text" />
		</div>
		<div class="form-group">
			<label for="lastname"><span class="field-name">Nom de famille</span></label>
			<input class="form-control" id="lastname" name="lastname" type="text" />
		</div>
		<div class="form-group">
			<label for="preferredNumber"><span class="field-name">Numéro de téléphone</span></label>
			<input class="form-control" id="preferredNumber" name="preferredNumber" type="tel" data-rule-wbscrub />
		</div>
		<div class="form-group">
			<label for="email"><span class="field-name">Addresse courriel</span> (test@domaine)</label>
			<input class="form-control" id="email" name="email" type="email" data-rule-wbscrub />
		</div>
		<button type="submit" class="btn btn-primary">Soumettre</button>
	</div>
</form>

<details class="mrgn-tp-md mrgn-bttm-md">
	<summary>View code</summary>
	<pre><code>&lt;form action="wb-data-scrub-fr.html" &gt;
	&lt;input type="hidden" name="scrub" value="1" data-wbscrub-flag /&gt;
	&lt;div class="form-content"&gt;
		&lt;div class="form-group"&gt;
			&lt;label for="firstname"&gt;&lt;span class="field-name"&gt;Prénom&lt;/span&gt;&lt;/label&gt;
			&lt;input class="form-control" id="firstname" name="firstname" type="text" /&gt;
		&lt;/div&gt;
		&lt;div class="form-group"&gt;
			&lt;label for="lastname"&gt;&lt;span class="field-name"&gt;Nom de famille&lt;/span&gt;&lt;/label&gt;
			&lt;input class="form-control" id="lastname" name="lastname" type="text" /&gt;
		&lt;/div&gt;
		&lt;div class="form-group"&gt;
			&lt;label for="preferredNumber"&gt;&lt;span class="field-name"&gt;Numéro de téléphone&lt;/span&gt;&lt;/label&gt;
			&lt;input class="form-control" id="preferredNumber" name="preferredNumber" type="tel" data-rule-wbscrub /&gt;
		&lt;/div&gt;
		&lt;div class="form-group"&gt;
			&lt;label for="email"&gt;&lt;span class="field-name"&gt;Addresse courriel&lt;/span&gt; (test@domaine)&lt;/label&gt;
			&lt;input class="form-control" id="email" name="email" type="email" data-rule-wbscrub /&gt;
		&lt;/div&gt;
		&lt;button type="submit" class="btn btn-primary"&gt;Soumettre&lt;/button&gt;
	&lt;/div&gt;
&lt;/form&gt;
</code></pre>
</details>
