---
{
	"title": "Contenu écartable",
	"language": "fr",
	"category": "Plugiciels",
	"description": "Permettre aux utilisateurs d'écarter certains contenus.",
	"tag": "dismissable-content",
	"parentdir": "dismissable-content",
	"altLangPrefix": "dismissable-content",
	"dateModified": "2015-05-11"
}
---
<p id="dismiss1" class="wb-dismissable">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur et venenatis dui. Aliquam ac felis diam. Pellentesque eget risus quam. Duis ante ipsum, tincidunt eget pretium et, fermentum interdum nunc. Curabitur vulputate suscipit nulla, rhoncus finibus erat porta sit amet. Nullam condimentum pellentesque lacus a euismod. Ut malesuada finibus diam. Mauris a lorem in leo auctor dictum.</p>
<p>Ut aliquam purus a neque tristique, sed gravida ligula varius. Fusce non scelerisque risus, vitae pretium orci. Donec cursus mollis velit non pretium. In feugiat massa ut enim consectetur porta. Mauris gravida erat vel bibendum finibus. Pellentesque ullamcorper eget elit id lobortis. Proin cursus consequat tellus vitae eleifend. Aliquam erat volutpat. Donec consectetur egestas metus ac cursus. Praesent sodales tempus nisi. Suspendisse finibus eget ligula a interdum. Cras lobortis odio nec interdum vulputate. In in tristique justo, id elementum dolor. Proin euismod ex a eros finibus lobortis. Suspendisse vitae vestibulum eros, in mollis neque. Nunc eu leo vitae augue imperdiet volutpat sed a ligula.</p>
<p id="dismiss2" class="wb-dismissable">Vivamus vulputate lectus sit amet mauris venenatis, sed tempus lorem gravida. Praesent eu neque et ipsum luctus congue non in nulla. Morbi blandit libero sed urna congue dignissim. Praesent ut leo eu quam fringilla pellentesque. Morbi congue quam lacus, ut auctor est viverra pellentesque. Nullam augue risus, pharetra a justo id, vulputate efficitur arcu. Ut ut ligula ante. Aenean luctus tellus et eros lacinia aliquet. Fusce dictum, orci a bibendum ullamcorper, urna justo consectetur justo, sit amet maximus magna nisi mattis leo. Praesent luctus lacus nulla, id imperdiet arcu facilisis a.</p>
<p>Aenean tempor porta leo a porttitor. Nulla sed libero velit. Aliquam gravida euismod ante vitae porttitor. Mauris id nisl sit amet felis semper iaculis a ac augue. Pellentesque nec aliquet ligula, et maximus ligula. Nam gravida lobortis sapien at interdum. Phasellus dictum erat id felis hendrerit maximus. Sed in lectus faucibus, finibus sapien nec, porttitor lectus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas ac felis et nisl rhoncus sagittis vitae ut velit. Suspendisse et leo cursus, interdum quam eu, efficitur nunc. Aliquam sit amet ipsum vitae augue consequat laoreet in nec turpis. Duis nec maximus neque. Etiam leo quam, tincidunt non tempor et, maximus at lacus.</p>
<p id="dismiss3" class="wb-dismissable">Fusce malesuada massa eget ipsum consequat, ut mattis massa mattis. Ut auctor molestie molestie. Praesent in malesuada est. Nullam ullamcorper justo at nisi porta, at volutpat dui lobortis. Aliquam erat volutpat. Donec eget erat non mi sollicitudin blandit vitae vel nibh. Aliquam tempus nibh eu massa rhoncus vulputate ut non orci. Ut faucibus mattis eleifend.</p>
<section>
	<h2>Ramener le contenu rejeté (Demo seulement)</h2>
	<p><strong>Note:</strong> TPour voir l'effet de ces boutons, la page doit être rafraîchie.</p>
	<input type="button" value="Réinitialiser la première boîte" onclick="localStorage.removeItem( 'dismiss1' );" class="btn btn-primary">
	<input type="button" value="Réinitialiser la deuxième boîte" onclick="localStorage.removeItem( 'dismiss2' );" class="btn btn-primary">
	<input type="button" value="Réinitialiser la troisième boîte" onclick="localStorage.removeItem( 'dismiss3' );" class="btn btn-primary">
</section>