---
{
	"title": "Accessibility conformance report #[id] - Topic",
	"language": "en",
	"tag": "wamethod",
	"parentdir": "wamethod",
	"parentPage": "Web Accessibility Assessment Methodology (Level AA)",
	"parentPageURL": "wamethod-AA",
	"altLangPage": "acr-initial-fr.html",
	"dateModified": "2023-03-16",
	"layout": "acr-en.hbs",
	"reportURL": "acr-initial.json"
}
---

<section class="alert alert-info">
	<h2>Sample page - Baseline template</h2>
	<p>This page is the initial template with the fillable instructions to produce an ACR (Accessibility Conformance Report) showing the conformance state of the evaluated web page subject. This template report is pre-configured to aim an ACR towards a full conformance with every WCAG 2.1 Level AA Success Criterion.</p>
</section>
