---
{
	"title": "Accessibility assessment #1 - Add to Calendar",
	"language": "en",
	"description": "Partial. Evaluation of new Success Criteria at Level A and Level AA of WCAG 2.1 and WCAG 2.2",
	"tag": "add-cal",
	"parentdir": "add-cal",
	"parentPage": "Add to calendar",
	"parentPageURL": "add-cal",
	"altLangPage": "a11y-1-fr.html",
	"dateModified": "2022-06-22"
}
---
<div id="ds-a11y" data-wb-jsonmanager='{ "url": "a11y-1.json", "name": "a11y" }'></div>

<dl class="dl-horizontal">
	<dt>Evaluation Report Identifier</dt>
	<dd data-json-replace="#[a11y]/id">Not Available</dd>
	<dt>Type</dt>
	<dd>Accessibility assessment</dd>
	<dt>Asserted by:</dt>
	<dd><span data-json-replace="#[a11y]/assertedBy/producedBy/name">Unknown</span> on behalf of <span data-json-replace="#[a11y]/assertedBy/name">Not Available</span></dd>
	<dt>Date:</dt>
	<dd data-json-replace="#[a11y]/date">Not Available</dd>
	<dt>Page:</dt>
	<dd><a data-wb-json='[

			{
				"url": "#[a11y]/subjectUrl",
				"type": "attr",
				"attr": "href"
			},
			{
				"url": "#[a11y]/subjectUrl",
				"type": "replace"
			}

		]' href="#">Not Defined</a></dd>
	<dt>Subject</dt>
	<dd data-json-replace="#[a11y]/assessment">Not Defined</dd>
	<dt>Notes:</dt>
	<dd data-json-replace="#[a11y]/notes">No notes</dd>
	<dt>Scores</dt>
	<dd data-json-replace="#[a11y]/score">Not Calculated</dd>
</dl>

<details>
	<summary>Revision</summary>
	<table class="table">
		<thead>
			<tr>
				<th>Date</th>
				<th>Outcome</th>
				<th>Comments</th>
				<th>Reviewer</th>
			</tr>
		</thead>
		<tbody data-wb-json='{
			"url": "#[a11y]/review",
			"tobeclone": "tr",
			"source": "#tmpl-reviews",
			"mapping": [
				{ "selector": ":nth-child(1)", "value": "/date" },
				{ "selector": ":nth-child(2)", "value": "/outcome" },
				{ "selector": ":nth-child(3)", "value": "/notes" },
				{ "selector": ":nth-child(4)", "value": "/name" }
			]
		}'>
		</tbody>
	</table>

	<template id="tmpl-reviews">
		<table>
			<tr>
				<th></th>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</table>
	</template>
</details>

<h2>Assessment details</h2>
<table class="table">
	<thead>
		<tr>
			<th>Success Criteria</th>
			<th>Result</th>
			<th>Comments</th>
		</tr>
	</thead>
	<tbody data-wb-json='{
		"url": "#[a11y]/results",
		"tobeclone": "tr",
		"source": "#tmpl-result",
		"mapping": [
			{ "selector": ":nth-child(1)", "value": "/label" },
			{ "selector": ":nth-child(2)", "value": "/outcome" },
			{ "selector": ":nth-child(3)", "value": "/notes" }
		]
	}'>
	</tbody>
</table>

<template id="tmpl-result">
	<table>
		<tr>
			<th></th>
			<td></td>
			<td></td>
		</tr>
	</table>
</template>
