---
{
	"title": "Contenu superposé",
	"language": "fr",
	"category": "Plugiciel",
	"description": "Un plugiciel fournissant un modèle de contenu superposé flexible et réactif.",
	"tag": "overlays",
	"en": "overlays"
}
---
<ul>
	<li><a href="#panneau-gauche">Afficher un panneau à gauche</a></li>
	<li><a href="#panneau-droite">Afficher un panneau à droite</a></li>
	<li><a href="#barre-haut">Afficher une barre en haut</a></li>
	<li><a href="#barre-bas">Afficher une barre en bas</a></li>
	<li><a href="#cs-centre">Afficher un contenu superposé centré</a></li>
	<li><a href="#cs-plein-ecrann">Afficher un contenu superposé plein écran</a></li>
	<li><a href="#sans-en-tete">Afficher un contenu superposé sans en-tête</a></li>
</ul>

<div id="panneau-gauche" class="wb-panel-left">
	<div class="overlay-header">
		<h2>Panneau à gauche</h2>
	</div>
</div>

<div id="panneau-droite" class="wb-panel-right">
	<div class="overlay-header">
		<h2>Panneau à droite</h2>
	</div>
</div>

<div id="barre-haut" class="wb-bar-top">
	<div class="overlay-header">
		<h2>Barre en haut</h2>
	</div>
</div>

<div id="barre-bas" class="wb-bar-bottom">
	<div class="overlay-header">
		<h2>Barre en bas</h2>
	</div>
</div>

<div id="cs-centre" class="wb-pop-up-centred">
	<div class="overlay-header">
		<h2>Contenu superposé centré</h2>
	</div>
</div>

<div id="cs-plein-ecran" class="wb-pop-up-full-screen">
	<div class="overlay-header">
		<h2>Contenu superposé plein écran</h2>
	</div>
</div>

<div id="sans-en-tete" class="wb-pop-up-centred"></div>