---
{
	"title": "Overlay",
	"language": "en",
	"category": "Plugin",
	"description": "A flexible, responsive overlay plugin.",
	"tag": "overlay",
	"fr": "overlays"
}
---
<ul>
	<li><a href="#left-panel" aria-controls="left-panel" class="overlay-lnk" role="button">show left-panel</a></li>
	<li><a href="#right-panel" aria-controls="right-panel" class="overlay-lnk" role="button">show right-panel</a></li>
	<li><a href="#top-bar" aria-controls="top-bar" class="overlay-lnk" role="button">show top-bar</a></li>
	<li><a href="#bottom-bar" aria-controls="bottom-bar" class="overlay-lnk" role="button">show bottom-bar</a></li>
	<li><a href="#centred-popup" aria-controls="centred-popup" class="overlay-lnk" role="button">show centred-popup</a></li>
	<li><a href="#full-screen" aria-controls="full-screen" class="overlay-lnk" role="button">show full-screen overlay</a></li>
	<li><a href="#no-header" aria-controls="no-header" class="overlay-lnk" role="button">show overlay with no header</a></li>
</ul>

<div id="left-panel" class="wb-panel-l">
	<div class="overlay-hd">
		<h2>Left panel</h2>
	</div>
</div>

<div id="right-panel" class="wb-panel-r">
	<div class="overlay-hd">
		<h2>Right panel</h2>
	</div>
</div>

<div id="top-bar" class="wb-bar-t">
	<div class="overlay-hd">
		<h2>Top bar</h2>
	</div>
</div>

<div id="bottom-bar" class="wb-bar-b">
	<div class="overlay-hd">
		<h2>Bottom bar</h2>
	</div>
</div>

<div id="centred-popup" class="wb-popup-mid">
	<div class="overlay-hd">
		<h2>Centred pop-up</h2>
	</div>
</div>

<div id="full-screen" class="wb-popup-full">
	<div class="overlay-hd">
		<h2>Full-screen overlay</h2>
	</div>
</div>

<div id="no-header" class="wb-popup-mid"></div>