---
{
	"title": "Overlay",
	"language": "en",
	"category": "Plugin",
	"description": "A flexible, responsive overlay plugin.",
	"tag": "overlay",
	"fr": "overlays"
}
---
<ul>
	<li><a href="#left-panel">show left-panel</a></li>
	<li><a href="#right-panel">show right-panel</a></li>
	<li><a href="#top-bar">show top-bar</a></li>
	<li><a href="#bottom-bar">show bottom-bar</a></li>
	<li><a href="#centred-pop-up">show centred-pop-up</a></li>
	<li><a href="#full-screen">show full-screen overlay</a></li>
</ul>

<div id="left-panel" class="wb-panel-left">
	<div class="overlay-header">
		<h2>Left panel</h2>
		<a id="left-panel_0" class="overlay-close" href="#left-panel_0"><span class="glyphicon glyphicon-remove"></span></a>
	</div>
</div>

<div id="right-panel" class="wb-panel-right">
	<div class="overlay-header">
		<h2>Right panel</h2>
		<a id="right-panel_0" class="overlay-close" href="#right-panel_0"><span class="glyphicon glyphicon-remove"></span></a>
	</div>
</div>

<div id="top-bar" class="wb-bar-top">
	<div class="overlay-header">
		<h2>Top bar</h2>
		<a id="top-bar_0" class="overlay-close" href="#top-bar_0"><span class="glyphicon glyphicon-remove"></span></a>
	</div>
</div>

<div id="bottom-bar" class="wb-bar-bottom">
	<div class="overlay-header">
		<h2>Bottom bar</h2>
		<a id="bottom-bar_0" class="overlay-close" href="#bottom-bar_0"><span class="glyphicon glyphicon-remove"></span></a>
	</div>
</div>

<div id="centred-pop-up" class="wb-pop-up-centred">
	<div class="overlay-header">
		<h2>Centred pop-up</h2>
		<a id="centred-pop-up_0" class="overlay-close" href="#centred-pop-up_0"><span class="glyphicon glyphicon-remove"></span></a>
	</div>
</div>

<div id="full-screen" class="wb-pop-up-full-screen">
	<div class="overlay-header">
		<h2>Full-screen overlay</h2>
		<a id="full-screen_0" class="overlay-close" href="#full-screen_0"><span class="glyphicon glyphicon-remove"></span></a>
	</div>
</div>