---
{
	"title": "Menu",    (FILL THIS OUT HERE)
	"language": "en",
	"category": "Plugins",
	"description": "Provides an interactive menu with optional sub-menus.",
	"tag": "menu",
	"parentdir": "menu",
	"altLangPrefix": "menu",
	"altMenu": "ajax/menu-include",
	"dateModified": "2014-07-21"
}
---
<span class="wb-prettify all-pre hide"></span>

<section>
	<h2>Purpose</h2>
	<p>Provides an interactive menu with optional sub-menus.</p>
</section>

<section>
	<h2>Example</h2>
	<ul>
		<li><strong>Large screens:</strong> The menu is rendered in the header as a menu bar.</li>
		<li><strong>Small and medium screens:</strong> The menu is rendered as a side panel, triggered by a menu button in the header, and includes the secondary menu and the footer.</li>
	</ul>
	
	
	<div class="container">
	<div class="row">
		<main property="mainContentOfPage" role="main" class="container">
			<h1 property="name" id="wb-cont">Canada.ca theme for Partner sites</h1>
			<div class="row">
				<nav class="col-md-3 col-md-push-9">
					<h2>Table of contents</h2>
					<ol>
						<li>list 1</li>
						<li>list 1</li>
						<li>list 1</li>
					</ol>
				</nav> 
			<div class="col-md-9 col-md-pull-3">
			  <section>
				<h2>English</h2>
				<ul>
				  <li><a href="content-en.html">Content page</a></li>
				  <li><a href="video-en.html">Video content page</a></li>
				  <li><a href="feedback-en.html">Feedback form</a></li>
				  <li><a href="widgets-en.html">Widget page</a></li>
				</ul>
			  </section>
			  <section>
				<h2>French</h2>
				<ul>
				  <li><a href="content-fr.html">Content page</a></li>
				  <li><a href="video-fr.html">Video content page</a></li>
				  <li><a href="feedback-fr.html">Feedback form</a></li>
				  <li><a href="widgets-fr.html">Widget page</a></li>
				</ul>
			  </section>   

			  <div class="row pagedetails">
				<div class="col-xs-6 datemod">
				  <dl id="wb-dtmd">
					<dt>Date modified: </dt>
					<dd><time property="dateModified">2014-08-19</time></dd>
				  </dl>
				</div>
				<div class="col-xs-6 text-right">
				  <a href="http://www.canada.ca/en/contact/feedback.html" class="btn btn-default"><span class="glyphicon glyphicon-comment mrgn-rght-sm"></span>Feedback<span class="wb-inv"> about this web site</span></a>
				</div>
			  </div>
			</div>
		  </div>
		</main>
	</div>
</div>

</section>
