---
{
	"title": "Table of contents",
	"language": "en",
	"category": "Plugins",
	"description": "Provides a floating table of contents.",
	"tag": "table-of-contents",
	"parentdir": "table-of-contents",
	"altLangPrefix": "table-of-contents",
	"dateModified": "2014-12-08"
}
---
<span class="wb-prettify all-pre hide"></span>

<section>
	<h2>Purpose</h2>
	<p>The table of contents plugin is used to link to sections on the page.</p>
</section>

<section>
	<h2>Example</h2>
	<ul>
		<li><strong>Sticky table of contents:</strong> The sticky table of contents is used in rare occasions and on large screen sizes.</li>
		<li><strong>Standard table of contents</strong> The standard table of contents is used to link to different anchor points on the page.</li>
	</ul>
	

			<div class="row">
				<nav class="wb-tableofcontents col-md-3 col-md-push-9">
					<h2>Sticky table of contents</h2>
					<ol>
						<li>list 1</li>
						<li>list 1</li>
						<li>list 1</li>
					</ol>
				</nav>
				
			<div class="col-md-9 col-md-pull-3">
			  <section>
				<h2>Lorem 1</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sit amet velit iaculis, eleifend risus eu, eleifend elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Integer dictum pulvinar pulvinar. Proin quis eleifend turpis. Sed elementum et lorem ut ultricies. In hac habitasse platea dictumst. In hac habitasse platea dictumst. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque scelerisque lobortis eros, ut sodales tortor sagittis et. Ut non tristique diam. Donec scelerisque purus nibh, vel pretium eros porta eu. Curabitur turpis dolor, porta ac tortor non, euismod convallis mi. Vivamus fringilla feugiat sem ut porta. Phasellus porta luctus luctus. Sed tempus lectus scelerisque nunc molestie, ut hendrerit ipsum mattis. Maecenas facilisis ornare metus, tincidunt mattis diam blandit eu.</p>
			  </section>
				
			  <section>
				  <h2>Lorem 2</h2>
					<p>Cras nec nisl arcu. Fusce risus dolor, feugiat id vulputate ut, consequat quis diam. Duis tincidunt sodales nisi at dignissim. Suspendisse blandit risus et ipsum varius rutrum. Morbi scelerisque egestas nibh, vel imperdiet lectus ullamcorper porttitor. Donec sagittis interdum nulla in feugiat. Pellentesque et enim non nunc cursus vehicula. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam a risus leo. Quisque ut dui et lectus tempus pharetra. Cras consequat sapien sed metus placerat tristique. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
			  </section>   

			</div>
		  </div>

		<div class="row">
			<nav class="wb-tableofcontents col-md-12">
				<h2>Standard table of contents</h2>
					<ol>
						<li>list 1</li>
						<li>list 1</li>
						<li>list 1</li>
					</ol>
			</nav>
				
			<div class="col-md-12">
			  <section>
				<h2>Lorem 1</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sit amet velit iaculis, eleifend risus eu, eleifend elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Integer dictum pulvinar pulvinar. Proin quis eleifend turpis. Sed elementum et lorem ut ultricies. In hac habitasse platea dictumst. In hac habitasse platea dictumst. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque scelerisque lobortis eros, ut sodales tortor sagittis et. Ut non tristique diam. Donec scelerisque purus nibh, vel pretium eros porta eu. Curabitur turpis dolor, porta ac tortor non, euismod convallis mi. Vivamus fringilla feugiat sem ut porta. Phasellus porta luctus luctus. Sed tempus lectus scelerisque nunc molestie, ut hendrerit ipsum mattis. Maecenas facilisis ornare metus, tincidunt mattis diam blandit eu.</p>
			  </section>
				
			  <section>
				  <h2>Lorem 2</h2>
					<p>Cras nec nisl arcu. Fusce risus dolor, feugiat id vulputate ut, consequat quis diam. Duis tincidunt sodales nisi at dignissim. Suspendisse blandit risus et ipsum varius rutrum. Morbi scelerisque egestas nibh, vel imperdiet lectus ullamcorper porttitor. Donec sagittis interdum nulla in feugiat. Pellentesque et enim non nunc cursus vehicula. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam a risus leo. Quisque ut dui et lectus tempus pharetra. Cras consequat sapien sed metus placerat tristique. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
			  </section>   

			</div>
		  </div>	
	
</section>
