---
{
	"title": "Web Experience Toolkit (WET) theme",
	"language": "en",
	"category": "Themes",
	"categoryfile": "themesstyle",
	"description": "This theme provides an example implementation of the Base Theme.",
	"altLangPrefix": "theme-wet-boew",
	"dateModified": "2014-08-15"
}
---
<span class="wb-prettify all-pre hide"></span>

<section>
	<h2>Purpose</h2>
	<p>The WET theme was developed to provide an example implementation of the Base Theme.</p>
</section>

<section>
	<h2>Use when</h2>
	<ul>
		<li>This theme can be used for WET-related sites.</li>
	</ul>
</section>

<section>
	<h2>Do not use when</h2>
	<ul>
		<li>This theme should not be used for non WET-related sites.</li>
	</ul>
</section>

<section>
	<h2>Working example</h2>
	<p><a href="../../../theme/index-en.html">English and French examples</a></p>
</section>

<section>
	<h2>How to implement</h2>
	<section>
		<h3>General instructions</h3>
		<ol>
			<li>Use the <strong>*.html</strong> files to create your Web pages.</li>
			<li><strong>Optional:</strong> Create, install and link to one or more new CSS files (will be used for custom CSS)</li>
			<li>Correct all <strong>*.css</strong>, <strong>*.js</strong>, and <strong>*.gif</strong> file paths referenced in the installed <strong>*.html</strong> files</li>
			<li>Replace the page title (in between <code>&lt;title&gt;</code> and <code>&lt;/title&gt;</code>), the site title, and the content title (in between <code>&lt;h1 id="wb-cont"&gt;</code> and <code>&lt;/h1&gt;</code>)</li>
			<li>Correct the metadata values</li>
		</ol>
	</section>
	<section>
		<h3>Content page-specific instructions (content-*.html)</h3>
		<ol>
			<li>Correct the menu bar links or <a href="../../../theme/content-nositemenubc-en.html">remove the menu bar</a></li>
			<li>Correct the <strong>English/<span lang="fr">Français</span></strong> link or <a href="../../../theme/content-nosearchlang-en.html">remove the language selection link</a></li>
			<li><strong>Optional:</strong> Implement the <a href="../../../theme/content-secmenu-en.html">secondary menu</a> (maximum of 2 levels)</li>
			<li>Correct the search field or <a href="../../../theme/content-nosearchlang-en.html">remove the search field</a></li>
			<li>Correct the breadcrumb trail or <a href="../../../theme/content-nositemenubc-en.html">remove the breadcrumb trail</a></li>
			<li>Correct the site footer links</li>
			<li>Correct the <strong>Date modified/<span lang="fr">Date de modification</span></strong> or change to <strong>Version</strong></li>
		</ol>
	</section>
	<section>
		<h3>Splash page-specific instructions (splashpage-*.html)</h3>
		<ol>
			<li>Correct the English and French language links</li>
		</ol>
	</section>
	<section>
		<h3>Server message page-specific instructions (serv*.html)</h3>
		<ol>
			<li>Replace the English and/or French messages.</li>
		</ol>
	</section>
</section>

<section>
	<h2>Source code</h2>
	<ul>
		<li><a href="https://github.com/wet-boew/wet-boew/tree/master/theme">Web Experience Toolkit (WET) theme source code on GitHub</a></li>
	</ul>
</section>
