---
{
	"title": "Share widget",
	"language": "en",
	"category": "Plugin",
	"description": "Facilitates sharing Web content on social media platforms.",
	"tag": "share",
	"fr": "share"
}
---

<a href="#shr-pg" class="shr-opn"><span class="glyphicon glyphicon-share"></span> Share this page</a>
<section id="shr-pg" class="shr-pg wb-panel-right">
	<div class="overlay-header">
		<h2>Share this page</h2>
		<a id="shr-pg_0" class="overlay-close" href="#shr-pg_0"><span class="glyphicon glyphicon-remove"></span></a>
	</div>
	<div class="wb-share"></div>
</section>
