---
{
	"title": "Gadget de partage",
	"language": "fr",
	"category": "Plugiciel",
	"description": "Permet à l'utilisateur de partager un contenu Web sur les plateformes de médias sociaux.",
	"tag": "share",
	"en": "share"
}
---

<a href="#prtg-pg" class="shr-opn"><span class="glyphicon glyphicon-share"></span> Partager cette page</a>
<section id="prtg-pg" class="shr-pg wb-panel-right">
	<div class="overlay-header">
		<h2>Partager cette page</h2>
		<a id="prtg-pg_0" class="overlay-close" href="#prtg-pg_0"><span class="glyphicon glyphicon-remove"></span></a>
	</div>
	<div class="wb-share"></div>
</section>
