---
title: Share widget
language: en
sitetitle: Web Experience Toolkit (WET)
tagline: Collaborative open source project led by the Government of Canada
---

<section>
	<h2>Example</h2>
    <div class="wb-share"></div>
</section>
