---
{
	"title": "Share widget",
	"language": "en",
	"category": "Plugin",
	"description": "Facilitates sharing Web content on social media platforms.",
	"tag": "share",
	"fr": "share"
}
---

<div class="wb-share"></div>
<p class="text-right">
	<strong>Add a second link:</strong>
	<div class="wb-share link-only text-right"></div>
</p>

<details>
	<summary>View code</summary>
	<pre class="wb-prettify">
		<code>&lt;div class="wb-share"&gt;&lt;/div&gt;
&lt;p&gt;
	&lt;strong&gt;Add a second link:&lt;/strong&gt;
	&lt;div class="wb-share link-only text-right"&gt;&lt;/div&gt;
&lt;/p&gt;</code>
	</pre>
</details>
