---
{
	"title": "Gadget de partage",
	"language": "fr",
	"category": "Plugiciel",
	"description": "Permet à l'utilisateur de partager un contenu Web sur les plateformes de médias sociaux.",
	"tag": "share",
	"en": "share"
}
---

<div class="wb-share"></div>
<p class="text-right">
	<strong>Ajouter un deuxième lien&#160;:</strong>
	<a href="#shr-pg" aria-controls="shr-pg" class="shr-opn overlay-lnk" role="button">
		<span class="glyphicon glyphicon-share"></span> Partager cette page
	</a>
</p>

<details>
	<summary>Visualiser le code</summary>
	<pre class="wb-prettify">
		<code>&lt;div class="wb-share"&gt;&lt;/div&gt;
&lt;p&gt;
	&lt;strong&gt;Ajouter un deuxième lien&amp;#160;:&lt;/strong&gt;
	&lt;a href="#shr-pg" aria-controls="shr-pg" class="shr-opn overlay-lnk" role="button"&gt;
		&lt;span class="glyphicon glyphicon-share"&gt;&lt;/span&gt; Partager cette page
	&lt;/a&gt;
&lt;/p&gt;</code>
	</pre>
</details>
