---
{
	"title": "Share widget",
	"language": "en",
	"category": "Plugin",
	"description": "Facilitates sharing Web content on social media platforms.",
	"tag": "share",
	"fr": "share"
}
---

<div class="wb-share"></div>
<p class="text-right">
	<strong>Add a second link:</strong>
	<a href="#shr-pg" class="shr-opn"><span class="glyphicon glyphicon-share"></span> Share this page</a>
</p>

<details>
	<summary>View code</summary>
	<pre class="wb-prettify">
		<code>&lt;div class="wb-share"&gt;&lt;/div&gt;
&lt;p&gt;
	&lt;strong&gt;Add a second link:&lt;/strong&gt;
	&lt;a href="#prtg-pg" class="shr-opn"&gt;&lt;span class="glyphicon glyphicon-share"&gt;&lt;/span&gt; Share this page&lt;/a&gt;
&lt;/p&gt;</code>
	</pre>
</details>
