---
{
	"title": "Share widget",
	"language": "en",
	"category": "plugin",
	"description": "Facilitates sharing Web content on social media platforms.",
	"tag": "share",
	"fr": "share"
}
---

<a href="#shr-pg" class="shr-opn">Share this page</a>
<section id="shr-pg" class="shr-pg wb-overlay panel panel-right">
	<h2>Share this page</h2>
	<div class="wb-share"></div>
</section>
