---
{
	"title": "Share widget",
	"language": "en",
	"fr": "share"
}
---

<a href="#shr-pg">Share this page</a>
<section id="shr-pg" class="wb-overlay panel panel-right">
	<h2>Share this page</h2>
	<div class="wb-share"></div>
</section>
