---
{
	"title": "Gadget de partage",
	"language": "fr",
	"en": "share"
}
---

<a href="#prtg-pg">Partager cette page</a>
<section id="prtg-pg" class="wb-overlay panel panel-right">
	<h2>Partager cette page</h2>
	<div class="wb-share"></div>
</section>
