---
{
	"title": "Égalisation des hauteurs",
	"language": "fr",
	"category": "Plugiciels",
	"description": "Un plugiel d'égalisation des hauteurs réactif.",
	"tag": "equalheight",
	"parentdir": "equalheight",
	"altLangPrefix": "equalheight",
	"css": ["demo/equalheight"],
	"dateModified": "2014-07-21"
}
---
<section>
	<h2>Intention</h2>
	<p>Égaliser l'hauteur des éléments sur la même ligne de base.</p>
</section>

<section>
	<h2>Exemple</h2>

	<div class="wb-eqht">
		<section>
			<h3>Contenant à basse hauteur</h3>
			<p>Exemple de texte : Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vehicula mauris ipsum, nec facilisis sem eleifend eu. Donec fringilla dapibus massa ut tristique. In id nulla at purus vehicula vehicula. Morbi lacinia odio ut nulla euismod sagittis. Mauris interdum eu nibh in tincidunt. Praesent non tincidunt risus, et malesuada est. Mauris nisl nunc, pharetra sed dapibus vel, iaculis vitae lorem.</p>
		</section>
		<section>
			<h3>Contenant à hauteur moyenne</h3>
			<p>Exemple de texte : In eget diam ac lectus consectetur accumsan et quis turpis. Nam vitae vulputate odio, vel posuere nunc. Mauris at pharetra lorem, ac commodo neque. Integer adipiscing luctus orci eu aliquet. Phasellus fermentum accumsan augue at dignissim. Proin malesuada leo quis ante ornare, vitae pellentesque lorem vulputate. Fusce fermentum, nibh sit amet interdum luctus, sapien magna tristique orci, in ultrices turpis mi lacinia quam. Etiam gravida velit id tempor vulputate. Maecenas aliquet pulvinar viverra. Quisque luctus viverra sem ut suscipit. Suspendisse et mi justo.</p>
		</section>
		<section>
			<h3>Contenant à grande hauteur</h3>
			<p>Exemple de texte : Vivamus felis erat, lobortis vel justo eu, blandit aliquam arcu. Nunc tempus dictum magna id consequat. Morbi sodales mi et ligula congue aliquet. Mauris sapien nibh, porta a interdum quis, vehicula eu nunc. Sed semper in mi sit amet vehicula. Maecenas placerat suscipit eleifend. Proin diam justo, vulputate ut hendrerit sit amet, faucibus non urna. Nulla placerat, quam ut vulputate faucibus, odio erat fermentum nisl, vitae tempus lectus orci vitae leo. Praesent cursus tellus nec mi fringilla, eu euismod quam egestas. Proin dolor dui, luctus a nibh id, accumsan vehicula metus. Cras venenatis felis vitae magna cursus, ut fringilla tortor imperdiet. Curabitur dictum posuere sem, a luctus turpis ultrices ac. Morbi semper consectetur massa in fringilla. Nulla ipsum tellus, dictum a commodo vel, sodales pulvinar eros. Donec mollis sapien a nunc lacinia, eu porta enim eleifend. Vivamus non feugiat felis, in sodales tellus.</p>
		</section>
	</div>

	<div class="wb-eqht">
		<section>
			<h3>Contenant à basse hauteur</h3>
			<p>Exemple de texte : Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vehicula mauris ipsum, nec facilisis sem eleifend eu. Donec fringilla dapibus massa ut tristique. In id nulla at purus vehicula vehicula. Morbi lacinia odio ut nulla euismod sagittis. Mauris interdum eu nibh in tincidunt. Praesent non tincidunt risus, et malesuada est. Mauris nisl nunc, pharetra sed dapibus vel, iaculis vitae lorem.</p>
		</section>
		<section>
			<h3>Contenant à hauteur moyenne</h3>
			<p>Exemple de texte : In eget diam ac lectus consectetur accumsan et quis turpis. Nam vitae vulputate odio, vel posuere nunc. Mauris at pharetra lorem, ac commodo neque. Integer adipiscing luctus orci eu aliquet. Phasellus fermentum accumsan augue at dignissim. Proin malesuada leo quis ante ornare, vitae pellentesque lorem vulputate. Fusce fermentum, nibh sit amet interdum luctus, sapien magna tristique orci, in ultrices turpis mi lacinia quam. Etiam gravida velit id tempor vulputate. Maecenas aliquet pulvinar viverra. Quisque luctus viverra sem ut suscipit. Suspendisse et mi justo.</p>
		</section>
		<section>
			<h3>Contenant à grande hauteur</h3>
			<p>Exemple de texte : Vivamus felis erat, lobortis vel justo eu, blandit aliquam arcu. Nunc tempus dictum magna id consequat. Morbi sodales mi et ligula congue aliquet. Mauris sapien nibh, porta a interdum quis, vehicula eu nunc. Sed semper in mi sit amet vehicula. Maecenas placerat suscipit eleifend. Proin diam justo, vulputate ut hendrerit sit amet, faucibus non urna. Nulla placerat, quam ut vulputate faucibus, odio erat fermentum nisl, vitae tempus lectus orci vitae leo. Praesent cursus tellus nec mi fringilla, eu euismod quam egestas. Proin dolor dui, luctus a nibh id, accumsan vehicula metus. Cras venenatis felis vitae magna cursus, ut fringilla tortor imperdiet. Curabitur dictum posuere sem, a luctus turpis ultrices ac. Morbi semper consectetur massa in fringilla. Nulla ipsum tellus, dictum a commodo vel, sodales pulvinar eros. Donec mollis sapien a nunc lacinia, eu porta enim eleifend. Vivamus non feugiat felis, in sodales tellus.</p>
		</section>
		<section>
			<h3>Contenant à basse hauteur</h3>
			<p>Exemple de texte : Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vehicula mauris ipsum, nec facilisis sem eleifend eu. Donec fringilla dapibus massa ut tristique. In id nulla at purus vehicula vehicula. Morbi lacinia odio ut nulla euismod sagittis. Mauris interdum eu nibh in tincidunt. Praesent non tincidunt risus, et malesuada est. Mauris nisl nunc, pharetra sed dapibus vel, iaculis vitae lorem.</p>
		</section>
		<section>
			<h3>Contenant à hauteur moyenne</h3>
			<p>Exemple de texte : In eget diam ac lectus consectetur accumsan et quis turpis. Nam vitae vulputate odio, vel posuere nunc. Mauris at pharetra lorem, ac commodo neque. Integer adipiscing luctus orci eu aliquet. Phasellus fermentum accumsan augue at dignissim. Proin malesuada leo quis ante ornare, vitae pellentesque lorem vulputate. Fusce fermentum, nibh sit amet interdum luctus, sapien magna tristique orci, in ultrices turpis mi lacinia quam. Etiam gravida velit id tempor vulputate. Maecenas aliquet pulvinar viverra. Quisque luctus viverra sem ut suscipit. Suspendisse et mi justo.</p>
		</section>
		<section>
			<h3>Contenant à grande hauteur</h3>
			<p>Exemple de texte : Vivamus felis erat, lobortis vel justo eu, blandit aliquam arcu. Nunc tempus dictum magna id consequat. Morbi sodales mi et ligula congue aliquet. Mauris sapien nibh, porta a interdum quis, vehicula eu nunc. Sed semper in mi sit amet vehicula. Maecenas placerat suscipit eleifend. Proin diam justo, vulputate ut hendrerit sit amet, faucibus non urna. Nulla placerat, quam ut vulputate faucibus, odio erat fermentum nisl, vitae tempus lectus orci vitae leo. Praesent cursus tellus nec mi fringilla, eu euismod quam egestas. Proin dolor dui, luctus a nibh id, accumsan vehicula metus. Cras venenatis felis vitae magna cursus, ut fringilla tortor imperdiet. Curabitur dictum posuere sem, a luctus turpis ultrices ac. Morbi semper consectetur massa in fringilla. Nulla ipsum tellus, dictum a commodo vel, sodales pulvinar eros. Donec mollis sapien a nunc lacinia, eu porta enim eleifend. Vivamus non feugiat felis, in sodales tellus.</p>
		</section>
	</div>

	<section>
		<h3>Code</h3>
		<section>
			<h4>HTML</h4>
			<pre><code>&lt;div class=&quot;wb-eqht&quot;&gt;
		&lt;section&gt;
			&lt;h3&gt;Contenant à basse hauteur&lt;/h3&gt;
			...
		&lt;/section&gt;
		&lt;section&gt;
			&lt;h3&gt;Contenant à hauteur moyenne&lt;/h3&gt;
			...
		&lt;/section&gt;
		&lt;section&gt;
			&lt;h3&gt;Contenant à grande hauteur&lt;/h3&gt;
			...
		&lt;/section&gt;
	&lt;/div&gt;

	&lt;div class=&quot;wb-eqht&quot;&gt;
		&lt;section&gt;
			&lt;h3&gt;Contenant à basse hauteur&lt;/h3&gt;
			...
		&lt;/section&gt;
		&lt;section&gt;
			&lt;h3&gt;Contenant à hauteur moyenne&lt;/h3&gt;
			...
		&lt;/section&gt;
		&lt;section&gt;
			&lt;h3&gt;Contenant à grande hauteur&lt;/h3&gt;
			...
		&lt;/section&gt;
		&lt;section&gt;
			&lt;h3&gt;Contenant à basse hauteur&lt;/h3&gt;
			...
		&lt;/section&gt;
		&lt;section&gt;
			&lt;h3&gt;Contenant à hauteur moyenne&lt;/h3&gt;
			...
		&lt;/section&gt;
		&lt;section&gt;
			&lt;h3&gt;Contenant à grande hauteur&lt;/h3&gt;
			...
		&lt;/section&gt;
	&lt;/div&gt;</code></pre>
		</section>

		<section>
			<h4>CSS</h4>
			<pre><code>.wb-eqht section {
	display: inline-block;
	margin-bottom: 15px;
	padding: 15px;
	width: 100%;
}

@media (min-width: 768px) {
	.wb-eqht section {
		width: 49%;
	}
}

@media (min-width: 1200px) {
	.wb-eqht section {
		width: 33%;
	}
}</code></pre>
		</section>
	</section>
</section>
