---
{
	"title": "Content filter",
	"language": "en",
	"category": "Plugins",
	"description": "Filters through content and show/hide content that match a certain tags.",
	"tag": "filter",
	"parentdir": "contentfilter",
	"altLangPrefix": "contentfilter",
	"dateModified": "2018-08-17"
}
---

<p>Filters through content and show/hide content that match a certain tags.</p>

<aside class="well">
	<h2>Filter User Interface</h2>

	<p>The filter user interface are passive, so it initial state need to match the initial state of the page.</p>

	<h3>Show/Hide content details</h3>

	<ul class="list-unstyled">
		<li><input aria-controls="fiterableContentContainer" type="checkbox" id="test-cd" value="content-details" /> <label for="test-cd">Content Details</label></li>
	</ul>

	<p class="text-muted">Not checked by default, and the associate block of content is tagged by default with the CSS <code>wb-fltr-out</code></p>

	<h3>Table of content</h3>

	<ul class="list-unstyled">
		<li><input aria-controls="fiterableContentContainer" type="checkbox" id="test-chkFilter2" value="sintro" checked /> <label for="test-chkFilter2">Standard intro</label></li>
		<li><input aria-controls="fiterableContentContainer" type="checkbox" id="test-chkFilter3" value="guidelines" checked /> <label for="test-chkFilter3">Guidlines</label></li>
		<li><input aria-controls="fiterableContentContainer" type="checkbox" id="test-chkFilter4" value="related" checked /> <label for="test-chkFilter4">Related guidelines</label></li>
		<li><input aria-controls="fiterableContentContainer" type="checkbox" id="test-chkFilter" value="guideline" checked /> <label for="test-chkFilter">6.1 Leverage open standards and embrace leading practices[...]</label></li>
	</ul>

	<h3>Sub section filtering for section 6.1</h3>

	<ul class="list-unstyled">
		<li><input aria-controls="fiterableContentContainer" type="checkbox" id="test-8" value="intro" checked /> <label for="test-8">introduction</label></li>
		<li><input aria-controls="fiterableContentContainer" type="checkbox" id="test-3" value="checklist" checked /> <label for="test-3">checklist</label> <span class="text-muted">(The section heading remain visible because they are marked at such)</span></li>
		<li><input aria-controls="fiterableContentContainer" type="checkbox" id="test-4" value="guides" checked /> <label for="test-4">guides</label></li>
		<li><input aria-controls="fiterableContentContainer" type="checkbox" id="test-5" value="solutions" checked /> <label for="test-5">solutions</label></li>
		<li><input aria-controls="fiterableContentContainer" type="checkbox" id="test-6" value="similar" checked /> <label for="test-6">similar</label></li>
	</ul>

	<p class="text-muted">Check means it is displayed, uncheck means the content are hidden.</p>

	<h3>Exclusive filter</h3>

	<ul class="list-unstyled">
		<li><input aria-controls="fiterableContentContainer" type="checkbox" id="test-7" value="architectural" /> <label for="test-7">Build it rights</label></li>
	</ul>

	<p class="text-muted">The exclusive filter that is toggled is defined by how the tagging is done. An exclusive tag will be prefixed with an asterik <code>*</code>. Exclusive filter will only hide the sibling.</p>
</aside>

<!-- Plugin and container where to apply tag filtering -->
<div id="fiterableContentContainer" class="wb-contentfilter">

<div data-wb5-tags="sintro">
	<p>
	<strong>[TODO: Add/revise introductory text]</strong>
	</p>
</div>

<div data-wb5-tags="guidelines">
	<details open="open">
	<summary><strong>Guidelines</strong></summary>
	<ul class="list-unstyled mrgn-bttm-0">
	<li><a href="#leverage-open-standards-and-embrace-leading-practices-including-use-of-open-source-software-where-appropriate" class="btn btn-md btn-link"><span class="btn-block text-left">6.1 Leverage open standards and embrace leading practices, including use of open source software where appropriate</span></a></li>
	<li><a href="#use-and-reuse-common-proven-government-solutions-approaches-and-platforms" class="btn btn-md btn-link"><span class="btn-block text-left">6.2 Use and reuse common, proven government solutions, approaches, and platforms</span></a></li>
	<li><a href="#design-for-interoperability-allowing-services-to-be-discovered-and-leveraged-by-the-community" class="btn btn-md btn-link"><span class="btn-block text-left">6.3 Design for interoperability, allowing services to be discovered and leveraged by the community</span></a></li>
	<li><a href="#open-up-the-data-transactions-and-business-rules-that-underpin-a-service" class="btn btn-md btn-link"><span class="btn-block text-left">6.4 Open up the data, transactions, and business rules that underpin a service</span></a></li>
	</ul>
	</details>
</div>

<div data-wb5-tags="related">
	<details>
	<summary>Related guidelines</summary>
	<ul data-guidelines="1.3,3.4,5.1,10.3" class="list-unstyled mrgn-bttm-0">
	<li><a href="1-design-with-users.html#understand-the-context-in-which-people-are-interacting-and-design-appropriate-solutions-that-meet-their-needs" class="btn btn-md btn-link"><span class="btn-block text-left">1.3 Understand the context in which people are interacting and design appropriate solutions that meet their needs (1. Design with users (draft))</span></a></li>
	<li><a href="3-collaborate-widely.html#share-and-collaborate-in-the-open-link-to-the-work-of-others-and-provide-resources-that-others-can-reuse" class="btn btn-md btn-link"><span class="btn-block text-left">3.4 Share and collaborate in the open, link to the work of others, and provide resources that others can reuse (3. Collaborate widely (draft))</span></a></li>
	<li><a href="5-work-in-open-by-default.html#make-all-non-sensitive-data-information-and-new-source-code-open-to-the-outside-world-for-sharing-and-reuse-under-an-open-licence" class="btn btn-md btn-link"><span class="btn-block text-left">5.1 Make all non-sensitive data, information and new source code open to the outside world for sharing and reuse under an open licence (5. Work in the open by default (draft))</span></a></li>
	<li><a href="10-be-good-data-stewards.html#ensure-that-data-is-collected-in-a-standard-way-so-that-it-can-easily-be-integrated-and-reused-by-others" class="btn btn-md btn-link"><span class="btn-block text-left">10.3 Ensure that data is collected in a standard way so that it can easily be integrated and reused by others (10. Be good data stewards (draft))</span></a></li>
	</ul>
	</details>
</div>

<section data-wb5-tags="guideline">
	<h2 id="leverage-open-standards-and-embrace-leading-practices-including-use-of-open-source-software-where-appropriate">6.1 Leverage open standards and embrace leading practices, including use of open source software where appropriate</h2>
	<div data-wb5-tags="intro">
		<p>
		<strong>[TODO: Add/revise introductory text]</strong>
		</p>
		<details class="wb-fltr-out" data-wb5-tags="content-details">
			<summary>Content details</summary>
			<ul>
			<li><strong>Digital&#160;Standard:</strong> <a href="/digital-playbook-guide-numerique/en/6-use-open-standards-solutions.html">6. Use open standards and solutions (draft)</a></li>
			<li><strong>Guideline:</strong> <a href="/digital-playbook-guide-numerique/en/6-use-open-standards-solutions.html#leverage-open-standards-and-embrace-leading-practices-including-use-of-open-source-software-where-appropriate">6.1 Leverage open standards and embrace leading practices, including use of open source software where appropriate</a></li>
			<li><strong>Tags:</strong> <code></code></li>
			</ul>
		</details>
		<p>
		Build technology that uses open standards to ensure your system works and communicates with other products or systems, and can easily be upgraded and expanded.
		</p>
		<details class="wb-fltr-out" data-wb5-tags="content-details">
			<summary>Content details</summary>
			<ul>
			<li><strong>Digital&#160;Standard:</strong> <a href="/digital-playbook-guide-numerique/en/6-use-open-standards-solutions.html">6. Use open standards and solutions (draft)</a></li>
			<li><strong>Guideline:</strong> <a href="/digital-playbook-guide-numerique/en/6-use-open-standards-solutions.html#leverage-open-standards-and-embrace-leading-practices-including-use-of-open-source-software-where-appropriate">6.1 Leverage open standards and embrace leading practices, including use of open source software where appropriate</a></li>
			<li><strong>Tags:</strong> <code></code></li>
			</ul>
		</details>
		<p>
		Adopting and using open standards means you can:
		</p>
		<details class="wb-fltr-out" data-wb5-tags="content-details">
			<summary>Content details</summary>
			<ul>
			<li><strong>Digital&#160;Standard:</strong> <a href="/digital-playbook-guide-numerique/en/6-use-open-standards-solutions.html">6. Use open standards and solutions (draft)</a></li>
			<li><strong>Guideline:</strong> <a href="/digital-playbook-guide-numerique/en/6-use-open-standards-solutions.html#leverage-open-standards-and-embrace-leading-practices-including-use-of-open-source-software-where-appropriate">6.1 Leverage open standards and embrace leading practices, including use of open source software where appropriate</a></li>
			<li><strong>Tags:</strong> <code></code></li>
			</ul>
		</details>
		<ul class="lst-spcd">
		<li>
		move between different technologies when you need to, avoiding vendor lock-in
		<details class="wb-fltr-out" data-wb5-tags="content-details">
			<summary>Content details</summary>
			<ul>
			<li><strong>Digital&#160;Standard:</strong> <a href="/digital-playbook-guide-numerique/en/6-use-open-standards-solutions.html">6. Use open standards and solutions (draft)</a></li>
			<li><strong>Guideline:</strong> <a href="/digital-playbook-guide-numerique/en/6-use-open-standards-solutions.html#leverage-open-standards-and-embrace-leading-practices-including-use-of-open-source-software-where-appropriate">6.1 Leverage open standards and embrace leading practices, including use of open source software where appropriate</a></li>
			<li><strong>Tags:</strong> <code></code></li>
			</ul>
		</details>
		</li>
		<li>
		quickly and easily change your service when you need to
		<details class="wb-fltr-out" data-wb5-tags="content-details">
			<summary>Content details</summary>
			<ul>
			<li><strong>Digital&#160;Standard:</strong> <a href="/digital-playbook-guide-numerique/en/6-use-open-standards-solutions.html">6. Use open standards and solutions (draft)</a></li>
			<li><strong>Guideline:</strong> <a href="/digital-playbook-guide-numerique/en/6-use-open-standards-solutions.html#leverage-open-standards-and-embrace-leading-practices-including-use-of-open-source-software-where-appropriate">6.1 Leverage open standards and embrace leading practices, including use of open source software where appropriate</a></li>
			<li><strong>Tags:</strong> <code></code></li>
			</ul>
			</details>
		</li>
		<li>
		increase compatibility with all stakeholders
		</li>
		<li>
		open up the range of companies you can purchase from as more of them are likely to use the same standard as you
		</li>
		<li>
		access a wider range of both open source and proprietary software vendors
		</li>
		</ul>
		<p>
		Our choices for hosting infrastructure, databases, software frameworks, programming languages and the rest of the technology stack should seek to avoid vendor lock-in and match what successful modern consumer and enterprise software companies would choose today. In particular, digital services teams should consider using open source software, cloud-based, and commodity solutions across the technology stack, because of their widespread adoption and support by successful consumer and enterprise technology companies in the private sector.
		</p>
		<p>
		Open source software (OSS) tends to use and help define open standards and publicly available specifications. OSS products are, by their nature, publicly available specifications, and the availability of their source code promotes open, democratic debate around their specifications, making them both more robust and interoperable.
		</p>
		<p>
		Using open source software means you can benefit from:
		</p>
		<ul class="lst-spcd">
		<li>
		solving common problems with readily available open source technology
		</li>
		<li>
		more time and resource for customised solutions to solve the rare or unique problems
		</li>
		<li>
		lower implementation and running costs
		</li>
		</ul>
		<p>
		There are many potential benefits from the greater use of digital services, including greater convenience for users, quicker and more responsive service delivery, increased security and reliability and reduced costs. To maximize these potential benefits and avoid user reliance on less convenient ways of interacting with government, services should be designed to be digital from end-to-end.
		</p>
	</div>
	<section data-wb5-tags="checklist">
		<h3 class="wb-fltr-fade"><span class="wb-fltr-fade glyphicon glyphicon-check text-success" aria-hidden="true"></span>
		Checklist</h3>
		<p>
		<strong>[TODO: Add/revise checklist items]</strong>
		</p>
		<details class="wb-fltr-out" data-wb5-tags="content-details">
			<summary>Content details</summary>
			<ul>
			<li><strong>Digital&#160;Standard:</strong> <a href="/digital-playbook-guide-numerique/en/6-use-open-standards-solutions.html">6. Use open standards and solutions (draft)</a></li>
			<li><strong>Guideline:</strong> <a href="/digital-playbook-guide-numerique/en/6-use-open-standards-solutions.html#leverage-open-standards-and-embrace-leading-practices-including-use-of-open-source-software-where-appropriate">6.1 Leverage open standards and embrace leading practices, including use of open source software where appropriate</a></li>
			<li><strong>Tags:</strong> <code></code></li>
			</ul>
		</details>
		<ul class="lst-spcd">
		<li>
		Use open standards and open source software at every layer of the technology stack
		</li>
		<li>
		Factor in the use of open Standards and open source software when calculating total cost of ownership of a solutions including exit or transition costs
		</li>
		<li>
		Avoiding lock-in to any proprietary solutions where open source software and/or open standards are available
		</li>
		<li>
		Ensure that software can be deployed on a variety of commodity hardware types
		</li>
		<li data-wb5-tags="*architectural">
		Use open source standards, solutions, components, and leading practices.
		</li>
		<li data-wb5-tags="*architectural">
		Enforce this order of preference: open source first, then platform-agnostic COTS, then proprietary COTS, and lastly custom-built.
		</li>
		<li data-wb5-tags="*architectural">
		Design for resiliency.
		</li>
		<li data-wb5-tags="*architectural">
		Ensure response times meet user needs, and critical services are highly available.
		</li>
		<li data-wb5-tags="*architectural">
		Support zero-downtime deployments for planned and unplanned maintenance.
		</li>
		<li data-wb5-tags="*architectural">
		Use distributed architectures, assume failure will happen, handle errors gracefully, and monitor actively.
		</li>
		<li>
		Design, build and test end-to-end digital services
		</li>
		<li>
		ensure prototypes incorporate the end-to-end user experience <strong>(4. Design the service from start to finish, Digital Service Standard (Ontario))</strong>
		</li>
		<li>
		design and test your service to work with the devices and browsers your users use - find out the browsers you must test with <strong>(Digital Service Standard (UK))</strong>
		</li>
		<li>
		test the service in an environment that is as similar to the live environment as possible <strong>(Digital Service Standard (Ontario))</strong>
		</li>
		<li>
		have a process for testing changes made to the service <strong>(Digital Service Standard (Ontario))</strong>
		</li>
		<li>
		have a process for monitoring and testing the service frequently even when changes are not being made <strong>(Digital Service Standard (Ontario))</strong>
		</li>
		<li>
		Create automated tests that verify all user-facing functionality <strong>(Digital Services Playbook (US))</strong>
		</li>
		<li>
		Create unit and integration tests to verify modules and components <strong>(Digital Services Playbook (US))</strong>
		</li>
		<li>
		Run tests automatically as part of the build process <strong>(Digital Services Playbook (US))</strong>
		</li>
		<li>
		Perform deployments automatically with deployment scripts, continuous delivery services, or similar techniques <strong>(Digital Services Playbook (US))</strong>
		</li>
		<li>
		Conduct load and performance tests at regular intervals, including before public launch <strong>(Digital Services Playbook (US))</strong>
		</li>
		<li>
		Determine how users would be affected if your service was unavailable for any length of time and how that’s changed since beta <strong>(Digital Service Standard (UK))</strong>
		</li>
		<li>
		Determine the most likely ways the service could go offline and how you plan to stop them <strong>(Digital Service Standard (UK))</strong>
		</li>
		<li>
		Determine your strategy for dealing with outages, including who’s responsible and the decisions they can make <strong>(Digital Service Standard (UK))</strong>
		</li>
		<li data-wb5-tags="automated">
		Before going into production, develop the appropriate processes to ensure that training data is tested for unintended biases and other factors that may unfairly impact outcomes.
		<details data-wb5-tags="content-details" class="wb-fltr-out">
			<summary>Content details</summary>
			<ul>
			<li><strong>Digital&#160;Standard:</strong> <a href="/digital-playbook-guide-numerique/en/6-use-open-standards-solutions.html">6. Use open standards and solutions (draft)</a></li>
			<li><strong>Guideline:</strong> <a href="/digital-playbook-guide-numerique/en/6-use-open-standards-solutions.html#leverage-open-standards-and-embrace-leading-practices-including-use-of-open-source-software-where-appropriate">6.1 Leverage open standards and embrace leading practices, including use of open source software where appropriate</a></li>
			<li><strong>Tags:</strong> <code>dpgn-automated-decision-deployment-operation, dpgn-automated-decision</code></li>
			<li><strong>Content source:</strong> <a href="https://docs.google.com/document/d/1LdciG-UYeokx3U7ZzRng3u4T3IHrBXXk9JddjjueQok">Section 6.3.1, Directive on Automated Decision-Making (draft) (GC)</a></li>
			</ul>
		</details>
		</li>
		</ul>
	</section>
	<section data-wb5-tags="guides">
		<h3><span class="glyphicon glyphicon-book text-info" aria-hidden="true"></span>
		Implementation guides</h3>
		<p>
		<strong>[TODO: Add/revise implementation guide items]</strong>
		</p>
		<details data-wb5-tags="content-details" class="wb-fltr-out">
			<summary>Content details</summary>
			<ul>
			<li><strong>Digital&#160;Standard:</strong> <a href="/digital-playbook-guide-numerique/en/6-use-open-standards-solutions.html">6. Use open standards and solutions (draft)</a></li>
			<li><strong>Guideline:</strong> <a href="/digital-playbook-guide-numerique/en/6-use-open-standards-solutions.html#leverage-open-standards-and-embrace-leading-practices-including-use-of-open-source-software-where-appropriate">6.1 Leverage open standards and embrace leading practices, including use of open source software where appropriate</a></li>
			<li><strong>Tags:</strong> <code></code></li>
			</ul>
		</details>
		<ul class="lst-spcd">
		<li>
		<a href="https://references.modernisation.gouv.fr/socle-logiciels-libres">Socle Logiciels Libres (France)</a>
		</li>
		<li>
		<a href="https://www.tresor.gouv.qc.ca/fileadmin/PDF/ressources_informationnelles/logiciels_libres/pollo.pdf">Logiciels libres et ouverts - Guide d’analyse de maturité (Québec)</a>
		</li>
		<li>
		<a href="https://www.tresor.gouv.qc.ca/fileadmin/PDF/ressources_informationnelles/logiciels_libres/ctp.pdf">Logiciels libres et ouverts - Guide d’analyse du coût total de propriété (Québec)</a>
		</li>
		<li data-wb5-tags="*architectural">
		<a href="https://www.gov.uk/service-manual/technology/working-with-open-standards">Working with open standards (Service Manual (UK))</a>
		</li>
		<li data-wb5-tags="*architectural">
		<a href="https://www.gov.uk/service-manual/technology/choosing-technology-an-introduction">Choosing technology: an introduction (Service Manual (UK))</a>
		</li>
		<li>
		<a href="http://finance.gov.au/policy-guides-procurement/">Australian Government ICT Policy Guides and Procurement (AU)</a>
		</li>
		<li>
		<a href="http://www.finance.gov.au/sites/default/files/australian-government-open-source-software-policy-2013.pdf">Australian Government Open Source Software Policy (AU)</a>
		</li>
		<li>
		<a href="http://dodcio.defense.gov/Open-Source-Software-FAQ/">DoD Open Source Software FAQ (US)</a>
		</li>
		<li>
		<a href="http://dodcio.defense.gov/Portals/0/Documents/OSSFAQ/2009OSS.pdf">DoD Memorandum on Guidance Regarding Open Source Software (US)</a>
		</li>
		<li>
		<a href="https://www.w3.org/standards/">W3C Standards (W3C)</a><ul class="lst-spcd">
		<li>
		<a href="https://www.w3.org/standards/webdesign/">Web Design and Applications - W3C Web design standards (W3C)</a>
		</li>
		<li>
		<a href="https://www.w3.org/standards/webofdevices/">Web of Devices (W3C)</a>
		</li>
		</ul>
		</li>
		<li>
		<a href="https://www.oasis-open.org/standards">OASIS Standards (oasis-open.org)</a>
		</li>
		<li>
		<a href="https://www.gov.uk/service-manual/technology/quality-assurance-testing-your-service-regularly">Quality assurance: testing your service regularly (Digital Service Standard (UK))</a>
		</li>
		<li class="dpgn-digital-architectural dpgn-digital-architectural-performance-availability-scalability">
		<a href="https://www.gov.uk/service-manual/technology/designing-for-different-browsers-and-devices">Designing for different browsers and devices (Digital Service Standard (UK))</a>
		</li>
		<li class="dpgn-digital-architectural dpgn-digital-architectural-performance-availability-scalability">
		<a href="https://www.gov.uk/service-manual/technology/test-your-services-performance">Test your service’s performance (Digital Service Standard (UK))</a>
		</li>
		<li>
		<a href="https://www.gov.uk/service-manual/technology/exploratory-testing">Exploratory testing (Digital Service Standard (UK))</a>
		</li>
		<li class="dpgn-digital-architectural dpgn-digital-architectural-performance-availability-scalability">
		<a href="https://www.gov.uk/service-manual/making-software/deployment.html">Deployment environments (Digital Service Standard (UK))</a>
		</li>
		<li>
		<a href="https://www.gov.uk/service-manual/technology/vulnerability-and-penetration-testing">Vulnerability and penetration testing (Digital Service Standard (UK))</a>
		</li>
		<li class="dpgn-digital-architectural dpgn-digital-architectural-performance-availability-scalability">
		<a href="https://www.dta.gov.au/standard/design-guides/performance-testing/">Performance testing (Digital Service Standard (AU))</a>
		</li>
		<li>
		<a href="https://www.gov.uk/service-manual/technology#testing-your-service">Testing your service (Service Manual (UK)</a>
		</li>
		<li>
		<a href="https://testing-cookbook.18f.gov/">Testing Cookbook (18F (US))</a>
		</li>
		<li>
		<a href="https://www.gov.uk/service-manual/technology/uptime-and-availability-keeping-your-service-online">Keeping your service online (Service Manual (UK))</a>
		</li>
		</ul>
	</section>
	<section data-wb5-tags="solutions">
		<h3><span class="glyphicon glyphicon-refresh text-success" aria-hidden="true"></span>
		Reusable solutions</h3>
		<p>
		<strong>[TODO: Add/revise reusable solutions]</strong>
		</p>
	</section>
	<section data-wb5-tags="similar">
		<h3><span class="glyphicon glyphicon-bookmark text-muted" aria-hidden="true"></span>
		Similar resources</h3>
		<ul class="lst-spcd">
		<li>
		<a href="https://github.com/canada-ca/Open_First_Whitepaper/blob/master/en/2_Open_Standards.md">Open Standards (Open First Whitepaper (GC))</a>
		</li>
		<li>
		<a href="https://github.com/canada-ca/Open_First_Whitepaper/blob/master/en/3_Open_Source_Software_Use.md">Open Source Software Use (Open First Whitepaper (GC))</a>
		</li>
		<li>
		<a href="http://ftp.maps.canada.ca/pub/nrcan_rncan/publications/ess_sst/295/295663/cgdi_ip_33_e.pdf">Natural Resources Canada Free and Open Source Software Licensing Primer (GC)</a>
		</li>
		<li>
		<a href="https://www.tresor.gouv.qc.ca/fileadmin/PDF/ressources_informationnelles/logiciels_libres/ll.pdf">Logiciels libres et ouverts - Guide de référence (Québec)</a>
		</li>
		<li>
		<a href="https://github.com/VilledeMontreal/politique-libre/blob/master/Politique/PolitiqueDuLibre.md">Politique du libre (Montréal)</a>
		</li>
		<li>
		<a href="https://playbook.cio.gov/#play8">8. Choose a modern technology stack (Digital Services Playbook (US))</a>
		</li>
		<li>
		<a href="https://github.com/18F/open-source-policy/blob/master/policy.md">18F Open Source Policy (US)</a>
		</li>
		<li>
		<a href="https://www.gov.uk/guidance/be-open-and-use-open-source">3. Be open and use open source (Technology Code of Practice (UK))</a>
		</li>
		<li>
		<a href="https://www.gov.uk/guidance/make-use-of-open-standards">4. Make use of open standards (Technology Code of Practice (UK))</a>
		</li>
		<li>
		<a href="https://www.gov.uk/service-manual/service-standard/use-open-standards-and-common-platforms">9. Use open standards and common platforms (Digital Service Standard (UK))</a>
		</li>
		<li>
		<a href="https://www.ontario.ca/page/digital-service-standard#section-9">9. Use open standards and common platforms (Digital Service Standard (Ontario))</a>
		</li>
		<li>
		<a href="https://www.dta.gov.au/standard/7-open-standards-and-common-platforms/">7. Use open standards and common platforms (Digital Service Standard (AU))</a>
		</li>
		<li data-wb5-tags="*architectural">
		<a href="https://canada-ca.github.io/digital-playbook-guide-numerique/views-vues/gc-earb-ceai/fr/ceai-gc.html#use-open-standards-and-solutions-by-default">1. Use Open Standards and Solutions by Default (Digital Architectural Standards (GC))</a>
		</li>
		<li data-wb5-tags="*architectural">
		<a href="https://canada-ca.github.io/digital-playbook-guide-numerique/views-vues/gc-earb-ceai/en/gc-earb.html#design-for-performance-availability-and-scalability">5. Design for Performance, Availability, and Scalability (Digital Architectural Standards (GC))</a>
		</li>
		<li>
		<a href="https://www.gov.uk/service-manual/service-standard/test-the-end-to-end-service">10. Test the end-to-end service (Digital Service Standard (UK))</a>
		</li>
		<li>
		<a href="https://www.ontario.ca/page/digital-service-standard#section-4">4. Design the service from start to finish (Digital Service Standard (Ontario))</a>
		</li>
		<li>
		<a href="https://www.ontario.ca/page/digital-service-standard#section-6">6. Test the end-to-end service (Digital Service Standard (Ontario))</a>
		</li>
		<li>
		<a href="https://playbook.cio.gov/#play10">10. Automate testing and deployments (Digital Services Playbook (US))</a>
		</li>
		<li>
		<a href="https://www.dta.gov.au/standard/10-test-the-service/">10. Test the service (Digital Service Standard (AU))</a>
		</li>
		<li>
		<a href="https://www.gov.uk/service-manual/service-standard/make-a-plan-for-being-offline">11. Make a plan for being offline (Digital Service Standard (UK))</a>
		</li>
		</ul>
	</section>
</section>






<section  data-wb5-tags="guideline">
	<h2 id="use-and-reuse-common-proven-government-solutions-approaches-and-platforms">6.2 Use and reuse common, proven government solutions, approaches, and platforms</h2>
	<div data-wb5-tags="intro">
		<p>
		<strong>[TODO: Add/revise introductory text]</strong>
		</p>
		<p>
		In order to limit costs, avoid duplication of effort and provide a consistent client experience when using various services, the reuse and adaptation of existing technological solutions is encouraged. If the development of new solutions is required, consider the ability of others to reuse and adapt your work as this will provide additional value on an organizational level.
		</p>
		<p>
		Using common, proven government solutions, approaches, and platforms will help the government:
		</p>
		<ul class="lst-spcd">
		<li>
		meet the needs of your users by building with proven solutions
		</li>
		<li>
		make users’ experience of government more consistent, which generates trust
		</li>
		<li>
		save time and money by reusing things that are already available
		</li>
		</ul>
	</div>
	<section data-wb5-tags="checklist">
		<h3 class="wb-fltr-fade"><span class="wb-fltr-fade glyphicon glyphicon-check text-success" aria-hidden="true"></span>
		Checklist</h3>
		<p>
		<strong>[TODO: Add/revise checklist items]</strong>
		</p>
		<ul class="lst-spcd">
		<li>
		Use device-agnostic and modular technology. <strong>(2. Reuse, improve and share technological solutions where appropriate (Do - Digital Design Playbook (ISED)))</strong><ul class="lst-spcd">
		<li>
		Use technology that allows your service to function regardless of the device or operating system. Make sure mobile apps can function on all devices.
		</li>
		<li>
		Modular technology can be reused, in part or in whole to innovate new solutions and uses for it. It also allows you to add new capabilities and capacities to your technology in response to changing operational environments.
		</li>
		</ul>
		</li>
		<li>
		Follow the <a href="https://www.tbs-sct.gc.ca/hgw-cgf/oversight-surveillance/communications/csc-grc-eng.asp">Canada.ca Content Style Guide</a>
		</li>
		<li>
		Static assets are served through a content delivery network <strong>(Digital Services Playbook (US))</strong>
		</li>
		<li data-wb5-tags="*architectural">
		Leverage and reuse existing solutions, components, and processes.
		</li>
		<li data-wb5-tags="*architectural">
		Select enterprise and cluster solutions over department-specific solutions.
		</li>
		<li data-wb5-tags="*architectural">
		Achieve simplification by minimizing duplication of components and adhering to relevant standards.
		</li>
		<li data-wb5-tags="*architectural">
		Inform the GC EARB about departmental investments and innovations.
		</li>
		<li data-wb5-tags="*architectural">
		Run applications in containers.
		</li>
		<li data-wb5-tags="*architectural">
		Leverage enterprise digital exchange components such as the GC Service Bus, Digital Exchange Platform, and the API Store, based on fit-for-use.
		</li>
		</ul>
		<section>
		<h5 id="cloud-services">Cloud services</h5>
		<ul class="lst-spcd">
		<li data-wb5-tags="*architectural">
		Enforce this order of preference: Software as a Service (SaaS) first, then Platform as a Service (PaaS), and lastly Infrastructure as a Service (IaaS).
		</li>
		<li data-wb5-tags="*architectural">
		Enforce this order of preference: Public cloud first, then Hybrid cloud, then Private cloud, and lastly non-cloud (on-premises) solutions.
		</li>
		<li data-wb5-tags="*architectural">
		Design for cloud mobility and develop an exit strategy to avoid vendor lock-in.
		</li>
		<li>
		Cloud services are identified and evaluated as the principal delivery option when initiating IT investments, initiatives, strategies and projects.
		</li>
		<li>
		In considering how to manage security risks, departments and agencies must follow the <a href="https://www.canada.ca/en/treasury-board-secretariat/services/information-technology/cloud-computing/cloud-security-risk-management-approach-procedures.html">GC Cloud Security Risk Management Approach and Procedures</a> and the <a href="https://www.canada.ca/en/treasury-board-secretariat/services/access-information-privacy/security-identity-management/direction-secure-use-commercial-cloud-services-spin.html">Direction on the Secure Use of Commercial Cloud Services: Security Policy Implementation Notice (SPIN)</a>.
		</li>
		<li>
		Departments and agencies may deploy solutions that have data-categorization requirements that fall outside of a particular cloud security control profile, as described in the <a href="https://www.canada.ca/en/treasury-board-secretariat/services/information-technology/cloud-computing/government-canada-security-control-profile-cloud-based-it-services.html">Government of Canada Security Control Profile for Cloud-Based GC IT Services</a>, with appropriate risk-mitigation measures that have been developed in consultation with GC security partners.
		</li>
		<li>
		To ensure, to the greatest extent possible, the GC’s continuous access to sensitive data, departments and agencies must comply with the <a href="https://www.canada.ca/en/treasury-board-secretariat/services/information-technology/policy-implementation-notices/direction-electronic-data-residency.html">Direction for Electronic Data Residency</a>.
		</li>
		<li>
		To ensure business continuity and to manage risks, departments and agencies will develop an appropriate exit strategy before using cloud services.
		</li>
		<li>
		Departments and agencies should consider portability and interoperability of services when designing cloud-based solutions.
		</li>
		</ul>
		</section>
	</section>
	<section data-wb5-tags="guides">
		<h3><span class="glyphicon glyphicon-book text-info" aria-hidden="true"></span>
		Implementation guides</h3>
		<p>
		<strong>[TODO: Add/revise implementation guide items]</strong>
		</p>
		<ul class="lst-spcd">
		<li data-wb5-tags="*architectural">
		<a href="https://www.canada.ca/en/treasury-board-secretariat/services/government-communications/canada-content-information-architecture-specification.html">Canada.ca Content and Information Architecture Specification</a>
		</li>
		<li data-wb5-tags="*architectural">
		<a href="https://www.canada.ca/en/treasury-board-secretariat/services/government-communications/canada-content-style-guide.html">Canada.ca Content Style Guide</a>
		</li>
		</ul>
		<section>
		<h5 id="cloud-services-1">Cloud services</h5>
		<ul class="lst-spcd">
		<li data-wb5-tags="*architectural">
		<a href="https://www.canada.ca/en/treasury-board-secretariat/services/information-technology/cloud-computing/government-canada-right-cloud-selection-guidance.html">Government of Canada Right Cloud Selection Guidance</a>
		</li>
		<li data-wb5-tags="*architectural">
		<a href="https://www.canada.ca/en/treasury-board-secretariat/services/information-technology/cloud-computing/government-canada-security-control-profile-cloud-based-it-services.html">Government of Canada Security Control Profile for Cloud-Based GC IT Services</a>
		</li>
		<li data-wb5-tags="*architectural">
		<a href="https://www.canada.ca/en/treasury-board-secretariat/services/information-technology/cloud-computing/government-canada-cloud-adoption-strategy.html">Government of Canada Cloud Adoption Strategy</a>
		</li>
		<li data-wb5-tags="*architectural">
		<a href="https://www.canada.ca/en/treasury-board-secretariat/services/information-technology/cloud-computing/gc-white-paper-data-sovereignty-public-cloud.html">Government of Canada White Paper: Data Sovereignty and Public Cloud</a>
		</li>
		<li data-wb5-tags="*architectural">
		<a href="https://www.canada.ca/en/treasury-board-secretariat/services/information-technology/cloud-computing/cloud-security-risk-management-approach-procedures.html">Government of Canada Cloud Security Risk Management Approach and Procedures</a>
		</li>
		<li data-wb5-tags="*architectural">
		<a href="https://www.canada.ca/en/treasury-board-secretariat/services/access-information-privacy/security-identity-management/direction-secure-use-commercial-cloud-services-spin.html">Direction on the Secure Use of Commercial Cloud Services: Security Policy Implementation Notice (SPIN)</a>
		</li>
		<li data-wb5-tags="*architectural">
		<a href="https://www.canada.ca/en/treasury-board-secretariat/services/information-technology/policy-implementation-notices/direction-electronic-data-residency.html">Direction for Electronic Data Residency</a>
		</li>
		</ul>
		</section>
	</section>
	<section data-wb5-tags="solutions">
		<h3><span class="glyphicon glyphicon-refresh text-success" aria-hidden="true"></span>
		Reusable solutions</h3>
		<p>
		<strong>[TODO: Add/revise reusable solutions]</strong>
		</p>
		<ul class="lst-spcd">
		<li data-wb5-tags="*architectural">
		<a href="http://wet-boew.github.io/wet-boew/index-en.html">Web Experience Toolkit (WET)</a>
		</li>
		</ul>
	</section>
	<section data-wb5-tags="similar">
		<h3><span class="glyphicon glyphicon-bookmark text-muted" aria-hidden="true"></span>
		Similar resources</h3>
		<ul class="lst-spcd">
		<li>
		<a href="https://sourcecode.cio.gov/Three-Step-Software-Solutions-Analysis/">Three-Step Software Solutions Analysis (Federal Source Code Policy (US))</a>
		</li>
		<li>
		<a href="http://www.gcpedia.gc.ca/wiki/DDPlayBook_Plan#1._Comply_with_Government_of_Canada_acts.2C_policies.2C_standards_and_directives">1. Comply with Government of Canada acts, policies, standards and directives (Plan - Digital Design Playbook (ISED)) (internal to GC only)</a>
		</li>
		<li>
		<a href="http://www.gcpedia.gc.ca/wiki/DDPlayBook_Do#2._Reuse.2C_improve_and_share_technological_solutions_where_appropriate">2. Reuse, improve and share technological solutions where appropriate (Do - Digital Design Playbook (ISED)) (internal to GC only)</a>
		</li>
		<li data-wb5-tags="*architectural">
		<a href="https://canada-ca.github.io/digital-playbook-guide-numerique/views-vues/gc-earb-ceai/en/gc-earb.html#maximize-reuse">2. Maximize Reuse (Digital Architectural Standards (GC))</a>
		</li>
		<li data-wb5-tags="*architectural">
		<a href="https://canada-ca.github.io/digital-playbook-guide-numerique/views-vues/gc-earb-ceai/en/gc-earb.html#enable-interoperability">6. Enable Interoperability (Digital Architectural Standards (GC))</a>
		</li>
		<li data-wb5-tags="*architectural">
		<a href="https://canada-ca.github.io/digital-playbook-guide-numerique/views-vues/gc-earb-ceai/en/gc-earb.html#use-cloud-first">9. Use Cloud First (Digital Architectural Standards Principles (GC))</a>
		</li>
		<li>
		<a href="https://playbook.cio.gov/#play9">9. Deploy in a flexible hosting environment (Digital Services Playbook (US))</a>
		</li>
		</ul>
	</section>
</section>








<section data-wb5-tags="guideline" class="dpgn-section-guideline">
	<h2 id="design-for-interoperability-allowing-services-to-be-discovered-and-leveraged-by-the-community">6.3 Design for interoperability, allowing services to be discovered and leveraged by the community</h2>
	<div data-wb5-tags="intro" class="dpgn-section-intro-guideline">
		<p>
		<strong>[TODO: Add/revise introductory text]</strong>
		</p>
		<p>
		Interoperability is a characteristic of a product or system, whose interfaces are completely understood, to work with other products or systems, present or future, in either implementation or access, without any restrictions. Interoperability should be ensured, via the use of open standards.
		</p>
		<p>
		Application Program Interfaces (APIs) are a means by which business functionality is exposed digitally. They are building blocks that are critical to the successful delivery of government online digital services and expanding service delivery to third party providers. They can also enable greater interoperability between services, optimized experiences across devices and can even lead to innovative new services by enabling third party products to work seamlessly with Government of Canada systems.
		</p>
	</div>
	<section data-wb5-tags="checklist" class="dpgn-section-checklist">
		<h3 class="wb-fltr-fade"><span class="glyphicon glyphicon-check text-success" aria-hidden="true"></span>
		Checklist</h3>
		<p>
		<strong>[TODO: Add/revise checklist items]</strong>
		</p>
		<ul class="lst-spcd">
		<li data-wb5-tags="*architectural" class="dpgn-digital-architectural-enable-interoperability-1 dpgn-digital-architectural">
		Expose all functionality as services.
		</li>
		<li data-wb5-tags="*architectural" class="dpgn-digital-architectural-enable-interoperability-2 dpgn-digital-architectural">
		Use microservices built around business capabilities. Scope each service to a single purpose.
		</li>
		<li data-wb5-tags="*architectural" class="dpgn-digital-architectural-enable-interoperability-3 dpgn-digital-architectural">
		Run each service in its own process and have it communicate with other services through a well-defined interface, such as an HTTPS-based application programming interface (API).
		</li>
		<li>
		Build services that are API-centric services, which execute most, if not all, functionality through API calls (e.g., connecting frontend to backend through an API)
		</li>
		<li>
		Plan out API access from the beginning, designing services to be able to safely and securely expose functionality to other systems and the public.
		</li>
		<li>
		Design APIs to be compete but also minimal, ensuring the expected functionality is provided but with as few public members per class and as few classes as possible. This makes it easier to understand, remember, debug and change the API.
		</li>
		<li>
		Design APIs to have clear and simple semantics to make common tasks easy. Rare tasks should still be possible but not the focus. Avoid being overly general, optimizing specific use cases.
		</li>
		<li>
		Design APIs to be intuitive so that a semi-experienced user can be successful with minimal assistance from the documentation and programmers can easily understand code that uses the API.
		</li>
		<li>
		Design APIs to be easy to memorize by implementing a consistent and precise naming convention. Use plain language and recognizable patterns and concepts, avoiding abbreviations where possible.
		</li>
		</ul>
	</section>
	<section data-wb5-tags="guides" class="dpgn-section-guides">
		<h3><span class="glyphicon glyphicon-book text-info" aria-hidden="true"></span>
		Implementation guides</h3>
		<p>
		<strong>[TODO: Add/revise implementation guide items]</strong>
		</p>
		<ul class="lst-spcd">
		<li data-wb5-tags="*architectural" class="dpgn-digital-architectural dpgn-digital-architectural-open-standards-solutions dpgn-digital-architectural-enable-interoperability">
		<a href="https://www.gov.uk/guidance/gds-api-technical-and-data-standards">API technical and data standards (Government Digital Service (UK))</a>
		</li>
		<li data-wb5-tags="*architectural" class="dpgn-digital-architectural dpgn-digital-architectural-enable-interoperability">
		<a href="https://gdstechnology.blog.gov.uk/2018/02/13/developing-cross-government-api-data-and-technical-standards/">Developing cross-government API data and technical standards (Government Digital Service blog (UK))</a>
		</li>
		<li data-wb5-tags="*architectural" class="dpgn-digital-architectural dpgn-digital-architectural-open-standards-solutions dpgn-architectural-enable-interoperability">
		<a href="https://www.dta.gov.au/standard/design-guides/api/">Application Programming Interfaces (APIs) (Digital Service Standard (AU))</a>
		</li>
		</ul>
	</section>
	<section data-wb5-tags="solutions" class="dpgn-section-solutions">
		<h3><span class="glyphicon glyphicon-refresh text-success" aria-hidden="true"></span>
		Reusable solutions</h3>
		<p>
		<strong>[TODO: Add/revise reusable solutions]</strong>
		</p>
	</section>
	<section data-wb5-tags="similar" class="dpgn-section-similar">
		<h3><span class="glyphicon glyphicon-bookmark text-muted" aria-hidden="true"></span>
		Similar resources</h3>
		<ul class="lst-spcd">
		<li class="dpgn-digital-architectural dpgn-digital-architectural-enable-interoperability">
		<a href="https://canada-ca.github.io/digital-playbook-guide-numerique/views-vues/gc-earb-ceai/en/gc-earb.html#enable-interoperability">6. Enable Interoperability (Digital Architectural Standards (GC))</a>
		</li>
		</ul>
	</section>
</section>




<section data-wb5-tags="guideline" class="dpgn-section-guideline">
	<h2 id="open-up-the-data-transactions-and-business-rules-that-underpin-a-service">6.4 Open up the data, transactions, and business rules that underpin a service</h2>
	<div data-wb5-tags="intro" class="dpgn-section-intro-guideline">
		<p>
		<strong>[TODO: Add/revise introductory text]</strong>
		</p>
	</div>
	<section data-wb5-tags="checklist" class="dpgn-section-checklist">
		<h3 class="wb-fltr-fade"><span class="glyphicon glyphicon-check text-success" aria-hidden="true"></span>
		Checklist</h3>
		<p>
		<strong>[TODO: Add/revise checklist items]</strong>
		</p>
	</section>
	<section data-wb5-tags="guides" class="dpgn-section-guides">
		<h3><span class="glyphicon glyphicon-book text-info" aria-hidden="true"></span>
		Implementation guides</h3>
		<p>
		<strong>[TODO: Add/revise implementation guide items]</strong>
		</p>
		<ul class="lst-spcd">
		<li>
		<a href="https://www.dta.gov.au/standard/design-guides/open-data/">Open data (Digital Service Standard (AU))</a>
		</li>
		<li>
		<a href="https://www.gov.uk/guidance/gds-api-technical-and-data-standards">API technical and data standards (Government Digital Service (UK))</a>
		</li>
		<li>
		<a href="https://gdstechnology.blog.gov.uk/2018/02/13/developing-cross-government-api-data-and-technical-standards/">Developing cross-government API data and technical standards (Government Digital Service blog (UK))</a>
		</li>
		<li>
		<a href="https://www.dta.gov.au/standard/design-guides/api/">Application Programming Interfaces (APIs) (Digital Service Standard (AU))</a>
		</li>
		</ul>
	</section>
	<section data-wb5-tags="solutions" class="dpgn-section-solutions">
		<h3><span class="glyphicon glyphicon-refresh text-success" aria-hidden="true"></span>
		Reusable solutions</h3>
		<p>
		<strong>[TODO: Add/revise reusable solutions]</strong>
		</p>
	</section>
</section>


</div><!-- End of the filter container -->