---
{
"title": "Basic HTML",
"language": "en",
"category": "Plugins",
"description": "Enable Basic HTML Mode",
"tag": "disable",
"parentdir": "wb-disable",
"altLangPrefix": "wb-disable",
"dateModified": "2023-07-11"
}
---

<div class="wb-prettify all-pre"></div>

<h2 id="basicMode">Basic HTML mode</h2>
<p>Click on the link below to enable Basic HTML Mode</p>
<p><a href="?wbdisable=true">Switch to Basic HTML Mode</a></p>
<p><a href="?wbdisable=false">Switch to regular page</a></p>

<h3>Code</h3>
<pre><code>&lt;p&gt;Click on the link below to enable Basic HTML Mode&lt;/p&gt;
&lt;p>&lt;a href="?wbdisable=true">Switch to Basic HTML Mode&lt;/a>&lt;/p>
&lt;p>&lt;a href="?wbdisable=false">Switch to regular page&lt;/a>&lt;/p></code></pre>
