---
{
"title": "HTML simplifié",
"language": "fr",
"category": "Plugiciels",
"description": "Passer à la version HTML simplifiée",
"tag": "disable",
"parentdir": "wb-disable",
"altLangPrefix": "wb-disable",
"dateModified": "2023-07-11"
}
---

<div class="wb-prettify all-pre"></div>

<h2 id="basicMode">Mode HTML simplifié</h2>
<p>Cliquez sur le lien ci-dessous pour activer le mode HTML simplifié</p>
<p><a href="?wbdisable=true">Basculer vers le mode HTML simplifié</a></p>
<p><a href="?wbdisable=false">Basculer vers la page régulière</a></p>

<h3>Code</h3>
<pre><code>&lt;p>Cliquez sur le lien ci-dessous pour activer le mode HTML simplifié&lt;/p>
&lt;p>&lt;a href="?wbdisable=true">Basculer vers le mode HTML simplifié&lt;/a>&lt;/p>
&lt;p>&lt;a href="?wbdisable=false">Basculer vers la page régulière&lt;/a>&lt;/p></code></pre>
