---
{
"title": "Cas particuliers de filtre de balise",
"language": "fr",
"description": "Liste de cas particuliers de filtre de balise",
"tag": "filter",
"parentdir": "tagfilter",
"altLangPrefix": "tagfilter-edge-cases",
"dateModified": "2023-07-10"
}
---

<span class="wb-prettify all-pre"></span>

<h2>Sur cette page:</h2>
<ul>
	<li><a href="#filteredEventsList">Exemple 1 - liste d'événements avec pagination et data-json</a></li>
</ul>

<section id="filteredEventsList" class="wb-tagfilter wb-paginate provisional" data-wb-paginate='{
	"itemsPerPage": 5,
	"section": ".events-list",
	"selector": "li",
	"uiTarget": "#filteredEventsListPagination"
}'>
	<h2>Exemple 1 - Liste d'événements</h2>
	<div class="row">
		<div class="col-xs-12 col-sm-4 col-lg-3">
			<details open>
				<summary>
					<h3>Options de filtre</h3>
				</summary>
				<div class="form-group mrgn-bttm-0">
					<fieldset>
						<legend class="h5 mrgn-tp-0"><span class="field-name">Langue</span></legend>
						<ul class="list-unstyled">
							<li class="radio">
								<label>
									<input type="radio" name="langue" class="wb-tagfilter-ctrl" value="" checked> Toutes
								</label>
							</li>
							<li class="radio">
								<label>
									<input type="radio" name="langue" class="wb-tagfilter-ctrl" value="language__french"> Français
								</label>
							</li>
							<li class="radio">
								<label>
									<input type="radio" name="langue" class="wb-tagfilter-ctrl" value="language__english"> Anglais
								</label>
							</li>
						</ul>
					</fieldset>
				</div>
				<div class="form-group mrgn-bttm-0">
					<fieldset>
						<legend class="h5 mrgn-tp-0"><span class="field-name">Emplacement</span></legend>
						<ul class="list-unstyled">
							<li class="checkbox">
								<label for="location__montreal">
									<input type="checkbox" name="location" id="location__montreal" class="wb-tagfilter-ctrl" value="location__montreal"> Montréal
								</label>
							</li>
							<li class="checkbox">
								<label for="location__online">
									<input type="checkbox" name="location" id="location__online" class="wb-tagfilter-ctrl" value="location__online"> En ligne
								</label>
							</li>
							<li class="checkbox">
								<label for="location__ottawa">
									<input type="checkbox" name="location" id="location__ottawa" class="wb-tagfilter-ctrl" value="location__ottawa"> Ottawa
								</label>
							</li>
							<li class="checkbox">
								<label for="location__toronto">
									<input type="checkbox" name="location" id="location__toronto" class="wb-tagfilter-ctrl" value="location__toronto"> Toronto
								</label>
							</li>
							<li class="checkbox">
								<label for="location__vancouver">
									<input type="checkbox" name="location" id="location__vancouver" class="wb-tagfilter-ctrl" value="location__vancouver"> Vancouver
								</label>
							</li>
						</ul>
					</fieldset>
				</div>
				<div class="form-group mrgn-bttm-0">
					<label for="jourListe">Jour de la semaine</label>
					<select id="jourListe" name="jour" class="form-control full-width wb-tagfilter-ctrl">
						<option value="">Tous</option>
						<option value="dayOTW_monday">Lundi</option>
						<option value="dayOTW_tuesday">Mardi</option>
						<option value="dayOTW_wednesday">Mercredi</option>
						<option value="dayOTW_thursday">Jeudi</option>
						<option value="dayOTW_friday">Vendredi</option>
						<option value="dayOTW_saturday">Samedi</option>
						<option value="dayOTW_sunday">Dimanche</option>
					</select>
				</div>
			</details>
		</div>
		<div class="col-xs-12 col-sm-8 col-lg-9">
			<ul class="list-unstyled events-list wb-tagfilter-items" data-wb-json='{
				"url": "data_fr.json#/events",
				"mapping": [
					{ "selector": "li", "attr": "data-wb-tags", "value": "/tags" },
					{ "selector": "h3", "value": "/title" },
					{ "selector": ".event-date", "value": "/date" },
					{ "selector": ".event-time", "value": "/time" },
					{ "selector": ".event-location", "value": "/location" },
					{ "selector": ".event-language", "value": "/language" }
				]
			}'>
				<template>
					<li data-wb-tags="">
						<h3></h3>
						<p><span class="event-date"></span> | <span class="event-time"></span></p>
						<p><strong>Emplacement:</strong> <span class="event-location"></span>, <strong>Langue</strong>: <span class="event-language"></span></p>
					</li>
				</template>
			</ul>
			<div class="wb-tagfilter-noresult">
				<p>Aucun item ne correspond à cette combinaison de filtres.</p>
			</div>
			<div id="filteredEventsListPagination"></div>
		</div>
	</div>
</section>

<details>
	<summary>Code source</summary>
	<pre><code>&lt;section id="filteredEventsList" class="wb-tagfilter wb-paginate provisional" data-wb-paginate='{
	"itemsPerPage": 5,
	"section": ".events-list",
	"selector": "li",
	"uiTarget": "#filteredEventsListPagination"
}'>
	&lt;h2>Exemple 1 - Liste d'événements&lt;/h2>
	&lt;div class="row">
		&lt;div class="col-xs-12 col-sm-4 col-lg-3">
			&lt;details open>
				&lt;summary>
					&lt;h3>Options de filtre&lt;/h3>
				&lt;/summary>
				&lt;div class="form-group mrgn-bttm-0">
					&lt;fieldset>
						&lt;legend class="h5 mrgn-tp-0">&lt;span class="field-name">Langue&lt;/span>&lt;/legend>
						&lt;ul class="list-unstyled">
							&lt;li class="radio">
								&lt;label>
									&lt;input type="radio" name="langue" class="wb-tagfilter-ctrl" value="" checked> Toutes
								&lt;/label>
							&lt;/li>
							&lt;li class="radio">
								&lt;label>
									&lt;input type="radio" name="langue" class="wb-tagfilter-ctrl" value="language__french"> Français
								&lt;/label>
							&lt;/li>
							&lt;li class="radio">
								&lt;label>
									&lt;input type="radio" name="langue" class="wb-tagfilter-ctrl" value="language__english"> Anglais
								&lt;/label>
							&lt;/li>
						&lt;/ul>
					&lt;/fieldset>
				&lt;/div>
				&lt;div class="form-group mrgn-bttm-0">
					&lt;fieldset>
						&lt;legend class="h5 mrgn-tp-0">&lt;span class="field-name">Emplacement&lt;/span>&lt;/legend>
						&lt;ul class="list-unstyled">
							&lt;li class="checkbox">
								&lt;label for="location__montreal">
									&lt;input type="checkbox" name="location" id="location__montreal" class="wb-tagfilter-ctrl" value="location__montreal"> Montréal
								&lt;/label>
							&lt;/li>
							&lt;li class="checkbox">
								&lt;label for="location__online">
									&lt;input type="checkbox" name="location" id="location__online" class="wb-tagfilter-ctrl" value="location__online"> En ligne
								&lt;/label>
							&lt;/li>
							&lt;li class="checkbox">
								&lt;label for="location__ottawa">
									&lt;input type="checkbox" name="location" id="location__ottawa" class="wb-tagfilter-ctrl" value="location__ottawa"> Ottawa
								&lt;/label>
							&lt;/li>
							&lt;li class="checkbox">
								&lt;label for="location__toronto">
									&lt;input type="checkbox" name="location" id="location__toronto" class="wb-tagfilter-ctrl" value="location__toronto"> Toronto
								&lt;/label>
							&lt;/li>
							&lt;li class="checkbox">
								&lt;label for="location__vancouver">
									&lt;input type="checkbox" name="location" id="location__vancouver" class="wb-tagfilter-ctrl" value="location__vancouver"> Vancouver
								&lt;/label>
							&lt;/li>
						&lt;/ul>
					&lt;/fieldset>
				&lt;/div>
				&lt;div class="form-group mrgn-bttm-0">
					&lt;label for="jourListe">Jour de la semaine&lt;/label>
					&lt;select id="jourListe" name="jour" class="form-control full-width wb-tagfilter-ctrl">
						&lt;option value="">Tous&lt;/option>
						&lt;option value="dayOTW_monday">Lundi&lt;/option>
						&lt;option value="dayOTW_tuesday">Mardi&lt;/option>
						&lt;option value="dayOTW_wednesday">Mercredi&lt;/option>
						&lt;option value="dayOTW_thursday">Jeudi&lt;/option>
						&lt;option value="dayOTW_friday">Vendredi&lt;/option>
						&lt;option value="dayOTW_saturday">Samedi&lt;/option>
						&lt;option value="dayOTW_sunday">Dimanche&lt;/option>
					&lt;/select>
				&lt;/div>
			&lt;/details>
		&lt;/div>
		&lt;div class="col-xs-12 col-sm-8 col-lg-9">
			&lt;ul class="list-unstyled events-list wb-tagfilter-items" data-wb-json='{
				"url": "data_fr.json#/events",
				"mapping": [
					{ "selector": "li", "attr": "data-wb-tags", "value": "/tags" },
					{ "selector": "h3", "value": "/title" },
					{ "selector": ".event-date", "value": "/date" },
					{ "selector": ".event-time", "value": "/time" },
					{ "selector": ".event-location", "value": "/location" },
					{ "selector": ".event-language", "value": "/language" }
				]
			}'>
				&lt;template>
					&lt;li data-wb-tags="">
						&lt;h3>&lt;/h3>
						&lt;p>&lt;span class="event-date">&lt;/span> | &lt;span class="event-time">&lt;/span>&lt;/p>
						&lt;p>&lt;strong>Emplacement:&lt;/strong> &lt;span class="event-location">&lt;/span>, &lt;strong>Langue&lt;/strong>: &lt;span class="event-language">&lt;/span>&lt;/p>
					&lt;/li>
				&lt;/template>
			&lt;/ul>
			&lt;div class="wb-tagfilter-noresult">
				&lt;p>Aucun item ne correspond à cette combinaison de filtres.&lt;/p>
			&lt;/div>
			&lt;div id="filteredEventsListPagination">&lt;/div>
		&lt;/div>
	&lt;/div>
&lt;/section></code></pre>
</details>
