/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt
 */
.no-js {
	.lb-inline, .lb-hidden-gallery a {
		display: block;
		visibility: visible;
	}
	.tabs-panel > div {
		display: block;
	}
	details > * {
		display: block;
	}
}