/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-eng.txt / wet-boew.github.io/wet-boew/Licence-fra.txt
 */
%pe-ap-ns-display-block {
	display: block;
}
.no-js {
	.lb-inline, .lb-hidden-gallery a {
		@extend %pe-ap-ns-display-block;
		visibility: visible;
	}
	.tabs-panel {
		> {
			div {
				@extend %pe-ap-ns-display-block;
			}
		}
	}
	details {
		> {
			* {
				@extend %pe-ap-ns-display-block;
			}
		}
	}
	pre {
		&.prettyprint {
			&.linenums {
				box-shadow: none;
			}
		}
	}
	.wet-boew-webwidget {
		.twitter-timeline {
			text-indent: 0;
		}
	}
}