@charset "utf-8";
/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * www.tbs.gc.ca/ws-nw/wet-boew/terms / www.sct.gc.ca/ws-nw/wet-boew/conditions
 */
div.cal-cnt .cal-header{
	background:#36C;
	color:#FFF;
	font-weight:bold;
}

div.cal-cnt .cal-nextmonth a:link, div.cal-cnt .cal-nextmonth a:visited,  div.cal-cnt .cal-prevmonth a:link, div.cal-cnt .cal-prevmonth a:visited {
	border:1px solid #36C;
}

div.cal-cnt .cal-nextmonth a:hover, div.cal-cnt .cal-nextmonth a:focus,  div.cal-cnt .cal-nextmonth a:active, div.cal-cnt .cal-prevmonth a:hover, div.cal-cnt .cal-prevmonth a:focus,  div.cal-cnt .cal-prevmonth a:active{
	color:#FFF;
	border:1px solid #FFF;
}

div.cal-cnt .cal-goto-link a:link, div.cal-cnt .cal-goto-link a:visited{
	color:#FFF;
}

div.cal-cnt .cal-goto-link a:hover, div.cal-cnt .cal-goto-link a:focus, div.cal-cnt .cal-goto-link a:active{
	color:#36C;
	background-color:#FFF;
}

div.cal-cnt .cal-goto legend{
	color:#FFF;
}

ol.cal-weekdays li{
	border-style:solid;
	border-color:#111;
	font-weight:bolder;
	background:#222;
	color:#FFF;
}

div.cal-days span.cal-empty, div.cal-days ol.cal-day-list li{
	border-style:solid;
	border-color:#AAA;
	background:#FFF;
}

div.cal-days span.cal-we, div.cal-days ol.cal-day-list li.cal-we{
	background:#CCC;
}

div.cal-days a{
	color:#111;
}

div.cal-days a:hover, div.cal-days a:focus, div.cal-days a:active{	/* active is for IE, focus is for Firefox | active est pour IE, focus est pour Firefox */
	background:#600;
	color:#FFF;
}

div.cal-days ol.cal-day-list li.cal-currentday, .cal-currentday a{
	background-color:#333;
}

div.cal-days .cal-currentday, div.cal-days .cal-currentday  a{
	color:#FFF;
}