@charset "utf-8";
/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * www.tbs.gc.ca/ws-nw/wet-boew/terms / www.sct.gc.ca/ws-nw/wet-boew/conditions
 */
.cal-container{
	height:22em;
	width:18em;
	margin-top:0.5em;
}

.cal-container-extended{
	height:28em;
}

div.cal-cnt{
	text-align:left;
}

div.cal-cnt *{
	font-size:100%;
}

div.cal-cnt .cal-header{
	padding:0.5em 4px;
	text-align:center;
	width:91%;
}

div.cal-cnt .cal-month{
	font-size:110%;
}


div.cal-cnt .cal-goto-link{
	margin: 0 0 0.5em 0;
}

div.cal-cnt .cal-goto legend, div.cal-cnt .cal-goto-month, div.cal-cnt .cal-goto-year, div.cal-cnt .cal-goto-button {
	position:relative;
}

div.cal-cnt .cal-goto-month{
	width:60%;
	float:left;
}

div.cal-cnt .cal-goto-year {
	width:39%;
	float:right;
}

div.cal-cnt .cal-goto-button{
	width:49%;
	float:left;
}

div.cal-cnt .cal-goto-button input{
	padding:0.1em 0.2em;
}

div.cal-nextmonth , div.cal-prevmonth {
		margin-bottom:-13px; 
}

div.cal-nextmonth img, div.cal-prevmonth img{
		vertical-align: sub;
}

div.cal-prevmonth {
	text-align:left;
}

div.cal-nextmonth {
	text-align:right;
}

div.cal-days, ol.cal-weekdays{
	margin:0;
}

div.cal-days ol.cal-day-list, div.cal-cnt ol.cal-weekdays{
	list-style-type:none; 
	margin:0;
	padding:0;
}

div.cal-days ol.cal-day-list li,  div.cal-cnt ol.cal-weekdays li{
	margin:0;
}

div.cal-days span.cal-empty, div.cal-days ol.cal-day-list li, ol.cal-weekdays li{
	position:relative;
	float:left;
	border-width:0;
	border-left-width:1px;
	border-bottom-width:1px;
	width:13%;
	text-align: center;
}

ol.cal-weekdays li.cal-wd7, div.cal-days ol.cal-day-list .cal-w1d7, div.cal-days ol.cal-day-list .cal-w2d7, div.cal-days ol.cal-day-list .cal-w3d7, div.cal-days ol.cal-day-list .cal-w4d7, div.cal-days ol.cal-day-list .cal-w5d7, div.cal-days ol.cal-day-list .cal-w6d7, div.cal-days span.cal-empty.cal-w5d7, div.cal-days span.cal-empty.cal-w6d7{
	border-right-width:1px;
	clear:right;
}

div.cal-days a, div.cal-days div{
	height:100%;
	width:100%;
}


span.cal-empty, ol.cal-weekdays li, div.cal-days a, div.cal-days div{
	display:block;
	padding:0.5em 0;
}

div.cal-days .cal-currentday{
	font-weight:bolder;
}
