@charset "utf-8";
/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * www.tbs.gc.ca/ws-nw/wet-boew/terms / www.sct.gc.ca/ws-nw/wet-boew/conditions
 */
div.cal-cnt {
	.cal-header{
		background:#36C;
		color:#FFF;
		font-weight:bold;
	}
	.cal-nextmonth, .cal-prevmonth {
		a {
			&:link, &:visited {
				border:1px solid #36C;
			}
			&:hover, &:focus, &:active{
				color:#FFF;
				border:1px solid #FFF;
			}
		}
	}
	.cal-goto-link {
		a {
			&:link, &:visited{
				color:#FFF;
			}
			&:hover, &:focus, &:active{
				color:#36C;
				background-color:#FFF;
			}
		}
	}
	.cal-goto legend{
		color:#FFF;
	}
}

ol.cal-weekdays li{
	border-style:solid;
	border-color:#111;
	font-weight:bolder;
	background:#222;
	color:#FFF;
}

div.cal-days {
	span.cal-empty, ol.cal-day-list li{
		border-style:solid;
		border-color:#AAA;
		background:#FFF;
	}
	span.cal-we, ol.cal-day-list li.cal-we{
		background:#CCC;
	}
	a{
		color:#111;
		&:hover, &:focus, &:active{
			background:#600;
			color:#FFF;
		}
	}
	.cal-currentday, .cal-currentday a{
		color:#FFF;
	}
}

div.cal-days ol.cal-day-list li.cal-currentday, .cal-currentday a{
	background-color:#333;
}