@charset "utf-8";
/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * www.tbs.gc.ca/ws-nw/wet-boew/terms / www.sct.gc.ca/ws-nw/wet-boew/conditions
 */
.wet-boew-tooltip{
    z-index:21000;
    border:1px solid InfoText;
    background:InfoBackground;
    color:InfoText;
    font:message-box;
    padding:2px 4px;
    text-align:left;
    position:absolute;
    width:auto;
    height:auto
}