@charset "utf-8";
/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * www.tbs.gc.ca/ws-nw/wet-boew/terms / www.sct.gc.ca/ws-nw/wet-boew/conditions
 */

/* details polyfill */

/* <details> and <summary> are block level elements */
details, summary { 
    display: block;
}

/* Add focus styles (for keyboard accessibility) */
summary:hover, summary:focus, summary:active { 
    background: #ddd; 
}

/* The following styles will only get applied if JavaScript is enabled and <details> is not natively supported */

/* Add the close pointer */
details.polyfill > summary:before {
	content: "\25BA\a0";
}

/* Add the open pointer */
details.polyfill.open > summary:before {
	content: "\25BC\a0";
}

/* The following styles are not really needed, since the jQuery script takes care of hiding/displaying the elements. */

/* Make sure summary remains visible */
details summary { 
    display: block; background: transparent
}

/* Apply a pointer cursor upon hover to indicate it’s a clickable element. These styles can be applied regardless of whether the fallback is needed */
summary {
    cursor: pointer;
}