@charset "utf-8";
/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * www.tbs.gc.ca/ws-nw/wet-boew/terms / www.sct.gc.ca/ws-nw/wet-boew/conditions
 */
div.cal-days a.calEvent{
    color:#FFF;
    background:#36C;
}

ul.ev-details{
    position:absolute;
    z-index:5;
    border:1px solid #333;
    padding:0.5em;
    width:10em;
    margin:0;
    margin-top:-0.5em;
    font-weight:normal;
}

ul.ev-details, ul.ev-details a{
    background-color:#FFF;
}

div.cal-days ol.cal-day-list ul.ev-details li{
    border:0;
    width:100%;
    list-style-type:none;   
}

div.cal-days ol.cal-day-list ul.ev-details li a, div.cal-days ol.cal-day-list ul.ev-details li a:link{
    color:#000;
}

div.cal-days ol.cal-day-list ul.ev-details li a:hover, div.cal-days ol.cal-day-list ul.ev-details li a:focus, div.cal-days ol.cal-day-list ul.ev-details li a:active{
    color:#FFF;
}

/* #wb-main {position:relative;z-index:1000;} */