@charset "utf-8";
/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * www.tbs.gc.ca/ws-nw/wet-boew/terms / www.sct.gc.ca/ws-nw/wet-boew/conditions
 */
 
.ie8 {
	/*Print SCSS*/
	@media print {
		.wet-boew-footnotes dl dd {
			display: block;
			& p {
				display: inline-block;
				&.footnote-return {
					display: block;
				}
			}
		}
	}
}