@charset "utf-8";
/*!
 * Accessible Footnotes v1.01 / Notes de bas de page accessibles v1.01
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * www.tbs.gc.ca/ws-nw/wet-boew/terms / www.sct.gc.ca/ws-nw/wet-boew/conditions
 */

/** Screen and print CSS **/
@media screen,print {
	div.footnote-container {display: inline-block; padding-top: 4px;}
	div.footnote-container dl dd {width: 92%;}
	div.footnote-container dl dd p {width: 100%;}
	div.footnote-container dl dd div {width: 100%;}
	div.footnote-container dl dd p.float-left a {position: relative;}
}

/** Print-only CSS **/
@media print {
	div.footnote-container {margin-top: 14px;}
	div.footnote-container dl {display: inline-block;}
	div.footnote-container dl dd {overflow: visible;}
}