@charset "utf-8";
/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt
 */

/*SCSS Variables*/
$clrWhite: #FFF;
$clrLight: #EEE;
$clrDark: #555;

/*Default SCSS*/
.ie7 {
	.wet-boew-footnotes {
		display: inline-block;
		dl {
			dt {
				position:relative;
				float:left;
				margin-bottom:-1px;
			}
			dd.footnote-focus {
				background-color: $clrLight;
				border-color: $clrDark;
				p.footnote-return a {
					color: $clrWhite !important;
					background-color: $clrDark;
					border-color: $clrDark;
					text-shadow: none !important;
				}
			}
		}
	}
}

/*Print SCSS*/
@media print {
	.ie7 {
		.wet-boew-footnotes dl dd {
			overflow: auto;
			&.footnote-focus {
				background-color: transparent;
				p.footnote-return a {
					background-color: transparent;
				}
			}
		}
	}
}