@charset "utf-8";
/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * www.tbs.gc.ca/ws-nw/wet-boew/terms / www.sct.gc.ca/ws-nw/wet-boew/conditions
 */

/** Screen and print CSS **/
@media screen,print {
	.ie7 {
		.wet-boew-footnotes {
			display: inline-block;
			dl {
				margin-bottom: 0;
				dd {
					&:focus, &:active, &.footnote-focus {
						border: 1px dotted #000;
						margin: 0 0 7px 0;
						left: -1px;
						top: -1px;
						p.footnote-return {
							top: 1px !important;
						}
					}
				}
			}
		}
	}
}

/** Print-only CSS **/
@media print {
	.ie7 {
		.wet-boew-footnotes {
			padding-bottom: 1em;
			/*definition list's padding-top value x2 via SASS?*/
		}
	}
}