@charset "utf-8";
/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * www.tbs.gc.ca/ws-nw/wet-boew/terms / www.sct.gc.ca/ws-nw/wet-boew/conditions
 */
.wet-boew-menubar{
	background-color:#1A3D6C;
	border-bottom:4px solid #999;
	min-height:28px;
}

.mb-menu,.mb-menu li{
	list-style:none;
	min-height:2.2em;
	margin:0;
	padding:0;
}

.mb-menu{
	position:absolute;
	background-color:#1A3D6C;
	width:100%;
	z-index:500;
	float:left;
	li{
		background-color:#1A3D6C;
		border-left:1px solid #353;
		border-right:1px solid #575;
		float:left;
		h3{
			font-size:100%;
			margin:0;
			padding:0;
		}
		&:first-child.mb-active{
			border-left:1px solid #CCC;
		}
		div.mb-sm{
			display:none;
			visibility:hidden;
		}
	}
	a{
		font-weight:700;
		text-align:left;
		white-space:nowrap;
		display:block;
		padding:0.45em 0.79em;
		&:link,&:visited{
			text-decoration:none;
			color:#fff;
		}
		&:hover,&:focus,&:active{
			text-decoration:underline;
		}
	}
	.nav-current{
		background:#242;
		color:#fff;
	}
	.mb-sm-open {
		a{
			white-space:normal;
			padding:0.28em 0.79em;
			&,&:link,&:visited{
				color:#000;
			}
		}
		ul{
			list-style-type:none;
		}
		li {
			h3, h4 {
				a:link, a:visited{
					text-decoration: underline;
				}
			}
			&,div{
				display:block;
				float:none;
				background:none;
				border:none;
				min-height:0;
			}
			a{
				font-weight:400;
			}
		}
	}
	.expandicon{
		padding-right:12px;
		background:url("../images/menu-dropdown.gif") no-repeat right center;
	}
}

.mb-active {
	a:hover,a:link,a:visited{
		&.mb-has-sm{
			background-color:#CCC;
			color:#000;
		}
	}
}

.mb-mega {
	.mb-sm-open{
		position:absolute;
		z-index:499;
		background-color:#CCC;
		border-bottom:4px solid #242;
		padding-top:5px;
		border-radius:0 0 3px 3px;
		-moz-border-radius:0 0 3px 3px;
		-webkit-border-radius:0 0 3px 3px;
		h2,h3,h4{
			font-size:1.2em;
			font-weight:700;
			margin:0;
		}
		ul{
			margin:0 0 0 1.2em;
			padding:0 0 1.15em;
			ul{
				padding:0;
			}
		}
		.menu-col{
			float:left;
			min-width:190px;
		}
	}
}

.mb-container{
	position:relative;
}