@charset "utf-8";
/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * www.tbs.gc.ca/ws-nw/wet-boew/terms / www.sct.gc.ca/ws-nw/wet-boew/conditions
*/
video, object.video {
	width:100%;
	background-color: #000;
	margin-bottom:-5px;
}

.wb-mm-captionsarea{
	background-color:#000;
	color:#FFF;
	text-align:center;
	padding:0.5em;
	min-height:1.5em;
}

.wet-boew-multimedia {

	.wb-mm-overlay {
		position:absolute;
		background:transparent;
		border:0;
		width:100%;
		* {
			display:block;
			margin:auto;
		}
		
		img {
			width:100px;
			height:100px;
		}
	}

	svg {
		* {
	 		pointer-events:none;
	 	}
	}
}

@mixin border {
	border:1px solid #BBB;
}

@mixin ui {
	@include border;
	background:#DADADA url('../images/multimedia/background-toolbar.png') repeat-x 0 0;
}

$progress-color: #000;

.wb-mm-controls{
	width:100%;
	padding:0;

	button {
		@include ui;
		padding:0;
		
		svg, img {
			display:block;
			margin:0;
			padding:0;
		}
		
		img {
			width:20px;
			height:20px;
		}
	}
	
	.wb-mm-controls-start, .wb-mm-timeline-current {
		float:left;
	}

	.wb-mm-controls-end, .wb-mm-timeline-total {
		float:right;
	}
	
	.wb-mm-timeline{
		position:relative;
		@include ui;
		margin-left:83px;
		margin-right:55px;
		height:18px;
		padding: 2px 4px;
		
		p{
			margin:0;
		}
		
		.wb-mm-timeline-inner {
			margin:0 70px;
		}
	
	}
	
	&.wb-mm-no-cc .wb-mm-timeline{
		margin-right:25px;
	}
	
	progress {
		@include border;
		color:$progress-color;
		width:100%;
		height:14px;
		margin:2px 0;
		&::-moz-progress-bar {
			background: $progress-color;
			display:block;
		}
		&::-webkit-progress-value {
			background: $progress-color;
		}
		/* Polyfill */
		div.wb-progress-outer {
			border:none;
			background-color:transparent!important;
			padding:0;
		}
		div.wb-progress-inner {
			background-color:$progress-color!important;
			padding:0;
		}
	}
}