@charset "utf-8";
/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * www.tbs.gc.ca/ws-nw/wet-boew/terms / www.sct.gc.ca/ws-nw/wet-boew/conditions
*/
.ie7 {
	.wb-mm-controls{
		button {
			img {
				display:inline;
				height:18px;
			}
		}
		
		.wb-mm-timeline-inner progress {
			margin-top:-21px;
		}
	}
}
