@charset "utf-8";
/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt
 */
/* fd-slider.min.css referencing individual .png images for IE6 and 7 */
.ie7 {
	.fd-slider, .fd-slider-vertical {
		*background:transparent url(../images/slider/blank.gif) repeat
	}
	.fd-slider-vertical {
		.fd-slider-wrapper {
			*clear:expression(style.height=parentNode.offsetHeight+'px',style.clear='none', 0);
		}
		.fd-slider-inner {
			width:2px;
			height:auto;
			top:4px;
			bottom:12px;
			left:4px;
			right:auto;
			_bottom:auto;
			*clear:expression(style.height=(parentNode.offsetHeight - 8)+'px',style.clear='none',0)
		}
		.fd-slider-bar {
			_bottom:auto;
			*clear:expression(style.height=(parentNode.offsetHeight - 20)+'px',style.clear='none',0);
			filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#FFECECEC',endColorstr='#FFCCCCCC')
		}
		.fd-slider-range {
			filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#FF89A5BD',endColorstr='#FF165C91')
		}
		.fd-slider-disabled {
			.fd-slider-bar {
				filter:progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr='#ff666666',endColorstr='#ff333333')
			}
			.fd-slider-range {
				filter:progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr='#ff222222',endColorstr='#ff000000')
			}
		}
	}
	.fd-slider-inner {
		position:absolute;
		height:2px;
		border:1px solid #bbf;
		background:#bbf;
		top:4px;
		bottom:none;
		left:4px;
		right:12px;
		z-index:2;
		margin:0;
		padding:0;
		overflow:hidden;
		line-height:4px;
		_right:auto;
		_width:expression((this.parentNode.offsetWidth - 8)+'px');
		filter:progid:DXImageTransform.Microsoft.Blur(pixelradius=3.5)
	}
	.fd-slider-focused {
		.fd-slider-inner {
			display:block
		}
	}
	.fd-slider-bar {
		_left:10px;
		_right:auto;
		_width:expression((this.parentNode.offsetWidth - 20)+'px');
		filter:progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr='#FFECECEC',endColorstr='#FFCCCCCC')
	}
	.fd-slider-range{
		_left:10px;
		filter:progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr='#FF89A5BD',endColorstr='#FF165C91')
	}
	.fd-slider-handle{
		*background-image:url(../images/slider/fd-slider-sprite.png);
		_background-image:none;
		_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=crop,src='../images/slider/fd-handle-normal.png');
		outline:expression(hideFocus='true')
	}
	.fd-slider-focused, .fd-slider-hover, .fd-slider-active {
		.fd-slider-handle {
			_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=crop,src='../images/slider/fd-handle-glow.png')
		}
	}
	.fd-slider-no-value {
		.fd-slider-handle {
			_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=crop,src='../images/slider/fd-handle-no-value.png')
		}
	}
	.fd-slider-disabled {
		.fd-slider-handle {
			_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=crop,src='../images/slider/fd-handle-disabled.png')
		}
		.fd-slider-bar {
			filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ff666666',endColorstr='#ff333333')
		}
		.fd-slider-range {
			filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ff222222',endColorstr='#ff000000')
		}
	}
}