@charset "utf-8";
/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * www.tbs.gc.ca/ws-nw/wet-boew/terms / www.sct.gc.ca/ws-nw/wet-boew/conditions
 */
.ie8 {
	.tabs-roller {
		filter:alpha(opacity=10);
	}
	.tabs-style-2 {
		.tabs{
			filter:alpha(opacity=95);
		}
		.tabs-roller{
			filter:alpha(opacity=25);
		}
	}
	.tabs-style-3 {
		.tabs {
			li{
				a{
					&:hover, &:focus, &:active{
						filter:alpha(opacity=75);
					}
				}
				&.tabs-toggle{
					a{
						&:hover, &:focus, &:active{
							filter:alpha(opacity=100);
						}
					}
				}
			}
		}
		.tabs-roller{
			filter:alpha(opacity=20);
		}
	}
}