@charset "utf-8";
/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * www.tbs.gc.ca/ws-nw/wet-boew/terms / www.sct.gc.ca/ws-nw/wet-boew/conditions
 */
.tabs{
    border-bottom:solid 1px #ccc;
    margin:0;
    padding:0;
    position:relative;
	li{
		display:inline-block;
		border:solid 1px #ccc;
		border-bottom:none;
		-moz-border-radius:2px 2px 0 0;
		-webkit-border-radius:2px 2px 0 0;
		border-radius:2px 2px 0 0;
		a{
			background:url(../images/tabs/gradient.png) repeat-x 0 0;
			display:block;
			text-decoration:none;
			color:#333;
			font-weight:400;
			padding:4px;
			position:relative;
		}
	}
	li.active{
		background:#fff;
		position:relative;
		top:1px;
		border:solid 1px #ccc;
		border-bottom:none;
	}
	li a.active,.tabs li a.active:hover,.tabs li a.active:focus{
		color:#333;
		padding-top:5px;
		background:#fff;
		cursor:text;
	}
	a {
		line-height: normal;
	}
}

.tabs-panel > div.active, .no-js .tabs-panel > div{
    display:block;
}

.tabs-panel{
    border:solid 1px #ccc;
    border-top:none;
    padding:10px;
	> div {
		display:none;
	}
	h2,h3,h4,h5,h6{
		border:none;
	}
	.float-right {
		margin-left:10px;
	}
	.float-left {
		margin-right:10px;
	}
}

.clear{
    clear:both;
    display:block;
    height:0 !important;
    margin:0;
    min-height:0 !important;
    overflow:hidden;
    visibility:hidden;
    width:0;
}

.tabs-roller {
    height:100%;
    width:0;
    position:absolute;
    top:0;
    left:0;
    cursor:text;
    background-color:#000;
    opacity:0.1;
    filter:alpha(opacity=10);
}

.span-1 .tabs,.span-2 .tabs,.span-3 .tabs,.span-4 .tabs,.span-5 .tabs,.span-6 .tabs{
	margin:0;
}

/* style 1 */
.tabs-style-1{
    border:solid 1px #ccc;
    padding:2px;
	.tabs{
		background:url(../images/tabs/gradient.png) repeat-x 0 0;
		border:1px solid silver;
		color:#222;
		font-weight:700;
		padding:2px 2px 0;
		li {
			a{
				background:#555 url(../images/tabs/gradient2.png) repeat-x  0 bottom;
				border-top:none;
				color:#fff;
				padding:3px 4px 4px;
			}
			a:hover, a:focus, a:active{
				background:#eee url(../images/tabs/gradient.png);
				color:#000;
				border-top:1px solid #fff;
				padding-top:1px;
			}
			a.active, .a.active:hover{
				color:#000;
				background:#fff;
				border-top:none;
				padding:4px;
			}
			a.tabs-start, a.tabs-stop{
				color:#000;
			}
		}
		li.tabs-toggle {
			a{
				background-repeat:no-repeat;
				background-position:-1px 0;
				color:#000;
				border:1px solid #999;
			}
			a.tabs-prev,a.tabs-next{
				background-position:center 5px;
			}
		}
		.tabs-toggle {
			a:active, a:hover, a:active{
				background-repeat:no-repeat;
				background-position:-1px 0;
				color:#c00;
				border:1px solid #999;
			}
		}
	}
	.tabs-panel{
		border:none;
	}
}


/* style 2 */
.tabs-style-2{
    border:0;
    padding:0;
    position:relative;
    z-index:1;
    margin:0;
	.tabs{
		border:none;
		background:#eee;
		opacity:0.95;
		min-height:24px;
		position:absolute;
		width:100%;
		z-index:2;
		padding-top:2px;
		margin-top:0;
		bottom:0;
		left:0;
		li{
			border:none;
			margin-right:2px;
			background:#00556b;
			opacity:1;
			filter:alpha(opacity=100);
			-moz-border-radius: 2px;
			-webkit-border-radius: 2px;
			border-radius:2px;
			width:auto;
			float:left;
			a{
				border:1px solid #999;
				padding:2px 5px;
				-moz-border-radius: 2px;
				-webkit-border-radius: 2px;
				border-radius:2px;
			}
			a.active, a:hover, a:focus, a:active{
				border-bottom-width:0;
				background:#333;
				color:#fff;
				padding-top:2px;
			}
		}
		li.active{
			border:none;
			top:auto;
			color:#fff;
		}
	}
	.tabs-panel{
		border:none;
		min-height:220px;
		background:url(../images/tabs/gradient3.png) repeat-x 0 bottom #555;
		color:#fff;
		margin:0;
		padding:0;
		a, a:visited, h2, h3, h4, h5, h6 {
			color:#fff;
		}
	}
	li.tabs-toggle {
		a{
			position:static;
			background-color:#eee!important;
			padding:2px 5px;
		}
		a:hover, a:focus, a:active{
			border-bottom-width:1px;
			text-decoration:underline !important;
			color:#c00;
		}
		a.tabs-stop, a.tabs-start{
			padding:2px 5px 2px 25px;
		}
	}
	.tabs-toggle {
		a.tabs-prev:hover,a.tabs-prev:focus a.tabs-prev:active,a.tabs-next:hover,a.tabs-next:focus,a.tabs-next:active{
			background-position: center 5px;
		}
	}
	.tabs-content-pad{
		padding:10px 10px 36px;
	}
	.tabs-roller{
		background-color:#fff;
		opacity:0.25;
		filter:alpha(opacity=25);
	}
}


/* style 3 */
.tabs-style-3{
    position:relative;
    z-index:1;
    border:1px solid #ccc;
    margin:0;
    min-height:220px;
    padding:10px 0 10px 10px;
    -moz-border-radius:5px;
    -webkit-border-radius:3px;
    border-radius:3px;
	.tabs{
		width:35%;
		position:absolute;
		z-index:3;
		border:none;
		margin:20px 0 0;
		right:0;
		li{
			border:none;
			margin:0;
			width:100%;
			a{
				display:block;
				border:none;
				text-decoration:none;
				background:transparent;
				padding:5px 5px 5px 25px;
			}
			a.active, a:hover, a:focus, a:active{
				background:#000;
				color:#fff;
				margin-right:0;
				padding:5px 5px 5px 25px;
				opacity:0.75;
				filter:alpha(opacity=75);
				-moz-border-radius: 3px 0 0 3px;
				-webkit-border-radius: 3px 0 0 3px;
				border-radius: 3px 0 0 3px;
				text-decoration:none;
			}
		}
		li.active{
			border:none;
			color:#fff;
		}
		li.tabs-toggle {
			a{
				float:right;
				position:static;
				margin-right:2px;
				margin-top:10px;
				border:1px solid #999;
				background-repeat:no-repeat;
				background-position:-1px 0;
				border:1px solid #ccc;
				padding:2px 5px;
			}
			a.tabs-prev, a.tabs-next{
				background-position:center 5px
			}
			a.tabs-stop, a.tabs-start{
				padding:2px 5px 2px 25px;
			}
		}
	}
	.tabs-panel{
		width:66%;
		z-index:1;
		border:none;
		background:#eee url(../images/tabs/gradient.png) repeat-x 0 bottom;
		color:#333;
		margin:0;
		padding:0;
		min-height:220px;
		z-index:2;
		border:1px solid #ccc;
	}
	li.tabs-toggle {
		width:auto;
		a:hover, a:focus, a:active{
			margin-right:2px;
			padding:2px 5px 2px 24px;
			opacity:1;
			filter:alpha(opacity=100);
		}
	}
	.tabs-content-pad{
		padding:10px;
	}
	.tabs-roller{
		background-color:white;
		opacity:0.2;
		filter:alpha(opacity=20);
		-moz-border-radius: 3px 0 0 3px;
		-webkit-border-radius: 3px 0 0 3px;
		border-radius: 3px 0 0 3px;
	}
}


/* style 4 */
.tabs-style-4{
    padding:0;
	.tabs {
		font-weight:700;
		margin-bottom:2px;
		padding:0 0 1px 0;
		height:auto!important;
		border:none;
		li {
			display:block;
			a {
				background:url(../images/tabs/gradient2-style4.png) repeat-x scroll 50% 50% #000;
				border-top:1px solid #000000;
				color:#FFF;
				font-size:80%;
				margin:0;
				padding:2px;
			}
			a:hover, a:focus, a:active {
				background:url(../images/tabs/gradient.png) repeat scroll 0 0 #EEE;
				color:#000;
			}
			a.active, a.active:hover {
				background:none repeat scroll 0 0 #FFF;
				border:none;
				color:#000 !important;
				padding-top:2px;
			}
		}
		li.tabs-toggle {
			display:inline-block;
			a{
				width:auto!important;
				background-repeat:no-repeat!important;
				background-position:0 -2px;
				color:#000!important;
				position:relative!important;
				top:1px!important;
				bottom:auto!important;
				left:0!important;
				right:auto!important;
				border-top:1px solid #999!important;
				padding:2px 5px;
			}
			a.tabs-prev, a.tabs-next{
				background-position:center 3px}
			}
	}
	.tabs-panel {
		border:none;
		margin:0;
		padding:0;
		img{
			display:block;
		}
	}
}

.wb-sup-def {
	.tabs-style-4{
		padding:0;
	}
	.tabs{
		margin-left:-1px;
		padding:0;
		li{
			padding-left:0;
			margin-left:0;
			a:visited{
				color:#FFF;
			}
		}
		a.active, a.active:hover{
			color:#000!important;
		}
	}
	.tabs-toggle{
		margin-left:2px!important;
	}
}


/* style 5 */
.tabs-style-5{
    padding:0;
	.tabs{
		border:none;
		li{
			display:none!important;
			a{
				display:none!important;
			}
		}
		li.tabs-toggle{
			display:inline-block!important;
			a{
				display:block!important;
				font-size:80%;
				margin-bottom:1px;
				width:auto!important;
				background-repeat:no-repeat!important;
				background-position:0 -2px;
				position:relative!important;
				top:1px!important;
				bottom:auto!important;
				left:0!important;
				right:auto!important;
			}
			a.tabs-prev, a.tabs-next{
				background-position:center 3px
			}
		}
	}
	.tabs-panel{
		border:none;
		margin:0;
		padding:0;
		img{
			display:block;
		}
	}
}

.wb-sup-def {
	.tabs-style-5{
		padding:0;
		.tabs{
			margin-bottom:1px;
		}
		.tabs-toggle{
			margin-left:9px!important;
		}
	}
}


/*pause and play effect*/
.tabs {
	.tabs-toggle {
		border:none;
		background:none;
	}
	li.tabs-toggle {
		a:hover{
			background-repeat:no-repeat;
		}
		a:hover, a:focus, a:active{
			text-decoration:underline;
			color:#000;
		}
		a.tabs-next, a.tabs-prev{
			padding:2px 5px;
			cursor:pointer;
		}
		a.tabs-start, a.tabs-stop{
			padding:2px 5px 2px 24px;
			cursor:pointer;
		}
	}
}

.tabs-toggle {
	a{
		background-position:-1px 0;
		background-repeat:no-repeat;
		padding-left:24px;
		background-color:#fff!important;
		position:absolute;
		bottom:2px;
		right:2px;
		-moz-border-radius:2px;
		-webkit-border-radius:2px;
		border-radius:2px;
		border:1px solid #999;
	}
	a.tabs-prev{
		background-image:url(../images/tabs/prev.gif)!important;
		background-repeat:no-repeat!important;
		background-position:center 5px
	}
	a.tabs-next{
		background-image:url(../images/tabs/next.gif)!important;
		background-repeat:no-repeat!important;
		background-position:center 5px
	}
	a.tabs-stop{
		background-image:url(../images/tabs/pause.png)!important;
		background-repeat:no-repeat!important
	}
	a.tabs-start{
		background-image:url(../images/tabs/play.png)!important;
		background-repeat:no-repeat!important
	}
}

/*with grids*/
.embedded-grid,.embedded-grid .tabs-panel{
    border:none;
    padding:0;
}

.embedded-grid .tabs{
    margin:0 10px 10px;
}

.span-1 .tabs,.span-2 .tabs,.span-3 .tabs,.span-4 .tabs,.span-5 .tabs,.span-6 .tabs,.span-7 .tabs,.span-8 .tabs,.span-9 .tabs,.span-10 .tabs,.span-11 .tabs,.span-12 .tabs{
    margin:0;
}