@charset "utf-8";
/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * www.tbs.gc.ca/ws-nw/wet-boew/terms / www.sct.gc.ca/ws-nw/wet-boew/conditions
 */
.wet-boew-toolbar{
    position:fixed;
    bottom:0;
    z-index:99999;
    background:#ccc url(../images/toolbar/gradient.png) repeat-x 0 0;
    border:1px solid #ccc;
    left:0;
    clear:both;
    border-radius:3px 0 0 0;
    -moz-border-radius:3px 0 0 0;
    -webkit-border-radius:3px 0 0 0;
    width:auto;
    right:5px;
    left:auto
	ul{
		list-style-type:none;
		border-top:1px solid #fff;
		margin:0;
		padding:0;
		li{
			position:relative;
			margin:0;
			padding:0
		}
	}
	a{
		float:left;
		height:22px;
		text-decoration:none;
		color:#333;
		position:relative;
		padding:2px 5px 0 25px;
		text-shadow:0 1px 0 #fff
	}
	form{
		margin:0
	}
	p{
		margin:2px 0 0 5px
	}
	label{
		margin-right:5px
	}
	input{
		vertical-align:middle;
		margin:0;
		padding:1px 2px 2px;
		&.toolbar-search-button{
			margin-left:0;
			background:#ccc
		}
	}
	.toolbar-top-page{
		float:right!important;
		a{
			background:transparent url(../images/toolbar/top_of_page.png) no-repeat scroll 5px center;
			border:0
		}
	}
	a.active, a:focus, a:hover{
		background-color:#fff
	}
}