@charset "utf-8";
/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * www.tbs.gc.ca/ws-nw/wet-boew/terms / www.sct.gc.ca/ws-nw/wet-boew/conditions
 */
.ie7 {
	.guidance-block {
		margin-top:20px;
		fieldset {
			padding:0.5em;
		}
		.box, .box-fra {
			margin-top: -17px;
		}
	}
}