@charset "utf-8";
/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * www.tbs.gc.ca/ws-nw/wet-boew/terms / www.sct.gc.ca/ws-nw/wet-boew/conditions
 */
.wet-boew-widget .widget-state-loading img{
    margin:auto;
    height:auto!important;
    width:auto!important;
    vertical-align:middle;
}

.wet-boew-widget .widget-state-loading{
    margin:auto;
    width:100%;
    line-height:60px;
    text-align:center;
}

.wet-boew-widget{
    background-repeat:repeat-x;
    background-position:0 0;
    color:#555;
    background-color:#e0e2e4!important;
    background-image:url(../images/webfeeds/gradient.png)!important
}

.wet-boew-widget a{
    text-decoration:none;
    font-weight:700;
    background-image:none!important;
    margin-right:auto!important;
    display:inline-block
}

.wet-boew-widget .widget-container{
    border:1px solid #ccc;
    padding:5px 10px 10px!important;
}

.wet-boew-widget .widget-title{
    font-weight:700;
    font-size:100%;
    margin:0;
    padding:4px;
    margin-top:4px;
    border-bottom:0;
}

.wet-boew-widget .widget-title-dark{
    font-weight:700;
    font-size:100%;
    margin:0;
    margin-top:4px;
    padding:4px;
    background-color:#333!important;
    color:#fff!important;
    border-bottom:0;
}

.wet-boew-widget .widget-title-attention{
    font-weight:700;
    font-size:100%;
    margin:0;
    padding:4px;
    margin-top:4px;
    background-color:#781a21!important;
    color:#fff!important;
    border-bottom:0;
}

.wet-boew-widget ul{
    list-style-type:none!important;
    font-size:90%;
    min-height:50px;
    overflow:auto;
    background:#fff;
    border:1px solid #ccc;
    margin:0!important;
    padding:5px 2px 2px 5px!important;
}

.wet-boew-widget li{
    margin:0!important;
    padding:0 0 10px 0!important;
    float:left;
}

.wet-boew-widget li a img{
    margin-right:5px;
}

.wet-boew-widget a.widget-notice{
    text-decoration:underline;
}

.wet-boew-widget p.widget-lang{
    margin:0;
}

.wet-boew-widget .widget-lang a,.wet-boew-widget .widget-lang a:visited,.wet-boew-widget .widget-lang a:hover{
    color:#000;
    font-weight:400;
    text-align:center;
    background:#fff;
    font-size:90%;
    float:right;
    border:1px solid #ccc;
    border-top:0;
    margin:0;
    padding:2px 4px!important;
}

.wet-boew-widget .widget-add{
    background:#fff;
    padding:0 10px;
}

.wet-boew-widget .widget-add p{
    text-align:center;
    margin:0;
}

.wet-boew-widget .widget-add a{
    color:#333;
    border:3px double #ccc;
    border-top:0;
    padding:3px;
}

.wet-boew-widget .widget-add a:hover,.wet-boew-widget .widget-lang a:hover{
    color:#c00;
}

.wet-boew-widget .widget-avatar{
    height:auto!important;
    width:auto!important;
    border:0;
    vertical-align:middle;
}

.wet-boew-widget .widget-datestamp{
    font-size:90%;
}

.wet-boew-widget .widget-datestamp-accent{
    font-size:90%;
    color:#781a21!important;
    white-space:nowrap;
}