@charset "utf-8";
/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt
 */
.wet-boew-widget {
	background:{
		repeat:repeat-x;
		position:0 0;
		color:#e0e2e4!important;
		image:url(../images/webfeeds/gradient.png)!important;
	}
	color:#555;
	.widget-state-loading{
		margin:auto;
		width:100%;
		line-height:60px;
		text-align:center;
		img{
			margin:auto;
			height:auto!important;
			width:auto!important;
			vertical-align:middle;
		}
	}
	a{
		text-decoration:none;
		font-weight:700;
		background-image:none!important;
		margin-right:auto!important;
		display:inline-block;
		&.widget-notice{
			text-decoration:underline;
		}
	}
	.widget-container{
		border:1px solid #ccc;
		padding:5px 10px 10px!important;
	}
	.widget-title{
		font-weight:700;
		font-size:100%;
		margin:0;
		padding:4px;
		margin-top:4px;
		border-bottom:0;
	}
	.widget-title-dark{
		font-weight:700;
		font-size:100%;
		margin:0;
		margin-top:4px;
		padding:4px;
		background:#333!important;
		color:#fff!important;
		border-bottom:0;
	}
	.widget-title-attention{
		font-weight:700;
		font-size:100%;
		margin:0;
		padding:4px;
		margin-top:4px;
		background:#781a21!important;
		color:#fff!important;
		border-bottom:0;
	}
	ul{
		list-style-type:none!important;
		font-size:90%;
		min-height:50px;
		overflow:auto;
		background:#fff;
		border:1px solid #ccc;
		margin:0!important;
		padding:5px 2px 2px 5px!important;
	}
	li{
		margin:0!important;
		padding:0 0 10px 0!important;
		float:left; 
		a img{
			margin-right:5px;
		}
	}
	p.widget-lang{
		margin:0;
	}
	.widget-lang {
		a,a:visited,a:hover{
			color:#000;
			font-weight:400;
			text-align:center;
			background:#fff;
			font-size:90%;
			float:right;
			border:1px solid #ccc;
			border-top:0;
			margin:0;
			padding:2px 4px!important;
		}
	}
	.widget-add{
		background:#fff;
		padding:0 10px;
		p{
			text-align:center;
			margin:0;
		}
		a{
			color:#333;
			border:3px double #ccc;
			border-top:0;
			padding:3px;
		}
	}
	.widget-add,.widget-lang{
		a:hover{
			color:#c00;
		}
	}
	.widget-avatar{
		height:auto!important;
		width:auto!important;
		border:0;
		vertical-align:middle;
	}
	.widget-datestamp{
		font-size:90%;
	}
	.widget-datestamp-accent{
		font-size:90%;
		color:#781a21!important;
		white-space:nowrap;
	}
}