@charset "utf-8";
/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * www.tbs.gc.ca/ws-nw/wet-boew/terms / www.sct.gc.ca/ws-nw/wet-boew/conditions
 */
ol.wet-boew-zebra {
	li, li li{
		list-style-type:none;
	}
	li{
		margin-bottom:2px;
		margin-right:0;
		padding:10px;
	}
}

table.wet-boew-zebra,table.wet-boew-zebra table{
    background-color:#fff;
    border:1px solid #ccc;
    border-collapse:collapse;
    margin-bottom:10px;
    margin-top:10px;
}
 
.wet-boew-zebra {
	li {
		&.list-odd{
			background-color:#ddd!important;
			border:1px solid #ccc;
		}
		&.list-even{
			background-color:#eee!important;
			border:1px solid #ccc;
		}
		&.list-hover{
			background-color:#f0fcff!important;
		}
	}
	th{
		background-color:#eee;
		border:1px solid #ccc;
		color:#333;
		text-align:center;
		padding:8px;
	}
	td{
		border:1px solid #ccc;
		vertical-align:top;
		padding:5px 10px;
	}
	tr{
		&.table-odd, &.table-even tr.table-odd{
			td{
				background-color:#f0fcff;
			}
		}
		&.table-even, &.table-odd tr.table-even{
			td{
				background-color:transparent;
			}
		}
		&.table-hover td{
			background-color:#eee!important;
		}
	}
	
	/* Advance Zebra */
	td.table-keycell{
		font-style: italic;
		padding: 8px;
	}
	td.table-desccell{
		font-style: italic;
		padding: 8px;
		background-color: #F4F4F4!important;
	}
	td.table-summarycol3, td.table-summaryrow3 {
		background-color: #9EE!important;
	}
	td.table-summarycol2, td.table-summaryrow2 {
		background-color: #FAFAFA!important;
	}
	td.table-summarycol1, td.table-summaryrow1 {
		background-color: #F4F4F4!important;
	}
	td.table-summarycol0, td.table-summaryrow0 {
		background-color: #EEE!important;
	}
	
	tbody.table-summary {
		border-top: solid black 2px!important;
	}
	/*
	 * I am not sure if we would like to style the cell header group, need to discuss
	 *
	th.table-headgroupcol1, th.table-headgrouprow1 {
		background-color: #CCC;
	}
	th.table-headgroupcol2, th.table-headgrouprow2 {
		background-color: #AAA;
	}
	th.table-headgroupcol3, th.table-headgrouprow3 {
		background-color: #999;
	}
	*/
	th.table-hover {
		background-color: lightgray;
	}
	
	td.table-layoutCell, th.table-layoutCell{
		background-color: white!important;
	}
	col {
		&.table-odd {
			background-color:#f0fcff;
		}
		&.table-even {
			background-color:transparent;
		}
		
		&.table-hover {
			background-color:#eee!important;
		}
	
	}
	
	

}
