@charset "utf-8";
/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * www.tbs.gc.ca/ws-nw/wet-boew/terms / www.sct.gc.ca/ws-nw/wet-boew/conditions
 */
ol.wet-boew-zebra {
	li, li li{
		list-style-type:none;
	}
	li{
		margin-bottom:2px;
		margin-right:0;
		min-height:39px;
		padding:10px;
	}
}

table.wet-boew-zebra,table.wet-boew-zebra table{
    background-color:#fff;
    border:1px solid #ccc;
    border-collapse:collapse;
    margin-bottom:10px;
    margin-top:10px;
}
 
.wet-boew-zebra {
	li.list-odd{
		background-color:#ddd!important;
		border:1px solid #ccc;
	}
	li.list-even{
		background-color:#eee!important;
		border:1px solid #ccc;
	}
	li.list-hover{
		background-color:#f0fcff!important;
	}
	th{
		background-color:#eee;
		border:1px solid #ccc;
		color:#333;
		text-align:center;
		padding:8px;
	}
	td{
		border:1px solid #ccc;
		vertical-align:top;
		padding:5px 10px;
	}
	tr.table-odd td,.wet-boew-zebra tr.table-even tr.table-odd td{
		background-color:#f0fcff;
	}
	tr.table-even td,.wet-boew-zebra tr.table-odd tr.table-even td{
		background-color:transparent;
	}
	tr.table-hover td{
		background-color:#eee!important;
	}
}