/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-eng.txt / wet-boew.github.io/wet-boew/Licence-fra.txt
 */

@import '../../../grids/sass/includes/mixins';

.wb-sec-def {
	h3 {
		margin: {
			left: 0;
			right: 0;
		}
	}
	ul {
		margin-right: 0;
	}
}

%clf2-default-hidden {
	position: absolute;
	@include clip-rect;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden !important;
}

#cn-bc {
	@extend %clf2-default-bc-all;
}

#cn-bc2 {
	@extend %clf2-default-bc-all;
}

#cn-psnb {
	h2 {
		@extend %clf2-default-hidden;
	}
}

#cn-psnb-2 {
	h2 {
		@extend %clf2-default-hidden;
	}
}

#cn-in-pd {
	h3 {
		@extend %clf2-default-hidden;
	}
}

%clf2-default-bc-all {
	h2 {
		@extend %clf2-default-hidden;
	}
	ol {
		padding-top: 0;
		line-height: 1.57em;
		margin: 0;
		padding-left: 0;
		list-style-type: none;
		float: left;
		width: 100%;
		clear: right;
	}
	li {
		margin-top: 0;
		padding-top: 0;
		float: left;
		margin-right: 0.3em;
		white-space: nowrap;
	}
}

%clf2-default-width-33pct {
	margin: 10px 0;
	width: 33%;
}

#cn-toppage-foot {
	@extend %clf2-default-width-33pct;
}

#cn-in-pd-links {
	@extend %clf2-default-width-33pct;
}

#cn-doc-dates {
	@extend %clf2-default-width-33pct;
	float: left;
	clear: left;
	min-width: 6em;
	margin-top: 5px;
	padding: 3px 0;
	dt {
		padding-right: 0.4em;
		float: left;
	}
	dd {
		margin-left: 0;
		span {
			white-space: nowrap;
		}
	}
}
