/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-eng.txt / wet-boew.github.io/wet-boew/Licence-fra.txt
 */
.ie7 {
	#wb-head {
		float: none;
	}
	#cn-leaf {
		margin-top: 5px;
	}
	%clf2-default-screen-ie7-all-psnb {
		ul {
			height: auto;
			overflow: hidden;
			li {
				width: 16.6%;
			}
		}
	}
	#cn-psnb {
		@extend %clf2-default-screen-ie7-all-psnb;
	}
	#cn-psnb-2 {
		@extend %clf2-default-screen-ie7-all-psnb;
	}
	#wb-main-in {
		#{headings(all)}, p, blockquote, table, form, img, pre {
			margin-left: 0;
			margin-right: 0;
		}
	}
	%clf2-default-screen-ie7-all-defs {
		ul {
			margin-left: 0;
			ul {
				margin-left: 40px;
			}
		}
		li {
			margin-left: auto;
		}
		h3 {
			a {
				@include pseudo-focus {
					zoom: 1;
				}
			}
		}
	}
	%clf2-default-screen-ie7-cn-search-box {
		margin: -15px -10px 0 -10px;
		a {
			margin-bottom: -9px;
		}
	}
	.wb-sec-def {
		@extend %clf2-default-screen-ie7-all-defs;
		#cn-search-box {
			@extend %clf2-default-screen-ie7-cn-search-box;
			#cn-search-submit {
				@extend %clf2-default-screen-ie7-cn-search-box-child-cn-search-submit;
			}
		}
	}
	.cn-search-box {
		@extend %clf2-default-screen-ie7-cn-search-box;
		.cn-search-submit {
			@extend %clf2-default-screen-ie7-cn-search-box-child-cn-search-submit;
		}
	}
	%clf2-default-screen-ie7-cn-search-box-child-cn-search-submit {
		overflow: visible;
		padding: 0 8px;
	}
	.wb-sup-def {
		@extend %clf2-default-screen-ie7-all-defs;
		margin-bottom: -10px;
		h3 {
			margin-left: 0;
			margin-right: -10px;
			+ {
				div {
					p {
						margin-top: 1em;
						margin-bottom: 1em;
						margin-left: 0;
					}
				}
			}
		}
	}
	#wb-foot {
		margin-top: -20px;
	}
}