/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt
 */
.ie7 {
	#cn-banner {
		width: 100%;
		margin: {
			top: 20px;
			bottom: 20px;
		}
	}
	#cn-bc {
		padding: 5px 0;
		ol {
			line-height: normal;
		}
		li {
			border-left: 1px solid #000;
			margin: 0;
			padding: 0 10px;
			&:first-child {
				border-left: none;
				padding-left: 0;
			}
		}
	}
}