/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt
 */
%clf2-default-print-display-none {
	display: none;
}

#wb-sec {
	@extend %clf2-default-print-display-none;
}

#wb-sup {
	@extend %clf2-default-print-display-none;
}

#cn-leaf {
	@extend %clf2-default-print-display-none;
}

.cn-toppage {
	@extend %clf2-default-print-display-none;
}

#cn-banner {
	@extend %clf2-default-print-all-banners;
}

#cn-banner-eng {
	@extend %clf2-default-print-all-banners;
}

#cn-banner-fra {
	@extend %clf2-default-print-all-banners;
}

#cn-psnb {
	@extend %clf2-default-print-display-none;
}

#cn-psnb-2 {
	@extend %clf2-default-print-display-none;
}

#cn-toppage-foot {
	@extend %clf2-default-print-display-none;
}

#cn-in-pd-links {
	@extend %clf2-default-print-display-none;
}

#wb-head {
	width: 100%;
}

#cn-sig {
	position: absolute;
	top: 0;
	left: 0;
}

#cn-wmms {
	position: absolute;
	top: 0;
	right: 0;
}

%clf2-default-print-all-banners {
	p {
		@extend %clf2-default-print-display-none;
	}
	#cn-banner-text {
		display: block;
		font-size: 14pt;
		width: 100%;
		color: #000;
		margin-top: 25px;
		margin-bottom: 6px;
		text-align: center;
	}
}

%clf2-default-print-all-cn-bc-ol {
	ol {
		border-top: 1px solid #000;
		padding-top: 5px;
		margin-bottom: 5px;
	}
}

#cn-bc {
	@extend %clf2-default-print-all-cn-bc-ol;
}

#cn-bc2 {
	@extend %clf2-default-print-all-cn-bc-ol;
}

#wb-foot {
	border-top: 1px solid #000;
}

#cn-doc-dates {
	width: 100%;
}