/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt
 */
@import "compass/css3/inline-block";

%clf2-default-large-screen-font-weight-700 {
	font-weight: 700;
}
%clf2-default-large-screen-background-fff {
	background: #FFF;
}
%clf2-default-large-screen-background-color-030 {
	background-color: #030;
}
%clf2-default-large-screen-background-color-000 {
	background-color: #000;
}
%clf2-default-large-screen-background-color-CC9 {
	background-color: #CC9;
}
%clf2-default-large-screen-color-fff {
	color: #FFF;
}
%clf2-default-large-screen-color-000 {
	color: #000;
}
%clf2-default-large-screen-color-636 {
	color: #636;
}
%clf2-default-large-screen-color-CC9 {
	color: #CC9;
}
%clf2-default-large-text-decoration-none {
	text-decoration: none;
}
%clf2-default-large-width-100perc {
	width: 100%;
}
%clf2-default-large-position-relative {
	position: relative;
}
%clf2-default-large-float-left {
	float: left;
}
%clf2-default-large-float-right {
	float: right;
}
%clf2-default-large-float-right-important {
	float: right !important;
}
%clf2-default-large-screen-white-side-borders {
	border: {
		left: 10px solid #FFF;
		right: 10px solid #FFF;
	}
}
%clf2-default-large-screen-box-model-centered {
	z-index: 1;
	display: inline;
}
%clf2-default-large-screen-overflow-hidden {
	overflow: hidden;
}
%clf2-default-large-screen-margin-0 {
	margin: 0;
}
%clf2-default-large-screen-border-none {
	border: none;
}
%clf2-default-large-screen-padding-0 {
	padding: 0;
}
%clf2-default-large-screen-list-style-type-none {
	list-style-type: none;
}
%clf2-default-large-screen-display-block {
	display: block;
}
%clf2-default-large-screen-text-align-center {
	text-align: center;
}
%clf2-default-large-screen-text-align-right {
	text-align: right;
}
%clf2-default-large-screen-padding-left-5 {
	padding-left: 5px;
}
%clf2-default-large-screen-min-width-4em {
	min-width: 4em;
}
%clf2-default-large-screen-outline-none {
	outline: none;
}
%clf2-default-large-screen-img-no-bottom-margin {
	img {
		margin-bottom: 0;
	}
}
%clf2-default-large-screen-all-banners {
	@extend %clf2-default-large-float-left;
	@extend %clf2-default-large-width-100perc;
	min-height: 80px;
	margin-top: -35px;
	@extend %clf2-default-large-screen-text-align-center;
	background-color: #363;
	#cn-banner-text {
		@extend %clf2-default-large-width-100perc;
		@extend %clf2-default-large-screen-margin-0;
		padding: 29px 0 0 0;
		@extend %clf2-default-large-screen-color-fff;
		@extend %clf2-default-large-screen-font-weight-700;
		font-size: 180%;
		font-family: "times new roman", serif;
	}
	p {
		@extend %clf2-default-large-width-100perc;
		@extend %clf2-default-large-screen-margin-0;
		padding: 0 0 4px 0;
		@extend %clf2-default-large-screen-color-fff;
		font-size: 120%;
		font-family: Arial, Helvetica, sans-serif;
	}
}
%clf2-default-large-screen-psnb-and-2 {
	@extend %clf2-default-large-width-100perc;
	@extend %clf2-default-large-float-left;
	@extend %clf2-default-large-screen-background-color-000;
	ul {
		@extend %clf2-default-large-screen-list-style-type-none;
		@extend %clf2-default-large-screen-margin-0;
		padding-left: 0;
		overflow-x: hidden;
		li {
			@extend %clf2-default-large-screen-background-color-000;
			@extend %clf2-default-large-float-left;
			width: 16.6%;
			min-width: 9.5em;
			a {
				@extend %clf2-default-large-screen-display-block;
				text-align: left;
				@extend %clf2-default-large-width-100perc;
				padding: 0.16em 0 0.16em 3px;
				border-left: 1px solid #FFF;
				@extend %clf2-default-large-screen-font-weight-700;
				min-height: 1.25em;
				text-transform: capitalize;
				&:link, &:visited {
					@extend %clf2-default-large-screen-background-color-000;
					@extend %clf2-default-large-screen-color-fff;
					@extend %clf2-default-large-text-decoration-none;
				}
				@include pseudo-focus {
					@extend %clf2-default-large-screen-color-000;
					background-color: #CCC;
				}
			}
			&:first-child {
				a {
					border-left: none;
				}
			}
		}
	}
}
%clf2-default-large-screen-a-pseudo-width120pct {
	a {
		@include pseudo-focus {
			width: 120%;
		}
	}
}
%clf2-default-large-screen-cn-search-box {
	padding: 4px;
	a {
		@extend %clf2-default-large-screen-padding-left-5;
	}
}
%clf2-default-large-screen-cn-search-box-child-cn-search {
	border: 1px solid #363;
	margin-right: 5px;
	width: 92%;
}
%clf2-default-large-screen-cn-search-box-child-cn-search-submit {
	background-color: #363;
	@extend %clf2-default-large-screen-color-fff;
	@extend %clf2-default-large-screen-font-weight-700;
	@extend %clf2-default-large-screen-margin-0;
}
%clf2-default-large-screen-display-block-padding3-5-3-10px {
	@extend %clf2-default-large-screen-display-block;
	padding: 3px 5px 3px 10px;
}
%clf2-default-large-screen-a-psuedo-styling {
	a {
		&:link {
			@extend %clf2-default-large-screen-color-000;
			@extend %clf2-default-large-text-decoration-none;
		}
		&:visited {
			@extend %clf2-default-large-screen-color-636;
			@extend %clf2-default-large-text-decoration-none;
		}
		@include pseudo-focus {
			@extend %clf2-default-large-screen-color-CC9;
			@extend %clf2-default-large-screen-background-color-030;
			@extend %clf2-default-large-screen-outline-none;
		}
	}
}
%clf2-default-large-screen-all-toppage {
	@extend %clf2-default-large-screen-text-align-center;
	background: {
		image: url(../images/tphp.gif);
		repeat: no-repeat;
		position: 50% 0;//top center
	}
	a {
		@include inline-block;
		padding-top: 13px;
	}
}
%clf2-3col-equalize-display {
  display: block !important;
}

html {
	overflow-y: scroll;
}

body {
	@extend %clf2-default-large-screen-margin-0;
	@extend %clf2-default-large-screen-padding-0;
}

#wb-main {
	@extend %clf2-default-large-screen-background-fff;
	@extend %clf2-default-large-screen-box-model-centered;
}

#wb-foot-in {
	@extend %clf2-default-large-screen-background-fff;
	@extend %clf2-default-large-screen-overflow-hidden;
	@extend %clf2-default-large-screen-white-side-borders;
}

#wb-head-in {
	@extend %clf2-default-large-screen-background-fff;
	@extend %clf2-default-large-screen-white-side-borders;
	@extend %clf2-default-large-screen-overflow-hidden;
	border-top: 10px solid #FFF;
}

#wb-core {
	@extend %clf2-default-large-screen-white-side-borders;
}

#wb-head {
	@extend %clf2-default-large-screen-overflow-hidden;
}

#wb-foot {
	@extend %clf2-default-large-screen-overflow-hidden;
}

#wb-core-in {
	@extend %clf2-default-large-screen-background-fff;
	overflow: visible !important;
	@extend %clf2-default-large-position-relative;
	&:after {
		content: ".";
		@extend %clf2-default-large-screen-display-block;
		height: 0;
		clear: both;
		visibility: hidden;
	}
}

/** Centre column **/
#wb-main-in {
	padding-top: 1px;
	padding-bottom: 1px;
	h1 {
		margin-top: 0;
	}
}

#wb-body {
	#wb-main {
		@extend %clf2-default-large-float-left;
	}
}

[id|="wb-body-sec"] {
	#wb-main {
		@extend %clf2-default-large-float-right;
	}
	#wb-main-in {
		@extend %clf2-default-large-screen-padding-left-5;
	}
}

#wb-body-sec-sup {
	#wb-main {
		@extend %clf2-default-large-position-relative;
	}
	#wb-main-in {
		padding-right: 5px;
	}
}

/** Left column **/
#wb-sec {
	@extend %clf2-default-large-screen-box-model-centered;
	@extend %clf2-default-large-float-left;
	@extend %clf2-default-large-screen-background-color-CC9;
}

/** Right column **/
#wb-sup {
	@extend %clf2-default-large-screen-box-model-centered;
	@extend %clf2-default-large-float-right;
	@extend %clf2-default-large-position-relative;
}

#wb-skip {
	a {
		@include pseudo-focus {
			background-color: #363;
		}
	}
}

#cn-sig {
	@extend %clf2-default-large-screen-img-no-bottom-margin;
	@extend %clf2-default-large-float-left;
	width: 50%;
	min-width: 300px;
}

#cn-wmms {
	@extend %clf2-default-large-screen-img-no-bottom-margin;
	@extend %clf2-default-large-float-right;
	@extend %clf2-default-large-screen-text-align-right;
	width: 49.8%;
	min-width: 100px;
}

#cn-leaf {
	@extend %clf2-default-large-position-relative;
	z-index: 2;
	@extend %clf2-default-large-float-left;
	@extend %clf2-default-large-screen-text-align-center;
	@extend %clf2-default-large-width-100perc;
	min-width: 70px;
	height: 70px;
	background: {
		image: url(../images/lffl.png);
		repeat: no-repeat;
		position: top center;
	}
	margin-top: 2px;
}

#cn-banner {
	@extend %clf2-default-large-screen-all-banners;
}

#cn-banner-eng {
	@extend %clf2-default-large-screen-all-banners;
}

#cn-banner-fra {
	@extend %clf2-default-large-screen-all-banners;
}

#cn-psnb {
	@extend %clf2-default-large-screen-psnb-and-2;
}

#cn-psnb-2 {
	@extend %clf2-default-large-screen-psnb-and-2;
}

#cn-psnb6 {
	@extend %clf2-default-large-screen-a-pseudo-width120pct;
}

#cn-psnb6-2 {
	@extend %clf2-default-large-screen-a-pseudo-width120pct;
}

.wb-sec-def {
	form {
		margin-bottom: 0;
	}
	h3 {
		padding: 2px 5px;
		background-color: #363;
		margin: {
			top: 0;
			bottom: 0;
		}
		font-size: 110%;
		@extend %clf2-default-large-screen-color-fff;
		@extend %clf2-default-large-text-decoration-none;
		@extend %clf2-default-large-screen-display-block;
		a {
			margin: -2px -5px;
			padding: 2px 5px;
			@extend %clf2-default-large-width-100perc;
			@include pseudo-focus {
				@extend %clf2-default-large-screen-display-block-padding3-5-3-10px;
			}
			&:link {
				@extend %clf2-default-large-screen-color-fff;
				@extend %clf2-default-large-text-decoration-none;
				@extend %clf2-default-large-screen-display-block;
			}
			&:visited {
				@extend %clf2-default-large-screen-color-fff;
				@extend %clf2-default-large-text-decoration-none;
				@extend %clf2-default-large-screen-display-block;
			}
		}
		label {
			@extend %clf2-default-large-screen-font-weight-700;
		}
	}
	li {
		@extend %clf2-default-large-screen-a-psuedo-styling;
		border-top: 1px solid #363;
		&:first-child {
			@extend %clf2-default-large-screen-border-none;
		}
		a {
			@extend %clf2-default-large-screen-display-block-padding3-5-3-10px;
		}
		li {
			margin-left: 0;
			@extend %clf2-default-large-screen-padding-0;
			@extend %clf2-default-large-screen-border-none;
			a {
				padding: 1px 5px 1px 5px;
				margin-left: -5px;
			}
		}
	}
	ul {
		@extend %clf2-default-large-screen-list-style-type-none;
		@extend %clf2-default-large-screen-margin-0;
		ul {
			list-style-type: disc;
			margin-left: 25px;
		}
	}
	#cn-search-box {
		@extend %clf2-default-large-screen-cn-search-box;
		#cn-search-submit {
			@extend %clf2-default-large-screen-cn-search-box-child-cn-search-submit;
		}
		#cn-search {
			@extend %clf2-default-large-screen-cn-search-box-child-cn-search;
		}
	}
}

.cn-search-box {
	@extend %clf2-default-large-screen-cn-search-box;
	.cn-search {
		@extend %clf2-default-large-screen-cn-search-box-child-cn-search;
	}
	.cn-search-submit {
		@extend %clf2-default-large-screen-cn-search-box-child-cn-search-submit;
	}
}

#cn-search-box {
	@extend %clf2-default-large-screen-a-psuedo-styling;
	a {
		@extend %clf2-default-large-screen-display-block-padding3-5-3-10px;
	}
}

#cn-in-pd {
	border-top: 15px solid #363;
	ul {
		@extend %clf2-default-large-screen-list-style-type-none;
		margin: -2px 0 0 -40px;
	}
}

#cn-toppage-foot {
	@extend %clf2-default-large-screen-all-toppage;
	@extend %clf2-default-large-float-left;
	@extend %clf2-default-large-screen-text-align-center;
	margin-left: 5px;
	@extend %clf2-default-large-screen-min-width-4em;
}

#cn-in-pd-links {
	@extend %clf2-default-large-float-right;
	@extend %clf2-default-large-screen-text-align-right;
	@extend %clf2-default-large-screen-min-width-4em;
}

.cn-toppage {
	@extend %clf2-default-large-screen-all-toppage;
	@extend %clf2-default-large-float-right;
}

#cn-search-submit {
	margin-top: 5px;
}

.wb-sup-def {
	h3 {
		padding: 2px 5px;
		background-color: #363;
		margin: {
			top: 0;
			bottom: 0;
		}
		font-size: 110%;
		@extend %clf2-default-large-screen-color-fff;
		@extend %clf2-default-large-text-decoration-none;
		@extend %clf2-default-large-screen-display-block;
		a {
			margin: -2px -5px;
			padding: 2px 5px;
			@extend %clf2-default-large-width-100perc;
			@include pseudo-focus {
				@extend %clf2-default-large-screen-background-color-030;
				@extend %clf2-default-large-screen-color-CC9;
			}
			&:link {
				@extend %clf2-default-large-screen-color-fff;
				@extend %clf2-default-large-text-decoration-none;
				@extend %clf2-default-large-screen-display-block;
			}
			&:visited {
				@extend %clf2-default-large-screen-color-fff;
				@extend %clf2-default-large-text-decoration-none;
				@extend %clf2-default-large-screen-display-block;
			}
		}
		+ {
			div {
				border: 1px solid #000;
				padding: {
					left: 8px;
					right: 5px;
				}
				margin-bottom: 10px;
				ul {
					a {
						margin: {
							left: -8px;
							right: -5px;
						}
						padding-left: 8px;
					}
					ul {
						a {
							padding: 1px 5px;
							margin-left: -5px;
						}
					}
				}
			}
		}
	}
	ul {
		@extend %clf2-default-large-screen-list-style-type-none;
		margin: {
			top: 0;
			bottom: 5px;
		}
		ul {
			list-style-type: disc;
			margin-bottom: 0;
		}
	}
	li {
		margin-left: -40px;
		li {
			margin-left: 0;
			@extend %clf2-default-large-screen-padding-0;
			@extend %clf2-default-large-screen-border-none;
		}
		a {
			@extend %clf2-default-large-screen-display-block;
			padding: 3px 5px 3px 10px;
			&:link {
				@extend %clf2-default-large-screen-color-000;
				@extend %clf2-default-large-text-decoration-none;
			}
			&:visited {
				@extend %clf2-default-large-screen-color-636;
				@extend %clf2-default-large-text-decoration-none;
			}
			@include pseudo-focus {
				@extend %clf2-default-large-screen-color-CC9;
				@extend %clf2-default-large-screen-background-color-030;
				@extend %clf2-default-large-screen-outline-none;
			}
			img {
				margin: {
					top: -3px;
					left: -10px;
				}
			}
		}
	}
}

/** .equalize fix: 2 column layout */
#wb-body-sec {
	.equalize {
		> {
			#wb-main {
				border-left: 5px solid transparent;
			}
		}
	}
}

/** .equalize fix: 3 column layout */
#wb-body-sec-sup {
	.equalize {
		@extend %clf2-3col-equalize-display;
		> {
			#wb-sec {
				float: left !important;
				@extend %clf2-3col-equalize-display;
			}
			#wb-main {
				@extend %clf2-default-large-float-right-important;
				@extend %clf2-3col-equalize-display;
			}
			#wb-sup {
				@extend %clf2-default-large-float-right-important;
				@extend %clf2-3col-equalize-display;
			}
		}
	}
}