/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 */
 .ie7 {
	%clf2-default-ie7-bc-all {
		ol {
			margin: 1px 0 3px 0;
			clear: left;
			line-height: 1.25em;
		}
		li {
			padding-bottom: 3px;
		}
	}
	#cn-bc2 {
		ol {
			margin-top: -3px;
		}
	}
}