/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-eng.html / wet-boew.github.io/wet-boew/Licence-fra.html
 */

html {
	overflow-y: scroll;
}

body {
	min-width: 780px;
	margin: 0;
	padding: 0;
}

#wb-body {
	border: 10px solid #FFF;
	#wb-main {
		width: 760px;
		float: left;
	}
}

/** Box model - centered **/
%clf2-serv-screen-width100pct {
	width: 100%;
}

#wb-head {
	@extend %clf2-serv-screen-width100pct;
	@extend %clf2-serv-screen-overflow-hidden;
}

#cn-foot {
	@extend %clf2-serv-screen-width100pct;
	@extend %clf2-serv-screen-overflow-hidden;
}

%clf2-serv-screen-width760px {
	width: 760px;
	margin: auto;
}

#wb-core {
	@extend %clf2-serv-screen-width760px;
}

#wb-head-in {
	@extend %clf2-serv-screen-width760px;
	@extend %clf2-serv-screen-overflow-hidden;
}

#wb-foot-in {
	@extend %clf2-serv-screen-width760px;
	@extend %clf2-serv-screen-overflow-hidden;
}

#wb-main {
	z-index: 1;
	display: inline;
}

/** Overflow restrict for background paintability control **/
%clf2-serv-screen-overflow-hidden {
	overflow: hidden;
}

#wb-core-in {
	@extend %clf2-serv-screen-width760px;
	overflow: visible !important;
	position: relative;
	&:after {
		content: ".";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
	}
}

/** Centre column **/
#wb-main-in {
	padding: {
		top: 1px;
		bottom: 1px;
	}
	h1 {
		margin-top: 0;
	}
}

#wb-skip {
	li {
		span {
			display: block;
		}
	}
	a {
		@include pseudo-focus {
			background-color: #363;
		}
	}
}

#cn-sig {
	float: left;
	width: 50%;
	min-width: 300px;
}

#cn-wmms {
	float: right;
	text-align: right;
	width: 49.8%;
	min-width: 100px;
}

#cn-in-pd {
	border-top: 15px solid #363;
}