/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-eng.txt / wet-boew.github.io/wet-boew/Licence-fra.txt
 */
%clf2-serv-clip {
	position: absolute;
	@include clip-rect;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden !important;
}

#wb-body {
	h1 {
		@extend %clf2-serv-clip;
	}
}

#wb-skip {
	display: none;
	visibility: hidden;
}

%clf2-serv-width49pct {
	width: 49%;
}

#cn-left-msg {
	float: left;
	@extend %clf2-serv-width49pct;
}

#cn-right-msg {
	float: right;
	@extend %clf2-serv-width49pct;
}

#cn-in-pd {
	h3 {
		@extend %clf2-serv-clip;
	}
	ul {
		list-style-type: none;
		margin: -2px 0 0 0;
		li {
			width: 47%;
			margin-top: 5px;
		}
	}
}

#cn-inotices-link-left {
	float: left;
}

#cn-inotices-link-right {
	float: right;
	text-align: right;
}

.cn-doc-dates {
	margin: 0;
	width: 100%;
	float: left;
	clear: left;
	min-width: 6em;
	margin-top: 5px;
	dt {
		display: inline;
	}
	dd {
		margin-left: 0;
		display: inline;
		span {
			white-space: nowrap;
		}
	}
}