/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-eng.html / wet-boew.github.io/wet-boew/Licence-fra.html
 */
#wb-head {
	width: 100%;
}
#wb-core {
	margin-top: 10px;
}
#cn-sig {
	position: absolute;
	top: 0;
	left: 0;
}
#cn-wmms {
	position: absolute;
	top: 0;
	right: 0;
}
#cn-foot {
	width: 100%;
	float: left;
	border-top: 1px solid #000;
}