/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-eng.html / wet-boew.github.io/wet-boew/Licence-fra.html
 */
body {
	min-width: 780px;
}

/** Box model - centered **/
%clf2-serv-responsive-width100pct {
	width: 100%;
}

#wb-head {
	@extend %clf2-serv-responsive-width100pct;
}

#cn-foot {
	@extend %clf2-serv-responsive-width100pct;
}

%clf2-serv-responsive-width760px {
	width: 760px;
	margin: auto;
}

#wb-core {
	@extend %clf2-serv-responsive-width760px;
}

#wb-core-in {
	@extend %clf2-serv-responsive-width760px;
}

#wb-head-in {
	@extend %clf2-serv-responsive-width760px;
}

#wb-foot-in {
	@extend %clf2-serv-responsive-width760px;
}
