/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-eng.html / wet-boew.github.io/wet-boew/Licence-fra.html
 */
body {
	min-width: 600px;
}

/** Box model - centered **/
%clf2-sp-pe-responsive-width100pct {
	width: 100%;
}

#wb-head {
	@extend %clf2-sp-pe-responsive-width100pct;
}

#wb-foot {
	@extend %clf2-sp-pe-responsive-width100pct;
}

%clf2-sp-pe-responsive-margin-auto {
	margin: auto;
}

%clf2-sp-pe-responsive-width600px {
	width: 600px;
}

#wb-core {
	@extend %clf2-sp-pe-responsive-width600px;
	@extend %clf2-sp-pe-responsive-margin-auto;
}

#wb-core-in {
	@extend %clf2-sp-pe-responsive-width600px;
	@extend %clf2-sp-pe-responsive-margin-auto;
}

%clf2-sp-pe-responsive-width760px {
	width: 760px;
	@extend %clf2-sp-pe-responsive-margin-auto;
}

#wb-head-in {
	@extend %clf2-sp-pe-responsive-width760px;
}

#wb-foot-in {
	@extend %clf2-sp-pe-responsive-width760px;
}

/** Centre column **/
#wb-body {
	@extend %clf2-sp-pe-responsive-width600px;
	#wb-main {
		//TODO: Is the nested ID selector important or can the above and below 600px rules be combined
		@extend %clf2-sp-pe-responsive-width600px;
	}
}
#cn-msg-space {
	@extend %clf2-sp-pe-responsive-width600px;
}