/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 */

html {
	overflow-y: scroll;
}

body {
	margin: 0;
	padding: 0;
}

#wb-skip {
	display: none;
	visibility: hidden;
}

/** Box model - centered **/
#wb-main {
	z-index: 1;
	display: inline;
}

/** Overflow restrict for background paintability control **/
%clf2-sp-pe-overflow-hidden {
	overflow: hidden;
}

#wb-head {
	@extend %clf2-sp-pe-overflow-hidden;
}

#wb-head-in {
	@extend %clf2-sp-pe-overflow-hidden;
}

#wb-foot-in {
	@extend %clf2-sp-pe-overflow-hidden;
}

#wb-core-in {
	overflow: visible !important;
	position: relative;
	&:after {
		content: ".";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
	}
}

/** Centre column **/
#wb-main-in {
	padding: {
		top: 1px;
		bottom: 1px;
	}
	h1, h2 {
		@extend %clf2-sp-pe-clip;
	}
}

#wb-body {
	margin: 0 auto;
	border: 10px solid #FFF;
	border-top-width: 20px;
	#wb-main {
		float: left;
	}
}

%clf2-sp-pe-clip {
	position: absolute;
	@include clip-rect;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden !important;
}

#cn-in-pd {
	h3 {
		@extend %clf2-sp-pe-clip;
	}
}

#cn-sig {
	margin-bottom: 6px;
}

#cn-msg-space {
	float: left;
	margin-bottom: 30px;
	min-height: 250px;
	color: #000;
}

#cn-upper-msg {
	height: 130px;
	background: #363;
}

#cn-lower-msg {
	min-height: 120px;
	background: #CCC;
	float: left;
	width: 100%;
	p {
		width: 45%;
		font-size: 140%;
		padding: 0 5px;
	}
}

#cn-left-msg {
	float: left;
}

#cn-right-msg {
	float: right;
	text-align: right;
}

#wb-foot {
	@extend %clf2-sp-pe-overflow-hidden;
	height: 4.2em;
}

#cn-wmms {
	float: right;
	text-align: right;
	img {
		margin: 0;
	}
}

%clf2-sp-pe-all-lang-links {
	list-style-type: none;
	float: left;
	margin: 0;
	padding: {
		left: 0;
		right: 30px;
	}
	clear: left;
	li {
		float: left;
		font-size: 125%;
		font-weight: 700;
		width: 7.5em;
		height: 1.65em;
		text-align: center;
		margin: {
			bottom: 10px;
			right: 30px;
		}
		border: {
			top: #CCC 2px solid;
			left: #CCC 2px solid;
			bottom: #666 2px solid;
			right: #666 2px solid;
		}
		a {
			display: block;
			height: 100%;
			text: {
				decoration: none;
				transform: capitalize;
			}
			line-height: 1.6em;
		}
	}
}

#cn-other-lang-links {
	@extend %clf2-sp-pe-all-lang-links;
	width: 95%;
	li {
		background-color: #FFF;
		margin-top: 10px;
		a {
			&:link, &:visited {
				color: #000;
				background-color: #FFF;
			}
			@include pseudo-focus {
				color: #FFF;
				background-color: #000;
			}
		}
	}
}

#cn-ef-lang-links {
	@extend %clf2-sp-pe-all-lang-links;
	li {
		background-color: #000;
		a {
			&:link, &:visited {
				color: #FFF;
				background-color: #000;
			}
			@include pseudo-focus {
				color: #000;
				background-color: #FFF;
			}
		}
	}
}

#cn-in-links {
	list-style-type: none;
	float: left;
	margin: 0;
	padding: {
		left: 0;
		right: 30px;
	}
	li {
		float: left;
		width: 9.7em;
		margin-right: 30px;
	}
}
