/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt
 */
.ie7 {
	#cn-lower-msg {
		p {
			margin-top: 18px;
		}
	}
	#cn-other-lang-links {
		margin-top: 10px;
	}
	#cn-sig {
		margin-bottom: 9px;
	}
	#cn-msg-space {
		float: none;
	}
}

.ie8 {
	#wb-body {
		#wb-main {
			padding-bottom: 10px;
		}
	}
}