@charset "utf-8";
/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * www.tbs.gc.ca/ws-nw/wet-boew/terms / www.sct.gc.ca/ws-nw/wet-boew/conditions
 */
#wb-sec,#wb-sup,#cn-leaf, .cn-toppage, #cn-banner p, #cn-banner-eng p, #cn-banner-fra p, #cn-psnb, #cn-psnb-2, #cn-toppage-foot, #cn-in-pd-links{
	display: none;
}
#wb-head{
	width: 100%;
}
#cn-sig{
	position: absolute;
	top: 0;left: 0;
}
#cn-wmms{
	position: absolute;
	top: 0;
	right: 0;
}
#cn-banner, #cn-banner-eng, #cn-banner-fr{
	#cn-banner-text{
		display: block;
		font-size: 14pt;
		width: 100%;
		color: #000;
		margin-top: 25px;
		margin-bottom: 6px;
		text-align: center;
	}
}
#cn-bc, #cn-bc2{
	ol{
		border-top: 1px solid #000;
		padding-top: 5px;
		margin-bottom: 5px;
	}
}
#wb-foot{
	border-top: 1px solid #000;
}
#cn-doc-dates{
	width: 100%;
}