@charset "utf-8";
/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * www.tbs.gc.ca/ws-nw/wet-boew/terms / www.sct.gc.ca/ws-nw/wet-boew/conditions
 */
	
	#wb-head {float: none;}
	#cn-leaf {margin-top: 5px;}
	#cn-psnb ul, #cn-psnb-2 ul {height: auto; overflow: hidden;}
	#cn-psnb ul li, #cn-psnb-2 ul li {width: 16.6%;}
	
	.wb-sec-def ul, .wb-sup-def ul {margin-left: 0px;}
	.wb-sec-def ul ul, .wb-sup-def ul ul {margin-left: 40px;}
	.wb-sec-def li, .wb-sup-def li {margin-left: auto;}
	.wb-sec-def #cn-search-box, .cn-search-box {margin-top: -15px;}
	.wb-sec-def #cn-search-box a, .cn-search-box a {margin-bottom: -19px;}
	.wb-sec-def #cn-search-box #cn-search-submit, .cn-search-box .cn-search-submit {overflow: visible; padding: 0 8px;}
	.wb-sec-def h3 a:hover, .wb-sec-def h3 a:active, .wb-sec-def h3 a:focus, .wb-sup-def h3 a:hover, .wb-sup-def h3 a:active, .wb-sup-def h3 a:focus {zoom: 1;}
	.wb-sup-def h3 + div p {margin-top: 1em; margin-bottom: 1em;}
	.wb-sup-def {margin-bottom: -10px;}
