@charset "utf-8";
/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * www.tbs.gc.ca/ws-nw/wet-boew/terms / www.sct.gc.ca/ws-nw/wet-boew/conditions
 */
.ie7{
	#wb-head{
		float: none;
	}
	#cn-leaf{
		margin-top: 5px;
	}
	#cn-psnb, #cn-psnb-2{
		ul{
			height: auto;
			overflow: hidden;
			li{
				width: 16.6%;
			}
		}
	}
	#wb-main-in{
		h1,h2,h3,h4,h5,h6,p,blockquote,table,form,img,pre{
			margin-left:0;
			margin-right:0;
		}
	}
	.wb-sec-def, .wb-sup-def{
		ul{
			margin-left: 0px;
			ul{
				margin-left: 40px;
			}
		}
		li{
			margin-left: auto;
		}
		h3{
			a:hover, a:active, a:focus{
				zoom: 1;
			}
		}
	}
	.wb-sec-def #cn-search-box, .cn-search-box{
		margin: -15px -10px 0 -10px;
		a{
			margin-bottom: -9px;
		}
	}
	.wb-sec-def #cn-search-box #cn-search-submit, .cn-search-box .cn-search-submit{
		overflow: visible;
		padding: 0 8px;
	}
	.wb-sup-def{
		margin-bottom: -10px;
		h3 {
			margin-left:0;
			margin-right:-10px;
			& + div p{
				margin-top: 1em;
				margin-bottom: 1em;
				margin-left:0px;
			}	
		}
	}
	#wb-foot{
		margin-top:-20px;
	}
}