@charset "utf-8";
/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * www.tbs.gc.ca/ws-nw/wet-boew/terms / www.sct.gc.ca/ws-nw/wet-boew/conditions
 */
html{
	overflow-y: scroll;
}
body{
	min-width:780px;
	margin:0;
	padding:0;
}
#wb-body{
	border: 10px solid #FFF;
}

/** Box model - centered **/
#wb-head, #cn-foot{
	width: 100%;
}
#wb-core, #wb-core-in{
	width:760px;
	margin:auto;
}
#wb-head-in, #wb-foot-in{
	width:760px;
	margin:auto;
}
#wb-main{
	z-index:1;
	display:inline;
}

/** Overflow restrict for background paintability control **/
#wb-head, #wb-head-in, #cn-foot, #wb-foot-in{
	overflow:hidden;
}
#wb-core-in{
	overflow:visible !important;
	position:relative;
	&:after{
		content:".";
		display:block;
		height:0;
		clear:both;
		visibility:hidden;
	}
}