@charset "utf-8";
/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * www.tbs.gc.ca/ws-nw/wet-boew/terms / www.sct.gc.ca/ws-nw/wet-boew/conditions
 */
#wb-skip{
	li span{
		display: block;
	}
	a:hover, a:focus, a:active{
		background-color: #363;
	}
}