---
{
	"title": "Postback",
	"language": "en",
	"category": "Plugins",
	"categoryfile": "plugins",
	"description": "Makes AJAX request when submitting a form.",
	"altLangPrefix": "wb-postback",
	"dateModified": "2020-04-16"
}
---
<span class="wb-prettify all-pre hide"></span>

<div class="alert alert-warning">
	<h2>Unstable feature</h2>
	<p>To be used at <strong>your own risk</strong>. This feature described below can be removed in any subsequent minor/major release</p>
	<p><small><a href="https://wet-boew.github.io/wet-boew-documentation/decision/7.html">Learn more about the design decision around provisional features.</a></small></p>
	<p><small><a href="../provisional-en.html">Check other provisional features available.</a></small></p>
</div>

<section>
	<h2>Purpose</h2>
	<p>This plugin makes an AJAX request when a form is submitted to stay on page.</p>
</section>

<section>
	<h2>Use when</h2>
	<ul>
		<li>When making AJAX request for submitting a form in order to stay on page</li>
	</ul>
</section>

<section>
	<h2>Working example</h2>
	<ul>
		<li><a href="../../../demos/wb-postback/wb-postback-en.html">English example</a></li>
		<li><a hreflang="fr" href="../../../demos/wb-postback/wb-postback-fr.html">French example</a></li>
	</ul>
</section>

<section>
	<h2 id="config">Configuration option</h2>
	<table class="table">
		<thead>
			<tr>
				<th>Option</th>
				<th>Description</th>
				<th>How to configure</th>
				<th>Values</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><code>multiple</code></td>
				<td>Allows a single form to be submitted multiple times on the same page.</td>
				<td>Add a data attribute called <code>data-wb-postback-multiple</code>.</td>
				<td>
					<dl>
						<dt><code>""</code>:</dt>
						<dd>Any or no value works without impact</dd>
					</dl>
				</td>
			</tr>
		</tbody>
	</table>
</section>

<section>
	<h2>Events</h2>
	<p>Document the public events that can be used by implementers or developers.</p>
	<table class="table">
		<thead>
			<tr>
				<th>Event</th>
				<th>Trigger</th>
				<th>What it does</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><code>wb-init.wb-postback</code></td>
				<td>Triggered manually.</td>
				<td>Used to manually initialize the plugin.</td>
			</tr>
			<tr>
				<td><code>wb-ready.wb-postback</code> (v4.0.24+)</td>
				<td>Triggered automatically after plugin initializes.</td>
				<td>Used to identify the element where plugin has initialized (target of the event)
				</td>
			</tr>
			<tr>
				<td><code>wb-ready.wb</code> (v4.0.24+)</td>
				<td>Triggered automatically when WET has finished loading and executing.</td>
				<td>Used to identify when all WET plugins and polyfills have finished loading and executing.
					<pre><code>$( document ).on( "wb-ready.wb", function( event ) {});</code></pre>
				</td>
			</tr>
		</tbody>
	</table>
</section>

<section>
	<h2>Source code</h2>
	<p><a href="https://github.com/wet-boew/wet-boew/tree/master/src/plugins/wb-postback">Postback source code on GitHub</a></p>
</section>
