---
{
	"title": "Chronologie intégrée Twitter",
	"language": "fr",
	"category": "Plugiciels",
	"categoryfile": "plugins",
	"description": "Affiche des chronologies intégrées Twitter.",
	"altLangPrefix": "twitter",
	"dateModified": "2014-08-04"
}
---
<span class="wb-prettify all-pre hide"></span>

<div lang="en">
<p><strong>Needs translation</strong></p>
<section>
	<h2>Purpose</h2>
	<p>Helps with implementing Twitter embedded timelines.</p>
</section>

<section>
	<h2>Working example</h2>
	<ul>
		<li><a href="../../../demos/twitter/twitter-en.html">English example</a></li>
		<li><a href="../../../demos/twitter/twitter-fr.html">French example</a></li>
	</ul>
</section>

<section>
	<h2>How to implement</h2>
	<strong>Determine the type of timeline at <a rel="external" href="https://dev.twitter.com/web/overview">Twitter for Websites</a></strong>

	<ol>
		<li>Create you html embedded timline link using <a rel="external" href="https://publish.twitter.com/">Twitter Publish</a> tool or learn more about query generation at <a rel="external" href="https://dev.twitter.com/web/embedded-timelines/search">Embedded Search Timeline</a>.
			<pre><code>&lt;a class=&quot;twitter-timeline&quot; href=&quot;https://twitter.com/WebExpToolkit&quot; data-tweet-limit=&quot;3&quot; &gt;Tweets by @WebExpToolkit&lt;/a&gt;</code></pre>
		</li>
		<li>Wrap the html embedded timline link with a <code>div</code> element with <code>class="wb-twitter"</code>.
			<pre><code>&lt;div class="wb-twitter"&gt;&lt;/div&gt;</code></pre>
		</li>
		<li>
			With this example your final code should be:
			<pre><code>&lt;div class=&quot;wb-twitter&quot;&gt;
&lt;a class=&quot;twitter-timeline&quot; href=&quot;https://twitter.com/WebExpToolkit&quot; data-tweet-limit=&quot;3&quot; &gt;Tweets by @WebExpToolkit&lt;/a&gt;
&lt;/div&gt;</code></pre>
		</li>
	</ol>
</section>

<section>
	<h2>Configuration options</h2>
	<p>All configuration options are detailed in <a rel="external" href="https://dev.twitter.com/web/overview">Twitter for Websites</a> documentation.</p>
</section>

<section>
	<h2>Events</h2>
	<table class="table">
		<thead>
			<tr>
				<th>Event</th>
				<th>Trigger</th>
				<th>What it does</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><code>wb-init.wb-twitter</code></td>
				<td>Triggered manually (e.g., <code>$( ".wb-twitter" ).trigger( "wb-init.wb-twitter" );</code>).</td>
				<td>Used to manually initialize the Twitter embedded timeline. <strong>Note:</strong> The Twitter embedded timeline will be initialized automatically unless the required markup is added after the page has already loaded.</td>
			</tr>
			<tr>
				<td><code>wb-ready.wb-twitter</code> (v4.0.5+)</td>
				<td>Triggered automatically after the Twitter embedded timeline initializes.</td>
				<td>Used to identify where the Twitter embedded timeline was initialized (target of the event).
					<pre><code>$( document ).on( "wb-ready.wb-twitter", ".wb-twitter", function( event ) {
});</code></pre>
					<pre><code>$( ".wb-twitter" ).on( "wb-ready.wb-twitter", function( event ) {
});</code></pre>
				</td>
			</tr>
			<tr>
				<td><code>wb-ready.wb</code> (v4.0.5+)</td>
				<td>Triggered automatically when WET has finished loading and executing.</td>
				<td>Used to identify when all WET plugins and polyfills have finished loading and executing.
					<pre><code>$( document ).on( "wb-ready.wb", function( event ) {
});</code></pre>
				</td>
			</tr>
		</tbody>
	</table>
</section>

<section>
	<h2>Source code</h2>
	<p><a href="https://github.com/wet-boew/wet-boew/tree/master/src/plugins/twitter">Twitter embedded timeline plugin source code on GitHub</a></p>
</section>
</div>
