---
{
	"title": "Liste de contrôle pour les tests d'accessibilité mobiles - Boîte à outils de l’expérience Web (BOEW)",
	"language": "fr",
	"category": "Autre",
	"categoryfile": "other",
	"description": "Un guide pour les tests d'accessibilité mobiles au jour le jour – on devrait être capable de répondre «oui» à chaque question.",
	"altLangPrefix": "checklist",
	"dateModified": "2018-07-10"
}
---
<div lang="en">
<p><strong>Needs translation</strong></p>
<section>
	<h2>Purpose</h2>
	<p>This is intended as a guide to use in day-to-day testing – one should be able to answer ‘yes’ to each question.</p>
</section>

<section>
	<h2>Working example</h2>

	<ul>
		<li><a href="../../../demos/checklist/checklist-en.html">English example (AA)</a></li>
		<li><a href="../../../demos/checklist/checklist-fr.html">French example (AA)</a></li>
	</ul>
</section>

<section>
	<h2>Source code</h2>
	<p><a href="https://github.com/wet-boew/wet-boew/tree/master/src/other/checklist">Checklist for mobile accessibility tests source code on GitHub</a></p>
</section>
</div>
