/* Desktop view */
@media screen and (min-width: 768px) and (min-device-width: 768px) {
	#wb-body #gcwu-content {
		width: 720px;
	}

	#wb-body-sec #gcwu-content {
		width: 480px;
	}

	#gcwu-aside, #gcwu-priorities {
		width: 220px;
	}
}

@media screen and (min-width: 768px) and (max-width: 959px) and (min-device-width: 768px) {
	#wb-body #gcwu-content {
		width: 576px;
	}

	#wb-body-sec #gcwu-content {
		width: 480px;
	}

	#gcwu-aside, #gcwu-priorities {
		width: 172px;
	}
}

@media screen and (min-width: 1200px) and (min-device-width: 768px) {
	#wb-body #gcwu-content {
		width: 900px;
	}

	#wb-body-sec #gcwu-content {
		width: 580px;
	}

	#gcwu-aside, #gcwu-priorities {
		width: 280px;
	}
}

#gcwu-headlines ul, #gcwu-headlines ul li {
	list-style: none !important;
	margin: 0 !important;
	padding: 0 !important;
}

#gcwu-headlines ul li a {
	font-size: 100%;
}
#gcwu-headlines ul li h3, #gcwu-headlines ul li p {
	margin: 0;
	padding: 5px;
}
#gcwu-headlines ul li h3 {
	font-size: 1em;
	font-weight: 700;
}

#gcwu-video a {
	font-size: 100%;
}

#gcwu-video .mediaplayer {
	line-height:0;
}
#gcwu-video ul.mp-downloadable, .gcwu-minister h3, #gcwu-aside h2 {
	clip: rect(1px, 1px, 1px, 1px);
	height: 0 !important;
	overflow: hidden !important;
	position: absolute;
	width: 0 !important;
	margin: 0 !important;
}
#gcwu-video div.background-dark {
	background: #eee !important;
	color: #000;
	padding-bottom: 10px;
}

#gcwu-connect h2 {
	border: none;
	margin-bottom: 5px;
	color: #333;
	float: left;
	margin-top: 2px;
	margin-right: 10px;
}
#gcwu-connect ul {
	list-style-type: none;
}
#gcwu-connect li {
	display: inline-block;
}
#gcwu-connect a {
	background: none;
	padding-right: 0;
	text-decoration: none;
}

#gcwu-aside {
	float: right;
	margin-left: 10px;
	margin-right: 10px;
}
#gcwu-aside img {
	margin: 0;
}

.gcwu-minister-in {
	min-height: 149px;
}

.gcwu-minister {
	margin-top: 10px;
}
.gcwu-minister-in {
	background: #eee url(images/bg-minister-bottom.gif) no-repeat right bottom;
}
.gcwu-minister h3 {
	margin-left: 0;
	margin-right: 0;
}
.gcwu-minister img {
	padding-right: 5px;
	float: left;
	margin: 0;
}
.gcwu-minister p {
	padding: 10px 5px 10px 0;
	margin: 0;
	background: #fff url(images/bg-minister-top.gif) no-repeat right top;
}
.gcwu-minister p strong {
	font-weight: 700;
	color: #001D45;
}
.gcwu-minister ul {
	list-style-type: none;
	padding-top: 17px;
	margin: 0;
}
.gcwu-minister ul:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.gcwu-minister li {
	padding-bottom: 8px;
}
.gcwu-minister li a:hover, .gcwu-minister li a:focus, .gcwu-minister li a:active {
	text-decoration: none;
}

@media screen and (max-width: 767px), screen and (max-device-width: 767px) {
	.gcwu-minister-in, .gcwu-minister p {
		background-image: none !important;
	}
}

.ie7 #gcwu-video ul.mp-downloadable, ie7 .gcwu-minister h3, .ie7 #gcwu-aside h2 {
	clip: rect(1px 1px 1px, 1px);
}

.ie7 .gcwu-minister ul {
	padding-bottom: 17px;
}