---
{
	"title": "Dropdown",
	"language": "en",
	"category": "Plugins",
	"description": "Dropdown button to display a list of actions or links on click",
	"tag": "dropdown",
	"parentdir": "dropdown",
	"altLangPrefix": "dropdown",
	"dateModified": "2023-02-14"
}
---

<span class="wb-prettify all-pre"></span>

<h2>Dropdown with links</h2>
<div class="dropdown">
	<button class="btn btn-default dropdown-toggle" type="button">Dropdown <span class="caret"></span></button>
	<ul class="dropdown-menu">
		<li><a href="#">A link</a></li>
		<li><a href="#">Another link</a></li>
		<li><a href="#">Something else</a></li>
	</ul>
</div>
<details class="mrgn-tp-md">
	<summary>Source code</summary>
	<pre><code>&lt;div class="dropdown"&gt;
	&lt;button class="btn btn-default dropdown-toggle" type="button"&gt;Dropdown&lt;/button&gt;
	&lt;ul class="dropdown-menu"&gt;
		&lt;li&gt;&lt;a href="#"&gt;A link&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href="#"&gt;Another link&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href="#"&gt;Something else&lt;/a&gt;&lt;/li&gt;
	&lt;/ul&gt;
&lt;/div&gt;</code></pre>
</details>

<h2>Dropdown with action buttons</h2>
<div class="dropdown">
	<button class="btn btn-default dropdown-toggle" type="button">Dropdown <span class="caret"></span></button>
	<ul class="dropdown-menu">
		<li><button type="button">Action</button></li>
		<li><button type="button">Another action</button></li>
		<li><button type="button">Something else</button></li>
	</ul>
</div>
<details class="mrgn-tp-md">
	<summary>Source code</summary>
	<pre><code>&lt;div class="dropdown"&gt;
	&lt;button class="btn btn-default dropdown-toggle" type="button"&gt;Dropdown&lt;/button&gt;
	&lt;ul class="dropdown-menu"&gt;
		&lt;li&gt;&lt;button type="button"&gt;Action&lt;/button&gt;&lt;/li&gt;
		&lt;li&gt;&lt;button type="button"&gt;Another action&lt;/button&gt;&lt;/li&gt;
		&lt;li&gt;&lt;button type="button"&gt;Something else&lt;/button&gt;&lt;/li&gt;
	&lt;/ul&gt;
&lt;/div&gt;</code></pre>
</details>

<h2>Sizing</h2>
<div class="dropdown">
	<button class="btn btn-default btn-lg dropdown-toggle" type="button">Dropdown <span class="caret"></span></button>
	<ul class="dropdown-menu">
		<li><a href="#">A link</a></li>
		<li><a href="#">Another link</a></li>
		<li><a href="#">Something else</a></li>
	</ul>
</div>
<div class="dropdown">
	<button class="btn btn-default btn-sm dropdown-toggle" type="button">Dropdown <span class="caret"></span></button>
	<ul class="dropdown-menu">
		<li><a href="#">A link</a></li>
		<li><a href="#">Another link</a></li>
		<li><a href="#">Something else</a></li>
	</ul>
</div>
<div class="dropdown">
	<button class="btn btn-default btn-xs dropdown-toggle" type="button">Dropdown <span class="caret"></span></button>
	<ul class="dropdown-menu">
		<li><a href="#">A link</a></li>
		<li><a href="#">Another link</a></li>
		<li><a href="#">Something else</a></li>
	</ul>
</div>
<details class="mrgn-tp-md">
	<summary>Source code</summary>
	<pre><code>&lt;div class="dropdown"&gt;
	&lt;button class="btn btn-default btn-lg dropdown-toggle" type="button"&gt;Dropdown &lt;span class="caret"&gt;&lt;/span&gt;&lt;/button&gt;
	&lt;ul class="dropdown-menu"&gt;
		&lt;li&gt;&lt;a href="#"&gt;A link&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href="#"&gt;Another link&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href="#"&gt;Something else&lt;/a&gt;&lt;/li&gt;
	&lt;/ul&gt;
&lt;/div&gt;
&lt;div class="dropdown"&gt;
	&lt;button class="btn btn-default btn-sm dropdown-toggle" type="button"&gt;Dropdown &lt;span class="caret"&gt;&lt;/span&gt;&lt;/button&gt;
	&lt;ul class="dropdown-menu"&gt;
		&lt;li&gt;&lt;a href="#"&gt;A link&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href="#"&gt;Another link&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href="#"&gt;Something else&lt;/a&gt;&lt;/li&gt;
	&lt;/ul&gt;
&lt;/div&gt;
&lt;div class="dropdown"&gt;
	&lt;button class="btn btn-default btn-xs dropdown-toggle" type="button"&gt;Dropdown &lt;span class="caret"&gt;&lt;/span&gt;&lt;/button&gt;
	&lt;ul class="dropdown-menu"&gt;
		&lt;li&gt;&lt;a href="#"&gt;A link&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href="#"&gt;Another link&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href="#"&gt;Something else&lt;/a&gt;&lt;/li&gt;
	&lt;/ul&gt;
&lt;/div&gt;</code></pre>
</details>

<h2>Colors</h2>
<div class="dropdown">
	<button class="btn btn-default dropdown-toggle" type="button">Dropdown <span class="caret"></span></button>
	<ul class="dropdown-menu">
		<li><a href="#">A link</a></li>
		<li><a href="#">Another link</a></li>
		<li><a href="#">Something else</a></li>
	</ul>
</div>
<div class="dropdown">
	<button class="btn btn-primary dropdown-toggle" type="button">Dropdown <span class="caret"></span></button>
	<ul class="dropdown-menu">
		<li><a href="#">A link</a></li>
		<li><a href="#">Another link</a></li>
		<li><a href="#">Something else</a></li>
	</ul>
</div>
<div class="dropdown">
	<button class="btn btn-success dropdown-toggle" type="button">Dropdown <span class="caret"></span></button>
	<ul class="dropdown-menu">
		<li><a href="#">A link</a></li>
		<li><a href="#">Another link</a></li>
		<li><a href="#">Something else</a></li>
	</ul>
</div>
<div class="dropdown">
	<button class="btn btn-info dropdown-toggle" type="button">Dropdown <span class="caret"></span></button>
	<ul class="dropdown-menu">
		<li><a href="#">A link</a></li>
		<li><a href="#">Another link</a></li>
		<li><a href="#">Something else</a></li>
	</ul>
</div>
<div class="dropdown">
	<button class="btn btn-warning dropdown-toggle" type="button">Dropdown <span class="caret"></span></button>
	<ul class="dropdown-menu">
		<li><a href="#">A link</a></li>
		<li><a href="#">Another link</a></li>
		<li><a href="#">Something else</a></li>
	</ul>
</div>
<div class="dropdown">
	<button class="btn btn-danger dropdown-toggle" type="button">Dropdown <span class="caret"></span></button>
	<ul class="dropdown-menu">
		<li><a href="#">A link</a></li>
		<li><a href="#">Another link</a></li>
		<li><a href="#">Something else</a></li>
	</ul>
</div>
<details class="mrgn-tp-md">
	<summary>Source code</summary>
	<pre><code>&lt;div class="dropdown"&gt;
	&lt;button class="btn btn-default dropdown-toggle" type="button"&gt;Dropdown &lt;span class="caret"&gt;&lt;/span&gt;&lt;/button&gt;
	&lt;ul class="dropdown-menu"&gt;
		&lt;li&gt;&lt;a href="#"&gt;A link&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href="#"&gt;Another link&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href="#"&gt;Something else&lt;/a&gt;&lt;/li&gt;
	&lt;/ul&gt;
&lt;/div&gt;
&lt;div class="dropdown"&gt;
	&lt;button class="btn btn-primary dropdown-toggle" type="button"&gt;Dropdown &lt;span class="caret"&gt;&lt;/span&gt;&lt;/button&gt;
	&lt;ul class="dropdown-menu"&gt;
		&lt;li&gt;&lt;a href="#"&gt;A link&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href="#"&gt;Another link&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href="#"&gt;Something else&lt;/a&gt;&lt;/li&gt;
	&lt;/ul&gt;
&lt;/div&gt;
&lt;div class="dropdown"&gt;
	&lt;button class="btn btn-success dropdown-toggle" type="button"&gt;Dropdown &lt;span class="caret"&gt;&lt;/span&gt;&lt;/button&gt;
	&lt;ul class="dropdown-menu"&gt;
		&lt;li&gt;&lt;a href="#"&gt;A link&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href="#"&gt;Another link&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href="#"&gt;Something else&lt;/a&gt;&lt;/li&gt;
	&lt;/ul&gt;
&lt;/div&gt;
&lt;div class="dropdown"&gt;
	&lt;button class="btn btn-info dropdown-toggle" type="button"&gt;Dropdown &lt;span class="caret"&gt;&lt;/span&gt;&lt;/button&gt;
	&lt;ul class="dropdown-menu"&gt;
		&lt;li&gt;&lt;a href="#"&gt;A link&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href="#"&gt;Another link&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href="#"&gt;Something else&lt;/a&gt;&lt;/li&gt;
	&lt;/ul&gt;
&lt;/div&gt;
&lt;div class="dropdown"&gt;
	&lt;button class="btn btn-warning dropdown-toggle" type="button"&gt;Dropdown &lt;span class="caret"&gt;&lt;/span&gt;&lt;/button&gt;
	&lt;ul class="dropdown-menu"&gt;
		&lt;li&gt;&lt;a href="#"&gt;A link&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href="#"&gt;Another link&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href="#"&gt;Something else&lt;/a&gt;&lt;/li&gt;
	&lt;/ul&gt;
&lt;/div&gt;
&lt;div class="dropdown"&gt;
	&lt;button class="btn btn-danger dropdown-toggle" type="button"&gt;Dropdown &lt;span class="caret"&gt;&lt;/span&gt;&lt;/button&gt;
	&lt;ul class="dropdown-menu"&gt;
		&lt;li&gt;&lt;a href="#"&gt;A link&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href="#"&gt;Another link&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href="#"&gt;Something else&lt;/a&gt;&lt;/li&gt;
	&lt;/ul&gt;
&lt;/div&gt;</code></pre>
</details>
