/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 */

/** From branding.css **/
.gcwu-subsite-1 {
	background: #618000 url(../images/gcwu-subsite-1.gif) repeat-x 0 top;
	a {
		color: #fff !important;
		text-shadow: 1px 1px 1px #333 !important;
	}
}

/** From default.css **/
%gcwu-intranet-default-background-none {
	background: none;
}

[id|="wb-body"] {
	@extend %gcwu-intranet-default-background-none;
}

#wb-head-in {
	@extend %gcwu-intranet-default-background-none;
}

[id|="gcwu-sig"] {
	@extend %gcwu-intranet-default-background-none;
}

#gcwu-wmms-fip {
	@extend %gcwu-intranet-default-background-none;
}

#gcwu-subsite {
	border-top: 1px solid #ccc;
	clear: left;
	font-size: 130%;
	text-shadow: 1px 1px 1px #333;
	p {
		margin: 0 auto;
		padding: 4px 0;
	}
	a {
		color: #fff;
		text-decoration: none;
		padding: 0 5px 0 0;
		text-shadow: 1px 1px 1px #333;
		border-left: 1px solid #ccc;
		font-size: 75%;
		&:first-child {
			border-left: none;
			font-size: 100%;
		}
	}
}

#gcwu-psnb {
	.mb-menu {
		.mb-highlight {
			h4 {
				a {
					padding-top: 6px;
				}
			}
		}
	}
}

/* Right to left (RTL) CSS */
[dir="rtl"] {
	#gcwu-subsite {
		clear: right;

		a {
			padding: 0 10px 0 5px;
			border-left: none;
			border-right: 1px solid #ccc;

			&:first-child {
				border-right: none;
			}
		}
	}
}
