/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 */
.intranet {
	#gcwu-subsite {
		border-top: 1px solid #CCC;
		clear: both;
		font-size: 130%;
		text-shadow: 1px 1px 1px #333;
		background: url(../images/gcwu-subsite-1.gif) repeat-x scroll 0 top #618000;
		p {
			margin: 0;
			padding: 5px 10px;
		}
	}
	#wb-head-in {
		position: relative;
	}
	#gcwu-psnb {
		@extend %intranet-default-mobile-min-height32px;
		position: absolute;
		margin-top: -64px;
	}
	%intranet-default-mobile-min-height32px {
		min-height: 32px;
	}
	#gcwu-srchbx {
		@extend %intranet-default-mobile-min-height32px;
	}
	#gcwu-sft-in {
		section, div {
			&:nth-child(3n-1) {
				clear: none;
			}
			&:nth-child(3n) {
				clear: both;
			}
		}
	}
	#gcwu-tctr {
		padding-top: 20px;
		clear: both;
	}
}

.ui-mobile {
	#gcwu-subsite {
		a {
			white-space: normal;
		}
	}
}

#gcwu-subsite {
	font-size: 130%;
	text-shadow: 1px 1px 1px #333;
	p {
		margin: {
			top: 0;
			bottom: 0;
		}
	}
	a {
		padding-left: 5px;
		font-weight: normal;
	}
}

#gcwu-intranetnb {
	li {
		display: none;
		padding-bottom: 5px;
	}
	#gcwu-gcnb-lang {
		float: right;
	}
}

#gcwu-intranetnb-inner {
	padding: 0 5px;
	background: #fafafa;
	margin-bottom: 5px;
	border-bottom: 1px solid #eee;
	@include box-shadow(inset 1px 1px 2px #999);
	ul {
		margin: 0;
		float: right;
	}
	li {
		float: left;
		padding: 5px 0 5px 5px;
	}
	a {
		background: none repeat scroll 0 0 #eee;
		border: 1px solid #ddd;
		@include border-radius(2px 2px 2px 2px);
		color: #222;
		float: right;
		font-weight: 400;
		padding: 3px;
		text-decoration: none;
	}
	&:after {
		content: ".";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
	}
}

#gcwu-psnb {
	margin-top: -3px;
}