/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-eng.txt / wet-boew.github.io/wet-boew/Licence-fra.txt
 */
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";

%intranet-default-responsive-768-background-none {
	background-image: none !important;
}

#gcwu-title-in {
	width: 430px;
}

#gcwu-subsite {
	p {
		width: 768px;
		margin: 0 auto;
	}
}

#gcwu-gcnb {
	@extend %intranet-default-responsive-768-background-none;
}

#gcwu-intranetnb {
	ul {
		padding: 0 5px !important;
		@extend %intranet-default-responsive-768-background-none;
	}
	li {
		padding-bottom: 8px;
		@extend %intranet-default-responsive-768-background-none;
	}
}

#gcwu-intranetnb-in {
	@extend %intranet-default-responsive-768-background-none;
	background-color: #333 !important;
	@include border-radius(0 0 5px 5px);
	@include box-shadow(inset 0 0 2px 2px #222);
	ul {
		@extend %intranet-default-responsive-768-background-none;
	}
}
