/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 */
.ie7 {
	@extend %gcwu-intranet-default-ie-all-versions;
	#gcwu-title-in {
		position: static !important;
		a {
			top: 0 !important;
		}
	}
	#gcwu-bc {
		ol {
			padding-bottom: 10px;
		}
	}
	#gcwu-subsite {
		a {
			font-size: expression(this.previousSibling == null ? '100%' : '-' );
			border-left: expression(this.previousSibling == null ? 'none' : '-' );
		}
	}
	// Right to left (RTL) CSS
	&[dir="rtl"] {
		#gcwu-subsite {
			a {
				border-left: none;
				border-right: expression(this.previousSibling == null ? 'none' : '-' );
			}
		}
	}
}

.ie8 {
	@extend %gcwu-intranet-default-ie-all-versions;
}

%gcwu-intranet-default-ie-all-versions {
	%gcwu-intranet-default-ie-all-versions-background-none {
		background: none;
	}
	[id|="wb-body"] {
		@extend %gcwu-intranet-default-ie-all-versions-background-none;
	}
	#wb-head-in {
		@extend %gcwu-intranet-default-ie-all-versions-background-none;
	}
	#gcwu-sft-in {
		background: transparent url(../images/gcwu-sft-in.png) no-repeat right bottom;
	}
}
