/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt
 */
.ie7 {
	#gcwu-title-in {
		position: static !important;
		a {
			top: 0 !important;
		}
	}
	#gcwu-bc {
		ol {
			padding-bottom: 10px;
		}
	}
	#gcwu-subsite {
		a {
			font-size: expression(this.previousSibling == null ? '100%' : '-' );
			padding-left: expression(this.previousSibling == null ? '0' : '-' );
			border-left: expression(this.previousSibling == null ? 'none' : '-' );
		}
	}
	[id|="wb-body"], #wb-head-in {
		background: none;
	}
	#gcwu-sft-in {
		background: transparent url(../images/gcwu-sft-in.png) no-repeat right bottom;
	}

	/* Right to left (RTL) CSS */
	&[dir="rtl"] {
		#gcwu-subsite a {
			padding-left: 0;
			padding-right: expression(this.previousSibling == null ? '0' : '-' );
			border-left: none;
			border-right: expression(this.previousSibling == null ? 'none' : '-' );
		}
	}
}