/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 */
@import "compass/css3/images";

#gcwu-srch-submit {
	background: #ccc url(../images/search-button.gif) 0 0 repeat-x;
	@include pseudo-focus {
		background: #ddd url(../images/search-button-focus.gif) 0 0 repeat-x;
	}
}

%intranet-default-desktop-screen-images-background-deco {
	background: {
		image: url(../images/content-deco-side.gif), url(../images/content-deco-side.gif);
		position: left top, right top;
		repeat: repeat-y; //TODO: second repeat value since it is using multiple backgrounds
		color: #fff;
	}
}

#wb-core-in {
	@extend %intranet-default-desktop-screen-images-background-deco;
}

#gcwu-bc-in {
	@extend %intranet-default-desktop-screen-images-background-deco;
}

#gcwu-psnb {
	.mb-menu {
		.nav-current {
			background: #0f315b url(../images/menu-border.gif) repeat-x scroll 0 0;
		}
		.mb-sm-open {
			border-bottom: 4px solid #0F315B;
			@include background-image(linear-gradient(bottom, #EEE, #CCC));
			li {
				background: transparent;
				min-height: 0;
				border: none;
			}
			.nav-current {
				background: none;
			}
		}
	}
	.mb-active {
		a {
			&:hover, &:link, &:visited {
				&.mb-has-sm {
					background-color: #CCC;
					color: #000;
				}
			}
		}
	}
	.mb-sm-open {
		li {
			background: transparent;
		}
	}
}
