/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-eng.txt / wet-boew.github.io/wet-boew/Licence-fra.txt
 */
%gcwu-default-small-medium-padding-3-5 {
	padding: 3px 5px;
}
#gcwu-subsite {
	font-size: 130%;
	text-shadow: 1px 1px 1px #333;
	p {
		margin: {
			top: 0;
			bottom: 0;
		}
	}
	a {
		@extend %gcwu-default-small-medium-padding-3-5;
		white-space: normal;
		font-weight: 400;
	}
}

[dir="rtl"] {
	#gcwu-subsite {
		a {
			@extend %gcwu-default-small-medium-padding-3-5;
		}
	}
}