/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt
 */

%gcwu-intranet-default-large-screen-intranetnb-sprite {
	background-image: url(../images/core/gcwu-intranetnb-sprite.gif);
}
%gcwu-intranet-default-large-screen-width-234-height22 {
	width: 234px;
	height: 22px;
}
%gcwu-intranet-default-large-screen-psnb-background {
	background: #555 url(../images/gcwu-psnb.gif) repeat-x 0 0; //TODO: Replace with gradient if applicable
}
%gcwu-intranet-default-large-screen-a-pseudo-underline {
	a {
		@include pseudo-focus {
			@extend %gcwu-intranet-default-large-screen-text-decoration-underline;
		}
	}
}
%gcwu-intranet-default-large-screen-height-30-width-126 {
	height: 30px;
	width: 126px;
}
%gcwu-intranet-default-large-screen-margin-right-0 {
	margin-right: 0;
}
%gcwu-intranet-default-large-screen-margin-0 {
	margin: 0;
}
%gcwu-intranet-default-large-screen-top-auto {
	top: auto;
}
%gcwu-intranet-default-large-screen-bottom-11 {
	bottom: 11px;
}
%gcwu-intranet-default-large-screen-top-auto-position-static {
	@extend %gcwu-intranet-default-large-screen-top-auto;
	@extend %gcwu-intranet-default-large-screen-position-static;
}
%gcwu-intranet-default-large-screen-border-none {
	border: none;
}
%gcwu-intranet-default-large-screen-min-height-32 {
	min-height: 32px;
}
%gcwu-intranet-default-large-screen-min-height-80 {
	min-height: 80px;
}
%gcwu-intranet-default-large-screen-background-none {
	background: none;
}
%gcwu-intranet-default-large-screen-display-block {
	display: block;
}
%gcwu-intranet-default-large-screen-position-absolute {
	position: absolute;
}
%gcwu-intranet-default-large-screen-position-relative {
	position: relative;
}
%gcwu-intranet-default-large-screen-position-static {
	position: static;
}
%gcwu-intranet-default-large-screen-right-0 {
	right: 0;
}
%gcwu-intranet-default-large-screen-height-auto {
	height: auto;
}
%gcwu-intranet-default-large-screen-clear-both {
	clear: both;
}
%gcwu-intranet-default-large-screen-text-decoration-none {
	text-decoration: none;
}
%gcwu-intranet-default-large-screen-text-decoration-underline {
	text-decoration: underline;
}
%gcwu-intranet-default-large-screen-font-weight-400 {
	font-weight: 400;
}
%gcwu-intranet-default-large-screen-padding-top-8-padding-bottom-8 {
	padding-top: 8px;
	padding-bottom: 8px;
}
%gcwu-intranet-default-large-screen-font-size-1em {
	font-size: 1em;
}
%gcwu-intranet-default-large-screen-padding-right-0 {
	padding-right: 0;
}

.wb-sec-def {
	h3 {
		&.top-section {
			margin: 0 0 2px -10px;
			text-shadow: 1px 1px 1px #fff;
			background: #bbb url(../images/core/top-section.png) repeat-x 0 0 !important;
			@include border-radius(0 2px 2px 0);
			border: medium none;
			border: {
				right: 1px solid #bbb;
				left: 1px solid #ccc;
			}
			@extend %gcwu-intranet-default-large-screen-display-block;
			font-size: 120%;
			@extend %gcwu-intranet-default-large-screen-font-weight-400;
			@extend %gcwu-intranet-default-large-screen-position-static;
			@extend %gcwu-intranet-default-large-screen-text-decoration-none;
			@include box-shadow(inset 0 0 3px 1px #999);
			padding: 0 4px 0 13px;
			color: #333;
			a {
				&, &.ui-link {
					padding: {
						top: 7px;
						bottom: 7px;
					}
					@extend %gcwu-intranet-default-large-screen-font-size-1em;
					&, &:link, &:visited {
						background: transparent;
						color: #333;
						@extend %gcwu-intranet-default-large-screen-font-weight-400;
					}
					@include pseudo-focus {
						@extend %gcwu-intranet-default-large-screen-text-decoration-underline;
						color: #333;
					}
					&.nav-current {
						color: #29527D !important;
						padding: 7px 4px;
						@extend %gcwu-intranet-default-large-screen-border-none;
					}
				}
			}
		}
	}
	.nav-current {
		color: #333 !important;
		border-color: #28507a;
	}
}

#gcwu-srchbx {
	top: 2px;
	bottom: auto;
	@extend %gcwu-intranet-default-large-screen-border-none;
	z-index: auto;
	@extend %gcwu-intranet-default-large-screen-background-none;
	@extend %gcwu-intranet-default-large-screen-padding-right-0;
	#gcwu-srch {
		@include pseudo-focus(false) {
			background: #f0fcff;
		}
	}
}

#gcwu-gcnb {
	border-bottom: 1px solid #ccc;
	@extend %gcwu-intranet-default-large-screen-font-size-1em;
	@extend %gcwu-intranet-default-large-screen-height-auto;
	@extend %gcwu-intranet-default-large-screen-min-height-80;
	@extend %gcwu-intranet-default-large-screen-intranetnb-sprite;
	background: {
		color: #fff;
		repeat: repeat-x;
		position: 0 -170px;
	}
	text-shadow: 1px 1px 1px #333;
	@extend %gcwu-intranet-default-large-screen-a-pseudo-underline;
}

#gcwu-gcnb-fip {
	@extend %gcwu-intranet-default-large-screen-position-relative;
	@extend %gcwu-intranet-default-large-screen-min-height-80;
}

#gcwu-sig {
	z-index: 3;
	@extend %gcwu-intranet-default-large-screen-bottom-11;
	@extend %gcwu-intranet-default-large-screen-position-absolute;
	@extend %gcwu-intranet-default-large-screen-margin-0;
	@extend %gcwu-intranet-default-large-screen-width-234-height22;
	img {
		@extend %gcwu-intranet-default-large-screen-width-234-height22;
	}
}

#gcwu-sig-in {
	@extend %gcwu-intranet-default-large-screen-margin-0;
}

#gcwu-bnr-in {
	min-height: 52px !important;
}

#gcwu-bnr {
	border-top: 1px solid #eee;
	@extend %gcwu-intranet-default-large-screen-clear-both;
	@extend %gcwu-intranet-default-large-screen-position-static;
}

#gcwu-wmms {
	@extend %gcwu-intranet-default-large-screen-height-30-width-126;
	@extend %gcwu-intranet-default-large-screen-bottom-11;
	@extend %gcwu-intranet-default-large-screen-top-auto;
	@extend %gcwu-intranet-default-large-screen-right-0;
	@extend %gcwu-intranet-default-large-screen-margin-0;
	img {
		@extend %gcwu-intranet-default-large-screen-margin-right-0;
		@extend %gcwu-intranet-default-large-screen-height-30-width-126;
		@extend %gcwu-intranet-default-large-screen-right-0;
	}
  object {
    @extend %gcwu-intranet-default-large-screen-height-30-width-126;
  }
}

#gcwu-wmms-in {
	@extend %gcwu-intranet-default-large-screen-height-30-width-126;
	text-align: right;
}

#gcwu-title {
	@extend %gcwu-intranet-default-large-screen-height-auto;
	@extend %gcwu-intranet-default-large-screen-display-block;
	margin-left: 0;
	&, a {
		margin: 0.2em 0 0.14em 0;
		@extend %gcwu-intranet-default-large-screen-top-auto-position-static;
	}
}

#gcwu-title-in {
	@extend %gcwu-intranet-default-large-screen-display-block;
	@extend %gcwu-intranet-default-large-screen-top-auto-position-static;
}

#gcwu-gcnb-in {
	@extend %gcwu-intranet-default-large-screen-position-relative;
}

#gcwu-intranetnb {
	@extend %gcwu-intranet-default-large-screen-a-pseudo-underline;
	@extend %gcwu-intranet-default-large-screen-min-height-32;
	font-size: 90%;
	@extend %gcwu-intranet-default-large-screen-position-absolute;
	margin: 0 auto;
	@extend %gcwu-intranet-default-large-screen-right-0;
}

#gcwu-intranetnb-in {
	@extend %gcwu-intranet-default-large-screen-intranetnb-sprite;
	background: {
		color: transparent;
		repeat: no-repeat;
		position: right -60px;
	}
	@extend %gcwu-intranet-default-large-screen-min-height-32;
	margin: auto;
	ul {
		list-style-type: none;
		@extend %gcwu-intranet-default-large-screen-intranetnb-sprite;
		background: {
			color: transparent;
			repeat: no-repeat;
			position: 0 0;
		}
		padding: 0 10px;
		@extend %gcwu-intranet-default-large-screen-position-relative;
		z-index: 2;
		li {
			float: left;
			@extend %gcwu-intranet-default-large-screen-intranetnb-sprite;
			background: {
				color: #333;
				repeat: repeat-x;
				position: 0 -120px;
			}
			padding: 8px 0 10px;
		}
	}
	a {
		@extend %gcwu-intranet-default-large-screen-display-block;
		color: #fff;
		@extend %gcwu-intranet-default-large-screen-text-decoration-none;
		@extend %gcwu-intranet-default-large-screen-font-weight-400;
		padding: 0 12px;
		min-height: 14px;
	}
	.gcwu-gcnb-lang {
		a {
			border-right: none;
		}
	}
	&:after {
		content: ".";
		@extend %gcwu-intranet-default-large-screen-display-block;
		height: 0;
		@extend %gcwu-intranet-default-large-screen-clear-both;
		visibility: hidden;
		@extend %gcwu-intranet-default-large-screen-position-absolute;
		top: 0;
		@extend %gcwu-intranet-default-large-screen-right-0;
	}
}

#wb-core-in {
	padding-top: 0;
}

#gcwu-bc {
	ol {
		margin: 0 10px;
	}
	li {
		margin-top: 6px;
		margin-bottom: 2px;
	}
	+ {
		#gcwu-psnb {
			.wet-boew-menubar {
				padding: {
					top: 7px;
					bottom: 13px;
				}
				margin-top: 0;
			}
		}
	}
}

#gcwu-psnb {
	.wet-boew-menubar {
		margin-top: 12px;
		@extend %gcwu-intranet-default-large-screen-border-none;
		@extend %gcwu-intranet-default-large-screen-min-height-32;
		@extend %gcwu-intranet-default-large-screen-background-none;
	}
	.mb-menu {
		@extend %gcwu-intranet-default-large-screen-min-height-32;
		@extend %gcwu-intranet-default-large-screen-border-none;
		@extend %gcwu-intranet-default-large-screen-psnb-background;
		li {
			background: transparent; //TODO: Can these be removed as transparent is the default background colour
			border-left-color: #1b5a9f;
			border-right-color: #3874bd;
		}
		a {
			@extend %gcwu-intranet-default-large-screen-padding-top-8-padding-bottom-8;
			@extend %gcwu-intranet-default-large-screen-font-weight-400;
		}
		.expandicon {
			background-image: url(../images/menu-drop-down.png);
			padding-right: 0.79em;
		}
	}
}

.mb-menu {
	li {
		@extend %gcwu-intranet-default-large-screen-psnb-background;
		@extend %gcwu-intranet-default-large-screen-min-height-32;
		h3 {
			@extend %gcwu-intranet-default-large-screen-border-none;
			@extend %gcwu-intranet-default-large-screen-display-block;
		}
		h3, .first-in-list {
			a {
				@extend %gcwu-intranet-default-large-screen-font-weight-400;
				@extend %gcwu-intranet-default-large-screen-padding-top-8-padding-bottom-8;
			}
		}
	}
	a {
		@extend %gcwu-intranet-default-large-screen-font-weight-400;
	}
}

#gcwu-subsite {
	@extend %gcwu-intranet-default-large-screen-a-pseudo-underline;
}

#wb-foot-in {
	background: #eee;
}

#gcwu-sft {
	padding-bottom: 0;
	background: transparent url(../images/gcwu-sft.png) repeat-x left bottom;
}

#gcwu-sft-in {
	padding: {
		bottom: 62px;
		top: 10px;
	}
	background: transparent url(../images/gcwu-sft-in.png) no-repeat right bottom;
}

#gcwu-tctr {
	padding: 20px 0 0;
	clear: both !important;
}

/* Right to left (RTL) CSS */
[dir="rtl"] {
	#gcwu-gcnb {
		ul {
			li {
				&#gcwu-gcnb-lang a {
					padding-left: 10px;
				}
			}
		}
	}

	#gcwu-wmms {
		right: auto;
		left: 2px;
	}

	#gcwu-sig-in {
		margin-left: 10px;
		@extend %gcwu-intranet-default-large-screen-margin-right-0;
	}

	#gcwu-title {
		a {
			@extend %gcwu-intranet-default-large-screen-margin-right-0;
		}
	}

	#gcwu-srchbx {
		padding-left: 0;
		padding-right: 10px;
	}

	#gcwu-intranetnb {
		left: 0;
		right: auto;
		float: left;
	}

	#gcwu-psnb {
		.mb-menu {
			a {
				@extend %gcwu-intranet-default-large-screen-padding-top-8-padding-bottom-8;
			}
			.expandicon {
				@extend %gcwu-intranet-default-large-screen-padding-right-0;
			}
		}
	}

	.wb-sec-def {
		h3 {
			&.top-section {
				margin: 0 -10px 2px 0;
			}
		}
	}
}
