/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt
 */
#gcwu-subsite {
	font-size: 130%;
	text-shadow: 1px 1px 1px #333;
	p {
		margin: {
			top: 3px;
			bottom: 3px;
		}
	}
	a {
		padding: 3px;
		white-space: normal;
	}
}