/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-eng.txt / wet-boew.github.io/wet-boew/Licence-fra.txt
 */
.ie7 {
	// Right to left (RTL) CSS
	%gcwu-intranet-default-screen-ie-float-left {
		float: left;
	}
	&[dir="rtl"] {
		#gcwu-gcnb {
			ul {
				li {
					@extend %gcwu-intranet-default-screen-ie-float-left;
					a {
						zoom: 1;
						@extend %gcwu-intranet-default-screen-ie-float-left;
						display: inline;
						border-left: 1px solid #fff;
						border-right: none;
					}
					&:first-child {
						a {
							border-left: none;
						}
					}
				}
			}
		}
		#gcwu-intranetnb-in {
			@extend %gcwu-intranet-default-screen-ie-float-left;
		}
	}
}
.ie8 {
	// Right to left (RTL) CSS
	&[dir="rtl"] {
		#gcwu-tctr {
			li {
				&.gcwu-tc {
					border-left: 1px solid #999999;
					border-right: 0 none;
					padding: 0 10px;
				}
			}
		}
	}
}