/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 */

/** From branding.css **/
%intranet-serv-height-20px {
	height: 20px !important;
}

#gcwu-sig {
	@extend %intranet-serv-height-20px;
	img {
		@extend %intranet-serv-height-20px;
	}
}

#gcwu-sig-in {
	@extend %intranet-serv-height-20px;
}

#wb-core-in {
	div {
		#gcwu-bar {
			background: #28507a;
		}
	}
}

%intranet-serv-a-color-28507a {
	a {
		color: #28507a;
	}
}

#gcwu-title-left {
	@extend %intranet-serv-a-color-28507a;
}

#gcwu-title-right {
	@extend %intranet-serv-a-color-28507a;
}
