/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-eng.html / wet-boew.github.io/wet-boew/Licence-fra.html
 */


#wb-main {
    h1 {
        padding: 60px 0 0;
    }
}
#wb-core-in {
	background: transparent url(../images/gcwu-bnr-in.png) no-repeat center 0;
	min-height: 52px;
}
#wb-core {
	background: transparent url(../images/gcwu-bnr.png) repeat-x 0 0;
}
#wb-main-in {
	background: none;
}
#gcwu-title {
	min-height: 0;
}
#gcwu-lang {
	margin-top: 20px;
}