@charset "utf-8";
/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * www.tbs.gc.ca/ws-nw/wet-boew/terms / www.sct.gc.ca/ws-nw/wet-boew/conditions
 */
#gcwu-title{
	width:550px;
}
#gcwu-subsite p{
	width:960px;
}
#gcwu-bc + #gcwu-psnb #gcwu-psnb-in{
	background:url(../../theme-gcwu-fegc/images/content-deco.gif) repeat-y center 0;
}