@charset "utf-8";
/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt
 */
.ie7 {
	#gcwu-bc ol{
		padding-bottom:10px;
	}
	#gcwu-subsite a{
		font-size:expression(this.previousSibling == null ? '100%' : '-' );
		padding-left:expression(this.previousSibling == null ? '0' : '-' );
		border-left:expression(this.previousSibling == null ? 'none' : '-' );
	}
	#wb-body,#wb-body-sec,#wb-body-sec-sup,#wb-body-sec-sup,#wb-head-in{
		background:none;
	}
	#gcwu-sft-in{
		background:transparent url(../images/gcwu-sft-in.png) no-repeat right bottom;
	}
}