---
{
	"title": "Mocha Tests",
	"language": "en",
	"altLangPrefix": "../index",
	"dateModified": "2014-04-23",
	"js": "<%= mochaUrls %>",
	"css": ["mocha"]
}
---
<div class="row" id="mocha">
</div>

{{!-- HACK so it doesn't float in the corner --}}
<style>
#mocha-stats{
	position: relative;
}
</style>
<script src="mocha.js"></script>

{{!-- Expect.js --}}
<script src="index.js"></script>

{{!-- Sinon --}}
<script src="sinon.js"></script>
<!--[if lt IE 9]><script src="sinon-ie.js"></script><![endif]-->
