---
{
	"title": "Mocha Tests",
	"language": "en",
	"altLangPrefix": "../index",
	"dateModified": "2014-04-23",
	"js": ["mocha", "index", "sinon", "tests"],
	"jsie9": ["sinon-ie"],
	"css": ["mocha"]
}
---
<div class="row" id="mocha">
</div>

{{!-- HACK so it doesn't float in the corner --}}
<style>
	#mocha-stats{
		position: relative;
	}

	#mocha-stats .progress {
		height: auto;
	}
</style>
