---
{
	"title": "Fils de syndication",
	"language": "fr",
	"category": "Plugiciels",
	"description": "Affiche les articles d’un ou plus fils de syndication.",
	"tag": "feeds",
	"parentdir": "feeds",
	"altLangPrefix": "feeds",
	"css": ["demo/feeds"],
	"dateModified": "2014-07-28"
}
---
<p>Cette composante est un gadget logiciel permettant de regrouper et d’afficher des données d'un ou plusieurs fils de syndication. Les formats soutenus sont Atom, RSS et Media RSS.</p>

<section>
	<h2>Exemples</h2>
	<section class="wb-feeds limit-5">
		<h3>Communiqués de presse et rappels de la sécurité routière</h3>
		<ul class="feeds-cont">
			<li>
				<a href="http://www.tc.gc.ca/medias/rss/routier.xml" rel="external">Communiqués de presse routière (Tous)</a>
			</li>
			<li>
				<a href="http://wwwapps.tc.gc.ca/Saf-Sec-Sur/7/VRDB-BDRV/search-recherche/rss.aspx?lang=fra" rel="external">Rappels de la Sécurité Routière</a>
			</li>
		</ul>

		<section>
			<h4>Code</h4>
			<details>
				<summary>Visualiser le code</summary>
				<pre><code>&lt;section class="wb-feeds limit-5"&gt;
	&lt;h3&gt;Communiqués de presse et rappels de la sécurité routière&lt;/h3&gt;
	&lt;ul class="feeds-cont"&gt;
		&lt;li&gt;
			&lt;a href="http://www.tc.gc.ca/medias/rss/routier.xml" rel="external"&gt;Communiqués de presse routière (Tous)&lt;/a&gt;
		&lt;/li&gt;
		&lt;li&gt;
			&lt;a href="http://wwwapps.tc.gc.ca/Saf-Sec-Sur/7/VRDB-BDRV/search-recherche/rss.aspx?lang=fra" rel="external"&gt;Rappels de la Sécurité Routière&lt;/a&gt;
		&lt;/li&gt;
	&lt;/ul&gt;
&lt;/section&gt;</code></pre>
			</details>
		</section>
	</section>

	<section class="wb-feeds limit-1">
		<h3>Météo d'Ottawa</h3>
		<ul class="feeds-cont">
			<li>
				<a href="http://weather.gc.ca/rss/city/on-118_f.xml" rel="external">Ottawa Ontario</a>
			</li>
		</ul>

		<section>
			<h4>Code</h4>
			<details>
				<summary>Visualiser le code</summary>
				<pre><code>&lt;section class="wb-feeds limit-1"&gt;
	&lt;h3&gt;Météo d'Ottawa&lt;/h3&gt;
	&lt;ul class="feeds-cont"&gt;
		&lt;li&gt;
			&lt;a href="http://weather.gc.ca/rss/city/on-118_f.xml" rel="external"&gt;Ottawa Ontario&lt;/a&gt;
		&lt;/li&gt;
	&lt;/ul&gt;
&lt;/section&gt;</code></pre>
			</details>
		</section>
	</section>

	<section>
		<h3>Les comptes des médias sociaux à onglets</h3>
		<div class="wb-tabs col-md-5 wb-eqht">
			<div class="tabpanels">
				<details id="details-flickr">
					<summary>Flickr</summary>
					<section class="wb-feeds limit-10">
						<h4 class="wb-inv">Flickr</h4>
						<ul class="feeds-cont list-inline">
							<li>
								<a href="https://www.flickr.com/photos/environnementcan" rel="external" data-ajax="https://api.flickr.com/services/feeds/photos_public.gne?id=47721741@N05&amp;format=json">Flickr d'Environnement Canada</a>
							</li>
						</ul>
						<div class="clearfix"></div>
					</section>
				</details>

				<details id="details-youtube">
					<summary>YouTube</summary>
					<section class="wb-feeds limit-10">
						<h4 class="wb-inv">YouTube</h4>
						<ul class="feeds-cont list-inline">
							<li>
								<a href="https://www.youtube.com/user/ParksCanadaAgency" rel="external" data-ajax="https://gdata.youtube.com/feeds/api/users/UCr23fllByMomgNGeShe-73g/uploads?v=2&amp;alt=json">YouTube de Parcs Canada</a>
							</li>
							<li>
								<a href="https://www.youtube.com/user/fisheriescanada?feature=results_main" rel="external" data-ajax="https://gdata.youtube.com/feeds/api/users/UCf1JLCB96nHLjidhSJtHDFA/uploads?v=2&amp;alt=json">YouTube de Pêches et Océans Canada</a>
							</li>
						</ul>
						<div class="clearfix"></div>
					</section>
				</details>
			</div>
		</div>
		<div class="clearfix"></div>

		<section>
			<h4>Code</h4>
			<details>
				<summary>Visualiser le code</summary>
				<pre><code>&lt;section&gt;
	&lt;h3&gt;Les fils de syndication à onglets&lt;/h3&gt;
	&lt;div class="wb-tabs col-md-5 wb-eqht"&gt;
		&lt;div class="tabpanels"&gt;
			&lt;details id="details-flickr"&gt;
				&lt;summary&gt;Flickr&lt;/summary&gt;
				&lt;section class="wb-feeds limit-10"&gt;
					&lt;h4 class="wb-inv"&gt;Flickr&lt;/h4&gt;
					&lt;ul class="feeds-cont list-inline"&gt;
						&lt;li&gt;
							&lt;a href="https://www.flickr.com/photos/environnementcan" rel="external" data-ajax="https://api.flickr.com/services/feeds/photos_public.gne?id=47721741@N05&amp;amp;format=json"&gt;Flickr d'Environnement Canada&lt;/a&gt;
						&lt;/li&gt;
					&lt;/ul&gt;
					&lt;div class="clearfix"&gt;&lt;/div&gt;
				&lt;/section&gt;
			&lt;/details&gt;

			&lt;details id="details-youtube"&gt;
				&lt;summary&gt;YouTube&lt;/summary&gt;
				&lt;section class="wb-feeds limit-10"&gt;
					&lt;h4 class="wb-inv"&gt;YouTube&lt;/h4&gt;
					&lt;ul class="feeds-cont list-inline"&gt;
						&lt;li&gt;
							&lt;a href="https://www.youtube.com/user/ParksCanadaAgency" rel="external" data-ajax="https://gdata.youtube.com/feeds/api/users/UCr23fllByMomgNGeShe-73g/uploads?v=2&amp;amp;alt=json"&gt;YouTube de Parcs Canada&lt;/a&gt;
						&lt;/li&gt;
						&lt;li&gt;
							&lt;a href="https://www.youtube.com/user/fisheriescanada?feature=results_main" rel="external" data-ajax="https://gdata.youtube.com/feeds/api/users/UCf1JLCB96nHLjidhSJtHDFA/uploads?v=2&amp;amp;alt=json"&gt;YouTube de Pêches et Océans Canada&lt;/a&gt;
						&lt;/li&gt;
					&lt;/ul&gt;
					&lt;div class="clearfix"&gt;&lt;/div&gt;
				&lt;/section&gt;
			&lt;/details&gt;
		&lt;/div&gt;
	&lt;/div&gt;
	&lt;div class="clearfix"&gt;&lt;/div&gt;
&lt;/section&gt;</code></pre>
			</details>
		</section>
	</section>
</section>

<section>
	<h2>Paramètres</h2>
	<table class="table">
		<thead>
			<tr>
				<th scope="col">Classe (paramètre)</th>
				<th scope="col">Rôle</th>
				<th scope="col">Détails</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><code>wb-feeds</code></td>
				<td>Identificateur</td>
				<td>Classe principale qui identifie le code utilisé pour le gadget des fils de syndication.</td>
			</tr>
			<tr>
				<td><code>limit-<em>x</em></code></td>
				<td>Affichage</td>
				<td>Contrôle la quantité d'articles que le gadget des fils de syndication affichera.</td>
			</tr>
		</tbody>
	</table>
</section>
