---
{
	"title": "Feeds",
	"language": "en",
	"category": "Plugins",
	"description": "Aggregates and displays entries from one or more Web feeds.",
	"tag": "feeds",
	"parentdir": "feeds",
	"altLangPrefix": "feeds",
	"css": ["demo/feeds"],
	"dateModified": "2014-07-28"
}
---
<p>This feature provides a widget for aggregating and displaying the entries from one or more Web feeds on a Web page. Supported Web feed formats are Atom, RSS, and Media RSS.</p>

<section>
	<h2>Examples</h2>
	<section class="wb-feeds limit-5">
		<h3>Road News Releases and Safety Recalls</h3>
		<ul class="feeds-cont">
			<li>
				<a href="http://www.tc.gc.ca/mediaroom/rss/road.xml" rel="external">Road News Releases (All)</a>
			</li>
			<li>
				<a href="http://wwwapps.tc.gc.ca/Saf-Sec-Sur/7/VRDB-BDRV/search-recherche/rss.aspx?lang=eng" rel="external">Road Safety Recalls</a>
			</li>
		</ul>

		<section>
			<h4>Code</h4>
			<details>
				<summary>View code</summary>
				<pre><code>&lt;section class="wb-feeds limit-5"&gt;
	&lt;h3&gt;Road News Releases and Safety Recalls&lt;/h3&gt;
	&lt;ul class="feeds-cont"&gt;
		&lt;li&gt;
			&lt;a href="http://www.tc.gc.ca/mediaroom/rss/road.xml" rel="external"&gt;Road News Releases (All)&lt;/a&gt;
		&lt;/li&gt;
		&lt;li&gt;
			&lt;a href="http://wwwapps.tc.gc.ca/Saf-Sec-Sur/7/VRDB-BDRV/search-recherche/rss.aspx?lang=eng" rel="external"&gt;Road Safety Recalls&lt;/a&gt;
		&lt;/li&gt;
	&lt;/ul&gt;
&lt;/section&gt;</code></pre>
			</details>
		</section>
	</section>

	<section class="wb-feeds limit-1">
		<h3>Ottawa Weather</h3>
		<ul class="feeds-cont">
			<li>
				<a href="http://weather.gc.ca/rss/city/on-118_e.xml" rel="external">Ottawa Ontario</a>
			</li>
		</ul>

		<section>
			<h4>Code</h4>
			<details>
				<summary>View code</summary>
				<pre><code>&lt;section class="wb-feeds limit-1"&gt;
	&lt;h3&gt;Ottawa Weather&lt;/h3&gt;
	&lt;ul class="feeds-cont"&gt;
		&lt;li&gt;
			&lt;a href="http://weather.gc.ca/rss/city/on-118_e.xml" rel="external"&gt;Ottawa Ontario&lt;/a&gt;
		&lt;/li&gt;
	&lt;/ul&gt;
&lt;/section&gt;</code></pre>
			</details>
		</section>
	</section>

	<section>
		<h3>Tabbed feeds</h3>
		<div class="wb-tabs col-md-5 wb-eqht">
			<div class="tabpanels">
				<details id="details-flickr">
					<summary>Flickr</summary>
					<section class="wb-feeds limit-10">
						<h4 class="wb-inv">Flickr</h4>
						<ul class="feeds-cont list-inline">
							<li>
								<a href="https://www.flickr.com/photos/environmentcan" rel="external" data-ajax="https://api.flickr.com/services/feeds/photos_public.gne?id=47711201@N05&amp;format=json">Environment Canada Flickr</a>
							</li>
						</ul>
						<div class="clearfix"></div>
					</section>
				</details>

				<details id="details-youtube">
					<summary>YouTube</summary>
					<section class="wb-feeds limit-10">
						<h4 class="wb-inv">YouTube</h4>
						<ul class="feeds-cont list-inline">
							<li>
								<a href="https://www.youtube.com/user/ParksCanadaAgency" rel="external" data-youtube='{"playlist":[
									{"id":"ZwgEH-Szk0k", "title": "Learn to Set up a Tent"},
									{"id":"w5gpKajD8E0", "title": "Camping with Wildlife"},
									{"id":"_E_9te0nq3A", "title": "Learn to Start a Campfire"},
									{"id":"WrtZjBTkQbw", "title": "Planning your trip"}
								]}'>Parks Canada Youtube</a>
							</li>
						</ul>
						<div class="clearfix"></div>
					</section>
				</details>
			</div>
		</div>
		<div class="clearfix"></div>

		<section>
			<h4>Code</h4>
			<details>
				<summary>View code</summary>
				<pre><code>&lt;section&gt;
	&lt;h3&gt;Tabbed Social Feeds&lt;/h3&gt;
	&lt;div class="wb-tabs col-md-5 wb-eqht"&gt;
		&lt;div class="tabpanels"&gt;
			&lt;details id="details-flickr"&gt;
				&lt;summary&gt;Flickr&lt;/summary&gt;
				&lt;section class="wb-feeds limit-10"&gt;
					&lt;h4 class="wb-inv"&gt;Flickr&lt;/h4&gt;
					&lt;ul class="feeds-cont list-inline"&gt;
						&lt;li&gt;
							&lt;a href="https://www.flickr.com/photos/environmentcan" rel="external" data-ajax="https://api.flickr.com/services/feeds/photos_public.gne?id=47711201@N05&amp;amp;format=json"&gt;Environment Canada Flickr&lt;/a&gt;
						&lt;/li&gt;
					&lt;/ul&gt;
					&lt;div class="clearfix"&gt;&lt;/div&gt;
				&lt;/section&gt;
			&lt;/details&gt;

			&lt;details id="details-youtube"&gt;
				&lt;summary&gt;YouTube&lt;/summary&gt;
				&lt;section class="wb-feeds limit-10"&gt;
					&lt;h4 class="wb-inv"&gt;YouTube&lt;/h4&gt;
					&lt;ul class="feeds-cont list-inline"&gt;
						&lt;li&gt;
							&lt;a href="https://www.youtube.com/user/ParksCanadaAgency" rel="external" data-ajax="https://gdata.youtube.com/feeds/api/users/UCzJRhTw3KVtDlcdNz33eDMQ/uploads?v=2&amp;amp;alt=json"&gt;Parks Canada Youtube&lt;/a&gt;
						&lt;/li&gt;
						&lt;li&gt;
							&lt;a href="https://www.youtube.com/user/fisheriescanada?feature=results_main" rel="external" data-ajax="https://gdata.youtube.com/feeds/api/users/UC5D1a5R8bbrTXEJrjmRX7gA/uploads?v=2&amp;amp;alt=json"&gt;Department of Fisheries and Oceans’ YouTube&lt;/a&gt;
						&lt;/li&gt;
					&lt;/ul&gt;
					&lt;div class="clearfix"&gt;&lt;/div&gt;
				&lt;/section&gt;
			&lt;/details&gt;
		&lt;/div&gt;
	&lt;/div&gt;
	&lt;div class="clearfix"&gt;&lt;/div&gt;
&lt;/section&gt;</code></pre>
			</details>
		</section>
	</section>
</section>

<section>
	<h2>Parameters</h2>
	<table class="table">
		<thead>
			<tr>
				<th scope="col">Class (parameter)</th>
				<th scope="col">Role</th>
				<th scope="col">Details</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><code>wb-feeds</code></td>
				<td>Identifier</td>
				<td>Main targeting class that identifies the code block used for the Web feeds widget.</td>
			</tr>
			<tr>
				<td><code>limit-<em>x</em></code></td>
				<td>Display</td>
				<td>Controls the amount of items the Web feeds widget will display.</td>
			</tr>
		</tbody>
	</table>
</section>
