---
{
	"title": "Fils de syndication",
	"language": "fr",
	"category": "Plugiciels",
	"description": "Affiche les articles d’un ou plus fils de syndication.",
	"tag": "feeds",
	"parentdir": "feeds",
	"altLangPrefix": "feeds",
	"css": ["demo/feeds"],
	"dateModified": "2014-07-28"
}
---
<section class="alert alert-warning">
	<h2>Important: Le plugiciel du fils de syndication a cessé de fonctionner pour les implémentations précédent v4.0.30</h2>
	<p>Ceci n'inclus pas le fil de syndication pour Flickr et Youtube</p>
	<p>Le plugiciel du fils de syndication a cessé de fonctionner à partir du 3 janvier 2019 parce qu'il dépendant grandement de la disponibilité de Yahoo Query Language (YQL) ainsi que de son service web.</p>
	<p>Comme solution alternative, veuillez consulter l'example ci-dessous démontrant la lecture d'un fil de syndication en format JSON. Un correctif sera disponible pour les anciennes version de la wet-boew afin que cette fonctionalité soit disponible tel qu'illustré ci-dessous.</p>
	<p>Note: La prochaine version de la WET-BOEW v4.0.30 (planifier pour la fin janvier) lira par défaut le fil de syndication en format XML sans utiliser un tierce service. Par contre, l'utilisation de cette fonctionalité pourrais nécessité une configuration adéquate des CORS sur votre serveur.</p>
</section>
<p>Cette composante est un gadget logiciel permettant de regrouper et d’afficher des données d'un ou plusieurs fils de syndication. Les formats soutenus sont Atom, RSS et Media RSS.</p>
<section>
	<h2>Exemples</h2>
	<section class="wb-feeds limit-3">
		<h3>Fils de syndication en format ATOM</h3>
		<p>Cette méthode télécharge le fil de syndication ATOM directement sans dépendre d’un service tierce.</p>
		<ul class="feeds-cont list-unstyled lst-spcd">
			<li><a href="demo/manitoba-fr.atom.xml">Nouvelles du Gouvernement du Canada</a></li>
		</ul>
		<section>
			<h4>Code</h4>
			<details>
				<summary>View code</summary>
				<pre><code>&lt;section class="wb-feeds limit-3&gt;
				&lt;h3&gt;Centre des nouvelles du Canada - Manitoba&lt;/h3&gt;
				&lt;ul class="feeds-cont list-unstyled lst-spcd"&gt;
				&lt;li&gt;
					&lt;a href="demo/manitoba-fr.atom.xml"&gt;Nouvelles du Gouvernement du Canada&lt;/a&gt;
				&lt;/li&gt;
				&lt;/ul&gt;
				&lt;/section&gt;</code></pre>
			</details>
		</section>
	</section>
	<section>
		<h3>Les comptes des médias sociaux à onglets</h3>
		<div class="wb-tabs col-md-5 wb-eqht">
			<div class="tabpanels">
				<details id="details-flickr">
					<summary>Flickr</summary>
					<section class="wb-feeds limit-10">
						<h4 class="wb-inv">Flickr</h4>
						<ul class="feeds-cont list-inline">
							<li> <a href="https://www.flickr.com/photos/environnementcan" rel="external" data-ajax="https://api.flickr.com/services/feeds/photos_public.gne?id=47721741@N05&amp;format=json">Flickr d'Environnement Canada</a> </li>
						</ul>
						<div class="clearfix"></div>
					</section>
				</details>
				<details id="details-youtube">
					<summary>YouTube</summary>
					<section class="wb-feeds limit-10">
						<h4 class="wb-inv">YouTube</h4>
						<ul class="feeds-cont list-inline">
							<li> <a href="https://www.youtube.com/user/ParksCanadaAgency" rel="external" data-ajax="https://gdata.youtube.com/feeds/api/users/UCr23fllByMomgNGeShe-73g/uploads?v=2&amp;alt=json">YouTube de Parcs Canada</a> </li>
							<li> <a href="https://www.youtube.com/user/fisheriescanada?feature=results_main" rel="external" data-ajax="https://gdata.youtube.com/feeds/api/users/UCf1JLCB96nHLjidhSJtHDFA/uploads?v=2&amp;alt=json">YouTube de Pêches et Océans Canada</a> </li>
						</ul>
						<div class="clearfix"></div>
					</section>
				</details>
			</div>
		</div>
		<div class="clearfix"></div>
		<section>
			<h4>Code</h4>
			<details>
				<summary>Visualiser le code</summary>
				<pre><code>&lt;section&gt;
	&lt;h3&gt;Les fils de syndication à onglets&lt;/h3&gt;
	&lt;div class="wb-tabs col-md-5 wb-eqht"&gt;
		&lt;div class="tabpanels"&gt;
			&lt;details id="details-flickr"&gt;
				&lt;summary&gt;Flickr&lt;/summary&gt;
				&lt;section class="wb-feeds limit-10"&gt;
					&lt;h4 class="wb-inv"&gt;Flickr&lt;/h4&gt;
					&lt;ul class="feeds-cont list-inline"&gt;
						&lt;li&gt;
							&lt;a href="https://www.flickr.com/photos/environnementcan" rel="external" data-ajax="https://api.flickr.com/services/feeds/photos_public.gne?id=47721741@N05&amp;amp;format=json"&gt;Flickr d'Environnement Canada&lt;/a&gt;
						&lt;/li&gt;
					&lt;/ul&gt;
					&lt;div class="clearfix"&gt;&lt;/div&gt;
				&lt;/section&gt;
			&lt;/details&gt;

			&lt;details id="details-youtube"&gt;
				&lt;summary&gt;YouTube&lt;/summary&gt;
				&lt;section class="wb-feeds limit-10"&gt;
					&lt;h4 class="wb-inv"&gt;YouTube&lt;/h4&gt;
					&lt;ul class="feeds-cont list-inline"&gt;
						&lt;li&gt;
							&lt;a href="https://www.youtube.com/user/ParksCanadaAgency" rel="external" data-ajax="https://gdata.youtube.com/feeds/api/users/UCr23fllByMomgNGeShe-73g/uploads?v=2&amp;amp;alt=json"&gt;YouTube de Parcs Canada&lt;/a&gt;
						&lt;/li&gt;
						&lt;li&gt;
							&lt;a href="https://www.youtube.com/user/fisheriescanada?feature=results_main" rel="external" data-ajax="https://gdata.youtube.com/feeds/api/users/UCf1JLCB96nHLjidhSJtHDFA/uploads?v=2&amp;amp;alt=json"&gt;YouTube de Pêches et Océans Canada&lt;/a&gt;
						&lt;/li&gt;
					&lt;/ul&gt;
					&lt;div class="clearfix"&gt;&lt;/div&gt;
				&lt;/section&gt;
			&lt;/details&gt;
		&lt;/div&gt;
	&lt;/div&gt;
	&lt;div class="clearfix"&gt;&lt;/div&gt;
&lt;/section&gt;</code></pre>
			</details>
		</section>
	</section>
	<section class="wb-feeds limit-3">
		<h3>Fils de syndication en format JSON</h3>
		<p>L'utilisation de l'attribut <code>data-ajax</code> permet une lecture du fil de syndication dans un <a href="../../docs/ref/feeds/feeds-en.html#json-atom-like-feed" hreflang="en">format JSON similaire à ATOM XML</a> (en anglais).</p>
		<p>Un correctif sera disponible pour les anciennes version de la wet-boew afin que cette fonctionalité soit disponible tel qu'illustré ci-dessous.</p>
		<p><strong>Comment:</strong> Ajouter l'attribut <code>data-ajax</code> avec un lien (URL) vers le format JSON du fil de syndication. La valeur définie à l'attribut <code>href</code> de l'ancre sera ignoré.</p>
		<ul class="feeds-cont list-unstyled lst-spcd">
			<li> <a data-ajax="demo/manitoba-fr.atom.json" href="https://www.canada.ca/fr/nouvelles/fils-nouvelles/manitoba" rel="external">Centre des nouvelles du Canada - Manitoba</a> </li>
		</ul>
		<section>
			<h4>Code</h4>
			<details>
				<summary>Visualiser le code</summary>
				<pre><code>&lt;section class="wb-feeds limit-3" data-cors="true"&gt;
				&lt;h3&gt;Fils de syndication en format JSON&lt;/h3&gt;
				&lt;ul class="feeds-cont list-unstyled lst-spcd"&gt;
					&lt;li&gt;
						&lt;a data-ajax="demo/manitoba-fr.atom.json" href="https://www.canada.ca/fr/nouvelles/fils-nouvelles/manitoba" rel="external"&gt;Centre des nouvelles du Canada - Manitoba&lt;/a&gt;
					&lt;/li&gt;
				&lt;/ul&gt;
				&lt;/section&gt;</code></pre>
			</details>
		</section>
	</section>
</section>
<section>
	<h2>Cas spéciaux</h2>
	<section class="wb-feeds limit-7">
		<h3>Fil d'actualité sans entrées</h3>
		<ul class="feeds-cont list-unstyled lst-spcd">
			<li><a href="demo/manitoba-0-fr.atom.xml" rel="external">Nouvelles du Gouvernement du Canada</a></li>
		</ul>
	</section>
	<section class="wb-feeds limit-7">
		<h3>Fil d’actualité avec une entrée</h3>
		<ul class="feeds-cont list-unstyled lst-spcd">
			<li><a href="demo/manitoba-1-fr.atom.xml" rel="external">Nouvelles du Gouvernement du Canada</a></li>
		</ul>
	</section>
	<section class="wb-feeds limit-7">
		<h3>Lorsque la limite est supérieure au nombre d'entrées dans le fil</h3>
		<ul class="feeds-cont list-unstyled lst-spcd">
			<li><a href="demo/manitoba-fr.atom.xml" rel="external">Nouvelles du Gouvernement du Canada</a></li>
		</ul>
	</section>
	<section class="wb-feeds">
		<h3>Quand la limite n'est pas définie</h3>
		<ul class="feeds-cont list-unstyled lst-spcd">
			<li><a href="demo/manitoba-fr.atom.xml" rel="external">Nouvelles du Gouvernement du Canada</a></li>
		</ul>
	</section>
</section>
<section>
	<h2>Paramètres</h2>
	<table class="table">
		<thead>
			<tr>
				<th scope="col">Classe (paramètre)</th>
				<th scope="col">Rôle</th>
				<th scope="col">Détails</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><code>wb-feeds</code></td>
				<td>Identificateur</td>
				<td>Classe principale qui identifie le code utilisé pour le gadget des fils de syndication.</td>
			</tr>
			<tr>
				<td><code>limit-<em>x</em></code></td>
				<td>Affichage</td>
				<td>Contrôle la quantité d'articles que le gadget des fils de syndication affichera.</td>
			</tr>
		</tbody>
	</table>
</section>
