---
{
	"title": "Feeds",
	"language": "en",
	"category": "Plugin",
	"description": "Aggregates and displays entries from one or more Web feeds.",
	"tag": "feeds",
	"fr": "feeds"
}
---
<style>
.feeds-cont {
	border: 1px solid #ccc;
	background-color: #e0e2e4;
	padding: 10px 10px 0 10px;
}
.feeds-cont li {
	padding: 0 0 10px 0;
	list-style-type: none;
}
</style>

<p>This feature provides a widget for aggregating and displaying the entries from one or more Web feeds on a Web page. Supported Web feed formats are Atom, RSS, and Media RSS.</p>

<section>
	<h2>Benefits</h2>
	<ul>
		<li>Displays entries from one or more Atom, RSS, and Media RSS feeds on a Web page without the need for a Web feed reader</li>
		<li>Dynamically fetches the top five items of any public Atom, RSS, or Media RSS feed</li>
		<li>Enables cross-promotion and sharing of information between Web sites</li>
		<li>Conforms to WCAG 2.0 AA</li>
		<li>Uses WAI-ARIA to enhance accessibility</li>
		<li>Progressive enhancement approach</li>
		<li>Supports Firefox, Opera, Safari, Chrome, and IE 8+</li>
	</ul>
</section>

<section>
	<h2>Examples</h2>
	<div class="wb-feeds limit-5">
		<section>
			<h3>Road News Releases and Safety Recalls</h3>
			<ul class="feeds-cont">
				<li>
					<a href="http://www.tc.gc.ca/mediaroom/rss/road.xml" rel="external">Road News Releases (All)</a>
				</li>
				<li>
					<a href="http://wwwapps.tc.gc.ca/Saf-Sec-Sur/7/VRDB-BDRV/Search/Rss-Search.aspx" rel="external">Road Safety Recalls</a>
				</li>
			</ul>
		</section>
	</div>

	<div class="wb-feeds limit-1">
		<section>
			<h3>Ottawa Weather</h3>
			<ul class="feeds-cont">
				<li>
					<a href="http://weather.gc.ca/rss/city/on-118_e.xml" rel="external">Ottawa Ontario</a>
				</li>
			</ul>
		</section>
	</div>
</section>

<section>
	<h2>Parameters</h2>
	<table>
		<thead>
			<tr>
				<th scope="col">Class (parameter)</th>
				<th scope="col">Role</th>
				<th scope="col">Details</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><code>wb-feeds</code></td>
				<td>identifier</td>
				<td>main targeting class that identifies the codeblock used for the Web feeds widget</td>
			</tr>
			<tr>
				<td><code>limit-<em>xxx</em></code></td>
				<td>display</td>
				<td>controls the amount of items the Web feeds widget will display</td>
			</tr>
		</tbody>
	</table>
</section>
