---
{
	"title": "v3.0.11 - Notes d'utilisation",
	"language": "fr",
	"description": "v3.0.11 - Notes d'utilisation - Historique des versions - Boîte à outils de l'expérience Web (BOEW)",
	"altLangPrefix": "v3.0.11",
	"dateModified": "2014-03-01"
}
---
<ul>
	<li><strong>Date de lancement&#160;:</strong> 2013-10-27</li>
	<li><a href="../dwnld-fr.html#v3011">Téléchargements</a></li>
</ul>

<section>
	<h2>Quoi de neuf?</h2>
	<div lang="en">
	<p><strong>Needs translation</strong></p>
	<ul>
		<li>Form validation: Fixed for attribute, ariaLive and clearing errors</li>
		<li>Session timeout: Improved usability of timeout message and fixed numerous bugs</li>
		<li>Tabbed interface: Fixed mobile tab creation</li>
		<li>Removed all -eng and -fra files except for the ones in the root and the demos folder root</li>
	</ul>
	</div>
</section>

<section>
	<h2>Détails</h2>
	<p><strong>Nombre des &#171;&#160;commits&#160;&#187;</strong> 35</p>
	<ul>
		<li><a href="https://github.com/pjackson28">@pjackson28</a>&#160;: 18 &#171;&#160;commits&#160;&#187;</li>
		<li><a href="https://github.com/EricDunsworth">@EricDunsworth</a>&#160;: 5 &#171;&#160;commits&#160;&#187;</li>
		<li><a href="https://github.com/nschonni">@nschonni</a>&#160;: 5 &#171;&#160;commits&#160;&#187;</li>
		<li><a href="https://github.com/jeresiv">@jeresiv</a>&#160;: 2 &#171;&#160;commits&#160;&#187;</li>
		<li><a href="https://github.com/patheard">@patheard</a>&#160;: 2 &#171;&#160;commits&#160;&#187;</li>
		<li><a href="https://github.com/chyne">@chyne</a>&#160;: 1 &#171;&#160;commit&#160;&#187;</li>
		<li><a href="https://github.com/LaurentGoderre">@LaurentGoderre</a>&#160;: 1 &#171;&#160;commit&#160;&#187;</li>
		<li><a href="https://github.com/josephconti31">@sgdowney</a>&#160;: 1 &#171;&#160;commit&#160;&#187;</li>
	</ul>
	<section>
		<h3>Liste des &#171;&#160;commits&#160;&#187;</h3>
		<ul lang="en">
			<li><a href="https://github.com/wet-boew/wet-boew/commit/b837027">Updated build version to v3.0.11-development.</a> - Paul Jackson, 2013-09-17 12:17:04 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/0f6f371">Session timeout: Added missing ajaxLimiter variable.</a> - Paul Jackson, 2013-09-18 15:47:08 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/b29321e">Update sessiontimeout.js</a> - Christopher Hyne, 2013-09-18 18:05:42 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/f4b6988">Grids: Removed default text shadow for th elements.</a> - Paul Jackson, 2013-09-19 12:04:54 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/8d0c6be">Slideout: Added missing space in toggle link.</a> - Paul Jackson, 2013-09-20 12:38:06 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/bc71770">Form Validation: "for" attribute only on labels</a> - Nick Schonning, 2013-09-23 21:05:36 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/f3de326">Fixed spacing/tabbing issues in certain plugins' source code. Prevents building from modifying these source files.</a> - Eric Dunsworth, 2013-10-02 22:16:29 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/a99f7df">Fixed broken links to Twitter Bootstrap and CLF2 theme's FIP images.</a> - Eric Dunsworth, 2013-10-07 21:49:01 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/d5f5965">Tabbed Interface: fix mobile tab creation</a> - Pat Heard, 2013-10-08 22:57:43 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/941b559">Grids SCSS: Adjusted module-news-article's padding/margin properties. Prevents a "double" top spacing effect when images aren't used.</a> - Eric Dunsworth, 2013-10-15 11:20:21 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/30a982c">Slide out tab SCSS: Redeclared display block placeholder selector in IE7-8. Prevents details/summary elements from being treated as inline by IE7-8. The :not pseudo-selector's presence in the standard SCSS file causes the entire placeholder selector's outputted rule to be ignored by those browsers.</a> - Eric Dunsworth, 2013-10-15 16:22:18 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/8c0a8c8">Session: Remove double activation time on page load.</a> - sgdowney, 2013-10-16 11:05:54 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/e022035">Grids demos/SCSS: Added support for, and examples of external mailto: links.</a> - Eric Dunsworth, 2013-10-21 21:05:42 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/762ad93">Added link to 4.0 working examples</a> - Jeremy S, 2013-10-23 12:19:15 -0400</li> 
			<li><a href="https://github.com/wet-boew/wet-boew/commit/e9fd511">Examples: Add v4.0 working example links</a> - Jeremy S, 2013-10-23 12:53:08 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/fd436d3">Form validation: Fixed ariaLive and clearing errors (fixes #3074)</a> - Paul Jackson, 2013-10-25 12:06:38 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/c6e92ff">Session: usability improvements to timeout message (#3190)</a> - Pat Heard, 2013-10-25 13:32:09 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/667f389">Removed all -eng and -fra files except for the ones in the root and the demos folder root</a> - pjackson28, 2013-10-26 23:44:13 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/cd7518f">Updated files for the v3.0.11 maintenance release</a> - pjackson28, 2013-10-27 00:12:20 -0400</li>
		</ul>
	</section>
</section>
