---
{
	"title": "ChangeLog de la version 3.0",
	"language": "fr",
	"description": "ChangeLog de la version 3.0 - Historique des versions - Boîte à outils de l'expérience Web (BOEW)",
	"altLangPrefix": "v3.0-changelog",
	"dateModified": "2014-02-19"
}
---
<p>Voir <a href="../version-info-fr.html">Contrôle des versions</a> pour la signification de chaque numéro de version.</p>

<section>
	<h2>v3.0.13</h2>
	<ul>
		<li><strong>Date de lancement&#160;:</strong> 2014-02-07</li>
		<li><strong>Téléchargements</strong>
			<ul>
				<li><a href="https://github.com/wet-boew/wet-boew/archive/v3.0.13.zip">Code source</a> (<strong>Répertoire&#160;:</strong> wet-boew, <strong>Étiquette git&#160;:</strong> v3.0.13)</li>
				<li><a href="https://github.com/wet-boew/wet-boew/releases/download/v3.0.13/wet-boew-dist-3.0.13.zip">Fichiers de production</a> (<strong>Répertoire&#160;:</strong> wet-boew-dist, <strong>Étiquette git&#160;:</strong> v3.0.13)</li>
			</ul>
		</li>
	</ul>

	<section>
		<h2>Quoi de neuf?</h2>
		<div lang="en">
		<p><strong>Needs translation</strong></p>
		<ul>
			<li>Updated Canada.gc.ca references to Canada.ca</li>
			<li>Migrated documentation from GitHub wiki to HTML pages in the docs folder</li>
			<li>Fixed overlapping issue with archived notice and same page links</li>
			<li>Fixed BlackBerry 10 localStorage issue</li>
			<li>Fixed Form validation field focus</li>
		</ul>
		</div>
	</section>
</section>

<section>
	<h2>v3.0.12</h2>
	<ul>
		<li><strong>Date de lancement&#160;:</strong> 2013-12-14 (<a href="v3.0.12-fr.html">v3.0.12 - Notes d'utilisation</a>)</li>
		<li><strong>Téléchargements</strong>
			<ul>
				<li><a href="https://github.com/wet-boew/wet-boew/archive/v3.0.12.zip">Code source</a> (<strong>Répertoire&#160;:</strong> wet-boew, <strong>Étiquette git&#160;:</strong> v3.0.12)</li>
				<li><a href="https://github.com/wet-boew/wet-boew/releases/download/v3.0.12/wet-boew-dist-3.0.12.zip">Fichiers de production</a> (<strong>Répertoire&#160;:</strong> wet-boew-dist, <strong>Étiquette git&#160;:</strong> v3.0.12)</li>
			</ul>
		</li>
	</ul>

	<section>
		<h2>Quoi de neuf?</h2>
		<div lang="en">
		<p><strong>Needs translation</strong></p>
		<ul>
			<li>Session timeout: Reverted back to displaying the time that the session will expire</li>
			<li>Multimedia player: Reverted back to the pseudo-streaming functionality for the Flash fallback</li>
			<li>Tabbed interface: Fixed tabs roller issue with tabs-style-2 in IE8</li>
			<li>Datepicker: Enhanced date format example for screen reader users and removed from the toggle button alt text</li>
			<li>Fixed left padding issue in dual icon scenarios</li>
			<li>Fixed legend element font sizing</li>
			<li>Fixed jQuery Mobile bugs with certain form fields (.data-group input, .data-group button, input[search])</li>
		</ul>
		</div>
	</section>
</section>

<section>
	<h2>v3.0.11</h2>
	<ul>
		<li><strong>Date de lancement&#160;:</strong> 2013-10-27 (<a href="v3.0.11-fr.html">v3.0.11 - Notes d'utilisation</a>)</li>
		<li><strong>Téléchargements</strong>
			<ul>
				<li><a href="https://github.com/wet-boew/wet-boew/archive/v3.0.11.zip">Code source</a> (<strong>Répertoire&#160;:</strong> wet-boew, <strong>Étiquette git&#160;:</strong> v3.0.11)</li>
				<li><a href="https://github.com/wet-boew/wet-boew/releases/download/v3.0.11/wet-boew-dist-3.0.11.zip">Fichiers de production</a> (<strong>Répertoire&#160;:</strong> wet-boew-dist, <strong>Étiquette git&#160;:</strong> v3.0.11)</li>
			</ul>
		</li>
	</ul>

	<section>
		<h2>Quoi de neuf?</h2>
		<div lang="en">
		<p><strong>Needs translation</strong></p>
		<ul>
			<li>Form validation: Fixed for attribute, ariaLive and clearing errors</li>
			<li>Session timeout: Improved usability of timeout message and fixed numerous bugs</li>
			<li>Tabbed interface: Fixed mobile tab creation</li>
			<li>Removed all -eng and -fra files except for the ones in the root and the demos folder root</li>
		</ul>
		</div>
	</section>
</section>

<section>
	<h2>v3.0.10</h2>
	<ul>
		<li><strong>Date de lancement&#160;:</strong> 2013-09-17 (<a href="v3.0.10-fr.html">v3.0.10 - Notes d'utilisation</a>)</li>
		<li><strong>Téléchargements</strong>
			<ul>
				<li><a href="https://github.com/wet-boew/wet-boew/archive/v3.0.10-release-src.zip">Code source</a> (<strong>Répertoire&#160;:</strong> wet-boew, <strong>Étiquette git&#160;:</strong> v3.0.10-release-src)</li>
				<li><a href="https://github.com/wet-boew/wet-boew/releases/download/v3.0.10-release-src/wet-boew-dist-3.0.10-release-dist.zip">Fichiers de production</a> (<strong>Répertoire&#160;:</strong> wet-boew-dist, <strong>Étiquette git&#160;:</strong> v3.0.10-release-dist)</li>
			</ul>
		</li>
	</ul>

	<section>
		<h2>Quoi de neuf?</h2>
		<div lang="en">
		<p><strong>Needs translation</strong></p>
		<ul>
			<li>Migration: Changed file name suffixes from -eng/-fra to -en/-fr to align with HTML5 conventions and to prepare for WET v4.0. The -eng/-fra files will be maintained for a period time to assist search engines with the transitions and to avoid breaking content.</li>
			<li>Fixed handling of left mouse buttons clicks in IE8 on same-page links.</li>
			<li>Multimedia player: Added srclang and label attributes to the caption track in the multimedia player working examples.</li>
			<li>Tabbed interface: Reduced the screen reader "chatter" and improved Window Eyes support.</li>
			<li>Added keyboard support for numbers through the numpad, punctuation and various symbols (affects Autocomplete, Menu bar, Share widget and Slideout tag)</li>
		</ul>
		</div>
	</section>
</section>

<section>
	<h2>v3.0.9</h2>
	<ul>
		<li><strong>Date de lancement&#160;:</strong> 2013-08-06 (<a href="v3.0.9-fr.html">v3.0.9 - Notes d'utilisation</a>)</li>
		<li><strong>Téléchargements</strong>
			<ul>
				<li><a href="https://github.com/wet-boew/wet-boew/archive/v3.0.9-release-src.zip">Code source</a> (<strong>Répertoire&#160;:</strong> wet-boew, <strong>Étiquette git&#160;:</strong> v3.0.9-release-src)</li>
				<li><a href="https://github.com/wet-boew/wet-boew/releases/download/v3.0.9-release-src/wet-boew-dist-3.0.9-release-dist.zip">Fichiers de production</a> (<strong>Répertoire&#160;:</strong> wet-boew-dist, <strong>Étiquette git&#160;:</strong> v3.0.9-release-dist)</li>
			</ul>
		</li>
	</ul>

	<section>
		<h2>Quoi de neuf?</h2>
		<div lang="en">
		<p><strong>Needs translation</strong></p>
		<ul>
			<li>Tabbed interface: Fixed support for nested tabs in small screen view</li>
			<li>Menu bar/Share widget: Improved WAI-ARIA support</li>
			<li>Changed "Flux" to "Fils de nouvelles" in GC Web Usability theme footer</li>
			<li>Fixed WCAG 2.0 issues with Grids form labels and .module-related links</li>
		</ul>
		</div>
	</section>
</section>

<section>
	<h2>v3.0.8</h2>
	<ul>
		<li><strong>Date de lancement&#160;:</strong> 2013-06-27 (<a href="v3.0.8-fr.html">v3.0.8 - Notes d'utilisation</a>)</li>
		<li><strong>Téléchargements</strong>
			<ul>
				<li><a href="https://github.com/wet-boew/wet-boew/archive/v3.0.8-release-src.zip">Code source</a> (<strong>Répertoire&#160;:</strong> wet-boew, <strong>Étiquette git&#160;:</strong> v3.0.8-release-src)</li>
				<li><a href="https://github.com/wet-boew/wet-boew/releases/download/v3.0.8-release-src/wet-boew-dist-3.0.8-release-dist.zip">Fichiers de production</a> (<strong>Répertoire&#160;:</strong> wet-boew-dist, <strong>Étiquette git&#160;:</strong> v3.0.8-release-dist)</li>
			</ul>
		</li>
	</ul>

	<section>
		<h2>Quoi de neuf?</h2>
		<div lang="en">
		<p><strong>Needs translation</strong></p>
		<section>
			<h3>Changes That Break Things</h3>
			<ul>
				<li>GC Web Usability theme home page: The example markup and CSS has changed. The example was only intended to demonstrate the priorities section and the other sections (headlines, video, keep connected and minister) were only meant as filler content (not meant to be implemented). To minimize confusion, all the home page specific markup and CSS has been removed except for the markup and CSS related to the priorities section. In addition, the layout has been switched over to straight grids. If the old CSS is still needed, then it can be found in demos/theme-gcwu-fegc/css/old-homepage.css. The following ids and classes have been affected:
					<ul>
						<li><code>gcwu-content</code> (replaced with <code>span-6</code>)</li>
						<li><code>gcwu-aside</code> (replaced with <code>span-2</code>)</li>
						<li><code>gcwu-headlines</code> (removed along with the associated section)</li>
						<li><code>gcwu-video</code> (removed along with the associated section)</li>
						<li><code>gcwu-connected</code> (removed along with the associated section)</li>
						<li><code>gcwu-minister</code> (removed along with the associated section)</li>
					</ul>
				</li>
				<li>Tabbed interface: The tabbed interface's mobile view now gives priority to the URL hash when determining which tab panel to display on plugin load. Prior to this change, the last tab panel opened during a user's browsing session would be displayed (if the user's web browser natively supported sessionStorage). The order of precedence used to determine which tab panel to display is as follows:
					<ul>
						<li>URL hash that matches a tab panel ID.</li>
						<li>Previously opened tab panel from a user's browsing session (if the user's browser supports sessionStorage).</li>
						<li>Tab with the <code>.default</code> CSS class.</li>
						<li>First tab panel of the tabbed interface.</li>
					</ul>
				</li>
			</ul>
		</section>
		<section>
			<h3>Other changes</h3>
			<ul>
				<li>Corrected Government of Canada navigation bar and footer links</li>
			</ul>
		</section>
		</div>
	</section>
</section>

<section>
	<h2>v3.0.7</h2>
	<ul>
		<li><strong>Date de lancement&#160;:</strong> 2013-05-16 (<a href="v3.0.7-fr.html">v3.0.7 - Notes d'utilisation</a>)</li>
		<li><strong>Téléchargements</strong>
			<ul>
				<li><a href="https://github.com/wet-boew/wet-boew/archive/v3.0.7-release-src.zip">Code source</a> (<strong>Répertoire&#160;:</strong> wet-boew, <strong>Étiquette git&#160;:</strong> v3.0.7-release-src)</li>
				<li><a href="https://github.com/wet-boew/wet-boew/releases/download/v3.0.7-release-src/wet-boew-dist-3.0.7-release-dist.zip">Fichiers de production</a> (<strong>Répertoire&#160;:</strong> wet-boew-dist, <strong>Étiquette git&#160;:</strong> v3.0.7-release-dist)</li>
			</ul>
		</li>
	</ul>

	<section>
		<h2>Quoi de neuf?</h2>
		<div lang="en">
		<p><strong>Needs translation</strong></p>
		<section>
			<h3>Changes That Break Things</h3>
			<ul>
				<li>Web Feeds widget Twitter feed now uses the Twitter Embedded Timeline since the Twitter API v1.0 is being discontinued. This means markup changes and requires timelines to be created in a Twitter account to be referenced by the widget.</li>
			</ul>
		</section>
		</div>
	</section>
</section>

<section>
	<h2>v3.0.6</h2>
	<ul>
		<li><strong>Date de lancement&#160;:</strong> 2013-04-11 (<a href="v3.0.6-fr.html">v3.0.6 - Notes d'utilisation</a>)</li>
		<li><strong>Téléchargements</strong>
			<ul>
				<li><a href="https://github.com/wet-boew/wet-boew/archive/v3.0.6-release-src.zip">Code source</a> (<strong>Répertoire&#160;:</strong> wet-boew, <strong>Étiquette git&#160;:</strong> v3.0.6-release-src)</li>
				<li><a href="https://github.com/wet-boew/wet-boew/releases/download/v3.0.6-release-src/wet-boew-dist-3.0.6-release-dist.zip">Fichiers de production</a> (<strong>Répertoire&#160;:</strong> wet-boew-dist, <strong>Étiquette git&#160;:</strong> v3.0.6-release-dist)</li>
			</ul>
		</li>
	</ul>
</section>

<section>
	<h2>v3.0.5</h2>
	<ul>
		<li><strong>Date de lancement&#160;:</strong> 2013-02-15 (<a href="v3.0.5-fr.html">v3.0.5 - Notes d'utilisation</a>)</li>
		<li><strong>Téléchargements</strong>
			<ul>
				<li><a href="https://github.com/wet-boew/wet-boew/archive/v3.0.5-release-src.zip">Code source</a> (<strong>Répertoire&#160;:</strong> wet-boew, <strong>Étiquette git&#160;:</strong> v3.0.5-release-src)</li>
				<li><a href="https://github.com/wet-boew/wet-boew/releases/download/v3.0.5-release-src/wet-boew-dist-3.0.5-release-dist.zip">Fichiers de production</a> (<strong>Répertoire&#160;:</strong> wet-boew-dist, <strong>Étiquette git&#160;:</strong> v3.0.5-release-dist)</li>
			</ul>
		</li>
	</ul>
</section>

<section>
	<h2>v3.0.4</h2>
	<ul>
		<li><strong>Date de lancement&#160;:</strong> 2013-01-24 (<a href="v3.0.4-fr.html">v3.0.4 - Notes d'utilisation</a>)</li>
		<li><strong>Téléchargements</strong>
			<ul>
				<li><a href="https://github.com/wet-boew/wet-boew/archive/v3.0.4-release-src.zip">Code source</a> (<strong>Répertoire&#160;:</strong> wet-boew, <strong>Étiquette git&#160;:</strong> v3.0.4-release-src)</li>
				<li><a href="https://github.com/wet-boew/wet-boew/releases/download/v3.0.4-release-src/wet-boew-dist-3.0.4-release-dist.zip">Fichiers de production</a> (<strong>Répertoire&#160;:</strong> wet-boew-dist, <strong>Étiquette git&#160;:</strong> v3.0.4-release-dist)</li>
			</ul>
		</li>
	</ul>
</section>

<section>
	<h2>v3.0.3</h2>
	<ul>
		<li><strong>Date de lancement&#160;:</strong> 2012-12-21 (<a href="v3.0.3-fr.html">v3.0.3 - Notes d'utilisation</a>)</li>
		<li><strong>Téléchargements</strong>
			<ul>
				<li><a href="https://github.com/wet-boew/wet-boew/archive/v3.0.3-release-src.zip">Code source</a> (<strong>Répertoire&#160;:</strong> wet-boew, <strong>Étiquette git&#160;:</strong> v3.0.3-release-src)</li>
				<li><a href="https://github.com/wet-boew/wet-boew/releases/download/v3.0.3-release-src/wet-boew-dist-3.0.3-release-dist.zip">Fichiers de production</a> (<strong>Répertoire&#160;:</strong> wet-boew-dist, <strong>Étiquette git&#160;:</strong> v3.0.3-release-dist)</li>
			</ul>
		</li>
	</ul>
</section>

<section>
	<h2>v3.0.2</h2>
	<ul>
		<li><strong>Date de lancement&#160;:</strong> 2012-11-15 (<a href="v3.0.2-fr.html">v3.0.2 - Notes d'utilisation</a>)</li>
		<li><strong>Téléchargements</strong>
			<ul>
				<li><a href="https://github.com/wet-boew/wet-boew/archive/v3.0.2-release.zip">Code source + fichiers de production</a> (<strong>Répertoire&#160;:</strong> wet-boew, <strong>Étiquette git&#160;:</strong> v3.0.2-release)</li>
			</ul>
		</li>
	</ul>
</section>

<section>
	<h2>v3.0.1</h2>
	<ul>
		<li><strong>Date de lancement&#160;:</strong> 2012-10-09 (<a href="v3.0.1-fr.html">v3.0.1 - Notes d'utilisation</a>)</li>
		<li><strong>Téléchargements</strong>
			<ul>
				<li><a href="https://github.com/wet-boew/wet-boew/archive/v3.0.1-release.zip">Code source + fichiers de production</a> (<strong>Répertoire&#160;:</strong> wet-boew, <strong>Étiquette git&#160;:</strong> v3.0.1-release)</li>
			</ul>
		</li>
	</ul>
</section>

<section>
	<h2>v3.0.0</h2>
	<ul>
		<li><strong>Date de lancement&#160;:</strong> 2012-09-17 (<a href="v3.0.0-fr.html">v3.0.0 - Notes d'utilisation</a>)</li>
		<li><strong>Téléchargements</strong>
			<ul>
				<li><a href="https://github.com/wet-boew/wet-boew/archive/v3.0.0-release.zip">Code source + fichiers de production</a> (<strong>Répertoire&#160;:</strong> wet-boew, <strong>Étiquette git&#160;:</strong> v3.0.0-release)</li>
			</ul>
		</li>
	</ul>
</section>
