---
{
	"title": "v3.0.12 release notes",
	"language": "en",
	"altLangPrefix": "v3.0.12"
}
---
<ul>
	<li><strong>Release date:</strong> 2013-12-14</li>
	<li><strong>Downloads</strong>
		<ul>
			<li><a href="https://github.com/wet-boew/wet-boew/archive/v3.0.12.zip">Source code</a> (<strong>Repository:</strong> wet-boew, <strong>Git tag:</strong> v3.0.12)</li>
			<li><a href="https://github.com/wet-boew/wet-boew-dist/archive/v3.0.12.zip">Production files</a> (<strong>Repository:</strong> wet-boew-dist, <strong>Git tag:</strong> v3.0.12)</li>
		</ul>
	</li>
</ul>

<section>
	<h2>What's New</h2>
	<ul>
		<li>Session timeout: Reverted back to displaying the time that the session will expire</li>
		<li>Multimedia player: Reverted back to the pseudo-streaming functionality for the Flash fallback</li>
		<li>Tabbed interface: Fixed tabs roller issue with tabs-style-2 in IE8</li>
		<li>Datepicker: Enhanced date format example for screen reader users and removed from the toggle button alt text</li>
		<li>Fixed left padding issue in dual icon scenarios</li>
		<li>Fixed legend element font sizing</li>
		<li>Fixed jQuery Mobile bugs with certain form fields (.data-group input, .data-group button, input[search])</li>
	</ul>
</section>

<section>
	<h2>Details</h2>
	<p><strong>Number of commits:</strong> 35</p>
	<ul>
		<li><a href="https://github.com/pjackson28">@pjackson28</a>: 18 commits</li>
		<li><a href="https://github.com/nschonni">@nschonni</a>: 5 commits</li>
		<li><a href="https://github.com/patheard">@patheard</a>: 4 commits</li>
		<li><a href="https://github.com/EricDunsworth">@EricDunsworth</a>: 3 commits</li>
		<li><a href="https://github.com/berubs">@berubs</a>: 2 commits</li>
		<li><a href="https://github.com/LaurentGoderre">@LaurentGoderre</a>: 2 commits</li>
		<li><a href="https://github.com/josephconti31">@josephconti31</a>: 1 commit</li>
	</ul>
	<section>
		<h3>List of commits</h3>
		<ul>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/8366504">Updated the build version to v3.0.12-development</a> - pjackson28, 2013-10-27 00:44:47 -0400</li> 
			<li><a href="https://github.com/wet-boew/wet-boew/commit/242d6c3">Session: revert to displaying time that session expires</a> - Pat Heard, 2013-11-05 15:44:21 -0500</li> 
			<li><a href="https://github.com/wet-boew/wet-boew/commit/5cf4a38">Reverted the pseudostreaming functionality form the Flash fallback</a> - Laurent Goderre, 2013-11-07 14:39:42 -0500</li> 
			<li><a href="https://github.com/wet-boew/wet-boew/commit/67ae87d">Slider: removed window.console call</a> - Pat Heard, 2013-11-13 08:16:12 -0500</li> 
			<li><a href="https://github.com/wet-boew/wet-boew/commit/c356243">Slider: fix slider width in Chrome</a> - at Heard, 2013-11-13 08:26:33 -0500</li> 
			<li><a href="https://github.com/wet-boew/wet-boew/commit/a536789">Tabs: fix IE8 .tabs-roller in .tabs-style-2 (fixes #3695)</a> - Pat Heard, 2013-11-22 08:43:38 -0500</li> 
			<li><a href="https://github.com/wet-boew/wet-boew/commit/4dcf4b0">Grids IE8 SCSS: Fixed left padding issue in dual icon scenarios (in which only external icons will appear). Fixes gh-3285.</a> - Eric Dunsworth, 2013-12-04 22:09:14 -0500</li> 
			<li><a href="https://github.com/wet-boew/wet-boew/commit/34a00c3">Demos: Fixed various broken links.</a> - Eric Dunsworth, 2013-12-04 22:20:17 -0500</li> 
			<li><a href="https://github.com/wet-boew/wet-boew/commit/0a34f42">Gitignore: Added sprite naming patterns from v4.0's version of this file. Prevents generated sprite files from appearing as unversioned in non-v4.0 branches.</a> - Eric Dunsworth, 2013-12-04 23:02:06 -0500</li> 
			<li><a href="https://github.com/wet-boew/wet-boew/commit/9e2bb3a">Datepicker: Tweak date format &lt;abbr&gt;</a> - Stephane Berube, 2013-12-09 11:53:37 -0500</li> 
			<li><a href="https://github.com/wet-boew/wet-boew/commit/e1b9b74">Forms: Fix legend font sizing</a> - josephconti31, 2013-12-10 14:21:29 -0500</li> 
			<li><a href="https://github.com/wet-boew/wet-boew/commit/3306fe8">Datepicker: Removes abbr from toggle icon alt</a> - Stephane Berube, 2013-12-10 15:22:14 -0500</li> 
			<li><a href="https://github.com/wet-boew/wet-boew/commit/5ca19af">Grids: Replaced p class='button-group' with ul/li equivalent</a> - Paul Jackson, 2013-12-12 11:59:08 -0500</li> 
			<li><a href="https://github.com/wet-boew/wet-boew/commit/85907d3">Automatically adds data-role=none to certain form fields to resolve jQuery Mobile bugs (fixes #3764, fixes #3947)</a> - Paul Jackson, 2013-12-12 12:24:35 -0500</li> 
			<li><a href="https://github.com/wet-boew/wet-boew/commit/0288335">Moved jQuery Mobile form field fix to after the popups are created</a> - Paul Jackson, 2013-12-12 12:49:40 -0500</li> 
			<li><a href="https://github.com/wet-boew/wet-boew/commit/bb69505">Form validation: Fixed French typos in working examples (fixes #4040)</a> - Paul Jackson, 2013-12-13 13:00:25 -0500</li> 
			<li><a href="https://github.com/wet-boew/wet-boew/commit/03405b0">i18n: Add missing commas for missing Spanish</a> - Nick Schonning, 2013-12-13 15:51:40 -0500</li> 
			<li><a href="https://github.com/wet-boew/wet-boew/commit/d5bd853">Updated files for the v3.0.12 maintenance release</a> - Paul Jackson, 2013-12-14 00:57:20 -0500</li> 
		</ul>
	</section>
</section>
