/*
  WET-BOEW
  @title: Medium view and over (screen only)
 */
[dir=rtl] {
	main {
		&.col-md-push-3 {
			left: auto;
		}
	}

	#wb-sec {
		&.col-md-pull-9 {
			right: auto;
		}
	}
}

.col-md-auto {
	width: auto;
}
