/*
  WET-BOEW
  @title: Large view and over (screen only)
 */
.clr-lft-lg {
	clear: left;
}

.clr-rght-lg {
	clear: right;
}

// col-auto extension to Bootstrap grid
.col-lg-auto {
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
	width: auto;
}

