/*
  WET-BOEW
  @title: Small view and over (screen only)
 */

.col-sm-auto {
	width: auto;
}

.form-inline {
	.label-inline {
		display: inline-block;
		padding-right: 10px;
		&:last-child {
			padding-right: 0;
		}
	}
}
