---
{
	"title": "Browser Support",
	"language": "en",
	"description": "Browser support for the Web Experience Toolkit.",
	"altLangPrefix": "index",
	"dateModified": "2015-05-05"
}
---

<p>The browsers we support are:</p>
<ul>
	<li>The current and previous versions of browsers that have at least a 5% user share.</li>
	<li>Any major version of a browser that has at least a 5% user share.</li>
</ul>
<p>User share is measured from traffic to Canada.ca.</p>
<p>Browsers, and major versions of a browser, are remove from the support list if they’ve had below 5% user share for three consecutive months.</p>
<p>Supported means that we actively fix bugs and issues affecting those browsers. WET still works in unsupported browsers.</p>
