---
{
	"title": "Filing a bug or an issue",
	"language": "en",
	"description": "How to file a bug or an issue",
	"altLangPrefix": "bugs",
	"dateModified": "2014-03-27"
}
---
<p>Before <a href="https://github.com/wet-boew/wet-boew/issues/new">creating an issue</a>:</p>
<ul>
	<li>Is your question specific to WET-BOEW or just a general coding question? You might find general solutions to HTML, CSS, and JavaScript questions on <a href="https://stackoverflow.com">StackOverflow</a>.</li>
	<li><a href="https://github.com/wet-boew/wet-boew/issues">Have you searched the existing issues</a> to see if someone's already filed the same thing? You can use the search box at the top of the page or filter issues by the categories on the left.</li>
	<li>What version of WET are you using (v3.1.1, v4.0.0, etc)? If you're not using the latest stable version, does using the latest version resolve the issue?</li>
	<li>Was the issue encountered in a WET variant (Drupal, PHP, .Net, etc.) or in the core framework? If it applies to the core project, <a href="https://github.com/wet-boew/wet-boew/issues/new">create an issue in the WET-BOEW repository</a>.</li>
</ul>

<p>When creating an issue:</p>
<ul>
	<li>What browser are you using (IE8, FireFox 18, Chrome 24, or a combination of browsers)? If an assistive technology (AT) was involved, then please include the combination of AT and browser that was used when creating your issue.</li>
	<li>Can you provide a link to a page that reproduces the issue (for example, a demo or public URL)? If a public page cannot be provided, a picture should be attached showing the issue (use GitHub's <a class="ui-link" href="https://github.com/blog/1347-issue-attachments">issue attachment feature</a>).</li>
</ul>
