---
{
	"title": "Rapporter un problème ou une anomalie",
	"language": "fr",
	"description": "Comment rapporter un problème ou une anomalie",
	"altLangPrefix": "bugs",
	"dateModified": "2014-07-24"
}
---
<div lang="fr">
<p>Avant de <a href="https://github.com/wet-boew/wet-boew/issues/new">rapporter une anomalie</a>:</p>
<ul>
	<li>Est-ce que votre question est spécifique à WET-BOEW ou juste une question générale de programmation? 
	Vous pouvez trouver des solutions générales aux questions HTML, CSS, et JavaScript sur 
	<a href="http://stackoverflow.com" lang="en">StackOverflow</a>.</li>
	<li><a href="https://github.com/wet-boew/wet-boew/issues">Avez-vous recherché les anomalies existantes</a> 
	pour voir si quelqu'un a déjà rapporté la même chose? Vous pouvez utiliser la boîte de recherche au haut de la page
	ou filtrer les anomalies par catégories à la gauche.</li>
	<li>Quelle version de BOEW utilisez vous? Utilisez vous (v3.1.1, v4.0.0, etc)? 
	Si vous n'utilisez pas la dernière version stable, est-ce que d'utiliser la dernière version stable règle le problème?</li>
	<li>Est-ce que l'anomalie a été rencontrée dans une variante BOEW (Drupal, PHP, .Net, etc.) ou dans le cadre de référence de base? If it applies to the core project, <a href="https://github.com/wet-boew/wet-boew/issues/new">create an issue in the WET-BOEW repository</a>.</li>
</ul>

<p>Lorsque vous créez une anomalie:</p>
<ul>
	<li>Quel fureteur utilisez vous? (IE8, FireFox 18, Chrome 24, ou une combinaison de fureteurs)? 
	Si une technologie d'assistance (TA) est impliquée, veuillez inclure la combinaison d'AT et fureteur utilisés lorsque vous rapportez votre anomalie.</li>
	<li>Pouvez vous fournir un lien a une page qui reproduit l'anomalie (par exemple, une démo ou un URL public)? 
	Si une page publique ne peut pas être fournie, une image démontrant l'anomalie devrait être attachée 
	(utilisez « <a class="ui-link" lang="en" href="https://github.com/blog/1347-issue-attachments">issue attachment feature</a> » de GitHub).</li>
</ul>
</div>
