---
{
	"title": "Matériel de communications",
	"language": "fr",
	"description": "Matériel de communications de la Boîte à outils de l’expérience Web (BOEW).",
	"altLangPrefix": "comms",
	"dateModified": "2014-04-14"
}
---
<ul>
	<li><a href="ref/promo-fr.html">Matériel promotionnel</a></li>
	<li><a href="ref/accolades-fr.html">Articles, blogues, vidéos et implémentations de la BOEW</a></li>
</ul>
