---
{
	"title": "Communications material",
	"language": "en",
	"description": "Communications material for the Web Experience Toolkit.",
	"altLangPrefix": "comms",
	"dateModified": "2014-04-14"
}
---
<ul>
	<li><a href="ref/promo-en.html">Promotional material</a></li>
	<li><a href="ref/accolades-en.html">Articles, blogs, videos and implementations of WET</a></li>
</ul>
