---
{
	"title": "Events",
	"language": "en",
	"description": "Upcoming and past events related to the Web Experience Toolkit.",
	"altLangPrefix": "events",
	"css": ["css/events"],
	"dateModified": "2014-07-31"
}
---
<section class="row">
	<div class="col-md-12">
		<h2>Upcoming Events</h2>
	</div>
	<div class="col-md-4 col-md-push-8 evt-cal-pdng">
		<div id="upcoming-events"></div>
	</div>
	<div class="col-md-8 col-md-pull-4">
		<div class="wb-calevt" data-calevt-src="upcoming-events">
			<ol class="upcoming-evt-ol">
				<li>
					<section>
						<h3><a href="http://wet-boew.github.io/codefest/index-en.html">WET CodeFest 2014</a></h3>
						<p><strong>Date:</strong> <time datetime="2014-08-14">August 14, 2014</time> to <time datetime="2014-08-15">August 15, 2014</time></p>
						<p><strong>Location:</strong> Carleton University</p>
						<p>Held every summer in Ottawa, CodeFest 2014 is an open event for public servants, WET contributors and collaborating organizations.</p> 
						<p><strong><a href="http://www.eventbrite.ca/e/codefest-2014-festicode-2014-tickets-12118128649">Register now!</a></strong></p>
					</section>
				</li>
			</ol>
		</div>
	</div>
</section>
<section class="row past-evt">
	<div class="col-md-12">
		<h2>Past Events</h2>
		<div class="past-evt-bdr">
			<section class="row">
				<div class="col-md-12">
					<h3>WET CodeFest 2013</h3>
					<p><strong>Date: </strong>August 8-9, 2013</p>
					<p>WET CodeFest 2013 took place August 8 to 9, 2013 at the University of Ottawa. It was successful in building a strong community in an effort to increase adoption rates and engage new project leaders.</p>
					<p><a href="https://www.youtube.com/watch?v=UkRwPqqeR_k"><strong>Videos of CodeFest 2013</strong></a></p>
				</div>
			</section>
			<section class="row">
				<div class="col-md-12">
					<h3>WET Discovery Day</h3>
					<p><strong>Date: </strong>August 17, 2012</p>
					<p>The WET Discovery Day was a collaborative day was for web managers, Centres of Expertise (COEs) and WET Contributors to get to better know and to work on the Web Experience Toolkit (WET).</p>
				</div>
			</section>
		</div>
	</div>
</section>
