---
{
	"title": "Activités",
	"language": "fr",
	"description": "Upcoming and past events related to the Web Experience Toolkit.",
	"altLangPrefix": "events",
	"css": ["css/events"],
	"dateModified": "2014-07-31"
}
---
<section class="row">
	<div class="col-md-12">
		<h2>Activités à venir</h2>
	</div>
	<div class="col-md-4 col-md-push-8 evt-cal-pdng">
		<div id="upcoming-events"></div>
	</div>
	<div class="col-md-8 col-md-pull-4">
		<div class="wb-calevt" data-calevt-src="upcoming-events">
			<ol class="upcoming-evt-ol">
				<li>
					<section>
						<h3><a href="http://wet-boew.github.io/codefest/index-fr.html">Codefest de la BOEW 2014</a></h3>
						<p><strong>Date : </strong><time datetime="2014-08-14">14 août 2014 </time>et<time datetime="2014-08-15">15 août 2014</time></p>
						<p><strong>Lieu : </strong>Université Carleton</p>
						<p>Organisée tous les étés à Ottawa, Codefest 2014 est une activité ouverte à tous les fonctionnaires. 
						Contributeurs et organisations collaboratrices à la BOEW.</p> 
						<p><strong><a href="http://www.eventbrite.ca/e/codefest-2014-festicode-2014-tickets-12118128649">Incrivez-vous dès maintenant!</a></strong></p>
					</section>
				</li>
			</ol>
		</div>
	</div>
</section>
<section class="row past-evt">
	<div class="col-md-12">
		<h2>Activités passées</h2>
		<div class="past-evt-bdr">
			<section class="row">
				<div class="col-md-12">
					<h3>Codefest de la BOEW 2013</h3>
					<p><strong>Date : </strong>8 et 9 août 2013</p>
					<p>Codefest de la BOEW 2013 a eu lieu le 8 et 9 août 2013 à l’Université d’Ottawa. Cet événement a permis de bâtir une collectivité solide visant à accroître les taux d’adoption et à faire participer de nouveaux chefs de projets.</p>
					<p><a href="https://www.youtube.com/watch?v=UkRwPqqeR_k"><strong>Vidéos de Codefest 2013</strong></a></p>
				</div>
			</section>
			<section class="row">
				<div class="col-md-12">
					<h3>Journée de la découverte de la BOEW</h3>
					<p><strong>Date : </strong>17 août 2012</p>
					<p>La Journée de la découverte de la BOEW était une journée basée sur la collaboration organisée à l’intention des gestionnaires de sites Web, des centres d’expertise (CE) et de la BOEW. Cette journée a permis aux contributeurs de mieux connaître et développer la Boîte à outils de l’expérience Web (BOEW).</p>
				</div>
			</section>
		</div>
	</div>
</section>
