---
{
	"title": "Documentation",
	"language": "fr",
	"description": "Documentation de la Boîte à outils de l’expérience Web (BOEW).",
	"altLangPrefix": "index",
	"dateModified": "2014-07-24"
}
---
<p>La BOEW fonctionne sur le principe d'amélioration progressive, et implémente des techniques bien établies pour accroître l'accessiblité et l'utilisabilité de contenu Web. Si vous êtes nouveau à la BOEW, veuillez commencer par notre section <a href="start-fr.html">Comment démarrer</a>, qui contient
de l'information comment télécharger, utiliser ou contribuer à la boîte d'outils. Sinon, visualisez la section référence ci-bas.</p>

<section>
	<h2><a href="start-fr.html">Comment démarrer</a></h2>
	<ul>
		<li><a href="start-fr.html#implement">Je veux utiliser la BOEW pour mon site Web</a></li>
		<li><a href="start-fr.html#theme">Je veux personaliser BOEW et créer un nouveau thème BOEW</a></li>
		<li><a href="start-fr.html#issues">Je veux signaler une anomalie ou demander une question à propos de la BOEW</a></li>
		<li><a href="start-fr.html#develop">Je veux corriger ou améliorer la BOEW en tant que développeur</a></li>
	</ul>
</section>

<section>
	<h2>Référence</h2>
	<ul>
		<!-- <li><a href="http://wet-boew.github.io/v3.1-ci/docs/ref/core-fr.html">Cadre fondamental (v3.1)</a></li> -->
		<li><a href="ref/themesstyle-fr.html">Thèmes et style</a></li>
		<li><a href="ref/plugins-fr.html">Plugiciels</a></li>
		<li><a href="ref/polyfills-fr.html">Correctifs</a></li>
		<li><a href="ref/variants-fr.html">Variants</a></li>
		<li><a href="ref/other-fr.html">Autre composants</a></li>
		<!-- <li><a href="http://wet-boew.github.io/v3.1-ci/docs/ref/external-fr.html">Projets externes utilisés par la BOEW (v3.1)</a></li> -->
	</ul>
</section>

<p id="change">Voici quelques lignes directrices si vous désirez créer ou modifier de la documentation existante&#160;:</p>
<ul>
	<li>Verser tous les guides, les descriptions ou les directives pour la BOEW dans le répertoire de GitHub.</li>
	<li>Suivre le <a href="ref/docstmpl-fr.html">modèle de documentation</a>.</li>
	<li>Fournir au moins un exemple pour chaque attribut, thème ou élément de la BOEW. D’autres exemples doivent être donnés pour chaque paramètre ou option. </li>
</ul>
