---
{
	"title": "Documentation",
	"language": "fr",
	"altLangPrefix": "index"
}
---
<p lang="en"><strong>Needs translation</strong> WET operates on the principle of progressive enhancement, and implements well established techniques increasing the accessibility and usability of web content. If you are new to WET, please begin with our Getting Started section, which contains all the information anyone new requires to access, implement or contribute to the toolkit. Otherwise, see the Reference section.</p>
<p id="change">Voici quelques lignes directrices si vous désirez créer ou modifier de la documentation existante&#160;:</p>
<ul>
	<li>Verser tous les guides, les descriptions ou les directives pour la BOEW dans le répertoire de GitHub.</li>
	<li>Suivre le <a href="http://wet-boew.github.io/wet-boew/docs/ref/docstmpl-fr.html">modèle de documentation (v3.1)</a>.</li>
	<li>Fournir au moins un exemple pour chaque attribut, thème ou élément de la BOEW. D’autres exemples doivent être donnés pour chaque paramètre ou option. </li>
</ul>

<section>
	<h2>Comment démarrer</h2>
	<ul>
		<li><a href="http://wet-boew.github.io/wet-boew/docs/gs-cd/index-fr.html">Comment démarrer (v3.1)</a>
			<ul>
				<li><a href="http://wet-boew.github.io/wet-boew/docs/gs-cd/github-fr.html">Guide d'utilisation de GitHub pour la BOEW (v3.1)</a></li>
				<li><a href="http://wet-boew.github.io/wet-boew/docs/gs-cd/impl-fr.html">Mise en œuvre de la BOEW (v3.1)</a></li>
				<li><a href="http://wet-boew.github.io/wet-boew/docs/gs-cd/dev-fr.html">Développer pour la BOEW (v3.1)</a></li>
			</ul>
		</li>
	</ul>
</section>

<section>
	<h2>Référence</h2>
	<ul>
		<li><a href="http://wet-boew.github.io/wet-boew/docs/ref/core-fr.html">Cadre fondamental (v3.1)</a></li>
		<li><a href="http://wet-boew.github.io/wet-boew/docs/ref/themesstyle-fr.html">Thèmes et style (v3.1)</a></li>
		<li><a href="http://wet-boew.github.io/wet-boew/docs/ref/plugins-fr.html">Plugiciels (v3.1)</a></li>
		<li><a href="http://wet-boew.github.io/wet-boew/docs/ref/polyfills-fr.html">Correctifs (v3.1)</a></li>
		<li><a href="http://wet-boew.github.io/wet-boew/docs/ref/variants-fr.html">Variants (v3.1)</a></li>
		<li><a href="http://wet-boew.github.io/wet-boew/docs/ref/other-fr.html">Autre composants (v3.1)</a></li>
		<li><a href="http://wet-boew.github.io/wet-boew/docs/ref/external-fr.html">Projets externes utilisés par la BOEW (v3.1)</a></li>
	</ul>
</section>

<section>
	<h2 id="comms">Matériel de communications</h2>
	<ul>
		<li><a href="ref/promo-fr.html">Matériel promotionnel</a></li>
		<li><a href="ref/accolades-fr.html">Articles, blogues, vidéos et implémentations de la BOEW</a></li>
	</ul>
</section>
