---
{
	"title": "Documentation",
	"language": "fr",
	"description": "Documentation de la Boîte à outils de l’expérience Web (BOEW).",
	"altLangPrefix": "index",
	"dateModified": "2014-02-19"
}
---
<p lang="en"><strong>Needs translation</strong> WET operates on the principle of progressive enhancement, and implements well established techniques increasing the accessibility and usability of web content. If you are new to WET, please begin with our Getting Started section, which contains all the information anyone new requires to access, implement or contribute to the toolkit. Otherwise, see the Reference section.</p>
<p id="change">Voici quelques lignes directrices si vous désirez créer ou modifier de la documentation existante&#160;:</p>
<ul>
	<li>Verser tous les guides, les descriptions ou les directives pour la BOEW dans le répertoire de GitHub.</li>
	<li>Suivre le <a href="ref/docstmpl-fr.html">modèle de documentation</a>.</li>
	<li>Fournir au moins un exemple pour chaque attribut, thème ou élément de la BOEW. D’autres exemples doivent être donnés pour chaque paramètre ou option. </li>
</ul>
<section>
	<h2>Comment démarrer</h2>
	<ul>
		<li><a href="start-fr.html">Comment démarrer</a>
			<div lang="en">
			<p><strong>Needs translation</strong></p>
			<ul>
				<li><a href="start-fr.html#issues">I want to report a bug or ask a question about WET</a></li>
				<li><a href="start-fr.html#implement">I want to implement WET on my website</a></li>
				<li><a href="start-fr.html#develop">I want to fix or improve WET as a developer</a></li>
				<li><a href="start-fr.html#theme">I want to design a new WET theme</a></li>
			</ul>
			</div>
		</li>
	</ul>
</section>
<section>
	<h2>Référence</h2>
	<ul>
		<li><a href="http://wet-boew.github.io/wet-boew/docs/ref/core-fr.html">Cadre fondamental (v3.1)</a></li>
		<li><a href="ref/themesstyle-fr.html">Thèmes et style</a></li>
		<li><a href="ref/plugins-fr.html">Plugiciels</a></li>
		<li><a href="ref/polyfills-fr.html">Correctifs</a></li>
		<li><a href="ref/variants-fr.html">Variants</a></li>
		<li><a href="ref/other-fr.html">Autre composants</a></li>
		<li><a href="http://wet-boew.github.io/wet-boew/docs/ref/external-fr.html">Projets externes utilisés par la BOEW (v3.1)</a></li>
	</ul>
</section>

<section>
	<h2 id="comms">Matériel de communications</h2>
	<ul>
		<li><a href="ref/promo-fr.html">Matériel promotionnel</a></li>
		<li><a href="ref/accolades-fr.html">Articles, blogues, vidéos et implémentations de la BOEW</a></li>
	</ul>
</section>
