---
{
	"title": "Documentation",
	"language": "en",
	"description": "Documentation for the Web Experience Toolkit.",
	"altLangPrefix": "index"
}
---
<p>WET operates on the principle of progressive enhancement, and implements well established techniques increasing the accessibility and usability of web content. If you are new to WET, please begin with our Getting Started section, which contains all the information anyone new requires to access, implement or contribute to the toolkit. Otherwise, see the Reference section.</p>
<p id="change">The following are some guidelines if you wish to create or edit the existing documentation:</p>
<ul>
	<li>Any and all descriptions, guides, or instructions for WET should be included as HTML files in this repository.</li>
	<li>Follow the <a href="ref/docstmpl-en.html">documentation example template</a>.</li>
	<li>At least one working example should be provided for each WET feature, theme or component. Additional examples should be provided for each parameter or option.</li>
</ul>

<section>
	<h2>Getting started</h2>
	<ul>
		<li><a href="http://wet-boew.github.io/wet-boew/docs/gs-cd/index-en.html">Getting started (v3.1)</a>
			<ul>
				<li><a href="http://wet-boew.github.io/wet-boew/docs/gs-cd/github-en.html">Using GitHub for WET (v3.1)</a></li>
				<li><a href="http://wet-boew.github.io/wet-boew/docs/gs-cd/impl-en.html">Implementing WET (v3.1)</a></li>
				<li><a href="http://wet-boew.github.io/wet-boew/docs/gs-cd/dev-en.html">Developing for WET (v3.1)</a></li>
			</ul>
		</li>
	</ul>
</section>

<section>
	<h2>Reference</h2>
	<ul>
		<li><a href="http://wet-boew.github.io/wet-boew/docs/ref/core-en.html">Core framework (v3.1)</a></li>
		<li><a href="http://wet-boew.github.io/wet-boew/docs/ref/themesstyle-en.html">Themes and style (v3.1)</a></li>
		<li><a href="ref/plugins-en.html">Plugins</a></li>
		<li><a href="ref/polyfills-en.html">Polyfills</a></li>
		<li><a href="http://wet-boew.github.io/wet-boew/docs/ref/variants-en.html">Variants (v3.1)</a></li>
		<li><a href="ref/other-en.html">Other components</a></li>
		<li><a href="http://wet-boew.github.io/wet-boew/docs/ref/external-en.html">External projects used in WET (v3.1)</a></li>
	</ul>
</section>

<section>
	<h2 id="comms">Communications material</h2>
	<ul>
		<li><a href="ref/promo-en.html">Promotional material</a></li>
		<li><a href="ref/accolades-en.html">Articles, blogs, videos and implementations of WET</a></li>
	</ul>
</section>
