---
{
	"title": "Documentation",
	"language": "en",
	"description": "Documentation for the Web Experience Toolkit.",
	"altLangPrefix": "index",
	"dateModified": "2019-08-21"
}
---
<p>WET operates on the principle of progressive enhancement, and implements well-established techniques increasing the accessibility and usability of web content. If you are new to WET, please begin with our <a href="start-en.html">Getting Started</a> section, which contains information on how to to download, use or contribute to the toolkit. Otherwise, see the Reference section below.</p>

<section>
	<h2><a href="start-en.html">Getting started</a></h2>
	<ul>
		<li><a href="start-en.html#implement">I want to use WET on my website</a></li>
		<li><a href="start-en.html#theme">I want to customize WET and design a new WET theme</a></li>
		<li><a href="start-en.html#issues">I want to report a bug or ask a question about WET</a></li>
		<li><a href="start-en.html#develop">I want to fix or improve WET as a developer</a></li>
	</ul>
</section>

<section>
	<h2>WET features reference</h2>
	<ul>
		<!-- <li><a href="https://wet-boew.github.io/v3.1-ci/docs/ref/core-en.html">Core framework (v3.1)</a></li> -->
		<li><a href="ref/themesstyle-en.html">Themes and style</a></li>
		<li><a href="ref/plugins-en.html">Plugins</a></li>
		<li><a href="ref/polyfills-en.html">Polyfills</a></li>
		<li><a href="ref/variants-en.html">Variants</a></li>
		<li><a href="ref/other-en.html">Other components</a></li>
		<!-- <li><a href="https://wet-boew.github.io/v3.1-ci/docs/ref/external-en.html">External projects used in WET (v3.1)</a></li> -->
	</ul>
</section>

<section>
	<h2>Notes and other resources</h2>

	<ul>
		<li><a href="https://wet-boew.github.io/wet-boew-documentation/index-en.html">Project documentations and design decision</a></li>
		<li><a href="start-en.html#develop">contributing guidelines</a></li>
		<li><a href="ref/wetsites-en.html">Websites using WET</a></li>
		<li><a href="comms-en.html">Communications material</a></li>
		<li><a href="../License-en.html">Terms and conditions</a> (MIT license)</li>
	</ul>

	<h3 class="h5" id="change">Guidelines to create or edit WET features</h3>
	<ul>
		<li>Any and all descriptions, guides, or instructions for WET should be included as HTML files in this repository.</li>
		<li>Follow the <a href="ref/docstmpl-en.html">documentation example template</a>.</li>
		<li>At least one working example should be provided for each WET feature, theme or component. Additional examples should be provided for each parameter or option.</li>
		<li>If you have any question, consider to meet the WET team during one of our weekly Tuesday code sprint.</li>
	</ul>

	<h3 class="h5" id="wet31">Notice about WET v3.1</h3>
	<p>As of September 23, 2014, version 3.1 of the Web Experience Toolkit is no longer supported. The source code and documentation have been moved to the <a href="{{site.legacyrepolink}}">{{site.legacyreponame}}</a>repository.</p>
</section>
