---
{
	"title": "Documentation",
	"language": "fr",
	"description": "Documentation de la Boîte à outils de l’expérience Web (BOEW).",
	"altLangPrefix": "index",
	"dateModified": "2019-08-21"
}
---
<p>La BOEW fonctionne sur le principe d'amélioration progressive, et implémente des techniques bien établies pour accroître l'accessiblité et l'utilisabilité de contenu Web. Si vous êtes nouveau à la BOEW, veuillez commencer par notre section <a href="start-fr.html">Comment démarrer</a>, qui contient
de l'information comment télécharger, utiliser ou contribuer à la boîte d'outils. Sinon, visualisez la section référence ci-bas.</p>

<section>
	<h2><a href="start-fr.html">Comment démarrer</a></h2>
	<ul>
		<li><a href="start-fr.html#implement">Je veux utiliser la BOEW pour mon site Web</a></li>
		<li><a href="start-fr.html#theme">Je veux personaliser BOEW et créer un nouveau thème BOEW</a></li>
		<li><a href="start-fr.html#issues">Je veux signaler une anomalie ou demander une question à propos de la BOEW</a></li>
		<li><a href="start-fr.html#develop">Je veux corriger ou améliorer la BOEW en tant que développeur</a></li>
	</ul>
</section>

<section>
	<h2>Référence</h2>
	<ul>
		<!-- <li><a href="https://wet-boew.github.io/v3.1-ci/docs/ref/core-fr.html">Cadre fondamental (v3.1)</a></li> -->
		<li><a href="ref/themesstyle-fr.html">Thèmes et style</a></li>
		<li><a href="ref/plugins-fr.html">Plugiciels</a></li>
		<li><a href="ref/polyfills-fr.html">Correctifs</a></li>
		<li><a href="ref/variants-fr.html">Variants</a></li>
		<li><a href="ref/other-fr.html">Autre composants</a></li>
		<!-- <li><a href="https://wet-boew.github.io/v3.1-ci/docs/ref/external-fr.html">Projets externes utilisés par la BOEW (v3.1)</a></li> -->
	</ul>
</section>


<section>
	<h2>Notes et autres ressources</h2>

	<ul>
		<li><a href="https://wet-boew.github.io/wet-boew-documentation/index-en.html" hreflang="en">Documentation du projet et les décisions de conception</a> (en anglais)</li>
		<li><a href="start-fr.html#develop">lignes directrices pour les contributeurs</a></li>
		<li><a href="ref/wetsites-fr.html">Sites Web qui se servent de la BOEW</a></li>
		<li><a href="comms-fr.html">Matériel de communications</a></li>
		<li><a href="../Licence-fr.html">Conditions régissant l'utilisation</a> (licence MIT)</li>
	</ul>

	<h3 class="h5" id="change">Lignes directrices pour créer ou modifier la documentation</h3>
	<ul>
		<li>Verser tous les guides, les descriptions ou les directives pour la BOEW dans le répertoire de GitHub.</li>
		<li>Suivre le <a href="ref/docstmpl-fr.html">modèle de documentation</a>.</li>
		<li>Fournir au moins un exemple pour chaque attribut, thème ou élément de la BOEW. D’autres exemples doivent être donnés pour chaque paramètre ou option. </li>
		<li>Si vous avez des questions, considerer de rencontrer l'équipe de la BOEW durant un de nos code sprint hebdomadiare à chaque mardi.</li>
	</ul>

	<h3 class="h5" id="boew31">Avis concernant la BOEW v3.1</h3>
	<p>À partir du 23 septembre 2014, la version 3.1 de la Boîte à outils de l'expérience Web n'est plus supportée. Le code source et la documentation ont été déplacés vers le dépôt <a href="{{site.legacyrepolink}}">{{site.legacyreponame}}</a>.</p>
</section>
