---
{
	"title": "Migrating CSS classes",
	"language": "en",
	"description": "Classes changes from WET 3 to WET 4",
	"altLangPrefix": "migrating",
	"dateModified": "2014-10-06"
}
---

<ul>
	<li><a href="#map">Styles map from <abbr title="Web Experience Toolkit">WET</abbr> 3 to <abbr title="Web Experience Toolkit">WET</abbr> 4</a></li>
	<li><a href="#new">New classes in <abbr title="Web Experience Toolkit">WET</abbr> 4</a></li>
</ul>

<section>
	<h2 id="map">Styles map from <abbr title="Web Experience Toolkit">WET</abbr> 3 to <abbr title="Web Experience Toolkit">WET</abbr> 4</h2>
	<table border="1">
		<thead>
			<tr>
				<th scope="col"><abbr title="Web Experience Toolkit">WET</abbr> 3-1</th>
				<th scope="col"><abbr title="Web Experience Toolkit">WET</abbr> 4</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>&lt;cite&gt;</td>
				<td>&lt;small&gt;</td>
			</tr>
			<tr>
				<td>align-bottom</td>
				<td>n/a</td>
			</tr>
			<tr>
				<td>align-center</td>
				<td>text-center</td>
			</tr>
			<tr>
				<td>align-left</td>
				<td>text-left</td>
			</tr>
			<tr>
				<td>align-middle</td>
				<td>n/a</td>
			</tr>
			<tr>
				<td>align-right</td>
				<td>text-right</td>
			</tr>
			<tr>
				<td>align-top</td>
				<td>n/a</td>
			</tr>
			<tr>
				<td>background-accent </td>
				<td>n/a</td>
			</tr>
			<tr>
				<td>background-dark </td>
				<td>n/a</td>
			</tr>
			<tr>
				<td>background-highlight </td>
				<td>n/a</td>
			</tr>
			<tr>
				<td>background-light </td>
				<td>n/a</td>
			</tr>
			<tr>
				<td>background-medium </td>
				<td>n/a</td>
			</tr>
			<tr>
				<td>background-white </td>
				<td>n/a</td>
			</tr>
			<tr>
				<td>badge-intro</td>
				<td>badge</td>
			</tr>
			<tr>
				<td>badge-new</td>
				<td>label label-danger</td>
			</tr>
			<tr>
				<td>badge-update</td>
				<td>label label-default</td>
			</tr>
			<tr>
				<td>border-all</td>
				<td>brdr-lft</td>
			</tr>
			<tr>
				<td>border-bottom</td>
				<td>brdr-bttm</td>
			</tr>
			<tr>
				<td>border-right</td>
				<td>brdr-rght</td>
			</tr>
			<tr>
				<td>border-top</td>
				<td>brdr-tp</td>
			</tr>
			<tr>
				<td>button</td>
				<td>btn</td>
			</tr>
			<tr>
				<td>button-accent</td>
				<td>btn-primary</td>
			</tr>
			<tr>
				<td>button-alert</td>
				<td>btn-danger</td>
			</tr>
			<tr>
				<td>button-attention</td>
				<td>btn-warning</td>
			</tr>
			<tr>
				<td>button-confirm</td>
				<td>btn-success</td>
			</tr>
			<tr>
				<td>button-dark</td>
				<td>btn-default</td>
			</tr>
			<tr>
				<td>button-disabled</td>
				<td>disabled </td>
			</tr>
			<tr>
				<td>button-group</td>
				<td>btn-group</td>
			</tr>
			<tr>
				<td>button-info</td>
				<td>btn-info</td>
			</tr>
			<tr>
				<td>button-large</td>
				<td>btn-sm</td>
			</tr>
			<tr>
				<td>button-none</td>
				<td>btn-link</td>
			</tr>
			<tr>
				<td>button-small</td>
				<td>btn-xs</td>
			</tr>
			<tr>
				<td>button-toolbar</td>
				<td>btn-toolbar</td>
			</tr>
			<tr>
				<td>button-xlarge</td>
				<td>btn-lg</td>
			</tr>
			<tr>
				<td>clearLeft|clearRight|clearboth</td>
				<td>clearfix</td>
			</tr>
			<tr>
				<td>color-accent</td>
				<td>text-info</td>
			</tr>
			<tr>
				<td>color-attention</td>
				<td>text-warning</td>
			</tr>
			<tr>
				<td>color-dark</td>
				<td>text-muted</td>
			</tr>
			<tr>
				<td>color-medium</td>
				<td>text-primary</td>
			</tr>
			<tr>
				<td>column-three</td>
				<td>clmn-3-*</td>
			</tr>
			<tr>
				<td>column-two</td>
				<td>clmn-2-*</td>
			</tr>
			<tr>
				<td>date-container</td>
				<td>n/a</td>
			</tr>
			<tr>
				<td>date-day</td>
				<td>n/a</td>
			</tr>
			<tr>
				<td>date-month</td>
				<td>n/a</td>
			</tr>
			<tr>
				<td>date-small</td>
				<td>n/a</td>
			</tr>
			<tr>
				<td>display-block</td>
				<td>n/a</td>
			</tr>
			<tr>
				<td>display-inline-block</td>
				<td>n/a</td>
			</tr>
			<tr>
				<td>float-left</td>
				<td>pull-left</td>
			</tr>
			<tr>
				<td>float-right</td>
				<td>pull-right</td>
			</tr>
			<tr>
				<td>focused</td>
				<td>n/a</td>
			</tr>
			<tr>
				<td>font-large</td>
				<td>n/a</td>
			</tr>
			<tr>
				<td>font-medium</td>
				<td>n/a</td>
			</tr>
			<tr>
				<td>font-sans-serif</td>
				<td>n/a</td>
			</tr>
			<tr>
				<td>font-serif</td>
				<td>n/a</td>
			</tr>
			<tr>
				<td>font-small </td>
				<td>n/a</td>
			</tr>
			<tr>
				<td>font-xlarge</td>
				<td>n/a</td>
			</tr>
			<tr>
				<td>font-xsmall </td>
				<td>n/a</td>
			</tr>
			<tr>
				<td>font-xxlarge</td>
				<td>n/a</td>
			</tr>
			<tr>
				<td>font-xxsmall</td>
				<td>n/a</td>
			</tr>
			<tr>
				<td>form-addon</td>
				<td>n/a</td>
			</tr>
			<tr>
				<td>form-alert</td>
				<td>has-error</td>
			</tr>
			<tr>
				<td>form-attention</td>
				<td>has-warning</td>
			</tr>
			<tr>
				<td>form-checkbox</td>
				<td>checkbox-inline</td>
			</tr>
			<tr>
				<td>form-confirm</td>
				<td>has-success</td>
			</tr>
			<tr>
				<td>form-help-block</td>
				<td>n/a</td>
			</tr>
			<tr>
				<td>form-horizontal</td>
				<td>form-horizontal</td>
			</tr>
			<tr>
				<td>form-inline</td>
				<td>form-inline</td>
			</tr>
			<tr>
				<td>form-input-append</td>
				<td>n/a</td>
			</tr>
			<tr>
				<td>form-input-prepend</td>
				<td>n/a</td>
			</tr>
			<tr>
				<td>form-label-inline</td>
				<td>n/a</td>
			</tr>
			<tr>
				<td>form-radio</td>
				<td>radio-inline</td>
			</tr>
			<tr>
				<td>form-text-inline</td>
				<td>n/a</td>
			</tr>
			<tr>
				<td>form-uneditable-input</td>
				<td>n/a</td>
			</tr>
			<tr>
				<td>image-actual</td>
				<td>n/a</td>
			</tr>
			<tr>
				<td>indent-large</td>
				<td>mrgn-lft-lg</td>
			</tr>
			<tr>
				<td>indent-medium</td>
				<td>mrgn-lft-md</td>
			</tr>
			<tr>
				<td>indent-none</td>
				<td>mrgn-lft-0</td>
			</tr>
			<tr>
				<td>indent-small</td>
				<td>mrgn-lft-sm</td>
			</tr>
			<tr>
				<td>indent-xlarge</td>
				<td>mrgn-lft-xl</td>
			</tr>
			<tr>
				<td>line-height-large</td>
				<td>n/a</td>
			</tr>
			<tr>
				<td>line-height-medium</td>
				<td>n/a</td>
			</tr>
			<tr>
				<td>line-height-small</td>
				<td>n/a</td>
			</tr>
			<tr>
				<td>line-height-xlarge</td>
				<td>n/a</td>
			</tr>
			<tr>
				<td>line-height-xsmall</td>
				<td>n/a</td>
			</tr>
			<tr>
				<td>list-bullet-none</td>
				<td>list-unstyled</td>
			</tr>
			<tr>
				<td>list-lower-alpha</td>
				<td>lst-lwr-alph</td>
			</tr>
			<tr>
				<td>list-lower-roman</td>
				<td>lst-lwr-rmn</td>
			</tr>
			<tr>
				<td>list-numeric</td>
				<td>lst-num</td>
			</tr>
			<tr>
				<td>list-upper-alpha</td>
				<td>lst-upr-alph</td>
			</tr>
			<tr>
				<td>list-upper-roman</td>
				<td>lst-upr-rmn</td>
			</tr>
			<tr>
				<td>margin-bottom-large</td>
				<td>mrgn-bttm-lg</td>
			</tr>
			<tr>
				<td>margin-bottom-medium</td>
				<td>mrgn-bttm-md</td>
			</tr>
			<tr>
				<td>margin-bottom-none</td>
				<td>mrgn-bttm-0</td>
			</tr>
			<tr>
				<td>margin-bottom-small</td>
				<td>mrgn-bttm-sm</td>
			</tr>
			<tr>
				<td>margin-bottom-xlarge</td>
				<td>mrgn-bttm-xl</td>
			</tr>
			<tr>
				<td>margin-right-large</td>
				<td>mrgn-rght-lg</td>
			</tr>
			<tr>
				<td>margin-right-medium</td>
				<td>mrgn-rght-md</td>
			</tr>
			<tr>
				<td>margin-right-none</td>
				<td>mrgn-rght-0</td>
			</tr>
			<tr>
				<td>margin-right-small</td>
				<td>mrgn-rght-sm</td>
			</tr>
			<tr>
				<td>margin-right-xlarge</td>
				<td>mrgn-rght-xl</td>
			</tr>
			<tr>
				<td>margin-top-large</td>
				<td>mrgn-tp-lg</td>
			</tr>
			<tr>
				<td>margin-top-medium</td>
				<td>mrgn-tp-md</td>
			</tr>
			<tr>
				<td>margin-top-none</td>
				<td>mrgn-tp-0</td>
			</tr>
			<tr>
				<td>margin-top-small</td>
				<td>mrgn-tp-sm</td>
			</tr>
			<tr>
				<td>margin-top-xlarge</td>
				<td>mrgn-tp-xl</td>
			</tr>
			<tr>
				<td>menu-horizontal</td>
				<td>btn-group-justified</td>
			</tr>
			<tr>
				<td>module</td>
				<td>panel panel-default</td>
			</tr>
			<tr>
				<td>module-alert</td>
				<td>alert-danger</td>
			</tr>
			<tr>
				<td>module-answer</td>
				<td>n/a</td>
			</tr>
			<tr>
				<td>module-archive</td>
				<td>n/a</td>
			</tr>
			<tr>
				<td>module-attention</td>
				<td>alert-warning</td>
			</tr>
			<tr>
				<td>module-billboard</td>
				<td>n/a</td>
			</tr>
			<tr>
				<td>module-comment</td>
				<td>n/a</td>
			</tr>
			<tr>
				<td>module-contact</td>
				<td>n/a</td>
			</tr>
			<tr>
				<td>module-info</td>
				<td>alert</td>
			</tr>
			<tr>
				<td>module-inprogress</td>
				<td>n/a</td>
			</tr>
			<tr>
				<td>module-menu-section</td>
				<td>n/a</td>
			</tr>
			<tr>
				<td>module-news</td>
				<td>n/a</td>
			</tr>
			<tr>
				<td>module-news-article</td>
				<td>n/a</td>
			</tr>
			<tr>
				<td>module-note</td>
				<td>alert-info</td>
			</tr>
			<tr>
				<td>module-poster</td>
				<td>n/a</td>
			</tr>
			<tr>
				<td>module-question</td>
				<td>n/a</td>
			</tr>
			<tr>
				<td>module-refer</td>
				<td>n/a</td>
			</tr>
			<tr>
				<td>module-related</td>
				<td>panel-primary</td>
			</tr>
			<tr>
				<td>module-spotlight</td>
				<td>n/a</td>
			</tr>
			<tr>
				<td>module-summary</td>
				<td>n/a</td>
			</tr>
			<tr>
				<td>module-table-contents</td>
				<td>n/a</td>
			</tr>
			<tr>
				<td>module-tool</td>
				<td>n/a</td>
			</tr>
			<tr>
				<td>opacity-10</td>
				<td>opct-10</td>
			</tr>
			<tr>
				<td>opacity-100</td>
				<td>opct-100</td>
			</tr>
			<tr>
				<td>opacity-20</td>
				<td>opct-20</td>
			</tr>
			<tr>
				<td>opacity-30</td>
				<td>opct-30</td>
			</tr>
			<tr>
				<td>opacity-40</td>
				<td>opct-40</td>
			</tr>
			<tr>
				<td>opacity-50</td>
				<td>opct-50</td>
			</tr>
			<tr>
				<td>opacity-60</td>
				<td>opct-60</td>
			</tr>
			<tr>
				<td>opacity-70</td>
				<td>opct-70</td>
			</tr>
			<tr>
				<td>opacity-80</td>
				<td>opct-80</td>
			</tr>
			<tr>
				<td>opacity-90</td>
				<td>opct-90</td>
			</tr>
			<tr>
				<td>position-bottom</td>
				<td>pstn-bttm-xs = always positioned</td>
			</tr>
			<tr>
				<td>position-bottom-large</td>
				<td>pstn-bttm-lg = large desktop upwards only </td>
			</tr>
			<tr>
				<td>position-bottom-medium</td>
				<td>pstn-bttm-md = small desktop upwards only </td>
			</tr>
			<tr>
				<td>position-bottom-small</td>
				<td>pstn-bttm-sm = tablets upwards only</td>
			</tr>
			<tr>
				<td>position-bottom-xlarge</td>
				<td>n/a</td>
			</tr>
			<tr>
				<td>position-left</td>
				<td>pstn-lft-xs = always positioned</td>
			</tr>
			<tr>
				<td>position-left-large</td>
				<td>pstn-lft-lg = large desktop upwards only </td>
			</tr>
			<tr>
				<td>position-left-medium</td>
				<td>pstn-lft-md = small desktop upwards only </td>
			</tr>
			<tr>
				<td>position-left-small</td>
				<td>pstn-lft-sm = tablets upwards only</td>
			</tr>
			<tr>
				<td>position-left-xlarge</td>
				<td>n/a</td>
			</tr>
			<tr>
				<td>position-right</td>
				<td>pstn-rght-xs = always positioned</td>
			</tr>
			<tr>
				<td>position-right-large</td>
				<td>pstn-rght-lg = large desktop upwards only </td>
			</tr>
			<tr>
				<td>position-right-medium</td>
				<td>pstn-rght-md = small desktop upwards only </td>
			</tr>
			<tr>
				<td>position-right-small</td>
				<td>pstn-rght-sm = tablets upwards only</td>
			</tr>
			<tr>
				<td>position-right-xlarge</td>
				<td>n/a</td>
			</tr>
			<tr>
				<td>position-top</td>
				<td>pstn-tp-xs = always positioned</td>
			</tr>
			<tr>
				<td>position-top-large</td>
				<td>pstn-tp-lg = large desktop upwards only </td>
			</tr>
			<tr>
				<td>position-top-medium</td>
				<td>pstn-tp-md = small desktop upwards only </td>
			</tr>
			<tr>
				<td>position-top-small</td>
				<td>pstn-tp-sm = tablets upwards only</td>
			</tr>
			<tr>
				<td>position-top-xlarge</td>
				<td>n/a</td>
			</tr>
			<tr>
				<td>print-none</td>
				<td>visible-print | hidden-print</td>
			</tr>
			<tr>
				<td>row-end</td>
				<td>n/a</td>
			</tr>
			<tr>
				<td>row-start</td>
				<td>n/a</td>
			</tr>
			<tr>
				<td>span-1</td>
				<td>col-xs-1 col-sm-1 col-md-1 col-lg-1</td>
			</tr>
			<tr>
				<td>span-10</td>
				<td>col-xs-10 col-sm-10 col-md-10 col-lg-10</td>
			</tr>
			<tr>
				<td>span-11</td>
				<td>col-xs-11 col-sm-11 col-md-11 col-lg-11</td>
			</tr>
			<tr>
				<td>span-12</td>
				<td>col-xs-12 col-sm-12 col-md-12 col-lg-12</td>
			</tr>
			<tr>
				<td>span-2</td>
				<td>col-xs-2 col-sm-2 col-md-2 col-lg-2</td>
			</tr>
			<tr>
				<td>span-3</td>
				<td>col-xs-3 col-sm-3 col-md-3 col-lg-3</td>
			</tr>
			<tr>
				<td>span-4</td>
				<td>col-xs-4 col-sm-4 col-md-4 col-lg-4</td>
			</tr>
			<tr>
				<td>span-5</td>
				<td>col-xs-5 col-sm-5 col-md-5 col-lg-5</td>
			</tr>
			<tr>
				<td>span-6</td>
				<td>col-xs-6 col-sm-6 col-md-6 col-lg-6</td>
			</tr>
			<tr>
				<td>span-7</td>
				<td>col-xs-7 col-sm-7 col-md-7 col-lg-7</td>
			</tr>
			<tr>
				<td>span-8</td>
				<td>col-xs-8 col-sm-8 col-md-8 col-lg-8</td>
			</tr>
			<tr>
				<td>span-9</td>
				<td>col-xs-9 col-sm-9 col-md-9 col-lg-9</td>
			</tr>
			<tr>
				<td>table-accent</td>
				<td>n/a</td>
			</tr>
			<tr>
				<td>table-bordered table-simplify</td>
				<td>table-bordered</td>
			</tr>
			<tr>
				<td>table-condensed</td>
				<td>table-condensed</td>
			</tr>
			<tr>
				<td>table-dark</td>
				<td>n/a</td>
			</tr>
			<tr>
				<td>table-medium</td>
				<td>n/a</td>
			</tr>
			<tr>
				<td>table-simplify</td>
				<td>table</td>
			</tr>
			<tr>
				<td>thermometer-0</td>
				<td>n/a</td>
			</tr>
			<tr>
				<td>thermometer-10</td>
				<td>n/a</td>
			</tr>
			<tr>
				<td>thermometer-100</td>
				<td>n/a</td>
			</tr>
			<tr>
				<td>thermometer-110</td>
				<td>n/a</td>
			</tr>
			<tr>
				<td>thermometer-120</td>
				<td>n/a</td>
			</tr>
			<tr>
				<td>thermometer-20</td>
				<td>n/a</td>
			</tr>
			<tr>
				<td>thermometer-30</td>
				<td>n/a</td>
			</tr>
			<tr>
				<td>thermometer-40</td>
				<td>n/a</td>
			</tr>
			<tr>
				<td>thermometer-50</td>
				<td>n/a</td>
			</tr>
			<tr>
				<td>thermometer-60</td>
				<td>n/a</td>
			</tr>
			<tr>
				<td>thermometer-70</td>
				<td>n/a</td>
			</tr>
			<tr>
				<td>thermometer-80</td>
				<td>n/a</td>
			</tr>
			<tr>
				<td>thermometer-90</td>
				<td>n/a</td>
			</tr>
			<tr>
				<td><a href="http://wet-boew.github.com/wet-boew/demos/grids/grid-icon-eng.html">wb-icon-none</a></td>
				<td><a href="http://wet-boew.github.io/wet-boew-styleguide/new/design/icons-en.html">wb-glyphicon</a></td>
			</tr>
			<tr>
				<td>wb-invisible</td>
				<td>wb-inv | visible-* | hide-*</td>
			</tr>
			<tr>
				<td>wet-boew-zebra</td>
				<td>table-striped</td>
			</tr>
			<tr>
				<td>width-10</td>
				<td>n/a</td>
			</tr>
			<tr>
				<td>width-100</td>
				<td>n/a</td>
			</tr>
			<tr>
				<td>width-20</td>
				<td>n/a</td>
			</tr>
			<tr>
				<td>width-30</td>
				<td>n/a</td>
			</tr>
			<tr>
				<td>width-40</td>
				<td>n/a</td>
			</tr>
			<tr>
				<td>width-50</td>
				<td>n/a</td>
			</tr>
			<tr>
				<td>width-60</td>
				<td>n/a</td>
			</tr>
			<tr>
				<td>width-70</td>
				<td>n/a</td>
			</tr>
			<tr>
				<td>width-80</td>
				<td>n/a</td>
			</tr>
			<tr>
				<td>width-90</td>
				<td>n/a</td>
			</tr>
			<tr>
				<td>wrap-none</td>
				<td>n/a</td>
			</tr>
		</tbody>
	</table>
</section>

<section>
	<h2 id="new">New classes in <abbr title="Web Experience Toolkit">WET</abbr> 4</h2>
	<ul>
		<li>active</li>
		<li>btn-block</li>
		<li>btn-group-vertical</li>
		<li>btn-lg</li>
		<li>btn-sm</li>
		<li>btn-xs</li>
		<li>center-block</li>
		<li>clmn-4-*</li>
		<li>dl-horizontal</li>
		<li>dropdown-toggle</li>
		<li>img-circle</li>
		<li>img-responsive</li>
		<li>img-rounded</li>
		<li>img-thumbnail</li>
		<li>list-group list-group-item</li>
		<li>list-inline</li>
		<li>media</li>
		<li>media-body</li>
		<li>media-list</li>
		<li>media-object</li>
		<li>table-hover</li>
		<li>table-responsive</li>
		<li>text-danger</li>
		<li>text-success</li>
		<li>thumbnail</li>
	</ul>
</section>
