---
{
	"title": "Comment démarrer",
	"language": "fr",
	"description": "Comment démarrer avec la Boîte à outils de l'expérience Web",
	"altLangPrefix": "start",
	"dateModified": "2014-07-29"
}
---
<p>Si vous travaillez derrière un proxy, vous pouvez vous référer au document <a href="proxy-fr.html">guide de dépannage proxy</a>.</p>

<section>
	<h2 id="implement">Je veux utiliser la BOEW sur mon site Web</h2>
	<ol>
		<li>Téléchargez les fichiers de production de la dernière version stable d'un des thèmes de la <a href="versions/dwnld-fr.html">page de téléchargements</a>.</li>
		<li>Suivez les instructions de mise en œuvre dans la <a href="ref/themesstyle-fr.html">documentation du thème qui a été téléchargé</a>.</li>
		<li><a href="http://wet-boew.github.io/wet-boew-styleguide/v4/index-en.html">Révisez le guide de style (anglais seulement)</a> pour de l'information comment intégrer la BOEW à votre site.</li>
	</ol>
</section>

<section>
	<h2 id="theme">Je veux personaliser la BOEW et créer un nouveau thème BOEW</h2>
	<ol>
		<li><a href="http://nodejs.org/" lang="en">Installez NodeJS</a> pour votre plateforme.</li>
		<li>Créer un répertoire pour votre projet.</li>
		<li>Installez <a href="http://gruntjs.com/">Grunt <abbr lang="en" title="Command Line Interface">CLI</abbr></a>, <a href="http://yeoman.io/">Yeoman</a>, and <a href="http://bower.io">Bower</a> packages globally by running <code>npm install -g grunt-cli yo bower</code> from the command line console (Command Prompt on Windows, Terminal on OS X, or other shell environment on Linux or Unix).</li>
		<li>Installez le générateur de thème BOEW en exécutant <code>npm install -g generator-wet-boew-theme</code>.</li>
		<li>Exécuter <code>yo wet-boew-theme</code> à partir de l'invite de commande, et répondez aux questions à l'invite pour configurer votre projet de thème.</li>
	</ol>
</section>

<section>
	<h2 id="issues">Je veux signaler une anomalie ou demander une question à propos de la BOEW</h2>
	<ol>
		<li><a href="https://help.github.com/articles/signing-up-for-a-new-github-account">Créer un compte GitHub</a>.</li>
		<li>Poser une question relative au <a href="http://wet-boew.github.io/wet-boew-styleguide/v4/index-en.html">guide de style (anglais seulement)</a> en <a href="https://github.com/wet-boew/wet-boew-styleguide/issues/new">signalant une anomalie sur GitHub</a>.</li>
		<li>Signaler une anomalie, demander une question ou demander une fonctionalité relative à la BOEW en suivant le <a href="bugs-fr.html">guide de signalement</a>.</li>
	</ol>
</section>

<section>
	<h2 id="develop">Je veux corriger ou améliorer la BOEW en tant que développeur</h2>
	<ol>
		<li><a href="http://nodejs.org/">Installer NodeJS</a> pour votre plateforme.</li>
		<li><a href="https://help.github.com/articles/signing-up-for-a-new-github-account">Créer un compte GitHub</a>.</li>
		<li>Suivre les guides GitHub à propos de <a href="https://help.github.com/articles/set-up-git">configurer Git</a>.</li>
		<li>Bifurquer le <a href="https://github.com/wet-boew/wet-boew">dépôt WET-BOEW</a> en suivant le <a href="https://help.github.com/articles/fork-a-repo">guide de bifurcation GitHub</a>. 
		Utilisez l'URL en amont de <code>https://github.com/wet-boew/wet-boew.git</code> à l'étape 3.</li>
		<li>Exécuter <code>./script/setup</code> du répertoire <code>wet-boew</code> dans votre console de ligne de commande.</li>
		<li>Exécuter <code>grunt</code> pour bâtir le projet. Vous pouvez exécuter <code>grunt --help</code> 
		pour voir les descriptions de cible de bâtissage.</li>
		<li>Les derniers fichiers seront alors compilés dans le répertoire <code>dist/</code>.</li>
		<li>Pour contribuer de nouveau, suivez les instructions au <a href="pull-fr.html">comment créer une demande de retrait</a>.</li>
	</ol>
</section>
