@charset "utf-8";

/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * www.tbs.gc.ca/ws-nw/wet-boew/terms / www.sct.gc.ca/ws-nw/wet-boew/conditions
*/
@media screen{

    #cn-sig img,#cn-wmms img{
        position:absolute;
        clip:rect(1px, 1px, 1px, 1px);
        height:0 !important;
        width:0 !important;
        overflow:hidden !important;
        margin:0 !important;
    }

    a:link{
        color:#295376;
    }

    a:visited{
        color:#5a306b;
    }

    #cn-body-inner-1col,#cn-body-inner-2col,#cn-body-inner-2col-right,#cn-body-inner-3col,#cn-head-inner{
        background:url(../images/background-withglow-andleaf.jpg) repeat-x center 3.08em #fff;
    }

    #cn-head-inner{
        background-color:#406C93;
    }

    #cn-gcnb{
        background:#000;
        font-size:0.9em;
        height:3.6em;
        min-height:41px;
    }

    #cn-sig{
        width:247px;
        float:left;
        margin:8px 0;
    }

    #cn-sig-inner{
        margin-left:10px;
        height:24px;
    }

    #fip-pcim-sig-eng{
        height:100%;
        width:100%;
        background:url(../images/sig-eng-bg.gif) no-repeat 0 0 transparent;
    }

    #fip-pcim-sig-fra{
        height:100%;
        width:100%;
        background:url(../images/sig-fra-bg.gif) no-repeat 0 0 transparent;
    }

    #cn-gcnb ul{
        list-style-type:none;
        float:right;
        margin:0;
        padding:0;
    }

    #cn-gcnb ul li{
        float:left;
        padding:13px 0;
    }

    #cn-gcnb a{
        border-left:1px solid #fff;
        color:#fff;
        display:block;
        text-decoration:none;
        padding:0 1em;
    }

    #cn-gcnb li:first-child a{
        border-left:none;
    }

    #cn-gcnb ul li#cn-gcnb-lang a{
        padding-right:11px;
    }

    #cn-site-title{
        height:123px;
        display:table;
        margin-left:10px;
    }

    #cn-site-title-inner{
        display:table-cell;
        vertical-align:middle;
        margin:0;
    }

    #cn-search-box{
        position:absolute;
        background:#146094;
        border-top:1px solid #87aec9;
        text-align:right;
        right:0;
        bottom:-1px;
        width:auto;
        border-left:1px solid #15527D;
        border-right:1px solid #15527D;
        z-index:100;
        padding:12px 10px 5px 12px;
    }

    #cn-search-box input{
        margin:0 0 2px;
    }

    #cn-search-submit{
        -webkit-appearance:none;
        min-height:24px;
        background:#ccc url(../images/search-button.gif) 0 0 repeat-x;
        border-bottom:1px solid #999;
        border-right:1px solid #999;
        border-top:1px solid #fff;
        border-left:1px solid #fff;
        color:#333;
        border-radius:2px;
        -moz-border-radius:2px;
        -webkit-border-radius:2px;
        text-shadow:0 1px 0 #eee;
        font-weight:400;
        box-shadow:none;
        -moz-box-shadow:none;
        -webkit-box-shadow:none;
        padding:2px 6px;
    }

    #cn-search-submit:focus,#cn-search-submit:hover{
        background:#ddd url(../images/search-button-focus.gif) 0 0 repeat-x;
        text-shadow:0 1px 0 #ddd;
        box-shadow:none;
        -moz-box-shadow:none;
        -webkit-box-shadow:none;
        border-bottom:1px solid #999;
        border-right:1px solid #999;
        border-top:1px solid #fff;
        border-left:1px solid #fff;
    }

    #cn-search-submit:active{
        -moz-box-shadow:inset 0 0 5px 2px #999, 0 0 0 0 #eee;
        -webkit-box-shadow:inset 0 0 5px 2px #999, 0 0 0 0 #eee;
        box-shadow:inset 0 0 5px 2px #999, 0 0 0 0 #eee;
        border:1px solid #999;
    }

    #cn-search-box form{
        margin:0;
    }

    #cn-search-box label{
        position:absolute;
        clip:rect(1px, 1px, 1px, 1px);
        height:1px;
        width:1px;
        overflow:hidden;
    }

    #cn-search-box #cn-search{
        color:#444;
        border:1px solid #ccc;
        border-radius:2px;
        -moz-border-radius:2px;
        -webkit-border-radius:2px;
        margin-left:0;
        width:218px;
        box-shadow:none;
        -moz-box-shadow:none;
        -webkit-box-shadow:none;
        background:#fff;
        padding:3px 0;
    }

    #cn-search-box #cn-search:focus,#cn-search-box #cn-search:active{
        background:#f0fcff;
    }

    #cn-search-box a,#cn-search-box a:visited{
        color:#fff;
        text-decoration:none;
        font-size:80%;
        padding:2px;
    }

    #cn-cols-inner,#cn-bc-inner{
        background-repeat:repeat-y;
        background-color:#fff;
        background-position:center;
    }

    #cn-banner-inner{
        min-height:6.5em;
    }

    #cn-wmms{
        position:absolute;
        top:36px;
        right:10px;
    }

    #cn-wmms-inner{
        height:39px;
        width:147px;
    }

    #fip-pcim-wmms{
        height:100%;
        width:100%;
        background:url(../images/wmms-bg.gif) no-repeat 4px 0 transparent;
    }

    #cn-site-title,#cn-site-title a{
        color:#fff;
        font-size:1.52em;
        font-family:Arial, Helvetica, sans-serif;
        text-shadow:#333 1px 1px 1px;
    }

    #cn-psnb .wet-boew-menubar{
        margin-top:-1px;
        background:#1A3D6C;
        border-bottom:4px solid #ccc;
    }

    #cn-psnb .mb-menu,.mb-menu li{
        min-height:2.15em;
        background:#23447e url(../images/menu-background.gif) repeat-x;
    }

    #cn-psnb .mb-menu li{
        border-left:1px solid #124B79;
        border-right:1px solid #15598f;
        border-bottom:none;
        padding:0;
    }

    #cn-psnb .mb-menu .nav-current{
        background:#0f315b url(../images/menu-border.gif) repeat-x scroll 0 0;
    }

    #cn-psnb .mb-menu li:first-child.mb-active{
        border-left:1px solid #CCC;
    }

    #cn-psnb .mb-active a:hover.mb-has-sm,#cn-psnb .mb-active a:link.mb-has-sm,#cn-psnb .mb-active a:visited.mb-has-sm{
        background-color:#CCC;
        color:#000;
    }

    #cn-psnb .mb-menu .expandicon{
        padding-right:10px;
        background:url(../images/down-arrow.gif) no-repeat right center;
    }

    #cn-psnb .mb-menu .mb-has-sm{
        padding-right:5px;
    }

    #cn-psnb .mb-megamenu .mb-sm-open li{
        min-height:0;
        border:none;
    }

    #cn-psnb .mb-megamenu .mb-sm-open{
        border-bottom:4px solid #0F315B;
        background:0;
    }

    #cn-psnb .mb-hsubmenu .mb-sm-open li{
        border-left:1px solid #BBB;
        border-right:1px solid #DDD;
    }

    #cn-foot h4,#cn-foot .col-head{
        font-size:110%;
        border:none;
        font-weight:700;
        margin:20px 0 5px;
    }

    #cn-foot ul{
        list-style-type:none;
        margin:0;
        padding:0;
    }

    #cn-foot li a{
        font-weight:400;
    }

    #cn-foot a{
        text-decoration:none;
    }

    #cn-foot .span-1,#cn-foot .span-2,#cn-foot .span-3,#cn-foot .span-4,#cn-foot .span-5,#cn-foot .span-6,#cn-foot .span-7,#cn-foot .span-8{
        margin-bottom:0;
    }

    #cn-sft{
        padding-bottom:20px;
        background:url(../images/foot-bottom-deco.gif) repeat-x #efefef;
        font-family:Arial, Helvetica, sans-serif;
    }

    #cn-sft-inner{
        background-repeat:no-repeat;
        background-position:center top;
        background-color:#efefef;
        padding-top:20px;
    }

    #cn-sft a,#cn-sft span.link{
        color:#222;
    }

    #cn-sft li a,#cn-sft li span.link{
        line-height:1.75em;
    }

    #cn-sft h4,#cn-sft .col-head{
        margin-top:10px;
    }

    #cn-sft address{
        font-style:normal;
    }

    #cn-ft-tctr{
        margin:0;
        padding:8px 0 6px;
    }

    #cn-ft-tctr li{
        display:inline;
    }

    #cn-ft-tctr li.terms{
        border-right:1px solid #999;
        padding:0 9px 0 10px;
    }

    #cn-ft-tctr li.trans{
        padding-left:6px;
    }

    #cn-sft a:hover,#cn-sft a:focus{
        color:#c00;
    }

    #cn-sft-inner .span-1,#cn-sft-inner .span-2,#cn-sft-inner .span-3,#cn-sft-inner .span-4,#cn-sft-inner .span-5,#cn-sft-inner .span-6,#cn-sft-inner .span-7,#cn-sft-inner .span-8,#cn-sft-inner .span-9,#cn-sft-inner .span-10,#cn-sft-inner .span-11,#cn-sft-inner .span-12{
        position:static;
    }

    #cn-gcft{
        background:#040707;
        font-family:Arial, Helvetica, sans-serif;
    }

    #cn-gcft ul{
        list-style-type:none;
        margin:0;
    }

    #cn-gcft li{
        float:left;
    }

    #cn-gcft li span{
        text-transform:uppercase;
        font-weight:700;
    }

    #cn-gcft a{
        text-decoration:none;
        color:#fff;
        font-size:90%;
    }

    #cn-gcft li#cn-ft-ca{
        float:right;
        padding-left:0;
        margin-right:0;
    }

    #cn-gcft li#cn-ft-ca div{
        font-size:170%;
        text-align:right;
        font-weight:400;
        margin:0;
    }

    #cn-ft-ca{
        font-family:Arial, Helvetica, sans-serif;
    }

    li#cn-ft-ca a{
        display:inline-block;
        color:#fff;
        text-decoration:none;
        border-left:1px solid #666;
        line-height:1.45em;
        padding-right:10px;
        font-size:0.95em;
    }

    #cn-gcnb a:hover,#cn-gcnb a:focus,#cn-search-box a:hover,#cn-search-box a:focus,#cn-foot a:hover,#cn-foot a:focus,#cn-foot a:active{
        text-decoration:underline;
    }

    @-moz-document url-prefix() {
        #cn-search-submit{
            min-height: 22px;
        }
    }
}

@media print{
    #cn-sig img{
        position:absolute;
        top:10px;
        left:0;
    }

    #cn-wmms img{
        position:absolute;
        top:0;
        right:0;
    }

    #cn-site-title,#cn-site-title a{
        font-size:16pt;
        text-decoration:none;
        color:#000;
        width:100%;
        position:relative;
        top:9px;
    }

    #cn-centre-col-inner{
        border-top:3px outset #666;
        padding-top:5px;
    }

    h1{
        font-size:140%;
        margin:0 !important;
    }

    h2{
        font-size:125%;
    }

    h3{
        font-size:120%;
    }

    h4{
        font-size:115%;
    }

    h5{
        font-size:110%;
    }

    h6{
        font-size:100%;
    }

    #cn-bc{
        min-height:inherit;
        height:auto;
    }

    #cn-bc ol{
        width:100%;
        margin:0;
        padding:0;
    }

    #cn-bc li{
        background:none;
        padding:0;
    }

    #cn-bc a{
        padding-left:0;
        background:none;
    }

    #cn-bc li:before{
        content:" > ";
    }

    #cn-bc li:first-child:before{
        content:"";
    }

    #cn-left-col,#cn-right-col,#cn-gcnb ul,#cn-search-box,#cn-psnb,#cn-foot{
        display:none;
    }

    #cn-doc-dates{
        float:right;
        display:inline;
    }

    .clear{
        clear:both;
        display:block;
        height:0 !important;
        min-height:0 !important;
        overflow:hidden;
        visibility:hidden;
        width:0;
        margin:0;
    }
}
