@charset "utf-8";

/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * www.tbs.gc.ca/ws-nw/wet-boew/terms / www.sct.gc.ca/ws-nw/wet-boew/conditions
*/
@media screen {
    h1 {
        position: absolute;
        clip: rect(1px, 1px, 1px, 1px);
        height: 0px !important;
        width: 0px !important;
        overflow: hidden !important;
        margin: 0 !important;
    }

    #cn-skip-head {
        display:none;
        visibility:hidden;
    }

    html {
        overflow-y: scroll;
    }

    body {
        width:100%;
        margin:0;
        padding:0;
    }

    #cn-head-inner, #cn-cols-inner, #cn-foot-inner  {
        margin: auto;
    }

    #centre-col {
        z-index: 1;
        display: inline;
    }

    #fip-title,#cn-tc {
        display:block;
        float:none;
        margin:auto;
    }

	#cn-foot {
		background: #FFF;
	}

	#cn-foot #cn-wmms img{
		display: block;
		margin: 5px auto;
	}

    #cn-head, #cn-head-inner, #cn-foot, #cn-foot-inner  {
        overflow: hidden;
    }

    #cn-cols-inner {
        overflow: visible !important;
        background: #FFF;
    }

    #cn-cols-inner:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }

    #cn-centre-col-inner {
        position: relative;
        padding-top:1px;
        padding-bottom:1px;
    }

    #cn-body-inner-1col #cn-centre-col {
        float:left;
    }

    h1 {
        margin: 0;
    }

    #cn-banner {
        width: 100%;
    }
    
    #cn-site-title {
        width: auto;
    }
}