@charset "utf-8";

/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * www.tbs.gc.ca/ws-nw/wet-boew/terms / www.sct.gc.ca/ws-nw/wet-boew/conditions
*/
@media screen {
    #cn-body-inner-1col{
        background:#fff;
    }

    #cn-cols-inner,#cn-head-inner{
        background: #fff;
    }

    #cn-sig {
        margin-top: 20px;
        margin-bottom: 11px;
    }

    #cn-site-title a,#cn-site-title a:visited,#cn-site-title a:hover,#cn-site-title a:focus{
        color:#295376;
        text-decoration:none;
    }

    #cn-site-title a:hover,#cn-site-title a:focus{
        text-decoration:underline;
    }

    #cn-site-title-left, #cn-site-title-right, .cn-alt-site-title-left, .cn-alt-site-title-right {
        padding: 0;
        color: #000;
        font-size: 1.5em;
        font-weight: bold;
    }

    .cn-alt-site-title-left, .cn-alt-site-title-right {
        padding: 0;
        color: #000;
        font-size: 1.2em;
        font-weight: bold;
    }

    #cn-cols-inner  h2, #cn-cols-inner  p {
        margin-left: 0;
    }

    #cn-cols-inner  li a {
        text-decoration: none;
    }

    #cn-cols-inner  li a:hover, #cn-cols-inner  li a:focus, #cn-cols-inner  li a:active {
        text-decoration: underline;
    }

    #cn-sig-inner {
        width: 214px;
        height: 20px;
    }

    #cn-site-title-right, .cn-alt-site-title-right {
        text-align: right;
    }

    #cn-foot-inner {
        background: #fff;
    }

    .cn-tc-left {
        text-align: left;
    }

    .cn-tc-right {
        text-align: right;
    }

    #cn-tc ul {
        list-style:none;
        margin: 0;
        padding: 0;
    }

    #cn-tc li {
        float: left;
        margin-bottom: 4px;
    }

    #cn-tc li a {
        text-decoration: none;
        font-size: 0.9em;
    }

    #cn-tc li a:hover, #cn-tc li a:focus, #cn-tc li a:active {
        text-decoration: underline;
    }
}