@charset "utf-8";
/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * www.tbs.gc.ca/ws-nw/wet-boew/terms / www.sct.gc.ca/ws-nw/wet-boew/conditions
*/
html {
	overflow-y: scroll;
}

body {
	width:100%;
	margin:0;
	padding:0;
}

h1 {
	text-align: center;
	padding: 40px 0;
	margin: 0;
}

#cn-head-inner, #cn-cols-inner, #cn-foot-inner  {
	margin: auto;
}

#cn-head, #cn-head-inner, #cn-foot, #cn-foot-inner  {
	overflow: hidden;
}

#centre-col {
	z-index: 1;
	display: inline;
}

#cn-sig,#cn-tc {
	display:block;
	float:none;
	margin:auto;
}

#cn-sig {
	margin-top: 20px;
	margin-bottom: 7px;
}

#cn-cols-inner {
	overflow: visible !important;
	background: #fff url(../images/splashpage-background.jpg) top center repeat-x;
}

#cn-cols-inner:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

#cn-centre-col-inner {
	position: relative;
	padding-top:1px;
	padding-bottom:1px;
}

#cn-banner {
	width: 100%;
}

#cn-site-title {
	width: auto;
}

#cn-site-title-right, .cn-alt-site-title-right {
	text-align: right;
}

#cn-lang-links {
	margin-top: 50px;
}