@charset "utf-8";
/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * www.tbs.gc.ca/ws-nw/wet-boew/terms / www.sct.gc.ca/ws-nw/wet-boew/conditions
*/
h1 {
	font-size: 2em;
	color:#222;
	border:none;
	font-weight:bold;
	margin-bottom:0 !important;
}

h2 {
	position: absolute;
	clip: rect(1px, 1px, 1px, 1px);
	height: 0px !important;
	width: 0px !important;
	overflow: hidden !important;
	margin: 0 !important;
}

#cn-skip-head {
	display:none;
	visibility:hidden;
}

#cn-site-title-left, #cn-site-title-right, .cn-alt-site-title-left, .cn-alt-site-title-right {
	padding-top: 10px;
	font-size: 1.5em;
	color: #333;
	font-weight: bold;
}

.cn-alt-site-title-left, .cn-alt-site-title-right {
	font-size: 1.2em;
}

#cn-ef-lang-links li {
	display: inline-block;
}

#cn-ef-lang-links, #cn-other-lang-links {
	list-style-type: none;
	display: inline-block;
	margin: 10px 0 0;
	padding-left: 0;
}

#cn-ef-lang-links li, #cn-other-lang-links li {
	float: left;
	padding: 0;
	text-align: center;
}

#cn-ef-lang-links div, #cn-other-lang-links div {
	min-width: 8em;
}

#cn-ef-lang-links li a, #cn-other-lang-links li a{
	-webkit-appearance: none;
	background: #ccc url(../images/sp-pe-button.gif) 0 0 repeat-x;
	border-bottom:1px solid #999;
	border-right: 1px solid #999;
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	color: #333;
	padding: 10px 0;
	border-radius:2px;
	-moz-border-radius: 2px;
	-webkit-border-radius:2px;
	text-shadow: 0 1px 0 #eee;
	font-weight:700;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	display:block;
	font-size: 120%;
	text-decoration: none;
}

#cn-ef-lang-links li a:hover, #cn-other-lang-links li a:hover,#cn-ef-lang-links li a:focus, #cn-other-lang-links li a:focus{
	background: #ddd url(../images/sp-pe-button-focus.gif) 0 0 repeat-x;
	text-shadow: 0 1px 0 #ddd;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	border: 1px solid #999;
}

#cn-ef-lang-links li a:active{
	-moz-box-shadow: inset 0 0 5px 2px #999, 0 0 0 0 #eee;
	-webkit-box-shadow: inset 0 0 5px 2px #999, 0 0 0 0 #eee;
	box-shadow: inset 0 0 5px 2px #999, 0 0 0 0 #eee;
}

#cn-tc{
	margin-top:0;
}

#cn-ef-tc li {
	display: inline-block;
}

#cn-ef-tc, #cn-other-tc {
	list-style-type: none;
	display: inline-block;
	margin: 0;
	padding-top: 4px;
	padding-left: 0;
}

#cn-ef-tc li, #cn-other-tc li {
	float: left;
	padding: 0;
}

#cn-ef-tc div, #cn-other-tc div {
	min-width: 8em;
}

#cn-ef-tc li a, #cn-other-tc li a {
	display: block;
	text-decoration: none;
	font-size: 0.9em;
}

#cn-ef-tc li a:hover, #cn-ef-tc li a:focus, #cn-ef-tc li a:active, #cn-other-tc li a:hover, #cn-other-tc li a:focus, #cn-other-tc li a:active {
	text-decoration: underline;
}