@charset "utf-8";
/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * www.tbs.gc.ca/ws-nw/wet-boew/terms / www.sct.gc.ca/ws-nw/wet-boew/conditions
*/
body{
	min-width:768px;
}

#cn-site-title{
	width:290px;
}

#cn-cols-inner,#cn-bc-inner{
	background-image:url(../images/content-deco-small.gif);
}

#cn-body-inner-3col #cn-centre-col{
	width:384px;
	right:192px;
}

#cn-body-inner-3col #cn-centre-col-inner{
	width:384px;
}

#cn-left-col{
	width:192px;
}

#cn-right-col{
	width:192px;
	left:384px;
}

#cn-body-inner-2col #cn-content{
	width:480px;
}

#cn-sft-inner{
	background-image:url(../images/footer-deco-small.gif);
}

#cn-gcft li{
	margin:12px 0 13px 20px;
}

li#cn-ft-ca a{
	padding-left:20px;
}

#cn-gcft li:lang(fr){
	margin:12px 0 13px 13px;
}

li#cn-ft-ca a:lang(fr){
	padding-left:13px;
}

#cn-gcft li:first-child{
	margin-left:10px;
}

li#cn-ft-ca{
	margin-left:0 !important;
}

#cn-body-inner-2col #cn-cols .grid-12 .span-1{
	width:28px;
}

.grid-12 .span-1{
	width:44px;
}

.span-1,#cn-body-inner-2col #cn-cols .grid-12 .span-2{
	width:76px;
}

.grid-12 .span-2{
	width:108px;
}

#cn-body-inner-2col #cn-cols .grid-12 .span-3{
	width:124px;
}

#cn-body-inner-2col #cn-cols .grid-12 .span-5{
	width:220px;
}

.grid-12 .span-4{
	width:236px;
}

.span-3,#cn-body-inner-2col #cn-cols .grid-12 .span-6{
	width:268px;
}

.grid-12 .span-5{
	width:300px;
}

#cn-body-inner-2col #cn-cols .grid-12 .span-7{
	width:316px;
}

.span-4,#cn-body-inner-2col #cn-cols .grid-12 .span-8,.grid-12 .span-6{
	width:364px;
}

#cn-body-inner-2col #cn-cols .grid-12 .span-9{
	width:412px;
}

.grid-12 .span-7{
	width:428px;
}

.span-5,#cn-body-inner-2col #cn-cols .grid-12 .span-10{
	width:460px;
}

.grid-12 .span-8{
	width:492px;
}

#cn-body-inner-2col #cn-cols .grid-12 .span-11{
	width:508px;
}

.span-6,#cn-body-inner-2col #cn-cols .grid-12 .span-12,.grid-12 .span-9{
	width:556px;
}

.grid-12 .span-10{
	width:620px;
}

.span-7{
	width:652px;
}

.grid-12 .span-11{
	width:684px;
}

.span-8,.grid-12 .span-12{
	width:748px;
}

#cn-body-inner-2col #cn-cols .grid-12 .border-span-1{
	background-image:url(../../grids/images/border-28px.gif);
}

.grid-12 .border-span-1{
	background-image:url(../../grids/images/border-44px.gif);
}

.border-span-1,#cn-body-inner-2col #cn-cols .grid-12 .border-span-2,.module-versatile{
	background-image:url(../../grids/images/border-76px.gif);
}

.grid-12 .border-span-2,.module-versatile{
	background-image:url(../../grids/images/border-108px.gif);
}

#cn-body-inner-2col #cn-cols .grid-12 .border-span-3{
	background-image:url(../../grids/images/border-124px.gif);
}

.border-span-2,.module-versatile,#cn-body-inner-2col #cn-cols .grid-12 .border-span-4,.grid-12 .border-span-3{
	background-image:url(../../grids/images/border-172px.gif);
}

#cn-body-inner-2col #cn-cols .grid-12 .border-span-5{
	background-image:url(../../grids/images/border-220px.gif);
}

.grid-12 .border-span-4{
	background-image:url(../../grids/images/border-236px.gif);
}

.border-span-3,#cn-body-inner-2col #cn-cols .grid-12 .border-span-6{
	background-image:url(../../grids/images/border-268px.gif);
}

.grid-12 .border-span-5{
	background-image:url(../../grids/images/border-300px.gif);
}

#cn-body-inner-2col #cn-cols .grid-12 .border-span-7{
	background-image:url(../../grids/images/border-316px.gif);
}

.border-span-4,.module-table-contents,.module-welcomepage,#cn-body-inner-2col #cn-cols .grid-12 .border-span-8,.grid-12 .border-span-6{
	background-image:url(../../grids/images/border-364px.gif);
}

#cn-body-inner-2col #cn-cols .grid-12 .border-span-9{
	background-image:url(../../grids/images/border-412px.gif);
}

.grid-12 .border-span-7{
	background-image:url(../../grids/images/border-428px.gif);
}

.border-span-5,#cn-body-inner-2col #cn-cols .grid-12 .border-span-10{
	background-image:url(../../grids/images/border-460px.gif);
}

.grid-12 .border-span-8{
	background-image:url(../../grids/images/border-492px.gif);
}

#cn-body-inner-2col #cn-cols .grid-12 .border-span-11{
	background-image:url(../../grids/images/border-508px.gif);
}

.border-span-6,#cn-body-inner-2col #cn-cols .grid-12 .border-span-12,.grid-12 .border-span-9{
	background-image:url(../../grids/images/border-556px.gif);
}

.grid-12 .border-span-10{
	background-image:url(../../grids/images/border-620px.gif);
}

.border-span-7{
	background-image:url(../../grids/images/border-652px.gif);
}

.grid-12 .border-span-11{
	background-image:url(../../grids/images/border-684px.gif);
}

.border-span-8,.grid-12 .border-span-12{
	background-image:url(../../grids/images/border-748px.gif);
}

#cn-cols-inner,#cn-gcnb-inner,#cn-banner-inner,#cn-psnb-inner,#cn-bc-inner,#cn-gcft-inner,#cn-sft-inner,#cn-banner-inner,#cn-psnb .mb-menu,#cn-psnb .mb-hsubmenu .showcase-visible ul,#cn-body-inner-1col #cn-centre-col{
	width:768px;
}

#cn-body-inner-2col #cn-centre-col,#cn-body-inner-2col-right #cn-centre-col,#cn-body-inner-2col #cn-centre-col-inner,#cn-body-inner-2col-right #cn-centre-col-inner,#cn-body-inner-1col #cn-content{
	width:576px;
}

#cn-aside,#cn-gc-priorities,.span-2,#cn-body-inner-2col #cn-cols .grid-12 .span-4,.grid-12 .span-3{
	width:172px;
}

.span-2 .calendar-month td,.span-2 .calendar-month th,#cn-body-inner-2col #cn-cols .grid-12 .span-4 .calendar-month td,#cn-body-inner-2col #cn-cols .grid-12 .span-4 .calendar-month th,.grid-12 .span-3 .calendar-month td,.grid-12 .span-3 .calendar-month th{
	width:26px;
	height:32px;
	padding:2px 3px;
}