@charset "utf-8";
/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * www.tbs.gc.ca/ws-nw/wet-boew/terms / www.sct.gc.ca/ws-nw/wet-boew/conditions
 */
.ie7 #cn-cols{
	margin-bottom:-20px;
}
	
.ie7 .cn-minister ul{
	padding-bottom:17px;
}
	
.ie7 #deocrative-banner-full {
	display: inline-block !important; 
	float: left; 
	margin: 0; 
	padding: 0 10px 0 10px; 
	width: 700px;
}

.ie7 #cn-body-inner-1col,.ie7 #cn-body-inner-2col,.ie7 #cn-body-inner-2col-right,.ie7 #cn-body-inner-3col,.ie7 #cn-head-inner{
	background-position:center 3.1em;
}

.ie7 #cn-search-submit{
	padding:1px 0;
}

.ie7 #cn-site-title{
	position:relative;
}

.ie7 #cn-site-title-inner{
	position:absolute;
	top:50%;
}

.ie7 #cn-site-title a{
	position:relative;
	top:-50%;
}

.ie7 #cn-site-title,.ie7 #cn-site-title a{
	filter:Shadow(Color=#333333, Direction=125,Strength=1);
}

.ie7 #cn-psnb .mb-megamenu .mb-sm-open{
	background:url(../images/gradiant.jpg) repeat-x 0 0 #eee;
}

.ie7 #cn-psnb .mb-hsubmenu .mb-sm-open ul{
	width:960px;
}

.ie7 #cn-doc-dates{
	position:relative;
	float:right;
	margin-bottom:-15px;
	top:10px;
}

.ie7 #cn-ft-tctr{
	padding:7px 0 6px;
}

.ie7 #cn-ft-tctr li.terms{
	padding:0 10px;
}

.ie7 #cn-ft-tctr li.trans{
	padding-left:10px;
}

.ie7 #cn-gcft li{
	margin:13px 35px 14px 9px;
}

.ie7 #cn-banner,.ie7 #cn-ft-tctr li{
	float:left;
}