/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 */
#archived-bnr {
	background-color: #fd0;

	p {
		margin: 0;
		text-align: center;
	}

	a {
		color: #000;
		display: block;
		font-weight: 700;
		padding: .75em 44px;
		text-decoration: underline;
	}

	.overlay-close {
		color: #000;
	}
}
