@charset "utf-8";
/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt
 */
/* -----Build Include Section Start----- */
@import url('../../js/css/pe-ap-ns.css');
@import url('includes/serv.css');
/* -----Build Include Section End----- */
@media screen and (max-width:767px), 
	only screen and (max-width:1199px) and (-webkit-min-device-pixel-ratio:2), 
	only screen and (max-width:1199px) and (min--moz-device-pixel-ratio:2), 
	only screen and (max-width:1199px) and (-o-min-device-pixel-ratio: 2/1), 
	only screen and (max-width:1199px) and (min-device-pixel-ratio:2), 
	only screen and (max-width:1199px) and (min-resolution:192dpi), 
	only screen and (max-width:1199px) and (min-resolution:2dppx) {
	.no-js {
		#gcwu-psnb{
			margin-top: -11px;
		}
		#gcwu-psnb, #gcwu-srchbx {
			width:100% !important;
			float:none;
		}
		#gcwu-psnb #gcwu-psnb-in,#gcwu-srchbx form{
			display:block;
			width:100%;
			z-index:100;
		}
		#gcwu-srchbx form{
			border-bottom:1px solid #999;
			text-align:center;
			background:#1A3D6C;
			padding:10px 0;
		}
	}
}