---
{
	"title": "Correctif MathML",
	"language": "fr",
	"category": "Correctifs",
	"categoryfile": "polyfills",
	"description": "Émule le MathML pour les navigateurs qui ne le supportent pas.",
	"altLangPrefix": "mathml",
	"dateModified": "2026-03-04"
}
---

<div class="alert alert-info">
	<h2 class="h3">Avis - Enlèvement de MathJax</h2>
	<p>Maintenant que MathML est supporté de manière native par les navigateurs, toutes les instances de MathJax ont été enlevé de WET-BOEW.</p>
</div>

<div lang="en">
<section>
	<h2>Purpose</h2>
	<p>MathML enabled the display of mathematical formulas. Because some browsers did not support this functionality natively, this polyfill emulated the same functionality using MathJax.</p>
</section>

<section>
	<h2>Working example</h2>
	<ul>
		<li><a href="../../../demos/mathml/mathml-en.html">English examples</a></li>
		<li><a href="../../../demos/mathml/mathml-fr.html">French examples</a></li>
	</ul>
</section>

<section>
	<h2>Configuration options</h2>
	<p><a href="https://www.w3.org/TR/mathml-core/">Configuration options available for MathML (MathML Core specification)</a></p>
</section>

<section>
	<h2>Source code</h2>
	<p><a href="https://github.com/wet-boew/wet-boew/tree/master/src/polyfills/mathml">MathML polyfill source code on GitHub</a> (also in <a href="https://github.com/wet-boew/wet-boew/tree/master/src/core/wb.js">wb.js</a>)</p>
</section>
</div>
