---
{
	"title": "Correctif MathML",
	"language": "fr",
	"category": "Correctifs",
	"categoryfile": "polyfills",
	"description": "Émule le MathML pour les navigateurs qui ne le supportent pas.",
	"altLangPrefix": "mathml",
	"dateModified": "2014-02-19"
}
---	
<span class="wb-prettify all-pre hide"></span>

<section>
	<h2>But</h2>
	<p>Émule le MathML pour les navigateurs qui ne le supportent pas.</p>
</section>

<div lang="en">
	<p><strong>Needs translation</strong></p>
	<section>
		<h2>Use when</h2>
		<ul>
			<li>Adding scientific or mathematical formulas to a web page.</li>
		</ul>
	</section>
</div>

<section>
	<h2>Exemple pratique</h2>
	<ul>
		<li><a href="../../../demos/mathml/mathml-en.html">Exemple en anglais</a></li>
		<li><a href="../../../demos/mathml/mathml-fr.html">Exemple en français</a></li>
	</ul>
</section>

<section>
	<h2>Comment mettre en œuvre</h2>
	<ol>
		<li>Coder quelconque formule à ajouter à une page Web en MathML et ajouter le code MathML dans le code HTML à l'aide de l'élément <code>&lt;math&gt;</code>. Le correctif est lancé automatiquement dans les navigateurs ne supportant pas le MathML.</li>
	</ol>
	<p><b>Nota : </b> Le correctif MathML dépend de <a href="http://www.mathjax.org/">MathJax</a>, qui est téléchargé à partir du MathJax CDN.</p>
</section>

<div lang="en">
	<p><strong>Needs translation</strong></p>
	<section>
		<h2>Source code</h2>
		<p><a href="https://github.com/wet-boew/wet-boew/blob/master/src/core/wb.js">MathML source code on GitHub (bundled as part of the Modernizr polyfill loading).</a></p>
	</section>
</div>
