#wb-banner {
	background: #114F7A;
	background: linear-gradient(#176CA7, #114F7A);
}

#wb-sitetitle {
	a {
		color: #FFF;
		font-size: 2.1em;
		line-height: normal;
		text-shadow: 1px 1px 1px #333;
		text-decoration: none;
		display: table-row;
	}
	span {
			display: table-cell;
			vertical-align: middle;
	}
	small {
		display: block;
		font-size: 0.4em;
	}
	object {
		height: 65px;
		margin: 9px 15px 9px 0;
		width: 141px;
		float: left;
	}
}
