/*
 Banner
 */
#wb-sttl {
	a {
		position: relative;
		z-index: 1;
		padding-top: 1.125em;
	}
	object, img {
		position: absolute;
		top: 0;
		height: 1em;
		margin: 0;
		width: 2.17em;
	}
}

[dir=rtl] {
	#wb-sttl {
		object, img {
			margin: 0;
		}
	}
}
