/*
 Banner
 */
#wb-sttl {
	a {
		padding-top: 1.125em;
		position: relative;
		z-index: 1;
	}

	object,
	img {
		height: 1em;
		margin: 0;
		position: absolute;
		top: 0;
		width: 2.17em;
	}
}

[dir=rtl] {
	#wb-sttl {
		object,
		img {
			margin: 0;
		}
	}
}
