/*
 Breadcrumbs
 */
#wb-bc {
	background: #f9f9f9;
	ol {
		background: #fff;
		border-radius: 0;
		margin-bottom: 0;
	}
	li {
		&:before, &:after {
			font-family: "Glyphicons Halflings";
			font-size: 0.7em;
			color: #333;
		}
		&:before {
			content: "\e092";
		}
		white-space: nowrap;
		&:first-child {
			&:before {
				content: "";
			}
		}
	}
}

[dir=rtl] {
	#wb-bc {
		li {
			&:before {
				content: "";
				padding: 0;
			}
			&:after {
				content: "\e079";
				padding: 0 5px;
			}
			&:first-child {
				&:after {
					content: "";
					padding: 0;
				}
			}
		}
	}
}