/*
 Breadcrumbs
 */
#wb-bc {
	background: #f9f9f9;
	ol {
		background: #fff;
		border-radius: 0;
		margin-bottom: 0;
		> {
			li {
				+ {
					li {
						&:before {
							display: none;
						}
					}
				}
			}
		}
	}
	li {
		background: url("data:image/gif;base64,R0lGODlhBgAGAMQAAAAAAP///5aWlpCQkI+Pj42NjYyMjImJiYiIiIaGhoCAgHh4eHNzc25ubmxsbGhoaGdnZ2VlZWRkZFFRUQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAABMALAAAAAAGAAYAAAUa4MEsQmAiTjOYARFFiVlAkhIYknQESfSsgRAAOw==") no-repeat scroll 0 50%;
		margin-right: 5px;
		padding-left: 11px;
		white-space: nowrap;
		&:first-child {
			background: none;
			padding-left: 0;
		}
	}
}