/*
 Breadcrumbs
 */
#wb-bc {
    background: #f9f9f9;
    ol {
        background: #fff;
        border-radius: 0;
        min-height: 3em;
    }
    li {
        background: url("data:image/gif;base64,R0lGODlhBgAGAMQAAAAAAP///5aWlpCQkI+Pj42NjYyMjImJiYiIiIaGhoCAgHh4eHNzc25ubmxsbGhoaGdnZ2VlZWRkZFFRUQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAABMALAAAAAAGAAYAAAUa4MEsQmAiTjOYARFFiVlAkhIYknQESfSsgRAAOw==") no-repeat scroll 100% 50% rgba(0, 0, 0, 0);
        float: left;
        margin-right: 5px;
        padding-right: 11px;
        white-space: nowrap;
    }
    .breadcrumb {
        margin-bottom: 0;
        > li + li:before {
            display: none;
        }
    }
}