/*
 Site menu
 */

#wb-sm {
	background: none repeat scroll 0 0 #0E4164;
	border-top: 1px solid #0B3048;
	ul {
		width: 100%;
		list-style: none;
		padding: 0;
		li {
			display: inline;
			float: left;
			a {
				border-left: 1px solid #0B3048;
				border-right: 1px solid #135480;
				color: #fff;
				display: block;
				padding: 0.8em;
				font-size: 1em;
				font-weight: 400;
				line-height: normal;
				margin: 0;
				text-decoration: none;
				&:focus, &:hover {
					text-decoration: underline;
				}
			}
		}
	}
}
