/*
 Site menu
 */

#wb-sm {
    background: none repeat scroll 0 0 #0E4164;
    border-top: 1px solid #0B3048;
    ul {
        width: 100%;
        list-style: none;
        padding: 0;
        li {
            display: inline;
            float: left;
            a {
                border-left: 1px solid #0B3048;
                border-right: 1px solid #135480;
                color: #fff;
                display: block;
                padding: 0.8em;
                font-size: 1em;
                font-weight: 400;
                line-height: normal;
                margin: 0;
                text-decoration: none;
                &:focus, &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    .menu {
        display: table;
        width: 100%;
        margin: 0;
        > li {
            display: table-cell;
            padding: 0;
        }
        li {
            a {
                &:hover, &:focus, &:active {
                    background: #243850;
                }
            }
            li {
                a {
                    &:hover, &:focus, &:active {
                        background: none;
                    }
                }
            }
        }
        .expandicon {
            border-top-color: #bbb;
        }
    }
}

/* chad's add-ons */
#menu-demo {
    margin-bottom: 5em;
    .menu {
        display: table;
        width: 100%;
        margin: 0;
        > li {
            display: table-cell;
            padding: 0;
        }
        li {
            a {
                &:hover, &:focus, &:active {
                    background: #243850;
                }
            }
            li {
                a {
                    &:hover, &:focus, &:active {
                        background: none;
                    }
                }
            }
        }
    }
    .expandicon {
        left: 0.75em;
        position: relative;
        top: 0.75em;
        margin-right: 0.8em;
    }
    .sbmnu {
        .open {
            background: #ccc;
            border-bottom: 5px solid #243850;
            border-left: 0 none;
            border-right: 0 none;
            box-shadow: 0 3px 3px -2px rgba(0, 0, 0, 0.3), 3px 3px 3px -2px rgba(0, 0, 0, 0.3), -3px 3px 3px -2px rgba(0, 0, 0, 0.3);
            display: inline-block;
            padding: 5px;
            margin: 0;
            list-style-type: none;
            position: absolute;
            left: 0;
            z-index: 100;
            width: auto;
            li {
                display: block;
                float: none;
            }
            a {
                color: #333;
            }
        }
    }
}
