/*
 Site menu (small view and under)
*/
#wb-sm {
	.menu {
		li {
			a {
				&:hover, &:focus, &:active {
					background: #eee;
				}
			}
		}
		.active {
			background: #ddd !important;
		}
		li {
			li {
				a {
					&:hover, &:focus, &:active {
						background: none;
					}
				}
			}
		}
	}
	background: #ddd;

	&:target {
		.container {
			display: block !important;
		}
	}
	.row {
		border-bottom: 1px solid #bbb;
		padding-bottom: 10px;
	}
	.menu {
		> {
			li {
				a {
					text-shadow: none;
					color: #333;
					border: none;
					padding: .5em;
				}
			}
		}
	}
	%theme-menu-sm-mobile {
		-webkit-box-shadow: none;
		box-shadow: none;
		border-left: none;
		border-right: none;
		border-top: 1px solid #ddd;
		padding: 0;
		background: transparent;
	}
	.sm {
		@extend %theme-menu-sm-mobile;
		&.open {
			@extend %theme-menu-sm-mobile;
		}
	}
	.menu {
		> {
			li {
				&:last-child {
					a {
						border: none;
					}
				}
			}
		}
		ul {
			li {
				border-bottom: 1px solid #ddd;
				border-top: 1px solid #fff;
				background: #eee;
			}
		}
	}
	#wb-sec-p {
		display: block;
	}
}
