
#wb-lng {
	min-height: 2.3em;
}

.wb-sl {
	background-color: #000;
	color: #FFF;
	font-weight: 700;
	&:focus {
		color: #FFF;
		text-decoration: none;
		/* Shouldn't be needed. Only here because Bootstrap forces an outline colour */
		outline-color: #FFF;
	}
}