---
{
	"title": "Multiple Linked Headings",
	"language": "en",
	"tag": "menu",
	"parentdir": "menu",
	"parentPage": "Footer Menu Integration",
	"parentPageURL": "footer-menu",
	"altLangPrefix": "footer-menu-error-3",
	"altFooter": "../ajax/footer-menu-error-3",
	"dateModified": "2018-08-06"
}
---
<span class="wb-prettify all-pre hide"></span>
	<section>
		<h2>Purpose</h2>
		<p><strong>This structure is not supported.</strong> Multiple headings of the same size, each containing links. These will cause unwanted gaps in the menu panel. Additionally, this structure is not compliant to the HTML5 specification.</p>
	</section>

	<section>
		<h2>Code</h2>
		<pre><code>&lt;footer role="contentinfo" id="wb-info" class="visible-sm visible-md visible-lg wb-navcurr"&gt;
	&lt;div class="container"&gt;
		&lt;nav role="navigation" class="row"&gt;
			&lt;h2&gt;Example Footer&lt;/h2&gt;
			&lt;section class="col-sm-4"&gt;
				&lt;h3&gt;&lt;a href="#"&gt;Heading 1&lt;/a&gt;&lt;/h3&gt;
				&lt;h3&gt;&lt;a href="#"&gt;Heading 2&lt;/a&gt;&lt;/h3&gt;
			&lt;/section&gt;
			&lt;section class="col-sm-4"&gt;
				&lt;h3&gt;&lt;a href="#"&gt;Heading 3&lt;/a&gt;&lt;/h3&gt;
				&lt;h3&gt;&lt;a href="#"&gt;Heading 4&lt;/a&gt;&lt;/h3&gt;
			&lt;/section&gt;
			&lt;section class="col-sm-4"&gt;
				&lt;h3&gt;&lt;a href="#"&gt;Heading 5&lt;/a&gt;&lt;/h3&gt;
				&lt;h3&gt;&lt;a href="#"&gt;Heading 6&lt;/a&gt;&lt;/h3&gt;
			&lt;/section&gt;
		&lt;/nav&gt;
	&lt;/div&gt;
&lt;/footer&gt;</code></pre>
	</section>
