---
{
	"title": "Multiple Links Without List",
	"language": "en",
	"tag": "menu",
	"parentdir": "menu",
	"parentPage": "Footer Menu Integration",
	"parentPageURL": "footer-menu",
	"altLangPrefix": "footer-menu-error-2",
	"altFooter": "../ajax/footer-menu-error-2",
	"dateModified": "2018-08-06"
}
---
<span class="wb-prettify all-pre hide"></span>
		<section>
			<h2>Purpose</h2>
				<p><strong>This structure is not supported.</strong> A heading followed by a multiple links, either on their own, in paragraphs, or in smaller headings. Only the first link will be clickable in the menu panel.</p>
		</section>

		<section>
			<h2>Code</h2>
				<pre><code>&lt;footer role="contentinfo" id="wb-info" class="visible-sm visible-md visible-lg wb-navcurr"&gt;
	&lt;div class="container"&gt;
		&lt;nav role="navigation" class="row"&gt;
			&lt;h2&gt;Example Footer&lt;/h2&gt;
			&lt;section class="col-sm-4"&gt;
				&lt;h3&gt;Heading 1&lt;/h3&gt;
				&lt;p&gt;&lt;a href="#"&gt;Link 1.1&lt;/a&gt;&lt;/p&gt;
				&lt;p&gt;&lt;a href="#"&gt;Link 1.2&lt;/a&gt;&lt;/p&gt;
			&lt;/section&gt;
			&lt;section class="col-sm-4"&gt;
				&lt;h3&gt;Heading 2&lt;/h3&gt;
				&lt;p&gt;&lt;a href="#"&gt;Link 2.1&lt;/a&gt;&lt;/p&gt;
				&lt;p&gt;&lt;a href="#"&gt;Link 2.2&lt;/a&gt;&lt;/p&gt;
			&lt;/section&gt;
			&lt;section class="col-sm-4"&gt;
				&lt;h3&gt;Heading 3&lt;/h3&gt;
				&lt;p&gt;&lt;a href="#"&gt;Link 3.1&lt;/a&gt;&lt;/p&gt;
				&lt;p&gt;&lt;a href="#"&gt;Link 3.2&lt;/a&gt;&lt;/p&gt;
			&lt;/section&gt;
		&lt;/nav&gt;
	&lt;/div&gt;
&lt;/footer&gt;</code></pre>
	</section>
