---
{
	"title": "Un seul lien",
	"language": "fr",
	"tag": "menu",
	"parentdir": "menu",
	"parentPage": "Pied de page dans le menu",
	"parentPageURL": "footer-menu",
	"altLangPrefix": "footer-menu-link",
	"altFooter": "../ajax/footer-menu-link",
	"dateModified": "2018-08-06"
}
---
<span class="wb-prettify all-pre hide"></span>
		<section>
			<h2>But</h2>
				<p>Un titre suivi par un seul lien, soit tous seul ou dans un paragraph. Dans le menu, ceci est affiché comme un seul article.</p>
		</section>

		<section>
			<h2>Code</h2>
				<pre><code>&lt;footer role="contentinfo" id="wb-info" class="visible-sm visible-md visible-lg wb-navcurr"&gt;
	&lt;div class="container"&gt;
		&lt;nav role="navigation" class="row"&gt;
			&lt;h2&gt;Exemple de pied de page&lt;/h2&gt;
			&lt;section class="col-sm-4"&gt;
				&lt;h3&gt;Titre 1&lt;/h3&gt;
				&lt;p&gt;&lt;a href="#"&gt;Lien 1&lt;/a&gt;&lt;/p&gt;
			&lt;/section&gt;
			&lt;section class="col-sm-4"&gt;
				&lt;h3&gt;Titre 2&lt;/h3&gt;
				&lt;p&gt;&lt;a href="#"&gt;Lien 2&lt;/a&gt;&lt;/p&gt;
			&lt;/section&gt;
			&lt;section class="col-sm-4"&gt;
				&lt;h3&gt;Titre 3&lt;/h3&gt;
				&lt;p&gt;&lt;a href="#"&gt;Lien 3&lt;/a&gt;&lt;/p&gt;
			&lt;/section&gt;
		&lt;/nav&gt;
	&lt;/div&gt;
&lt;/footer&gt;</code></pre>
		</section>
