---
{
	"title": "Titre avec lien et liste",
	"language": "fr",
	"tag": "menu",
	"parentdir": "menu",
	"parentPage": "Pied de page dans le menu",
	"parentPageURL": "footer-menu",
	"altLangPrefix": "footer-menu-error-1",
	"altFooter": "../ajax/footer-menu-error-1",
	"dateModified": "2018-08-06"
}
---
<span class="wb-prettify all-pre hide"></span>
		<section>
			<h2>But</h2>
				<p><strong>Cette structure n'est pas supportée.</strong> Une combination des structures « titre suivi par liste » et « titre avec lien ». Dans le menu, le lien dans le titre ne sera pas accessible.</p>
		</section>

		<section>
			<h2>Code</h2>
				<pre><code>&lt;footer role="contentinfo" id="wb-info" class="visible-sm visible-md visible-lg wb-navcurr"&gt;
	&lt;div class="container"&gt;
		&lt;nav role="navigation" class="row"&gt;
			&lt;h2&gt;Example Footer&lt;/h2&gt;
			&lt;section class="col-sm-4"&gt;
				&lt;h3&gt;&lt;a href="#"&gt;Titre 1&lt;/a&gt;&lt;/h3&gt;
				&lt;ul class="list-unstyled"&gt;
					&lt;li&gt;&lt;a href="#"&gt;Élément de liste 1.1&lt;/a&gt;&lt;/li&gt;
					&lt;li&gt;&lt;a href="#"&gt;Élément de liste 1.2&lt;/a&gt;&lt;/li&gt;
				&lt;/ul&gt;
			&lt;/section&gt;
			&lt;section class="col-sm-4"&gt;
				&lt;h3&gt;&lt;a href="#"&gt;Titre 2&lt;/a&gt;&lt;/h3&gt;
				&lt;ul class="list-unstyled"&gt;
					&lt;li&gt;&lt;a href="#"&gt;Élément de liste 2.1&lt;/a&gt;&lt;/li&gt;
					&lt;li&gt;&lt;a href="#"&gt;Élément de liste 2.2&lt;/a&gt;&lt;/li&gt;
				&lt;/ul&gt;
			&lt;/section&gt;
			&lt;section class="col-sm-4"&gt;
				&lt;h3&gt;&lt;a href="#"&gt;Titre 3&lt;/a&gt;&lt;/h3&gt;
				&lt;ul class="list-unstyled"&gt;
					&lt;li&gt;&lt;a href="#"&gt;Élément de liste 3.1&lt;/a&gt;&lt;/li&gt;
					&lt;li&gt;&lt;a href="#"&gt;Élément de liste 3.2&lt;/a&gt;&lt;/li&gt;
				&lt;/ul&gt;
			&lt;/section&gt;
		&lt;/nav&gt;
	&lt;/div&gt;
&lt;/footer&gt;</code></pre>
		</section>
