---
{
	"title": "Titre avec lien",
	"language": "fr",
	"tag": "menu",
	"parentdir": "menu",
	"parentPage": "Pied de page dans le menu",
	"parentPageURL": "footer-menu",
	"altLangPrefix": "footer-menu-heading",
	"altFooter": "../ajax/footer-menu-heading",
	"dateModified": "2018-08-06"
}
---
<span class="wb-prettify all-pre hide"></span>

<section>
			<h2>But</h2>
				<p>Un titre qui contient un lien. Dans le menu, ceci est affiché comme un seul article.</p>
		</section>

		<section>
			<h2>Code</h2>
				<pre><code>&lt;footer role="contentinfo" id="wb-info" class="visible-sm visible-md visible-lg wb-navcurr"&gt;
	&lt;div class="container"&gt;
		&lt;nav role="navigation" class="row"&gt;
			&lt;h2&gt;Example Footer&lt;/h2&gt;
			&lt;section class="col-sm-4"&gt;
				&lt;h3&gt;&lt;a href="#"&gt;Titre 1&lt;/a&gt;&lt;/h3&gt;
			&lt;/section&gt;
			&lt;section class="col-sm-4"&gt;
				&lt;h3&gt;&lt;a href="#"&gt;Titre 2&lt;/a&gt;&lt;/h3&gt;
			&lt;/section&gt;
			&lt;section class="col-sm-4"&gt;
				&lt;h3&gt;&lt;a href="#"&gt;Titre 3&lt;/a&gt;&lt;/h3&gt;
			&lt;/section&gt;
		&lt;/nav&gt;
	&lt;/div&gt;
&lt;/footer&gt;</code></pre>
		</section>
