---
{
	"title": "Linked Heading",
	"language": "en",
	"tag": "menu",
	"parentdir": "menu",
	"parentPage": "Footer Menu Integration",
	"parentPageURL": "footer-menu",
	"altLangPrefix": "footer-menu-heading",
	"altFooter": "../ajax/footer-menu-heading",
	"dateModified": "2018-08-06"
}
---
<span class="wb-prettify all-pre hide"></span>
		<section>
			<h2>Purpose</h2>
				<p>A heading on its own, containing a link. In the menu panel, this is rendered as a single menu item.</p>
		</section>

		<section>
			<h2>Code</h2>
				<pre><code>&lt;footer role="contentinfo" id="wb-info" class="visible-sm visible-md visible-lg wb-navcurr"&gt;
	&lt;div class="container"&gt;
		&lt;nav role="navigation" class="row"&gt;
			&lt;h2&gt;Example Footer&lt;/h2&gt;
			&lt;section class="col-sm-4"&gt;
				&lt;h3&gt;&lt;a href="#"&gt;Heading 1&lt;/a&gt;&lt;/h3&gt;
			&lt;/section&gt;
			&lt;section class="col-sm-4"&gt;
				&lt;h3&gt;&lt;a href="#"&gt;Heading 2&lt;/a&gt;&lt;/h3&gt;
			&lt;/section&gt;
			&lt;section class="col-sm-4"&gt;
				&lt;h3&gt;&lt;a href="#"&gt;Heading 3&lt;/a&gt;&lt;/h3&gt;
			&lt;/section&gt;
		&lt;/nav&gt;
	&lt;/div&gt;
&lt;/footer&gt;</code></pre>
		</section>
