@charset "utf-8";
/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt
 */
#gcwu-sig img {
  position: absolute;
  top: 10px;
  left: 0;
}

#gcwu-wmms img {
  position: absolute;
  top: 0;
  right: 0;
}

#gcwu-title, #gcwu-title a {
  font-size: 16pt;
  text-decoration: none;
  color: #000;
  width: 100%;
  position: relative;
  top: 9px;
}

#wb-main-in {
  border-top: 3px outset #666;
  padding-top: 5px;
}

h1 {
  font-size: 140%;
  margin: 0 !important;
}

h2 {
  font-size: 125%;
}

h3 {
  font-size: 120%;
}

h4 {
  font-size: 115%;
}

h5 {
  font-size: 110%;
}

h6 {
  font-size: 100%;
}

#gcwu-bc {
  min-height: inherit;
  height: auto;
}
#gcwu-bc ol {
  width: 100%;
  margin: 0;
  padding: 0;
}
#gcwu-bc li {
  background: none;
  padding: 0;
}
#gcwu-bc li:before {
  content: " > ";
}
#gcwu-bc li:first-child:before {
  content: "";
}
#gcwu-bc a {
  padding-left: 0;
  background: none;
}

#wb-sec, #wb-sup, #gcwu-gcnb ul, #gcwu-srchbx, #gcwu-psnb, #wb-foot {
  display: none;
}

#gcwu-date-mod {
  float: right;
  display: inline;
}

.clear {
  clear: both;
  display: block;
  height: 0 !important;
  min-height: 0 !important;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  margin: 0;
}
