@charset "utf-8";
/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt
 */
.ie7 #wb-core {
  margin-bottom: -20px;
}
.ie7 #wb-main-in {
  position: static;
}
.ie7 #gcwu-title {
  margin-top: -1px;
}
.ie7 #gcwu-title-left, .ie7 #gcwu-title-right, .ie7 .gcwu-alt-title-left, .ie7 .gcwu-alt-title-right {
  margin-top: 2px;
}
.ie7 #wb-core-in div #gcwu-bar {
  margin-bottom: 13px;
}
.ie7 #gcwu-tc li {
  margin-bottom: 6px;
}
