/*
  WET-BOEW
  @title: IE8-specific details/summary CSS
 */
.lt-ie9 {
	details {
		padding-left: $details-indentation;

		> {
			summary {
				margin-left: -$details-indentation;
			}
		}
	}

	[dir=rtl] {
		details {
			padding-left: 0;
			padding-right: $details-indentation;

			> {
				summary {
					margin-left: 0 !important;
					margin-right: -$details-indentation;
				}
			}
		}
	}
}
