/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-eng.txt / wet-boew.github.io/wet-boew/Licence-fra.txt
 */
/*
	WET-BOEW Grid structure
*/




/*-----------------------------
	Fixed Width Container Block
 ------------------------------*/
.container {
	width: $width;
	margin: 0 auto;
}

/*-----------------------------
	Clearing Row markup
 ------------------------------*/
.row {
	width: 100%;
	overflow: hidden;
	*zoom: 1;
	margin: 0 auto;

	.row {
	  width: auto;
	  max-width: none;
	  *zoom: 1;
	  margin: 0 -10px;
	}

	&:before, .row:after{
	  content: " ";
	  display: table;
	}

	&:after, .row:after {
	  clear: both;
	  content: " ";
	  display: table;
	}
}
/*-----------------------------
	Pull Standardization
 ------------------------------*/
[class*="pull-"]{left:auto;}
[class*="push-"]{right:auto;}
/*-----------------------------
	Basic grid set-up
 ------------------------------*/
[class*="span-"] {
  position: relative;
  padding: 0 $gutterWidth $gutterWidth $gutterWidth;
  width: 100%;
  float: none;
  display: inline-block;
  
}

/*-----------------------------
	Column Loop for all the classes
 ------------------------------*/
@include create_grid($columns);

/*-----------------------------
	Human Readable Column loop
 ------------------------------*/
$i: 1;
@each $spn in full, half, third, fourth, fifth, sixth {
	$col: floor($columns/$i);
	@include create_column($spn, $col);
	$i: $i + 1;
}

/*-----------------------------
	Visually pleasing divisions
 ------------------------------*/
.span-golden-a {
	width: 61.803399%;
	_width: 61.803399% - 0.0694%; /* IE6-7 */
}

.span-golden-b {
	width: 38.196601%;
	_width: 38.196601% - 0.0694%; /* IE6-7 */
}

/*-----------------------------
	Helper Reflows
 ------------------------------*/
.span-reflow {
  width: auto;
  display: block;
  float: none;
}

.span-centered {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  float: none;
  display: inline;
}

.bleed-full {
  > [class*="span-"]:first-child, > .row > [class*="span-"]:first-child {
    padding-left: 0;
  }
  > [class*="span-"]:last-child, > .row > [class*="span-"]:last-child {
    padding-right: 0;
  }
}

.bleed-left {
  > [class*="span-"]:first-child, > .row > [class*="span-"]:first-child { padding-left: 0; }
}
.bleed-right  {
  > [class*="span-"]:last-child, > .row > [class*="span-"]:last-child { padding-right: 0; }
}

[class*="bleed-"] {
  > [class*="pull-"]:last-child, > .row [class*="pull-"]:last-child { padding-right: 10px; padding-left: 0;}
  > [class*="push-"]:first-child, > .row [class*="push-"]:first-child { padding-right: 0; padding-left: 10px;}
}

[class*="span-"] [class*="border-"] { padding: 0 10px;}



/* Extra Small mobile Devices */
@media screen and (max-width: 320px) {
	@import "grids/xsmall";
}

/* Small mobile Devices */
@media screen and (max-width: 480px) {
    @import "grids/small";
}

/* Tablets and lower resolution monitors */
@media screen and (max-width: 767px) {
	@import "grids/medium";
}

/* Default resolution */
@media screen and (min-width: 768px) {
	@import "grids/default";
}

/* xtra high resolution monitors > 1200px */
@media only screen and (min-width : 75.000em) {
	@import "grids/large";
}

