/*
	WET-BOEW Grid structure
*/


/*-----------------------------
	Fixed Width Container Block
 ------------------------------*/
.container {
	width: $width;
	@include centerblock;
}


/*-----------------------------
	Clearing Row markup
 ------------------------------*/
.row {
	margin: $gutterWidth/2;
	@include clear;
	// nested row
	.row { 
		margin: 0;
		[class*="span-"] {
			&:first-child{ .inner-span { margin-left: 0} }
			&:last-child{ .inner-span { margin-right: 0} }
		}
	 }
	// inner child margin
	.inner-span { 
		margin: 0 $gutterWidth/2;
	}
	// heading for developers
	h1, h2, h3, h4, h5, h6 {
		margin-right: $gutterWidth / 2;
		margin-left: $gutterWidth / 2;
	}
}

/*-----------------------------
	Default Heading spacing
 ------------------------------*/
// headings
h1, h2, h3, h4, h5, h6 {
	margin-right: $gutterWidth;
	margin-left: $gutterWidth;
}
// nested headings
.inner-span {
	h1, h2, h3, h4, h5, h6 {
		margin-right: 0;
		margin-left: 0;
	}
}

/*-----------------------------
	Visually pleasing divisions
 ------------------------------*/
.span-golden-a {
	width: 61.803399%;
	_width: 61.803399% - 0.0694%; /* IE6-7 */
	float: left;
}

.span-golden-b {
	width: 38.196601%;
	_width: 38.196601% - 0.0694%; /* IE6-7 */
	float: left;
}


/*-----------------------------
	Column Loop for all the classes
 ------------------------------*/
@for $i from 1 through 12 {
   @include columns($i,$i);
}

/*-----------------------------
	Human Readable Column loop
 ------------------------------*/
$i: 1;
@each $spn in full, half, third, fourth, fifth, sixth, seventh, eighth, ninth, tenth, eleventh, twelfth {
	$col: floor(12/$i);
	@include columns($col, $spn);
	$i: $i + 1;
} 



