---
{
	"title": "Accessibility Conformance Report Methodology",
	"language": "en",
	"category": "Other",
	"description": "Method describing an iterative approach to perform multiple specialized assessments and then to produce an ACR (Accessibility Conformance Report).",
	"altLangPage": "acr-fr.html",
	"dateModified": "2023-05-09"
}
---

<p>Please consult the working example page for more information about the accessibility conformance report methodology.</p>

<h2>Working example</h2>
<ul>
	<li><a href="../../../demos/acr/acr-en.html">English</a></li>
	<li><a href="../../../demos/acr/acr-fr.html" hreflang="fr">French</a></li>
</ul>

<h2>Source code</h2>
<p><a href="https://github.com/wet-boew/wet-boew/tree/master/src/other/acr">Accessibility Conformance Report Methodology source code on GitHub</a></p>
