---
{
	"title": "Méthodologie du rapport de conformance à l'accessibilité",
	"language": "fr",
	"category": "Autre",
	"categoryfile": "other",
	"description": "Méthode qui utilise une approche itérative afin de produire plusieurs évaluations spécialisées et par la suite produire un rapport de conformité d'accessibilité.",
	"altLangPage": "acr-en.html",
	"dateModified": "2023-05-09"
}
---

<p>Veuillez consulter la page des exemples pratiques pour plus d'information à propos de la méthodologie du rapport de conformance à l'accessibilité.</p>

<h2>Exemples pratiques</h2>
<ul>
	<li><a href="../../../demos/acr/acr-fr.html">Français</a></li>
	<li><a href="../../../demos/acr/acr-en.html" hreflang="en">Anglais</a></li>
</ul>

<h2>Code source</h2>
<p><a href="https://github.com/wet-boew/wet-boew/tree/master/src/other/acr">Code source pour la méthodologie du rapport de conformance à l'accessibilité sur GitHub</a></p>
