---
{
	"title": "Uility",
	"language": "en",
	"category": "Other",
	"description": "Utilities page including working examples.",
	"tag": "utility",
	"parentdir": "utility",
	"altLangPrefix": "utility",
	"dateModified": "2022-02-01"
}
---

<p>This page showcases wet-boew utility features including some integration from Bootstrap 4 such as: <code>p-0</code>, <code>pl-2</code>, <code>text-white</code> and others.</p>

<h2>On this page:</h2>

<ul>
	<li><a href="#background">Background</a></li>
	<li><a href="#colors">Color schemes</a></li>
	<li><a href="#spacing">Spacing</a></li>
	<li><a href="#positioning">Positioning</a></li>
	<li><a href="#miscellaneous">Miscellaneous</a></li>
</ul>

<h2 id="background">Background</h2>

<h3><code>bg-cover</code></h3>
<p>Set background image to fully cover the box size.</p>
<h4>working example:</h4>
<div class="bg-cover well" data-bgimg="../../demos/tabs/img/investinourfuture.jpg">
	<div class="well mrgn-tp-md mrgn-bttm-md">
		<h4 class="mrgn-tp-md">Heading</h4>
		<p>Paragraph</p>
	</div>
</div>
<h4>Code sample:</h4>
<pre><code>&lt;div class="<strong>bg-cover</strong> well" data-bgimg="../../demos/tabs/img/investinourfuture.jpg"&gt;
	&lt;div class="well mrgn-tp-md mrgn-bttm-md"&gt;
		&lt;h4 class="mrgn-tp-md"&gt;Heading&lt;/h4&gt;
		&lt;p&gt;Paragraph&lt;/p&gt;
	&lt;/div&gt;
&lt;/div&gt;</code></pre>

<h3><code>bg-center</code></h3>
<p>Set background image in the center of the container.</p>
<h4>working example:</h4>
<div class="bg-center well" data-bgimg="../../demos/tabs/img/investinourfuture.jpg">
	<div class="well mrgn-tp-md mrgn-bttm-md">
		<h4 class="mrgn-tp-md">Heading</h4>
		<p>Paragraph</p>
	</div>
</div>
<h4>Code sample:</h4>
<pre><code>&lt;div class="<strong>bg-center</strong> well" data-bgimg="../../demos/tabs/img/investinourfuture.jpg"&gt;
	&lt;div class="well mrgn-tp-md mrgn-bttm-md"&gt;
		&lt;h4 class="mrgn-tp-md"&gt;Heading&lt;/h4&gt;
		&lt;p&gt;Paragraph&lt;/p&gt;
	&lt;/div&gt;
&lt;/div&gt;</code></pre>

<h3><code>bg-norepeat</code></h3>
<p>Prevent background image to be repeated in the container.</p>
<h4>working example:</h4>
<div class="bg-norepeat well" data-bgimg="../../demos/tabs/img/investinourfuture.jpg">
	<div class="well mrgn-tp-md mrgn-bttm-md">
		<h4 class="mrgn-tp-md">Heading</h4>
		<p>Paragraph</p>
	</div>
</div>
<h4>Code sample:</h4>
<pre><code>&lt;div class="<strong>bg-norepeat</strong> well" data-bgimg="../../demos/tabs/img/investinourfuture.jpg"&gt;
	&lt;div class="well mrgn-tp-md mrgn-bttm-md"&gt;
		&lt;h4 class="mrgn-tp-md"&gt;Heading&lt;/h4&gt;
		&lt;p&gt;Paragraph&lt;/p&gt;
	&lt;/div&gt;
&lt;/div&gt;</code></pre>

<h3><code>bg-darker</code></h3>
<p>Set a black background to an element.</p>
<h4>working example:</h4>
<div class="bg-cover well" data-bgimg="../../demos/tabs/img/investinourfuture.jpg">
	<div class="well mrgn-tp-md mrgn-bttm-md bg-darker text-white">
		<h4 class="mrgn-tp-md">Heading</h4>
		<p>Paragraph</p>
	</div>
</div>
<h4>Code sample:</h4>
<pre><code>&lt;div class="bg-cover well" data-bgimg="../../demos/tabs/img/investinourfuture.jpg"&gt;
	&lt;div class="well mrgn-tp-md mrgn-bttm-md <strong>bg-darker</strong> text-white"&gt;
		&lt;h4 class="mrgn-tp-md"&gt;Heading&lt;/h4&gt;
		&lt;p&gt;Paragraph&lt;/p&gt;
	&lt;/div&gt;
&lt;/div&gt;</code></pre>

<h3><code>bg-dark</code></h3>
<p>Set a dark background to an element.</p>
<h4>working example:</h4>
<div class="bg-cover well" data-bgimg="../../demos/tabs/img/investinourfuture.jpg">
	<div class="well mrgn-tp-md mrgn-bttm-md bg-dark text-white">
		<h4 class="mrgn-tp-md">Heading</h4>
		<p>Paragraph</p>
	</div>
</div>
<button type="button" class="btn text-white bg-dark">Button</button>
<h4>Code sample:</h4>
<pre><code>&lt;div class="bg-cover well" data-bgimg="../../demos/tabs/img/investinourfuture.jpg"&gt;
	&lt;div class="well mrgn-tp-md mrgn-bttm-md <strong>bg-dark</strong> text-white"&gt;
		&lt;h4 class="mrgn-tp-md"&gt;Heading&lt;/h4&gt;
		&lt;p&gt;Paragraph&lt;/p&gt;
	&lt;/div&gt;
&lt;/div&gt;
&lt;button type="button" class="btn text-white bg-dark"&gt;Button&lt;button&gt;</code></pre>

<h2 id="colors">Color Schemes</h2>

<h3><code>text-white</code></h3>
<p>Set text in white. Works jointly with darker backgrounds.</p>
<h4>working example:</h4>
<p class="bg-darker text-white">Suspendisse faucibus nisl at consectetur. Lorem ipsum <a href="#" class="text-white">dolor sit amet, consectetur.</a></p>
<h4>Code sample:</h4>
<pre><code>&lt;p class="bg-darker <strong>text-white</strong>"&gt;Suspendisse faucibus nisl at consectetur. Lorem ipsum &lt;a href="#" class="text-white"&gt;dolor sit amet, consectetur.&lt;/a&gt;&lt;/p&gt;</code></pre>

<h2 id="spacing">Spacing</h2>

<h3><code>p-0</code></h3>
<p>Set a padding of 0px.</p>
<h4>working example:</h4>
<p class="p-0 bg-primary max-content">Suspendisse faucibus nisl at consectetur.</p>
<h4>Code sample:</h4>
<pre><code>&lt;p class="<strong>p-0</strong> primary max-content"&gt;Suspendisse faucibus nisl at consectetur.&lt;/p&gt;</code></pre>

<h3><code>pl-2</code></h3>
<p>Set a left padding of 5px.</p>
<h4>working example:</h4>
<p class="pl-2 bg-primary max-content">Suspendisse faucibus nisl at consectetur.</p>
<h4>Code sample:</h4>
<pre><code>&lt;p class="<strong>pl-2</strong> bg-primary max-content"&gt;Suspendisse faucibus nisl at consectetur.&lt;/p&gt;</code></pre>

<h3><code>px-2</code></h3>
<p>Set a left and right padding of 5px.</p>
<h4>working example:</h4>
<p class="px-2 bg-primary max-content">Suspendisse faucibus nisl at consectetur.</p>
<h4>Code sample:</h4>
<pre><code>&lt;p class="<strong>px-2</strong> bg-primary max-content"&gt;Suspendisse faucibus nisl at consectetur.&lt;/p&gt;</code></pre>

<h3><code>pr-2</code></h3>
<p>Set a right padding of 5px.</p>
<h4>working example:</h4>
<p class="pr-2 bg-primary max-content">Suspendisse faucibus nisl at consectetur.</p>
<h4>Code sample:</h4>
<pre><code>&lt;p class="<strong>pr-2</strong> bg-primary max-content"&gt;Suspendisse faucibus nisl at consectetur.&lt;/p&gt;</code></pre>

<h3><code>pt-4</code></h3>
<p>Set a top padding of 30px.</p>
<h4>working example:</h4>
<p class="pt-4 bg-primary max-content">Suspendisse faucibus nisl at consectetur.</p>
<h4>Code sample:</h4>
<pre><code>&lt;p class="<strong>pt-4</strong> bg-primary max-content"&gt;Suspendisse faucibus nisl at consectetur.&lt;/p&gt;</code></pre>

<h3><code>py-4</code></h3>
<p>Set a top and bottom padding of 30px.</p>
<h4>working example:</h4>
<p class="py-4 bg-primary max-content">Suspendisse faucibus nisl at consectetur.</p>
<h4>Code sample:</h4>
<pre><code>&lt;p class="<strong>py-4</strong> bg-primary max-content"&gt;Suspendisse faucibus nisl at consectetur.&lt;/p&gt;</code></pre>

<h3><code>pb-4</code></h3>
<p>Set a bottom padding of 30px.</p>
<h4>working example:</h4>
<p class="pb-4 bg-primary max-content">Suspendisse faucibus nisl at consectetur.</p>
<h4>Code sample:</h4>
<pre><code>&lt;p class="<strong>pb-4</strong> bg-primary max-content"&gt;Suspendisse faucibus nisl at consectetur.&lt;/p&gt;</code></pre>

<h2 id="positioning">Positioning</h2>

<h3><code>position-relative</code></h3>
<p>Set an element in a relative position. This was created in support of the <code>stretched-link</code> utility. For a better visualisation effect, refer to the <a href="#sl">streched-link utility section</a> below.</p>
<h4>working example:</h4>
<p class="position-relative">This is is a pragraph relatively positioned.</p>
<h4>Code sample:</h4>
<pre><code>&lt;p class="<strong>position-relative</strong>"&gt;This is is a pragraph relatively positioned.&lt;/p&gt;</code></pre>

<h2 id="miscellaneous">Miscellaneous</h2>

<h3><code>max-content</code></h3>
<p>Limits the width of an element to the width of its largest content inside.</p>
<h4>working example:</h4>
<details class="max-content">
	<summary>List items</summary>
	<ul class="list-unstyled mrgn-bttm-0 mrgn-tp-sm">
		<li><a href="#">Lorem ipsum</a></li>
		<li><a href="#">Proin porta vehicula</a></li>
		<li><a href="#">consectetur adipiscing elitDuis porttitor fermentum semper</a></li>
		<li><a href="#">consectetur adipiscing elit</a></li>
	</ul>
</details>
<h4>Code sample:</h4>
<pre><code>&lt;details class="<strong>max-content</strong>"&gt;
	&lt;summary&gt;List items&lt;/summary&gt;
	&lt;ul class="list-unstyled mrgn-bttm-0 mrgn-tp-sm"&gt;
		&lt;li&gt;&lt;a href="#"&gt;Lorem ipsum&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href="#"&gt;Proin porta vehicula&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href="#"&gt;consectetur adipiscing elitDuis porttitor fermentum semper&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href="#"&gt;consectetur adipiscing elit&lt;/a&gt;&lt;/li&gt;
	&lt;/ul&gt;
&lt;/details&gt;</code></pre>

<h3 id="sl"><code>stretched-link</code></h3>
<p>Expands the clickable area of an hyperlink to its nearest parent element.</p>
<h4>working example:</h4>
<div class="row">
	<div class="col-md-4">
		<img src="https://via.placeholder.com/360x203/000000/FFFFFF.png" alt="" class="img-responsive thumbnail mrgn-bttm-sm">
		<h3 class="h5"><a href="#" class="stretched-link">[Hyperlink text]</a></h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
	</div>
</div>
<h4>Code sample:</h4>
<pre><code>&lt;div class="row"&gt;
	&lt;div class="col-md-4"&gt;
		&lt;img src="https://via.placeholder.com/360x203/000000/FFFFFF.png" alt="" class="img-responsive thumbnail mrgn-bttm-sm"&gt;
		&lt;h3 class="h5"&gt;&lt;a href="#" class="<strong>stretched-link</strong>"&gt;[Hyperlink text]&lt;/a&gt;&lt;/h3&gt;
		&lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit.&lt;/p&gt;
	&lt;/div&gt;
&lt;/div&gt;</code></pre>
