---
{
	"title": "Utilitaire",
	"language": "fr",
	"category": "Autre",
	"description": "Page d'utilitaires ainsi que leurs examples pratiques.",
	"tag": "utility",
	"parentdir": "utility",
	"altLangPrefix": "utility",
	"dateModified": "2022-09-14"
}
---

<p>Cette page présente certaines fonctionnalités utilitaires wet-boew, y compris certaines intégrations à partir de Bootstrap 4 telles que: <code>p-0</code>, <code>pl-2</code>, <code>text-white</code> et autres.</p>
<p>Veuillez noter que certaines classes rétroportées de Bootstrap 4 ont été ajustées pour suivre les points d'arrêt de vue de Bootstrap 3.4. Par exemple, la largeur minimale de la petite (<code>sm</code>) vue est 768px dans Bootstrap 3.4, par rapport à 576px dans Boostrap 4.</p>

<h2>Sur cette page:</h2>
<ul>
	<li><a href="#alignment">Alignement</a></li>
	<li><a href="#arriere-plan">Arrière-plan</a></li>
	<li><a href="#couleurs">Schémas de couleurs</a></li>
	<li><a href="#flexbox" lang="en">Flexbox</a></li>
	<li><a href="#espacement">Espacement</a></li>
	<li><a href="#positionnement">Positionnement</a></li>
	<li><a href="#divers">Divers</a></li>
</ul>

<h2 id="alignment">Alignement</h2>

<h3><code>text-sm-left</code></h3>
<p>Aligne le text vers la gauche dans la petite vue et plus.</p>
<h4>Example pratique</h4>
<p class="text-right text-sm-left">Aligné vers la gauche dans la petite vue et plus</p>
<h4>Exemple de code</h4>
<pre><code>&lt;p class="text-right <strong>text-sm-left</strong>"&gt;Aligné vers la gauche dans la petite vue et plus&lt;/p&gt;</code></pre>

<h3><code>text-sm-right</code></h3>
<p>Aligne le text vers la droite dans la petite vue et plus.</p>
<h4>Example pratique</h4>
<p class="text-sm-right">Aligné vers la droite dans la petite vue et plus</p>
<h4>Exemple de code</h4>
<pre><code>&lt;p class="<strong>text-sm-right</strong>"&gt;Aligné vers la droite dans la petite vue et plus&lt;/p&gt;</code></pre>

<h2 id="arriere-plan">Arrière-plan</h2>

<h3><code>bg-cover</code></h3>
<p>Défini l'image d'arrière-plan afin qu'elle couvre entièrement la taille de la case.</p>
<h4>Example pratique:</h4>
<div class="bg-cover well" data-bgimg="../../demos/tabs/img/investinourfuture.jpg">
	<div class="well mrgn-tp-md mrgn-bttm-md">
		<h4 class="mrgn-tp-md">En-tête</h4>
		<p>Paragraphe</p>
	</div>
</div>
<h4>Exemple de code :</h4>
<pre><code>&lt;div class="<strong>bg-cover</strong> well" data-bgimg="../../demos/tabs/img/investinourfuture.jpg"&gt;
	&lt;div class="well mrgn-tp-md mrgn-bttm-md"&gt;
		&lt;h4 class="mrgn-tp-md"&gt;En-tête&lt;/h4&gt;
		&lt;p&gt;Paragraphe&lt;/p&gt;
	&lt;/div&gt;
&lt;/div&gt;</code></pre>

<h3><code>bg-center</code></h3>
<p>Défini l'image d'arrière-plan au centre de la case.</p>
<h4>Example pratique:</h4>
<div class="bg-center well" data-bgimg="../../demos/tabs/img/investinourfuture.jpg">
	<div class="well mrgn-tp-md mrgn-bttm-md">
		<h4 class="mrgn-tp-md">En-tête</h4>
		<p>Paragraphe</p>
	</div>
</div>
<h4>Exemple de code :</h4>
<pre><code>&lt;div class="<strong>bg-center</strong> well" data-bgimg="../../demos/tabs/img/investinourfuture.jpg"&gt;
	&lt;div class="well mrgn-tp-md mrgn-bttm-md"&gt;
		&lt;h4 class="mrgn-tp-md"&gt;En-tête&lt;/h4&gt;
		&lt;p&gt;Paragraphe&lt;/p&gt;
	&lt;/div&gt;
&lt;/div&gt;</code></pre>

<h3><code>bg-norepeat</code></h3>
<p>Prévient l'image d'arrière-plan de se répéter dans la case.</p>
<h4>Example pratique:</h4>
<div class="bg-norepeat well" data-bgimg="../../demos/tabs/img/investinourfuture.jpg">
	<div class="well mrgn-tp-md mrgn-bttm-md">
		<h4 class="mrgn-tp-md">En-tête</h4>
		<p>Paragraphe</p>
	</div>
</div>
<h4>Exemple de code :</h4>
<pre><code>&lt;div class="<strong>bg-norepeat</strong> well" data-bgimg="../../demos/tabs/img/investinourfuture.jpg"&gt;
	&lt;div class="well mrgn-tp-md mrgn-bttm-md"&gt;
		&lt;h4 class="mrgn-tp-md"&gt;En-tête&lt;/h4&gt;
		&lt;p&gt;Paragraphe&lt;/p&gt;
	&lt;/div&gt;
&lt;/div&gt;</code></pre>

<h3><code>bg-darker</code></h3>
<p>Défini un arrère-plan noir à un élément.</p>
<h4>Example pratique:</h4>
<div class="bg-cover well" data-bgimg="../../demos/tabs/img/investinourfuture.jpg">
	<div class="well mrgn-tp-md mrgn-bttm-md bg-darker text-white">
		<h4 class="mrgn-tp-md">En-tête</h4>
		<p>Paragraphe</p>
	</div>
</div>
<h4>Exemple de code :</h4>
<pre><code>&lt;div class="bg-cover well" data-bgimg="../../demos/tabs/img/investinourfuture.jpg"&gt;
	&lt;div class="well mrgn-tp-md mrgn-bttm-md <strong>bg-darker</strong> text-white"&gt;
		&lt;h4 class="mrgn-tp-md"&gt;En-tête&lt;/h4&gt;
		&lt;p&gt;Paragraphe&lt;/p&gt;
	&lt;/div&gt;
&lt;/div&gt;</code></pre>

<h3><code>bg-dark</code></h3>
<p>Défini un arrère-plan foncé à un élément.</p>
<h4>Example pratique:</h4>
<div class="bg-cover well" data-bgimg="../../demos/tabs/img/investinourfuture.jpg">
	<div class="well mrgn-tp-md mrgn-bttm-md bg-dark text-white">
		<h4 class="mrgn-tp-md">En-tête</h4>
		<p>Paragraphe</p>
	</div>
</div>
<button type="button" class="btn text-white bg-dark">Bouton</button>
<h4>Exemple de code :</h4>
<pre><code>&lt;div class="bg-cover well" data-bgimg="../../demos/tabs/img/investinourfuture.jpg"&gt;
	&lt;div class="well mrgn-tp-md mrgn-bttm-md <strong>bg-dark</strong> text-white"&gt;
		&lt;h4 class="mrgn-tp-md"&gt;En-tête&lt;/h4&gt;
		&lt;p&gt;Paragraphe&lt;/p&gt;
	&lt;/div&gt;
&lt;/div&gt;
&lt;button type="button" class="btn text-white bg-dark"&gt;Bouton&lt;/button&gt;</code></pre>

<h2 id="couleurs">Schémas de couleurs</h2>
<h3><code>text-white</code></h3>
<p>Définir le texte en blanc. Fonctionne conjointement avec des arrière-plans plus sombres.</p>
<h4>Example pratique:</h4>
<p class="bg-darker text-white">Suspendisse faucibus nisl at consectetur. Lorem ipsum <a href="#" class="text-white">dolor sit amet, consectetur.</a></p>
<h4>Exemple de code :</h4>
<pre><code>&lt;p class="bg-darker <strong>text-white</strong>"&gt;Suspendisse faucibus nisl at consectetur. Lorem ipsum &lt;a href="#" class="text-white"&gt;dolor sit amet, consectetur.&lt;/a&gt;&lt;/p&gt;&lt;/p&gt;</code></pre>

<h2 id="espacement">Espacement</h2>
<h3><code>p-0</code></h3>
<p>Défini un remplaissage de 0px.</p>
<h4>Example pratique:</h4>
<p class="p-0 bg-primary max-content">Suspendisse faucibus nisl at consectetur.</p>
<h4>Exemple de code :</h4>
<pre><code>&lt;p class="<strong>p-0</strong> bg-primary max-content"&gt;Suspendisse faucibus nisl at consectetur.&lt;/p&gt;</code></pre>

<h3><code>pl-2</code></h3>
<p>Défini un remplaissage à gauche de 5px.</p>
<h4>Example pratique:</h4>
<p class="pl-2 bg-primary max-content">Suspendisse faucibus nisl at consectetur.</p>
<h4>Exemple de code :</h4>
<pre><code>&lt;p class="<strong>pl-2</strong> bg-primary max-content"&gt;Suspendisse faucibus nisl at consectetur.&lt;/p&gt;</code></pre>

<h3><code>px-2</code></h3>
<p>Défini un remplaissage à gauche et à droite de 5px.</p>
<h4>Example pratique:</h4>
<p class="px-2 bg-primary max-content">Suspendisse faucibus nisl at consectetur.</p>
<h4>Exemple de code :</h4>
<pre><code>&lt;p class="<strong>px-2</strong> bg-primary max-content"&gt;Suspendisse faucibus nisl at consectetur.&lt;/p&gt;</code></pre>

<h3><code>pr-2</code></h3>
<p>Défini un remplaissage à droite de 5px.</p>
<h4>Example pratique:</h4>
<p class="pr-2 bg-primary max-content">Suspendisse faucibus nisl at consectetur.</p>
<h4>Exemple de code :</h4>
<pre><code>&lt;p class="<strong>pr-2</strong> bg-primary max-content"&gt;Suspendisse faucibus nisl at consectetur.&lt;/p&gt;</code></pre>

<h3><code>pt-4</code></h3>
<p>Défini un remplaissage au dessus de 30px.</p>
<h4>Example pratique:</h4>
<p class="pt-4 bg-primary max-content">Suspendisse faucibus nisl at consectetur.</p>
<h4>Exemple de code :</h4>
<pre><code>&lt;p class="<strong>pt-4</strong> bg-primary max-content"&gt;Suspendisse faucibus nisl at consectetur.&lt;/p&gt;</code></pre>

<h3><code>py-4</code></h3>
<p>Défini un remplaissage au dessus et en dessous de 30px.</p>
<h4>Example pratique:</h4>
<p class="py-4 bg-primary max-content">Suspendisse faucibus nisl at consectetur.</p>
<h4>Exemple de code :</h4>
<pre><code>&lt;p class="<strong>py-4</strong> bg-primary max-content"&gt;Suspendisse faucibus nisl at consectetur.&lt;/p&gt;</code></pre>

<h3><code>pb-4</code></h3>
<p>Défini un remplaissage en dessous de 30px.</p>
<h4>Example pratique:</h4>
<p class="pb-4 bg-primary max-content">Suspendisse faucibus nisl at consectetur.</p>
<h4>Exemple de code :</h4>
<pre><code>&lt;p class="<strong>pb-4</strong> bg-primary max-content"&gt;Suspendisse faucibus nisl at consectetur.&lt;/p&gt;</code></pre>

<div lang="en">
<h2 id="flexbox" lang="en">Flexbox</h2>

<h3><code>d-sm-flex</code></h3>
<p>Set an element as a flexbox container and change its direct children into flex items in small view and over.</p>
<p>Définissez un élément comme un conteneur «&nbsp;<span lang="en">flexbox</span>&nbsp;» et change ces enfants directs en éléments flex dans la petite vue et plus.</p>
<h4>Example pratique</h4>
<div class="d-sm-flex">
	<p class="well">Élément flex</p>
	<p class="well">Élément flex</p>
</div>
<h4>Exemple de code</h4>
<pre><code>&lt;div class="<strong>d-sm-flex</strong>"&gt;
	&lt;p class="well"&gt;Élément flex&lt;/p&gt;
	&lt;p class="well"&gt;Élément flex&lt;/p&gt;
&lt;/div&gt;</code></pre>

<h3><code>flex-sm-wrap</code></h3>
<p>Permet les éléments flex d'un conteneur «&nbsp;<span lang="en">flexbox</span>&nbsp;» de retourner à travers plusieurs lignes dans la petite vue et plus. Utile pour les dispositions en grille.</p>
<h4>Example pratique</h4>
<div class="row d-sm-flex flex-sm-wrap">
	<div class="col-xs-12">
		<p class="well"><code>col-xs-12</code></p>
	</div>
	<div class="col-xs-12">
		<p class="well"><code>col-xs-12</code></p>
	</div>
</div>
<h4>Exemple de code</h4>
<pre><code>&lt;div class="row d-sm-flex <strong>flex-sm-wrap</strong>"&gt;
	&lt;div class="col-sm-12"&gt;
		&lt;p class="well"&gt;&lt;code&gt;col-xs-12&lt;/code&gt;&lt;/p&gt;
	&lt;/div&gt;
	&lt;div class="col-sm-12"&gt;
		&lt;p class="well"&gt;&lt;code&gt;col-xs-12&lt;/code&gt;&lt;/p&gt;
	&lt;/div&gt;
&lt;/div&gt;</code></pre>

<h3><code>align-items-sm-center</code></h3>
<p>Aligner les éléments flex d'un conteneur «&nbsp;<span lang="en">flexbox</span>&nbsp;» dans la petite vue et plus. Utile pour aligner vers le milieu.</p>
<h4>Example pratique</h4>
<div class="row d-sm-flex align-items-sm-center">
	<div class="col-xs-4">
		<p class="well">Ligne 1<br />Ligne 2<br />Ligne 3<br />Ligne 4<br />Ligne 5</p>
	</div>
	<div class="col-xs-4">
		<p class="well">Ligne 1<br />Ligne 2<br />Ligne 3</p>
	</div>
	<div class="col-xs-4">
		<p class="well">Ligne 1</p>
	</div>
</div>
<h4>Exemple de code</h4>
<pre><code>&lt;div class="row d-sm-flex <strong>align-items-sm-center</strong>"&gt;
	&lt;div class="col-xs-4"&gt;
		&lt;p class="well"&gt;Ligne 1&lt;br /&gt;Ligne 2&lt;br /&gt;Ligne 3&lt;br /&gt;Ligne 4&lt;br /&gt;Ligne 5&lt;/p&gt;
	&lt;/div&gt;
	&lt;div class="col-xs-4"&gt;
		&lt;p class="well"&gt;Ligne 1&lt;br /&gt;Ligne 2&lt;br /&gt;Ligne 3&lt;/p&gt;
	&lt;/div&gt;
	&lt;div class="col-xs-4"&gt;
		&lt;p class="well"&gt;Ligne 1&lt;/p&gt;
	&lt;/div&gt;
&lt;/div&gt;</code></pre>
</div>

<h2 id="positionnement">Positionnement</h2>
<h3><code>position-relative</code></h3>
<p>Défini une position relative pour un élément. Ceci a été créée afin de supporter l'utilitaire <code>stretched-link</code>. Afin d'obtenir un meilleur effet visuel, référez vous à la <a href="#sl">section de l'utilitaire 'streched-link'</a> ci-desous.  </p>
<h4>Example pratique:</h4>
<p class="position-relative">Ceci est un paragraphe relativement positionné.</p>
<h4>Exemple de code :</h4>
<pre><code>&lt;p class="<strong>position-relative</strong>"&gt;Ceci est un paragraphe relativement positionné.&lt;/p&gt;</code></pre>

<h2 id="divers">Divers</h2>
<h3><code>max-content</code></h3>
<p>Limite la largeur d'un élément à la largeur de son contenu le plus grand.</p>
<h4>Example pratique:</h4>
<details class="max-content">
	<summary>Liste d'éléments</summary>
	<ul class="list-unstyled mrgn-bttm-0 mrgn-tp-sm">
		<li><a href="#">Lorem ipsum</a></li>
		<li><a href="#">Proin porta vehicula</a></li>
		<li><a href="#">consectetur adipiscing elitDuis porttitor fermentum semper</a></li>
		<li><a href="#">consectetur adipiscing elit</a></li>
	</ul>
</details>
<h4>Exemple de code :</h4>
<pre><code>&lt;details class="<strong>max-content</strong>"&gt;
	&lt;summary&gt;Liste d'éléments&lt;/summary&gt;
	&lt;ul class="list-unstyled mrgn-bttm-0 mrgn-tp-sm"&gt;
		&lt;li&gt;&lt;a href="#"&gt;Lorem ipsum&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href="#"&gt;Proin porta vehicula&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href="#"&gt;consectetur adipiscing elitDuis porttitor fermentum semper&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href="#"&gt;consectetur adipiscing elit&lt;/a&gt;&lt;/li&gt;
	&lt;/ul&gt;
&lt;/details&gt;</code></pre>

<h3 id="sl"><code>stretched-link</code></h3>
<p>Agrandit la zone cliquable d'un hyperlien jusqu'à son plus proche parent.</p>
<h4>Example pratique:</h4>
<div class="row">
	<div class="col-md-4">
		<h3 class="h5"><a href="#" class="stretched-link">[Lien hypertexte]</a></h3>
		<img src="https://via.placeholder.com/360x203/000000/FFFFFF.png" alt="" class="img-responsive thumbnail mrgn-bttm-sm">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
	</div>
</div>
<h4>Exemple de code :</h4>
<pre><code>&lt;div class="row"&gt;
	&lt;div class="col-md-4"&gt;
		&lt;h3 class="h5"&gt;&lt;a href="#" class="<strong>stretched-link</strong>"&gt;[Lien hypertexte]&lt;/a&gt;&lt;/h3&gt;
		&lt;img src="https://via.placeholder.com/360x203/000000/FFFFFF.png" alt="" class="img-responsive thumbnail mrgn-bttm-sm"&gt;
		&lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit.&lt;/p&gt;
	&lt;/div&gt;
&lt;/div&gt;</code></pre>

<h3><code>test-textSpacing</code></h3>
<div class="test-textSpacing">
	<p>Ajoutez cette classe à l'élément <code>body</code> afin de tester le <a href="https://www.w3.org/TR/WCAG21/#text-spacing" lang="en">critère de réussite 1.4.12 Espacement du texte de WCAG 2.1</a> (Anglais seulement). Cette classe d'assistance aura les effets suivants :</p>
	<ul>
		<li>Hauteur de ligne de 1,5 fois la taille de la police.</li>
		<li>Espacement des paragraphes suivants 2 fois la taille de la police.</li>
		<li>Espacement des lettres à 0,12 fois la taille de la police.</li>
		<li>Espacement des mots à 0,16 fois la taille de la police.</li>
	</ul>
	<p>Après avoir défini la classe, assurez-vous qu'il n'y a aucune perte de contenu ou de fonctionnalité.</p>
</div>
<h4>Exemple de code :</h4>
<pre><code>&lt;body class="<strong>test-textSpacing</strong>" vocab="http://schema.org/" typeof="WebPage" resource="#wb-webpage" class="home page-type-nav "&gt;
...
&lt;/body&gt;</code></pre>
