---
{
	"title": "Mise en surbrillance de texte",
	"language": "fr",
	"category": "Plugiciels",
	"description": "Met en surbrillance sur une page Web les mots choisis.",
	"querystring": "txthl=influenza%20aviaire+monde+suffis+symptômes%20semblables%20à%20ceux%20de%20l'influenza+À%20titre%20de%20rappel...+À%20de%20rares%20occasions,%20des%20humains%20ont%20été%20infectés%20par%20ce%20virus.",
	"tag": "texthighlight",
	"parentdir": "texthighlight",
	"altLangPrefix": "texthighlight",
	"dateModified": "2014-02-19"
}
---
<p>Le composant de mise en subrillance de texte met en surbrillance n'importe quel texte dans un secteur pré-défini qui satisfait des critères de recherche. Les critères de recherche sont insensibles à la casse et sont spécifiés par la chaîne d'interrogation d'une addresse URL. Les chaînes avec plusieurs mots sont supportées, y compris les espaces et la ponctuation fondamentale.</p>
<p><strong>Nota&#160;:</strong> Les critères de recherche regroupant des caractères spéciaux d'expression régulière («&#160;regex&#160;», <abbr title="par exemple">p.ex.</abbr>, «&#160;<code>"</code>&#160;», «&#160;<code>|</code>&#160;», «&#160;<code>?</code>&#160;», «&#160;<code>+</code>&#160;», «&#160;<code>(</code>&#160;» ou «&#160;<code>)</code>&#160;») peuvent être partiellement ou entièrement exclus des résultats.</p>

<section>
	<h2>Marche à suivre</h2>
	<ol>
		<li>Définir votre zone de recherche. Ajouter la classe «&#160;<code lang="en">wb-txthl</code>&#160;» à l'étiquette dont vous voulez chercher.</li>
		<li>Spécifier les critères de recherche dans la chaîne d'interrogation de l'addresse URL. Ajouter "<code><span lang="en">txthl</span>=&lt;texte_1&gt;+&lt;texte_2&gt;+&lt;texte_3&gt;</code>" à la chaîne d'interrogation.<br /><strong>Nota&#160;:</strong> La validation des balises HTML exige que tous les espaces dans les liens soit remplacés par «&#160;<code>%20</code>&#160;».</li>
	</ol>
</section>

<section>
	<h2>Exemple</h2>
	<section>
		<h3>Critères de recherche - Exemple</h3>
		<ul>
			<li>influenza aviaire</li>
			<li>monde</li>
			<li>suffis</li>
			<li>symptômes semblables à ceux de l'influenza</li>
			<li>À titre de rappel</li>
			<li>À de rares occasions, des humains ont été infectés par ce virus.</li>
		</ul>
		<section>
			<h4>La chaîne d'interrogation&#160;</h4>
			<pre><code>?<span lang="en">txthl</span>=influenza%20aviaire+monde+suffis+symptômes%20semblables%20à%20ceux%20de%20l'influenza+À%20titre%20de%20rappel...+À%20de%20rares%20occasions,%20des%20humains%20ont%20été%20infectés%20par%20ce%20virus.</code></pre>

			<p><a href="?txthl=influenza%20aviaire+monde+suffis+sympt%C3%B4mes%20semblables%20%C3%A0%20ceux%20de%20l'influenza+%C3%80%20titre%20de%20rappel...+%C3%80%20de%20rares%20occasions,%20des%20humains%20ont%20%C3%A9t%C3%A9%20infect%C3%A9s%20par%20ce%20virus.#exemple">Mise en surbrillance le texte qui satisfait les critères de recherche</a></p>
		</section>
	</section>

	<section id="exemple" class="wb-txthl">
		<h3>L'influenza aviaire dans le monde entier</h3>
		<p><strong>Mis à jour&#160;: 17 mars, 2010</strong></p>
		<ul>
			<li><a href="#csv">Conseils de santé aux voyageurs</a></li>
			<li><a href="#propos">À propos de l'influenza aviaire H5N1</a></li>
			<li><a href="#ou">Où l'influenza aviaire H5N1 constitue-t-elle une préoccupation?</a></li>
			<li><a href="#rec">Recommandations aux voyageurs </a></li>
			<li><a href="#atr">À titre de rappel...</a></li>
			<li><a href="#ar">Autres renseignements</a></li>
		</ul>
		<hr />
		<section>
			<h4 id="csv">Conseils de santé aux voyageurs</h4>
			<p>L'influenza aviaire est une infection virale qui peut se propager facilement et rapidement chez les oiseaux. Un sous-type particulièrement virulent, appelé H5N1, a été découvert chez les oiseaux dans certaines parties de l'Asie, de l'Europe, du Moyen-Orient et de l'Afrique. À de rares occasions, des humains ont été infectés par ce virus.&#160; </p>
			<p>Si vous voyagez, l'Agence de la santé publique du Canada (ASPC) vous recommande ce qui suit. </p>
			<ul>
				<li>évitez les régions à risque élevé, comme les fermes de volaille et les marchés d'animaux vivants. </li>
				<li>Lavez-vous les mains souvent.</li>
				<li>évitez de manger de la volaille ou des œufs qui n'ont pas été suffisamment cuits.</li>
				<li>Si vous développez des symptômes semblables à ceux de l'influenza à votre retour au Canada, consultez un fournisseur de soins de santé.</li>
			</ul>
		</section>

		<section>
			<h4 id="propos">à propos de l'influenza aviaire H5N1</h4>
			<ul>
				<li>L'ìnfluenza aviaire est une infection virale qui peut se propager facilement et rapidement chez les oiseaux. &#160;</li>
				<li>Un sous-type particulièrement virulent, appelé H5N1, a été décelé chez des oiseaux dans certaines parties de l'Asie, de l'Europe, du Moyen-Orient et de l'Afrique. Dans de rares cas, des humains ont été infectés par le virus.&#160; </li>
				<li>Les personnes infectées par la souche H5N1 peuvent devenir gravement malades. Dans certains cas, l'infection est mortelle. Le taux de décès chez les patients hospitalisés chez qui l'infection a été confirmée est élevé (environ 60&#160;%).</li>
			</ul>
			<p>Pour obtenir des renseignements additionnels sur l'influenza aviaire, consultez le document intitulé <a href="#">Document d'information sur les maladies : l'influenza aviaire de l'ASPC.</a></p>
		</section>

		<section>
			<h4 id="ou">Où l'influenza aviaire H5N1 constitue-t-elle une préoccupation?</h4>
			<ul>
				<li>Depuis 2003, des éclosions d'influenza aviaire H5N1 se sont produites au sein de la volaille en Asie, au Moyen-Orient, en Europe et en Afrique. Pour de plus amples renseignements sur les éclosions de l'influenza aviaire H5N1 chez les volailles et les oiseaux sauvages à travers le monde veuillez consulter le site Web suivant : <a href="#">Agence de la santé publique du Canada – Régions actuellement affectées par l'influenza aviaire (H5N1).</a></li>
				<li>De 2003 à 2008, environ 400 cas humains ont été confirmés dans 15&#160;pays.</li>
			</ul>
			<p>Pour obtenir une mise à jour sur les régions actuellement affectées par l'influenza aviaire H5N1 dans le monde, consultez les sites Web suivants&#160;:<br />
			<a href="#">https://www.who.int/csr/disease/avian_influenza/fr/ </a><br />
			<a href="#">https://www.who.int/csr/disease/avian_influenza/country/en/</a></p>
		</section>

		<section>
			<h4 id="rec">Recommandations aux voyageurs</h4>
			<ol>
				<li>évitez les régions à risque élevé, comme les fermes de volaille et les marchés d'animaux vivants.
					<ol class="lower-alpha">
						<li>évitez tout contact inutile avec les oiseaux, notamment les poulets, les canards et les oiseaux sauvages.</li>
						<li>évitez les surfaces contaminées par des excréments ou des sécrétions d'oiseaux.</li>
					</ol>
				</li>
				<li>Lavez-vous les mains souvent.</li>
				<li>Assurez-vous que les plats à base de volaille, y compris ceux à base d'œufs, sont bien cuits.</li>
				<li>Surveillez votre santé;
					<ol class="lower-alpha">
						<li>Si vous développez des symptômes semblables à ceux de l'influenza durant votre voyage ou après votre retour au Canada, vous devriez consulter un fournisseur de soins de santé.</li>
						<li>Informez le fournisseur de soins de santé que vous avez voyagé ou que vous êtes demeuré dans une région affectée par le virus de souche&#160;H5N1.</li>
					</ol>
				</li>
			</ol>
			<p>En plus de protéger votre propre santé, vous devriez consulter les lignes directrices de l'Agence canadienne d'inspection des aliments pour obtenir de l'information sur la façon d'éviter que le virus de souche H5N1 se propage aux animaux au Canada. <a href="#">Fiche de renseignements de l'ACIA sur la grippe aviaire</a>.</p>
		</section>

		<section>
			<h4 id="atr">À titre de rappel...</h4>
			<ol>
				<li>Consultez un fournisseur de soins de santé ou visitez une clinique santé-voyage au moins six semaines avant votre départ.</li>
				<li>Informez-vous sur les mesures à prendre si vous êtes malade durant votre voyage.</li>
				<li>Informez-vous sur les mesures à prendre si vous êtes malade à votre retour au Canada.</li>
				<li>Soyez au courant de quels vaccins et quand les recevoir.</li>
			</ol>
		</section>

		<section>
			<h4 id="ar">Autres renseignements</h4>
			<ul>
				<li><a href="#">Agence de la santé publique du Canada – Renseignements sur la grippe aviaire</a></li>
				<li><a href="#">Agence de la santé publique du Canada – Régions actuellement affectées par l'influenza aviaire (H5N1)</a></li>
				<li><a href="#">Santé&#160;Canada – Votre santé et vous – Grippe aviaire</a></li>
				<li><a href="#">Organisation mondiale de la Santé – <br /><span lang="en">Confirmed Human Cases of Avian Influenza A(H5N1) </span></a></li>
				<li><a href="#">Organisation mondiale de la Santé</a> Aide-mémoire – Grippe aviaire</li>
			</ul>
		</section>
	</section>
</section>
