---
{
	"title": "Text highlighting",
	"language": "en",
	"category": "Plugins",
	"description": "Automatically highlights certain words on a Web page. The highlighted words can be selected via the query string.",
	"querystring": "txthl=avian%20influenza+world+cook+flu-like%20symptoms+Don't%20Forget...+causes%20sickness%20in%20birds,%20it%20can%20also%20infect%20people.",
	"tag": "texthighlight",
	"parentdir": "texthighlight",
	"altLangPrefix": "texthighlight",
	"dateModified": "2014-02-19"
}
---
<p>The Text highlighting component highlights any text within a pre-defined area that matches case-insensitive search criteria specified through the URL's query string. Supports multi-word strings, including spaces and basic punctuation.</p>
<p><strong>Note:</strong> Search criteria using special regex characters such as <code>"</code>, <code>|</code>, <code>?</code>, <code>+</code>, <code>(</code> or <code>)</code> may be partially or fully excluded from the results.</p>

<section>
	<h2>How Do I Use It?</h2>
	<ol>
		<li>Define your search area. Add the <code>wb-txthl</code> class to the tag whose contents you want to search in.</li>
		<li>Specify the search criteria in a URL query string. Add <code>txthl=&lt;text_1&gt;+&lt;text_2&gt;+&lt;text_3&gt;</code> to the query string.<br /><strong>Note:</strong> HTML markup validation requires all spaces in links to be replaced by <code>%20</code>.</li>
	</ol>
</section>

<section>
	<h2>Example</h2>
	<section>
		<h3>Sample search criteria</h3>
		<ul>
			<li>avian influenza</li>
			<li>world</li>
			<li>cook</li>
			<li>flu-like symptoms</li>
			<li>Don't Forget...</li>
			<li>causes sickness in birds, it can also infect people.</li>
		</ul>
		<section>
			<h4>Query string</h4>
			<pre><code>?txthl=avian%20influenza+world+cook+flu-like%20symptoms+Don't%20Forget...+causes%20sickness%20in%20birds,%20it%20can%20also%20infect%20people.</code></pre>

			<p><a href="?txthl=avian%20influenza+world+cook+flu-like%20symptoms+Don't%20Forget...+causes%20sickness%20in%20birds,%20it%20can%20also%20infect%20people.#example">Highlight example text that meets the search criteria</a></p>
		</section>
	</section>

	<section id="example" class="wb-txthl">
		<h3>Avian Influenza (H5N1) Worldwide</h3>
		<p><strong>Updated: March 17, 2010</strong></p>
		<ul>
			<li><a href="#thn">Travel Health Notice</a></li>
			<li><a href="#about">About Avian Influenza (H5N1</a>)</li>
			<li><a href="#where">Where is Avian Influenza (H5N1) a Concern?</a></li>
			<li><a href="#rec">Recommendations for Travellers</a></li>
			<li><a href="#df">Don't Forget... </a></li>
			<li><a href="#ori">Other Related Information</a></li>
		</ul>
		<hr />

		<section>
			<h4 id="thn">Travel Health Notice </h4>
			<p>Travellers are reminded that countries around the world continue to report cases of avian influenza (H5N1), or "bird flu".</p>
			<p>While avian influenza (H5N1) commonly causes sickness in birds, it can also infect people. People who contract avian influenza can get very ill, and more than half die from it.</p>
			<p>If you are travelling to a region <a href="#where">where avian influenza (H5N1) is known to be present</a>, the Public Health Agency of Canada (PHAC) recommends that you: </p>
			<ol>
				<li>Avoid all high-risk such as poultry farms and live animal markets.</li>
				<li>Avoid eating undercooked eggs or poultry.</li>
				<li>Wash your hands frequently.</li>
				<li>See a health care provider if you develop flu-like symptoms while travelling or after you return to Canada</li>
			</ol>
		</section>

		<section>
			<h4 id="about">About Avian Influenza (H5N1)</h4>
			<p>Avian influenza (H5N1), commonly known as "bird flu", is a viral infection that can spread easily and quickly among birds.</p>
			<p>A particularly strong subtype called the Highly Pathogenic (H5N1) has been found in birds in parts of Asia, Europe, the Middle East and Africa. Humans have become infected with this virus.</p>
			<section>
				<h5>Symptoms</h5>
				<ul>
					<li>Can take two to eight days and possibly longer to appear.</li>
					<li>Usually include symptoms similar to human influenza such as fever, cough, aching muscles and sore throat.</li>
					<li>In more severe cases people may develop serious respiratory conditions such as pneumonia which may lead to death. Fatality rates among hospitalized patients with confirmed infection is high (about 60%).</li>
				</ul>
			</section>
			<section>
				<h5>Transmission</h5>
				<ul>
					<li>Most human cases have been traced to direct contact with live infected birds or their droppings.</li>
				</ul>
			</section>
		</section>

		<section>
			<h4 id="where">Where is Avian Influenza (H5N1) a Concern?</h4>
			<ul>
				<li>Asia, the Middle East, Europe and Africa have all had outbreaks of avian influenza (H5N1) in poultry since 2003.&#160; &#160;</li>
				<li>Since 2009, cases of humans having caught H5N1 have been reported from Cambodia, China, Egypt, Indonesia and Vietnam. </li>
				<li>From 2003 to early 2010, there have been nearly 500 confirmed human cases in 15 countries.</li>
				<li>Worldwide, almost 300 people have died from avian influenza (H5N1). </li>
			</ul>
			<p>The World Health Organization (WHO) posts information on the <a href="#">total number of human cases of avian influenza</a> and <a href="#">maps of where human cases of avian influenza have occurred</a>. </p>
		</section>

		<section>
			<h4 id="rec">Recommendations for travellers</h4>
			<ol>
				<li><strong>Avoid getting avian influenza (H5N1)</strong>
					<ol class="lower-alpha">
						<li>If you are travelling to an area <a href="#where">where avian influenza (H5N1) is a concern</a>,
							<ol class="lower-roman">
								<li>Avoid high-risk areas such as poultry farms and live animal markets; </li>
								<li>Avoid unnecessary contact with birds, including chickens, ducks and wild birds</li>
								<li>Avoid surfaces that may have bird droppings or secretions on them;</li>
								<li>Ensure that all <a href="#">poultry dishes are well cooked, including eggs</a></li>
							</ol>
						</li>
					</ol>
				</li>
				<li><strong><a href="#">Wash your hands frequently</a>.</strong>
					<ol class="lower-alpha">
						<li>Wash your hands with soap under warm running water.</li>
						<li>Alcohol-based hand sanitizer can also be used if soap and water are not readily available. It's a good idea to keep some with you in your pocket or purse when you travel. </li>
					</ol>
				</li>
				<li><strong>Monitor your health:</strong>
					<ol class="lower-alpha"><li>If you develop flu-like symptoms while travelling, or after you return to Canada, you should see a health care provider.</li>
						<li>Tell your health care provider that you have been travelling or living in an area where avian influenza (H5N1) is a concern.</li>
					</ol>
				</li>
			</ol>
		</section>

		<section>
			<h4 id="df">Don't Forget … </h4>
			<ol>
				<li>Consult a health care provider or visit a travel health clinic at least six weeks before you travel.</li>
				<li>What to do if you <a href="#">get sick when you are travelling </a></li>
				<li>What to do if you <a href="#">get sick after you return to Canada</a></li>
				<li>Know what <a href="#">vaccines you need and when to get them </a></li>
			</ol>
		</section>

		<section>
			<h4 id="ori"><strong>Other Related Information</strong></h4>
			<ul>
				<li>Public Health Agency of Canada (PHAC) – <a href="#">Fact Sheet: Avian Influenza (H5N1) </a></li>
				<li>PHAC – <a href="#">Information on Avian Influenza </a></li>
				<li>Health Canada – <a href="#">It’s Your Health: Avian Influenza (Bird Flu) </a></li>
				<li>Health Canada – <a href="#">Avian Influenza and Poultry</a></li>
				<li>Canadian Food Inspection Agency (CFIA) –<a href="#"> Animal Diseases: Avian Influenza</a></li>
				<li>World Health Organization (WHO) – <a href="#">Fact Sheet: Avian Influenza ("bird flu")</a></li>
				<li>WHO – <a href="#">Situation Updates: Avian Influenza</a></li>
			</ul>
		</section>
	</section>
</section>
