---
{
	"title": "Calendar of Events",
	"language": "en",
	"category": "plugin",
	"description": "Dynamically generates a calendar interface for navigating a list of events.",
	"tag": "cal-events",
	"fr": "cal-events"
}
---
<section>
    <h2>Linking Options</h2>
    <section>
        <h3>Direct Linking</h3>
        <p>In this method, the calendar links to the first link in each event (usually in the event heading).</p>
        <div id="calendar1"></div>
        <div class="wb-cal-evt calendar1">
            <ol>
                <li>
                    <section>
                        <h4><a href="http://www.canada.gc.ca" rel="external">Single-Day Event</a></h4>
                        <p><time datetime="2012-03-11">March 11th 2012</time></p>
                        <p>Event Description</p>
                    </section>
                </li>
                <li>
                    <section>
                        <h4><a href="http://www.canada.gc.ca" rel="external">Multi-Day Event</a></h4>
                        <p><time datetime="2012-03-22">March 22nd, 2012</time> to <time datetime="2012-04-26">April 26th, 2012</time></p>
                        <p>Event Description</p>
                    </section>
                </li>
            </ol>
        </div>
    </section>
    <section>
        <h3>Details Linking</h3>
        <p>In this method, the calendar links to the details of the event. This is used when an event has multiple links.</p>
        <div id="calendar2"></div>
        <div class="wb-cal-evt event-anchoring calendar2">
            <ol>
                <li>
                    <section>
                        <h4>Single-Day Event</h4>
                        <p><time datetime="2012-03-11">March 11th 2012</time></p>
                        <p>Event Description</p>
                        <p>Links:</p>
                        <ul>
                            <li><a href="http://www.canada.gc.ca" rel="external">Single-Day Event Link 1</a></li>
                            <li><a href="http://www.canada.gc.ca" rel="external">Single-Day Event Link 2</a></li>
                        </ul>
                    </section>
                </li>
                <li>
                    <section>
                        <h4>Multi-Day Event</h4>
                        <p><time datetime="2012-03-22">March 22nd, 2012</time> to <time datetime="2012-04-26">April 26th, 2012</time></p>
                        <p>Event Description</p>
                        <p>Links:</p>
                        <ul>
                            <li><a href="http://www.canada.gc.ca" rel="external">Multi-Day Event Link 1</a></li>
                            <li><a href="http://www.canada.gc.ca" rel="external">Multi-Day Event Link 2</a></li>
                        </ul>
                    </section>
                </li>
            </ol>
        </div>
    </section>
    <section>
        <h3>Ajax Events</h3>
        <p>In this method, events are pulled from a remote source.</p>
        <div id="calendar-ajax"></div>
        <div class="wb-cal-evt event-anchoring calendar-ajax">
            <ol data-cal-events="ajax/cal-include1-en.html ajax/cal-include2-en.html ajax/cal-include3-en.html"></ol>
        </div>
    </section>
</section>
<section>
    <h2>Display Options</h2>
    <section>
        <h3>List Filtering</h3>
        <p>This option filters out events from the list that are not for the current month. Enable this option by adding the <code>calendar-display-onshow</code> class to each event that should be filtered by month.</p>
        <p>Events that do not have the <em>calendar-display-onshow</em> class will always be visible.</p>
        <div id="calendar3"></div>

        <div class="wb-cal-evt event-anchoring calendar3">
            <section>
                <h4>Events List 1</h4>
                <ol>
                    <li class="calendar-display-onshow">
                        <section>
                            <h5><a href="http://www.ec.gc.ca" rel="external">Event 1</a></h5>
                            <p><time datetime="2012-03-11">March 11th 2012</time></p>
                        </section>
                    </li>
                    <li class="calendar-display-onshow">
                        <section>
                            <h5><a href="http://canada.gc.ca" rel="external">Event 2</a></h5>
                            <p><time datetime="2012-03-11">March 11th 2012</time></p>
                        </section>
                    </li>
                    <li class="calendar-display-onshow">
                        <section>
                            <h5>World Expo Shanghai (Shanghai, China)</h5>
                            <p><time datetime="2012-03-22">March 22nd, 2012</time> to <time datetime="2012-04-26">April 26th, 2012</time></p>
                            <p>The Canada Pavilion celebrates the vibrancy and the vitality of Canadian communities and the people within them.</p>
                            <p>For more information about Canada at Expo 2010 Shanghai, visit: <a href="http://www.expo2010canada.gc.ca/index-eng.cfm" rel="external">www.expo2010canada.gc.ca/index-eng.cfm</a></p>
                        </section>
                    </li>
                    <li class="calendar-display-onshow">
                        <section>
                            <h5><a href="http://www.ic.gc.ca" rel="external">Event 4</a></h5>
                            <p><time datetime="2012-03-24">March 24th 2012</time></p>
                        </section>
                    </li>
                    <li class="calendar-display-onshow">
                        <section>
                            <h5><a href="http://www.ec.gc.ca" rel="external">Event 6</a></h5>
                            <p><time datetime="2012-04-11">April 11th 2012</time></p>
                        </section>
                    </li>
                    <li class="calendar-display-onshow">
                        <section>
                            <h5><a href="http://canada.gc.ca" rel="external">Event 7</a></h5>
                            <p><time datetime="2012-04-23">April 23rd 2012</time></p>
                        </section>
                    </li>
                    <li class="calendar-display-onshow">
                        <section>
                            <h5><a href="http://canada.gc.ca" rel="external">Event 17</a></h5>
                            <p><time datetime="2012-04-23">April 23rd 2012</time></p>
                        </section>
                    </li>
                </ol>
            </section>
        </div>
    </section>
</section>