/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt
 */
@import "compass/css3/text-shadow";

#wb-skip {
	.ui-link {
		text-shadow: none !important;
	}
}

#wb-head, #wb-foot, #wb-sec, #base-date-mod {
	line-height: normal;
}
 
#base-fullhd h2,#base-srchbx label,#base-sft h3,#base-bc h2,#base-fullft h3{
	clip:rect(1px, 1px, 1px, 1px);
	height:0 !important;
	overflow:hidden !important;
	position:absolute;
	width:0 !important;
	margin:0 !important;
}

#base-date-mod {
	dt,dd{
		float:left;
	}
	dd {
		margin:0 0 0 10px;
	}
}

#base-title a{
	text-decoration:none;
}

#base-subsite{
	border-top:2px solid #114F7A;
	clear:left;
	font-size:130%;
	text-shadow: 1px 1px 1px #333;
	p{
		margin:0 auto;
		padding-top:1px;
		padding-bottom:5px;
	}
	a{
		color:#fff;
		text-decoration:none;
		padding:0 5px 0 10px;
		text-shadow: 1px 1px 1px #333;
		border-left:1px solid #ccc;
		font-size:90%;
		&:first-child{
			border-left:none;
			font-size:120%;
		}
	}
}

/* Right to left (RTL) CSS */
[dir="rtl"] {
	#base-date-mod {
		dt, dd {
			float: right;
		}

		dd {
			margin: 0 10px 0 0;
		}
	}

	#base-subsite {
		clear: right;

		a {
			padding: 0 10px 0 5px;
			border-left: none;
			border-right: 1px solid #ccc;

			&:first-child {
				border-right: none;
			}
		}
	}
}