/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt
 */
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/images";

%wet-default-desktop-screen-z-index-1-display-inline {
	z-index: 1;
	display: inline;
}
%wet-default-desktop-screen-position-relative {
	position: relative;
}
%wet-default-desktop-screen-position-absolute {
	position: absolute;
}
%wet-default-desktop-screen-font-size-1-52-em {
	font-size: 1.52em;
}
%wet-default-desktop-screen-link {
	&, &.ui-link {
		&:link {
			color: #295376;
		}
		&:visited {
			color: #5a306b;
		}
	}
}
%wet-default-desktop-screen-hover-focus-active-text-decoration-underline {
	@include pseudo-focus {
		text-decoration: underline;
	}
}
%wet-default-desktop-screen-a-hover-focus-active-text-decoration-underline {
	a {
		@extend %wet-default-desktop-screen-hover-focus-active-text-decoration-underline;
	}
}
%wet-default-desktop-screen-background-0E4164 {
	background: #0E4164;
}
%wet-default-desktop-screen-float-left {
	float: left;
}
%wet-default-desktop-screen-float-right {
	float: right;
}
%wet-default-desktop-screen-overflow-hidden {
	overflow: hidden;
}
%wet-default-desktop-screen-display-block {
	display: block;
}
%wet-default-desktop-screen-border-none {
	border: none;
}
%wet-default-desktop-screen-margin-0 {
	margin: 0;
}
%wet-default-desktop-screen-padding-9-15-9-0-position-absolute-width-141-width-65 {
	padding: 9px 15px 9px 0;
	@extend %wet-default-desktop-screen-position-absolute;
	width: 141px;
	height: 65px;
}
%wet-default-desktop-screen-padding-9-0-9-15 {
	padding: 9px 0 9px 15px;
}
%wet-default-desktop-screen-padding-left-0 {
	padding-left: 0;
}
%wet-default-desktop-screen-padding-0 {
	padding: 0;
}
%wet-default-desktop-screen-background-fff {
	background: #FFF;
}
%wet-default-desktop-screen-color-fff {
	color: #FFF;
}
%wet-default-desktop-screen-font-family-arial {
	font-family: Arial, Verdana, Helvetica, sans-serif;
}
%wet-default-desktop-screen-background-none {
	background: none;
}
%wet-default-desktop-screen-right-auto {
	right: auto;
}

html {
	overflow-y: scroll;
}

body {
	@extend %wet-default-desktop-screen-padding-0;
	@extend %wet-default-desktop-screen-font-family-arial;
	background: #F9F9F9;
}

#wb-head {
	@extend %wet-default-desktop-screen-overflow-hidden;
}

#wb-head-in {
	@extend %wet-default-desktop-screen-overflow-hidden;
}

#wb-body {
	#wb-main {
		@extend %wet-default-desktop-screen-float-left;
	}
}

#wb-body-sec {
	#wb-main {
		@extend %wet-default-desktop-screen-float-right;
	}
}

#wb-body-sec-sup {
 	#wb-main {
		@extend %wet-default-desktop-screen-float-left;
	}
}

#wb-sec {
	@extend %wet-default-desktop-screen-z-index-1-display-inline;
	@extend %wet-default-desktop-screen-float-left;
}

#wb-sup {
	@extend %wet-default-desktop-screen-z-index-1-display-inline;
}

#wb-core-in {
	overflow: visible !important;
	@extend %wet-default-desktop-screen-position-relative;
	@extend %wet-default-desktop-screen-background-fff;
}

#wet-bnr {
	@extend %wet-default-desktop-screen-position-relative;
	@extend %wet-default-desktop-screen-overflow-hidden;
	z-index: 501 !important;
	background: #114F7A;
	@if $legacy-support-for-ie8 {
		@include filter-gradient(#176CA7, #114F7A);
	} @else {
		@include background-image(linear-gradient(#176CA7, #114F7A));
	}
}

#wet-bnr-in {
	@extend %wet-default-desktop-screen-position-relative;
	@extend %wet-default-desktop-screen-overflow-hidden;
}

#wet-bc {
	@extend %wet-default-desktop-screen-overflow-hidden;
}

#wet-bc-in {
	@extend %wet-default-desktop-screen-overflow-hidden;
}

#wb-main-in {
	padding-top: 1px;
	padding-bottom: 2.5em;
}

#wb-sec-in {
	margin: 7px 0 0 10px;
}

#wet-date-mod {
	@extend %wet-default-desktop-screen-position-absolute;
	bottom: 10px;
	right: 10px;
}

img {
	@extend %wet-default-desktop-screen-border-none;
}

h1 {
	color: #333;
	font-weight: 400;
	border-bottom: 1px solid #333;
	font-size: 1.8em;
	margin-bottom: 10px !important;
	margin-top: 0;
}

#wb-core-in {
	&:after {
		content: ".";
		@extend %wet-default-desktop-screen-display-block;
		height: 0;
		clear: both;
		visibility: hidden;
	}
}

#wb-body-sec-sup {
	#wb-main {
		@extend %wet-default-desktop-screen-float-right;
		@extend %wet-default-desktop-screen-position-relative;
	}
}
#wb-sup {
	@extend %wet-default-desktop-screen-float-right;
	@extend %wet-default-desktop-screen-position-relative;
}

a {
	@extend %wet-default-desktop-screen-link;
}

#wet-fullhd {
	@extend %wet-default-desktop-screen-overflow-hidden;
	@extend %wet-default-desktop-screen-a-hover-focus-active-text-decoration-underline;
	font-size: 0.9em;
	border-bottom: 1px solid #FFF;
	a {
		@extend %wet-default-desktop-screen-display-block;
		@extend %wet-default-desktop-screen-padding-0;
	}
	li {
		&[id*="wet-fullhd-lang"] {
			padding: 8px 10px;
			border-left: 1px solid #777;
		}
		&#wet-fullhd-lang-current {
			margin-right: 1px;
			padding-right: 10px;
			background: url(../images/lang_current.png) no-repeat center bottom;
			color: #CCC;
		}
		&:first-child {
			&[id*="wet-fullhd-lang"] {
				@extend %wet-default-desktop-screen-border-none;
			}
		}
		&:list-child {
			padding-right: 0 !important;
		}
	}
}

#wet-fullhd-in {
	@extend %wet-default-desktop-screen-overflow-hidden;
}

#wet-title {
	@extend %wet-default-desktop-screen-hover-focus-active-text-decoration-underline;
	@extend %wet-default-desktop-screen-a-hover-focus-active-text-decoration-underline;
	@extend %wet-default-desktop-screen-font-size-1-52-em;
	a {
		@extend %wet-default-desktop-screen-color-fff;
		@extend %wet-default-desktop-screen-font-size-1-52-em;
		@extend %wet-default-desktop-screen-font-family-arial;
		text-shadow: #333 1px 1px 1px;
		display: table-row;
	}
	object {
		@extend %wet-default-desktop-screen-padding-9-15-9-0-position-absolute-width-141-width-65;
	}
	img {
		@extend %wet-default-desktop-screen-padding-9-15-9-0-position-absolute-width-141-width-65;
	}
	span {
		display: table-cell;
		vertical-align: middle;
		padding-left: 155px;
		height: 2.82em;
	}
}

#wet-title-in {
	@extend %wet-default-desktop-screen-margin-0;
}

#wet-srchbx {
	top: 1.95em;
	@extend %wet-default-desktop-screen-padding-0;
	@extend %wet-default-desktop-screen-background-fff;
	@include border-radius(4px);
	@extend %wet-default-desktop-screen-float-right;
	@extend %wet-default-desktop-screen-margin-0;
	@extend %wet-default-desktop-screen-position-absolute;
	text-align: right;
	right: 0;
	width: auto;
	z-index: 100;
	input {
		min-height: 0;
		margin: 0 3px 2px 2px;
		@extend %wet-default-desktop-screen-float-left;
	}
	form {
		@extend %wet-default-desktop-screen-margin-0;
		padding-top: 2px;
		padding-bottom: 0;
	}
	label {
		@extend %wet-default-desktop-screen-position-absolute;
		clip: rect(1px, 1px, 1px, 1px);
		height: 1px;
		width: 1px;
		@extend %wet-default-desktop-screen-overflow-hidden;
	}
	#wet-srch {
		color: #444;
		border: 1px solid #FFF;
		@include border-radius(3px);
		margin: 0 0 0 3px;
		width: 218px;
		@include box-shadow(none);
		@extend %wet-default-desktop-screen-background-fff;
		padding: 4px;
		@include pseudo-focus(false) {
			background: #EEE;
			border-color: #CCC;
		}
	}
	a {
		&, &:visited {
			@extend %wet-default-desktop-screen-color-fff;
			text-decoration: none;
			font-size: 80%;
			padding: 2px;
		}
	}	
}

#wet-subsite {
	@extend %wet-default-desktop-screen-a-hover-focus-active-text-decoration-underline;
}

#wet-srchbx {
	@extend %wet-default-desktop-screen-a-hover-focus-active-text-decoration-underline;
}

#wb-foot {
	@extend %wet-default-desktop-screen-a-hover-focus-active-text-decoration-underline;
	@extend %wet-default-desktop-screen-overflow-hidden;
}

#wb-foot-in {
	@extend %wet-default-desktop-screen-overflow-hidden;
}

#wet-sft {
	@extend %wet-default-desktop-screen-overflow-hidden;
}

#wet-sft-in {
	@extend %wet-default-desktop-screen-overflow-hidden;
}

#wet-fullft {
	@extend %wet-default-desktop-screen-overflow-hidden;
}

#wet-fullft-in {
	@extend %wet-default-desktop-screen-overflow-hidden;
}

#wet-psnb {
	background: #0E4164;
	border-top: 1px solid #0B3048;
	.mb-menu {
		@extend %wet-default-desktop-screen-background-0E4164;
		.mb-sm-open {
			@include box-shadow(0 5px 5px -4px rgba(0, 0, 0, 0.5), 5px 5px 5px -4px rgba(0, 0, 0, 0.5), -5px 5px 5px -4px rgba(0, 0, 0, 0.5));
			@include background-image(linear-gradient(bottom,#EEE,#CCC));
			border-bottom: 4px solid #0E4164;
			li {
				@extend %wet-default-desktop-screen-background-none;
			}
			.nav-current {
				@extend %wet-default-desktop-screen-background-none;
			}
		}
		.nav-current {
			background: #0B3048;
		}
		.mb-active {
			a {
				&.mb-has-sm {
					&:hover, &:link, &:visited {
						background-color: #CCC;
						color: #000;
					}
				}
			}
		}
		li {
			@extend %wet-default-desktop-screen-background-0E4164;
			border-left-color: #0B3048;
			border-right-color: #135480;
		}
		a {
			padding-bottom: 0.65em;
		}
	}
}

.wet-boew-menubar {
	@extend %wet-default-desktop-screen-border-none;
	min-height: 2.34em;
}

.mb-highlight {
	h4 {
		padding-top: 0.25em;
	}
}

@-moz-document url-prefix() {
	#wet-srch-submit {
		min-height: 22px;
	}
}

/* Right to left (RTL) CSS */
[dir="rtl"] {
	#wb-body, #wb-body-sec {
		#wb-main {
			@extend %wet-default-desktop-screen-float-left;
		}
	}
	#wet-title {
		object {
			@extend %wet-default-desktop-screen-padding-9-0-9-15;
		}
		img {
			@extend %wet-default-desktop-screen-padding-9-0-9-15;
		}
		span {
			@extend %wet-default-desktop-screen-padding-left-0;
			padding-right: 155px;
		}
	}
	#wet-title-in {
		background-position: right center;
	}
	#wb-sec-in {
		margin: 7px 10px 0 0;
	}

	#wet-date-mod {
		@extend %wet-default-desktop-screen-right-auto;
		left: 10px;
	}

	#wb-sec {
		@extend %wet-default-desktop-screen-float-right;
	}

	#wb-body-sec-sup {
		#wb-main {
			@extend %wet-default-desktop-screen-float-left;
		}
	}
	#wb-sup {
		@extend %wet-default-desktop-screen-float-left;
	}

	#wet-fullhd {
		ul {
			@extend %wet-default-desktop-screen-float-left;
			li {
				@extend %wet-default-desktop-screen-float-right;
				@extend %wet-default-desktop-screen-padding-left-0;
				border-right: 1px solid #777;
				border-left: 0;
				&:first-child {
					a {
						border-right: none;
					}
				}
				&[id*="wet-fullhd-lang"] {
					a {
						padding: 0 10px;
						margin: {
							right: auto;
							left: 1px;
						}
					}
				}
				&#wet-fullhd-lang-current {
					padding-left: 10px;
				}
			}
		}
	}

	#wet-srchbx {
		text-align: left;
		@extend %wet-default-desktop-screen-right-auto;
		left: 0;
		#wet-srch {
			margin-left: auto;
			margin-right: 0;
		}
		input {
			margin: 0 2px 2px 3px;
			@extend %wet-default-desktop-screen-float-right;
		}
	}
}