/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-eng.html / wet-boew.github.io/wet-boew/Licence-fra.html
 */
#wet-bc {
	display: block;
}

#wet-sft {
	float: left;
	padding: 0 15px;
	width: 100%;
}

#jqm-wb-mb {
	#wet-bc-in {
		display: none;
	}
}
