/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt
 */
%wet-default-mobile-no-margin {
	margin-left: 0;
	margin-right: 0;
}

blockquote {
	@extend %wet-default-mobile-no-margin;
}

form {
	@extend %wet-default-mobile-no-margin;
}

#{headings(2,6)} {
	@extend %wet-default-mobile-no-margin;
}

img {
	@extend %wet-default-mobile-no-margin;
}

p {
	@extend %wet-default-mobile-no-margin;
}

pre {
	@extend %wet-default-mobile-no-margin;
}

table {
	@extend %wet-default-mobile-no-margin;
}

[class*="span-"] {
	position: relative;
}

.clear {
	clear: both;
	display: block;
	height: 0;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	margin: 0;
}