/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt
 */
body{
	min-width: 960px;
}

%wet-default-responsive-width-100perc {
	width: 100%;
}
%wet-default-responsive-width-960 {
	width: 960px;
}
%wet-default-responsive-width-480 {
	width: 480px;
}
%wet-default-responsive-margin-auto {
	margin: auto;
}

#wb-head {
	@extend %wet-default-responsive-width-100perc;
}

#wb-core {
	@extend %wet-default-responsive-width-100perc;
}

#wb-foot {
	@extend %wet-default-responsive-width-100perc;
}

#wb-head-in {
	@extend %wet-default-responsive-width-100perc;
}

#wet-fullhd {
	@extend %wet-default-responsive-width-100perc;
}

#wet-bnr {
	@extend %wet-default-responsive-width-100perc;
}

#wet-psnb {
	@extend %wet-default-responsive-width-100perc;
	.mb-menu {
		@extend %wet-default-responsive-width-960;
	}
}

#wet-bc {
	@extend %wet-default-responsive-width-100perc;
}

#wb-foot-in {
	@extend %wet-default-responsive-width-100perc;
}

#wet-fullft {
	@extend %wet-default-responsive-width-100perc;
}

#wet-sft {
	@extend %wet-default-responsive-width-100perc;
}

#wb-core-in {
	@extend %wet-default-responsive-margin-auto;
	@extend %wet-default-responsive-width-960;
}

#wet-fullhd-in {
	@extend %wet-default-responsive-margin-auto;
	@extend %wet-default-responsive-width-960;
}

#wet-bnr-in {
	@extend %wet-default-responsive-margin-auto;
	@extend %wet-default-responsive-width-960;
}

#wet-psnb-in {
	@extend %wet-default-responsive-margin-auto;
	@extend %wet-default-responsive-width-960;
}

#wet-bc-in {
	@extend %wet-default-responsive-margin-auto;
	@extend %wet-default-responsive-width-960;
}

#wet-fullft-in {
	@extend %wet-default-responsive-margin-auto;
	@extend %wet-default-responsive-width-960;
}

#wet-sft-in {
	@extend %wet-default-responsive-margin-auto;
	@extend %wet-default-responsive-width-960;
}

#wet-subsite {
	@extend %wet-default-responsive-margin-auto;
	p {
		@extend %wet-default-responsive-width-960;
	}
}

#wet-title-in {
	width: 600px;
}

#wb-body-sec-sup {
	#wb-main {
		@extend %wet-default-responsive-width-480;
		right: 240px;
	}
}

%wet-default-responsive-width-240 {
	width: 240px;
}
#wb-sec {
	@extend %wet-default-responsive-width-240;
}

#wb-sup {
	@extend %wet-default-responsive-width-240;
	left: 480px;
}

#wb-body {
	#wb-main {
		@extend %wet-default-responsive-width-960;
	}
}

[id|="wb-body-sec"] {
	[id|="wb-main"] {
		width: 720px;
	}
}

#wb-body-sec-sup {
	#wb-main-in {
		@extend %wet-default-responsive-width-480;
	}
}

/* Right to left (RTL) CSS */
[dir="rtl"] {
	#wb-body-sec-sup {
		#wb-main {
			right: auto;
			left: 240px;
		}
	}

	#wb-sup {
		left: auto;
		right: 480px;
	}
}