/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt
 */
.ie7 {
	#wet-subsite {
		a {
			font-size:expression(this.previousSibling == null ? '100%' : '-' );
			border-left:expression(this.previousSibling == null ? 'none' : '-' );
		}
	}

	// Right to left (RTL) CSS
	&[dir="rtl"] {
		#wet-subsite {
			a {
				border-left: none;
				border-right: expression(this.previousSibling == null ? 'none' : '-' );
			}
		}
	}
}