/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-eng.html / wet-boew.github.io/wet-boew/Licence-fra.html
 */
.ie7 {
	#wet-bnr {
		width: 100%;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	#wet-bc{
		padding: 5px 0;
		ol {
			line-height: normal;
		}
		li {
			border-left: 1px solid #000;
			margin: 0;
			padding: 0 10px;
			&:first-child{
				border-left: none;
				padding-left: 0;
			}
		}
	}

	// Right to left (RTL) CSS
	&[dir="rtl"] {
		#wet-bc {
			li {
				border-left: none;
				border-right: 1px solid #000;

				&:first-child {
					border-right: none;
					padding-right: 0;
				}
			}
		}
	}
}