/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-eng.txt / wet-boew.github.io/wet-boew/Licence-fra.txt
 */
.no-js {
	%wet-default-small-medium-ns-display-block {
		display: block;
	}

	%wet-default-small-medium-ns-width-100-zindex-100 {
		width: 100%;
		z-index: 100;
	}

	%wet-default-small-medium-ns-width-100-important-float-none {
		width: 100% !important;
		float: none;
	}

	%wet-default-small-medium-ns-margin-top-10 {
		margin-top: 10px;
	}

	#wet-psnb {
		@extend %wet-default-small-medium-ns-display-block;
		@extend %wet-default-small-medium-ns-width-100-important-float-none;
		#wet-psnb-in {
			@extend %wet-default-small-medium-ns-display-block;
			@extend %wet-default-small-medium-ns-width-100-zindex-100;
		}
	}

	#wet-fullhd {
		ul {
			@extend %wet-default-small-medium-ns-display-block;
		}
	}

	#wet-bc {
		@extend %wet-default-small-medium-ns-display-block;
	}

	#wb-sec {
		@extend %wet-default-small-medium-ns-display-block;
	}

	#wb-foot {
		@extend %wet-default-small-medium-ns-display-block;
	}

	#wet-sft {
		h4 {
			@extend %wet-default-small-medium-ns-margin-top-10;
		}
		.wet-col-head {
			@extend %wet-default-small-medium-ns-margin-top-10;
		}
	}

	#wet-srchbx {
		@extend %wet-default-small-medium-ns-display-block;
		@extend %wet-default-small-medium-ns-width-100-important-float-none;
		form {
			@extend %wet-default-small-medium-ns-display-block;
			@extend %wet-default-small-medium-ns-width-100-zindex-100;
			border-bottom: 1px solid #999;
			text-align: center;
			background: #1A3D6C;
			padding: 10px 0;
			margin-bottom: 0;
		}
	}
}