/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-eng.html / wet-boew.github.io/wet-boew/Licence-fra.html
 */
@import 'compass/css3/transform';

%wet-default-print-width-100 {
	width: 100%;
}
%wet-default-print-margin-0 {
	margin: 0;
}
%wet-default-print-padding-0 {
	padding: 0;
}
%wet-default-print-background-none {
	background: none;
}
%wet-default-print-scaleX--1 {
	@include scaleX(-1);
}
%wet-default-print-base-title-styles {
	font-size: 16pt;
	text-decoration: none;
	color: #000;
	@extend %wet-default-print-width-100;
}
%wet-default-print-display-none {
	display: none;
}
%wet-default-print-width-69-height-32 {
	width: 69px;
	height: 32px;
}

#wet-title {
	@extend %wet-default-print-base-title-styles;
	border: none;
	a {
		@extend %wet-default-print-base-title-styles;
		display: table-row;
	}
	object {
		@extend %wet-default-print-width-69-height-32;
	}
	img {
		@extend %wet-default-print-width-69-height-32;
	}
	span {
		display: table-cell;
		vertical-align: middle;
		padding-left: 10px;
	}
}

#wb-main-in {
	border-top: 3px outset #666;
	padding-top: 5px;
}

h1 {
	font-size: 140%;
	margin: 0 !important;
}

h2 {
	font-size: 125%;
}

h3 {
	font-size: 120%;
}

h4 {
	font-size: 115%;
}

h5 {
	font-size: 110%;
}

h6 {
	font-size: 100%;
}

#wet-bc {
	min-height: inherit;
	height: auto;
	ol {
		@extend %wet-default-print-width-100;
		@extend %wet-default-print-margin-0;
		@extend %wet-default-print-padding-0;
	}
	li{
		@extend %wet-default-print-background-none;
		@extend %wet-default-print-padding-0;
		&:before {
			content: " > ";
		}
		&:first-child:before{
			content: "";
		}
	}
	a {
		padding: 0 5px 0 0;
		@extend %wet-default-print-background-none;
	}
}

#wb-sec {
	@extend %wet-default-print-display-none;
}

#wb-sup {
	@extend %wet-default-print-display-none;
}

#wet-fullhd {
	@extend %wet-default-print-display-none;
}

#wet-srchbx {
	@extend %wet-default-print-display-none;
}

#wet-psnb {
	@extend %wet-default-print-display-none;
}

#wb-foot {
	@extend %wet-default-print-display-none;
}

#wet-date-mod {
	float: right;
	display: inline;
}

.clear {
	clear: both;
	display: block;
	height: 0 !important;
	min-height: 0 !important;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	@extend %wet-default-print-margin-0;
}

/* Right to left (RTL) CSS */
[dir="rtl"] {
	#wet-bc {
		@extend %wet-default-print-scaleX--1;
		li {
			@extend %wet-default-print-scaleX--1;
		}
		a {
			padding: 0 0 0 5px;
		}
	}
	#wet-date-mod {
		float: left;
	}
}