/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-eng.txt / wet-boew.github.io/wet-boew/Licence-fra.txt
 */
#wb-head {
	line-height: normal;
}

#wet-title {
	small {
		font-size: 0.45em;
		display: block;
	}	
}