@charset "utf-8";
/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt
 */
.ie7 #wb-skip {
  display: inline;
  float: none;
}
.ie7 #wb-skip ul {
  float: left;
}
.ie7 #wb-skip a {
  margin: auto;
  zoom: 1;
  position: relative;
}
.ie7 a.wb-linkdesc span span {
  top: -9000em;
}
.ie7 a.wb-linkdesc:hover, .ie7 a.wb-linkdesc:focus, .ie7 a.wb-linkdesc:active {
  height: 1%;
}
