---
{
	"title": "Méthodologie d’évaluation sur l’accessibilité des sites Web (niveau AA)",
	"language": "fr",
	"category": "Autre",
	"description": "Offre une méthodologie d’évaluation qui permet de mesurer le degré de conformité aux Règles pour l’accessibilité des contenus Web (WCAG) 2.1 pour les critères de succès de niveau A et AA.",
	"tag": "wamethod",
	"parentdir": "wamethod",
	"altLangPrefix": "wamethod-AA",
	"css": ["demo/wamethod"],
	"js": ["demo/wamethod"],
	"dateModified": "2019-08-06"
}
---
<section>
	<h2>But</h2>
	<p>Aider à mesurer les <a href="#success">critères de succès</a> de niveau A et AA des <a href="https://www.w3.org/TR/WCAG21/" rel="external">Règles&#160;pour&#160;l’accessibilité des contenus Web (WCAG)&#160;2.1 (anglais seulement)</a>.</p>
</section>

<section>
	<h2>Table des matières</h2>
	<ul>
		<li><a href="#wcag">Liste de vérification des critères de succès des <abbr title="Règles pour l’accessibilité des contenus Web">WCAG</abbr>&#160;2.1</a>
			<ul>
				<li><a href="#wcag1">Principe&#160;: Perceptible</a></li>
				<li><a href="#wcag2">Principe&#160;: Utilisable</a></li>
				<li><a href="#wcag3">Principe&#160;: Compréhensible</a></li>
				<li><a href="#wcag4">Principe&#160;: Robuste</a></li>
				<li><a href="#sm">Sommaire</a></li>
			</ul>
		</li>
		<li><a href="#gl">Glossaire</a></li>
	</ul>
</section>

<p>Les suivantes sont requises pour qu’une <a href="#webpagedef">page Web</a> réponde à un critère de succès des <abbr title="Règles pour l’accessibilité des contenus Web">WCAG</abbr>&#160;2.1&#160;:</p>
<ol>
	<li>La page Web évite avec succès chaque <a href="https://www.w3.org/WAI/WCAG21/Techniques/#failures" rel="external">échec fréquent (anglais seulement)</a> pour le critère&#160;de&#160;succès.</li>
	<li>La page Web exécute avec succès des <a href="#sufftech">techniques suffisantes</a> ou des combinaisons de techniques suffisantes pour le critère de succès qui sont&#160;:
		<ol>
			<li>propres à chaque situation applicable;</li>
			<li>propres à chaque <a href="#technologydef">technologie</a> dont on <a href="#reliedupondef">dépend</a> pour la satisfaction au critère de succès (sauf où seulement les techniques générales sont documentées).</li>
		</ol>
	</li>
</ol>

<section class="wb-wamethod">
	<h2 id="wcag">Liste de vérification des critères de succès des WCAG&#160;2.1 (13&#160;règles, 50&#160;critères de succès)</h2>
	<section>
		<h3 id="wcag1"><b>Principe&#160;:</b> Perceptible</h3>
		<section class="mrgn-tp-lg">
			<h4 id="g11"><b>Règle 1.1 Les équivalents textuels&#160;:</b> Proposer des équivalents textuels à tout contenu non textuel qui pourra alors être modifié en d'autres formes selon les besoins de l'utilisateur&#160;: grands caractères, braille, synthèse vocale, symboles ou langage simplifié.</h4>
			<ol>
				<li>
					<fieldset>
						<legend><a href="https://www.w3.org/Translations/WCAG20-fr/#text-equiv-all" rel="external" aria-describedby="g11">1.1.1 Contenu non textuel (Niveau&#160;A)</a></legend>
						<input id="ap111" type="radio" name="sc111" value="pass"><label for="ap111">Réussi</label>
						<input id="af111" type="radio" name="sc111" value="fail"><label for="af111">Échouée</label>
						<input id="an111" type="radio" name="sc111" value="na"><label for="an111"><abbr title="Sans objet">S/O</abbr></label>
					</fieldset>
				</li>
			</ol>
		</section>
		<section class="mrgn-tp-lg">
			<h4 id="g12"><b>Règle 1.2 Média temporel&#160;:</b> Proposer des versions de remplacement aux médias temporels.</h4>
			<ol>
				<li>
					<fieldset>
						<legend><a href="https://www.w3.org/Translations/WCAG20-fr/#media-equiv-av-only-alt" rel="external" aria-describedby="g12">1.2.1 Contenu seulement audio ou vidéo (pré-enregistré) (Niveau&#160;A)</a></legend>
						<input id="ap121" type="radio" name="sc121" value="pass"><label for="ap121">Réussi</label>
						<input id="af121" type="radio" name="sc121" value="fail"><label for="af121">Échouée</label>
						<input id="an121" type="radio" name="sc121" value="na"><label for="an121"><abbr title="Sans objet">S/O</abbr></label>
					</fieldset>
				</li>
				<li>
					<fieldset>
						<legend><a href="https://www.w3.org/Translations/WCAG20-fr/#media-equiv-captions" rel="external" aria-describedby="g12">1.2.2 Sous-titres (pré-enregistrés) (Niveau&#160;A)</a></legend>
						<input id="ap122" type="radio" name="sc122" value="pass"><label for="ap122">Réussi</label>
						<input id="af122" type="radio" name="sc122" value="fail"><label for="af122">Échouée</label>
						<input id="an122" type="radio" name="sc122" value="na"><label for="an122"><abbr title="Sans objet">S/O</abbr></label>
					</fieldset>
				</li>
				<li>
					<fieldset>
						<legend><a href="https://www.w3.org/Translations/WCAG20-fr/#media-equiv-audio-desc" rel="external" aria-describedby="g12">1.2.3 Audio-description ou version de remplacement pour un média temporel (pré-enregistré) (Niveau&#160;A)</a></legend>
						<input id="ap123" type="radio" name="sc123" value="pass"><label for="ap123">Réussi</label>
						<input id="af123" type="radio" name="sc123" value="fail"><label for="af123">Échouée</label>
						<input id="an123" type="radio" name="sc123" value="na"><label for="an123"><abbr title="Sans objet">S/O</abbr></label>
					</fieldset>
				</li>
				<li>
					<fieldset>
						<legend><a href="https://www.w3.org/Translations/WCAG20-fr/#media-equiv-real-time-captions" rel="external" aria-describedby="g12">1.2.4 Sous-titres (en direct) (Niveau&#160;AA)</a></legend>
						<input id="aap124" type="radio" name="sc124" value="pass"><label for="aap124">Réussi</label>
						<input id="aaf124" type="radio" name="sc124" value="fail"><label for="aaf124">Échouée</label>
						<input id="aan124" type="radio" name="sc124" value="na"><label for="aan124"><abbr title="Sans objet">S/O</abbr></label>
					</fieldset>
				</li>
				<li>
					<fieldset>
						<legend><a href="https://www.w3.org/Translations/WCAG20-fr/#media-equiv-audio-desc-only" rel="external" aria-describedby="g12">1.2.5 Audio-description (pré-enregistrée) (Niveau&#160;AA)</a></legend>
						<input id="aap125" type="radio" name="sc125" value="pass"><label for="aap125">Réussi</label>
						<input id="aaf125" type="radio" name="sc125" value="fail"><label for="aaf125">Échouée</label>
						<input id="aan125" type="radio" name="sc125" value="na"><label for="aan125"><abbr title="Sans objet">S/O</abbr></label>
					</fieldset>
				</li>
			</ol>
		</section>
		<section class="mrgn-tp-lg">
			<h4 id="g13"><b>Règle 1.3 Adaptable&#160;:</b> Créer un contenu qui puisse être présenté de différentes manières sans perte d'information ni de structure (par exemple avec une mise en page simplifiée).</h4>
			<ol>
				<li>
					<fieldset>
						<legend><a href="https://www.w3.org/Translations/WCAG20-fr/#content-structure-separation-programmatic" rel="external" aria-describedby="g13">1.3.1 Information et relations (Niveau&#160;A)</a></legend>
						<input id="ap131" type="radio" name="sc131" value="pass"><label for="ap131">Réussi</label>
						<input id="af131" type="radio" name="sc131" value="fail"><label for="af131">Échouée</label>
						<input id="an131" type="radio" name="sc131" value="na"><label for="an131"><abbr title="Sans objet">S/O</abbr></label>
					</fieldset>
				</li>
				<li>
					<fieldset>
						<legend><a href="https://www.w3.org/Translations/WCAG20-fr/#content-structure-separation-sequence" rel="external" aria-describedby="g13">1.3.2 Ordre séquentiel logique (Niveau&#160;A)</a></legend>
						<input id="ap132" type="radio" name="sc132" value="pass"><label for="ap132">Réussi</label>
						<input id="af132" type="radio" name="sc132" value="fail"><label for="af132">Échouée</label>
						<input id="an132" type="radio" name="sc132" value="na"><label for="an132"><abbr title="Sans objet">S/O</abbr></label>
					</fieldset>
				</li>
				<li>
					<fieldset>
						<legend><a href="https://www.w3.org/Translations/WCAG20-fr/#content-structure-separation-understanding" rel="external" aria-describedby="g13">1.3.3 Caractéristiques sensorielles (Niveau&#160;A)</a></legend>
						<input id="ap133" type="radio" name="sc133" value="pass"><label for="ap133">Réussi</label>
						<input id="af133" type="radio" name="sc133" value="fail"><label for="af133">Échouée</label>
						<input id="an133" type="radio" name="sc133" value="na"><label for="an133"><abbr title="Sans objet">S/O</abbr></label>
					</fieldset>
				</li>
				<li>
					<fieldset>
						<legend><a href="https://www.w3.org/TR/WCAG21/#orientation" rel="external" aria-describedby="g13"><span lang="en">1.3.4 Orientation (Niveau&#160;AA)</span> (anglais seulement)</a></legend>
						<input id="aap134" type="radio" name="sc134" value="pass"><label for="aap134">Réussi</label>
						<input id="aaf134" type="radio" name="sc134" value="fail"><label for="aaf134">Échouée</label>
						<input id="aan134" type="radio" name="sc134" value="na"><label for="aan134"><abbr title="Sans objet">S/O</abbr></label>
					</fieldset>
				</li>
				<li>
					<fieldset>
						<legend><a href="https://www.w3.org/TR/WCAG21/#identify-input-purpose" rel="external" aria-describedby="g13"><span lang="en">1.3.5 Identify Input Purpose (Niveau&#160;AA)</span> (anglais seulement)</a></legend>
						<input id="aap135" type="radio" name="sc135" value="pass"><label for="aap135">Réussi</label>
						<input id="aaf135" type="radio" name="sc135" value="fail"><label for="aaf135">Échouée</label>
						<input id="aan135" type="radio" name="sc135" value="na"><label for="aan135"><abbr title="Sans objet">S/O</abbr></label>
					</fieldset>
				</li>
			</ol>
		</section>
		<section class="mrgn-tp-lg">
			<h4 id="g14"><b>Règle 1.4 Distinguable&#160;:</b> Faciliter la perception visuelle et auditive du contenu par l'utilisateur, notamment en séparant le premier plan de l'arrière-plan.</h4>
			<ol>
				<li>
					<fieldset>
						<legend><a href="https://www.w3.org/Translations/WCAG20-fr/#visual-audio-contrast-without-color" rel="external" aria-describedby="g14">1.4.1 Utilisation de la couleur (Niveau&#160;A)</a></legend>
						<input id="ap141" type="radio" name="sc141" value="pass"><label for="ap141">Réussi</label>
						<input id="af141" type="radio" name="sc141" value="fail"><label for="af141">Échouée</label>
						<input id="an141" type="radio" name="sc141" value="na"><label for="an141"><abbr title="Sans objet">S/O</abbr></label>
					</fieldset>
				</li>
				<li>
					<fieldset>
						<legend><a href="https://www.w3.org/Translations/WCAG20-fr/#visual-audio-contrast-dis-audio" rel="external" aria-describedby="g14">1.4.2 Contrôle du son (Niveau&#160;A)</a></legend>
						<input id="ap142" type="radio" name="sc142" value="pass"><label for="ap142">Réussi</label>
						<input id="af142" type="radio" name="sc142" value="fail"><label for="af142">Échouée</label>
						<input id="an142" type="radio" name="sc142" value="na"><label for="an142"><abbr title="Sans objet">S/O</abbr></label>
					</fieldset>
				</li>
				<li>
					<fieldset>
						<legend><a href="https://www.w3.org/Translations/WCAG20-fr/#visual-audio-contrast-contrast" rel="external" aria-describedby="g14">1.4.3 Contraste (minimum) (Niveau&#160;AA)</a></legend>
						<input id="aap143" type="radio" name="sc143" value="pass"><label for="aap143">Réussi</label>
						<input id="aaf143" type="radio" name="sc143" value="fail"><label for="aaf143">Échouée</label>
						<input id="aan143" type="radio" name="sc143" value="na"><label for="aan143"><abbr title="Sans objet">S/O</abbr></label>
					</fieldset>
				</li>
				<li>
					<fieldset>
						<legend><a href="https://www.w3.org/Translations/WCAG20-fr/#visual-audio-contrast-scale" rel="external" aria-describedby="g14">1.4.4 Redimensionnement du texte (Niveau&#160;AA)</a></legend>
						<input id="aap144" type="radio" name="sc144" value="pass"><label for="aap144">Réussi</label>
						<input id="aaf144" type="radio" name="sc144" value="fail"><label for="aaf144">Échouée</label>
						<input id="aan144" type="radio" name="sc144" value="na"><label for="aan144"><abbr title="Sans objet">S/O</abbr></label>
					</fieldset>
				</li>
				<li>
					<fieldset>
						<legend><a href="https://www.w3.org/Translations/WCAG20-fr/#visual-audio-contrast-text-presentation" rel="external" aria-describedby="g14">1.4.5 Texte sous forme d'image (Niveau&#160;AA)</a></legend>
						<input id="aap145" type="radio" name="sc145" value="pass"><label for="aap145">Réussi</label>
						<input id="aaf145" type="radio" name="sc145" value="fail"><label for="aaf145">Échouée</label>
						<input id="aan145" type="radio" name="sc145" value="na"><label for="aan145"><abbr title="Sans objet">S/O</abbr></label>
					</fieldset>
				</li>
				<li>
					<fieldset>
						<legend><a href="https://www.w3.org/TR/WCAG21/#reflow" rel="external" aria-describedby="g14"><span lang="en">1.4.10 Reflow (Niveau&#160;AA)</span> (anglais seulement)</a></legend>
						<input id="aap1410" type="radio" name="sc1410" value="pass"><label for="aap1410">Réussi</label>
						<input id="aaf1410" type="radio" name="sc1410" value="fail"><label for="aaf1410">Échouée</label>
						<input id="aan1410" type="radio" name="sc1410" value="na"><label for="aan1410"><abbr title="Sans objet">S/O</abbr></label>
					</fieldset>
				</li>
				<li>
					<fieldset>
						<legend><a href="https://www.w3.org/TR/WCAG21/#non-text-contrast" rel="external" aria-describedby="g14"><span lang="en">1.4.11 Non-Text Contrast (Niveau&#160;AA)</span> (anglais seulement)</a></legend>
						<input id="aap1411" type="radio" name="sc1411" value="pass"><label for="aap1411">Réussi</label>
						<input id="aaf1411" type="radio" name="sc1411" value="fail"><label for="aaf1411">Échouée</label>
						<input id="aan1411" type="radio" name="sc1411" value="na"><label for="aan1411"><abbr title="Sans objet">S/O</abbr></label>
					</fieldset>
				</li>
				<li>
					<fieldset>
						<legend><a href="https://www.w3.org/TR/WCAG21/#text-spacing" rel="external" aria-describedby="g14"><span lang="en">1.4.12 Text Spacing (Niveau&#160;AA)</span> (anglais seulement)</a></legend>
						<input id="aap1412" type="radio" name="sc1412" value="pass"><label for="aap1412">Réussi</label>
						<input id="aaf1412" type="radio" name="sc1412" value="fail"><label for="aaf1412">Échouée</label>
						<input id="aan1412" type="radio" name="sc1412" value="na"><label for="aan1412"><abbr title="Sans objet">S/O</abbr></label>
					</fieldset>
				</li>
				<li>
					<fieldset>
						<legend><a href="https://www.w3.org/TR/WCAG21/#content-on-hover-or-focus" rel="external" aria-describedby="g14"><span lang="en">1.4.13 Content on Hover or Focus (Niveau&#160;AA)</span> (anglais seulement)</a></legend>
						<input id="aap1413" type="radio" name="sc1413" value="pass"><label for="aap1413">Réussi</label>
						<input id="aaf1413" type="radio" name="sc1413" value="fail"><label for="aaf1413">Échouée</label>
						<input id="aan1413" type="radio" name="sc1413" value="na"><label for="aan1413"><abbr title="Sans objet">S/O</abbr></label>
					</fieldset>
				</li>
			</ol>
		</section>
	</section>

	<section>
		<h3 id="wcag2"><b>Principe&#160;:</b> Utilisable</h3>
		<section class="mrgn-tp-lg">
			<h4 id="g21"><b>Règle 2.1 Accessibilité au clavier&#160;:</b> Rendre toutes les fonctionnalités accessibles au clavier.</h4>
			<ol>
				<li>
					<fieldset>
						<legend><a href="https://www.w3.org/Translations/WCAG20-fr/#keyboard-operation-keyboard-operable" rel="external" aria-describedby="g21">2.1.1 Clavier (Niveau&#160;A)</a></legend>
						<input id="ap211" type="radio" name="sc211" value="pass"><label for="ap211">Réussi</label>
						<input id="af211" type="radio" name="sc211" value="fail"><label for="af211">Échouée</label>
						<input id="an211" type="radio" name="sc211" value="na"><label for="an211"><abbr title="Sans objet">S/O</abbr></label>
					</fieldset>
				</li>
				<li>
					<fieldset>
						<legend><a href="https://www.w3.org/Translations/WCAG20-fr/#keyboard-operation-trapping" rel="external" aria-describedby="g21">2.1.2 Pas de piège au clavier (Niveau&#160;A)</a></legend>
						<input id="ap212" type="radio" name="sc212" value="pass"><label for="ap212">Réussi</label>
						<input id="af212" type="radio" name="sc212" value="fail"><label for="af212">Échouée</label>
						<input id="an212" type="radio" name="sc212" value="na"><label for="an212"><abbr title="Sans objet">S/O</abbr></label>
					</fieldset>
				</li>
				<li>
					<fieldset>
						<legend><a href="https://www.w3.org/TR/WCAG21/#character-key-shortcuts" rel="external" aria-describedby="g21"><span lang="en">2.1.4 Character Key Shortcuts (Niveau&#160;A)</span> (anglais seulement)</a></legend>
						<input id="ap214" type="radio" name="sc214" value="pass"><label for="ap214">Réussi</label>
						<input id="af214" type="radio" name="sc214" value="fail"><label for="af214">Échouée</label>
						<input id="an214" type="radio" name="sc214" value="na"><label for="an214"><abbr title="Sans objet">S/O</abbr></label>
					</fieldset>
				</li>
			</ol>
		</section>
		<section class="mrgn-tp-lg">
			<h4 id="g22"><b>Règle 2.2 Délai suffisant&#160;:</b> Laisser à l'utilisateur suffisamment de temps pour lire et utiliser le contenu.</h4>
			<ol>
				<li>
					<fieldset>
						<legend><a href="https://www.w3.org/Translations/WCAG20-fr/#time-limits-required-behaviors" rel="external" aria-describedby="g22">2.2.1 Réglage du délai (Niveau&#160;A)</a></legend>
						<input id="ap221" type="radio" name="sc221" value="pass"><label for="ap221">Réussi</label>
						<input id="af221" type="radio" name="sc221" value="fail"><label for="af221">Échouée</label>
						<input id="an221" type="radio" name="sc221" value="na"><label for="an221"><abbr title="Sans objet">S/O</abbr></label>
					</fieldset>
				</li>
				<li>
					<fieldset>
						<legend><a href="https://www.w3.org/Translations/WCAG20-fr/#time-limits-pause" rel="external" aria-describedby="g22">2.2.2 Mettre en pause, arrêter, masquer (Niveau&#160;A)</a></legend>
						<input id="ap222" type="radio" name="sc222" value="pass"><label for="ap222">Réussi</label>
						<input id="af222" type="radio" name="sc222" value="fail"><label for="af222">Échouée</label>
						<input id="an222" type="radio" name="sc222" value="na"><label for="an222"><abbr title="Sans objet">S/O</abbr></label>
					</fieldset>
				</li>
			</ol>
		</section>
		<section class="mrgn-tp-lg">
			<h4 id="g23"><b>Règle 2.3 Crises&#160;:</b> Ne pas concevoir de contenu susceptible de provoquer des crises.</h4>
			<ol>
				<li>
					<fieldset>
						<legend><a href="https://www.w3.org/Translations/WCAG20-fr/#seizure-does-not-violate" rel="external" aria-describedby="g23">2.3.1 Pas plus de trois flashs ou sous le seuil critique (Niveau&#160;A)</a></legend>
						<input id="ap231" type="radio" name="sc231" value="pass"><label for="ap231">Réussi</label>
						<input id="af231" type="radio" name="sc231" value="fail"><label for="af231">Échouée</label>
						<input id="an231" type="radio" name="sc231" value="na"><label for="an231"><abbr title="Sans objet">S/O</abbr></label>
					</fieldset>
				</li>
			</ol>
		</section>
		<section class="mrgn-tp-lg">
			<h4 id="g24"><b>Règle 2.4 Navigable&#160;:</b> Fournir à l'utilisateur des éléments d'orientation pour naviguer, trouver le contenu et se situer dans le site.</h4>
			<ol>
				<li>
					<fieldset>
						<legend><a href="https://www.w3.org/Translations/WCAG20-fr/#navigation-mechanisms-skip" rel="external" aria-describedby="g24">2.4.1 Contourner des blocs (Niveau&#160;A)</a></legend>
						<input id="ap241" type="radio" name="sc241" value="pass"><label for="ap241">Réussi</label>
						<input id="af241" type="radio" name="sc241" value="fail"><label for="af241">Échouée</label>
						<input id="an241" type="radio" name="sc241" value="na"><label for="an241"><abbr title="Sans objet">S/O</abbr></label>
					</fieldset>
				</li>
				<li>
					<fieldset>
						<legend><a href="https://www.w3.org/Translations/WCAG20-fr/#navigation-mechanisms-title" rel="external" aria-describedby="g24">2.4.2 Titre de page (Niveau&#160;A)</a></legend>
						<input id="ap242" type="radio" name="sc242" value="pass"><label for="ap242">Réussi</label>
						<input id="af242" type="radio" name="sc242" value="fail"><label for="af242">Échouée</label>
						<input id="an242" type="radio" name="sc242" value="na"><label for="an242"><abbr title="Sans objet">S/O</abbr></label>
					</fieldset>
				</li>
				<li>
					<fieldset>
						<legend><a href="https://www.w3.org/Translations/WCAG20-fr/#navigation-mechanisms-focus-order" rel="external" aria-describedby="g24">2.4.3 Parcours du focus (Niveau&#160;A)</a></legend>
						<input id="ap243" type="radio" name="sc243" value="pass"><label for="ap243">Réussi</label>
						<input id="af243" type="radio" name="sc243" value="fail"><label for="af243">Échouée</label>
						<input id="an243" type="radio" name="sc243" value="na"><label for="an243"><abbr title="Sans objet">S/O</abbr></label>
					</fieldset>
				</li>
				<li>
					<fieldset>
						<legend><a href="https://www.w3.org/Translations/WCAG20-fr/#navigation-mechanisms-refs" rel="external" aria-describedby="g24">2.4.4 Fonction du lien (selon le contexte) (Niveau&#160;A)</a></legend>
						<input id="ap244" type="radio" name="sc244" value="pass"><label for="ap244">Réussi</label>
						<input id="af244" type="radio" name="sc244" value="fail"><label for="af244">Échouée</label>
						<input id="an244" type="radio" name="sc244" value="na"><label for="an244"><abbr title="Sans objet">S/O</abbr></label>
					</fieldset>
				</li>
				<li>
					<fieldset>
						<legend><a href="https://www.w3.org/Translations/WCAG20-fr/#navigation-mechanisms-mult-loc" rel="external" aria-describedby="g24">2.4.5 Accès multiples (Niveau&#160;AA)</a></legend>
						<input id="aap245" type="radio" name="sc245" value="pass"><label for="aap245">Réussi</label>
						<input id="aaf245" type="radio" name="sc245" value="fail"><label for="aaf245">Échouée</label>
						<input id="aan245" type="radio" name="sc245" value="na"><label for="aan245"><abbr title="Sans objet">S/O</abbr></label>
					</fieldset>
				</li>
				<li>
					<fieldset>
						<legend><a href="https://www.w3.org/Translations/WCAG20-fr/#navigation-mechanisms-descriptive" rel="external" aria-describedby="g24">2.4.6 En-têtes et étiquettes (Niveau&#160;AA)</a></legend>
						<input id="aap246" type="radio" name="sc246" value="pass"><label for="aap246">Réussi</label>
						<input id="aaf246" type="radio" name="sc246" value="fail"><label for="aaf246">Échouée</label>
						<input id="aan246" type="radio" name="sc246" value="na"><label for="aan246"><abbr title="Sans objet">S/O</abbr></label>
					</fieldset>
				</li>
				<li>
					<fieldset>
						<legend><a href="https://www.w3.org/Translations/WCAG20-fr/#navigation-mechanisms-focus-visible" rel="external" aria-describedby="g24">2.4.7 Visibilité du focus (Niveau&#160;AA)</a></legend>
						<input id="aap247" type="radio" name="sc247" value="pass"><label for="aap247">Réussi</label>
						<input id="aaf247" type="radio" name="sc247" value="fail"><label for="aaf247">Échouée</label>
						<input id="aan247" type="radio" name="sc247" value="na"><label for="aan247"><abbr title="Sans objet">S/O</abbr></label>
					</fieldset>
				</li>
			</ol>
		</section>
		<section class="mrgn-tp-lg">
			<div lang="en">
			<h4 id="g25"><b>Guideline 2.5 Input Modalities:</b> Make it easier for users to operate functionality through various inputs beyond keyboard.</h4>
			<p><strong>Needs translation</strong></p>
			</div>
			<ol>
				<li>
					<fieldset>
						<legend><a href="https://www.w3.org/TR/WCAG21/#pointer-gestures" rel="external" aria-describedby="g25"><span lang="en">2.5.1 Pointer Gestures (Niveau&#160;A)</span> (anglais seulement)</a></legend>
						<input id="ap251" type="radio" name="sc251" value="pass"><label for="ap251">Réussi</label>
						<input id="af251" type="radio" name="sc251" value="fail"><label for="af251">Échouée</label>
						<input id="an251" type="radio" name="sc251" value="na"><label for="an251"><abbr title="Sans objet">S/O</abbr></label>
					</fieldset>
				</li>
				<li>
					<fieldset>
						<legend><a href="https://www.w3.org/TR/WCAG21/#pointer-cancellation" rel="external" aria-describedby="g25"><span lang="en">2.5.2 Pointer Cancellation (Niveau&#160;A)</span> (anglais seulement)</a></legend>
						<input id="ap252" type="radio" name="sc252" value="pass"><label for="ap252">Réussi</label>
						<input id="af252" type="radio" name="sc252" value="fail"><label for="af252">Échouée</label>
						<input id="an252" type="radio" name="sc252" value="na"><label for="an252"><abbr title="Sans objet">S/O</abbr></label>
					</fieldset>
				</li>
				<li>
					<fieldset>
						<legend><a href="https://www.w3.org/TR/WCAG21/#label-in-name" rel="external" aria-describedby="g25"><span lang="en">2.5.3 Label in Name (Niveau&#160;A)</span> (anglais seulement)</a></legend>
						<input id="ap253" type="radio" name="sc253" value="pass"><label for="ap253">Réussi</label>
						<input id="af253" type="radio" name="sc253" value="fail"><label for="af253">Échouée</label>
						<input id="an253" type="radio" name="sc253" value="na"><label for="an253"><abbr title="Sans objet">S/O</abbr></label>
					</fieldset>
				</li>
				<li>
					<fieldset>
						<legend><a href="https://www.w3.org/TR/WCAG21/#motion-actuation" rel="external" aria-describedby="g25"><span lang="en">2.5.4 Motion Actuation (Niveau&#160;A)</span> (anglais seulement)</a></legend>
						<input id="ap254" type="radio" name="sc254" value="pass"><label for="ap254">Réussi</label>
						<input id="af254" type="radio" name="sc254" value="fail"><label for="af254">Échouée</label>
						<input id="an254" type="radio" name="sc254" value="na"><label for="an254"><abbr title="Sans objet">S/O</abbr></label>
					</fieldset>
				</li>
			</ol>
		</section>
	</section>

	<section>
		<h3 id="wcag3"><b>Principe&#160;:</b> Compréhensible</h3>
		<section class="mrgn-tp-lg">
			<h4 id="g31"><b>Règle 3.1 Lisible&#160;:</b> Rendre le contenu textuel lisible et compréhensible.</h4>
			<ol>
				<li>
					<fieldset>
						<legend><a href="https://www.w3.org/Translations/WCAG20-fr/#meaning-doc-lang-id" rel="external" aria-describedby="g31">3.1.1 Langue de la page (Niveau&#160;A)</a></legend>
						<input id="ap311" type="radio" name="sc311" value="pass"><label for="ap311">Réussi</label>
						<input id="af311" type="radio" name="sc311" value="fail"><label for="af311">Échouée</label>
						<input id="an311" type="radio" name="sc311" value="na"><label for="an311"><abbr title="Sans objet">S/O</abbr></label>
					</fieldset>
				</li>
				<li>
					<fieldset>
						<legend><a href="https://www.w3.org/Translations/WCAG20-fr/#meaning-other-lang-id" rel="external" aria-describedby="g31">3.1.2 Langue d'un passage (Niveau&#160;AA)</a></legend>
						<input id="aap312" type="radio" name="sc312" value="pass"><label for="aap312">Réussi</label>
						<input id="aaf312" type="radio" name="sc312" value="fail"><label for="aaf312">Échouée</label>
						<input id="aan312" type="radio" name="sc312" value="na"><label for="aan312"><abbr title="Sans objet">S/O</abbr></label>
					</fieldset>
				</li>
			</ol>
		</section>
		<section class="mrgn-tp-lg">
			<h4 id="g32"><b>Règle 3.2 Prévisible&#160;:</b> Faire en sorte que les pages apparaissent et fonctionnent de manière prévisible.</h4>
			<ol>
				<li>
					<fieldset>
						<legend><a href="https://www.w3.org/Translations/WCAG20-fr/#consistent-behavior-receive-focus" rel="external" aria-describedby="g32">3.2.1 Au focus (Niveau&#160;A)</a></legend>
						<input id="ap321" type="radio" name="sc321" value="pass"><label for="ap321">Réussi</label>
						<input id="af321" type="radio" name="sc321" value="fail"><label for="af321">Échouée</label>
						<input id="an321" type="radio" name="sc321" value="na"><label for="an321"><abbr title="Sans objet">S/O</abbr></label>
					</fieldset>
				</li>
				<li>
					<fieldset>
						<legend><a href="https://www.w3.org/Translations/WCAG20-fr/#consistent-behavior-unpredictable-change" rel="external" aria-describedby="g32">3.2.2 À la saisie (Niveau&#160;A)</a></legend>
						<input id="ap322" type="radio" name="sc322" value="pass"><label for="ap322">Réussi</label>
						<input id="af322" type="radio" name="sc322" value="fail"><label for="af322">Échouée</label>
						<input id="an322" type="radio" name="sc322" value="na"><label for="an322"><abbr title="Sans objet">S/O</abbr></label>
					</fieldset>
				</li>
				<li>
					<fieldset>
						<legend><a href="https://www.w3.org/Translations/WCAG20-fr/#consistent-behavior-consistent-locations" rel="external" aria-describedby="g32">3.2.3 Navigation cohérente (Niveau&#160;AA)</a></legend>
						<input id="aap323" type="radio" name="sc323" value="pass"><label for="aap323">Réussi</label>
						<input id="aaf323" type="radio" name="sc323" value="fail"><label for="aaf323">Échouée</label>
						<input id="aan323" type="radio" name="sc323" value="na"><label for="aan323"><abbr title="Sans objet">S/O</abbr></label>
					</fieldset>
				</li>
				<li>
					<fieldset>
						<legend><a href="https://www.w3.org/Translations/WCAG20-fr/#consistent-behavior-consistent-functionality" rel="external" aria-describedby="g32">3.2.4 Identification cohérente (Niveau&#160;AA)</a></legend>
						<input id="aap324" type="radio" name="sc324" value="pass"><label for="aap324">Réussi</label>
						<input id="aaf324" type="radio" name="sc324" value="fail"><label for="aaf324">Échouée</label>
						<input id="aan324" type="radio" name="sc324" value="na"><label for="aan324"><abbr title="Sans objet">S/O</abbr></label>
					</fieldset>
				</li>
			</ol>
		</section>
		<section class="mrgn-tp-lg">
			<h4 id="g33"><b>Règle 3.3 Assistance à la saisie&#160;:</b> Aider l'utilisateur à éviter et à corriger les erreurs de saisie.</h4>
			<ol>
				<li>
					<fieldset>
						<legend><a href="https://www.w3.org/Translations/WCAG20-fr/#minimize-error-identified" rel="external" aria-describedby="g33">3.3.1 Identification des erreurs (Niveau&#160;A)</a></legend>
						<input id="ap331" type="radio" name="sc331" value="pass"><label for="ap331">Réussi</label>
						<input id="af331" type="radio" name="sc331" value="fail"><label for="af331">Échouée</label>
						<input id="an331" type="radio" name="sc331" value="na"><label for="an331"><abbr title="Sans objet">S/O</abbr></label>
					</fieldset>
				</li>
				<li>
					<fieldset>
						<legend><a href="https://www.w3.org/Translations/WCAG20-fr/#minimize-error-cues" rel="external" aria-describedby="g33">3.3.2 Étiquettes ou instructions (Niveau&#160;A)</a></legend>
						<input id="ap332" type="radio" name="sc332" value="pass"><label for="ap332">Réussi</label>
						<input id="af332" type="radio" name="sc332" value="fail"><label for="af332">Échouée</label>
						<input id="an332" type="radio" name="sc332" value="na"><label for="an332"><abbr title="Sans objet">S/O</abbr></label>
					</fieldset>
				</li>
				<li>
					<fieldset>
						<legend><a href="https://www.w3.org/Translations/WCAG20-fr/#minimize-error-suggestions" rel="external" aria-describedby="g33">3.3.3 Suggestion après une erreur (Niveau&#160;AA)</a></legend>
						<input id="aap333" type="radio" name="sc333" value="pass"><label for="aap333">Réussi</label>
						<input id="aaf333" type="radio" name="sc333" value="fail"><label for="aaf333">Échouée</label>
						<input id="aan333" type="radio" name="sc333" value="na"><label for="aan333"><abbr title="Sans objet">S/O</abbr></label>
					</fieldset>
				</li>
				<li>
					<fieldset>
						<legend><a href="https://www.w3.org/Translations/WCAG20-fr/#minimize-error-reversible" rel="external" aria-describedby="g33">3.3.4 Prévention des erreurs (juridiques, financières, de données) (Niveau&#160;AA)</a></legend>
						<input id="aap334" type="radio" name="sc334" value="pass"><label for="aap334">Réussi</label>
						<input id="aaf334" type="radio" name="sc334" value="fail"><label for="aaf334">Échouée</label>
						<input id="aan334" type="radio" name="sc334" value="na"><label for="aan334"><abbr title="Sans objet">S/O</abbr></label>
					</fieldset>
				</li>
			</ol>
		</section>
	</section>

	<section>
		<h3 id="wcag4"><b>Principe&#160;:</b> Robuste</h3>
		<section class="mrgn-tp-lg">
			<h4 id="g41"><b>Règle 4.1 Compatible&#160;:</b> Optimiser la compatibilité avec les agents utilisateurs actuels et futurs, y compris les technologies d'assistance.</h4>
			<ol>
				<li>
					<fieldset>
						<legend><a href="https://www.w3.org/Translations/WCAG20-fr/#ensure-compat-parses" rel="external" aria-describedby="g41">4.1.1 Analyse syntaxique (Niveau&#160;A)</a></legend>
						<input id="ap411" type="radio" name="sc411" value="pass"><label for="ap411">Réussi</label>
						<input id="af411" type="radio" name="sc411" value="fail"><label for="af411">Échouée</label>
						<input id="an411" type="radio" name="sc411" value="na"><label for="an411"><abbr title="Sans objet">S/O</abbr></label>
					</fieldset>
				</li>
				<li>
					<fieldset>
						<legend><a href="https://www.w3.org/Translations/WCAG20-fr/#ensure-compat-rsv" rel="external" aria-describedby="g41">4.1.2 Nom, rôle et valeur (Niveau&#160;A)</a></legend>
						<input id="ap412" type="radio" name="sc412" value="pass"><label for="ap412">Réussi</label>
						<input id="af412" type="radio" name="sc412" value="fail"><label for="af412">Échouée</label>
						<input id="an412" type="radio" name="sc412" value="na"><label for="an412"><abbr title="Sans objet">S/O</abbr></label>
					</fieldset>
				</li>
				<li>
					<fieldset>
						<legend><a href="https://www.w3.org/TR/WCAG21/#status-messages" rel="external" aria-describedby="g41"><span lang="en">4.1.3 Status Messages (Niveau&#160;AA)</span> (anglais seulement)</a></legend>
						<input id="aap413" type="radio" name="sc413" value="pass"><label for="aap413">Réussi</label>
						<input id="aaf413" type="radio" name="sc413" value="fail"><label for="aaf413">Échouée</label>
						<input id="aan413" type="radio" name="sc413" value="na"><label for="aan413"><abbr title="Sans objet">S/O</abbr></label>
					</fieldset>
				</li>
			</ol>
		</section>
	</section>

	<section>
		<h3 id="sm">Sommaire</h3>
		<table id="summary" class="table">
			<tbody>
				<tr>
					<th scope="row">Critères de succès de niveau&#160;A réussis</th>
					<td class="text-right"><span id="rsltA"></span>/30 (<span id="percA"></span>&#160;%)</td>
				</tr>
				<tr>
					<th scope="row">Critères de succès de niveau&#160;AA réussis</th>
					<td class="text-right"><span id="rsltAA"></span>/20 (<span id="percAA"></span>&#160;%)</td>
				</tr>
				<tr class="success">
					<th scope="row">Critères de succès totaux réussis</th>
					<td class="text-right"><span id="rsltTotal"></span>/50 (<span id="percTotal"></span>&#160;%)</td>
				</tr>
				<tr class="active">
					<th scope="row">Critéres de succès évalués</th>
					<td class="text-right"><span id="evalTotal"></span>/50 (<span id="percEvalTotal"></span>&#160;%)</td>
				</tr>
				<tr class="active">
					<th scope="row">Critéres de succès <abbr title="Sans objet">S/O</abbr></th>
					<td class="text-right"><span id="naTotal"></span>/50 (<span id="percNATotal"></span>&#160;%)</td>
				</tr>
			</tbody>
		</table>
		<p><strong>Nota&#160;:</strong> Le nombre de critères de succès réussis est le nombre total de réussis et&#160;de&#160;<abbr title="Sans objet">S/O</abbr>.</p>
	</section>
</section>

<section>
	<h2 id="gl">Glossaire</h2>
	<section>
		<h3 id="success">Critères de succès</h3>
		<p>Des critères de succès testables sont fournis pour chaque règle afin de permettre l’utilisation des WCAG 2.0 là où des exigences et des tests de conformité sont nécessaires, notamment pour la spécification de conception, l’achat, la réglementation et les ententes contractuelles. Afin de répondre aux besoins de divers groupes et de différents contextes, trois niveaux de conformité ont été définis&#160;: A (le plus bas), AA et AAA (le plus élevé). Il est possible d’obtenir de plus amples renseignements sur les niveaux des WCAG en consultant le document intitulé <a href="https://www.braillenet.org/accessibilite/comprendre-wcag20/CAT20110222/conformance.html#uc-levels-head" rel="external">Comprendre les niveaux de conformité</a>.</p>
		<p><strong>Source&#160;:</strong> <a href="https://www.w3.org/Translations/WCAG20-fr/#intro-layers-guidance" rel="external">Règles pour l'accessibilité des contenus Web (WCAG) 2.0, Les différents niveaux de lecture des WCAG 2.0</a></p>
	</section>

	<section>
		<h3 id="reliedupondef">Dépendre [des technologies]</h3>
		<p>Le contenu ne serait pas <a href="https://www.w3.org/Translations/WCAG20-fr/#conformancedef" rel="external">conforme</a> si cette <a href="https://www.w3.org/Translations/WCAG20-fr/#technologydef" rel="external">technologie</a> était inactivée ou si elle n’était pas compatible.</p>
		<p><strong>Source&#160;:</strong> <a href="https://www.w3.org/Translations/WCAG20-fr/#reliedupondef" rel="external">Règles pour l'accessibilité des contenus Web (WCAG) 2.0, Annexe A&#160;: Glossaire</a></p>
	</section>

	<section>
		<h3 id="webpagedef">Page Web</h3>
		<p>Une ressource autonome obtenue depuis un identificateur de ressource uniforme (URI) unique grâce au protocole HTTP, accompagnée de toutes les autres ressources utilisées dans la restitution ou conçues pour être restituées simultanément par un <a href="https://www.w3.org/Translations/WCAG20-fr/#useragentdef" rel="external">agent utilisateur</a></p>
		<p><em>Nota 1&#160;:</em> Bien que toutes les «&#160;autres ressources&#160;» seraient restituées avec la ressource primaire, elles ne sont pas nécessairement restituées simultanément.</p>
		<p><em>Nota 2&#160;:</em> À des fins de conformité avec ces règles, une ressource doit être autonome à l’intérieur du périmètre de conformité pour être considérée comme une page Web.</p>
		<p><em>Exemple 1&#160;:</em> Une ressource Web incluant toutes les images et médias intégrés.</p>
		<p><em>Exemple 2&#160;:</em> Un programme Web de courrier électronique (Webmail) développé à l’aide d’AJAX (Asynchronous JavaScript and XML, JavaScript asynchrone et XML). Le programme réside intégralement à l’adresse https://exemple.com/mail, mais comprend une boîte de réception, un carnet d’adresses et un calendrier. Des liens et des boutons permettent d’afficher la boîte de réception, les contacts ou le calendrier, mais ne changent pas globalement l’URI de la page.</p>
		<p><em>Exemple 3&#160;:</em> Un site portail personnalisable, dans lequel les utilisateurs peuvent choisir le contenu qu’ils souhaitent publier à partir d’un ensemble de modules de contenu.</p>
		<p><em>Exemple 4&#160;:</em> Quand on saisit «&#160;https://shopping.exemple.com/&#160;» dans son navigateur, on entre dans un environnement commercial animé et interactif dans lequel on se déplace visuellement dans une boutique, retirant les produits directement depuis les rayons pour les placer dans un panier d’achat face à soi. Le fait de cliquer sur un produit déclenche une démonstration avec la fiche technique juste à côté. Cela peut être un site Web à page unique ou simplement une page à l’intérieur d’un site Web.</p>
		<p><strong>Source&#160;:</strong> <a href="https://www.w3.org/Translations/WCAG20-fr/#webpagedef" rel="external">Règles pour l'accessibilité des contenus Web (WCAG) 2.0, Annexe A&#160;: Glossaire</a></p>
	</section>

	<section>
		<h3 id="sufftech">Techniques suffisantes et techniques recommandées</h3>
		<p>Pour chaque règle et chaque critère de succès des WCAG 2.0, le groupe de travail a également documenté une grande variété de techniques. Ces techniques sont informatives et se divisent en deux catégories : celles qui sont suffisantes pour satisfaire au critère de succès et celles qui sont recommandées. Les techniques recommandées vont plus loin que ce qui est requis par chacun des critères de succès et elles permettent aux auteurs de mieux respecter les règles. Certaines techniques recommandées concernent des problèmes d’accessibilité qui ne sont pas traités par les critères de succès testables. Lorsque des échecs fréquents sont connus, ils sont aussi documentés. Voir également les <a href="https://www.w3.org/TR/UNDERSTANDING-WCAG20/intro.html#introduction-layers-techs-head" rel="external">techniques suffisantes et les techniques recommandées dans Comprendre les WCAG 2.0</a>.</p>
		<p><strong>Source&#160;:</strong> <a href="https://www.w3.org/Translations/WCAG20-fr/#intro-layers-guidance" rel="external">Règles pour l'accessibilité des contenus Web (WCAG) 2.0, Les différents niveaux de lecture des WCAG 2.0</a></p>
	</section>

	<section>
		<h3 id="technologydef">Technologie Web</h3>
		<p><a href="https://www.w3.org/Translations/WCAG20-fr/#mechanismdef" rel="external">Mécanisme</a> d’encodage d’instructions que doivent faire appliquer, lire ou exécuter des <a href="https://www.w3.org/Translations/WCAG20-fr/#useragentdef" rel="external">agents utilisateurs</a></p>
		<p><em>Nota 1&#160;:</em> Tel qu’employés dans ces règles, l’expression «&#160;technologie Web&#160;» et le mot «&#160;technologie&#160;» (utilisé seul) désignent les technologies relatives aux contenus Web.</p>
		<p><em>Nota 2&#160;:</em> Les technologies relatives aux contenus Web comprennent les langages de balisage, les formats de données ou les langages de programmation que les auteurs sont amenés à utiliser seuls ou combinés pour créer des expériences pour l’utilisateur final qui vont de pages Web statiques jusqu’à des présentations multimédia synchronisées, en passant par des applications Web dynamiques.</p>
		<p><em>Exemple&#160;:</em> On compte parmi les exemples les plus fréquents de technologies Web : HTML, CSS, SVG, PNG, PDF, Flash et JavaScript.</p>
		<p><strong>Source&#160;:</strong> <a href="https://www.w3.org/Translations/WCAG20-fr/#technologydef" rel="external">Règles pour l'accessibilité des contenus Web (WCAG) 2.0, Annexe A&#160;: Glossaire</a></p>
	</section>
</section>
