---
{
	"title": "Dismissable content",
	"language": "en",
	"category": "Plugins",
	"categoryfile": "plugins",
	"description": "Make content dismissable by users.",
	"altLangPrefix": "dismissable-content",
	"dateModified": "2015-05-11"
}
---
<span class="wb-prettify all-pre hide"></span>

<section>
	<h2>Purpose</h2>
	<p>Make content dismissable by users.</p>
</section>

<section>
	<h2>Use when</h2>
	<ul>
		<li>You want to allow the user to dismiss non-primary content that they only need to see once (e.g., advertisements, notices).</li>
	</ul>
</section>

<section>
	<h2>Do not use when</h2>
	<p>The content is primary content.</p>
</section>

<section>
	<h2>Working example</h2>
	<p><a href="../../../demos/dismissable-content/dismissable-content-en.html">Working example of the dismissable content plugin</a></p>
</section>

<section>
	<h2>How to implement</h2>
	<ol>
		<li>Add the class <code>wb-dismissable</code> to the element that contains the content you want to make dismissable.</li>
	</ol>
</section>

<section>
	<h2>Configuration options</h2>
	<p>There are no configuration options.</p>
</section>

<section>
	<h2>Events</h2>
	<p>To complete.</p>
</section>

<section>
	<h2>Source code</h2>
	<p><a href="https://github.com/wet-boew/wet-boew/tree/master/src/plugins/dimissable-content">Source code for the dismissable content plugin on GitHub</a></p>
</section>
