---
{
	"title": "Contenu écartable",
	"language": "fr",
	"category": "Plugiciels",
	"categoryfile": "plugins",
	"description": "Permettre aux utilisateurs d'écarter certains contenus.",
	"altLangPrefix": "dismissable-content",
	"dateModified": "2015-05-11"
}
---
<span class="wb-prettify all-pre hide"></span>

<section>
	<h2>Fonction</h2>
	<p>Permettre aux utilisateurs d'écarter certains contenus.</p>
</section>

<section>
	<h2>Utiliser lorsque</h2>
	<ul>
		<li>Vous voulez permettre à l'utilisateur d'écarter du contenu non principal qu'il n'a besoin de voir qu'une seul fois (p. ex. publicités, avis).</li>
	</ul>
</section>

<section>
	<h2>Éviter lorsque</h2>
	<p>Le contenu est du contenu principal.</p>
</section>

<section>
	<h2>Exemples pratiques</h2>
	<p><a href="../../../demos/dismissable-content/dismissable-content-fr.html">Exemples pratiques du plugiciel de contenu écartable</a></p>
</section>

<section>
	<h2>Comment implémenter le plucigiel</h2>
	<ol>
		<li>Ajouter la classe <code lang="en">wb-dismissable</code> à l'élément qui contient le contenu que vous voulez rendre écartable.</li>
	</ol>
</section>

<section>
	<h2>Paramètres de configuration</h2>
	<p>Aucun paramètre de configuration.</p>
</section>

<section>
	<h2>Événements</h2>
	<p>À compléter.</p>
</section>

<section>
	<h2>Code source</h2>
	<p><a href="https://github.com/wet-boew/wet-boew/tree/master/src/plugins/equalheight">Code source du plugiciel d'égalisation des hauteurs sur <span lang="en">GitHub</span></a></p>
</section>
