/*
 Search
 */
#wb-srch {
	padding-right: 10px;
	padding-top: .9em;
	text-align: right;

	.form-group {
		width: 70%;
	}
}

#wb-srch,
.srch-pnl {
	.form-control {
		width: 100%;
	}
}

[lang=fr] {
	#wb-srch {
		.form-group {
			width: 60%;
		}
	}
}

[dir=rtl] {
	#wb-srch {
		text-align: left;
	}
}
