---
{
	"title": "Data Fusion Query",
	"language": "en",
	"category": "Plugins",
	"description": "Map a query parameter value into an input value.",
	"tag": "data-fusion-query",
	"parentdir": "data-fusion-query",
	"altLangPrefix": "data-fusion-query",
	"dateModified": "2022-02-23"
}
---

<p>Map a query parameter value into an input value.</p>

<p>For an example, click the following link and the value of the input bellow would be adjusted accordingly.</p>
<ul>
	<li><a href="?text=this+is+a+test">Text, setting the following value "this is a test" (<code>?text=this+is+a+test</code>)</a></li>
	<li><a href="?select=ipsum">Select, setting the following value "ipsum" (<code>?select=ipsum</code>)</a></li>
	<li><a href="?multiline=This+is+a+multiline+%3Cstrong%3Eemphasis%3C/strong%3E">Multiline text, setting the following value "This is a multiline &lt;strong&gt;emphasis&lt;/strong&gt;" (<code>?multiline=This+is+a+multiline+%3Cstrong%3Eemphasis%3C/strong%3E</code>)</a></li>
</ul>

<div class="form-group">
	<label for="id-text">Text input</label>
	<input class="form-control" id="id-text" name="text" type="text" data-fusion-query />
</div>

<div class="form-group">
	<label for="id-select">Select</label>
	<select class="form-control" id="id-select" name="select" data-fusion-query>
		<option label="Select"></option>
		<option value="lorem">Lorem</option>
		<option value="ipsum">Ipsum</option>
		<option value="value3">Value 3</option>
	</select>
</div>

<div class="form-group">
	<label for="id-multiline">Multiline text</label>
	<textarea class="form-control" id="id-multiline" name="multiline" rows="5" cols="45" data-fusion-query></textarea>
</div>
