<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en">
<!--<![endif]-->
<head>
<meta charset="utf-8">
<!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->
<title>{{title}}</title>
<link href="images/favicon.ico" rel="shortcut icon">
<meta content="width=device-width, initial-scale=1" name="viewport">

<link rel="stylesheet" href="css/base.css">
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/theme.css">

<!-- Polyfill loader-->
<!--[if lt IE 9]>
<script src="js/oldie/respond.min.js"></script>
<script src="js/oldie/jquery.min.js"></script>
<script src="js/oldie/selectivizr.min.js"></script><![endif]-->
<!--[if gte IE 9 | !IE ]><!-->
<script src="js/jquery.min.js"></script>
<!--<![endif]-->
<script src="js/vapour.min.js"></script>

</head>
<body>
<div id="wb-skip">
	<ul id="wb-tphp">
		<li id="wb-skip1"><a href="#wb-cont">Skip to main content</a></li>
		<li id="wb-skip2"><a href="#wb-nav">Skip to footer</a></li>
	</ul>
</div>
<header>
	<nav id="wb-glb-mn" role="navigation">
		<ul id="wet-mnavbar">
			<li><a href="#mnpanel" title="Menu"><span>Menu</span></a></li>
			<li><a href="#srchpnl" title="Search"><span>Search</span></a></li>
			<li><a href="#sttgpnl" title="Settings"><span>Settings</span></a></li>
		</ul>
	</nav>
	<section id="wb-lang">
		<div class="container">
			<h3>Languages</h3>
			<ul>
				<li class="current">English <span>(current)</span></li>
				<li><a lang="fr" href="http://wet-boew.github.io/wet-boew/index-fr.html">Français</a></li>
			</ul>
		</div>
	</section>
	<div id="wb-title">
		<div class="container">
			<a href="../index-en.html"><object type="images/svg+xml" tabindex="-1" role="img" data="images/logo.svg" aria-label="Web Experience Toolkit"></object></a>
			<p><a href="../index-en.html" lang="en"><span>Web Experience Toolkit&#160;(WET) <small>Collaborative open source project led by the Government of Canada</small></span></a></p>
			<section id="wb-srch">
				<h2>Search</h2>
				<form action="#" method="post" class="form-inline">
					<div id="wet-srchbx-in">
						<label for="wb-srch-txt">Search website</label>
						<input id="wb-srch-txt" class="wb-srch-txt form-control" name="wb-srch-txt" type="search" value="" size="27" maxlength="150" />
						<button type="submit"	id="wb-srch-submit" class="wb-srch-submit btn btn-primary btn-small" name="wb-srch-submit">Search</button>
					</div>
				</form>
			</section>
		</div>
	</div>
	<section id="wb-nav">
		<h2>Navigation</h2>
		<nav id="wb-st-nav" class="container">
			<section>
				<h3>Site Menu</h3>
					<section>
						<h3>WET Project</h3>
						<section>
							<h4><a href="http://wet-boew.github.io/wet-boew/index-en.html#about" data-iconpos="left" data-icon="arrow-d" data-corners="false" data-role="button" >About WET</a></h4>
							<ul>
								<li><a href="http://wet-boew.github.io/wet-boew/index-en.html#about">What is WET?</a></li>
								<li><a href="http://wet-boew.github.io/wet-boew/index-en.html#benefits">Benefits</a></li>
								<li><a href="https://github.com/wet-boew/wet-boew/wiki/Accolades">Accolades for WET</a></li>
								<li><a href="https://github.com/wet-boew/wet-boew/wiki/Accolades#wiki-Known_implementations">Known implementations</a></li>
								<li><a href="https://github.com/wet-boew/wet-boew/wiki#upcoming-events">Events</a></li>
								<li><a href="https://github.com/wet-boew/wet-boew/">Main project</a></li>
								<li><a href="http://wet-boew.github.io/wet-boew/License-en.html">Terms and conditions of use</a></li>
								<li><a href="https://github.com/wet-boew/wet-boew/wiki/Roadmap">Roadmap of past and future releases</a></li>
								<li><a href="http://wet-boew.github.io/wet-boew/index-en.html#version-history">Version history</a></li>
								<li><a href="https://github.com/wet-boew/wet-boew/wiki/External-Projects-used-in-WET">External projects used in WET</a></li>
							</ul>
						</section>
						<section>
							<h4><a href="http://www.tbs-sct.gc.ca/ws-nw/index-eng.asp" data-corners="false" data-iconpos="left" data-icon="arrow-d" data-role="button">About the Web Standards</a></h4>
							<ul>
								<li><a href="http://www.tbs-sct.gc.ca/pol/doc-eng.aspx?id=27088">Standard on Optimizing Websites and Applications for Mobile Devices</a></li>
								<li><a href="http://www.tbs-sct.gc.ca/pol/doc-eng.aspx?id=23601">Standard on Web Accessibility</a></li>
								<li><a href="http://www.tbs-sct.gc.ca/pol/doc-eng.aspx?id=24227">Standard on Web Usability</a></li>
								<li><a href="http://www.tbs-sct.gc.ca/pol/doc-eng.aspx?id=25875">Standard on Web Interoperability</a></li>
							</ul>
						</section>
					</section>
					<section>
						<h3>Implement WET</h3>
						<section>
							<h4><a href="https://github.com/wet-boew/wet-boew/wiki#getting-started" data-corners="false" data-iconpos="left" data-icon="arrow-d" data-role="button">Getting started</a></h4>
							<ul>
								<li><a href="https://github.com/wet-boew/wet-boew/wiki/Getting-Started-with-WET">Getting started with WET</a></li>
								<li><a href="https://github.com/wet-boew/wet-boew/wiki/Using-Github-for-WET">Using Github for WET</a></li>
								<li><a href="https://github.com/wet-boew/wet-boew/wiki/Downloads">Download WET</a></li>
							</ul>
						</section>
						<section>
							<h4><a href="http://wet-boew.github.io/wet-boew/demos/guide-design/guide-en.html" data-corners="false" data-iconpos="left" data-icon="arrow-d" data-role="button">Designing sites and page layouts</a></h4>
							<ul>
								<li><a href="http://wet-boew.github.io/wet-boew/demos/grids/grid-base-en.html">Using grids to design pages</a></li>
								<li><a href="https://github.com/wet-boew/wet-boew/wiki/Themes-and-Style">Themes and style</a></li>
								<li><a href="http://wet-boew.github.io/wet-boew/demos/opt-cont/index-en.html">Optimal content examples</a></li>
							</ul>
						</section>
						<section>
							<h4><a href="https://github.com/wet-boew/wet-boew/wiki/Implementing-WET" data-corners="false" data-iconpos="left" data-icon="arrow-d" data-role="button">Working with WET</a></h4>
							<ul>
								<li><a href="http://wet-boew.github.io/wet-boew/demos/index-en.html">Working examples</a></li>
								<li>
									<section>
										<h5><a href="https://github.com/wet-boew/wet-boew/wiki#reference" data-corners="false" data-iconpos="left" data-icon="arrow-d" data-role="button">Documentation</a></h5>
										<ul>
											<li data-iconpos="right" data-icon="arrow-r" data-iconshadow="true" data-shadow="false" data-corners="false"><a href="https://github.com/wet-boew/wet-boew/wiki/Core-Framework">Core framework</a></li>
											<li data-iconpos="right" data-icon="arrow-r" data-iconshadow="true" data-shadow="false" data-corners="false"><a href="https://github.com/wet-boew/wet-boew/wiki/Variants">Variants</a></li>
											<li data-iconpos="right" data-icon="arrow-r" data-iconshadow="true" data-shadow="false" data-corners="false"><a href="https://github.com/wet-boew/wet-boew/wiki/Themes-and-Style">Themes and style</a></li>
											<li data-iconpos="right" data-icon="arrow-r" data-iconshadow="true" data-shadow="false" data-corners="false"><a href="https://github.com/wet-boew/wet-boew/wiki/Plugins">Plugins</a></li>
											<li data-iconpos="right" data-icon="arrow-r" data-iconshadow="true" data-shadow="false" data-corners="false"><a href="https://github.com/wet-boew/wet-boew/wiki/Polyfills">Polyfills</a></li>
										</ul>
									</section>
								</li>
							</ul>
						</section>
					</section>
					<section>
						<h3>Contribute to WET</h3>
						<section>
							<h4><a href="https://github.com/wet-boew/wet-boew/wiki/Contributor-guidelines" data-corners="false" data-iconpos="left" data-icon="arrow-d" data-role="button">Contributor guidelines</a></h4>
							<ul>
								<li><a href="https://github.com/wet-boew/wet-boew/wiki/Contributor-guidelines#wiki-Filing_a_bug_or_an_Issue">Filing a bug or an issue</a></li>
								<li><a href="https://github.com/wet-boew/wet-boew/wiki/Contributor-guidelines#wiki-Creating_a_Pull_Request">Creating a pull request</a></li>
								<li><a href="https://github.com/wet-boew/wet-boew/wiki/Contributor-guidelines#testing-you-pr-before-submitting">Testing your code</a></li>
							</ul>
						</section>
						<section>
							<h4><a href="https://github.com/wet-boew/wet-boew/wiki#ongoing-projects" data-corners="false" data-iconpos="left" data-icon="arrow-d" data-role="button">Participating in a project</a></h4>
							<ul>
								<li><a href="https://github.com/wet-boew/wet-boew/wiki/Developing-for-WET">Developing for WET</a></li>
								<li><a href="https://github.com/wet-boew/wet-boew/wiki/Creating-Documentation">Creating documentation</a></li>
								<li><a href="https://github.com/wet-boew/wet-boew/wiki/Testing">Testing a component</a></li>
							</ul>
						</section>
					</section>
			</section>
		</nav>
		<nav id="wb-bc" class="container">
			<section>
				<h2>Breadcrumb trail</h2>
				<ol>
					<li><a href="../index-en.html">Home</a></li>
					<li>Working examples</li>
				</ol>
			</section>
		</nav>
	</section>
</header>
<main class="container">
	{{> body }}
</main>
<footer id="wb-org-nav" class="container">
	<section class="row">
		<h3>About</h3>
		<section class="col-sm-3 col-lg-3">
			<h4>About</h4>
			<ul>
				<li><a href="#">About the Web Experience Toolkit</a></li>
				<li><a href="#">About the Web Standards</a></li>
			</ul>
		</section>
		<section class="col-sm-3 col-lg-3">
			<h4>Contact us</h4>
			<ul>
				<li><a href="#">Questions or comments?</a></li>
			</ul>
		</section>
		<section class="col-sm-3 col-lg-3">
			<h4>News</h4>
			<ul>
				<li><a href="#">Recent project activity</a></li>
			</ul>
		</section>
		<section class="col-sm-3 col-lg-3">
			<h4>Stay Connected</h4>
			<ul>
				<li><a href="#">Twitter</a></li>
			</ul>
		</section>
	</section>
</footer>

<script src="js/wet-boew.min.js"></script>
</body>
</html>
