---
{
	"title": "Exitsctipt middle page",
	"language": "en",
	"category": "Plugins",
	"description": "Redirects users to non secure sites.",
	"tag": "exitscript",
	"parentdir": "exitscript",
	"altLangPrefix": "exitscript",
	"dateModified": "2020-06-17"
}
---
<p>Your original destination was: <span class="wb-exitscript wb-exitscript-urlparam"></span></p>
<details class="mrgn-bttm-md">
<summary>View code</summary>
	<pre><code>
	&lt;p&gt;Your original destination was: &lt;span class="wb-exitscript wb-exitscript-exiturlparam"&gt;&lt;/span&gt;&lt;/p&gt;
	</code></pre>
</details>
