---
{
	"title": "Sortie de navigation avisé",
	"language": "fr",
	"category": "Plugiciels",
	"description": "Aviser l'utilisateur d'une redirection vers un autre site.",
	"tag": "exitscript",
	"parentdir": "exitscript",
	"altLangPrefix": "exitscript",
	"dateModified": "2020-06-17"
}
---
<p>Aviser l'utilisateur d'une redirection vers un autre site.</p>
<p>Configuration par défaut:</p>
<dl>
<dt>"i18n": { "msgboxHeader": }: </dt>
<dd>"Avertissement"</dd>
<dt>"i18n": { "exitMsg": }: </dt>
<dd>"Vous êtes sur le point de quitter un site sécurisé. Voulez-vous continuer?"</dd>
<dt>"i18n": { "targetWarning": }: </dt>
<dd>"Le lien s'ouvrira dans une nouvelle fenêtre de navigateur."</dd>
<dt>"i18n": { "yesBtn": }: </dt>
<dd>Oui</dd>
<dt>"i18n": { "cancelBtn" }: </dt>
<dd>Annuler</dd>
<dt>target</dt>
<dd>_self</dd>
</dl>
<p>Scénario – 1: <a href="http://csszengarden.com/219" class="wb-exitscript">http://csszengarden.com/219</a></p>
<p>Ce scénario affiche une fenêtre modale avec le message suivant&nbsp;: “Vous êtes sur le point de quitter un site sécurisé. Voulez-vous continuer?”</p>
<details class="mrgn-bttm-md">
<summary>Consulter le code</summary>
	<pre><code>
	&lt;a href="http://csszengarden.com/219" class="wb-exitscript"&gt;http://csszengarden.com/219&lt;/a&gt;
	</code></pre>
</details>
<p>Scénario – 2: <a href="http://csszengarden.com/219" class="wb-exitscript" target="_blank">http://csszengarden.com/219</a></p>
<p>Ce scénario affiche une fenêtre modale avec le message suivant&nbsp;: “Vous êtes sur le point de quitter un site sécurisé. Voulez-vous continuer? Le lien s'ouvrira dans une nouvelle fenêtre de navigateur”</p>
<details class="mrgn-bttm-md">
<summary>Consulter le code</summary>
	<pre><code>
	&lt;a href="http://csszengarden.com/219" class="wb-exitscript" target="_blank"&gt;http://csszengarden.com/219&lt;/a&gt;
	</code></pre>
</details>
<p>Scénario – 3: <a href="http://csszengarden.com/219" class="wb-exitscript" data-wb-exitscript='{"url": "../../docs/ref/exitscript/exiturl-fr.html"}'>http://csszengarden.com/219</a></p>
<p>Dans ce scénario, la page intermédiaire s'ouvre dans la même fenêtre et ce dernier contiendra un lien vers le site web externe.</p>
<details class="mrgn-bttm-md">
<summary>Consulter le code</summary>
	<pre><code>
	&lt;a href="http://csszengarden.com/219" class="wb-exitscript" data-wb-exitscript='{"url": "../../docs/ref/exitscript/exiturl-fr.html"}'&gt;http://csszengarden.com/219&lt;/a&gt;
	</code></pre>
</details>
<p>Scénario – 4: <a href="http://csszengarden.com/219" class="wb-exitscript" target="_blank" data-wb-exitscript='{"url": "../../docs/ref/exitscript/exiturl-fr.html"}'>http://csszengarden.com/219</a></p>
<p>Dans ce scénario, le lien ouvrira une page intermédiaire dans une nouvelle fenêtre du navigateur afin d'aviser l'utilisateur qu'il est sur le point de quitter le site web.</p>
<details class="mrgn-bttm-md">
<summary>Consulter le code</summary>
	<pre><code>
	&lt;a href="http://csszengarden.com/219" class="wb-exitscript" target="_blank" data-wb-exitscript='{"url": "../../docs/ref/exitscript/exiturl-fr.html"}'&gt;http://csszengarden.com/219&lt;/a&gt;
	</code></pre>
</details>
<p>Cet exemple affiche un message personnalisé dans la fenêtre modale.</p>
<p><a href="http://csszengarden.com/219" class="wb-exitscript" data-wb-exitscript='{"i18n": { "exitMsg": "Ceci est un message personnalisé.", "cancelBtn": "Non merci", "yesBtn": "Oui S.V.P." }}'>http://csszengarden.com/219</a></p>
<details class="mrgn-bttm-md">
<summary>Consulter le code</summary>
	<pre><code>
	&lt;a href="http://csszengarden.com/219" class="wb-exitscript" data-wb-exitscript='{
	"i18n":{
	"exitMsg": "Ceci est un message personnalisé.",
	"cancelBtn": "Non merci",
	"yesBtn": "Oui S.V.P." }
	}'&gt;http://csszengarden.com/219&lt;/a&gt;
	</code></pre>
</details>
<p>Les auteurs peuvent configurer les étiquettes des boutons, le titre de la boîte de message et personnaliser un message.</p>
<p><a href="http://csszengarden.com/219" class="wb-exitscript" data-wb-exitscript='{"i18n": { "msgboxHeader": "Avertissement de sortie", "cancelBtn": "Non merci", "yesBtn": "Oui S.V.P." }}'>http://csszengarden.com/219</a></p>
<details class="mrgn-bttm-md">
<summary>Consulter le code</summary>
	<pre><code>
	&lt;a href="http://csszengarden.com/219" class="wb-exitscript" data-wb-exitscript='{
	"i18n":{ "msgboxHeader": "Avertissement de sortie",
	"cancelBtn": "Non merci",
	"yesBtn": "Oui S.V.P." }
	}'&gt;http://csszengarden.com/219&lt;/a&gt;
	</code></pre>
</details>
