/*
 Default Mixins and namespace variables
 */
%wb-default-screen-verdana-font {
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

%wb-default-screen-clearfix {
	content: "";
	display: table;
}
