// Theme Variable overrides

// Body
$body-bg: #f9f9f9; // Body element's background colour (Bootstrap override).

// Breadcrumb
$breadcrumb-bg: #fff; // Inner background colour (Bootstrap override).

// Main
$main-bg: $breadcrumb-bg; // Main element's background colour (WET override).

// Sign in / off
$wb-so-background-color: #fff;

@import "../src/variables";
