---
{
	"title": "WET theme",
	"tag": "theme-wet-boew",
	"parentdir": "theme-wet-boew",
	"altLangPrefix": "index",
	"dateModified": "2014-02-19"
}
---
<section>
	<h2>English</h2>
	<ul>
		<li><a href="content/index-en.html">Content page</a></li>
		<li><a href="content/sec-menu-en.html">Content page - Secondary menu</a></li>
		<li><a href="content/no-search-lang-en.html">Content page - No search or language selection link</a></li>
		<li><a href="content/no-search-lang-en.html">Content page - No site menu or breadcrumb trail</a></li>
		<li><a href="content/no-search-lang-site-menu-bc-en.html">Content page - No search, language selection link, site menu or breadcrumb trail</a></li>
		<li><a href="splash-page/splashpage-en.html">Splash page</a></li>
	</ul>
</section>

<section>
	<h2>French</h2>
	<ul>
		<li><a href="content/index-fr.html">Content page</a></li>
		<li><a href="content/sec-menu-fr.html">Content page - Secondary menu</a></li>
		<li><a href="content/no-search-lang-fr.html">Content page - No search or language selection link</a></li>
		<li><a href="content/no-site-menu-bc-fr.html">Content page - No site menu or breadcrumb trail</a></li>
		<li><a href="content/no-search-lang-site-menu-bc-fr.html">Content page - No search, language selection link, site menu or breadcrumb trail</a></li>
		<li><a href="splash-page/splashpage-fr.html">Splash page</a></li>
	</ul>
</section>
