---
title: Web Experience Toolkit (WET)
language: fr
---

<section><h2>En-tête 2 (<code>h2</code>) - apparence par défaut</h2>
	<section><h3>En-tête 3 (<code>h3</code>) - apparence par défaut</h3>
		<section><h4>En-tête 4 (<code>h4</code>) - apparence par défaut</h4>
			<section><h5>En-tête 5 (<code>h5</code>) - apparence par défaut</h5>
				<section><h6>En-tête 6 (<code>h6</code>) - apparence par défaut</h6>
					<p>Paragraphe apparence par défaut</p>
				</section>
			</section>
		</section>
	</section>
</section>

<p><a class="ui-link" href="#">Lien - apparence par défaut</a></p>
<p><a class="ui-link" href="mailto:">Lien (<code>mailto:</code>) - apparence par défaut</a></p>
<p><a class="ui-link" href="http://www." rel="external">Lien (<code>rel="external"</code>) - apparence par défaut</a></p>
<p><a class="ui-link" href=".doc">Lien - téléchargements des fichiers fondés sur le type de fichier (<code>.doc</code>, <code>.psd</code>, <code>.zip</code>, <code>.pdf</code>, <code>.xls</code>, <code>.xlt</code>, <code>.rtf</code> et <code>.txt</code> - apparence par défaut</a></p>
<p>Abréviation - apparence par défaut: <abbr title="Gouvernement du Canada">GC</abbr>.</p>

<ul>
<li>liste à puces (<code>ul</code>) - niveau 1 - apparence par défaut
	<ul>
	<li>liste à puces (<code>ul</code>) - niveau 2 - apparence par défaut
		<ul>
		<li>liste à puces (<code>ul</code>) - niveau 3 - apparence par défaut</li>
		</ul>
	</li>
	</ul>
</li>
</ul>

<ol>
<li>liste ordonnée (<code>ol</code>) - niveau 1 - apparence par défaut</li>
<li>liste ordonnée (<code>ol</code>) - niveau 1 - apparence par défaut
	<ol>
	<li>liste ordonnée (<code>ol</code>) - niveau 2 - apparence par défaut</li>
	<li>liste ordonnée (<code>ol</code>) - niveau 2 - apparence par défaut
		<ol>
		<li>liste ordonnée (<code>ol</code>) - niveau 3 - apparence par défaut</li>
		<li>liste ordonnée (<code>ol</code>) - niveau 3 - apparence par défaut</li>
		</ol>
	</li>
	</ol>
</li>
</ol>

<table>
<caption>Légende de table - apparence par défaut</caption>
<thead>
<tr>
<th scope="col">En-tête de table (<code>th</code>) - apparence par défaut</th>
<th scope="col">En-tête de table (<code>th</code>) - apparence par défaut</th>
</tr>
</thead>
<tbody>
<tr>
<td>Données de table (<code>td</code>) - apparence par défaut</td>
<td>Données de table (<code>td</code>) - apparence par défaut</td>
</tr>
</tbody>
</table>

<form action="#" method="post">
<div><label for="data1">Formulaire (<code>input</code>) - apparence par défaut:</label> <input data-role="none" name="data1" id="data1" type="text"></div>
<div><label for="data2">Formulaire (<code>textarea</code>) - apparence par défaut:</label> <textarea data-role="none" name="data2" cols="15" rows="3" id="data2"></textarea></div>
<div><label for="data4">Formulaire (<code>select</code>) - apparence par défaut:</label>
<select data-role="none" id="data4" name="data4">
<option value="Option 1">Option 1</option>
<option value="Option 2">Option 2</option>
<option value="Option 3">Option 3</option>
<option value="Option 4">Option 4</option>
</select></div>
<fieldset><legend>Formulaire (<code>legend</code>, <code>fieldset</code> et <code>checkbox</code>) - apparence par défaut</legend>
<div><input data-role="none" name="checkbox" id="data5" value="checkbox" type="checkbox">&nbsp;<label for="data5">Option 1</label>&nbsp;&nbsp;
<input data-role="none" name="checkbox" id="data6" value="checkbox" type="checkbox">&nbsp;<label for="data6">Option 2</label>&nbsp;&nbsp;
<input data-role="none" name="checkbox" id="data7" value="checkbox" type="checkbox">&nbsp;<label for="data7">Option 3</label>&nbsp;&nbsp;
<input data-role="none" name="checkbox" id="data8" value="checkbox" type="checkbox">&nbsp;<label for="data8">Option 4</label></div>
</fieldset>
<div><input data-role="none" name="submit" id="submit" value="Soumettre - apparence par défaut" type="submit">
<input data-role="none" name="reset" id="reset" value="Réinitialiser - apparence par défaut" type="reset"></div>
</form>

<blockquote>
<p>"<code>blockquote</code> - apparence par défaut"</p>
</blockquote>