---
title: Web Experience Toolkit (WET),
language: en
---

<section>
	<section>
	<h2>Heading 2 (<code>h2</code>) - default appearance</h2>
	<section>
		<h3>Heading 3 (<code>h3</code>) - default appearance</h3>
		<section>
		<h4>Heading 4 (<code>h4</code>) - default appearance</h4>
		<section>
			<h5>Heading 5 (<code>h5</code>) - default appearance</h5>
			<section>
			<h6>Heading 6 (<code>h6</code>) - default appearance</h6>
			<p>Paragraph default appearance</p>
			</section>
		</section>
		</section>
	</section>
	</section>
	<blockquote>
	<p>"<code>blockquote</code> - default appearance"</p>
	</blockquote>
	<p><a href="#">Link - default appearance</a></p>
	<p><a href="mailto:">Link (<code>mailto:</code>) - default appearance</a></p>
	<p><a href="http://www." rel="external">Link (<code>rel="external"</code>) - default appearance</a></p>
	<p><a href=".doc">Link - file downloads based on file type (<code>.doc</code>, <code>.psd</code>, <code>.zip</code>, <code>.pdf</code>, <code>.xls</code>, <code>.xlt</code>, <code>.rtf</code> and <code>.txt</code> - default appearance</a></p>
	<p>Abbreviation - default appearance: <abbr title="Government of Canada">GC</abbr>.</p>
	<ul>
	<li>unordered list (<code>ul</code>) - level 1 - default appearance
		<ul>
		<li>unordered list (<code>ul</code>) - level 2 - default appearance
			<ul>
			<li>unordered list (<code>ul</code>) - level 3 - default appearance</li>
			</ul>
		</li>
		</ul>
	</li>
	</ul>
	<ol>
	<li>ordered list (<code>ol</code>) - level 1 - default appearance</li>
	<li>ordered list (<code>ol</code>) - level 1 - default appearance
		<ol>
		<li>ordered list (<code>ol</code>) - level 2 - default appearance</li>
		<li>ordered list (<code>ol</code>) - level 2 - default appearance
			<ol>
			<li>ordered list (<code>ol</code>) - level 3 - default appearance</li>
			<li>ordered list (<code>ol</code>) - level 3 - default appearance</li>
			</ol>
		</li>
		</ol>
	</li>
	</ol>
	<table class="table">
	<thead>
		<tr>
		<th>#</th>
		<th>First Name</th>
		<th>Last Name</th>
		<th>Username</th>
		</tr>
	</thead>
	<tbody>
		<tr>
		<td>1</td>
		<td>Mark</td>
		<td>Otto</td>
		<td>@mdo</td>
		</tr>
		<tr>
		<td>2</td>
		<td>Jacob</td>
		<td>Thornton</td>
		<td>@fat</td>
		</tr>
		<tr>
		<td>3</td>
		<td>Larry</td>
		<td>the Bird</td>
		<td>@twitter</td>
		</tr>
	</tbody>
	</table>
	<form>
	<fieldset>
	<legend>Legend</legend>
	<div class="form-group">
		<label for="exampleInputEmail">Email address</label>
		<input type="text" class="form-control" id="exampleInputEmail" placeholder="Enter email">
	</div>
	<div class="form-group">
		<label for="exampleInputPassword">Password</label>
		<input type="password" class="form-control" id="exampleInputPassword" placeholder="Password">
	</div>
	<button type="submit" class="btn btn-primary">Submit</button>
	</fieldset>
	</form>
</section>