---
{
	"title": "Directives sur l'application du correctif du fil de syndication pour la WET-BOEW et ses thèmes connexes",
	"language": "fr",
	"description": "Ce correctif met à jour le plugiciel du fil de syndication de la WET-BOEW afin de lire un flux JSON avec une structure similaire à ATOM",
	"altLangPrefix": "patch-for-v4.0.21-to-v4.0.29",
	"dateModified": "2019-01-15"
}
---

<p>Ce correctif met à jour le plugiciel du fil de syndication de la WET-BOEW afin de lire un flux JSON avec une structure similaire à ATOM.</p>

<p><a href="#instruction">Allez directement aux directives pour appliquer ce correctif.</a></p>

<p>Après que ce correctif soit appliqué selon les directives ci-dessous, il est possible que cela brise les implémentations existantes avec jsonp car le format par défaut a été changé à JSON. Nous avons estimé qu'il y avait très peu ou pas d'implémentation de ce type de flux/fil de syndication. Par ailleur, cette méthode était seulement documentée en fesant de l'ingénierie inverse du code Javascript du plugificiel du fil de syndication de la WET-BOEW.</p>

<p>Ceci s'applique à toute les implémentations de WET-BOEW, y compris les thèmes lancés entre les versions 4.0.21 et 4.0.29. <a href="#wet-boew-version">Consultez la liste complète.</a></p>

<h2>Ce correctif officialise les versions suivantes&nbsp;:</h2>
<ul>
	<li>v4.0.29.1 - Boîte à outils de l'expérience Web (BOEW)</li>
	<li>v4.0.29.1 - Canada.ca (GCWeb)</li>
	<li>v4.0.28.2 - Boîte à outils de l'expérience Web (BOEW)</li>
	<li>v4.0.28.2 - Canada.ca (GCWeb)</li>
	<li>v4.0.27.1 - Boîte à outils de l'expérience Web (BOEW)</li>
	<li>v4.0.27.1 - Base</li>
	<li>v4.0.27.1 - Canada.ca</li>
	<li>v4.0.27.1 - Facilité d’emploi Web du gouvernement du Canada</li>
	<li>v4.0.27.1 - Gouvernement du Canada pour les sites intranet</li>
	<li>v4.0.27.1 - Plate-forme de gouvernement ouvert (PGO)</li>
	<li>v4.0.26.1 - Boîte à outils de l'expérience Web (BOEW)</li>
	<li>v4.0.26.1 - Base</li>
	<li>v4.0.26.1 - Canada.ca</li>
	<li>v4.0.26.1 - Facilité d’emploi Web du gouvernement du Canada</li>
	<li>v4.0.26.1 - Gouvernement du Canada pour les sites intranet</li>
	<li>v4.0.26.1 - Plate-forme de gouvernement ouvert (PGO)</li>
	<li>v4.0.25.1 - Boîte à outils de l'expérience Web (BOEW)</li>
	<li>v4.0.25.1 - Base</li>
	<li>v4.0.25.1 - Canada.ca</li>
	<li>v4.0.25.1 - Facilité d’emploi Web du gouvernement du Canada</li>
	<li>v4.0.25.1 - Gouvernement du Canada pour les sites intranet</li>
	<li>v4.0.25.1 - Plate-forme de gouvernement ouvert (PGO)</li>
	<li>v4.0.24.1 - Boîte à outils de l'expérience Web (BOEW)</li>
	<li>v4.0.24.1 - Base</li>
	<li>v4.0.24.1 - Canada.ca</li>
	<li>v4.0.24.1 - Facilité d’emploi Web du gouvernement du Canada</li>
	<li>v4.0.24.1 - Gouvernement du Canada pour les sites intranet</li>
	<li>v4.0.24.1 - Plate-forme de gouvernement ouvert (PGO)</li>
	<li>v4.0.23.1 - Boîte à outils de l'expérience Web (BOEW)</li>
	<li>v4.0.23.1 - Base</li>
	<li>v4.0.23.1 - Canada.ca</li>
	<li>v4.0.23.1 - Facilité d’emploi Web du gouvernement du Canada</li>
	<li>v4.0.23.1 - Gouvernement du Canada pour les sites intranet</li>
	<li>v4.0.23.1 - Plate-forme de gouvernement ouvert (PGO)</li>
	<li>v4.0.22.1 - Boîte à outils de l'expérience Web (BOEW)</li>
	<li>v4.0.22.1 - Base</li>
	<li>v4.0.22.1 - Canada.ca</li>
	<li>v4.0.22.1 - Facilité d’emploi Web du gouvernement du Canada</li>
	<li>v4.0.22.1 - Gouvernement du Canada pour les sites intranet</li>
	<li>v4.0.22.1 - Plate-forme de gouvernement ouvert (PGO)</li>
	<li>v4.0.21.1 - Boîte à outils de l'expérience Web (BOEW)</li>
	<li>v4.0.21.1 - Base</li>
	<li>v4.0.21.1 - Canada.ca</li>
	<li>v4.0.21.1 - Facilité d’emploi Web du gouvernement du Canada</li>
	<li>v4.0.21.1 - Gouvernement du Canada pour les sites intranet</li>
	<li>v4.0.21.1 - Plate-forme de gouvernement ouvert (PGO)</li>
</ul>

<h2 id="instruction">Directives du correctif</h2>

<p>Pour appliquer ce correctif, vous devez mettre à jour les fichiers suivants:</p>
<ul>
	<li>wet-boew/js/wet-boew.js</li>
	<li>wet-boew/js/wet-boew.min.js</li>
	<li>js/wet-boew.js</li>
	<li>js/wet-boew.min.js</li>
</ul>
<p>Remarque&nbsp;: En fonction votre implémentation, vous aurez peut-être seulement deux fichiers à modifier. Pour des raisons techniques, la compilation de WET-BOEW contient des fichiers reproduits dans deux emplacements différents.</p>

<h3>Étapes</h3>

<ol>
	<li><a href="https://github.com/wet-boew/wet-boew/releases/download/patch-v4.0.21-to-v4.0.29/patch-for-v4.0.21-to-v4.0.29.zip">Téléchargez le fichier .zip</a> avec les versions de WET-BOEW corrigées.</li>
	<li>Extrayez le contenu du .zip.</li>
	<li>Choisissez la <a href="https://github.com/wet-boew/wet-boew/releases/tag/patch-v4.0.21-to-v4.0.29">version WET-BOEW applicable à votre implémentation</a>.</li>
	<li>Remplacez les fichiers <code>wet-boew.js</code> et <code>wet-boew.min.js</code> correspondants.</li>
	<li>Modifiez votre balisage afin d'utiliser la version du fil de syndication JSON similaire à ATOM.</li>
</ol>

<h3>Modifications au balisage</h3>
<p>Afin d'utiliser le fil de syndication JSON similaire à ATOM, vous devriez préciser l'URL vers la version JSON de ce fil de syndication.</p>

<ol>
	<li>Ajouter un attribut <code>data-ajax</code> à votre lien de fil de syndication.</li>
	<li>Fixez la valeur à une URL où vous pouvez récupérer la version JSON du fil de syndication en format similar à ATOM.</li>
	<li>Testez votre page.</li>
</ol>

<p>Le fil de syndication JSON spécifié par l'attribut <code>data-ajax</code> serait utilisé avant l'URL définie dans l'attribut <code>href</code>.</p>

<h4>Code d'avant</h4>
<pre><code>&lt;li&gt;
	&lt;a href="demo/manitoba-fr.atom.xml"&gt;Centre des nouvelles du Canada - Manitoba&lt;/a&gt;
&lt;/li&gt;</code></pre>

<h4>Code d'après</h4>
<pre><code>&lt;li&gt;
	&lt;a <strong>data-ajax="demo/manitoba-fr.atom.json"</strong> href="demo/manitoba-fr.atom.xml"&gt;Centre des nouvelles du Canada - Manitoba&lt;/a&gt;
&lt;/li&gt;</code></pre>

<h3>Comment appliquer le correctif manuellement</h3>
<ol>
	<li>Modifiez le fichier <code>wet-boew.js</code>.</li>
	<li>Appliquez les modifications telles que décrites pour le fichier <code>feed.js</code> dans le <a href="https://github.com/wet-boew/wet-boew/commit/8eb8c25d02cbdfeedb753ed0ce0008802f7bb5f5">commit 8eb8c25d</a>.</li>
	<li>Compressez le fichier <code>wet-boew.js</code> et remplacez le fichier <code>wet-boew.min.js</code>.</li>
	<li>Modifiez le balisage de votre page afin d'utiliser la version du fil de syndication JSON similaire à ATOM.</li>
</ol>

<h2 id="wet-boew-version">Correctif applicable pour les versions suivantes&nbsp;:</h2>
<ul>
	<li>v4.0.29 - Boîte à outils de l'expérience Web (BOEW)</li>
	<li>v4.0.29 - Canada.ca (GCWeb)</li>
	<li>v4.0.28.1 - Boîte à outils de l'expérience Web (BOEW)</li>
	<li>v4.0.28.1 - Canada.ca (GCWeb)</li>
	<li>v4.0.27 - Boîte à outils de l'expérience Web (BOEW)</li>
	<li>v4.0.27 - Base</li>
	<li>v4.0.27 - Canada.ca</li>
	<li>v4.0.27 - Facilité d’emploi Web du gouvernement du Canada</li>
	<li>v4.0.27 - Gouvernement du Canada pour les sites intranet</li>
	<li>v4.0.27 - Plate-forme de gouvernement ouvert (PGO)</li>
	<li>v4.0.26 - Boîte à outils de l'expérience Web (BOEW)</li>
	<li>v4.0.26 - Base</li>
	<li>v4.0.26 - Canada.ca</li>
	<li>v4.0.26 - Facilité d’emploi Web du gouvernement du Canada</li>
	<li>v4.0.26 - Gouvernement du Canada pour les sites intranet</li>
	<li>v4.0.26 - Plate-forme de gouvernement ouvert (PGO)</li>
	<li>v4.0.25 - Boîte à outils de l'expérience Web (BOEW)</li>
	<li>v4.0.25 - Base</li>
	<li>v4.0.25 - Canada.ca</li>
	<li>v4.0.25 - Facilité d’emploi Web du gouvernement du Canada</li>
	<li>v4.0.25 - Gouvernement du Canada pour les sites intranet</li>
	<li>v4.0.25 - Plate-forme de gouvernement ouvert (PGO)</li>
	<li>v4.0.24 - Boîte à outils de l'expérience Web (BOEW)</li>
	<li>v4.0.24 - Base</li>
	<li>v4.0.24 - Canada.ca</li>
	<li>v4.0.24 - Facilité d’emploi Web du gouvernement du Canada</li>
	<li>v4.0.24 - Gouvernement du Canada pour les sites intranet</li>
	<li>v4.0.24 - Plate-forme de gouvernement ouvert (PGO)</li>
	<li>v4.0.23 - Boîte à outils de l'expérience Web (BOEW)</li>
	<li>v4.0.23 - Base</li>
	<li>v4.0.23 - Canada.ca</li>
	<li>v4.0.23 - Facilité d’emploi Web du gouvernement du Canada</li>
	<li>v4.0.23 - Gouvernement du Canada pour les sites intranet</li>
	<li>v4.0.23 - Plate-forme de gouvernement ouvert (PGO)</li>
	<li>v4.0.22 - Boîte à outils de l'expérience Web (BOEW)</li>
	<li>v4.0.22 - Base</li>
	<li>v4.0.22 - Canada.ca</li>
	<li>v4.0.22 - Facilité d’emploi Web du gouvernement du Canada</li>
	<li>v4.0.22 - Gouvernement du Canada pour les sites intranet</li>
	<li>v4.0.22 - Plate-forme de gouvernement ouvert (PGO)</li>
	<li>v4.0.21 - Boîte à outils de l'expérience Web (BOEW)</li>
	<li>v4.0.21 - Base</li>
	<li>v4.0.21 - Canada.ca</li>
	<li>v4.0.21 - Facilité d’emploi Web du gouvernement du Canada</li>
	<li>v4.0.21 - Gouvernement du Canada pour les sites intranet</li>
	<li>v4.0.21 - Plate-forme de gouvernement ouvert (PGO)</li>
</ul>
