---
{
	"title": "v4.0.34.1 - Notes de version",
	"language": "fr",
	"description": "v4.0.34.1 - Notes de version - Historique des versions - Boîte à outils de l'expérience Web (BOEW)",
	"altLangPrefix": "v4.0.34.1",
	"dateModified": "2020-04-15"
}
---
<p>Version 4.0.34.1</p>
<ul>
	<li><strong>Date de lancement&#160;:</strong>
		<time>2020-04-15</time>
	</li>
	<li><a href="../dwnld-fr.html#v40341">Téléchargements</a></li>
</ul>
<div class="wb-prettify all-pre"></div>
<section>
	<h2>Quoi de neuf?</h2>
	<ul>
		<li>Styles et plugiciels
			<ul lang="en">
				<li>Patch - </li>
			</ul>
		</li>
		<li>Entretien
			<ul lang="en">
				<li>Build script - build script fixed by ignoring datepicker test</li>
				<li>Release notes updated to reflect build fix</li>
				<li>List of design decision updated</li>
				<li>CDTS Address link added to WET-Boew index page</li>
				<li>Links for release notes added</li>
				<li>Form validation - "chkbxrdio-grp" class added to some examples</li>
			</ul>
		</li>
		<li><a href="https://wet-boew.github.io/wet-boew/docs/ref/provisional-en.html">Provisoire</a> (Nouveau)
			<ul lang="en">
				<li></li>
			</ul>
		</li>
	</ul>
	<section>
		<h3 id="implementation">Fichiers modifiés pour implémentation</h3>
		<ul>
			<li>JavaScript primaire&nbsp;:
				<ul>
					<li>wet-boew/js/wet-boew.js</li>
					<li>wet-boew/js/wet-boew.min.js</li>
				</ul>
			</li>
			<li>CSS primaire&nbsp;:
				<ul>
					<li>theme-wet-boew/css/theme.css</li>
					<li>theme-wet-boew/css/theme.min.css</li>
				</ul>
			</li>
			<li>Ressources:
				<ul>
					<li>wet-boew/assets/sprites_share.png</li>
				</ul>
			</li>
		</ul>
	</section>
	<section>
		<h3>Fureteurs supportés</h3>
		<p>Tel que défini par la <a href="https://wet-boew.github.io/wet-boew-documentation/decision/2.html" hreflang="en">Décision de conception 2&nbsp;: Fureteur supporté</a> (en anglais)</p>
		<ul>
			<li>Chrome 80</li>
			<li>Chrome 79</li>
			<li>Safari 13.0.5</li>
			<li>Firefox 72.0.2</li>
			<li>Firefox 71.0</li>
			<li>Firefox ESR - 68.6.0</li>
			<li>IE 11</li>
			<li>Edge 80.0.361.66</li>
		</ul>
	</section>
</section>
<section>
	<h2>Détails</h2>
	<p><strong>Nombre de contributions&nbsp;:</strong> 20</p>
	<ul>
		<li><a href="https://github.com/thekodester">Kody (@thekodester)</a>:5 contributions</li>
		<li><a href="https://github.com/namjohn920">John Nam (@namjohn920)</a>:5 contributions</li>
		<li><a href="https://github.com/EricDunsworth">Eric Dunsworth (@EricDunsworth)</a>: 4 contributions</li>
		<li><a href="https://github.com/duboisp">Pierre Dubois (@duboisp)</a>: 2 contributions</li>
		<li><a href="https://github.com/wonggra">wonggra (@wonggra)</a>: 1 contribution</li>
		<li><a href="https://github.com/shawnthompson">Shawn Thompson (@shawnthompson)</a>&nbsp;: 1 contribution</li>
		<li><a href="https://github.com/StdGit">Stephane Ducharme (@StdGit)</a>: 1 contribution</li>
		<li><a href="https://github.com/ipaksc">Ilya Pak (@ipaksc)</a>: 1 contribution</li>
		<li>Kody Duncan: 1 contribution</li>
	</ul>
	<section>
		<h3>Liste des contributions</h3>
		<ul>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/6e3367d6b">Remove Digg</a> - TheKodester, 2019-11-28 01:53:04 -0500</li>
		</ul>
	</section>
</section>
<section>
	<h2 id="sri">Intégrité des sous-ressource (SRI)</h2>
	<p>Le <a href="https://www.w3.org/TR/SRI/">SRI</a> (en anglais) est une méthode qui permet de protéger le transfère des resources d'un site web. Ci-dessous vous avez les condensés numériques pour les ressource clef de la BOEW et de GCWeb.</p>
	<section>
		<h3>v4.0.34.1</h3>
		<dl>
			<dt><code>wet-boew/js/wet-boew.min.js</code></dt>
			<dd>(À venir...)</dd>
		</dl>
		<p>Obtenez tous les condensés numériques (en format JSON)&nbsp;:</p>
		<ul>
			<li><a href="https://github.com/wet-boew/wet-boew-dist/blob/v4.0.34.1/wet-boew/payload.json">WET-BOEW</a></li>
			<li><a href="https://github.com/wet-boew/wet-boew-dist/blob/v4.0.34.1/theme-wet-boew/payload.json">WET-BOEW theme</a></li>
		</ul>
	</section>
</section>
