---
{
	"title": "v4.0.14 - Notes d'utilisation",
	"language": "fr",
	"description": "v4.0.14 - Notes d'utilisation - Historique des versions - Boîte à outils de l'expérience Web (BOEW)",
	"altLangPrefix": "v4.0.14",
	"dateModified": "2015-05-15"
}
---
<ul>
	<li><strong>Date de lancement&#160;:</strong> <time>2015-05-19</time></li>
	<li><a href="../dwnld-fr.html#v4014">Téléchargements</a></li>
</ul>

<section>
	<h2>Quoi de neuf?</h2>
	<div lang="en">
	<p><strong>Needs translation</strong></p>
	<ul>
		<li><strong>Charts:</strong> Thousand and decimal separator defined in i18n and documentation improvement.</li>
		<li><strong>Multimedia and feeds:</strong> Replace the loading image with a glyphicon.</li>
		<li><strong>Equal Height:</strong> Added a test to determine if the plugin works on multiple block Tests #6680.</li>
		<li><strong>Toggle:</strong> Fixed potential conflict between persist and state and fixed related documentation.</li>
		<li><strong>Charts and Graphs:</strong> Fixed a code style issue breaking the build.</li>
		<li><strong>Menu:</strong> Fixed closing the menu through the escape key.</li>
		<li><strong>Overlay:</strong> Ensure that elements with focus outside an overlay are visible.</li>
		<li><strong>Tabbed interface:</strong> Stop the list of tabs from wrapping when there are too many tabs or when their labels are too long.</li>
		<li><strong>New plugin:</strong> Dismissable content.</li>
		<li><strong>Lightbox:</strong> Fixed link text on demo page.</li>
		<li><strong>CSS:</strong> Updated styling of fieldset and legend elements.</li>
	</ul>
	</div>
</section>

<section>
	<h2>Détails</h2>
	<p><strong>Nombre des &#171;&#160;commits&#160;&#187;</strong> 22</p>
	<ul>
		<li><a href="https://github.com/LaurentGoderre">@LaurentGoderre</a>&#160;: &#171;&#160;10 commits&#160;&#187;</li>
		<li><a href="https://github.com/thomasgohard">@thomasgohard</a>&#160;: &#171;&#160;7 commits&#160;&#187;</li>
		<li><a href="https://github.com/pjackson28">@pjackson28</a>&#160;: &#171;&#160;4 commits&#160;&#187;</li>
		<li><a href="https://github.com/duboisp">@duboisp</a>&#160;: &#171;&#160;1 commits&#160;&#187;</li>
	</ul>
	<section>
		<h3>Liste des &#171;&#160;commits&#160;&#187;</h3>
		<ul lang="en">
			<li><a href="https://github.com/wet-boew/wet-boew/commit/d880d68">Charts - Thousand and decimal separator defined in i18n and documentation improvement. Resolve #3267 Close #4433</a> - Pierre Dubois, 2015-03-22 22:56:03 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/5b6e88a">Multimedia &amp; Feeds: Replace the loading image with a glyphicon</a> - Laurent Goderre, 2015-04-07 16:52:20 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/0aa1722">Equal Height: Added a test to determine if the plugin works on multiple block Tests #6680</a> - Laurent Goderre, 2015-04-16 16:51:57 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/3370492">Updated the build version to v4.0.14-development</a> - Laurent Goderre, 2015-04-20 17:38:37 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/a39f316">Fixed the french captions in the YouTube player Fixes #6718</a> - Laurent Goderre, 2015-04-24 14:26:26 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/6a0d2ae">Toggle: Fixed potential conflict between persist and state and fixed related documentation</a> - Paul Jackson, 2015-04-24 15:51:26 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/d170ee4">Details Summary: Removed the !important from the CSS</a> - Laurent Goderre, 2015-04-27 11:56:04 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/c7a78ea">Charts and Graphs: Fixed a code style issue breaking the build</a> - Laurent Goderre, 2015-04-28 10:41:25 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/d16e6d1">Details Summary: Consolidated the CSS</a> - Laurent Goderre, 2015-04-28 11:47:32 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/8133a86">Fixed dynamically generated ajax lightboxes Fixes #6733</a> - Laurent Goderre, 2015-04-30 16:16:16 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/989b6e5">Menu: Fixed closing the menu through the escape key</a> - Paul Jackson, 2015-05-01 14:12:02 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/d3a2e52">Overlay: Ensure that elements with focus outside an overlay are visible.</a> - Thomas Gohard, 2015-05-03 12:44:24 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/dfb4cfa">Tabbed interface: Stop the list of tabs from wrapping when there are too many tabs or when their labels are too long.</a> - Thomas Gohard, 2015-05-04 12:45:49 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/53f4ee8">Updated the i18n strings</a> - Laurent Goderre, 2015-05-08 13:46:43 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/a165f19">Core: Added string hashing function.</a> - Thomas Gohard, 2015-05-08 15:13:31 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/23ae50d">New plugin: Dismissable content.</a> - Thomas Gohard, 2015-05-11 09:54:21 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/0f1aa93">i18n: Added strings from dimissable content plugin.</a> - Thomas Gohard, 2015-05-11 16:37:43 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/24a9338">Overlay and Lightbox: Added no JavaScript fallback</a> - Paul Jackson, 2015-05-12 10:32:41 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/e9b5f69">Lightbox: Fixed link text on demo page</a> - Paul Jackson, 2015-05-12 13:09:55 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/6079f02">Menu: Use data-ajax-replace instead of the custom daya-ajax-fetch</a> - Laurent Goderre, 2015-05-12 16:48:53 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/42a76b1">CSS: Updated styling of fieldset and legend elements.</a> - Thomas Gohard, 2015-05-14 16:59:07 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/cfa33db">Feeds: Linked to Flickr feed documentation.</a> - Thomas Gohard, 2015-05-15 10:30:05 -0400</li>
		</ul>
	</section>
</section>
