---
{
	"title": "v4.0.13 release notes",
	"language": "en",
	"description": "v4.0.13 release notes - Version history - Web Experience Toolkit (WET)",
	"altLangPrefix": "v4.0.13",
	"dateModified": "2015-04-21"
}
---
<ul>
	<li><strong>Release date:</strong> <time>2015-04-21</time></li>
	<li><a href="../dwnld-en.html#v4013">Downloads</a></li>
</ul>

<span class="wb-prettify all-pre"></span>

<section>
	<h2>What's New</h2>
	<ul>
		<li><strong>Multimedia:</strong> Fixed the controls not loading for the Flash fallback Fixes #6645.</li>
		<li><strong>Geomap:</strong> Replaced deprecated table highlight class.</li>
		<li><strong>Core:</strong> Improved handling of nested plugin/polyfill elements.</li>
		<li><strong>Site:</strong> Link to jQuery using https Fix #6658.</li>
		<li><strong>Plugins:</strong> Fix Pinterest share functionality.</li>
		<li><strong>Core:</strong> Fixed firing of ready events with nested elements.</li>
		<li><strong>Secondary menu:</strong> Fix hover issue for contrast ratio on base WET theme. Contrast ratio fails at 3.0:1, fixed to 60% and achieves 5.7:1.</li>
		<li><strong>Site:</strong> Standardized the generation of footer resources.</li>
		<li><strong>Site:</strong> Removed duplicate i18n data.</li>
		<li><strong>Site:</strong> fixed the language demos links in the french pages.</li>
	</ul>
</section>

<section>
	<h2>Details</h2>
	<p><strong>Number of commits:</strong> 13</p>
	<ul>
		<li><a href="https://github.com/LaurentGoderre">@LaurentGoderre</a>: 7 commits</li>
		<li><a href="https://github.com/pjackson28">@pjackson28</a>: 2 commits</li>
		<li><a href="https://github.com/jvanulde ">@jvanulde </a>: 2 commits</li>
		<li><a href="https://github.com/rlambert27 ">@rlambert27 </a>: 1 commits</li>
		<li><a href="https://github.com/num3thod ">@num3thod </a>: 1 commits</li>
	</ul>
	<section>
		<h3>List of commits</h3>
		<ul>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/33e82af">Updated the build version to v4.0.13-development</a> - Laurent Goderre, 2015-03-23 16:44:37 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/23c2422">Multimedia: Fixed the controls not loading for the Flash fallback Fixes #6645</a> - Laurent Goderre, 2015-03-26 11:21:30 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/0872c62">Build: Fixed Javascript code style errors</a> - Laurent Goderre, 2015-03-27 11:44:46 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/e1c0393">Addresses issue #6523</a> - Joost van Ulden, 2015-03-27 15:22:11 -0700</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/fa07405">Replaced deprecated table highlight class.</a> - Joost van Ulden, 2015-03-30 06:48:39 -0700</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/1de4e49">Core: Improved handling of nested plugin/polyfill elements.</a> - Paul Jackson, 2015-04-02 16:58:34 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/d078a46">Site: Link to jQuery using https Fix #6658</a> - Laurent Goderre, 2015-04-07 14:41:19 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/06b734a">Fix Pinterest share functionality.</a> - Michel Raymond, 2015-04-09 14:21:01 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/7316bb6">Core: Fixed firing of ready events with nested elements</a> - Paul Jackson, 2015-04-10 10:34:35 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/8e50a6e">Secondary menu: Fix hover issue for contrast ratio on base WET theme. Contrast ratio fails at 3.0:1, fixed to 60% and achieves 5.7:1.</a> - Roch Lambert, 2015-04-10 11:27:33 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/a00cb32">Site: Standardized the generation of footer resources</a> - Laurent Goderre, 2015-04-14 17:30:03 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/80869ab">Site: Removed duplicate i18n data</a> - Laurent Goderre, 2015-04-14 17:30:27 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/7f44bb9">Site: fixed the language demos links in the french pages</a> - Laurent Goderre, 2015-04-15 14:10:31 -0400</li>
		</ul>
	</section>
</section>
