---
{
	"title": "v4.0.0 Candidat 1 - Notes d'utilisation",
	"language": "fr",
	"description": "v4.0.0 Candidat 1 - Notes d'utilisation - Historique des versions - Boîte à outils de l'expérience Web (BOEW)",
	"altLangPrefix": "v4.0.0-rc1",
	"dateModified": "2014-03-18"
}
---
<ul>
	<li><strong>Date de lancement&#160;:</strong> <time>2014-03-18</time></li>
	<li><a href="../dwnld-fr.html#v400rc1">Téléchargements</a></li>
</ul>

<section>
	<h2>Quoi de neuf?</h2>
	<div lang="en">
	<p><strong>Needs translation</strong></p>
	<ul>
		<li>Geomap: Ported Charts plugin from WET v3.1.</li>
		<li>Share widget: Corrected share widget links</li>
		<li>Share widget: Added site filter</li>
		<li>Share widget: Added Yahoo! Mail, Gmail and mailto options</li>
		<li>Tabs: Changed top border, and background colours of tabs to make the active tab more distinctive</li>
		<li>Tabs: Changed the carousel tabbing order so previous/next are before the tabs</li>
		<li>Tabs: Reconfigured button locations and backgrounds of carousel style 2 in small view</li>
		<li>Tabs: Added Item x of n display for carousel in small view</li>
		<li>Multimedia player: Fixed display of buttons</li>
		<li>Form validation: Changed appearance of error summary and inline messages</li>
		<li>Menu: Changed secondary menu to a contextual menu</li>
		<li>Bootstrap: Switched to Sass variant</li>
		<li>Bootstrap: Overrode the default appearance of Bootstrap labels, alerts and btn-default</li>
		<li>WET theme: Removed role='contentinfo' from Date modified field</li>
		<li>Build: Added HTML validation</li>
		<li>Build: Added the i18n auto-generation of theme pages with strings from Google Docs</li>
		<li>Build: Separate IE8 uglify for ANSII issue</li>
	</ul>
	</div>
</section>

<section>
	<h2>Détails</h2>
	<p><strong>Nombre des &#171;&#160;commits&#160;&#187;</strong> 236</p>
	<ul>
		<li><a href="https://github.com/pjackson28">@pjackson28</a>&#160;: 160 &#171;&#160;commits&#160;&#187;</li>
		<li><a href="https://github.com/nschonni">@nschonni</a>&#160;: 29 &#171;&#160;commits&#160;&#187;</li>
		<li><a href="https://github.com/LaurentGoderre">@LaurentGoderre</a>&#160;: 23 &#171;&#160;commits&#160;&#187;</li>
		<li><a href="https://github.com/EricDunsworth">@EricDunsworth</a>&#160;: 7 &#171;&#160;commits&#160;&#187;</li>
		<li><a href="https://github.com/patheard">@berubs</a>&#160;: 7 &#171;&#160;commits&#160;&#187;</li>
		<li><a href="https://github.com/patheard">@patheard</a>&#160;: 3 &#171;&#160;commits&#160;&#187;</li>
		<li><a href="https://github.com/ryanhyma">@HymRY</a>&#160;: 2 &#171;&#160;commits&#160;&#187;</li>
		<li><a href="https://github.com/duboisp">@duboisp</a>&#160;: 2 &#171;&#160;commits&#160;&#187;</li>
		<li><a href="https://github.com/shawnthompson">@shawnthompson</a>&#160;: 2 &#171;&#160;commits&#160;&#187;</li>
		<li><a href="https://github.com/thomasgohard">@thomasgohard</a>&#160;: 1 &#171;&#160;commit&#160;&#187;</li>
	</ul>
	<section>
		<h3>Liste des &#171;&#160;commits&#160;&#187;</h3>
		<ul lang="en">
			<li><a href="https://github.com/wet-boew/wet-boew/commit/8ba4de9">Updated build version to v4.0.0-rc1-development</a> - Paul Jackson, 2014-03-01 23:28:18 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/c8701a2">Added v4.0.0-b2 downloads for each theme</a> - Paul Jackson, 2014-03-02 00:47:42 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/7a19583">Documentation: Updated version history, release notes and changelogs with simplified download information</a> - Paul Jackson, 2014-03-02 01:52:19 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/21a91c0">Documentation: Removed link to release notes from within the release notes</a> - Paul Jackson, 2014-03-02 03:47:17 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/4549649">Documentation: Fixed top links in v4.0, v3.1 and v3.0 changelogs</a> - Paul Jackson, 2014-03-02 04:38:19 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/a118c44">Geomap: Port of the Geomap plugin to WET v4.0</a> - Paul Jackson, 2014-03-02 21:27:42 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/581674b">Geomap: Optimized and cleaned up formatting of code (see #4683)</a> - Paul Jackson, 2014-03-03 01:00:51 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/d678813">Tables: Fixed bottom spacing when number of entries shown.</a> - Paul Jackson, 2014-03-03 01:19:23 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/42b2607">Geomap: Additional code optimization and cleanup</a> - Paul Jackson, 2014-03-03 02:59:26 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/d9ee0b1">Prettify: remove unit test dependency on working examples</a> - Pat Heard, 2014-03-03 08:30:21 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/c2fea6b">Favicon: remove unit test dependency on working examples</a> - Pat Heard, 2014-03-03 08:53:04 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/82e57bb">Unit tests: fix "Other" component unit tests</a> - Pat Heard, 2014-03-03 10:39:44 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/8e0c501">WET theme: Fixed validation error with date modified (fixes #4698)</a> - Paul Jackson, 2014-03-04 01:17:00 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/7f1c2e2">Geomap: Fixed zoom to buttons</a> - Paul Jackson, 2014-03-04 03:50:08 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/8a4b88c">Geomap: Code cleanup and optimization including removing instances of $.each</a> - Paul Jackson, 2014-03-04 12:40:32 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/be0dafd">Added rtl support in the markup</a> - Laurent Goderre, 2014-03-04 14:48:42 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/159ac6e">Geomap: Switched most events to the JEP model</a> - Paul Jackson, 2014-03-04 15:57:16 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/6742e12">Updated the i18n csv and tot he new syntax</a> - Laurent Goderre, 2014-03-04 16:33:19 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/343e6ed">Added the auto-generation of i18n from Google Docs</a> - Laurent Goderre, 2014-03-04 16:36:15 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/ea2e1d1">Added a generic placeholder content to localize</a> - Laurent Goderre, 2014-03-04 16:36:16 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/cc0d15d">Updated assemble to support plugin and added the i18n plugin</a> - Laurent Goderre, 2014-03-04 16:36:18 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/35bb55f">Added the i18n auto-generation of theme pages</a> - Laurent Goderre, 2014-03-04 16:36:19 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/2ac7c59">Excluded the splash page from the auto generation</a> - Laurent Goderre, 2014-03-04 16:36:21 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/4cf8431">Build: Separate IE8 uglify for ANSII issue</a> - Nick Schonning, 2014-03-04 20:22:36 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/c422044">Fixed various broken links. Also resolves gh-4710.</a> - Eric Dunsworth, 2014-03-05 13:15:39 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/dc9a43d">Geomap: Switched more events over to JEP model</a> - Paul Jackson, 2014-03-05 14:10:16 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/a5085ab">Geomap: Switched PanZoomBar to PanZoom</a> - Paul Jackson, 2014-03-05 14:11:52 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/81fa955">Geomap: Switched colours over to a common palette shared with Charts and graphs</a> - Paul Jackson, 2014-03-05 14:40:56 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/17a912a">Geomap: Removed unused code</a> - Paul Jackson, 2014-03-05 15:21:58 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/5ee9108">Geomap: Loading Geomap core JS as a dependency (fixes #4684)</a> - Paul Jackson, 2014-03-05 15:34:20 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/b2b1edb">Documentation: Added preliminary footnotes documentation. Partially resolves gh-4516. Some French translations are still needed.</a> - Eric Dunsworth, 2014-03-05 16:29:26 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/e40a755">Documentation+Examples: Fixed up more broken links.</a> - Eric Dunsworth, 2014-03-05 16:49:28 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/d031939">Build: Move i18n_gspreadsheet to init task</a> - Nick Schonning, 2014-03-05 16:54:06 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/0403520">WET theme: Updated secondary menu according to new guidance (wet-boew/wet-boew-stylesheet#71)</a> - Paul Jackson, 2014-03-05 23:33:58 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/114f5ef">Removed .pydevproject</a> - Paul Jackson, 2014-03-05 23:46:44 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/6d41753">Added .pydevproject to .gitignore</a> - Paul Jackson, 2014-03-05 23:47:13 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/885025b">i18n: Add back translation files</a> - Nick Schonning, 2014-03-06 00:01:56 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/401cd1a">Details: Fixed timerpoke triggering of details/summary polyfill (fixes #4714)</a> - Paul Jackson, 2014-03-06 04:30:42 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/256d300">Zebra - Initial Commit - Working example and docs</a> - Pierre Dubois, 2014-03-06 07:59:04 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/11050ce">Removed duplicate len assignment from wb.add</a> - Paul Jackson, 2014-03-06 11:47:49 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/26c1f82">Overriding Bootstrap default link colours (fixes #4731)</a> - Paul Jackson, 2014-03-06 12:39:57 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/b400a66">Share widget: Corrected share widget links (fixes #4738)</a> - Paul Jackson, 2014-03-06 14:05:57 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/d4a15a9">Tweaked default link colours so only affects content area and doesn't affect Bootstrap components</a> - Paul Jackson, 2014-03-06 15:03:35 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/3c77a16">Made behaviour of details/summary more obvious (fixes #4740)</a> - Paul Jackson, 2014-03-06 15:39:18 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/4d43b44">Excluded tabs from visited link CSS rule</a> - Paul Jackson, 2014-03-06 15:56:35 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/ccd15ba">Tabs: Pause on escpe key (#4743)</a> - Laurent Goderre, 2014-03-06 16:28:27 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/7cbf89c">Build: Restore minification for IE8</a> - Nick Schonning, 2014-03-06 17:10:26 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/040c9ed">Tabs: Changed font weight and background colours of tabs to make the active tab more distinctive (#4739)</a> - Paul Jackson, 2014-03-07 10:37:41 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/41cd40c">Tabs: Added top border to active tab link (#4739)</a> - Paul Jackson, 2014-03-07 11:03:43 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/8d5d066">Fix to allow HTTPS feeds</a> - HymaRY, 2014-03-07 11:05:43 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/6ed45cc">formatting fix</a> - HymaRY, 2014-03-07 11:16:48 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/3a0521e">Overlay: Fixed close button text and handling of appostrophes in overlay headings (fixes #4748)</a> - Paul Jackson, 2014-03-07 12:16:40 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/4b21988">Tabs: Removed top border on active tab link in carousels</a> - Paul Jackson, 2014-03-07 12:45:43 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/e929e44">Geomap: Added placeholder documentation</a> - Paul Jackson, 2014-03-07 13:23:10 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/f8e34d1">Standardized the colour for .btn-default (#4735)</a> - Paul Jackson, 2014-03-07 14:35:33 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/c9f0807">JSCS: Bump to 1.3.0</a> - Nick Schonning, 2014-03-07 16:07:22 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/6cd2da0">JSCS: requireParenthesesAroundIIFE</a> - Nick Schonning, 2014-03-07 16:07:22 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/c6022cf">JSCS: disallowSpacesInNamedFunctionExpression</a> - Nick Schonning, 2014-03-07 16:07:23 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/b66abd3">JSCS: disallowDanglingUnderscores cleaning</a> - Nick Schonning, 2014-03-07 16:07:24 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/f65b0c7">JSCS: Changed StickedOperator to BinaryOperator</a> - Nick Schonning, 2014-03-07 16:07:24 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/5c73afc">JSCS: requireCamelCaseOrUpperCaseIdentifiers</a> - Nick Schonning, 2014-03-07 16:07:25 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/e2968ec">JSCS: disallowMultipleLineStrings</a> - Nick Schonning, 2014-03-07 16:07:25 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/33caae4">JSCS: validateQuoteMarks to double quotes</a> - Nick Schonning, 2014-03-07 16:07:26 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/030748c">JSCS: disallowMixedSpacesAndTabs</a> - Nick Schonning, 2014-03-07 16:07:27 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/8a628b6">JSCS: disallowTrailingWhitespace</a> - Nick Schonning, 2014-03-07 16:11:22 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/20ea6f6">JSCS: requireDotNotation</a> - Nick Schonning, 2014-03-07 16:11:27 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/04fe73d">Details/summary: Removed default colour and bolding (fixes #4771)</a> - Paul Jackson, 2014-03-10 00:50:03 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/33bcd01">Tabs: Removed bolding from active tab (fixes #4772)</a> - Paul Jackson, 2014-03-10 10:36:20 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/f45b8bc">Tabs: Cleaned up CSS selectors for carousel next and previous buttons</a> - Paul Jackson, 2014-03-10 12:08:52 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/b51a5ad">Datepicker: Initial documentation</a> - Stephane Berube, 2014-03-10 12:25:07 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/0a8086a">Events Calendar: Initial documentation</a> - Stephane Berube, 2014-03-10 13:55:14 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/582b6db">Set font weight to 700 for all headings (fixes wet-boew/GCWeb#556)</a> - Paul Jackson, 2014-03-10 13:59:46 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/921c2a7">Point the i18n assemble module to npm</a> - Laurent Goderre, 2014-03-10 14:11:27 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/cb65689">Events Calendar: Removed duplicate &lt;/table&gt;</a> - Stephane Berube, 2014-03-10 14:22:13 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/544506b">Extended font weight 700 to heading classes</a> - Paul Jackson, 2014-03-10 15:16:46 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/ee91e09">WET theme: Fixed background colour of navcurr menubar item when open</a> - Paul Jackson, 2014-03-10 15:41:49 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/76b77f0">Linting: Clean up spacing in handlebars templates</a> - Nick Schonning, 2014-03-10 16:14:37 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/818f414">Zebra - Improved documentation - Fix #4777 and #4778</a> - Pierre Dubois, 2014-03-10 20:45:03 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/2ffcab7">Override the default appearance of Bootstrap labels (fixes #4736)</a> - Paul Jackson, 2014-03-10 23:33:24 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/84966b5">Share widget: Added site filter</a> - Paul Jackson, 2014-03-11 00:38:30 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/913b260">Share widget: Removed console statements</a> - Paul Jackson, 2014-03-11 01:08:41 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/5111359">Share widget: Fixed inheritence issues with the settings</a> - Paul Jackson, 2014-03-11 10:55:50 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/16b9ba7">Tables: Fixed inheritence issues with settings</a> - Paul Jackson, 2014-03-11 11:04:22 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/0d0ae41">Temporary fix for #4799</a> - Laurent Goderre, 2014-03-11 12:18:27 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/1212bf9">Fixed left-click detection in IE &lt; 9</a> - Stephane Berube, 2014-03-11 13:16:30 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/c06ea86">Disable bower interactive with a command line argument Permanent fix for #4799</a> - Laurent Goderre, 2014-03-11 16:25:27 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/b278588">Calendar: Fixed display issues in IE8</a> - Stephane Berube, 2014-03-11 16:29:17 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/11dfe11">Calendar: Fixed contrast issue in goto fields</a> - Stephane Berube, 2014-03-11 16:29:24 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/8491340">WET theme: Removed role='contentinfo' from Date modified field</a> - Paul Jackson, 2014-03-12 01:04:59 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/4f7024c">Calendar: Ensure JAWS sees space between day and year</a> - Stephane Berube, 2014-03-12 11:11:12 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/a78c1e0">Demos: Changed how "Documentation" link destinations are generated. Fixes broken links in sub-demo pages (e.g. Carousel, ARB, etc).</a> - Eric Dunsworth, 2014-03-12 11:41:11 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/478f5b8">Overrode the hover, focus and active states for the Bootstrap label classes</a> - Paul Jackson, 2014-03-12 12:26:55 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/ee99993">Changed footnoes markup form section to aside</a> - Laurent Goderre, 2014-03-12 12:57:48 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/1d85722">Added HTML validation See #3619 The node dependency can be swtiched to npm when the PR https://github.com/jzaefferer/grunt-html/pull/21 is merged</a> - Laurent Goderre, 2014-03-12 13:00:11 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/7b6396b">Validate the unminified HTML files</a> - Laurent Goderre, 2014-03-12 13:00:13 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/1b6eed6">Added html validation custom task and ignores for ajax files</a> - Laurent Goderre, 2014-03-12 13:00:14 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/3bfbf2a">Added html validation ignore for new HTML5 tags</a> - Laurent Goderre, 2014-03-12 13:00:16 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/1e24b8d">Moved some more html files to the ajax validation task</a> - Laurent Goderre, 2014-03-12 13:00:18 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/75e9f81">Fixed most HTML validation errors</a> - Laurent Goderre, 2014-03-12 13:00:20 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/8415f6b">Ignore html validation errors about longdesc</a> - Laurent Goderre, 2014-03-12 13:00:22 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/a062891">Tabs: Changed the carousel tabbing order so previous/next are before the tabs (fixes #4743)</a> - Paul Jackson, 2014-03-12 14:07:44 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/435f7e8">Documentation: Fixed Data Inview page's title and language toggle links.</a> - Eric Dunsworth, 2014-03-12 14:17:10 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/02bd3fe">Demos: Added unordered list markup to documentation/questions links.</a> - Eric Dunsworth, 2014-03-12 14:42:45 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/7b1b4a5">Details/summary: Removed reference to non-existent demo SCSS file.</a> - Eric Dunsworth, 2014-03-12 23:53:15 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/829a3c5">Date picker: Made disabled month arrow more visually distinct from the active month arrow</a> - Paul Jackson, 2014-03-13 10:53:16 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/6e0a852">Bootstrap: Switch to Sass variant</a> - Nick Schonning, 2014-03-13 17:38:57 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/46068d3">Tabs: Reconfigured button locations and backgrounds of carousel style 2 in small view (partially fixes #4733)</a> - Paul Jackson, 2014-03-14 00:23:05 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/1fbe396">i18n: Removed extra space from English tmpl-servicecanada entry (fixes #4286)</a> - Paul Jackson, 2014-03-14 00:49:30 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/4d6ece8">Tabs: Added 'Item x of n' to carousel small view (fixes #4733)</a> - Paul Jackson, 2014-03-14 03:30:53 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/b78d653">Tabs: Fixed position of carousel current tab index</a> - Paul Jackson, 2014-03-14 09:27:14 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/813d241">Override of colours and borders of Bootstrap alerts (partially fixes #4620)</a> - Paul Jackson, 2014-03-14 12:35:41 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/2594e3f">change to left menu to make it more contextual</a> - Shawn Thompson, 2014-03-14 16:00:32 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/76203d9">Eliminated duplicate column count CSS and split media-query specific CSS into separate files</a> - Paul Jackson, 2014-03-14 16:20:15 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/8b13e7e">Forms: Switched to Boostrap markup including Bootstrap alerts and labels for errors (partially fixes #4812)</a> - Paul Jackson, 2014-03-14 16:23:05 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/8d116d6">Moved all SCSS placeholders to the root of each file since ignored otherwise</a> - Paul Jackson, 2014-03-14 22:26:27 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/71d1aa9">Fixed 404 error with Form validation CSS and corrected typo in zebra striping</a> - Paul Jackson, 2014-03-14 23:18:13 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/a597809">Forms: Added red asterisk to mandatory fields and red colour to required text (partially fixes #4812)</a> - Paul Jackson, 2014-03-15 01:09:00 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/fe151ab">Forms: Added rtl support for required field asterisks</a> - Paul Jackson, 2014-03-15 01:33:05 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/b556d43">Changed gray colour variable names to avoid conflicts with Bootstrap variables</a> - Paul Jackson, 2014-03-15 02:05:14 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/8f77c5c">Forms validation: Enabled turning on and off red colour for fields in error (partially fixes #4812)</a> - Paul Jackson, 2014-03-15 02:08:15 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/3edd8ef">Form validation: Italicized the required label (partially fixes #4812)</a> - Paul Jackson, 2014-03-15 02:35:25 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/50f716a">added list-unstyled declaration to the colcount style</a> - Shawn Thompson, 2014-03-15 12:54:53 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/1948420">Added icons to the Bootstrap alerts (fixes #4620)</a> - Paul Jackson, 2014-03-17 01:08:40 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/2d11935">Improved support for multi-line titles in Bootstrap alerts</a> - Paul Jackson, 2014-03-17 01:53:20 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/e5d415c">Form validation: Changed first line in heading summary to a heading and made configurable through data-wet-boew (fixes #4812)</a> - Paul Jackson, 2014-03-17 02:49:43 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/9b0e491">Share widget: Added Yahoo! Mail, Gmail and mailto options (fixes #4742)</a> - Paul Jackson, 2014-03-17 14:08:25 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/d595087">[CSS] Updated the font sizes for the headings.</a> - Thomas Gohard, 2014-03-17 14:47:54 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/439f29b">Multimedia player: Fixed display of buttons (fixes #4875)</a> - Paul Jackson, 2014-03-17 21:08:05 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/00dfade">Multimedia player: Improved spacing between buttons and progress bar</a> - Paul Jackson, 2014-03-17 21:21:45 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/b8f4223">Now ignoring keystrokes modifed by the control, alt and meta keys</a> - Paul Jackson, 2014-03-17 22:32:18 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/3d5d6a8">Mobile panel: Now only expands the secondary menu in the mobile panel by default (fixes #4863)</a> - Paul Jackson, 2014-03-17 23:23:29 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/231881c">WET theme: Added dark blue line between site menu and site footer sections in mobile panel (#4866)</a> - Paul Jackson, 2014-03-17 23:42:20 -0400</li>
		</ul>
	</section>
</section>
