---
{
	"title": "ChangeLog de la version 4.0",
	"language": "fr",
	"altLangPrefix": "v4.0-changelog"
}
---
<p>Voir <a href="../version-info-fr.html">Contrôle des versions</a> pour la signification de chaque numéro de version.</p>

<section>
	<h2>v4.0.0 Bêta 1</h2>
	<ul>
		<li><strong>Date de lancement&#160;:</strong> 2013-12-16 (<a href="v4.0.0-b1-fr.html">v4.0.0 Bêta 1 - Notes d'utilisation</a>)</li>
		<li><strong>Téléchargements</strong>
			<ul>
				<li><a href="https://github.com/wet-boew/wet-boew/archive/v4.0.0-b1.zip">Code source</a> (<strong>Répertoire&#160;:</strong> wet-boew, <strong>Étiquette git&#160;:</strong> v4.0.7)</li>
				<li><a href="https://github.com/wet-boew/wet-boew-dist/archive/v4.0.0-b1.zip">Fichiers de production</a> (<strong>Répertoire&#160;:</strong> wet-boew-dist, <strong>Étiquette git&#160;:</strong> v4.0.7)</li>
			</ul>
		</li>
	</ul>

	<section>
		<h3>Quoi de neuf?</h3>
		<div lang="en">
		<p><strong>Needs translation</strong></p>
		<ul>
			<li>New plugin framework based upon JavaScript Event Programming (JEP)</li>
			<li>Major reduction in total page sizes, page load times and page paint times (approximately an 80% decrease)</li>
			<li>Replaced grid system with Twitter Bootstrap</li>
			<li>Ported most v3.1 plugins and polyfills and optimized for touchscreen mobile devices</li>
			<li>Replaced mobile popups with a mobile panel, reducing the number of buttons for mobile to one</li>
			<li>Increased font size and spacing between touch targets to better support touchscreen devices</li>
			<li>New plugins: Data AJAX, Data-Inview, Equal height, Overlay, Toggle and Twitter Embedded Timeline</li>
			<li>Removed dependency on jQuery Mobile</li>
			<li>Page no longer refreshes when transitioning between views</li>
			<li>Replaced custom Ant build system with a build system based on Node.js, Grunt.js, Bower, Assemble and other well-supported build components</li>
		</ul>
		</div>
	</section>
</section>
