---
{
	"title": "v4.0.30 release notes",
	"language": "en",
	"description": "v4.0.30 release notes - Version history - Web Experience Toolkit (WET)",
	"altLangPrefix": "v4.0.30",
	"dateModified": "2019-02-11"
}
---
<p>Version 4.0.30</p>
<ul>
	<li><strong>Launching date:</strong>
		<time>2019-02-11</time>
	</li>
	<li><a href="../dwnld-en.html#v4030">Downloads</a></li>
</ul>
<div class="wb-prettify all-pre"></div>
<section>
	<h2>What’s new?</h2>
	<section>
		<h3 id="v4.0.30">Version 4.0.30</h3>
		<ul>
			<li>Patch - Lightbox - Overwritten window when clicking on a current page link</li>
			<li>Minor - Tables - Filter interface, adding support for <code>input[type=date]</code> when resetting</li>
			<li>Minor - RSS feeds - Adding live XML file reading for files within the CORS limit</li>
			<li>Patch - Menu - Opening the mobile menu when the menu is static in the page</li>
			<li>Minor - RSS feeds - News feed reading in ATOM-like JSON XML format</li>
			<li>Minor - RSS feeds - Retrieving the news feed reading by the Yahoo API. This is replaced by a live reading.</li>
			<li>Minor - Tables - Removing page numbering when there is only one results page</li>
			<li>Minor - Tables - Filter interface, adding the filter results option with check boxes</li>
			<li>Patch - Integrated Twitter Timeline - Removing the example with the obsolete Twitter code</li>
			<li>Patch - Tables - Filter interface, making adjustments when there are several check boxes in more than one column</li>
			<li>WET developer - Modifying the compilation script and its dependencies</li>
		</ul>
		<p>Canada.ca (GCWeb):</p>
		<ul>
			<li><a href="https://wet-boew.github.io/themes-dist/GCWeb/gcweb-theme/release/v5.0-en.html">Version 5.0 publication (Release notes)</a></li>
		</ul>
	</section>
	<section>
		<h3>Browser supported:</h3>
		<p>As per the rule defined by <a href="https://wet-boew.github.io/wet-boew-documentation/decision/2.html">Design decision 2: Browser supported</a></p>
		<ul>
			<li>Chrome 71</li>
			<li>Chrome 70</li>
			<li>Safari 12.0</li>
			<li>Firefox 65</li>
			<li>Firefox 64.0.2</li>
			<li>Firefox ESR - 60.5.0</li>
			<li>IE 11</li>
			<li>Edge 18</li>
		</ul>
	</section>
</section>
	<section>
		<h2>Details</h2>
		<p><strong>Number of commits:</strong> 26</p>
		<ul>
			<li><a href="https://github.com/duboisp">Pierre Dubois (@duboisp)</a>: 7 commits</li>
			<li><a href="https://github.com/ipaksc">Ilya Pak (@ipaksc)</a>: 4 commits</li>
			<li><a href="https://github.com/thekodester">kody (@thekodester)</a>: 4 commits</li>
			<li><a href="https://github.com/EricDunsworth">Eric Dunsworth (EricDunsworth)</a>: 3 commits</li>
			<li><a href="https://github.com/GormFrank">Francis Gorman (@GormFrank)</a>: 2 commits</li>
			<li><a href="https://github.com/StdGit">Stéphane Ducharme (@StdGit)</a>: 2 commits</li>
			<li><a href="https://github.com/nschonni">Nick Schonning (@nschonni)</a>: 1 commit</li>
			<li><a href="https://github.com/PCH-TanB">Bobby(Xiuzhong) Tan (@PCH-TanB)</a>: 1 commit</li>
			<li><a href="https://github.com/shawnthompson">Shawn Thompson (@shawnthompson)</a>: 1 commit</li>
			<li><a href="https://github.com/zzucco">Zachary Zucco (@zzucco)</a>: 1 commit</li>
		</ul>
		<section>
			<h3>List of commits</h3>
			<ul>
				<li><a href="https://github.com/wet-boew/wet-boew/commit/62ef66457">chore: Bump grunt-htmlHas some additional error handling and mutes the old "details" error</a> - Nick Schonning,
					<time>2018-07-23</time>
				</li>
				<li><a href="https://github.com/wet-boew/wet-boew/commit/a169afb11">.eslintignore: Removed out of scope files.</a> - Eric Dunsworth,
					<time>2018-08-16</time>
				</li>
				<li><a href="https://github.com/wet-boew/wet-boew/commit/e61e46145">Lightbox - Close the overlay when clicking on a same page link</a> - Pierre Dubois,
					<time>2018-09-05</time>
				</li>
				<li><a href="https://github.com/wet-boew/wet-boew/commit/cd40eca0e">Update build version to v4.0.30-development</a> - Pierre Dubois,
					<time>2018-09-20</time>
				</li>
				<li><a href="https://github.com/wet-boew/wet-boew/commit/9b3fe97fc">package-lock.json: Updated to npm 5.10/6.x-friendly style.</a> - Eric Dunsworth,
					<time>2018-10-10</time>
				</li>
				<li><a href="https://github.com/wet-boew/wet-boew/commit/30cf0c64a">Menu Footer Integration Documentation</a> - zaczucco@gmail.com,
					<time>2018-10-10</time>
				</li>
				<li><a href="https://github.com/wet-boew/wet-boew/commit/4ad391442">Tables - fix with reset button for input type=date</a> - PCH-TanB,
					<time>2018-10-16</time>
				</li>
				<li><a href="https://github.com/wet-boew/wet-boew/commit/fb6bbbb28">Release notes: Fixed issues in 4.0.28-4.0.29 pages.</a> - Eric Dunsworth,
					<time>2018-10-30</time>
				</li>
				<li><a href="https://github.com/wet-boew/wet-boew/commit/29c138fb8">Feeds plugins: CORS enabled pulling w# with '#' will be ignored, and an empty message aborts the commit.</a> - ipaksc,
					<time>2018-12-06</time>
				</li>
				<li><a href="https://github.com/wet-boew/wet-boew/commit/d357e7f2a">Ignore .vscode directory</a> - Shawn Thompson,
					<time>2019-01-10</time>
				</li>
				<li><a href="https://github.com/wet-boew/wet-boew/commit/9d020c45a">Fix #8517</a> - Stéphane Ducharme,
					<time>2019-01-10</time>
				</li>
				<li><a href="https://github.com/wet-boew/wet-boew/commit/8eb8c25d0">Feeds - Read JSON ATOM like feed</a> - Pierre Dubois,
					<time>2019-01-10</time>
				</li>
				<li><a href="https://github.com/wet-boew/wet-boew/commit/a0a1e47ef">Release note of version 4.0.29.1</a> - Pierre Dubois,
					<time>2019-01-11</time>
				</li>
				<li><a href="https://github.com/wet-boew/wet-boew/commit/430d6822f">Patch instruction for wet-boew v4.0.21 to v4.0.29</a> - Pierre Dubois,
					<time>2019-01-15</time>
				</li>
				<li><a href="https://github.com/wet-boew/wet-boew/commit/5040c19dc">Removed Yahoo API for RSS Feeds</a> - ipaksc,
					<time>2019-01-17</time>
				</li>
				<li><a href="https://github.com/wet-boew/wet-boew/commit/dda8de2b1">Feeds backup</a> - ipaksc,
					<time>2019-01-18</time>
				</li>
				<li><a href="https://github.com/wet-boew/wet-boew/commit/61b8dc1e0">v4.0.21 to v4.0.29 Patch Documentation</a> - GormFrank,
					<time>2019-01-18</time>
				</li>
				<li><a href="https://github.com/wet-boew/wet-boew/commit/e3d310744">DataTable Pagination Documentation</a> - GormFrank,
					<time>2019-01-24</time>
				</li>
				<li><a href="https://github.com/wet-boew/wet-boew/commit/b0f347870">Update tables pagination</a> - kody,
					<time>2019-01-29</time>
				</li>
				<li><a href="https://github.com/wet-boew/wet-boew/commit/2cba58ac4">DataTable Filtering With Checkboxes</a> - kody,
					<time>2019-01-30</time>
				</li>
				<li><a href="https://github.com/wet-boew/wet-boew/commit/4efccb1e3">Updated a working example of Feeds plugin</a> - ipaksc,
					<time>2019-01-31</time>
				</li>
				<li><a href="https://github.com/wet-boew/wet-boew/commit/691dd1a9f">Fix #8397 Merge server-side validation errors with client-side</a> - Stéphane Ducharme,
					<time>2019-02-04</time>
				</li>
				<li><a href="https://github.com/wet-boew/wet-boew/commit/f1ebd10ae">Remove Deprecated Twitter Code</a> - kody,
					<time>2019-02-07</time>
				</li>
				<li><a href="https://github.com/wet-boew/wet-boew/commit/175f9f7f5">Value Was Never Erased After Cycling Checkboxes</a> - kody,
					<time>2019-02-08</time>
				</li>
				<li><a href="https://github.com/wet-boew/wet-boew/commit/fe0feda61">Data table - Working example to test cycling checkboxes</a> - Pierre Dubois,
					<time>2019-02-10</time>
				</li>
				<li><a href="https://github.com/wet-boew/wet-boew/commit/e002955cb">v4.0.30 - Release note</a> - Pierre Dubois,
					<time>2019-02-10</time>
				</li>
			</ul>
		</section>
	</section>
	<section>
		<h2 id="sri">Subresource integrity (SRI)</h2>
		<p>Le <a href="https://www.w3.org/TR/SRI/">SRI</a> rovide a method to protect website delivery. The following information are the hash for key resource in WET and GCWeb.</p>
		<section>
			<h3>v4.0.30</h3>
			<dl>
				<dt><code>wet-boew/js/wet-boew.min.js</code></dt>
				<dd>sha256-V75xJAgrU7rpXVh0IxYGDgDjbKCRIsq49d28m+wdo9I= sha512-1VnVF2fV2arx5BsPGt4gFe5DeSWJHNvbg0hRFUviibbfcwBOf2+WDbLoqLHcmDSmEEkUXe1faPR4H7xzm9gu6Q==</dd>
			</dl>
			<p>Get all hash (JSON format):</p>
			<ul>
				<li><a href="https://github.com/wet-boew/wet-boew-dist/blob/v4.0.30/wet-boew/payload.json">WET-BOEW</a></li>
				<li><a href="https://github.com/wet-boew/wet-boew-dist/blob/v4.0.30/theme-wet-boew/payload.json">WET-BOEW theme</a></li>
			</ul>
		</section>
	</section>
