---
{
	"title": "v4.0.22 release notes",
	"language": "en",
	"description": "v4.0.22 release notes - Version history - Web Experience Toolkit (WET)",
	"altLangPrefix": "v4.0.22",
	"dateModified": "2016-08-09"
}
---
<ul>
	<li><strong>Release date:</strong> <time>2016-08-09</time></li>
	<li><a href="../dwnld-en.html#v4022">Downloads</a></li>
</ul>

<span class="wb-prettify all-pre"></span>

<section>
	<h2>What's New</h2>
	<ul>
		<li>Tabs Carousel - Stop carousel if only 1 panel fixed #7428</li>
		<li>Fixed the date picker for field with a period in the ID</li>
		<li>Details: Changed native summary to display as list-item.</li>
		<li>Footnotes: Allow return links to point to pages (not just IDs).</li>
		<li>Plugin Geomap: fix issue #7353 (#7367)</li>
		<li>Collapsible alerts: Changed H3 headings to H2s on index/demo/docs pages.</li>
		<li>Collapsible alerts: Fixed arrow underline, hover/focus outline and linked area overflow issues.</li>
		<li>Updated grunt-gh-pages from 0.9.0 to 1.1.0</li>
		<li>Calendar of events: fix #7609 and improved how the focus is determined</li>
		<li>Tabbed interface: Increased performance and fixed/enhanced 1 tab implementations. (#7630)</li>
	</ul>
</section>

<section>
	<h2>Details</h2>
	<p><strong>Number of commits:</strong> 10</p>
	<ul>
		<li><a href="https://github.com/EricDunsworth">@EricDunsworth</a>: 11 commits</li>
		<li><a href="https://github.com/LaurentGoderre">@LaurentGoderre</a>: 6 commits</li>
		<li><a href="https://github.com/shawnthompson">@shawnthompson</a>: 5 commits</li>
		<li><a href="https://github.com/nschonni">@nschonni</a>: 4 commit</li>
		<li><a href="https://github.com/masterbee">@masterbee</a>: 3 commit</li>
		<li><a href="https://github.com/maximmartel">@maximmartel</a>: 3 commits</li>
		<li><a href="https://github.com/jvanulde">@jvanulde</a>: 1 commit</li>
		<li><a href="https://github.com/duboisp">@duboisp</a>: 1 commits</li>
	</ul>
	<section>
		<h3>List of commits</h3>
		<ul>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/2754e8d">Build: Updated minimum time-grunt version to 1.3.0.</a> - Eric Dunsworth, 2016-02-12 16:44:26 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/2761e20">Theme: Fixed print RTL position of the WxT logo.</a> - Eric Dunsworth, 2016-02-25 15:38:05 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/a92ae0a">Tabs Carousel - Stop carousel if only 1 panel fixed #7428</a> - Maxim Martel, 2016-03-08 15:52:54 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/97a791e">Base: Removed all link URLs from print SCSS.</a> - Eric Dunsworth, 2016-03-29 16:54:45 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/4d68f18">Updated the build version to v4.0.22-development</a> - Maxim Martel, 2016-04-12 09:44:31 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/eeb900e">Fixes - #7435 : Updated Archived</a> - Maxim Martel, 2016-04-15 11:32:15 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/e3363c3">[Tabbed Interface] - tighten the plugin selector to skip single item</a> - Mario Bonito, 2016-04-16 14:03:51 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/1bc0117">[Saucelabs] - disable saucelabs.</a> - Mario Bonito, 2016-04-17 17:09:11 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/1d6ba9c">[Mediaplayer] - Removal of IE8 fallback</a> - Mario Bonito, 2016-04-17 20:52:22 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/27642be">Fixed an incorrect SASS extend</a> - Laurent Goderre, 2016-04-21 16:03:25 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/f410201">Fixed the date picker for field with a period in the ID</a> - Laurent Goderre, 2016-04-22 09:42:16 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/16898c0">Fixed exceptions in tabs caused by invalid event names</a> - Laurent Goderre, 2016-04-22 10:07:22 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/e92576d">Switched to a node-based SCSS linter</a> - Laurent Goderre, 2016-04-25 14:19:53 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/cdc965f">SCSS: Fixed the trailing zero</a> - Laurent Goderre, 2016-04-25 14:20:00 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/ce60a3c">Removed thr ruby scss lint</a> - Laurent Goderre, 2016-04-25 14:20:00 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/6f3d784">Tabbed interface: Replaced selector with namespace in timerpoke init event.</a> - Eric Dunsworth, 2016-05-13 15:22:05 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/efb8fb1">Build: Convert JSCS and JSHint to ESLint</a> - Nick Schonning, 2016-05-17 23:24:18 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/e33cf42">Lint: Fix unused variables and conditional assignments</a> - Nick Schonning, 2016-05-17 23:24:20 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/b2c53e8">Lint: Exclude null comparisons where applicable</a> - Nick Schonning, 2016-05-17 23:24:21 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/4380067">ESLint: Enforce "No Irregular Whitespace"</a> - Nick Schonning, 2016-05-17 23:24:22 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/44b939c">Details: Changed native summary to display as list-item.</a> - Eric Dunsworth, 2016-06-03 16:45:25 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/d38e457">Collapsible alerts: Changed H3 headings to H2s on index/demo/docs pages.</a> - Eric Dunsworth, 2016-06-09 14:24:30 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/caec6dc">Collapsible alerts: Added aside in how to implement documentation.</a> - Eric Dunsworth, 2016-06-09 14:53:48 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/18d2d32">Footnotes: Made minor adjustments to demos/docs.</a> - Eric Dunsworth, 2016-06-10 12:12:21 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/17a03e1">Footnotes: Allow return links to point to pages (not just IDs).</a> - Eric Dunsworth, 2016-06-10 14:40:05 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/b0931fe">Plugin Geomap: fix issue #7353 (#7367)</a> - Joost van Ulden, 2016-06-14 16:47:50 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/ae1f744">Collapsible alerts: Fixed arrow underline, hover/focus outline and linked area overflow issues.</a> - Eric Dunsworth, 2016-06-21 16:09:08 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/4f1b0b2">add missing show-thumbs class to example code</a> - Shawn Thompson, 2016-06-22 08:17:27 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/da33bc4">v4.0.22 release date pushed until July 20</a> - Shawn Thompson, 2016-06-30 09:30:10 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/f1d1244">Reapplies the fix from #7489 that was undone by #7456</a> - Shawn Thompson, 2016-07-07 10:51:56 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/b49f881">Updated grunt-gh-pages from 0.9.0 to 1.1.0</a> - Shawn Thompson, 2016-07-18 13:29:41 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/4a9439d">update v4.0.22 release date, pushed one week</a> - Shawn Thompson, 2016-07-20 13:22:48 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/819e468">Calendar of events: fix #7609 and improved how the focus is determined</a> - Pierre Dubois, 2016-07-28 15:15:03 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/863b58a">Tabbed interface: Increased performance and fixed/enhanced 1 tab implementations. (#7630)</a> - EricDunsworth, 2016-08-09 14:53:19 -0400</li>
		</ul>
	</section>
</section>
