---
{
	"title": "v4.0.24 release notes",
	"language": "en",
	"description": "v4.0.24 release notes - Version history - Web Experience Toolkit (WET)",
	"altLangPrefix": "v4.0.24",
	"dateModified": "2017-02-22"
}
---
<ul>
	<li><strong>Release date:</strong> <time>2017-02-22</time></li>
	<li><a href="../dwnld-en.html#v4024">Downloads</a></li>
</ul>

<span class="wb-prettify all-pre"></span>

<section>
	<h2>What's New</h2>
	<ul>
		<li>Overlay - Documentation and working example for middle screen overlay</li>
		<li>Added Sub-resources basic integrity generation</li>
		<li>Calendar of events: Updated documentation.</li>
		<li>Multimedia player: Added support for youtu.be URLs.</li>
		<li>Base: Hid skip links when printing in wbdisable mode.</li>
		<li>Menu: In noscript, only show menus/footer in screen viewports.</li>
		<li>Documentation - Multimedia player support for youtu.be URLs</li>
		<li>Tabbed interface: Made active tab summary inherit content area's background colour by default.</li>
	</ul>
</section>

<section>
	<h2>Details</h2>
	<p><strong>Number of commits:</strong> 35</p>
	<ul>
		<li><a href="https://github.com/EricDunsworth">@EricDunsworth</a>: 13 commits</li>
		<li><a href="https://github.com/LaurentGoderre">@LaurentGoderre</a>: 6 commits</li>
		<li><a href="https://github.com/duboisp">@duboisp</a>: 6 commits</li>
		<li><a href="https://github.com/maximmartel">@maximmartel</a>: 4 commits</li>
		<li><a href="https://github.com/kodecount">@kodecount</a>: 3 commits</li>
		<li><a href="https://github.com/oldhen">@oldhen</a>: 2 commits</li>
		<li><a href="https://github.com/shawnthompson">@shawnthompson</a>: 1 commit</li>	
	</ul>
	<section>
		<h3>List of commits</h3>
		<ul>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/144547a">WET-BOEW Favicon Plugin: link elements need to be self-collapsed link element injection failing when page is served as application/xhtml+xml</a> - oldhen, 2016-06-22 15:04:08 -0300</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/7b9019c">WET-BOEW Menu plugin: removed stray div end-tag createMobilePanelMenu appends a div end-tag to its generated content, but includes no associated div start-tag.  Mobile menu initialization fails when page is served as application/xhtml+xml</a> - oldhen, 2016-06-22 15:47:22 -0300</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/4ddf4d3">Updated the build version to v4.0.24-development</a> - Maxim Martel, 2016-11-18 14:08:43 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/3de9c1c">Fix overlay css for IE11</a> - kodecount, 2016-11-22 15:43:48 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/8055e8a">Overlay - Documentation and working example for middle screen overlay</a> - Pierre Dubois, 2016-11-22 23:07:14 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/629ecc3">Carousel: Fixed various focus outline issues.</a> - Eric Dunsworth, 2016-11-23 23:22:51 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/05d2ac8">Build: Append the commit ID to the Travis commit messages</a> - Laurent Goderre, 2016-11-28 08:30:41 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/5a2803a">Feeds: Fixed the display of atom titles</a> - Laurent Goderre, 2016-11-28 11:37:29 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/ed4c0c0">Fix issue with legend border</a> - kodecount, 2016-11-29 15:01:53 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/dccc9c7">Hello world plugin example and fix #7788</a> - Pierre Dubois, 2016-12-06 22:35:27 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/45088c9">Correction d'un lien brisé et amélioration mineur de la documentation</a> - Pierre Dubois, 2016-12-08 23:18:58 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/9991549">Added Sub-resources basic integrity generation</a> - Laurent Goderre, 2016-12-16 08:04:41 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/d2ed9de">Multimedia player: Fixed video cut off/overflow issues.</a> - Eric Dunsworth, 2016-12-21 13:03:35 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/51f1bc3">move sri task into dist to be able to use the payload file in the theme repos</a> - Shawn Thompson, 2016-12-21 16:02:35 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/55aff29">Calendar of events: Updated documentation.</a> - Eric Dunsworth, 2017-01-11 14:10:18 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/3617e2d">Multimedia player: Removed duplicate players from English YouTube demo page.</a> - Eric Dunsworth, 2017-01-12 16:12:15 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/9124b07">Hello world example - minor update - Separating and improving how to support plugin configuration into an additional step. Also it apply the suggestion from @LaurentGoderre in PR#7801</a> - Pierre Dubois, 2017-01-12 21:00:44 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/5438ac1">Multimedia player: Added support for youtu.be URLs.</a> - Eric Dunsworth, 2017-01-13 14:22:25 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/a2a84f3">Multimedia player: Updated demo explanations/plugin comments.</a> - Eric Dunsworth, 2017-01-16 09:39:31 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/ec0c64e">Base: Hid skip links when printing in wbdisable mode.</a> - Eric Dunsworth, 2017-01-16 15:26:44 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/967ee0c">Menu: In noscript, only show menus/footer in screen viewports.</a> - Eric Dunsworth, 2017-01-19 11:24:05 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/157cf24">Fix many focus issues with the lightbox plugin</a> - Laurent Goderre, 2017-01-20 14:41:50 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/4b12a9a">Fixed date picker polyfill with the lightbox</a> - Laurent Goderre, 2017-01-20 14:41:58 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/f8448a6">Documentation - Multimedia player support for youtu.be URLs (#1)</a> - Pierre Dubois, 2017-01-23 09:50:32 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/ad239af">Multimedia player: Vertically-centered loading animation in display area.</a> - Eric Dunsworth, 2017-01-23 12:53:36 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/51ed9b0">Base/Theme: Added body/main background colour variables.</a> - Eric Dunsworth, 2017-01-24 09:53:14 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/5237dbf">Fixed keyboard trap when using iframe in lightbox</a> - Laurent Goderre, 2017-01-24 14:21:49 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/d968d08">Navcurrent Patch</a> - kodecount, 2017-01-24 14:56:02 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/c129cb1">Removed invalid tfoot according to HTML spec</a> - Pierre Dubois, 2017-01-25 23:58:30 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/5ad2d95">Create wet-boew-apex</a> - Maxim Martel, 2017-01-26 09:07:00 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/dd08fd6">Delete wet-boew-apex</a> - Maxim Martel, 2017-01-26 09:08:52 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/b3020d2">Multimedia player: Fixed linking issues in video demos.</a> - Eric Dunsworth, 2017-01-26 14:38:55 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/7784cde">Details: Fixed remaining summary arrow issues.</a> - Eric Dunsworth, 2017-02-06 09:47:07 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/ec1001e">Tabbed interface: Made active tab summary inherit content area's background colour by default.</a> - Eric Dunsworth, 2017-02-09 10:29:02 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/a1cc1c8">Update roadmap 4.0.24 release date</a> - Maxim Martel, 2017-02-13 13:39:15 -0500</li>
		</ul>
	</section>
</section>
