---
{
	"title": "v4.0 changelog",
	"language": "en",
	"description": "v4.0 changelog - Version history - Web Experience Toolkit (WET)",
	"altLangPrefix": "v4.0-changelog",
	"dateModified": "2018-04-23"
}
---
<p>See <a href="../version-info-en.html">Versioning</a> for the meaning of each version number.</p>
<span class="wb-prettify all-pre"></span>
<section>
	<h2>v4.0.28</h2>
	<ul>
		<li><strong>Release date:</strong> <time>2018-04-23</time></li>
		<li><a href="v4.0.28-en.html">Release notes<span class="wb-inv"> - v4.0.28</span></a></li>
		<li><a href="../dwnld-en.html#v4028">Downloads<span class="wb-inv"> - v4.0.28</span></a></li>
	</ul>

	<section>
		<h3>What's New</h3>
		<ul>
			<li>Minor - markup change for SVGs images
				<ul>
					<li><a href="http://wet-boew.github.io/wet-boew-documentation/decision/1.html">Design decision 1 - Use SVG with <code>img</code> element instead of <code>object</code></a></li>
				</ul>
			</li>
			<li>Minor - Datepicker polyfill - Date initialisation patch when minimal date are larger than today date</li>
			<li>Minor - Charts - Added floating label to pie charts</li>
			<li>WET developer - Major - Build script update
				<ul>
					<li>WET developer may need to delete npm caching with the local "node_modules" and "lib" folder before to run "script/setup" in order to sucessfully build.</li>
				</ul>
			</li>
		</ul>

		<p>Canada.ca (GCWeb):</p>
	  	<ul>
	  		<li>Minor - markup change for SVGs images
				<ul>
					<li><a href="http://wet-boew.github.io/wet-boew-documentation/decision/1.html">Design decision 1 - Use SVG with <code>img</code> element instead of <code>object</code></a></li>
				</ul>
			</li>
			<li>Minor - Departement features - Add one titles example</li>
			<li>Minor - Departement features - Markup change</li>
			<li>Minor - Removed GC priorities</li>
			<li>Minor - Improved markup for arms length footer</li>
			<li>Minor - Mega menu content update</li>
			<li>Information - Added a deprecated testing page</li>
			<li>WET developer - Major - Build script update
				<ul>
					<li>WET developer may need to delete npm caching with the local "node_modules" and "lib" folder before to run "script/setup" in order to sucessfully build.</li>
				</ul>
			</li>
	  	</ul>
	</section>
</section>
<section>
	<h2>v4.0.27</h2>
	<ul>
		<li><strong>Release date:</strong> <time>2017-12-14</time></li>
		<li><a href="v4.0.27-en.html">Release notes<span class="wb-inv"> - v4.0.27</span></a></li>
		<li><a href="../dwnld-en.html#v4027">Downloads<span class="wb-inv"> - v4.0.27</span></a></li>
	</ul>

	<section>
		<h3>What's New</h3>
		<ul>
			<li>Mathjax - fix use of CDN and allow for fail-over if there is no connectivity</li>
			<li>Tabbed Interface: Removal of equal height js on tabs.</li>
			<li>Overlay plugin: Added space key support for overlay links.</li>
			<li>Multimedia player: Fixed timeline/volume bar layout issues in IE10+/Edge.</li>
			<li>Carousel: Improved video outlines in Firefox.</li>
			<li>Multimedia player: Made volume slider's layout more consistent across browsers.</li>
			<li>Fix datepicker closing prematurely on IE11</li>
		</ul>
	</section>
</section>
<section>
	<h2>v4.0.26</h2>
	<ul>
		<li><strong>Release date:</strong> <time>2017-08-15</time></li>
		<li><a href="v4.0.26-en.html">Release notes<span class="wb-inv"> - v4.0.26</span></a></li>
		<li><a href="../dwnld-en.html#v4026">Downloads<span class="wb-inv"> - v4.0.26</span></a></li>
	</ul>

	<section>
		<h3>What's New</h3>
		<ul>
			<li>Auto adds close button to footer (or footer+close button)</li>
			<li>Add link to GCWeb plugin working example</li>
			<li>CSS: Added col-*-auto classes to support floated columns in the grid.</li>
			<li>Menu: Replaced "data-ajax-fetch" with "data-ajax-replace".</li>
			<li>Equalheight - ease equalize on nested elements with eqht-trgt class</li>
			<li>Added a plugin to filter a list of elements</li>
			<li>Add link for the "do action" GCWeb theme plugin</li>
		</ul>
	</section>
</section>
<section>
	<h2>v4.0.25</h2>
	<ul>
		<li><strong>Release date:</strong> <time>2017-05-17</time></li>
		<li><a href="v4.0.25-en.html">Release notes<span class="wb-inv"> - v4.0.25</span></a></li>
		<li><a href="../dwnld-en.html#v4025">Downloads<span class="wb-inv"> - v4.0.25</span></a></li>
	</ul>

	<section>
		<h3>What's New</h3>
		<ul>
			<li>Multimedia player: Revised second video demos to use TTML captions.</li>
			<li>Documentation: Updated several links in French version history page.</li>
			<li>Remove facebook from feeds</li>
			<li>Data Inview - Add fade in/out reverse transition</li>
			<li>Auto add close button to left and right modal footer (if footer dont exist add with close button)</li>
			<li>Base/Theme: Added a content area background colour variable.</li>
			<li>Convert pagination to a list</li>
			<li>Wb-disable - Add a notice to disabled mode</li>
			<li>Data-ajax: add cache busting feature</li>
			<li>Facebook plugin</li>
			<li>Data-ajax - Conditional loading based on HTTP referrer</li>
			<li>Data Ajax - Working example and docs for httpref config</li>
			<li>Add print to overlays</li>
			<li>Footnotes: Fully disabled plugin in wbdisable mode.</li>
			<li>Overlay Print - Only print the active dialog.</li>
			<li>Update twitter demo and documentation</li>
			<li>Add ability to remove borders in dl</li>
			<li>Calendar - Show today date or the closest on initialization</li>
			<li>CSS: Added lst-none class for removing only bullets from lists</li>
		</ul>
	</section>
</section>
<section>
	<h2>v4.0.24</h2>
	<ul>
		<li><strong>Release date:</strong> <time>2017-02-22</time></li>
		<li><a href="v4.0.24-en.html">Release notes<span class="wb-inv"> - v4.0.24</span></a></li>
		<li><a href="../dwnld-en.html#v4024">Downloads<span class="wb-inv"> - v4.0.24</span></a></li>
	</ul>

	<section>
		<h3>What's New</h3>
		<ul>
			<li>Overlay - Documentation and working example for middle screen overlay</li>
			<li>Added Sub-resources basic integrity generation</li>
			<li>Calendar of events: Updated documentation.</li>
			<li>Multimedia player: Added support for youtu.be URLs.</li>
			<li>Base: Hid skip links when printing in wbdisable mode.</li>
			<li>Menu: In noscript, only show menus/footer in screen viewports.</li>
			<li>Documentation - Multimedia player support for youtu.be URLs</li>
			<li>Tabbed interface: Made active tab summary inherit content area's background colour by default.</li>
		</ul>
	</section>
</section>
<section>
	<h2>v4.0.23</h2>
	<ul>
		<li><strong>Release date:</strong> <time>2016-11-16</time></li>
		<li><a href="v4.0.23-en.html">Release notes<span class="wb-inv"> - v4.0.23</span></a></li>
		<li><a href="../dwnld-en.html#v4023">Downloads<span class="wb-inv"> - v4.0.23</span></a></li>
	</ul>

	<section>
		<h3>What's New</h3>
		<ul>
			<li>[Datatables] - added more filtering capabilites (#7638)</li>
			<li>Multimedia player: Increased specifity of keyboard shortcuts and fixed space key shortcut issues.</li>
			<li>Bootstrap overrides: Changed placeholder links to look like plain text.</li>
			<li>jquery validation: Update step validation to handle floating points correctly #7666</li>
			<li>Menu: Add support for ajaxed footer parts</li>
			<li>Data-ajax - Improved the documentation to explain the internal event "wb-contentupdated"</li>
			<li>Menu: Enhancements to hover behaviour (#7416)</li>
			<li>[Multimedia] - ARIA addition (#7507)</li>
			<li>Updated the i18n files with Inuktitut</li>
			<li>JSON fetch and data JSON plugin. Insert content extracted from a JSON file. Data are selected as per JSON Pointer URI Fragment, RFC6901</li>
		</ul>
	</section>
</section>
<section>
	<h2>v4.0.22</h2>
	<ul>
		<li><strong>Release date:</strong> <time>2016-08-09</time></li>
		<li><a href="v4.0.22-en.html">Release notes<span class="wb-inv"> - v4.0.22</span></a></li>
		<li><a href="../dwnld-en.html#v4022">Downloads<span class="wb-inv"> - v4.0.22</span></a></li>
	</ul>

	<section>
		<h3>What's New</h3>
		<ul>
			<li>Tabs Carousel - Stop carousel if only 1 panel fixed #7428</li>
			<li>Fixed the date picker for field with a period in the ID</li>
			<li>Details: Changed native summary to display as list-item.</li>
			<li>Footnotes: Allow return links to point to pages (not just IDs).</li>
			<li>Plugin Geomap: fix issue #7353 (#7367)</li>
			<li>Collapsible alerts: Changed H3 headings to H2s on index/demo/docs pages.</li>
			<li>Collapsible alerts: Fixed arrow underline, hover/focus outline and linked area overflow issues.</li>
			<li>Updated grunt-gh-pages from 0.9.0 to 1.1.0</li>
			<li>Calendar of events: fix #7609 and improved how the focus is determined</li>
			<li>Tabbed interface: Increased performance and fixed/enhanced 1 tab implementations. (#7630)</li>
		</ul>
	</section>
</section>
<section>
	<h2>v4.0.21</h2>
	<ul>
		<li><strong>Release date:</strong> <time>2016-04-11</time></li>
		<li><a href="v4.0.21-en.html">Release notes<span class="wb-inv"> - v4.0.21</span></a></li>
		<li><a href="../dwnld-en.html#v4021">Downloads<span class="wb-inv"> - v4.0.21</span></a></li>
	</ul>

	<section>
		<h3>What's New</h3>
		<ul>
			<li>Geomap: Fixed issue where KML feature attributes were not sources from ExtendedData elements</li>
			<li>Removed img block from figure and carousel-s1 li block to fix compile errors</li>
			<li>Details/Summary: Fixed the double description in the french demo that crashes the build</li>
			<li>Tabbed interface: Update for a11y code Improved the LI text for panels and removed alt text for the pictures. Fixes #6693.</li>
			<li>Fixed the alignment of the login buttons</li>
			<li>Equal height: Fixed issues with the demo page's code samples.</li>
			<li>Calendar: Refactored the library</li>
			<li>Date Picker: Refactored and updated to the new calendar library</li>
			<li>Calendar of Event: Updated to the new calendar library</li>
		</ul>
	</section>
</section>
<section>
	<h2>v4.0.20</h2>
	<ul>
		<li><strong>Release date:</strong> <time>2015-12-16</time></li>
		<li><a href="v4.0.20-en.html">Release notes<span class="wb-inv"> - v4.0.20</span></a></li>
		<li><a href="../dwnld-en.html#v4020">Downloads<span class="wb-inv"> - v4.0.20</span></a></li>
	</ul>

	<section>
		<h3>What's New</h3>
		<ul>
			<li>Fix an issue with toggle not activating</li>
			<li>Add a border class none (brdr-0)</li>
			<li>Fix an issue with slashes in the url # fragment combined with tabs</li>
			<li>Ensure feeds falls back to updated date if there is no published date</li>
			<li>Fix a variety of whitespace issues related to details/summary</li>
			<li>Fix an issue with nested details/summary not having borders</li>
		</ul>
	</section>
</section>
<section>
	<h2>v4.0.19</h2>
	<ul>
		<li><strong>Release date:</strong> <time>2015-12-01</time></li>
		<li><a href="v4.0.19-en.html">Release notes<span class="wb-inv"> - v4.0.19</span></a></li>
		<li><a href="../dwnld-en.html#v4019">Downloads<span class="wb-inv"> - v4.0.19</span></a></li>
	</ul>

	<section>
		<h3>What's New</h3>
		<ul>
			<li>+2 release fixes an issue with feeds not functioning</li>
			<li>Fixed various visual issues with details/summary, collapsible alerts, tabs, and sidebar menus related to recent details/summary enhancements</li>
			<li>Fixed a bug involving android browser losing textual focus when touching an input element inside a form</li>
			<li>Added the ability to automatically open the correct tab when linking to an anchor inside that tab with the correct scroll position</li>
			<li>Fixed a visual line wrapping issue in footnotes affecting reference links</li>
			<li>Added a class to lightbox (wb-lbx-skip) to skip a given link from being considered to be part of the gallery</li>
			<li>Fixed an issue in tabs with scrolling when linking to anchors inside tabs</li>
			<li>Visual improvements to the horizontal description list styling</li>
			<li>Enable styling legends for checkbox and radio button groups as labels via the class chkbxrdio-grp</li>
			<li>Allow errors to wrap in the form validation plugin</li>
			<li>Fixed issues related to events occurring inside tabs causing tabs to close</li>
			<li>Prevent underline styling for navigation links in tabs and pills</li>
			<li>Fix duplicate error summaries in form validation</li>
			<li>Fix bug related to duplicate end dates in the calendar of events plugin</li>
			<li>Fix btn-xs text alignment</li>
			<li>Fix offline jQuery loading the IE8 version in modern browsers and IE8 loading the modern browser version</li>
		</ul>
	</section>
</section>

<section>
	<h2>v4.0.18</h2>
	<ul>
		<li><strong>Release date:</strong> <time>2015-09-22</time></li>
		<li><a href="v4.0.18-en.html">Release notes<span class="wb-inv"> - v4.0.18</span></a></li>
		<li><a href="../dwnld-en.html#v4018">Downloads<span class="wb-inv"> - v4.0.18</span></a></li>
	</ul>

	<section>
		<h3>What's New</h3>
		<ul>
			<li><strong>Multimedia:</strong> Fixed the play overlay not disappearing when playing</li>
			<li><strong>Site:</strong> Fixed the mobmenu ajax files</li>
			<li><strong>Tabbed interface/Toggle:</strong> Fixed inadvertent triggering of nested polyfilled details</li>
			<li>Fixed the folder for offline jQuery</li>
			<li>Fixed the glyphicons font in IE8 for the old resources structure</li>
		</ul>
	</section>
</section>

<section>
	<h2>v4.0.17</h2>
	<ul>
		<li><strong>Release date:</strong> <time>2015-08-21</time></li>
		<li><a href="v4.0.17-en.html">Release notes<span class="wb-inv"> - v4.0.17</span></a></li>
		<li><a href="../dwnld-en.html#v4017">Downloads<span class="wb-inv"> - v4.0.17</span></a></li>
	</ul>

	<section>
		<h3>What's New</h3>
		<ul>
			<li><strong>Datalist:</strong> Fix inconsistent matches between browsers</li>
			<li><strong>Feeds:</strong> Fix display of Youtube and Flickr feeds with quotes in them</li>
			<li><strong>Feedback:</strong> Fix placeholder select value</li>
			<li><strong>Twitter:</strong> Fix scrollbar during feed loading</li>
			<li><strong>Session Timeout:</strong> Add custom callback, data, and request method</li>
		</ul>
	</section>
</section>

<section>
	<h2>v4.0.16</h2>
	<ul>
		<li><strong>Release date:</strong> <time>2015-07-21</time></li>
		<li><a href="v4.0.16-en.html">Release notes<span class="wb-inv"> - v4.0.16</span></a></li>
		<li><a href="../dwnld-en.html#v4016">Downloads<span class="wb-inv"> - v4.0.16</span></a></li>
	</ul>

	<section>
		<h3>What's New</h3>
		<ul>
			<li><strong>Footnotes:</strong> Added minor SCSS improvements. * Increased total width of the footnotes section by removing unnecessary left/right margins (old carry-overs from WET 3.x). * Slightly increased widths of return links to prevent right borders from disappearing in 2 column pages when 3 digit numbers are used. * Adjusted vertical positioning of return links and nearby paragraphs to make them appear exactly on the same line.</li>
			<li><strong>Tables:</strong> Fixed incorrect display of sorting icons in multi-row table headers</li>
			<li><strong>Core:</strong> Normalized encoding of the query string in Internet Explorer to prevent cross-site scripting issues</li>
			<li><strong>Menu:</strong> Fixed HTML5 markup of the mobile panel section headers</li>
			<li><strong>Lightbox:</strong> Added the ability to use the ajax option from Magnific Popup</li>
			<li><strong>Lightbox:</strong> Fixed firing of the wb-ready.wb-lbx event when opening a Lightbox through JavaScript</li>
			<li><strong>Details/summary:</strong> Fixed indenting of headings in the summary element</li>
			<li><strong>Form validation:</strong> Added documentation and/or examples of all the jQuery validation methods with French translations and corrected the telephone number label</li>
			<li><strong>CSS:</strong> Made details/summary look clickable.</li>
		</ul>
	</section>
</section>

<section>
	<h2>v4.0.15</h2>
	<ul>
		<li><strong>Release date:</strong> <time>2015-06-23</time></li>
		<li><a href="v4.0.15-en.html">Release notes<span class="wb-inv"> - v4.0.15</span></a></li>
		<li><a href="../dwnld-en.html#v4015">Downloads<span class="wb-inv"> - v4.0.15</span></a></li>
	</ul>

	<section>
		<h3>What's New</h3>
		<ul>
			<li><strong>Form Validation:</strong> Added support for a single required checkbox.</li>
			<li><strong>Dimissable content:</strong> Use ID attribute if present as content ID and strip whitespace before generating unique ID.</li>
			<li><strong>Data-inview:</strong> Ensure that elements removed from the DOM don't trigger data-inview and tie the overlay close action to the dismiss close action when the data-inview element is dismissable. Fixed the bottom bar test failing in IE 10 & 11.</li>
			<li><strong>Feeds:</strong> Added a way to manually specify a list of videos Also significantly optimize the YouTube feeds by only using one lightbox for the whole feed, on demand and Optimized the flickr feed Fixes #6219.</li>
			<li><strong>Share widget:</strong> Added filtering option for email and fixed apostrophe filtering.</li>
			<li><strong>Geomap:</strong> Now using native OpenLayers events to catch mouseover and mouseout on the map and Fixed i18n issues.</li>
			<li><strong>Core:</strong> Implement refresh.wb event, combine the WET core CSS in the theme CSS ()Partially implements #6809), and merge the unmin resources with the minified resources ()Partially implements #6809).</li>
			<li><strong>Tabbed interface:</strong> Fixed initialization of second or more tabbed interfaces on a page, added class to allow tabs to wrap, fixed display issue with nested lists within nested tabbed interfaces, and fixed WAI-ARIA attributes in mobile view and added print-active option.</li>
			<li><strong>Tabbed interface - Carousel</strong> Added fallback for when active class is omitted from the tablist.</li>
			<li><strong>MathML:</strong> Hides Modernizr MathML check with CSS after the check has completed.</li>
			<li><strong>Form validation:</strong> Fixed colouring of errored fields and error summary on form reset.</li>
		</ul>

	</section>
</section>

<section>
	<h2>v4.0.14</h2>
	<ul>
		<li><strong>Release date:</strong> <time>2015-05-19</time></li>
		<li><a href="v4.0.14-en.html">Release notes<span class="wb-inv"> - v4.0.14</span></a></li>
		<li><a href="../dwnld-en.html#v4014">Downloads<span class="wb-inv"> - v4.0.14</span></a></li>
	</ul>

	<section>
		<h3>What's New</h3>
		<ul>
		<li><strong>Charts:</strong> Thousand and decimal separator defined in i18n and documentation improvement.</li>
		<li><strong>Multimedia and feeds:</strong> Replace the loading image with a glyphicon.</li>
		<li><strong>Equal Height:</strong> Added a test to determine if the plugin works on multiple block Tests #6680.</li>
		<li><strong>Toggle:</strong> Fixed potential conflict between persist and state and fixed related documentation.</li>
		<li><strong>Charts and Graphs:</strong> Fixed a code style issue breaking the build.</li>
		<li><strong>Menu:</strong> Fixed closing the menu through the escape key.</li>
		<li><strong>Overlay:</strong> Ensure that elements with focus outside an overlay are visible.</li>
		<li><strong>Tabbed interface:</strong> Stop the list of tabs from wrapping when there are too many tabs or when their labels are too long.</li>
		<li><strong>New plugin:</strong> Dismissable content.</li>
		<li><strong>Lightbox:</strong> Fixed link text on demo page.</li>
		<li><strong>CSS:</strong> Updated styling of fieldset and legend elements.</li>
		</ul>
	</section>
</section>

<section>
	<h2>v4.0.13</h2>
	<ul>
		<li><strong>Release date:</strong> <time>2015-04-21</time></li>
		<li><a href="v4.0.13-en.html">Release notes<span class="wb-inv"> - v4.0.13</span></a></li>
		<li><a href="../dwnld-en.html#v4013">Downloads<span class="wb-inv"> - v4.0.13</span></a></li>
	</ul>

	<section>
		<h3>What's New</h3>
		<ul>
			<li><strong>Multimedia:</strong> Fixed the controls not loading for the Flash fallback Fixes #6645.</li>
			<li><strong>Geomap:</strong> Replaced deprecated table highlight class.</li>
			<li><strong>Core:</strong> Improved handling of nested plugin/polyfill elements.</li>
			<li><strong>Site:</strong> Link to jQuery using https Fix #6658.</li>
			<li><strong>Plugins:</strong> Fix Pinterest share functionality.</li>
			<li><strong>Core:</strong> Fixed firing of ready events with nested elements.</li>
			<li><strong>Secondary menu:</strong> Fix hover issue for contrast ratio on base WET theme. Contrast ratio fails at 3.0:1, fixed to 60% and achieves 5.7:1.</li>
			<li><strong>Site:</strong> Standardized the generation of footer resources.</li>
			<li><strong>Site:</strong> Removed duplicate i18n data.</li>
			<li><strong>Site:</strong> fixed the language demos links in the french pages.</li>
		</ul>
	</section>
</section>

<section>
	<h2>v4.0.12</h2>
	<ul>
		<li><strong>Release date:</strong> <time>2015-03-23</time></li>
		<li><a href="v4.0.12-en.html">Release notes<span class="wb-inv"> - v4.0.12</span></a></li>
		<li><a href="../dwnld-en.html#v4012">Downloads<span class="wb-inv"> - v4.0.12</span></a></li>
	</ul>

	<section>
		<h3>What's New</h3>
		<ul>
		<li><strong>Carousel:</strong> Modified CSS to enable entire panels to be linked. Replaces the first part of #6458</li>
		<li><strong>Charts:</strong> Added option to safely include Flot plugins Safely fixes #4466 and #6516</li>
		<li><strong>Data Ajax:</strong> Fixed the plugin using the whole content when no filtered content is found</li>
		<li><strong>Feeds:</strong> Fix display of Facebook profile images and translate documentation</li>
		<li><strong>Form validation:</strong> Fixed issue with a click on a summary link being ignored when focus is in a form field</li>
		<li><strong>Lightbox:</strong> Fixed positioning of close button for AJAX sources</li>
		<li><strong>Multimedia:</strong> Replaced the overlay with a CSS one and simplified the controls</li>
		<li><strong>Multimedia Player:</strong> Added the transcript link to the YouTube player Fixes #6621</li>
		<li><strong>Tabbed interface:</strong> Fixed focus issues with carousel style 2 with thumbnails example</li>
		<li><strong>Tabbed interface:</strong> Fixed issue with clicking links in nested tabpanels</li>
		<li><strong>Tables:</strong> Fixed the pagination display where there are more than 6 pages</li>
		<li><strong>Tabs:</strong> Fixed link color in non carousel tabbed interfaced Introduced by #6554</li>
		</ul>
	</section>
</section>

<section>
	<h2>v4.0.11</h2>
	<ul>
		<li><strong>Release date:</strong> <time>2015-02-17</time></li>
		<li><a href="v4.0.11-en.html">Release notes<span class="wb-inv"> - v4.0.11</span></a></li>
		<li><a href="../dwnld-en.html#v4011">Downloads<span class="wb-inv"> - v4.0.11</span></a></li>
	</ul>

	<section>
		<h3>What's New</h3>
		<ul>
		<li><strong>DataTables:</strong> Fixed the page number when more than one datatable is on the page</li>
		<li><strong>Multimedia:</strong> Fix the playback of video in IE9-11</li>
		<li><strong>Geomap:</strong> Fixed issue where default attribution wasn't added to map</li>
		<li><strong>Geomap:</strong> Added WMS overlay capability with support for graphic and HTML legends, cql_queries, and layer opacity</li>
		<li><strong>Menu:</strong> Fixed Javascript execution halted when non link, non heading text in secondary menu</li>
		<li><strong>Footnotes:</strong> Adjusted print SCSS to prevent URLs from appearing beside return links</li>
		<li><strong>Theme:</strong> Added aria-labelledby to the Lightbox content area to help Jaws to read the contained header</li>
		<li><strong>Tabs:</strong> Fixed firing of the wb-updated event so it only fires on a tabpane change</li>
		<li><strong>Toggle:</strong> Added the ability to set the initial state of a toggle button and fixed the handling of nested elements</li>
		<li><strong>SCSS Variables:</strong> Updated src variables file and added customizable variables for Tabs plugin</li>
		<li><strong>Updated Bootstrap for Sass version to 3.3.1:</strong></li>
		</ul>
	</section>
</section>

<section>
	<h2>v4.0.10</h2>
	<ul>
		<li><strong>Release date:</strong> <time>2015-01-20</time></li>
		<li><a href="v4.0.10-en.html">Release notes<span class="wb-inv"> - v4.0.10</span></a></li>
		<li><a href="../dwnld-en.html#v4010">Downloads<span class="wb-inv"> - v4.0.10</span></a></li>
	</ul>

	<section>
		<h3>What's New</h3>
		<ul>
			<li><strong>Core:</strong> Fixed generation of unique id values</li>
			<li><strong>Geomap:</strong> allow geocoder and AOI widgets to be loaded independently.</li>
			<li><strong>Geomap:</strong> Solve geolocation text problem in French</li>
			<li><strong>Tabs + Details/Summary:</strong> Open ancestor tabpanels and details elements when setfocus event is triggered inside.</li>
			<li><strong>Tabs:</strong> Fixed visibility of details summary nested in a hidden details</li>
			<li><strong>Tabs:</strong> Fixed WAI-ARIA roles and support for Ctrl + up arrow</li>
			<li><strong>Tabs:</strong> Fixed resizing issue that could result in an undefined variable error</li>
			<li><strong>Carousel:</strong> Fixed handling of play/pause button markup changes</li>
			<li><strong>Calendar of Events:</strong> Direct linking now respects the source link target attribute and related code has been optimized.</li>
			<li><strong>Twitter:</strong> Set width to 100% by default.</li>
			<li><strong>Lightbox:</strong> Added aria-labelledby to the Lightbox content area to help Jaws to read the contained header.</li>
			<li><strong>Theming:</strong> Added the ability for themes to customize WET variables.</li>
		</ul>
	</section>
</section>

<section>
	<h2>v4.0.9</h2>
	<ul>
		<li><strong>Release date:</strong> <time>2014-12-11</time></li>
		<li><a href="v4.0.9-en.html">Release notes<span class="wb-inv"> - v4.0.9</span></a></li>
		<li><a href="../dwnld-en.html#v409">Downloads<span class="wb-inv"> - v4.0.9</span></a></li>
	</ul>

	<section>
		<h3>What's New</h3>
		<ul>
			<li><strong>Lightbox:</strong> Add ability to filter Ajax response to selector</li>
			<li><strong>Carousel:</strong> Added an option to toggle thumbnail controls on medium-and-above screens</li>
			<li><strong>Tabbed Interface:</strong> Fixed clipping issue when tab panel content overflows the tabbed interface container</li>
			<li><strong>Tabbed Interface:</strong> Added option to update the URL hash on every tab panel change</li>
			<li><strong>Tabbed Interface:</strong> Fixed play function of carousel</li>
			<li><strong>Data Ajax:</strong> Prevents the caching of nested scripts</li>
			<li><strong>Data Ajax:</strong> Added support for protocol-less CORS fallback</li>
			<li><strong>Feeds:</strong> Fix french characters in the Facebook feeds</li>
			<li><strong>Multimedia Player:</strong> Fixed inline captions not loading when the current URL has an empty hash</li>
			<li><strong>Form Validation:</strong> Allow using the styles without using the Javascript part</li>
			<li><strong>Data Table:</strong> Fixed the sorting icons in IE8</li>
		</ul>
	</section>
</section>

<section>
	<h2>v4.0.8+2</h2>
	<ul>
		<li><strong>Release date:</strong> <time>2014-11-21</time></li>
		<li><a href="v4.0.8+2-en.html">Release notes<span class="wb-inv"> - v4.0.8+2</span></a></li>
		<li><a href="../dwnld-en.html#v4082">Downloads<span class="wb-inv"> - v4.0.8+2</span></a></li>
	</ul>

	<section>
		<h3>What's New</h3>
		<ul>
			<li><strong>Feeds</strong>: Added Pinterest Capability (Alpha)</li>
			<li><strong>Ajax Fetch</strong>: Fixed the plugin not working when triggered at the document level</li>
			<li><strong>Lightbox</strong>: Added support for auto-playing videos in a lightbox</li>
		</ul>
	</section>
</section>

<section>
	<h2>v4.0.8+1</h2>
	<ul>
		<li><strong>Release date:</strong> <time>2014-11-20</time></li>
		<li><a href="v4.0.8+1-en.html">Release notes<span class="wb-inv"> - v4.0.8+1</span></a></li>
		<li><a href="../dwnld-en.html#v4081">Downloads<span class="wb-inv"> - v4.0.8+1</span></a></li>
	</ul>

	<section>
		<h3>What's New</h3>
		<ul>
			<li><strong>Geomap</strong>:Addition of srsCode property to the proj4 object. OL needs this property in order to be able to load ArcGis Mapserver layer.</li>
			<li><strong>Menu</strong>: Allow integration with the data-ajax plugin</li>
			<li><strong>Template</strong>: Added missing space in the IE8 html tag declaration</li>
			<li><strong>Tabs</strong>: Fixed tab selection when switching from mobile to desktop view</li>
		</ul>
	</section>
</section>

<section>
	<h2>v4.0.8</h2>
	<ul>
		<li><strong>Release date:</strong> <time>2014-11-18</time></li>
		<li><a href="v4.0.8-en.html">Release notes<span class="wb-inv"> - v4.0.8</span></a></li>
		<li><a href="../dwnld-en.html#v408">Downloads<span class="wb-inv"> - v4.0.8</span></a></li>
	</ul>

	<section>
		<h3>What's New</h3>
		<ul>
			<li><strong>Footnotes: </strong>Adjusted SCSS to accommodate lists/tables within footnotes. Fixes #6157.</li>
			<li><strong>Details/summary polyfill: </strong>Set closed details visibility to hidden to make text nodes invisible (although still take up space)</li>
			<li><strong>Calendar of events:</strong> wb-updated event now triggered on wb-calevt element.</li>
			<li><strong>Lightbox:</strong> add ajax override and include example and documentation</li>
			<li><strong>Data Ajax:</strong> Added support for CORS and a fallback when CORS isn't supported</li>
			<li><strong>Session Timeout:</strong> Added missing window[ 'wb-sessto' ] support.</li>
			<li><strong>Session timeout:</strong> Fixed data-wb-sessto support</li>
			<li><strong>i18n:</strong> Updated the French translation for the 'play' label for the multimedia player and carousel.</li>
			<li><strong>Feeds:</strong> removed the col- class from the Flickr list items for them to flow at sm and md views</li>
			<li><strong>Print CSS:</strong> Set the print CSS for the page header elements.</li>
			<li><strong>Tabs:</strong> Fixed resize handling for multiple tabbed interfaces</li>
			<li><strong>Tabs:</strong> Added missing id to the carousel tabs</li>
			<li><strong>Tabs:</strong> Optimized onResize function</li>
			<li><strong>Tabs:</strong> Made session storage usage unique to the page</li>
			<li><strong>Tabs:</strong> Added ability to show a tab panel with an external link or event.</li>
			<li><strong>Tabs:</strong> Prevented overlapping during loading and view changes</li>
			<li><strong>Tabs:</strong> Fixed focus handling for external tab links</li>
			<li><strong>Template:</strong> Move the metadata to an include</li>
		</ul>
	</section>
</section>

<section>
	<h2>v4.0.7</h2>
	<ul>
		<li><strong>Release date:</strong> <time>2014-10-22</time></li>
		<li><a href="v4.0.7-en.html">Release notes<span class="wb-inv"> - v4.0.7</span></a></li>
		<li><a href="../dwnld-en.html#v407">Downloads<span class="wb-inv"> - v4.0.7</span></a></li>
	</ul>

	<section>
		<h3>What's New</h3>
		<ul>
			<li><strong>Archived notice</strong>: Updated the text to match to match the text in the Technical specifications.</li>
			<li><strong>Menu</strong>: Menu panel now sources the panel title from the page markup</li>
			<li><strong>Overlay</strong>: Fixed bug that prevented in certain scenarios an overlay being opened through JS a second time</li>
			<li><strong>Equal Heights</strong>: CSS fix for nested elements</li>
			<li><strong>Equal Heights</strong>: CSS fix for nested elements</li>
			<li><strong>Text Highlighting</strong>: Added a dynamic functionality</li>
			<li><strong>Text Highlighting</strong>: Fixed when no parameters are defined</li>
			<li><strong>Ajax Fetch</strong>: Allow triggering on the actual element</li>
			<li><strong>Multimedia</strong>: Fix issue with share and apostrophe in title</li>
			<li><strong>Session Timeout</strong>: Fixed the plugin executing before being completly</li>
			<li><strong>Date picker</strong>: Prevented closing of datepicker from closing a parent lightbox</li>
			<li><strong>Demos</strong>: Added an option to add a class to the body tag</li>
		</ul>
	</section>
</section>

<section>
	<h2>v4.0.6</h2>
	<ul>
		<li><strong>Release date:</strong> <time>2014-09-23</time></li>
		<li><a href="v4.0.6-en.html">Release notes<span class="wb-inv"> - v4.0.6</span></a></li>
		<li><a href="../dwnld-en.html#v406">Downloads<span class="wb-inv"> - v4.0.6</span></a></li>
	</ul>

	<section>
		<h3>What's New</h3>
		<ul>
			<li>Added collapsible alert plugin</li>
			<li><strong>Dependencies:</strong> Switched open layer dependency to a compiled version</li>
			<li><strong>Build:</strong> Replaced the html minifier with a faster one</li>
			<li><strong>Build:</strong> Moved the Travis variables to Travis UI</li>
			<li><strong>Build:</strong> Check dependencies on every build</li>
			<li><strong>Dependencies:</strong> Update DataTables to version 1.10.2</li>
			<li><strong>Dependencies:</strong> Update jQuery Validation to version 1.13.0</li>
			<li><strong>Dependencies:</strong> Update jquery-pjax to version 1.8.2</li>
			<li><strong>Multimedia player:</strong> Added cue point support</li>
			<li><strong>Multimedia player:</strong> Improved YouTube support</li>
			<li><strong>Tabs:</strong> Added support for nesting tabs</li>
			<li>Enbled SVG polyfill on basic HTML version</li>
		</ul>
	</section>
</section>

<section>
	<h2>v4.0.5</h2>
	<ul>
		<li><strong>Release date:</strong> <time>2014-08-20</time></li>
		<li><a href="v4.0.5-en.html">Release notes<span class="wb-inv"> - v4.0.5</span></a></li>
		<li><a href="../dwnld-en.html#v403">Downloads<span class="wb-inv"> - v4.0.5</span></a></li>
	</ul>

	<section>
		<h3>Template changes (non-breaking)</h3>
		<ul>
			<li><strong>Themes:</strong> Added server message pages and 404 error pages</li>
			<li><strong>Themes:</strong> Cleaned up the splash page markup (non-breaking markup change)</li>
			<li><strong>Themes:</strong> Removed aria-label from logo links since unnecessary duplication with text in the link itself (non-breaking markup change)</li>
			<li><strong>Themes:</strong> Removed role='img' from logo link object to prevent object from being announced by screen readers (non-breaking markup change)</li>
		</ul>
	</section>

	<section>
		<h3>What's New</h3>
		<ul>
			<li>Added wb-ready events to all plugins and polyfills</li>
			<li><strong>Build:</strong> Fixed Linux issues with the development environment setup script</li>
			<li><strong>Cleaned up the display of Basic HTML version and when JavaScript is disabled</strong></li>
			<li><strong>Core:</strong> Updated Bootstrap for Sass version to 3.2.0+1</li>
			<li><strong>Date picker:</strong> Fixed French toggle and close button</li>
			<li><strong>Documentation:</strong> Added all missing documentation for plugins, polyfills and "other" components</li>
			<li><strong>Documentation:</strong> Translated the getting started documentation and the multimedia player and Web Accessibility Assessment Methodology documentation into French</li>
			<li><strong>Documentation:</strong> Updated the browser testing recommendations</li>
			<li><strong>Equal heights:</strong> Fix a bug in IE8 where the last class would get removed if not followed by a semi-colon</li>
			<li><strong>Feeds:</strong> Switched timerpoke-based visibility check to widget-based visibility check</li>
			<li><strong>Lightbox:</strong> Added documentation on how to leverage Magnific Popup mfp* events</li>
			<li><strong>Lightbox:</strong> Fixed null error when element is deleted</li>
			<li><strong>Made Basic HTML version more noticeable by making skip links visible at all times</strong></li>
			<li><strong>Multimedia player:</strong> Fixed the controls being shifted in the YouTube player</li>
			<li><strong>Overlay / Lightbox:</strong> Fixed handling of same-page links to elsewhere on the page</li>
			<li><strong>Share / Multimedia player:</strong> Added 'Share this audio file' option</li>
			<li><strong>Tables:</strong> Added documentation on how to leverage DataTables *.dt events</li>
			<li><strong>Tables:</strong> Fixed sort order of formatted numbers</li>
			<li><strong>Tables:</strong> Made sort icons narrower and removed extra space when sorting disabled</li>
			<li><strong>Tabs:</strong> Fixed automatic tab rotation and handling of data</li>
			<li><strong>Tabs:</strong> Fixed fade effect in Safari</li>
			<li><strong>Tabs:</strong> Fixed linking to an anchor within the same tab panel</li>
			<li><strong>Tabs:</strong> Fixed printing of regular tabs with CSS transitions</li>
			<li><strong>Themes:</strong> Added server message pages and 404 error pages</li>
			<li><strong>Themes:</strong> Cleaned up the splash page markup (non-breaking markup change)</li>
			<li><strong>Themes:</strong> Removed aria-label from logo links since unnecessary duplication with text in the link itself (non-breaking markup change)</li>
			<li><strong>Themes:</strong> Removed role='img' from logo link object to prevent object from being announced by screen readers (non-breaking markup change)</li>
		</ul>
	</section>
</section>

<section>
	<h2>v4.0.4</h2>
	<ul>
		<li><strong>Release date:</strong> <time>2014-07-22</time></li>
		<li><a href="v4.0.4-en.html">Release notes<span class="wb-inv"> - v4.0.4</span></a></li>
		<li><a href="../dwnld-en.html#v404">Downloads<span class="wb-inv"> - v4.0.4</span></a></li>
	</ul>

	<section>
		<h3>Template changes (non-breaking)</h3>
		<p><strong>Note:</strong> Only the changes to the English templates are shown. The same changes were made to the templates in the other supported languages.</p>
		<ol>
			<li>
				Added a search icon to the mobile panel button, changed the size of the button and changed menu panel button and title to "Search and menus"
				<ul>
					<li>Canada.ca theme:
						<ul>
							<li>Before:
								<pre><code>&lt;section class="wb-mb-links col-xs-3 visible-sm visible-xs" id="wb-glb-mn"&gt;
	&lt;h2&gt;<strong>Menu</strong>&lt;/h2&gt;
	&lt;ul class="list-inline text-right chvrn"&gt;
		&lt;li&gt;&lt;a href="#mb-pnl" title="<strong>Menu</strong>" aria-controls="mb-pnl" class="overlay-lnk" role="button"&gt;<strong>&lt;span class="glyphicon glyphicon-th-list"&gt;&lt;span class="wb-inv"&gt;Menu&lt;/span&gt;&lt;/span&gt;</strong>&lt;/a&gt;&lt;/li&gt;</code></pre>
							</li>
							<li>After:
								<pre><code>&lt;section class="wb-mb-links col-xs-3 visible-sm visible-xs" id="wb-glb-mn"&gt;
	&lt;h2&gt;<strong>Search and menus</strong>&lt;/h2&gt;
	&lt;ul class="list-inline text-right chvrn"&gt;
		&lt;li&gt;&lt;a href="#mb-pnl" title="<strong>Search and menus</strong>" aria-controls="mb-pnl" class="overlay-lnk btn" role="button"&gt;<strong>&lt;span class="glyphicon glyphicon-search"&gt;&lt;span class="glyphicon glyphicon-th-list"&gt;&lt;span class="wb-inv"&gt;Search and menus&lt;/span&gt;&lt;/span&gt;&lt;/span&gt;</strong>&lt;/a&gt;&lt;/li&gt;</code></pre>
							</li>
						</ul>
					</li>
					<li>Other themes:
						<ul>
							<li>Before:
								<pre><code>&lt;section class="wb-mb-links col-xs-12 visible-sm visible-xs" id="wb-glb-mn"&gt;
	&lt;h2&gt;<strong>Menu</strong>&lt;/h2&gt;
	&lt;ul class="pnl-btn list-inline text-right"&gt;
		&lt;li&gt;&lt;a href="#mb-pnl" title="Menu" aria-controls="mb-pnl" class="overlay-lnk <strong>btn-xs</strong> btn-default" role="button"&gt;<strong>&lt;span class="glyphicon glyphicon-th-list"&gt;&lt;span class="wb-inv"&gt;Menu&lt;/span&gt;&lt;/span&gt;</strong>&lt;/a&gt;&lt;/li&gt;</code></pre>
							</li>
							<li>After:
								<pre><code>section class="wb-mb-links col-xs-12 visible-sm visible-xs" id="wb-glb-mn"&gt;
	&lt;h2&gt;<strong>Search and menus</strong>&lt;/h2&gt;
	&lt;ul class="pnl-btn list-inline text-right"&gt;
		&lt;li&gt;&lt;a href="#mb-pnl" title="Search and menus" aria-controls="mb-pnl" class="overlay-lnk btn <strong>btn-sm</strong> btn-default" role="button"&gt;<strong>&lt;span class="glyphicon glyphicon-search"&gt;&lt;span class="glyphicon glyphicon-th-list"&gt;&lt;span class="wb-inv"&gt;Search and menus&lt;/span&gt;&lt;/span&gt;&lt;/span&gt;</strong>&lt;/a&gt;&lt;/li&gt;</code></pre>
							</li>
						</ul>
					</li>
				</ul>
			</li>
			<li>
				Changed "Site menu" heading in the full menu AJAX file to "Topics menu"
				<ul>
					<li>Before:
						<pre><code>&lt;h2&gt;<strong>Site</strong> menu&lt;/h2&gt;</code></pre>
					</li>
					<li>After:
						<pre><code>&lt;h2&gt;<strong>Topics</strong> menu&lt;/h2&gt;</code></pre>
					</li>
				</ul>
			</li>
			<li>
				Moved contact information section to the start of the footer
				<ul>
					<li>Canada.ca theme:
						<ul>
							<li>Before:
								<pre><code>&lt;h2 class="wb-inv"&gt;Site Information&lt;/h2&gt;
	&lt;div class="row"&gt;
		<strong>&lt;section class="col-sm-3 col-lg-3"&gt;
			&lt;h3&gt;Government&lt;/h3&gt;
			...
		&lt;/section&gt;
		&lt;section class="col-sm-3 col-lg-3"&gt;
			&lt;h3&gt;Transparency&lt;/h3&gt;
			...
		&lt;/section&gt;
		&lt;div class="col-sm-3 col-lg-3 brdr-lft"&gt;
			&lt;section&gt;
				&lt;h3&gt;News&lt;/h3&gt;
				...
			&lt;/section&gt;
			&lt;section&gt;
				&lt;h3&gt;Contact information&lt;/h3&gt;
				...
			&lt;/section&gt;
		&lt;/div&gt;</strong></code></pre>
							</li>
							<li>After:
								<pre><code>&lt;h2 class="wb-inv"&gt;About this site&lt;/h2&gt;
	&lt;div class="row"&gt;
		<strong>&lt;div class="col-sm-3 col-lg-3"&gt;
			&lt;section&gt;
				&lt;h3&gt;News&lt;/h3&gt;
				...
			&lt;/section&gt;
			&lt;section&gt;
				&lt;h3&gt;Contact information&lt;/h3&gt;
				...
			&lt;/section&gt;
		&lt;/div&gt;
		&lt;section class="col-sm-3 col-lg-3"&gt;
			&lt;h3&gt;Government&lt;/h3&gt;
			...
		&lt;/section&gt;
		&lt;section class="col-sm-3 col-lg-3 brdr-lft"&gt;
			&lt;h3&gt;Transparency&lt;/h3&gt;
			...
		&lt;/section&gt;</strong></code></pre>
							</li>
						</ul>
					</li>
					<li>Other themes:
						<ul>
							<li>Before:
								<pre><code>&lt;h2 class="wb-inv"&gt;Site Information&lt;/h2&gt;
	&lt;div class="row"&gt;
		&lt;section class="col-sm-3 col-lg-3"&gt;
			&lt;h3&gt;About&lt;/h3&gt;
			...
		&lt;/section&gt;
		<strong>&lt;section class="col-sm-3 col-lg-3"&gt;
			&lt;h3&gt;Contact information&lt;/h3&gt;
			...
		&lt;/section&gt;</strong></code></pre>
							</li>
							<li>After:
								<pre><code>&lt;h2 class="wb-inv"&gt;About this site&lt;/h2&gt;
	&lt;div class="row"&gt;
		<strong>&lt;section class="col-sm-3 col-lg-3"&gt;
			&lt;h3&gt;Contact information&lt;/h3&gt;
			...
		&lt;/section&gt;</strong>
		&lt;section class="col-sm-3 col-lg-3"&gt;
			&lt;h3&gt;About&lt;/h3&gt;
			...
		&lt;/section&gt;</code></pre>
							</li>
						</ul>
					</li>
				</ul>
			</li>
			<li>
				Moved the Date modified RDFa property into the time element
				<ul>
					<li>Before:
						<pre><code>&lt;dl id="wb-dtmd" <strong>property="dateModified"</strong>&gt;
	&lt;dt&gt;Date modified: &lt;/dt&gt;
	&lt;dd&gt;
		&lt;time&gt;2014-07-22&lt;/time&gt;
	&lt;/dd&gt;
&lt;/dl&gt;</code></pre>
					</li>
					<li>After:
						<pre><code>&lt;dl id="wb-dtmd"&gt;
	&lt;dt&gt;Date modified: &lt;/dt&gt;
	&lt;dd&gt;
		&lt;time <strong>property="dateModified"</strong>&gt;2014-07-22&lt;/time&gt;
	&lt;/dd&gt;
&lt;/dl&gt;</code></pre>
					</li>
				</ul>
			</li>
			<li>
				Wrapped Tabbed interface details and carousel tab panels with <code>div class="tabpanels"</code>
				<ul>
					<li>Tabbed interface:
						<ul>
							<li>Before:
								<pre><code>&lt;div class="wb-tabs wb-eqht"&gt;
	&lt;details id="details-panel1"&gt;
		...
	&lt;/details&gt;
	&lt;details id="details-panel2"&gt;
		...
	&lt;/details&gt;
	&lt;details id="details-panel3"&gt;
		...
	&lt;/details&gt;
&lt;/div&gt;</code></pre>
							</li>
							<li>After:
								<pre><code>&lt;div class="wb-tabs wb-eqht"&gt;
	<strong>&lt;div class="tabpanels"&gt;</strong>
		&lt;details id="details-panel1"&gt;
			...
		&lt;/details&gt;
		&lt;details id="details-panel2"&gt;
			...
		&lt;/details&gt;
		&lt;details id="details-panel3"&gt;
			...
		&lt;/details&gt;
	<strong>&lt;/div&gt;</strong>
&lt;/div&gt;</code></pre>
							</li>
						</ul>
					</li>
					<li>Carousel:
						<ul>
							<li>Before:
								<pre><code>&lt;div class=&quot;wb-tabs carousel-s1&quot;&gt;
	&lt;ul role=&quot;tablist&quot;&gt;
		...
	&lt;/ul&gt;
	&lt;div role=&quot;tabpanel&quot; id=&quot;panel1&quot; class=&quot;in fade&quot;&gt;
		...
	&lt;/div&gt;
	&lt;div role=&quot;tabpanel&quot; id=&quot;panel2&quot; class=&quot;out fade&quot;&gt;
		..
	&lt;/div&gt;
	...
&lt;/div&gt;</code></pre>
							</li>
							<li>After:
								<pre><code>&lt;div class=&quot;wb-tabs carousel-s1&quot;&gt;
	&lt;ul role=&quot;tablist&quot;&gt;
		...
	&lt;/ul&gt;
	<strong>&lt;div class="tabpanels"&gt;</strong>
		&lt;div role=&quot;tabpanel&quot; id=&quot;panel1&quot; class=&quot;in fade&quot;&gt;
			...
		&lt;/div&gt;
		&lt;div role=&quot;tabpanel&quot; id=&quot;panel2&quot; class=&quot;out fade&quot;&gt;
			..
		&lt;/div&gt;
		...
	<strong>&lt;/div&gt;</strong>
&lt;/div&gt;</code></pre>
							</li>
						</ul>
					</li>
				</ul>
			</li>
		</ol>
	</section>

	<section>
		<h3>What's New</h3>
		<ul>
			<li><strong>AJAX fetch:</strong> Modified the Ajax Fetch plugin to provide more control via jQuery AJAX settings and to send the context with the event</li>
			<li><strong>Calendar of events:</strong> Added fluid width display option</li>
			<li><strong>Calendar of events / Date picker:</strong> Fixed goto month field issues.</li>
			<li><strong>Calendar of events / Date picker:</strong> Fixed numerous keyboard handling issues.</li>
			<li><strong>CSS:</strong> Fixed pagination wrapping in IE8</li>
			<li><strong>CSS:</strong> Fixed wrapping issues with the <code>btn</code> class</li>
			<li><strong>Data AJAX:</strong> Added documentation</li>
			<li><strong>Data InView:</strong> Added documentation and examples for CSS transitions and view state change events</li>
			<li><strong>Datalist polyfill:</strong> Added an example of a dynamic datalist</li>
			<li><strong>Datalist polyfill:</strong> Added the update event to allow updating of a dynamically modified datalist</li>
			<li><strong>Date picker:</strong> Fixed spacing for picker toggle button in RTL display</li>
			<li><strong>Feeds:</strong> Added Flickr and YouTube support</li>
			<li><strong>Feeds:</strong> Delayed postProcessing of feeds when not visible</li>
			<li><strong>Feeds:</strong> Now uses the AJAX Fetch plugin</li>
			<li><strong>Footnotes:</strong> Increased width and spacing of links</li>
			<li><strong>Geomap:</strong> Added margins to the map object to make scrolling on mobile devices easier</li>
			<li><strong>Geomap:</strong> Fixed accessibility issues with new AOI feature</li>
			<li><strong>HTML minification:</strong> Preserved line breaks to make it easier to implement the templates.</li>
			<li><strong>i18n</strong> Fixed i18n strings where ' was not properly encoded</li>
			<li><strong>Lightbox:</strong> Added open.wb-lbx event for opening a Lightbox popup through JavaScript</li>
			<li><strong>Menu:</strong> Added search icon to mobile panel button and increased mobile panel button height by 20%</li>
			<li><strong>Menu:</strong> Changed menu panel heading, button and title to 'Search and menus'</li>
			<li><strong>Menu:</strong> Fixed a display issue with the <code>slflnk</code> class</li>
			<li><strong>Menu:</strong> Fixed menu handling for undefined AJAX response</li>
			<li><strong>Menu:</strong> Fixed outlining of non-section wb-navcurr links in the menu panel</li>
			<li><strong>Multimedia player:</strong> Fixed not being able to have more than one YouTube player per page</li>
			<li><strong>Overlay:</strong> Added documentation</li>
			<li><strong>Overlay:</strong> Added example of opening overlays with JavaScript</li>
			<li><strong>Session timeout:</strong> Prevented double firing of requests.</li>
			<li><strong>Tables:</strong> Added documentation</li>
			<li><strong>Tables:</strong> Added role='button' and aria-pressed to the pagination buttons to indicate which button is pressed</li>
			<li><strong>Tables:</strong> Removed HTML tags before doing any filtering for formatted number</li>
			<li><strong>Tabs:</strong> Fixed handling of attributes when transitioning between views</li>
			<li><strong>Tabs:</strong> Only pause initialized video players when changing tabs</li>
			<li><strong>Tabs - Carousel:</strong> Added support for fade and slide transitions</li>
			<li><strong>Template:</strong> Added support for a full-width main</li>
			<li><strong>Template:</strong> Changed site menu heading in fullmenu AJAX file</li>
			<li><strong>Template:</strong> Changed heading text and skip link text for site menu, secondary menu and site information</li>
			<li><strong>Template:</strong> Made skip to footer link discoverable in small view</li>
			<li><strong>Template:</strong> Moved contact information section to the start of the footer</li>
			<li><strong>Template:</strong> Moved the Date modified RDFa property into the time element</li>
			<li><strong>Toggle:</strong> Fixed arrow key handling</li>
			<li><strong>Variants:</strong> Added Jekyll and WordPress working examples</li>
			<li><strong>WET theme:</strong> Increased the minimum height of the top bar in mobile view</li>
		</ul>
	</section>
</section>

<section>
	<h2>v4.0.3</h2>
	<ul>
		<li><strong>Release date:</strong> <time>2014-06-17</time></li>
		<li><a href="v4.0.3-en.html">Release notes<span class="wb-inv"> - v4.0.3</span></a></li>
		<li><a href="../dwnld-en.html#v403">Downloads<span class="wb-inv"> - v4.0.3</span></a></li>
	</ul>

	<section>
		<h3>What's New</h3>
		<ul>
			<li><strong>Ajax fetch / Data Ajax / Menu:</strong> Now passing along AJAX status and messaging in Ajax fetch and only completing Data Ajax and Menu updates when there are no load errors</li>
			<li><strong>Archived:</strong> Removed duplicate icon</li>
			<li><strong>Calendar of events:</strong> Fixed arrowing to previous/next month</li>
			<li><strong>Calendar of events:</strong> Switched to only one link being in the tab order at a time</li>
			<li><strong>Calender of events / Date picker:</strong> Fixed application of colours to other themes</li>
			<li><strong>Core:</strong> Fixed gray-light so meets colour contrast against white backgrounds</li>
			<li><strong>Core:</strong> Fixed selector for wet-boew script element</li>
			<li><strong>Core:</strong> Preventing viewChange from removing all classes if executed too early. This is a failsafe for cases where viewChange is manually triggered too early.</li>
			<li><strong>CSS:</strong> Fixed colcount support for ordered lists</li>
			<li><strong>Date picker:</strong> Fixed listing of maximum month</li>
			<li><strong>Feeds:</strong> Added Facebook template for Facebook-driven feeds</li>
			<li><strong>Form validation:</strong> Added ability to configure which fields for validation to ignore</li>
			<li><strong>Form validation:</strong> Made labels for number and digit/numeric validation more accurate</li>
			<li><strong>Geomap:</strong> Added area of interest (AOI), geolcoation, and geocoding widgets</li>
			<li><strong>jQuery:</strong> Update to 1.11.1 and 2.1.1 patch releases</li>
			<li><strong>Lightbox:</strong> Fixed incorrect closing of AJAX popups.</li>
			<li><strong>Menu:</strong> Fixed order of navcurrent checking to go from more specific links to less specific links</li>
			<li><strong>Multimedia player:</strong> Added a volume control</li>
			<li><strong>Multimedia player:</strong> Added the ability to share a video</li>
			<li><strong>Multimedia player:</strong> Added WAI-ARIA properties to the toggle buttons (mute and cc)</li>
			<li><strong>Multimedia player:</strong> Dropped the fast forward and rewind buttons</li>
			<li><strong>Multimedia player:</strong> Fixed the audio player displaying as a video</li>
			<li><strong>Multimedia player:</strong> Fixed the display and positioning of the progress bar and the closed caption button</li>
			<li><strong>Multimedia player:</strong> Fixed the multimedia player in xxsmall view</li>
			<li><strong>Multimedia player:</strong> Increased the captions area to minimize shifting in mobile devices. Also centred captions vertically.</li>
			<li><strong>Multimedia player:</strong> Made the text always visible and the background for the controls lighter</li>
			<li><strong>Multimedia player:</strong> Removed the overlay for the YouTube player. The overlay was overlapping all buttons rendering them non-functional.</li>
			<li><strong>Multimedia player:</strong> Unified the multimedia controls focus display</li>
			<li><strong>Share:</strong> Changed share widget from a right panel to a centred popup</li>
			<li><strong>Share:</strong> Removed Technorati option due to 404 error for faves option</li>
			<li><strong>Share:</strong> Removed underlining for space between link text and the share icon</li>
			<li><strong>Tabbed interface:</strong> Added ability to control rotation interval through data-wb-tabs</li>
			<li><strong>Tabbed interface:</strong> Carousels are now scalable so can fit in columns of varying sizes</li>
			<li><strong>Tabbed interface:</strong> Enabled tab count to be visible in extra-small view</li>
			<li><strong>Tabbed interface:</strong> Fixed fading effect</li>
			<li><strong>Tabbed interface:</strong> Stops carousel for any clicks within a tab panel</li>
			<li><strong>Tabbed interface / Multimedia player:</strong> Added example of the multimedia player embedded in a Tabbed interface carousel</li>
			<li><strong>Tabbed interface / Multimedia player:</strong> Automatically stops all multimedia players within the current tab panel when the tab panel changes</li>
			<li><strong>Tabbed interface / Multimedia player:</strong> Changed examples to use figure/figcaption</li>
			<li><strong>Tabbed interface / Multimedia player:</strong> Fixed z-index issue with multimedia players embedded in a tabs carousel</li>
		</ul>
	</section>
</section>

<section>
	<h2>v4.0.2</h2>
	<ul>
		<li><strong>Release date:</strong> <time>2014-05-21</time></li>
		<li><a href="v4.0.2-en.html">Release notes<span class="wb-inv"> - v4.0.2</span></a></li>
		<li><a href="../dwnld-en.html#v402">Downloads<span class="wb-inv"> - v4.0.2</span></a></li>
	</ul>

	<section>
		<h3>What's New</h3>
		<ul>
			<li>Archived: Added underline to top overlay link</li>
			<li>Archived: Moved explanatory archived message to within archived section and corrected heading</li>
			<li>Archived: Updated archived notice heading</li>
			<li>Charts - Upgraded to Flot 0.8.3 and fixed the missing table caption issue</li>
			<li>Date picker: Fixed toggle button when secondary menu is present</li>
			<li>Definition lists: Allowed wrapping in dt elements of .dl-horizontal</li>
			<li>HTML Table Validator: Migrated to v4.0</li>
			<li>Lightbox: Fixed cursor hover over close button</li>
			<li>Lightbox: Fixed printing issues</li>
			<li>Menu: Fixed loading of extra language links in the mobile panel</li>
			<li>Slider polyfill: Replaced fd-slider with a custom version that allows dynamic creation of the polyfill</li>
			<li>Slider polyfill: Standardized event handling to address Android issues</li>
			<li>Tables: Added indication of current and future state to sorting icons</li>
			<li>Tables: Aligned pagination with Bootstrap pagination</li>
			<li>Tables: Fixed sorting of formatted numbers</li>
			<li>Tables: Moved showing x to x of x entries to the top of the table</li>
			<li>Tables: Now hiding deactivated pagination buttons</li>
			<li>Tables: Removed bolding from show and filter fields and updated example source code</li>
			<li>Tables: Updated to DataTables 1.10.0</li>
		</ul>
	</section>
</section>

<section>
	<h2>v4.0.1</h2>
	<ul>
		<li><strong>Release date:</strong> <time>2014-04-23</time></li>
		<li><a href="v4.0.1-en.html">Release notes<span class="wb-inv"> - v4.0.1</span></a></li>
		<li><a href="../dwnld-en.html#v401">Downloads<span class="wb-inv"> - v4.0.1</span></a></li>
	</ul>

	<section>
		<h3>What's New</h3>
		<ul>
			<li>Build: Added SCSS-Lint to the Travis build</li>
			<li>Data-picture: Added support for data-class attribute</li>
			<li>Details/summary: Added indenting and margin bottom when details is open</li>
			<li>Documentation: Added a getting started guide</li>
			<li>Favicon: Updated plugin element selector</li>
			<li>Feedback form: Fixed triggering of the form validation plugin</li>
			<li>Lightbox: Fixed inner padding of AJAX modal dialog</li>
			<li>Lightbox: Popup now closes when navigating outside the popup</li>
			<li>Menu: Added support for additional footer links in the mobile panel</li>
			<li>Menu: Added support for more than just English and French</li>
			<li>Menu: Changed down triangle to chevron</li>
			<li>Menu: Fixed secondary menu links in mobile panel in IE8</li>
			<li>Menu: Removed underlining on menu hover</li>
			<li>Multimedia player: Fixed issues with the iPad player not preserving ratio</li>
			<li>Multimedia player: Fixed the display of the progress bar in Webkit</li>
			<li>Multimedia player: Fixed the YouTube player duration not updating properly</li>
			<li>Multimedia player: Hiding the close captions button on the audio player</li>
			<li>Multimedia player: Restored responsiveness for the YouTube player</li>
			<li>Overlay: Fixed incorrect overlay border in IE8</li>
			<li>Share widget: Removed DZone due to their broken login page redirect</li>
			<li>Tabbed interface: Fixed duplication of carousel play/pause button text when button is activated</li>
			<li>Tables: Added sorting for currency and formatted numbers</li>
			<li>Tables: Changed sort icons</li>
			<li>Web Accessibility Assessment Methodology: Fixed issue with AA total</li>
			<li>WET theme: Enabled secondary menu to work without the a element on the top header</li>
		</ul>
	</section>
</section>

<section>
	<h2>v4.0.0</h2>
	<ul>
		<li><strong>Release date:</strong> <time>2014-03-31</time></li>
		<li><a href="v4.0.0-en.html">Release notes<span class="wb-inv"> - v4.0.0</span></a></li>
		<li><a href="../dwnld-en.html#v400">Downloads<span class="wb-inv"> - v4.0.0</span></a></li>
	</ul>

	<section>
		<h3>What's New</h3>
		<ul>
			<li>Buttons: Changed button borders to give them more depth</li>
			<li>Calendar of Events: Removed role='application'</li>
			<li>Core: Standardized WET data handling to data-wb-pluginName and global overrides to window[ pluginName ]</li>
			<li>CSS: Overrode the default width of 100% for form controls and added a class for enabling 100% width</li>
			<li>CSS: Fixed the sizes and top margins of heading elements</li>
			<li>CSS: Made footer visible in small view</li>
			<li>Form validation: Improved compatibility with name attributes containing periods</li>
			<li>Geomap: Fixed map not loading IE8 </li>
			<li>Input type='date' polyfill: Made close button label more meaningful</li>
			<li>Input type='date' polyfill: Changed toggle from button to link to prevent inadvertent triggering of the toggle</li>
			<li>Input type="date" polyfill: Fixed keyboard focus handling on calendar days</li>
			<li>Lightbox: Added focus redirection to prevent Jaws from exiting the Lightbox prematurely</li>
			<li>Markup: Fixed a validation error with favicon references</li>
			<li>Menu: Removed the box shadow from the sub menus, added wb-navcurr styling and changed the colour of the lines separating menu items</li>
			<li>Menu: Added support for wb-navcurr highlighting in the mobile panel</li>
			<li>Menu: Fixed display of non-section links and summary focus in mobile panel</li>
			<li>Menu: Made mobile panel button look more like a button</li>
			<li>Menu: Improved support for nested menu items</li>
			<li>Multimedia player: Added the ability to include the multimedia player in a tab panel</li>
			<li>Multimedia player: Fixed issue where the multimedia player would not initialize for dynamic elements</li>
			<li>Overlay: Ensured overlay is scrolled to the top when opened</li>
			<li>Pagination: Fixed the design of the pagination widget</li>
			<li>Share widget: Added ability to customize the link CSS and add sites to the panel</li>
			<li>Tabs: Updated the design of the accordion style in small view and under to better represent the relationship of the elements.</li>
			<li>Tabs: Fixed carousel-s2 display issue in small and extra-small view</li>
		</ul>
	</section>
</section>

<section>
	<h2>v4.0.0 Release Candidate 1</h2>
	<ul>
		<li><strong>Release date:</strong> <time>2014-03-18</time></li>
		<li><a href="v4.0.0-rc1-en.html">Release notes<span class="wb-inv"> - v4.0.0 Release Candidate 1</span></a></li>
		<li><a href="../dwnld-en.html#v400rc1">Downloads<span class="wb-inv"> - v4.0.0 Release Candidate 1</span></a></li>
	</ul>

	<section>
		<h3>What's New</h3>
		<ul>
			<li>Geomap: Ported Charts plugin from WET v3.1.</li>
			<li>Share widget: Corrected share widget links</li>
			<li>Share widget: Added site filter</li>
			<li>Share widget: Added Yahoo! Mail, Gmail and mailto options</li>
			<li>Tabs: Changed top border, and background colours of tabs to make the active tab more distinctive</li>
			<li>Tabs: Changed the carousel tabbing order so previous/next are before the tabs</li>
			<li>Tabs: Reconfigured button locations and backgrounds of carousel style 2 in small view</li>
			<li>Tabs: Added Item x of n display for carousel in small view</li>
			<li>Multimedia player: Fixed display of buttons</li>
			<li>Form validation: Changed appearance of error summary and inline messages</li>
			<li>Menu: Changed secondary menu to a contextual menu</li>
			<li>Bootstrap: Switched to Sass variant</li>
			<li>Bootstrap: Overrode the default appearance of Bootstrap labels, alerts and btn-default</li>
			<li>WET theme: Removed role='contentinfo' from Date modified field</li>
			<li>Build: Added HTML validation</li>
			<li>Build: Added the i18n auto-generation of theme pages with strings from Google Docs</li>
			<li>Build: Separate IE8 uglify for ANSII issue</li>
		</ul>
	</section>
</section>

<section>
	<h2>v4.0.0 Beta 2</h2>
	<ul>
		<li><strong>Release date:</strong> <time>2014-03-01</time></li>
		<li><a href="v4.0.0-b2-en.html">Release notes<span class="wb-inv"> - v4.0.0 Beta 2</span></a></li>
		<li><a href="../dwnld-en.html#v400b2">Downloads<span class="wb-inv"> - v4.0.0 Beta 2</span></a></li>
	</ul>

	<section>
		<h3>What's New</h3>
		<ul>
			<li><strong>Breaking change:</strong> Feedback form JS and CSS are no longer included in the core files. The separate JS and CSS files need to be included in the page for the feedback form to work.</li>
			<li>Menu: Restructured the menus in the mobile panel, switching from a single WAI-ARIA accordion to multiple WAI-ARIA menus.</li>
			<li>Tabbed interface carousel: Corrected overlapping and clipping issues on small-screen smartphones.</li>
			<li>Secondary menu: Corrected structural issues and a disabled a non-functional link.</li>
			<li>Touchscreen: Corrected several touch-related issues with the menu bar, the mobile panel, accordions and details/summary.</li>
			<li>Localstorage: Prevented JS errors when localStorage becomes unavailable when the browser is in private mode.</li>
			<li>Overlay: Prevented the top overlay from overlapping content that gain focus (e.g., clicking a same-page link).</li>
			<li>Charts: Ported Charts plugin from WET v3.1.</li>
			<li>Themes: Ported the GC Web Usability, GC Intranet, Base and OGPL themes from WET v3.1.</li>
			<li>Share widget: Added the ability to share multiple different types of content on the same page.</li>
			<li>Web Accessibility Assessment Methodology: Ported the Web Accessibility Assessment Methodology from WET v3.1.</li>
			<li>RTL: Fixed numerous RTL issues with various plugins and themes</li>
		</ul>
	</section>
</section>

<section>
	<h2>v4.0.0 Beta 1</h2>
	<ul>
		<li><strong>Release date:</strong> <time>2013-12-16</time></li>
		<li><a href="v4.0.0-b1-en.html">Release notes<span class="wb-inv"> - v4.0.0 Beta 1</span></a></li>
		<li><a href="../dwnld-en.html#v400b1">Downloads<span class="wb-inv"> - v4.0.0 Beta 1</span></a></li>
	</ul>

	<section>
		<h3>What's New</h3>
		<ul>
			<li>New plugin framework based upon JavaScript Event Programming (JEP)</li>
			<li>Major reduction in total page sizes, page load times and page paint times (approximately an 80% decrease)</li>
			<li>Replaced grid system with Twitter Bootstrap</li>
			<li>Ported most v3.1 plugins and polyfills and optimized for touchscreen mobile devices</li>
			<li>Replaced mobile popups with a mobile panel, reducing the number of buttons for mobile to one</li>
			<li>Increased font size and spacing between touch targets to better support touchscreen devices</li>
			<li>New plugins: Data AJAX, Data-Inview, Equal height, Overlay, Toggle and Twitter Embedded Timeline</li>
			<li>Removed dependency on jQuery Mobile</li>
			<li>Page no longer refreshes when transitioning between views</li>
			<li>Replaced custom Ant build system with a build system based on Node.js, Grunt.js, Bower, Assemble and other well-supported build components</li>
		</ul>
	</section>
</section>
