---
{
	"title": "v4.0.19 release notes",
	"language": "en",
	"description": "v4.0.19 release notes - Version history - Web Experience Toolkit (WET)",
	"altLangPrefix": "v4.0.19",
	"dateModified": "2015-12-02"
}
---
<ul>
	<li><strong>Release date:</strong> <time>2015-12-01</time></li>
	<li><a href="../dwnld-en.html#v4019">Downloads</a></li>
</ul>

<span class="wb-prettify all-pre"></span>

<section>
	<h2>What's New</h2>
	<ul>
		<li>+2 release fixes an issue with feeds not functioning</li>
		<li>Fixed various visual issues with details/summary, collapsible alerts, tabs, and sidebar menus related to recent details/summary enhancements</li>
		<li>Fixed a bug involving android browser losing textual focus when touching an input element inside a form</li>
		<li>Added the ability to automatically open the correct tab when linking to an anchor inside that tab with the correct scroll position</li>
		<li>Fixed a visual line wrapping issue in footnotes affecting reference links</li>
		<li>Added a class to lightbox (wb-lbx-skip) to skip a given link from being considered to be part of the gallery</li>
		<li>Fixed an issue in tabs with scrolling when linking to anchors inside tabs</li>
		<li>Visual improvements to the horizontal description list styling</li>
		<li>Enable styling legends for checkbox and radio button groups as labels via the class chkbxrdio-grp</li>
		<li>Allow errors to wrap in the form validation plugin</li>
		<li>Fixed issues related to events occurring inside tabs causing tabs to close</li>
		<li>Prevent underline styling for navigation links in tabs and pills</li>
		<li>Fix duplicate error summaries in form validation</li>
		<li>Fix bug related to duplicate end dates in the calendar of events plugin</li>
		<li>Fix btn-xs text alignment</li>
		<li>Fix offline jQuery loading the IE8 version in modern browsers and IE8 loading the modern browser version</li>
	</ul>
</section>

<section>
	<h2>Details</h2>
	<p><strong>Number of commits:</strong> 38</p>
	<ul>
		<li><a href="https://github.com/andre-gh">@andre-gh</a>: 15 commit</li>
		<li><a href="https://github.com/LaurentGoderre">@LaurentGoderre</a>: 4 commits</li>
		<li><a href="https://github.com/pjackson">@pjackson</a>: 4 commits</li>
		<li><a href="https://github.com/EricDunsworth">@EricDunsworth</a>: 3 commits</li>
		<li><a href="https://github.com/thomasgohard">@thomasgohard</a>: 3 commits</li>
		<li><a href="https://github.com/nedyrb">@nedyrb</a>: 2 commits</li>
		<li><a href="https://github.com/ptsimard">@ptsimard</a>: 2 commit</li>
		<li><a href="https://github.com/shawnthompson">@shawnthompson</a>: 2 commits</li>
		<li><a href="https://github.com/masterbee">@masterbee</a>: 1 commit</li>
		<li><a href="https://github.com/MaximMartel">@MaximMartel</a>: 1 commit</li>
		<li><a href="https://github.com/lucas-hay">@lucas-hay</a>: 1 commit</li>
	</ul>
	<section>
		<h3>List of commits</h3>
		<ul>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/333f168">Details/summary: Fixed border shifting CSS issue when expanding/collapsing.</a> - Eric Dunsworth, 2015-07-22 01:17:08 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/62ed771">CSS: Fix the presentation of details/summary in the menu.</a> - Thomas Gohard, 2015-07-28 14:30:31 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/f5448a4">Tabbed interface: Opens panel when linking from a differnt page to an anchor within that panel and corrects the scroll position</a> - Paul Jackson, 2015-09-21 11:30:24 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/c5611f7">Updated the build version to v4.0.19-development</a> - lucas-hay, 2015-09-24 09:54:14 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/69c866e">Footnotes: Fixed line wrapping issue that affected reference links. Prevents the left/right edges of footnote reference links from splitting across lines when space is limited.</a> - Eric Dunsworth, 2015-09-24 14:38:09 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/23c35dc">Adding an alert box explaining new release cycle</a> - Maxim Martel, 2015-09-28 11:16:36 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/db73625">lightbox: Add a feature to skip gallery links.</a> - Andre D, 2015-09-28 13:46:12 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/1718b60">Tabs: Fix issue with closed tabs having height.</a> - Andre D, 2015-09-29 13:48:47 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/3bf14e0">Fix lint issues</a> - Andre D, 2015-09-29 13:58:08 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/1cc8fb2">Make secnav selector less restrictive (menu.js)</a> - Philippe T. Simard, 2015-10-01 11:31:43 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/b279c1b">CSS: Improvements to the horizontal description list styling.</a> - Thomas Gohard, 2015-10-08 14:55:07 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/3a760ce">CSS: Enable styling legends for checkbox and radio button groups as labels.</a> - Thomas Gohard, 2015-10-08 15:32:58 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/32fb970">Update menu.js</a> - Philippe T. Simard, 2015-10-08 15:49:51 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/376f36f">Form Validation: Allow errors to wrap.</a> - Andre D, 2015-10-08 16:01:49 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/226eca2">Form validation: Fixed label for minimum of 2 words example</a> - Paul Jackson, 2015-10-19 13:22:59 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/d896b8b">Toggle: Prevented bubbling of toggled event from affecting parent containers</a> - Paul Jackson, 2015-10-19 14:42:50 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/30a70d5">Prevent underline for navigation links (tabs and pills)</a> - Laurent Goderre, 2015-10-19 16:00:03 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/75639fd">updated modernizr version due to build 404 error</a> - Shawn Thompson, 2015-10-22 11:04:22 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/9994827">Form validation: Fixed duplicate error summaries</a> - Paul Jackson, 2015-10-22 14:02:43 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/c4e4522">Remove modernizr build for now.</a> - Andre D, 2015-11-05 13:21:18 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/d5c696c">[Code Formatting] - Corrected various code formats</a> - Mario Bonito, 2015-11-06 23:09:07 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/9506640">updated imagemin to new version to fix issue with GCWeb build</a> - Shawn Thompson, 2015-11-09 14:08:20 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/d6f5d23">Travis: Do not cache.</a> - Andre D, 2015-11-09 15:59:36 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/33c7475">Remove imagemin</a> - Andre D, 2015-11-09 15:59:57 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/5a5018a">fixes 7191</a> - Bryden Arndt, 2015-11-12 15:50:11 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/f1da559">fixes whitespace issues</a> - Bryden Arndt, 2015-11-17 12:06:05 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/c2d2cd4">Fix btn-xs</a> - Andre D, 2015-11-17 13:01:32 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/f6ebf30">Fixed the offline jQuery version being switched</a> - Laurent Goderre, 2015-11-18 14:22:39 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/cba6847">Fix visual issue with rounded border where tab content meets tab bar.</a> - Andre D, 2015-11-19 12:44:49 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/6a418bd">Fix collapsible alerts with details enhancements.</a> - Andre D, 2015-11-19 12:46:38 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/b2280ec">Fix overlapping extra borders on small view tabs.</a> - Andre D, 2015-11-19 16:39:08 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/aab9c94">Updated the i18n strings</a> - Laurent Goderre, 2015-11-20 09:58:28 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/e711fa6">Added the sign-in/sign-off example</a> - Laurent Goderre, 2015-11-20 10:05:44 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/f81e4f1">Tabs: Fix style only applying to polyfill.</a> - Andre D, 2015-11-20 16:12:34 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/bd001af">Menu: Fix white border on side menu items.</a> - Andre D, 2015-11-20 16:31:58 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/eda43ca">Tabs: Fix tabs equalheight adding both on and off class at the same time</a> - Andre D, 2015-11-23 12:10:50 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/555de0d">equalheight: Fix issues with multiple equalheight groups.  By @duprasf</a> - Andre D, 2015-11-26 18:08:56 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/dea5c6a">Footnotes: Corrected typo in English documentation.</a> - Eric Dunsworth, 2015-11-27 16:53:18 -0500</li>
		</ul>
	</section>
</section>
