---
{
	"title": "v4.0.23 release notes",
	"language": "en",
	"description": "v4.0.23 release notes - Version history - Web Experience Toolkit (WET)",
	"altLangPrefix": "v4.0.23",
	"dateModified": "2016-11-18"
}
---
<ul>
	<li><strong>Release date:</strong> <time>2016-11-16</time></li>
	<li><a href="../dwnld-en.html#v4023">Downloads</a></li>
</ul>

<span class="wb-prettify all-pre"></span>

<section>
	<h2>What's New</h2>
	<ul>
		<li>[Datatables] - added more filtering capabilites (#7638)</li>
		<li>Multimedia player: Increased specifity of keyboard shortcuts and fixed space key shortcut issues.</li>
		<li>Bootstrap overrides: Changed placeholder links to look like plain text.</li>
		<li>jquery validation: Update step validation to handle floating points correctly #7666</li>
		<li>Menu: Add support for ajaxed footer parts</li>
		<li>Data-ajax - Improved the documentation to explain the internal event "wb-contentupdated"</li>
		<li>Menu: Enhancements to hover behaviour (#7416)</li>
		<li>[Multimedia] - ARIA addition (#7507)</li>
		<li>Updated the i18n files with Inuktitut</li>
		<li>JSON fetch and data JSON plugin. Insert content extracted from a JSON file. Data are selected as per JSON Pointer URI Fragment, RFC6901</li>
	</ul>
</section>

<section>
	<h2>Details</h2>
	<p><strong>Number of commits:</strong> 10</p>
	<ul>
		<li><a href="https://github.com/LaurentGoderre">@LaurentGoderre</a>: 9 commits</li>
		<li><a href="https://github.com/shawnthompson">@shawnthompson</a>: 6 commits</li>
		<li><a href="https://github.com/maximmartel">@maximmartel</a>: 6 commits</li>
		<li><a href="https://github.com/masterbee">@masterbee</a>: 5 commit</li>
		<li><a href="https://github.com/duboisp">@duboisp</a>: 5 commits</li>
		<li><a href="https://github.com/EricDunsworth">@EricDunsworth</a>: 4 commits</li>
		<li><a href="https://github.com/gvautour">@gvautour</a>: 1 commits</li>
		<li><a href="https://github.com/jilusan">@jilusan</a>: 1 commits</li>
		<li><a href="https://github.com/derpsoul">@derpsoul</a>: 1 commits</li>
	</ul>
	<section>
		<h3>List of commits</h3>
		<ul>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/f864767">Updated the build version to v4.0.23-development</a> - Maxim Martel, 2016-08-11 08:48:24 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/f4979ba">Adds class to change font-weight to normal on elements that are bold</a> - Shawn Thompson, 2016-08-16 09:00:32 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/14ef1ce">[Datatables] - added more filtering capabilites (#7638)</a> - Mario Bonito, 2016-08-18 04:04:15 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/53e1a64">Multimedia player: Increased specifity of keyboard shortcuts and fixed space key shortcut issues.</a> - Eric Dunsworth, 2016-08-18 15:22:23 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/1cf81b5">Added a link to the Design Guide in the Key resources #7647</a> - Maxim Martel, 2016-08-29 10:58:34 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/5f9f828">Removed lang=en</a> - Maxim Martel, 2016-08-29 11:21:25 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/dd03c0f">Bootstrap overrides: Changed placeholder links to look like plain text.</a> - Eric Dunsworth, 2016-09-09 13:46:57 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/8012657">Fixed #283 - Form validation example fix</a> - Maxim Martel, 2016-09-14 10:19:05 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/f262c57">remove the styles for the top and bottom overlays bars from the base WET CSS move them to the demo css</a> - Shawn Thompson, 2016-09-20 20:40:07 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/627030b">update Node to 4.5.0 on Travis CI</a> - Shawn Thompson, 2016-09-26 20:03:45 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/0e6995c">jquery validation: Update step validation to handle floating points correctly #7666 Correct formvalid-fr.hbs</a> - Gil M Perez, 2016-09-27 09:30:28 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/ee47393">Carousel: Disabled borders in small view and below.</a> - Eric Dunsworth, 2016-10-04 16:02:19 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/bba72f3">Details: Prevented summary disclosure arrows from disappearing in Firefox if JS is disabled.</a> - Eric Dunsworth, 2016-10-04 16:50:54 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/e5e0f51">Revert "[Saucelabs] - disable saucelabs."</a> - Laurent Goderre, 2016-10-24 09:08:35 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/7ef1a07">Prettify: Optimize the tests</a> - Laurent Goderre, 2016-10-24 09:08:35 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/ea08b31">updated the grunt-image version fixes #7687</a> - Shawn Thompson, 2016-10-25 08:13:29 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/f9e3d7c">Bump grunt-saucelabs</a> - Laurent Goderre, 2016-10-25 08:20:02 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/dbc926c">Menu: Add support for ajaxed footer parts</a> - Laurent Goderre, 2016-10-25 12:12:18 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/2cca2ef">Data-ajax - Improved the documentation to explain the internal event "wb-contentupdated"</a> - Pierre Dubois, 2016-10-25 20:50:08 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/5d19f62">Improved sass-lint</a> - Laurent Goderre, 2016-10-26 08:01:53 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/afa3c47">Fixed the whitespace validation in ESLint</a> - Laurent Goderre, 2016-10-26 13:20:51 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/6d17426">Switched to the jQuery preset</a> - Laurent Goderre, 2016-10-27 08:18:49 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/a6b0a4b">Fixed eslint sequence error</a> - Laurent Goderre, 2016-10-27 08:19:43 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/a0d65da">Menu: Enhancements to hover behaviour (#7416)</a> - derpsoul, 2016-10-28 21:45:33 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/2b78581">added function to clear local storage for dismissable content page (#7490)</a> - Shawn Thompson, 2016-10-28 22:01:49 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/59871bd">[Multimedia] - ARIA addition (#7507)</a> - Mario Bonito, 2016-10-28 22:14:55 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/891e090">corrected eslint errors in build (#7722)</a> - Mario Bonito, 2016-10-28 23:42:18 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/c8f1ff0">removed hard-coded URL values for page specific URL properties (#7719)</a> - Mario Bonito, 2016-10-29 23:59:32 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/93d7b25">change `gc-elps` to `wb-elps` to use WET namespace (#7730)</a> - Shawn Thompson, 2016-11-01 20:48:42 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/2c2d058">roadmap update (#7737)</a> - Mario Bonito, 2016-11-05 11:49:24 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/3cbd538">JSON fetch and data JSON plugin. Insert content extracted from a JSON file. Data are selected as per JSON Pointer URI Fragment, RFC6901</a> - Pierre Dubois, 2016-11-07 22:54:42 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/13d9c94">Data-inview - Improved documentation and demo, close #7754</a> - Pierre Dubois, 2016-11-11 15:26:51 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/c48f5bf">Data-inview - Fixed issue that filler text was read by screen reader. As per my comment https://github.com/wet-boew/wet-boew/pull/7755#discussion_r87828871</a> - Pierre Dubois, 2016-11-14 20:52:22 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/c2036f9">Updated roadmap</a> - Maxim Martel, 2016-11-16 13:21:59 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/58d483c">Fix contrast issue in dialog title</a> - Pierre Dubois, 2016-11-17 21:28:12 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/7e997d1">Tabbed Interface: Documentation Typo</a> - Gabriel Vautour, 2016-11-17 21:52:20 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/b2bf8e4">Updated the i18n files with Inuktitut</a> - Laurent Goderre, 2016-11-18 11:12:45 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/63ff298">Moved the saucelabs test out of the main build</a> - Laurent Goderre, 2016-11-18 13:24:32 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/4fe54f1">Updated files for the v4.0.23 maintenance release</a> - Maxim Martel, 2016-11-18 13:44:34 -0500</li>
		</ul>
	</section>
</section>
