---
{
	"title": "v4.0.33 (STR) release notes",
	"language": "en",
	"description": "v4.0.33 (STR) release notes - Version history - Web Experience Toolkit (WET)",
	"altLangPrefix": "v4.0.33",
	"dateModified": "2019-12-04"
}
---
<p>Version 4.0.33 (STR) <a href="https://wet-boew.github.io/wet-boew-documentation/decision/9.html" class="label label-info">What is STR?</a></p>
<ul>
	<li><strong>Launching date:</strong>
		<time>2019-12-05</time>
	</li>
	<li><a href="../dwnld-en.html#v4033">Downloads</a></li>
</ul>
<div class="wb-prettify all-pre"></div>
<section>
	<h2>What’s new?</h2>
	<ul>
		<li>Styles and plugins
			<ul>
				<li>Minor - Have explicit checkboxes and radio buttons (input sibling to the label instead of child).</li>
			</ul>
		</li>
		<li>Maintenance
			<ul>
				<li>Build script - Fixed as master build was failing</li>
			</ul>
		</li>
	</ul>
	<section>
		<h3 id="implementation">Modified files for implementation</h3>
		<ul>
			<li>Main CSS:
				<ul>
					<li>theme-wet-boew/css/theme.css</li>
					<li>theme-wet-boew/css/theme.min.css</li>
				</ul>
			</li>
		</ul>
	</section>
</section>
<section>
	<h2>Details</h2>
	<p><strong>Number of commits:</strong> 6</p>
	<section>
		<h3>Contributors</h3>
		<ul>
			<li><a href="https://github.com/delisma">David Elisma (@delisma)</a></li>
			<li><a href="https://github.com/GormFrank">Francis Gorman (@GormFrank)</a></li>
			<li>dependabot[bot]</li>
		</ul>
	</section>
	<section>
		<h3>List of commits</h3>
		<ul>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/1e0ae7798">Bump is-my-json-valid from 2.16.1 to 2.20.0</a> - dependabot[bot], 2019-11-13 18:11:56 +0000</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/71e6e4540">Bump stringstream from 0.0.5 to 0.0.6</a> - dependabot[bot], 2019-11-13 18:11:56 +0000</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/0d7d5b0b0">Bump handlebars from 4.0.10 to 4.0.14</a> - dependabot[bot], 2019-11-14 15:32:44 +0000</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/25259a1a0">Bump sshpk from 1.13.1 to 1.16.1</a> - dependabot[bot], 2019-11-14 15:33:36 +0000</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/f5e5877a1">Adjusted implicit and explicit labels patterns</a> - David Elisma, 2019-11-20 07:40:29 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/f949c20">Fix build script by ignoring datepicker test</a> - Francis Gorman, 2019-12-04 19:40:29 -0500</li>
		</ul>
	</section>
</section>
<section>
	<h2 id="sri">Subresource integrity (SRI)</h2>
	<p>Le <a href="https://www.w3.org/TR/SRI/">SRI</a> rovide a method to protect website delivery. The following information are the hash for key resource in WET and GCWeb.</p>
	<section>
		<h3>v4.0.33</h3>
		<dl>
			<dt><code>wet-boew/js/wet-boew.min.js</code></dt>
			<dd>(Coming soon...)</dd>
		</dl>
		<p>Get all hash (JSON format):</p>
		<ul>
			<li><a href="https://github.com/wet-boew/wet-boew-dist/blob/v4.0.33/wet-boew/payload.json">WET-BOEW</a></li>
			<li><a href="https://github.com/wet-boew/wet-boew-dist/blob/v4.0.33/theme-wet-boew/payload.json">WET-BOEW theme</a></li>
		</ul>
	</section>
</section>
