---
{
	"title": "ChangeLog de la version 4.0",
	"language": "fr",
	"description": "ChangeLog de la version 4.0 - Historique des versions - Boîte à outils de l'expérience Web (BOEW)",
	"altLangPrefix": "v4.0-changelog",
	"dateModified": "2014-03-01"
}
---
<p>Voir <a href="../version-info-fr.html">Contrôle des versions</a> pour la signification de chaque numéro de version.</p>

<section>
	<h2>v4.0.0 Bêta 2</h2>
	<ul>
		<li><strong>Date de lancement&#160;:</strong> 2014-03-01</li>
		<li><a href="v4.0.0-b2-fr.html">Notes d'utilisation<span class="wb-inv"> - v4.0.0 Bêta 2</span></a></li>
		<li><a href="../dwnld-fr.html#v400b2">Téléchargements<span class="wb-inv"> - v4.0.0 Bêta 2</span></a></li>
	</ul>

	<section>
		<h3>Quoi de neuf?</h3>
		<div lang="en">
		<p><strong>Needs translation</strong></p>
		<ul>
			<li><strong>Breaking change:</strong> Feedback form JS and CSS are no longer included in the core files. The separate JS and CSS files need to be included in the page for the feedback form to work.</li>
			<li>Menu: Restructured the menus in the mobile panel, switching from a single WAI-ARIA accordion to multiple WAI-ARIA menus.</li>
			<li>Tabbed interface carousel: Corrected overlapping and clipping issues on small-screen smartphones.</li>
			<li>Secondary menu: Corrected structural issues and a disabled a non-functional link.</li>
			<li>Touchscreen: Corrected several touch-related issues with the menu bar, the mobile panel, accordions and details/summary.</li>
			<li>Localstorage: Prevented JS errors when localStorage becomes unavailable when the browser is in private mode.</li>
			<li>Overlay: Prevented the top overlay from overlapping content that gain focus (e.g., clicking a same-page link).</li>
			<li>Charts: Ported Charts plugin from WET v3.1.</li>
			<li>Themes: Ported the GC Web Usability, GC Intranet, Base and OGPL themes from WET v3.1.</li>
			<li>Share widget: Added the ability to share multiple different types of content on the same page.</li>
			<li>Web Accessibility Assessment Methodology: Ported the Web Accessibility Assessment Methodology from WET v3.1.</li>
			<li>RTL: Fixed numerous RTL issues with various plugins and themes</li>
		</ul>
		</div>
	</section>
</section>

<section>
	<h2>v4.0.0 Bêta 1</h2>
	<ul>
		<li><strong>Date de lancement&#160;:</strong> 2013-12-16</li>
		<li><a href="v4.0.0-b1-fr.html">Notes d'utilisation<span class="wb-inv"> - v4.0.0 Bêta 1</span></a></li>
		<li><a href="../dwnld-fr.html#v400b1">Téléchargements<span class="wb-inv"> - v4.0.0 Bêta 1</span></a></li>
	</ul>

	<section>
		<h3>Quoi de neuf?</h3>
		<div lang="en">
		<p><strong>Needs translation</strong></p>
		<ul>
			<li>New plugin framework based upon JavaScript Event Programming (JEP)</li>
			<li>Major reduction in total page sizes, page load times and page paint times (approximately an 80% decrease)</li>
			<li>Replaced grid system with Twitter Bootstrap</li>
			<li>Ported most v3.1 plugins and polyfills and optimized for touchscreen mobile devices</li>
			<li>Replaced mobile popups with a mobile panel, reducing the number of buttons for mobile to one</li>
			<li>Increased font size and spacing between touch targets to better support touchscreen devices</li>
			<li>New plugins: Data AJAX, Data-Inview, Equal height, Overlay, Toggle and Twitter Embedded Timeline</li>
			<li>Removed dependency on jQuery Mobile</li>
			<li>Page no longer refreshes when transitioning between views</li>
			<li>Replaced custom Ant build system with a build system based on Node.js, Grunt.js, Bower, Assemble and other well-supported build components</li>
		</ul>
		</div>
	</section>
</section>
