---
{
	"title": "v4.0.12 - Notes d'utilisation",
	"language": "fr",
	"description": "v4.0.12 - Notes d'utilisation - Historique des versions - Boîte à outils de l'expérience Web (BOEW)",
	"altLangPrefix": "v4.0.12",
	"dateModified": "2015-03-23"
}
---
<ul>
	<li><strong>Date de lancement&#160;:</strong> <time>2015-03-23</time></li>
	<li><a href="../dwnld-fr.html#v4012">Téléchargements</a></li>
</ul>

<section>
	<h2>Quoi de neuf?</h2>
	<div lang="en">
	<p><strong>Needs translation</strong></p>
	<ul>
		<li><strong>Carousel:</strong> Modified CSS to enable entire panels to be linked. Replaces the first part of #6458</li>
		<li><strong>Charts:</strong> Added option to safely include Flot plugins Safely fixes #4466 and #6516</li>
		<li><strong>Data Ajax:</strong> Added ability to filter by URL hash or selector</li>
		<li><strong>Lightbox:</strong> Added ability to filter by URL hash or selector</li>
		<li><strong>Feeds:</strong> Fix display of Facebook profile images and translate documentation</li>
		<li><strong>Form validation:</strong> Fixed issue with a click on a summary link being ignored when focus is in a form field</li>
		<li><strong>Lightbox:</strong> Fixed positioning of close button for AJAX sources</li>
		<li><strong>Multimedia:</strong> Replaced the overlay with a CSS one and simplified the controls</li>
		<li><strong>Multimedia Player:</strong> Added the transcript link to the YouTube player Fixes #6621</li>
		<li><strong>Tabbed interface:</strong> Fixed focus issues with carousel style 2 with thumbnails example</li>
		<li><strong>Tabbed interface:</strong> Fixed issue with clicking links in nested tabpanels</li>
		<li><strong>Tables:</strong> Fixed the pagination display where there are more than 6 pages</li>
		<li><strong>Tabs:</strong> Fixed link color in non carousel tabbed interfaced Introduced by #6554</li>
	</ul>
	</div>
</section>

<section>
	<h2>Détails</h2>
	<p><strong>Nombre des &#171;&#160;commits&#160;&#187;</strong> 37</p>
	<ul>
		<li><a href="https://github.com/LaurentGoderre">@LaurentGoderre</a>&#160;: &#171;&#160;20 commits&#160;&#187;</li>
		<li><a href="https://github.com/pjackson28">@pjackson28</a>&#160;: &#171;&#160;9 commits&#160;&#187;</li>
		<li><a href="https://github.com/crichard">@crichard</a>&#160;: &#171;&#160;3 commits&#160;&#187;</li>
		<li><a href="https://github.com/thomasgohard">@thomasgohard</a>&#160;: &#171;&#160;2 commits&#160;&#187;</li>
		<li><a href="https://github.com/melodyma">@melodyma</a>&#160;: &#171;&#160;1 commits&#160;&#187;</li>
		<li><a href="https://github.com/zachfalsetto">@zachfalsetto</a>&#160;: &#171;&#160;1 commits&#160;&#187;</li>
		<li><a href="https://github.com/shawnthompson">@shawnthompson</a>&#160;: &#171;&#160;1 commits&#160;&#187;</li>
	</ul>
	<section>
		<h3>Liste des &#171;&#160;commits&#160;&#187;</h3>
		<ul lang="en">
			<li><a href="https://github.com/wet-boew/wet-boew/commit/5ce9002">Multimedia: Replaced the overlay with a CSS one and simplified the controls</a> - Laurent Goderre, 2015-02-17 10:35:01 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/cacdf2a">Multimedia: Optimized the code and standardized variable names</a> - Laurent Goderre, 2015-02-17 10:35:09 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/62dce30">Multimedia: fix trigger parameters and add share link apostrophe fix</a> - Cynthia Richard, 2015-02-17 10:35:09 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/fd2f64e">Updated the build version to v4.0.12-development</a> - Zach Falsetto, 2015-02-17 16:03:36 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/5b5dd12">Core: Added safer disabled setting storage May address https://github.com/wet-boew/GCWeb/issues/901</a> - Laurent Goderre, 2015-02-18 14:29:05 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/6e128c9">Carousel: Modified CSS to enable entire panels to be linked. Replaces the first part of #6458</a> - Laurent Goderre, 2015-02-20 17:06:34 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/d3a5046">Text Highlight: Removed the redundant `span` around the `mark` element</a> - Laurent Goderre, 2015-02-23 13:16:51 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/12c5b65">Details/Summary: Optimized indentation rules Fixes the issue raised by #6530</a> - Laurent Goderre, 2015-02-23 13:54:30 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/197985e">Tabbed interface: Fixed issue with clicking links in nested tabpanels</a> - Paul Jackson, 2015-02-23 14:41:15 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/b665210">Form validation: Fixed issue with a click on a summary link being ignored when focus is in a form field</a> - Paul Jackson, 2015-02-23 16:42:14 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/33fc9a9">SCSS Text Highlight Plugin: Added customizable variables for text highlight plugin's parameters</a> - melodyma, 2015-02-23 19:34:37 -0800</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/60d508b">Charts: Added option to safely include Flot plugins Safely fixes #4466 and #6516 To Use: ```html <script> (function() { 	window[ "wb-charts" ] = { 		plugins: [ 			"site!deps/jquery.flot.navigate.js", 			"site!deps/jquery.flot.navigationControl.js" 		] 	}; })(); </script> ```</a> - Laurent Goderre, 2015-02-24 09:45:21 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/17dac65">Tabs: Fixed link color in non carousel tabbed interfaced Introduced by #6554</a> - Laurent Goderre, 2015-02-25 15:52:23 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/26ffeee">Tabbed interface: provide option to make session storage optional</a> - Cynthia Richard, 2015-02-25 16:15:31 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/c539e8f">Build: Updated html minifier to the npm version The custom version is no longer needed</a> - Laurent Goderre, 2015-02-25 16:45:11 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/11196f0">Tabbed Interface: Fixed focus issues with carousel style 2 with thumbnails example</a> - Paul Jackson, 2015-02-26 14:39:09 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/6e586c3">DataList: Fixed the polyfill closing when clicking on the scroll bar Fix #4621</a> - Laurent Goderre, 2015-02-26 16:04:15 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/cb2d196">Demos: Strip HTML from the title tag Fix #6574</a> - Laurent Goderre, 2015-02-27 10:52:56 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/2b242db">Build: Updated JSCS and fixed code style errors</a> - Laurent Goderre, 2015-03-02 12:53:02 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/426178b">Datalist: Fixed Javascript code style errors</a> - Laurent Goderre, 2015-03-03 10:50:12 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/808e037">Multimedia: Fixed the closed caption not loading properly Fixes #6592</a> - Laurent Goderre, 2015-03-03 16:37:52 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/23ea6c6">Multimedia: Fixed the YouTube player not loading Fixes #6596</a> - Laurent Goderre, 2015-03-04 14:16:54 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/491e180">Multimedia: Fixed the YouTube play button not updating</a> - Laurent Goderre, 2015-03-04 16:06:09 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/9b65377">Lightbox: Fixed positioning of close button for AJAX sources</a> - Paul Jackson, 2015-03-06 12:00:39 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/5e6c8a7">Form validation: Corrected colouring of fields that are no longer invalid</a> - Paul Jackson, 2015-03-06 13:34:03 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/9c15d6f">Switched form validation, date picker and feedback form labels to sentence case</a> - Paul Jackson, 2015-03-06 16:48:11 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/cd085c2">Data-AJAX: Added ability to filter by URL hash or selector</a> - Paul Jackson, 2015-03-09 09:46:43 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/b869fa5">Tables: Fixed the pagination display where there are more than 6 pages</a> - Paul Jackson, 2015-03-09 15:03:45 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/1b78959">Multimedia Player - YouTube: fixed #6224, again</a> - Shawn Thompson, 2015-03-16 08:48:46 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/053b063">Data-AJAX: Added unit tests for the ability to filter by URL hash or selector Also implement Sinon.js fake server instead of actual files</a> - Laurent Goderre, 2015-03-17 13:56:17 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/a39e700">Data Ajax: Fixed the plugin using the whole content when no filtered content is found</a> - Laurent Goderre, 2015-03-17 14:18:13 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/75250eb">Carousel: Modified working example so that there is only one link per panel.</a> - Thomas Gohard, 2015-03-19 09:24:07 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/ff42d7a">Carousel: Modified working example to show whole panels being linked as default.</a> - Thomas Gohard, 2015-03-19 09:27:41 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/462026f">Feeds: Fix display of Facebook profile images and translate documentation</a> - Cynthia Richard, 2015-03-20 09:48:52 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/9e9a12a">Fixed the test relying on Sinon FakeServer failing</a> - Laurent Goderre, 2015-03-20 15:50:58 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/923dd7f">Data-AJAX: Added ability to filter by URL hash or selector</a> - Paul Jackson, 2015-03-23 11:18:43 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/2b817f3">Multimedia Player: Added the transcript link to the YouTube player Fixes #6621</a> - Laurent Goderre, 2015-03-23 11:47:33 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/86181e7">v4.0.12 Release Notes</a> - Zach Falsetto, 2015-03-23 13:37:30 -0400</li>
		</ul>
	</section>
</section>
