---
{
	"title": "v4.0.2 release notes",
	"language": "en",
	"description": "v4.0.2 release notes - Version history - Web Experience Toolkit (WET)",
	"altLangPrefix": "v4.0.2",
	"dateModified": "2014-05-21"
}
---
<ul>
	<li><strong>Release date:</strong> <time>2014-05-21</time></li>
	<li><a href="../dwnld-en.html#v402">Downloads</a></li>
</ul>

<section>
	<h2>What's New</h2>
	<ul>
		<li>Archived: Added underline to top overlay link</li>
		<li>Archived: Moved explanatory archived message to within archived section and corrected heading</li>
		<li>Archived: Updated archived notice heading</li>
		<li>Charts - Upgraded to Flot 0.8.3 and fixed the missing table caption issue</li>
		<li>Date picker: Fixed toggle button when secondary menu is present</li>
		<li>Definition lists: Allowed wrapping in dt elements of .dl-horizontal</li>
		<li>HTML Table Validator: Migrated to v4.0</li>
		<li>Lightbox: Fixed cursor hover over close button</li>
		<li>Lightbox: Fixed printing issues</li>
		<li>Menu: Fixed loading of extra language links in the mobile panel</li>
		<li>Slider polyfill: Replaced fd-slider with a custom version that allows dynamic creation of the polyfill</li>
		<li>Slider polyfill: Standardized event handling to address Android issues</li>
		<li>Tables: Added indication of current and future state to sorting icons</li>
		<li>Tables: Aligned pagination with Bootstrap pagination</li>
		<li>Tables: Fixed sorting of formatted numbers</li>
		<li>Tables: Moved showing x to x of x entries to the top of the table</li>
		<li>Tables: Now hiding deactivated pagination buttons</li>
		<li>Tables: Removed bolding from show and filter fields and updated example source code</li>
		<li>Tables: Updated to DataTables 1.10.0</li>
	</ul>
</section>

<section>
	<h2>Details</h2>
	<p><strong>Number of commits:</strong> 112</p>
	<ul>
		<li><a href="https://github.com/pjackson28">@pjackson28</a>: 78 commits</li>
		<li><a href="https://github.com/nschonni">@nschonni</a>: 18 commits</li>
		<li><a href="https://github.com/LaurentGoderre">@LaurentGoderre</a>: 7 commits</li>
		<li><a href="https://github.com/EricDunsworth">@EricDunsworth</a>: 6 commits</li>
		<li><a href="https://github.com/duboisp">@duboisp</a>: 2 commits</li>
		<li><a href="https://github.com/burgvan">@burgvan</a>: 1 commit</li>
	</ul>

	<section>
		<h3>List of commits</h3>
		<ul>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/8b9ac79">Updated build version to v4.0.2-development</a> - Paul Jackson, 2014-04-23 14:59:04 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/4deb535">HTML Table Validator - Initial Migration to WET 4.0</a> - Pierre Dubois, 2014-04-23 15:54:23 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/ae4b057">Core: Add GUID method</a> - Nick Schonning, 2014-04-27 23:21:22 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/1fb6fee">Slider polyfill: Standardized event handling to address Android issues (fixes #5300)</a> - Paul Jackson, 2014-04-28 00:23:43 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/f658c17">Added same margin top to h1 as to h2 (fixes #5211)</a> - Paul Jackson, 2014-04-28 01:07:28 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/82e18c7">Documentation: Changed Accolades page to Awards, articles and videos (fixes #5237)</a> - Paul Jackson, 2014-04-28 01:16:14 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/7dd830e">Updated references to awards, articles and videos page</a> - Paul Jackson, 2014-04-28 02:08:31 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/7a10217">Overlay: Push element onto GPU</a> - Nick Schonning, 2014-04-28 13:17:11 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/4a9f013">Table validator: Cleaned up the English grammar</a> - Paul Jackson, 2014-04-28 23:49:47 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/d9b77b7">Rename files to align with Bootstrap viewports</a> - Nick Schonning, 2014-04-29 00:24:30 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/0a4088e">Multimedia: Rename and add Print SCSS</a> - Nick Schonning, 2014-04-29 01:11:05 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/2a8e398">Split up details/summary CSS overrides from details/summary polyfill pre-Modernizr CSS</a> - Paul Jackson, 2014-04-29 01:27:47 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/388f30d">Documentation: Updated README.md to align with HTML home pages</a> - Paul Jackson, 2014-04-29 13:40:07 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/c8ea959">Date picker: Fixed toggle button when secondary menu is present (fixes #5335)</a> - Paul Jackson, 2014-04-30 12:36:23 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/7d9a62a">Archived: Moved explanatory archived message to within archived section and corrected heading (fixes #5343 and #5346)</a> - Paul Jackson, 2014-04-30 16:03:08 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/0187246">Archived: Added underline to top overlay link</a> - Paul Jackson, 2014-04-30 16:15:54 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/ea267d8">Demos/Documentation: Fixed broken links and added placeholder table validator documentation page.</a> - Eric Dunsworth, 2014-04-30 16:16:28 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/3a46311">Build: Bump Grunt JSCS to 0.4.2 for JSCS 1.4.0</a> - Nick Schonning, 2014-04-30 16:53:16 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/6d2372d">Texthighlight: Fix wrapping of demo querystring</a> - Nick Schonning, 2014-05-01 17:27:05 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/808110f">Build: Don't copy ES5-shim</a> - Nick Schonning, 2014-05-01 17:40:19 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/4c64b46">Tables: Moved showing x to x of x entries to the top of the table (fixes #5215)</a> - Paul Jackson, 2014-05-02 12:24:09 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/51bafb0">Added a wrapper for the slider polyfill Allows enhancing dynamically created sliders in the same way as other polyfills</a> - Laurent Goderre, 2014-05-02 14:15:56 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/8438915">Theme: Rename site-* sections for clarity</a> - Nick Schonning, 2014-05-02 16:56:26 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/1d1fc58">Theme: Move handlebars pages out of site folder</a> - Nick Schonning, 2014-05-02 17:34:23 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/b839b11">Tables: Added indication of current and future state to sorting icons (#5209)</a> - Paul Jackson, 2014-05-03 01:06:47 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/a160e42">Tables: Fixed wrapping issues with sorting icons</a> - Paul Jackson, 2014-05-03 02:19:18 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/c14454a">Tables: Increased spacing between text and sort icons by 5 pixels</a> - Paul Jackson, 2014-05-04 23:33:43 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/725c7bf">Tables: Updated to DataTables 1.10.0 (fixes #5358)</a> - Paul Jackson, 2014-05-05 03:50:42 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/7348d9d">Tables: Fixed sorting of formatted numbers (fixes #5372)</a> - Paul Jackson, 2014-05-05 14:27:23 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/a39e4a9">Tables: Changed sort icons to up and down arrows (#5209)</a> - Paul Jackson, 2014-05-05 14:41:02 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/4483a13">Tables: Icons now hidden when sorting disabled</a> - Paul Jackson, 2014-05-05 14:58:33 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/b9a63b4">Tables: Fixed padding on table sort icons</a> - Paul Jackson, 2014-05-05 15:03:15 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/5d9985e">Lightbox: Removed checkboxes from AJAX examples (fixes #5375)</a> - Paul Jackson, 2014-05-05 15:25:45 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/3e131d8">Tables: Removed bolding from show and filter fields and updated example source code (fixes #5215)</a> - Paul Jackson, 2014-05-05 15:43:10 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/2f1b607">Allow the `input` and `change` events to bubble up the DOM</a> - Laurent Goderre, 2014-05-05 16:00:02 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/9f0d593">Fixed broken links in the theme examples Fixes #5382</a> - Laurent Goderre, 2014-05-05 16:29:14 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/4a78ee9">Tables: Fixed sorting and setting overrides to be compatible with DataTables 1.10 (fixes #5388 and #5389)</a> - Paul Jackson, 2014-05-06 15:32:59 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/0b8035f">Definition lists: Allowed wrapping in dt elements of .dl-horizontal (fixes #5395)</a> - Paul Jackson, 2014-05-07 12:19:50 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/0de3929">Tables: Fixed sorting of numeric columns with dashes (fixes #5390)</a> - Paul Jackson, 2014-05-07 12:51:16 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/dc49f1b">Charts - Upgrade to Flot 0.8.3 and Fixed no table caption issue and others</a> - Pierre Dubois, 2014-05-07 14:16:52 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/5bf62d0">Tables: Aligned pagination with Bootstrap pagination (fixes #5153)</a> - Paul Jackson, 2014-05-07 15:38:11 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/1dbe8ad">Replacec fd-slider with a custom version that allows dynamic creation of the polyfill This is only needed until https://github.com/freqdec/fd-slider/pull/50 is merged in</a> - Laurent Goderre, 2014-05-07 16:00:11 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/838aa46">Demos/Docs/Theme: Fixed broken links and restored an accolades link.</a> - Eric Dunsworth, 2014-05-08 00:15:17 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/6875d04">Build: Removed "resolutions" section from bower.json. This gets automatically removed when running "npm install".</a> - Eric Dunsworth, 2014-05-12 00:40:10 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/4683f05">Tables: Now hiding deactivated pagination buttons (#5153)</a> - Paul Jackson, 2014-05-12 13:35:29 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/1be05e4">Tables: Fixed pagination wrapping (fixes #5419)</a> - Paul Jackson, 2014-05-12 16:35:39 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/35c7bf3">Lightbox: Fix cursor hover over close button (fixes #5357)</a> - Paul Jackson, 2014-05-12 23:22:27 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/f7f9658">Demos/Includes: Made relative to root links localhost-friendly and fixed a broken license link.</a> - Eric Dunsworth, 2014-05-13 00:25:49 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/f2e6b8b">Lightbox: Remove link from sample inline content (fixes #5425)</a> - Paul Jackson, 2014-05-13 13:27:07 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/8e64c7a">Lightbox: Fixed printing issues (fixes #5424)</a> - Paul Jackson, 2014-05-14 11:57:11 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/b49606c">Changed the footer to allow full width color</a> - vanessa burguete, 2014-05-14 12:34:05 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/ed1ce04">Build: Bump SCSSLint to 0.24.0</a> - Nick Schonning, 2014-05-14 15:24:06 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/7dc92cb">JSCS: Add spaces around equals</a> - Nick Schonning, 2014-05-14 19:52:22 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/b29c22f">Documentation/Includes: Made minor adjustments to certain links.</a> - Eric Dunsworth, 2014-05-15 00:16:23 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/49f8cda">GitHub: Updated v3.1 documentation links in CONTRIBUTING file.</a> - Eric Dunsworth, 2014-05-16 00:36:55 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/44b5e97">Menu: Fixed loading of extra language links in the mobile panel (fixes #5456)</a> - Paul Jackson, 2014-05-21 09:42:55 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/8e2dc41">Archived: Updated archived notice heading (fixes #5342)</a> - Paul Jackson, 2014-05-21 11:32:33 -0400</li>
		</ul>
	</section>
</section>
