---
{
	"title": "v4.0.3 - Notes d'utilisation",
	"language": "fr",
	"description": "v4.0.3 - Notes d'utilisation - Historique des versions - Boîte à outils de l'expérience Web (BOEW)",
	"altLangPrefix": "v4.0.3",
	"dateModified": "2014-06-17"
}
---
<ul>
	<li><strong>Date de lancement&#160;:</strong> <time>2014-06-17</time></li>
	<li><a href="../dwnld-fr.html#v403">Téléchargements</a></li>
</ul>

<section>
	<h2>Quoi de neuf?</h2>
	<div lang="en">
	<p><strong>Needs translation</strong></p>
	<ul>
		<li><strong>Ajax fetch / Data Ajax / Menu:</strong> Now passing along AJAX status and messaging in Ajax fetch and only completing Data Ajax and Menu updates when there are no load errors</li>
		<li><strong>Archived:</strong> Removed duplicate icon</li>
		<li><strong>Calendar of events:</strong> Fixed arrowing to previous/next month</li>
		<li><strong>Calendar of events:</strong> Switched to only one link being in the tab order at a time</li>
		<li><strong>Calender of events / Date picker:</strong> Fixed application of colours to other themes</li>
		<li><strong>Core:</strong> Fixed gray-light so meets colour contrast against white backgrounds</li>
		<li><strong>Core:</strong> Fixed selector for wet-boew script element</li>
		<li><strong>Core:</strong> Preventing viewChange from removing all classes if executed too early. This is a failsafe for cases where viewChange is manually triggered too early.</li>
		<li><strong>CSS:</strong> Fixed colcount support for ordered lists</li>
		<li><strong>Date picker:</strong> Fixed listing of maximum month</li>
		<li><strong>Feeds:</strong> Added Facebook template for Facebook-driven feeds</li>
		<li><strong>Form validation:</strong> Added ability to configure which fields for validation to ignore</li>
		<li><strong>Form validation:</strong> Made labels for number and digit/numeric validation more accurate</li>
		<li><strong>Geomap:</strong> Added area of interest (AOI), geolcoation, and geocoding widgets</li>
		<li><strong>jQuery:</strong> Update to 1.11.1 and 2.1.1 patch releases</li>
		<li><strong>Lightbox:</strong> Fixed incorrect closing of AJAX popups.</li>
		<li><strong>Menu:</strong> Fixed order of navcurrent checking to go from more specific links to less specific links</li>
		<li><strong>Multimedia player:</strong> Added a volume control</li>
		<li><strong>Multimedia player:</strong> Added the ability to share a video</li>
		<li><strong>Multimedia player:</strong> Added WAI-ARIA properties to the toggle buttons (mute and cc)</li>
		<li><strong>Multimedia player:</strong> Dropped the fast forward and rewind buttons</li>
		<li><strong>Multimedia player:</strong> Fixed the audio player displaying as a video</li>
		<li><strong>Multimedia player:</strong> Fixed the display and positioning of the progress bar and the closed caption button</li>
		<li><strong>Multimedia player:</strong> Fixed the multimedia player in xxsmall view</li>
		<li><strong>Multimedia player:</strong> Increased the captions area to minimize shifting in mobile devices. Also centred captions vertically.</li>
		<li><strong>Multimedia player:</strong> Made the text always visible and the background for the controls lighter</li>
		<li><strong>Multimedia player:</strong> Removed the overlay for the YouTube player. The overlay was overlapping all buttons rendering them non-functional.</li>
		<li><strong>Multimedia player:</strong> Unified the multimedia controls focus display</li>
		<li><strong>Share:</strong> Changed share widget from a right panel to a centred popup</li>
		<li><strong>Share:</strong> Removed Technorati option due to 404 error for faves option</li>
		<li><strong>Share:</strong> Removed underlining for space between link text and the share icon</li>
		<li><strong>Tabbed interface:</strong> Added ability to control rotation interval through data-wb-tabs</li>
		<li><strong>Tabbed interface:</strong> Carousels are now scalable so can fit in columns of varying sizes</li>
		<li><strong>Tabbed interface:</strong> Enabled tab count to be visible in extra-small view</li>
		<li><strong>Tabbed interface:</strong> Fixed fading effect</li>
		<li><strong>Tabbed interface:</strong> Stops carousel for any clicks within a tab panel</li>
		<li><strong>Tabbed interface / Multimedia player:</strong> Added example of the multimedia player embedded in a Tabbed interface carousel</li>
		<li><strong>Tabbed interface / Multimedia player:</strong> Automatically stops all multimedia players within the current tab panel when the tab panel changes</li>
		<li><strong>Tabbed interface / Multimedia player:</strong> Changed examples to use figure/figcaption</li>
		<li><strong>Tabbed interface / Multimedia player:</strong> Fixed z-index issue with multimedia players embedded in a tabs carousel</li>
	</ul>
	</div>
</section>

<section>
	<h2>Détails</h2>
	<p><strong>Nombre des &#171;&#160;commits&#160;&#187;</strong> 140</p>
	<ul>
		<li><a href="https://github.com/pjackson28">@pjackson28</a>&#160;: 81 &#171;&#160;commits&#160;&#187;</li>
		<li><a href="https://github.com/LaurentGoderre">@LaurentGoderre</a>&#160;: 42 &#171;&#160;commits&#160;&#187;</li>
		<li><a href="https://github.com/nschonni">@nschonni</a>&#160;: 11 &#171;&#160;commits&#160;&#187;</li>
		<li><a href="https://github.com/jvanulde">@jvanulde</a>&#160;: 2 &#171;&#160;commits&#160;&#187;</li>
		<li><a href="https://github.com/masterbee">@masterbee</a>&#160;: 2 &#171;&#160;commits&#160;&#187;</li>
		<li><a href="https://github.com/EricDunsworth">@EricDunsworth</a>&#160;: 1 &#171;&#160;commit&#160;&#187;</li>
		<li><a href="https://github.com/duboisp">@duboisp</a>&#160;: 1 &#171;&#160;commit&#160;&#187;</li>
	</ul>
	<section>
		<h3>Liste des &#171;&#160;commits&#160;&#187;</h3>
		<ul lang="en">
			<li><a href="https://github.com/wet-boew/wet-boew/commit/3f25f77">Updated build version to v4.0.3-development</a> - Paul Jackson, 2014-05-21 13:58:16 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/65756f2">Remove the overlay for the YouTube player. Fixes #5463 - The overlay was overlapping all buttons rendering them non-functional.</a> - Laurent Goderre, 2014-05-21 14:08:04 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/17cb286">Table Validator - Duplicate headers ids - Fix #5402</a> - Pierre Dubois, 2014-05-21 15:55:29 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/efffe84">[FEEDWIDGET] - added facebbook template for facebook driven feeds</a> - Mario Bonito, 2014-05-22 10:45:56 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/2ea0035">[WEBWIDGET] - Added French examples</a> - Mario Bonito, 2014-05-22 11:34:25 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/4b95f43">Fix build to allow building of HTML only This allows to run `grunt demos` or `grunt demos-min`</a> - Laurent Goderre, 2014-05-22 13:21:58 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/2b1094d">Added back HTML compression It was accidentally removed by the previous commit</a> - Laurent Goderre, 2014-05-22 15:34:43 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/bd05957">Archived: Removed duplicate icon</a> - Paul Jackson, 2014-05-23 15:51:57 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/ed68d71">Tabs: Carousels are now scalable so can fit in columns of varying sizes (fixes #5480)</a> - Paul Jackson, 2014-05-23 16:11:53 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/da8bfbc">Form validation: Made labels for number and digit/numeric validation more accurate</a> - Paul Jackson, 2014-05-23 23:51:13 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/3ea556d">Form validation: Added ability to configure which fields for validation to ignore (fixes #5457)</a> - Paul Jackson, 2014-05-24 00:19:42 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/6583461">Darkened text-muted colour to 767676 (fixes #4463)</a> - Paul Jackson, 2014-05-25 22:22:15 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/b9ff9e7">Ensures each polyfilled slider element has an ID fd-slider requires an ID for eache element otherwise the script triggers multiple errors</a> - Laurent Goderre, 2014-05-26 11:01:49 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/3ef3e76">Build: Add "pages" task to alias Assemble calls</a> - Nick Schonning, 2014-05-26 11:18:31 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/1f672e2">Force display none for hidden slider polyfills This fights specificity issue that arise by adding styles to non polyfilled slider control</a> - Laurent Goderre, 2014-05-26 14:22:59 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/2f3d3b2">JSCS: Disallow trailing whitespace</a> - Nick Schonning, 2014-05-26 17:01:03 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/4a5f0d8">Build: Clean JSHint/JSCS globbing</a> - Nick Schonning, 2014-05-26 17:19:36 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/74a5494">JSHint: Remove rules shadowed by JSCS</a> - Nick Schonning, 2014-05-26 17:20:16 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/ce8dbc8">Build: Bump Grunt JSHint to 0.10.0</a> - Nick Schonning, 2014-05-26 17:53:15 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/9ea0f01">Build: Bump Grunt HTML for Java Memory fixes</a> - Nick Schonning, 2014-05-26 17:59:31 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/93d4f4f">Date picker: Fixed listing of maximum month (fixes #5495)</a> - Paul Jackson, 2014-05-27 09:41:00 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/a07614e">IE8: Switched .ie8 class to .lt-ie9 (fixes #5494)</a> - Paul Jackson, 2014-05-27 09:46:43 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/2f8af1a">Menu: Fixed order of navcurrent checking to go from more specific links to less specific links (fixes wet-boew/theme-gcwu-fegc#118)</a> - Paul Jackson, 2014-05-28 09:58:42 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/2b186d3">Menu: Removed unnecessary loop caching from navcurrent check</a> - Paul Jackson, 2014-05-28 12:09:28 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/5207f1a">Documentation: Added missing time elements</a> - Paul Jackson, 2014-05-30 15:30:41 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/bbac391">Documentation: Fixed broken links in feeds code examples.</a> - Eric Dunsworth, 2014-05-30 16:54:30 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/16b97ee">Share: Removed Technorati option due to 404 for faves option (fixes #5526)</a> - Paul Jackson, 2014-06-03 10:04:01 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/49fbf94">Tabs: Added ability to control rotation interval through data-wb-tabs</a> - Paul Jackson, 2014-06-03 11:09:49 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/1f958d5">Tabs: Replaced unnecessary return false with event.preventDefault()</a> - Paul Jackson, 2014-06-03 11:58:03 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/a45ce94">Multimedia: Dropped the fast froward and rewind buttons Fixes (#5175)</a> - Laurent Goderre, 2014-06-03 14:33:26 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/cafb03b">Made the background color for multimedia player controls lighter Fixes #5178</a> - Laurent Goderre, 2014-06-03 14:33:26 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/89e38e7">Made mutlimedia player text always visible Fixes #5173</a> - Laurent Goderre, 2014-06-03 14:33:27 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/ed2964c">Fixed the display of the progress bar</a> - Laurent Goderre, 2014-06-03 14:33:27 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/d42654d">Added more space between the time displays</a> - Laurent Goderre, 2014-06-03 14:33:28 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/3c71b5d">Changed the state display of the closed caption button. Fixes #5172</a> - Laurent Goderre, 2014-06-03 14:33:29 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/67645fc">Removed unused attributes in the multimedia player template</a> - Laurent Goderre, 2014-06-03 14:33:29 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/becb41e">Fixed the display of the closed caption button</a> - Laurent Goderre, 2014-06-03 14:33:30 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/e93713e">Added aria for the toggle buttons (mute and cc)</a> - Laurent Goderre, 2014-06-03 14:33:30 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/21e6b67">Optimized the SCSS for the multimedia player</a> - Laurent Goderre, 2014-06-03 14:33:31 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/df54ca0">Moved the mute control to the left side. As per #5167</a> - Laurent Goderre, 2014-06-03 14:33:31 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/912d443">Moved the tabindex from the text area to the progress bar</a> - Laurent Goderre, 2014-06-03 14:33:32 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/bdfc491">Added volume control</a> - Laurent Goderre, 2014-06-03 14:33:33 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/06a26b4">Fixed the volume slider for IE11</a> - Laurent Goderre, 2014-06-03 14:33:33 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/b6853fd">Update the volume slider when the media is muted</a> - Laurent Goderre, 2014-06-03 14:33:34 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/6a32443">Aligned the volume control in Chrome, Firefox and IE11</a> - Laurent Goderre, 2014-06-03 14:33:34 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/de7e50b">Fixed the slider selector</a> - Laurent Goderre, 2014-06-03 14:33:35 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/fc8bb3a">Multimedia: Fix SCSSLint issues</a> - Nick Schonning, 2014-06-03 14:33:36 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/ab21c05">Fixed the positioning of the polyfilled slider control</a> - Laurent Goderre, 2014-06-03 14:33:36 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/fb823c3">Aligned the polyfilled volume slider to the non polyfilled one</a> - Laurent Goderre, 2014-06-03 14:33:37 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/eada8cc">Fixed the polyfilled progress bar display</a> - Laurent Goderre, 2014-06-03 14:33:37 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/fbf0852">Fixed the polyfilled volume slider not on mute</a> - Laurent Goderre, 2014-06-03 14:33:38 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/67f6173">Increased the captions area to minimize shifiting in mobile devices. Also centers captions vertically</a> - Laurent Goderre, 2014-06-03 14:33:38 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/843f751">Unified the multimedia controls focus display</a> - Laurent Goderre, 2014-06-03 14:33:39 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/f50a735">Optimized the player SCSS</a> - Laurent Goderre, 2014-06-03 14:33:40 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/517f5f2">Calendar: Fixed application of colours to other themes (fixes #5531)</a> - Paul Jackson, 2014-06-04 01:26:45 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/24daddc">Ajax fetch / Data Ajax / Menu: Now passing along AJAX status and messaging in Ajax fetch and only completing Data Ajax and Menu updates when there are no load errors (fixes #5533)</a> - Paul Jackson, 2014-06-05 01:20:40 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/91616af">Bump html compression to fix build on 64 bits machines</a> - Laurent Goderre, 2014-06-06 11:45:50 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/03108af">Share widget: Changed share widget from a right panel to a centred popup (related to #5190)</a> - Paul Jackson, 2014-06-06 11:50:04 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/03027bf">Calendar of Events: Switched to only one link being in the tab order at a time (fixes #5240)</a> - Paul Jackson, 2014-06-06 16:12:15 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/7ad4468">Calendar of Events: Fixed arrowing to previous/next month (fixes #5549)</a> - Paul Jackson, 2014-06-07 03:41:16 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/1242c7f">Tabs: Stops carousel for any clicks within a tab panel</a> - Paul Jackson, 2014-06-09 11:31:59 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/2aca45d">Tabbed inteface / Multimedia player: Automatically stops all multimedia players within the current tab panel when the tab panel changes</a> - Paul Jackson, 2014-06-09 12:10:32 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/f0ebc26">Tabbed interface / Multimedia player: Added example of the multimedia player embedded in a Tabbed interface carousel</a> - Paul Jackson, 2014-06-09 14:20:40 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/90c182e">Converted &nbsp; to $#160; in the project</a> - Laurent Goderre, 2014-06-09 14:31:00 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/4e16e89">Tabbed interface: Enabled tab count to be visible in extra-small view</a> - Paul Jackson, 2014-06-09 16:05:42 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/53bb206">Tabbed interface / Multimedia player: Changed examples to use figure/figcaption</a> - Paul Jackson, 2014-06-10 11:41:51 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/5b1d52c">Multimedia player: Corrected loading issue with working examples</a> - Paul Jackson, 2014-06-10 13:39:25 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/a999316">Multimedia player: Removed IE7 references from multimedia player examples</a> - Paul Jackson, 2014-06-10 13:58:35 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/43b231c">Added the ability to share a video Implements #5542</a> - Laurent Goderre, 2014-06-10 14:14:43 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/eff3112">Share: Removed underlining for space between link text and the share icon</a> - Paul Jackson, 2014-06-10 15:06:22 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/e3919cd">Tabs: Fixed fading effect</a> - Paul Jackson, 2014-06-10 16:36:50 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/ba841ff">Tabs / Multimedia player: Fixed z-index issue with multimedia players embedded in a tabs carousel</a> - Paul Jackson, 2014-06-10 23:49:42 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/0527b05">Fixed the multimedia player in xxsmall view Fixes #5540</a> - Laurent Goderre, 2014-06-11 11:22:02 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/16205e7">Prevents viewChange from removing all classes if executed too early This is a failsafe in cases viewChange is manually triggered too early. Related to #5579</a> - Laurent Goderre, 2014-06-11 13:24:36 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/828ba29">CSS: Fixed colcount support for ordered lists (fixes #5582)</a> - Paul Jackson, 2014-06-12 02:28:33 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/28f83e9">Core: Fixed selector for wet-boew script element (fixes #5581)</a> - Paul Jackson, 2014-06-12 02:31:46 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/fd7bfd7">Moved the multimedia player color variables to the variables file</a> - Laurent Goderre, 2014-06-12 16:03:27 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/f172f82">Geomap enhancements</a> - Joost van Ulden, 2014-06-13 13:42:23 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/3cfa739">Updated documentation and related assets.</a> - Joost van Ulden, 2014-06-13 13:42:23 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/485f73e">Tabs: Fixed handling of tabs in large view</a> - Paul Jackson, 2014-06-13 13:47:01 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/11e861d">Core: Fixed gray-light so meets colour contrast against white backgrounds</a> - Paul Jackson, 2014-06-13 14:52:53 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/25b2aee">Lightbox: Fixed incorrect closing of AJAX popups.</a> - Paul Jackson, 2014-06-16 00:41:19 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/62c3795">Fixed the audio player displaying as a video Fixes #5602</a> - Laurent Goderre, 2014-06-16 14:49:40 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/690960e">Build: Bump grunt-sass to 0.14</a> - Nick Schonning, 2014-06-17 22:16:39 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/4351a24">jQuery: Update to 1.11.1 and 2.1.1 patch releases</a> - Nick Schonning, 2014-06-17 22:24:02 -0400</li>
		</ul>
	</section>
</section>
