---
{
	"title": "v4.0.20 - Notes d'utilisation",
	"language": "fr",
	"description": "v4.0.20 - Notes d'utilisation - Historique des versions - Boîte à outils de l'expérience Web (BOEW)",
	"altLangPrefix": "v4.0.20",
	"dateModified": "2015-12-16"
}
---
<ul>
	<li><strong>Date de lancement&#160;:</strong> <time>2015-12-16</time></li>
	<li><a href="../dwnld-fr.html#v4020">Téléchargements</a></li>
</ul>

<section>
	<h2>Quoi de neuf?</h2>
	<div lang="en">
	<p><strong>Needs translation</strong></p>
	<ul>
		<li>Fix an issue with toggle not activating</li>
		<li>Add a border class none (brdr-0)</li>
		<li>Fix an issue with slashes in the url # fragment combined with tabs</li>
		<li>Ensure feeds falls back to updated date if there is no published date</li>
		<li>Fix a variety of whitespace issues related to details/summary</li>
		<li>Fix an issue with nested details/summary not having borders</li>
	</ul>
	</div>
</section>

<section>
	<h2>Détails</h2>
	<p><strong>Nombre des &#171;&#160;commits&#160;&#187;</strong> 10</p>
	<ul>
		<li><a href="https://github.com/andre-gh">@andre-gh</a>: 7 commits</li>
		<li><a href="https://github.com/shawnthompson">@shawnthompson</a>: 2 commits</li>
		<li><a href="https://github.com/LaurentGoderre">@LaurentGoderre</a>: 1 commit</li>
	</ul>
	<section>
		<h3>Liste des &#171;&#160;commits&#160;&#187;</h3>
		<ul lang="en">
			<li><a href="https://github.com/wet-boew/wet-boew/commit/4d752a7">Updated the build version to v4.0.20-development</a> - Andre D, 2015-12-02 19:17:52 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/787f69c">Update docs to point to +2 release</a> - Andre D, 2015-12-02 20:34:53 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/95bd248">details: Improvements to whitespace on details elements</a> - Andre D, 2015-12-07 13:22:54 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/16b565b">details: Correct borders on nested details.</a> - Andre D, 2015-12-07 13:23:01 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/5153fa3">feeds: Fall back to updated date if there is no published date.</a> - Andre D, 2015-12-08 11:21:11 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/c9f3e8b">utils: jqEscape should escape both slashes.</a> - Andre D, 2015-12-08 14:58:02 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/97126d9">Demos: Fixed link to signed on example</a> - Laurent Goderre, 2015-12-10 15:16:46 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/d739c0c">adding a border none class</a> - Shawn Thompson, 2015-12-10 17:32:38 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/8ccd4ca">fixed scss-lint errors in border commit</a> - Shawn Thompson, 2015-12-11 08:42:43 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/f1fde04">toggle: Allow for toggle to be activated by the summary element as well.'</a> - Andre D, 2015-12-14 12:03:29 -0500</li>
		</ul>
	</section>
</section>
