---
{
	"title": "v4.0.16 - Notes d'utilisation",
	"language": "fr",
	"description": "v4.0.16 - Notes d'utilisation - Historique des versions - Boîte à outils de l'expérience Web (BOEW)",
	"altLangPrefix": "v4.0.16",
	"dateModified": "2015-07-21"
}
---
<ul>
	<li><strong>Date de lancement&#160;:</strong> <time>2015-07-21</time></li>
	<li><a href="../dwnld-fr.html#v4016">Téléchargements</a></li>
</ul>

<section>
	<h2>Quoi de neuf?</h2>
	<div lang="en">
	<p><strong>Needs translation</strong></p>
	<ul>
		<li><strong>Footnotes:</strong> Added minor SCSS improvements. * Increased total width of the footnotes section by removing unnecessary left/right margins (old carry-overs from WET 3.x). * Slightly increased widths of return links to prevent right borders from disappearing in 2 column pages when 3 digit numbers are used. * Adjusted vertical positioning of return links and nearby paragraphs to make them appear exactly on the same line.</li>
		<li><strong>Tables:</strong> Fixed incorrect display of sorting icons in multi-row table headers</li>
		<li><strong>Core:</strong> Normalized encoding of the query string in Internet Explorer to prevent cross-site scripting issues</li>
		<li><strong>Menu:</strong> Fixed HTML5 markup of the mobile panel section headers</li>
		<li><strong>Lightbox:</strong> Added the ability to use the ajax option from Magnific Popup</li>
		<li><strong>Lightbox:</strong> Fixed firing of the wb-ready.wb-lbx event when opening a Lightbox through JavaScript</li>
		<li><strong>Details/summary:</strong> Fixed indenting of headings in the summary element</li>
		<li><strong>Form validation:</strong> Added documentation and/or examples of all the jQuery validation methods with French translations and corrected the telephone number label</li>
		<li><strong>CSS:</strong> Made details/summary look clickable.</li>
	</ul>
	</div>
</section>

<section>
	<h2>Détails</h2>
	<p><strong>Nombre des &#171;&#160;commits&#160;&#187;</strong> 25</p>
	<ul>
		<li><a href="https://github.com/pjackson28">@pjackson28</a>&#160;: &#171;&#160;8 commits&#160;&#187;</li>
		<li><a href="https://github.com/LaurentGoderre">@LaurentGoderre</a>&#160;: &#171;&#160;4 commits&#160;&#187;</li>
		<li><a href="https://github.com/nschonni">@nschonni</a>&#160;: &#171;&#160;3 commits&#160;&#187;</li>
		<li><a href="https://github.com/EricDunsworth">@EricDunsworth</a>&#160;: &#171;&#160;2 commits&#160;&#187;</li>
		<li><a href="https://github.com/jvanulde">@jvanulde</a>&#160;: &#171;&#160;2 commits&#160;&#187;</li>
		<li><a href="https://github.com/philippesimard">@philippesimard</a>&#160;: &#171;&#160;2 commits&#160;&#187;</li>
		<li><a href="https://github.com/duboisp">@duboisp</a>&#160;: &#171;&#160;2 commits&#160;&#187;</li>
		<li><a href="https://github.com/thomasgohard">@thomasgohard</a>&#160;: &#171;&#160;1 commits&#160;&#187;</li>
		<li><a href="https://github.com/lucas-hay">@lucas-hay</a>&#160;: &#171;&#160;1 commit&#160;&#187;</li>
	</ul>
	<section>
		<h3>Liste des &#171;&#160;commits&#160;&#187;</h3>
		<ul lang="en">
			<li><a href="https://github.com/wet-boew/wet-boew/commit/c0d569a">Addresses issues #6678, #6750, #6665 by adding support for MapQuest OSM base map, and #6423.</a> - Joost van Ulden, 2015-05-27 06:25:17 -0700</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/68490ed">Addresses issues #6678, #6750, #6665 by adding support for MapQuest OSM base map, and #6423.</a> - Joost van Ulden, 2015-05-27 06:51:03 -0700</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/3115822">Footnotes: Added minor SCSS improvements. * Increased total width of the footnotes section by removing unnecessary left/right margins (old carry-overs from WET 3.x). * Slightly increased widths of return links to prevent right borders from disappearing in 2 column pages when 3 digit numbers are used. * Adjusted vertical positioning of return links and nearby paragraphs to make them appear exactly on the same line.</a> - Eric Dunsworth, 2015-06-15 13:17:53 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/90fc721">Tabbed interface: Fixed CSSLint issue. Avoids a warning related to the margin property being ineffective when "display: table-cell;" is used in the same selector.</a> - Eric Dunsworth, 2015-06-22 14:20:16 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/432ff84">Updated the build version to v4.0.16-development</a> - lucas-hay, 2015-06-24 10:09:53 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/92877d1">Tables: Fixed incorrect display of sorting icons in multi-row table headers</a> - Paul Jackson, 2015-06-24 14:15:13 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/445c9ad">Charts - Initiate details polyfill - fix #6853</a> - Pierre Dubois, 2015-06-26 04:03:50 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/cf21908">Create a distributable package that only contains the core files Implements #6887</a> - Laurent Goderre, 2015-06-26 11:04:09 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/b292b33">Core: Normalized encoding of the query string in Internet Explorer to prevent cross-site scripting issues</a> - Paul Jackson, 2015-06-26 14:42:46 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/b28883f">Build: Added license to the CDN packages</a> - Laurent Goderre, 2015-06-30 15:26:44 +0000</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/9027957">Build: Deploy the WET theme to the themes CDN repo</a> - Laurent Goderre, 2015-06-30 15:26:54 +0000</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/0313252">Removal of WET v3.1 notice - close #6802</a> - Pierre Dubois, 2015-07-04 11:03:06 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/2155aa1">Fixed the overlay bein visible on the audio player.</a> - Laurent Goderre, 2015-07-06 18:08:07 +0000</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/0a32e5f">Menu: Fixed HTML5 markup of the mobile panel section headers</a> - Paul Jackson, 2015-07-07 12:54:07 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/964c9f8">Form validation: Fixed form validation i18n build</a> - Paul Jackson, 2015-07-09 13:20:53 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/ab8d9ef">Lightbox: Added the ability to use the ajax option from Magnific Popup</a> - Paul Jackson, 2015-07-09 13:40:09 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/166f77d">Lightbox: Fixed firing of the wb-ready.wb-lbx event when opening a Lightbox through JavaScript</a> - Paul Jackson, 2015-07-10 14:42:45 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/870f9de">Details/summary: Fixed indenting of headings in the summary element</a> - Paul Jackson, 2015-07-10 16:47:46 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/bd9db5c">Update menu.js</a> - Philippe T. Simard, 2015-07-14 16:51:17 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/05aea59">Fixes code formatting errors</a> - Philippe T. Simard, 2015-07-14 17:37:11 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/6411f94">Build: Don't try and load the removed task folder</a> - Nick Schonning, 2015-07-16 01:48:06 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/de526a2">Build: Fix typo in call to gh-pages target</a> - Nick Schonning, 2015-07-16 21:30:39 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/84a9a30">Build: Fix regex when replacing ".min." assets</a> - Nick Schonning, 2015-07-17 00:30:51 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/80199aa">Form validation: Added documentation and/or examples of all the jQuery validation methods with French translations and corrected the telephone number label</a> - Paul Jackson, 2015-07-17 15:09:12 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/aa3bafc">CSS: Made details/summary look clickable.</a> - Thomas Gohard, 2015-07-17 16:46:19 -0400</li>
		</ul>
	</section>
</section>
