---
{
	"title": "v4.0.1 release notes",
	"language": "en",
	"description": "v4.0.1 release notes - Version history - Web Experience Toolkit (WET)",
	"altLangPrefix": "v4.0.1",
	"dateModified": "2014-04-23"
}
---
<ul>
	<li><strong>Release date:</strong> <time>2014-04-23</time></li>
	<li><a href="../dwnld-en.html#v401">Downloads</a></li>
</ul>

<section>
	<h2>What's New</h2>
	<ul>
		<li>Build: Added SCSS-Lint to the Travis build</li>
		<li>Data-picture: Added support for data-class attribute</li>
		<li>Details/summary: Added indenting and margin bottom when details is open</li>
		<li>Documentation: Added a getting started guide</li>
		<li>Favicon: Updated plugin element selector</li>
		<li>Feedback form: Fixed triggering of the form validation plugin</li>
		<li>Lightbox: Fixed inner padding of AJAX modal dialog</li>
		<li>Lightbox: Popup now closes when navigating outside the popup</li>
		<li>Menu: Added support for additional footer links in the mobile panel</li>
		<li>Menu: Added support for more than just English and French</li>
		<li>Menu: Changed down triangle to chevron</li>
		<li>Menu: Fixed secondary menu links in mobile panel in IE8</li>
		<li>Menu: Removed underlining on menu hover</li>
		<li>Multimedia player: Fixed issues with the iPad player not preserving ratio</li>
		<li>Multimedia player: Fixed the display of the progress bar in Webkit</li>
		<li>Multimedia player: Fixed the YouTube player duration not updating properly</li>
		<li>Multimedia player: Hiding the close captions button on the audio player</li>
		<li>Multimedia player: Restored responsiveness for the YouTube player</li>
		<li>Overlay: Fixed incorrect overlay border in IE8</li>
		<li>Share widget: Removed DZone due to their broken login page redirect</li>
		<li>Tabbed interface: Fixed duplication of carousel play/pause button text when button is activated</li>
		<li>Tables: Added sorting for currency and formatted numbers</li>
		<li>Tables: Changed sort icons</li>
		<li>Web Accessibility Assessment Methodology: Fixed issue with AA total</li>
		<li>WET theme: Enabled secondary menu to work without the a element on the top header</li>
	</ul>
</section>

<section>
	<h2>Details</h2>
	<p><strong>Number of commits:</strong> 200</p>
	<ul>
		<li><a href="https://github.com/pjackson28">@pjackson28</a>: 89 commits</li>
		<li><a href="https://github.com/nschonni">@nschonni</a>: 49 commits</li>
		<li><a href="https://github.com/LaurentGoderre">@LaurentGoderre</a>: 35 commits</li>
		<li><a href="https://github.com/jpmckinney">@jpmckinney</a>: 16 commits</li>
		<li><a href="https://github.com/patheard">@patheard</a>: 6 commits</li>
		<li><a href="https://github.com/EricDunsworth">@EricDunsworth</a>: 3 commits</li>
		<li><a href="https://github.com/masterbee">@masterbee</a>: 1 commit</li>
		<li><a href="https://github.com/thomasgohard">@thomasgohard</a>: 1 commit</li>
	</ul>

	<section>
		<h3>List of commits</h3>
		<ul>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/704cc22">Build: Updated build version to v4.0.1-development</a> - Paul Jackson, 2014-03-31 04:59:02 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/3d9d485">Favicon: update plugin element selector</a> - Pat Heard, 2014-03-31 08:23:12 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/bcd445e">Favicon: update working examples with link[rel='icon']</a> - Pat Heard, 2014-03-31 08:37:32 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/c5c5663">Favicon: update docs with link[rel='icon'] change</a> - Pat Heard, 2014-03-31 08:37:38 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/5602404">Documentation: Removed v3.0 development download links</a> - Paul Jackson, 2014-03-31 10:18:13 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/1bc5acf">[CAROUSEL] - Corrected incorrect index target of control text. Causing doubling of text on click/focus events</a> - Mario Bonito, 2014-03-31 12:24:29 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/478f5a3">Docs: Add getting started guide</a> - Nick Schonning, 2014-04-01 00:07:25 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/cbcd773">Update both the v4.0-ci and wet-boew submodules.</a> - Laurent Goderre, 2014-04-01 10:26:42 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/4bc54f0">Build: Add SCSS-Lint to Travis build</a> - Nick Schonning, 2014-04-01 12:30:06 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/f830282">SCSSLint: Use double quotes</a> - Nick Schonning, 2014-04-01 12:30:12 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/48051af">SCSSLint: Fix spacing</a> - Nick Schonning, 2014-04-01 12:30:13 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/e3d10c5">SCSS: Fix SpaceBetweenParens</a> - Nick Schonning, 2014-04-01 12:30:13 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/7b95b03">SCSSLint: Fix UrlQuotes</a> - Nick Schonning, 2014-04-01 12:30:14 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/a048578">SCSSLint: SpaceBetweenParens</a> - Nick Schonning, 2014-04-01 12:30:15 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/a4d432f">SCSSLint: Fix ZeroUnit</a> - Nick Schonning, 2014-04-01 12:30:15 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/139aa06">SCSSLint: Fix SpaceAfterPropertyColon</a> - Nick Schonning, 2014-04-01 12:30:16 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/aa3973f">SCSSLint: Fix SpaceAfterComma</a> - Nick Schonning, 2014-04-01 12:30:16 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/13b6c99">SCSSLint: Fix HexFormat</a> - Nick Schonning, 2014-04-01 12:30:17 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/e742429">SCSSLint: Fix Shorthand</a> - Nick Schonning, 2014-04-01 12:30:18 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/07835ea">SCSSLint: Fix DuplicateProperty</a> - Nick Schonning, 2014-04-01 12:30:18 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/c2ffd51">SCSSLint: Fix SpaceBeforeBrace</a> - Nick Schonning, 2014-04-01 12:30:19 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/c388eda">SCSSLint: Fix TrailingSemicolonAfterPropertyValue</a> - Nick Schonning, 2014-04-01 12:30:19 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/6425e72">SCSSLint: Fix CapitalizationInSelector</a> - Nick Schonning, 2014-04-01 12:30:20 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/cd964d3">SCSSLint: Fix ColorKeyword</a> - Nick Schonning, 2014-04-01 12:30:21 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/0cd5855">SCSSLint: Apply SingleLinePerSelector</a> - Nick Schonning, 2014-04-01 12:30:21 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/daa8c8b">SCSSLint: Fix EmptyLineBetweenBlocks</a> - Nick Schonning, 2014-04-01 12:30:22 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/ceb8b08">SCSSLint: Fix BorderZero</a> - Nick Schonning, 2014-04-01 12:30:23 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/c2cdd24">SCSSLint: Fix DeclarationOrder</a> - Nick Schonning, 2014-04-01 12:30:24 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/ac7c240">Added task to update the i18n.csv</a> - Laurent Goderre, 2014-04-01 13:23:10 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/668ec28">Add site-wide message linking to v3.1 and fix broken links</a> - Paul Jackson, 2014-04-01 13:42:59 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/a56dc98">Fixed breadcrumb generation for the docs index file</a> - Paul Jackson, 2014-04-01 13:48:25 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/1833f88">Updated contributing.md with new v4.0 information</a> - Paul Jackson, 2014-04-01 14:36:21 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/0aa25f5">Tabs: Remove single quote escape for SVG fallback</a> - Nick Schonning, 2014-04-01 17:38:03 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/da0b270">Getting Started: Add missing protocol</a> - Nick Schonning, 2014-04-01 21:27:36 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/d1189f6">Getting Started: Add instructions for proxy setup</a> - Nick Schonning, 2014-04-01 22:19:54 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/1c52393">Build: Move the artifact push back to post test</a> - Nick Schonning, 2014-04-01 23:09:35 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/9ba76d0">Testing: Only run English scaffolds</a> - Nick Schonning, 2014-04-01 23:42:23 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/25ac902">Fixed broken links to the v3.1 demos index page</a> - Laurent Goderre, 2014-04-02 12:30:01 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/bb89c8f">Updated roadmap with specific maintenance release dates</a> - Paul Jackson, 2014-04-02 12:31:47 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/dbdbfab">[CSS] Optimised the CSS for the calendar of events plugin.</a> - Thomas Gohard, 2014-04-02 13:00:32 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/ea6eb0e">Calendar Events: Remove extra "&amp;" from cleanup</a> - Nick Schonning, 2014-04-02 14:20:04 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/b6f31fc">Fixed the submodule update script for the new branch</a> - Laurent Goderre, 2014-04-02 16:33:37 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/62503e0">Documentation: Updated v4.0 source code links to point to master.</a> - Eric Dunsworth, 2014-04-03 00:32:22 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/1b629de">Temporary fix for the openlayers dependency</a> - Laurent Goderre, 2014-04-03 15:55:30 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/0c1c17b">Fixed broken links in v3.1 info boxes</a> - Paul Jackson, 2014-04-03 16:53:24 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/80933f1">Fixed issue with v3.1 info box on Charts pages</a> - Paul Jackson, 2014-04-03 20:49:31 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/df4b62f">Lightbox: Popup now closes when navigating outside the popup (fixes #5009)</a> - Paul Jackson, 2014-04-03 22:24:30 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/3d1744a">Documentation: Fixed various broken links.</a> - Eric Dunsworth, 2014-04-04 00:54:46 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/92040c8">Fixed the working example updating the wrong branch</a> - Laurent Goderre, 2014-04-04 10:05:15 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/6c1a1ed">Re-ignored assemble i18n files</a> - Laurent Goderre, 2014-04-04 11:50:54 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/fc6abce">Switched to the new i18n integrated task</a> - Laurent Goderre, 2014-04-04 11:50:56 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/90ba7cf">Removed unused task</a> - Laurent Goderre, 2014-04-04 11:50:57 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/df6b5fd">Used the new option to use the header row as a value</a> - Laurent Goderre, 2014-04-04 11:52:50 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/9fc3d7a">Fixed numerous broken links and corrected data-ajax plugin references (related to #5131)</a> - Paul Jackson, 2014-04-04 12:00:03 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/8da17a6">Progress: Fixed typo in French working example title</a> - Paul Jackson, 2014-04-04 13:45:54 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/095c340">Fixed link from menu demos to v3.1 equivalent</a> - Paul Jackson, 2014-04-04 15:59:57 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/e3119ad">Data-picture: updated docs with data-class attribute</a> - Pat Heard, 2014-04-04 17:22:22 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/001240a">Data-picture: updated demos with data-class attribute</a> - Pat Heard, 2014-04-04 17:22:24 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/137f47d">Data-picture: added support for data-class attribute</a> - Pat Heard, 2014-04-04 17:23:10 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/4c6f47c">Fixed scss-lint issues</a> - Laurent Goderre, 2014-04-07 16:44:50 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/af5095a">Build: Pin SCSSLint version for Travis to 0.22.0</a> - Nick Schonning, 2014-04-07 17:48:53 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/ca3ba0d">Build: Add David-DM badge to readme</a> - Nick Schonning, 2014-04-07 17:54:47 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/fcac718">Web Accessibility Assessment Methodology: Fixed issue with AA total (fixes #5151)</a> - Paul Jackson, 2014-04-07 20:34:59 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/5e00b13">Tables: Added sorting for currency and formatted numbers (fixes #5115)</a> - Paul Jackson, 2014-04-07 22:29:35 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/c50b0b9">Tables: Removed redundant currency sorting support (already covered by formatted numbers sorting)</a> - Paul Jackson, 2014-04-08 11:45:36 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/992f03e">Fixed the theme examples not being generated on a fresh copy. Since now the i18n .json files are not commited, there is no way for the locales to be populated at load time. The output of the grunt-i18n-csv task is used instead. Fix #5150</a> - Laurent Goderre, 2014-04-08 12:38:51 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/f8f341b">Fixed the multimedia progress WebKit style being ignored. Apparently, WebKit/Blink doesn't like it's pseudo-selector combine to other styles such as Firefox pseudo-selector. Fixes #5171</a> - Laurent Goderre, 2014-04-08 14:04:02 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/f649d49">Feedback form: Fixed triggering of the form validation plugin (fixes #5180)</a> - Paul Jackson, 2014-04-08 16:07:02 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/d79c59b">Fixed a SCSS lint issue with the multimedia player</a> - Laurent Goderre, 2014-04-08 16:16:48 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/a916a69">Fixed secondary menu links in small view in IE8 The issue is caused by the fact that IE8 HTML view doesn't use quotes around class. The search and replace created the followin markup `&lt;A class= href="/v4.0-ci/index-en"&gt;Item 1&lt;/A&gt;` which was interpretted as &lt;A class='href="/v4.0-ci/index-en"'&gt;Item 1&lt;/A&gt; Fixes: https://github.com/wet-boew/theme-gc-intranet/issues/62</a> - Laurent Goderre, 2014-04-08 17:31:08 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/c7f47a2">Hide cc button for audio player Also changed the code to use CSS instead of DOM changes to modify the player. Fix #5176</a> - Laurent Goderre, 2014-04-09 10:42:46 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/b56d93e">Pluralized the working example categories and turned them into links (fixes #5181)</a> - Paul Jackson, 2014-04-09 14:59:17 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/7a6fd33">Share widget: Removed DZone due to their broken login page redirect (fixes #5195)</a> - Paul Jackson, 2014-04-09 15:41:02 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/cdd37da">Fixed the progress bar colors in firefox and added color variables Bug introduced by f8f341bb82d7e2db581d29e47212a573dfa05fff</a> - Laurent Goderre, 2014-04-09 15:57:06 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/467b797">Fixed the Closed Caption button not showing on the first video. Bug introduced by c7f47a2afdaa877fa6fbce5b660f7860685a3bbf</a> - Laurent Goderre, 2014-04-09 15:57:27 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/e07104e">Fixed a javascript error with the multimedia and the multipli loading of the controls</a> - Laurent Goderre, 2014-04-09 16:43:34 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/e600c12">WET theme: Enabled secondary menu to work without the a element on the top header</a> - Paul Jackson, 2014-04-10 14:26:22 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/0fb1f3d">Fixed the multimedia controls not loading.</a> - Laurent Goderre, 2014-04-10 17:25:12 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/393b042">Details/summary: Added indenting and margin bottom when details is open (fixes #5197)</a> - Paul Jackson, 2014-04-11 13:49:11 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/31235ee">Updated the GitHub token (post HeartBleed)</a> - Laurent Goderre, 2014-04-11 14:45:29 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/741ae3c">Addes multilingual menus This fixes the menus not working for any languages but english and french in themes</a> - Laurent Goderre, 2014-04-11 16:36:44 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/3c9a221">Front page improvements</a> - James McKinney, 2014-04-13 17:33:05 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/691c416">Reproduce changes in French file</a> - James McKinney, 2014-04-13 17:45:56 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/30379dc">Add "docs" task to quickly rebuild docs pages, when making changes to documentation locally</a> - James McKinney, 2014-04-13 17:56:30 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/205858c">Improve documentation page</a> - James McKinney, 2014-04-13 18:02:10 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/fb283e0">Correct typos on bugs page</a> - James McKinney, 2014-04-13 18:07:06 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/a513c61">Correct typo on pull request page</a> - James McKinney, 2014-04-13 18:40:56 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/7c89113">Highlight the current stable version on the downloads page</a> - James McKinney, 2014-04-13 18:54:08 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/a9e4652">Add versions task to Gruntfile</a> - James McKinney, 2014-04-13 18:54:41 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/108927e">Getting started improvements</a> - James McKinney, 2014-04-13 18:58:02 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/13ee599">Close unclosed strong tag</a> - James McKinney, 2014-04-13 20:28:38 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/01d31b6">Link to YouTube multimedia example</a> - James McKinney, 2014-04-14 01:00:20 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/643d317">Link to carousel example</a> - James McKinney, 2014-04-14 01:02:13 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/a1b8faa">Add link to Data Ajax plugin</a> - James McKinney, 2014-04-14 01:05:31 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/c087180">Improve instructions for asking a question</a> - James McKinney, 2014-04-14 13:51:04 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/470c5f8">Add link to contributing guidelines</a> - James McKinney, 2014-04-14 13:53:59 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/dd066f5">Documentation: Moved comms material to its own page (fixes #5226)</a> - Paul Jackson, 2014-04-14 16:40:02 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/09a919b">Copy English to French</a> - James McKinney, 2014-04-14 19:30:37 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/b7f0a1e">Build: Switch to official jQuery-Validation bower</a> - Nick Schonning, 2014-04-14 23:38:25 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/00101fd">Fixed sorting of formatted numbers in HTML tags (fixes #5239)</a> - Paul Jackson, 2014-04-16 14:44:27 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/a6b82d9">Bower: Update package for publishing</a> - Nick Schonning, 2014-04-16 15:50:15 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/69dfc4a">Datalist polyfill: Corrected typos in the documentation</a> - Paul Jackson, 2014-04-17 09:46:21 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/e07b191">Split Websites using WET to a different page (fixes #5236)</a> - Paul Jackson, 2014-04-17 10:56:37 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/4270a11">Fix issues with the iPad player not preserving ratio</a> - Laurent Goderre, 2014-04-17 14:21:21 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/81a725f">Docs: Add missing "A" in WAM link text</a> - Nick Schonning, 2014-04-17 17:26:45 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/3582d9a">Menu: Added support for additional footer links in the mobile panel (fixes #5250)</a> - Paul Jackson, 2014-04-18 02:33:02 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/41dba6a">Restored responsivness for the YouTube player</a> - Laurent Goderre, 2014-04-22 10:01:47 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/56b2968">Form validation: Pluralized legend on checkbox example (fixes #5262)</a> - Paul Jackson, 2014-04-22 13:49:16 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/9e3b1e2">Menu: Removed underlining on menu hover where sub-menu is present (fixes #4914)</a> - Paul Jackson, 2014-04-22 15:07:34 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/bd1f10a">Menu: Changed down triangle to chevron (fixes #5272)</a> - Paul Jackson, 2014-04-22 16:31:50 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/220e27f">SCSSLint: Bump to 0.23.1</a> - Nick Schonning, 2014-04-22 18:28:21 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/731296d">SCSSLint: Combine duplicate root selectors</a> - Nick Schonning, 2014-04-22 18:28:22 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/51e51a0">SCSSLint: Remove unnecessary units</a> - Nick Schonning, 2014-04-22 18:28:22 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/adfafc1">SCSSLint: Apply PropertySort order</a> - Nick Schonning, 2014-04-22 18:28:23 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/45a040c">Build: Bump and target Autoprefixer</a> - Nick Schonning, 2014-04-22 18:44:33 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/3424243">Menu: Decreased size of down chevron</a> - Paul Jackson, 2014-04-22 21:59:36 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/8679b6f">Tables: Changed sort icons (fixes #5209)</a> - Paul Jackson, 2014-04-22 22:25:10 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/9888303">Overlay: Fixed incorrect overlay border in IE8 (fixes #5274)</a> - Paul Jackson, 2014-04-22 22:37:08 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/b42390f">Lightbox: Fixed inner padding of AJAX modal dialog (fixes #5265)</a> - Paul Jackson, 2014-04-22 22:57:29 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/d87f60d">Menu: Removed hover/focus underlining for menu bar links with no sub-menus</a> - Paul Jackson, 2014-04-23 00:58:00 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/0ec8912">Build: Improve Saucelabs testing</a> - Nick Schonning, 2014-04-23 00:37:28 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/d87f60d">Menu: Removed hover/focus underlining for menu bar links with no sub-menus</a> - Paul Jackson, 2014-04-23 00:58:00 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/4233d20">Fixed the logo size for the splash page in IE</a> - Laurent Goderre, 2014-04-23 10:40:45 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/0176816">Documentation/Accolades: Fixed and removed broken links.</a> - Eric Dunsworth, 2014-04-23 12:08:59 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/a13b79c">Fixed the YouTube player duration not updating properly</a> - Laurent Goderre, 2014-04-23 12:37:24 -0400</li>
		</ul>
	</section>
</section>
