---
{
	"title": "v4.0.31 - Notes de version",
	"language": "fr",
	"description": "v4.0.31 - Notes de version - Historique des versions - Boîte à outils de l'expérience Web (BOEW)",
	"altLangPrefix": "v4.0.31",
	"dateModified": "2019-09-16"
}
---
<p>Version 4.0.31</p>
<ul>
	<li><strong>Date de lancement&#160;:</strong>
		<time>2019-06-20</time>
	</li>
	<li><a href="../dwnld-fr.html#v4031">Téléchargements</a></li>
</ul>
<div class="wb-prettify all-pre"></div>
<section>
	<h2>Quoi de neuf?</h2>
	<ul>
		<li>Template
			<ul>
				<li>Mineur - ajout d’un élément <code>nav</code> aux liens de contournement, <a href="#nav-ex">tel que montré ici</a></li>
			</ul>
		</li>
		<li>Styles et plugiciels
			<ul>
				<li>Mineur - Superposition - Ajout d’un fond facultatif pour les superpositions ayant la <code>.overlay-bg</code> et ajout d’un événement «&nbsp;ouvert&nbsp;» et «&nbsp;fermé&nbsp;»</li>
				<li>Mineur - Gadget de partage - Retrait des sites sociaux obsolètes dans l’interface (Google+, Delicious et StumbleUpon)</li>
				<li>Mineur - Gadget de partage - Mise à jour du lien «&nbsp;partager sur Twitter&nbsp;» pour l’harmoniser avec le nouveau motif (<a href="#twitter-ex">voir ce qui a été modifié</a>)</li>
				<li>Mineur - Géocarte - Ajout d’un filtrage avec la compatibilité du gestionnaire d’URL</li>
				<li>Mineur - Géocarte - Migration d’Openlayer de la version 2.x à la version 3.x (<a href="https://github.com/wet-boew/wet-boew/pull/8578">plus de renseignements</a>)</li>
				<li>Mineur - Coeur - Ajout d’une fonction de téléchargement aux fonctions essentielles, qui utilise une forme floue</li>
				<li>Mineur - Tableaux - Ajout d’options avancés de filtrage (<a href="https://wet-boew.github.io/wet-boew/docs/ref/tables/tables-en.html#advopt" hreflang="en">consulter les documents pour en apprendre plus</a>)</li>
				<li>Correctif - Tableaux - Correction du filtrage des cases à cocher lorsqu’elles sont suivies d’un élément <code>&lt;select&gt;</code></li>
				<li>Correctif - Tableaux - Retrait des répétitions dans le texte lors du lancement</li>
				<li>Correctif - Lecteur multimédia - Correction du lecteur qui reproduisait un fond sonore lorsqu’il était contenu dans une superposition</li>
				<li>Correctif - Flux - Correction de la situation où une limite est plus grande que le nombre d’entrées</li>
				<li>Correctif - Basculer - Ajustement du comportement d’activation <code>&lt;detail&gt;</code> pour mieux correspondre au cycle naturel lorsqu’il y a de divers détails à activer en même temps</li>
			</ul>
		</li>
		<li>Entretien
			<ul>
				<li>Correction de la situation de blocage dans le script de compilation relatif aux <span lang="en">sprites</span></li>
			</ul>
		</li>
	</ul>
	<section>
		<h3 id="implementation">Fichiers modifiés pour implémentation</h3>
		<ul>
			<li><ins>Image pour les logos de réseaux sociaux (gadget de partage)&nbsp;: wet-boew/assets/sprites_share.png</ins> <span class="label label-info">Clarifié le&nbsp;: 2019-09-16</span></li>
			<li>Dépendance de la Géocarte&nbsp;:
				<ul>
					<li>wet-boew/js/geomap-lib.js</li>
					<li>wet-boew/js/geomap-lib.min.js</li>
				</ul>
			</li>
			<li>i18n, Langue zh-Hans&nbsp;:
				<ul>
					<li>wet-boew/js/i18n/zh-Hans.js</li>
					<li>wet-boew/js/i18n/zh-Hans.min.js</li>
				</ul>
			</li>
			<li>JavaScript primaire&nbsp;:
				<ul>
					<li>wet-boew/js/wet-boew.js</li>
					<li>wet-boew/js/wet-boew.min.js</li>
				</ul>
			</li>
			<li>CSS primaire&nbsp;:
				<ul>
					<li>theme-wet-boew/css/theme.css</li>
					<li>theme-wet-boew/css/theme.min.css</li>
				</ul>
			</li>
		</ul>
	</section>
	<section>
		<h3>Fureteurs supportés</h3>
		<p>Tel que défini par la <a href="https://wet-boew.github.io/wet-boew-documentation/decision/2.html" hreflang="en">Décision de conception 2&nbsp;: Fureteur supporté</a> (en anglais)</p>
		<ul>
			<li>Chrome 75</li>
			<li>Chrome 74</li>
			<li>Safari 12.1.1</li>
			<li>Firefox 67.0.3</li>
			<li>Firefox 66.0.5</li>
			<li>Firefox ESR - 60.7.1</li>
			<li>IE 11</li>
			<li>Edge 44</li>
		</ul>
	</section>
</section>
<section>
	<h2>Détails</h2>
	<p><strong>Nombre de contributions&nbsp;:</strong> 26</p>
	<ul>
		<li><a href="https://github.com/duboisp">Pierre Dubois (@duboisp)</a>&nbsp;: 10 contributions</li>
		<li><a href="https://github.com/thekodester">Kody (@thekodester)</a>&nbsp;: 5 contributions</li>
		<li><a href="https://github.com/ipaksc">Ilya Pak (@ipaksc)</a>&nbsp;: 3 contributions</li>
		<li><a href="https://github.com/GormFrank">Francis Gorman (@GormFrank)</a>&nbsp;: 2 contributions</li>
		<li><a href="https://github.com/jkshapiro">Kivi Shapiro (@jkshapiro)</a>&nbsp;: 2 contributions</li>
		<li><a href="https://github.com/ClassicCut">ClassicCut (@ClassicCut)</a>&nbsp;: 1 contribution</li>
		<li><a href="https://github.com/jvanulde">Joost van Ulden (@jvanulde)</a>&nbsp;: 1 contribution</li>
		<li><a href="https://github.com/juleskuehn">Jules Kuehn (@juleskuehn)</a>&nbsp;: 1 contribution</li>
		<li><a href="https://github.com/Scott-D-Hodgson">Scott Hodgson (@Scott-D-Hodgson)</a>&nbsp;: 1 contribution</li>
		<li><a href="https://github.com/shawnthompson">Shawn Thompson (@shawnthompson)</a>&nbsp;: 1 contribution</li>
	</ul>
	<section>
		<h3>Liste des contributions</h3>
		<ul>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/9de22a68b">Update build version to v4.0.31-development + broken link fix</a> - Pierre Dubois, 2019-02-11</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/a087afadf">add nav element to skip navigation closes wet-boew/GCWeb#1500</a> - Shawn Thompson, 2019-02-13</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/f61efd4f0">WET4 release notes update</a> - ipaksc, 2019-02-23</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/5d0f66ad2">GCWeb v5.0.1 download links</a> - Pierre Dubois, 2019-02-23</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/2f6d209a0">Geomap - Migration to OpenLayers v3.x</a> - Joost van Ulden, 2019-02-25</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/840d90747">Checkbox Filtering Bug</a> - kody, 2019-03-01</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/a9f265acc">Overlay - Add optional overlay background</a> - Pierre Dubois, 2019-03-04</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/152830e9e">Overlay - Add opened and closed js event</a> - Pierre Dubois, 2019-03-04</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/c71a3766d">Multimedia Player in overlay - Pause the video when overlay close</a> - Pierre Dubois, 2019-03-04</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/342a840e7">i18n - Update for zh-Hans language</a> - Pierre Dubois, 2019-03-06</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/6ab49136d">Share Widget: Remove Deprecated Site</a> - kody, 2019-03-11</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/be90451d5">Feeds Plugin: When limit is greater than the number of feed entries</a> - ipaksc, 2019-03-12</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/551970e25">Geomap - Map filtering</a> - Pierre Dubois, 2019-03-19</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/47ed53c9c">DataTables: Advanced Options</a> - kody, 2019-03-21</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/0f840df28">Multimedia Youtube player - YT event workaround when open in a modal (#8614)</a> - Pierre Dubois, 2019-03-28</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/d7cb2507b">Fix #8606 Data table – Pagination: Duplicated text on initialization</a> - ipaksc, 2019-03-28</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/6c692b25e">Remove Dead Link From Examples</a> - kody, 2019-04-03</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/68c9f0a34">wb-focus - add extra logic condition for focus with empty href (#8621)</a> - ClassicCut, 2019-04-04</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/c840080d8">Content - Updated link to wet-boew style guide</a> - Pierre Dubois, 2019-04-11</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/ceb40b1e2">Plugin Share/Sprite: Fix build blocking condition</a> - Scott Hodgson, 2019-05-08</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/39653b0f8">Core: Add Download function</a> - Pierre Dubois, 2019-05-09</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/5a7d2ea76">Toggle plugin: multiple details toggle fix</a> - Jules Kuehn, 2019-05-15</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/589e2918d">Build script: Geomap dependency workaround</a> - GormFrank, 2019-05-21</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/09ddaf8ec">Update Twitter Share Link</a> - thekodester, 2019-05-26</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/17d7e6d59">Geomap: Zoom feature fix for backtrack compatibility</a> - GormFrank, 2019-05-29</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/1273e15d3">Reflect ARIA name change</a> - Kivi Shapiro, 2019-06-04</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/5dae5ee9a">Reflect ARIA name change</a> - Kivi Shapiro, 2019-06-04</li>
		</ul>
	</section>
</section>
<section>
	<h2 id="sri">Intégrité des sous-ressource (SRI)</h2>
	<p>Le <a href="https://www.w3.org/TR/SRI/">SRI</a> (en anglais) est une méthode qui permet de protéger le transfère des resources d'un site web. Ci-dessous vous avez les condensés numériques pour les ressource clef de la BOEW et de GCWeb.</p>
	<section>
		<h3>v4.0.31</h3>
		<dl>
			<dt><code>wet-boew/js/wet-boew.min.js</code></dt>
			<dd>sha256-N529PTruQXTyH5m3iY1xWOObxUq9VXw1uTURRztIHWs= sha512-yP3Y1uzds5eq86XMGxBHGX36zOhIg8iu6QpFwcmmTtRe2e7hF6TfwZde/nDDmXWOZ1ZvE3HkTLnb/5U8rsB5Ng==</dd>
		</dl>
		<p>Obtenez tous les condensés numériques (en format JSON)&nbsp;:</p>
		<ul>
			<li><a href="https://github.com/wet-boew/wet-boew-dist/blob/v4.0.31/wet-boew/payload.json">WET-BOEW</a></li>
			<li><a href="https://github.com/wet-boew/wet-boew-dist/blob/v4.0.31/theme-wet-boew/payload.json">WET-BOEW theme</a></li>
		</ul>
	</section>
</section>
<section>
	<h2>Plus de détails et exemples</h2>

	<h3>Relatifs au gabarit</h3>

	<h4 id="nav-ex">Liens de contournement</h4>
	<div class="row">
		<div class="col-md-6">
			<h5>Maintenant</h5>
			<pre><code><strong>&lt;nav&gt;</strong>
		&lt;ul id="wb-tphp"&gt;
			[...]
		&lt;/ul&gt;
	<strong>&lt;/nav&gt;</strong></code></pre>
		</div>
		<div class="col-md-6">
			<h5>Était</h5>
			<pre><code>&lt;ul id="wb-tphp"&gt;
		[...]
	&lt;/ul&gt;</code></pre>
		</div>
	</div>

	<h3>Relatifs aux styles et aux plugiciels</h3>

	<h4 id="twitter-ex">Lien «&nbsp;partager sur Twitter&nbsp;»</h4>
	<div class="row">
		<div class="col-md-6">
			<h5>Après</h5>
			<p class="well">http<strong>s</strong>://twitter.com/<strong>intent/tweet?text={t}&amp;url={u}</strong></p>
		</div>
		<div class="col-md-6">
			<h5>Avant</h5>
			<p class="well">http://twitter.com/home?status={t}%20{u}</p>
		</div>
	</div>
</section>
