---
{
	"title": "v4.0.7 release notes",
	"language": "en",
	"description": "v4.0.7 release notes - Version history - Web Experience Toolkit (WET)",
	"altLangPrefix": "v4.0.7",
	"dateModified": "2014-10-22"
}
---
<ul>
	<li><strong>Release date:</strong> <time>2014-10-22</time></li>
	<li><a href="../dwnld-en.html#v407">Downloads</a></li>
</ul>

<span class="wb-prettify all-pre"></span>

<section>
	<h2>What's New</h2>
	<ul>
		<li><strong>Archived notice</strong>: Updated the text to match to match the text in the Technical specifications.</li>
		<li><strong>Menu</strong>: Menu panel now sources the panel title from the page markup</li>
		<li><strong>Overlay</strong>: Fixed bug that prevented in certain scenarios an overlay being opened through JS a second time</li>
		<li><strong>Equal Heights</strong>: CSS fix for nested elements</li>
		<li><strong>Equal Heights</strong>: CSS fix for nested elements</li>
		<li><strong>Text Highlighting</strong>: Added a dynamic functionality</li>
		<li><strong>Text Highlighting</strong>: Fixed when no parameters are defined</li>
		<li><strong>Ajax Fetch</strong>: Allow triggering on the actual element</li>
		<li><strong>Multimedia</strong>: Fix issue with share and apostrophe in title</li>
		<li><strong>Session Timeout</strong>: Fixed the plugin executing before being completly</li>
		<li><strong>Date picker</strong>: Prevented closing of datepicker from closing a parent lightbox</li>
		<li><strong>Demos</strong>: Added an option to add a class to the body tag</li>
	</ul>
</section>

<section>
	<h2>Details</h2>
	<p><strong>Number of commits:</strong> 41</p>
	<ul>
		<li><a href="https://github.com/LaurentGoderre">@LaurentGoderre</a>: 25 commits</li>
		<li><a href="https://github.com/pjackson28">@pjackson28</a>: 6 commits</li>
		<li><a href="https://github.com/nschonni">@nschonni</a>: 4 commits</li>
		<li><a href="https://github.com/thomasgohard">@thomasgohard</a>: 2 commits</li>
		<li><a href="https://github.com/crichard">@crichard</a>: 1 commits</li>
		<li><a href="https://github.com/EricDunsworth">@EricDunsworth</a>: 1 commits</li>
		<li><a href="https://github.com/shawnthompson">@shawnthompson</a>: 1 commits</li>
		<li><a href="https://github.com/zachfalsetto">@zachfalsetto</a>: 1 commits</li>
	</ul>

	<section>
		<h3>List of commits</h3>
		<ul>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/66af253">Build: Update modernizr</a> - Laurent Goderre, 2014-09-15 13:38:09 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/fe4d73b">Updated the build version to v4.0.7-development</a> - Laurent Goderre, 2014-09-23 18:00:38 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/a0e1d75">Fixed the version number in bower.json</a> - Laurent Goderre, 2014-09-24 11:02:18 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/e40c6cf">Feeds: update to semantics for news feeds</a> - Shawn Thompson, 2014-09-24 11:30:10 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/d30905e">Geomap: Fixed the link to Well-known text in the documentation</a> - Paul Jackson, 2014-09-24 12:47:32 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/bc8e00d">[Archived notice] Updated the text to match to match the text in the Technical specifications.</a> - Thomas Gohard, 2014-09-25 16:22:30 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/ff0d1e9">Menu: Menu panel now sources the panel title from the page markup</a> - Paul Jackson, 2014-09-26 11:51:55 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/a3c8094">Build: Moved GitHub user to the Travis configuration</a> - Laurent Goderre, 2014-09-26 14:45:19 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/fb13be6">Overlay: Fixed bug that prevented in certain scenarios an overlay being opened through JS a second time</a> - Paul Jackson, 2014-09-28 00:13:11 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/8632181">Fixed tests in browsers and SauceLabs Using `this` can very problematic and is unsafe in many cases.</a> - Laurent Goderre, 2014-09-29 15:40:29 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/8c9bb10">Build: Move the saucelabs to grunt and optimized the .travis.yml</a> - Laurent Goderre, 2014-09-30 09:58:28 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/09d8b47">Chained Travis scripts to make it easier to find errors Currently, one task failing does not stop the others from running which gives the illusion that the build passed when it didn't.</a> - Laurent Goderre, 2014-10-01 10:44:14 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/d136a0b">Fixed the development links to the WET theme</a> - Laurent Goderre, 2014-10-01 13:54:30 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/85ea703">Equal Heights: CSS fix for nested elements</a> - flze, 2014-10-01 15:30:29 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/9066d01">Equal Height: Added a test for the nested elements</a> - Laurent Goderre, 2014-10-01 15:30:34 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/1b4df43">Equal Heights: Fixed the HTML5 outline for nested examples</a> - Laurent Goderre, 2014-10-01 15:31:48 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/1140a58">Equal Heights: Replaced lorem ipsum with text in the language of the page</a> - Laurent Goderre, 2014-10-01 16:36:35 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/d0bd1fd">Documentation: Added /commit/ message formatting guide. Fixes #1715.</a> - Eric Dunsworth, 2014-10-03 00:13:32 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/724707b">Site: Use nested layouts to dry out markup</a> - Nick Schonning, 2014-10-03 01:11:59 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/db8b65d">Text Highlight: Added a dynamic functionality Addresses #6126</a> - Laurent Goderre, 2014-10-03 17:10:16 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/7d24e20">Ajax Fetch: Allow triggering on the actual element</a> - Laurent Goderre, 2014-10-06 16:49:46 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/44ea076">Text Highlight: Added test case</a> - Laurent Goderre, 2014-10-07 12:04:01 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/3a204d7">Text Highlight: added support for arrays and added more test cases</a> - Laurent Goderre, 2014-10-07 13:27:38 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/a6dc9bd">Text Highlight: Fixed when no parameters are defined</a> - Laurent Goderre, 2014-10-07 14:44:30 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/aff9a3f">[Site] Linked the Events page.</a> - Thomas Gohard, 2014-10-07 14:55:19 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/215b8e1">Fixed SauceLasb tests</a> - Laurent Goderre, 2014-10-07 15:08:35 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/43c8694">Fixed another issues with SauceLabs tests</a> - Laurent Goderre, 2014-10-07 16:03:34 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/3022a47">Demos: Added an option to add a class to the body tag. Implemented as done in GCWeb</a> - Laurent Goderre, 2014-10-07 16:09:14 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/55dac95">Bootlint: Initial Bootlint setup</a> - Nick Schonning, 2014-10-08 02:59:49 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/b08024d">Bootlint: Always set a type value for buttons</a> - Nick Schonning, 2014-10-08 02:59:49 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/7e394c9">Bootlint: Inline class are for label elements</a> - Nick Schonning, 2014-10-08 02:59:49 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/741a442">Build: Moved the travis commands to package.json</a> - Laurent Goderre, 2014-10-08 11:05:03 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/f184701">Share widget: Removed event handler that does nothing now that a Lightbox is used instead of an Overlay</a> - Paul Jackson, 2014-10-10 11:36:28 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/079e525">Multimedia: Fix issue with share and apostrophe in title</a> - Cynthia Richard, 2014-10-10 14:58:44 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/020aa33">Session Timeout: Fixed the plugin executing before being completly loaded As we implement the new plugin structure, this is something we will have to seriously revisit because our async is defficient.</a> - Laurent Goderre, 2014-10-14 14:47:07 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/bc3af46">Session Timeout: Fixed the async portions of the test</a> - Laurent Goderre, 2014-10-14 14:47:08 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/ac82717">Documentation: Added server configuration documentation</a> - Paul Jackson, 2014-10-15 11:19:13 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/02920fb">Build: Added ability to add images to documentation</a> - Laurent Goderre, 2014-10-15 13:04:40 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/5c3f82a">Date picker: Prevented closing of datepicker from closing a parent lightbox</a> - Paul Jackson, 2014-10-17 00:10:31 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/b26d0b6">Fix frequent and intermintent build errors during npm install See https://github.com/npm/npm/issues/6238 for more info</a> - Laurent Goderre, 2014-10-21 14:34:49 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/26b5dca">Converted the post build scripts to grunt/node Fixes #6135</a> - Laurent Goderre, 2014-10-21 16:50:39 -0400</li>
		</ul>
	</section>
</section>
