---
{
	"title": "v4.0 changelog",
	"language": "en",
	"description": "v4.0 changelog - Version history - Web Experience Toolkit (WET)",
	"altLangPrefix": "v4.0-changelog"
}
---
<p>See <a href="../version-info-en.html">Versioning</a> for the meaning of each version number.</p>

<section>
	<h2>v4.0.0 Beta 1</h2>
	<ul>
		<li><strong>Release date:</strong> 2013-12-16 (<a href="v4.0.0-b1-en.html">v4.0.0 Beta 1 release notes</a>)</li>
		<li><strong>Downloads</strong>
			<ul>
				<li><a href="https://github.com/wet-boew/wet-boew/archive/v4.0.0-b1.zip">Source code</a> (<strong>Repository:</strong> wet-boew, <strong>Git tag:</strong> v4.0.0-b1)</li>
				<li><a href="https://github.com/wet-boew/wet-boew/releases/download/v4.0.0-b1/wet-boew-dist-4.0.0-b1.zip">Production files</a> (<strong>Repository:</strong> wet-boew-dist, <strong>Git tag:</strong> v4.0.0-b1)</li>
			</ul>
		</li>
	</ul>

	<section>
		<h3>What's New</h3>
		<ul>
			<li>New plugin framework based upon JavaScript Event Programming (JEP)</li>
			<li>Major reduction in total page sizes, page load times and page paint times (approximately an 80% decrease)</li>
			<li>Replaced grid system with Twitter Bootstrap</li>
			<li>Ported most v3.1 plugins and polyfills and optimized for touchscreen mobile devices</li>
			<li>Replaced mobile popups with a mobile panel, reducing the number of buttons for mobile to one</li>
			<li>Increased font size and spacing between touch targets to better support touchscreen devices</li>
			<li>New plugins: Data AJAX, Data-Inview, Equal height, Overlay, Toggle and Twitter Embedded Timeline</li>
			<li>Removed dependency on jQuery Mobile</li>
			<li>Page no longer refreshes when transitioning between views</li>
			<li>Replaced custom Ant build system with a build system based on Node.js, Grunt.js, Bower, Assemble and other well-supported build components</li>
		</ul>
	</section>
</section>
