---
{
	"title": "v4.0.25 release notes",
	"language": "en",
	"description": "v4.0.25 release notes - Version history - Web Experience Toolkit (WET)",
	"altLangPrefix": "v4.0.25",
	"dateModified": "2017-05-17"
}
---
<ul>
	<li><strong>Release date:</strong> <time>2017-05-17</time></li>
	<li><a href="../dwnld-en.html#v4025">Downloads</a></li>
</ul>

<span class="wb-prettify all-pre"></span>

<section>
	<h2>What's New</h2>
	<ul>
		<li>Multimedia player: Revised second video demos to use TTML captions.</li>
		<li>Documentation: Updated several links in French version history page.</li>
		<li>Remove facebook from feeds</li>
		<li>Data Inview - Add fade in/out reverse transition</li>
		<li>Auto add close button to left and right modal footer (if footer dont exist add with close button)</li>
		<li>Base/Theme: Added a content area background colour variable.</li>
		<li>Convert pagination to a list</li>
		<li>Wb-disable - Add a notice to disabled mode</li>
		<li>Data-ajax: add cache busting feature</li>
		<li>Facebook plugin</li>
		<li>Data-ajax - Conditional loading based on HTTP referrer</li>
		<li>Data Ajax - Working example and docs for httpref config</li>
		<li>Add print to overlays</li>
		<li>Footnotes: Fully disabled plugin in wbdisable mode.</li>
		<li>Overlay Print - Only print the active dialog.</li>
		<li>Update twitter demo and documentation</li>
		<li>Add ability to remove borders in dl</li>
		<li>Calendar - Show today date or the closest on initialization</li>
		<li>CSS: Added lst-none class for removing only bullets from lists</li>
	</ul>
</section>

<section>
	<h2>Details</h2>
	<p><strong>Number of commits:</strong> 35</p>
	<ul>
		<li><a href="https://github.com/EricDunsworth">@EricDunsworth</a>: 10 commits</li>
		<li><a href="https://github.com/kodecount">@kodecount</a>: 10 commits</li>
		<li><a href="https://github.com/duboisp">@duboisp</a>: 8 commits</li>
		<li><a href="https://github.com/LaurentGoderre">@LaurentGoderre</a>: 8 commits</li>
		<li><a href="https://github.com/shawnthompson">@shawnthompson</a>: 7 commits</li>
		<li><a href="https://github.com/bsouster">@bsouster</a>: 2 commits</li>
		<li><a href="https://github.com/lucas-hay">@lucas-hay</a>: 1 commit</li>
		<li><a href="https://github.com/pjackson28">@pjackson28</a>: 1 commit</li>
	</ul>
	<section>
		<h3>List of commits</h3>
		<ul>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/f60a967">Text Highlight Bug #7063</a> - kodecount, 2016-11-07 13:16:44 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/a6d4e45">Carousel: Fixed various noscript, wb-disable and print CSS issues.</a> - Eric Dunsworth, 2016-12-19 15:16:52 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/b366096">Multimedia player: Removed orphaned WET 3.1 demo files.</a> - Eric Dunsworth, 2017-01-26 14:49:39 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/59c682c">Collapsible alerts: Fixed summary arrow issues in IE11/Edge.</a> - Eric Dunsworth, 2017-02-15 15:23:14 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/e3a0eb9">Multimedia player: Revised second video demos to use TTML captions.</a> - Eric Dunsworth, 2017-02-20 10:02:30 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/93e254a">Added the unit test for #7342</a> - Laurent Goderre, 2017-02-22 08:15:28 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/2308718">Fixed the date picker polyfill not using updated min and max dates in the DOM</a> - Laurent Goderre, 2017-02-22 10:28:50 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/51d5377">Updated the build version to v4.0.25-development</a> - lucas-hay, 2017-02-22 13:14:16 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/5459ecb">Documentation: Updated several links in French version history page.</a> - Eric Dunsworth, 2017-02-23 16:44:55 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/4d767c9">Correct typo in overlay documentation</a> - Leblanc2, Gilles (ASC CSA), 2017-03-02 15:18:09 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/7d69f6a">Remove facebook from feeds</a> - kodecount, 2017-03-06 13:30:03 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/183ff17">Tables - Syncing dependency</a> - Pierre Dubois, 2017-03-09 00:00:59 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/46d4018">Data Inview - Add fade in/out reverse transition</a> - Pierre Dubois, 2017-03-09 00:46:00 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/b9c37a9">remove aria attributes: posinset and setsize</a> - Shawn Thompson, 2017-03-13 16:10:41 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/df90bdd">move role=menuitem from summary to span in mobile menu</a> - Shawn Thompson, 2017-03-13 16:10:41 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/e34ec13">change header element to div in mobile menu</a> - Shawn Thompson, 2017-03-13 16:12:49 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/3cf0fc1">Fix print and background issues with tabs</a> - kodecount, 2017-03-23 12:38:32 -0300</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/b5a5f9c">Collapsible alerts: Horizontally re-aligned summary arrows/headings to be flush with content.</a> - Eric Dunsworth, 2017-03-23 16:51:06 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/761498a">Build: Upgrade assemble</a> - Laurent Goderre, 2017-03-30 10:21:17 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/8c2c66b">Edge Case (Removed)</a> - kodecount, 2017-03-31 19:17:55 -0300</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/5f00222">Form Validation Update</a> - kodecount, 2017-03-31 19:19:32 -0300</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/1b7637a">Auto add close button to left and right modal footer (if footer dont exist add with close button)</a> - kodecount, 2017-03-31 19:22:04 -0300</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/a2c4f78">require_from_group error placement update</a> - kodecount, 2017-03-31 19:48:44 -0300</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/df1db65">removed errors about Expected linebreaks. To allow different linebreaks, Windows vs. Unix.</a> - Shawn Thompson, 2017-04-04 14:05:29 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/3fbe548">Improved the consistency of the Grunt build with the themes</a> - Laurent Goderre, 2017-04-04 14:15:25 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/14d8f56">Improved consistency in the grunt file</a> - Laurent Goderre, 2017-04-04 14:27:02 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/5361061">add test for CRLF linebreaks only on Travis CI</a> - Shawn Thompson, 2017-04-04 14:40:36 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/794fcfd">Base/Theme: Added a content area background colour variable.</a> - Eric Dunsworth, 2017-04-04 16:49:09 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/3cf291c">Convert pagination to a list</a> - kodecount, 2017-04-06 11:29:48 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/eea5285">add environment condition check instead of eslint conf file</a> - Shawn Thompson, 2017-04-07 10:38:33 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/3d6a7d1">Build: Updated grunt-gh-pages to version ~2.0.0.</a> - Eric Dunsworth, 2017-04-07 15:34:29 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/af2c7c1">wb-disable - Add a notice to disabled mode</a> - Brad Souster, 2017-04-11 14:16:06 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/086ab2e">Update HTML Proofer and use without bundler</a> - Laurent Goderre, 2017-04-19 08:18:50 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/526a7bc">Added a docker build environemnt</a> - Laurent Goderre, 2017-04-20 10:39:59 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/b24cdf2">data-ajax: add cache busting feature</a> - Pierre Dubois, 2017-04-25 09:51:24 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/dba2710">Move Data JSON plugin to GCWeb theme</a> - Pierre Dubois, 2017-04-25 12:15:43 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/a42b4cd">Add session unique id generator</a> - Pierre Dubois, 2017-04-25 12:16:53 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/d2fb53a">Facebook plugin</a> - unknown, 2017-04-27 11:52:46 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/2a124ed">data-ajax - Conditional loading based on HTTP referrer</a> - Pierre Dubois, 2017-05-01 12:26:38 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/dcc3065">Theme index: Revised link text to end with page languages.</a> - Eric Dunsworth, 2017-05-03 09:59:13 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/15ba1f3">Data Ajax - Working example and docs for httpref config</a> - Brad Souster, 2017-05-04 09:25:08 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/51e92a0">Unbreak the code</a> - unknown, 2017-05-04 11:32:29 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/8034b5c">Add print to overlays</a> - kodecount, 2017-05-04 23:06:59 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/db24be6">Used netrc for CI auth</a> - Laurent Goderre, 2017-05-11 06:28:23 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/9fa926e">Footnotes: Fully disabled plugin in wbdisable mode.</a> - Eric Dunsworth, 2017-05-11 14:30:42 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/6be72fc">Overlay Print - Only print the active dialog. Alternate solution of PR 7803</a> - Pierre Dubois, 2017-05-11 22:50:12 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/00bb865">Update twitter demo and documentation</a> - kodecount, 2017-05-12 11:29:05 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/4a2f5d2">add ability to remove borders in dl</a> - Shawn Thompson, 2017-05-15 14:14:30 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/f041d41">Calendar - Show today date or the closest on initialization - Alternate solution of PR 7671</a> - Pierre Dubois, 2017-05-16 10:25:32 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/b473ecc">CSS: Added lst-none class for removing only bullets from lists (fixes #8001)</a> - Paul Jackson, 2017-05-17 10:27:42 -0400</li>
		</ul>
	</section>
</section>
