---
{
	"title": "v4.0.26 - Notes d'utilisation",
	"language": "fr",
	"description": "v4.0.26 - Notes d'utilisation - Historique des versions - Boîte à outils de l'expérience Web (BOEW)",
	"altLangPrefix": "v4.0.26",
	"dateModified": "2017-08-15"
}
---
<ul>
	<li><strong>Date de lancement&#160;:</strong> <time>2017-08-15</time></li>
	<li><a href="../dwnld-fr.html#v4026">Téléchargements</a></li>
</ul>

<section>
	<h2>Quoi de neuf?</h2>
	<div lang="en">
	<p><strong>Needs translation</strong></p>
	<ul>
		<li>Auto adds close button to footer (or footer+close button)</li>
		<li>Add link to GCWeb plugin working example</li>
		<li>CSS: Added col-*-auto classes to support floated columns in the grid.</li>
		<li>Menu: Replaced "data-ajax-fetch" with "data-ajax-replace".</li>
		<li>Equalheight - ease equalize on nested elements with eqht-trgt class</li>
		<li>Added a plugin to filter a list of elements</li>
		<li>Add link for the "do action" GCWeb theme plugin</li>
	</ul>
	</div>
</section>

<section>
	<h2>Détails</h2>
	<p><strong>Nombre des &#171;&#160;commits&#160;&#187;</strong> 34</p>
	<ul>
		<li><a href="https://github.com/duboisp">@duboisp</a>: 9 commits</li>
		<li><a href="https://github.com/LaurentGoderre">@LaurentGoderre</a>: 8 commits</li>
		<li><a href="https://github.com/EricDunsworth">@EricDunsworth</a>: 6 commits</li>
		<li><a href="https://github.com/RobJohnston">@RobJohnston</a>: 4 commits</li>
		<li><a href="https://github.com/thomasgohard">@thomasgohard</a>: 3 commits</li>
		<li><a href="https://github.com/MaximMartel">@MaximMartel</a>: 1 commit</li>
		<li><a href="https://github.com/kodecount">@kodecount</a>: 1 commit</li>
		<li><a href="https://github.com/lucas-hay">@lucas-hay</a>: 1 commit</li>
		<li><a href="https://github.com/sgdowney">@sgdowney</a>: 1 commit</li>
	</ul>
	<section>
		<h3>Liste des &#171;&#160;commits&#160;&#187;</h3>
		<ul lang="en">
			<li><a href="https://github.com/wet-boew/wet-boew/commit/94ca08b">Used pre-built docker hub image for building</a> - Laurent Goderre, 2017-05-17 14:40:09 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/acc0bb7">Updated the build version to v4.0.26-development</a> - lucas-hay, 2017-05-17 15:45:11 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/b79a3d7">Switched to a docker CI build</a> - Laurent Goderre, 2017-05-18 10:48:37 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/6c65bbf">Auto adds close button to footer (or footer+close button)</a> - kodecount, 2017-05-18 15:03:34 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/586c66c">Calendar of events - Add unit testing</a> - Pierre Dubois, 2017-05-24 10:16:24 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/985c330">Add link to GCWeb plugin working example</a> - Pierre Dubois, 2017-05-24 10:22:15 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/21d5571">Fixed the CI docker build by passing the travis variables to docker</a> - Laurent Goderre, 2017-05-26 12:29:03 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/19ab7b1">Fixed the docker env var</a> - Laurent Goderre, 2017-05-26 13:02:09 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/20c7f1b">Another fix for docker env var</a> - Laurent Goderre, 2017-05-26 15:37:57 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/ceb5ad0">Carousel: Prevented carousel style 2's controls from overflowing on top of panels in small views.</a> - Eric Dunsworth, 2017-05-30 12:47:30 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/e8b20f7">CSS: Added col-*-auto classes to support floated columns in the grid.</a> - thomasgohard, 2017-05-30 15:59:05 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/bb65fe3">Update link to prettify plugin.</a> - Rob Johnston, 2017-06-07 15:05:45 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/9cd1b90">Data Ajax: Fixed typos in documentation.</a> - Eric Dunsworth, 2017-06-07 16:41:25 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/e03462a">Update French translation to match English.</a> - Rob Johnston, 2017-06-08 11:12:00 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/4166c0b">Change spaces to tab.</a> - Rob Johnston, 2017-06-08 11:58:01 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/1031967">Change from UTF-8 to UTF-8 without BOM.</a> - Rob Johnston, 2017-06-08 13:58:56 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/9b71f12">Menu: Replaced "data-ajax-fetch" with "data-ajax-replace".</a> - Eric Dunsworth, 2017-06-12 10:28:01 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/a51f3f4">Search: Fixed layout issues with minified HTML.</a> - Eric Dunsworth, 2017-06-20 10:55:59 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/5236c33">Data Ajax - Bug fix for # 8058</a> - Pierre Dubois, 2017-06-20 22:27:19 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/f57ba5a">Travis - Use previous image</a> - Pierre Dubois, 2017-06-22 13:44:47 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/8e6af1f">Equalheight - ease equalize on nested elements with eqht-trgt class</a> - Pierre Dubois, 2017-07-04 07:59:58 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/863b620">CSS: Made fixes to the col-auto CSS.</a> - thomasgohard, 2017-07-04 12:46:25 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/dfdbf78">CSS: Remove bootstrap override for pull-right/-left on column classes.</a> - thomasgohard, 2017-07-04 12:46:50 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/1dc786b">Menu: Removed space character prefixes from summary elements in small view.</a> - Eric Dunsworth, 2017-07-05 13:36:55 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/d407f8e">Move modal-footer definition to lightbox css.</a> - sgdowney, 2017-07-14 09:43:19 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/396e6d4">Fix dependency loading with readiness issue</a> - Pierre Dubois, 2017-07-17 09:57:19 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/63b8ec5">Added a plugin to filter a list of elements</a> - Laurent Goderre, 2017-07-24 22:45:10 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/df36bb3">Added the filter demos</a> - Laurent Goderre, 2017-07-24 22:45:10 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/5d7548d">Filter: Added support for IE</a> - Laurent Goderre, 2017-07-24 22:45:10 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/8fdc629">Filter - Improved plugin build-in feature and completed i18n, demos and docs</a> - Pierre Dubois, 2017-07-25 12:45:30 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/dc6b2af">Add link for the "do action" GCWeb theme plugin</a> - Pierre Dubois, 2017-08-04 00:14:11 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/1857751">Core: Ensure getUrlParts() always returns slash-prefixed pathnames.</a> - Eric Dunsworth, 2017-08-11 10:00:21 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/00fb517">Updated the documentation</a> - Maxim, 2017-08-11 14:04:40 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/97029d1">fix background-color for menu overlay close button</a> - Pierre Dubois, 2017-08-14 10:27:17 -0400</li>
		</ul>
	</section>
</section>
