---
{
	"title": "v4.0.35 - release notes",
	"language": "en",
	"description": "v4.0.35 - release notes - Version history - Web Experience Toolkit (WET)",
	"altLangPrefix": "v4.0.35",
	"dateModified": "2020-04-16"
}
---
<p>Version 4.0.35 (STR)</p>
<ul>
	<li><strong>Launching date:</strong>
		<time>2020-04-16</time>
	</li>
	<li><a href="../dwnld-archive-en.html#v4035">Downloads</a></li>
</ul>
<div class="wb-prettify all-pre"></div>
<section>
	<h2>What’s new?</h2>
	<ul>
		<li>Core
			<ul>
				<li>Minor - Add helper function (<code>wb.shuffleDOM</code>)</li>
				<li>Minor - Add helper function (<code>wb.pickElements</code>)</li>
			</ul>
		</li>
		<li><a href="https://wet-boew.github.io/wet-boew/docs/ref/provisional-en.html">Provisional</a>
			<ul>
				<li>Add - Steps forms plugin (<code>wb-steps</code>)</li>
				<li>Add - Randomize plugin (<code>wb-randomize</code>)</li>
				<li>Add - Postback form plugin (<code>wb-postback</code>)</li>
			</ul>
		</li>
	</ul>
	<section>
		<h3 id="implementation">Modified files for implementation</h3>
		<ul>
			<li>Main JavaScript:
				<ul>
					<li>wet-boew/js/wet-boew.js</li>
					<li>wet-boew/js/wet-boew.min.js</li>
				</ul>
			</li>
			<li>Main CSS:
				<ul>
					<li>theme-wet-boew/css/theme.css</li>
					<li>theme-wet-boew/css/theme.min.css</li>
				</ul>
			</li>
		</ul>
	</section>
	<section>
		<h3>Browser supported</h3>
		<p>As per the rule defined by <a href="https://wet-boew.github.io/wet-boew-documentation/decision/2.html">Design decision 2: Browser supported</a></p>
		<ul>
			<li>Chrome 80</li>
			<li>Chrome 79</li>
			<li>Safari 13.0.5</li>
			<li>Firefox 72.0.2</li>
			<li>Firefox 71.0</li>
			<li>Firefox ESR - 68.6.0</li>
			<li>IE 11</li>
			<li>Edge 80.0.361.66</li>
		</ul>
	</section>
</section>
<section>
	<h2>Details</h2>
	<p><strong>Number of commits:</strong> 8</p>
	<ul>
		<li><a href="https://github.com/namjohn920">John Nam (@namjohn920)</a>:3 commits</li>
		<li><a href="https://github.com/GormFrank">Francis Gorman (@GormFrank)</a>: 3 commits</li>
		<li><a href="https://github.com/duboisp">Pierre Dubois (@duboisp)</a>: 1 commit</li>
		<li><a href="https://github.com/thekodester">Kody (@thekodester)</a>:1 commit</li>
	</ul>
	<section>
		<h3>List of commits</h3>
		<ul>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/9b51beff64ecc1bca1ad512f6848781b10e87e96">Plugin stepsform (wb-steps) - Initial commit</a> - TheKodester, 2017-02-02</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/0568c08b09ea50c6b97a122313ee9dd5d13b7764">Steps form: Automatically converts a form into steps</a> - GormFrank, 2019-04-05</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/c372cf7f4131e4391e95ed8b05ae3fd4fe69024a">Steps Form French Translations</a> - GormFrank, 2019-04-05</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/22f2cb50afe4528e24483c6b2d6a28fc4211a6a5">Steps Form - Fixing requested changes</a> - namjohn920, 2020-01-20</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/df384a6648e53d18d2f97204d2c0d012f8a32c8c">Randomize plugin - Initial commit</a> - namjohn920, 2020-02-05</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/a828913b9c0aeae774d089c25c32429227e8ec63">Randomize plugin - Polishing code and example</a> - duboisp, 2020-04-16</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/3c8becc57a8d8f8c56711fc0a9899811da252fb0">Form Postback - Initial commit</a> - namjohn920, 2020-02-21</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/246b174cabc8e467522ddfb5f6940b2d7495e6ab">Form Postback - Polishing code and example</a> - GormFrank, 2020-04-16</li>
		</ul>
	</section>
</section>
<section>
	<h2 id="sri">Subresource integrity (SRI)</h2>
	<p><a href="https://www.w3.org/TR/SRI/">SRI</a> provide a method to protect website delivery. The following information are the hash for key resource in WET and GCWeb.</p>
	<section>
		<h3>v4.0.35</h3>
		<dl>
			<dt><code>wet-boew/js/wet-boew.min.js</code></dt>
			<dd>sha256-OHUGZ/GPnNzTfAPDBoyyexjdEJL86m4KI7pihqyfEVk= sha512-uThJ8LYwYXd2TzQZ+YOoJiCB66lTjomBIE81t1FG4lvZrNIZbsrXJKcxzOmTGvbxRjKvtyBmY6bqCQnOwPsOJA==</dd>
		</dl>
		<p>Get all hash (JSON format):</p>
		<ul>
			<li><a href="https://github.com/wet-boew/wet-boew-dist/blob/v4.0.35/wet-boew/payload.json">WET-BOEW</a></li>
			<li><a href="https://github.com/wet-boew/wet-boew-dist/blob/v4.0.35/theme-wet-boew/payload.json">WET-BOEW theme</a></li>
		</ul>
	</section>
</section>
