---
{
	"title": "v4.0.18 release notes",
	"language": "en",
	"description": "v4.0.18 release notes - Version history - Web Experience Toolkit (WET)",
	"altLangPrefix": "v4.0.18",
	"dateModified": "2015-09-22"
}
---
<ul>
	<li><strong>Release date:</strong> <time>2015-09-22</time></li>
	<li><a href="../dwnld-en.html#v4018">Downloads</a></li>
</ul>

<span class="wb-prettify all-pre"></span>

<section>
	<h2>What's New</h2>
	<ul>
		<li><strong>Multimedia:</strong> Fixed the play overlay not disappearing when playing</li>
		<li><strong>Site:</strong> Fixed the mobmenu ajax files</li>
		<li><strong>Tabbed interface/Toggle:</strong> Fixed inadvertent triggering of nested polyfilled details</li>
		<li>Fixed the folder for offline jQuery</li>
		<li>Fixed the glyphicons font in IE8 for the old resources structure</li>
	</ul>
</section>

<section>
	<h2>Details</h2>
	<p><strong>Number of commits:</strong> 17</p>
	<ul>
		<li><a href="https://github.com/LaurentGoderre">@LaurentGoderre</a>: 11 commits</li>
		<li><a href="https://github.com/MaximMartel">@MaximMartel</a>: 3 commits</li>
		<li><a href="https://github.com/andre-gh">@andre-gh</a>: 1 commit</li>
		<li><a href="https://github.com/jvanulde">@jvanulde</a>: 1 commit</li>
		<li><a href="https://github.com/pjackson">@pjackson</a>: 1 commit</li>
		<li><a href="https://github.com/ryanhyma">@ryanhyma</a>: 1 commit</li>
		<li><a href="https://github.com/sgdowney">@sgdowney</a>: 1 commit</li>
	</ul>
	<section>
		<h3>List of commits</h3>
		<ul>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/3d1e511">Geomap: addresses #6751</a> - Joost van Ulden, 2015-07-30 13:34:00 -0700</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/69fd1c0">Build: Include jQuery for offline/internal sites or application</a> - Laurent Goderre, 2015-08-18 14:55:18 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/45d8129">Site: Moved the sections heading inside their include files</a> - Laurent Goderre, 2015-08-18 16:12:52 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/66360cf">Moved the skip links to their own include</a> - Laurent Goderre, 2015-08-18 16:12:53 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/8d459a4">Site: Moved the header file to it's own include</a> - Laurent Goderre, 2015-08-18 16:12:53 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/e776f13">Site: extracted the breadcrumb, footer and sitemenu content to their own include</a> - Laurent Goderre, 2015-08-18 16:12:53 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/f682eb1">Site: Move the language links to a seperate include</a> - Laurent Goderre, 2015-08-18 16:12:53 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/dc8ed12">Site: Fixed the mobmenu ajax files</a> - Laurent Goderre, 2015-08-19 14:00:40 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/098110c">Site: Moved the menu replace logic to it's own include</a> - Laurent Goderre, 2015-08-19 14:00:48 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/d6390d2">Allow internal JSONP call through data-ajax</a> - Ryan Hyma, 2015-08-19 14:31:41 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/f397c7a">Multimedia: Fixed the play overlay not disappearing when playing</a> - Laurent Goderre, 2015-08-20 13:12:10 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/b98be19">Updated the build version to v4.0.18-development</a> - Andre D, 2015-08-21 15:51:30 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/2672789">Update WET version 4.0.17 themes production files downloads</a> - Maxim Martel, 2015-08-25 11:03:44 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/328dfe0">Update datemodified and fix URL encoding</a> - Maxim Martel, 2015-08-25 13:43:22 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/7ef5bba">Updated Source Code link to point to +1</a> - Maxim Martel, 2015-08-25 14:16:31 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/1e839a1">Update session-timeout.js to enable refreshOnClick</a> - Stewart Downey, 2015-08-26 09:50:43 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/fbe2c4a">Tabbed interface/Toggle: Fixed inadvertent triggering of nested polyfilled details</a> - Paul Jackson, 2015-09-01 11:44:43 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/167d7d0">Fixed the folder for offline jQuery</a> - Laurent Goderre, 2015-09-08 17:48:08 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/ef42eb0">Fixed the glyphicons font in IE8 for the old resources structure</a> - Laurent Goderre, 2015-09-18 09:53:01 -0400</li>
		</ul>
	</section>
</section>
