---
{
	"title": "v4.0.0 Beta 2 release notes",
	"language": "en",
	"description": "v4.0.0 Beta 2 release notes - Version history - Web Experience Toolkit (WET)",
	"altLangPrefix": "v4.0.0-b2",
	"dateModified": "2014-03-01"
}
---
<ul>
	<li><strong>Release date:</strong> <time>2014-03-01</time></li>
	<li><a href="../dwnld-en.html#v400b2">Downloads</a></li>
</ul>

<section>
	<h2>What's New</h2>
	<ul>
		<li><strong>Breaking change:</strong> Feedback form JS and CSS are no longer included in the core files. The separate JS and CSS files need to be included in the page for the feedback form to work.</li>
		<li>Menu: Restructured the menus in the mobile panel, switching from a single WAI-ARIA accordion to multiple WAI-ARIA menus.</li>
		<li>Tabbed interface carousel: Corrected overlapping and clipping issues on small-screen smartphones.</li>
		<li>Secondary menu: Corrected structural issues and a disabled a non-functional link.</li>
		<li>Touchscreen: Corrected several touch-related issues with the menu bar, the mobile panel, accordions and details/summary.</li>
		<li>Localstorage: Prevented JS errors when localStorage becomes unavailable when the browser is in private mode.</li>
		<li>Overlay: Prevented the top overlay from overlapping content that gain focus (e.g., clicking a same-page link).</li>
		<li>Charts: Ported Charts plugin from WET v3.1.</li>
		<li>Themes: Ported the GC Web Usability, GC Intranet, Base and OGPL themes from WET v3.1.</li>
		<li>Share widget: Added the ability to share multiple different types of content on the same page.</li>
		<li>Web Accessibility Assessment Methodology: Ported the Web Accessibility Assessment Methodology from WET v3.1.</li>
		<li>RTL: Fixed numerous RTL issues with various plugins and themes</li>
	</ul>
</section>

<section>
	<h2>Details</h2>
	<p><strong>Number of commits:</strong> 457</p>
	<ul>
		<li><a href="https://github.com/pjackson28">@pjackson28</a>: 303 commits</li>
		<li><a href="https://github.com/patheard">@patheard</a>: 44 commits</li>
		<li><a href="https://github.com/nschonni">@nschonni</a>: 40 commits</li>
		<li><a href="https://github.com/LaurentGoderre">@LaurentGoderre</a>: 30 commits</li>
		<li><a href="https://github.com/thomasgohard">@thomasgohard</a>: 24 commits</li>
		<li><a href="https://github.com/EricDunsworth">@EricDunsworth</a>: 8 commits</li>
		<li><a href="https://github.com/duboisp">@duboisp</a>: 4 commits</li>
		<li><a href="https://github.com/masterbee">@masterbee</a>: 2 commits</li>
		<li><a href="https://github.com/jeresiv">@jeresiv</a>: 1 commit</li>
		<li><a href="https://github.com/shawnthompson">@shawnthompson</a>: 1 commit</li>
	</ul>
	<section>
		<h3>List of commits</h3>
		<ul>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/6b31ea6">Multimedia: Fix the rewind in Webkit browsers</a> - Laurent Goderre, 2013-12-16 10:52:51 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/98580fa">Multimedia: Fixed the progressbar in polyfill mode</a> - Laurent Goderre, 2013-12-16 11:52:45 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/69e78e0">Updated build version to v4.0.0-b2-development</a> - Paul Jackson, 2013-12-16 12:45:13 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/ce88a3c">Normalised the shortened form for extra large to 'xl'.</a> - Thomas Gohard, 2013-12-16 13:32:36 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/014ba7e">Corrected release year of v4.0.0-b1</a> - Paul Jackson, 2013-12-16 13:36:37 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/02ccab5">Added v4.0 changelog link</a> - Paul Jackson, 2013-12-16 14:56:24 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/c0bb03a">Limit the number of concurrent html compression process</a> - Laurent Goderre, 2013-12-16 14:57:02 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/43b3c8e">Multimedia: Implemented the "start at" functionality</a> - Laurent Goderre, 2013-12-16 15:47:13 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/8886640">Reverted HTMLCompressor version bump</a> - Paul Jackson, 2013-12-16 16:27:55 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/cb36f3c">Rewrote the positioning CSS to allow specifying the screen size(s) when it is applicable.</a> - Thomas Gohard, 2013-12-16 17:15:39 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/27ee449">Footnotes: Added margin-top to H2 in SCSS.</a> - Eric Dunsworth, 2013-12-17 00:49:10 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/1481b02">WET theme: Fixed broken license links in splash page HBS files.</a> - Eric Dunsworth, 2013-12-17 01:00:00 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/79d4aad">Data-inview / Overlay: Shortened link and button labels in working examples and renamed data-inview files so not specific to bars</a> - Paul Jackson, 2013-12-17 09:34:24 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/d8bebe2">data-inview: unit tests added</a> - Pat Heard, 2013-12-17 13:50:37 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/525b7a1">data-inview: updated working examples</a> - Pat Heard, 2013-12-17 13:51:35 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/59fb58e">[CSS] Updated the position CSS to work like the grid CSS.</a> - Thomas Gohard, 2013-12-17 15:30:50 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/48bde6b">Tabs / Toggle: Added aria-posinset and aria-setsize to help screen readers to properly convey the structure</a> - Paul Jackson, 2013-12-17 22:10:03 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/6395e17">Overlay: Fixed bugs with tab key handling within overlay</a> - Paul Jackson, 2013-12-17 23:24:35 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/ee4a572">Menu: Converted mobile panel menu to multiple WAI-ARIA menus</a> - Paul Jackson, 2013-12-18 14:39:05 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/4d889cd">Menu: Added minimum widths for the mobile panel (fixes #4116)</a> - Paul Jackson, 2013-12-18 15:19:01 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/94a1d4f">Changed tables search label to filter</a> - Jeremy S, 2013-12-18 15:41:59 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/47b38d2">Toggle: fixes #4131 working example accordion markup</a> - Pat Heard, 2013-12-19 08:14:05 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/c99bf92">Fixed typo in Schema.org URL</a> - Paul Jackson, 2013-12-19 10:10:40 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/014246b">Multimedia: Converted the youtube player to the HTML5 version</a> - Laurent Goderre, 2013-12-19 10:24:33 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/8f411bb">Details: fix open/close on devices with touch events</a> - Pat Heard, 2013-12-19 13:24:15 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/c76c37c">Overlay: Added top/right margins around hidden header's close button in SCSS. Fixes gh-4130.</a> - Eric Dunsworth, 2013-12-19 15:18:04 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/b04fc5d">Site: Add custom 404 page</a> - Nick Schonning, 2013-12-19 16:05:03 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/66691ba">Datepicker: Added extra checks and renamed an event to prevent the JS errors (partially fixes #4135)</a> - Paul Jackson, 2013-12-19 16:15:46 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/9828df9">WET theme: Moved WET logo to the top bar in small view and under (fixes #4133)</a> - Paul Jackson, 2013-12-20 09:53:05 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/5bea39c">Menu: Fixed jumpiness when menu bar is clicked with a mouse</a> - Paul Jackson, 2013-12-20 10:14:46 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/d535220">Menu: Made mobile panel menus behave like accordions (only one menu item open at a time per menu)</a> - Paul Jackson, 2013-12-20 14:02:20 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/5bf9618">WET theme: Fixed positioning of WET logo in small view and below</a> - Paul Jackson, 2013-12-20 14:20:21 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/8054a01">Fixed noscript/wb-disable handling for plugins and polyfills</a> - Paul Jackson, 2013-12-20 14:59:05 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/80ca01b">Multimedia: Applied #4140 to v4.0</a> - Laurent Goderre, 2013-12-20 15:12:46 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/e3a4142">Removed jQuery Mobile references</a> - Paul Jackson, 2013-12-20 15:14:50 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/c4b20bd">Equalheight: add unit tests</a> - Pat Heard, 2013-12-20 15:17:19 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/7a7d885">Equalheight: visual update to working examples</a> - Pat Heard, 2013-12-20 15:17:24 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/61b2199">Equalheight: minor performance tweaks</a> - Pat Heard, 2013-12-20 15:17:29 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/7378533">[CSS] Corrections to the positioning CSS to fully match the way the grid CSS works and to include all WET breakpoints.</a> - Thomas Gohard, 2013-12-20 15:37:52 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/dc09e94">Lightbox / Overlay: Fixed border radius issue in iPad (fixes #4028)</a> - Paul Jackson, 2013-12-20 16:09:26 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/630214d">Menu: Ensured that mobile panel menu remains in view when opened</a> - Paul Jackson, 2013-12-20 23:17:28 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/becd8a2">Tabs Carousel: Fixed overlapping issue in style 2 (fixes #4132)</a> - Paul Jackson, 2013-12-21 01:40:01 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/c6adcc3">Tabs Carousel: Hiding tabs and moving rest of controls above image for carousel style 1 in small view and below (fixes #4132)</a> - Paul Jackson, 2013-12-21 02:23:53 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/9331031">Overlay: Fixed issue where top bar overlay overlapped same page link targets (fixes #4119)</a> - Paul Jackson, 2013-12-22 00:12:05 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/431b8f3">LocalStorage/sessionStorage: Added try/catch blocks around localStorage and sessionStorage setItem calls to address BlackBerry 10 issue (related to #4110)</a> - Paul Jackson, 2013-12-22 01:06:25 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/25a4869">Focus/Overlay: Fixed handling for top bar overlay overlapping the target of a same page link</a> - Paul Jackson, 2013-12-22 02:03:09 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/b4b1b8d">Fix a Youtube player JS error that getDuration is not a function</a> - Laurent Goderre, 2013-12-23 10:07:34 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/8fdbdea">Unit tests: start tests with plugin wb-init event</a> - Pat Heard, 2013-12-23 10:29:24 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/db61c04">WET theme: Made small view logo clickable</a> - Paul Jackson, 2013-12-23 14:26:50 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/2db985b">Data-inview: Made plugin init more direct by removing the intermediary event trigger</a> - Paul Jackson, 2013-12-23 14:29:37 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/85f0bc4">Toggle: add onbeforeprint behaviour</a> - Pat Heard, 2013-12-23 15:37:10 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/9feb882">Toggle: add unit tests for onbeforeprint</a> - Pat Heard, 2013-12-23 15:37:16 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/c3456c3">[Equal height] Made the code that looks at the CSS case insensitive and modified the regular expressions to deal with the fact that IE8 rewrites the CSS attributes.</a> - Thomas Gohard, 2013-12-23 16:25:52 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/043b41b">WET theme: Ensured that the active area for the menu button in small view is 50% of the header width (fixes #4181)</a> - Paul Jackson, 2013-12-24 02:24:55 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/a067e42">Demos: Remove prettify load from demo table</a> - Nick Schonning, 2013-12-26 16:06:21 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/40921a6">MathML: Inline polyfill loader</a> - Nick Schonning, 2013-12-26 16:52:16 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/9940670">Multimedia: Inline "tmpl" from helpers</a> - Nick Schonning, 2013-12-26 17:11:29 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/6b428fe">Forms: Added Bootstrap CSS to the submit and reset buttons (fixes #4135)</a> - Paul Jackson, 2013-12-27 09:58:46 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/97cddf5">Build: Serve 404 page with connect</a> - Nick Schonning, 2013-12-30 02:15:36 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/a2e8c3b">[CSS] Remove the position CSS for the xxs and xl breakpoints.</a> - Thomas Gohard, 2013-12-30 11:39:45 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/007b183">Menu: Enabled menu items wrapping to the next line when there is insufficient space</a> - Paul Jackson, 2013-12-30 15:34:01 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/41b6a03">Build: Bump gh-pages dependency to 0.9.0</a> - Nick Schonning, 2013-12-30 21:48:29 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/dffb50b">Build: Add target to deploy to your own gh-pages</a> - Nick Schonning, 2013-12-30 21:53:33 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/ef8ee06">404 Page: Use envronment.root for assets</a> - Nick Schonning, 2013-12-30 23:04:10 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/7dd1b11">Build: Rewrite "/v4.0-ci/" request</a> - Nick Schonning, 2013-12-30 23:05:07 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/163a3e1">License: Bump year to 2014</a> - Nick Schonning, 2014-01-01 13:21:21 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/e47c3aa">[CSS] Updated column CSS to match the behaviour of the position CSS.</a> - Thomas Gohard, 2014-01-02 10:06:29 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/1e71e89">Date picker polyfill: Fixed closing on previous menu click (fixes #3869)</a> - Paul Jackson, 2014-01-02 10:44:09 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/ba228d8">Date picker polyfill: Removed duplicate next/previous month event handler and fixed post event focus issue</a> - Paul Jackson, 2014-01-02 13:43:18 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/c4892a7">Menu bar: Fixed gap to right of current link (fixes #4220)</a> - Paul Jackson, 2014-01-06 10:29:44 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/3cd7c59">Limit the number of concurrent HTML compression processes</a> - Laurent Goderre, 2014-01-06 11:28:01 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/20307c0">Menu bar: Corrected menu bar link underlining defaults</a> - Paul Jackson, 2014-01-06 11:42:49 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/89132dc">Build: Add check dependency plug-in</a> - Nick Schonning, 2014-01-06 19:24:22 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/bcc3327">[Country content] Applied the button CSS to the country content working examples.</a> - Thomas Gohard, 2014-01-07 10:37:16 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/ef2fd6e">Menu panel: Ensures menu panel sub-menu is open on load when assigned wb-navcurr class (fixes #4230)</a> - Paul Jackson, 2014-01-07 11:30:48 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/65c64bc">Menu panel: Fixed force opening of wb-navcurr sub-menu in Chrome (fixes #4230)</a> - Paul Jackson, 2014-01-07 11:52:01 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/cccb637">Toggle: add toggle state persistence</a> - Pat Heard, 2014-01-08 11:35:05 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/75930db">Toggle: add persist docs and example</a> - Pat Heard, 2014-01-08 11:35:06 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/09d958d">Test: add toggle persist unit tests</a> - Pat Heard, 2014-01-08 11:35:08 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/716587f">Documentation: Pointed contributor guideline and version history links to the new HTML versions</a> - Paul Jackson, 2014-01-09 01:44:51 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/4364ac4">[CSS] Disable pull-right/left on grid-specific columns when the current breakpoint doesn't match.</a> - Thomas Gohard, 2014-01-09 10:00:34 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/12c5869">[Build] Modified CSSLint options to allow regex selectors.</a> - Thomas Gohard, 2014-01-09 10:00:45 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/ae32119">Removed unused hard-coded test code</a> - Laurent Goderre, 2014-01-09 12:36:48 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/c3dfda5">Removed unused test folder</a> - Laurent Goderre, 2014-01-09 12:49:58 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/12a0e46">Documentation: Updated the downloads and versioning links</a> - Paul Jackson, 2014-01-09 13:24:31 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/1acc0a7">Documentation: Updated the roadmap links</a> - Paul Jackson, 2014-01-09 15:01:24 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/d6a54c3">Documentation: Updated link targets from wiki to HTML pages</a> - Paul Jackson, 2014-01-10 00:31:08 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/22eae61">Datalist polyfill: Added missing accent to Montreal in French working example</a> - Paul Jackson, 2014-01-10 11:06:40 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/147dee0">Menu: Fixed JS error in IE8 when clicking menu panel button a second time before the menu panel opens</a> - Paul Jackson, 2014-01-10 15:46:18 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/8a083b7">WET theme: Fixed hiding of language selection links in example pages (fixes #4268)</a> - Paul Jackson, 2014-01-10 15:52:05 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/0673de9">Menu: Fixed displaying of mobile panel in IE8</a> - Paul Jackson, 2014-01-12 00:42:18 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/37c6c7b">WET theme: Switched site search to using Google Web search</a> - Paul Jackson, 2014-01-12 02:21:34 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/bd91019">Test: add unit tests for Feedback plugin</a> - Pat Heard, 2014-01-13 11:43:27 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/887a741">Feedback: replace show/hide animation with CSS class swap</a> - Pat Heard, 2014-01-13 11:43:32 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/b6dfdce">WET theme: Tweaked site parameter to improve search results</a> - Paul Jackson, 2014-01-13 15:22:15 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/c198262">Tabs: Fixed handling of links between tab panels</a> - Paul Jackson, 2014-01-14 13:42:40 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/9147f93">Changed the language toggle handling</a> - Laurent Goderre, 2014-01-14 14:09:46 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/526af5d">SVG Polyfill: Keep the object ID if present</a> - Laurent Goderre, 2014-01-14 16:07:42 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/0c4bbe4">Switched canada.gc.ca references to canada.ca</a> - Paul Jackson, 2014-01-14 23:28:46 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/1594463">WET theme: Added missing closing language link tag (fixes #4229)</a> - Paul Jackson, 2014-01-15 00:43:30 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/06dccfa">Added the i18n ISO-639-2 code for links to site still using it</a> - Laurent Goderre, 2014-01-15 15:05:08 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/187c0ef">Web Accessibility Assessment Methodology: Rough port from v3.1. Works correctly but there currently is no visual design.</a> - Paul Jackson, 2014-01-15 15:35:59 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/8109f3b">WET theme: Moved to themestyle directory to align with v3.1 groupings</a> - Paul Jackson, 2014-01-15 16:17:55 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/8adfbaf">Improvements to French translation of data tables.</a> - Thomas Gohard, 2014-01-15 21:14:49 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/d3dffa9">Feedback: fix reset button click behaviour</a> - Pat Heard, 2014-01-16 07:28:51 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/2de3623">Feedback: add space between buttons and form</a> - Pat Heard, 2014-01-16 10:15:00 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/f7f0d2f">WAM: visual tweak style of pages</a> - Pat Heard, 2014-01-16 13:43:43 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/f3e90b9">Improved the handling of theme pages</a> - Laurent Goderre, 2014-01-16 15:13:17 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/8a1c65d">Menu: Increased z-index of open sub-menus from 100 to 500 (fixes #4315)</a> - Paul Jackson, 2014-01-16 15:38:34 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/ab36910">Fixed the links to the GCWU theme</a> - Laurent Goderre, 2014-01-16 15:56:08 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/508bb57">Share widget: Added ability to share different items on the page and to configure what is shared</a> - Paul Jackson, 2014-01-17 15:02:47 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/ada9899">Web Accessibility Assessment Methodology: Cleaned up appearance according to suggestions in #4314</a> - Paul Jackson, 2014-01-20 12:51:47 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/0a880b7">Tables: Prevented IE10+ from displaying x button on filter field (fixes #4340)</a> - Paul Jackson, 2014-01-20 13:23:58 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/41830a6">Menu: Fixed JS error when AJAXed-in menu is prevented from loading due to security restrictions</a> - Paul Jackson, 2014-01-20 13:34:50 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/ca5ab21">Tables: Shortened filter field fix for IE10+ (improves fix for #4340)</a> - Paul Jackson, 2014-01-20 14:20:10 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/a8640ae">Added communications material link</a> - Paul Jackson, 2014-01-22 03:24:01 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/f919d23">[GIT] Added Eclipse '.settings' ignore</a> - Mario Bonito, 2014-01-22 16:17:53 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/37f6ab8">Accessibility Responsiblity Breakdown: Added missing CSS that visually hides the ordered list numbers (fixes #4410)</a> - Paul Jackson, 2014-01-25 22:19:44 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/6751478">Lightbox: Moved demo CSS to list-inline (fixes #4412)</a> - Paul Jackson, 2014-01-27 17:17:02 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/13434cf">Added link to the GCWU Intranet theme on the working examples page</a> - Paul Jackson, 2014-01-28 14:28:11 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/26e72d5">Added link to the Canada.ca theme on the working examples page</a> - Paul Jackson, 2014-01-28 14:58:53 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/92650ea">RTL: Fixed issues with the WET theme breadcrumb and DataTables</a> - Paul Jackson, 2014-01-28 15:27:02 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/4a2759c">Build Script: WET standalone dependency enabled from "deps" folder</a> - Pierre Dubois, 2014-01-29 00:51:46 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/e5d94ae">Charts - Migration to v4.0</a> - Pierre Dubois, 2014-01-29 03:59:47 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/e04128e">Charts and graphs: Cleaned up the markup in the working examples</a> - Paul Jackson, 2014-01-29 14:18:32 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/8f2972d">Country Content: add unit tests</a> - Pat Heard, 2014-01-29 14:26:33 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/c520703">Country Content: add country code CSS class</a> - Pat Heard, 2014-01-29 14:26:38 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/36ae7e9">Fixed the submenu width being limited to it's parent width</a> - Laurent Goderre, 2014-01-29 14:42:55 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/383512c">Charts and graphs: Initial cleanup up of the JavaScript code</a> - Paul Jackson, 2014-01-29 16:37:07 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/391a794">Country content: remove geo IP lookup call from unit tests</a> - Pat Heard, 2014-01-30 11:04:24 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/fe898e2">Feeds: remove finalize function</a> - Pat Heard, 2014-01-30 11:35:37 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/7dd28d6">Feeds: remove CSS from french example (included in feeds.scss)</a> - Pat Heard, 2014-01-30 11:44:40 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/08bd46a">Share: Fixed validation errors</a> - Paul Jackson, 2014-01-30 12:54:32 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/15d6cf9">Updated jQuery CDN reference to v2.1.0 and v1.11.0</a> - Paul Jackson, 2014-01-30 14:53:46 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/0b632ab">GC Web Usability and Intranet themes: Updated working examples references</a> - Paul Jackson, 2014-01-30 15:42:20 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/e1fc2b0">Feeds: optimized var assignment</a> - Pat Heard, 2014-02-03 09:52:30 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/3592d09">Feeds: add unit tests</a> - Pat Heard, 2014-02-03 09:52:44 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/a6e0c56">Updated the Canada.ca working examples link</a> - Laurent Goderre, 2014-02-03 11:08:02 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/9bb9bb4">data-ajax: remove working example dependency from unit tests</a> - Pat Heard, 2014-02-03 11:16:29 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/2409088">Fixed grunt-contrib-imagemin install on Windows.</a> - Laurent Goderre, 2014-02-03 15:34:32 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/1f98b50">Tabs: Fixed incorrect display of summary element in IE8 (fixes #4458)</a> - Paul Jackson, 2014-02-04 02:00:05 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/bfc3b2c">[CSS] Increased white space inside and between tabs in Tabs plugin.</a> - Thomas Gohard, 2014-02-05 13:29:12 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/7abd67b">Documentation: Port of the version history and communications materials to v4.0</a> - Paul Jackson, 2014-02-05 14:29:50 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/00ef740">[CSS] Added a fix so that bullets are displayed in Chrome and Safari when clmn classes are used.</a> - Thomas Gohard, 2014-02-05 15:59:42 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/100db21">Tabs: Fixed tab switching when hitting pause on carousel</a> - Paul Jackson, 2014-02-05 16:04:03 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/b85272f">Core loader: Fixed loading issue with nested plugins (fixes #4457)</a> - Paul Jackson, 2014-02-05 16:23:13 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/a1c30d7">Prettify: fix unit test checking className attribute</a> - Pat Heard, 2014-02-05 19:31:30 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/51b0328">Toggle: fix unit test checking className attribute</a> - Pat Heard, 2014-02-05 19:37:42 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/200996d">Tabs: update tab interface medium/large screen appearance</a> - Pat Heard, 2014-02-06 09:37:30 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/f756e66">[CSS] Combined CSS selectors from #4482.</a> - Thomas Gohard, 2014-02-06 11:59:43 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/eb39461">Updates the translation of the table-empty message as per #4477.</a> - Thomas Gohard, 2014-02-06 14:08:08 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/6974a4f">Tables: Enabled i18n support for DataTables sorting (fixes wet-boew/GCWeb#492)</a> - Paul Jackson, 2014-02-06 16:44:30 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/51dfabb">Accolades: Added new Canadian Government Executive article to listing of articles/blogs</a> - Paul Jackson, 2014-02-06 23:47:36 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/975505f">Updated version history with v3.0.13 and v3.1.8 maintenance releases</a> - Paul Jackson, 2014-02-07 02:41:37 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/4447a4a">Documentation (v4.0): Added missing change to v3.1.8 release notes</a> - Paul Jackson, 2014-02-07 09:58:02 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/48b1c52">Mocha: temporary fix for mocha timeout</a> - Pat Heard, 2014-02-07 10:02:03 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/6d55cb0">[CSS] Added class to remove border radius.</a> - Thomas Gohard, 2014-02-07 10:50:27 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/25e2709">[CSS] Moved the base SASS for the positioning CSS out of the media queries to optimise the resulting CSS.</a> - Thomas Gohard, 2014-02-07 15:31:29 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/3b308c4">Footnotes: Simplified SCSS selectors.</a> - Eric Dunsworth, 2014-02-07 23:48:36 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/14cbcb8">Documentation: Created placeholder pages for each of the WET components</a> - Paul Jackson, 2014-02-08 00:14:48 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/ea66ee3">Documentation: Added Text highlighting documentation</a> - Paul Jackson, 2014-02-09 23:10:05 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/166f030">Documentation: Corrected questions and comment query string so valid HTML</a> - Paul Jackson, 2014-02-10 00:24:54 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/d3b323a">Documentation: Clarified the events part of the Text highlight documentation.</a> - Paul Jackson, 2014-02-10 01:27:34 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/ded7fa8">Documentation: Added Feedback form documentation</a> - Paul Jackson, 2014-02-10 01:29:20 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/ec0082f">Core: quote object property keys in minified files</a> - Pat Heard, 2014-02-10 09:04:33 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/29a119a">Docs: add data-picture documentation</a> - Pat Heard, 2014-02-10 12:44:04 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/16fe760">Documentation: Added progress polyfill documentation</a> - Paul Jackson, 2014-02-10 13:15:10 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/8f37e96">Documentation: Added the Meter polyfill documentation and aligned the Progress polyfill documentation</a> - Paul Jackson, 2014-02-10 13:43:35 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/97b7deb">Documentation: Added Datalist polyfill documentation</a> - Paul Jackson, 2014-02-10 13:53:52 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/05c2c53">Documentation: Added details/summary documentation</a> - Paul Jackson, 2014-02-10 14:10:45 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/46bc51a">Documentation: Updated links to production ZIP files.</a> - Eric Dunsworth, 2014-02-10 20:05:37 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/d58befb">Demos/Docs/Themes: Fixed various broken links.</a> - Eric Dunsworth, 2014-02-10 21:05:20 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/b533077">Docs: add favicon documentation</a> - Pat Heard, 2014-02-11 10:52:02 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/76b8f57">Documentation: Added Web accessibility assessment methodology and accessibility responsibility breakdown documentation</a> - Paul Jackson, 2014-02-11 15:25:33 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/27a37e9">Fixed the english link to the Canada.ca theme</a> - Laurent Goderre, 2014-02-11 16:06:16 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/4c877e1">Docs: add MathML documentation</a> - Pat Heard, 2014-02-11 16:07:42 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/2a3a494">Documentation: Added input type=range polyfill documentation.</a> - Paul Jackson, 2014-02-11 16:10:13 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/e0f8045">Docs: add Prettify documentation</a> - Pat Heard, 2014-02-12 10:22:05 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/39e4865">Session: fix .modal-footer background colour and margin</a> - Pat Heard, 2014-02-12 12:16:11 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/453ffee">Bower: Updated to Bootstrap 3.1.0. Partially addresses gh-4448.</a> - Eric Dunsworth, 2014-02-12 13:36:34 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/54144ef">Changed the message markup to use the Bootstrap panels component and removed the styles for the old message box</a> - Shawn Thompson, 2014-02-12 13:56:20 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/0679344">Docs: add session timeout documentation</a> - Pat Heard, 2014-02-13 08:58:56 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/a7c2481">Session: store updated plugin settings on element</a> - Pat Heard, 2014-02-13 08:59:07 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/927fc0d">Datalist: Removed return false from input field event handler to address iOS7 issue</a> - Paul Jackson, 2014-02-13 13:16:19 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/e3720e5">Disabled Bootstrap abbr title expansion for print in IE8 (fixes wet-boew/GCWeb#519)</a> - Paul Jackson, 2014-02-14 12:33:55 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/c6e3344">Focus: Increased delay to allow time for top overlay to disappear before calculating the offset (fixes #4550)</a> - Paul Jackson, 2014-02-14 14:01:12 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/b8565b5">Build: Disabled CSSLint check for number of floats (fixes #4559)</a> - Paul Jackson, 2014-02-14 15:00:23 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/c47c459">Updated the placeholder content for v4.0 (related to #4567)</a> - Paul Jackson, 2014-02-14 15:23:37 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/d167e4b">Added links to the OGPL theme</a> - Laurent Goderre, 2014-02-14 17:31:30 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/b2449da">Roadmap: Added end of support for v3.1.x to the roadmap</a> - Paul Jackson, 2014-02-17 14:35:47 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/501efed">Tabs: Fixed setting the tab by URL hash in large view (fixes #4570)</a> - Paul Jackson, 2014-02-17 15:45:47 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/b7f2fd7">Docs: add Toggle documentation</a> - Pat Heard, 2014-02-18 15:25:28 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/06fa905">Restore blockquote font size to 16px.</a> - Thomas Gohard, 2014-02-18 15:51:55 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/37750fb">Toggle: restrict details example to a parent element</a> - Pat Heard, 2014-02-18 19:53:48 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/e75d55b">Toggle: fix unit test to work with new parent demo</a> - Pat Heard, 2014-02-18 20:19:44 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/138262a">WET theme: Removed unnecessary section link in secondary menu and added more link (fixes #4583)</a> - Paul Jackson, 2014-02-18 21:06:11 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/79d8889">Bootstrap: Rolled back Boostrap to v3.0.3 because of critical issue with visible-* classes (see #4448)</a> - Paul Jackson, 2014-02-18 23:24:40 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/a5e521e">Bootstrap: Updated to v3.1.1 for visible-* fixes (related to #4448)</a> - Paul Jackson, 2014-02-19 01:52:32 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/b09a922">Menu: Corrected placement of menu bar (removed negative left margin)</a> - Paul Jackson, 2014-02-19 03:12:47 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/0cbdeb6">WET theme: Resolved various RTL issues</a> - Paul Jackson, 2014-02-19 05:49:02 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/960591d">WET theme: Added date modified support</a> - Paul Jackson, 2014-02-19 12:55:47 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/f86b7e0">Removed trailing div from date modified</a> - Paul Jackson, 2014-02-19 13:29:07 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/5255c8d">Removed bolding from date modified</a> - Paul Jackson, 2014-02-19 13:57:02 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/a488fcb">Fixed HTML data and identification of date modified</a> - Paul Jackson, 2014-02-19 14:10:00 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/6afc941">Added RTL support for date modified</a> - Paul Jackson, 2014-02-19 14:43:12 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/755389c">Fixed margins in date modified RTL support</a> - Paul Jackson, 2014-02-19 14:48:22 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/bc51563">[TABS] Amended default carousel class to expand the caption bar the full width</a> - Mario Bonito, 2014-02-19 16:04:56 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/f89cf9b">Added downloads for themes and expanded theme names</a> - Paul Jackson, 2014-02-19 16:28:41 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/a8b9a95">WET theme: Fixed appearance of non-link secondary menu items (e.g., section headings)</a> - Paul Jackson, 2014-02-19 20:40:57 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/3454506">WET theme: Removed text-right-based RTL override (no longer needed)</a> - Paul Jackson, 2014-02-19 21:49:42 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/3c9fa01">Documentation: Updated CCO link text in accolades page. Fixes #4551.</a> - Eric Dunsworth, 2014-02-19 21:49:44 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/bb0e3e9">Details: Fixed RTL support of open details</a> - Paul Jackson, 2014-02-20 00:04:20 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/835bdfc">[Carousel] Fixed the bottom margin height for Carousel Style 2.</a> - Thomas Gohard, 2014-02-20 10:48:53 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/339e7d3">[Documentation] Added documentation for equal height plugin (English and French).</a> - Thomas Gohard, 2014-02-20 15:49:26 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/075a81b">Feeds: Aligned demo CSS with Twitter embedded timeline styling (fixes #4625)</a> - Paul Jackson, 2014-02-24 10:30:23 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/d63a309">Fixed breadcrumb trail and page title for WET theme examples</a> - Paul Jackson, 2014-02-24 11:19:43 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/3f0a6aa">Feeds: Converted spaces to tabs in demo CSS</a> - Paul Jackson, 2014-02-24 11:47:38 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/bf66c60">[CSS] Added CSS to allow gridifying tables.</a> - Thomas Gohard, 2014-02-24 16:31:36 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/c635bc8">Charts - English documentation</a> - Pierre Dubois, 2014-02-24 22:42:28 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/471d472">[CSS] Ensured position: absolute only applies when the position CSS and screen media queries match.</a> - Thomas Gohard, 2014-02-25 09:05:52 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/1586b3a">Base theme: Added references to the working examples page</a> - Paul Jackson, 2014-02-25 11:26:15 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/caaa882">Charts - Docs of Preset configuration options</a> - Pierre Dubois, 2014-02-25 12:13:06 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/d367740">Documentation: Added themes and style section and WET theme placeholder documentation</a> - Paul Jackson, 2014-02-25 12:14:04 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/bb2ff13">Documentation: Added variants section</a> - Paul Jackson, 2014-02-25 12:36:57 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/6542607">Documentation: Populated the WET theme documentation</a> - Paul Jackson, 2014-02-25 22:07:19 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/eb2c3c8">Documentation: Added links to the theme documentation</a> - Paul Jackson, 2014-02-26 02:55:06 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/412df31">Updated the v4.0 download links</a> - Paul Jackson, 2014-02-26 10:39:57 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/c66a4df">Simplified the post process and updated the secure token</a> - Laurent Goderre, 2014-02-26 11:26:43 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/d59d481">Documentation: Added form validation documentation</a> - Paul Jackson, 2014-02-26 12:40:23 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/6c9d78a">Optimized the build and fixed the working example update</a> - Laurent Goderre, 2014-02-26 13:05:34 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/6b67f4b">Documentation: Added the share widget documentation.</a> - Paul Jackson, 2014-02-26 13:40:32 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/145c520">Added Feeds documentation</a> - Paul Jackson, 2014-02-26 14:55:14 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/c9c0b47">Toggle: remove unit test dependency on working examples</a> - Pat Heard, 2014-02-26 15:29:17 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/3509d93">CSS: Added .nowrap class for preventing wrapping (fixes #4653)</a> - Paul Jackson, 2014-02-28 10:56:59 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/eea3a03">Session: remove unit test dependency on working examples</a> - Pat Heard, 2014-02-28 13:42:44 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/febf668">Feedback form: Changed component type from plugin to other so JS and CSS are no longer part of core</a> - Paul Jackson, 2014-02-28 15:13:40 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/4caceb0">Tabs: Added non-overlapping caption option to carousel (fixes #4661)</a> - Paul Jackson, 2014-03-01 00:10:47 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/8b9569a">Share widget: Added support for appostrophes in titles and ampersands in URLs (fixes #4662)</a> - Paul Jackson, 2014-03-01 00:53:42 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/9037490">Share widget: Fixed copying of sprited images (fixes #4655)</a> - Paul Jackson, 2014-03-01 01:50:42 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/5b75f81">Share widget: Fixed CSS reference to the sprited image (fixes #4655)</a> - Paul Jackson, 2014-03-01 02:26:04 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/8f172ed">Feedback: Updated the Feedback form documentation to indicate that JS and CSS files need to be migrated now</a> - Paul Jackson, 2014-03-01 21:42:09 -0500</li>
		</ul>
	</section>
</section>
