---
{
	"title": "v4.0.8+1 - Notes d'utilisation",
	"language": "fr",
	"description": "v4.0.8+1 - Notes d'utilisation - Historique des versions - Boîte à outils de l'expérience Web (BOEW)",
	"altLangPrefix": "v4.0.8+1",
	"dateModified": "2014-11-20"
}
---
<ul>
	<li><strong>Date de lancement&#160;:</strong> <time>2014-11-20</time></li>
	<li><a href="../dwnld-fr.html#v4081">Téléchargements</a></li>
</ul>

<section>
	<h2>Quoi de neuf?</h2>
	<div lang="en">
	<p><strong>Needs translation</strong></p>
	<ul>
		<li><strong>Geomap</strong>:Addition of srsCode property to the proj4 object. OL needs this property in order to be able to load ArcGis Mapserver layer.</li>
		<li><strong>Menu</strong>: Allow integration with the data-ajax plugin</li>
		<li><strong>Template</strong>: Added missing space in the IE8 html tag declaration</li>
		<li><strong>Tabs</strong>: Fixed tab selection when switching from mobile to desktop view</li>
	</ul>
	</div>
</section>

<section>
	<h2>Détails</h2>
	<p><strong>Nombre des &#171;&#160;commits&#160;&#187;</strong> 7</p>
	<ul>
		<li><a href="https://github.com/LaurentGoderre">@LaurentGoderre</a>&#160;: 3 &#171;&#160;commits&#160;&#187;</li>
		<li><a href="https://github.com/jsmoreau">@jsmoreau</a>&#160;: 2 &#171;&#160;commits&#160;&#187;</li>
		<li><a href="https://github.com/pjackson28">@pjackson28</a>&#160;: 1 &#171;&#160;commits&#160;&#187;</li>
		<li><a href="https://github.com/shawnthompson">@shawnthompson</a>&#160;: 1 &#171;&#160;commits&#160;&#187;</li>
	</ul>
	<section>
		<h3>Liste des &#171;&#160;commits&#160;&#187;</h3>
		<ul lang="en">
			<li><a href="https://github.com/wet-boew/wet-boew/commit/50a3c9a">Addition of srsCode property to the proj4 object. OL needs this property in order to be able to load ArcGis Mapserver layer.</a> - jsmoreau, 2014-10-28 13:23:53 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/ff8568a">Multimedia Player - YouTube: fixed #6224</a> - Shawn Thompson, 2014-11-04 13:00:18 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/57771b5">Addition of an ESRI REST basemap example</a> - jsmoreau, 2014-11-10 11:07:11 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/9e5a87d">Updated the build version to v4.0.9-development</a> - Laurent Goderre, 2014-11-18 14:03:40 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/a083fd7">Menu: Allow integration with the data-ajax plugin</a> - Laurent Goderre, 2014-11-19 12:10:01 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/83ec79e">Added missing space in the IE8 html tag declaration</a> - Laurent Goderre, 2014-11-19 15:44:11 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/f04d8af">Tabs: Fixed tab selection when switching from mobile to desktop view</a> - Paul Jackson, 2014-11-20 12:56:17 -0500</li>
		</ul>
	</section>
</section>
