---
{
	"title": "v4.0.8 - Notes d'utilisation",
	"language": "fr",
	"description": "v4.0.8 - Notes d'utilisation - Historique des versions - Boîte à outils de l'expérience Web (BOEW)",
	"altLangPrefix": "v4.0.8",
	"dateModified": "2014-11-18"
}
---
<ul>
	<li><strong>Date de lancement&#160;:</strong> <time>2014-11-18</time></li>
	<li><a href="../dwnld-fr.html#v408">Téléchargements</a></li>
</ul>

<section>
	<h2>Quoi de neuf?</h2>
	<div lang="en">
	<p><strong>Needs translation</strong></p>
	<ul>
		<li><strong>Footnotes: </strong>Adjusted SCSS to accommodate lists/tables within footnotes. Fixes #6157.</li>
		<li><strong>Details/summary polyfill: </strong>Set closed details visibility to hidden to make text nodes invisible (although still take up space)</li>
		<li><strong>Calendar of events:</strong> wb-updated event now triggered on wb-calevt element.</li>
		<li><strong>Lightbox:</strong> add ajax override and include example and documentation</li>
		<li><strong>Data Ajax:</strong> Added support for CORS and a fallback when CORS isn't supported</li>
		<li><strong>Session Timeout:</strong> Added missing window[ 'wb-sessto' ] support.</li>
		<li><strong>Session timeout:</strong> Fixed data-wb-sessto support</li>
		<li><strong>i18n:</strong> Updated the French translation for the 'play' label for the multimedia player and carousel.</li>
		<li><strong>Feeds:</strong> removed the col- class from the Flickr list items for them to flow at sm and md views</li>
		<li><strong>Print CSS:</strong> Set the print CSS for the page header elements.</li>
		<li><strong>Tabs:</strong> Fixed resize handling for multiple tabbed interfaces</li>
		<li><strong>Tabs:</strong> Added missing id to the carousel tabs</li>
		<li><strong>Tabs:</strong> Optimized onResize function</li>
		<li><strong>Tabs:</strong> Made session storage usage unique to the page</li>
		<li><strong>Tabs:</strong> Added ability to show a tab panel with an external link or event.</li>
		<li><strong>Tabs:</strong> Prevented overlapping during loading and view changes</li>
		<li><strong>Tabs:</strong> Fixed focus handling for external tab links</li>
		<li><strong>Template:</strong> Move the metadata to an include</li>
	</ul>
	</div>
</section>

<section>
	<h2>Détails</h2>
	<p><strong>Nombre des &#171;&#160;commits&#160;&#187;</strong> 28</p>
	<ul>
		<li><a href="https://github.com/pjackson28">@pjackson28</a>&#160;: 11 &#171;&#160;commits&#160;&#187;</li>
		<li><a href="https://github.com/LaurentGoderre">@LaurentGoderre</a>&#160;: 7 &#171;&#160;commits&#160;&#187;</li>
		<li><a href="https://github.com/thomasgohard">@thomasgohard</a>&#160;: 4 &#171;&#160;commits&#160;&#187;</li>
		<li><a href="https://github.com/EricDunsworth">@EricDunsworth</a>&#160;: 3 &#171;&#160;commits&#160;&#187;</li>
		<li><a href="https://github.com/crichard">@crichard</a>&#160;: 1 &#171;&#160;commits&#160;&#187;</li>
		<li><a href="https://github.com/shawnthompson">@shawnthompson</a>&#160;: 2 &#171;&#160;commits&#160;&#187;</li>
	</ul>
	<section>
		<h3>Liste des &#171;&#160;commits&#160;&#187;</h3>
		<ul lang="en">
			<li><a href="https://github.com/wet-boew/wet-boew/commit/de11605">Footnotes: Adjusted SCSS to accommodate lists/tables within footnotes. Fixes #6157.</a> - Eric Dunsworth, 2014-10-22 00:54:10 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/b93001a">Details/summary polyfill: Set closed details visibility to hidden to make text nodes invisible (although still take up space)</a> - Paul Jackson, 2014-10-22 12:25:37 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/5ae3dcb">Updated the build version to v4.0.8-development</a> - Laurent Goderre, 2014-10-22 13:18:13 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/783f3ca">Calendar of events: wb-updated event now triggered on wb-calevt element.</a> - Paul Jackson, 2014-10-22 14:31:08 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/b805378">Fixed links to commit in v4.0.7 english release notes</a> - Laurent Goderre, 2014-10-24 10:14:47 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/193df81">Lightbox: add ajax override and include example and documentation</a> - Cynthia Richard, 2014-10-27 13:06:38 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/75b7d4d">Documentation: Added proxy guidance related to .insteadOf and personal network drives. Fixes #6152.</a> - Eric Dunsworth, 2014-10-27 15:37:06 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/9b5d35c">Footnotes: Updated ID guidance for multi-referenced footnotes in documentation. Forgot to update guidance for it in #4019 (which resolved #3257).</a> - Eric Dunsworth, 2014-10-27 17:11:55 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/0fdd4bf">Data Ajax: Added support for CORS and a fallback when CORS isn't supported</a> - Laurent Goderre, 2014-10-28 10:20:02 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/c4f8ff3">Session Timeout and Documentation: Added missing window[ 'wb-sessto' ] support and missing documentation for window[ componentName ] to all relevant plugins.</a> - Paul Jackson, 2014-10-28 13:50:00 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/4bb60b8">fixed the ellipsis in IE8 for the DL element</a> - Shawn Thompson, 2014-10-29 14:33:56 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/47acc12">[i18n] Updated the French translation for the 'play' label for the multimedia player and carousel.</a> - Thomas Gohard, 2014-10-29 14:41:50 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/42ccab8">Feeds: removed the col- class from the Flickr list items for them to flow at sm and md views</a> - Shawn.Thompson, 2014-10-30 10:48:26 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/c616996">Template: Move the metadata to an include</a> - Laurent Goderre, 2014-10-30 11:43:37 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/1ba7ae4">Feeds: Reorder the code in a more logical fashion Grouped helpers methods together and ordered the core methods in the order they are called</a> - Laurent Goderre, 2014-10-30 12:48:06 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/e3351e4">[Print CSS] Set the print CSS for the page header elements.</a> - Thomas Gohard, 2014-10-30 15:45:55 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/9471731">[Feeds] Converted space-indented lines to tab-indented lines.</a> - Thomas Gohard, 2014-11-04 13:21:26 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/1de5e9d">[Feeds] Fixed a typo in the word 'variables' in a comment.</a> - Thomas Gohard, 2014-11-04 13:21:36 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/4698ab7">Fixed the deploy target being executed on feature branches Fixes #6251</a> - Laurent Goderre, 2014-11-07 15:38:06 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/e3472af">Tabs: Fixed resize handling for multiple tabbed interfaces</a> - Paul Jackson, 2014-11-12 12:40:39 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/139d2fd">Tabs: Added missing id to the carousel tabs</a> - Paul Jackson, 2014-11-12 12:55:24 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/5085cbf">Tabs: Optimized onResize function</a> - Paul Jackson, 2014-11-12 16:23:45 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/6605d51">Build: optimized the deploy logic</a> - Laurent Goderre, 2014-11-13 11:38:19 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/5f49f48">Tabs: Made session storage usage unique to the page</a> - Paul Jackson, 2014-11-13 14:56:19 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/abcc690">Tabs: Added ability to show a tab panel with an external link or event.</a> - Paul Jackson, 2014-11-14 12:48:19 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/d908ca0">Session timeout: Fixed data-wb-sessto support</a> - Paul Jackson, 2014-11-14 14:09:54 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/7a37cde">Tabs: Prevented overlapping during loading and view changes</a> - Paul Jackson, 2014-11-14 16:00:44 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/7bdbedb">Tabs: Fixed focus handling for external tab links</a> - Paul Jackson, 2014-11-14 16:28:27 -0500</li>
		</ul>
	</section>
</section>
