---
{
	"title": "v4.0.27 release notes",
	"language": "en",
	"description": "v4.0.27 release notes - Version history - Web Experience Toolkit (WET)",
	"altLangPrefix": "v4.0.27",
	"dateModified": "2017-12-14"
}
---
<ul>
	<li><strong>Release date:</strong> <time>2017-12-14</time></li>
	<li><a href="../dwnld-en.html#v4027">Downloads</a></li>
</ul>

<span class="wb-prettify all-pre"></span>

<section>
	<h2>What's New</h2>
	<ul>
		<li>Mathjax - fix use of CDN and allow for fail-over if there is no connectivity</li>
		<li>Tabbed Interface: Removal of equal height js on tabs.</li>
		<li>Overlay plugin: Added space key support for overlay links.</li>
		<li>Multimedia player: Fixed timeline/volume bar layout issues in IE10+/Edge.</li>
		<li>Carousel: Improved video outlines in Firefox.</li>
		<li>Multimedia player: Made volume slider's layout more consistent across browsers.</li>
		<li>Fix datepicker closing prematurely on IE11</li>
	</ul>
</section>

<section>
	<h2>Details</h2>
	<p><strong>Number of commits:</strong> 45</p>
	<ul>
		<li><a href="https://github.com/nschonni">@nschonni</a>: 16 commits</li>
		<li><a href="https://github.com/EricDunsworth">@EricDunsworth</a>: 15 commits</li>
		<li><a href="https://github.com/duboisp">@duboisp</a>: 3 commit</li>
		<li><a href="https://github.com/cmeka">@cmeka</a>: 3 commits</li>
		<li><a href="https://github.com/LaurentGoderre">@LaurentGoderre</a>: 2 commits</li>
		<li><a href="https://github.com/lucas-hay">@lucas-hay</a>: 2 commits</li>
		<li><a href="https://github.com/jvanulde">@jvanulde</a>: 1 commit</li>
		<li><a href="https://github.com/nathanv">@nathanv</a>: 1 commit</li>
		<li><a href="https://github.com/nongpp">@nongpp</a>: 1 commit</li>
		<li><a href="#">@wwhite</a>: 1 commit</li>
	</ul>
	<section>
		<h3>List of commits</h3>
		<ul>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/c8caa5a1f">Updated the build version to v4.0.27-development</a> - lucas-hay, 2017-08-15 14:23:20 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/ec66fc7e3">mathjax - fix use of CDN and allow for fail-over if there is no connectivity</a> - Nathan Vexler, 2017-08-15 15:59:07 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/a2616f62d">Revert "Travis - Use previous image"</a> - Laurent Goderre, 2017-09-05 10:35:49 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/d29ac19cd">Fixed Travis CI permission issues</a> - Laurent Goderre, 2017-09-05 20:08:06 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/f66bccbaa">EditorConfig: Fixed typos in package.json/travis.yml's section name.</a> - Eric Dunsworth, 2017-09-08 15:24:48 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/622b47bf9">Tabbed Interface: Removal of equal height js on tabs.</a> - wwhite, 2017-09-08 16:39:06 -0700</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/a1c1538d8">build: Bump grunt-sass@2</a> - Nick Schonning, 2017-09-15 01:06:06 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/40624f54f">i18n: Updated French strings related to basic HTML mode.</a> - Eric Dunsworth, 2017-09-22 10:42:58 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/be280a3b9">Carousel: Removed "row" divs from English transitions demos.</a> - Eric Dunsworth, 2017-10-02 14:12:22 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/134d17853">Overlay plugin: Added space key support for overlay links.</a> - Eric Dunsworth, 2017-10-03 14:57:43 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/9dc3f3945">Multimedia player: Fixed timeline/volume bar layout issues in IE10+/Edge.</a> - Eric Dunsworth, 2017-10-10 11:39:29 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/57ac1d88f">Carousel: Improved video outlines in Firefox.</a> - Eric Dunsworth, 2017-10-12 09:21:40 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/e607726e5">Multimedia player: Made volume slider's layout more consistent across browsers.</a> - Eric Dunsworth, 2017-10-16 09:51:12 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/43caf5dd7">Core/Theme: Added nav elements to ToCs.</a> - Eric Dunsworth, 2017-10-19 13:34:44 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/4d0993686">Updated road map with new dat for 4.0.27 release</a> - lucas-hay, 2017-10-27 16:18:22 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/0374e286b">Fix date picker closing prematurely</a> - Chris Mekarski, 2017-10-31 07:42:41 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/86c1de437">Core: Declared all SCSS variables as defaults.</a> - Eric Dunsworth, 2017-11-08 10:24:07 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/e01417e3d">Build: Modified sass-lint settings to require EOF newlines.</a> - Eric Dunsworth, 2017-11-10 15:33:37 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/d3569e436">Build: Placed "final-newline" sass-lint rule in alphabetical order.</a> - Eric Dunsworth, 2017-11-14 10:29:05 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/ac99e5eb1">Build: Made sasslint task's src globbing patterns more specific.</a> - Eric Dunsworth, 2017-11-15 11:08:12 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/5e4656a6f">Theme: add color variable in variable file.</a> - nongpp, 2017-11-19 07:02:17 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/1b4498a25">Add IE11 check</a> - Chris Mekarski, 2017-11-21 11:44:53 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/0e52538b2">Fix datepicker closing prematurely on IE11</a> - Chris Mekarski, 2017-11-21 11:46:26 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/ef1ed1376">Theme: Added footer/cite elements into placeholder content's blockquote.</a> - Eric Dunsworth, 2017-11-22 11:10:27 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/81eb102d0">Details documentation: Fixed typo in event trigger's sample code.</a> - Eric Dunsworth, 2017-11-23 09:44:46 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/365e1c824">Build: bootstrap-sass move from Bower to NPM</a> - Nick Schonning, 2017-11-23 10:37:02 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/a7aea322e">build: Move jQuery from Bower to NPM</a> - Nick Schonning, 2017-11-23 11:21:38 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/6d4445cb6">build: Move jQuery-validation from Bower to NPM</a> - Nick Schonning, 2017-11-23 11:21:40 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/3df92236b">build: Move html5shiv from Bower to NPM</a> - Nick Schonning, 2017-11-23 11:21:40 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/4da4e4036">build: Drop jquery-pjax dependency</a> - Nick Schonning, 2017-11-23 11:21:41 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/e3834d347">build: Drop respond dependency</a> - Nick Schonning, 2017-11-23 11:21:41 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/fa1db66e0">build: Drop selectivizr dependency</a> - Nick Schonning, 2017-11-23 11:21:42 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/2430ccfcb">build: Move proj4 from Bower to NPM</a> - Nick Schonning, 2017-11-23 11:21:42 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/f9363238f">build: Move google-code-prettify from Bower to NPM</a> - Nick Schonning, 2017-11-23 11:21:43 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/b05199ce3">build: Move es5-shim from Bower to NPM</a> - Nick Schonning, 2017-11-23 11:21:43 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/492416289">build: Move unorm from Bower to NPM</a> - Nick Schonning, 2017-11-23 11:21:43 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/6afbe9d6b">build: Move DataTables from Bower to NPM</a> - Nick Schonning, 2017-11-23 11:21:44 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/bfb0813bb">chore: rebuild cache for node-sass</a> - Nick Schonning, 2017-11-23 11:21:44 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/17b25b7d1">Core: Removed old redirect pages. (#8214)</a> - EricDunsworth, 2017-11-27 08:36:11 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/de7ef096e">chore: Move MathJax from Bower to NPM</a> - Nick Schonning, 2017-11-30 00:21:19 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/82cab86a0">chore: Move Magnific Popup from Bower to NPM</a> - Nick Schonning, 2017-11-30 00:31:05 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/f2969e161">Revert "Bower to npm"</a> - Pierre Dubois, 2017-12-05 15:45:37 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/3c166065c">Core CSS - Fixed an overloading issue with col-*-auto on responsive breakpoints</a> - Pierre Dubois, 2017-12-05 22:38:55 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/51f761ed0">Revert "Menu aria validation" #7942</a> - Pierre Dubois, 2017-12-06 21:53:55 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/73eeef2e9">Updated i18n file to support backwards compatibility.</a> - Joost van Ulden, 2017-12-12 11:35:50 -0800</li>
		</ul>
	</section>
</section>
