---
{
	"title": "v4.0.21 release notes",
	"language": "en",
	"description": "v4.0.21 release notes - Version history - Web Experience Toolkit (WET)",
	"altLangPrefix": "v4.0.21",
	"dateModified": "2016-04-11"
}
---
<ul>
	<li><strong>Release date:</strong> <time>2016-04-11</time></li>
	<li><a href="../dwnld-en.html#v4021">Downloads</a></li>
</ul>

<span class="wb-prettify all-pre"></span>

<section>
	<h2>What's New</h2>
	<ul>
		<li>Geomap: Fixed issue where KML feature attributes were not sources from ExtendedData elements</li>
		<li>Removed img block from figure and carousel-s1 li block to fix compile errors</li>
		<li>Details/Summary: Fixed the double description in the french demo that crashes the build</li>
		<li>Tabbed interface: Update for a11y code Improved the LI text for panels and removed alt text for the pictures. Fixes #6693.</li>
		<li>Fixed the alignment of the login buttons</li>
		<li>Equal height: Fixed issues with the demo page's code samples.</li>
		<li>Calendar: Refactored the library</li>
		<li>Date Picker: Refactored and updated to the new calendar library</li>
		<li>Calendar of Event: Updated to the new calendar library</li>
	</ul>
</section>

<section>
	<h2>Details</h2>
	<p><strong>Number of commits:</strong> 10</p>
	<ul>
		<li><a href="https://github.com/LaurentGoderre">@LaurentGoderre</a>: 19 commits</li>
		<li><a href="https://github.com/andre-gh">@andre-gh</a>: 9 commits</li>
		<li><a href="https://github.com/shawnthompson">@shawnthompson</a>: 7 commits</li>
		<li><a href="https://github.com/EricDunsworth">@EricDunsworth</a>: 5 commits</li>
		<li><a href="https://github.com/maximmartel">@maximmartel</a>: 3 commits</li>
		<li><a href="https://github.com/jvanulde">@jvanulde</a>: 1 commit</li>
		<li><a href="https://github.com/kristremblay">@kristremblay</a>: 1 commit</li>
		<li><a href="https://github.com/lchski">@lchski</a>: 1 commit</li>
		<li><a href="https://github.com/masterbee">@masterbee</a>: 1 commit</li>
		<li><a href="https://github.com/nschonni">@nschonni</a>: 1 commit</li>
		<li><a href="https://github.com/rlambert27">@rlambert27</a>: 1 commit</li>
	</ul>
	<section>
		<h3>List of commits</h3>
		<ul>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/1b144ba">Geomap: Fixed issue where KML feature attributes were not sources from ExtendedData elements.</a> - Joost van Ulden, 2015-07-27 15:00:43 -0700</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/1802d85">wb: Allow for specific directory paths via data attrs.</a> - Andre D, 2015-11-26 13:13:18 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/7a91ee7">Updated the build version to v4.0.21-development</a> - Andre D, 2015-12-16 09:18:15 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/477a5df">Add changelog for v4.0.20</a> - Andre D, 2015-12-16 10:47:18 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/638d527">feeds: Increase requested timeout to 10 seconds.</a> - Andre D, 2015-12-16 16:34:22 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/fea8b2e">formvalid: Clear out current error summar properly.</a> - Andre D, 2015-12-18 12:03:36 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/5dad953">Removed img block from figure and carousel-s1 li block to fix compile errors</a> - Kristopher Tremblay, 2015-12-18 15:38:47 -0700</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/bc7a899">Run tests in offline mode (using local jQuery)</a> - Laurent Goderre, 2015-12-21 13:33:43 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/d49f4c2">added important to border removals because of specificity restraint</a> - Shawn Thompson, 2016-01-04 13:40:45 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/749a3ac">Calendar: Refactored the library</a> - Laurent Goderre, 2016-01-05 16:04:58 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/62301ce">Calendar: Added unit test for the library</a> - Laurent Goderre, 2016-01-05 16:05:07 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/a05ce4b">Date Picker: Refactored and updated to the new calendar library</a> - Laurent Goderre, 2016-01-05 16:05:07 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/7348528">Date picker: Added unit test for the polyfill</a> - Laurent Goderre, 2016-01-05 16:05:07 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/f76d24d">Calendar of Event: Updated to the new calendar library</a> - Laurent Goderre, 2016-01-06 11:47:17 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/ab9ee77">Details/Summary: Refactor to duplicate the spec API for the element</a> - Laurent Goderre, 2016-01-07 10:46:13 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/9dbd928">Details/Summary: Fixed the double description in the french demo that crashes the build</a> - Laurent Goderre, 2016-01-11 11:52:16 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/b1abc3b">Do not error when equalheight element has no content.</a> - Andre D, 2016-01-11 13:41:53 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/c847eb4">Toggle: Updated to the new details polyfill</a> - Laurent Goderre, 2016-01-11 13:56:54 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/eda308f">equalheight: Reinit on content updated event from data-ajax.</a> - Andre D, 2016-01-11 14:06:29 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/6e5cd6d">Date Picker: Skip the tests if the datepicker is supported natively</a> - Laurent Goderre, 2016-01-12 10:10:09 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/2251aa5">Date Picker: Fixed a rounding issue with the test suite</a> - Laurent Goderre, 2016-01-12 10:34:26 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/9639a72">menu: Inherit color value for summary.</a> - Andre D, 2016-01-12 15:47:54 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/dc0426b">Menu: Explicitly trigger the initialization of the details/summary polyfill</a> - Laurent Goderre, 2016-01-13 11:02:13 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/7b7533f">path: Use asset, not assets</a> - Andre D, 2016-01-21 10:59:19 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/7fca60c">moved filter field for tables to left side fixed #7337</a> - Shawn Thompson, 2016-01-27 08:29:11 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/ae92f0e">roadmap changes</a> - Maxim Martel, 2016-02-10 09:01:38 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/9aec7f2">Bump license years to 2016</a> - Lucas Cherkewski, 2016-02-20 14:33:19 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/02a65a9">HTML Proofer: Prevent empty alt attributes from causing failures.</a> - Eric Dunsworth, 2016-02-22 15:13:36 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/c540e2c">Tabbed interface: Update for a11y code Improved the LI text for panels and removed alt text for the pictures. Fixes #6693.</a> - Roch Lambert, 2016-02-24 08:56:06 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/7a38246">Date Picker: Position the calendar before showing it</a> - Laurent Goderre, 2016-03-03 10:35:01 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/c565d1b">Fixed the alignment of the login buttons</a> - Laurent Goderre, 2016-03-08 15:03:50 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/7ef50bf">Breadcrumbs: Reworked into conditional base SCSS, added variables and fixed RTL issues.</a> - Eric Dunsworth, 2016-03-08 23:20:06 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/d1806cb">Calendar: Added role=application for better keyboard navigation</a> - Laurent Goderre, 2016-03-09 14:02:29 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/792c04e">Moved the signed in/out CSS to the core</a> - Laurent Goderre, 2016-03-14 10:42:55 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/7336ed8">Added variables to control the sign in/out</a> - Laurent Goderre, 2016-03-14 10:44:55 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/a738aa3">Lint: Remove non-standard whitespace characters</a> - Nick Schonning, 2016-03-15 00:05:01 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/4a6e370">Base: Added direction/view-specific clearing classes.</a> - Eric Dunsworth, 2016-03-15 12:21:19 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/1ec9e2f">fixes #7198</a> - Maxim Martel, 2016-03-16 10:06:07 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/aec0762">Equal height: Fixed issues with the demo page's code samples.</a> - Eric Dunsworth, 2016-03-16 13:47:37 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/8b7a998">change example site for share widget</a> - Shawn Thompson, 2016-03-21 15:40:40 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/4621cd3">fix for saucelabs error on share page</a> - Shawn Thompson, 2016-03-21 20:18:51 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/4ab6816">temporary saucelabs fix for date problem</a> - Shawn Thompson, 2016-03-21 22:23:41 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/9ba24ff">added ellipsis class to trouncate lines of long text</a> - Shawn Thompson, 2016-03-29 13:30:43 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/2b74365">Fixed an issue with the date picker returning incorrect dates</a> - Laurent Goderre, 2016-03-29 21:43:01 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/3b1bc75">Breadcrumb: Added SCSS variable to control whether to show/hide breadcrumbs when printing.</a> - Eric Dunsworth, 2016-03-30 09:24:02 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/bbf74e3">Updated roadmap - dropping support for IE8 and IE9</a> - Maxim Martel, 2016-04-05 12:38:45 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/cb62e33">removed italics in required class to help with accessibility</a> - Shawn Thompson, 2016-04-06 13:58:19 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/38cab78">Calendar of Event: Fixed the links to events</a> - Laurent Goderre, 2016-04-08 11:07:53 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/e022963">[Upgrade] - Upgraded jquery-validation library</a> - Mario Bonito, 2016-04-10 02:56:37 -0400</li>
		</ul>
	</section>
</section>
