---
{
	"title": "v4.0.11 - Notes d'utilisation",
	"language": "fr",
	"description": "v4.0.11 - Notes d'utilisation - Historique des versions - Boîte à outils de l'expérience Web (BOEW)",
	"altLangPrefix": "v4.0.11",
	"dateModified": "2015-02-17"
}
---
<ul>
	<li><strong>Date de lancement&#160;:</strong> <time>2015-02-17</time></li>
	<li><a href="../dwnld-fr.html#v4011">Téléchargements</a></li>
</ul>

<section>
	<h2>Quoi de neuf?</h2>
	<div lang="en">
	<p><strong>Needs translation</strong></p>
	<ul>
		<li><strong>DataTables:</strong> Fixed the page number when more than one datatable is on the page</li>
		<li><strong>Multimedia:</strong> Fix the playback of video in IE9-11</li>
		<li><strong>Geomap:</strong> Fixed issue where default attribution wasn't added to map</li>
		<li><strong>Geomap:</strong> Added WMS overlay capability with support for graphic and HTML legends, cql_queries, and layer opacity</li>
		<li><strong>Menu:</strong> Fixed Javascript execution halted when non link, non heading text in secondary menu</li>
		<li><strong>Footnotes:</strong> Adjusted print SCSS to prevent URLs from appearing beside return links</li>
		<li><strong>Theme:</strong> Added aria-labelledby to the Lightbox content area to help Jaws to read the contained header</li>
		<li><strong>Tabs:</strong> Fixed firing of the wb-updated event so it only fires on a tabpane change</li>
		<li><strong>Toggle:</strong> Added the ability to set the initial state of a toggle button and fixed the handling of nested elements</li>
		<li><strong>SCSS Variables:</strong> Updated src variables file and added customizable variables for Tabs plugin</li>
		<li><strong>Updated Bootstrap for Sass version to 3.3.1:</strong></li>
	</ul>
	</div>
</section>

<section>
	<h2>Détails</h2>
	<p><strong>Nombre des &#171;&#160;commits&#160;&#187;</strong> 27</p>
	<ul>
		<li><a href="https://github.com/LaurentGoderre">@LaurentGoderre</a>&#160;: &#171;&#160;12 commits&#160;&#187;</li>
		<li><a href="https://github.com/jvanulde">@jvanulde </a>&#160;: &#171;&#160;6 commits&#160;&#187;</li>
		<li><a href="https://github.com/pjackson28">@pjackson28</a>&#160;: &#171;&#160;5 commits&#160;&#187;</li>
		<li><a href="https://github.com/EricDunsworth">@EricDunsworth</a>&#160;: &#171;&#160;2 commits&#160;&#187;</li>
		<li><a href="https://github.com/melodyma">@melodyma</a>&#160;: &#171;&#160;1 commits&#160;&#187;</li>
		<li><a href="https://github.com/zachfalsetto">@zachfalsetto</a>&#160;: &#171;&#160;1 commits&#160;&#187;</li>
	</ul>
	<section>
		<h3>Liste des &#171;&#160;commits&#160;&#187;</h3>
		<ul lang="en">
			<li><a href="https://github.com/wet-boew/wet-boew/commit/7573824">changing to latest bootstrap</a> - Zach Falsetto, 2015-01-19 16:48:11 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/52f9ac8">Fixed the display of Facebook feed times by inserting a line break Also used CSS to display the brackets. Fixes #3511</a> - Laurent Goderre, 2015-01-19 19:13:26 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/ef8e93c">Test: Fixed SauceLabs intermittent build failures</a> - Laurent Goderre, 2015-01-20 11:07:50 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/16e6e26">Updated the build version to v4.0.11-development</a> - Laurent Goderre, 2015-01-20 11:44:00 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/7b7e5cf">Geomap: added WMS overlay capability with support for graphic and HTML legends, cql_queries, and layer opacity.</a> - Joost van Ulden, 2015-01-21 15:54:18 -0800</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/1f8b705">Prevented hash handling when handling same page links</a> - Paul Jackson, 2015-01-27 11:06:34 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/ed5b198">Menu: Added better nesting support for nested menu items</a> - Paul Jackson, 2015-01-28 16:41:41 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/9c448b1">Build: Convert the IE8 CSS minification clean to an npm module</a> - Laurent Goderre, 2015-01-29 14:26:44 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/f31c69a">Fixed issue where geocoder datalist contents covered text input in Safari on iOS, Mac, and Windows.</a> - Joost van Ulden, 2015-02-02 06:34:57 -0800</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/503dadc">DataTable: Fixed ambiguous page links</a> - Laurent Goderre, 2015-02-02 16:48:04 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/ac08afb">Toggle: Added the ability to set the initial state of a toggle button</a> - Paul Jackson, 2015-02-03 13:10:44 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/3daab3f">Toggle: Fixed handling of elements nested in a toggle button</a> - Paul Jackson, 2015-02-03 14:08:24 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/5351245">Tabs: Fixed firing of the wb-updated event so it only fires on a tabpanel change</a> - Paul Jackson, 2015-02-03 14:23:37 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/6657bab">Theme: Added missing rel=external to external links</a> - Laurent Goderre, 2015-02-04 10:44:48 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/98284d5">Addresses #6206 and fixes #6148. Users can configure the AOI widget to be displayed by default and pre-load it with a bound box extent. Minor markup improvements.</a> - Joost van Ulden, 2015-02-04 15:49:00 -0800</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/5a43c47">Footnotes: Adjusted print SCSS to prevent URLs from appearing beside return links. Fixes #6500.</a> - Eric Dunsworth, 2015-02-05 16:25:21 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/08b6377">Menu: Fixed Javascript execution halted when non link, non heading text in secondary menu Fixes #6510</a> - Laurent Goderre, 2015-02-10 16:54:42 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/75e9675">Site: Fixed spacing/indentation issues throughout many HBS files. Ignored non-HTML code examples.</a> - Eric Dunsworth, 2015-02-11 00:28:50 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/25b8329">Build: Optimized the grunt file and fixed the watch target</a> - Laurent Goderre, 2015-02-12 11:25:16 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/e0fd33d">Updated Geomap documentation to reflect new and updated functionality.</a> - Joost van Ulden, 2015-02-12 10:10:40 -0800</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/2fc30f0">Fixed issue where base map attribution text is too large on mobile.</a> - Joost van Ulden, 2015-02-13 07:35:24 -0800</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/d05f721">Fixed issue where default attribution wasn't added to map.</a> - Joost van Ulden, 2015-02-13 09:01:03 -0800</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/60450f4">Multimedia: Fixed the need to play play twice at the end of video in IE Fixes #6052</a> - Laurent Goderre, 2015-02-16 11:06:37 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/5f25a19">Multimedia: Use the `playing` event because IE incorrectly implements the play event</a> - Laurent Goderre, 2015-02-16 13:06:46 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/a419908">DataTable: Fixed the page number when more than one datatable is on the page</a> - Laurent Goderre, 2015-02-16 13:54:17 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/847ce7c">DataTables: Fixed the display of the pagination icons in IE8</a> - Laurent Goderre, 2015-02-16 15:46:45 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/033834c">SCSS/Tabs Plugin: Reorganized src variables file and add customizable variables for tabs plugin</a> - melodyma, 2015-02-16 23:04:43 -0800</li>
		</ul>
	</section>
</section>
