---
{
	"title": "v4.0.8+2 - Notes d'utilisation",
	"language": "fr",
	"description": "v4.0.8+2 - Notes d'utilisation - Historique des versions - Boîte à outils de l'expérience Web (BOEW)",
	"altLangPrefix": "v4.0.8+2",
	"dateModified": "2014-11-21"
}
---
<ul>
	<li><strong>Date de lancement&#160;:</strong> <time>2014-11-21</time></li>
	<li><a href="../dwnld-fr.html#v4082">Téléchargements</a></li>
</ul>

<section>
	<h2>Quoi de neuf?</h2>
	<div lang="en">
	<p><strong>Needs translation</strong></p>
	<ul>
		<li><strong>Feeds</strong>: Added Pinterest Capability (Alpha)</li>
		<li><strong>Ajax Fetch</strong>: Fixed the plugin not working when triggered at the document level</li>
		<li><strong>Lightbox</strong>: Added support for auto-playing videos in a lightbox</li>
	</ul>
	</div>
</section>

<section>
	<h2>Détails</h2>
	<p><strong>Nombre des &#171;&#160;commits&#160;&#187;</strong> 8</p>
	<ul>
		<li><a href="https://github.com/LaurentGoderre">@LaurentGoderre</a>&#160;: 3 &#171;&#160;commits&#160;&#187;</li>
		<li><a href="https://github.com/masterbee">@masterbee</a>&#160;: 2 &#171;&#160;commits&#160;&#187;</li>
	</ul>
	<section>
		<h3>Liste des &#171;&#160;commits&#160;&#187;</h3>
		<ul lang="en">
			<li><a href="https://github.com/wet-boew/wet-boew/commit/b690ce0">Updated the build version to v4.0.9-development</a> - Laurent Goderre, 2014-11-20 16:57:58 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/c66fc8f">Fixed the download links for v4.0.8+1</a> - Laurent Goderre, 2014-11-20 17:31:11 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/2c7aa5f">[.gitignore] - added JetBrains IDE exclusions</a> - Mario Bonito, 2014-11-21 10:43:08 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/462dcc1">Feeds: Added Pinterest Capability (Alpha)</a> - Laurent Goderre, 2014-11-21 10:47:02 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/8525ed7">Ajax Fetch: Fixed the plugin not working when triggered at the document level</a> - Laurent Goderre, 2014-11-21 15:32:29 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/1b05e9d">Lightbox: Added support for auto-playing videos in a lightbox</a> - Mario Bonito, 2014-11-21 16:11:22 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/f79e511">Updated version to v4.0.8+2</a> - Laurent Goderre, 2014-11-21 16:15:33 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/213905d">Updated files for the v4.0.8+2 maintenance release</a> - Laurent Goderre, 2014-11-21 17:52:12 -0500</li>
		</ul>
	</section>
</section>
