---
{
	"title": "v4.0.34 - Notes de version",
	"language": "fr",
	"description": "v4.0.34 - Notes de version - Historique des versions - Boîte à outils de l'expérience Web (BOEW)",
	"altLangPrefix": "v4.0.34",
	"dateModified": "2020-03-19"
}
---
<p>Version 4.0.34</p>
<ul>
	<li><strong>Date de lancement&#160;:</strong>
		<time>2020-03-19</time>
	</li>
	<li><a href="../dwnld-archive-fr.html#v4034">Téléchargements</a></li>
</ul>
<div class="wb-prettify all-pre"></div>
<section>
	<h2>Quoi de neuf?</h2>
	<ul>
		<li>Styles et plugiciels
			<ul lang="en">
				<li>Minor - Share widget - Digg removed</li>
				<li>Minor - Share widget - Replace Bitly with TinyURL</li>
				<li>Minor - Share widget - WhatsApp added</li>
				<li>Minor - Filter - maxWidth function is added</li>
				<li>Patch - Bootstrap overrides: Disable text-decoration-skip-ink on <code>abbr[title]</code></li>
				<li>Patch - Text highlight - <code>txthl</code> class removed and <code>mark</code> tag is changed to have background as #ffff00 for WCAG compliance</li>
				<li>Patch - Table - Pagination Example (Bug Fix)</li>
				<li>Patch - Footnotes - aria-desribedby attr and dtId variable removed</li>
				<li>Patch - Light box - Event handler edited for closing a modal popup</li>
				<li>Patch - Share widget - Reddit icon added</li>
				<li>Patch - Toggle - prettify issues in demo pages fixed</li>
			</ul>
		</li>
		<li>Entretien
			<ul lang="en">
				<li>Build script - build script fixed by ignoring datepicker test</li>
				<li>Release notes updated to reflect build fix</li>
				<li>List of design decision updated</li>
				<li>CDTS Address link added to WET-Boew index page</li>
				<li>Links for release notes added</li>
				<li>Form validation - "chkbxrdio-grp" class added to some examples</li>
			</ul>
		</li>
		<li><a href="https://wet-boew.github.io/wet-boew/docs/ref/provisional-en.html">Provisoire</a> (Nouveau)
			<ul lang="en">
				<li>Provisional features page added</li>
				<li><code>[bgimg-srcset]</code> plugin added</li>
			</ul>
		</li>
	</ul>
	<section>
		<h3 id="implementation">Fichiers modifiés pour implémentation</h3>
		<ul>
			<li>JavaScript primaire&nbsp;:
				<ul>
					<li>wet-boew/js/wet-boew.js</li>
					<li>wet-boew/js/wet-boew.min.js</li>
				</ul>
			</li>
			<li>CSS primaire&nbsp;:
				<ul>
					<li>theme-wet-boew/css/theme.css</li>
					<li>theme-wet-boew/css/theme.min.css</li>
				</ul>
			</li>
			<li>Ressources:
				<ul>
					<li>wet-boew/assets/sprites_share.png</li>
				</ul>
			</li>
		</ul>
	</section>
	<section>
		<h3>Fureteurs supportés</h3>
		<p>Tel que défini par la <a href="https://wet-boew.github.io/wet-boew-documentation/decision/2.html" hreflang="en">Décision de conception 2&nbsp;: Fureteur supporté</a> (en anglais)</p>
		<ul>
			<li>Chrome 80</li>
			<li>Chrome 79</li>
			<li>Safari 13.0.5</li>
			<li>Firefox 72.0.2</li>
			<li>Firefox 71.0</li>
			<li>Firefox ESR - 68.6.0</li>
			<li>IE 11</li>
			<li>Edge 80.0.361.66</li>
		</ul>
	</section>
</section>
<section>
	<h2>Détails</h2>
	<p><strong>Nombre de contributions&nbsp;:</strong> 20</p>
	<ul>
		<li><a href="https://github.com/thekodester">Kody (@thekodester)</a>:5 contributions</li>
		<li><a href="https://github.com/namjohn920">John Nam (@namjohn920)</a>:5 contributions</li>
		<li><a href="https://github.com/EricDunsworth">Eric Dunsworth (@EricDunsworth)</a>: 4 contributions</li>
		<li><a href="https://github.com/duboisp">Pierre Dubois (@duboisp)</a>: 2 contributions</li>
		<li><a href="https://github.com/wonggra">wonggra (@wonggra)</a>: 1 contribution</li>
		<li><a href="https://github.com/shawnthompson">Shawn Thompson (@shawnthompson)</a>&nbsp;: 1 contribution</li>
		<li><a href="https://github.com/StdGit">Stephane Ducharme (@StdGit)</a>: 1 contribution</li>
		<li><a href="https://github.com/ipaksc">Ilya Pak (@ipaksc)</a>: 1 contribution</li>
		<li>Kody Duncan: 1 contribution</li>
	</ul>
	<section>
		<h3>Liste des contributions</h3>
		<ul>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/6e3367d6b">Remove Digg</a> - TheKodester, 2019-11-28 01:53:04 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/835cb1691">Bootstrap overrides: Disable text-decoration-skip-ink on abbr[title]</a> - Eric Dunsworth, 2019-12-12 13:19:02 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/7478539f3">Replace Bitly with TinyURL</a> - TheKodester, 2019-12-13 10:43:10 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/875a2ade3">Add WhatsApp (Share Plugin)</a> - TheKodester, 2019-12-13 11:06:37 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/52a664f0f">Update list of design decision</a> - Pierre Dubois, 2019-12-23 17:22:13 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/9b32cfb86">Create package.json file for wet-boew cdn</a> - Shawn Thompson, 2020-01-02 16:55:50 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/51f0e2b64">Pagination Example (Bug Fix)</a> - TheKodester, 2020-01-08 23:24:34 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/47e21464e">Remove Digg Logo</a> - TheKodester, 2020-01-08 23:24:58 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/9b89c7860">Provisional Features Added + both bgimg plugins</a> - John Nam, 2020-01-15 13:21:04 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/f3a52eb93">maxWidth function is added</a> - John Nam, 2020-01-20 19:31:38 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/cbf42e3a9">Add CDTS Address to WET-Boew index page Change the documentation link for CDTS to https://cenw-wscoe.github.io/sgdc-cdts/docs/index-en.html index-fr.html</a> - Stephane Ducharme, 2020-01-22 09:55:55 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/9cf19982c">txthl class removed</a> - John Nam, 2020-01-24 10:29:19 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/8992fa773">spelling fixed from provisonal to provisional</a> - John Nam, 2020-01-30 08:51:25 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/e689513a3">release note links added in download page</a> - John Nam, 2020-01-30 09:15:46 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/9d36eec92">Form validation: Add "chkbxrdio-grp" class to some examples</a> - Eric Dunsworth, 2020-02-04 14:00:40 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/9488744b9">Contenu - Mise à jour des décisions de conception</a> - Pierre Dubois, 2020-02-14 00:17:58 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/5288ca529">Edit event handler for closing a modal popup, when attribute target _blank is set</a> - ipaksc, 2020-02-25 12:52:35 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/591c120c8">Update the Reddit icon</a> - wonggra, 2020-03-03 14:25:42 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/13427aaea">Footnotes: Remove aria-desribedby attr and dtId var</a> - Eric Dunsworth, 2020-03-04 09:56:33 -0500</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/e660d1350">Toggle: Fix prettify issues in demo pages</a> - Eric Dunsworth, 2020-03-10 10:12:00 -0400</li>
		</ul>
	</section>
</section>
<section>
	<h2 id="sri">Intégrité des sous-ressource (SRI)</h2>
	<p>Le <a href="https://www.w3.org/TR/SRI/">SRI</a> (en anglais) est une méthode qui permet de protéger le transfère des resources d'un site web. Ci-dessous vous avez les condensés numériques pour les ressource clef de la BOEW et de GCWeb.</p>
	<section>
		<h3>v4.0.34</h3>
		<dl>
			<dt><code>wet-boew/js/wet-boew.min.js</code></dt>
			<dd><code>sha256-i2PUXXhQ7AzyEOCEARRHbp0bMR5THT4qeQ+iVMUpm8g= sha512-Ip8T3D+llxsOQoKLmh6TXuORI5mtmcAZr+NpXeVZieMQhWAEw7Zzw6XbVCsK3dG6dzmBHZX23sL3MJeYORdCjg==</code></dd>
		</dl>
		<p>Obtenez tous les condensés numériques (en format JSON)&nbsp;:</p>
		<ul>
			<li><a href="https://github.com/wet-boew/wet-boew-dist/blob/v4.0.34/wet-boew/payload.json">WET-BOEW</a></li>
			<li><a href="https://github.com/wet-boew/wet-boew-dist/blob/v4.0.34/theme-wet-boew/payload.json">WET-BOEW theme</a></li>
		</ul>
	</section>
</section>
