---
{
	"title": "ChangeLog de la version 4.0",
	"language": "fr",
	"description": "ChangeLog de la version 4.0 - Historique des versions - Boîte à outils de l'expérience Web (BOEW)",
	"altLangPrefix": "v4.0-changelog",
	"dateModified": "2014-06-17"
}
---
<p>Voir <a href="../version-info-fr.html">Contrôle des versions</a> pour la signification de chaque numéro de version.</p>

<section>
	<h2>v4.0.3</h2>
	<ul>
		<li><strong>Date de lancement&#160;:</strong> <time>2014-06-17</time></li>
		<li><a href="v4.0.3-fr.html">Notes d'utilisation<span class="wb-inv"> - v4.0.3</span></a></li>
		<li><a href="../dwnld-fr.html#v403">Téléchargements<span class="wb-inv"> - v4.0.3</span></a></li>
	</ul>

	<section>
		<h3>Quoi de neuf?</h3>
		<div lang="en">
		<p><strong>Needs translation</strong></p>
		<ul>
			<li><strong>Ajax fetch / Data Ajax / Menu:</strong> Now passing along AJAX status and messaging in Ajax fetch and only completing Data Ajax and Menu updates when there are no load errors</li>
			<li><strong>Archived:</strong> Removed duplicate icon</li>
			<li><strong>Calendar of events:</strong> Fixed arrowing to previous/next month</li>
			<li><strong>Calendar of events:</strong> Switched to only one link being in the tab order at a time</li>
			<li><strong>Calender of events / Date picker:</strong> Fixed application of colours to other themes</li>
			<li><strong>Core:</strong> Fixed gray-light so meets colour contrast against white backgrounds</li>
			<li><strong>Core:</strong> Fixed selector for wet-boew script element</li>
			<li><strong>Core:</strong> Preventing viewChange from removing all classes if executed too early. This is a failsafe for cases where viewChange is manually triggered too early.</li>
			<li><strong>CSS:</strong> Fixed colcount support for ordered lists</li>
			<li><strong>Date picker:</strong> Fixed listing of maximum month</li>
			<li><strong>Feeds:</strong> Added Facebook template for Facebook-driven feeds</li>		
			<li><strong>Form validation:</strong> Added ability to configure which fields for validation to ignore</li>		
			<li><strong>Form validation:</strong> Made labels for number and digit/numeric validation more accurate</li>
			<li><strong>Geomap:</strong> Added area of interest (AOI), geolcoation, and geocoding widgets</li>
			<li><strong>jQuery:</strong> Update to 1.11.1 and 2.1.1 patch releases</li>
			<li><strong>Lightbox:</strong> Fixed incorrect closing of AJAX popups.</li>
			<li><strong>Menu:</strong> Fixed order of navcurrent checking to go from more specific links to less specific links</li>
			<li><strong>Multimedia player:</strong> Added a volume control</li>
			<li><strong>Multimedia player:</strong> Added the ability to share a video</li>
			<li><strong>Multimedia player:</strong> Added WAI-ARIA properties to the toggle buttons (mute and cc)</li>
			<li><strong>Multimedia player:</strong> Dropped the fast forward and rewind buttons</li>
			<li><strong>Multimedia player:</strong> Fixed the audio player displaying as a video</li>
			<li><strong>Multimedia player:</strong> Fixed the display and positioning of the progress bar and the closed caption button</li>
			<li><strong>Multimedia player:</strong> Fixed the multimedia player in xxsmall view</li>
			<li><strong>Multimedia player:</strong> Increased the captions area to minimize shifting in mobile devices. Also centred captions vertically.</li>
			<li><strong>Multimedia player:</strong> Made the text always visible and the background for the controls lighter</li>		
			<li><strong>Multimedia player:</strong> Removed the overlay for the YouTube player. The overlay was overlapping all buttons rendering them non-functional.</li>
			<li><strong>Multimedia player:</strong> Unified the multimedia controls focus display</li>
			<li><strong>Share:</strong> Changed share widget from a right panel to a centred popup</li>
			<li><strong>Share:</strong> Removed Technorati option due to 404 error for faves option</li>
			<li><strong>Share:</strong> Removed underlining for space between link text and the share icon</li>
			<li><strong>Tabbed interface:</strong> Added ability to control rotation interval through data-wb-tabs</li>
			<li><strong>Tabbed interface:</strong> Carousels are now scalable so can fit in columns of varying sizes</li>
			<li><strong>Tabbed interface:</strong> Enabled tab count to be visible in extra-small view</li>
			<li><strong>Tabbed interface:</strong> Fixed fading effect</li>
			<li><strong>Tabbed interface:</strong> Stops carousel for any clicks within a tab panel</li>
			<li><strong>Tabbed interface / Multimedia player:</strong> Added example of the multimedia player embedded in a Tabbed interface carousel</li>
			<li><strong>Tabbed interface / Multimedia player:</strong> Automatically stops all multimedia players within the current tab panel when the tab panel changes</li>
			<li><strong>Tabbed interface / Multimedia player:</strong> Changed examples to use figure/figcaption</li>
			<li><strong>Tabbed interface / Multimedia player:</strong> Fixed z-index issue with multimedia players embedded in a tabs carousel</li>
		</ul>
		</div>
	</section>
</section>

<section>
	<h2>v4.0.2</h2>
	<ul>
		<li><strong>Date de lancement&#160;:</strong> <time>2014-05-21</time></li>
		<li><a href="v4.0.2-fr.html">Notes d'utilisation<span class="wb-inv"> - v4.0.2</span></a></li>
		<li><a href="../dwnld-fr.html#v402">Téléchargements<span class="wb-inv"> - v4.0.2</span></a></li>
	</ul>

	<section>
		<h3>Quoi de neuf?</h3>
		<div lang="en">
		<p><strong>Needs translation</strong></p>
		<ul>
			<li>Archived: Added underline to top overlay link</li>
			<li>Archived: Moved explanatory archived message to within archived section and corrected heading</li>
			<li>Archived: Updated archived notice heading</li>
			<li>Charts - Upgraded to Flot 0.8.3 and fixed the missing table caption issue</li>
			<li>Date picker: Fixed toggle button when secondary menu is present</li>
			<li>Definition lists: Allowed wrapping in dt elements of .dl-horizontal</li>
			<li>HTML Table Validator: Migrated to v4.0</li>
			<li>Lightbox: Fixed cursor hover over close button</li>
			<li>Lightbox: Fixed printing issues</li>
			<li>Menu: Fixed loading of extra language links in the mobile panel</li>
			<li>Slider polyfill: Replaced fd-slider with a custom version that allows dynamic creation of the polyfill</li>
			<li>Slider polyfill: Standardized event handling to address Android issues</li>
			<li>Tables: Added indication of current and future state to sorting icons</li>
			<li>Tables: Aligned pagination with Bootstrap pagination</li>
			<li>Tables: Fixed sorting of formatted numbers</li>
			<li>Tables: Moved showing x to x of x entries to the top of the table</li>
			<li>Tables: Now hiding deactivated pagination buttons</li>
			<li>Tables: Removed bolding from show and filter fields and updated example source code</li>
			<li>Tables: Updated to DataTables 1.10.0</li>
		</ul>
		</div>
	</section>
</section>

<section>
	<h2>v4.0.1</h2>
	<ul>
		<li><strong>Date de lancement&#160;:</strong> <time>2014-04-23</time></li>
		<li><a href="v4.0.1-fr.html">Notes d'utilisation<span class="wb-inv"> - v4.0.1</span></a></li>
		<li><a href="../dwnld-fr.html#v401">Téléchargements<span class="wb-inv"> - v4.0.1</span></a></li>
	</ul>

	<section>
		<h3>Quoi de neuf?</h3>
		<div lang="en">
		<p><strong>Needs translation</strong></p>
		<ul>
			<li>Build: Added SCSS-Lint to the Travis build</li>
			<li>Data-picture: Added support for data-class attribute</li>
			<li>Details/summary: Added indenting and margin bottom when details is open</li>
			<li>Documentation: Added a getting started guide</li>
			<li>Favicon: Updated plugin element selector</li>
			<li>Feedback form: Fixed triggering of the form validation plugin</li>
			<li>Lightbox: Fixed inner padding of AJAX modal dialog</li>
			<li>Lightbox: Popup now closes when navigating outside the popup</li>
			<li>Menu: Added support for additional footer links in the mobile panel</li>
			<li>Menu: Added support for more than just English and French</li>
			<li>Menu: Changed down triangle to chevron</li>
			<li>Menu: Fixed secondary menu links in mobile panel in IE8</li>
			<li>Menu: Removed underlining on menu hover</li>
			<li>Multimedia player: Fixed issues with the iPad player not preserving ratio</li>
			<li>Multimedia player: Fixed the display of the progress bar in Webkit</li>
			<li>Multimedia player: Fixed the YouTube player duration not updating properly</li>
			<li>Multimedia player: Hiding the close captions button on the audio player</li>
			<li>Multimedia player: Restored responsiveness for the YouTube player</li>
			<li>Overlay: Fixed incorrect overlay border in IE8</li>
			<li>Share widget: Removed DZone due to their broken login page redirect</li>
			<li>Tabbed interface: Fixed duplication of carousel play/pause button text when button is activated</li>
			<li>Tables: Added sorting for currency and formatted numbers</li>
			<li>Tables: Changed sort icons</li>
			<li>Web Accessibility Assessment Methodology: Fixed issue with AA total</li>
			<li>WET theme: Enabled secondary menu to work without the a element on the top header</li>
		</ul>
		</div>
	</section>
</section>

<section>
	<h2>v4.0.0</h2>
	<ul>
		<li><strong>Date de lancement&#160;:</strong> <time>2014-03-31</time></li>
		<li><a href="v4.0.0-fr.html">Notes d'utilisation<span class="wb-inv"> - v4.0.0</span></a></li>
		<li><a href="../dwnld-fr.html#v400">Téléchargements<span class="wb-inv"> - v4.0.0</span></a></li>
	</ul>

	<section>
		<h3>Quoi de neuf?</h3>
		<div lang="en">
		<p><strong>Needs translation</strong></p>
		<ul>
			<li>Buttons: Changed button borders to give them more depth</li>
			<li>Calendar of Events: Removed role='application'</li>
			<li>Core: Standardized WET data handling to data-wb-pluginName and global overrides to window[ pluginName ]</li>
			<li>CSS: Overrode the default width of 100% for form controls and added a class for enabling 100% width</li>
			<li>CSS: Fixed the sizes and top margins of heading elements</li>
			<li>CSS: Made footer visible in small view</li>
			<li>Form validation: Improved compatibility with name attributes containing periods</li>
			<li>Geomap: Fixed map not loading IE8 </li>
			<li>Input type='date' polyfill: Made close button label more meaningful</li>
			<li>Input type='date' polyfill: Changed toggle from button to link to prevent inadvertent triggering of the toggle</li>
			<li>Input type="date" polyfill: Fixed keyboard focus handling on calendar days</li>
			<li>Lightbox: Added focus redirection to prevent Jaws from exiting the Lightbox prematurely</li>
			<li>Markup: Fixed a validation error with favicon references</li>
			<li>Menu: Removed the box shadow from the sub menus, added wb-navcurr styling and changed the colour of the lines separating menu items</li>
			<li>Menu: Added support for wb-navcurr highlighting in the mobile panel</li>
			<li>Menu: Fixed display of non-section links and summary focus in mobile panel</li>
			<li>Menu: Made mobile panel button look more like a button</li>
			<li>Menu: Improved support for nested menu items</li>
			<li>Multimedia player: Added the ability to include the multimedia player in a tab panel</li>
			<li>Multimedia player: Fixed issue where the multimedia player would not initialize for dynamic elements</li>
			<li>Overlay: Ensured overlay is scrolled to the top when opened</li>
			<li>Pagination: Fixed the design of the pagination widget</li>
			<li>Share widget: Added ability to customize the link CSS and add sites to the panel</li>
			<li>Tabs: Updated the design of the accordion style in small view and under to better represent the relationship of the elements.</li>
			<li>Tabs: Fixed carousel-s2 display issue in small and extra-small view</li>

		</ul>
		</div>
	</section>
</section>

<section>
	<h2>v4.0.0 Candidat 1</h2>
	<ul>
		<li><strong>Date de lancement&#160;:</strong> <time>2014-03-18</time></li>
		<li><a href="v4.0.0-rc1-fr.html">Notes d'utilisation<span class="wb-inv"> - v4.0.0 Candidat 1</span></a></li>
		<li><a href="../dwnld-fr.html#v400rc1">Téléchargements<span class="wb-inv"> - v4.0.0 Candidat 1</span></a></li>
	</ul>

	<section>
		<h3>Quoi de neuf?</h3>
		<div lang="en">
		<p><strong>Needs translation</strong></p>
		<ul>
			<li>Geomap: Ported Charts plugin from WET v3.1.</li>
			<li>Share widget: Corrected share widget links</li>
			<li>Share widget: Added site filter</li>
			<li>Share widget: Added Yahoo! Mail, Gmail and mailto options</li>
			<li>Tabs: Changed top border, and background colours of tabs to make the active tab more distinctive</li>
			<li>Tabs: Changed the carousel tabbing order so previous/next are before the tabs</li>
			<li>Tabs: Reconfigured button locations and backgrounds of carousel style 2 in small view</li>
			<li>Tabs: Added Item x of n display for carousel in small view</li>
			<li>Multimedia player: Fixed display of buttons</li>
			<li>Form validation: Changed appearance of error summary and inline messages</li>
			<li>Menu: Changed secondary menu to a contextual menu</li>
			<li>Bootstrap: Switched to Sass variant</li>
			<li>Bootstrap: Overrode the default appearance of Bootstrap labels, alerts and btn-default</li>
			<li>WET theme: Removed role='contentinfo' from Date modified field</li>
			<li>Build: Added HTML validation</li>
			<li>Build: Added the i18n auto-generation of theme pages with strings from Google Docs</li>
			<li>Build: Separate IE8 uglify for ANSII issue</li>
		</ul>
		</div>
	</section>
</section>

<section>
	<h2>v4.0.0 Bêta 2</h2>
	<ul>
		<li><strong>Date de lancement&#160;:</strong> <time>2014-03-01</time></li>
		<li><a href="v4.0.0-b2-fr.html">Notes d'utilisation<span class="wb-inv"> - v4.0.0 Bêta 2</span></a></li>
		<li><a href="../dwnld-fr.html#v400b2">Téléchargements<span class="wb-inv"> - v4.0.0 Bêta 2</span></a></li>
	</ul>

	<section>
		<h3>Quoi de neuf?</h3>
		<div lang="en">
		<p><strong>Needs translation</strong></p>
		<ul>
			<li><strong>Breaking change:</strong> Feedback form JS and CSS are no longer included in the core files. The separate JS and CSS files need to be included in the page for the feedback form to work.</li>
			<li>Menu: Restructured the menus in the mobile panel, switching from a single WAI-ARIA accordion to multiple WAI-ARIA menus.</li>
			<li>Tabbed interface carousel: Corrected overlapping and clipping issues on small-screen smartphones.</li>
			<li>Secondary menu: Corrected structural issues and a disabled a non-functional link.</li>
			<li>Touchscreen: Corrected several touch-related issues with the menu bar, the mobile panel, accordions and details/summary.</li>
			<li>Localstorage: Prevented JS errors when localStorage becomes unavailable when the browser is in private mode.</li>
			<li>Overlay: Prevented the top overlay from overlapping content that gain focus (e.g., clicking a same-page link).</li>
			<li>Charts: Ported Charts plugin from WET v3.1.</li>
			<li>Themes: Ported the GC Web Usability, GC Intranet, Base and OGPL themes from WET v3.1.</li>
			<li>Share widget: Added the ability to share multiple different types of content on the same page.</li>
			<li>Web Accessibility Assessment Methodology: Ported the Web Accessibility Assessment Methodology from WET v3.1.</li>
			<li>RTL: Fixed numerous RTL issues with various plugins and themes</li>
		</ul>
		</div>
	</section>
</section>

<section>
	<h2>v4.0.0 Bêta 1</h2>
	<ul>
		<li><strong>Date de lancement&#160;:</strong> <time>2013-12-16</time></li>
		<li><a href="v4.0.0-b1-fr.html">Notes d'utilisation<span class="wb-inv"> - v4.0.0 Bêta 1</span></a></li>
		<li><a href="../dwnld-fr.html#v400b1">Téléchargements<span class="wb-inv"> - v4.0.0 Bêta 1</span></a></li>
	</ul>

	<section>
		<h3>Quoi de neuf?</h3>
		<div lang="en">
		<p><strong>Needs translation</strong></p>
		<ul>
			<li>New plugin framework based upon JavaScript Event Programming (JEP)</li>
			<li>Major reduction in total page sizes, page load times and page paint times (approximately an 80% decrease)</li>
			<li>Replaced grid system with Twitter Bootstrap</li>
			<li>Ported most v3.1 plugins and polyfills and optimized for touchscreen mobile devices</li>
			<li>Replaced mobile popups with a mobile panel, reducing the number of buttons for mobile to one</li>
			<li>Increased font size and spacing between touch targets to better support touchscreen devices</li>
			<li>New plugins: Data AJAX, Data-Inview, Equal height, Overlay, Toggle and Twitter Embedded Timeline</li>
			<li>Removed dependency on jQuery Mobile</li>
			<li>Page no longer refreshes when transitioning between views</li>
			<li>Replaced custom Ant build system with a build system based on Node.js, Grunt.js, Bower, Assemble and other well-supported build components</li>
		</ul>
		</div>
	</section>
</section>
