---
{
	"title": "v4.0.17 - Notes d'utilisation",
	"language": "fr",
	"description": "v4.0.17 - Notes d'utilisation - Historique des versions - Boîte à outils de l'expérience Web (BOEW)",
	"altLangPrefix": "v4.0.17",
	"dateModified": "2015-08-21"
}
---
<ul>
	<li><strong>Date de lancement&#160;:</strong> <time>2015-08-21</time></li>
	<li><a href="../dwnld-fr.html#v4017">Téléchargements</a></li>
</ul>

<section>
	<h2>Quoi de neuf?</h2>
	<div lang="en">
	<p><strong>Needs translation</strong></p>
	<ul>
		<li><strong>Datalist:</strong> Fix inconsistent matches between browsers</li>
		<li><strong>Feeds:</strong> Fix display of Youtube and Flickr feeds with quotes in them</li>
		<li><strong>Feedback:</strong> Fix placeholder select value</li>
		<li><strong>Twitter:</strong> Fix scrollbar during feed loading</li>
		<li><strong>Session Timeout:</strong> Add custom callback, data, and request method</li>
	</ul>
	</div>
</section>

<section>
	<h2>Détails</h2>
	<p><strong>Nombre des &#171;&#160;commits&#160;&#187;</strong> 25</p>
	<ul>
		<li><a href="https://github.com/nschonni">@nschonni</a>: 21 commits</li>
		<li><a href="https://github.com/LaurentGoderre">@LaurentGoderre</a>: 4 commits</li>
		<li><a href="https://github.com/MaximMartel">@MaximMartel</a>: 3 commits</li>
		<li><a href="https://github.com/pjackson28">@pjackson28</a>: 3 commits</li>
		<li><a href="https://github.com/andre-gh">@andre-gh</a>: 2 commits</li>
		<li><a href="https://github.com/bmadzar">@bmadzar</a>: 1 commits</li>
		<li><a href="https://github.com/stephenbe">@stephenbe</a>: 1 commits</li>
	</ul>
	<section>
		<h3>Liste des &#171;&#160;commits&#160;&#187;</h3>
		<ul lang="en">
			<li><a href="https://github.com/wet-boew/wet-boew/commit/9a6e647">Plugin Overlay : Darken background to allow a better contrast</a> - stephenbe, 2015-06-11 22:01:56 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/3155e61">Build: Run build on Travis-CI Docker setup</a> - Nick Schonning, 2015-07-16 01:59:39 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/8739c38">Build: Enable caching of node_modules</a> - Nick Schonning, 2015-07-16 02:13:14 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/39865f8">Build: Cache bower/lib folder</a> - Nick Schonning, 2015-07-16 02:26:25 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/a3b6de2">Build: Cache Bundler install</a> - Nick Schonning, 2015-07-16 03:43:00 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/4fe25a7">Build: Bump grunt-sass to 1.0.0</a> - Nick Schonning, 2015-07-17 00:14:51 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/6a6281e">Build: Bump html-linter to 2.3.0</a> - Nick Schonning, 2015-07-20 01:10:03 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/e80df7f">Build: Bump SCSS_Lint to 0.40.1</a> - Nick Schonning, 2015-07-20 02:49:01 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/a1137a2">Build: Fix SCSS-Lint issues</a> - Nick Schonning, 2015-07-20 02:50:25 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/bf94b46">Build: Bump Rake to 10.4.2</a> - Nick Schonning, 2015-07-20 02:50:26 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/e4a9011">Build: Add load-grunt-tasks to simplify config</a> - Nick Schonning, 2015-07-21 01:23:20 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/73bc688">Updated the build version to v4.0.17-development</a> - Maxim Martel, 2015-07-21 14:14:54 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/40e9071">Add release notes for v4.0.16.</a> - Maxim Martel, 2015-07-21 16:13:41 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/de85c7f">Session timeout: Add request method, additional data, custom callback Updated documentation for plugin</a> - Boris Madzar, 2015-07-22 00:51:56 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/1cbfbef">Form validation: Removed incorrect extension example and documentation</a> - Paul Jackson, 2015-07-22 09:33:28 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/d32a630">Twitter embedded timelines: Removed problematic text-indent from the loading animation</a> - Paul Jackson, 2015-07-22 11:21:45 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/6108061">Site: Added the missing v4.0.16 release info to the version index pages</a> - Maxim Martel, 2015-07-22 16:10:07 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/bdffe62">Build: Run Travis on Node 0.12</a> - Nick Schonning, 2015-07-22 23:10:25 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/19f03e6">Build: Bump grunt-html to 4.0.3</a> - Nick Schonning, 2015-07-23 03:05:56 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/6beada6">Bump: grunt-autoprefixer to 3.0.3</a> - Nick Schonning, 2015-07-24 00:52:28 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/4cbd616">Meter: Fix linear-gradient syntax</a> - Nick Schonning, 2015-07-24 00:54:08 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/121f4c9">Progress: Fix linear-gradient syntax error</a> - Nick Schonning, 2015-07-24 00:55:19 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/c300276">Build: Change wet-boew-postbuild to NPM</a> - Nick Schonning, 2015-07-24 01:41:27 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/42eeb28">Build: Optimized the uglify task and added sourcemap for the javascript</a> - Laurent Goderre, 2015-07-24 10:16:17 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/9a36e9d">Build: Fixed the tagging of the WET Theme CDN release tags</a> - Laurent Goderre, 2015-07-24 11:09:37 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/e74de37">CSS: Fixed the Bootstrap license block</a> - Laurent Goderre, 2015-07-24 14:46:34 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/179feec">Build: Bump JSCS to 2.0 and fix errors</a> - Nick Schonning, 2015-07-29 01:28:28 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/df20dfc">Build: Bump Grunt-Bootlint to 0.9.1</a> - Nick Schonning, 2015-07-31 00:07:15 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/4df0e7d">Build: Update grunt-contrib-jshint 0.11.2</a> - Nick Schonning, 2015-07-31 01:41:11 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/6b204fe">Build: Bump grunt-html to use the latest vnu.jar</a> - Nick Schonning, 2015-08-04 00:09:51 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/9dcd58d">Feedback: Fix placeholder select value</a> - Nick Schonning, 2015-08-04 00:13:02 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/6411282">Feeds: Escape quotes on properties.</a> - unknown, 2015-08-04 14:02:59 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/42140f6">Datalist polyfill: Changed string matching to be consistent with Chrome, Internet Explorer and Opera</a> - Paul Jackson, 2015-08-06 13:36:33 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/351caa3">Rename method</a> - unknown, 2015-08-10 13:52:51 -0400</li>
			<li><a href="https://github.com/wet-boew/wet-boew/commit/ab97ae2">Site: Removed unused file</a> - Laurent Goderre, 2015-08-18 15:01:18 -0400</li>
		</ul>
	</section>
</section>
