---
title: Data After
language: en
---
<section>
	<h2>{{title}}</h2>

	<section data-ajax-append="../data-before/data-ajax-extra.txt">
		<h3 id="anchor1">Hello World</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, dolorem explicabo perferendis vitae magnam nobis.</p>
	</section>
	<section data-ajax-append="../data-before/data-ajax-extra-2.txt">
		<h3 id="anchor1">Hello World - Part 2</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, dolorem explicabo perferendis vitae magnam nobis.</p>
	</section>

</section>
