---
{
	"title": "Méthodologie d’évaluation sur l’accessibilité des sites Web",
	"language": "fr",
	"category": "Autre",
	"categoryfile": "other",
	"description": "Offre une méthodologie d’évaluation qui permet de mesurer le degré de conformité aux Règles pour l’accessibilité des contenus Web (WCAG) 2.0 pour les critères de succès de niveau A, AA et AAA.",
	"altLangPrefix": "wamethod",
	"dateModified": "2014-08-15"
}
---
<span class="wb-prettify all-pre hide"></span>

<section>
	<h2>But</h2>
	<p>Offre une méthodologie d’évaluation qui permet de mesurer le degré de conformité aux Règles pour l’accessibilité des contenus Web (WCAG) 2.0 pour les critères de succès de niveau A, AA et AAA.</p>
</section>

<div lang="en">
<p><strong>Needs translation</strong></p>
<section>
	<h2>Utiliser afin</h2>
	<ul>
		<li>D'évaluer le degré de conformité aux Règles pour l’accessibilité des contenus Web (WCAG) 2.0 pour les critères de succès de niveau A, AA et AAA.</li>
	</ul>
</section>

<section>
	<h2>Exemples pratiques</h2>
	<p><a href="#">Liens au examples pratiques</a></p>
	<ul>
		<li><a href="../../../demos/wamethod/wamethod-AA-en.html">Exemple anglais (AA)</a>
		<li><a href="../../../demos/wamethod/wamethod-AAA-en.html">Exemple anglais (AAA)</a>
		<li><a href="../../../demos/wamethod/wamethod-AA-fr.html">Exemple français(AA)</a>
		<li><a href="../../../demos/wamethod/wamethod-AAA-fr.html">Exemple français (AAA)</a>
	</ul>
</section>

<section>
	<h2>Comment implémenter</h2>
	<ol>
		<li>Migrez les documents *.html, *.css et *.js dans demos/wamethod à la disposition et conception du site.</li>
	</ol>
</section>

<section>
	<h2>Code source</h2>
	<p><a href="https://github.com/wet-boew/wet-boew/tree/master/src/other/wamethod">Code source pour la méthodologie d’évaluation de l’accessibilité du web sur GitHub</a></p>
</section>
</div>
