---
{
	"title": "Web Accessibility Assessment Methodology",
	"language": "en",
	"category": "Other",
	"categoryfile": "other",
	"description": "Provides an assessment methodology that assists with measuring conformance to the Web Content Accessibility Guidelines (WCAG) 2.0 Level A, AA and AAA Success Criteria.",
	"altLangPrefix": "wamethod",
	"dateModified": "2014-02-19"
}
---
<span class="wb-prettify all-pre hide"></span>

<section>
	<h2>Purpose</h2>
	<p>Provides an assessment methodology that assists with measuring conformance to the Web Content Accessibility Guidelines (WCAG) 2.0 Level A, AA, and AAA Success Criteria.</p>
</section>

<section>
	<h2>Use when</h2>
	<ul>
		<li>Assessing conformance to the the Web Content Accessibility Guidelines (WCAG) 2.0 Level A, AA, and AAA Success Criteria.</li>
	</ul>
</section>

<section>
	<h2>Working example</h2>
	<p><a href="#">Link to a working example</a></p>
	<ul>
		<li><a href="../../../demos/wamethod/wamethod-AA-en.html">English example (AA)</a>
		<li><a href="../../../demos/wamethod/wamethod-AAA-en.html">English example (AAA)</a>
		<li><a href="../../../demos/wamethod/wamethod-AA-fr.html">French example (AA)</a>
		<li><a href="../../../demos/wamethod/wamethod-AAA-fr.html">French example (AAA)</a>
	</ul>
</section>

<section>
	<h2>How to implement</h2>
	<ol>
		<li>Migrate the *.html, *.css and *.js files in demos/wamethod to the website's layout and design.</li>
	</ol>
</section>

<section>
	<h2>Source code</h2>
	<p><a href="https://github.com/wet-boew/wet-boew/tree/master/src/other/wamethod">Web accessibility assessment methodology source code on GitHub</a></p>
</section>
