---
{
	"title": "Méthodologie d’évaluation sur l’accessibilité des sites Web",
	"language": "fr",
	"category": "Autre",
	"categoryfile": "other",
	"description": "Offre une méthodologie d’évaluation qui permet de mesurer le degré de conformité aux Règles pour l’accessibilité des contenus Web (WCAG) 2.0 pour les critères de succès de niveau A, AA et AAA.",
	"altLangPrefix": "wamethod",
	"dateModified": "2014-02-19"
}
---
<span class="wb-prettify all-pre hide"></span>

<section>
	<h2>But</h2>
	<p>Offre une méthodologie d’évaluation qui permet de mesurer le degré de conformité aux Règles pour l’accessibilité des contenus Web (WCAG) 2.0 pour les critères de succès de niveau A, AA et AAA.</p>
</section>

<div lang="en">
<p><strong>Needs translation</strong></p>
<section>
	<h2>Use when</h2>
	<ul>
		<li>Assessing conformance to the the Web Content Accessibility Guidelines (WCAG) 2.0 Level A, AA, and AAA Success Criteria.</li>
	</ul>
</section>

<section>
	<h2>Working example</h2>
	<p><a href="#">Link to a working example</a></p>
	<ul>
		<li><a href="../../../demos/wamethod/wamethod-AA-en.html">English example (AA)</a>
		<li><a href="../../../demos/wamethod/wamethod-AAA-en.html">English example (AAA)</a>
		<li><a href="../../../demos/wamethod/wamethod-AA-fr.html">French example (AA)</a>
		<li><a href="../../../demos/wamethod/wamethod-AAA-fr.html">French example (AAA)</a>
	</ul>
</section>

<section>
	<h2>How to implement</h2>
	<ol>
		<li>Migrate the *.html, *.css and *.js files in demos/wamethod to the website's layout and design.</li>
	</ol>
</section>

<section>
	<h2>Source code</h2>
	<p><a href="https://github.com/wet-boew/wet-boew/tree/master/src/other/wamethod">Web accessibility assessment methodology source code on GitHub</a></p>
</section>
</div>
