/*
  WET-BOEW
  @title: Details/summary polyfill pre-Modernizr CSS
 */
summary {
	// Make sure summary remains visible
	display: block !important;
}

details {
	// Prevent FOUC
	&:not([open]) {
		> {
			* {
				display: none;
			}
		}
	}
}

// Prevent FOUC when polyfill is disabled
.wb-disable {
	details {
		> {
			* {
				display: block !important;
			}
		}
	}
}
