/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 */
details {
	&:not([open]) {
		> {
			* {
				display: none;
			}
		}
	}
	summary { /* Make sure summary remains visible */
		display: block !important;
		&:hover {
			cursor: pointer;
		}
	}
}

/* Details/summary polyfill */
summary {
	cursor: pointer; /* Apply a pointer cursor upon hover to indicate it’s a clickable element. These styles can be applied regardless of whether the fallback is needed */
	&:hover, &:focus { /* Add focus styles (for keyboard accessibility) */
		color: #000;
		background: #ddd;
	}
}

.wb-disable {
	details {
		> {
			* {
				display: block !important;
			}
		}
	}
}
