---
{
	"title": "Correctif «details/summary» (contenu affichable/masquable)",
	"language": "fr",
	"category": "Correctif",
	"description": "Émule les éléments <details> et <summary> pour les navigateurs qui ne le supportent pas.",
	"tag": "details",
	"en": "details"
}
---
<style>
.example2 summary {
	background-color: #666;
	color: #FFF;
}
.example3 summary {
	background-color: #176CA7;
	color: #FFF;
	text-align: right;
	padding-right: 5px;
}
</style>

<p>Les éléments HTML5 «&#160;<code lang="en">details</code>&#160;» et «&#160;<code lang="en">summary</code>&#160;» sont utilisés pour fournir le contenu en arborescence affichable/masquable. Ce composant ajoute le soutien pour ces éléments dans les navigateurs qui n'ont pas déjà la prise en charge native.</p>

<section>
	<h2>Exemples</h2>

	<div class="row">
		<details class="col-sm-12">
			<summary>Exemple 1 (par défaut)</summary>
			<p>Le contenu d'exemple qui fournit plus de détails.</p>
			<table>
				<caption>Tasses de café bues par chaque député</caption>
				<thead>
				<tr>
					<th scope="col">Nom</th>
					<th scope="col">Tasses</th>
					<th scope="col">Type de café</th>
					<th scope="col">Sucre?</th>
				</tr>
				</thead>
				<tbody>
					<tr>
						<td>T. Sexton</td>
						<td>10</td>
						<td>Expresso</td>
						<td>Non</td>
					</tr>
					<tr>
						<td>J. Dinnen</td>
						<td>5</td>
						<td>Déca</td>
						<td>Oui</td>
					</tr>
				</tbody>
			</table>
		</details>
	</div>

	<div class="row">
		<details class="example2 col-sm-6">
			<summary>Exemple 2</summary>
			<p>Le contenu d'exemple qui fournit plus de détails.</p>
			<table>
				<caption>Tasses de café bues par chaque député</caption>
				<thead>
				<tr>
					<th scope="col">Nom</th>
					<th scope="col">Tasses</th>
					<th scope="col">Type de café</th>
					<th scope="col">Sucre?</th>
				</tr>
				</thead>
				<tbody>
					<tr>
						<td>T. Sexton</td>
						<td>10</td>
						<td>Expresso</td>
						<td>Non</td>
					</tr>
					<tr>
						<td>J. Dinnen</td>
						<td>5</td>
						<td>Déca</td>
						<td>Oui</td>
					</tr>
				</tbody>
			</table>
		</details>

		<details class="example3 col-sm-6">
			<summary>Exemple 3</summary>
			<p>Le contenu d'exemple qui fournit plus de détails.</p>
			<table>
				<caption>Tasses de café bues par chaque député</caption>
				<thead>
				<tr>
					<th scope="col">Nom</th>
					<th scope="col">Tasses</th>
					<th scope="col">Type de café</th>
					<th scope="col">Sucre?</th>
				</tr>
				</thead>
				<tbody>
					<tr>
						<td>T. Sexton</td>
						<td>10</td>
						<td>Expresso</td>
						<td>Non</td>
					</tr>
					<tr>
						<td>J. Dinnen</td>
						<td>5</td>
						<td>Déca</td>
						<td>Oui</td>
					</tr>
				</tbody>
			</table>
		</details>
	</div>
</section>
