/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 */
meter {
	width: 10em;
}

.meter {
	margin-bottom: 0;
}

.no-js {
	#decreaseMeter,
	#increaseMeter {
		display: none;
	}
}
