---
{
	"title": "Transitions",
	"language": "fr",
	"category": "Autre",
	"categoryfile": "other",
	"description": "Transitions CSS",
	"altLangPrefix": "transitions",
	"dateModified": "2014-03-31"
}
---
<span class="wb-prettify all-pre hide"></span>

<div lang="en">
<p><strong>Needs translation</strong></p>
<section>
	<h2>Purpose</h2>
	<p>A brief description of the component.</p>
</section>

<section>
	<h2>Use when</h2>
	<ul>
		<li>Use case 1</li>
		<li>Use case 2</li>
		<li>Use case 3</li>
	</ul>
</section>

<section>
	<h2>Do not use when</h2>
	<ul>
		<li>Use case 1</li>
		<li>Use case 2</li>
		<li>Use case 3</li>
	</ul>
</section>

<section>
	<h2>Working example</h2>
	<p><a href="#">Link to a working example</a></p>
</section>

<section>
	<h2>How to implement</h2>
	<ol>
		<li>Step 1</li>
		<li>Step 2
			<pre><code>Example code</code></pre>
		</li>
		<li>Step 3
			<pre><code>Example of multi-line code
Example of multi-line code
Example of multi-line code</code></pre>
		</li>
		<li>Step 4</li>
	</ol>
</section>

<section>
	<h2>Configuration options</h2>
	<p>Document the public configuration options that can be used by implementers or developers.</p>
	<table class="table">
		<thead>
			<tr>
				<th>Option</th>
				<th>Description</th>
				<th>How to configure</th>
				<th>Values</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Option 1</td>
				<td>Brief description of the option</td>
				<td>How to configure the option</td>
				<td>
					<dl>
						<dt>Value 1 (default):</dt>
						<dd>Brief description</dd>
						<dt>Value 2:</dt>
						<dd>Brief description</dd>
						<dt>Value 3:</dt>
						<dd>Brief description</dd>
					</dl>
				</td>
			</tr>
			<tr>
				<td>Option 2</td>
				<td>Brief description of the option</td>
				<td>How to configure the option</td>
				<td>
					<dl>
						<dt>Value 1 (default):</dt>
						<dd>Brief description</dd>
						<dt>Value 2:</dt>
						<dd>Brief description</dd>
						<dt>Value 3:</dt>
						<dd>Brief description</dd>
					</dl>
				</td>
			</tr>
		</tbody>
	</table>
</section>

<section>
	<h2>Events</h2>
	<p>Document the public events that can be used by implementers or developers.</p>
	<table class="table">
		<thead>
			<tr>
				<th>Event</th>
				<th>Trigger</th>
				<th>What it does</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Event 1</td>
				<td>When the event is triggered and how to trigger it manually (where supported)</td>
				<td>Brief description of what it does.</td>
			</tr>
			<tr>
				<td>Event 2</td>
				<td>When the event is triggered and how to trigger it manually (where supported)</td>
				<td>Brief description of what it does.</td>
			</tr>
		</tbody>
	</table>
</section>

<section>
	<h2>Source code</h2>
	<p><a href="#">Link to the folder on GitHub containing the files for the component</a></p>
</section>
</div>
