/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt
 */

@import '../../../grids/sass/includes/mixins';

#archived {
	background-color: #FFC;
	border: 1px solid #C00;
	h2 {
		background-color: #C00;
		color: #FFF;
		margin: 0;
		padding: 2px 0 2px 10px;
	}
	p {
		margin-left: 10px !important;
		margin-right: 10px !important;
	}
}

%archived-color-FFF {
	color: #FFF;
}

.archived {
	display: none;
	background-color: #C00;
	border: 1px solid #000;
	border-image: initial;
	clear: both;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 99999;
	line-height: normal;
	a {
		color: #333;
		padding: 0 0 2px 0;
		position: relative;
		text-shadow: none;
		&[href] {
			&:link {
				@extend %archived-color-FFF;
			}
			@include pseudo-focus {
				@extend %archived-color-FFF;
			}
		}
	}
	.archived-top-page {
		background-color: transparent;
		color: #FFF;
		display: block;
		font-size: 1.4em;
		font-weight: bold;
		text-align: center;
	}
}
