/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 */
%cal-color-fff {
	color: #FFF;
}
%cal-color-fff-important {
	color: #FFF !important;
}
%cal-background-333 {
	background: #333;
}
%cal-background-color-333 {
	background-color: #333;
}

.cal-cnt {
	.cal-header {
		@extend %cal-background-333;
		@extend %cal-color-fff;
		font-weight: 700;
	}
	.cal-nextmonth, .cal-prevmonth {
		a {
			&:link, &:visited {
				border: 1px solid #333;
			}
			@include pseudo-focus {
				@extend %cal-color-fff;
				border: 1px solid #FFF;
			}
		}
	}
	.cal-goto-link {
		a {
			&:link, &:visited {
				@extend %cal-color-fff-important;
			}
			@include pseudo-focus {
				color: #36C !important;
				background-color: #FFF;
			}
		}
	}
	.cal-goto {
		legend {
			@extend %cal-color-fff;
		}
	}
}

.cal-days {
	span.cal-empty, ol.cal-day-list li {
		border-style: solid;
		border-color: #AAA;
		background: #FFF;
	}
	span.cal-we, ol.cal-day-list li.cal-we {
		background: #EEE;
	}
	.cal-day-list {
		a {
			color: #111;
			@include pseudo-focus {
				@extend %cal-background-333;
				@extend %cal-color-fff-important;
			}
		}
	}
	.cal-currentday {
		@extend %cal-color-fff;
		a {
			&, &:link {
				@extend %cal-color-fff-important;
			}
		}
	}
}

.ui-mobile-viewport {
	div {
		&.cal-cnt {
			.cal-nextmonth, .cal-prevmonth {
				a {
					&:link, &:visited {
						border: none !important;
					}
				}
			}
		}
	}
}

ol {
	&.cal-weekdays {
		li {
			border-style: solid;
			border-color: #333;
			font-weight: bolder;
			background: #555;
			@extend %cal-color-fff;
		}
	}
}

div {
	&.cal-days {
		ol {
			&.cal-day-list {
				li {
					&.cal-currentday {
						@extend %cal-background-color-333;
					}
				}
			}
		}
	}
}

.cal-currentday {
	a {
		@extend %cal-background-color-333;
	}
}