/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt
 */
.cal-container {
	height: 22em;
	width: 18em;
	margin-top: 0.5em;
}

.cal-container-extended {
	height: 28em;
}

.cal-cnt {
	text-align: left;
	* {
		font-size: 100%;
	}
	.cal-header {
		overflow: hidden;
		padding: 0.5em 4px;
		text-align: center;
		width: 91%;
	}
	.cal-month {
		font-size: 110%;
	}
	.cal-goto {
		margin-left: 16px;
		p {
			float: left;
			width: 13.5em;
		}
	}
	.cal-goto-link {
		margin: 0 0 0.5em 0;
	}
	.cal-goto legend, .cal-goto-month, .cal-goto-year, .cal-goto-button {
		position: relative;
	}
	.cal-goto-month {
		width: 60%;
		float: right;
	}
	.cal-goto-year {
		width: 39%;
		float: left;
	}
	.cal-goto-button {
		margin: 0 10px 0 5px;
		float: left;
		input {
			padding: 0.1em 0.2em;
		}
	}
}

.cal-nextmonth , .cal-prevmonth {
	margin-bottom: -15px;
	img {
		margin: 0;
		vertical-align: middle;
	}
}

.cal-prevmonth {
	float: left;
	text-align: left;
}

.cal-nextmonth {
	float: right;
	text-align: right;
}

.cal-days ol.cal-day-list, .cal-cnt ol.cal-weekdays {
	list-style-type: none;
	margin: 0;
	padding: 0;
	li {
		margin: 0;
	}
}

.cal-days {
	a, div {
		height: 100%;
		width: 100%;
	}
	.cal-currentday {
		font-weight: bolder;
	}
}

div.cal-days, ol.cal-weekdays {
	margin: 0;
}

div.cal-days span.cal-empty, div.cal-days ol.cal-day-list li, ol.cal-weekdays li {
	position: relative;
	float: left;
	border-width: 0;
	border-left-width: 1px;
	border-bottom-width: 1px;
	width: 13%;
	text-align: center;
}

ol.cal-weekdays li.cal-wd7, div.cal-days ol.cal-day-list .cal-w1d7, div.cal-days ol.cal-day-list .cal-w2d7, div.cal-days ol.cal-day-list .cal-w3d7, div.cal-days ol.cal-day-list .cal-w4d7, div.cal-days ol.cal-day-list .cal-w5d7, div.cal-days ol.cal-day-list .cal-w6d7, div.cal-days span.cal-empty.cal-w5d7, div.cal-days span.cal-empty.cal-w6d7 {
	border-right-width: 1px;
	clear: right;
}

span.cal-empty, ol.cal-weekdays li, div.cal-days a, div.cal-days div {
	display: block;
	padding: 0.5em 0;
}
