/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt
 */
%charts-font-style-italic {
	font-style: italic;
}


/* Charts and Graph */
figure, figcaption {
    display: block;
}

figure {
	&.wb-charts {
		margin: 10px;
		padding: 5px;

		.pieLabel {
			font-size: 8pt;
			text-align: center;
			padding: 2px;
			color: #000;
			background-color: #fff;
			border: 1px solid black;
		}
		
		figcaption {
			padding: 5px;
			margin-bottom: 10px;
		}
		details {
			summary {
				@extend %charts-font-style-italic;
				padding-left: 5px;
			}
		}

		figure {
			margin-left: 0;
			margin-right: 0;

			figcaption {
				@extend %charts-font-style-italic;
			}
		}

	}
}
