/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-eng.txt / wet-boew.github.io/wet-boew/Licence-fra.txt
 */

/* Charts and Graph */
figure, figcaption {
    display: block;
}

figure {
	&.wb-charts {
		border: 1px solid black;
		margin: 10px;

		figcaption {
			border-bottom: 1px solid black;
			padding: 5px;
			margin-bottom: 10px;
		}
		details {
			summary {
				background-color: whitesmoke;
				padding-left: 5px;
			}

			table {
				margin-left: 0;
				margin-right: 0;
				margin-bottom: 0;
				td {
					background-color: white;
				}
			}
		}

		/* Add focus styles (for keyboard accessibility) */
		summary {
			@include pseudo-focus{
				background: #ddd;
			}
		}

		figure {
			margin-left: 0;
			margin-right: 0;

			figcaption {
				font-style: italic;
				text-align: center;
			}
		}

		ul {
			list-style-type: none;
		}
	}
}