/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-eng.html / wet-boew.github.io/wet-boew/Licence-fra.html
 */
%datepicker-color-fff-important {
	color: #FFF !important;
}
%datepicker-display-none {
	display: none;
}
%datepicker-display-inline {
	display: inline;
}
%datepicker-img-display-inline {
	img {
		@extend %datepicker-display-inline;
	}
}
%datepicker-margin-0 {
	margin: 0;
}
 
.cal-container {
	&.picker-overlay {
		position: absolute;
		z-index: 498 !important;
		margin-top: -2em;
	}
}

.picker-close {
	position: absolute;
	right: 17px;
	top: 5px;
	img {
		@extend %datepicker-margin-0;
	}
}

.picker-field {
	width: 7em;
}

.ui-mobile {
	.polyfill {
		&.picker-field {
			@extend %datepicker-display-inline;
		}
	}
	.picker-toggle-hidden {
		@extend %datepicker-img-display-inline;
	}
	.picker-toggle-visible {
		@extend %datepicker-img-display-inline;
	}
}

.picker-toggle {
	@extend datepicker-display-none;
}

.picker-toggle-visible, .picker-toggle-hidden {
	padding: 10px;
	img {
		@extend %datepicker-margin-0;
		vertical-align: middle;
		width: auto;
	}
	a {
		margin-left: 0.5em;
	}
}

div {
	&.cal-days {
		a {
			text-decoration: underline;
		}
		li {
			&.datepicker-selected {
				a {
					&, &:link {
						background-color: #333;
						@extend %datepicker-color-fff-important;
					}
				}
			}
		}
		a {
			&, &:link {
				color: #111;
			}
			@include pseudo-focus {
				@extend %datepicker-color-fff-important;
			}
		}
	}
}

.datepicker-format {
	@extend datepicker-display-none;
}

.datepicker-polyfill {
	.datepicker-format {
		@extend datepicker-display-inline;
	}
}