/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 */
%datepicker-display-none {
	display: none;
}
%datepicker-display-inline {
	display: inline;
}
 
.cal-container {
	&.picker-overlay {
		position: absolute;
		z-index: 498 !important;
		margin-top: -2em;
	}
}

.picker-close {
	position: absolute;
	right: 17px;
	top: 5px;
	img {
		margin: 0;
	}
}

.picker-field {
	width: 7em;
}

.ui-mobile {
	.polyfill {
		&.picker-field {
			@extend %datepicker-display-inline;
		}
	}
	.picker-toggle-hidden, .picker-toggle-visible {
		img {
			@extend %datepicker-display-inline;
		}
	}
}

.picker-toggle {
	@extend %datepicker-display-none;
}

.picker-toggle-visible, .picker-toggle-hidden {
	padding: 10px;
	img {
		margin: 0;
		vertical-align: middle;
		width: auto;
	}
	a {
		margin-left: 0.5em;
	}
}

div {
	&.cal-days {
		a {
			text-decoration: underline;
		}
		ol {
			&.cal-day-list {
				li {
					&.datepicker-selected {
						a {
							background-color: #333;
							color: #FFF;
						}
					}
				}
			}
		}
	}
}

.datepicker-format {
	@extend %datepicker-display-none;
}

.polyfill-datepicker {
	.datepicker-format {
		@extend %datepicker-display-inline;
	}
}