/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt
 */
div.cal-days a.calEvent {
	color:#FFF !important;
	background:#176ca7;
}

ul.ev-details {
	position:absolute;
	z-index:5;
	border:1px solid #333;
	width:10em;
	margin:0;
	margin-top:-0.5em;
	font-weight:normal;
}

ul.ev-details, ul.ev-details a {
	background-color:#FFF;
}

ul.ev-details a {
	padding:0.5em;
}

div.cal-days {
	ol.cal-day-list ul.ev-details li {
		border:0;
		width:100%;
		list-style-type:none;   
	}
	ol.cal-day-list ul.ev-details li {
		a, a:link {
			color:#000 !important;
			width: auto;
		}
		a:hover, a:focus, a:active {
			color:#FFF !important;
		}
	}
}