/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt
 */
.wet-boew-feedback {
	#web {
		label[for=otherprob] {
			display: inline;
		}
	}
	#web, #mobile, #computer, #info {
		display: none;
	}
	#complete {
		text-align: center;
		p strong {
			font-size: 110%;
		}
	}
}
.no-js {
	.wet-boew-feedback {
		#web, #mobile, #computer, #info {
			display: block;
		}
	}
}