/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt
 */
@import "compass/css3/inline-block";

/*SCSS Variables*/
$clrWhite: #FFF;
$clrLight: #EEE;
$clrDark: #555;

/*Default SCSS*/
.ie7 {
	.wet-boew-footnotes {
		@include inline-block;
		dl {
			dt {
				position: relative;
				float: left;
				margin-bottom: -1px;
			}
		}
	}
}

/*Screen SCSS*/
@media screen {
	.ie7 {
		.wet-boew-footnotes {
			dd {
				&.footnote-focus {
					background-color: $clrLight;
					border-color: $clrDark;
					p {
						&.footnote-return {
							a {
								color: $clrWhite !important;
								background-color: $clrDark;
								border-color: $clrDark;
							}
						}
					}
				}
			}
		}
	}
}

/*Print SCSS*/
@media print {
	.ie7 {
		.wet-boew-footnotes {
			dl {
				dd {
					overflow: auto;
				}
			}
		}
	}
	.ie8 {
		.wet-boew-footnotes {
			dl {
				dd {
					display: block;
					p {
						@include inline-block;
						&.footnote-return {
							display: block;
						}
					}
				}
			}
		}
	}
}