/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-eng.txt / wet-boew.github.io/wet-boew/Licence-fra.txt
 */
%formvalid-font-weight-700 {
	font-weight: 700;
}
%formvalid-display-block {
	display: block;
}
%formvalid-margin-top-1em {
	margin-top: 1em;
}
%formvalid-margin-right-0 {
	margin-right: 0;
}
%formvalid-error {
	@extend %formvalid-display-block;
	@extend %formvalid-font-weight-700;
	color: #c00;
}

.wet-boew-formvalid {
	label {
		@extend %formvalid-display-block;
		strong {
			&.error {
				@extend %formvalid-error;
			}
		}
	}
	legend {
		.error {
			@extend %formvalid-error;
		}
	}
	input {
		&[type=checkbox] {
			+ {
				label {
					display: inline;
					margin-top: 0;
				}
			}
		}
	}
}

.mobile-view {
	.wet-boew-formvalid {
		input {
			&[type=checkbox] {
				+ {
					label {
						@extend %formvalid-display-block;
					}
				}
			}
		}
		label {
			@extend %formvalid-margin-top-1em;
		}
		fieldset {
			@extend %formvalid-margin-top-1em;
		}
		legend {
			margin-bottom: -0.5em;
		}
		.buttons {
			margin-top: 2em;
		}
	}
}

div {
	&.errorContainer {
		p {
			margin-left: 0;
			@extend %formvalid-margin-right-0;
			@extend %formvalid-font-weight-700;
		}
		ul {
			margin-left: 30px;
			@extend %formvalid-margin-right-0;
			li {
				margin-bottom: 5px;
			}
		}
	}
}

.no-js {
	.wet-boew-formvalid {
		display: none;
	}
}