/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt
 */
%formvalid-font-weight-700 {
	font-weight: 700;
}
%formvalid-display-block {
	display: block;
}
%formvalid-margin-top-1em {
	margin-top: 1em;
}

.wet-boew-formvalid {
	label {
		@extend %formvalid-display-block;
		.error {
			@extend %formvalid-display-block;
			@extend %formvalid-font-weight-700;
			color: #c00;
		}
	}
	input {
		&[type=checkbox] {
			+ {
				label {
					display: inline;
					margin-top: 0;
				}
			}
		}
	}
}

.ui-mobile {
	.wet-boew-formvalid {
		input {
			&[type=checkbox] {
				+ {
					label {
						@extend %formvalid-display-block;
					}
				}
			}
		}
		label {
			@extend %formvalid-margin-top-1em;
		}
		fieldset {
			@extend %formvalid-margin-top-1em;
		}
		legend {
			margin-bottom: -1em;
		}
		.buttons {
			margin-top: 2em;
		}
	}
}

div {
	&.errorContainer {
		h2 {
			color: #8a1f11;
		}
		div {
			&.errorContainer {
				p {
					@extend %formvalid-font-weight-700;
				}
			}
		}
	}
}
.errorContainer {
	ul {
		li {
			margin-bottom: 5px;
		}
	}
}
.no-js {
	.wet-boew-formvalid {
		display: none;
	}
}