/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt
 */
.wet-boew-formvalid label, .ui-mobile .wet-boew-formvalid input[type=checkbox] + label {
	display: block;
}
.wet-boew-formvalid {
	label {
		.error {
			display: block;
			font-weight: bold;
			color: #c00;
		}
	}
	input[type=checkbox] {
		+ {
			label {
				display: inline;
				margin-top: 0;
			}
		}
	}
}

.ui-mobile {
	.wet-boew-formvalid {
		label {
			margin-top: 1em;
		}
		fieldset {
			margin-top: 1em;
		}
		legend {
			margin-bottom: -1em;
		}
		.buttons {
			margin-top: 2em;
		}
	}
}

div {
	&.errorContainer {
		h2 {
			color: #8a1f11;
		}
		div {
			&.errorContainer {
				p {
					font-weight: bold;
				}
			}
		}
	}
}
.errorContainer {
	ul {
		li {
			margin-bottom: 5px;
		}
	}
}
.no-js {
	.wet-boew-formvalid {
		display: none;
	}
}