/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-eng.txt / wet-boew.github.io/wet-boew/Licence-fra.txt
*/
@import "compass/css3/opacity";
@import "compass/css3/transition";

%geomap-overflow-cursor-move {
	cursor: move;
}
%geomap-position-absolute-bg-color-fff-opacity-05-font-size-1 {
	position: absolute;
	background-color: #fff;
	@include opacity(0.5);
	font-size: 1px;
}

/**
 *   Openlayer pan zoom bar button
 */
.olButton {
	height: 18px;
	width: 18px;
	img {
		left: 0;
		top: 0;
		float: left;
		margin: 0;
	}
}

.olControlpanup {
	left: 15px;
	top: 4px;
}

.olControlpanleft {
	left: 1px;
	top: 22px;
}

.olControlpandown {
	left: 15px;
	top: 40px;
}

.olControlpanright {
	left: 29px;
	top: 22px;
}

.olControlzoomin {
	left: 15px;
	top: 63px;
}

.olControlzoomout {
	left: 15px;
	top: 213px;
}

.olControlzoomworld {
	left: 15px;
	top: 234px;
}

.olControlSlider {
	height: 9px;
	width: 18px;
	img {
		height: 9px;
		width: 18px;
	}
}

.olControlBar {
	background-image: url("../images/geomap/zoombar.png") !important;
	height: 18px;
	width: 132px;
	left: 15px !important;
	top: 81px !important;
}

/*
 * When a potential text is bigger than the image it move the image
 * with some headers (closes #3154)
 */
.olControlPanZoomBar {
  div {
    font-size: 1px;
  }
}

div {
	&.olMap {	
		z-index: 0;
		padding: 0 !important;
		margin: 0 !important;
		cursor: default;
	}
	&.olMapViewport {
		text-align: left;
	}
	&.olLayerDiv {
		-moz-user-select: none;
		-khtml-user-select: none; 
		img {
			max-width: none !important;
		}
	}
	&.olControlMousePosition {
		bottom: 5px;
		left: 100px;
		display: block;
		position: absolute;
		font-family: Arial;
		font-size: smaller;
	}
	&.olControlZoom {
		position: absolute;
		top: 8px;
		left: 8px;
		background: rgba(255,255,255,0.4);
		border-radius: 4px;
		padding: 2px;
		a {
			display: block;
			margin: 1px;
			padding: 0;
			color: #fff;
			font-size: 18px;
			font-family: 'Lucida Grande', Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
			font-weight: 700;
			text-decoration: none;
			text-align: center;
			height: 22px;
			width: 22px;
			line-height: 19px;
			background: rgba(0, 60, 136, 0.5);
			@include pseudo-focus {
				background: rgba(0, 60, 136, 0.7);
			}
		}
	}
}

.olControlScale {
	right: 3px;
	bottom: 3em;
	display: block;
	position: absolute;
	font-size: smaller;
}

.olControlScaleLine {
	display: block;
	position: absolute;
	left: 10px;
	bottom: 10px;
	font-size: xx-small;
}

.olControlScaleLineBottom {
	border: solid 2px black;
	border-bottom: none;
	margin-top: -2px;
	text-align: center;
}

.olControlScaleLineTop {
	border: solid 2px black;
	border-top: none;
	text-align: center;
}

.olControlAttribution {
  bottom: 0px;
  right: 5px;
}

.olHandlerBoxZoomBox {
	border: 2px solid red;
	@extend %geomap-position-absolute-bg-color-fff-opacity-05-font-size-1;
}

.olHandlerBoxSelectFeature {
	border: 2px solid blue;
	@extend %geomap-position-absolute-bg-color-fff-opacity-05-font-size-1;
}

.olPopupContent {
  padding: 5px;
  overflow: auto;
}

.olPopupCloseBox {
	cursor: pointer;
}

.olFramedCloudPopupContent {
	padding: 5px;
	overflow: auto;
}

.olControlNoSelect {
	-moz-user-select: none;
	-khtml-user-select: none;
}

.olImageLoadError {
	background-color: pink;
	@include opacity(0.5);
}

/**
 * Cursor styles
 */
.olCursorWait {
	cursor: wait;
}

.olDragDown {
	@extend %geomap-overflow-cursor-move;
}

.olDrawBox {
	cursor: crosshair;
}

.olControlDragFeatureOver {
	@extend %geomap-overflow-cursor-move;
}

.olControlDragFeatureActive {
	&.olControlDragFeatureOver {
		&.olDragDown {
			cursor: -moz-grabbing;
		}
	}
}

/**
 * Animations
 */
.olLayerGrid {
	.olTileImage {
		@include transition(opacity 0.2s linear);
	}
}

.medium-screen {
  .wet-boew-geomap-legend {
    width: 100% !important;
  }
  .form-checkbox {
    display: block;
  }
}
  
/**
 * GeoMap
 */
.wet-boew-geomap {
	width: 100%;
	position: relative;
	border: 1px solid #CCC;
	&.active {
		border-color: #07F;
	}
}

.wet-boew-geomap-detail {
  margin-top: 10px;
  margin-bottom: 10px;
}
