/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-eng.txt / wet-boew.github.io/wet-boew/Licence-fra.txt
 */
@import "compass/css3/box-sizing";

//WET: This CSS is based off https://github.com/jackmoore/colorbox/blob/master/example3/colorbox.css
%wb-lightbox-position-absolute {
	position: absolute;
}
%wb-lightbox-text-indent-9999-font-size-1-color-fff {
	text-indent: 9999px;
	font-size: 1px;
	color: #fff;
}

%wb-lightbox-top-0 {
	top: 0;
}

%wb-lightbox-left-0 {
	left: 0;
}

%wb-lightbox-left-5-right-auto {
	left: 5px;
	right: auto;
}

%wb-lightbox-right-5-left-auto {
	right: 5px;
	left: auto;
}

%wb-lightbox-width-100-height-100 {
	width: 100%;
	height: 100%;
}

%wb-lightbox-z-index-9999-overflow-hidden {
	z-index: 9999;
	overflow: hidden;
}

%wb-lightbox-display-block {
	display: block;
}

%wb-lightbox-visibility-hidden {
	visibility: hidden;
}

%wb-lightbox-visibility-visible {
	visibility: visible;
}

%wb-lightbox-curson-pointer {
	cursor: pointer;
}

%wb-lightbox-clear-left {
	clear: left;
}

%wb-lightbox-border-none {
	border: none;
}

%wb-lightbox-background-color-transparent-border-none {
	background-color: transparent;
	@extend %wb-lightbox-border-none;
}

%wb-lightbox-box-sizing-content-box {
	@include box-sizing(content-box);
}

%wb-lightbox-overflow-visible {
	overflow: visible;
}

%wb-lightbox-padding-top-3 {
	padding-top: 3px;
}

%wb-lightbox-display-none {
	display: none;
}

%wb-lightbox-controls {
	background-image: url(../images/lightbox/controls.png);
	background-repeat: no-repeat;
	direction: ltr;
	text-indent: -9999px;
}

%wb-lightbox-top-50-width-28-height-65 {
	top: 50%;
	width: 28px;
	height: 65px;
}

%wb-lightbox-margin-top--32 {
	margin-top: -32px;
}

%wb-lightbox-focus-active-outline-0-border-1-dotted-000 {
	@include pseudo-focus(false) {
		outline: 0;
		border: 1px dotted #000;
	}
}

%wb-lightbox-color-ccc-text-shadow-none {
	color: #ccc;
	text-shadow: none;
}

%wb-lightbox-background-000 {
	background: #000;
}
	
#colorbox {
	@extend %wb-lightbox-position-absolute;
	@extend %wb-lightbox-top-0;
	@extend %wb-lightbox-left-0;
	@extend %wb-lightbox-z-index-9999-overflow-hidden;
	@extend %wb-lightbox-box-sizing-content-box;
	@extend %wb-lightbox-overflow-visible;
}

#cboxOverlay {
	@extend %wb-lightbox-position-absolute;
	@extend %wb-lightbox-top-0;
	@extend %wb-lightbox-left-0;
	@extend %wb-lightbox-z-index-9999-overflow-hidden;
	@extend %wb-lightbox-width-100-height-100;
	@extend %wb-lightbox-overflow-visible;
	@extend %wb-lightbox-background-000;
	position: fixed;
}

#cboxWrapper {
	@extend %wb-lightbox-position-absolute;
	@extend %wb-lightbox-top-0;
	@extend %wb-lightbox-left-0;
	@extend %wb-lightbox-z-index-9999-overflow-hidden;
	@extend %wb-lightbox-overflow-visible;
}

#cboxMiddleLeft {
	@extend %wb-lightbox-clear-left;
}

#cboxBottomLeft {
	@extend %wb-lightbox-clear-left;
}

#cboxContent {
	@extend %wb-lightbox-box-sizing-content-box;
	position: relative;
	margin: 19px 28px 1.5em 28px;
}

#cboxLoadedContent {
	@extend %wb-lightbox-box-sizing-content-box;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	border: 5px solid #000;
	background: #fff;
	+ {
		.cboxTitle {
			@extend %wb-lightbox-display-block;
		}
		.cboxCurrent {
			@extend %wb-lightbox-display-block;
		}
	}
}

#cboxLoadingOverlay {
	@extend %wb-lightbox-position-absolute;
	@extend %wb-lightbox-top-0;
	@extend %wb-lightbox-left-0;
	@extend %wb-lightbox-width-100-height-100;
	@extend %wb-lightbox-background-000;
}

#cboxLoadingGraphic {
	@extend %wb-lightbox-position-absolute;
	@extend %wb-lightbox-top-0;
	@extend %wb-lightbox-left-0;
	@extend %wb-lightbox-width-100-height-100;
	background: url(../images/lightbox/loading.gif) no-repeat center center;
}

.cboxPhoto {
	@extend %wb-lightbox-border-none;
	@extend %wb-lightbox-display-block;
	float: left;
	margin: auto;
	max-width: none;
}

.cboxIframe {
	@extend %wb-lightbox-width-100-height-100;
	@extend %wb-lightbox-display-block;
	@extend %wb-lightbox-border-none;
	background: #fff;
}

#cboxError {
	padding: 50px;
	border: 1px solid #ccc;
}

#cboxTitle {
	@extend %wb-lightbox-position-absolute;
	@extend %wb-lightbox-padding-top-3;
	@extend %wb-lightbox-color-ccc-text-shadow-none;
	@extend %wb-lightbox-display-none;
	margin: 0;
	@extend %wb-lightbox-left-5-right-auto;
	width: 70%;
	a {
		&, &.ui-link {
			@extend %wb-lightbox-color-ccc-text-shadow-none;
		}
	}
}

#cboxCurrent {
	@extend %wb-lightbox-position-absolute;
	@extend %wb-lightbox-padding-top-3;
	@extend %wb-lightbox-right-5-left-auto;
	@extend %wb-lightbox-color-ccc-text-shadow-none;
	@extend %wb-lightbox-display-none;
	width: 26%;
	text-align: right;
}

#cboxSlideshow {
	@extend %wb-lightbox-curson-pointer;
	@extend %wb-lightbox-position-absolute;
	top: -20px;
	right: 90px;
	color: #fff;
}

#cboxPrevious {
	@extend %wb-lightbox-curson-pointer;
	@extend %wb-lightbox-controls;
	@extend %wb-lightbox-position-absolute;
	@extend %wb-lightbox-top-50-width-28-height-65;
	@extend %wb-lightbox-margin-top--32;
	@extend %wb-lightbox-focus-active-outline-0-border-1-dotted-000;
	@extend %wb-lightbox-background-color-transparent-border-none;
	left: -28px;
	background-position: 100% 0;
	@include pseudo-focus {
		background-position: 100% 100%; //bottom right
	}
}

#cboxNext {
	@extend %wb-lightbox-curson-pointer;
	@extend %wb-lightbox-controls;
	@extend %wb-lightbox-position-absolute;
	@extend %wb-lightbox-top-50-width-28-height-65;
	@extend %wb-lightbox-margin-top--32;
	@extend %wb-lightbox-focus-active-outline-0-border-1-dotted-000;
	@extend %wb-lightbox-background-color-transparent-border-none;
	right: -28px;
	background-position: 0 0;
	@include pseudo-focus {
		background-position: 0 100%;
	}
}

#cboxClose {
	@extend %wb-lightbox-curson-pointer;
	@extend %wb-lightbox-position-absolute;
	@extend %wb-lightbox-controls;
	@extend %wb-lightbox-right-5-left-auto;
	@extend %wb-lightbox-display-block;
	@extend %wb-lightbox-focus-active-outline-0-border-1-dotted-000;
	@extend %wb-lightbox-background-color-transparent-border-none;
	top: -19px;
	background-position: 50% 0;
	width: 38px;
	height: 19px;
	@include pseudo-focus {
		background-position: 50% 100%;
	}
}

.lb-inline {
	@extend %wb-lightbox-display-none;
	@extend %wb-lightbox-visibility-hidden;
}

.lb-hidden-gallery {
	a {
		@extend %wb-lightbox-display-none;
		@extend %wb-lightbox-visibility-hidden;
	}
	li {
		&:first-child {
			a {
				display: inline;
				@extend %wb-lightbox-visibility-visible;
			}
		}
	}
}

.mobile-view {
	#cboxLoadedContent {
		> {
			*:not(img) {
				margin-left: 3px;
				margin-right: 3px;
			}
		}
	}
}

.pe-disable {
	.lb-inline {
		@extend %wb-lightbox-display-block;
		@extend %wb-lightbox-visibility-visible;
	}

	.lb-hidden-gallery {
		a {
			@extend %wb-lightbox-display-block;
			@extend %wb-lightbox-visibility-visible;
		}
	}
}

/* Right to left (RTL) CSS */
[dir="rtl"] {
	#cboxPrevious {
		@extend %wb-lightbox-text-indent-9999-font-size-1-color-fff;
	}
	#cboxNext {
		@extend %wb-lightbox-text-indent-9999-font-size-1-color-fff;
	}
	#cboxClose {
		@extend %wb-lightbox-text-indent-9999-font-size-1-color-fff;
		@extend %wb-lightbox-left-5-right-auto;
	}
	#cboxTitle {
		@extend %wb-lightbox-right-5-left-auto;
	}
	#cboxCurrent {
		@extend %wb-lightbox-left-5-right-auto;
		text-align: left;
	}
}