/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-eng.txt / wet-boew.github.io/wet-boew/Licence-fra.txt
 */
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/opacity";
@import "compass/css3/images";

.wet-boew-menubar {
	background-color: #1A3D6C;
	border-bottom: 4px solid #999;
	min-height: 28px;
	min-height: 2.187em;
}

.mb-menu {
	position: absolute;
	background-color: #1A3D6C;
	width: 100%;
	z-index: 500;
	float: left;
	&, li {
		list-style: none;
		min-height: 2.2em;
		margin: 0;
		padding: 0;
	}
	li {
		background-color: #1A3D6C;
		border-left: 1px solid #353;
		border-right: 1px solid #575;
		float: left;
		h3 {
			font-size: 100%;
			margin: 0;
			padding: 0;
		}
		&:first-child {
			&.mb-active {
				border-left: 1px solid #CCC;
			}
		}
		div {
			&.mb-sm {
				display: none;
				visibility: hidden;
			}
		}
	}
	a {
		text-align: left;
		white-space: nowrap;
		display: block;
		padding: 0.45em 1.72em 0.45em 0.79em;
		&, &.ui-link {
			font-weight: 700;
			&:link, &:visited {
				text-decoration: none;
				color: #fff;
			}
			@include pseudo-focus {
				text-decoration: underline;
			}
		}
		&.mb-has-sm {
			padding-right: 0.79em;
			&:hover {
				text-decoration: none;
			}
		}
		&.nav-current {
			background: #242;
			color: #fff;
		}
	}
	.mb-sm-open {
		a {
			white-space: normal;
			padding: 0.28em 0.79em;
			&, &:link, &:visited {
				color: #000;
			}
		}
		ul {
			list-style-type: none;
		}
		li {
			&, div {
				display: block;
				float: none;
				background: none;
				border: none;
				min-height: 0;
			}
			a, .ui-link {
				font-weight: 400;
			}
			&.top-level {
				margin-left: -15px;
				margin-top: 0.3em;
				&:first-child {
					margin-top: 0;
				}
				a, .ui-link {
					font-weight: 700;
				}
			}
		}
	}
	.expandicon {
		padding-right: 0.93em;
		background: url("../images/menubar/menu-arrow.gif") no-repeat right center;
	}
}

.mb-active {
	a {
		&:hover, &:link, &:visited {
			&.mb-has-sm {
				background-color: #CCC;
				color: #000;
				font-weight: 700;
			}
		}
	}
}

.mb-mega {
	.mb-sm-open {
		position: absolute;
		z-index: 499;
		background-color: #CCC;
		border-bottom: 4px solid #242;
		padding-top: 4px;
		@include border-radius(0 0 3px 3px);
		#{headings(2,4)}, .top-level {
			font-size: 1.2em;
			font-weight: 700;
			margin: 0;
			a, a.ui-link {
				font-weight: 700;
				text-decoration: underline;
				@include pseudo-focus {
					text-decoration: none;
				}
			}
		}
		ul {
			margin: 0 0 0 1.2em;
			padding: 0 0 1.15em;
			ul {
				padding: 0;
			}
		}
		.menu-col {
			float: left;
			min-width: 190px;
		}
	}
}

.mb-container {
	position: relative;
}

.mb-sm {
	.mb-highlights {
		&:first-child {
			margin-top: -10px;
		}
	}
	.clear {
		> {
			.mb-highlights {
				&:first-child {
					margin-top: 0;
				}
			}
		}
	}
}

.mb-main-link {
	background-color: #DDD;
	border-top: 1px solid #AAA;
	padding-left: 10px;
}

.mb-highlight {
	background-color: #DDD;
	border-top: 1px solid #AAA;
	border-bottom: 1px solid #AAA;
	margin-bottom: 10px;
	h4 {
		float: left;
		font-size: 1em !important;
		margin-left: 10px !important;
	}
	ul {
		margin: 0 !important;
		padding: 0.45em 0 !important;
		float: left;
	}
	li {
		float: left !important;
		width: auto;
		&:first-child {
			a {
				border-left: none;
			}
		}
		a {
			@include inline-block;
			border-left: 1px solid #999;
			padding: 0 1em !important;
		}
	}
}

/* Right to left (RTL) CSS */
[dir="rtl"] {
	.mb-menu, .mb-menu li {
		margin: 0 !important;
	}

	.mb-menu {
		float: right;
		li {
			float: right;

			&:first-child.mb-active {
				border-right: 1px solid #CCC;
			}
		}

		a {
			text-align: right;
			padding: 0.45em 0.79em 0.45em 1.72em;
			&.mb-has-sm {
				padding-left: 0.79em;
				padding-right: 0.79em;
			}
		}

		.mb-sm-open {
			li {
				&, div {
					float: none;
				}

				&.top-level {
					margin-left: auto;
					margin-right: -15px;
				}
			}
		}
		.expandicon {
			display: inline-block;
			padding-right: 0;
			padding-left: 0.93em;
			background-position: left center;
		}
	}

	.mb-mega {
		.mb-sm-open {
			ul {
				margin: 0 1.2em 0 0;
			}

			.menu-col {
				float: right;
			}
		}
	}

	.mb-main-link {
		padding-left: 0;
		padding-right: 10px;
	}

	.mb-highlight {
		h4 {
			float: right;
			margin-left: auto !important;
			margin-right: 10px !important;
		}

		ul {
			float: right;
		}

		li {
			float: right !important;

			&:first-child a {
				border-right: none;
			}

			a {
				border-left: none;
				border-right: 1px solid #999;
			}
		}
	}
}