/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 */
.ie7 {
	.mb-menu {
		position: relative;
	}

	&[dir="rtl"] {
		%menubar-ie7-rtl-float-fix {
			zoom: 1;
			float: none !important;
			display: inline;
		}

		.mb-sm-open {
			left: auto;
			right: 0;
			[class*="span-"] {
				zoom: 1;
				vertical-align: top;
				float: none !important;
				display: inline !important;
				padding-right: 10px;
			}
		}

		.mb-highlight {
			h4 {
				@extend %menubar-ie7-rtl-float-fix;
			}
			ul {
				@extend %menubar-ie7-rtl-float-fix;
			}
			li {
				@extend %menubar-ie7-rtl-float-fix;
			}
		}
	}
}