/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt
*/

%multimedia-ie-backbround-overlay {
	background: url('../images/multimedia/background-overlay.png') repeat 0 0;
}

.ie7 {
	.wet-boew-multimedia {
		.wb-mm-overlay {
			@extend %multimedia-ie-backbround-overlay;
		}
	}
	.wb-mm-controls {
		button {
			img {
				display: inline;
				height: 18px;
			}
		}

		.wb-mm-timeline-inner {
			progress {
				margin-top: -21px;
			}
		}
	}
}

.ie8 {
	.wet-boew-multimedia {
		.wb-mm-overlay {
			@extend %multimedia-ie-backbround-overlay;
		}
	}
}