/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-eng.txt / wet-boew.github.io/wet-boew/Licence-fra.txt
 */

/* Pretty printing styles. Used with prettify.js. */

/* SPAN elements with the classes below are added by prettyprint. */
.pln {
	color: #000
}	/* plain text */

@media screen {
	%prettify-screen-color-606 {
		color: #606;
	}
	%prettify-screen-color-660 {
		color: #660;
	}
	%prettify-screen-color-2F6D2F {
		color: #2F6D2F;
	}

	.str {
		@extend %prettify-screen-color-2F6D2F;
	}	/* string content - from #080 */
	.kwd {
		color: #024B6E;
	}	/* a keyword - from #008 */
	.com {
		color: #800;
	}	/* a comment */
	.typ {
		@extend %prettify-screen-color-606;
	}	/* a type name */
	.lit {
		color: #066;
	}	/* a literal value */
	/* punctuation, lisp open bracket, lisp close bracket */
	.pun {
		@extend %prettify-screen-color-660;
	}
	.opn {
		@extend %prettify-screen-color-660;
	}
	.clo {
		@extend %prettify-screen-color-660;
	}
	.tag {
		color: #125B7E; }	/* a markup tag name - from #008 */
	.atn {
		@extend %prettify-screen-color-606;
	}	/* a markup attribute name */
	.atv {
		@extend %prettify-screen-color-2F6D2F;
	}	/* a markup attribute value - from #080 */
	.dec {
		@extend %prettify-screen-color-606;
	}	/* a declaration */
	.var {
		@extend %prettify-screen-color-606;
	}	/* a variable name */
	.fun {
		color: red;
	}	/* a function name */
}

/* Use higher contrast and text-weight for printable form. */
@media print, projection {
	%prettify-print-projection-font-weight-700 {
		font-weight: 700;
	}
	%prettify-print-projection-color-006 {
		color: #006;
	}
	%prettify-print-projection-color-060 {
		color: #060;
	}
	%prettify-print-projection-color-440 {
		color: #440;
	}
	%prettify-print-projection-color-404 {
		color: #404;
	}

	.str {		@extend %prettify-print-projection-color-060;
	}
	.kwd {		@extend %prettify-print-projection-color-006;
		@extend %prettify-print-projection-font-weight-700;
	}
	.com {		color: #600;
		font-style: italic;
	}
	.typ {		@extend %prettify-print-projection-color-404;
		@extend %prettify-print-projection-font-weight-700;
	}
	.lit {		color: #044;
	}
	.pun {		@extend %prettify-print-projection-color-440;
	}
	.opn {
		@extend %prettify-print-projection-color-440;
	}
	.clo {
		@extend %prettify-print-projection-color-440;
	}
	.tag {		@extend %prettify-print-projection-color-006;
		@extend %prettify-print-projection-font-weight-700;
	}
	.atn {		@extend %prettify-print-projection-color-404;
	}
	.atv {		@extend %prettify-print-projection-color-060;
	}
}

pre {
	&.prettyprint {
		background-color: #f5f5f5;
		border: 1px solid #ddd;
		@include border-radius(3px);
		color: #707070;
		font-size: 95%;
		padding: 8px;
		/* Specify class=linenums on a pre to get line numbering */
		&.linenums {
			@include box-shadow(40px 0 0 #FBFBFC inset, 41px 0 0 #eee inset);
		}
	}
}
ol {
	&.linenums {
		margin: 0 0 0 32px !important;
		li {
			padding-left: 10px;
			text-shadow: 0 1px 0 #fff;
		}
	}
}