/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-eng.txt / wet-boew.github.io/wet-boew/Licence-fra.txt
 */
/* Create new top-level stacking context to prevent overlap */
.ie7 {
	.wet-boew-share {
		position: relative;
		z-index: 1;
		.bookmark_popup {
			right: 0;
			top: 1.5em;
		}
		.bookmark_list {
			a {
				img {
					vertical-align: middle;
				}
			}
		}
	}
}