/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-eng.html / wet-boew.github.io/wet-boew/Licence-fra.html
 */

.ie7 {
	&[dir="rtl"] #toggleLink {
		filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
		left: 0;
	}
	#toggleLink {
		filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
		right: 0;
	}
	#slideoutToggle {
		width: auto !important;
	}
	.so-ie7 {
		position: relative;
	}
}
.ie8 {
	#toggleLink {
		position: static;
	}
	#slideoutInnerWrapper {
		width: auto;
	}
	&[dir="rtl"] #slideoutToggle {
		filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
	}
	#slideoutToggle {
		filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	}
}