/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-eng.txt / wet-boew.github.io/wet-boew/Licence-fra.txt
 */
 
@import "compass/css3/transform";

.wet-boew-slideout {
	display: none;
}

.no-js {
	.wet-boew-slideout {
		display: block;
	}
}

#slideoutInnerWrapper {
	position: relative;
	width: 295px;
}

.slideoutWrapper { /* Follows on scrolling */
	margin-top: 4.7em;
	position: fixed;
	z-index: 1;
}

.slideoutWrapperRel { /* Does not follow on scrolling */
	float: right;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1;
}

.slideoutToggle {
	float: left;
	position: relative; /* Needed for animation */
}

#toggleLink {
	background-color: #369;
	border: 1px solid #000;
	border-bottom: 0;
	color: #FFF !important;
	cursor: pointer;
	display: block;
	margin: 0;
	padding: 5px;
	position: absolute;
	text-decoration: none;
	@include transform-origin(0, 0);
	@include transform(rotate(-90deg) translate(-100%, 0));
	white-space: nowrap;
}

.tabbedSlideout {
	background-color: #FFF;
	border: 1px solid #CCC;
	border-right: none;
	float: left;
	padding: 8px;
	position: relative;
	margin: auto;
	width: 245px;
	#slideoutClose {
		float: right;
	}
}

div {
	&.tabbedSlideout {
		h2 {
			margin: 0;
			padding: 0 5px 5px 5px;
			text-align: left;
		}
		ul, ol {
			margin: 0;
			list-style-type: none;
			padding: 0 5px;
		}
		li {
			margin: 6px 0;
			ul, ol {
				margin-left: 20px;
			}
		}
	}
}

/*Print SCSS*/
@media print {
	#slideoutWrapper {
		display: none;
	}
}