/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-eng.html / wet-boew.github.io/wet-boew/Licence-fra.html
 */

.ie7 {
	.tabs {
		li {
			display: inline;
			margin-right: 5px;
		}
	}
	.tabs-style-2 {
		.tabs {
			li {
				margin-right: 2px;
				margin-bottom: -6px;
				&.tabs-toggle {
					margin-right: -6px;
				}
			}
		}
	}
	.tabs-style-3 {
		.tabs {
			li {
				&.tabs-toggle {
					width: 29px;
					margin-right: 15px;
					a {
						&.tabs-start {
							margin-left: -15px;
						}
					}
				}
			}
		}
	}
	.tabs-style-4 {
		.tabs {
			li {
				margin-top: -3px;
			}
		}
	}
	.tabs-style-4, .tabs-style-5 {
		.tabs {
			li {
				margin-right: 0;
				a {
					margin-top: 0;
					top: 0;
				}
				&.tabs-toggle {
					margin-top: 0;
					display: inline !important;
				}
			}
		}
	}
	.tabs-style-6 {
		.tabs-panel {
			height: 1px;
		}
	}	
}

.ie8 {
	.tabs-style-2 {
		.tabs {
			li {
				margin-right: -2px !important;
				&.tabs-toggle {
					margin-right: -5px !important;
				}
			}
		}
	}
}