/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt
 */


/* Gradient (avoid encoding duplication) */
%tabbedinterface-gradient-background {
	background: url(../images/tabs/gradient.png) repeat-x 0 0 #eee;
}

%tabbedinterface-cursor-pointer {
	cursor: pointer;
}

%tabbedinterface-tabs-active {
	color: #333;
	padding-top: 5px;
	background: #fff;
	cursor: text;
}

%tabbedinterface-rel-external {
  a[rel="external"] {
    padding: 0 !important;
    background: 0 !important;
  }
}

.tabs {
    border-bottom: solid 1px #ccc;
    margin: 0;
    padding: 0;
    position: relative;
	li {
		@include inline-block;
		border: solid 1px #ccc;
		border-bottom: none;
		@include border-radius(2px 2px 0 0);
		a {
			@extend %tabbedinterface-gradient-background;
			display: block;
			text-decoration: none;
			color: #333;
			font-weight: 400;
			padding: 4px;
			position: relative;
			top: 1px;
			margin-top: -1px;
			&.active {
				@extend %tabbedinterface-tabs-active;
				@include pseudo-focus {
					@extend %tabbedinterface-tabs-active;
				}
			}
		}
		&.active {
			background: #fff;
			position: relative;
		}
		&.tabs-toggle {
			a {
				cursor: pointer;
				@include border-radius(2px);
				border: 1px solid #999;
				margin-right: 2px;
				@include pseudo-focus {
					text-decoration: underline;
					color: #000;
				}
				&.tabs-next, &.tabs-prev {
					padding: 2px 5px !important;
				}
				&.tabs-start, &.tabs-stop {
					padding: 2px 5px 2px 24px !important;
				}
				&.tabs-prev {
					background: url(../images/tabs/prev.gif) no-repeat center 5px #fff !important;
				}
				&.tabs-next {
					background: url(../images/tabs/next.gif) no-repeat center 5px #fff !important;
				}
				&.tabs-stop {
					background: url(../images/tabs/pause.png) no-repeat -1px 0 #fff !important;
				}
				&.tabs-start {
					background: url(../images/tabs/play.png) no-repeat -1px 0 #fff !important;
				}
			}
		}
	}
	a {
		line-height: normal;
	}
	.tabs-toggle {
		border: none;
		background: none;
	}
	&.started {
		a {
			&.active {
				@extend %tabbedinterface-cursor-pointer;
				@include pseudo-focus {
					@extend %tabbedinterface-cursor-pointer;
				}
			}
		}
	}
}

.tabs-panel {
    border: solid 1px #ccc;
    border-top: none;
    padding: 10px;
	> {
		div {
			display: none;
		}
	}
	#{headings(2,6)} {
		border: none;
	}
	.float-right {
		margin-left: 10px;
	}
	.float-left {
		margin-right: 10px;
	}
	> {
		div {
			&.active {
				display: block;
			}
		}
	}
}

.clear {
    clear: both;
    display: block;
    height: 0 !important;
    margin: 0;
    min-height: 0 !important;
    overflow: hidden;
    visibility: hidden;
    width: 0;
}

.tabs-roller {
    height: 100%;
    width: 0;
    position: absolute;
    top: 0;
    left: 0;
    cursor:pointer;
    background-color: #000;
    @include opacity(0.1);
}

/*with grids*/
.embedded-grid {
	&, .tabs-panel {
		border: none;
		padding: 0;
	}
	.tabs {
		margin: 0 10px 10px;
	}
}

.span-1, .span-2, .span-3, .span-4, .span-5, .span-6, .span-7, .span-8, .span-9, .span-10, .span-11, .span-12 {
	.tabs {
		margin: 0;
	}
}

%tabbedinterface-tab-style-1-active {
	color: #000;
	background: #fff;
	border-top: none;
	padding: 4px;
}

%tabbedinterface-no-repeat-border999 {
	background-repeat: no-repeat;
	background-position: -1px 0;
	border: 1px solid #999;
}

/* style 1 */
.tabs-style-1 {
    border: solid 1px #ccc;
    padding: 2px;
	.tabs {
		@extend %tabbedinterface-gradient-background;
		border: 1px solid silver;
		color: #222;
		font-weight: 700;
		padding: 2px 2px 0;
		li {
			a {
				background: #555 url(../images/tabs/gradient2.png) repeat-x  0 bottom;
				border-top: none;
				color: #fff;
				padding: 3px 4px 4px;
				@include pseudo-focus {
					@extend %tabbedinterface-gradient-background;
					color: #000;
					border-top: 1px solid #fff;
					padding-top: 1px;
				}
				&.active {
					@extend %tabbedinterface-tab-style-1-active;
					@include pseudo-focus {
						@extend %tabbedinterface-tab-style-1-active;
					}
				}
				&.tabs-start, &.tabs-stop {
					color: #000;
				}
			}
		}
		li {
			&.tabs-toggle {
				a {
					color: #000;
					@extend %tabbedinterface-no-repeat-border999;
					@include pseudo-focus {
						@extend %tabbedinterface-no-repeat-border999;
						color: #c00;
					}
					&.tabs-prev, &.tabs-next {
						background-position: center 5px;
					}
				}
			}
		}
	}
	.tabs-panel {
		border: none;
	}
}

%tabbedinterface-tab-style-2-active {
	background: #333;
	color: #fff;
	outline-color: #000;
	padding-top: 2px;
}

/* style 2 */
.tabs-style-2 {
    border: 0;
    padding: 0;
    position: relative;
    z-index: 1;
    margin: 0;
	.tabs {
		border: none;
		background: #eee;
		@include opacity(0.95);
		min-height: 24px;
		position: absolute;
		width: 100%;
		z-index: 2;
		padding-top: 1px;
		margin-top: 0;
		bottom: 0;
		left: 0;
		li {
			border: none;
			margin-right: -3px;
			width: auto;
			a {
				border: 1px solid #999;
				padding: 2px 5px;
				@include border-radius(2px);
				&.active {
					@extend %tabbedinterface-tab-style-2-active;
					@include pseudo-focus {
						@extend %tabbedinterface-tab-style-2-active;
					}
				}
			}
			&.active {
				border: none;
				top: auto;
				color: #fff;
			}
			&.tabs-toggle {
				@extend %tabbedinterface-gradient-background;
				margin-left: 6px;
				margin-right: -6px;
				a {
					background-color: transparent !important;
					@include pseudo-focus {
						color: #000;
					}
				}
			}
		}
	}
	.tabs-panel {
		border: none;
		min-height: 220px;
		background: url(../images/tabs/gradient3.png) repeat-x 0 bottom #555;
		color: #fff;
		margin: 0;
		padding: 0;
		a, a:visited, #{headings(2,6)} {
			color: #fff;
		}
	}
	.tabs-content-pad {
		padding: 10px 10px 36px;
	}
	.tabs-roller {
		background-color: #fff;
		@include opacity(0.25);
	}
}

%tabbedinterface-tab-style-3-active {
	background: #000;
	color: #fff;
	outline-color: #000;
	margin-right: 0;
	padding: 5px 5px 5px 25px;
	@include opacity(0.75);
	@include border-radius(3px 0 0 3px);
}

/* style 3 */
.tabs-style-3 {
    position: relative;
    z-index: 1;
    border: 1px solid #ccc;
    margin: 0;
    min-height: 220px;
    padding: 10px 0 10px 10px;
    @include border-radius(3px);
	.tabs {
		width: 34%;
		position: absolute;
		z-index: 3;
		border: none;
		margin: 20px 0 0;
		right: 0;
		li {
			border: none;
			margin: 0;
			width: 100%;
			a {
				display: block;
				border: none;
				text-decoration: none;
				background: transparent;
				padding: 5px 5px 5px 25px;
				&.active {
					@extend %tabbedinterface-tab-style-3-active;
					@include pseudo-focus {
						@extend %tabbedinterface-tab-style-3-active;
					}
				}
			}
			&.active {
				border: none;
				color: #fff;
			}
			&.tabs-toggle {
				width: auto;
				a {
					float: right;
					margin-top: 10px;
					border: 1px solid #ccc;
					@include pseudo-focus {
						@include opaque;
						color: #000;
						margin-right: 2px;
					}
				}
			}
		}
	}
	.tabs-panel {
		@extend %tabbedinterface-gradient-background;
		width: 66%;
		z-index: 1;
		border: none;
		background-position: 0 bottom;
		color: #333;
		margin: 0;
		padding: 0;
		min-height: 220px;
		z-index: 2;
		border: 1px solid #ccc;
	}
	.tabs-prev {
		margin-left: 15px;
	}
	.tabs-content-pad {
		padding: 10px;
	}
	.tabs-roller {
		background-color: white;
		@include opacity(0.2);
		@include border-radius(3px 0 0 3px);
	}
}


/* style 4 */
.tabs-style-4 {
    padding: 0;
	.tabs {
		font-weight: 700;
		margin-bottom: 2px;
		padding: 0 0 1px 0;
		height: auto !important;
		border: none;
		li {
			display: block;
			a {
				background: url(../images/tabs/gradient2-style4.png) repeat-x scroll 50% 50% #000;
				border-top: 1px solid #000;
				color: #FFF;
				font-size: 80%;
				margin: 0;
				padding: 2px;
				@include pseudo-focus {
					@extend %tabbedinterface-gradient-background;
					color: #000;
				}
				&.active {
					&, &:hover {
						background: none repeat scroll 0 0 #FFF;
						border: none;
						color: #000 !important;
						padding-top: 2px;
					}
				}
			}
			&.tabs-toggle {
				margin-top: 3px;
				@include inline-block;
				a {
					font-size: 100%;
					width: auto !important;
					color: #000 !important;
					border-top: 1px solid #999 !important;
					margin-right: 2px;
				}
			}
		}
	}
	.tabs-panel {
		border: none;
		margin: 0;
		padding: 0;
		img {
			display: block;
			margin-bottom: 0;
		}
		@extend %tabbedinterface-rel-external;
	}
}

.wb-sup-def {
	.tabs-style-4 {
		padding: 0;
	}
	.tabs-style-5 {
		padding: 0;
		.tabs {
			margin-bottom: 1px;
		}
		.tabs-toggle {
			margin-left: 9px !important;
		}
	}
	.tabs {
		margin-left: -1px;
		padding: 0;
		li {
			padding-left: 0;
			margin-left: 0;
			a:visited {
				color: #FFF;
			}
		}
		a {
			&.active {
				&, &:hover {
					color: #000 !important;
				}
			}
		}
	}
	.tabs-toggle {
		margin-left: 2px !important;
	}
}


/* style 5 */
.tabs-style-5 {
    padding: 0;
	.tabs {
		border: none;
		top: 3px;
		li {
			display: none;
			&.tabs-toggle {
				@include inline-block;
				a {
					display: block;
					width: auto;
				}
			}
		}
	}
	.tabs-panel {
		border: none;
		margin: 0;
		padding: 0;
		img {
			display: block;
			margin-bottom: 0;
		}
		@extend %tabbedinterface-rel-external;
	}
}

.ui-mobile {
	.tabs-style-1, .tabs-style-3 {
	    border: none;
		padding: 0;
	}
}

.pe-disable {
	.tabs-panel > div {
		display: block;
	}
}

.ie9 {
	.tabs-style-2 {
		.tabs {
			li {
				a {
					display: inline;
				}
			}
		}
	}
	.tabs-style-3 {
		.tabs {
			li {
				&:not(.tabs-toggle) {
					display: inline;
				}
			}
		}
	}
}