/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt
 */
.ie8 {
	.tabs-roller {
		@include opacity(0.1);
	}
	.tabs-style-2 {
		.tabs {
			@include opacity(0.95);
			li {
				margin-right: -2px !important;
				&.tabs-toggle {
					margin-right: -5px !important;
				}
			}
		}
		.tabs-roller {
			@include opacity(0.25);
		}
	}
	.tabs-style-3 {
		.tabs {
			li {
				a {
					&.active, &:hover, &:focus, &:active {
						@include opacity(0.75);
					}
				}
				&.tabs-toggle {
					a {
						&:hover, &:focus, &:active {
							@include opaque;
						}
					}
				}
			}
		}
		.tabs-roller {
			@include opacity(0.2);
		}
	}
	.tabs-style-6 {
		.tabs {
			li {
				&.img {
					a {
						filter:alpha(opacity=50);						
						&:hover, &.active, &.active:hover:focus:active {
							filter:alpha(opacity=100);
						}
					}
				}				
			}
		}
		.tabs-roller {
			filter:alpha(opacity=50);
		}
	}
}