/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 */
.wet-boew-texthighlight {
	.texthighlight {
		background-color: #ff0;
		color: #000;
		font-weight: bold;
	}
}