/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt
 */
.guidance-block {
	h2 {
		margin-left: 10px;
		color: #000;
		font-weight: bold;
		border-top: 1px solid #CCC;
		padding-top: 30px;
		margin-top: 0;
	}
	ol {
		list-style: none;
		padding-left: 0;
		margin: 0;
	}
	li {
		padding: 10px 0 1px 0;
		margin: 0 10px !important;
	}
	.wet-boew-zebra {
		li {
			&.list-even {
				background-color: #FFF !important;
			}
			&.list-hover {
				background-color: #DCD8BD !important;
			}
		}
	}
	fieldset {
		border: none;
		padding: 0.5em;
		margin: 0;
	}
	legend {
		display: block;
		margin: 0;
		padding: 0;
		white-space: normal;
		float: left;
		width: 70%;
		&.fra {
			width: 60%;
		}
	}
	label {
		padding: 0 0.2em;
	}
	.box, .box-fra {
		float: right;
		text-align: right;
		width: 30%;
	}
	.box-fra {
		width: 40%;
	}
}

.guidance-sub-block {
	#{headings(2,3)} {
		color: #000;
		font-size: 1.25em;
		border-bottom: none;
		font-weight: bold;
		margin-top: 0;
	}
	#{headings(2,4)}, p {
		margin-left: 20px;
	}
	p, ul {
		margin-top: 10px;
	}
}

.guidance-sub-block3-top {
	h3 {
		float: left;
		margin-top: 0;
		margin-right: 20px;
	}
	h4 {
		font-weight: bold;
		font-size: 1.1em;
	}
	h4, ul {
		margin-left: 20px;
		margin-right: 20px;
	}
	ul {
		list-style-type: none;
	}
	p {
		margin-bottom: 0;
	}
}

.guidance-sub-block3-top, .guidance-sub-block3-top-round, .guidance-sub-block3-bottom-round {
	background: #F3F3F3;
}

.guidance-sub-block3-top-round {
	@include border-radius(20px 20px 0 0);
	height: 20px;
}

.guidance-sub-block3-bottom-round {
	@include border-radius(0 0 20px 20px);
	height: 20px;
}

.wet-boew-wamethod {
	label {
		display: inline;
	}
	legend {
		font-size: 100%;
		&:after {
			border-top: none;
			height: auto;
		}
	}
}

#summary-div {
	margin: 0 20px;
}
#summary {
	width: 100%;
	th {
		width: 79%;
		text-align: left;
		background-color: #DDD;
		border: 1px solid #CCC;
		padding: 5px;
	}
	td {
		width: 21%;
		text-align: right;
		border: 1px solid #CCC;
		padding: 5px;
		background-color: #FFF;
	}
}
.summary-border {
	border-top: 2px solid #000;
}