/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 */

@import "compass/css3/border-radius";

%webwidget-fontsize-90 {
	font-size: 90%;
}
%webwidget-twitter-timeline-ul {
	@extend %webwidget-fontsize-90;
	min-height: 50px;
	overflow: auto;
	background: #fff;
	border: 1px solid #ccc;
	margin: 0 !important;
	padding: 5px !important;
}
%webwidget-color-707070 {
	color: #707070;
}

.no-js {
	.wet-boew-webwidget {
		li {
			display: block;
		}
	}
}
.pe-disable {
	.wet-boew-webwidget {
		.twitter-timeline {
			text-indent: 0 !important;
		}
	}
}

.wet-boew-webwidget {
	background: {
		repeat: repeat-x;
		position: 0 0;
		color: #e0e2e4 !important;
		image: url(../images/webfeeds/gradient.png) !important;
	}
	@extend %webwidget-color-707070;
	.twitter-timeline {
		a {
			&:link, &:visited {
				@extend %webwidget-color-707070;
			}
		}
		.stats span, .byline, .retweet-credit, .no-more-pane, .no-tweets-pane p, .p-geo, .cards-base .byline-user, tweet-box-button {
			@extend %webwidget-color-707070;
		}
	}
	li {
		display: none;
		margin: 0 !important;
		padding: 0 0 10px 0 !important;
		float: none;
		a {
			img {
				margin-right: 5px;
			}
		}
	}
	.widget-state-loading {
		display: block !important;
		margin: auto;
		width: 100%;
		line-height: 60px;
		text-align: center;
		text-indent: 0;
		img {
			margin: auto;
			height: auto !important;
			width: auto !important;
			vertical-align: middle;
		}
	}
	a {
		text-decoration: none;
		font-weight: 700;
		background-image: none !important;
		margin-right: auto !important;
		&.widget-notice {
			text-decoration: underline;
		}
		&.twitter-timeline {
			display: block;
			text-indent: -9999px;
			@extend %webwidget-twitter-timeline-ul;
		}
	}
	.widget-container {
		border: 1px solid #ccc;
		padding: 10px !important;
	}
	#{headings(2,6)} {
		font-weight: 700;
		font-size: 100%;
		margin: 4px 0 0 0;
		padding: 4px;
		@include border-radius(0);
	}
	ul {
		list-style-type: none !important;
		@extend %webwidget-twitter-timeline-ul;
		&.tweet-actions {
			visibility: visible !important;
		}
	}
	p {
		&.widget-lang {
			margin: 0;
		}
	}
	.widget-lang {
		a {
			&, &:visited, &:hover {
				color: #000;
				font-weight: 400;
				text-align: center;
				background: #fff;
				font-size: 90%;
				float: right;
				border: 1px solid #ccc;
				border-top: 0;
				margin: 0;
				padding: 2px 4px !important;
			}
		}
	}
	.widget-add {
		background: #fff;
		padding: 0 10px;
		p {
			text-align: center;
			margin: 0;
		}
		a {
			color: #333;
			border: 3px double #ccc;
			border-top: 0;
			padding: 3px;
		}
	}
	.widget-add, .widget-lang {
		a {
			&:hover {
				color: #c00;
			}
		}
	}
	.widget-avatar {
		margin-right: 5px !important;
		height: auto !important;
		width: auto !important;
		border: 1px solid #ccc !important;
		background: #EEE;
		padding: 2px;
		vertical-align: middle;
	}
	.widget-datestamp {
		@extend %webwidget-fontsize-90;
	}
	.widget-datestamp-accent {
		@extend %webwidget-fontsize-90;
		color: #781a21 !important;
		white-space: nowrap;
	}
}
