/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-eng.txt / wet-boew.github.io/wet-boew/Licence-fra.txt
 */

/* IE7 hacks - should be in an IE7 only .css */
.ie7 {
    ol.wet-boew-zebra {
		> {
			li {
				padding-left: 10px;
				list-style: decimal inside;
			}
		}
		ol {
			li {
				list-style: lower-alpha outside;
			}
			ol {
				li {
					list-style: lower-roman outside;
				}
			}
		}
	}
}