/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt
 */
%zebra-list-odd-list-even-border-none {
	&.list-odd {
		border: none;
	}
	&.list-even {
		border: none;
	}
}

ul {
	&.wet-boew-zebra {
		li {
			 list-style-type: none;
			li {
				list-style-type: none; 
			}
		}
	}
}

ol, ul {
	&.wet-boew-zebra {
		margin: 5px 0 10px 0;
		li {
			margin-bottom: 2px;
			margin-right: 0;
			padding: 10px;
		}
	}
}

ol {
	&.wet-boew-zebra {
	   padding: 0;
	   list-style-type: decimal;
	   counter-reset: li;

		> {
			li {
				/* Make room for the number you add with :before */
				padding-left: 2em;
				position: relative;
				list-style: none;
				&:before {
					/* Add the number using the counter and increment */
					content: counter(li) '. ';
					counter-increment: li;
					position: absolute;
					left: 5px;
				}
			}
		}

		ol {
			li {
				padding-left: 0;
				&:before {
					content: normal;
				}
			}
		}
	}
}
.module-comment ol.wet-boew-zebra, ol.wet-boew-zebra.module-comment, ol.wet-boew-zebra.list-bullet-none {
	> {
		li {
			&:before {
				content: normal;
				counter-increment: none;
				position: static;
				left: auto;
			}
		}
	}
}

.module-comment ol.wet-boew-zebra, ol.wet-boew-zebra.module-comment {
	ol {
		li {
			list-style-type: none;
		}
		ol {
			li {
				list-style-type: none;
			} 
		}
	}
}

dl {
	&.wet-boew-zebra {
		margin-left: 0;
	}
}

.wet-boew-zebra {
	
	/* Definition list */
	dl {
		margin-left: 0;
	}
	dd {
		padding: 10px;
		margin-left: 0;
		@extend %zebra-list-odd-list-even-border-none;
	}
	dt {
		padding: 10px;
		@extend %zebra-list-odd-list-even-border-none;
		font-weight: 700;
		margin-top: 2px;
	}

	
	dt, dd {
		&.list-even {
			background-color: #ddd;
			border: 1px solid #CCC;
		}
		&.list-odd {
			background-color: #eee;
			border: 1px solid #CCC;
		}
		&.list-hover {
			background-color: #f0fcff;
		}
	}
	
	
	/* Ordered and Unordered list */
	> li {
		&:nth-child(2n) {
			background-color: #ddd;
			border: 1px solid #CCC;
		}
		&:nth-child(2n + 1) {
			background-color: #eee;
			border: 1px solid #CCC;
		}
		&:hover {
			background-color: #f0fcff;
		}
	}
	
	/* Style Alterwg (Alternate White and Gray stripe) */
	&.alterwg {
		> li {
			&:nth-child(2n) {
				background-color: #ddd;
				border: none;
			}
			&:nth-child(2n + 1) {
				background-color: #fff;
				border: none;
			}
		}
		
		dt, dd {
			&.list-even {
				background-color: #ddd;
				border: none;
			}
			&.list-odd {
				background-color: #fff;
				border: none;
			}
		}
		
		&.zebra-hover {
			li, dt, dd {
				&.list-hover, &:hover {
					background-color: #f0fcff;
				}
			}
		}
	}
	
	/* Option about to apply no Margin on a Zebra list  */
	&.nomargin {
		margin: 0;
	}
	
	/* 
	 * 
	 * Table Zebra Stripping 
	 * 
	 * */
	 
	/* Scope of cells */
	td {
		&.table-keycell {
			padding: 8px;
		}
		&.table-desccell {
			font-style: italic;
			padding: 8px;
		}
	}
	td, th {
		&.table-layoutCell {
			background-color: #fff;
		}
	}

	/* Summary Group Styling */
	tr.table-summary, tbody.table-summary tr, 
	colgroup col.table-summary, colgroup.table-summary, 
	tfoot tr, td.table-summary {
		background-color: #eee; /* Summary Row/Col highligth */
	}
	
	/* Delimiter between table group */
	tbody, tfoot {
		&.table-rowgroupmarker {
			border-top: solid black 2px;
		}
	}
	colgroup {
		&.table-colgroupmarker {
			border-left: solid black 2px;
		}
	}
	
	
	/* Traditionel Table Zebra Stripping */
	&.colzebra {
		colgroup {
			col {
				&:nth-child(2n)  {
					background-color: #f0fcff;
				}
			}
		}
    }
	&.rowzebra {
		tbody {
			tr {
				&:nth-child(2n)  {
					background-color: #f0fcff;
				}
			}
		}
    }
	
	
	/* Column Effect */
	&.columnhighlight {
		colgroup {
			col.table-hover {
				background-color: #eee;
			}
			&.table-summary col.table-hover {
				background-color: #f0fcff;
			}
		}
		
		
		th.table-hover {
			background-color: #ccc;
		}
		&.table-accent th.table-hover {
			background-color: #555;
		}
		&.table-medium th.table-hover {
			background-color: #222;
		}
		&.table-dark th.table-hover {
			background-color: #666;
		}
		&.table-simplify th.table-hover {
			background-color: transparent;
		}
	}
	
	/* Row Effect */
	&.rowtdhover {
		tbody, tfoot {
			tr:hover, /*tr.table-hover,*/ tr.table-hover td,
			tr:hover td.table-keycell, tr.table-hover td.table-keycell, 
			tr:hover td.table-desccell, tr.table-hover td.table-desccell,
			tr:hover td.table-layoutCell, tr.table-hover td.table-layoutCell,
			tr:hover th.table-layoutCell, tr.table-hover th.table-layoutCell  {
				background-color: #eee;
			}
			
			/* Hover for summary rows */
			tr.table-summary:hover, tr.table-summary.table-hover td,
			tr.table-summary:hover td.table-keycell, tr.table-summary.table-hover td.table-keycell, 
			tr.table-summary:hover td.table-desccell, tr.table-summary.table-hover td.table-desccell,
			tr.table-summary:hover td.table-layoutCell, tr.table-summary.table-hover td.table-layoutCell,
			tr.table-summary:hover th.table-layoutCell, tr.table-summary.table-hover th.table-layoutCell  {
				background-color: #f0fcff;
			}
		}
	}
	&.rowhover {
		tbody, tfoot {
			tr:hover, /*tr.table-hover,*/ tr.table-hover td,
			tr:hover td.table-keycell, tr.table-hover td.table-keycell, 
			tr:hover td.table-desccell, tr.table-hover td.table-desccell,
			tr:hover td.table-layoutCell, tr.table-hover td.table-layoutCell,
			tr:hover th.table-layoutCell, tr.table-hover th.table-layoutCell  {
				background-color: #eee;
			}

			/* Hover for summary rows */
			tr.table-summary:hover, tr.table-summary.table-hover td,
			tr.table-summary:hover td.table-keycell, tr.table-summary.table-hover td.table-keycell, 
			tr.table-summary:hover td.table-desccell, tr.table-summary.table-hover td.table-desccell,
			tr.table-summary:hover td.table-layoutCell, tr.table-summary.table-hover td.table-layoutCell,
			tr.table-summary:hover th.table-layoutCell, tr.table-summary.table-hover th.table-layoutCell  {
				background-color: #f0fcff;
			}

			
			tr:hover th, tr.table-hover th {
				background-color: #ccc;
			}
			/*
			 * Uncomment to have white cell at the mouse intersection
			tr:hover td:hover {
				background-color: #fff;
			}
			*/
		}
		&.table-accent tbody, &.table-accent tfoot {
			tr:hover th, tr.table-hover th  {
				background-color: #555;
			}
		}
		&.table-medium tbody, &.table-medium tfoot {
			tr:hover th, tr.table-hover th {
				background-color: #222;
			}
		}
		&.table-dark tbody, &.table-dark tfoot {
			tr:hover th, tr.table-hover th {
				background-color: #666;
			}
		}
		&.table-simplify tbody tr th, &.table-simplify tfoot tr th {
			background-color: transparent;
		}
	}
}
