/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-eng.html / wet-boew.github.io/wet-boew/Licence-fra.html
 */
%zebra-border-none {
	border: none;
}
%zebra-no-margin-left {
	margin-left: 0;
}
%zebra-padding-10 {
	padding: 10px;
}
%zebra-list-style-type-none {
	list-style-type: none;
}
%zebra-content-normal {
	content: normal;
}
%zebra-border-1-solid-ccc {
	border: 1px solid #CCC;
}
%zebra-table-background-color-f0fcff {
	background-color: #f0fcff;
}
%zebra-background-color-ccc {
	background-color: #CCC;
}
%zebra-background-color-ddd {
	background-color: #DDD;
}
%zebra-background-color-eee {
	background-color: #EEE;
}
%zebra-background-color-555 {
	background-color: #555;
}
%zebra-background-color-222 {
	background-color: #222;
}
%zebra-background-color-666 {
	background-color: #666;
}
%zebra-background-color-fff {
	background-color: #fff;
}
%zebra-list-background-color-f0fcff {
	background-color: #f0fcff;
}
%zebra-background-color-transparent {
	background-color: transparent;
}
%zebra-margin-5-0-10-0 {
	margin: 5px 0 10px 0;
}

ul {
	&.wet-boew-zebra {
		@extend %zebra-margin-5-0-10-0;
		li {
			@extend %zebra-list-style-type-none;
			li {
				@extend %zebra-list-style-type-none;
			}
		}
	}
}

ol, ul {
	&.wet-boew-zebra {
		li {
			@extend %zebra-padding-10;
			margin-bottom: 2px;
			margin-right: 0;
		}
	}
}

ol {
	&.wet-boew-zebra {
		@extend %zebra-margin-5-0-10-0;
		padding: 0;
		list-style-type: decimal;
		counter-reset: li;

		> {
			li {
				// Make room for the number you add with :before
				padding-left: 2em;
				position: relative;
				list-style: none;
				&:before {
					// Add the number using the counter and increment
					content: counter(li) '. ';
					counter-increment: li;
					position: absolute;
					left: 5px;
				}
			}
		}

		ol {
			li {
				padding-left: 0;
				&:before {
					@extend %zebra-content-normal;
				}
			}
		}
		&.module-comment {
			@extend %zebra-child-li-before;
			ol {
				li {
					@extend %zebra-list-style-type-none;
				}
				ol {
					li {
						@extend %zebra-list-style-type-none;
					} 
				}
			}
		}
		&.list-bullet-none {
			@extend %zebra-child-li-before;
		}
	}
}

%zebra-child-li-before {
	> {
		li {
			&:before {
				@extend %zebra-content-normal;
				counter-increment: none;
				position: static;
				left: auto;
			}
		}
	}
}

.module-comment {
	ol { 
		&.wet-boew-zebra {
			@extend %zebra-child-li-before;
			ol {
				li {
					@extend %zebra-list-style-type-none;
				}
				ol {
					li {
						@extend %zebra-list-style-type-none;
					} 
				}
			}
		}
	}
}

dl {
	&.wet-boew-zebra {
		@extend %zebra-no-margin-left;
	}
}

.wet-boew-zebra {

	// Definition list
	dd {
		@extend %zebra-no-margin-left;
		@extend %zebra-padding-10;
		@extend %zebra-border-1-solid-ccc;
		&.list-even {
			@extend %zebra-background-color-ddd;
		}
		&.list-odd {
			@extend %zebra-background-color-eee;
		}
		&.list-hover {
			@extend %zebra-list-background-color-f0fcff;
		}
	}

	dt {
		@extend %zebra-padding-10;
		@extend %zebra-border-1-solid-ccc;
		font-weight: 700;
		margin-top: 2px;
		&.list-even {
			@extend %zebra-background-color-ddd;
		}
		&.list-odd {
			@extend %zebra-background-color-eee;
		}
		&.list-hover {
			@extend %zebra-list-background-color-f0fcff;
		}
	}

	// Ordered and Unordered list
	> {
		li {
			@extend %zebra-border-1-solid-ccc;
			&:nth-child(2n) {
				@extend %zebra-background-color-ddd;
			}
			&:nth-child(2n + 1) {
				@extend %zebra-background-color-eee;
			}
			&:hover {
				@extend %zebra-list-background-color-f0fcff;
			}
		}
	}

	// Style Alterwg (Alternate White and Gray stripe)
	&.alterwg {
		> {
			li {
				@extend %zebra-border-none;
				&:nth-child(2n) {
					@extend %zebra-background-color-ddd;
				}
				&:nth-child(2n + 1) {
					@extend %zebra-background-color-fff;
				}
			}
		}

		dd {
			@extend %zebra-border-none;
			&.list-even {
				@extend %zebra-background-color-ddd;
			}
			&.list-odd {
				@extend %zebra-background-color-fff;
			}
		}

		dt {
			@extend %zebra-border-none;
			&.list-even {
				@extend %zebra-background-color-ddd;
			}
			&.list-odd {
				@extend %zebra-background-color-fff;
			}
		}

		&.zebra-hover {
			li, dt, dd {
				&.list-hover, &:hover {
					@extend %zebra-list-background-color-f0fcff;
				}
			}
		}
	}

	// Option about to apply no Margin on a Zebra list
	&.nomargin {
		margin: 0;
	}

	// Table Zebra Stripping 
	 
	// Scope of cells
	td {
		&.table-keycell {
			padding: 8px;
		}
		&.table-desccell {
			font-style: italic;
			padding: 8px;
		}
		&.table-summary {
			@extend %zebra-background-color-eee;
		}
		&.table-layoutCell {
			@extend %zebra-background-color-fff;
		}
	}
	th {
		&.table-layoutCell {
			@extend %zebra-background-color-fff;
		}
	}

	// Summary Group Styling
	tr {
		&.table-summary {
			@extend %zebra-background-color-eee;
		}
	}
	tbody {
		&.table-summary {
			tr {
				@extend %zebra-background-color-eee;
			}
		} 
	}
	colgroup {
		col {
			&.table-summary {
				@extend %zebra-background-color-eee;
			}
		}
		&.table-summary {
			@extend %zebra-background-color-eee;
		}
	} 
	tfoot {
		tr {
			@extend %zebra-background-color-eee;
		}
	}

	// Delimiter between table group
	tbody, tfoot {
		&.table-rowgroupmarker {
			border-top: solid black 2px;
		}
	}
	colgroup {
		&.table-colgroupmarker {
			border-left: solid black 2px;
		}
	}


	// Traditionel Table Zebra Stripping
	&.colzebra {
		colgroup {
			col {
				&:nth-child(2n)  {
					@extend %zebra-table-background-color-f0fcff;
				}
			}
		}
    }
	&.rowzebra {
		tbody {
			tr {
				&:nth-child(2n)  {
					@extend %zebra-table-background-color-f0fcff;
				}
			}
		}
    }


	// Column Effect
	&.columnhighlight {
		colgroup {
			col {
				&.table-hover {
					@extend %zebra-background-color-eee;
				}
			}
			&.table-summary {
				col {
					&.table-hover {
						@extend %zebra-table-background-color-f0fcff;
					}
				}
			}
		}


		th {
			&.table-hover {
				@extend %zebra-background-color-ccc;
			}
		}
		&.table-accent {
			th {
				&.table-hover {
					@extend %zebra-background-color-555;
				}
			}
		}
		&.table-medium {
			th {
				&.table-hover {
					@extend %zebra-background-color-222;
				}
			}
		}
		&.table-dark {
			th {
				&.table-hover {
					@extend %zebra-background-color-666;
				}
			}
		}
		&.table-simplify {
			th {
				&.table-hover {
					@extend %zebra-background-color-transparent;
				}
			}
		}
	}

	// Row Effect
	&.rowtdhover {
		@extend %zebra-tfoot-theader-hover;
	}
	&.rowhover {
		@extend %zebra-tfoot-theader-hover;
		tbody, tfoot {
			tr {
				&:hover, &.table-hover {
					th {
						@extend %zebra-background-color-ccc;
					}
				}
			}
		}
		&.table-accent {
			tbody, tfoot {
				tr {
					&:hover, &.table-hover {
						th {
							@extend %zebra-background-color-555;
						}
					}
				}
			}
		}
		&.table-medium {
			tbody, tfoot {
				tr {
					&:hover, &.table-hover {
						th {
							@extend %zebra-background-color-222;
						}
					}
				}
			}
		}
		&.table-dark {
			tbody, tfoot {
				tr {
					&:hover, &.table-hover {
						th {
							@extend %zebra-background-color-666;
						}
					}
				}
			}
		}
		&.table-simplify {
			tbody, tfoot {
				tr {
					th {
						@extend %zebra-background-color-transparent;
					}
				}
			}
		}
	}
}

%zebra-tfoot-theader-hover {
	tbody, tfoot {
		tr {
			&:hover {
				@extend %zebra-background-color-eee;
				th {
					&.table-layoutCell {
						@extend %zebra-background-color-eee;
					}
				}
				td {
					&.table-keycell {
						@extend %zebra-background-color-eee;
					}
					&.table-desccell {
						@extend %zebra-background-color-eee;
					}
					&.table-layoutCell {
						@extend %zebra-background-color-eee;
					}
				}
			}
			&.table-hover {
				th {
					&.table-layoutCell {
						@extend %zebra-background-color-eee;
					}
				}
				td {
					@extend %zebra-background-color-eee;
					&.table-keycell {
						@extend %zebra-background-color-eee;
					}
					&.table-desccell {
						@extend %zebra-background-color-eee;
					}
					&.table-layoutCell {
						@extend %zebra-background-color-eee;
					}
				}
			}

			// Hover for summary rows
			&.table-summary {
				&:hover {
					@extend %zebra-table-background-color-f0fcff;
					th {
						&.table-layoutCell {
							@extend %zebra-table-background-color-f0fcff;
						}
					}
					td {
						&.table-keycell {
							@extend %zebra-table-background-color-f0fcff;
						}
						&.table-desccell {
							@extend %zebra-table-background-color-f0fcff;
						}
						&.table-layoutCell {
							@extend %zebra-table-background-color-f0fcff;
						}
					}
				}
				&.table-hover {
					th {
						&.table-layoutCell {
							@extend %zebra-table-background-color-f0fcff;
						}
					}
					td {
						@extend %zebra-table-background-color-f0fcff;
						&.table-keycell {
							@extend %zebra-table-background-color-f0fcff;
						}
						&.table-desccell {
							@extend %zebra-table-background-color-f0fcff;
						}
						&.table-layoutCell {
							@extend %zebra-table-background-color-f0fcff;
						}
					}
				}
			}
		}
	}
}
