/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt
 */

/* IE7 hacks - should be in an IE7 only .css */
.ie7 {
    ol.wet-boew-zebra {
		> {
			li {
				padding-left: 10px;
				list-style: decimal inside;
			}
		}
		ol {
			li {
				list-style: lower-alpha outside;
			}
			ol {
				li {
					list-style: lower-roman outside;
				}
			}
		}
	}
}


/* In separate CSS because IE have conflit when it's combined with the CSS3 nthChild instruction */
.wet-boew-zebra {
	/* List Zebra */
	li {
		&.list-even {
			background-color: #ddd;
			border: 1px solid #CCC;
		}
		&.list-odd {
			background-color: #eee;
			border: 1px solid #CCC;
		}
		&.list-hover {
			background-color: #f0fcff;
		}

	}
	
	/* Style Alterwg (Alternate White and Gray stripe) */
	&.alterwg {
		li {
			&.list-even {
				background-color: #ddd;
				border: none;
			}
			&.list-odd {
				background-color: #fff;
				border: none;
			}
		}
	}
	
	/* Traditionel Table Zebra Stripping */
	&.colzebra {
		colgroup {
			col {
				&.table-odd {
					background-color: #f0fcff;
				}
			}
		}
    }
	&.rowzebra {
		tbody {
			tr {
				&.table-odd {
					background-color: #f0fcff;
				}
			}
		}
    }
	&.columnhighlight {
		colgroup {
			col.table-hover {
				background-color: #eee;
			}
			&.table-summary col.table-hover {
				background-color: #f0fcff;
			}
		}
	}

	&.rowhover, &.rowtdhover {
		tbody, tfoot {
			tr.table-hover,
			tr.table-hover td.table-keycell, 
			tr.table-hover td.table-desccell,
			tr.table-hover td.table-layoutCell,
			tr.table-hover th.table-layoutCell  {
				background-color: #eee;
			}
			
			/* Hover for summary rows */
			tr.table-summary.table-hover,
			tr.table-summary.table-hover td.table-keycell, 
			tr.table-summary.table-hover td.table-desccell,
			tr.table-summary.table-hover td.table-layoutCell,
			tr.table-summary.table-hover th.table-layoutCell  {
				background-color: #f0fcff;
			}
			
		}
		
	}
	
}