/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-eng.txt / wet-boew.github.io/wet-boew/Licence-fra.txt
 */
%zebra-ie-table-background-color-f0fcff {
	background-color: #f0fcff;
}
%zebra-ie-background-color-ddd {
	background-color: #DDD;
}
%zebra-ie-background-color-eee {
	background-color: #EEE;
}
%zebra-ie-list-background-color-f0fcff {
	background-color: #f0fcff;
}

// IE7 hacks - should be in an IE7 only .css
.ie7 {
    ol.wet-boew-zebra {
		> {
			li {
				padding-left: 10px;
				list-style: decimal inside;
			}
		}
		ol {
			li {
				list-style: lower-alpha outside;
			}
			ol {
				li {
					list-style: lower-roman outside;
				}
			}
		}
	}
}


// In separate CSS because IE have conflit when it's combined with the CSS3 nthChild instruction
.wet-boew-zebra {
	// List Zebra
	li, dt, dd {
		&.list-even {
			@extend %zebra-ie-background-color-ddd;
		}
		&.list-odd {
			@extend %zebra-ie-background-color-eee;
		}
		&.list-hover {
			@extend %zebra-ie-list-background-color-f0fcff;
		}
	}

	// Style Alterwg (Alternate White and Gray stripe)
	&.alterwg {
		li, dt, dd {
			&.list-even {
				@extend %zebra-ie-background-color-ddd;
			}
			&.list-odd {
				background-color: #fff;
			}
		}
	}

	// Summary Group Styling
	tr {
		&.table-summary {
			@extend %zebra-ie-background-color-eee;
		}
	}

	tbody {
		&.table-summary {
			tr {
				@extend %zebra-ie-background-color-eee;
			}
		}
	}
	 
	colgroup {
		col.table-summary {
			@extend %zebra-ie-background-color-eee;
		}
		&.table-summary {
			@extend %zebra-ie-background-color-eee;
		}
	}
	 
	tfoot {
		tr {
			@extend %zebra-ie-background-color-eee;
		}
	}

	td {
		&.table-summary {
			@extend %zebra-ie-background-color-eee;
		}
	}

	// Traditionel Table Zebra Stripping
	&.colzebra {
		colgroup {
			col {
				&.table-odd {
					@extend %zebra-ie-table-background-color-f0fcff;
				}
			}
		}
    }
	&.rowzebra {
		tbody {
			tr {
				&.table-odd {
					@extend %zebra-ie-table-background-color-f0fcff;
				}
			}
		}
    }
	&.columnhighlight {
		colgroup {
			col.table-hover {
				@extend %zebra-ie-background-color-eee;
			}
			&.table-summary col.table-hover {
				@extend %zebra-ie-table-background-color-f0fcff;
			}
		}
	}

	&.rowhover, &.rowtdhover {
		tbody, tfoot {
			tr {
				&.table-hover {
					@extend %zebra-ie-background-color-eee;
					th {
						&.table-layoutCell {
							@extend %zebra-ie-background-color-eee;
						}
					}
					td {
						&.table-keycell {
							@extend %zebra-ie-background-color-eee;
						}
						&.table-desccell {
							@extend %zebra-ie-background-color-eee;
						}
						&.table-layoutCell {
							@extend %zebra-ie-background-color-eee;
						}
					}
				}

				// Hover for summary rows
				&.table-summary {
					&.table-hover {
						@extend %zebra-ie-table-background-color-f0fcff;
						th {
							&.table-layoutCell {
								@extend %zebra-ie-table-background-color-f0fcff;
							}
						}
						td {
							@extend %zebra-background-color-eee;
							&.table-keycell {
								@extend %zebra-ie-table-background-color-f0fcff;
							}
							&.table-desccell {
								@extend %zebra-ie-table-background-color-f0fcff;
							}
							&.table-layoutCell {
								@extend %zebra-ie-table-background-color-f0fcff;
							}
						}
					}
				}
			}
		}
	}
}