/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt
 */
.ie7 {
	select, button {
		font-size: 100%;
	}
	.wb-ie-clip-rect-1
	{
		clip: rect(1px 1px 1px 1px);
	}
	#wb-skip {
		a {
			@extend .wb-show-onfocus;
			&:link, &:visited {
				@extend .wb-ie-clip-rect-1;
			}
		}
	}

	#wb-sec, #wb-sup {
		h2 {
			@extend .wb-ie-clip-rect-1;
		}
	}
	.wb-invisible {
		position: relative;
		float: left;
		margin-bottom: -1px !important;
		@extend .wb-ie-clip-rect-1;
	}
	.wb-show-onfocus {
		@extend .wb-invisible;
		&:focus, &:active {
			width: auto !important;
			height: auto !important;
			overflow: visible !important;
			white-space: nowrap;
		}
	}

	.wb-show-onhover {
		@include transparent;
		&:hover, &:focus, &:active {
			@include opaque;
		}
	}

	a {
		&.wb-linkdesc {
			span {
				span {
					@extend .wb-show-onhover;
				}
			}
		}
	}
}