/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt
 */
body{
	background:#FFF;
}

#wb-skip,a.wb-linkdesc span span, .print-none{
	display:none;
}

#wb-main,#wb-sec,#wb-sup{
	min-height:0 !important;
}