/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-eng.txt / wet-boew.github.io/wet-boew/Licence-fra.txt
 */
/* Override jQuery Mobile hiding of content on mobile loading to eliminate white flicker (exact opposite of what jQuery Mobile does) */
.ui-mobile-rendering {
	> {
		* {
			visibility: visible !important;
		}
	}
}

.ui-collapsible-content {
	margin: 0;
}

#mobiletest {
	width: 1px;
}

.mobile-change {
	width: 100% !important;
}