/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt
 */
.ie7 {
	#wb-skip {
		a {
			@extend .wb-show-onfocus; //TODO: Move to placeholder
		}
	}
	.wb-invisible {
		position: relative;
		float: left;
		margin-bottom: -1px !important;
	}
	.wb-show-onfocus {
		@extend .wb-invisible;
		&:focus, &:active {
			width: auto !important;
			height: auto !important;
			overflow: visible !important;
			white-space: nowrap;
		}
	}

	.wb-show-onhover {
		@include transparent;
		&:hover, &:focus, &:active {
			@include opaque;
		}
	}

	a {
		&.wb-linkdesc {
			span {
				span {
					@extend .wb-show-onhover;
				}
			}
		}
	}

	// Right to left (RTL) CSS
	&[dir="rtl"] {
		.wb-invisible, .wb-show-onfocus, #wb-foot h2 {
			float: right;
		}
	}
}

.ie7, .ie8 {
	select, button {
		font-size: 100%
	}
}