/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt
 */
%wb-small-medium-display-none-important {
	display: none !important;
}

.mobile-hide {
	@extend %wb-small-medium-display-none-important;
}
.desktop-view {
	.mobile-show {
		@extend %wb-small-medium-display-none-important;
	}
}

.ui-collapsible-content {
	margin: 0;
}
.mobile-change {
	width: 100% !important;
}
#wb-core-in {
	width: 100%;
}

#wb-session {
  @extend %wb-small-medium-display-none-important;
}
