/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-eng.html / wet-boew.github.io/wet-boew/Licence-fra.html
 */
@import 'compass/css3/opacity';
@import '../../grids/sass/includes/mixins';

%wb-default-left-auto-right--9999 {
	right: auto;
	left: -9999px;
}
%wb-default-text-indent-9999 {
	text-indent: 9999px;
}

body {
	font-size: 80%;
	margin: 0;
	padding: 0;
}

/* Override jQuery Mobile hiding of content on mobile loading to eliminate white flicker (exact opposite of what jQuery Mobile does) */
.ui-mobile-rendering {
	> {
		* {
			visibility: visible !important;
		}
	}
}

a {
	@include pseudo-focus {
		text-decoration: underline;
	}
}

strong {
	a {
		&, &.ui-link {
			font-weight: 700 !important;
		}
	}
}

img, a img {
	border: none;
}

q {
	&:before, &:after {
		content: "";
	}
}

dl, ol, ul {
	margin-top: 1em;
	margin-bottom: 1em;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

textarea, input {
	font-size: 100%;
}

legend {
	width: 100%;
}

pre, code, kbd, samp, tt {
	font-family: "Courier New", Courier, monospace;
	font-size: 112%;
}

address {
	font-style: normal;
}

#{headings(all)} {
	font-weight: 700;
	margin: 1em 0 0.25em;
}

h1 {
	font-size: 170%;
}

h2 {
	font-size: 155%;
}

h3 {
	font-size: 140%;
}

h4 {
	font-size: 130%;
}

h5 {
	font-size: 120%;
}

h6 {
	font-size: 110%;
}

%wb-display-none {
	display: none;
}

.wb-hide {
	@extend %wb-display-none;
}

%wb-clip {
	position: absolute;
	@include clip-rect;
	overflow: hidden !important;
	margin: 0 !important;
}
%wb-clip-hidden {
	@extend %wb-clip;
	height: 1px !important;
	width: 1px !important;
}

.wb-invisible {
	@extend %wb-clip-hidden;
}

#wb-sec, #wb-sup, #wb-foot {
	h2 {
		@extend %wb-clip-hidden;
	}
}

%wb-clip-focus-active {
	@extend %wb-clip-hidden;
	@include pseudo-focus(false) {
		position: static;
		clip: auto;
		height: inherit !important;
		width: inherit !important;
		overflow: inherit !important;
		margin: inherit !important;
	}
}

.wb-show-onfocus {
	@extend %wb-clip-focus-active;
}

#wb-skip {
	a {
		@extend %wb-clip-focus-active;
		&, &:link, &:visited {
			@extend %wb-clip-hidden;
		}
	}
}

.wb-show-onhover {
	@include transparent;
	@include pseudo-focus {
		@include opaque;
	}
}

.ui-mobile {
	.ui-popup-hidden {
		@extend %wb-display-none;
	}
}

#viewtest {
	@extend %wb-clip;
}

#resizetest {
	@extend %wb-clip;
}

/* Start of RTL fixes for jQuery Mobile's way of hiding stuff
 * TODO: Fix in jQuery Mobile rather than here
 */
[dir="rtl"] {

	// Fixes left: -9999px
	.ui-nojs {
		@extend %wb-default-left-auto-right--9999;
	}
	.ui-popup-hidden {
		@extend %wb-default-left-auto-right--9999;
	}
	.ui-hide-label {
		label {
			&.ui-input-text {
				@extend %wb-default-left-auto-right--9999;
			}
			&.ui-select {
				@extend %wb-default-left-auto-right--9999;
			}
			&.ui-slider {
				@extend %wb-default-left-auto-right--9999;
			}
			&.ui-submit {
				@extend %wb-default-left-auto-right--9999;
			}
			&.ui-controlgroup-label {
				@extend %wb-default-left-auto-right--9999;
			}
		}
	}
	.ui-hidden-accessible {
		@extend %wb-default-left-auto-right--9999;
	}
	.ui-page-header-fullscreen {
		.ui-fixed-hidden {
			@extend %wb-default-left-auto-right--9999;
		}
	}
	.ui-page-footer-fullscreen {
		.ui-fixed-hidden {
			@extend %wb-default-left-auto-right--9999;
		}
	}
	.ui-btn-icon-notext {
		.ui-btn-text {
			@extend %wb-default-left-auto-right--9999;
		}
	}
	.ui-controlgroup-controls {
		label {
			&.ui-select {
				@extend %wb-default-left-auto-right--9999;
			}
			&.ui-submit {
				@extend %wb-default-left-auto-right--9999;
			}
		}
	}
	.ui-select {
		select {
			@extend %wb-default-left-auto-right--9999;
		}
	}
	// Fixes text-indent: -9999px
	.ui-btn-hidden {
		@extend %wb-default-text-indent-9999;
	}
	.ui-collapsible-heading {
		.ui-btn {
			span {
				&.ui-btn {
					@extend %wb-default-text-indent-9999;
				}
			}
		}
	}
}
/* End of RTL fixes for jQuery Mobile's way of hiding stuff */
