/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-eng.txt / wet-boew.github.io/wet-boew/Licence-fra.txt
 */
.mobile-hide {
	display: block !important;
}

.mobile-show {
	display: none !important;
}

#mobiletest {
	width: 0;
}