/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt
 */
%wb-default-print-times-new-roman-font {
	font-family: Times New Roman, serif;
}

body {
	@extend %wb-default-print-times-new-roman-font;
	background: #FFF;
}

textarea {
	@extend %wb-default-print-times-new-roman-font;
}

input {
	@extend %wb-default-print-times-new-roman-font;
}

select {
	@extend %wb-default-print-times-new-roman-font;
}

.print-none, #wb-skip {
	display: none;
}

a {
	&.wb-linkdesc {
		span {
			span {
				@extend .print-none;
			}
		}
	}
}

#wb-main, #wb-sec, #wb-sup {
	min-height: 0 !important;
}

%wb-default-print-page-break-all {
	display: block;
	page-break-inside: avoid;
}

.page-break-before {
	@extend %wb-default-print-page-break-all;
	page-break-before: always;
}

.page-break-after {
	@extend %wb-default-print-page-break-all;
	page-break-after: always;
}
