/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-eng.txt / wet-boew.github.io/wet-boew/Licence-fra.txt
 */
@import 'compass/css3/opacity';
@import '../../grids/sass/includes/mixins';

body {
	font-size: 80%;
	margin: 0;
	padding: 0;
}

a {
	@include pseudo-focus {
		text-decoration: underline;
	}
}

strong {
	a {
		&, &.ui-link {
			font-weight: 700 !important;
		}
	}
}

img, a img {
	border: none;
}

q {
	&:before, &:after {
		content: "";
	}
}

dl, ol, ul {
	margin-top: 1em;
	margin-bottom: 1em;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

textarea, input {
	font-size: 100%;
}

legend {
	width: 100%;
}

pre, code, kbd, samp, tt {
	font-family: "Courier New", Courier, monospace;
	font-size: 112%;
}

address {
	font-style: normal;
}

#{headings(all)} {
	font-weight: 700;
	margin: 1em 0 0.25em;
}

h1 {
	font-size: 170%;
}

h2 {
	font-size: 155%;
}

h3 {
	font-size: 140%;
}

h4 {
	font-size: 130%;
}

h5 {
	font-size: 120%;
}

h6 {
	font-size: 110%;
}

%wb-display-none {
	display: none;
}

.wb-hide {
	@extend %wb-display-none;
}

%wb-clip {
	position: absolute;
	@include clip-rect;
	overflow: hidden !important;
	margin: 0 !important;
}
%wb-clip-hidden {
	@extend %wb-clip;
	height: 1px !important;
	width: 1px !important;
}

.wb-invisible {
	@extend %wb-clip-hidden;
}

#wb-sec, #wb-sup, #wb-foot {
	h2 {
		@extend %wb-clip-hidden;
	}
}

%wb-clip-focus-active {
	@extend %wb-clip-hidden;
	@include pseudo-focus(false) {
		position: static;
		clip: auto;
		height: inherit !important;
		width: inherit !important;
		overflow: inherit !important;
		margin: inherit !important;
	}
}

.wb-show-onfocus {
	@extend %wb-clip-focus-active;
}

#wb-skip {
	a {
		@extend %wb-clip-focus-active;
		&, &:link, &:visited {
			@extend %wb-clip-hidden;
		}
	}
}

.wb-show-onhover {
	@include transparent;
	@include pseudo-focus {
		@include opaque;
	}
}

.ui-mobile {
	.ui-popup-hidden {
		@extend %wb-display-none;
	}
}

#mobiletest {
	@extend %wb-clip;
}

#resizetest {
	@extend %wb-clip;
}