/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 */
.ie7 {
	#wb-skip {
		display: inline;
		float: none;
		ul {
			float: left;
		}
		a {
			margin: auto;
			zoom: 1;
			position: relative;
		}
	}
	a {
		&.wb-linkdesc {
			span {
				span {
					top: -9000em;
				}
			}
			@include pseudo-focus {
				height: 1%;
			}
		}
	}
}

.ie8 {
	.wb-show-onhover {
		@include transparent;
		@include pseudo-focus {
			@include opaque;
		}
	}
}
