/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt
 */
body {
	background: #FFF;
}

.print-none, #wb-skip {
	display: none;
}

a {
	&.wb-linkdesc {
		span {
			span {
				@extend .print-none;
			}
		}
	}
}

#wb-main, #wb-sec, #wb-sup {
	min-height: 0 !important;
}

.page-break-before {
	display: block;
	page-break-before: always;
	page-break-inside: avoid;
}

.page-break-after {
	display: block;
	page-break-after: always;
	page-break-inside: avoid;
}