@charset "utf-8";
/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * www.tbs.gc.ca/ws-nw/wet-boew/terms / www.sct.gc.ca/ws-nw/wet-boew/conditions
 */
body{
	background:#FFF;
}

#wb-skip,a.wb-linkdesc span span{
	display:none;
}

#wb-main,#wb-sec,#wb-sup{
	min-height:0 !important;
}