@charset "utf-8";
/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * www.tbs.gc.ca/ws-nw/wet-boew/terms / www.sct.gc.ca/ws-nw/wet-boew/conditions
 */
body{
	font-size:80%;
	margin:0;
	padding:0;
}

a:hover,a:active,a:focus{
	text-decoration: underline;
}

img,a img{
	border:none;
}

q:before,q:after{
	content:"";
}

dl,ol,ul{
	margin-top:1em;
	margin-bottom:1em;
}

table{
	border-collapse:collapse;
	border-spacing:0;
}

textarea,input,body{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:80%;
}

textarea,input{
	font-size:100%;
}

pre,code,kbd,samp,tt{
	font-family:"Courier New", Courier, monospace;
	font-size:112%;
}

address{
	font-style:normal;
}

h1,h2,h3,h4,h5,h6{
	font-weight:700;
	margin:1em 0;
}

#wb-main {
	h1,h2,h3,h4,h5,h6 {
		font-family:sans-serif;
	}
}

h1{
	font-size:170%;
}

h2{
	font-size:155%;
}

h3{
	font-size:140%;
}

h4{
	font-size:130%;
}

h5{
	font-size:120%;
}

h6{
	font-size:110%;
}

.wb-hide {
	display:none;
}

.wb-invisible,.wb-show-onfocus,#wb-skip a,#wb-skip a:link,#wb-skip a:visited,#wb-sec h2,#wb-sup h2,#wb-foot h2{
	position:absolute;
	clip:rect(1px, 1px, 1px, 1px);
	height:1px !important;
	width:1px !important;
	overflow:hidden !important;
	margin:0 !important;
}

.wb-show-onfocus,#wb-skip a{
	&:focus,&:active{
		position:static;
		clip:auto;
		height:inherit !important;
		width:inherit !important;
		overflow:inherit !important;
		margin:inherit !important;
	}
}

.wb-show-onhover{
	opacity:0;
	&:hover,&:focus,&:active{
		opacity:1;
	}
}