@charset "utf-8";
/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * www.tbs.gc.ca/ws-nw/wet-boew/terms / www.sct.gc.ca/ws-nw/wet-boew/conditions
 */
.ie7 {
	#wb-skip{
		float:none;
	}
	#wb-skip ul{
		float:left;
	}
	a.wb-linkdesc span span{
		top:-9000em;
	}
	a.wb-linkdesc:hover,a.wb-linkdesc:focus,a.wb-linkdesc:active{
		height:1%;
	}
}