@charset "utf-8";
/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * www.tbs.gc.ca/ws-nw/wet-boew/terms / www.sct.gc.ca/ws-nw/wet-boew/conditions
 */
a:active,a:focus{
	cursor:auto;
}

abbr,acronym{
	cursor:help;
}

#wb-skip{
	height:0;
	float:left;
}

#wb-skip ul{
	list-style-type:none;
	margin-top:-1.8em;
}

#wb-skip li{
	position:absolute;
	top:0;
	width:auto;
	z-index:3;
}

#wb-skip #wb-skip1{
	right:50%;
}

#wb-skip #wb-skip2{
	left:50%;
}

#wb-skip a{
	display:inline-block;
	width:100%;
	padding:5px;
}

#wb-skip a,#wb-skip a:link,#wb-skip a:visited{
	color:#FFF;
	background-color:transparent;
	font-weight:700;
}

#wb-skip a:hover,#wb-skip a:focus,#wb-skip a:active{
	background-color:#000;
	text-decoration:none;
	color:#FFF;
}

a.wb-linkdesc{
	position:relative;
	z-index:24;
}

a.wb-linkdesc:hover,a.wb-linkdesc:focus,a.wb-linkdesc:active{
	z-index:25;
	outline:0;
	text-decoration:none;
}

a.wb-linkdesc span span{
	position:absolute;
	clip:rect(1px, 1px, 1px, 1px);
	height:1px !important;
	width:1px !important;
	overflow:hidden !important;
}

a.wb-linkdesc:hover span span,a.wb-linkdesc:focus span span,a.wb-linkdesc:active span span{
	clip:auto;
	height:auto !important;
	width:auto !important;
	overflow:visible !important;
	top:2em;
	left:2.2em;
	white-space:nowrap;
	border:1px solid InfoText;
	background:InfoBackground;
	color:InfoText;
	font:message-box;
	font-size:0.85em;
	text-align:left;
	padding:2px 4px;
}