@charset "utf-8";
/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * www.tbs.gc.ca/ws-nw/wet-boew/terms / www.sct.gc.ca/ws-nw/wet-boew/conditions
 */
.ie7 select,.ie7 button{
	font-size:100%;
}

.ie7 .wb-invisible,.ie7 .cn-invisible,.ie7 .wb-show-onfocus,.ie7 #wb-skip a:link,.ie7 #wb-skip a:visited,.ie7 #wb-sec h2,.ie7 #wb-sup h2,.ie7 #wb-foot h2{
	clip:rect(1px 1px 1px 1px);
}

.ie7 .wb-invisible,.ie7 .cn-invisible,.ie7 .wb-show-onfocus,.ie7 #wb-foot h2{
	position:relative;
	float:left;
	margin-bottom:-1px !important;
}

.ie7 .wb-show-onfocus:focus,.ie7 .wb-show-onfocus:active,.ie7 #wb-skip a:focus,.ie7 #wb-skip a:active{
	width:auto !important;
	height:auto !important;
	overflow:visible !important;
	white-space:nowrap;
}

.ie7 .wb-show-onhover,.ie7 a.wb-linkdesc span span{
	filter:alpha(opacity=0);
}

.ie7 .wb-show-onhover:hover,.ie7 .wb-show-onhover:focus,.ie7 .wb-show-onhover:active,.ie7 a.wb-linkdesc:hover span span,.ie7 a.wb-linkdesc:focus span span,.ie7 a.wb-linkdesc:active span span{
	filter:alpha(opacity=100);
}