---
{
	"title": "Primes, articles et vidéos",
	"language": "fr",
	"description": "Primes, articles et vidéos - Documentation - Boîte à outils de l'expérience Web (BOEW)",
	"altLangPrefix": "accolades",
	"dateModified": "2014-08-20"
}
---
<p>Le but de cette page est de compiler une liste de distinctions et mentions positives pour la Boîte à outils de l'expérience Web. S'il vous plaît aider en ajoutant des distinctions ou des mentions positives qui n'ont pas déjà été énumérés.</p>

<section>
	<h2 id="primes">Primes</h2>
	<table class="table">
		<thead>
			<tr>
				<th scope="col">Prime</th>
				<th scope="col">Événement</th>
				<th scope="col">Année</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Excellence de la prestation de services publics</td>
				<td lang="en">Government Technology Exhibition and Conference (GTEC)</td>
				<td>2012</td>
			</tr>
			<tr>
				<td>People's Choice</td>
				<td lang="en">Association of Public Sector Information Professionals (DPI)</td>
				<td>2011</td>
			</tr>
			<tr>
				<td>Share &amp; Re-Use</td>
				<td lang="en">Association of Public Sector Information Professionals (DPI)</td>
				<td>2011</td>
			</tr>
		</tbody>
	</table>
</section>

<section>
	<h2>Articles/Blogues</h2>
	<table class="table">
		<thead>
			<tr>
				<th scope="col">Titre</th>
				<th scope="col">Date</th>
				<th scope="col">Auteur</th>
				<th scope="col">Publication</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><a href="http://www.nngroup.com/articles/keyboard-accessibility/"><span lang="en">Keyboard-Only Navigation for Improved Accessibility</span> (la BOEW en cours d'utilisation sur le site de CIC est donnée à titre d'exemple)</a></td>
				<td><time>2014-04-06</time></td>
				<td>Marieke McCloskey</td>
				<td lang="en">Nielsen Norman Group</td>
			</tr>
			<tr>
				<td><a href="http://www.canadiangovernmentexecutive.ca/category/item/1469-open-source-driving-digital-innovation.html">Open source driving digital innovation</a></td>
				<td><time>2014-02-04</time></td>
				<td>Todd Akers</td>
				<td lang="en">Canadian Government Executive</td>
			</tr>
			<tr>
				<td><a href="http://www.cco-bcc.gc.ca/news-nouvelles/newsdetails-detailsnouvelles-fra.aspx?nid=715">Codefest 2013 : Leçons apprises (accessible uniquement sur les réseaux du gouvernement du Canada)</a></td>
				<td><time>2013-10-30</time></td>
				<td>Meghan Hellstern et Laura Wesley</td>
				<td lang="en">Communications Community Newsletter</td>
			</tr>
			<tr>
				<td lang="en"><a href="http://www.fastcompany.com/3020096/fast-feed/fork-your-government-github-opens-a-portal-for-wonks">Fork Your Government: Github Opens A Portal For Wonks</a></td>
				<td><time>2013-10-16</time></td>
				<td>Anya Kamenetz</td>
				<td lang="en">Fast Company</td>
			</tr>
			<tr>
				<td lang="en"><a href="http://mashable.com/2013/10/15/github-government">GitHub Takes on the Government</a></td>
				<td><time>2013-10-15</time></td>
				<td>Todd Wasserman</td>
				<td>Mashable</td>
			</tr>
			<tr>
				<td lang="en"><a href="http://government.github.com/stories/canadian-web-experience-toolkit/">Canadian web experience toolkit</a></td>
				<td><time>2013-10-14</time></td>
				<td>Ben Balter</td>
				<td>GitHub</td>
			</tr>
			<tr>
				<td lang="en"><a href="http://www.digitalgov.gov/2013/09/11/mobile-code-sharing-catalog-snippet-web-experience-toolkit-wet/">Mobile Code Sharing Catalog Snippet: Web Experience Toolkit</a></td>
				<td><time>2013-09-12</time></td>
				<td>Jacob Parcell</td>
				<td lang="en">Howto.gov</td>
			</tr>
			<tr>
				<td lang="en"><a href="http://www.spydergrrl.com/2013/08/wxt-codefest-today-keep-calm-and-hack.html">WxT Codefest Today: Keep Calm and Hack the Government</a></td>
				<td><time>2013-08-08</time></td>
				<td>Tanya Snook</td>
				<td>spydergrrl.com</td>
			</tr>
			<tr>
				<td lang="en"><a href="http://myeinsteinjob.blogspot.ca/2013/07/the-non-stereoptypical-public-servant.html">How the Web Experience Toolkit is changing how we view Public Servants</a></td>
				<td><time>2013-07-23</time></td>
				<td>Richard Pietro</td>
				<td lang="en">My Einstein Job (Personal Blog)</td>
			</tr>
			<tr>
				<td lang="en"><a href="http://www.fiercegovernmentit.com/story/open-source-solutions-offered-through-canadas-web-experience-toolkit/2013-05-06">Open source solutions offered through Canada's web Experience Toolkit</a></td>
				<td><time>2013-05-06</time></td>
				<td>Molly Bernhart Walker</td>
				<td lang="en">FierceGovernmentIT</td>
			</tr>
			<tr>
				<td lang="en"><a href="http://www.digitalgov.gov/2013/04/19/how-canada-is-revolutionizing-digital-governance/">How Canada is Revolutionizing Digital Governance</a></td>
				<td><time>2013-04-19</time></td>
				<td>Andrea Sigritz</td>
				<td lang="en">DigitalGov</td>
			</tr>
			<tr>
				<td lang="en"><a href="http://www.myplanetdigital.com/article/wetkit-steals-show-drupalcamp-ottawa">WetKit steals the show at DrupalCamp Ottawa</a></td>
				<td><time>2013-04-19</time></td>
				<td>Andrea Sigritz</td>
				<td lang="en">DigitalGov</td>
			</tr>
			<tr>
				<td lang="en"><a href="http://www.wired.com/wiredenterprise/2013/01/wet/">Canadian Coders Solve Mystery of Open Source Government</a></td>
				<td><time>2013-01-11</time></td>
				<td>Robert McMillan</td>
				<td lang="en">Wired</td>
			</tr>
			<tr>
				<td lang="en"><a href="http://roberto-montero.com/blog/web-experience-toolkit-distribution">The day I discovered Web Experience Toolkit Distribution</a></td>
				<td><time>2012-11-30</time></td>
				<td>Roberto Montero</td>
				<td>Blogue personnel</td>
			</tr>
			<tr>
				<td lang="en"><a href="http://www.canadiangovernmentexecutive.ca/e-government/ict/item/1027-the-right-solutions-%E2%80%93-by-design.html">The right solutions – by design</a></td>
				<td><time>2012-10-09</time></td>
				<td>Laura Wesley</td>
				<td lang="en">Canadian Government Executive</td>
			</tr>
			<tr>
				<td lang="en"><a href="http://fr.reddit.com/r/programming/comments/yra8u/the_canadian_government_published_their_first/">The Canadian Government published their first Github Repo months ago</a></td>
				<td><time>2012-08-24</time></td>
				<td>Divers</td>
				<td>Discussion de programmation de Reddit</td>
			</tr>
			<tr>
				<td lang="en"><a href="http://theotherharper.wordpress.com/2012/07/11/usability-for-canadian-government-websites/">Usability for Canadian Government Websites</a></td>
				<td><time>2012-07-11</time></td>
				<td>Lucia Harper</td>
				<td lang="en">The Other Harper</td>
			</tr>
		</tbody>
	</table>
</section>

<section>
	<h2>Videos</h2>
	<table class="table">
		<thead>
			<tr>
				<th scope="col">Titre</th>
				<th scope="col">Événement</th>
				<th scope="col">Temps de référence à la BOEW</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><a href="http://youtu.be/l9iBdC5HPEU">FestiCode 2014 Design Jam @ 1125</a></td>
				<td>FestiCode 2014 - Design Jam (<time>2014-08-14</time> à <time>2014-08-15</time>)</td>
				<td>Vidéo complète</td>
			</tr>
			<tr>
				<td><a href="http://www.youtube.com/watch?v=UkRwPqqeR_k">CodeFest 2013</a></td>
				<td>Journée de codage de la BOEW 2013 (<time>2013-08-08</time> à <time>2013-08-09</time>)</td>
				<td>Vidéo complète</td>
			</tr>
			<tr>
				<td lang="en"><a href="http://www.youtube.com/watch?v=826fnHQEMZ0">Pull: Richard Pietro on Technology and Government</a></td>
				<td>Journée de codage de la BOEW 2013 (<time>2013-08-08</time>) </td>
				<td>Vidéo complète</td>
			</tr>
			<tr>
				<td><a href="http://www.youtube.com/watch?feature=player_embedded&amp;v=51hN1trnpXA">Journée de codage de la BOEW 2013 - Jour 2</a></td>
				<td>Journée de codage de la BOEW 2013 (<time>2013-08-08</time>) </td>
				<td>Vidéo complète</td>
			</tr>
			<tr>
				<td><a href="http://www.youtube.com/watch?feature=player_embedded&amp;v=E-AxzfaZQVc">Journée de codage de la BOEW 2013 - Jour 1</a></td>
				<td>Journée de codage de la BOEW 2013 (<time>2013-08-09</time>) </td>
				<td>Vidéo complète</td>
			</tr>
			<tr>
				<td lang="en"><a href="https://socialcam.com/v/us8JTfi6?autostart=true&amp;fs=twitter&amp;fsk=AisVCfse">@TonyclementCPC speaking about the new open gig platform used on www.data.gc.ca... With a throw out to #wxt</a></td>
				<td>socialcam (Richard Pietro, <time>2013-06-18</time>)</td>
				<td>Vidéo complète</td>
			</tr>
			<tr>
				<td lang="en"><a href="http://www.howto.gov/training/classes/canada-web-experience-toolkit">Exploring Canada's Web Experience Toolkit</a></td>
				<td>Webinaire HowTo.gov (<time>2013-04-17</time>)</td>
				<td>Vidéo complète. Il y a aussi un <a href="http://www.digitalgov.gov/2013/04/19/how-canada-is-revolutionizing-digital-governance/">blogue lié</a>.</td>
			</tr>
			<tr>
				<td><a href="http://www.youtube.com/watch?v=JamPu5mvKp0&amp;feature=youtu.be">Nick Schonning &amp; Laura Wesley ont présenté la BOEW à la réunion A11yTO</a> - vidéo par HTML5_Toronto</td>
				<td lang="en">Toronto Accessibility &amp; Inclusive Design Meet-up (<time>2013-04-16</time>)</td>
				<td>Vidéo complète. Il y a aussi un <a href="http://storify.com/ResultsJunkie/presenting-wxt-to-a11yto">Storify des tweets</a></td>
			</tr>
			<tr>
				<td lang="en"><a href="http://sydney2013.drupal.org/creating-dynamic-and-accessible-content-drupal-7-using-wai-aria">Creating dynamic and accessible content in Drupal 7 using WAI-ARIA</a></td>
				<td>DrupalCon Sydney (<time>2013-02-07</time>)</td>
				<td>15:45 à 20:06</td>
			</tr>
			<tr>
				<td lang="en"><a href="http://www.youtube.com/watch?feature=player_embedded&amp;v=3eHUKAgZCEU#!">GitHub in Government</a></td>
				<td lang="en">New York State Senate Capitol Camp (<time>2012-11-16</time>)</td>
				<td>9:35 à 9:47 et 17:15 à 20:00</td>
			</tr>
		</tbody>
	</table>
</section>
