---
{
	"title": "Other components",
	"language": "en",
	"description": "Other components - Documentation - Web Experience Toolkit (WET)",
	"altLangPrefix": "other",
	"dateModified": "2014-07-28"
}
---
<p>These WET components provide various types of information and functionality that is useful to developing and managing websites.</p>
<ul>
	<li><a href="arb-rra/arb-rra-en.html">Accessibility responsibility breakdown (WCAG 2.0)</a> - Provides a breakdown of WCAG 2.0 accessibility responsibilities throughout the Web production chain.</li>
	<li><a href="archived/archived-en.html">ARCHIVED - Archived content</a> - Helps users identify Web pages that have been archived online.</li>
	<li><a href="feedback/feedback-en.html">Feedback form</a> - Allows users to submit feedback for a specific Web page or Web site.</li>
	<li><a href="helloworld/helloworld-en.html">Hello world plugin example</a> - A quick tutorial on how you can create your own WET plugin.</li>
	<li><a href="tablevalidator/tablevalidator-en.html">Table Validator</a> - Web editor tool that helps to produce tables that conform to WCAG 2.0</li>
	<li><a href="transitions/transitions-en.html">Transitions</a> - CSS-based transitions</li>
	<li><a href="wamethod/wamethod-en.html">Web Accessibility Assessment Methodology</a> - Provides an assessment methodology that assists with measuring conformance to the Web Content Accessibility Guidelines (WCAG) 2.0 Level A, AA, and AAA Success Criteria.</li>
</ul>
