---
{
	"title": "Autres composants",
	"language": "fr",
	"description": "Autres composants - Documentation - Boîte à outils de l'expérience Web (BOEW)",
	"altLangPrefix": "other",
	"dateModified": "2014-07-28"
}
---
<p lang="en"><strong>Needs translation</strong> These WET components provide various types of information and functionality that is useful to developing and managing websites.</p>
<ul>
	<li><a href="archived/archived-fr.html">ARCHIVÉE - Contenu archivé</a> - Ajoute un avis d'archivage à une page Web.</li>
	<li><a href="helloworld/helloworld-fr.html">Exemple de plugiciel, Bonjour le monde</a> - Un tutoriel rapide sur commment créer votre plugiciel BOEW.</li>
	<li><a href="feedback/feedback-fr.html">Formulaire de rétroaction</a> - Un formulaire normalisé pour soumettre une rétroaction au sujet d'une page ou d'un site Web particulier.</li>
	<li><a href="wamethod/wamethod-fr.html">Méthodologie d’évaluation sur l’accessibilité des sites Web</a> - Offre une méthodologie d’évaluation qui permet de mesurer le degré de conformité aux Règles pour l’accessibilité des contenus Web (WCAG) 2.0 pour les critères de succès de niveau A, AA et AAA.</li>
	<li><a href="arb-rra/arb-rra-fr.html">Répartition des responsabilités d'accessibilité (WCAG 2.0)</a> - Une répartition des responsabilités associées aux critères de succès pour WCAG 2.0 sur l’ensemble de la chaîne de production Web.</li>
	<li><a href="transitions/transitions-fr.html">Transitions</a> - Transitions CSS</li>
	<li><a href="tablevalidator/tablevalidator-fr.html">Validateur de tableau</a> - Outils pour les éditeur web qui fourni une assistance afin de produire des tableaux conforme au norme WCAG</li>
</ul>
