---
{
	"title": "Plugiciels",
	"language": "fr",
	"description": "Plugiciels - Documentation - Boîte à outils de l'expérience Web (BOEW)",
	"altLangPrefix": "plugins",
	"dateModified": "2014-03-31"
}
---
<p>Les plugiciels BOEW fournis divers fonctionalités utilent pour un site web et l'initialisation de ceux-ci se font l'intermédaire d'une classe CSS défénie à un élément HTML.</p>
<ul>
	<li><a href="collapsible-alerts/collapsible-alerts-fr.html">Alertes repliables</a> - Créer des alertes que les utilisateurs peuvent replier.</li>
	<li><a href="toggle/toggle-fr.html">Basculer</a> - Plugiciel qui permet un lien à basculer des éléments entre les états activé et désactivé.</li>
	<li><a href="cal-events/cal-events-fr.html">Calendrier d'événements</a> - Un calendrier servant à consulter une liste d'événements.</li>
	<li><a href="twitter/twitter-fr.html">Chronologie intégrée Twitter</a> - Affiche des chronologies intégrées Twitter.</li>
	<li><a href="country-content/country-content-fr.html">Contenu par pays</a> - Un enveloppeur de AjaxLoader qui insère de contenu télécharger via AJAX. Le contenu est basée sur l'emplacement des visiteurs comme déterminé par http://freegeoip.net</li>
	<li><a href="overlay/overlay-fr.html">Contenu superposé</a> - Un plugiciel fournissant un modèle de contenu superposé flexible et réactif.</li>
	<li><a href="data-ajax/data-ajax-fr.html">Data Ajax</a> - Un enveloppeur simple pour AjaxLoader qui insère de contenu télécharger via AJAX.</li>
	<li><a href="data-inview/data-inview-fr.html">Data Inview</a> - Affiche de contenu superposé quand une section se déplace hors de la clôture.</li>
	<li><a href="data-picture/data-picture-fr.html">Data Picture</a> - Conversion de Picturefill guidé par l'événement.</li>
	<li><a href="equalheight/equalheight-fr.html">Égalisation des hauteurs</a> - Un plugiel d'égalisation des hauteurs réactif.</li>
	<li><a href="session-timeout/session-timeout-fr.html">Expiration de la session</a> - Ferme la session de l'utilisateur après un certain délai.</li>
	<li><a href="favicon/favicon-fr.html">Favoricône</a> - Offre la possibilité d'ajouter et de mettre à jour les favoricônes d'une page.</li>
	<li><a href="feeds/feeds-fr.html">Fils de syndication</a> - Affiche les articles d’un ou plus fils de syndication.</li>
	<li><a href="filter/filter-fr.html">Filtre</a> - Filtre du contenu et n'affiche que le contenu ayant un certain mot-clé.</li>
	<li><a href="feedback/feedback-fr.html">Formulaire de rétroaction</a> - Un formulaire normalisé pour soumettre une rétroaction au sujet d'une page ou d'un site Web particulier.</li>
	<li><a href="share/share-fr.html">Gadget de partage</a> - Permet à l'utilisateur de partager un contenu Web sur les plateformes de médias sociaux.</li>
	<li><a href="geomap/geomap-fr.html">Géocarte</a> - Affiche une carte dynamique sur laquelle des informations de sources supplémentaires peuvent être superposées.</li>
	<li><a href="charts/charts-fr.html">Graphiques</a> - Génère des graphiques à partir de données d’un tableau.</li>
	<li><a href="tabs/tabs-fr.html">Interface à onglets</a> - Comprime plusieurs sections de contenu dans le même espace physique et fourni des onglets qui permettent à l'utilisateur de choisi la section de contenu à afficher.</li>
	<li><a href="multimedia/multimedia-fr.html">Lecteur multimédia</a> - Un lecteur multimédia accessible permettant d'intégrer des contenus vidéo et audio sur les pages Web.</li>
	<li><a href="lightbox/lightbox-fr.html">Lightbox</a> - Crée une galerie photo sur une page Web.</li>
	<li><a href="menu/menu-fr.html">Menu</a> - Une barre de menu interactive comprenant des sous-menus optionnels.</li>
	<li><a href="texthighlight/texthighlight-fr.html">Mise en surbrillance de texte</a> - Met en surbrillance sur une page Web les mots choisis.</li>
	<li><a href="footnotes/footnotes-fr.html">Notes de bas de page</a> - Une méthode cohérente et facile d’accès pour répertorier les notes de bas de page.</li>
	<li><a href="prettify/prettify-fr.html">Prettify</a> - Coloration syntaxique des extraits de code source dans une page html en utilisant <a href="https://github.com/google/code-prettify" rel="external" hreflang="en">google-code-prettify</a>.</li>
	<li><a href="tables/tables-fr.html">Tables</a> - Integrates the DataTables plugin into WET providing searching, sorting, filtering, pagination and other advanced features for tables.</li>
	<li><a href="formvalid/formvalid-fr.html">Validation de formulaires</a> - Effectue la validation de formulaires Web selon un ensemble de règles de base avant qu'ils soient soumis.</li>
</ul>

<h2>Utilisation de votre plugiciel</h2>

<p>Pour que vous puissez utiliser votre propre plugiciel dans la BOEW, vous devez:</p>
<ol>
	<li>Votre plugiciel doit suivre la procédure d'initialisation de la BOEW.</li>
	<li>Votre script doit être ajouter après que le script <code>wet-boew.min.js</code> soit inséré dans votre page.</li>
	<li>Un élément dans votre page doit contenir l'appel de votre plugiciel, tel que le nom du plugiciel soit existant dans l'attribut "class".</li>
</ol>

<p>Prenez le temps de consulter l'example <a href="../../demos/helloworld/helloworld-fr.html">Bonjour le monde</a>.</p>
