---
{
	"title": "Correctifs",
	"language": "fr",
	"description": "Correctifs - Documentation - Boîte à outils de l'expérience Web (BOEW)",
	"altLangPrefix": "polyfills",
	"dateModified": "2014-07-20"
}
---
<p lang="en"><strong>Needs translation</strong> The polyfills are JavaScript components that mimic the behaviour of HTML5 tags in browsers that do not recognized such tags. They provide backwards compatibility for HTML5 in browsers that do not support HTML5.</p>
<ul>
	<li><a href="meter/meter-fr.html">Correctif «&#160;meter&#160;» (compteur)</a> - Émule l’élément «&#160;<code>meter</code>&#160;» pour les navigateurs qui ne le supportent pas. L'élément «&#160;<code>meter</code>&#160;» affiche une mesure scalaire dans une gamme connue.</li>
	<li><a href="progress/progress-fr.html">Correctif «&#160;progress&#160;» (barred de progression)</a> - Émule l’élément «&#160;<code>progress</code>&#160;» pour les navigateurs qui ne le supportent pas. L'élément «&#160;<code>progress</code>&#160;» de HTML5 affiche la progression d'une tâche.</li>
	<li><a href="datalist/datalist-fr.html">Correctif «&#160;datalist&#160;» (saisie automatique)</a> - Émule l'attribut «&#160;<code>list</code>&#160;» de l'élément «&#160;<code>input</code>&#160;», ainsi que l'élément «&#160;<code>datalist</code>&#160;», pour les navigateurs qui ne les supportent pas. Ceci ajoute des fonctionnalités de saisie semi-automatique des champs de «&#160;<code>input</code>&#160;» spécifiques en affichant dynamiquement une liste de mots qui correspondent à la «&#160;<code>datalist</code>&#160;».</li>
	<li><a href="details/details-fr.html">Correctif «&#160;details/summary&#160;» (contenu affichable/masquable)</a> - Émule les éléments «&#160;<code>details</code>&#160;» et «&#160;<code>summary</code>&#160;» pour les navigateurs qui ne le supportent pas. Les éléments «&#160;<code>details</code>&#160;» et «&#160;<code>summary</code>&#160;» éléments permettent au contenu d'être affiché et masqué.</li>
	<li><a href="datepicker/datepicker-fr.html">Correctif «&#160;input type="date"&#160;» (sélecteur de date)</a> - Émule l’élément <code>&lt;input type=&quot;date&quot;&gt;</code> pour les navigateurs qui ne le supportent pas. Cela génère dynamiquement une interface de calendrier pour sélectionner une date dans un formulaire.</li>
	<li><a href="slider/slider-fr.html">Correctif «&#160;input type="range"&#160;» (barre coulissante)</a> - Émule l’élément <code>&lt;input type=&quot;range&quot;&gt;</code> pour les navigateurs qui ne le supportent pas. Le <code>&lt;input type=&quot;range&quot;&gt;</code> permet d'afficher une barre coulissante.</li>
	<li><a href="mathml/mathml-fr.html">Correctif MathML</a> - Émule le MathML pour les navigateurs qui ne le supportent pas.</li>
</ul>
