---
{
	"title": "Correctifs",
	"language": "fr",
	"description": "Correctifs - Documentation - Boîte à outils de l'expérience Web (BOEW)",
	"altLangPrefix": "polyfills"
}
---
<p lang="en"><strong>Needs translation</strong> The polyfills are JavaScript components that mimic the behaviour of HTML5 tags in browsers that do not recognized such tags. They provide backwards compatibility for HTML5 in browsers that do not support HTML5.</p>
<ul>
	<li><a href="meter/meter-fr.html">Correctif «&#160;meter&#160;» (compteur)</a> - Émule l’élément «&#160;meter&#160;» pour les navigateurs qui ne le supportent pas.</li>
	<li><a href="progress/progress-fr.html">Correctif «&#160;progress&#160;» (barred de progression)</a> - Émule l’élément « progress » pour les navigateurs qui ne le supportent pas.</li>
	<li><a href="datalist/datalist-fr.html">Correctif «&#160;datalist&#160;» (saisie automatique)</a> - Émule l'attribut list de l'élément &lt;inputs&gt;, ainsi que l'élément &lt;datalist&gt;, pour les navigateurs qui ne les supportent pas.</li>
	<li><a href="details/details-fr.html">Correctif «&#160;details/summary&#160;» (contenu affichable/masquable)</a> - Émule l'attribut list de l'élément &lt;inputs&gt;, ainsi que l'élément &lt;datalist&gt;, pour les navigateurs qui ne les supportent pas.</li>
	<li><a href="datepicker/datepicker-fr.html">Correctif «&#160;input type="date"&#160;» (sélecteur de date)</a> - Émule l'attribut list de l'élément &lt;inputs&gt;, ainsi que l'élément &lt;datalist&gt;, pour les navigateurs qui ne les supportent pas.</li>
	<li><a href="slider/slider-fr.html">Correctif «&#160;input type="range"&#160;» (barre coulissante)</a> - Émule l’élément &lt;input type="range"&gt; pour les navigateurs qui ne le supportent pas.</li>
	<li><a href="mathml/mathml-fr.html">Correctif MathML</a> - Émule le MathML pour les navigateurs qui ne le supportent pas.</li>
</ul>
