---
{
	"title": "Polyfills",
	"language": "en",
	"description": "Polyfills - Documentation - Web Experience Toolkit (WET)",
	"altLangPrefix": "polyfills",
	"dateModified": "2014-07-20"
}
---
<p>The polyfills are JavaScript components that mimic the behaviour of HTML5 tags in browsers that do not recognized such tags. They provide backwards compatibility for HTML5 in browsers that do not support HTML5.</p>
<ul>
	<li><a href="datalist/datalist-en.html">Datalist polyfill (auto-complete)</a> - Emulates <code>input list</code> attribute and <code>datalist</code> element support for browsers that do not have support. This adds auto-complete functionality to specific <code>input</code> fields by dynamically displaying a list of words that match the <code>datalist</code>.</li>
	<li><a href="details/details-en.html">Details/summary polyfill (expandable/collapsible content)</a> - Emulates <code>details</code> and <code>summary</code> element support for browsers that do not have support. The <code>details</code> and <code>summary</code> elements allows content to be expanded and collapsed.</li>
	<li><a href="datepicker/datepicker-en.html">Input type="date" polyfill (date picker)</a> - Emulates <code>&lt;input type=&quot;date&quot;&gt;</code> support for browsers that do not have support. This dynamically generates a calendar interface for selecting a date in a form.</li>
	<li><a href="slider/slider-en.html">Input type="range" polyfill (slider control)</a> - Emulates <code>&lt;input type=&quot;range&quot;&gt;</code> support for browsers that do not have support. The <code>&lt;input type=&quot;range&quot;&gt;</code> element displays a slider control bar.</li>
	<li><a href="mathml/mathml-en.html">MathML polyfill</a> - Emulates MathML support for browsers that do not have MathML support.</li>
	<li><a href="meter/meter-en.html">Meter polyfill</a> - Emulates <code>meter</code> element support for browsers that do not have support. The <code>meter</code> element displays a scalar measurement in a known range.</li>
	<li><a href="progress/progress-en.html">Progress polyfill (progress bar)</a> - Emulates <code>progress</code> element support for browsers that do not have support. The <code>progress</code> element displays the progress of a task.</li>
</ul>
