---
{
	"title": "Polyfills",
	"language": "en",
	"description": "Polyfills - Documentation - Web Experience Toolkit (WET)",
	"altLangPrefix": "polyfills",
	"dateModified": "2014-02-19"
}
---
<p>The polyfills are JavaScript components that mimic the behaviour of HTML5 tags in browsers that do not recognized such tags. They provide backwards compatibility for HTML5 in browsers that do not support HTML5.</p>
<ul>
	<li><a href="datalist/datalist-en.html">Datalist polyfill (auto-complete)</a> - Adds auto-complete functionality to specific &lt;input&gt; fields by dynamically displaying a list of words that match the &lt;datalist&gt;.</li>
	<li><a href="details/details-en.html">Details/summary polyfill (expandable/collapsible content)</a> - The &lt;details&gt; and &lt;summary&gt; elements allows content to be expanded and collapsed.</li>
	<li><a href="datepicker/datepicker-en.html">Input type="date" polyfill (date picker)</a> - The &lt;input type="date"&gt; element dynamically generates a calendar interface for selecting a date in a form.</li>
	<li><a href="slider/slider-en.html">Input type="range" polyfill (slider control)</a> - The &lt;input type="range"&gt; element displays a slider control bar.</li>
	<li><a href="mathml/mathml-en.html">MathML polyfill</a> - Emulates MathML support for browsers that do not have MathML support.</li>
	<li><a href="meter/meter-en.html">Meter polyfill</a> - The &lt;meter&gt; element displays a scalar measurement in a known range.</li>
	<li><a href="progress/progress-en.html">Progress polyfill (progress bar)</a> - The &lt;progress&gt; element displays the progress of a task.</li>
</ul>
