---
{
	"title": "Matériel promotionnel",
	"language": "fr",
	"description": "Matériel promotionnel - Documentation - Boîte à outils de l'expérience Web (BOEW)",
	"altLangPrefix": "promo",
	"dateModified": "2014-02-19"
}
---
<p>ervez-vous du matériel disponible sur cette page lorsque vous faite la promotion de la Boîte à outils de l'expérience Web. Sauf indication contraire, tout le matériel sur cette page est disponible sous les mêmes conditions <a href="../../Licence-fr.html">conditions</a> que celles de la Boîte à outils de l'expérience Web.</p>

<p>Si vous développez du matériel promotionnel additionnel, veuillez le partager sur cette page pour que d'autres puissent s'en servir.</p>

<section>
	<h2>Marchandise</h2>

	<section>
		<h3>Faire ou acheter un t-shirt! </h3>
		<ul>
			<li><a href="https://www.cafepress.com/cp/customize/product2.aspx?number=845431608">Exemple d'un t-shirt d'homme sur CafePress (anglais seulement)</a></li>
			<li><a href="https://www.cafepress.com/cp/customize/product2.aspx?number=845440330">Exemple d'un t-shirt de femme sur CafePress (anglais seulement)</a></li>
		</ul>
	</section>
</section>

<section>
	<h2>Logo</h2>
	<figure>
		<img src="https://raw.github.com/wet-boew/wet-boew-attachments/master/Promo/WET_Logo.png" width="200" alt="Logo for the Web Experience Toolkit" />
		<figcaption>Logo for the Web Experience Toolkit</figcaption>
	</figure>
	<p>Disponible en :</p>
	<ul>
		<li><a href="https://raw.github.com/wet-boew/wet-boew-attachments/master/Promo/WET_Logo.png">Format PNG</a></li>
		<li><a href="https://raw.github.com/wet-boew/wet-boew-attachments/master/Promo/WET%20Logo%20-%20Full%20Bleed.svg">Format SVG - <span lang="en">«&#160;Full Bleed&#160;»</span></a></li>
		<li><a href="https://raw.github.com/wet-boew/wet-boew-attachments/master/Promo/WET%20Logo%20-%20Safe%20Area.svg">Format SVG - <span lang="en">«&#160;Safe Area&#160;»</span></a></li>
	</ul>
</section>

<section>
	<h2>Poster</h2>
	<figure>
		<img src="https://raw.github.com/wet-boew/wet-boew-attachments/master/Promo/WET_Poster_Preview_English.png" width="300" alt="Poster en anglais pour la Boîte à outils de l'expérience Web" />&#160;
		<img src="https://raw.github.com/wet-boew/wet-boew-attachments/master/Promo/WET_Poster_Preview_French.png" width="300" alt="Poster en français pour la Boîte à outils de l'expérience Web" />
		<figcaption>Posters en anglais et en français pour la Boîte à outils de l'expérience Web</figcaption>
	</figure>
	<p>Disponible en :</p>
	<ul>
		<li><a href="https://github.com/wet-boew/wet-boew-attachments/raw/master/Promo/WET_Poster_English.pdf">anglais, en format PDF</a></li>
		<li><a href="https://github.com/wet-boew/wet-boew-attachments/raw/master/Promo/WET_Poster_French.pdf">français, en format PDF</a></li>
	</ul>
</section>
