---
{
	"title": "Promotional material",
	"language": "en",
	"description": "Promotional material - Documentation - Web Experience Toolkit (WET)",
	"altLangPrefix": "promo",
	"dateModified": "2014-02-19"
}
---
<p>Use the material on this page when promoting the Web Experience Toolkit. Unless otherwise noted, all the material on this page is available under the same <a href="../../License-en.html">terms and conditions</a> as the Web Experience Toolkit.</p>

<p>If you develop additional promotional material, please share it on this page for others to use.</p>

<section>
	<h2>Swag</h2>

	<section>
		<h3>Make or buy a tshirt!</h3>
		<ul>
			<li><a href="https://www.cafepress.com/cp/customize/product2.aspx?number=845431608">Sample Men's tshirt on CafePress</a></li>
			<li><a href="https://www.cafepress.com/cp/customize/product2.aspx?number=845440330">Sample Women's tshirt on CafePress</a></li>
		</ul>
	</section>
</section>

<section>
	<h2>Logo</h2>
	<figure>
		<img src="https://raw.github.com/wet-boew/wet-boew-attachments/master/Promo/WET_Logo.png" width="200" alt="Logo for the Web Experience Toolkit" />
		<figcaption>Logo for the Web Experience Toolkit</figcaption>
	</figure>
	<p>Available in:</p>
	<ul>
		<li><a href="https://raw.github.com/wet-boew/wet-boew-attachments/master/Promo/WET_Logo.png">PNG format</a></li>
		<li><a href="https://raw.github.com/wet-boew/wet-boew-attachments/master/Promo/WET%20Logo%20-%20Full%20Bleed.svg">SVG format - Full Bleed</a></li>
		<li><a href="https://raw.github.com/wet-boew/wet-boew-attachments/master/Promo/WET%20Logo%20-%20Safe%20Area.svg">SVG format - Safe Area</a></li>
	</ul>
</section>

<section>
	<h2>Poster</h2>
	<figure>
		<img src="https://raw.github.com/wet-boew/wet-boew-attachments/master/Promo/WET_Poster_Preview_English.png" width="300" alt="English poster for the Web Experience Toolkit" />&#160;
		<img src="https://raw.github.com/wet-boew/wet-boew-attachments/master/Promo/WET_Poster_Preview_French.png" width="300" alt="French poster for the Web Experience Toolkit" />
		<figcaption>English and French posters for the Web Experience Toolkit</figcaption>
	</figure>
	<p>Available in:</p>
	<ul>
		<li><a href="https://github.com/wet-boew/wet-boew-attachments/raw/master/Promo/WET_Poster_English.pdf">English PDF format</a></li>
		<li><a href="https://github.com/wet-boew/wet-boew-attachments/raw/master/Promo/WET_Poster_French.pdf">French PDF format</a></li>
	</ul>
</section>
