---
{
	"title": "Provisional features",
	"language": "en",
	"altLangPrefix": "provisional",
	"dateModified": "2020-08-18",
	"share": "true"
}
---

<div class="alert alert-warning">
	<h2>Unstable feature</h2>
	<p>To be used at <strong>your own risk</strong>. All functionalities described below can be removed in any subsequent minor/major release</p>
	<p><small><a href="https://wet-boew.github.io/wet-boew-documentation/decision/7.html">Learn more about the design decision around provisional features.</a></small></p>
	<p>The documentation and/or working examples for those features could be incomplete or not available.</p>
</div>

<h2>Feature availability</h2>

<p>The following table describes until which version of WET-BOEW each provisional feature will be available. The features' availability will be re-evaluated at every release. A withdrawn provisional feature would be notified one version in advance.</p>

<details>
	<summary>Status description</summary>
	<dl class="dl-horizontal">
		<dt>&lt;not specified&gt;</dt>
		<dd>provisional</dd>
		<dt>Withdrawn</dt>
		<dd>The feature are not available</dd>
		<dt>Supported</dt>
		<dd>The feature are included and supported by the WET-BOEW public API.</dd>
		<dt>Withdrawn after v.Major.Minor</dt>
		<dd>The v.Major.Minor represent the last version where that feature is available. Authors must consider an alternative or remove that feature.</dd>
	</dl>
</details>

<table class="table table-bordered">
<thead>
	<tr>
		<th>Name</th>
		<th>Description</th>
		<th class="nowrap">Available in</th>
		<th>Status</th>
	</tr>
</thead>
<tbody>
	<tr>
		<th>CSS <code>.bg-cover</code></th>
		<td>Background size cover</td>
		<td>v4.0.34</td>
		<td>Stable since v4.0.40</td>
	</tr>
	<tr>
		<th>Plugin <code>[data-bgimg]</code></th>
		<td>Take the URL value and set it as the background image. To be replaced by CSS4 selector.</td>
		<td>v4.0.34</td>
		<td>Stable since v4.0.40</td>
	</tr>
	<tr>
		<th>Plugin <code>[data-bgimg-srcset]</code></th>
		<td>Detects the change in screen width and replace the background image accordingly</td>
		<td>v4.0.34</td>
		<td>Stable since v4.0.40</td>
	</tr>
	<tr>
		<th>Plugin <code>.wb-steps</code></th>
		<td>Provides the ability to split a form into steps</td>
		<td>v4.0.35</td>
		<td><a href="../../docs/ref/stepsform/stepsform-en.html">Detailed documentation</a></td>
	</tr>
	<tr>
		<th>Plugin <code>[data-wb-randomize]</code></th>
		<td>This plugin randomly picks one of the child component to be shown on the browser</td>
		<td>v4.0.35</td>
		<td>Stable since v4.0.40</td>
	</tr>
	<tr>
		<th>Plugin <code>.wb-postback</code></th>
		<td>This plugin makes an AJAX request when a form is submitted to stay on page. <a href="../../docs/ref/wb-postback/wb-postback-en.html">Detailed documentation</a></td>
		<td>v4.0.35</td>
		<td>Stable since v4.0.40</td>
	</tr>
	<tr>
		<th>CSS <code>.bg-center</code></th>
		<td>Background position center</td>
		<td>v4.0.36</td>
		<td>Stable since v4.0.40</td>
	</tr>
	<tr>
		<th>CSS <code>.position-relative</code></th>
		<td>Puts an element in a relative position.</td>
		<td>Supported after v4.0.37 (STR)</td>
		<td>Stable since v4.0.37</td>
	</tr>
</tbody>
</table>

<p>Canada.ca provisional feature are listed on the <a href="https://wet-boew.github.io/GCWeb/home.html">GCWeb home page</a> with the status "Provisional".</p>

<h2>Provisional feature documentation</h2>

<p>CSS provisional features must be accompanied by the class <code>.provisional</code> within his context of use.</p>

<h2>Provisional working examples</h2>

<ul>
	<li><a href="../../docs/ref/stepsform/stepsform-en.html">Detailed documentation</a></li>
</ul>
