---
{
	"title": "Thèmes et style",
	"language": "fr",
	"description": "Thèmes et style - Documentation - Boîte à outils de l'expérience Web (BOEW)",
	"altLangPrefix": "themesstyle",
	"dateModified": "2014-02-26"
}
---
<section>
	<h2>Thèmes</h2>
	<ul>
		<li><a href="http://wet-boew.github.io/themes-dist/GCWeb/docs/ref/GCWeb/GCWeb-fr.html">Thème Canada.ca</a> - Ce thème met en place la mise en page et la mise en forme exigés pour le site Canada.ca.</li>
		<li><a href="http://wet-boew.github.io/themes-dist/theme-base/docs/ref/theme-base/theme-base-fr.html">Thème de base</a> - Un modèle de thème pour la création de nouveaux thèmes.</li>
		<li><a href="theme-wet-boew/theme-wet-boew-fr.html">Thème de la Boîte à outils de l'expérience Web (BOEW)</a> - Un exemple de thème conçu à partir du thème de base.</li>
		<li><a href="http://wet-boew.github.io/themes-dist/theme-gcwu-fegc/docs/ref/theme-gcwu-fegc/theme-gcwu-fegc-fr.html">Thème de la facilité d’emploi Web du gouvernement du Canada</a> - Ce thème met en place la mise en page et la mise en forme exigés par la <a href="http://www.tbs-sct.gc.ca/pol/doc-eng.aspx?id=24227">Norme sur la facilité des sites Web</a> (en cours de révision) et a été remplacé par la <a href="http://wet-boew.github.io/themes-dist/GCWeb/docs/ref/GCWeb/GCWeb-fr.html">thème Canada.ca</a> (voir ci-dessus). </li>
		<li><a href="http://wet-boew.github.io/themes-dist/theme-gc-intranet/docs/ref/theme-gc-intranet/theme-gc-intranet-en.html">Thème du gouvernement du Canada pour les sites intranet</a> - Une version du thème de la facilité d'emploi des sites Web du gouvernement du Canada pour les sites intranet.</li>
		<li><a href="http://wet-boew.github.io/themes-dist/theme-ogpl/docs/ref/theme-ogpl/theme-ogpl-en.html">Thème de la Plate-forme de gouvernement ouvert (PGO)</a> - Un thème qui met en place la mise en page et la mise en forme pour la <a href="http://ogpl.github.io/index-fr.html">Plate-forme de gouvernement ouvert (PGO)</a>.</li>
	</ul>
</section>

<section>
	<h2>Style</h2>
	<ul>
		<li><a href="http://wet-boew.github.io/wet-boew-styleguide/v4/index-en.html">Guide stylistique (anglais seulement)</a></li>
	</ul>
</section>
