---
{
	"title": "Themes and style",
	"language": "en",
	"description": "Themes and style - Documentation - Web Experience Toolkit (WET)",
	"altLangPrefix": "themesstyle",
	"dateModified": "2014-02-25"
}
---
<section>
	<h2>Themes</h2>
	<ul>
		<li>Base theme - A theme template to aid in the creation of new themes.</li>
		<li>Government of Canada Web Usability Theme - This theme implements the requirements of the <a href="http://www.tbs-sct.gc.ca/pol/doc-eng.aspx?id=24227">Standard on Web Usability</a> and is recommended for use on all Government of Canada websites (except for Canada.ca).</li>
		<li>Government of Canada Intranet theme - This theme adapts the Government of Canada Web Usability theme for intranet sites.</li>
		<li>Open Government Platform (OGPL) theme - The Open Government Platform (OGPL) theme was developed to support the <a href="http://ogpl.github.io/index-en.html">Open Government Platform (OGPL)</a>.</li>
		<li><a href="theme-wet-boew/theme-wet-boew-en.html">Web Experience Toolkit (WET) theme</a> - This theme provides an example implementation of the Base Theme.</li>
	</ul>
</section>

<section>
	<h2>Style</h2>
	<ul>
		<li><a href="http://wet-boew.github.io/wet-boew-styleguide/new/index-en.html">Style guide</a></li>
	</ul>
</section>
