---
{
	"title": "Themes and style",
	"language": "en",
	"description": "Themes and style - Documentation - Web Experience Toolkit (WET)",
	"altLangPrefix": "themesstyle",
	"dateModified": "2014-02-26"
}
---
<section>
	<h2>Themes</h2>
	<ul>
		<li><a href="http://wet-boew.github.io/themes-dist/theme-base/docs/ref/theme-base/theme-base-en.html">Base theme</a> - A theme template to aid in the creation of new themes.</li>
		<li><a href="http://wet-boew.github.io/themes-dist/GCWeb/docs/ref/GCWeb/GCWeb-en.html">Canada.ca theme</a> - This theme implements the layout and design requirements for Canada.ca.</li>
		<li><a href="http://wet-boew.github.io/themes-dist/theme-gcwu-fegc/docs/ref/theme-gcwu-fegc/theme-gcwu-fegc-en.html">Government of Canada Web Usability Theme</a> - This theme implements the requirements of the <a href="http://www.tbs-sct.gc.ca/pol/doc-eng.aspx?id=24227">Standard on Web Usability</a> (under review) and has been replaced by the <a href="http://wet-boew.github.io/themes-dist/GCWeb/docs/ref/GCWeb/GCWeb-en.html">Canada.ca theme</a> (above). </li>
		<li><a href="http://wet-boew.github.io/themes-dist/theme-gc-intranet/docs/ref/theme-gc-intranet/theme-gc-intranet-en.html">Government of Canada Intranet theme</a> - This theme adapts the Government of Canada Web Usability theme for intranet sites.</li>
		<li><a href="http://wet-boew.github.io/themes-dist/theme-ogpl/docs/ref/theme-ogpl/theme-ogpl-en.html">Open Government Platform (OGPL) theme - The Open Government Platform (OGPL) theme</a> was developed to support the <a href="http://ogpl.github.io/index-en.html">Open Government Platform (OGPL)</a>.</li>
		<li><a href="theme-wet-boew/theme-wet-boew-en.html">Web Experience Toolkit (WET) theme</a> - This theme provides an example implementation of the Base Theme.</li>
	</ul>
</section>

<section>
	<h2>Style</h2>
	<ul>
		<li><a href="http://wet-boew.github.io/wet-boew-styleguide/v4/index-en.html">Style guide</a></li>
	</ul>
</section>
