---
{
	"title": "Thèmes et style",
	"language": "fr",
	"description": "Thèmes et style - Documentation - Boîte à outils de l'expérience Web (BOEW)",
	"altLangPrefix": "themesstyle",
	"dateModified": "2014-02-25"
}
---
<section>
	<h2>Thèmes</h2>
	<ul>
		<li>Thème de base - Un modèle de thème pour la création de nouveaux thèmes.</li>
		<li><a href="theme-wet-boew/theme-wet-boew-fr.html">Thème de la Boîte à outils de l'expérience Web (BOEW)</a> - Un exemple de thème conçu à partir du thème de base.</li>
		<li>Thème de la facilité d’emploi Web du gouvernement du Canada - Ce thème met en place la mise en page et la mise en forme exigés par la <a href="http://www.tbs-sct.gc.ca/pol/doc-eng.aspx?id=24227">Norme sur la facilité des sites Web</a>. Il est recommandé de se servir de ce thème sur les sites Web du gouvernement du Canada (sauf Canada.ca).</li>
		<li>Thème du gouvernement du Canada pour les sites intranet - Une version du thème de la facilité d'emploi des sites Web du gouvernement du Canada pour les sites intranet.</li>
		<li>Thème de la Plate-forme de gouvernement ouvert (PGO) - Un thème qui met en place la mise en page et la mise en forme pour la <a href="http://ogpl.github.io/index-fr.html">Plate-forme de gouvernement ouvert (PGO)</a>.</li>
	</ul>
</section>

<section>
	<h2>Style</h2>
	<ul>
		<li><a href="http://wet-boew.github.io/wet-boew-styleguide/new/index-en.html">Guide stylistique (anglais seulement)</a></li>
	</ul>
</section>
