---
{
	"title": "Variants",
	"language": "fr",
	"description": "Variants - Documentation - Boîte à outils de l'expérience Web (BOEW)",
	"altLangPrefix": "variants",
	"dateModified": "2014-02-25"
}
---
<ul>
	<li>Variant pour Drupal - Adapte la BOEW pour l’utilisation avec Drupal.</li>
	<li>Variant pour Java et Maven - Adapte la BOEW pour l’utilisation avec Java and Maven.</li>
	<li><a href="https://github.com/wet-boew/wet-boew-php/wiki/Php-variant-4.0">Variant pour PHP (anglais seulement)</a> - Adapte la BOEW pour l’utilisation avec PHP.</li>
	<li>Variant pour SSI - Adapte la BOEW pour l’utilisation avec SSI.</li>
	<li>Variant pour WordPress - Adapte la BOEW pour l’utilisation avec WordPress</li>
</ul>
