---
{
	"title": "Variants",
	"language": "en",
	"description": "Variants - Documentation - Web Experience Toolkit (WET)",
	"altLangPrefix": "variants",
	"dateModified": "2014-08-15"
}
---
<ul>
	<li><a href="http://wiki.drupalwxt.org/">Drupal variant</a></li>
	<li>Java &amp; Maven variant - Adapts WET for use with Java and Maven.</li>
	<li><a href="https://github.com/wet-boew/wet-boew-php/wiki/Php-variant-4.0">PHP variant</a> - Adapts WET for use with PHP.</li>
	<li><a href="https://github.com/wet-boew/wet-boew-ssi#web-experience-toolkit-wet---ssi-variant-v40">SSI variant</a> - Adapts WET for use with SSI.</li>
	<li><a href="https://github.com/wet-boew/wet-boew-wordpress#wet-boew-wordpress">WordPress variant</a> - Adapts WET for use with WordPress</li>
</ul>
