---
{
	"title": "Variants",
	"language": "fr",
	"description": "Variants - Documentation - Boîte à outils de l'expérience Web (BOEW)",
	"altLangPrefix": "variants",
	"dateModified": "2014-08-15"
}
---
<ul>
	<li><a href="http://wiki.drupalwxt.org/">Variant pour Drupal - Adapte la BOEW pour l’utilisation avec Drupal.</a></li>
	<li>Variant pour Java et Maven - Adapte la BOEW pour l’utilisation avec Java and Maven.</li>
	<li><a href="https://github.com/wet-boew/wet-boew-php/wiki/Php-variant-4.0">Variant pour PHP (anglais seulement)</a> - Adapte la BOEW pour l’utilisation avec PHP.</li>
	<li><a href="https://github.com/wet-boew/wet-boew-ssi#web-experience-toolkit-wet---ssi-variant-v40">Variant pour SSI</a> - Adapte la BOEW pour l’utilisation avec SSI.</li>
	<li><a href="https://github.com/wet-boew/wet-boew-wordpress#wet-boew-wordpress">Variant pour WordPress</a> - Adapte la BOEW pour l’utilisation avec WordPress</li>
</ul>
