---
{
	"title": "Sites Web qui se servent de la BOEW",
	"language": "fr",
	"description": "Sites Web qui se servent de la BOEW - Documentation - Boîte à outils de l'expérience Web (BOEW)",
	"altLangPrefix": "wetsites",
	"dateModified": "2014-04-17"
}
---
<section>
	<h2>Sites Web du gouvernement du Canada</h2>
	<ul>
		<li><a href="https://www.canada.ca/fr.html">Canada.ca</a></li>
		<li><a href="https://voyage.gc.ca/">Voyage.gc.ca</a></li>
		<li><a href="https://www.canada.ca/fr/nouvelles.html">Nouvelles.gc.ca</a></li>
		<li><a href="https://www.canada.ca/fr/services/immigration-citoyennete.html">Citoyenneté et Immigration Canada</a></li>
		<li><a href="https://www.canada.ca/fr/services/sante.html">Canadiens en santé</a></li>
		<li><a href="http://www.scc-csc.gc.ca/home-accueil/index-fra.aspx">Cour suprême du Canada</a></li>
		<li>40+ minstères du gouvernement du Canada</li>
	</ul>
</section>

<section>
	<h2>Autres sites Web</h2>
	<ul>
		<li><a href="https://ottawa.ca/fr">Site Web de la ville d'Ottawa</a></li>
		<li><a href="https://github.com/open-data/ckanext-wet-boew">Extension de CKAN qui ajoute la Boîte à outils de l'expérience Web à CKAN 2.0</a></li>
		<li><a href="http://www.a11yqc.org/">a11yQC</a></li>
		<li><a href="http://ngmp.ca/">Plan de surveillance générale du Nunavut (PSGN)</a></li>
		<li><a href="https://www.ontariocolleges.ca/fr">Colleges de l'Ontario</a></li>
	</ul>
</section>
