---
{
	"title": "Websites using WET",
	"language": "en",
	"description": "Websites using WET - Documentation - Web Experience Toolkit (WET)",
	"altLangPrefix": "wetsites",
	"dateModified": "2014-04-17"
}
---
<section>
	<h2>Government of Canada websites</h2>
	<ul>
		<li><a href="https://www.canada.ca/en/index.html">Canada.ca</a></li>
		<li><a href="https://travel.gc.ca">Travel.gc.ca</a></li>
		<li><a href="https://www.canada.ca/en/news.html">News.gc.ca</a></li>
		<li><a href="https://www.canada.ca/en/services/immigration-citizenship.html">Citizenship and Immigration Canada</a></li>
		<li><a href="https://www.canada.ca/en/services/health.html">Healthy Canadians</a></li>
		<li><a href="http://www.scc-csc.gc.ca/home-accueil/index-eng.aspx">Supreme Court of Canada</a></li>
		<li>40+ Government of Canada departments</li>
	</ul>
</section>

<section>
	<h2>Other websites</h2>
	<ul>
		<li><a href="https://ottawa.ca/en">City of Ottawa website</a></li>
		<li><a href="https://github.com/open-data/ckanext-wet-boew">CKAN extension that adds the Web Experience Toolkit to CKAN 2.0</a></li>
		<li><a href="http://www.a11yqc.org/">a11yQC</a></li>
		<li><a href="http://ngmp.ca/">Nunavut General Monitoring Plan (NGMP)</a></li>
		<li><a href="https://www.ontariocolleges.ca">OntarioColleges.ca</a></li>
	</ul>
</section>
