@charset "utf-8";
/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * www.tbs.gc.ca/ws-nw/wet-boew/terms / www.sct.gc.ca/ws-nw/wet-boew/conditions
*/
.ie7 #cn-skip-head{
	float:none;
}

.ie7 #cn-skip-head ul{
	float:left;
}

.ie7 a.cn-linkdesc span span{
	top:-9000em;
}

.ie7 a.cn-linkdesc:hover,.ie7 a.cn-linkdesc:focus,.ie7 a.cn-linkdesc:active{
	height:1%;
}