---
{
	"title": "We couldn't find that Web page (Error 404) / Nous ne pouvons trouver cette page Web (Erreur 404)",
	"language": "en",
	"layout": "servermessage.hbs",
	"breadcrumb": false
}
---
<section class="col-sm-12 col-md-6">
	<h2><span class="glyphicon glyphicon-warning-sign mrgn-rght-md"></span> We couldn't find that Web page</h2>
	<p>Error 404</p>
	<p>We're sorry you ended up here. Sometimes a page gets moved or deleted, but hopefully we can help you find what you're looking for.</p>
	<ul>
		<li>Return to the <a href="{{environment.root}}/index-en.html">home page</a></li>
	</ul>
</section>

<section lang="fr" class="col-sm-12 col-md-6">
	<h2><span class="glyphicon glyphicon-warning-sign mrgn-rght-md"></span> Nous ne pouvons trouver cette page Web</h2>
	<p>Erreur 404</p>
	<p>Nous sommes désolés que vous ayez abouti ici. Il arrive parfois qu'une page ait été déplacée ou supprimée. Heureusement, nous pouvons vous aider à trouver ce que vous cherchez.</p>
	<ul>
		<li>Retournez à la <a href="{{environment.root}}/index-fr.html">page d'accueil</a></li>
	</ul>
</section>
