---
{
	"title": "Boîte à outils de l’expérience Web (BOEW)",
	"language": "fr",
	"altLangPrefix": "index",
	"dateModified": "2016-06-09",
	"breadcrumb": "false"
}
---
<section>
	<h2 id="apropos">Qu’est-ce que la Boîte à outils de l’expérience Web?</h2>
	<ul>
		<li>Une bibliothèque de code <a href="docs/ref/accolades-fr.html#primes">primée</a> pour construire des sites Web <a href="#accessibilit">accessibles</a>, <a href="#facilit-demploi">faciles d'emploi</a>, <a href="#interoprabilit">interopérables</a>, <a href="#conception-optimise-pour-les-appareils-mobiles-et-ractive">optimisés pour les appareils mobiles</a> et <a href="#multilingue">multilingues</a></li>
		<li><a href="#personnalisable-et-rutilisable">Des modèles, ainsi que des composants réutilisables, qui sont flexibles et personnalisables</a></li>
		<li>Un <a href="#approche-collaborative">projet à source ouverte collaboratif dirigé par le Gouvernement du Canada</a></li>
	</ul>
</section>

<section>
	<h2 id="cles">Ressources clés</h2>
	<ul>
		<li><a href="docs/index-fr.html">Documentation</a></li>
		<li><a href="docs/versions/dwnld-fr.html">Téléchargements</a></li>
		<li><a href="demos/index-fr.html">Exemples</a></li>
		<li><a href="http://wet-boew.github.io/wet-boew-styleguide/v4/index-fr.html">Guide de style</a></li>
	</ul>

	<h3>Projet de la BOEW</h3>
	<ul>
		<li><a href="https://github.com/wet-boew/wet-boew/">Dépôt de code source</a> (Github)</li>
		<li><a href="http://wet-boew.github.io/wet-boew-documentation/index-en.html" hreflang="en">Documentation du projet et les décisions de conception</a> (en anglais)</li>
		<li><a href="docs/start-fr.html#develop">lignes directrices pour les contributeurs</a></li>
		<li><a href="docs/versions/index-fr.html">Historique des versions</a></li>
		<li><a href="docs/versions/rdmp-fr.html">Date des versions</a></li>
		<li><a href="docs/ref/wetsites-fr.html">Sites Web qui se servent de la BOEW</a></li>
		<li><a href="docs/comms-fr.html">Matériel de communications</a></li>
		<li><a href="docs/index-fr.html#boew31">Avis concernant la BOEW v3.1</a></li>
		<li><a href="Licence-fr.html">Conditions régissant l'utilisation</a> (licence MIT)</li>
	</ul>
</section>

<section>
	<h2 id="avantages">Avantages</h2>

	<section>
		<h3 id="accessibilit">Accessibilité</h3>
		<ul>
			<li>Conformes aux <a href="http://www.w3.org/Translations/WCAG20-fr/">Règles pour l'accessibilité des contenus Web (WCAG) 2.0</a> niveau AA</li>
			<li>S'appuie sur <a href="http://www.w3.org/TR/wai-aria/">WAI-ARIA</a> pour améliorer l'accessibilité</li>
			<li>Vérification avec les technologies d'assistance (Groupe de travail sur l'accessibilité)</li>
		</ul>
	</section>

	<section>
		<h3 id="facilit-demploi">Facilité d'emploi</h3>
		<ul>
			<li>Approche itérative pour la conception</li>
			<li>Patrons de conception et les essais de facilité d'emploi (Groupe de travail sur l'expérience des utilisateurs)</li>
		</ul>
	</section>

	<section>
		<h3 id="interoprabilit">Interopérabilité</h3>
		<ul>
			<li>Approche centrée sur le <a href="http://www.w3.org/TR/html5/">HTML5</a> (s'appuyant sur le soutien HTML5 natif et puis les &laquo;correctifs&raquo; pour résoudre les problèmes de soutien)</li>
			<li>Soutien pour plusieurs navigateurs (IE, Firefox, Chrome, Safari, Opera)</li>
			<li>Soutien en développement pour les données HTML (<a href="http://www.w3.org/TR/rdfa-lite/">RDFa 1.1 Lite</a>, <a href="http://www.schema.org/">Schema.org</a>)</li>
		</ul>
	</section>

	<section>
		<h3 id="conception-optimise-pour-les-appareils-mobiles-et-ractive">Conception optimisée pour les appareils mobiles et réactive</h3>
		<ul>
			<li>S'adapte à différentes tailles d'écran et capacités d'appareil</li>
			<li>Soutien pour les écrans tactiles</li>
			<li>Optimisé pour les performances</li>
			<li>Soutien en développement pour les applications s’installant sur un appareil mobile</li>
		</ul>
	</section>

	<section>
		<h3 id="multilingue">Multilingue</h3>
		<ul>
			<li>Soutien actuellement 34 langues (y compris les langues droite-à-gauche)
				<ul>
					<li>Anglais</li>
					<li>Français</li>
					<li>Afrikaans</li>
					<li>Albanais</li>
					<li>Allemand</li>
					<li>Arabe</li>
					<li>Arménien</li>
					<li>Bulgare</li>
					<li>Chinois</li>
					<li>Chinois (simplifiée)</li>
					<li>Coréen</li>
					<li>Espagnol</li>
					<li>Estonien</li>
					<li>Grec</li>
					<li>Hindi</li>
					<li>Hongrois</li>
					<li>Indonésien</li>
					<li>Inuktitut</li>
					<li>Islandais</li>
					<li>Italien</li>
					<li>Japonais</li>
					<li>Letton</li>
					<li>Lituanien</li>
					<li>Néerlandais</li>
					<li>Polonais</li>
					<li>Portugais</li>
					<li>Portugais (brésilien)</li>
					<li>Russe</li>
					<li>Slovaque</li>
					<li>Tchèque</li>
					<li>Thaï</li>
					<li>Turc</li>
					<li>Ukrainien</li>
					<li>Vietnamien</li>
				</ul>
			</li>
		</ul>
	</section>

	<section>
		<h3 id="personnalisable-et-rutilisable">Personnalisable et réutilisable</h3>
		<ul>
			<li>Cadre flexible qui supporte des thèmes personnalisés</li>
			<li>Soutien <a href="docs/ref/themesstyle-fr.html">5 thèmes différents</a>, y compris un <a href="http://wet-boew.github.io/themes-dist/theme-base/docs/ref/theme-base/theme-base-fr.html">thème de base</a> servant comme modèle</li>
			<li>Modèles, <a href="docs/ref/plugins-fr.html">plugiciels</a> et gadgets réutilisables</li>
			<li><a href="docs/ref/variants-fr.html">Adapté aux différents systèmes de gestion de contenu et cadres de programmation</a> (Drupal, WordPress, SharePoint (en développement), DotNetNuke (en développement), PHP, SSI, Java/Maven)</li>
		</ul>
	</section>

	<section>
		<h3>Réduit les coûts en partageant et en collaborant ouvertement</h3>
		<ul>
			<li>Réduit les coûts de recherche et de développement</li>
			<li>Évite la duplication des efforts</li>
			<li>Produit des résultats de meilleure qualité</li>
		</ul>
	</section>

	<section>
		<h3 id="approche-collaborative">Approche collaborative</h3>
		<ul>
			<li>Projet géré ouvertement sur GitHub, y compris les discussions à travers le système de suivi des questions</li>
			<li>Encourage la libre circulation des idées, du dialogue et de l'innovation, y compris le partage des défis et des idées
			<li>Les contributions externes sont invités
				<ul>
					<li>Soumissions de code</li>
					<li>Patrons de conception</li>
					<li>Problèmes et suggestions</li>
					<li>Documentation</li>
					<li>Évaluations</li>
				</ul>
			</li>
			<li>Processus d'examen sur plusieurs niveaux pour les contributions pour assurer l'intégrité du code (combinaison d'évaluations automatisées et manuelles)</li>
		</ul>
	</section>
</section>
