---
{
	"title": "Web Experience Toolkit (WET)",
	"language": "en",
	"altLangPrefix": "index",
	"dateModified": "2016-06-09",
	"breadcrumb": "false"
}
---
<section>
	<h2 id="about">What is the Web Experience Toolkit?</h2>
	<ul>
		<li>An <a href="docs/ref/accolades-en.html#awards">award-winning</a> front-end framework for building websites that are <a href="#accessibility">accessible</a>, <a href="#usability">usable</a>, <a href="#interoperability">interoperable</a>, <a href="#mobile-friendly-responsive-design">mobile friendly</a> and <a href="#multilingual">multilingual</a></li>
		<li>A collection of <a href="#themeable-and-reusable">flexible and themeable templates and reusable components</a></li>
		<li>A <a href="#collaborative-approach">collaborative open source project led by the Government of Canada</a></li>
	</ul>
</section>


<section>
	<h2 id="key">Key resources</h2>
	<ul>
		<li><a href="docs/index-en.html">Documentation</a></li>
		<li><a href="docs/versions/dwnld-en.html">Downloads</a></li>
		<li><a href="demos/index-en.html">Examples</a></li>
		<li><a href="http://wet-boew.github.io/wet-boew-styleguide/v4/index-en.html">Style guide</a></li>
	</ul>

	<h3>WET project</h3>
	<ul>
		<li><a href="https://github.com/wet-boew/wet-boew/">Source code repository</a> (Github)</li>
		<li><a href="http://wet-boew.github.io/wet-boew-documentation/index-en.html">Project documentations and design decision</a></li>
		<li><a href="docs/start-en.html#develop">contributing guidelines</a></li>
		<li><a href="docs/versions/index-en.html">Version history</a></li>
		<li><a href="docs/versions/rdmp-en.html">Release dates</a></li>
		<li><a href="docs/ref/wetsites-en.html">Websites using WET</a></li>
		<li><a href="docs/comms-en.html">Communications material</a></li>
		<li><a href="docs/index-en.html#wet31">Notice about WET v3.1</a></li>
		<li><a href="License-en.html">Terms and conditions</a> (MIT license)</li>
	</ul>
</section>

<section>
	<h2 id="benefits">Benefits</h2>

	<section>
		<h3 id="accessibility">Accessibility</h3>
		<ul>
			<li>Conforms to <a href="http://www.w3.org/TR/WCAG20/">WCAG 2.0</a> level AA</li>
			<li>Leverages <a href="http://www.w3.org/TR/wai-aria/">WAI-ARIA</a> to further enhance accessibility</li>
			<li>Assistive technology testing (Access Working Group)</li>
		</ul>
	</section>

	<section>
		<h3 id="usability">Usability</h3>
		<ul>
			<li>Iterative approach to design</li>
			<li>Design patterns and usability testing (User Experience Working Group)</li>
		</ul>
	</section>

	<section>
		<h3 id="interoperability">Interoperability</h3>
		<ul>
			<li><a href="http://www.w3.org/TR/html5/">HTML5</a>-first approach (leveraging native HTML5 support and filling support gaps with “polyfills”)</li>
			<li>Supporting a wide variety of browsers (IE, Firefox, Chrome, Safari, Opera)</li>
			<li>Building support for HTML data (<a href="http://www.w3.org/TR/rdfa-lite/">RDFa 1.1 Lite</a>, <a href="http://www.schema.org/">Schema.org</a>)</li>
		</ul>
	</section>

	<section>
		<h3 id="mobile-friendly-responsive-design">Mobile friendly responsive design</h3>
		<ul>
			<li>Adapts to different screen sizes and device capabilities</li>
			<li>Touchscreen support</li>
			<li>Optimized for performance</li>
			<li>Building support for device-based mobile applications</li>
		</ul>
	</section>

	<section>
		<h3 id="multilingual">Multilingual</h3>
		<ul>
			<li>Currently supports 34 languages (including right-to-left languages)
				<ul>
					<li>English</li>
					<li>French</li>
					<li>Afrikaans</li>
					<li>Albanian</li>
					<li>Arabic</li>
					<li>Armenian</li>
					<li>Bulgarian</li>
					<li>Chinese</li>
					<li>Chinese (Simplified)</li>
					<li>Czech</li>
					<li>Dutch</li>
					<li>Estonian</li>
					<li>German</li>
					<li>Greek</li>
					<li>Hindi</li>
					<li>Hungarian</li>
					<li>Icelandic</li>
					<li>Indonesian</li>
					<li>Inuktitut</li>
					<li>Italian</li>
					<li>Japanese</li>
					<li>Korean</li>
					<li>Latvian</li>
					<li>Lithuanian</li>
					<li>Polish</li>
					<li>Portuguese</li>
					<li>Portuguese (Brazilian)</li>
					<li>Russian</li>
					<li>Slovak</li>
					<li>Spanish</li>
					<li>Thai</li>
					<li>Turkish</li>
					<li>Ukranian</li>
					<li>Vietnamese</li>
				</ul>
			</li>
		</ul>
	</section>

	<section>
		<h3 id="themeable-and-reusable">Themeable and reusable</h3>
		<ul>
			<li>Flexible framework that supports custom themes</li>
			<li>Includes support for <a href="docs/ref/themesstyle-en.html">5 different themes</a> including a <a href="http://wet-boew.github.io/themes-dist/theme-base/docs/ref/theme-base/theme-base-en.html">“Base” theme</a> to use as a template</li>
			<li>Reusable templates, <a href="docs/ref/plugins-en.html">plugins</a> and widgets</li>
			<li><a href="docs/ref/variants-en.html">Adapted to various CMS and programming frameworks</a> (Drupal, WordPress, SharePoint (in development), DotNetNuke (in development), PHP, SSI and Java/Maven)
		</ul>
	</section>

	<section>
		<h3>Reduces costs by openly sharing and collaborating</h3>
		<ul>
			<li>Drives down research and development costs</li>
			<li>Avoids duplication of effort</li>
			<li>Produces better quality results</li>
		</ul>
	</section>

	<section>
		<h3 id="collaborative-approach">Collaborative approach</h3>
		<ul>
			<li>Project managed openly on GitHub, including discussion through the issues tracker</li>
			<li>Encouraging a free flow of ideas, dialogue and innovation including sharing of challenges and ideas</li>
			<li>External contributions welcome
				<ul>
					<li>Pull requests</li>
					<li>Design patterns</li>
					<li>Issues and suggestions</li>
					<li>Documentation</li>
					<li>Testing</li>
				</ul>
			<li>Multi-level review process for contributions to ensure code integrity (combination of automated and manual reviews)</li>
		</ul>
	</section>
</section>
