---
{
	"title": "Boîte à outils de l'expérience Web (BOEW) - Conditions régissant l'utilisation",
	"language": "fr",
	"altLangPrefix": "License",
	"dateModified": "2022-04-11",
	"breadcrumb": "false"
}
---

<p id="licence">Voir <a href="Voir https://github.com/wet-boew/wet-boew/blob/master/LICENSE" data-proofer-ignore>LICENSE</a></p>
