---
{
	"title": "Web Experience Toolkit (WET) - Terms and Conditions of Use",
	"language": "en",
	"altLangPrefix": "Licence",
	"dateModified": "2022-04-11",
	"breadcrumb": "false"
}
---

<p id="license">See <a href="https://github.com/wet-boew/wet-boew/blob/master/LICENSE">LICENSE</a></p>
