---
{
	"title": "Historique des versions",
	"language": "fr",
	"en": "version"
}
---

<section id="v4.0">
	<h3>Version 4.0</h3>
	<ul>
		<li><a href="https://github.com/wet-boew/wet-boew/wiki/v4.0-changelog">ChangeLog de la version 4.0</a></li>
		<li><strong>La version 4.0.0 Bêta 1 de la BOEW a été lancée le 16 décembre 2013</strong> (<a href="https://github.com/wet-boew/wet-boew/wiki/v4.0.0-Beta-1-release-notes">v4.0.0 Bêta 1 - notes d'utilisation</a>)</li>
	</ul>
</section>

<section id="v3.1">
	<h3>Version 3.1</h3>
	<ul>
		<li><a href="https://github.com/wet-boew/wet-boew/wiki/v3.1-changelog">ChangeLog de la version 3.1</a></li>
		<li><strong>La version 3.1.4 de la BOEW a été lancée le 17 septembre</strong> (<a href="https://github.com/wet-boew/wet-boew/wiki/v3.1.4-release-notes">v3.1.4 - notes d'utilisation</a>)</li>
		<li><strong>La version 3.1.3 de la BOEW a été lancée le 6 août 2013</strong> (<a href="https://github.com/wet-boew/wet-boew/wiki/v3.1.3-release-notes">v3.1.3 - notes d'utilisation</a>)</li>
		<li><strong>La version 3.1.2 de la BOEW a été lancée le 27 juin 2013</strong> (<a href="https://github.com/wet-boew/wet-boew/wiki/v3.1.2-release-notes">v3.1.2 - notes d'utilisation</a>)</li>
		<li><strong>La version 3.1.1 de la BOEW a été lancée le 16 mai 2013</strong> (<a href="https://github.com/wet-boew/wet-boew/wiki/v3.1.1-release-notes">v3.1.1 - notes d'utilisation</a>)</li>
		<li><strong>La version 3.1.0 de la BOEW a été lancée le 11 avril 2013</strong> (<a href="https://github.com/wet-boew/wet-boew/wiki/v3.1.0-release-notes">v3.1.0 - notes d'utilisation</a>)</li>
		<li><strong>La version 3.1.0 Candidate 1 de la BOEW a été lancée le 3 avril 2013</strong> (<a href="https://github.com/wet-boew/wet-boew/wiki/v3.1.0-Release-Candidate-1-release-notes">v3.1.0 Candidate 1 - notes d'utilisation</a>)</li>
		<li><strong>La version 3.1.0 Bêta 2 de la BOEW a été lancée le 15 février 2013</strong> (<a href="https://github.com/wet-boew/wet-boew/wiki/v3.1.0-Beta-2-release-notes">v3.1.0 Bêta 2 - notes d'utilisation</a>)</li>
		<li><strong>La version 3.1.0 Bêta 1 de la BOEW a été lancée le 21 décembre 2012</strong> (<a href="https://github.com/wet-boew/wet-boew/wiki/v3.1.0-Beta-1-release-notes">v3.1.0 Bêta 1 - notes d'utilisation</a>)</li>
	</ul>
</section>

<section id="v4.0">
	<h3>Version 3.0</h3>
	<ul>
		<li><a href="https://github.com/wet-boew/wet-boew/wiki/v3.1-changelog">ChangeLog de la version 3.0</a></li>
		<li><strong>La version 3.0.10 de la BOEW a été lancée le 17 septembre 2013</strong> (<a href="https://github.com/wet-boew/wet-boew/wiki/v3.0.10-release-notes">v3.0.10 - notes d'utilisation</a>)</li>
		<li><strong>La version 3.0.9 de la BOEW a été lancée le 6 août 2013</strong> (<a href="https://github.com/wet-boew/wet-boew/wiki/v3.0.9-release-notes">v3.0.9 - notes d'utilisation</a>)</li>
		<li><strong>La version 3.0.8 de la BOEW a été lancée le 27 juin 2013</strong> (<a href="https://github.com/wet-boew/wet-boew/wiki/v3.0.8-release-notes">v3.0.8 - notes d'utilisation</a>)</li>
		<li><strong>La version 3.0.7 de la BOEW a été lancée le 16 mai 2013</strong> (<a href="https://github.com/wet-boew/wet-boew/wiki/v3.0.7-release-notes">v3.0.7 - notes d'utilisation</a>)</li>
		<li><strong>La version 3.0.6 de la BOEW a été lancée le 11 avril 2013</strong> (<a href="https://github.com/wet-boew/wet-boew/wiki/v3.0.6-release-notes">v3.0.6 - notes d'utilisation</a>)</li>
		<li><strong>La version 3.0.5 de la BOEW a été lancée le 15 février 2013</strong> (<a href="https://github.com/wet-boew/wet-boew/wiki/v3.0.5-release-notes">v3.0.5 - notes d'utilisation</a>)</li>
		<li><strong>La version 3.0.4 de la BOEW a été lancée le 24 janvier 2013</strong> (<a href="https://github.com/wet-boew/wet-boew/wiki/v3.0.4-release-notes">v3.0.4 - notes d'utilisation</a>)</li>
		<li><strong>La version 3.0.3 de la BOEW a été lancée le 21 décembre 2012</strong> (<a href="https://github.com/wet-boew/wet-boew/wiki/v3.0.3-release-notes">v3.0.3 - notes d'utilisation</a>)</li>
		<li><strong>La version 3.0.2 de la BOEW a été lancée le 15 novembre 2012</strong> (<a href="https://github.com/wet-boew/wet-boew/wiki/v3.0.2-release-notes">v3.0.2 - notes d'utilisation</a>)</li>
		<li><strong>La version 3.0.1 de la BOEW a été lancée le 9 octobre 2012</strong> (<a href="https://github.com/wet-boew/wet-boew/wiki/v3.0.1-release-notes">v3.0.1 - notes d'utilisation</a>)</li>
		<li><strong>La version 3.0.0 de la BOEW a été lancée le 17 septembre 2012</strong> (<a href="https://github.com/wet-boew/wet-boew/wiki/V3.0-release-notes">v3.0 - notes d'utilisation</a>)</li>
	</ul>
</section>
