---
title: Carrousel
language: fr
---
<section>
	<h2>Exemple</h2>
	<div class="wb-carousel fast">
		<div class="col-md-8">
			<div class="item fade in">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, eos, provident optio voluptatibus quasi accusantium nam dolores assumenda natus dicta in reprehenderit animi voluptates ad minima quae quisquam impedit praesentium.</div>
			<div class="item fade">Porro, optio ullam distinctio obcaecati officia natus dolorum iusto modi officiis totam dolorem quam saepe! Quidem, deserunt, non quae quas quibusdam assumenda beatae qui saepe tenetur debitis commodi hic? Voluptatum.</div>
			<div class="item fade">Sint, atque, veritatis dicta repellendus nobis impedit necessitatibus inventore neque provident vel aspernatur quidem quisquam non explicabo asperiores! Ipsam, ipsum fuga iusto esse voluptatibus repudiandae voluptates ex voluptate exercitationem velit.</div>
		</div>
	</div>
</section>
