@charset "utf-8";
/*
 *
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 *
 */

@media screen {
    /* ----- All screens  - Start of build includes ----- */
    @import "includes/screen";
    /* ----- All screens - End of build includes ----- */
}

@media screen and (min-width: 1200px) and (min-device-width: 1024px) {
    /* ----- Large screens (1200+ pixel width) - Screen media type - Start of build includes ----- */
    html {
        margin-bottom: 4px;
    }
    /* ----- Large screens (1200+ pixel width) - Screen media type - End of build includes ----- */
}

@media screen and (min-width: 960px) and (min-device-width: 1024px) {
    /* ----- Large screens - Screen media type - Start of build includes ----- */
    html {
        margin-bottom: 3px;
    }
    @import "includes/screen-large";
    /* ----- Large screens - Screen media type - End of build includes ----- */
}

@media screen and (min-width: 768px) and (max-width: 959px), screen and (min-device-width: 768px) and (max-device-width: 1023px) {
    /* ----- Medium screens - Screen media type - Start of build includes ----- */
    html {
        margin-bottom: 2px;
    }
    @import "includes/screen-medium";
    /* ----- Medium screens - Screen media type - End of build includes ----- */
}

@media screen and (max-width: 959px), screen and (max-device-width: 1023px) {
    /* ----- Small and medium screens - Screen media type - Start of build includes ----- */
    @import "includes/screen-medium-small";
    /* ----- Small and medium screens - Screen media type - End of build includes ----- */
}

@media screen and (max-width: 767px), screen and (max-device-width: 767px) {
    /* ----- Small screens - Screen media type - Start of build includes ----- */
    html {
        margin-bottom: 1px;
    }
    @import "includes/screen-small";
    /* ----- Small screens - Screen media type - End of build includes ----- */
}

@media screen and (max-width: 290px), screen and (max-device-width: 290px) {
    /* ----- Small screens (290 pixel width and under) - Screen media type - Start of build includes ----- */
    html {
        margin-bottom: 0;
    }
    /* ----- Small screens (290 pixel width and under) - Screen media type - End of build includes ----- */
}

@media print {
    /* ----- Print media type only - Start of build includes ----- */
    /* ----- Print media type only - End of build includes ----- */
}
