@charset "utf-8";

/*
 *
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 *
 */

body {
    background: #f9f9f9;
}

header {
    position: relative;
    width: 100%;
    left: 0;
    transition: all .3s ease;
    background: #3C3C3C;
    background: -webkit-linear-gradient(top, #3c3c3c, #515151);
    background: linear-gradient(#3c3c3c, #515151);
}

@import "includes/defaults";
@import "includes/accessiblity";
@import "parts/skipnav";
@import "parts/language";
@import "parts/banner";
@import "parts/search";
@import "parts/sitenav";
@import "parts/breadcrumb";
@import "parts/main";

