---
title: Lightbox
language: en
fr: lightbox
---

<style>
	.inline-lst > ul {
		margin-left: 0;
	}
	.inline-lst > ul > li {
		list-style-type: none;
		display: inline-block;
		margin: 0 5px 0 0;
	}
	.inline-lst ul li.box {
		margin-bottom: 0.4em;
	}
	.inline-lst li img {
		margin-bottom: 0;
	}
	.inline-lst > ul > li > a {
		text-decoration: none;
	}
	.box > a, .lb-hide-gal li:first-child.box > a {
		display: block;
		width: 150px;
		height: 150px;
		border: 1px solid #000;
		text-align: center;
		line-height: 148px;
		background: #EEE;
	}
	.box > a:hover, .box > a:focus, .box > a:active {
		text-decoration: underline;
		background: #FFF;
	}
</style>

<section>
	<h2>Table of contents</h2>
	<ul>
		<li><a href="#features">Features</a></li>
		<li><a href="#examples">Examples</a>
			<ul>
				<li><a href="#examples1">Single items</a></li>
				<li><a href="#examples2">Item gallery</a></li>
				<li><a href="#examples3">Hidden item gallery</a></li>
				<li><a href="#examples4">Alternative image title</a></li>
			</ul>
		</li>
	</ul>
</section>

<section>
	<h2 id="features">Features</h2>
	<ul>
		<li>Displays images and other content using the <a href="http://dimsemenov.com/plugins/magnific-popup/" rel="external">Magnific Popup</a> plugin.</li>
		<li>Easy navigation in image galleries using mouse, touchscreen or keyboard.</li>
	</ul>
</section>

<div class="wb-prettify all-pre">
	<section>
		<h2 id="examples">Examples</h2>

		<details>
			<summary>Long description of image 2</summary>
			<p id="image2-desc">Example long description of image 2 (referenced by <code>aria-describedby</code>).</p>
		</details>

		<section>
			<h3 id="examples1">Single items</h3>
			<section>
				<h4>Example</h4>
				<div class="inline-lst" class="lb-default-popup">
					<ul>
						<li>
							<a class="wb-lightbox" href="img/1_b.jpg" title="Image 1">
								<img src="img/1_s.jpg" alt="Image 1" />
							</a>
						</li>
						<li class="box">
							<a class="wb-lightbox" title="AJAX - Example 1 of AJAX content" href="ajax/ajax1-en.html">AJAX - Example 1</a>
						</li>
						<li class="box">
							<a class="wb-lightbox" title="Example of inline content" href="#inline_content">Inline content</a>
							<div id="inline_content" class="mfp-hide modal-dialog">
								<article class="modal-content">
									<header class="modal-header">
										<h1 class="modal-title">Title</h1>
									</header>
									<div class="modal-body">
										<ol>
											<li>ordered list (<code>ol</code>) first level default appearance</li>
											<li>ordered list (<code>ol</code>) first level default appearance
												<ol>
													<li>ordered list (<code>ol</code>) second level default appearance</li>
													<li>ordered list (<code>ol</code>) second level default appearance
														<ol>
															<li>ordered list (<code>ol</code>) third level default appearance</li>
															<li>ordered list (<code>ol</code>) third level default appearance</li>
														</ol>
													</li>
												</ol>
											</li>
										</ol>
										<p><a href="#">Link default appearance</a></p>
									</div>
								</article>
							</div>
						</li>
					</ul>
				</div>
				<details>
					<summary>View code</summary>
					<pre><code>&lt;ul&gt;
	&lt;li&gt;
		&lt;a class="wb-lightbox" href="img/1_b.jpg" title="Image 1"&gt;
			&lt;img src="img/1_s.jpg" alt="Image 1" /&gt;
		&lt;/a&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;a class="wb-lightbox" title="AJAX - Example 1 of AJAX content" href="ajax/ajax-en.html"&gt;AJAX - Example 1&lt;/a&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;a class="wb-lightbox" title="Example of inline content" href="#inline_content"&gt;Inline content&lt;/a&gt;
		&lt;div id="inline_content" class="mfp-hide modal-dialog"&gt;
			&lt;article class="modal-content"&gt;
				&lt;header class="modal-header"&gt;
					&lt;h1 class="modal-title"&gt;Title&lt;/h1&gt;
				&lt;/header&gt;
				&lt;div class="modal-body"&gt;
					&lt;ol&gt;
						&lt;li&gt;ordered list (&lt;code&gt;ol&lt;/code&gt;) first level default appearance&lt;/li&gt;
						&lt;li&gt;ordered list (&lt;code&gt;ol&lt;/code&gt;) first level default appearance
							&lt;ol&gt;
								&lt;li&gt;ordered list (&lt;code&gt;ol&lt;/code&gt;) second level default appearance&lt;/li&gt;
								&lt;li&gt;ordered list (&lt;code&gt;ol&lt;/code&gt;) second level default appearance
									&lt;ol&gt;
										&lt;li&gt;ordered list (&lt;code&gt;ol&lt;/code&gt;) third level default appearance&lt;/li&gt;
										&lt;li&gt;ordered list (&lt;code&gt;ol&lt;/code&gt;) third level default appearance&lt;/li&gt;
									&lt;/ol&gt;
								&lt;/li&gt;
							&lt;/ol&gt;
						&lt;/li&gt;
					&lt;/ol&gt;
					&lt;p&gt;&lt;a href="#"&gt;Link default appearance&lt;/a&gt;&lt;/p&gt;
				&lt;/div&gt;
			&lt;/article&gt;
		&lt;/div&gt;
	&lt;/li&gt;
&lt;/ul&gt;</code></pre>
				</details>
			</section>
		</section>

		<section>
			<h3 id="examples2">Galleries</h3>
			<section>
				<h4>Examples</h4>
				<section class="wb-lightbox lb-gallery inline-lst">
					<h5>Image gallery</h5>
					<ul>
						<li>
							<a href="img/1_b.jpg" title="Image 1">
								<img src="img/1_s.jpg" alt="Image 1" />
							</a>
						</li>
						<li>
							<a href="img/2_b.jpg" title="Image 2">
								<img src="img/2_s.jpg" alt="Image 2" aria-describedby="image2-desc" longdesc="#image2-desc" />
							</a>
						</li>
						<li>
							<a href="img/3_b.jpg" title="Image 3">
								<img src="img/3_s.jpg" alt="Image 3" />
							</a>
						</li>
						<li>
							<a href="img/4_b.jpg" title="Image 4">
								<img src="img/4_s.jpg" alt="Image 4" />
							</a>
						</li>
					</ul>
				</section>
				<section class="wb-lightbox lb-gallery inline-lst">
					<h5>AJAX gallery</h5>
					<ul>
						<li class="box">
							<a title="AJAX - Example 1 of AJAX content" href="ajax/ajax1-en.html">AJAX - Example 1</a>
						</li>
						<li class="box">
							<a title="AJAX - Example 2 of AJAX content" href="ajax/ajax2-en.html">AJAX - Example 2</a>
						</li>
						<li class="box">
							<a title="AJAX - Example 3 of AJAX content" href="ajax/ajax3-en.html">AJAX - Example 3</a>
						</li>
					</ul>
				</section>
				<details>
					<summary>View code</summary>
					<pre><code>&lt;section class="wb-lightbox lb-gallery inline-lst"&gt;
	&lt;h5&gt;Image gallery&lt;/h5&gt;
	&lt;ul&gt;
		&lt;li&gt;
			&lt;a href="img/1_b.jpg" title="Image 1"&gt;
				&lt;img src="img/1_s.jpg" alt="Image 1" /&gt;
			&lt;/a&gt;
		&lt;/li&gt;
		&lt;li&gt;
			&lt;a href="img/2_b.jpg" title="Image 2"&gt;
				&lt;img src="img/2_s.jpg" alt="Image 2" aria-describedby="image2-desc" longdesc="#image2-desc" /&gt;
			&lt;/a&gt;
		&lt;/li&gt;
		&lt;li&gt;
			&lt;a href="img/3_b.jpg" title="Image 3"&gt;
				&lt;img src="img/3_s.jpg" alt="Image 3" /&gt;
			&lt;/a&gt;
		&lt;/li&gt;
		&lt;li&gt;
			&lt;a href="img/4_b.jpg" title="Image 4"&gt;
				&lt;img src="img/4_s.jpg" alt="Image 4" /&gt;
			&lt;/a&gt;
		&lt;/li&gt;
	&lt;/ul&gt;
&lt;/section&gt;
&lt;section class="wb-lightbox lb-gallery inline-lst"&gt;
	&lt;h5&gt;AJAX gallery&lt;/h5&gt;
	&lt;ul&gt;
		&lt;li&gt;
			&lt;a title="AJAX - Example 1 of AJAX content" href="ajax/ajax1-en.html"&gt;AJAX - Example 1&lt;/a&gt;
		&lt;/li&gt;
		&lt;li&gt;
			&lt;a title="AJAX - Example 2 of AJAX content" href="ajax/ajax2-en.html"&gt;AJAX - Example 2&lt;/a&gt;
		&lt;/li&gt
		&lt;li&gt;
			&lt;a title="AJAX - Example 3 of AJAX content" href="ajax/ajax3-en.html"&gt;AJAX - Example 3&lt;/a&gt;
		&lt;/li&gt
	&lt;/ul&gt;
&lt;/section&gt;</code></pre>
				</details>
			</section>
		</section>

		<section>
			<h3 id="examples3">Hidden image galleries</h3>
			<section>
				<h4>Examples</h4>
				<section class="wb-lightbox lb-hide-gal">
					<h5>Image gallery</h5>
					<ul>
						<li>
							<a href="img/1_b.jpg" title="Image 1">
								<img src="img/1_s.jpg" alt="Image 1" />
							</a>
						</li>
						<li>
							<a href="img/2_b.jpg" title="Image 2">
								<img src="img/2_s.jpg" alt="Image 2" aria-describedby="image2-desc" longdesc="#image2-desc" />
							</a>
						</li>
						<li>
							<a href="img/3_b.jpg" title="Image 3">
								<img src="img/3_s.jpg" alt="Image 3" />
							</a>
						</li>
						<li>
							<a href="img/4_b.jpg" title="Image 4">
								<img src="img/4_s.jpg" alt="Image 4" />
							</a>
						</li>
					</ul>
				</section>
				<section class="wb-lightbox lb-hide-gal">
					<h5>AJAX gallery</h5>
					<ul>
						<li class="box">
							<a title="AJAX - Example 1 of AJAX content" href="ajax/ajax1-en.html">AJAX - Example 1</a>
						</li>
						<li class="box">
							<a title="AJAX - Example 2 of AJAX content" href="ajax/ajax2-en.html">AJAX - Example 2</a>
						</li>
						<li class="box">
							<a title="AJAX - Example 3 of AJAX content" href="ajax/ajax3-en.html">AJAX - Example 3</a>
						</li>
					</ul>
				</section>
				<details>
					<summary>View code</summary>
					<pre><code>&lt;section class="wb-lightbox lb-hide-gal"&gt;
	&lt;h5&gt;Image gallery&lt;/h5&gt;
	&lt;ul&gt;
		&lt;li&gt;
			&lt;a href="img/1_b.jpg" title="Image 1"&gt;
				&lt;img src="img/1_s.jpg" alt="Image 1" /&gt;
			&lt;/a&gt;
		&lt;/li&gt;
		&lt;li&gt;
			&lt;a href="img/2_b.jpg" title="Image 2"&gt;
				&lt;img src="img/2_s.jpg" alt="Image 2" aria-describedby="image2-desc" longdesc="#image2-desc" /&gt;
			&lt;/a&gt;
		&lt;/li&gt;
		&lt;li&gt;
			&lt;a href="img/3_b.jpg" title="Image 3"&gt;
				&lt;img src="img/3_s.jpg" alt="Image 3" /&gt;
			&lt;/a&gt;
		&lt;/li&gt;
		&lt;li&gt;
			&lt;a href="img/4_b.jpg" title="Image 4"&gt;
				&lt;img src="img/4_s.jpg" alt="Image 4" /&gt;
			&lt;/a&gt;
		&lt;/li&gt;
	&lt;/ul&gt;
&lt;/section&gt;
&lt;section class="wb-lightbox lb-hide-gal"&gt;
	&lt;h5&gt;AJAX gallery&lt;/h5&gt;
	&lt;ul&gt;
		&lt;li&gt;
			&lt;a title="AJAX - Example 1 of AJAX content" href="ajax/ajax1-en.html"&gt;AJAX - Example 1&lt;/a&gt;
		&lt;/li&gt;
		&lt;li&gt;
			&lt;a title="AJAX - Example 2 of AJAX content" href="ajax/ajax2-en.html"&gt;AJAX - Example 2&lt;/a&gt;
		&lt;/li&gt
		&lt;li&gt;
			&lt;a title="AJAX - Example 3 of AJAX content" href="ajax/ajax3-en.html"&gt;AJAX - Example 3&lt;/a&gt;
		&lt;/li&gt
	&lt;/ul&gt;
&lt;/section&gt;</code></pre>
					</details>
				</section>
			</section>
		</section>

		<section>
			<h3 id="examples4">Alternative image title</h3>
			<section>
				<h4>Example</h4>
				<div class="wb-lightbox lb-gallery inline-lst">
					<ul>
						<li>
							<a href="img/1_b.jpg" title="Image 1" data-title="image_1_b">
								<img src="img/1_s.jpg" alt="Image 1" />
							</a>
						</li>
						<li>
							<a href="img/2_b.jpg" title="Image 2" data-title="image_2_b">
								<img src="img/2_s.jpg" alt="Image 2" aria-describedby="image2-desc" longdesc="#image2-desc" />
							</a>
						</li>
					</ul>
				</div>

				<p id="image_1_b"><strong>Image 1:</strong> Lorem ipsum consectetur <em>adipiscing elit</em>.</p>
				<p id="image_2_b"><strong>Image 2:</strong> Nulla mollis dolor leo. Quisque laoreet tincidunt mollis. Duis posuere scelerisque lectus quis lobortis.</p>

				<details>
					<summary>View code</summary>
					<pre><code>&lt;div class="wb-lightbox lb-gallery inline-lst"&gt;
	&lt;ul&gt;
		&lt;li&gt;
			&lt;a href="img/1_b.jpg" title="Image 1" data-title="image_1_b"&gt;
				&lt;img src="img/1_s.jpg" alt="Image 1" /&gt;
			&lt;/a&gt;
		&lt;/li&gt;
		&lt;li&gt;
			&lt;a href="img/2_b.jpg" title="Image 2" data-title="image_2_b"&gt;
				&lt;img src="img/2_s.jpg" alt="Image 2" aria-describedby="image2-desc" longdesc="#image2-desc" /&gt;
			&lt;/a&gt;
		&lt;/li&gt;
	&lt;/ul&gt;
&lt;/div&gt;
&lt;p id="image_1_b"&gt;&lt;strong&gt;Image 1:&lt;/strong&gt; Lorem ipsum consectetur &lt;em&gt;adipiscing elit&lt;/em&gt;.&lt;/p&gt;
&lt;p id="image_2_b"&gt;&lt;strong&gt;Image 2:&lt;/strong&gt; Nulla mollis dolor leo. Quisque laoreet tincidunt mollis. Duis posuere scelerisque lectus quis lobortis.&lt;/p&gt;</code></pre>
				</details>
			</section>
		</section>
	</section>
</div>
