---
{
	"title": "Lightbox",
	"language": "fr",
	"category": "Plugiciel",
	"description": "Crée une galerie photo sur une page Web.",
	"tag": "lightbox",
	"en": "lightbox"
}
---

<style>
	.inline-lst > ul {
		margin-left: 0;
	}
	.inline-lst > ul > li {
		list-style-type: none;
		display: inline-block;
		margin: 0 5px 0 0;
	}
	.inline-lst ul li.box {
		margin-bottom: 0.4em;
	}
	.inline-lst li img {
		margin-bottom: 0;
	}
	.inline-lst > ul > li > a {
		text-decoration: none;
	}
	.box > a, .lb-hide-gal li:first-child.box > a {
		display: block;
		width: 150px;
		height: 150px;
		border: 1px solid #000;
		text-align: center;
		line-height: 148px;
		background: #EEE;
	}
	.box > a:hover, .box > a:focus, .box > a:active {
		text-decoration: underline;
		background: #FFF;
	}
</style>

<section>
	<h2>Table des matières</h2>
	<ul>
		<li><a href="#features">Caractéristiques</a></li>
		<li><a href="#examples">Exemples</a>
			<ul>
				<li><a href="#examples1">Articles seules</a></li>
				<li><a href="#examples2">Galeries d'articles</a></li>
				<li><a href="#examples3">Galeries d'articles cachées</a></li>
				<li><a href="#examples4">Titre de l'image alternative</a></li>
			</ul>
		</li>
	</ul>
</section>

<section>
	<h2 id="features">Caractéristiques</h2>
	<ul>
		<li>Affiche les images dans l'outil <a href="http://dimsemenov.com/plugins/magnific-popup/" lang="en" rel="external">Magnific Popup</a></li>
		<li>Utilisation d'un souris, écran tactile ou clavier pour une navigation facile.</li>
	</ul>
</section>

<div class="wb-prettify all-pre">
	<section>
		<h2 id="examples">Exemples</h2>

		<details>
			<summary>Description longue d'image 2</summary>
			<p id="image2-desc">Exemple d'une description longue d'image 2 (référencé par <code lang="en">aria-describedby</code>).</p>
		</details>

		<section>
			<h3 id="examples1">Articles seules</h3>
			<section>
				<h4>Exemple</h4>
				<div class="inline-lst" class="lb-default-popup">
					<ul>
						<li>
							<a class="wb-lightbox" href="img/1_b.jpg" title="Image 1">
								<img src="img/1_s.jpg" alt="Image 1" />
							</a>
						</li>
						<li class="box">
							<a class="wb-lightbox" title="AJAX - Exemple 1 de contenu AJAX" href="ajax/ajax1-fr.html">AJAX - Exemple 1</a>
						</li>
						<li class="box">
							<a class="wb-lightbox" title="Exemple de contenu incorporé" href="#inline_content">Contenu incorporé</a>
							<div id="inline_content" class="mfp-hide modal-dialog">
								<article class="modal-content">
									<header class="modal-header">
										<h1 class="modal-title">Titre</h1>
									</header>
									<div class="modal-body">
										<ol>
											<li>liste ordonnée (<code>ol</code>) premier niveau - apparence par défaut</li>
											<li>liste ordonnée (<code>ol</code>) premier niveau - apparence par défaut
												<ol>
													<li>liste ordonnée (<code>ol</code>) deuxième niveau - apparence par défaut</li>
													<li>liste ordonnée (<code>ol</code>) deuxième niveau - apparence par défaut
														<ol>
															<li>liste ordonnée (<code>ol</code>) troisième niveau - apparence par défaut</li>
															<li>liste ordonnée (<code>ol</code>) troisième niveau - apparence par défaut</li>
														</ol>
													</li>
												</ol>
											</li>
										</ol>
										<p><a href="#">Lien - apparence par défaut</a></p>
									</div>
								</article>
							</div>
						</li>
					</ul>
				</div>

				<details>
					<summary>Visualiser le code</summary>
					<pre><code>&lt;ul&gt;
	&lt;li&gt;
		&lt;a class="wb-lightbox" href="img/1_b.jpg" title="Image 1"&gt;
			&lt;img src="img/1_s.jpg" alt="Image 1" /&gt;
		&lt;/a&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;a class="wb-lightbox" title="Exemple de contenu AJAX" href="ajax/ajax-en.html"&gt;Contenu AJAX&lt;/a&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;a class="wb-lightbox" title="Exemple de contenu incorporé" href="#inline_content"&gt;Contenu incorporé&lt;/a&gt;
		&lt;div id="inline_content" class="mfp-hide modal-dialog"&gt;
			&lt;article class="modal-content"&gt;
				&lt;header class="modal-header"&gt;
					&lt;h1 class="modal-title"&gt;Titre&lt;/h1&gt;
				&lt;/header&gt;
				&lt;div class="modal-body"&gt;
					&lt;ol&gt;
						&lt;li&gt;liste ordonnée (&lt;code&gt;ol&lt;/code&gt;) premier niveau - apparence par défaut&lt;/li&gt;
						&lt;li&gt;liste ordonnée (&lt;code&gt;ol&lt;/code&gt;) premier niveau - apparence par défaut
							&lt;ol&gt;
								&lt;li&gt;liste ordonnée (&lt;code&gt;ol&lt;/code&gt;) deuxième niveau - apparence par défaut&lt;/li&gt;
								&lt;li&gt;liste ordonnée (&lt;code&gt;ol&lt;/code&gt;) deuxième niveau - apparence par défaut
									&lt;ol&gt;
										&lt;li&gt;liste ordonnée (&lt;code&gt;ol&lt;/code&gt;) troisième niveau - apparence par défaut&lt;/li&gt;
										&lt;li&gt;liste ordonnée (&lt;code&gt;ol&lt;/code&gt;) troisième niveau - apparence par défaut&lt;/li&gt;
									&lt;/ol&gt;
								&lt;/li&gt;
							&lt;/ol&gt;
						&lt;/li&gt;
					&lt;/ol&gt;
					&lt;p&gt;&lt;a href="#"&gt;Lien - apparence par défaut&lt;/a&gt;&lt;/p&gt;
				&lt;/div&gt;
			&lt;/article&gt;
		&lt;/div&gt;
	&lt;/li&gt;
&lt;/ul&gt;</code></pre>
				</details>
			</section>
		</section>

		<section>
			<h3 id="examples2">Galeries</h3>
			<section>
				<h4>Exemples</h4>
				<section class="wb-lightbox lb-gallery inline-lst">
					<h5>Galerie d'images</h5>
					<ul>
						<li>
							<a href="img/1_b.jpg" title="Image 1">
								<img src="img/1_s.jpg" alt="Image 1" />
							</a>
						</li>
						<li>
							<a href="img/2_b.jpg" title="Image 2">
								<img src="img/2_s.jpg" alt="Image 2" aria-describedby="image2-desc" longdesc="#image2-desc" />
							</a>
						</li>
						<li>
							<a href="img/3_b.jpg" title="Image 3">
								<img src="img/3_s.jpg" alt="Image 3" />
							</a>
						</li>
						<li>
							<a href="img/4_b.jpg" title="Image 4">
								<img src="img/4_s.jpg" alt="Image 4" />
							</a>
						</li>
					</ul>
				</section>
				<section class="wb-lightbox lb-gallery inline-lst">
					<h5>Galerie d'AJAX</h5>
					<ul>
						<li class="box">
							<a title="AJAX - Exemple 1 de contenu AJAX" href="ajax/ajax1-fr.html">AJAX - Exemple 1</a>
						</li>
						<li class="box">
							<a title="AJAX - Exemple 2 de contenu AJAX" href="ajax/ajax2-fr.html">AJAX - Exemple 2</a>
						</li>
						<li class="box">
							<a title="AJAX - Exemple 3 de contenu AJAX" href="ajax/ajax3-fr.html">AJAX - Exemple 3</a>
						</li>
					</ul>
				</section>
				<details>
					<summary>Visualier le code</summary>
					<pre><code>&lt;section class="wb-lightbox lb-gallery inline-lst"&gt;
	&lt;h5&gt;Galerie d'images&lt;/h5&gt;
	&lt;ul&gt;
		&lt;li&gt;
			&lt;a href="img/1_b.jpg" title="Image 1"&gt;
				&lt;img src="img/1_s.jpg" alt="Image 1" /&gt;
			&lt;/a&gt;
		&lt;/li&gt;
		&lt;li&gt;
			&lt;a href="img/2_b.jpg" title="Image 2"&gt;
				&lt;img src="img/2_s.jpg" alt="Image 2" aria-describedby="image2-desc" longdesc="#image2-desc" /&gt;
			&lt;/a&gt;
		&lt;/li&gt;
		&lt;li&gt;
			&lt;a href="img/3_b.jpg" title="Image 3"&gt;
				&lt;img src="img/3_s.jpg" alt="Image 3" /&gt;
			&lt;/a&gt;
		&lt;/li&gt;
		&lt;li&gt;
			&lt;a href="img/4_b.jpg" title="Image 4"&gt;
				&lt;img src="img/4_s.jpg" alt="Image 4" /&gt;
			&lt;/a&gt;
		&lt;/li&gt;
	&lt;/ul&gt;
&lt;/section&gt;
&lt;section class="wb-lightbox lb-gallery inline-lst"&gt;
	&lt;h5&gt;Galerie d'AJAX&lt;/h5&gt;
	&lt;ul&gt;
		&lt;li&gt;
			&lt;a title="AJAX - Exemple 1 de contenu AJAX" href="ajax/ajax1-fr.html"&gt;AJAX - Exemple 1&lt;/a&gt;
		&lt;/li&gt;
		&lt;li&gt;
			&lt;a title="AJAX - Exemple 2 de contenu AJAX" href="ajax/ajax2-fr.html"&gt;AJAX - Exemple 2&lt;/a&gt;
		&lt;/li&gt
		&lt;li&gt;
			&lt;a title="AJAX - Exemple 3 de contenu AJAX" href="ajax/ajax3-fr.html"&gt;AJAX - Exemple 3&lt;/a&gt;
		&lt;/li&gt
	&lt;/ul&gt;
&lt;/section&gt;</code></pre>
				</details>
			</section>
		</section>

		<section>
			<h3 id="examples3">Galeries cachés</h3>
			<section>
				<h4>Exemples</h4>
				<section class="wb-lightbox lb-hide-gal">
					<h5>Galerie d'images</h5>
					<ul>
						<li>
							<a href="img/1_b.jpg" title="Image 1">
								<img src="img/1_s.jpg" alt="Image 1" />
							</a>
						</li>
						<li>
							<a href="img/2_b.jpg" title="Image 2">
								<img src="img/2_s.jpg" alt="Image 2" aria-describedby="image2-desc" longdesc="#image2-desc" />
							</a>
						</li>
						<li>
							<a href="img/3_b.jpg" title="Image 3">
								<img src="img/3_s.jpg" alt="Image 3" />
							</a>
						</li>
						<li>
							<a href="img/4_b.jpg" title="Image 4">
								<img src="img/4_s.jpg" alt="Image 4" />
							</a>
						</li>
					</ul>
				</section>
				<section class="wb-lightbox lb-hide-gal">
					<h5>Galerie d'AJAX</h5>
					<ul>
						<li class="box">
							<a title="AJAX - Exemple 1 de contenu AJAX" href="ajax/ajax1-fr.html">AJAX - Exemple 1</a>
						</li>
						<li class="box">
							<a title="AJAX - Exemple 2 de contenu AJAX" href="ajax/ajax2-fr.html">AJAX - Exemple 2</a>
						</li>
						<li class="box">
							<a title="AJAX - Exemple 3 de contenu AJAX" href="ajax/ajax3-fr.html">AJAX - Exemple 3</a>
						</li>
					</ul>
				</section>

				<details>
					<summary>Visualiser le code</summary>
					<pre><code>&lt;section class="wb-lightbox lb-hide-gal"&gt;
	&lt;h5&gt;Galerie d'images&lt;/h5&gt;
	&lt;ul&gt;
		&lt;li&gt;
			&lt;a href="img/1_b.jpg" title="Image 1"&gt;
				&lt;img src="img/1_s.jpg" alt="Image 1" /&gt;
			&lt;/a&gt;
		&lt;/li&gt;
		&lt;li&gt;
			&lt;a href="img/2_b.jpg" title="Image 2"&gt;
				&lt;img src="img/2_s.jpg" alt="Image 2" aria-describedby="image2-desc" longdesc="#image2-desc" /&gt;
			&lt;/a&gt;
		&lt;/li&gt;
		&lt;li&gt;
			&lt;a href="img/3_b.jpg" title="Image 3"&gt;
				&lt;img src="img/3_s.jpg" alt="Image 3" /&gt;
			&lt;/a&gt;
		&lt;/li&gt;
		&lt;li&gt;
			&lt;a href="img/4_b.jpg" title="Image 4"&gt;
				&lt;img src="img/4_s.jpg" alt="Image 4" /&gt;
			&lt;/a&gt;
		&lt;/li&gt;
	&lt;/ul&gt;
&lt;/section&gt;
&lt;section class="wb-lightbox lb-hide-gal"&gt;
	&lt;h5&gt;Galerie d'AJAX&lt;/h5&gt;
	&lt;ul&gt;
		&lt;li&gt;
			&lt;a title="AJAX - Exemple 1 de contenu AJAX" href="ajax/ajax1-fr.html"&gt;AJAX - Exemple 1&lt;/a&gt;
		&lt;/li&gt;
		&lt;li&gt;
			&lt;a title="AJAX - Exemple 2 de contenu AJAX" href="ajax/ajax2-fr.html"&gt;AJAX - Exemple 2&lt;/a&gt;
		&lt;/li&gt
		&lt;li&gt;
			&lt;a title="AJAX - Exemple 3 de contenu AJAX" href="ajax/ajax3-fr.html"&gt;AJAX - Exemple 3&lt;/a&gt;
		&lt;/li&gt
	&lt;/ul&gt;
&lt;/section&gt;</code></pre>
				</details>
			</section>
		</section>

		<section>
			<h3 id="examples4">Titre de l'image alternative</h3>
			<section>
				<h4>Example</h4>
				<div class="wb-lightbox lb-gallery inline-lst">
					<ul>
						<li>
							<a href="img/1_b.jpg" title="Image 1" data-title="image_1_b">
								<img src="img/1_s.jpg" alt="Image 1" />
							</a>
						</li>
						<li>
							<a href="img/2_b.jpg" title="Image 2" data-title="image_2_b">
								<img src="img/2_s.jpg" alt="Image 2" aria-describedby="image2-desc" longdesc="#image2-desc" />
							</a>
						</li>
					</ul>
				</div>

				<p id="image_1_b"><strong>Image 1&#160;:</strong> Lorem ipsum consectetur <em>adipiscing elit</em>.</p>
				<p id="image_2_b"><strong>Image 2&#160;:</strong> Nulla mollis dolor leo. Quisque laoreet tincidunt mollis. Duis posuere scelerisque lectus quis lobortis.</p>

				<details>
					<summary>Visualiser le code</summary>
					<pre><code>&lt;div class="wb-lightbox lb-gallery inline-lst"&gt;
	&lt;ul&gt;
		&lt;li&gt;
			&lt;a href="img/1_b.jpg" title="Image 1" data-title="image_1_b"&gt;
				&lt;img src="img/1_s.jpg" alt="Image 1" /&gt;
			&lt;/a&gt;
		&lt;/li&gt;
		&lt;li&gt;
			&lt;a href="img/2_b.jpg" title="Image 2" data-title="image_2_b"&gt;
				&lt;img src="img/2_s.jpg" alt="Image 2" aria-describedby="image2-desc" longdesc="#image2-desc" /&gt;
			&lt;/a&gt;
		&lt;/li&gt;
	&lt;/ul&gt;
&lt;/div&gt;
&lt;p id="image_1_b"&gt;&lt;strong&gt;Image 1&amp;#160;:&lt;/strong&gt; Lorem ipsum consectetur &lt;em&gt;adipiscing elit&lt;/em&gt;.&lt;/p&gt;
&lt;p id="image_2_b"&gt;&lt;strong&gt;Image 2&amp;#160;:&lt;/strong&gt; Nulla mollis dolor leo. Quisque laoreet tincidunt mollis. Duis posuere scelerisque lectus quis lobortis.&lt;/p&gt;</code></pre>
				</details>
			</section>
		</section>
	</section>
</div>
