---
{
	"title": "Thème de la BOEW",
	"language": "fr",
	"category": "Autre",
	"description": "Un exemple de thème conçu à partir du thème de base.",
	"tag": "theme-wet-boew",
	"en": "index"
}
---
<section>
	<h2>Anglais</h2>
	<ul>
		<li><a href="content-en.html">Page de contenu</a></li>
		<li><a href="content-secmenu-en.html">Page de contenu - Menu secondaire</a></li>
		<li><a href="content-nosearchlang-en.html">Page de contenu - Sans recherche ou lien de sélection de la langue</a></li>
		<li><a href="content-nositemenubc-en.html">Page de contenu - Sans menu du site ou fil d'Ariane</a></li>
		<li><a href="content-nosearchlangsitemenubc-en.html">Page de contenu - Sans recherche, lien de sélection de la langue, menu du site ou fil d'Ariane</a></li>
		<li><a href="splashpage-en.html">Page d'entrée</a></li>
	</ul>
</section>

<section>
	<h2>Français</h2>
	<ul>
		<li><a href="content-fr.html">Page de contenu</a></li>
		<li><a href="content-secmenu-fr.html">Page de contenu - Menu secondaire</a></li>
		<li><a href="content-nosearchlang-fr.html">Page de contenu - Sans recherche ou lien de sélection de la langue</a></li>
		<li><a href="content-nositemenubc-fr.html">Page de contenu - Sans menu du site ou fil d'Ariane</a></li>
		<li><a href="content-nosearchlangsitemenubc-fr.html">Page de contenu - Sans recherche, lien de sélection de la langue, menu du site ou fil d'Ariane</a></li>
		<li><a href="splashpage-fr.html">Page d'entrée</a></li>
	</ul>
</section>
