---
title: Working examples
language: en
fr: index
---
<table id="components" class="wb-prettify wb-tables" data-wet-boew='{"aoColumnDefs": [ { "bVisible": false, "aTargets": [ 3 ] } ], "aLengthMenu": [[10, 25, -1], [10, 25, "All"]], "iDisplayLength": -1, "aaSorting": [[ 2, "asc" ]]}'>
	<thead>
		<tr>
			<th>Name</th>
			<th>Category</th>
			<th>Description</th>
			<th class="wb-inv">Keywords</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><a href="carousel/carousel-en.html">Carousel</a></td>
			<td>Plugin</td>
			<td>Interface for cycling through content</td>
			<td></td>
		</tr>
		<tr>
			<td><a href="data-ajax/data-ajax-en.html">Data AJAX</a></td>
			<td>Plugin</td>
			<td>A basic AjaxLoader wrapper that inserts AJAXed in content</td>
			<td></td>
		</tr>
		<tr>
			<td>
				<a href="data-inview/data-inview-banner-en.html">Data Inview: Banner</a><br />
				<a href="data-inview/data-inview-panel-en.html">Data Inview: Panel</a>
			</td>
			<td>Plugin</td>
			<td>A simplified data-attribute driven plugin that responds to moving in and out of the viewport.</td>
			<td></td>
		</tr>
		<tr>
			<td><a href="data-picture/data-picture-en.html">Data Picture</a></td>
			<td>Plugin</td>
			<td>Event driven port of the Picturefill library: https://github.com/scottjehl/picturefill</td>
			<td></td>
		</tr>
		<tr>
			<td><a href="favicon/favicon-en.html">Favicon</a></td>
			<td>Plugin</td>
			<td>Provides the ability to add and update a page's favicons</td>
			<td></td>
		</tr>
		<tr>
			<td><a href="feedback/feedback-en.html">Feedback form</a></td>
			<td>Plugin</td>
			<td>Allows users to submit feedback for a specific Web page or Web site.</td>
			<td></td>
		</tr>
		<tr>
			<td><a href="feeds/feeds-en.html">Feeds</a></td>
			<td>Plugin</td>
			<td>Aggregates and displays entries from one or more Web feeds.</td>
			<td></td>
		</tr>
		<tr>
			<td><a href="footnotes/footnotes-en.html">Footnotes</a></td>
			<td>Plugin</td>
			<td>Provides a consistent, accessible way of handling footnotes across websites.</td>
			<td></td>
		</tr>
		<tr>
			<td><a href="formvalid/formvalid-en.html">Form validation</a></td>
			<td>Plugin</td>
			<td>Provides generic validation and error message handling for Web forms.</td>
			<td></td>
		</tr>
		<tr>
			<td><a href="lightbox/lightbox-en.html">Lightbox</a></td>
			<td>Plugin</td>
			<td>Helps build a photo gallery on a web page.</td>
			<td></td>
		</tr>
		<tr>
			<td><a href="multimedia/multimedia-en.html">Media player</a></td>
			<td>Plugin</td>
			<td>Provides a media player for embedding accessible video and audio into web pages.</td>
			<td></td>
		</tr>
		<tr>
			<td><a href="menu/menu-en.html">Menu</a></td>
			<td>Plugin</td>
			<td>Provides an interactive menu bar with optional mega menu sub-menus.</td>
			<td></td>
		</tr>
		<tr>
			<td><a href="prettify/prettify-en.html">Prettify</a></td>
			<td>Plugin</td>
			<td>Provides syntax highlighting of source code snippets in an HTML page using <a href="http://code.google.com/p/google-code-prettify/">google-code-prettify</a>.</td>
			<td>Source Code</td>
		</tr>
		<tr>
			<td><a href="session-timeout/session-timeout-en.html">Session timeout</a></td>
			<td>Plugin</td>
			<td>Helps Web asset owners to provide session timeout and inactivity timeout functionality.</td>
			<td></td>
		</tr>
		<tr>
			<td><a href="share/share-en.html">Share widget</a></td>
			<td>Plugin</td>
			<td>Facilitates sharing Web content on social media platforms.</td>
			<td></td>
		</tr>
		<tr>
			<td><a href="tables/tables-en.html">Tables</a></td>
			<td>Plugin</td>
			<td>Integrates the <a href="http://www.datatables.net">DataTables</a> plugin into WET providing searching, sorting, filtering, pagination and other advanced features for tables.</td>
			<td></td>
		</tr>
		<tr>
			<td><a href="texthighlight/texthighlight-en.html?texthighlight=avian%20influenza+world+cook+flu-like%20symptoms+Don't%20Forget...+causes%20sickness%20in%20birds,%20it%20can%20also%20infect%20people.">Text highlighting</a></td>
			<td>Plugin</td>
			<td>Automatically highlights certain words on a Web page. The highlighted words can be selected via the query string.</td>
			<td></td>
		</tr>
		<tr>
			<td><a href="toggle/toggle-en.html">Toggle</a></td>
			<td>Plugin</td>
			<td>Allows a link to toggle elements between on and off states.</td>
			<td></td>
		</tr>
		<tr>
			<td><a href="twitter/twitter-en.html">Twitter embedded timeline</a></td>
			<td>Plugin</td>
			<td>Helps with implementing Twitter embedded timelines.</td>
			<td></td>
		</tr>
		<tr>
			<td><a href="datalist/datalist-en.html">Datalist polyfill (auto-complete)</a></td>
			<td>Polyfill</td>
			<td>Adds auto-complete functionality to specific text input fields by dynamically displaying a list of words that match the user's input.</td>
			<td></td>
		</tr>
		<tr>
			<td><a href="details/details-en.html">Details/summary polyfill (expandable/collapsible content)</a></td>
			<td>Polyfill</td>
			<td>The <code class="prettyprint">&lt;details&gt;</code> and <code class="prettyprint">&lt;summary&gt;</code> elements allows content to be expanded and collapsed.</td>
			<td></td>
		</tr>
		<tr>
			<td><a href="datepicker/datepicker-en.html">Input type="date" polyfill (date picker)</a></td>
			<td>Polyfill</td>
			<td>The <code class="prettyprint">&lt;input type="date"&gt;</code> element dynamically generates a calendar interface for selecting a date in a form.</td>
			<td></td>
		</tr>
		<tr>
			<td><a href="slider/slider-en.html">Input type="range" polyfill (slider control)</a></td>
			<td>Polyfill</td>
			<td>The <code class="prettyprint">&lt;input type="range"&gt;</code> element dynamically generates a calendar interface for selecting a date in a form.</td>
			<td></td>
		</tr>
		<tr>
			<td><a href="meter/meter-en.html">Meter polyfill</a></td>
			<td>Polyfill</td>
			<td>The <code class="prettyprint">&lt;meter&gt;</code> element displays a scalar measurement in a known range.</td>
			<td></td>
		</tr>
		<tr>
			<td><a href="progress/progress-en.html">Progress polyfill (progress bar)</a></td>
			<td>Polyfill</td>
			<td>The <code class="prettyprint">&lt;progress&gt;</code> element displays the progress of a task.</td>
			<td></td>
		</tr>
	</tbody>
</table>