---
{
	"title": "Exemples pratiques",
	"language": "fr",
	"en": "index"
}
---
<table id="components" class="wb-prettify wb-tables" data-wet-boew='{"aoColumnDefs": [ { "bVisible": false, "aTargets": [ 3 ] } ], "aLengthMenu": [[10, 25, -1], [10, 25, "All"]], "iDisplayLength": -1, "aaSorting": [[ 2, "asc" ]]}'>
	<thead>
		<tr>
			<th>Nom</th>
			<th>Catégorie</th>
			<th>Description</th>
			<th class="wb-inv">Mots clés</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><a href="carousel/carousel-fr.html">Carrousel</a></td>
			<td>Plugiciel</td>
			<td>Interface pour cycler à travers le contenu.</td>
			<td></td>
		</tr>
		<tr>
			<td><a href="data-ajax/data-ajax-en.html">Data AJAX</a></td>
			<td>Plugiciel</td>
			<td>A basic AjaxLoader wrapper that inserts AJAXed in content</td>
			<td></td>
		</tr>
		<tr>
			<td>
				<a href="data-inview/data-inview-banner-en.html">Data Inview: Banner</a><br />
				<a href="data-inview/data-inview-panel-en.html">Data Inview: Panel</a>
			</td>
			<td>Plugiciel</td>
			<td>A simplified data-attribute driven Plugiciel that responds to moving in and out of the viewport.</td>
			<td></td>
		</tr>
		<tr>
			<td><a href="data-picture/data-picture-en.html">Data Picture</a></td>
			<td>Plugiciel</td>
			<td>Event driven port of the Picturefill library: https://github.com/scottjehl/picturefill</td>
			<td></td>
		</tr>
		<tr>
			<td><a href="session-timeout/session-timeout-fr.html">Expiration de la session</a></td>
			<td>Plugiciel</td>
			<td>Ferme la session de l'utilisateur après un certain délai.</td>
			<td></td>
		</tr>
		<tr>
			<td><a href="favicon/favicon-en.html">Favicon</a></td>
			<td>Plugiciel</td>
			<td>Provides the ability to add and update a page's favicons</td>
			<td></td>
		</tr>
		<tr>
			<td><a href="feeds/feeds-fr.html">Fils de syndication</a></td>
			<td>Plugiciel</td>
			<td>Affiche les articles d’un ou plus fils de syndication.</td>
			<td></td>
		</tr>
		<tr>
			<td><a href="feedback/feedback-fr.html">Formulaire de rétroaction</a></td>
			<td>Plugiciel</td>
			<td>Un formulaire normalisé pour soumettre une rétroaction au sujet d'une page ou d'un site Web particulier.</td>
			<td></td>
		</tr>
		<tr>
			<td><a href="share/share-fr.html">Gadget de partage</a></td>
			<td>Plugiciel</td>
			<td>Permet à l'utilisateur de partager un contenu Web sur les plateformes de médias sociaux.</td>
			<td></td>
		</tr>
		<tr>
			<td><a href="multimedia/multimedia-fr.html">Lecteur média</a></td>
			<td>Plugiciel</td>
			<td>Un lecteur média accessible permettant d'intégrer des contenus vidéo et audio sur les pages Web.</td>
			<td></td>
		</tr>
		<tr>
			<td><a href="lightbox/lightbox-fr.html">Lightbox</a></td>
			<td>Plugiciel</td>
			<td>Crée une galerie photo sur une page Web.</td>
			<td></td>
		</tr>
		<tr>
			<td><a href="menu/menu-en.html">Menu</a></td>
			<td>Plugiciel</td>
			<td>Une barre de menu interactive comprenant des sous-menus optionnels pour le mégamenu.</td>
			<td></td>
		</tr>
		<tr>
			<td><a href="texthighlight/texthighlight-fr.html?texthighlight=influenza%20aviaire+monde+suffis+sympt%C3%B4mes%20semblables%20%C3%A0%20ceux%20de%20l%27influenza+%C3%80%20titre%20de%20rappel...+%C3%80%20de%20rares%20occasions,%20des%20humains%20ont%20%C3%A9t%C3%A9%20infect%C3%A9s%20par%20ce%20virus.">Mise en surbrillance de text</a></td>
			<td>Plugiciel</td>
			<td>Met en surbrillance sur une page Web les mots choisis.</td>
			<td></td>
		</tr>
		<tr>
			<td><a href="footnotes/footnotes-fr.html">Notes de bas de page</a></td>
			<td>Plugiciel</td>
			<td>Une méthode accessible pour afficher des notes de bas de page.</td>
			<td></td>
		</tr>
		<tr>
			<td><a href="prettify/prettify-fr.html">Prettify</a></td>
			<td>Plugiciel</td>
			<td>Affiche de la syntaxe des extraits de code source.</td>
			<td>Source Code</td>
		</tr>
		<tr>
			<td><a href="tables/tables-en.html">Tables</a></td>
			<td>Plugiciel</td>
			<td>Ajoutes des fonctionnalités aux tableaux telles que la recherche, le tri, le filtrage et la pagination.</td>
			<td></td>
		</tr>
		<tr>
			<td><a href="toggle/toggle-en.html">Toggle</a></td>
			<td>Plugiciel</td>
			<td>Allows a link to toggle elements between on and off states.</td>
			<td></td>
		</tr>
		<tr>
			<td><a href="twitter/twitter-fr.html">Chronologie intégrée Twitter</a></td>
			<td>Plugiciel</td>
			<td>Affiche des chronologies intégrées Twitter.</td>
			<td></td>
		</tr>
		<tr>
			<td><a href="formvalid/formvalid-fr.html">Validation de formulaires</a></td>
			<td>Plugiciel</td>
			<td>Effectue la validation de formulaires Web selon un ensemble de règles de base avant qu'ils soient soumis.</td>
			<td></td>
		</tr>
		<tr>
			<td><a href="datalist/datalist-fr.html">Correctif «&#160;datalist&#160;» (saisie automatique)</a></td>
			<td>Correctif</td>
			<td>Émule l'attribut list de l'élément <code class="prettyprint">&lt;input&gt;</code>, ainsi que l'élément <code class="prettyprint">&lt;datalist&gt;</code>, pour les navigateurs qui ne les supportent pas.</td>
			<td></td>
		</tr>
		<tr>
			<td><a href="details/details-fr.html">Correctif «&#160;details/summary&#160;» (contenu affichable/masquable)</a></td>
			<td>Correctif</td>
			<td>Émule les éléments <code class="prettyprint">&lt;details&gt;</code> et <code class="prettyprint">&lt;summary&gt;</code> pour les navigateurs qui ne le supportent pas.</td>
			<td></td>
		</tr>
		<tr>
			<td><a href="datepicker/datepicker-fr.html">Correctif «&#160;input type="date&#160;» (sélecteur de date)</a></td>
			<td>Correctif</td>
			<td>Émule l’élément <code class="prettyprint">&lt;input type="date"&gt;</code> pour les navigateurs qui ne le supportent pas.</td>
			<td></td>
		</tr>
		<tr>
			<td><a href="slider/slider-fr.html">Correctif «&#160;input type="range"&#160;» (barre coulissante)</a></td>
			<td>Correctif</td>
			<td>Émule l’élément <code class="prettyprint">&lt;input type="range"&gt;</code> pour les navigateurs qui ne le supportent pas.</td>
			<td></td>
		</tr>
		<tr>
			<td><a href="meter/meter-fr.html">Correctif «&#160;meter#160;» (compteur)</a></td>
			<td>Correctif</td>
			<td>Émule l’élément <code class="prettyprint">&lt;meter&gt;</code> pour les navigateurs qui ne le supportent pas.</td>
			<td></td>
		</tr>
		<tr>
			<td><a href="progress/progress-fr.html">Correctif «&#160;progress#160;» (barred de progression)</a></td>
			<td>Correctif</td>
			<td>Émule l’élément <code class="prettyprint">&lt;progress&gt;</code> pour les navigateurs qui ne le supportent pas.</td>
			<td></td>
		</tr>
	</tbody>
</table>