---
{
	"title": "Data JSON",
	"language": "en",
	"category": "Plugins",
	"categoryfile": "plugins",
	"description": "Insert content extracted from a JSON file.",
	"altLangPrefix": "data-json",
	"dateModified": "2016-11-07"
}
---
<div class="wb-prettify all-pre"></div>

<section>
	<h2>Purpose</h2>
	<p>Insert content extracted from a JSON file.</p>
</section>
<section>
	<h2>Use when</h2>
	<p>When you need to display the same atomic information on multiple pages. Like a fee for a services that is re-use across multiple pages.</p>
</section>
<section>
	<h2>Do not use when</h2>
	<ul>
		<li>To insert HTML content, use <a href="../data-ajax/data-ajax-en.html">data-ajax</a> instead.</li>
		<li>For inserting data that only apply for one unique page.</li>
	</ul>
</section>
<section>
	<h2>Working example</h2>
	<ul>
		<li><a href="../../../demos/data-json/data-json-en.html">English example</a></li>
		<li><a href="../../../demos/data-json/data-json-fr.html">French example</a></li>
	</ul>
</section>
<section>
	<h2>How to implement</h2>

	<ol>
		<li>Create a <a href="https://www.google.ca/search?q=validate+JSON#q=validate+JSON">valid JSON file</a></li>
		<li>
			<p>Add one of the following data-json attributes to an element, with the attribute value being the URL of the JSON file followed by a <a href="https://tools.ietf.org/html/rfc6901">JSON Pointer (RFC6901)</a> URL hash:</p>
			<ul>
				<li>
				<p><code>data-json-after</code>: Insert content after the element</p>
				<pre><code>&lt;span data-json-after=&quot;json/data-en.json#/JSON/Pointer&quot;&gt;
	...
&lt;/span&gt;</code></pre>
				</li>
				<li>
				<p><code>data-json-append</code>: Insert content at the end of the element</p>
				<pre><code>&lt;span data-json-append=&quot;json/data-en.json#/JSON/Pointer&quot;&gt;
	...
&lt;/span&gt;</code></pre>
				</li>
				<li>
				<p><code>data-json-before</code>: Insert content before the element</p>
				<pre><code>&lt;span data-json-before=&quot;json/data-en.json#/JSON/Pointer&quot;&gt;
	...
&lt;/span&gt;</code></pre>
				</li>
				<li>
				<p><code>data-json-prepend</code>: Insert content at the start of the element</p>
				<pre><code>&lt;span data-json-prepend=&quot;json/data-en.json#/JSON/Pointer&quot;&gt;
	...
&lt;/span&gt;</code></pre>
				</li>
				<li>
				<p><code>data-json-replace</code>: Replace content inside the element</p>
				<pre><code>&lt;span data-json-replace=&quot;json/data-en.json#/JSON/Pointer&quot;&gt;
	...
&lt;/span&gt;</code></pre>
				</li>
				<li>
				<p><code>data-json-replacewith</code>: Replace the element by the content</p>
				<pre><code>&lt;span data-json-replacewith=&quot;json/data-en.json#/JSON/Pointer&quot;&gt;
	...
&lt;/span&gt;</code></pre>
				</li>
			</ul>
		</li>
	</ol>
</section>

<section>
<h2>Selecting data</h2>

<p>(Source: <a href="https://tools.ietf.org/html/rfc6901">JSON Pointer, RCF6901</a>)</p>
<p>For example, given the JSON document</p>
<pre><code>{
	"foo": ["bar", "baz"],
	"": 0,
	"a/b": 1,
	"c%d": 2,
	"e^f": 3,
	"g|h": 4,
	"i\\j": 5,
	"k\"l": 6,
	" ": 7,
	"m~n": 8
}</code></pre>
<p>The following URI fragment identifiers evaluate to the accompanying values:</p>
<table class="table">
	<tr>
		<th>URI fragment</th>
		<th>Returning value</th>
	</tr>
	<tr>
		<td><code>#</code></td>
		<td>The whole document</td>
	</tr>
	<tr>
		<td><code>#/foo</code></td>
		<td><code>["bar", "baz"]</code></td>
	</tr>
	<tr>
		<td><code>#/foo/0</code></td>
		<td><code>"bar"</code></td>
	</tr>
	<tr>
		<td><code>#/</code></td>
		<td>0</td>
	</tr>
	<tr>
		<td><code>#/a~1b</code></td>
		<td>1</td>
	</tr>
	<tr>
		<td><code>#/c%25d</code></td>
		<td>2</td>
	</tr>
	<tr>
		<td><code>#/e%5Ef</code></td>
		<td>3</td>
	</tr>
	<tr>
		<td><code>#/g%7Ch</code></td>
		<td>4</td>
	</tr>
	<tr>
		<td><code>#/i%5Cj</code></td>
		<td>5</td>
	</tr>
	<tr>
		<td><code>#/k%22l</code></td>
		<td>6</td>
	</tr>
	<tr>
		<td><code>#/%20</code></td>
		<td>7</td>
	</tr>
	<tr>
		<td><code>#/m~0n</code></td>
		<td>8</td>
	</tr>
</table>
</section>

<section>
<h2>Issue that you may encounter</h2>
<dl>
	<dt>Display nothing, plugin seems to be broken.</dt>
	<dd>Ensure that your <a href="https://www.google.ca/search?q=validate+JSON#q=validate+JSON">JSON file is valid</a></dd>

	<dt>Recently updated data do not display</dt>
	<dd>Refresh your browser cache by opening a new tab the JSON file and then do a hard refresh <kbd>Ctrl + F5</kbd> or by testing your page from a new private mode session of your browser.</dd>
</dl>
</section>

<section>
	<h2>Configuration options</h2>
	<table class="table">
	<thead>
	<tr>
	<th>Option</th>
	<th>Description</th>
	<th>How to configure</th>
	<th>Values</th>
	</tr>
	</thead>
	<tbody>
	<tr>
	<td>Insertion type</td>
	<td>Configure the origin and destination of the content to be extracted from a JSON file.</td>
	<td>Add the configuration attribute to the affected element with the value being the URL followed by a JSON pointer hash of the data to be inserted.</td>
	<td>
		<dl>
			<dt><code>data-json-after</code>:</dt>
			<dd>Insert content after the element</dd>
			<dt><code>data-json-append</code>:</dt>
			<dd>Insert content at the end of the element</dd>
			<dt><code>data-json-before</code>:</dt>
			<dd>Insert content before the element</dd>
			<dt><code>data-json-prepend</code>:</dt>
			<dd>Insert content at the start of the element</dd>
			<dt><code>data-json-replace</code>:</dt>
			<dd>Replace content inside the element</dd>
			<dt><code>data-json-replacewith</code>:</dt>
			<dd>Replace the element by the content</dd>
		</dl>
	</td>
	</tbody>
	</table>
</section>
<section>
	<h2>Events</h2>
	<table class="table">
	<thead>
	<tr>
	<th>Event</th>
	<th>Trigger</th>
	<th>What it does</th>
	</tr>
	</thead>
	<tbody>

	<tr>
	<td><code>wb-init.wb-data-json</code></td>
	<td>Triggered manually (e.g., <code>$( "[data-json-after], [data-json-append], [data-json-before], [data-json-prepend], [data-json-replace], [data-json-replacewith]" ).trigger( "wb-init.wb-data-json" );</code>).</td>
	<td>Used to manually initialize the Data JSON plugin. <strong>Note:</strong> The Data JSON plugin will be initialized automatically unless the required markup is added after the page has already loaded.</td>
	</tr>
	<tr>
	<td><code>wb-ready.wb-data-json</code></td>
	<td>Triggered automatically after the content has been inserted.</td>
	<td>Used to identify where content has been inserted in by the plugin (target of the event) and to pass along how the content was included ("after", "append", "before", "prepend", "replace" or "replacewith").
	<pre><code>$( document ).on( "wb-ready.wb-data-json", "[data-json-after], [data-json-append], [data-json-before], [data-json-prepend], [data-json-replace], [data-json-replacewith]", function( event, ajaxType ) {
	});</code></pre>
	<pre><code>$( "[data-json-after], [data-json-append], [data-json-before], [data-json-prepend], [data-json-replace], [data-json-replacewith]" ).on( "wb-ready.wb-data-json", function( event, ajaxType ) {
	});</code></pre>
	</td>
	</tr>
	<tr>
	<td><code>wb-ready.wb</code></td>
	<td>Triggered automatically when WET has finished loading and executing.</td>
	<td>Used to identify when all WET plugins and polyfills have finished loading and executing.
	<pre><code>$( document ).on( "wb-ready.wb", function( event ) {
	});</code></pre>
	</td>
	</tr>
	<tr>
	<td><code>wb-contentupdated</code></td>
	<td>Triggered automatically when data-json has finished to load the response.</td>
	<td>Use to perform a secondary action upon inserted content
	<pre><code>$('#mycontainer').on( "wb-contentupdated", function( event, data ){
	});</code></pre>
	</td>
	</tr>
	</tbody>
	</table>
</section>
<section>
	<h2>Source code</h2>
	<p><a href="https://github.com/wet-boew/wet-boew/tree/master/src/plugins/data-json">Data JSON plugin source code on GitHub</a></p>
	<h3>Dependency</h3>
	<p><a href="https://github.com/wet-boew/wet-boew/tree/master/src/plugins/json-fetch">JSON fetch plugin source code on GitHub</a></p>
</section>