/*
 Breadcrumbs
 */

%breadcrumb-no-icon {
	display: none;
}

#wb-bc {
	background: #f9f9f9;

	ol {
		background: #fff;
		border-radius: 0;
		margin-bottom: 0;
	}

	li {
		max-width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;

		&:before {
			color: #333;
			content: "\e092";
			font: {
				family: "Glyphicons Halflings";
				size: 0.7em;
			}
		}

		&:first-child {
			&:before {
				@extend %breadcrumb-no-icon;
			}
		}
	}
}

[dir=rtl] {
	#wb-bc {
		li {
			&:before {
				content: "\e091";
				display: inline-block;
			}

			&:first-child {
				&:before {
					@extend %breadcrumb-no-icon;
				}
			}
		}
	}
}
