/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 */
%datepicker-color-fff-important {
	color: #FFF !important;
}
%datepicker-display-inline {
	display: inline;
}
%datepicker-img-display-inline {
	img {
		@extend %datepicker-display-inline;
	}
}
%datepicker-margin-0 {
	margin: 0;
}
 
.cal-cnt {
	&.picker-overlay {
		position: absolute;
		z-index: 498 !important;
		margin-top: -2em;
	}
}

.picker-close {
	position: absolute;
	right: 0.3em;
	top: 10px;
	img {
		@extend %datepicker-margin-0;
	}
}

.picker-field {
	width: 7em;
}

.picker-toggle {
	padding: 10px;
	img {
		@extend %datepicker-margin-0;
		vertical-align: middle;
		width: auto;
	}
	a {
		margin-left: 0.5em;
	}
}

.cal-days {
	a {
		text-decoration: underline;
	}
	td {
		&.datepicker-selected {
			a {
				background-color: #333;
				@extend %datepicker-color-fff-important;
			}
		}
	}
	a {
		color: #111;
		&:hover, &:focus {
			@extend %datepicker-color-fff-important;
		}
	}
}

.datepicker-format {
	@extend %datepicker-display-inline;
}