/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 */
@import "../../variables";

%datepicker-color-fff-important {
	color: #fff !important;
}

.wb-date-wrap {
	&.input-group {
		width: 10em;
	}
}

.picker-overlay {
	display: none;
	position: absolute;
	z-index: 10000;

	&.open {
		display: block;
	}

	.picker-close {
		font-size: 1.7em;

		&.mfp-close {
			background: $cal-header-bg-color;
			border-radius: 0 10px 10px 0;
			opacity: 1;
			right: -44px;
		}
	}

	.cal-days {

		a {
			color: #111;
			text-decoration: underline;

			&[aria-selected] {
				outline: 5px solid #000;
			}

			&:hover,
			&:focus {
				@extend %datepicker-color-fff-important;
			}
		}

		td {
			> {
				time {
					color: #999;
				}
			}
		}
	}
}

.datepicker-format {
	display: inline !important;
}

[dir=rtl] {
	.picker-toggle {
		margin-left: 0;
		margin-right: 5px;
	}
}
