---
{
	"title": "Input type=\"date\" polyfill (date picker)",
	"language": "en",
	"fr": "datepicker"
}
---
<section>
	<h2>Examples</h2>
	<form method="get" action="#">
		<div>
			<label for="startdate">Start Date<span class="datepicker-format"> (<abbr title="Four digits year">YYYY</abbr>-<abbr title="Two digits month">MM</abbr>-<abbr title="Two digits day">DD</abbr>)</span></label>
			<input type="date" id="startdate" name="startdate" min="2013-03-27" max="2013-05-07" />
		</div>
		<div>
			<label for="enddate">End Date<span class="datepicker-format"> (<abbr title="Four digits year">YYYY</abbr>-<abbr title="Two digits month">MM</abbr>-<abbr title="Two digits day">DD</abbr>)</span></label>
			<input type="date" id="enddate" name="enddate" min="2013-03-27" max="2016-05-07" />
		</div>
		<div>
			<input type="submit" value="Submit" />
		</div>
	</form>
</section>
<section>
	<h2>Relevant Attributes</h2>
	<dl>
		<dt>Relevant Start Date attributes:</dt>
		<dd><code>type="date"</code></dd>
		<dd><code>min="2013-03-27"</code></dd>
		<dd><code>max="2013-05-07"</code></dd>
		<dt>Relevant End Date attributes:</dt>
		<dd><code>type="date"</code></dd>
		<dd><code>min="2013-03-27"</code></dd>
		<dd><code>max="2016-05-07"</code></dd>
	</dl>
</section>