---
{
	"layout": "default.hbs"
}
---

{{#if page.description }}
	<p property="description">{{ page.description }}</p>
{{/if}}

{{>body}}

<nav>
	<h2>Sur cette page</h2>
	<ul>
		<li><a href="#sommaire">Sommaire</a></li>
		<li><a href="#evaluation">Évaluation associée</a></li>
		<li><a href="#travaux">Travaux</a></li>
		<li><a href="#verifications">Vérifications d'évaluation</a></li>
		<li><a href="#conformite">Satisfaction des critères de conformité</a></li>
	</ul>
</nav>
<div id="ds-a11y" data-wb-jsonmanager='{
	"url": [
		"../../acr/demo-wcag21/labels.json",
		"{{ page.reportURL }}"
	],
	"name": "a11y",
	"patches": [
		{ "op": "wb-swap", "path": "/acr:standard", "ref": "/labels/acr:ConformanceStandard/fr" },
		{ "op": "wb-swap", "path": "/acr:conformanceOption", "ref": "/labels/acr:ConformanceOption/fr" },
		{ "op": "wb-swap", "path": "/acr:conformance", "ref": "/labels/acr:ConformanceState/fr" },
		{
			"op": "patches", "path": "/acr:audit", "patches": [
				{ "op": "wb-swap", "path": "/acr:assessment", "ref": "/assessments" },
				{ "op": "wb-swap", "path": "/acr:accuracy", "ref": "/labels/acr:AccuracyState/fr" },
				{ "op": "wb-swap", "path": "/earl:mode", "ref": "/labels/earl:TestMode/fr" },
				{
					"op": "patches", "path": "/acr:auditNote", "patches": [
						{ "op": "wb-swap", "path": "/acr:accuracy", "ref": "/labels/acr:AccuracyState/fr" },
						{ "op": "wb-swap", "path": "/earl:test", "ref": "/labels/earl:TestCriterion/fr" },
						{ "op": "wb-swap", "path": "/acr:relevancy", "ref": "/labels/acr:RelevancyValue/fr" },
						{ "op": "wb-swap", "path": "/acr:severity", "ref": "/labels/acr:SeverityValue/fr" },
						{ "op": "wb-swap", "path": "/acr:relevancy", "ref": "/labels/acr:RelevancyValue/fr" }
					]
				}

			]
		},
		{
			"op": "patches", "path": "/wf:task", "patches": [
				{ "op": "wb-swap", "path": "/earl:test", "ref": "/labels/earl:TestCriterion/fr" },
				{ "op": "wb-swap", "path": "/acr:requirement", "ref": "/labels/earl:TestCriterion/fr" },
				{ "op": "wb-swap", "path": "/acr:severity", "ref": "/labels/acr:SeverityValue/fr" },
				{ "op": "wb-swap", "path": "/acr:relevancy", "ref": "/labels/acr:RelevancyValue/fr" }
			]
		},
		{
			"op": "patches", "path": "/acr:conformity", "patches": [
				{ "op": "wb-swap", "path": "/acr:requirement", "ref": "/labels/earl:TestCriterion/fr" },
				{ "op": "wb-swap", "path": "/earl:mode", "ref": "/labels/earl:TestMode/fr" },
				{ "op": "wb-swap", "path": "/acr:conformance", "ref": "/labels/acr:ConformanceState/fr" },
				{ "op": "wb-swap", "path": "/acr:assessment", "ref": "/assessments" }
			]
		}

	]
}'></div>

<h2 id="sommaire">Sommaire</h2>

<p>(<a href="{{ page.reportURL }}" type="application/ld+json" rel="alternate">Consulter le rapport dans son état d'origine en JSON-LD</a>)</p>
<dl class="dl-horizontal">
	<dt>Type</dt>
	<dd>Évaluation de conformité à l'accessibilité</dd>
	<dt>Vérifié par:</dt>
	<dd><a data-wb-json='[

					{
						"url": "#[a11y]/earl:assertedBy/earl:mainAssertor/foaf:homepage",
						"type": "attr",
						"attr": "href"
					},
					{
						"url": "#[a11y]/earl:assertedBy/earl:mainAssertor/foaf:name",
						"type": "replace"
					}

				]' href="#">Inconnu</a> sous <a data-wb-json='[

					{
						"url": "#[a11y]/earl:assertedBy/foaf:homepage",
						"type": "attr",
						"attr": "href"
					},
					{
						"url": "#[a11y]/earl:assertedBy/foaf:name",
						"type": "replace"
					}

				]' href="#" data-json-replace="#[a11y]/earl:assertedBy/foaf:name">Non disponible</a></dd>
	<dt>Créé le:</dt>
	<dd data-json-replace="#[a11y]/dct:created">Non disponible</dd>
	<dt>Modifié le:</dt>
	<dd data-json-replace="#[a11y]/dct:modified">Non disponible</dd>
	<dt>Publié le:</dt>
	<dd data-json-replace="#[a11y]/dct:issued">Le rapport est en rédaction</dd>
	<dt>Sujet:</dt>
	<dd>
		<ul class="list-unstyled">
			<li><strong>À propos</strong>:
				<span><a data-wb-json='[

					{
						"url": "#[a11y]/earl:subject/dct:references",
						"type": "attr",
						"attr": "href"
					},
					{
						"url": "#[a11y]/earl:subject/dct:references",
						"type": "replace"
					}

				]' href="#">Non disponible</a></span>
			</li>
			<li><strong>Portée</strong>:
				<span data-json-replace="#[a11y]/earl:subject/dct:description" lang="en"><span lang="fr">Non définie</span></span>
			</li>
			<li><strong>Sélecteur CSS</strong>:
				<code data-json-replace="#[a11y]/earl:subject/earl:pointer/@value">Pas applicable</code>
			</li>
		</ul>
	</dd>
	<dt>Sommaire:</dt>
	<dd data-json-replace="#[a11y]/dct:description" lang="en"><span lang="fr">Aucune note</span></dd>
	<dt>Conformité à la norme:</dt>
	<dd data-json-replace="#[a11y]/acr:standard">Pas spécifié</dd>
	<dt>Option de conformité:</dt>
	<dd data-json-replace="#[a11y]/acr:conformanceOption">Pas spécifié</dd>
	<dt>État de la conformité:</dt>
	<dd data-json-replace="#[a11y]/acr:conformance">Pas spécifié</dd>
	<dt>Résultat calculé:</dt>
	<dd data-json-replace="#[a11y]/acr:aggregatedScore">Non calculé</dd>
</dl>

<section id="evaluation" class="brdr-bttm">
	<h2>Évaluation associée</h2>
	<p>Liste des évaluations associées par date de consultation lorsqu'elles ont été considérées de manière formelle ou informelle dans la rédaction de ce rapport de conformité.</p>
	<ul data-wb-json='{
			"url": "#[a11y]/assessments",
			"mapping": [
				{ "selector": "[data-rel-json]", "value": "/@id", "attr": "data-rel-json" },
				{ "selector": "[lang]", "value": "/dct:language", "attr": "lang" },
				{ "selector": "a", "value": "/dct:title" },
				{ "selector": "a", "value": "/dct:references", "attr": "href" },
				{ "selector": "time", "value": "/dct:date" }
			]
		}'>
		<template>
			<li data-rel-json lang><time></time> - <a href></a></li>
		</template>
	</ul>
</section>

<section id="travaux" class="brdr-bttm">
	<h2>Travaux</h2>
	<p>Cette section est offerte à titre d'information. La réalisation des travaux suivants peut être requise ou non pour satisfaire à la conformité de la norme. L'intention est de créer des liens et d'identifier des travaux associés car ils pourraient être pertinents dans l'interprétation de ce rapport de conformité à l'accessibilité. L'état actuel des travaux n'est pas indiqué et ne sera pas suivi ici.</p>
	<dl data-wb-json='{
			"url": "#[a11y]/wf:task",
			"mapping": [
				{ "selector": "a[data-title]", "value": "/dct:title" },
				{ "selector": "a[data-title]", "value": "/dct:references", "attr": "href" },
				{ "selector": "[data-requirement]", "value": "/acr:requirement" },
				{ "selector": "[data-created]", "value": "/dct:created" },
				{ "selector": "[data-severity]", "value": "/acr:severity" },
				{ "selector": "[data-relevancy]", "value": "/acr:relevancy" },
				{ "selector": "[data-description]", "value": "/wf:goalDescription" }
			]
		}'>
		<template>
			<dt class="h3" lang="en"><a data-title href></a></dt>
			<dd>
				<p class="clearboth"><strong>Associé à l'exigence:</strong> <span data-requirement>Pas spécifié</span></p>
				<ul class="list-inline">
					<li><em>Date:</em> <span data-created>Pas spécifié</span></li>
					<li><em>Gravité:</em> <span data-severity>Pas spécifié</span></li>
					<li><em>Pertinence:</em> <span data-relevancy>Pas spécifié</span></li>
				</ul>
				<p data-description lang="en"></p>
			</dd>
		</template>
	</dl>
</section>

<section id="verifications" class="brdr-bttm">
	<h2>Vérifications d'évaluation</h2>
	<table class="table">
		<thead>
			<tr>
				<th>Date</th>
				<th>Exactitude</th>
				<th>Détails</th>
			</tr>
		</thead>
		<tbody data-wb-json='{
			"url": "#[a11y]/acr:audit",
			"tobeclone": "tr",
			"source": "#tmpl-audits",
			"mapping": [
				{ "selector": "[data-reviewon]", "value": "/dct:issued" },
				{ "selector": "[data-accuracy]", "value": "/acr:accuracy" },

				{ "selector": "[data-reviewer]", "value": "/earl:assertedBy/foaf:name" },
				{ "selector": "[data-reviewer]", "value": "/earl:assertedBy/foaf:homepage", "attr": "href" },

				{ "selector": "[data-assessment]", "value": "/acr:assessment/dct:language", "attr": "lang" },
				{ "selector": "a[data-assessment-ref]", "value": "/acr:assessment/dct:title" },
				{ "selector": "a[data-assessment-ref]", "value": "/acr:assessment/dct:references", "attr": "href" },
				{ "selector": "[data-assessment-date]", "value": "/acr:assessment/dct:date" },

				{ "selector": "[data-mode]", "value": "/earl:mode" },
				{ "selector": "[data-applicability]", "value": "/earl:subject/dct:description" },
				{ "selector": "[data-summary]", "value": "/dct:description" },
				{ "selector": "[data-audit-notes]", "value": "/acr:auditNote",
					"mapping": [
						{ "selector": "[data-note-accuracy]", "value": "/acr:accuracy" },
						{ "selector": "[data-note-severity]", "value": "/acr:severity" },
						{ "selector": "[data-note-relevancy]", "value": "/acr:relevancy" },
						{ "selector": "[data-note-title]", "value": "/dct:title" },
						{ "selector": "[data-note-test]", "value": "/earl:test" },
						{ "selector": "[data-note-description]", "value": "/dct:description" }
					]
				}
			]
		}'>
		</tbody>
	</table>

	<template id="tmpl-audits">
		<table>
			<tr>
				<th data-reviewon></th>
				<td data-accuracy></td>
				<td>
					<dl class="dl-horizontal">
						<dt>Par:</dt>
						<dd><a data-reviewer href>Inconnu</a></dd>
						<dt>Vérification de l'évaluation:</dt>
						<dd data-assessment lang>
							<time data-assessment-date></time> - <a data-assessment-ref href></a>
						</dd>
						<dt>Mode de vérification:</dt>
						<dd><code data-mode></code></dd>
						<dt>Portée:</dt>
						<dd data-applicability lang="en"><span lang="fr">Telle que définie</span></dd>
						<dt>Note:</dt>
						<dd>
							<p data-summary lang="en"></p>
							<div data-audit-notes>
								<template>
									<details>
										<summary><strong data-note-accuracy></strong> - <span data-note-title lang="en">Title</span></summary>
										<p>À propos du test: <span data-note-test></span></p>
										<p>Gravité: <span data-note-severity></span>; Pertinence <span data-note-relevancy></span></p>
										<p data-note-description lang="en"></p>
									</details>
								</template>
							</div>
						</dd>
					</dl>
				</td>
			</tr>
		</table>
	</template>

</section>

<section id="conformite" class="brdr-bttm">
	<h2>Conformité aux exigences</h2>
	<table class="table">
		<thead>
			<tr>
				<th class="col-md-3">Exigence</th>
				<th class="col-md-2">Conformité</th>
				<th>Commentaire</th>
			</tr>
		</thead>
		<tbody data-wb-json='{
			"url": "#[a11y]/acr:conformity",
			"tobeclone": "tr",
			"source": "#tmpl-requirements",
			"mapping": [
				{ "selector": "[data-requirement-label]", "value": "/acr:requirement" },
				{ "selector": "[data-conformance]", "value": "/acr:conformance" },
				{ "selector": "[data-notes]", "value": "/notes" },
				{ "selector": "[data-mode]", "value": "/earl:mode" },
				{
					"selector": "[data-assessment]",
					"value": "/acr:assessment",
					"mapping": [
						{ "selector": "[lang]", "value": "/dct:language", "attr": "lang" },
						{ "selector": "a", "value": "/dct:title" },
						{ "selector": "a", "value": "/dct:references", "attr": "href" },
						{ "selector": "time", "value": "/dct:date" }
					]
				}
			]
		}'>
		</tbody>
	</table>

	<template id="tmpl-requirements">
		<table>
			<tr>
				<th data-requirement-label></th>
				<td><span data-conformance></span></td>
				<td>
					<dl class="dl-horizontal">
						<dt>Mode de vérification:</dt>
						<dd data-mode>Inconnu</dd>
						<dt>Notes:</dt>
						<dd data-notes lang="en"></dd>
					</dl>
					<details>
						<summary>Évaluation associée</summary>
							<ul class="list-unstyled" data-assessment>
								<template>
									<li lang><time></time> - <a href></a></li>
								</template>
							</ul>
					</details>
				</td>
			</tr>
		</table>
	</template>
	<p>Note: basé sur l'ensemble de règles suivant: <code data-json-replace="#[a11y]/dct:source">Non disponible</code></p>

</section>
