---
{
	"layout": "core.hbs"
}
---
<header role="banner">
	<div id="wb-bnr">
		<div class="container">
			<div class="row mrgn-tp-lg mrgn-bttm-lg">
				<section class="col-md-8 col-md-offset-2">
					<object type="image/svg+xml" tabindex="-1" role="img" data="{{assets}}/assets/logo.svg" aria-label="{{{i18n "site-title"}}}"></object>
				</section>
			</div>
		</div>
	</div>
</header>
<main role="main" property="mainContentOfPage" class="container">
	<div class="row mrgn-tp-lg">
		<div class="col-md-12">
			{{>body}}
		</div>
	</div>
</main>
