---
{
	"title": "Meter polyfill",
	"language": "en",
	"category": "Polyfills",
	"categoryfile": "polyfills",
	"description": "Emulates meter element support for browsers that do not have support. The meter element displays a scalar measurement in a known range.",
	"altLangPrefix": "meter",
	"dateModified": "2014-07-20"
}
---
<span class="wb-prettify all-pre hide"></span>

<section>
	<h2>Purpose</h2>
	<p>The HTML5 <code>meter</code> element displays a scalar measurement within a known range. Because some browsers do not support this functionality natively, this polyfill emulates the same functionality using generic HTML and WAI-ARIA.</p>
</section>

<section>
	<h2>Use when</h2>
	<ul>
		<li>Displaying a scalar measurement within a known range</li>
	</ul>
</section>

<section>
	<h2>Do not use when</h2>
	<ul>
		<li>Displaying the progress of a task</li>
	</ul>
</section>

<section>
	<h2>Working example</h2>
	<section>
		<h3>Normal</h3>
		<pre><code>&lt;meter min="20" value="65" max="80"&gt;75% (normal)&lt;/meter&gt;</code></pre>
	</section>
	<section>
		<h3>Too high</h3>
		<pre><code>&lt;meter min="0" value="90" max="100" high="80"&gt;90% (too high)&lt;/meter&gt;</code></pre>
	</section>
	<section>
		<h3>Too low</h3>
		<pre><code>&lt;meter min="100" low="120" value="115" max="200" high="180"&gt;15% (too low)&lt;/meter&gt;</code></pre>
	</section>
	
	<ul>
		<li><a href="../../../demos/meter/meter-en.html">English examples</a></li>
		<li><a href="../../../demos/meter/meter-fr.html">French examples</a></li>
	</ul>
</section>

<section>
	<h2>How to implement</h2>
	<p>To use the polyfill, a standard <code>progress</code> element must be used. In cases where a browser doesn't support the <code>progress</code> element, the polyfill is automatically loaded.</p>
</section>

<section>
	<h2>Configuration options</h2>
	<p><a rel="external" href="http://www.w3.org/TR/html5/forms.html#the-meter-element">Configuration options available for the <code>meter</code> element (HTML5 specification)</a></p>
</section>

<section>
	<h2>Events</h2>
	<table class="table">
		<thead>
			<tr>
				<th>Event</th>
				<th>Trigger</th>
				<th>What it does</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>wb-init.wb-meter</td>
				<td>Triggered manually (e.g., <code>$elm.trigger( "wb-init.wb.wb-meter" );</code>).</td>
				<td>Used to manually initialize the meter polyfill. <strong>Note:</strong> The meter polyfill will be initialized automatically unless the <code>meter</code> element is added after the page has already loaded.</td>
			</tr>
		</tbody>
	</table>
</section>

<section>
	<h2>Source code</h2>
	<p><a href="https://github.com/wet-boew/wet-boew/tree/master/src/polyfills/meter">Meter polyfill source code on GitHub</a></p>
</section>
