---
{
	"title": "Calculate",
	"language": "en",
	"category": "Plugins",
	"description": "A calculator helper library for Web Experience Toolkit.",
	"tag": "calc",
	"parentdir": "calc",
	"altLangPrefix": "calc",
	"css": ["demo/calc"],
	"dateModified": "2017-06-09"
}
---
<p>A basic library for Calculating things</p>

<section>
<h2>Calculate</h2>
<form action="#" id="form" method="get" class="wb-calc" data-wb-calc-bind=".answer">
	<label for="ProvOrTerr" id="labelProv">Province or territory</label> 
	<select class="form-control" id="ProvOrTerr" name="Province">
      <option selected="selected" value="">Select</option>
      <option value="ab" data-wb-calc-value="0.0">Alberta</option>
      <option value="bc" data-wb-calc-value="0.07">British Columbia</option>
      <option value="mb" data-wb-calc-value="0.08">Manitoba</option>
      <option value="nb" data-wb-calc-value="0.10">New Brunswick</option>
      <option value="nfl" data-wb-calc-value="0.10">Newfoundland and Labrador</option>
      <option value="nt" data-wb-calc-value="0.05">Northwest Territories</option>
      <option value="ns" data-wb-calc-value="0.10">Nova Scotia</option>
      <option value="nvt" data-wb-calc-value="0.05">Nunavut</option>
      <option value="on" data-wb-calc-value="0.08">Ontario</option>
      <option value="pei" data-wb-calc-value="0.09">Prince Edward Island</option>
      <option value="qc" data-wb-calc-value="0.09975">Quebec</option>
      <option value="sk" data-wb-calc-value="0.05">Saskatchewan</option>
      <option value="yk" data-wb-calc-value="0.0">Yukon</option>
	</select>
	<br>
	<label for="priceinput" id="pricelabel">Amount</label>
	<input class="form-control" id="priceinput" placeholder="$" type="number">
	<br>
	<label for="BefOrAft" id="SwitchLabel">Amount entered is:</label>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<input name="BefOrAft" type="radio" title="Before taxes" value="1">
	<label for="BefOrAft" id="SwitchLabel">Before taxes</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<input name="BefOrAft" type="radio" title="After taxes" value="2">
	<label for="BefOrAft" id="SwitchLabel">After taxes</label><br>
   	<button class="btn btn-default mrgn-tp-sm" id="calculate" type="submit">Calculate</button>
</form>
</section>
<section>
<br/>
	<p><strong>GST (5%)</strong>: <span class="answer" data-wb-calc-rounded="2" data-wb-calc-eqnum="BefOrAft" data-wb-calc-equation1="#priceinput * 0.05" data-wb-calc-equation2="(#priceinput / (1 + 0.05 + #ProvOrTerr)) * 0.05"></span></p>
 	<p><strong>PST (<span class="answer" data-wb-calc-rounded="0" data-wb-calc-equation="#ProvOrTerr * 100"></span>%)</strong>: <span class="answer" data-wb-calc-rounded="2" data-wb-calc-eqnum="BefOrAft" data-wb-calc-equation1="#priceinput * #ProvOrTerr" data-wb-calc-equation2="(#priceinput / (1 + 0.05 + #ProvOrTerr)) * #ProvOrTerr"></span></p>
	<p><strong>Total</strong>: <span class="answer" data-wb-calc-rounded="2" data-wb-calc-eqnum="BefOrAft" data-wb-calc-equation1="#priceinput * 0.05 + #priceinput * #ProvOrTerr + #priceinput" data-wb-calc-equation2="#priceinput / (1 + 0.05 + #ProvOrTerr)"></span></p>
	<p><strong>TEST</strong>: <span class="answer" data-wb-calc-equation="10 * ( 25 - 5 ) + #priceinput * #ProvOrTerr +" ></span></p>	
</section>