---
{
	"title": "Calculate",
	"language": "en",
	"category": "Plugins",
	"description": "A calculator helper library for Web Experience Toolkit.",
	"tag": "calc",
	"parentdir": "calc",
	"altLangPrefix": "calc",
	"css": ["demo/calc"],
	"dateModified": "2017-06-09"
}
---


<section>
<h3>GST\HST Calculator</h3>
<form action="#" id="form" method="get" class="wb-calc" data-wb-calc-bind=".answer">
   
   <label for="ProvOrTerr" id="labelProv">Province or territory</label>

   <select class="form-control" id="ProvOrTerr" name="Province">
      <option selected="selected" value="">Select</option>
      <option value="ab" data-wb-calc-value="0.0">Alberta</option>
      <option value="bc" data-wb-calc-value="0.07">British Columbia</option>
      <option value="mb" data-wb-calc-value="0.08">Manitoba</option>
      <option value="nb" data-wb-calc-value="0.10">New Brunswick</option>
      <option value="nfl" data-wb-calc-value="0.10">Newfoundland and Labrador</option>
      <option value="nt" data-wb-calc-value="0.05">Northwest Territories</option>
      <option value="ns" data-wb-calc-value="0.10">Nova Scotia</option>
      <option value="nvt" data-wb-calc-value="0.05">Nunavut</option>
      <option value="on" data-wb-calc-value="0.08">Ontario</option>
      <option value="pei" data-wb-calc-value="0.09">Prince Edward Island</option>
      <option value="qc" data-wb-calc-value="0.09975">Quebec</option>
      <option value="sk" data-wb-calc-value="0.05">Saskatchewan</option>
      <option value="yk" data-wb-calc-value="0.0">Yukon</option>
   </select>
   <br>
   <label for="priceinput" id="pricelabel">Amount</label>
   	<input class="form-control" id="priceinput" placeholder="$" type="number">
   	<br>
	<label id="SwitchLabel">Amount entered is:</label>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<input name="BefOrAft" id="BefOrAftBefore" type="radio" title="Before taxes" value="1">
	<label for="BefOrAftBefore" id="BeforeLabel">Before taxes</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<input name="BefOrAft" id="BefOrAftAfter" type="radio" title="After taxes" value="2">
	<label for="BefOrAftAfter" id="AfterLabel">After taxes</label><br>
   	<button class="btn btn-default mrgn-tp-sm" id="calculate" type="submit">Calculate</button>
	<input class="form-control hidden" id="GSTRate" data-wb-calc-value="0.05">
</form>
<section>
<h3>-----------------</h3>
<br/>
	<p><strong>GST (5%)</strong>: <span class="answer" data-wb-calc='{"rounded": "2", "eqnum": "BefOrAft", "equation": [ "#priceinput * 0.05", "(#priceinput / (1 + 0.05 + #ProvOrTerr)) * 0.05" ]}'></span></p>
 	<p><strong>PST (<span class="answer" data-wb-calc='{"rounded": "0", "equation": "#ProvOrTerr * 100"}'></span>%)</strong>: <span class="answer" data-wb-calc='{"rounded": "2", "eqnum": "BefOrAft", "equation": [ "#priceinput * #ProvOrTerr", "(#priceinput / (1 + 0.05 + #ProvOrTerr)) * #ProvOrTerr" ]}'></span></p>
	<p><strong>Total</strong>: <span class="answer" data-wb-calc='{"rounded": "2", "eqnum": "BefOrAft", "equation": [ "#priceinput * 0.05 + #priceinput * #ProvOrTerr + #priceinput", "#priceinput / (1 + 0.05 + #ProvOrTerr)" ]}'></span></p>

<!-- 	<p><strong>TEST</strong>: <span class="answer" data-wb-calc-equation="10 * ( 25 - 5 ) + #priceinput * #ProvOrTerr +" ></span></p> -->
	
	</section>
</section>