---
{
	"title": "Calculate",
	"language": "fr",
	"category": "Plugins",
	"description": "A calculator helper library for Web Experience Toolkit.",
	"tag": "calc",
	"parentdir": "calc",
	"altLangPrefix": "calc",
	"css": ["demo/calc"],
	"dateModified": "2017-06-09"
}
---
<p>A basic library for Calculating things</p>

<section>
<h2>Calculate</h2>
</section>