---
{
	"title": "Contenu par pays",
	"language": "fr",
	"category": "Plugiciels",
	"description": "Un enveloppeur de AjaxLoader qui insère de contenu télécharger via AJAX. Le contenu est basée sur l'emplacement des visiteurs comme déterminé par http://freegeoip.net",
	"tag": "country-content",
	"parentdir": "country-content",
	"altLangPrefix": "country-content",
	"dateModified": "2014-08-07"
}
---
<p>{{description}}</p>

<section class="wb-prettify all-pre">
	<h2>Remplace le contenu d'un élément selon le pays de l'utilisateur.</h2>
	<section>
		<h3>Exemple</h3>
		<div data-ctrycnt="ajax/country-content-{country}-fr.html">
			<section>
				<h4>Bonjour tout le monde</h4>
				<p>Je suis le contenu qui est affiché lorsque le pays ne peut pas être résolu ou le pays qui est retourné n'a pas de contenu supplémentaire.</p>
			</section>
		</div>
		<details>
			<summary>Visualiser le code</summary>
			<pre><code>&lt;div data-ctrycnt="ajax/country-content-{country}-fr.html"&gt;
	&lt;h4&gt;Bonjour tout le monde&lt;/h4&gt;
	&lt;p&gt;Je suis le contenu qui est affiché lorsque le pays ne peut pas être résolu ou le pays qui est retourné n'a pas de contenu supplémentaire.&lt;/p&gt;
&lt;/div&gt;</code></pre>
		</details>
	</section>
</section>

<section>
	<h2>Simuler différents pays (demo seulement)</h2>
	<p><strong>Remarque :</strong> la page doit être actualisée pour voir les changements de réinitialiser ou de modifier le code du pays. Cela aura un impact sur tous les exemples sur cette page.</p>
	<p>Remplacer le pays utilisé pour le contenu de remplacement. Essayez de régler la valeur à «&#160;us&#160;» de simuler un utilisateur ven des États-Unis ou «&#160;ca&#160;» pour le Canada.</p>

	<label for="country">S'il vous plaît entrer un code de pays à 2 caractères à remplacer la consultation</label>
	<input type="text" id="country" maxlength="2" />
	<br />
	<input class="btn btn-primary" type="button" onClick="localStorage.setItem( 'countryCode', $('#country').val() );" value="Remplacer la valeur de countryCode" />
	<input class="btn btn-primary" type="button" onClick="localStorage.removeItem( 'countryCode' );" value="Réinitialiser la valeur de countryCode" />
</section>
