---
{
	"title": "Fils de syndication",
	"language": "fr",
	"description": "Affiche les articles d’un ou plus fils de syndication.",
	"altLangPrefix": "feeds",
	"dateModified": "2014-03-20"
}
---	
<span class="wb-prettify all-pre hide"></span>

<div lang="en">
<p><strong>Needs translation</strong></p>
<section>
	<h2>Purpose</h2>
	<p>The purpose of this feature is to provides a widget for aggregating and displaying the entries from one or more Web feeds on a Web page. Supported Web feed formats are Atom, RSS, and Media RSS.</p>
</section>

<section>
	<h2>Use when</h2>
	<ul>
		<li>Promoting and sharing information from Web feeds on a Web page </li>
	</ul>
</section>

<section>
	<h2>Working example</h2>
	<ul>
		<li><a href="../../../demos/feeds/feeds-en.html">English working examples</a></li>
		<li><a href="../../../demos/feeds/feeds-fr.html">French working examples</a></li>
	</ul>
</section>

<section>
	<h2>How to implement</h2>
	<ol>
		<li>For each Web feed, create a <code>div</code> element with <code>class="wb-feeds"</code>.
			<pre><code>&lt;div class="wb-feeds"&gt;&lt;/div&gt;</code></pre>
		</li>
		<li>Inside the <code>div</code> element created in the previous step add a <code>section</code> element.</li>
		<li>Inside the <code>section</code> element add a heading (<code>h1</code> - <code>h6</code>).</li>
		<li>Add an unordered list (<code>ul</code>) after the heading with the <code>feeds-cont</code> class.</li>
		<li>For every Web feed source to display, add a list element containing a link to the feed:
			<pre><code>&lt;li&gt;
	&lt;a href="http://canada.ca/sample.atom"&gt;Sample Atom Feed&lt;/a&gt;
&lt;/li&gt;</code></pre>
		</li>
	</ol>

	<section>
		<h3>Example code</h3>
		<pre><code>&lt;section class="wb-feeds limit-5"&gt;
	&lt;h3&gt;Road News Releases and Safety Recalls&lt;/h3&gt;
	&lt;ul class="feeds-cont"&gt;
		&lt;li&gt;
			&lt;a href="http://www.tc.gc.ca/mediaroom/rss/road.xml" rel="external"&gt;Road News Releases (All)&lt;/a&gt;
		&lt;/li&gt;
		&lt;li&gt;
			&lt;a href="http://wwwapps.tc.gc.ca/Saf-Sec-Sur/7/VRDB-BDRV/Search/Rss-Search.aspx" rel="external"&gt;Road Safety Recalls&lt;/a&gt;
		&lt;/li&gt;
	&lt;/ul&gt;
&lt;/section&gt;</code></pre>
	</section>
</section>

<section>
	<h2>Configuration options</h2>
	<p>Document the public configuration options that can be used by implementers or developers.</p>
	<table class="table">
		<thead>
			<tr>
				<th>Option</th>
				<th>Description</th>
				<th>How to configure</th>
				<th>Values</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><code>limit-x</code></td>
				<td>Controls the amount of items the Web feeds widget will display.</td>
				<td>Add the <code>limit-x</code> class after the <code>wb-feeds</code> class and replace <code>x</code> with an integer.</td>
				<td>
					<dl>
						<dt><code>limit-4</code> (default):</dt>
						<dd>Limits display to four items.</dd>
					</dl>
				</td>
			</tr>
		</tbody>
	</table>
</section>

<section>
	<h2>Events</h2>
	<p>Document the public events that can be used by implementers or developers.</p>
	<table class="table">
		<thead>
			<tr>
				<th>Event</th>
				<th>Trigger</th>
				<th>What it does</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>wb-init.wb-feeds</td>
				<td>Triggered manually (e.g., <code>$elm.trigger( "wb-init.wb-feeds" );</code>).</td>
				<td>Used to manually initialize the Feeds widget. <strong>Note:</strong> The Feeds widget will be initialized automatically unless it is added after the page has already loaded.</td>
			</tr>
		</tbody>
	</table>
</section>

<section>
	<h2>Source code</h2>
	<p><a href="https://github.com/wet-boew/wet-boew/tree/v4.0/src/plugins/feeds">Feeds widget source code on GitHub</a></p>
</section>
</div>
