---
{
	"title": "Fils de syndication",
	"language": "fr",
	"category": "Plugiciels",
	"categoryfile": "plugins",
	"description": "Affiche les articles d’un ou plus fils de syndication.",
	"altLangPrefix": "feeds",
	"dateModified": "2014-11-05"
}
---
<span class="wb-prettify all-pre hide"></span>

<section>
	<h2>But</h2>
	<p>Le but de cette fonctionnalité est de permettre de regrouper et afficher les articles d'un ou plus fils de syndication sur une page Web. Les formats de fil de syndication supportés sont les formats <span lang="en">Atom</span>, <span lang="en">RSS</span>, et <span lang="en">Media RSS</span>.</p>
</section>

<section>
	<h2>Utiliser lorsque</h2>
	<ul>
		<li>Pour faire la promotion ou le partage d'informations provenant de fils de syncation sur une page Web.</li>
	</ul>
</section>

<section>
	<h2>Exemple pratique</h2>
	<ul>
		<li><a href="../../../demos/feeds/feeds-en.html">Exemple en anglais</a></li>
		<li><a href="../../../demos/feeds/feeds-fr.html">Exemple en français</a></li>
	</ul>
</section>

<section>
	<h2>Mise en œuvre</h2>
	<ol>
		<li>Pour chaque région qui affichera des fils de syndication, ajouter un élément de type <code>section</code> portant l'attribut <code>class="wb-feeds"</code>.
			<pre><code>&lt;section class="wb-feeds"&gt;&lt;/section&gt;</code></pre>
		</li>
		<li>À l'intérieur de l'élément de type <code>section</code>, ajouter un titre (<code>h1</code> - <code>h6</code>).</li>
		<li>Ajouter un liste non ordonnée (<code>ul</code>) portant l'attribut <code>class="feeds-cont"</code> après le titre.
			<ul>
				<li><strong>Fils Facebook :</strong>
					<ol>
						<li>Ajouter l'attribut <code>class="media-list"</code> à la liste non ordonnée.</li>
						<li>Ajouter le code <code>&lt;div class="clearfix"&gt;&lt;/div&gt;</code> après la liste non ordonnée.</li>
					</ol>
				</li>
				<li><strong>Fils Flickr et YouTube :</strong>
					<ol>
						<li>Ajouter l'attribut <code>class="list-inline"</code> à la liste non ordonnée.</li>
						<li>Ajouter le code <code>&lt;div class="clearfix"&gt;&lt;/div&gt;</code> après la liste non ordonnée.</li>
					</ol>
				</li>
			</ul>
		</li>
		<li>Pour chaque fil de syndication à afficher, ajouter un élément de type liste contenant un lien vers le fil de syndication.
			<ul>
				<li><strong>Fils de syndication normaux :</strong>
					<pre><code>&lt;li&gt;
	&lt;a href="http://canada.ca/sample.atom"&gt;Sample Atom Feed&lt;/a&gt;
&lt;/li&gt;</code></pre>
				</li>
				<li><strong>Fils Facebook :</strong>
					<ol>
						<li>Ajouter l'attribut <code>class="media"</code> à l'élément de type liste.</li>
						<li>Ajouter l'attribut <code>class="pull-left"</code> au lien.</li>
						<li>Ajouter une image de profil utilisateur ayant l'attribut <code>class="media-object"</code> au lien.</li>
						<li>Ajouter un élément de type section ayant l'attribute <code>class="media-body"</code> après le lien.</li>
						<li>À l'intérieur de l'élément de type section, ajouter un titre (<code>h1</code> - <code>h6</code>) ayant l'attribut <code>class="media-heading"</code>. Include le nom du compte Facebook au titre (e.g., "Parcs Canada - Facebook").</li>
						<li>Ajouter un élément de type <code>p</code> contenant la description du compte Facebook après le titre.</li>
					</ol>
					<pre><code>&lt;li class="media"&gt;
	&lt;a class="pull-left" href="https://www.facebook.com/feeds/page.php?id=137563459593611&amp;amp;format=atom10"&gt;
		&lt;img class="media-object" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash3/t1.0-1/p320x320/10245484_872682866081663_8340097330550277155_n.png" alt="Parks Canada Logo" width="64" /&gt;
	&lt;/a&gt;
	&lt;section class="media-body"&gt;
		&lt;h4 class="media-heading"&gt;&lt;a href="https://www.facebook.com/feeds/page.php?id=137563459593611&amp;amp;format=atom10" rel="external"&gt;Parks Canada - Facebook&lt;/a&gt;&lt;/h4&gt;
		&lt;p&gt;On behalf of the people of Canada, we protect and present nationally significant examples of Canada's natural and cultural heritage, and foster public understanding, appreciation and enjoyment in ways that ensure the ecological and commemorative integrity of these places for present and future generations.&lt;/p&gt;
	&lt;/section&gt;
&lt;/li&gt;</code></pre>
				</li>
				<li><strong>Fils Flickr :</strong>
					<ol>
						<li>L'attribut <code>href</code> du lien doit contenir l'URL du fil de photos du compte Flickr.</li>
						<li>Ajouter un attribut <code>data-ajax</code> contenant l'URL du fil JSON du compte Flickr au lien.</li>
					</ol>
					<pre><code>&lt;li&gt;
	&lt;a href="https://www.flickr.com/photos/environmentcan" rel="external" data-ajax="https://api.flickr.com/services/feeds/photos_public.gne?id=47711201@N05&amp;amp;format=json"&gt;Environment Canada Flickr&lt;/a&gt;
&lt;/li&gt;</code></pre>
				</li>
				<li><strong>Fils YouTube :</strong>
					<ol>
						<li>L'attribut <code>href</code> du lien doit contenir l'URL du compte YouTube.</li>
						<li>Ajouter un attribut <code>data-ajax</code> contenant l'URL du fil JSON du compte YouTube au lien.</li>
					</ol>
					<pre><code>&lt;li&gt;
	&lt;a href="https://www.youtube.com/user/ParksCanadaAgency" rel="external" data-ajax="https://gdata.youtube.com/feeds/api/users/UCzJRhTw3KVtDlcdNz33eDMQ/uploads?v=2&amp;amp;alt=json"&gt;Parks Canada Youtube&lt;/a&gt;
&lt;/li&gt;</code></pre>
				</li>
			</ul>
		</li>
		<li><strong>Optionnel :</strong> Regrouper plusieurs types de fils à l'aide d'une interface à onglets. L'avantage de cette approche est que seuls les fils visibles seront chargés (améliore grandement les performances lorsque beaucoup de fils sont présent).
			<ol>
				<li>Ajouter un élément de type <code>div</code> portant l'attribut <code>class="wb-tabs"</code>.</li>
				<li>Ajouter un élément de type <code>div</code> portant l'attribut <code>class="tabpanels"</code> à l'intérieur du premier élément de type <code>div</code>.</li>
				<li>Pour chaque groupe de fils (ils devraient être groupés par type), ajouter un élément de type <code>details</code>. Ajouter l'attribut <code>open="open"</code> au groupe de fils qui devrait être affiché par défaut.</li>
				<li>Ajouter un élément de type <code>summary</code> au début de chaque élément de type <code>details</code> contenant le nom du groupe de fils (par exemple, <code>&lt;summary&gt;Facebook&lt;/summary&gt;</code>).</li>
				<li>Ajouter les régions dans lesquelles afficher les fils de syndication aprés chaque élément de type <code>summary</code> tel que décrit aux étapes 1 à 4, à l'exception d'ajouter l'attribut <code>class="wb-inv"</code> au titre de chaque région.</li>
			</ol>
			<pre><code>&lt;section&gt;
	&lt;h3&gt;Tabbed Social Feeds&lt;/h3&gt;
	&lt;div class="wb-tabs col-md-5 wb-eqht"&gt;
		&lt;div class="tabpanels"&gt;
			&lt;details id="details-facebook" open="open"&gt;
				&lt;summary&gt;Facebook&lt;/summary&gt;
				&lt;section class="wb-feeds display-5"&gt;
					&lt;h4 class="wb-inv"&gt;Facebook&lt;/h4&gt;
					&lt;ul class="feeds-cont media-list"&gt;
						...
					&lt;/ul&gt;
					&lt;div class="clearfix"&gt;&lt;/div&gt;
				&lt;/section&gt;
			&lt;/details&gt;

			&lt;details id="details-flickr"&gt;
				&lt;summary&gt;Flickr&lt;/summary&gt;
				&lt;section class="wb-feeds display-10"&gt;
					&lt;h4 class="wb-inv"&gt;Flickr&lt;/h4&gt;
					&lt;ul class="feeds-cont list-inline"&gt;
						...
					&lt;/ul&gt;
					&lt;div class="clearfix"&gt;&lt;/div&gt;
				&lt;/section&gt;
			&lt;/details&gt;

			&lt;details id="details-youtube"&gt;
				&lt;summary&gt;YouTube&lt;/summary&gt;
				&lt;section class="wb-feeds display-10"&gt;
					&lt;h4 class="wb-inv"&gt;YouTube&lt;/h4&gt;
					&lt;ul class="feeds-cont list-inline"&gt;
						...
					&lt;/ul&gt;
					&lt;div class="clearfix"&gt;&lt;/div&gt;
				&lt;/section&gt;
			&lt;/details&gt;
		&lt;/div&gt;
	&lt;/div&gt;
	&lt;div class="clearfix"&gt;&lt;/div&gt;
&lt;/section&gt;</code></pre>
		</li>
	</ol>

	<section>
		<h3>Exemples de code</h3>
		<section>
			<h4>Fils normaux</h4>
			<pre><code>&lt;section class="wb-feeds load-10 display-5"&gt;
	&lt;h3&gt;Road News Releases and Safety Recalls&lt;/h3&gt;
	&lt;ul class="feeds-cont"&gt;
		&lt;li&gt;
			&lt;a href="http://www.tc.gc.ca/mediaroom/rss/road.xml" rel="external"&gt;Road News Releases (All)&lt;/a&gt;
		&lt;/li&gt;
		&lt;li&gt;
			&lt;a href="http://wwwapps.tc.gc.ca/Saf-Sec-Sur/7/VRDB-BDRV/search-recherche/rss.aspx?lang=eng" rel="external"&gt;Road Safety Recalls&lt;/a&gt;
		&lt;/li&gt;
	&lt;/ul&gt;
&lt;/section&gt;</code></pre>
		</section>

		<section>
			<h4>Fils Facebook</h4>
			<pre><code>&lt;section class="wb-feeds display-5"&gt;
	&lt;ul class="feeds-cont media-list"&gt;
		&lt;li class="media"&gt;
			&lt;a class="pull-left" href="https://www.facebook.com/feeds/page.php?id=318424514044&amp;amp;format=atom10"&gt;
				&lt;img class="media-object" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-frc3/t1.0-1/c17.17.207.207/430015_10151952323214045_194318965_n.png" alt="Enviroment Canada Logo" width="64" /&gt;
			&lt;/a&gt;
			&lt;section class="media-body"&gt;
				&lt;h4 class="media-heading"&gt;&lt;a href="https://www.facebook.com/feeds/page.php?id=318424514044&amp;amp;format=atom10" rel="external"&gt;Enviroment Canada - Facebook&lt;/a&gt;&lt;/h4&gt;
				&lt;p&gt;At Environment Canada our business is protecting the environment, conserving the country's natural heritage and providing weather and environmental predictions to keep Canadians informed and safe.&lt;/p&gt;
			&lt;/section&gt;
		&lt;/li&gt;
		&lt;li class="media"&gt;
			&lt;a class="pull-left" href="https://www.facebook.com/feeds/page.php?id=137563459593611&amp;amp;format=atom10"&gt;
				&lt;img class="media-object" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash3/t1.0-1/p320x320/10245484_872682866081663_8340097330550277155_n.png" alt="Parks Canada Logo" width="64" /&gt;
			&lt;/a&gt;
			&lt;section class="media-body"&gt;
				&lt;h4 class="media-heading"&gt;&lt;a href="https://www.facebook.com/feeds/page.php?id=137563459593611&amp;amp;format=atom10" rel="external"&gt;Parks Canada - Facebook&lt;/a&gt;&lt;/h4&gt;
				&lt;p&gt;On behalf of the people of Canada, we protect and present nationally significant examples of Canada's natural and cultural heritage, and foster public understanding, appreciation and enjoyment in ways that ensure the ecological and commemorative integrity of these places for present and future generations.&lt;/p&gt;
			&lt;/section&gt;
		&lt;/li&gt;
	&lt;/ul&gt;
	&lt;div class="clearfix"&gt;&lt;/div&gt;
&lt;/section&gt;</code></pre>
		</section>

		<section>
			<h4>Fils Flickr</h4>
			<pre><code>&lt;section class="wb-feeds display-15"&gt;
	&lt;ul class="feeds-cont list-inline"&gt;
		&lt;li&gt;
			&lt;a href="https://www.flickr.com/photos/environmentcan" rel="external" data-ajax="https://api.flickr.com/services/feeds/photos_public.gne?id=47711201@N05&amp;amp;format=json"&gt;Environment Canada Flickr&lt;/a&gt;
		&lt;/li&gt;
	&lt;/ul&gt;
	&lt;div class="clearfix"&gt;&lt;/div&gt;
&lt;/section&gt;</code></pre>
		</section>

		<section>
			<h4>Fils YouTube</h4>
			<pre><code>&lt;section class="wb-feeds display-15"&gt;
	&lt;ul class="feeds-cont list-inline"&gt;
		&lt;li&gt;
			&lt;a href="https://www.youtube.com/user/ParksCanadaAgency" rel="external" data-ajax="https://gdata.youtube.com/feeds/api/users/UCzJRhTw3KVtDlcdNz33eDMQ/uploads?v=2&amp;amp;alt=json"&gt;Parks Canada Youtube&lt;/a&gt;
		&lt;/li&gt;
		&lt;li&gt;
			&lt;a href="https://www.youtube.com/user/fisheriescanada?feature=results_main" rel="external" data-ajax="https://gdata.youtube.com/feeds/api/users/UC5D1a5R8bbrTXEJrjmRX7gA/uploads?v=2&amp;amp;alt=json"&gt;Department of Fisheries and Oceans’ YouTube&lt;/a&gt;
		&lt;/li&gt;
	&lt;/ul&gt;
	&lt;div class="clearfix"&gt;&lt;/div&gt;
&lt;/section&gt;</code></pre>
		</section>

		<section>
			<h4>Fils dans une interface à onglets</h4>
			<pre><code>&lt;section&gt;
	&lt;h3&gt;Tabbed Social Feeds&lt;/h3&gt;
	&lt;div class="wb-tabs col-md-5 wb-eqht"&gt;
		&lt;div class="tabpanels"&gt;
			&lt;details id="details-facebook" open="open"&gt;
				&lt;summary&gt;Facebook&lt;/summary&gt;
				&lt;section class="wb-feeds display-5"&gt;
					&lt;h4 class="wb-inv"&gt;Facebook&lt;/h4&gt;
					&lt;ul class="feeds-cont media-list"&gt;
						&lt;li class="media"&gt;
							&lt;a class="pull-left" href="https://www.facebook.com/feeds/page.php?id=318424514044&amp;amp;format=atom10"&gt;
								&lt;img class="media-object" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-frc3/t1.0-1/c17.17.207.207/430015_10151952323214045_194318965_n.png" alt="Enviroment Canada Logo" width="64" /&gt;
							&lt;/a&gt;
							&lt;section class="media-body"&gt;
								&lt;h4 class="media-heading"&gt;&lt;a href="https://www.facebook.com/feeds/page.php?id=318424514044&amp;amp;format=atom10" rel="external"&gt;Enviroment Canada - Facebook&lt;/a&gt;&lt;/h4&gt;
								&lt;p&gt;At Environment Canada our business is protecting the environment, conserving the country's natural heritage and providing weather and environmental predictions to keep Canadians informed and safe.&lt;/p&gt;
							&lt;/section&gt;
						&lt;/li&gt;
						&lt;li class="media"&gt;
							&lt;a class="pull-left" href="https://www.facebook.com/feeds/page.php?id=137563459593611&amp;amp;format=atom10"&gt;
								&lt;img class="media-object" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash3/t1.0-1/p320x320/10245484_872682866081663_8340097330550277155_n.png" alt="Parks Canada Logo" width="64" /&gt;
							&lt;/a&gt;
							&lt;section class="media-body"&gt;
								&lt;h4 class="media-heading"&gt;&lt;a href="https://www.facebook.com/feeds/page.php?id=137563459593611&amp;amp;format=atom10" rel="external"&gt;Parks Canada - Facebook&lt;/a&gt;&lt;/h4&gt;
								&lt;p&gt;On behalf of the people of Canada, we protect and present nationally significant examples of Canada's natural and cultural heritage, and foster public understanding, appreciation and enjoyment in ways that ensure the ecological and commemorative integrity of these places for present and future generations.&lt;/p&gt;
							&lt;/section&gt;
						&lt;/li&gt;
					&lt;/ul&gt;
					&lt;div class="clearfix"&gt;&lt;/div&gt;
				&lt;/section&gt;
			&lt;/details&gt;

			&lt;details id="details-flickr"&gt;
				&lt;summary&gt;Flickr&lt;/summary&gt;
				&lt;section class="wb-feeds display-10"&gt;
					&lt;h4 class="wb-inv"&gt;Flickr&lt;/h4&gt;
					&lt;ul class="feeds-cont list-inline"&gt;
						&lt;li&gt;
							&lt;a href="https://www.flickr.com/photos/environmentcan" rel="external" data-ajax="https://api.flickr.com/services/feeds/photos_public.gne?id=47711201@N05&amp;amp;format=json"&gt;Environment Canada Flickr&lt;/a&gt;
						&lt;/li&gt;
					&lt;/ul&gt;
					&lt;div class="clearfix"&gt;&lt;/div&gt;
				&lt;/section&gt;
			&lt;/details&gt;

			&lt;details id="details-youtube"&gt;
				&lt;summary&gt;YouTube&lt;/summary&gt;
				&lt;section class="wb-feeds display-10"&gt;
					&lt;h4 class="wb-inv"&gt;YouTube&lt;/h4&gt;
					&lt;ul class="feeds-cont list-inline"&gt;
						&lt;li&gt;
							&lt;a href="https://www.youtube.com/user/ParksCanadaAgency" rel="external" data-ajax="https://gdata.youtube.com/feeds/api/users/UCzJRhTw3KVtDlcdNz33eDMQ/uploads?v=2&amp;amp;alt=json"&gt;Parks Canada Youtube&lt;/a&gt;
						&lt;/li&gt;
						&lt;li&gt;
							&lt;a href="https://www.youtube.com/user/fisheriescanada?feature=results_main" rel="external" data-ajax="https://gdata.youtube.com/feeds/api/users/UC5D1a5R8bbrTXEJrjmRX7gA/uploads?v=2&amp;amp;alt=json"&gt;Department of Fisheries and Oceans’ YouTube&lt;/a&gt;
						&lt;/li&gt;
					&lt;/ul&gt;
					&lt;div class="clearfix"&gt;&lt;/div&gt;
				&lt;/section&gt;
			&lt;/details&gt;
		&lt;/div&gt;
	&lt;/div&gt;
	&lt;div class="clearfix"&gt;&lt;/div&gt;
&lt;/section&gt;</code></pre>
		</section>
	</section>
</section>

<section>
	<h2>Options de configuration</h2>
	<p>Documente les options de configuration mises à la disposition des intégrateurs et des développeurs.</p>
	<table class="table">
		<thead>
			<tr>
				<th>Option</th>
				<th>Description</th>
				<th>Comment la configurer</th>
				<th>Valeurs</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><code>load-<em>x</em></code></td>
				<td>Contrôle la quantité d'articles que le gadget des fils de syndication chargera.</td>
				<td>Ajouter la classe <code>load-<em>x</em></code> après la classe <code>wb-feeds</code> et remplacer le <code><em>x</em></code> par un nombre entier.</td>
				<td>
					<dl>
						<dt>Omis :</dt>
						<dd>Prends la même valeur que l'option <code>display-<em>x</em></code> ou, si l'option <code>display-<em>x</em></code> est omise aussi, la valeur par défaut pour le fil de syndication.</dd>
						<dt><code>load-<em>n</em></code> :</dt>
						<dd>Limite la quantité d'articles chargés du fil à <em>n</em> articles.</dd>
					</dl>
				</td>
			</tr>
			<tr>
				<td><code>display-<em>x</em></code></td>
				<td>Contrôle la quantité d'articles que le gadget des fils de syndication affichera.</td>
				<td>Ajouter la classe <code>display-<em>x</em></code> après la classe <code>wb-feeds</code> et remplacer le <code><em>x</em></code> par un nombre entier.</td>
				<td>
					<dl>
						<dt>Omis :</dt>
						<dd>Prends la même valeur que l'option <code>load-<em>x</em></code> ou, si l'option <code>load-<em>x</em></code> est omise aussi, la valeur par défaut pour le fil de syndication.</dd>
						<dt><code>display-<em>n</em></code> :</dt>
						<dd>Limite la quantité d'articles affichés à <em>n</em> articles.</dd>
					</dl>
				</td>
			</tr>
		</tbody>
	</table>
</section>

<section>
	<h2>Événements</h2>
	<p>Documente les événements mis à la disposition des intégrateurs et des développeurs.</p>
	<table class="table">
		<thead>
			<tr>
				<th>Événement</th>
				<th>Déclancheur</th>
				<th>Effet</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><code>wb-init.wb-feeds</code></td>
				<td>Déclanché manuellement (par exemple, <code>$( ".wb-feeds" ).trigger( "wb-init.wb-feeds" );</code>).</td>
				<td>Sert à initialiser manuellement le gadget des fils de syndication. <strong>Nota :</strong> Le gadget des fils de syndication sera initialisé automatiquement à moins qu'il soit ajouté à la page après que la page ait été chargée.</td>
			</tr>
			<tr>
				<td><code>wb-ready.wb-feeds</code> (v4.0.5+)</td>
				<td>Déclanché automatiquement une fois que le plugiciel des fils de syndication ait été initialisé.</td>
				<td>Sert à identifier là où le plugiciel des fils de syndication a terminé l'initialisation (cible de l'événement).
					<pre><code>$( document ).on( "wb-ready.wb-feeds", ".wb-feeds", function( event ) {
});</code></pre>
					<pre><code>$( ".wb-feeds" ).on( "wb-ready.wb-feeds", function( event ) {
});</code></pre>
				</td>
			</tr>
			<tr>
				<td><code>wb-feed-ready.wb-feeds</code> (v4.0.5+)</td>
				<td>Déclanché automatiquement une fois qu'un fil de syndication est affiché.</td>
				<td>Sert à identifier le fil qui a été affiché (cible de l'événement).
					<pre><code>$( document ).on( "wb-feed-ready.wb-feeds", ".wb-feeds .feeds-cont",  function( event ) {
});</code></pre>
					<pre><code>$( ".wb-feeds .feeds-cont" ).on( "wb-feed-ready.wb-feeds", function( event ) {
});</code></pre>
				</td>
			</tr>
			<tr>
				<td><code>wb-ready.wb</code> (v4.0.5+)</td>
				<td>Déclanché automatiquement lors que la Boîte à outils de l'expérience Web a terminé son chargement et son éxécusion.</td>
				<td>Sert à identifier le moment où tous les plugiciels et les correctifs ont terminé leur chargement et leur éxécusion.
					<pre><code>$( document ).on( "wb-ready.wb", function( event ) {
});</code></pre>
				</td>
			</tr>
		</tbody>
	</table>
</section>

<section>
	<h2>Code source</h2>
	<p><a href="https://github.com/wet-boew/wet-boew/tree/master/src/plugins/feeds">Code source du gadget des fils de syndications sur GitHub</a></p>
</section>
