---
{
	"title": "Data Ajax",
	"language": "fr",
	"category": "Plugiciels",
	"categoryfile": "plugins",
	"description": "Un enveloppeur simple pour AjaxLoader qui insère de contenu télécharger via AJAX.",
	"altLangPrefix": "data-ajax",
	"dateModified": "2014-08-04"
}
---	
<span class="wb-prettify all-pre hide"></span>

<div lang="en">
<p><strong>Needs translation</strong></p>
<section>
	<h2>Purpose</h2>
	<p>A basic AjaxLoader wrapper that inserts AJAXed-in content.</p>
</section>

<!--
<section>
	<h2>Use when</h2>
	<ul>
		<li>Use case 1</li>
		<li>Use case 2</li>
		<li>Use case 3</li>
	</ul>
</section>

<section>
	<h2>Do not use when</h2>
	<ul>
		<li>Use case 1</li>
		<li>Use case 2</li>
		<li>Use case 3</li>
	</ul>
</section>
-->

<section>
	<h2>Working example</h2>
	<ul>
		<li><a href="../../../demos/data-ajax/data-ajax-en.html">English example</a></li>
		<li><a href="../../../demos/data-ajax/data-ajax-fr.html">French example</a></li>
	</ul>
</section>

<section>
	<h2>How to implement</h2>
	<ol>
		<li>
			<p>Add one of the following data-ajax attributes to an element, with the attribute value being the URL of the content to AJAX in:</p>
			<ul>
				<li>
					<p><code>data-ajax-after</code>: Insert content after the element</p>
					<pre><code>&lt;section data-ajax-after=&quot;ajax/data-ajax-extra-en.html&quot;&gt;
	...
&lt;/section&gt;</code></pre>
				</li>
				<li>
					<p><code>data-ajax-append</code>: Insert content at the end of the element</p>
					<pre><code>&lt;section data-ajax-append=&quot;ajax/data-ajax-extra-en.html&quot;&gt;
	...
&lt;/section&gt;</code></pre>
				</li>
				<li>
					<p><code>data-ajax-before</code>: Insert content before the element</p>
					<pre><code>&lt;section data-ajax-before=&quot;ajax/data-ajax-extra-en.html&quot;&gt;
	...
&lt;/section&gt;</code></pre>
				</li>
				<li>
					<p><code>data-ajax-before</code>: Insert content at the start of the element</p>
					<pre><code>&lt;section data-ajax-prepend=&quot;ajax/data-ajax-extra-en.html&quot;&gt;
	...
&lt;/section&gt;</code></pre>
				</li>
				<li>
					<p><code>data-ajax-before</code>: Replace the element with the content</p>
					<pre><code>&lt;section data-ajax-replace=&quot;ajax/data-ajax-extra-en.html&quot;&gt;
	...
&lt;/section&gt;</code></pre>
				</li>
			</ul>
		</li>
	</ol>
</section>

<section>
	<h2>Configuration options</h2>
	<table class="table">
		<thead>
			<tr>
				<th>Option</th>
				<th>Description</th>
				<th>How to configure</th>
				<th>Values</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Overlay type</td>
				<td>Configure the origin and destination of the content to AJAX in.</td>
				<td>Add the configuration attribute to the affected element with the value being the URL of the content to AJAX in.</td>
				<td>
					<dl>
						<dt><code>data-ajax-after</code>:</dt>
						<dd>Insert the content after the element.</dd>
						<dt><code>data-ajax-append</code>:</dt>
						<dd>Insert the content at the end of the element.</dd>
						<dt><code>data-ajax-before</code>:</dt>
						<dd>Insert the content before the element.</dd>
						<dt><code>data-ajax-prepend</code>:</dt>
						<dd>Insert the content at the start of the element.</dd>
						<dt><code>data-ajax-replace</code>:</dt>
						<dd>Replace the element with the content.</dd>
					</dl>
				</td>
			</tr>
		</tbody>
	</table>
</section>

<section>
	<h2>Events</h2>
	<table class="table">
		<thead>
			<tr>
				<th>Event</th>
				<th>Trigger</th>
				<th>What it does</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><code>wb-init.wb-data-ajax</code></td>
				<td>Triggered manually (e.g., <code>$( "[data-ajax-after], [data-ajax-append], [data-ajax-before], [data-ajax-prepend], [data-ajax-replace]" ).trigger( "wb-init.wb-data-ajax" );</code>).</td>
				<td>Used to manually initialize the Data Ajax plugin. <strong>Note:</strong> The Data Ajax plugin will be initialized automatically unless the required markup is added after the page has already loaded.</td>
			</tr>
			<tr>
				<td><code>wb-ready.wb-data-ajax</code> (v4.0.5+)</td>
				<td>Triggered automatically after the content has been AJAXed in.</td>
				<td>Used to identify where content has been AJAXed in by the plugin (target of the event) and to pass along how the content was included ("after", "append", "before", "prepend" or "replace").
					<pre><code>$( document ).on( "wb-ready.wb-data-ajax", "[data-ajax-after], [data-ajax-append], [data-ajax-before], [data-ajax-prepend], [data-ajax-replace]", function( event, ajaxType ) {
});</code></pre>
					<pre><code>$( "[data-ajax-after], [data-ajax-append], [data-ajax-before], [data-ajax-prepend], [data-ajax-replace]" ).on( "wb-ready.wb-data-ajax", function( event, ajaxType ) {
});</code></pre>
				</td>
			</tr>
			<tr>
				<td><code>wb-ready.wb</code> (v4.0.5+)</td>
				<td>Triggered automatically when WET has finished loading and executing.</td>
				<td>Used to identify when all WET plugins and polyfills have finished loading and executing. 
					<pre><code>$( document ).on( "wb-ready.wb", function( event ) {
});</code></pre>
				</td>
			</tr>
		</tbody>
	</table>
</section>

<section>
	<h2>Source code</h2>
	<p><a href="https://github.com/wet-boew/wet-boew/tree/master/src/plugins/data-ajax">Data Ajax plugin source code on GitHub</a></p>
</section>
</div>
