---
{
	"title": "Filtre",
	"language": "fr",
	"category": "Plugins",
	"description": "Filtre du contenu et n'affiche que le contenu ayant un certain mot-clé.",
	"tag": "filter",
	"parentdir": "filter",
	"altLangPrefix": "filter",
	"js": ["demo/post-filter"],
	"dateModified": "2016-12-21"
}
---
<div class="wb-filter">
	<section id="enquete-a">
		<h2><span class="wb-inv">Enquêtes débutant par la lettre </span>A</h2>

		<ul class="list-unstyled">
			<li>Achats de grains fourragers</li>
			<li>Activité aéroportuaire, Enquête sur l&#39;</li>
			<li>Activités pétrolières et gazières, Relevé trimestriel des dépenses en immobilisations</li>
			<li>Approvisionnement et l&#39;écoulement du charbon, Enquête mensuelle sur l&#39;</li>
			<li>Approvisionnement et l&#39;écoulement de l&#39;électricité, Enquête mensuelle sur l&#39;</li>
		</ul>
	</section>

	<section id="enquete-b">
		<h2><span class="wb-inv">Enquêtes débutant par la lettre </span>B</h2>

		<ul class="list-unstyled">
			<li>Balance des paiements internationaux du Canada</li>
			<li>Base tarifaire, Enquête sur la</li>
			<li>Biens et services environnementaux, Enquête sur les</li>
			<li>Bilan des investissements internationaux du Canada</li>
			<li>Brevets, licences et redevances fédérales, Enquête sur les</li>
			<li>Bureaux d&#39;agents, de courtiers en immeuble, et d&#39;évaluateurs de biens immobiliers et des activités liées à l&#39;immobilier, Enquête annuelle sur les industries de services</li>
		</ul>
	</section>

	<section id="enquete-c">
		<h2><span class="wb-inv">Enquêtes débutant par la lettre </span>C</h2>

		<ul class="list-unstyled">
			<li>Canadiens au travail et à la maison, Enquête sociale générale</li>
			<li>Ciment, Enquête de</li>
			<li>Commerce de détail, Enquête annuelle sur le</li>
			<li>Commerce de détail, Enquête mensuelle sur le</li>
			<li>Commerce de détail hors magasin, Enquête annuelle sur le</li>
			<li>Commerce de détail &ndash; Organismes des grands magasins, Enquête mensuelle sur le</li>
			<li>Commerce de gros, Enquête annuelle sur le</li>
			<li>Commerce de gros, Enquête mensuelle sur le</li>
			<li>Consommation de combustibles de centrales thermiques d&#39;énergie électrique, Enquête annuelle sur la</li>
			<li>Contrôle et vente des boissons alcoolisées au Canada</li>
			<li>Cours de base sur les enquêtes</li>
			<li>Couverture de l&#39;assurance-emploi, Enquête sur la</li>
		</ul>
	</section>

	<section id="enquete-d">
		<h2><span class="wb-inv">Enquêtes débutant par la lettre </span>D</h2>

		<ul class="list-unstyled">
			<li>Demande de services dans les langues officielles, Enquête sur la</li>
			<li>Dépenses de recherche et développement énergétique par secteur de technologie</li>
			<li>Dépenses des ménages, Enquête sur les</li>
			<li>Dépenses du gouvernement fédéral au titre de l&#39;éducation, Enquête sur les (EDGFE)</li>
			<li>Dépenses en immobilisations et réparations, Enquête annuelle sur les : réelles, provisoires, perspectives (EDIR)</li>
			<li>Dépenses et main-d&#39;œuvre scientifiques fédérales, activités dans les sciences sociales et les sciences naturelles</li>
			<li>Design spécialisé, Enquête annuelle sur les industries de services</li>
			<li>Développement de logiciels et services informatiques, Enquête annuelle sur les industries de services</li>
			<li>Distribution de films cinématographiques et de vidéos, Enquête sur les industries de services</li>
			<li>Distribution du gaz naturel, Enquête mensuelle sur la</li>
			<li>Divertissement et loisirs, Enquête annuelle sur les industries de services</li>
		</ul>
	</section>

	<section id="enquete-e">
		<h2><span class="wb-inv">Enquêtes débutant par la lettre </span>E</h2>

		<ul class="list-unstyled">
			<li>Eau dans l&rsquo;agriculture, Enquête sur l&#39;</li>
			<li>Eau dans les industries, Enquête sur l&#39;</li>
			<li>Éditeurs de bases de données, de répertoires et de spécialités, Enquête annuelle sur les industries de services</li>
			<li>Éditeurs de périodiques, Enquête sur les industries de services</li>
			<li>Emploi, la rémunération et les heures de travail, Enquête sur l&#39; (EERH)</li>
			<li>Enquête canadienne sur les mesures de la santé</li>
			<li>Enquête canadienne sur la santé des enfants et des jeunes</li>
			<li>Enregistrement sonore et édition de musique, Enquête sur les industries de services</li>
			<li>Essence et autres combustibles de pétrole de vendus</li>
			<li>Estimations trimestrielles relatives aux caisses de retraite en fiducie</li>
			<li>États financiers, Relevé trimestriel des</li>
		</ul>
	</section>

	<section id="enquete-f">
		<h2><span class="wb-inv">Enquêtes débutant par la lettre </span>F</h2>

		<ul class="list-unstyled">
			<li>Fournisseurs de services de financements aux entreprises, Enquête semestrielle auprès des</li>
		</ul>
	</section>

	<section id="enquete-g">
		<h2><span class="wb-inv">Enquêtes débutant par la lettre </span>G</h2>

		<ul class="list-unstyled">
			<li>Grands détaillants, Enquête mensuelle sur les</li>
		</ul>
	</section>

	<section id="enquete-h">
		<h2><span class="wb-inv">Enquêtes débutant par la lettre </span>H</h2>

		<ul class="list-unstyled">
			<li>Homicide, Enquête sur l&#39;</li>
		</ul>
	</section>

	<section id="enquete-i">
		<h2><span class="wb-inv">Enquêtes débutant par la lettre </span>I</h2>

		<ul class="list-unstyled">
			<li>Indicateurs de service, Enquête trimestrielle sur les</li>
			<li>Indice des prix à la consommation (Prix des médicaments d&#39;ordonnance, d&#39;origine et génériques)</li>
			<li>Indices des prix de la construction d&#39;immeubles d&#39;appartements</li>
			<li>Indice des prix de la construction de bâtiments non résidentiels (IPCBNR)</li>
			<li>Indice des prix des logements neufs (IPLN)</li>
			<li>Indice des prix des services d&#39;architecture, de génie et des services connexes (IPSAGC)</li>
			<li>Indice des prix des services de comptabilité</li>
			<li>Indice des prix des services de camionnage pour compte d&#39;autrui</li>
			<li>Indice des prix des services de conseils</li>
			<li>Indice des prix des services de location et de location à bail de machines et de matériel d&#39;usage commercial et industriel</li>
			<li>Indice des prix des services de messageries et de services des messagers</li>
			<li>Indice des prix des services de transport ferroviaire de marchandises (IPSTFM)</li>
			<li>Indice des prix des services du commerce de détail (IPSCD)</li>
			<li>Indice des prix des services du commerce de gros</li>
			<li>Indice des prix des services professionnels en informatique</li>
			<li>Indices de mission canadienne à l&#39;étranger</li>
			<li>Industries manufacturières, Enquête mensuelle sur les</li>
			<li>Industries manufacturières et de l&#39;exploitation forestière, Enquête annuelle sur les (EAMEF)</li>
			<li>Information financière des collèges communautaires et des écoles de formation professionnelle</li>
			<li>Information financière des universités et collèges (IFUC)</li>
			<li>Inventaire du beurre et du fromage</li>
		</ul>
	</section>

	<section id="enquete-l">
		<h2><span class="wb-inv">Enquêtes débutant par la lettre </span>L</h2>

		<ul class="list-unstyled">
			<li>Location de biens de consommation, Enquête annuelle sur les industries de services</li>
			<li>Location et location à bail de machines et matériel d&#39;usage commercial et industriel, Enquête annuelle sur les industries de services</li>
			<li>Location et location à bail de matériel automobile, Enquête annuelle sur les industries de services</li>
			<li>Location, location à bail et gestion de biens immobiliers, Enquête sur les industries de services</li>
		</ul>
	</section>

	<section id="enquete-m">
		<h2><span class="wb-inv">Enquêtes débutant par la lettre </span>M</h2>

		<ul class="list-unstyled">
			<li>Mise à jour de la base de sondage agricole, Enquête sur la (EMJA)</li>
		</ul>
	</section>

	<section id="enquete-o">
		<h2><span class="wb-inv">Enquêtes débutant par la lettre </span>O</h2>

		<ul class="list-unstyled">
			<li>Opérations des transporteurs aériens au Canada, Enquête trimestrielle sur les</li>
			<li>Opérations internationales du Canada en valeurs mobilières</li>
			<li>Origine et destination des passagers aériens - Voyages intérieurs</li>
			<li>Origine et destination des passagers aériens, Canada - États-Unis</li>
			<li>Origine et la destination des marchandises transportées par camion</li>
		</ul>
	</section>

	<section id="enquete-p">
		<h2><span class="wb-inv">Enquêtes débutant par la lettre </span>P</h2>

		<ul class="list-unstyled">
			<li>Papier-toiture asphalté</li>
			<li>Parités de pouvoir d&#39;achat</li>
			<li>Permis de bâtir, Enquête des</li>
			<li>Population active, Enquête sur la (EPA)</li>
			<li>Postes vacants et les salaires, Enquête sur les</li>
			<li>Postproduction cinématographique, télévisuelle et vidéo, Enquête sur les industries de services</li>
			<li>Principales statistiques financières et d&#39;exploitation des grands transporteurs aériens, Enquête mensuelle sur les</li>
			<li>Production cinématographique, télévisuelle et vidéo, Enquête sur les industries de services</li>
			<li>Prix et les coûts à l&rsquo;étranger, Enquête sur les</li>
			<li>Production et écoulement des produits du tabac</li>
			<li>Production et stocks des fabriques laitières</li>
			<li>Produits pétroliers raffinés (rapport mensuel)</li>
			<li>Programme de déclaration uniforme de la criminalité</li>
			<li>Prospection, arpentage et cartographie, Enquête annuelle sur les industries de services</li>
			<li>Publicité et services connexes, Enquête annuelle sur les industries de services</li>
		</ul>
	</section>

	<section id="enquete-r">
		<h2><span class="wb-inv">Enquêtes débutant par la lettre </span>R</h2>

		<ul class="list-unstyled">
			<li>Rapport des prix des appartements en copropriété neufs (RPACN)</li>
			<li>Rapport sur les prix des exportations et des importations</li>
			<li>Recensement de l&#39;agriculture</li>
			<li>Recherche et développement dans l&#39;industrie canadienne, Enquête annuelle sur la</li>
			<li>Recherche et développement des organismes privés sans but lucratif au Canada</li>
			<li>Registre des entreprises</li>
			<li>Régimes de pension au Canada</li>
			<li>Rémunération auprès des entreprises, Enquête sur la</li>
		</ul>
	</section>

	<section id="enquete-s">
		<h2><span class="wb-inv">Enquêtes débutant par la lettre </span>S</h2>

		<ul class="list-unstyled">
			<li>Santé dans les collectivités canadiennes, Enquête sur la &ndash; composante annuelle</li>
			<li>Scieries</li>
			<li>Sécurité financière, Enquête sur la</li>
			<li>Série de rapports sur les grandes cultures</li>
			<li>Services d&#39;architecture, Enquête annuelle sur les industries de services</li>
			<li>Services d&#39;emploi, Enquête annuelle sur les industries de services</li>
			<li>Services d&#39;hébergement, Enquête annuelle sur les industries de services</li>
			<li>Services de comptabilité, Enquête annuelle sur les industries de services</li>
			<li>Services de conseils, Enquête annuelle sur les industries de services</li>
			<li>Services de génie, Enquête annuelle sur les industries de services</li>
			<li>Services de préparation de voyages, Enquête annuelle sur les industries de services</li>
			<li>Services de réparation et d&#39;entretien, Enquête annuelle sur les industries de services</li>
			<li>Services de restauration et débits de boissons, Enquête annuelle sur les industries de services</li>
			<li>Services de restauration et débits de boissons, Enquête mensuelle sur les</li>
			<li>Sièges sociaux, Enquête annuelle auprès des</li>
			<li>Société ferroviaire &ndash; Rapport annuel</li>
			<li>Sports-spectacles, promoteurs d&#39;événements, artistes et industries connexes, Enquête annuelle sur les industries de services</li>
			<li>Statistiques de finances publiques canadiennes (SFPC)</li>
			<li>Stocks commerciaux de maïs et de soya, Enquête sur les</li>
			<li>Stocks commerciaux des principales cultures spéciales, Enquête sur les</li>
			<li>Système d&#39;information sur les étudiants postsecondaires</li>
		</ul>
	</section>

	<section id="enquete-t">
		<h2><span class="wb-inv">Enquêtes débutant par la lettre </span>T</h2>

		<ul class="list-unstyled">
			<li>Télécommunications, Enquête trimestrielle des</li>
			<li>Transactions internationales de services du Canada</li>
			<li>Transport de passagers par autobus et le transport urbain, Enquête annuelle sur le</li>
			<li>Transport de passagers par autobus et le transport urbain, Enquête mensuelle sur le</li>
			<li>Transport du gaz naturel, Enquête mensuelle sur le</li>
			<li>Transport par oléoduc de pétrole brut et autres produits pétroliers liquides, Enquête mensuelle sur le</li>
		</ul>
	</section>

	<section id="enquete-v">
		<h2><span class="wb-inv">Enquêtes débutant par la lettre </span>V</h2>

		<ul class="list-unstyled">
			<li>Viandes froides et congelées, Enquête trimestrielle sur les stocks</li>
			<li>Voyages des résidents du Canada, Enquête sur les</li>
			<li>Voyages internationaux, Enquête sur les</li>
		</ul>
	</section>
</div>
