---
{
	"title": "Filter",
	"language": "en",
	"category": "Plugins",
	"description": "Filters through content and only show content that match a certain keyword.",
	"tag": "filter",
	"parentdir": "filter",
	"altLangPrefix": "filter",
	"js": ["demo/post-filter"],
	"dateModified": "2016-12-21"
}
---
<div class="wb-filter">
	<section id="survey-a">
		<h2><span class="wb-inv">Surveys starting with the letter </span>A</h2>

		<ul class="list-unstyled">
			<li>Accommodation Services, Annual Survey of Service Industries</li>
			<li>Accounting Services, Annual Survey of Service Industries</li>
			<li>Accounting Services Price Index</li>
			<li>Advertising and Related Services, Annual Survey of Service Industries</li>
			<li>Agriculture Frame Update Survey (AFUS)</li>
			<li>Agriculture Water Survey</li>
			<li>Air Carrier Operations in Canada Quarterly Survey</li>
			<li>Air Passenger Origin and Destination - Domestic Journeys</li>
			<li>Air Passenger Origin and Destination, Canada-<abbr title="United States of America">U.S.A.</abbr></li>
			<li>Airport Activity Survey</li>
			<li>Amusement and Recreation, Annual Survey of Service Industries</li>
			<li>Apartment Building Construction Price</li>
			<li>Architectural, engineering and related services price index (AESPI)</li>
			<li>Architectural Services, Annual Survey of Service Industries</li>
			<li>Asphalt Roofing</li>
			<li>Automotive Equipment Rental and Leasing, Annual Survey of Service Industries</li>
		</ul>
	</section>

	<section id="survey-b">
		<h2><span class="wb-inv">Surveys starting with the letter </span>B</h2>

		<ul class="list-unstyled">
			<li>Building Permits Survey</li>
			<li>Business Payrolls Survey</li>
			<li>Business Register</li>
		</ul>
	</section>

	<section id="survey-c">
		<h2><span class="wb-inv">Surveys starting with the letter </span>C</h2>

		<ul class="list-unstyled">
			<li>Canada's Balance of International Payments</li>
			<li>Canada's International Investment Position</li>
			<li>Canada's International Transactions in Securities</li>
			<li>Canada's International Transactions in Services</li>
			<li>Canadian Community Health Survey &ndash; Annual Component</li>
			<li>Canadian Foreign Post Indexes</li>
			<li>Canadian Government Finance Statistics (CGFS)</li>
			<li>Canadian Health Measures Survey</li>
			<li>Canadian Health Survey on Children and Youth</li>
			<li>Capital and Repair Expenditures Survey, Annual: Actual, Preliminary Actual and Intentions (CAPEX)</li>
			<li>Capital Expenditures: Oil and Gas Activities, Quarterly Survey of</li>
			<li>Cement Survey</li>
			<li>Census of Agriculture</li>
			<li>Coal Supply and Disposition Survey, Monthly</li>
			<li>Commercial and Industrial Machinery and Equipment Rental and Leasing, Annual Survey of Service Industries</li>
			<li>Commercial and Industrial Machinery and Equipment Rental and Leasing Services Price Index</li>
			<li>Commercial Stocks for Major Special Crops, Survey of</li>
			<li>Commercial Stocks of Corn and Soybeans, Survey of</li>
			<li>Consulting Services, Annual Survey of Service Industries</li>
			<li>Consulting Services Price Index</li>
			<li>Consumer Goods Rental, Annual Survey of Service Industries</li>
			<li>Consumer Price Index (Prices of Prescribed Drugs, Brand Name and Generic)</li>
			<li>Control and Sale of Alcoholic Beverages in Canada</li>
			<li>Couriers and Messengers Services Price Index</li>
		</ul>
	</section>

	<section id="survey-d">
		<h2><span class="wb-inv">Surveys starting with the letter </span>D</h2>

		<ul class="list-unstyled">
			<li>Dairy Factory Production and Stocks</li>
			<li>Database, Directory and Specialty Publishers, Annual Survey of Service Industries</li>
		</ul>
	</section>

	<section id="survey-e">
		<h2><span class="wb-inv">Surveys starting with the letter </span>E</h2>

		<ul class="list-unstyled">
			<li>Electric Power Thermal Generating Station Fuel Consumption, Annual Survey of</li>
			<li>Electricity Supply and Disposition Survey, Monthly</li>
			<li>Employment Insurance Coverage Survey</li>
			<li>Employment, Payrolls and Hours, Survey of (SEPH)</li>
			<li>Employment Services, Annual Survey of Service Industries</li>
			<li>Energy Research and Development Expenditures by Area of Technology</li>
			<li>Engineering Services, Annual Survey of Service Industries</li>
			<li>Environmental Goods and Services, Survey of</li>
			<li>Estimates of Trusteed Pension Fund, Quarterly</li>
			<li>Export Import Price Report</li>
		</ul>
	</section>

	<section id="survey-f">
		<h2><span class="wb-inv">Surveys starting with the letter </span>F</h2>

		<ul class="list-unstyled">
			<li>Fare Basis Survey</li>
			<li>Federal Government Expenditures in Support of Education (FEDEX), Survey of</li>
			<li>Federal Patents, Licences and Royalties Survey</li>
			<li>Federal Science Expenditures and Personnel, Activities in the Social Sciences and Natural Sciences</li>
			<li>Feed Grain Purchases</li>
			<li>Field Crop Reporting Series</li>
			<li>Film and Video Distribution, Survey of Service Industries</li>
			<li>Film, Television and Video Post-production, Survey of Service Industries</li>
			<li>Film, Television and Video Production, Survey of Service Industries</li>
			<li>Financial Information of Community Colleges and Vocational Schools (FINCOL)</li>
			<li>Financial Information of Universities and Colleges (FIUC)</li>
			<li>Financial Security, Survey of</li>
			<li>Financial Statements, Quarterly Survey of (QSFS)</li>
			<li>Food Services and Drinking Places, Annual Survey of Service Industries</li>
			<li>Food Services and Drinking Places, Monthly Survey of</li>
			<li>For-hire Motor Carrier Freight Services Price Index</li>
			<li>Freight Rail Services Price Index (FRSPI)</li>
			<li>Frozen and Chilled Meats, Quarterly Stocks Survey</li>
		</ul>
	</section>

	<section id="survey-g">
		<h2><span class="wb-inv">Surveys starting with the letter </span>G</h2>

		<ul class="list-unstyled">
			<li>Gasoline and Other Petroleum Fuels Sold</li>
			<li>General Social Survey &ndash; Canadians at Work and Home</li>
		</ul>
	</section>

	<section id="survey-h">
		<h2><span class="wb-inv">Surveys starting with the letter </span>H</h2>

		<ul class="list-unstyled">
			<li>Head Office Survey, Annual</li>
			<li>Homicide Survey</li>
			<li>Household Spending, Survey of (SHS)</li>
		</ul>
	</section>

	<section id="survey-i">
		<h2><span class="wb-inv">Surveys starting with the letter </span>I</h2>

		<ul class="list-unstyled">
			<li>Industrial Water Survey</li>
			<li>Informatics Professional Services Price Index</li>
			<li>International Price and Cost Survey</li>
			<li>International Travel Survey</li>
			<li>Inventory Statement of Butter and Cheese</li>
		</ul>
	</section>

	<section id="survey-j">
		<h2><span class="wb-inv">Surveys starting with the letter </span>J</h2>

		<ul class="list-unstyled">
			<li>Job Vacancy and Wage Survey</li>
		</ul>
	</section>

	<section id="survey-l">
		<h2><span class="wb-inv">Surveys starting with the letter </span>L</h2>

		<ul class="list-unstyled">
			<li>Labour Force Survey (LFS)</li>
			<li>Large Retailers, Monthly Survey of</li>
		</ul>
	</section>

	<section id="survey-m">
		<h2><span class="wb-inv">Surveys starting with the letter </span>M</h2>

		<ul class="list-unstyled">
			<li>Major Air Carriers Key Financial and Operating Statistics Monthly Survey</li>
			<li>Manufacturing, Monthly Survey of</li>
			<li>Manufacturing and Logging Industries, Annual Survey of (ASML)</li>
		</ul>
	</section>

	<section id="survey-n">
		<h2><span class="wb-inv">Surveys starting with the letter </span>N</h2>

		<ul class="list-unstyled">
			<li>Natural Gas Distribution Survey, Monthly</li>
			<li>Natural Gas Transmission Survey, Monthly</li>
			<li>New Condominium Apartment Price Report (NCAPR)</li>
			<li>New Housing Price Index (NHPI)</li>
			<li>Non-residential Building Construction Price Index (NRBCPI)</li>
		</ul>
	</section>

	<section id="survey-o">
		<h2><span class="wb-inv">Surveys starting with the letter </span>O</h2>

		<ul class="list-unstyled">
			<li>Official Languages Demand for Services Survey</li>
			<li>Oil and Other Liquid Petroleum Products Pipeline Survey, Monthly</li>
		</ul>
	</section>

	<section id="survey-p">
		<h2><span class="wb-inv">Surveys starting with the letter </span>P</h2>

		<ul class="list-unstyled">
			<li>Passenger Bus and Urban Transit Survey, Annual</li>
			<li>Passenger Bus and Urban Transit Survey, Monthly</li>
			<li>Pension Plans in Canada</li>
			<li>Periodical Publishers, Survey of Service Industries</li>
			<li>Postsecondary Student Information System</li>
			<li>Production and Disposition of Tobacco Products</li>
			<li>Purchasing Power Parities</li>
		</ul>
	</section>

	<section id="survey-r">
		<h2><span class="wb-inv">Surveys starting with the letter </span>R</h2>

		<ul class="list-unstyled">
			<li>Railway &ndash; Annual Report</li>
			<li>Real Estate Agents, Brokers, Appraisers and Other Real Estate Activities, Annual Survey of Service Industries</li>
			<li>Real Estate Rental and Leasing and Property Management, Annual Survey of Service Industries</li>
			<li>Refined Petroleum Products, Monthly</li>
			<li>Repair and Maintenance Services, Annual Survey of Service Industries</li>
			<li>Research and Development in Canadian Industry, Annual Survey of</li>
			<li>Research and Development of Canadian Private Non-Profit Organizations</li>
			<li>Retail Non-store Survey, Annual</li>
			<li>Retail Services Price Index (RSPI)</li>
			<li>Retail Trade Survey, Annual</li>
			<li>Retail Trade Survey, Monthly</li>
			<li>Retail Trade Survey (Department Store Organizations), Monthly</li>
		</ul>
	</section>

	<section id="survey-s">
		<h2><span class="wb-inv">Surveys starting with the letter </span>S</h2>

		<ul class="list-unstyled">
			<li>Sawmills</li>
			<li>Services Indicators Survey, Quarterly</li>
			<li>Software Development and Computer Services, Annual Survey of Service Industries</li>
			<li>Sound Recording and Music Publishing, Survey of Service Industries</li>
			<li>Specialized Design, Annual Survey of Service Industries</li>
			<li>Spectator Sports, Event Promoters, Artists and Related Industries, Annual Survey of Service Industries</li>
			<li>Suppliers of Business Financing, Biannual Survey of</li>
			<li>Survey Skills Development course</li>
			<li>Surveying and Mapping, Annual Survey of Service Industries</li>
		</ul>
	</section>

	<section id="survey-t">
		<h2><span class="wb-inv">Surveys starting with the letter </span>T</h2>

		<ul class="list-unstyled">
			<li>Telecommunications, Quarterly Survey of</li>
			<li>Travel Arrangement Services, Annual Survey of Service Industries</li>
			<li>Travel Survey of Residents of Canada</li>
			<li>Trucking Commodity Origin and Destination Survey</li>
		</ul>
	</section>

	<section id="survey-u">
		<h2><span class="wb-inv">Surveys starting with the letter </span>U</h2>

		<ul class="list-unstyled">
			<li>Uniform Crime Reporting Survey</li>
		</ul>
	</section>

	<section id="survey-w">
		<h2><span class="wb-inv">Surveys starting with the letter </span>W</h2>

		<ul class="list-unstyled">
			<li>Wholesale Services Price Index</li>
			<li>Wholesale Trade Survey, Annual</li>
			<li>Wholesale Trade Survey, Monthly</li>
		</ul>
	</section>
</div>
