@charset "utf-8";
/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * www.tbs.gc.ca/ws-nw/wet-boew/terms / www.sct.gc.ca/ws-nw/wet-boew/conditions
 */
@media screen{
	.ie7 #cn-cols{
            margin-bottom:-20px;
        }
        
	.ie7 .cn-minister ul{
            padding-bottom:17px;
        }
        
	.ie7 #deocrative-banner-full {
            display: inline-block !important; 
            float: left; 
            margin: 0; 
            padding: 0 10px 0 10px; 
            width: 700px;
        }
}
