---
{
	"title": "Évaluation d'accessibilité #[id] - Sujet",
	"language": "fr",
	"tag": "wamethod",
	"parentdir": "wamethod",
	"parentPage": "Méthodologie d’évaluation sur l’accessibilité des sites Web (niveau AA)",
	"parentPageURL": "wamethod-AA",
	"altLangPage": "acr-1-en.html",
	"dateModified": "2023-03-16",
	"layout": "acr-fr.hbs",
	"reportURL": "acr-1.json"
}
---

<section class="alert alert-info">
	<h2>Page d'exemple</h2>
	<p>Cette page est un exemple de rapport complet ACR (Rapport de Conformance d'Accessibilité) afin d'illustrer toutes les situations possibles et toutes les diverses variantes afin de présenter un rapport enrichi.</p>
</section>
