---
{
	"title": "Évaluation de conformance d'accessibilité #[id] - Sujet",
	"language": "fr",
	"tag": "wamethod",
	"parentdir": "wamethod",
	"parentPage": "Méthodologie d’évaluation sur l’accessibilité des sites Web (niveau AA)",
	"parentPageURL": "wamethod-AA",
	"altLangPage": "acr-initial-en.html",
	"dateModified": "2023-03-16",
	"layout": "acr-fr.hbs",
	"reportURL": "acr-initial.json"
}
---

<section class="alert alert-info">
	<h2>Page d'exemple - Gabarit de référence initial</h2>
	<p>Cette page est un gabarit de référence afin d'initier une évaluation et de procéder avec la production d'un rapport ACR (Rapport de Conformance d'Accessibilité) illustrant la conformité du sujet web évalué. Ce gabarit est pré-configuré afin d'évaluer une conformance complète pour chaque critère de mérite du WCAG 2.1 Niveau AA.</p>
</section>
