---
{
	"title": "Accessibility assessment #[id] - Topic",
	"language": "en",
	"tag": "wamethod",
	"parentdir": "wamethod",
	"parentPage": "Web Accessibility Assessment Methodology (Level AA)",
	"parentPageURL": "wamethod-AA",
	"altLangPage": "acr-1-fr.html",
	"dateModified": "2023-03-16",
	"layout": "acr-en.hbs",
	"reportURL": "acr-1.json"
}
---

<section class="alert alert-info">
	<h2>Sample page</h2>
	<p>This page is an report example of a complete ACR (Accessibility Conformance Report) report to illustrate all the possible situations and all the various possible ways to provide a rich report.</p>
</section>
