---
{
	"title": "Accessibility Responsibility Breakdown Terms and Conditions of Use",
	"language": "en",
	"parentdir": "arb-rra",
	"altLangPrefix": "arb-rra-terms",
	"dateModified": "2014-02-19"
}
---
<p>Unless otherwise noted, computer program source code of the Accessibility responsibility breakdown is covered under copyright, <span lang="fr">Coopérative AccessibilitéWeb</span>, and is distributed under the MIT License.</p>

<p>The <span lang="fr">Coopérative AccessibilitéWeb</span> logo and related graphics associated with this distribution are protected under trademark law and copyright law.</p>

<p>Copyright title to all 3rd party software distributed with the Accessibility responsibility breakdown is held by the respective copyright holders as noted in those files. Users are asked to read the 3rd Party Licenses referenced with those assets.</p>

<section>
	<h2>MIT License</h2>

	<p>Copyright (c) 2011 <span lang="en">Coopérative AccessibilitéWeb</span>.</p>

	<p>Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:</p>

	<p>The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.</p>

	<p>THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.</p>
</section>
