---
{
	"title": "Accessibility responsibility breakdown (WCAG 2.0)",
	"language": "en",
	"category": "Other",
	"description": "Provides a breakdown of WCAG 2.0 accessibility responsibilities throughout the Web production chain.",
	"tag": "arb-rra",
	"parentdir": "arb-rra",
	"altLangPrefix": "arb-rra",
	"css": ["demo/arb-rra"],
	"dateModified": "2014-04-16"
}
---
<p>The Web Content Accessibility Guidelines (WCAG) 2.0 offer sixty one (61) success criteria incorporating best practices for promoting content accessibility for persons with disabilities. These success criteria affect all phases of a Web site project. The responsibilities associated with them must be assigned to the various individuals involved to ensure the success of the content accessibility project. This is especially true in the context of conformance obligations if such obligations are in place in your organization.</p>
<section>
	<h2 id="a1">Distribution by Web function</h2>
	<p>All of the WCAG 2.0 success criteria can be found under the twelve (12) accessibility guidelines. They have been allocated to the nine (9) generally accepted links in a Web page production chain. These traditional links are:</p>
	<ol class="list-unstyled">
		<li>
			<details>
				<summary>Project management</summary>
				<div class="panel panel-default">
					<div class="panel-body">
						<p>For the purposes of this distribution, the project management function includes the tasks normally associated with production planning and the various related monitoring activities.</p>
						<p>In an accessibility context, the project manager’s responsibilities consist of ensuring optimization of the production chain by:</p>
						<ul>
							<li>Integrating the transversality concept</li>
							<li>Planning accessibility at each step</li>
							<li>Allocation of accessibility responsibilities</li>
							<li>Ensuring the technical and functional criteria</li>
							<li>Distinguishing between accessibility and conformance</li>
							<li>Being aware of the limitations of the tools</li>
							<li>Assessing the impact of technology platforms</li>
						</ul>
						<p>For more information on the factors to consider to achieve the accessibility objectives from the project leader’s perspective, consult the article "<a href="arb-rra-planAccess-en.html">Planning&#160;accessibility</a>".</p>
					</div>
				</div>
			</details>
		</li>
		<li>
			<details>
				<summary>Analysis: 9 success criteria</summary>
				<div class="panel panel-default">
					<div class="panel-body">
						<p>For the purpose of this distribution, the analysis function covers the tasks normally associated with analysis of the project’s strategic orientations, analysis of the options for technology platforms, or functional analysis of Web interfaces.</p>
					</div>
					<table class="table table-striped">
						<thead>
							<tr>
								<th scope="col">Level</th>
								<th scope="col">Criteria</th>
								<th scope="col">Detail</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>A</td>
								<td>2</td>
								<td><a href="https://www.w3.org/TR/WCAG20/#consistent-behavior-receive-focus" rel="external"><span class="wb-inv">Success Criterion </span>3.2.1</a> and <a href="https://www.w3.org/TR/WCAG20/#minimize-error-identified" rel="external"><span class="wb-inv">Success Criterion </span>3.3.1</a>.</td>
							</tr>
							<tr>
								<td>AA</td>
								<td>2</td>
								<td><a href="https://www.w3.org/TR/WCAG20/#minimize-error-suggestions" rel="external"><span class="wb-inv">Success Criterion </span>3.3.3</a> and <a href="https://www.w3.org/TR/WCAG20/#minimize-error-reversible" rel="external"><span class="wb-inv">Success Criterion </span>3.3.4</a>.</td>
							</tr>
							<tr>
								<td>AAA</td>
								<td>5</td>
								<td><a href="https://www.w3.org/TR/WCAG20/#time-limits-no-exceptions" rel="external"><span class="wb-inv">Success Criterion </span>2.2.3</a>, <a href="https://www.w3.org/TR/WCAG20/#time-limits-postponed" rel="external"><span class="wb-inv">Success Criterion </span>2.2.4</a>, <a href="https://www.w3.org/TR/WCAG20/#time-limits-server-timeout" rel="external"><span class="wb-inv">Success Criterion </span>2.2.5</a>, <a href="https://www.w3.org/TR/WCAG20/#minimize-error-context-help" rel="external"><span class="wb-inv">Success Criterion </span>3.3.5</a> and <a href="https://www.w3.org/TR/WCAG20/#minimize-error-reversible-all" rel="external"><span class="wb-inv">Success Criterion </span>3.3.6</a>.</td>
							</tr>
						</tbody>
					</table>
				</div>
			</details>
		</li>
		<li>
			<details>
				<summary>Architecture: 9 success criteria</summary>
				<div class="panel panel-default">
					<div class="panel-body">
						<p>For the purposes of this distribution, the architecture function covers the tasks normally associated with the architecture of the information (Web content) and the architecture of the data.</p>
					</div>
					<table class="table table-striped">
						<thead>
							<tr>
								<th scope="col">Level</th>
								<th scope="col">Criteria</th>
								<th scope="col">Detail</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>A</td>
								<td>2</td>
								<td><a href="https://www.w3.org/TR/WCAG20/#content-structure-separation-programmatic" rel="external"><span class="wb-inv">Success Criterion </span>1.3.1</a> and <a href="https://www.w3.org/TR/WCAG20/#navigation-mechanisms-title" rel="external"><span class="wb-inv">Success Criterion </span>2.4.2</a>.</td>
							</tr>
							<tr>
								<td>AA</td>
								<td>3</td>
								<td><a href="https://www.w3.org/TR/WCAG20/#navigation-mechanisms-mult-loc" rel="external"><span class="wb-inv">Success Criterion </span>2.4.5</a>, <a href="https://www.w3.org/TR/WCAG20/#navigation-mechanisms-descriptive" rel="external"><span class="wb-inv">Success Criterion </span>2.4.6</a> and <a href="https://www.w3.org/TR/WCAG20/#meaning-other-lang-id" rel="external"><span class="wb-inv">Success Criterion </span>3.1.2</a>.</td>
							</tr>
							<tr>
								<td>AAA</td>
								<td>4</td>
								<td><a href="https://www.w3.org/TR/WCAG20/#navigation-mechanisms-location" rel="external"><span class="wb-inv">Success Criterion </span>2.4.8</a>, <a href="https://www.w3.org/TR/WCAG20/#navigation-mechanisms-headings" rel="external"><span class="wb-inv">Success Criterion </span>2.4.10</a>, <a href="https://www.w3.org/TR/WCAG20/#meaning-idioms" rel="external"><span class="wb-inv">Success Criterion </span>3.1.3</a> and <a href="https://www.w3.org/TR/WCAG20/#meaning-located" rel="external"><span class="wb-inv">Success Criterion </span>3.1.4</a>.</td>
							</tr>
						</tbody>
					</table>
				</div>
			</details>
		</li>
		<li>
			<details>
				<summary>Interaction design: 36 success criteria</summary>
				<div class="panel panel-default">
					<div class="panel-body">
						<p>For the purpose of this distribution, the interaction design function covers the tasks normally associated with the scripting of web interfaces, planning content changes, interactivity and content other than the main content of the pages.</p>
					</div>
					<table class="table table-striped">
						<thead>
							<tr>
								<th scope="col">Level</th>
								<th scope="col">Criteria</th>
								<th scope="col">Detail</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>A</td>
								<td>15</td>
								<td><a href="https://www.w3.org/TR/WCAG20/#content-structure-separation-programmatic" rel="external"><span class="wb-inv">Success Criterion </span>1.3.1</a>, <a href="https://www.w3.org/TR/WCAG20/#content-structure-separation-understanding" rel="external"><span class="wb-inv">Success Criterion </span>1.3.3</a>, <a href="https://www.w3.org/TR/WCAG20/#visual-audio-contrast-without-color" rel="external"><span class="wb-inv">Success Criterion </span>1.4.1</a>, <a href="https://www.w3.org/TR/WCAG20/#visual-audio-contrast-dis-audio" rel="external"><span class="wb-inv">Success Criterion </span>1.4.2</a>, <a href="https://www.w3.org/TR/WCAG20/#keyboard-operation-keyboard-operable" rel="external"><span class="wb-inv">Success Criterion </span>2.1.1</a>, <a href="https://www.w3.org/TR/WCAG20/#keyboard-operation-trapping" rel="external"><span class="wb-inv">Success Criterion </span>2.1.2</a>, <a href="https://www.w3.org/TR/WCAG20/#time-limits-required-behaviors" rel="external"><span class="wb-inv">Success Criterion </span>2.2.1</a>, <a href="https://www.w3.org/TR/WCAG20/#time-limits-pause" rel="external"><span class="wb-inv">Success Criterion </span>2.2.2</a>, <a href="https://www.w3.org/TR/WCAG20/#seizure-does-not-violate" rel="external"><span class="wb-inv">Success Criterion </span>2.3.1</a>, <a href="https://www.w3.org/TR/WCAG20/#navigation-mechanisms-refs" rel="external"><span class="wb-inv">Success Criterion </span>2.4.4</a>, <a href="https://www.w3.org/TR/WCAG20/#consistent-behavior-receive-focus" rel="external"><span class="wb-inv">Success Criterion </span>3.2.1</a>, <a href="https://www.w3.org/TR/WCAG20/#consistent-behavior-unpredictable-change" rel="external"><span class="wb-inv">Success Criterion </span>3.2.2</a>, <a href="https://www.w3.org/TR/WCAG20/#minimize-error-identified" rel="external"><span class="wb-inv">Success Criterion </span>3.3.1</a>, <a href="https://www.w3.org/TR/WCAG20/#minimize-error-cues" rel="external"><span class="wb-inv">Success Criterion </span>3.3.2</a> and <a href="https://www.w3.org/TR/WCAG20/#ensure-compat-rsv" rel="external"><span class="wb-inv">Success Criterion </span>4.1.2</a>.</td>
							</tr>
							<tr>
								<td>AA</td>
								<td>7</td>
								<td><a href="https://www.w3.org/TR/WCAG20/#visual-audio-contrast-scale" rel="external"><span class="wb-inv">Success Criterion </span>1.4.4</a>, <a href="https://www.w3.org/TR/WCAG20/#navigation-mechanisms-mult-loc" rel="external"><span class="wb-inv">Success Criterion </span>2.4.5</a>, <a href="https://www.w3.org/TR/WCAG20/#navigation-mechanisms-descriptive" rel="external"><span class="wb-inv">Success Criterion </span>2.4.6</a>, <a href="https://www.w3.org/TR/WCAG20/#consistent-behavior-consistent-locations" rel="external"><span class="wb-inv">Success Criterion </span>3.2.3</a>, <a href="https://www.w3.org/TR/WCAG20/#consistent-behavior-consistent-functionality" rel="external"><span class="wb-inv">Success Criterion </span>3.2.4</a>, <a href="https://www.w3.org/TR/WCAG20/#minimize-error-suggestions" rel="external"><span class="wb-inv">Success Criterion </span>3.3.3</a> and <a href="https://www.w3.org/TR/WCAG20/#minimize-error-reversible" rel="external"><span class="wb-inv">Success Criterion </span>3.3.4</a>.</td>
							</tr>
							<tr>
								<td>AAA</td>
								<td>14</td>
								<td><a href="https://www.w3.org/TR/WCAG20/#visual-audio-contrast-noaudio" rel="external"><span class="wb-inv">Success Criterion </span>1.4.7</a>, <a href="https://www.w3.org/TR/WCAG20/#visual-audio-contrast-visual-presentation" rel="external"><span class="wb-inv">Success Criterion </span>1.4.8</a>, <a href="https://www.w3.org/TR/WCAG20/#keyboard-operation-all-funcs" rel="external"><span class="wb-inv">Success Criterion </span>2.1.3</a>, <a href="https://www.w3.org/TR/WCAG20/#time-limits-no-exceptions" rel="external"><span class="wb-inv">Success Criterion </span>2.2.3</a>, <a href="https://www.w3.org/TR/WCAG20/#time-limits-postponed" rel="external"><span class="wb-inv">Success Criterion </span>2.2.4</a>, <a href="https://www.w3.org/TR/WCAG20/#time-limits-server-timeout" rel="external"><span class="wb-inv">Success Criterion </span>2.2.5</a>, <a href="https://www.w3.org/TR/WCAG20/#seizure-three-times" rel="external"><span class="wb-inv">Success Criterion </span>2.3.2</a>, <a href="https://www.w3.org/TR/WCAG20/#navigation-mechanisms-location" rel="external"><span class="wb-inv">Success Criterion </span>2.4.8</a>, <a href="https://www.w3.org/TR/WCAG20/#navigation-mechanisms-link" rel="external"><span class="wb-inv">Success Criterion </span>2.4.9</a>, <a href="https://www.w3.org/TR/WCAG20/#meaning-idioms" rel="external"><span class="wb-inv">Success Criterion </span>3.1.3</a>, <a href="https://www.w3.org/TR/WCAG20/#meaning-supplements" rel="external"><span class="wb-inv">Success Criterion </span>3.1.5</a>, <a href="https://www.w3.org/TR/WCAG20/#consistent-behavior-no-extreme-changes-context" rel="external"><span class="wb-inv">Success Criterion </span>3.2.5</a>, <a href="https://www.w3.org/TR/WCAG20/#minimize-error-context-help" rel="external"><span class="wb-inv">Success Criterion </span>3.3.5</a> and <a href="https://www.w3.org/TR/WCAG20/#minimize-error-reversible-all" rel="external"><span class="wb-inv">Success Criterion </span>3.3.6</a>.</td>
							</tr>
						</tbody>
					</table>
				</div>
			</details>
		</li>
		<li>
			<details>
				<summary>Graphic design: 32 success criteria</summary>
				<div class="panel panel-default">
					<div class="panel-body">
						<p>For the purposes of this distribution, the graphic design function covers the tasks normally associated with the graphic design of interfaces, the related graphic declinations, the specific design of navigation elements, changes in context and content other than the main content of the pages.</p>
					</div>
					<table class="table table-striped">
						<thead>
							<tr>
								<th scope="col">Level</th>
								<th scope="col">Criteria</th>
								<th scope="col">Detail</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>A</td>
								<td>12</td>
								<td><a href="https://www.w3.org/TR/WCAG20/#content-structure-separation-programmatic" rel="external"><span class="wb-inv">Success Criterion </span>1.3.1</a>, <a href="https://www.w3.org/TR/WCAG20/#content-structure-separation-understanding" rel="external"><span class="wb-inv">Success Criterion </span>1.3.3</a>, <a href="https://www.w3.org/TR/WCAG20/#visual-audio-contrast-without-color" rel="external"><span class="wb-inv">Success Criterion </span>1.4.1</a>, <a href="https://www.w3.org/TR/WCAG20/#visual-audio-contrast-dis-audio" rel="external"><span class="wb-inv">Success Criterion </span>1.4.2</a>, <a href="https://www.w3.org/TR/WCAG20/#keyboard-operation-keyboard-operable" rel="external"><span class="wb-inv">Success Criterion </span>2.1.1</a>, <a href="https://www.w3.org/TR/WCAG20/#keyboard-operation-trapping" rel="external"><span class="wb-inv">Success Criterion </span>2.1.2</a>, <a href="https://www.w3.org/TR/WCAG20/#time-limits-pause" rel="external"><span class="wb-inv">Success Criterion </span>2.2.2</a>, <a href="https://www.w3.org/TR/WCAG20/#seizure-does-not-violate" rel="external"><span class="wb-inv">Success Criterion </span>2.3.1</a>, <a href="https://www.w3.org/TR/WCAG20/#navigation-mechanisms-skip" rel="external"><span class="wb-inv">Success Criterion </span>2.4.1</a>, <a href="https://www.w3.org/TR/WCAG20/#consistent-behavior-receive-focus" rel="external"><span class="wb-inv">Success Criterion </span>3.2.1</a>, <a href="https://www.w3.org/TR/WCAG20/#minimize-error-identified" rel="external"><span class="wb-inv">Success Criterion </span>3.3.1</a> and <a href="https://www.w3.org/TR/WCAG20/#minimize-error-cues" rel="external"><span class="wb-inv">Success Criterion </span>3.3.2</a>.</td>
							</tr>
							<tr>
								<td>AA</td>
								<td>9</td>
								<td><a href="https://www.w3.org/TR/WCAG20/#visual-audio-contrast-contrast" rel="external"><span class="wb-inv">Success Criterion </span>1.4.3</a>, <a href="https://www.w3.org/TR/WCAG20/#visual-audio-contrast-scale" rel="external"><span class="wb-inv">Success Criterion </span>1.4.4</a>, <a href="https://www.w3.org/TR/WCAG20/#visual-audio-contrast-text-presentation" rel="external"><span class="wb-inv">Success Criterion </span>1.4.5</a>, <a href="https://www.w3.org/TR/WCAG20/#navigation-mechanisms-mult-loc" rel="external"><span class="wb-inv">Success Criterion </span>2.4.5</a>, <a href="https://www.w3.org/TR/WCAG20/#navigation-mechanisms-descriptive" rel="external"><span class="wb-inv">Success Criterion </span>2.4.6</a>, <a href="https://www.w3.org/TR/WCAG20/#navigation-mechanisms-focus-visible" rel="external"><span class="wb-inv">Success Criterion </span>2.4.7</a>, <a href="https://www.w3.org/TR/WCAG20/#consistent-behavior-consistent-locations" rel="external"><span class="wb-inv">Success Criterion </span>3.2.3</a>, <a href="https://www.w3.org/TR/WCAG20/#consistent-behavior-consistent-functionality" rel="external"><span class="wb-inv">Success Criterion </span>3.2.4</a> and <a href="https://www.w3.org/TR/WCAG20/#minimize-error-suggestions" rel="external"><span class="wb-inv">Success Criterion </span>3.3.3</a>.</td>
							</tr>
							<tr>
								<td>AAA</td>
								<td>11</td>
								<td><a href="https://www.w3.org/TR/WCAG20/#visual-audio-contrast7" rel="external"><span class="wb-inv">Success Criterion </span>1.4.6</a>, <a href="https://www.w3.org/TR/WCAG20/#visual-audio-contrast-noaudio" rel="external"><span class="wb-inv">Success Criterion </span>1.4.7</a>, <a href="https://www.w3.org/TR/WCAG20/#visual-audio-contrast-visual-presentation" rel="external"><span class="wb-inv">Success Criterion </span>1.4.8</a>, <a href="https://www.w3.org/TR/WCAG20/#visual-audio-contrast-text-images" rel="external"><span class="wb-inv">Success Criterion </span>1.4.9</a>, <a href="https://www.w3.org/TR/WCAG20/#time-limits-no-exceptions" rel="external"><span class="wb-inv">Success Criterion </span>2.2.3</a>, <a href="https://www.w3.org/TR/WCAG20/#time-limits-postponed" rel="external"><span class="wb-inv">Success Criterion </span>2.2.4</a>, <a href="https://www.w3.org/TR/WCAG20/#seizure-three-times" rel="external"><span class="wb-inv">Success Criterion </span>2.3.2</a>, <a href="https://www.w3.org/TR/WCAG20/#navigation-mechanisms-location" rel="external"><span class="wb-inv">Success Criterion </span>2.4.8</a>, <a href="https://www.w3.org/TR/WCAG20/#consistent-behavior-no-extreme-changes-context" rel="external"><span class="wb-inv">Success Criterion </span>3.2.5</a>, <a href="https://www.w3.org/TR/WCAG20/#minimize-error-context-help" rel="external"><span class="wb-inv">Success Criterion </span>3.3.5</a> and <a href="https://www.w3.org/TR/WCAG20/#minimize-error-reversible-all" rel="external"><span class="wb-inv">Success Criterion </span>3.3.6</a>.</td>
							</tr>
						</tbody>
					</table>
				</div>
			</details>
		</li>
		<li>
			<details>
				<summary>Prototyping: 25 success criteria</summary>
				<div class="panel panel-default">
					<div class="panel-body">
						<p>For the purposes of this distribution, the prototyping function covers the tasks normally associated with the production of Web site templates (HTML and CSS).</p>
					</div>
					<table class="table table-striped">
						<thead>
							<tr>
								<th scope="col">Level</th>
								<th scope="col">Criteria</th>
								<th scope="col">Detail</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>A</td>
								<td>12</td>
								<td><a href="https://www.w3.org/TR/WCAG20/#text-equiv-all" rel="external"><span class="wb-inv">Success Criterion </span>1.1.1</a>, <a href="https://www.w3.org/TR/WCAG20/#content-structure-separation-programmatic" rel="external"><span class="wb-inv">Success Criterion </span>1.3.1</a>, <a href="https://www.w3.org/TR/WCAG20/#content-structure-separation-sequence" rel="external"><span class="wb-inv">Success Criterion </span>1.3.2</a>, <a href="https://www.w3.org/TR/WCAG20/#keyboard-operation-keyboard-operable" rel="external"><span class="wb-inv">Success Criterion </span>2.1.1</a>, <a href="https://www.w3.org/TR/WCAG20/#keyboard-operation-trapping" rel="external"><span class="wb-inv">Success Criterion </span>2.1.2</a>, <a href="https://www.w3.org/TR/WCAG20/#navigation-mechanisms-skip" rel="external"><span class="wb-inv">Success Criterion </span>2.4.1</a>, <a href="https://www.w3.org/TR/WCAG20/#navigation-mechanisms-title" rel="external"><span class="wb-inv">Success Criterion </span>2.4.2</a>, <a href="https://www.w3.org/TR/WCAG20/#navigation-mechanisms-focus-order" rel="external"><span class="wb-inv">Success Criterion </span>2.4.3</a>, <a href="https://www.w3.org/TR/WCAG20/#meaning-doc-lang-id" rel="external"><span class="wb-inv">Success Criterion </span>3.1.1</a>, <a href="https://www.w3.org/TR/WCAG20/#minimize-error-cues" rel="external"><span class="wb-inv">Success Criterion </span>3.3.2</a>, <a href="https://www.w3.org/TR/WCAG20/#ensure-compat-parses" rel="external"><span class="wb-inv">Success Criterion </span>4.1.1</a> and <a href="https://www.w3.org/TR/WCAG20/#ensure-compat-rsv" rel="external"><span class="wb-inv">Success Criterion </span>4.1.2</a>.</td>
							</tr>
							<tr>
								<td>AA</td>
								<td>7</td>
								<td><a href="https://www.w3.org/TR/WCAG20/#visual-audio-contrast-contrast" rel="external"><span class="wb-inv">Success Criterion </span>1.4.3</a>, <a href="https://www.w3.org/TR/WCAG20/#visual-audio-contrast-scale" rel="external"><span class="wb-inv">Success Criterion </span>1.4.4</a>, <a href="https://www.w3.org/TR/WCAG20/#visual-audio-contrast-text-presentation" rel="external"><span class="wb-inv">Success Criterion </span>1.4.5</a>, <a href="https://www.w3.org/TR/WCAG20/#navigation-mechanisms-mult-loc" rel="external"><span class="wb-inv">Success Criterion </span>2.4.5</a>, <a href="https://www.w3.org/TR/WCAG20/#navigation-mechanisms-descriptive" rel="external"><span class="wb-inv">Success Criterion </span>2.4.6</a>, <a href="https://www.w3.org/TR/WCAG20/#navigation-mechanisms-focus-visible" rel="external"><span class="wb-inv">Success Criterion </span>2.4.7</a> and <a href="https://www.w3.org/TR/WCAG20/#consistent-behavior-consistent-functionality" rel="external"><span class="wb-inv">Success Criterion </span>3.2.4</a>.</td>
							</tr>
							<tr>
								<td>AAA</td>
								<td>6</td>
								<td><a href="https://www.w3.org/TR/WCAG20/#visual-audio-contrast7" rel="external"><span class="wb-inv">Success Criterion </span>1.4.6</a>, <a href="https://www.w3.org/TR/WCAG20/#keyboard-operation-all-funcs" rel="external"><span class="wb-inv">Success Criterion </span>2.1.3</a>, <a href="https://www.w3.org/TR/WCAG20/#navigation-mechanisms-location" rel="external"><span class="wb-inv">Success Criterion </span>2.4.8</a>, <a href="https://www.w3.org/TR/WCAG20/#navigation-mechanisms-headings" rel="external"><span class="wb-inv">Success Criterion </span>2.4.10</a>, <a href="https://www.w3.org/TR/WCAG20/#meaning-idioms" rel="external"><span class="wb-inv">Success Criterion </span>3.1.3</a> and <a href="https://www.w3.org/TR/WCAG20/#consistent-behavior-no-extreme-changes-context" rel="external"><span class="wb-inv">Success Criterion </span>3.2.5</a>.</td>
							</tr>
						</tbody>
					</table>
				</div>
			</details>
		</li>
		<li>
			<details>
				<summary>Editing: 21 success criteria</summary>
				<div class="panel panel-default">
					<div class="panel-body">
						<p>For the purposes of this distribution, the editing function covers the tasks normally associated with producing the site’s text content, equivalent alternative content, and content other than the main content of the pages.</p>
					</div>
					<table class="table table-striped">
						<thead>
							<tr>
								<th scope="col">Level</th>
								<th scope="col">Criteria</th>
								<th scope="col">Detail</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>A</td>
								<td>11</td>
								<td><a href="https://www.w3.org/TR/WCAG20/#text-equiv-all" rel="external"><span class="wb-inv">Success Criterion </span>1.1.1</a>, <a href="https://www.w3.org/TR/WCAG20/#media-equiv-av-only-alt" rel="external"><span class="wb-inv">Success Criterion </span>1.2.1</a>, <a href="https://www.w3.org/TR/WCAG20/#media-equiv-captions" rel="external"><span class="wb-inv">Success Criterion </span>1.2.2</a>, <a href="https://www.w3.org/TR/WCAG20/#media-equiv-audio-desc" rel="external"><span class="wb-inv">Success Criterion </span>1.2.3</a>, <a href="https://www.w3.org/TR/WCAG20/#content-structure-separation-programmatic" rel="external"><span class="wb-inv">Success Criterion </span>1.3.1</a>, <a href="https://www.w3.org/TR/WCAG20/#content-structure-separation-understanding" rel="external"><span class="wb-inv">Success Criterion </span>1.3.3</a>, <a href="https://www.w3.org/TR/WCAG20/#keyboard-operation-keyboard-operable" rel="external"><span class="wb-inv">Success Criterion </span>2.1.1</a>, <a href="https://www.w3.org/TR/WCAG20/#keyboard-operation-trapping" rel="external"><span class="wb-inv">Success Criterion </span>2.1.2</a>, <a href="https://www.w3.org/TR/WCAG20/#navigation-mechanisms-title" rel="external"><span class="wb-inv">Success Criterion </span>2.4.2</a>, <a href="https://www.w3.org/TR/WCAG20/#navigation-mechanisms-refs" rel="external"><span class="wb-inv">Success Criterion </span>2.4.4</a> and <a href="https://www.w3.org/TR/WCAG20/#minimize-error-identified" rel="external"><span class="wb-inv">Success Criterion </span>3.3.1</a>.</td>
							</tr>
							<tr>
								<td>AA</td>
								<td>3</td>
								<td><a href="https://www.w3.org/TR/WCAG20/#media-equiv-audio-desc-only" rel="external"><span class="wb-inv">Success Criterion </span>1.2.5</a>, <a href="https://www.w3.org/TR/WCAG20/#navigation-mechanisms-descriptive" rel="external"><span class="wb-inv">Success Criterion </span>2.4.6</a> and <a href="https://www.w3.org/TR/WCAG20/#meaning-other-lang-id" rel="external"><span class="wb-inv">Success Criterion </span>3.1.2</a>.</td>
							</tr>
							<tr>
								<td>AAA</td>
								<td>7</td>
								<td><a href="https://www.w3.org/TR/WCAG20/#media-equiv-extended-ad" rel="external"><span class="wb-inv">Success Criterion </span>1.2.7</a>, <a href="https://www.w3.org/TR/WCAG20/#media-equiv-text-doc" rel="external"><span class="wb-inv">Success Criterion </span>1.2.8</a>, <a href="https://www.w3.org/TR/WCAG20/#navigation-mechanisms-link" rel="external"><span class="wb-inv">Success Criterion </span>2.4.9</a>, <a href="https://www.w3.org/TR/WCAG20/#meaning-idioms" rel="external"><span class="wb-inv">Success Criterion </span>3.1.3</a>, <a href="https://www.w3.org/TR/WCAG20/#meaning-located" rel="external"><span class="wb-inv">Success Criterion </span>3.1.4</a>, <a href="https://www.w3.org/TR/WCAG20/#meaning-supplements" rel="external"><span class="wb-inv">Success Criterion </span>3.1.5</a> and <a href="https://www.w3.org/TR/WCAG20/#meaning-pronunciation" rel="external"><span class="wb-inv">Success Criterion </span>3.1.6</a>.</td>
							</tr>
						</tbody>
					</table>
				</div>
			</details>
		</li>
		<li>
			<details>
				<summary>Development: 59 success criteria</summary>
				<div class="panel panel-default">
					<div class="panel-body">
						<p>For the purposes of this distribution, the development function covers the tasks normally associated with the development of contribution tools, HTML and CSS integration, and the programming of proposed scripts and applications on the Web site.</p>
					</div>
					<table class="table table-striped">
						<thead>
							<tr>
								<th scope="col">Level</th>
								<th scope="col">Criteria</th>
								<th scope="col">Detail</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>A</td>
								<td>24</td>
								<td><a href="https://www.w3.org/TR/WCAG20/#text-equiv-all" rel="external"><span class="wb-inv">Success Criterion </span>1.1.1</a>, <a href="https://www.w3.org/TR/WCAG20/#media-equiv-av-only-alt" rel="external"><span class="wb-inv">Success Criterion </span>1.2.1</a>, <a href="https://www.w3.org/TR/WCAG20/#media-equiv-captions" rel="external"><span class="wb-inv">Success Criterion </span>1.2.2</a>, <a href="https://www.w3.org/TR/WCAG20/#media-equiv-audio-desc" rel="external"><span class="wb-inv">Success Criterion </span>1.2.3</a>, <a href="https://www.w3.org/TR/WCAG20/#media-equiv-real-time-captions" rel="external"><span class="wb-inv">Success Criterion </span>1.2.4</a>, <a href="https://www.w3.org/TR/WCAG20/#media-equiv-audio-desc-only" rel="external"><span class="wb-inv">Success Criterion </span>1.2.5</a>, <a href="https://www.w3.org/TR/WCAG20/#media-equiv-sign" rel="external"><span class="wb-inv">Success Criterion </span>1.2.6</a>, <a href="https://www.w3.org/TR/WCAG20/#media-equiv-extended-ad" rel="external"><span class="wb-inv">Success Criterion </span>1.2.7</a>, <a href="https://www.w3.org/TR/WCAG20/#media-equiv-text-doc" rel="external"><span class="wb-inv">Success Criterion </span>1.2.8</a>, <a href="https://www.w3.org/TR/WCAG20/#media-equiv-live-audio-only" rel="external"><span class="wb-inv">Success Criterion </span>1.2.9</a>, <a href="https://www.w3.org/TR/WCAG20/#content-structure-separation-programmatic" rel="external"><span class="wb-inv">Success Criterion </span>1.3.1</a>, <a href="https://www.w3.org/TR/WCAG20/#content-structure-separation-sequence" rel="external"><span class="wb-inv">Success Criterion </span>1.3.2</a>, <a href="https://www.w3.org/TR/WCAG20/#content-structure-separation-understanding" rel="external"><span class="wb-inv">Success Criterion </span>1.3.3</a>, <a href="https://www.w3.org/TR/WCAG20/#visual-audio-contrast-dis-audio" rel="external"><span class="wb-inv">Success Criterion </span>1.4.2</a>, <a href="https://www.w3.org/TR/WCAG20/#visual-audio-contrast-contrast" rel="external"><span class="wb-inv">Success Criterion </span>1.4.3</a>, <a href="https://www.w3.org/TR/WCAG20/#visual-audio-contrast-scale" rel="external"><span class="wb-inv">Success Criterion </span>1.4.4</a>, <a href="https://www.w3.org/TR/WCAG20/#visual-audio-contrast-text-presentation" rel="external"><span class="wb-inv">Success Criterion </span>1.4.5</a>, <a href="https://www.w3.org/TR/WCAG20/#visual-audio-contrast7" rel="external"><span class="wb-inv">Success Criterion </span>1.4.6</a>, <a href="https://www.w3.org/TR/WCAG20/#visual-audio-contrast-noaudio" rel="external"><span class="wb-inv">Success Criterion </span>1.4.7</a>, <a href="https://www.w3.org/TR/WCAG20/#visual-audio-contrast-visual-presentation" rel="external"><span class="wb-inv">Success Criterion </span>1.4.8</a>, <a href="https://www.w3.org/TR/WCAG20/#visual-audio-contrast-text-images" rel="external"><span class="wb-inv">Success Criterion </span>1.4.9</a>, <a href="https://www.w3.org/TR/WCAG20/#keyboard-operation-keyboard-operable" rel="external"><span class="wb-inv">Success Criterion </span>2.1.1</a>, <a href="https://www.w3.org/TR/WCAG20/#keyboard-operation-trapping" rel="external"><span class="wb-inv">Success Criterion </span>2.1.2</a> and <a href="https://www.w3.org/TR/WCAG20/#keyboard-operation-all-funcs" rel="external"><span class="wb-inv">Success Criterion </span>2.1.3</a>.</td>
							</tr>
							<tr>
								<td>AA</td>
								<td>13</td>
								<td><a href="https://www.w3.org/TR/WCAG20/#time-limits-required-behaviors" rel="external"><span class="wb-inv">Success Criterion </span>2.2.1</a>, <a href="https://www.w3.org/TR/WCAG20/#time-limits-pause" rel="external"><span class="wb-inv">Success Criterion </span>2.2.2</a>, <a href="https://www.w3.org/TR/WCAG20/#time-limits-no-exceptions" rel="external"><span class="wb-inv">Success Criterion </span>2.2.3</a>, <a href="https://www.w3.org/TR/WCAG20/#time-limits-postponed" rel="external"><span class="wb-inv">Success Criterion </span>2.2.4</a>, <a href="https://www.w3.org/TR/WCAG20/#time-limits-server-timeout" rel="external"><span class="wb-inv">Success Criterion </span>2.2.5</a>, <a href="https://www.w3.org/TR/WCAG20/#seizure-does-not-violate" rel="external"><span class="wb-inv">Success Criterion </span>2.3.1</a>, <a href="https://www.w3.org/TR/WCAG20/#seizure-three-times" rel="external"><span class="wb-inv">Success Criterion </span>2.3.2</a>, <a href="https://www.w3.org/TR/WCAG20/#navigation-mechanisms-skip" rel="external"><span class="wb-inv">Success Criterion </span>2.4.1</a>, <a href="https://www.w3.org/TR/WCAG20/#navigation-mechanisms-title" rel="external"><span class="wb-inv">Success Criterion </span>2.4.2</a>, <a href="https://www.w3.org/TR/WCAG20/#navigation-mechanisms-focus-order" rel="external"><span class="wb-inv">Success Criterion </span>2.4.3</a>, <a href="https://www.w3.org/TR/WCAG20/#navigation-mechanisms-refs" rel="external"><span class="wb-inv">Success Criterion </span>2.4.4</a>, <a href="https://www.w3.org/TR/WCAG20/#navigation-mechanisms-mult-loc" rel="external"><span class="wb-inv">Success Criterion </span>2.4.5</a> and <a href="https://www.w3.org/TR/WCAG20/#navigation-mechanisms-descriptive" rel="external"><span class="wb-inv">Success Criterion </span>2.4.6</a>.</td>
							</tr>
							<tr>
								<td>AAA</td>
								<td>22</td>
								<td><a href="https://www.w3.org/TR/WCAG20/#navigation-mechanisms-focus-visible" rel="external"><span class="wb-inv">Success Criterion </span>2.4.7</a>, <a href="https://www.w3.org/TR/WCAG20/#navigation-mechanisms-location" rel="external"><span class="wb-inv">Success Criterion </span>2.4.8</a>, <a href="https://www.w3.org/TR/WCAG20/#navigation-mechanisms-link" rel="external"><span class="wb-inv">Success Criterion </span>2.4.9</a>, <a href="https://www.w3.org/TR/WCAG20/#navigation-mechanisms-headings" rel="external"><span class="wb-inv">Success Criterion </span>2.4.10</a>, <a href="https://www.w3.org/TR/WCAG20/#meaning-doc-lang-id" rel="external"><span class="wb-inv">Success Criterion </span>3.1.1</a>, <a href="https://www.w3.org/TR/WCAG20/#meaning-other-lang-id" rel="external"><span class="wb-inv">Success Criterion </span>3.1.2</a>, <a href="https://www.w3.org/TR/WCAG20/#meaning-idioms" rel="external"><span class="wb-inv">Success Criterion </span>3.1.3</a>, <a href="https://www.w3.org/TR/WCAG20/#meaning-located" rel="external"><span class="wb-inv">Success Criterion </span>3.1.4</a>, <a href="https://www.w3.org/TR/WCAG20/#meaning-pronunciation" rel="external"><span class="wb-inv">Success Criterion </span>3.1.6</a>, <a href="https://www.w3.org/TR/WCAG20/#consistent-behavior-receive-focus" rel="external"><span class="wb-inv">Success Criterion </span>3.2.1</a>, <a href="https://www.w3.org/TR/WCAG20/#consistent-behavior-unpredictable-change" rel="external"><span class="wb-inv">Success Criterion </span>3.2.2</a>, <a href="https://www.w3.org/TR/WCAG20/#consistent-behavior-consistent-locations" rel="external"><span class="wb-inv">Success Criterion </span>3.2.3</a>, <a href="https://www.w3.org/TR/WCAG20/#consistent-behavior-consistent-functionality" rel="external"><span class="wb-inv">Success Criterion </span>3.2.4</a>, <a href="https://www.w3.org/TR/WCAG20/#consistent-behavior-no-extreme-changes-context" rel="external"><span class="wb-inv">Success Criterion </span>3.2.5</a>, <a href="https://www.w3.org/TR/WCAG20/#minimize-error-identified" rel="external"><span class="wb-inv">Success Criterion </span>3.3.1</a>, <a href="https://www.w3.org/TR/WCAG20/#minimize-error-cues" rel="external"><span class="wb-inv">Success Criterion </span>3.3.2</a>, <a href="https://www.w3.org/TR/WCAG20/#minimize-error-suggestions" rel="external"><span class="wb-inv">Success Criterion </span>3.3.3</a>, <a href="https://www.w3.org/TR/WCAG20/#minimize-error-reversible" rel="external"><span class="wb-inv">Success Criterion </span>3.3.4</a>, <a href="https://www.w3.org/TR/WCAG20/#minimize-error-context-help" rel="external"><span class="wb-inv">Success Criterion </span>3.3.5</a>, <a href="https://www.w3.org/TR/WCAG20/#minimize-error-reversible-all" rel="external"><span class="wb-inv">Success Criterion </span>3.3.6</a>, <a href="https://www.w3.org/TR/WCAG20/#ensure-compat-parses" rel="external"><span class="wb-inv">Success Criterion </span>4.1.1</a> and <a href="https://www.w3.org/TR/WCAG20/#ensure-compat-rsv" rel="external"><span class="wb-inv">Success Criterion </span>4.1.2</a>.</td>
							</tr>
						</tbody>
					</table>
				</div>
			</details>
		</li>
		<li>
			<details>
				<summary>Quality control: 61 success criteria</summary>
				<div class="panel panel-default">
					<div class="panel-body">
						<p>For the purpose of this distribution, the quality control function covers the tasks normally associated with verifications at the end of the project.</p>
					</div>
					<table class="table table-striped">
						<thead>
							<tr>
								<th scope="col">Level</th>
								<th scope="col">Criteria</th>
								<th scope="col">Detail</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>A</td>
								<td>25</td>
								<td><a href="https://www.w3.org/TR/WCAG20/#text-equiv-all" rel="external"><span class="wb-inv">Success Criterion </span>1.1.1</a>, <a href="https://www.w3.org/TR/WCAG20/#media-equiv-av-only-alt" rel="external"><span class="wb-inv">Success Criterion </span>1.2.1</a>, <a href="https://www.w3.org/TR/WCAG20/#media-equiv-captions" rel="external"><span class="wb-inv">Success Criterion </span>1.2.2</a>, <a href="https://www.w3.org/TR/WCAG20/#media-equiv-audio-desc" rel="external"><span class="wb-inv">Success Criterion </span>1.2.3</a>, <a href="https://www.w3.org/TR/WCAG20/#media-equiv-real-time-captions" rel="external"><span class="wb-inv">Success Criterion </span>1.2.4</a>, <a href="https://www.w3.org/TR/WCAG20/#media-equiv-audio-desc-only" rel="external"><span class="wb-inv">Success Criterion </span>1.2.5</a>, <a href="https://www.w3.org/TR/WCAG20/#media-equiv-sign" rel="external"><span class="wb-inv">Success Criterion </span>1.2.6</a>, <a href="https://www.w3.org/TR/WCAG20/#media-equiv-extended-ad" rel="external"><span class="wb-inv">Success Criterion </span>1.2.7</a>, <a href="https://www.w3.org/TR/WCAG20/#media-equiv-text-doc" rel="external"><span class="wb-inv">Success Criterion </span>1.2.8</a>, <a href="https://www.w3.org/TR/WCAG20/#media-equiv-live-audio-only" rel="external"><span class="wb-inv">Success Criterion </span>1.2.9</a>, <a href="https://www.w3.org/TR/WCAG20/#content-structure-separation-programmatic" rel="external"><span class="wb-inv">Success Criterion </span>1.3.1</a>, <a href="https://www.w3.org/TR/WCAG20/#content-structure-separation-sequence" rel="external"><span class="wb-inv">Success Criterion </span>1.3.2</a>, <a href="https://www.w3.org/TR/WCAG20/#content-structure-separation-understanding" rel="external"><span class="wb-inv">Success Criterion </span>1.3.3</a>, <a href="https://www.w3.org/TR/WCAG20/#visual-audio-contrast-without-color" rel="external"><span class="wb-inv">Success Criterion </span>1.4.1</a>, <a href="https://www.w3.org/TR/WCAG20/#visual-audio-contrast-dis-audio" rel="external"><span class="wb-inv">Success Criterion </span>1.4.2</a>, <a href="https://www.w3.org/TR/WCAG20/#visual-audio-contrast-contrast" rel="external"><span class="wb-inv">Success Criterion </span>1.4.3</a>, <a href="https://www.w3.org/TR/WCAG20/#visual-audio-contrast-scale" rel="external"><span class="wb-inv">Success Criterion </span>1.4.4</a>, <a href="https://www.w3.org/TR/WCAG20/#visual-audio-contrast-text-presentation" rel="external"><span class="wb-inv">Success Criterion </span>1.4.5</a>, <a href="https://www.w3.org/TR/WCAG20/#visual-audio-contrast7" rel="external"><span class="wb-inv">Success Criterion </span>1.4.6</a>, <a href="https://www.w3.org/TR/WCAG20/#visual-audio-contrast-noaudio" rel="external"><span class="wb-inv">Success Criterion </span>1.4.7</a>, <a href="https://www.w3.org/TR/WCAG20/#visual-audio-contrast-visual-presentation" rel="external"><span class="wb-inv">Success Criterion </span>1.4.8</a>, <a href="https://www.w3.org/TR/WCAG20/#visual-audio-contrast-text-images" rel="external"><span class="wb-inv">Success Criterion </span>1.4.9</a>, <a href="https://www.w3.org/TR/WCAG20/#keyboard-operation-keyboard-operable" rel="external"><span class="wb-inv">Success Criterion </span>2.1.1</a>, <a href="https://www.w3.org/TR/WCAG20/#keyboard-operation-trapping" rel="external"><span class="wb-inv">Success Criterion </span>2.1.2</a> and <a href="https://www.w3.org/TR/WCAG20/#keyboard-operation-all-funcs" rel="external"><span class="wb-inv">Success Criterion </span>2.1.3</a>.</td>
							</tr>
							<tr>
								<td>AA</td>
								<td>13</td>
								<td><a href="https://www.w3.org/TR/WCAG20/#time-limits-required-behaviors" rel="external"><span class="wb-inv">Success Criterion </span>2.2.1</a>, <a href="https://www.w3.org/TR/WCAG20/#time-limits-pause" rel="external"><span class="wb-inv">Success Criterion </span>2.2.2</a>, <a href="https://www.w3.org/TR/WCAG20/#time-limits-no-exceptions" rel="external"><span class="wb-inv">Success Criterion </span>2.2.3</a>, <a href="https://www.w3.org/TR/WCAG20/#time-limits-postponed" rel="external"><span class="wb-inv">Success Criterion </span>2.2.4</a>, <a href="https://www.w3.org/TR/WCAG20/#time-limits-server-timeout" rel="external"><span class="wb-inv">Success Criterion </span>2.2.5</a>, <a href="https://www.w3.org/TR/WCAG20/#seizure-does-not-violate" rel="external"><span class="wb-inv">Success Criterion </span>2.3.1</a>, <a href="https://www.w3.org/TR/WCAG20/#seizure-three-times" rel="external"><span class="wb-inv">Success Criterion </span>2.3.2</a>, <a href="https://www.w3.org/TR/WCAG20/#navigation-mechanisms-skip" rel="external"><span class="wb-inv">Success Criterion </span>2.4.1</a>, <a href="https://www.w3.org/TR/WCAG20/#navigation-mechanisms-title" rel="external"><span class="wb-inv">Success Criterion </span>2.4.2</a>, <a href="https://www.w3.org/TR/WCAG20/#navigation-mechanisms-focus-order" rel="external"><span class="wb-inv">Success Criterion </span>2.4.3</a>, <a href="https://www.w3.org/TR/WCAG20/#navigation-mechanisms-refs" rel="external"><span class="wb-inv">Success Criterion </span>2.4.4</a>, <a href="https://www.w3.org/TR/WCAG20/#navigation-mechanisms-mult-loc" rel="external"><span class="wb-inv">Success Criterion </span>2.4.5</a> and <a href="https://www.w3.org/TR/WCAG20/#navigation-mechanisms-descriptive" rel="external"><span class="wb-inv">Success Criterion </span>2.4.6</a>.</td>
							</tr>
							<tr>
								<td>AAA</td>
								<td>23</td>
								<td><a href="https://www.w3.org/TR/WCAG20/#navigation-mechanisms-focus-visible" rel="external"><span class="wb-inv">Success Criterion </span>2.4.7</a>, <a href="https://www.w3.org/TR/WCAG20/#navigation-mechanisms-location" rel="external"><span class="wb-inv">Success Criterion </span>2.4.8</a>, <a href="https://www.w3.org/TR/WCAG20/#navigation-mechanisms-link" rel="external"><span class="wb-inv">Success Criterion </span>2.4.9</a>, <a href="https://www.w3.org/TR/WCAG20/#navigation-mechanisms-headings" rel="external"><span class="wb-inv">Success Criterion </span>2.4.10</a>, <a href="https://www.w3.org/TR/WCAG20/#meaning-doc-lang-id" rel="external"><span class="wb-inv">Success Criterion </span>3.1.1</a>, <a href="https://www.w3.org/TR/WCAG20/#meaning-other-lang-id" rel="external"><span class="wb-inv">Success Criterion </span>3.1.2</a>, <a href="https://www.w3.org/TR/WCAG20/#meaning-idioms" rel="external"><span class="wb-inv">Success Criterion </span>3.1.3</a>, <a href="https://www.w3.org/TR/WCAG20/#meaning-located" rel="external"><span class="wb-inv">Success Criterion </span>3.1.4</a>, <a href="https://www.w3.org/TR/WCAG20/#meaning-supplements" rel="external"><span class="wb-inv">Success Criterion </span>3.1.5</a>, <a href="https://www.w3.org/TR/WCAG20/#meaning-pronunciation" rel="external"><span class="wb-inv">Success Criterion </span>3.1.6</a>, <a href="https://www.w3.org/TR/WCAG20/#consistent-behavior-receive-focus" rel="external"><span class="wb-inv">Success Criterion </span>3.2.1</a>, <a href="https://www.w3.org/TR/WCAG20/#consistent-behavior-unpredictable-change" rel="external"><span class="wb-inv">Success Criterion </span>3.2.2</a>, <a href="https://www.w3.org/TR/WCAG20/#consistent-behavior-consistent-locations" rel="external"><span class="wb-inv">Success Criterion </span>3.2.3</a>, <a href="https://www.w3.org/TR/WCAG20/#consistent-behavior-consistent-functionality" rel="external"><span class="wb-inv">Success Criterion </span>3.2.4</a>, <a href="https://www.w3.org/TR/WCAG20/#consistent-behavior-no-extreme-changes-context" rel="external"><span class="wb-inv">Success Criterion </span>3.2.5</a>, <a href="https://www.w3.org/TR/WCAG20/#minimize-error-identified" rel="external"><span class="wb-inv">Success Criterion </span>3.3.1</a>, <a href="https://www.w3.org/TR/WCAG20/#minimize-error-cues" rel="external"><span class="wb-inv">Success Criterion </span>3.3.2</a>, <a href="https://www.w3.org/TR/WCAG20/#minimize-error-suggestions" rel="external"><span class="wb-inv">Success Criterion </span>3.3.3</a>, <a href="https://www.w3.org/TR/WCAG20/#minimize-error-reversible" rel="external"><span class="wb-inv">Success Criterion </span>3.3.4</a>, <a href="https://www.w3.org/TR/WCAG20/#minimize-error-context-help" rel="external"><span class="wb-inv">Success Criterion </span>3.3.5</a>, <a href="https://www.w3.org/TR/WCAG20/#minimize-error-reversible-all" rel="external"><span class="wb-inv">Success Criterion </span>3.3.6</a>, <a href="https://www.w3.org/TR/WCAG20/#ensure-compat-parses" rel="external"><span class="wb-inv">Success Criterion </span>4.1.1</a> and <a href="https://www.w3.org/TR/WCAG20/#ensure-compat-rsv" rel="external"><span class="wb-inv">Success Criterion </span>4.1.2</a>.</td>
							</tr>
						</tbody>
					</table>
				</div>
			</details>
		</li>
	</ol>
</section>

<section>
	<div class="table-responsive">
		<h2 id="a2">Summary table of WCAG 2.0 distribution across production chain phase</h2>
		<table id="tsrw" class="wb-tables table table-striped table-hover" data-wet-boew='{"aLengthMenu": [[10, 25, -1], [10, 25, "All"]], "iDisplayLength": -1}'>
			<thead>
				<tr>
					<th scope="col">Success criteria</th>
					<th scope="col">Level</th>
					<th scope="col">Analysis</th>
					<th scope="col">Architecture</th>
					<th scope="col">Interaction design</th>
					<th scope="col">Graphic design</th>
					<th scope="col">Prototyping</th>
					<th scope="col">Editing</th>
					<th scope="col">Development</th>
					<th scope="col">Quality control</th>
				</tr>
			</thead>
			<tbody>
				<tr id="a-wcag2-111">
					<td><a class="wcagsc" href="https://www.w3.org/TR/WCAG20/#text-equiv-all" rel="external">1.1.1</a></td>
					<td>A</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td>X</td>
					<td>X</td>
					<td>X</td>
					<td>X</td>
				</tr>
				<tr id="a-wcag2-121">
					<td><a class="wcagsc" href="https://www.w3.org/TR/WCAG20/#media-equiv-av-only-alt" rel="external">1.2.1</a></td>
					<td>A</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td>X</td>
					<td>X</td>
					<td>X</td>
				</tr>
				<tr id="a-wcag2-122">
					<td><a class="wcagsc" href="https://www.w3.org/TR/WCAG20/#media-equiv-captions" rel="external">1.2.2</a></td>
					<td>A</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td>X</td>
					<td>X</td>
					<td>X</td>
				</tr>
				<tr id="a-wcag2-123">
					<td><a class="wcagsc" href="https://www.w3.org/TR/WCAG20/#media-equiv-audio-desc" rel="external">1.2.3</a></td>
					<td>A</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td>X</td>
					<td>X</td>
					<td>X</td>
				</tr>
				<tr id="aa-wcag2-124">
					<td><a class="wcagsc" href="https://www.w3.org/TR/WCAG20/#media-equiv-real-time-captions" rel="external">1.2.4</a></td>
					<td>AA</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td>X</td>
					<td>X</td>
				</tr>
				<tr id="aa-wcag2-125">
					<td><a class="wcagsc" href="https://www.w3.org/TR/WCAG20/#media-equiv-audio-desc-only" rel="external">1.2.5</a></td>
					<td>AA</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td>X</td>
					<td>X</td>
					<td>X</td>
				</tr>
				<tr id="aaa-wcag2-126">
					<td><a class="wcagsc" href="https://www.w3.org/TR/WCAG20/#media-equiv-sign" rel="external">1.2.6</a></td>
					<td>AAA</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td>X</td>
					<td>X</td>
				</tr>
				<tr id="aaa-wcag2-127">
					<td><a class="wcagsc" href="https://www.w3.org/TR/WCAG20/#media-equiv-extended-ad" rel="external">1.2.7</a></td>
					<td>AAA</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td>X</td>
					<td>X</td>
					<td>X</td>
				</tr>
				<tr id="aaa-wcag2-128">
					<td><a class="wcagsc" href="https://www.w3.org/TR/WCAG20/#media-equiv-text-doc" rel="external">1.2.8</a></td>
					<td>AAA</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td>X</td>
					<td>X</td>
					<td>X</td>
				</tr>
				<tr id="aaa-wcag2-129">
					<td><a class="wcagsc" href="https://www.w3.org/TR/WCAG20/#media-equiv-live-audio-only" rel="external">1.2.9</a></td>
					<td>AAA</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td>X</td>
					<td>X</td>
				</tr>
				<tr id="a-wcag2-131">
					<td><a class="wcagsc" href="https://www.w3.org/TR/WCAG20/#content-structure-separation-programmatic" rel="external">1.3.1</a></td>
					<td>A</td>
					<td></td>
					<td>X</td>
					<td>X</td>
					<td>X</td>
					<td>X</td>
					<td>X</td>
					<td>X</td>
					<td>X</td>
				</tr>
				<tr id="a-wcag2-132">
					<td><a class="wcagsc" href="https://www.w3.org/TR/WCAG20/#content-structure-separation-sequence" rel="external">1.3.2</a></td>
					<td>A</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td>X</td>
					<td></td>
					<td>X</td>
					<td>X</td>
				</tr>
				<tr id="a-wcag2-133">
					<td><a class="wcagsc" href="https://www.w3.org/TR/WCAG20/#content-structure-separation-understanding" rel="external">1.3.3</a></td>
					<td>A</td>
					<td></td>
					<td></td>
					<td>X</td>
					<td>X</td>
					<td></td>
					<td>X</td>
					<td>X</td>
					<td>X</td>
				</tr>
				<tr id="a-wcag2-141">
					<td><a class="wcagsc" href="https://www.w3.org/TR/WCAG20/#visual-audio-contrast-without-color" rel="external">1.4.1</a></td>
					<td>A</td>
					<td></td>
					<td></td>
					<td>X</td>
					<td>X</td>
					<td></td>
					<td></td>
					<td></td>
					<td>X</td>
				</tr>
				<tr id="a-wcag2-142">
					<td><a class="wcagsc" href="https://www.w3.org/TR/WCAG20/#visual-audio-contrast-dis-audio" rel="external">1.4.2</a></td>
					<td>A</td>
					<td></td>
					<td></td>
					<td>X</td>
					<td>X</td>
					<td></td>
					<td></td>
					<td>X</td>
					<td>X</td>
				</tr>
				<tr id="aa-wcag2-143">
					<td><a class="wcagsc" href="https://www.w3.org/TR/WCAG20/#visual-audio-contrast-contrast" rel="external">1.4.3</a></td>
					<td>AA</td>
					<td></td>
					<td></td>
					<td></td>
					<td>X</td>
					<td>X</td>
					<td></td>
					<td>X</td>
					<td>X</td>
				</tr>
				<tr id="aa-wcag2-144">
					<td><a class="wcagsc" href="https://www.w3.org/TR/WCAG20/#visual-audio-contrast-scale" rel="external">1.4.4</a></td>
					<td>AA</td>
					<td></td>
					<td></td>
					<td>X</td>
					<td>X</td>
					<td>X</td>
					<td></td>
					<td>X</td>
					<td>X</td>
				</tr>
				<tr id="aa-wcag2-145">
					<td><a class="wcagsc" href="https://www.w3.org/TR/WCAG20/#visual-audio-contrast-text-presentation" rel="external">1.4.5</a></td>
					<td>AA</td>
					<td></td>
					<td></td>
					<td></td>
					<td>X</td>
					<td>X</td>
					<td></td>
					<td>X</td>
					<td>X</td>
				</tr>
				<tr id="aaa-wcag2-146">
					<td><a class="wcagsc" href="https://www.w3.org/TR/WCAG20/#visual-audio-contrast7" rel="external">1.4.6</a></td>
					<td>AAA</td>
					<td></td>
					<td></td>
					<td></td>
					<td>X</td>
					<td>X</td>
					<td></td>
					<td>X</td>
					<td>X</td>
				</tr>
				<tr id="aaa-wcag2-147">
					<td><a class="wcagsc" href="https://www.w3.org/TR/WCAG20/#visual-audio-contrast-noaudio" rel="external">1.4.7</a></td>
					<td>AAA</td>
					<td></td>
					<td></td>
					<td>X</td>
					<td>X</td>
					<td></td>
					<td></td>
					<td>X</td>
					<td>X</td>
				</tr>
				<tr id="aaa-wcag2-148">
					<td><a class="wcagsc" href="https://www.w3.org/TR/WCAG20/#visual-audio-contrast-visual-presentation" rel="external">1.4.8</a></td>
					<td>AAA</td>
					<td></td>
					<td></td>
					<td>X</td>
					<td>X</td>
					<td></td>
					<td></td>
					<td>X</td>
					<td>X</td>
				</tr>
				<tr id="aaa-wcag2-149">
					<td><a class="wcagsc" href="https://www.w3.org/TR/WCAG20/#visual-audio-contrast-text-images" rel="external">1.4.9</a></td>
					<td>AAA</td>
					<td></td>
					<td></td>
					<td></td>
					<td>X</td>
					<td></td>
					<td></td>
					<td>X</td>
					<td>X</td>
				</tr>
				<tr id="a-wcag2-211">
					<td><a class="wcagsc" href="https://www.w3.org/TR/WCAG20/#keyboard-operation-keyboard-operable" rel="external">2.1.1</a></td>
					<td>A</td>
					<td></td>
					<td></td>
					<td>X</td>
					<td>X</td>
					<td>X</td>
					<td>X</td>
					<td>X</td>
					<td>X</td>
				</tr>
				<tr id="a-wcag2-212">
					<td><a class="wcagsc" href="https://www.w3.org/TR/WCAG20/#keyboard-operation-trapping" rel="external">2.1.2</a></td>
					<td>A</td>
					<td></td>
					<td></td>
					<td>X</td>
					<td>X</td>
					<td>X</td>
					<td>X</td>
					<td>X</td>
					<td>X</td>
				</tr>
				<tr id="aaa-wcag2-213">
					<td><a class="wcagsc" href="https://www.w3.org/TR/WCAG20/#keyboard-operation-all-funcs" rel="external">2.1.3</a></td>
					<td>AAA</td>
					<td></td>
					<td></td>
					<td>X</td>
					<td></td>
					<td>X</td>
					<td></td>
					<td>X</td>
					<td>X</td>
				</tr>
				<tr id="a-wcag2-221">
					<td><a class="wcagsc" href="https://www.w3.org/TR/WCAG20/#time-limits-required-behaviors" rel="external">2.2.1</a></td>
					<td>A</td>
					<td></td>
					<td></td>
					<td>X</td>
					<td></td>
					<td></td>
					<td></td>
					<td>X</td>
					<td>X</td>
				</tr>
				<tr id="a-wcag2-222">
					<td><a class="wcagsc" href="https://www.w3.org/TR/WCAG20/#time-limits-pause" rel="external">2.2.2</a></td>
					<td>A</td>
					<td></td>
					<td></td>
					<td>X</td>
					<td>X</td>
					<td></td>
					<td></td>
					<td>X</td>
					<td>X</td>
				</tr>
				<tr id="aaa-wcag2-223">
					<td><a class="wcagsc" href="https://www.w3.org/TR/WCAG20/#time-limits-no-exceptions" rel="external">2.2.3</a></td>
					<td>AAA</td>
					<td>X</td>
					<td></td>
					<td>X</td>
					<td>X</td>
					<td></td>
					<td></td>
					<td>X</td>
					<td>X</td>
				</tr>
				<tr id="aaa-wcag2-224">
					<td><a class="wcagsc" href="https://www.w3.org/TR/WCAG20/#time-limits-postponed" rel="external">2.2.4</a></td>
					<td>AAA</td>
					<td>X</td>
					<td></td>
					<td>X</td>
					<td>X</td>
					<td></td>
					<td></td>
					<td>X</td>
					<td>X</td>
				</tr>
				<tr id="aaa-wcag2-225">
					<td><a class="wcagsc" href="https://www.w3.org/TR/WCAG20/#time-limits-server-timeout" rel="external">2.2.5</a></td>
					<td>AAA</td>
					<td>X</td>
					<td></td>
					<td>X</td>
					<td></td>
					<td></td>
					<td></td>
					<td>X</td>
					<td>X</td>
				</tr>
				<tr id="a-wcag2-231">
					<td><a class="wcagsc" href="https://www.w3.org/TR/WCAG20/#seizure-does-not-violate" rel="external">2.3.1</a></td>
					<td>A</td>
					<td></td>
					<td></td>
					<td>X</td>
					<td>X</td>
					<td></td>
					<td></td>
					<td>X</td>
					<td>X</td>
				</tr>
				<tr id="aaa-wcag2-232">
					<td><a class="wcagsc" href="https://www.w3.org/TR/WCAG20/#seizure-three-times" rel="external">2.3.2</a></td>
					<td>AAA</td>
					<td></td>
					<td></td>
					<td>X</td>
					<td>X</td>
					<td></td>
					<td></td>
					<td>X</td>
					<td>X</td>
				</tr>
				<tr id="a-wcag2-241">
					<td><a class="wcagsc" href="https://www.w3.org/TR/WCAG20/#navigation-mechanisms-skip" rel="external">2.4.1</a></td>
					<td>A</td>
					<td></td>
					<td></td>
					<td></td>
					<td>X</td>
					<td>X</td>
					<td></td>
					<td>X</td>
					<td>X</td>
				</tr>
				<tr id="a-wcag2-242">
					<td><a class="wcagsc" href="https://www.w3.org/TR/WCAG20/#navigation-mechanisms-title" rel="external">2.4.2</a></td>
					<td>A</td>
					<td></td>
					<td>X</td>
					<td></td>
					<td></td>
					<td>X</td>
					<td>X</td>
					<td>X</td>
					<td>X</td>
				</tr>
				<tr id="a-wcag2-243">
					<td><a class="wcagsc" href="https://www.w3.org/TR/WCAG20/#navigation-mechanisms-focus-order" rel="external">2.4.3</a></td>
					<td>A</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td>X</td>
					<td></td>
					<td>X</td>
					<td>X</td>
				</tr>
				<tr id="a-wcag2-244">
					<td><a class="wcagsc" href="https://www.w3.org/TR/WCAG20/#navigation-mechanisms-refs" rel="external">2.4.4</a></td>
					<td>A</td>
					<td></td>
					<td></td>
					<td>X</td>
					<td></td>
					<td></td>
					<td>X</td>
					<td>X</td>
					<td>X</td>
				</tr>
				<tr id="aa-wcag2-245">
					<td><a class="wcagsc" href="https://www.w3.org/TR/WCAG20/#navigation-mechanisms-mult-loc" rel="external">2.4.5</a></td>
					<td>AA</td>
					<td></td>
					<td>X</td>
					<td>X</td>
					<td>X</td>
					<td>X</td>
					<td></td>
					<td>X</td>
					<td>X</td>
				</tr>
				<tr id="aa-wcag2-246">
					<td><a class="wcagsc" href="https://www.w3.org/TR/WCAG20/#navigation-mechanisms-descriptive" rel="external">2.4.6</a></td>
					<td>AA</td>
					<td></td>
					<td>X</td>
					<td>X</td>
					<td>X</td>
					<td>X</td>
					<td>X</td>
					<td>X</td>
					<td>X</td>
				</tr>
				<tr id="aa-wcag2-247">
					<td><a class="wcagsc" href="https://www.w3.org/TR/WCAG20/#navigation-mechanisms-focus-visible" rel="external">2.4.7</a></td>
					<td>AA</td>
					<td></td>
					<td></td>
					<td></td>
					<td>X</td>
					<td>X</td>
					<td></td>
					<td>X</td>
					<td>X</td>
				</tr>
				<tr id="aaa-wcag2-248">
					<td><a class="wcagsc" href="https://www.w3.org/TR/WCAG20/#navigation-mechanisms-location" rel="external">2.4.8</a></td>
					<td>AAA</td>
					<td></td>
					<td>X</td>
					<td>X</td>
					<td>X</td>
					<td>X</td>
					<td></td>
					<td>X</td>
					<td>X</td>
				</tr>
				<tr id="aaa-wcag2-249">
					<td><a class="wcagsc" href="https://www.w3.org/TR/WCAG20/#navigation-mechanisms-link" rel="external">2.4.9</a></td>
					<td>AAA</td>
					<td></td>
					<td></td>
					<td>X</td>
					<td></td>
					<td></td>
					<td>X</td>
					<td>X</td>
					<td>X</td>
				</tr>
				<tr id="aaa-wcag2-2410">
					<td><a class="wcagsc" href="https://www.w3.org/TR/WCAG20/#navigation-mechanisms-headings" rel="external">2.4.10</a></td>
					<td>AAA</td>
					<td></td>
					<td>X</td>
					<td></td>
					<td></td>
					<td>X</td>
					<td></td>
					<td>X</td>
					<td>X</td>
				</tr>
				<tr id="a-wcag2-311">
					<td><a class="wcagsc" href="https://www.w3.org/TR/WCAG20/#meaning-doc-lang-id" rel="external">3.1.1</a></td>
					<td>A</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td>X</td>
					<td></td>
					<td>X</td>
					<td>X</td>
				</tr>
				<tr id="aa-wcag2-312">
					<td><a class="wcagsc" href="https://www.w3.org/TR/WCAG20/#meaning-other-lang-id" rel="external">3.1.2</a></td>
					<td>AA</td>
					<td></td>
					<td>X</td>
					<td></td>
					<td></td>
					<td></td>
					<td>X</td>
					<td>X</td>
					<td>X</td>
				</tr>
				<tr id="aaa-wcag2-313">
					<td><a class="wcagsc" href="https://www.w3.org/TR/WCAG20/#meaning-idioms" rel="external">3.1.3</a></td>
					<td>AAA</td>
					<td></td>
					<td>X</td>
					<td>X</td>
					<td></td>
					<td>X</td>
					<td>X</td>
					<td>X</td>
					<td>X</td>
				</tr>
				<tr id="aaa-wcag2-314">
					<td><a class="wcagsc" href="https://www.w3.org/TR/WCAG20/#meaning-located" rel="external">3.1.4</a></td>
					<td>AAA</td>
					<td></td>
					<td>X</td>
					<td></td>
					<td></td>
					<td></td>
					<td>X</td>
					<td>X</td>
					<td>X</td>
				</tr>
				<tr id="aaa-wcag2-315">
					<td><a class="wcagsc" href="https://www.w3.org/TR/WCAG20/#meaning-supplements" rel="external">3.1.5</a></td>
					<td>AAA</td>
					<td></td>
					<td></td>
					<td>X</td>
					<td></td>
					<td></td>
					<td>X</td>
					<td></td>
					<td>X</td>
				</tr>
				<tr id="aaa-wcag2-316">
					<td><a class="wcagsc" href="https://www.w3.org/TR/WCAG20/#meaning-pronunciation" rel="external">3.1.6</a></td>
					<td>AAA</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td>X</td>
					<td>X</td>
					<td>X</td>
				</tr>
				<tr id="a-wcag2-321">
					<td><a class="wcagsc" href="https://www.w3.org/TR/WCAG20/#consistent-behavior-receive-focus" rel="external">3.2.1</a></td>
					<td>A</td>
					<td>X</td>
					<td></td>
					<td>X</td>
					<td>X</td>
					<td></td>
					<td></td>
					<td>X</td>
					<td>X</td>
				</tr>
				<tr id="a-wcag2-322">
					<td><a class="wcagsc" href="https://www.w3.org/TR/WCAG20/#consistent-behavior-unpredictable-change" rel="external">3.2.2</a></td>
					<td>A</td>
					<td></td>
					<td></td>
					<td>X</td>
					<td></td>
					<td></td>
					<td></td>
					<td>X</td>
					<td>X</td>
				</tr>
				<tr id="aa-wcag2-323">
					<td><a class="wcagsc" href="https://www.w3.org/TR/WCAG20/#consistent-behavior-consistent-locations" rel="external">3.2.3</a></td>
					<td>AA</td>
					<td></td>
					<td></td>
					<td>X</td>
					<td>X</td>
					<td></td>
					<td></td>
					<td>X</td>
					<td>X</td>
				</tr>
				<tr id="aa-wcag2-324">
					<td><a class="wcagsc" href="https://www.w3.org/TR/WCAG20/#consistent-behavior-consistent-functionality" rel="external">3.2.4</a></td>
					<td>AA</td>
					<td></td>
					<td></td>
					<td>X</td>
					<td>X</td>
					<td>X</td>
					<td></td>
					<td>X</td>
					<td>X</td>
				</tr>
				<tr id="aaa-wcag2-325">
					<td><a class="wcagsc" href="https://www.w3.org/TR/WCAG20/#consistent-behavior-no-extreme-changes-context" rel="external">3.2.5</a></td>
					<td>AAA</td>
					<td></td>
					<td></td>
					<td>X</td>
					<td>X</td>
					<td>X</td>
					<td></td>
					<td>X</td>
					<td>X</td>
				</tr>
				<tr id="a-wcag2-331">
					<td><a class="wcagsc" href="https://www.w3.org/TR/WCAG20/#minimize-error-identified" rel="external">3.3.1</a></td>
					<td>A</td>
					<td>X</td>
					<td></td>
					<td>X</td>
					<td>X</td>
					<td></td>
					<td>X</td>
					<td>X</td>
					<td>X</td>
				</tr>
				<tr id="a-wcag2-332">
					<td><a class="wcagsc" href="https://www.w3.org/TR/WCAG20/#minimize-error-cues" rel="external">3.3.2</a></td>
					<td>A</td>
					<td></td>
					<td></td>
					<td>X</td>
					<td>X</td>
					<td>X</td>
					<td></td>
					<td>X</td>
					<td>X</td>
				</tr>
				<tr id="aa-wcag2-333">
					<td><a class="wcagsc" href="https://www.w3.org/TR/WCAG20/#minimize-error-suggestions" rel="external">3.3.3</a></td>
					<td>AA</td>
					<td>X</td>
					<td></td>
					<td>X</td>
					<td>X</td>
					<td></td>
					<td></td>
					<td>X</td>
					<td>X</td>
				</tr>
				<tr id="aa-wcag2-334">
					<td><a class="wcagsc" href="https://www.w3.org/TR/WCAG20/#minimize-error-reversible" rel="external">3.3.4</a></td>
					<td>AA</td>
					<td>X</td>
					<td></td>
					<td>X</td>
					<td></td>
					<td></td>
					<td></td>
					<td>X</td>
					<td>X</td>
				</tr>
				<tr id="aaa-wcag2-335">
					<td><a class="wcagsc" href="https://www.w3.org/TR/WCAG20/#minimize-error-context-help" rel="external">3.3.5</a></td>
					<td>AAA</td>
					<td>X</td>
					<td></td>
					<td>X</td>
					<td>X</td>
					<td></td>
					<td></td>
					<td>X</td>
					<td>X</td>
				</tr>
				<tr id="aaa-wcag2-336">
					<td><a class="wcagsc" href="https://www.w3.org/TR/WCAG20/#minimize-error-reversible-all" rel="external">3.3.6</a></td>
					<td>AAA</td>
					<td>X</td>
					<td></td>
					<td>X</td>
					<td>X</td>
					<td></td>
					<td></td>
					<td>X</td>
					<td>X</td>
				</tr>
				<tr id="a-wcag2-411">
					<td><a class="wcagsc" href="https://www.w3.org/TR/WCAG20/#ensure-compat-parses" rel="external">4.1.1</a></td>
					<td>A</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td>X</td>
					<td></td>
					<td>X</td>
					<td>X</td>
				</tr>
				<tr id="a-wcag2-412">
					<td><a class="wcagsc" href="https://www.w3.org/TR/WCAG20/#ensure-compat-rsv" rel="external">4.1.2</a></td>
					<td>A</td>
					<td></td>
					<td></td>
					<td>X</td>
					<td></td>
					<td>X</td>
					<td></td>
					<td>X</td>
					<td>X</td>
				</tr>
			</tbody>
		</table>
	</div>
</section>
<div class="clearfix"></div>
<hr />
<p><strong>Note:</strong> This breakdown offers a vision that may not correspond exactly to the reality of your own production chain and therefore you should adapt it as required.</p>
<p>© <span lang="fr">Coopérative AccessibilitéWeb</span>, 2011. <a href="arb-rra-terms-en.html">Terms and Conditions of Use</a>.</p>
