@charset "utf-8";
/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt
 */
.wb-sec-def h3 {
  margin-left: 0px;
  margin-right: 0px;
}
.wb-sec-def ul {
  margin-right: 0px;
}

#cn-bc h2, #cn-bc2 h2, #cn-psnb h2, #cn-psnb-2 h2, #cn-in-pd h3 {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px !important;
  width: 1px !important;
  overflow: hidden !important;
}

#cn-bc ol, #cn-bc2 ol {
  padding-top: 0;
  line-height: 1.57em;
  margin: 0;
  padding-left: 0;
  list-style-type: none;
  float: left;
  width: 100%;
  clear: right;
}
#cn-bc li, #cn-bc2 li {
  margin-top: 0;
  padding-top: 0;
  float: left;
  margin-right: 0.3em;
  white-space: nowrap;
}

#cn-doc-dates, #cn-toppage-foot, #cn-in-pd-links {
  margin: 10px 0;
  width: 33%;
}

#cn-doc-dates {
  float: left;
  clear: left;
  min-width: 6em;
  margin-top: 5px;
  padding: 3px 0;
}
#cn-doc-dates dt {
  padding-right: 0.4em;
  float: left;
}
#cn-doc-dates dd {
  margin-left: 0px;
}
#cn-doc-dates dd span {
  white-space: nowrap;
}
