@charset "utf-8";
/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt
 */
.ie7 #wb-main-in h1, .ie7 #cn-in-pd h3 {
  clip: rect(1px 1px 1px 1px);
}
.ie7 #cn-lower-msg p {
  margin-top: 18px;
}
.ie7 #cn-other-lang-links {
  margin-top: 10px;
}
.ie7 #cn-sig {
  margin-bottom: 9px;
}
.ie7 #cn-msg-space {
  float: none;
}
