---
{
	"title": "Toggle",
	"language": "en",
	"fr": "toggle"
}
---

<style>
	.on {
		color: #d9534f !important;
	}
	.off {
		color: inherit;
	}

</style>

<p>Plugin that allows a link to toggle elements between on and off states.</p>

<section>
	<h2>Example</h2>

	<div class="row">
		<div class="col-md-1"><span class="glyphicon glyphicon-adjust"></span></div>
		<div class="col-md-1"><span class="glyphicon glyphicon-align-center"></span></div>
		<div class="col-md-1"><span class="glyphicon glyphicon-align-justify"></span></div>
		<div class="col-md-1"><span class="glyphicon glyphicon-align-left"></span></div>
		<div class="col-md-1"><span class="glyphicon glyphicon-align-right"></span></div>
		<div class="col-md-1"><span class="glyphicon glyphicon-arrow-down"></span></div>
		<div class="col-md-1"><span class="glyphicon glyphicon-arrow-left"></span></div>
		<div class="col-md-1"><span class="glyphicon glyphicon-tower"></span></div>
	</div>

	<div class="btn-group">
		<button type="button" class="btn btn-primary wb-toggle" data-selector=".glyphicon">Toggle</button>
		<button type="button" class="btn btn-default wb-toggle" data-selector=".glyphicon" data-type="on">On</button>
		<button type="button" class="btn btn-default wb-toggle" data-selector=".glyphicon" data-type="off">Off</button>
	</div>
</section>
