---
{
	"title": "Chronologie intégrée Twitter",
	"language": "fr",
	"category": "Plugiciels",
	"description": "Affiche des chronologies intégrées Twitter.",
	"tag": "twitter",
	"parentdir": "twitter",
	"altLangPrefix": "twitter",
	"dateModified": "2014-08-01"
}
---
<span class="wb-prettify all-pre hide"></span>

<section>
	<h2>But</h2>
	<p>Ce plugiciel aide à afficher des chronologies intégrées Twitter.</p>
</section>

<div lang="en">
<p><strong>Needs translation</strong></p>
<section>
	<h2>Example: Embedded User Timeline</h2>
	<div class="wb-twitter">
		<a class="twitter-timeline" href="https://twitter.com/WebExpToolkit" data-tweet-limit="3">Tweets by @WebExpToolkit</a>
	</div>

	<section>
		<h3>Code</h3>
		<pre><code>&lt;div class=&quot;wb-twitter&quot;&gt;
&lt;a class=&quot;twitter-timeline&quot; href=&quot;https://twitter.com/WebExpToolkit&quot; data-tweet-limit=&quot;3&quot; &gt;Tweets by @WebExpToolkit&lt;/a&gt;
&lt;/div&gt;</code></pre>
	</section>

	<p>Twitter Developer Documentation: <a href="https://dev.twitter.com/web/embedded-timelines/user">Embedded User Timeline</a></p>
</section>

<section>
	<h2>Example: Embedded Search Timeline</h2>
	<strong>An embedded search timeline requires a twitter account to generate the query and widget id.</strong>

	<div class="wb-twitter">
		<a class="twitter-timeline" href="https://twitter.com/search?q=%23boew" data-widget-id="329071414877495297">Tweets concernant "#boew"</a>
	</div>

	<section>
		<h3>Code</h3>
		<pre><code>&lt;div class=&quot;wb-twitter&quot;&gt;
&lt;a class=&quot;twitter-timeline&quot; href=&quot;https://twitter.com/search?q=%23boew&quot; data-widget-id=&quot;329071414877495297&quot;&gt;Tweets concernant &quot;#boew&quot;&lt;/a&gt;
&lt;/div&gt;</code></pre>
	</section>

	<p>Twitter Developer Documentation: <a href="https://dev.twitter.com/web/embedded-timelines/search">Embedded Search Timeline</a></p>
</section>
</div>
