---
{
	"title": "Chronologie intégrée Twitter - Exemples d’extra",
	"language": "fr",
	"description": "Exemples d’extra des chronologies intégrées Twitter.",
	"tag": "twitter",
	"parentdir": "twitter",
	"altLangPrefix": "twitter-extra",
	"dateModified": "2024-04-23"
}
---
<span class="wb-prettify all-pre hide"></span>

<ul>
	<li><a href="twitter-{{language}}.html">Chronologie intégrée Twitter</a></li>
	<li><a href="twitter-extra-{{language}}.html">Chronologie intégrée Twitter - Exemples d’extra</a></li>
</ul>

<section>
	<h2>Exemples&nbsp;: Chronologie de profil</h2>

	<div class="row">
		<section class="col-md-6">
			<h3>Compte «&nbsp;certifié&nbsp;» (<code>lang="zh-Hans"</code>, en contexte)</h3>
			<div class="wb-twitter" lang="zh-Hans">
				<a class="twitter-timeline" href="https://twitter.com/Canada" data-height="fb-page">Tweets de @Canada</a>
			</div>
			<section>
				<h4>Code</h4>
				<pre><code>&lt;div class=&quot;wb-twitter&quot; lang=&quot;zh-Hans&quot;&gt;
	&lt;a class=&quot;twitter-timeline&quot; href=&quot;https://twitter.com/Canada&quot; data-height=&quot;fb-page&quot;&gt;Tweets de @Canada&lt;/a&gt;
&lt;/div&gt;</code></pre>
			</section>
		</section>

		<section class="col-md-6">
			<h3>Compte «&nbsp;certifié&nbsp;» (<code>data-dnt="false"</code>)</h3>
			<div class="wb-twitter">
				<a class="twitter-timeline" href="https://twitter.com/XDevelopers" data-height="fb-page" data-dnt="false">Tweets de @XDevelopers</a>
			</div>
			<section>
				<h4>Code</h4>
				<pre><code>&lt;div class=&quot;wb-twitter&quot;&gt;
	&lt;a class=&quot;twitter-timeline&quot; href=&quot;https://twitter.com/XDevelopers&quot; data-height=&quot;fb-page&quot; data-dnt=&quot;false&quot;&gt;Tweets de @XDevelopers&lt;/a&gt;
&lt;/div&gt;</code></pre>
			</section>
		</section>
	</div>

	<section>
		<h3>Compte standard (<code>data-height="270"</code>)</h3>
		<div class="wb-twitter">
			<a class="twitter-timeline" href="https://twitter.com/WebExpToolkit" data-height="270">Tweets de @WebExpToolkit</a>
		</div>
		<section>
			<h4>Code</h4>
			<pre><code>&lt;div class=&quot;wb-twitter&quot;&gt;
	&lt;a class=&quot;twitter-timeline&quot; href=&quot;https://twitter.com/WebExpToolkit&quot; data-height=&quot;270&quot;&gt;Tweets de @WebExpToolkit&lt;/a&gt;
&lt;/div&gt;</code></pre>
		</section>
	</section>
</section>
