---
{
	"title": "Chronologie intégrée Twitter",
	"language": "fr",
	"category": "Plugiciels",
	"description": "Affiche des chronologies intégrées Twitter.",
	"tag": "twitter",
	"parentdir": "twitter",
	"altLangPrefix": "twitter",
	"dateModified": "2014-08-01"
}
---
<span class="wb-prettify all-pre hide"></span>

<section>
	<h2>But</h2>
	<p>Ce plugiciel aide à afficher des chronologies intégrées Twitter.</p>
</section>

<section>
	<h2>Exemple</h2>

	<div class="wb-twitter">
		<a class="twitter-timeline" href="https://twitter.com/search?q=%23boew" data-widget-id="329071414877495297">Tweets concernant "#boew"</a>
	</div>

	<section>
		<h3>Code</h3>
		<pre><code>&lt;div class=&quot;wb-twitter&quot;&gt;
	&lt;a class=&quot;twitter-timeline&quot; href=&quot;https://twitter.com/search?q=%23boew&quot; data-widget-id=&quot;329071414877495297&quot;&gt;Tweets concernant &quot;#boew&quot;&lt;/a&gt;
&lt;/div&gt;</code></pre>
	</section>

	<p><a href="https://dev.twitter.com/docs/embedded-timelines#customization">Options de configuration des fils intégrés Twitter</a></p>
</section>


