---
{
	"title": "Chronologie intégrée Twitter",
	"language": "fr",
	"category": "Plugiciels",
	"description": "Aide avec l’implémentation des chronologies intégrées Twitter.",
	"tag": "twitter",
	"parentdir": "twitter",
	"altLangPrefix": "twitter",
	"dateModified": "2025-10-07"
}
---
<div class="alert alert-warning">
	<h2>Fonctionnalité instable</h2>
	<p>La composante de Chronologie intégrée Twitter <strong>ne fonctionne actuellement pas</strong> en raison de modifications effectuées par Twitter. Veuillez noter que ce composant est en <strong>état de dépréciation</strong> et pourrait ne pas être pris en charge à l'avenir. Nous vous recommandons d'utiliser des méthodes alternatives pour partager le contenu de Twitter.
	</p>
	<p>Un <strong>mécanisme de secours</strong> a été mis en place pour vérifier si le problème persiste. Le plugin va tenter de charger la timeline Twitter; en cas d'échec, il affichera par défaut un lien vers la page Twitter. En cas de succès, la timeline s'affichera comme prévu.</p>
</div>

<span class="wb-prettify all-pre hide"></span>

<ul>
	<li><a href="twitter-{{language}}.html">Chronologie intégrée Twitter</a></li>
	<li><a href="twitter-extra-{{language}}.html">Chronologie intégrée Twitter - Exemples d’extra</a></li>
</ul>

<section>
	<h2>But</h2>
	<p>Ce plugiciel aide à afficher des chronologies intégrées Twitter.</p>
</section>

<section>
	<h2>Exemples&nbsp;: Chronologie de profil</h2>

	<div class="row">
		<section class="col-md-6">
			<h3>Compte standard</h3>
			<div class="wb-twitter">
				<a class="twitter-timeline" href="https://twitter.com/WebExpToolkit" data-tweet-limit="3">Tweets de @WebExpToolkit</a>
			</div>
			<section>
				<h4>Code</h4>
				<pre><code>&lt;div class=&quot;wb-twitter&quot;&gt;
&lt;a class=&quot;twitter-timeline&quot; href=&quot;https://twitter.com/WebExpToolkit&quot; data-tweet-limit=&quot;3&quot; &gt;Tweets de @WebExpToolkit&lt;/a&gt;
&lt;/div&gt;</code></pre>
			</section>
		</section>

		<section class="col-md-6">
			<h3>Compte «&nbsp;certifié&nbsp;»</h3>
			<div class="wb-twitter">
				<a class="twitter-timeline" href="https://twitter.com/Canada" data-height="fb-page">Tweets de @Canada</a>
			</div>
			<section>
				<h4>Code</h4>
				<pre><code>&lt;div class=&quot;wb-twitter&quot;&gt;
	&lt;a class=&quot;twitter-timeline&quot; href=&quot;https://twitter.com/Canada&quot; data-height=&quot;fb-page&quot;&gt;Tweets de @Canada&lt;/a&gt;
&lt;/div&gt;</code></pre>
			</section>
		</section>
	</div>
</section>

<section>
	<h2>Documentation destinée aux développeurs Twitter</h2>
	<ul>
		<li><a rel="external" href="https://developer.twitter.com/en/docs/twitter-for-websites/timelines/overview">Aperçu des chronologies (anglais seulement)</a></li>
		<li><a rel="external" href="https://developer.twitter.com/en/docs/twitter-for-websites/supported-languages">Langues et navigateurs compatibles (anglais seulement)</a></li>
		<li><a rel="external" href="https://developer.twitter.com/en/docs/twitter-for-websites/webpage-properties">Propriétés de page Web (anglais seulement)</a></li>
	</ul>
</section>
