---
{
	"title": "Chronologie intégrée Twitter",
	"language": "fr",
	"category": "Plugiciel",
	"description": "Affiche des chronologies intégrées Twitter.",
	"tag": "twitter",
	"en": "twitter"
}
---
<p>Ce plugiciel aide à afficher des chronologies intégrées Twitter.</p>

<section>
	<h2>Exemple</h2>

	<div class="wb-twitter">
		<a class="twitter-timeline" href="https://twitter.com/search?q=%23boew" data-widget-id="329071414877495297">Tweets concernant "#boew"</a>
	</div>

	<p><a href="https://dev.twitter.com/docs/embedded-timelines">Options de configuration des fils intégrés Twitter</a></p>
</section>


