---
{
	"title": "Twitter embedded timeline - Extra examples",
	"language": "en",
	"description": "Extra Twitter embedded timeline examples.",
	"tag": "twitter",
	"parentdir": "twitter",
	"altLangPrefix": "twitter-extra",
	"dateModified": "2024-04-23"
}
---
<span class="wb-prettify all-pre hide"></span>

<ul>
	<li><a href="twitter-{{language}}.html">Twitter embedded timeline</a></li>
	<li><a href="twitter-extra-{{language}}.html">Twitter embedded timeline - Extra examples</a></li>
</ul>

<section>
	<h2>Examples: Profile timeline</h2>

	<div class="row">
		<section class="col-md-6">
			<h3>"Verified" account (<code>lang="zh-Hans"</code>, in context)</h3>
			<div class="wb-twitter" lang="zh-Hans">
				<a class="twitter-timeline" href="https://twitter.com/Canada" data-height="fb-page">Tweets by @Canada</a>
			</div>
			<section>
				<h4>Code</h4>
				<pre><code>&lt;div class=&quot;wb-twitter&quot; lang=&quot;zh-Hans&quot;&gt;
	&lt;a class=&quot;twitter-timeline&quot; href=&quot;https://twitter.com/Canada&quot; data-height=&quot;fb-page&quot;&gt;Tweets by @Canada&lt;/a&gt;
&lt;/div&gt;</code></pre>
			</section>
		</section>

		<section class="col-md-6">
			<h3>"Verified" account (<code>data-dnt="false"</code>)</h3>
			<div class="wb-twitter">
				<a class="twitter-timeline" href="https://twitter.com/XDevelopers" data-height="fb-page" data-dnt="false">Tweets by @XDevelopers</a>
			</div>
			<section>
				<h4>Code</h4>
				<pre><code>&lt;div class=&quot;wb-twitter&quot;&gt;
	&lt;a class=&quot;twitter-timeline&quot; href=&quot;https://twitter.com/XDevelopers&quot; data-height=&quot;fb-page&quot; data-dnt=&quot;false&quot;&gt;Tweets by @XDevelopers&lt;/a&gt;
&lt;/div&gt;</code></pre>
			</section>
		</section>
	</div>

	<section>
		<h3>Standard account (<code>data-height="270"</code>)</h3>
		<div class="wb-twitter">
			<a class="twitter-timeline" href="https://twitter.com/WebExpToolkit" data-height="270">Tweets by @WebExpToolkit</a>
		</div>
		<section>
			<h4>Code</h4>
			<pre><code>&lt;div class=&quot;wb-twitter&quot;&gt;
	&lt;a class=&quot;twitter-timeline&quot; href=&quot;https://twitter.com/WebExpToolkit&quot; data-height=&quot;270&quot;&gt;Tweets by @WebExpToolkit&lt;/a&gt;
&lt;/div&gt;</code></pre>
		</section>
	</section>
</section>
