---
{
	"title": "Twitter embedded timeline",
	"language": "en",
	"category": "Plugins",
	"description": "Helps with implementing Twitter embedded timelines.",
	"tag": "twitter",
	"parentdir": "twitter",
	"altLangPrefix": "twitter",
	"dateModified": "2025-10-07"
}
---
<div class="alert alert-warning">
	<h2>Unstable feature</h2>
	<p>The Twitter embedded timeline component is <strong>currently not functional</strong> due to changes on Twitter's end. Please note that this component is in a <strong>deprecated state</strong> and may not be supported in the future. We recommend using alternative methods for sharing Twitter content.
	</p>
	<p>A <strong>fallback mechanism</strong> has been implemented to verify whether the issue still persists. The plugin will attempt to load the Twitter timeline; if unsuccessful, it will default to displaying a link to the Twitter page. If successful, the timeline will be rendered as expected.</p>
</div>

<span class="wb-prettify all-pre hide"></span>

<ul>
	<li><a href="twitter-en.html">Twitter embedded timeline</a></li>
	<li><a href="twitter-extra-en.html">Twitter embedded timeline - Extra examples</a></li>
</ul>

<section>
	<h2>Purpose</h2>
	<p>Helps with implementing Twitter embedded timelines.</p>
</section>

<section>
	<h2>Examples: Profile timeline</h2>

	<div class="row">
		<section class="col-md-6">
			<h3>Standard account</h3>
			<div class="wb-twitter">
				<a class="twitter-timeline" href="https://twitter.com/WebExpToolkit" data-tweet-limit="3">Tweets by @WebExpToolkit</a>
			</div>
			<section>
				<h4>Code</h4>
				<pre><code>&lt;div class=&quot;wb-twitter&quot;&gt;
&lt;a class=&quot;twitter-timeline&quot; href=&quot;https://twitter.com/WebExpToolkit&quot; data-tweet-limit=&quot;3&quot; &gt;Tweets by @WebExpToolkit&lt;/a&gt;
&lt;/div&gt;</code></pre>
			</section>
		</section>

		<section class="col-md-6">
			<h3>"Verified" account</h3>
			<div class="wb-twitter">
				<a class="twitter-timeline" href="https://twitter.com/Canada" data-height="fb-page">Tweets by @Canada</a>
			</div>
			<section>
				<h4>Code</h4>
				<pre><code>&lt;div class=&quot;wb-twitter&quot;&gt;
	&lt;a class=&quot;twitter-timeline&quot; href=&quot;https://twitter.com/Canada&quot; data-height=&quot;fb-page&quot;&gt;Tweets by @Canada&lt;/a&gt;
&lt;/div&gt;</code></pre>
			</section>
		</section>
	</div>
</section>

<section>
	<h2>Twitter developer documentation</h2>
	<ul>
		<li><a rel="external" href="https://developer.twitter.com/en/docs/twitter-for-websites/timelines/overview">Timelines overview</a></li>
		<li><a rel="external" href="https://developer.twitter.com/en/docs/twitter-for-websites/supported-languages">Supported languages and browsers</a></li>
		<li><a rel="external" href="https://developer.twitter.com/en/docs/twitter-for-websites/webpage-properties">Webpage properties</a></li>
	</ul>
</section>
