---
title: Twitter embedded timeline
language: en
fr: twitter
---
<p>This plugin helps with implementing Twitter embedded timelines.</p>

<section>
	<h2>Example</h2>

	<div class="wb-twitter">
		<a class="twitter-timeline" href="https://twitter.com/search?q=%23WxT" data-widget-id="329066756620566528">Tweets about "#WxT"</a>
	</div>

	<p><a href="https://dev.twitter.com/docs/embedded-timelines">Twitter Embedded Timeline configuration options</a></p>
</section>
