/*
  WET-BOEW
  @title: Breadcrumb CSS
 */

@if $wb-bc-enable {
	#wb-bc {
		background-color: $wb-bc-background-color;

		ol {
			border-radius: 0;
			margin-bottom: 0;
			padding: 3px 13px;
		}

		li {
			max-width: 100%;
			overflow: hidden;
			padding: 5px 2px;
			text-overflow: ellipsis;
			white-space: nowrap;

			&:before {
				color: $wb-bc-separator-color;
				content: $wb-bc-separator-content;
				font: {
					family: $wb-bc-separator-font-family;
					size: $wb-bc-separator-font-size;
				}
			}

			&:first-child {
				&:before {
					@extend %global-display-none;
				}
			}
		}
	}

	[dir=rtl] {
		#wb-bc {
			li {
				&:before {
					content: $wb-bc-separator-content-rtl;
					display: inline-block;
				}

				&:first-child {
					&:before {
						@extend %global-display-none;
					}
				}
			}
		}
	}
}
