/*
  WET-BOEW
  @title: Breadcrumb print CSS overrides
 */

@if $wb-bc-enable {
	@if $wb-bc-print-show {
		#wb-bc {
			.breadcrumb {
				margin-bottom: 0;
			}

			a {
				&[href] {
					&:after {
						content: "";
					}
				}
			}
		}
	} @else {
		#wb-bc {
			display: none;
		}
	}
}
