---
title: Home
language: en
---
<section>
	<h2>Welcome to WET</h2>
</section>

<iframe src="http://webchat.freenode.net?channels=%23wet-boew&uio=MT1mYWxzZSYyPXRydWUmND10cnVlJjk9dHJ1ZSYxMD10cnVl09" width="647" height="400"></iframe>