---
title: Language selection / Sélection de langue
language: en
layout: splashpage.hbs
---

<section class="col-md-6">
	<a class="btn btn-lg btn-primary btn-block" href="index-en.html">English</a>
	<a class="btn btn-lg btn-default btn-block" href="License-en.html" rel="license">Terms and conditions of use</a>
</section>

<section class="col-md-6" lang="fr">
	<a class="btn btn-lg btn-primary btn-block" href="index-fr.html">Français</a>
	<a class="btn btn-lg btn-default btn-block" href="License-fr.html" rel="license">Conditions régissant l'utilisation</a>
</section>
