---
title: Boîte à outils de l’expérience Web (BOEW)
language: fr
---
<section>
	<h2 id="apropos">Qu’est-ce que la Boîte à outils de l’expérience Web?</h2>
	<ul>
		<li>Un projet à source ouverte collaboratif dirigé par le Gouvernement du Canada</li>
		<li>Une bibliothèque de code <a href="https://github.com/wet-boew/wet-boew/wiki/Distinctions#wiki-Primes">primée</a> pour construire des sites Web innovants&#160;:
			<ul>
				<li><a href="#accessibilit">Accessibles</a>, <a href="#facilit-demploi">faciles d'emploi</a> et <a href="#interoprabilit">interopérables</a></li>
				<li><a href="#conception-optimise-pour-les-appareils-mobiles-et-ractive">Optimisés pour les appareils mobiles</a></li>
				<li><a href="#multilingue">Multilingues</a></li>
			</ul>
		</li>
		<li><a href="#personnalisable-et-rutilisable">Des modèles, ainsi que des composants réutilisables, qui sont flexibles et personnalisables</a></li>
		<li>Un logiciel libre
			<ul>
				<li>Libre d'utilisation à des fins commerciales et non commerciales (licence MIT - <a href="http://wet-boew.github.io/wet-boew/Licence-fr.html">Conditions régissant l'utilisation</a>)</li>
				<li><a href="#approche-collaborative">Développé ouvertement sur GitHub par la communauté</a></li>
			</ul>
		</li>
	</ul>
</section>

<section>
	<h2 id="cles">Ressources clés</h2>
	<ul>
		<li><a href="#avantages">Avantages</a></li>
		<li><a href="demos/index-fr.html">Exemples pratiques</a></li>
		<li><a href="https://github.com/wet-boew/wet-boew/wiki/Accueil#wiki-Documentation">Documentation</a></li>
		<li><a href="https://github.com/wet-boew/wet-boew/wiki/T%C3%A9l%C3%A9chargements">Téléchargements</a></li>
		<li><a href="https://github.com/wet-boew/wet-boew/">Projet principal</a></li>
		<li><a href="Licence-fr.html">Conditions régissant l'utilisation</a></li>
		<li><a href="https://github.com/wet-boew/wet-boew/wiki/Lignes-directrices-pour-les-contributeurs">Lignes directrices pour les contributeurs</a></li>
		<li><a href="https://github.com/wet-boew/wet-boew/wiki/Contr%C3%B4le-des-versions">Contrôle des versions</a></li>
		<li><a href="#historique-des-versions">Historique des versions</a></li>
		<li><a href="https://github.com/wet-boew/wet-boew/wiki/Feuille-de-route">Feuille de route</a></li>
	</ul>
</section>

<section>
	<h2 id="avantages">Avantages</h2>

	<section>
		<h3 id="accessibilit">Accessibilité</h3>
		<ul>
			<li>Conformes aux <a href="http://www.w3.org/Translations/WCAG20-fr/">Règles pour l'accessibilité des contenus Web (WCAG) 2.0</a> niveau AA</li>
			<li>S'appuie sur <a href="http://www.w3.org/TR/wai-aria/">WAI-ARIA</a> pour améliorer l'accessibilité</li>
			<li>Vérification avec les technologies d'assistance (Groupe de travail sur l'accessibilité)</li>
		</ul>
	</section>

	<section>
		<h3 id="facilit-demploi">Facilité d'emploi</h3>
		<ul>
			<li>Approche itérative pour la conception</li>
			<li>Patrons de conception et les essais de facilité d'emploi (Groupe de travail sur l'expérience des utilisateurs)</li>
		</ul>
	</section>

	<section>
		<h3 id="interoprabilit">Interopérabilité</h3>
		<ul>
			<li>Approche centrée sur le <a href="http://www.w3.org/TR/html5/">HTML5</a> (s'appuyant sur le soutien HTML5 natif et puis les &laquo;correctifs&raquo; pour résoudre les problèmes de soutien)</li>
			<li>Soutien pour plusieurs navigateurs (IE, Firefox, Chrome, Safari, Opera)</li>
			<li>Soutien en développement pour les données HTML (<a href="http://www.w3.org/TR/rdfa-lite/">RDFa 1.1 Lite</a>, <a href="http://www.schema.org/">Schema.org</a>)</li>
		</ul>
	</section>

	<section>
		<h3 id="conception-optimise-pour-les-appareils-mobiles-et-ractive">Conception optimisée pour les appareils mobiles et réactive</h3>
		<ul>
			<li>S'adapte à différentes tailles d'écran et capacités d'appareil</li>
			<li>Soutien pour les écrans tactiles (<a href="http://www.jquerymobile.com">jQuery Mobile</a>)</li>
			<li>Optimisé pour les performances</li>
			<li>Soutien en développement pour les applications s’installant sur un appareil mobile</li>
		</ul>
	</section>

	<section><h3 id="multilingue">Multilingue</h3>
		<ul>
			<li>Soutien actuellement 33 langues (y compris les langues droite-à-gauche)
				<ul>
					<li>Anglais</li>
					<li>Français</li>
					<li>Afrikaans</li>
					<li>Albanais</li>
					<li>Allemand</li>
					<li>Arabe</li>
					<li>Arménien</li>
					<li>Bulgare</li>
					<li>Chinois</li>
					<li>Chinois (simplifiée)</li>
					<li>Coréen</li>
					<li>Espagnol</li>
					<li>Estonien</li>
					<li>Grec</li>
					<li>Hindi</li>
					<li>Hongrois</li>
					<li>Indonésien</li>
					<li>Islandais</li>
					<li>Italien</li>
					<li>Japonais</li>
					<li>Letton</li>
					<li>Lituanien</li>
					<li>Néerlandais</li>
					<li>Polonais</li>
					<li>Portugais</li>
					<li>Portugais (brésilien)</li>
					<li>Russe</li>
					<li>Slovaque</li>
					<li>Tchèque</li>
					<li>Thaï</li>
					<li>Turc</li>
					<li>Ukrainien</li>
					<li>Vietnamien</li>
				</ul>
			</li>
		</ul>
	</section>

	<section>
		<h3 id="personnalisable-et-rutilisable">Personnalisable et réutilisable</h3>
		<ul>
			<li>Cadre flexible qui supporte des thèmes personnalisés</li>
			<li>Soutien 5 thèmes différents, y compris un thème de base servant comme modèle</li>
			<li>Modèles, plugiciels et gadgets réutilisables</li>
			<li>Adapté aux différents systèmes de gestion de contenu et cadres de programmation (Drupal, WordPress, SharePoint (en développement), DotNetNuke (en développement), PHP, SSI, Java/Maven)</li>
		</ul>
	</section>

	<section>
		<h3>Réduit les coûts en partageant et en collaborant ouvertement</h3>
		<ul>
			<li>Réduit les coûts de recherche et de développement</li>
			<li>Évite la duplication des efforts</li>
			<li>Produit des résultats de meilleure qualité</li>
		</ul>
	</section>

	<section><h3 id="approche-collaborative">Approche collaborative</h3>
		<ul>
			<li>Projet géré ouvertement sur GitHub, y compris les discussions à travers le système de suivi des questions</li>
			<li>Encourage la libre circulation des idées, du dialogue et de l'innovation, y compris le partage des défis et des idées
			<li>Les contributions externes sont invités
				<ul>
					<li>Soumissions de code</li>
					<li>Patrons de conception</li>
					<li>Problèmes et suggestions</li>
					<li>Documentation</li>
					<li>Évaluations</li>
				</ul>
			</li>
			<li>Processus d'examen sur plusieurs niveaux pour les contributions pour assurer l'intégrité du code (combinaison d'évaluations automatisées et manuelles)</li>
		</ul>
	</section>
</section>

<section>
	<h2 id="historique-des-versions">Historique des versions</h2>
	<section>
		<h3>Version 3.1</h3>
		<ul>
			<li><a href="https://github.com/wet-boew/wet-boew/wiki/v3.1-changelog">ChangeLog de la version 3.1</a></li>
			<li><strong>La version 3.1.4 de la BOEW a été lancée le 17 septembre</strong> (<a href="https://github.com/wet-boew/wet-boew/wiki/v3.1.4-release-notes">v3.1.4 - notes d'utilisation</a>)</li>
			<li><strong>La version 3.1.3 de la BOEW a été lancée le 6 août 2013</strong> (<a href="https://github.com/wet-boew/wet-boew/wiki/v3.1.3-release-notes">v3.1.3 - notes d'utilisation</a>)</li>
			<li><strong>La version 3.1.2 de la BOEW a été lancée le 27 juin 2013</strong> (<a href="https://github.com/wet-boew/wet-boew/wiki/v3.1.2-release-notes">v3.1.2 - notes d'utilisation</a>)</li>
			<li><strong>La version 3.1.1 de la BOEW a été lancée le 16 mai 2013</strong> (<a href="https://github.com/wet-boew/wet-boew/wiki/v3.1.1-release-notes">v3.1.1 - notes d'utilisation</a>)</li>
			<li><strong>La version 3.1.0 de la BOEW a été lancée le 11 avril 2013</strong> (<a href="https://github.com/wet-boew/wet-boew/wiki/v3.1.0-release-notes">v3.1.0 - notes d'utilisation</a>)</li>
			<li><strong>La version 3.1.0 Candidate 1 de la BOEW a été lancée le 3 avril 2013</strong> (<a href="https://github.com/wet-boew/wet-boew/wiki/v3.1.0-Release-Candidate-1-release-notes">v3.1.0 Candidate 1 - notes d'utilisation</a>)</li>
			<li><strong>La version 3.1.0 Bêta 2 de la BOEW a été lancée le 15 février 2013</strong> (<a href="https://github.com/wet-boew/wet-boew/wiki/v3.1.0-Beta-2-release-notes">v3.1.0 Bêta 2 - notes d'utilisation</a>)</li>
			<li><strong>La version 3.1.0 Bêta 1 de la BOEW a été lancée le 21 décembre 2012</strong> (<a href="https://github.com/wet-boew/wet-boew/wiki/v3.1.0-Beta-1-release-notes">v3.1.0 Bêta 1 - notes d'utilisation</a>)</li>
		</ul>
	</section>

	<section>
		<h3>Version 3.0</h3>
		<ul>
			<li><a href="https://github.com/wet-boew/wet-boew/wiki/v3.1-changelog">ChangeLog de la version 3.0</a></li>
			<li><strong>La version 3.0.10 de la BOEW a été lancée le 17 septembre 2013</strong> (<a href="https://github.com/wet-boew/wet-boew/wiki/v3.0.10-release-notes">v3.0.10 - notes d'utilisation</a>)</li>
			<li><strong>La version 3.0.9 de la BOEW a été lancée le 6 août 2013</strong> (<a href="https://github.com/wet-boew/wet-boew/wiki/v3.0.9-release-notes">v3.0.9 - notes d'utilisation</a>)</li>
			<li><strong>La version 3.0.8 de la BOEW a été lancée le 27 juin 2013</strong> (<a href="https://github.com/wet-boew/wet-boew/wiki/v3.0.8-release-notes">v3.0.8 - notes d'utilisation</a>)</li>
			<li><strong>La version 3.0.7 de la BOEW a été lancée le 16 mai 2013</strong> (<a href="https://github.com/wet-boew/wet-boew/wiki/v3.0.7-release-notes">v3.0.7 - notes d'utilisation</a>)</li>
			<li><strong>La version 3.0.6 de la BOEW a été lancée le 11 avril 2013</strong> (<a href="https://github.com/wet-boew/wet-boew/wiki/v3.0.6-release-notes">v3.0.6 - notes d'utilisation</a>)</li>
			<li><strong>La version 3.0.5 de la BOEW a été lancée le 15 février 2013</strong> (<a href="https://github.com/wet-boew/wet-boew/wiki/v3.0.5-release-notes">v3.0.5 - notes d'utilisation</a>)</li>
			<li><strong>La version 3.0.4 de la BOEW a été lancée le 24 janvier 2013</strong> (<a href="https://github.com/wet-boew/wet-boew/wiki/v3.0.4-release-notes">v3.0.4 - notes d'utilisation</a>)</li>
			<li><strong>La version 3.0.3 de la BOEW a été lancée le 21 décembre 2012</strong> (<a href="https://github.com/wet-boew/wet-boew/wiki/v3.0.3-release-notes">v3.0.3 - notes d'utilisation</a>)</li>
			<li><strong>La version 3.0.2 de la BOEW a été lancée le 15 novembre 2012</strong> (<a href="https://github.com/wet-boew/wet-boew/wiki/v3.0.2-release-notes">v3.0.2 - notes d'utilisation</a>)</li>
			<li><strong>La version 3.0.1 de la BOEW a été lancée le 9 octobre 2012</strong> (<a href="https://github.com/wet-boew/wet-boew/wiki/v3.0.1-release-notes">v3.0.1 - notes d'utilisation</a>)</li>
			<li><strong>La version 3.0.0 de la BOEW a été lancée le 17 septembre 2012</strong> (<a href="https://github.com/wet-boew/wet-boew/wiki/V3.0-release-notes">v3.0 - notes d'utilisation</a>)</li>
		</ul>
	</section>
</section>