---
title: Welcome to WET
language: en
sitetitle: Web Experience Toolkit (WET)
tagline: Collaborative open source project led by the Government of Canada
---

<h2>Demonstrations</h2>
<ul>
	<li><a href="demo/data-picture/data-picture-en.html">Data Picture</a></li>
	<li><a href="demo/feedback/feedback-en.html">Feedback Form</a></li>
	<li><a href="demo/footnotes/footnotes-en.html">Footnotes</a></li>
	<li><a href="demo/formvalid/formvalid-en.html">Formvalid</a></li>
	<li><a href="demo/lightbox/lightbox-en.html">Lightbox</a></li>
	<li><a href="demo/webfeeds/webfeeds-en.html">Webfeeds</a></li>
	<li><a href="demo/twitter/twitter-en.html">Twitter</a></li>
	<li><a href="demo/toggle/toggle-en.html">Toggle</a></li>
</ul>

