@charset "utf-8";
/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt
 */
.ie7 #gcwu-bc ol {
  padding-bottom: 10px;
}
.ie7 #gcwu-subsite a {
  font-size: expression(this.previousSibling == null ? '100%' : '-' );
  padding-left: expression(this.previousSibling == null ? '0' : '-' );
  border-left: expression(this.previousSibling == null ? 'none' : '-' );
}
.ie7 #wb-body, .ie7 #wb-body-sec, .ie7 #wb-body-sec-sup, .ie7 #wb-body-sec-sup, .ie7 #wb-head-in {
  background: none;
}
.ie7 #gcwu-sft-in {
  background: transparent url(../images/gcwu-sft-in.png) no-repeat right bottom;
}
