@charset "utf-8";
/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt
 */
/** From branding.css **/
#gcwu-sig, #gcwu-sig-in, #gcwu-sig img {
  height: 20px !important;
}

#wb-core-in div #gcwu-bar {
  background: #28507a;
}

#gcwu-title-left a, #gcwu-title-right a {
  color: #28507a;
}
