---
{
	"title": "URL Mapping - Table filtering",
	"language": "en",
	"category": "Plugins",
	"description": "Execute pre-configured table filtering action based on url query string.",
	"tag": "urlmapping",
	"parentdir": "urlmapping",
	"altLangPrefix": "tblfilter",
	"dateModified": "2017-02-03"
}
---
<p>Execute pre-configured table filtering action based on url query string.</p>

<div class="wb-prettify all-pre"></div>

<ul>
	<li><a href="?">Empty <code>?</code></a></li> 
	<li><a href="?back">Backgrounders only <code>?back</code></a></li>
	<li><a href="?dep=inf">Infrastructure Canada departement only <code>?dep=inf</code></a></li>
	<li><a href="?date=jul26">Published on July 26 <code>?date=jul26</code></a></li>
	<li><a href="?dateiso=2016-07-24">Published on July 24 <code>?dateiso=2016-07-24</code></a></li>
	<li><a href="?dateiso=2016-07-23">Published on July 23 <code>?dateiso=2016-07-23</code></a></li>
	<li><a href="?dateiso=2016-07-22">Published on July 22 <code>?dateiso=2016-07-22</code></a></li>
</ul>

<table class="wb-tables table table-striped table-hover" id="dataset-filter" 
		data-wb-urlmapping='{
			"back": { "action": "tblfilter", "column": 3, "value": "Backgrounders" },
			"dep=inf": { "action": "tblfilter", "column": 2, "value": "Infrastructure Canada" },
			"date=jul26": { "action": "tblfilter", "column": 1, "value": "2016-07-26" },
			"dateiso": {
				"action": "tblfilter",
				"source": "#dataset-filter",
				"column": 1,
				"value": "{qval}",
				"match": "^[1-2][0-9][0-9][0-9]-[0,1][0-9]-[0-3][0-9]$",
				"default": "2016-07-24"
			}
		}' aria-live="polite" 
		data-wb-tables='{
			"bDeferRender": true,
			"ajaxSource": "//wet-boew.github.io/wet-boew/demos/tables/ajax/datasource.json",
			"order": [5, "desc"],
			 "columns": [
				{ "data": "TITLE", "className": "nws-tbl-ttl h4" },
				{ "data": "PUBDATE", "className": "nws-tbl-date" },
				{ "data": "DEPT", "className": "nws-tbl-dept" },
				{ "data": "TYPE", "className": "nws-tbl-type" },
				{ "data": "TEASER",  "className": "nws-tbl-desc" },
				{ "data": "LOCATION",  "visible": false },
				{ "data": "AUDIENCE",  "visible": false },
				{ "data": "SUBJECT", "visible": false },
				{ "data": "MINISTER", "visible": false }
			  ]
		}'>
	<thead>
		<tr>
			<th>Title</th>
			<th>Publication date</th>
			<th>Department</th>
			<th>News Type</th>
			<th>Summary</th>
			<th>Location</th>
			<th>For</th>
			<th>Subject</th>
			<th>Minister</th>
		</tr>
	</thead>
</table>

<details>
	<summary>Source code</summary>
	<pre><code>&lt;ul&gt;
	&lt;li&gt;&lt;a href=&quot;?&quot;&gt;Empty &lt;code&gt;?&lt;/code&gt;&lt;/a&gt;&lt;/li&gt; 
	&lt;li&gt;&lt;a href=&quot;?back&quot;&gt;Backgrounders only &lt;code&gt;?back&lt;/code&gt;&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a href=&quot;?dep=inf&quot;&gt;Infrastructure Canada departement only &lt;code&gt;?dep=inf&lt;/code&gt;&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a href=&quot;?date=jul26&quot;&gt;Published on July 26 &lt;code&gt;?date=jul26&lt;/code&gt;&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a href=&quot;?dateiso=2016-07-24&quot;&gt;Published on July 24 &lt;code&gt;?dateiso=2016-07-24&lt;/code&gt;&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a href=&quot;?dateiso=2016-07-23&quot;&gt;Published on July 23 &lt;code&gt;?dateiso=2016-07-23&lt;/code&gt;&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a href=&quot;?dateiso=2016-07-22&quot;&gt;Published on July 22 &lt;code&gt;?dateiso=2016-07-22&lt;/code&gt;&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;

&lt;table class=&quot;wb-tables table table-striped table-hover&quot; id=&quot;dataset-filter&quot; 
		data-wb-urlmapping='{
			&quot;back&quot;: { &quot;action&quot;: &quot;tblfilter&quot;, &quot;column&quot;: 3, &quot;value&quot;: &quot;Backgrounders&quot; },
			&quot;dep=inf&quot;: { &quot;action&quot;: &quot;tblfilter&quot;, &quot;column&quot;: 2, &quot;value&quot;: &quot;Infrastructure Canada&quot; },
			&quot;date=jul26&quot;: { &quot;action&quot;: &quot;tblfilter&quot;, &quot;column&quot;: 1, &quot;value&quot;: &quot;2016-07-26&quot; },
			&quot;dateiso&quot;: {
				&quot;action&quot;: &quot;tblfilter&quot;,
				&quot;source&quot;: &quot;#dataset-filter&quot;,
				&quot;column&quot;: 1,
				&quot;value&quot;: &quot;{qval}&quot;,
				&quot;match&quot;: &quot;^[1-2][0-9][0-9][0-9]-[0,1][0-9]-[0-3][0-9]$&quot;,
				&quot;default&quot;: &quot;2016-07-24&quot;
			}
		}' aria-live=&quot;polite&quot; 
		data-wb-tables='{
			&quot;bDeferRender&quot;: true,
			&quot;ajaxSource&quot;: &quot;//wet-boew.github.io/wet-boew/demos/tables/ajax/datasource.json&quot;,
			&quot;order&quot;: [5, &quot;desc&quot;],
			 &quot;columns&quot;: [
				{ &quot;data&quot;: &quot;TITLE&quot;, &quot;className&quot;: &quot;nws-tbl-ttl h4&quot; },
				{ &quot;data&quot;: &quot;PUBDATE&quot;, &quot;className&quot;: &quot;nws-tbl-date&quot; },
				{ &quot;data&quot;: &quot;DEPT&quot;, &quot;className&quot;: &quot;nws-tbl-dept&quot; },
				{ &quot;data&quot;: &quot;TYPE&quot;, &quot;className&quot;: &quot;nws-tbl-type&quot; },
				{ &quot;data&quot;: &quot;TEASER&quot;,  &quot;className&quot;: &quot;nws-tbl-desc&quot; },
				{ &quot;data&quot;: &quot;LOCATION&quot;,  &quot;visible&quot;: false },
				{ &quot;data&quot;: &quot;AUDIENCE&quot;,  &quot;visible&quot;: false },
				{ &quot;data&quot;: &quot;SUBJECT&quot;, &quot;visible&quot;: false },
				{ &quot;data&quot;: &quot;MINISTER&quot;, &quot;visible&quot;: false }
			  ]
		}'&gt;
	&lt;thead&gt;
		&lt;tr&gt;
			&lt;th&gt;Title&lt;/th&gt;
			&lt;th&gt;Publication date&lt;/th&gt;
			&lt;th&gt;Department&lt;/th&gt;
			&lt;th&gt;News Type&lt;/th&gt;
			&lt;th&gt;Summary&lt;/th&gt;
			&lt;th&gt;Location&lt;/th&gt;
			&lt;th&gt;For&lt;/th&gt;
			&lt;th&gt;Subject&lt;/th&gt;
			&lt;th&gt;Minister&lt;/th&gt;
		&lt;/tr&gt;
	&lt;/thead&gt;
&lt;/table&gt;</code></pre>
</details>
