/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt
 */

@import 'includes/_grid-mixins.scss';

// Width for an 8 grid column
$width-8: 130px;
// Width for a standard 12 grid column
$width-12: 80px;
// Width for a smaller 12 grid column
$width-12small: 50px;

[id|="wb-body-sec"] {
	#wb-core {
		.grid-12 {
			@include create_grid($width-12small, 12);
		}
	}
}

.grid-12 {
	@include create_grid($width-12, 12);
}

@for $i from 1 through 8 {
	@include create_grid($width-8, 8);
}