/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 */
[id|="wb-body-sec"] {
	#wb-core {
		.grid-12 {
			.span-1 {
				width: 55px;
			}
			.span-2 {
				@extend %grids-responsive1200-width130;
			}
			.span-3 {
				width: 205px;
			}
			.span-4 {
				@extend %grids-responsive1200-width280;
			}
			.span-5 {
				width: 355px;
			}
			.span-6 {
				@extend %grids-responsive1200-width430;
			}
			.span-7 {
				width: 505px;
			}
			.span-8 {
				@extend %grids-responsive1200-width580;
			}
			.span-9 {
				width: 655px;
			}
			.span-10 {
				@extend %grids-responsive1200-width730;
			}
			.span-11 {
				width: 805px;
			}
			.span-12 {
				@extend %grids-responsive1200-width880;
			}
		}
	}
}

.grid-12 {
	.span-1 {
		width: 80px;
	}
	.span-2 {
		width: 180px;
	}
	.span-3 {
		@extend %grids-responsive1200-width280;
	}
	.span-4 {
		width: 380px;
	}
	.span-5 {
		width: 480px;
	}
	.span-6 {
		@extend %grids-responsive1200-width580;
	}
	.span-7 {
		width: 680px;
	}
	.span-8 {
		width: 780px;
	}
	.span-9 {
		@extend %grids-responsive1200-width880;
	}
	.span-10 {
		width: 980px;
	}
	.span-11 {
		width: 1080px;
	}
	.span-12 {
		@extend %grids-responsive1200-width1180;
	}
}

%grids-responsive1200-width130 {
	width: 130px;
}

.span-1 {
	@extend %grids-responsive1200-width130;
}

%grids-responsive1200-width280 {
	width: 280px;
}

.span-2 {
	@extend %grids-responsive1200-width280;
}

%grids-responsive1200-width430 {
	width: 430px;
}

.span-3 {
	@extend %grids-responsive1200-width430;
}

%grids-responsive1200-width580 {
	width: 580px;
}

.span-4 {
	@extend %grids-responsive1200-width580;
}

%grids-responsive1200-width730 {
	width: 730px;
}

.span-5 {
	@extend %grids-responsive1200-width730;
}

%grids-responsive1200-width880 {
	width: 880px;
}

.span-6 {
	@extend %grids-responsive1200-width880;
}

.span-7 {
	width: 1030px;
}

%grids-responsive1200-width1180 {
	width: 1180px;
}

.span-8 {
	@extend %grids-responsive1200-width1180;
}