/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-eng.txt / wet-boew.github.io/wet-boew/Licence-fra.txt
 */
[id|="wb-body-sec"] {
	#wb-core {
		.grid-12 {
			.span-1 {
				width: 28px;
			}
			.span-2 {
				@extend %grids-responsive768-width76;
			}
			.span-3 {
				width: 124px;
			}
			.span-4 {
				@extend %grids-responsive768-width172;
			}
			.span-5 {
				width: 220px;
			}
			.span-6 {
				@extend %grids-responsive768-width268;
			}
			.span-7 {
				width: 316px;
			}
			.span-8 {
				@extend %grids-responsive768-width364;
			}
			.span-9 {
				width: 412px;
			}
			.span-10 {
				@extend %grids-responsive768-width460;
			}
			.span-11 {
				width: 508px;
			}
			.span-12 {
				@extend %grids-responsive768-width556;
			}
		}
	}
}

.grid-12 {
	.span-1 {
		width: 44px;
	}
	.span-2 {
		width: 108px;
	}
	.span-3 {
		@extend %grids-responsive768-width172;
	}
	.span-4 {
		width: 236px;
	}
	.span-5 {
		width: 300px;
	}
	.span-6 {
		@extend %grids-responsive768-width364;
	}
	.span-7 {
		width: 428px;
	}
	.span-8 {
		width: 492px;
	}
	.span-9 {
		@extend %grids-responsive768-width556;
	}
	.span-10 {
		width: 620px;
	}
	.span-11 {
		width: 684px;
	}
	.span-12 {
		@extend %grids-responsive768-width748;
	}
}

%grids-responsive768-width76 {
	width: 76px;
}

.span-1 {
	@extend %grids-responsive768-width76;
}

%grids-responsive768-width172 {
	width: 172px;
}

.span-2 {
	@extend %grids-responsive768-width172;
}

%grids-responsive768-width268 {
	width: 268px;
}

.span-3 {
	@extend %grids-responsive768-width268;
}

%grids-responsive768-width364 {
	width: 364px;
}

.span-4 {
	@extend %grids-responsive768-width364;
}

%grids-responsive768-width460 {
	width: 460px;
}

.span-5 {
	@extend %grids-responsive768-width460;
}

%grids-responsive768-width556 {
	width: 556px;
}

.span-6 {
	@extend %grids-responsive768-width556;
}

.span-7 {
	width: 652px;
}

%grids-responsive768-width748 {
	width: 748px;
}

.span-8 {
	@extend %grids-responsive768-width748;
}