@charset "utf-8";
/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * www.tbs.gc.ca/ws-nw/wet-boew/terms / www.sct.gc.ca/ws-nw/wet-boew/conditions
 */
#wb-body-sec #wb-core .grid-12 .span-1{
	width:55px;
}

.grid-12 .span-1{
	width:80px;
}

.span-1,#wb-body-sec #wb-core .grid-12 .span-2{
	width:130px;
}

.grid-12 .span-2{
	width:180px;
}

#wb-body-sec #wb-core .grid-12 .span-3{
	width:205px;
}

.span-2,#wb-body-sec #wb-core .grid-12 .span-4,.grid-12 .span-3{
	width:280px;
}

#wb-body-sec #wb-core .grid-12 .span-5{
	width:355px;
}

.grid-12 .span-4{
	width:380px;
}

.span-3,#wb-body-sec #wb-core .grid-12 .span-6{
	width:430px;
}

.grid-12 .span-5{
	width:480px;
}

#wb-body-sec #wb-core .grid-12 .span-7{
	width:505px;
}

.span-4,#wb-body-sec #wb-core .grid-12 .span-8,.grid-12 .span-6{
	width:580px;
}

#wb-body-sec #wb-core .grid-12 .span-9{
	width:655px;
}

.grid-12 .span-7{
	width:680px;
}

.span-5,#wb-body-sec #wb-core .grid-12 .span-10{
	width:730px;
}

.grid-12 .span-8{
	width:780px;
}

#wb-body-sec #wb-core .grid-12 .span-11{
	width:805px;
}

.span-6,#wb-body-sec #wb-core .grid-12 .span-12,.grid-12 .span-9{
	width:880px;
}

.grid-12 .span-10{
	width:980px;
}

.span-7{
	width:1030px;
}

.grid-12 .span-11{
	width:1080px;
}

.span-8,.grid-12 .span-12{
	width:1180px;
}

#wb-body-sec #wb-core .grid-12 .border-span-1{
	background-image:url(../../grids/images/border-55px.gif);
}

.grid-12 .border-span-1{
	background-image:url(../../grids/images/border-80px.gif);
}

.border-span-1,#wb-body-sec #wb-core .grid-12 .border-span-2,.module-versatile{
	background-image:url(../../grids/images/border-130px.gif);
}

.grid-12 .border-span-2,.module-versatile{
	background-image:url(../../grids/images/border-180px.gif);
}

#wb-body-sec #wb-core .grid-12 .border-span-3{
	background-image:url(../../grids/images/border-205px.gif);
}

.border-span-2,.module-versatile,#wb-body-sec #wb-core .grid-12 .border-span-4,.grid-12 .border-span-3{
	background-image:url(../../grids/images/border-280px.gif);
}

#wb-body-sec #wb-core .grid-12 .border-span-5{
	background-image:url(../../grids/images/border-355px.gif);
}

.grid-12 .border-span-4{
	background-image:url(../../grids/images/border-380px.gif);
}

.border-span-3,#wb-body-sec #wb-core .grid-12 .border-span-6{
	background-image:url(../../grids/images/border-430px.gif);
}

.grid-12 .border-span-5{
	background-image:url(../../grids/images/border-480px.gif);
}

#wb-body-sec #wb-core .grid-12 .border-span-7{
	background-image:url(../../grids/images/border-505px.gif);
}

.border-span-4,.module-table-contents,.module-welcomepage,#wb-body-sec #wb-core .grid-12 .border-span-8,.grid-12 .border-span-6{
	background-image:url(../../grids/images/border-580px.gif);
}

#wb-body-sec #wb-core .grid-12 .border-span-9{
	background-image:url(../../grids/images/border-655px.gif);
}

.grid-12 .border-span-7{
	background-image:url(../../grids/images/border-680px.gif);
}

.border-span-5,#wb-body-sec #wb-core .grid-12 .border-span-10{
	background-image:url(../../grids/images/border-730px.gif);
}

.grid-12 .border-span-8{
	background-image:url(../../grids/images/border-780px.gif);
}

#wb-body-sec #wb-core .grid-12 .border-span-11{
	background-image:url(../../grids/images/border-805px.gif);
}

.border-span-6,#wb-body-sec #wb-core .grid-12 .border-span-12,.grid-12 .border-span-9{
	background-image:url(../../grids/images/border-880px.gif);
}

.grid-12 .border-span-10{
	background-image:url(../../grids/images/border-980px.gif);
}

.border-span-7{
	background-image:url(../../grids/images/border-1030px.gif);
}

.grid-12 .border-span-11{
	background-image:url(../../grids/images/border-1080px.gif);
}

.border-span-8,.grid-12 .border-span-12{
	background-image:url(../../grids/images/border-1180px.gif);
}

.span-2 .calendar-month td,.span-2 .calendar-month th,#wb-body-sec #wb-core .grid-12 .span-4 .calendar-month td,#wb-body-sec #wb-core .grid-12 .span-4 .calendar-month th,.grid-12 .span-3 .calendar-month td,.grid-12 .span-3 .calendar-month th{
	width:34px;
	height:32px;
	padding:2px 3px;
}