@charset "utf-8";
/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * www.tbs.gc.ca/ws-nw/wet-boew/terms / www.sct.gc.ca/ws-nw/wet-boew/conditions
 */
.ie7 {
	.equalize {
		margin-bottom:20px !important;
	}
	#wb-body-sec #wb-core .grid-12 .border-span-1{
		background-image:url(../../grids/images/border-40px.gif);
	}

	.grid-12 .border-span-1{
		background-image:url(../../grids/images/border-60px.gif);
	}

	.border-span-1,#wb-body-sec #wb-core .grid-12 .border-span-2,.module-versatile{
		background-image:url(../../grids/images/border-100px.gif);
	}

	.grid-12 .border-span-2,.module-versatile{
		background-image:url(../../grids/images/border-140px.gif);
	}

	#wb-body-sec #wb-core .grid-12 .border-span-3{
		background-image:url(../../grids/images/border-160px.gif);
	}

	.border-span-2,.module-versatile,#wb-body-sec #wb-core .grid-12 .border-span-4,.grid-12 .border-span-3{
		background-image:url(../../grids/images/border-220px.gif);
	}

	#wb-body-sec #wb-core .grid-12 .border-span-5{
		background-image:url(../../grids/images/border-280px.gif);
	}

	.grid-12 .border-span-4{
		background-image:url(../../grids/images/border-300px.gif);
	}

	.border-span-3,#wb-body-sec #wb-core .grid-12 .border-span-6{
		background-image:url(../../grids/images/border-340px.gif);
	}

	.grid-12 .border-span-5{
		background-image:url(../../grids/images/border-380px.gif);
	}

	#wb-body-sec #wb-core .grid-12 .border-span-7{
		background-image:url(../../grids/images/border-400px.gif);
	}

	.border-span-4,.module-table-contents,.module-welcomepage,#wb-body-sec #wb-core .grid-12 .border-span-8,.grid-12 .border-span-6{
		background-image:url(../../grids/images/border-460px.gif);
	}

	#wb-body-sec #wb-core .grid-12 .border-span-9{
		background-image:url(../../grids/images/border-520px.gif);
	}

	.grid-12 .border-span-7{
		background-image:url(../../grids/images/border-540px.gif);
	}

	.border-span-5,#wb-body-sec #wb-core .grid-12 .border-span-10{
		background-image:url(../../grids/images/border-580px.gif);
	}

	.grid-12 .border-span-8{
		background-image:url(../../grids/images/border-620px.gif);
	}

	#wb-body-sec #wb-core .grid-12 .border-span-11{
		background-image:url(../../grids/images/border-640px.gif);
	}

	.border-span-6,#wb-body-sec #wb-core .grid-12 .border-span-12,.grid-12 .border-span-9{
		background-image:url(../../grids/images/border-700px.gif);
	}

	.grid-12 .border-span-10{
		background-image:url(../../grids/images/border-780px.gif);
	}

	.border-span-7{
		background-image:url(../../grids/images/border-820px.gif);
	}

	.grid-12 .border-span-11{
		background-image:url(../../grids/images/border-860px.gif);
	}

	.border-span-8,.grid-12 .border-span-12{
		background-image:url(../../grids/images/border-940px.gif);
	}
}