/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 */
@mixin badges {
	%badge-border-radius-100 {
		padding: ($spacing-small - 2) $spacing-small + 1;
		@include border-radius(100px);
	}

	%badge-small-font {
		font-size: $font-small;
	}

	.badge-new {
		@include colorize-base($red);
		@include colorize($red, false, $border: "border");
		@extend %badge-small-font;
		@extend %badge-border-radius-100;
	}

	.badge-update {
		@include colorize-base($light);
		@include colorize($light, false, $border: "border");
		@extend %badge-small-font;
		@extend %badge-border-radius-100;
	}

	.badge-intro {
		font-size: 100%;
		@include inline-block;
		margin-right: $margin-medium / 2;
		margin-top: -($margin-medium / 2);
		padding: ($margin-medium / 2) $margin-medium;
		position: relative;

		@include colorize-base($medium);
		@include colorize($medium);

		@extend %badge-border-radius-100;

		a & {
			float: left;
			text-decoration: underline;
		}
	}

	#{headings(all)} {
		.badge-intro {
			font-size: $font-small;
			line-height: 1em;
		}
	}

}
