/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt
*/

//TODO: Parent div important, or can this be combined with the %border-image placeholder. The same rules are applied in util-screen without the parent div.
div {
	&.border-top, &.border-right, &.border-bottom, &.border-left, &.border-all {
		float: left;
		position: relative;
	}
}

%border-image {
	background-image: url(../images/border.gif);
	min-height: 1px;
}

.border-top, .border-bottom {
	background-repeat: repeat-x;
}

.border-left, .border-right {
	background-repeat: repeat-y;
}

.border-top {
	background-position: 0 0;
	@extend %border-image;
}

.border-bottom {
	background-position: 0 bottom;
	@extend %border-image;
}

.border-left {
	background-position: left 0;
	@extend %border-image;
}

.border-right {
	background-position: right 0;
	@extend %border-image;
}
.border-all {
	outline: 1px solid #ccc;
	background: none;
	@extend %border-image;
}

[class*="border-"] {
	> {
		#{headings(2,6)}, p {
			padding: 5px 10px !important;
		}
	}
}

/* Right to left (RTL) CSS */
[dir="rtl"] {
	div.border-top, div.border-right, div.border-bottom, div.border-left, div.border-all {
		float: right;
	}
}