/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt
*/

div.border-top,div.border-right,div.border-bottom,div.border-left,div.border-all {
	float: left;
	position: relative;
}
.border-image {
	background-image: url(../images/border.gif);
}
.border-top,.border-right,.border-bottom,.border-left,.border-all {
	min-height:1px;
	@extend .border-image;
}

.border-top, .border-bottom {
	background-repeat: repeat-x;
}

.border-left, .border-right {
	background-repeat: repeat-y;
}

.border-top {
	background-position:0 0;
}
	
.border-bottom {
	background-position:0 bottom;
}
 
.border-left {
	background-position: left 0;
}
 
.border-right {
	background-position: right 0;
}
.border-all {
	outline: 1px solid #ccc;
	background: none;
}

[class*="border-"] { 
	& > h2, & > h3, & > h4, & > h5, & > h6, & > p {
		padding: 5px 10px !important;
	}
}

[dir="rtl"] {
	div.border-top,div.border-right,div.border-bottom,div.border-left,div.border-all {
		float: right;
	}
}