/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt
 */
@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";
@import "compass/css3/images";
@import "compass/css3/transition";

@mixin buttons {
	
	.button {
		background-image: none;
		@include button($light);

		&:hover, &:focus, &:active {
			background-position: 0 -15px;
			text-decoration: none;
			outline-offset: -6px;
			@include single-transition(background-position, 0.1s, linear);
		}

		@include button-disabled {
			background: none;
			@include box-shadow(none);
			cursor: default;
			font-style: italic;
			text-shadow: none;
		}
	}

	%grid-button-color-button-accent {
		@include color-button($accent);
	}
	/* added for Firefox, Chrome, Safari to default submit buttons to blue */
	input[type="button"] {
		@extend %grid-button-color-button-accent;
	}

	/* without line 29 the buttons would not be coloured in IE, move to fixes? */
	input, button, a, summary {
		&.button-accent {
			@extend %grid-button-color-button-accent;
		}
		&.button-dark {
			@include color-button($dark);
		}
		&.button-info {
			@include color-button($info);
		}
		&.button-confirm {
			@include color-button($summary);
		}
		&.button-alert {
			@include color-button($alert);
		}
		&.button-attention {
			@include color-button($attention);
		}
		&.button-none {
			&, &:hover, &:focus, &:active {
				background: none;
				border-color: transparent !important;
				@include box-shadow(none);
				outline-color: transparent;
				text-decoration: underline;
				text-shadow: none;
			}
			&:hover, &:focus, &:active {
				color: $attention !important;
			}

			@include button-disabled {
				text-decoration: none !important;
				&:hover, &:focus, &:active {
					color: $dark !important;
				}
			}
		}
	}

	.button-small {
		@include button-size(2px 6px, 80%, 14px);
	}
	.button-large {
		@include button-size(7px 12px, 105%, 16px);
	}
	.button-xlarge {
		@include button-size(9px 14px, 120%, 18px);
	}

	.button-group {
		position: relative;
		@include has-layout-zoom;

		&:before, &:after {
			display: table;
			content: "";
		}
		&:after {
			clear: both;
		}

		.button {
			position: relative;
			float: left;
			margin-left: -1px;
			@include border-radius(0);

			&:hover, &:focus, &:active {
				z-index: 2;
			}
		}
		> {
			.button {
				&:first-child {
					@include border-left-radius(4px);
				}
				&:last-child {
					@include border-right-radius(4px);
				}
			}
		}
		li {
			list-style: none;
			float: left;
			&:first-child {
				.button {
					@include border-left-radius(4px);
				}
			}
			&:last-child {
				.button {
					@include border-right-radius(4px);
				}
			}
		}
	}

	%button-only-child {
		@include border-radius(4px);
		margin-right: 4px;
	}

	ul {
		&.button-group {
			margin: $margin-medium;
			li {
				&:nth-child(1):nth-last-child(1) {
					.button {
						@extend %button-only-child;
					}
				}
			}
		}
	}

	p {
		&.button-group {
			margin-top: 0;
			.button {
				&:nth-child(1):nth-last-child(1) {
					@extend %button-only-child;
				}
			}
		}
	}

	[class*="span-"] {
		 ul {
			 &.button-group, &.menu-horizontal {
				margin-left: 0;
				margin-right: 0;
			}
		}
	}

	.button-toolbar {
		margin-bottom: $spacing-medium;
		margin-top: $spacing-medium;

		p, ul {
			margin-top: 0;
			margin-bottom: 0;
		}

		.button-group {
			@include inline-block;
		}
	}

	// Right to left (RTL) CSS
	[dir="rtl"] {
		.button-group {
			.button {
				float: right;
				margin-left: auto;
				margin-right: -1px;
			}
			> {
				.button {
					&:first-child {
						@include border-radius(0 4px 4px 0);
					}
					&:last-child {
						@include border-radius(4px 0 0 4px);
					}
				}
			}
			li {
				float: right;
				&:first-child {
					.button {
						@include border-radius(0 4px 4px 0);
					}
				}
				&:last-child {
					.button {
						@include border-radius(4px 0 0 4px);
					}
				}
			}
		}

		%button-only-child-rtl {
			margin-right: auto;
			margin-left: 4px;
		}

		ul {
			&.button-group {
				margin: 0 10px 10px;
				li {
					&:nth-child(1):nth-last-child(1) {
						.button {
							@extend %button-only-child-rtl;
						}
					}
				}
			}
		}

		p {
			&.button-group {
				.button {
					&:nth-child(1):nth-last-child(1) {
						@extend %button-only-child-rtl;
					}
				}
			}
		}

		[class*="span-"] {
			 ul {
				 &.button-group, &.menu-horizontal {
					margin-left: 0;
					margin-right: 0;
				}
			}
		}

		&.ie7 {
			.button-group {
				.button {
					@extend %button-ie7-rtl-float-fix;
				}
				li {
					@extend %button-ie7-rtl-float-fix;
				}
			}
		}
	}

	%button-ie7-rtl-float-fix {
		zoom: 1;
		float: none;
		display: inline;
	}
}

@mixin button($color) {
	background-repeat: repeat-x; //TODO: Still needed now that images aren't used?
	border-width: 1px;
	border-style: solid;
	@include box-shadow(0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05));
	cursor: pointer;
	font-family: $sans-serif;
	line-height: 16px;
	padding: 4px 10px;
	text-align: center;
	text-decoration: none;
	@include border-radius;
	@include inline-block;
	@include color-button($color);
}

@mixin color-button($color) {

	background-color: $color;
	border-color: darken($color, 15%) darken($color, 15%) darken($color, 20%);

	$text: contrast-color($color, $dark, $white, 55%);
	color: $text !important;
	text-shadow: 0 1px 1px contrast-color($text, $dark, $white, 50%);

	@include background-image(linear-gradient($color, darken($color, 10%)));
	&:hover, &:focus, &:active {
		background-color: darken($color, 10%);
	}
	@if $experimental-support-for-mozilla {
		&:focus::-moz-focus-inner, &:active::-moz-focus-inner {
			border-color: $text;
		}
	}
	@include button-disabled {
		background-color: $color;
		border-color: darken($color, 5%);
	}
}

@mixin button-size($padding, $size, $height) {
	font-size: $size;
	line-height: $height;
	padding: $padding;
}

@mixin button-disabled() {
	@if $legacy-support-for-ie8 {
		&.button-disabled {
			@content;
		}
		
		&:disabled {
			@content;
		}
	} @else {
		&.button-disabled, &:disabled {
			@content;
		}
	}
}