/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt
 */
/* ---- IE7 fixes ---- */
.ie7 {
	input[type=submit] {
		border-color: #c8c8c8 !important;
	}
	label {
		@include inline-block;
	}
	ol ul li {
		list-style-type: disc !important;
		li {
			list-style-type: circle !important;
			li {
				list-style-type: square !important;
			}
		}
	}
	pre {
		word-wrap: break-word;
	}
	.module-billboard a {
		background-image:none !important;
	}
	.date-month {
		min-width:80px;
		p {
			padding-top:3px;
			padding-bottom:3px;
		}
	}
	.date-day {
		min-width:78px;
		width:auto;
	}
	.date-small .date-month {
		min-width: 40px;
	}
	.date-small .date-day {
		min-width: 38px;
	}
}