/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt
 */
/* ---- IE7 fixes ---- */
.ie7 {
	@extend %grid-fix-ie-all-versions;
	input[type=submit] {
		border-color: #c8c8c8 !important;
	}
	label {
		@include inline-block;
	}
	.form-label-inline {
	min-width: auto;
	}
	pre {
		word-wrap: break-word;
	}
}
.ie8 {
	@extend %grid-fix-ie-all-versions;
	.module-alert, .module-attention, .module-note, .module-info, .module-question, .module-answer, .module-tool, .module-inprogress, .module-refer, .module-summary, .module-archive {
		border: none;
	}
}
//Common fixes for IE7 and IE8
%grid-fix-ie-all-versions {
	.module-billboard {
		a {
			background-image: none !important;
		}
	}
	.date-month {
		min-width: 80px;
		p {
			padding-top: 3px;
			padding-bottom: 3px;
		}
	}
	.date-day {
		min-width: 78px;
		width: auto;
	}
	.date-small {
		.date-month {
			min-width: 40px;
		}
		.date-day {
			min-width: 38px;
		}
	}
}