/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt
 */
@import "compass/css3/inline-block";

%wb-icon {
	background: {
		image: url(../images/icons.png);
		repeat: no-repeat;
	}
	width: 16px;
	height: 16px;
	margin-right: 4px;
	@include inline-block(text-top);
}

[href^='mailto:']{
	background: {
		image: url(../images/mail.png);
		repeat: no-repeat;
	}
	padding-left: 19px;
}

%download-icon {
	background: {
			image: url(../images/download.png);
			repeat: no-repeat;
		}
	padding-left: 19px;
}
@each $downloadable-file-type in psd, zip, egret, doc, pdf, xls, rtf, pot, ppt, pps, pptm, docx, xlsx, pptx {
	[href$='.#{$downloadable-file-type}'] {
		@extend %download-icon;
	}
}

[rel="external"] {
    background-image: url(../images/external.png);
	background-position:right 0;
	background-repeat:no-repeat;
	padding-right:20px;
}

.wb-icon-none {
	background-image: none;
	padding-left: 0;
	display: inline;
	margin-right: 0;
}

[rel="external"] {
	&.wb-icon-none {
		background-image: inherit;
		padding-right:0
	}
}
/* Start the sprite positioning */
.wb-icon-alarm {
	@extend %wb-icon;
}
$first-row-sprite-x: -18px; // Because the alarm icon is the first in the series, but is omitted
@each $first-row-sprite in bank, book-address, book-alt, book-open, book, box, briefcase, bulb-off, bulb, calculator-arrow, calculator-exclamation, calculator-minus, calculator-plus, calculator, calendar-day, calendar-list, calendar-month, calendar, car, chart-down, chart-pie, chart-up, chart, clip, clipboard-exclamation, clipboard, clock, comment, compass, cone, construction, currency, desktop, direction, disk, document-zip, document, documents, door-open, door, drive-arrow, drive-download, drive-network, drive-upload, envelope-arrow, envelope-share, envelope, eraser, exclamation-alt, exclamation-alt2, exclamation, external, film, folder-alt, folder-open, folder, gavel, gear, globe, home, hourglass, image, info-alt, info, key, light-exclamation, light-green, light-red, light-yellow, light, lock-unlock, lock, luggage, magnet, magnifier, mail-open, mail, marker, megaphone, microphone, monitor, nav-090-alt, nav-090, nav-180-alt, nav-180, nav-270-alt, nav-270, nav-alt, nav, newspaper, note-pencil, note, paper-pencil, paper-share, paper, pencil, picture, printer, prohibit, question-alt, question, report-pencil, report, reports, rss, safe, scale, server-network, server, service-bell, sitemap {
	.wb-icon-#{$first-row-sprite} {
		background-position: 0 $first-row-sprite-x;
		@extend %wb-icon;
	}
	$first-row-sprite-x: $first-row-sprite-x - 18px;
}
//TODO: Make sprite single column and add the rest of the iterator values to the first array at the end.
$second-row-sprite-y: 0;
@each $second-row-sprite in table, target, fax, telephone, thermometer-high, thermometer-low, thermometer, tick-alt, tick-alt2, tick, tool, toolbox, tshirt, usb-arrow, usb-logo, usb, user, users, weather-cloud, weather-lightning, weather-rain, weather-snow, weather-sun-cloud, weather-sun, x-alt, x-alt2, x {
	.wb-icon-#{$second-row-sprite} {
		background-position: -18px $second-row-sprite-y;
		@extend %wb-icon;
	}
	$second-row-sprite-y: $second-row-sprite-y - 18px;
}

/* Right to left (RTL) CSS */
[dir="rtl"] {
	.wb-icon {
		background-position: top right;
	}

	[href^='mailto:']{
		background-position: 100% 0;
		padding-left: 0;
		padding-right: 19px;
		&.button {
			padding-left: 10px;
			padding-right: 10px;
		}
	}

	[href$='.psd'],[href$='.zip'],[href$='.doc'],[href$='.pdf'],[href$='.xls'],[href$='.rtf'],[href$='.pot'],[href$='.ppt'],[href$='.pps'],[href$='.pptm'],[href$='.docx'],[href$='.xlsx'],[href$='.pptx']{
		background-position: 100% 0;
		padding-left: 0;
		padding-right: 19px;
		&.button {
			padding-left: 10px;
			padding-right: 10px;
		}
	}

	[class*=wb-icon-] {
		margin-right: auto;
		margin-left: 4px;
	}

	.wb-icon-none {
		padding-right: 0;
		margin-right: auto;
		margin-left: 0;
	}
}
