/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 */
@import "compass/css3/inline-block";
@import "compass/utilities/sprites";

//Inline the sprite if not outputing for IE8
$wb-icon-inline: not $legacy-support-for-ie8;

@import "wb-icon/*.png";

@include all-wb-icon-sprites;

[class*="wb-icon-"] {
	width: 16px;
	height: 16px;
	margin-right: 4px;
	@include inline-block(text-top);
}

[href^='mailto:'] {
	background: {
		image: url(../images/wb-icon/mail.png);
		repeat: no-repeat;
	}
	padding-left: 19px;
}

%grids-icon-download-icon {
	background: {
		image: url(../images/wb-icon/drive-download.png);
		repeat: no-repeat;
	}
	padding-left: 19px;
}
@each $downloadable-file-type in psd, zip, egret, doc, pdf, xls, rtf, pot, ppt, pps, pptm, docx, xlsx, pptx, pub {
	[href$='.#{$downloadable-file-type}'] {
		@extend %grids-icon-download-icon;
	}
}

// Adds icon to all external links that are outside the header or footer
[rel="external"] {
	background: url(../images/wb-icon/external.png) 100% 0 no-repeat;

	//gh-2104 fixes overriding background because of increased specificity when wb-main was used
	#wb-head &, #wb-foot & {
		background: none;
	}

	#wb-main &, #colorbox & {
		padding-right: 20px;

		&.wb-icon-none {
			padding-right: 0;
		}
	}
}

.wb-icon-none {
	background-image: none;
	padding-left: 0;
	display: inline;
	margin-right: 0;
}

/* Right to left (RTL) CSS */
[dir="rtl"] {
	[class*="wb-icon-"] {
		background-position: top right;
	}

	[href^='mailto:'] {
		background-position: 100% 0;
		padding-left: 0;
		padding-right: 19px;
	}

	[href$='.psd'], [href$='.zip'], [href$='.doc'], [href$='.pdf'], [href$='.xls'], [href$='.rtf'], [href$='.pot'], [href$='.ppt'], [href$='.pps'], [href$='.pptm'], [href$='.docx'], [href$='.xlsx'], [href$='.pptx'] {
		background-position: 100% 0;
		padding-left: 0;
		padding-right: 19px;
	}

	[class*=wb-icon-] {
		margin-right: auto;
		margin-left: 4px;
	}

	.wb-icon-none {
		padding-right: 0;
		margin-right: auto;
		margin-left: 0;
	}
	// Adds icon to all external links that are outside the header or footer
	[rel="external"] {
		background: url(../images/external-rtl.png) no-repeat;
	}
	
	#wb-main, #colorbox {
		[rel="external"] {
			padding-left: 20px;
			padding-right: 0;
			
			&.wb-icon-none {
				padding-left: 0;
			}
		}
	}
}
