/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt
 */
@mixin lists {
	@include list-base;
}

@mixin list-base {

	ul, dl, ol {
		margin: $margin-medium $margin-medium $margin-medium 40px;
		padding: 0;
	}
		
	ol ol li { list-style-type: lower-alpha; }
	ol ol ol li { list-style-type: lower-roman; }

	ol.list-numeric li		{ list-style-type: decimal !important; }
	.list-lower-alpha		{ list-style-type: lower-alpha !important; }
	.list-lower-roman		{ list-style-type: lower-roman !important; }
	.list-bullet-none		{ list-style-type: none !important; }
	.list-upper-alpha		{ list-style-type: upper-alpha !important; }
	.list-upper-roman		{ list-style-type: upper-roman !important; }

	ul.menu-horizontal {
		@include horizontal-list(2px);
		margin: 0 10px;
		
		li {
			margin-bottom: 5px;
		}
	}
	
/*ul,dl,ol{margin:0 10px 10px 40px;padding:0;}
#wb-sec-nav li{margin:0;}
#wb-core ul ul,#wb-core dl dl,#wb-core ol ol,ul ul,dl dl,ol ol{margin-bottom:4px;margin-left:30px;}
#wb-core{
	ul ul,ol ul,ul ol,ul ul,ol ul,ul ol,ul ul,ol ul,ul ol{margin-bottom:0 !important;padding-top:0 !important;}
}*/
	ul{
		ul{
			margin-top:0 !important;
		}
	}
}


$fugue-width: 16px;
$fugue-height: 16px;
$fugue-line-height: 18px;
$fugue-padding: 30px;

@mixin fugue-icon($bullet-icon, $width: $fugue-width, $height: $fugue-height, $line-height: $fugue-line-height, $padding: $fugue-padding) {
	background: url("../images/" + $bullet-icon) no-repeat ($padding - $width) / 2 ($line-height - $height) / 2;
}