/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt
 */
@import "compass/css3/text-shadow";
@import "compass/utilities/color";

$sans-serif:		Verdana, Arial, Helvetica, sans-serif;
$serif:				Georgia, "Times New Roman", Times, serif;

$margin-xsmall:		1px;
$margin-small:		2px;
$margin-medium:		10px;
$margin-large:		20px;
$margin-xlarge:		50px;

$spacing-xsmall:	1px;
$spacing-small:		5px;
$spacing-medium:	10px;
$spacing-large:		20px;
$spacing-xlarge:	50px;

$font-xxsmall:		50%;
$font-xsmall:		70%;
$font-small:		85%;
$font-medium:		100%;
$font-large:		120%;
$font-xlarge:		150%;
$font-xxlarge:		180%;

$font-weight-normal:	400;
$font-weight-bold:		700;

$highlight:		#ffffc9;
$accent:		#176ca7; //#176ca7; //#1a7abd; // #cc0000;
$black:			#000000;
$dark:			#222222;
$medium:		#666666;
$light:			#eeeeee;
$white:			#ffffff;
$silver:		#cccccc;

$red: 			#d73d38;
$yellow:		#ffe75d;


$alert:			$red;
$attention:		$yellow;
$note:			#555555;
$info:			#2a7da6;
$question:		#888888;
$answer:		#6c9f42;
$tool:			#bab595;
$inprogress:	#6d92a5;
$refer:			#3f577c;
$summary:		#418541;
$archive:		#b93531;

$line-height:		18px;

// global
// used in: @border-radius
$default-border-radius:		4px;

// custom
// used in: @colorize
$default-color: #cccccc;
$default-color-gradient: true;
$default-color-shadow: true;
$default-color-border: false;

$accent-1: #8d201c;
$accent-2: #EE8310;
$accent-3: #2a7da6;
$accent-4: #5a306b;
$accent-5: #285228;
$accent-6: #154055;
$accent-7: #555555;
$accent-8: #f6d200;
$accent-9: #d73d38;
$accent-10: #418541;
$accent-11: #87aec9;
$accent-12: #23447e;
$accent-13: #999999;


@mixin colorize-base($color: $default-color, $important: false) {

	// set default colors
	$text: contrast-color($color, $dark, $white, 75%);
	@if $important {
		background-color: $color !important;
	} @else {
		background-color: $color;
	}
	color: $text !important;

	// apply link colors to base only
	a {
		&, &:link, &:visited {
			color: $text;
		}

		&:hover, &:focus, &:active {
			@if $text == white {
				color: darken($text, 10%);
			} @else {
				color: lighten($text, 20%);
			}
		}
	}

}

@mixin colorize-border($color: $default-color, $border: "border") {

	@if $border == "border" {
		border: 1px solid darken($color, 10%);
	} @else if $border == "outline" {
		outline: 1px solid darken($color, 10%);
	}

}

@mixin colorize($color: $default-color, $gradient: $default-color-gradient, $shadow: $default-color-shadow, $border: $default-color-border, $important: false) {

	// used to set text shadow
	$text: contrast-color($color, $dark, $white, 75%);

	@if $border {
		@include colorize-border($color, $border)
	}

	// add text shadow
	@if $shadow == true {
		@include text-shadow(contrast-color($text, $dark, $white, 50%) 0 1px 1px);
	}

	// add gradient
	@if $gradient == true {

		background-repeat: repeat-x;

		@if $important {
			@include background-image(linear-gradient($color, darken($color, 7%)) !important);
		} @else {
			@include background-image(linear-gradient($color, darken($color, 7%)));
		}
	}

}

//TODO: Move non-mixins to appropriate sheet
/*   base appearance   */
body {
	font-size: 13px;
	line-height: 1.5em;
}

p, table {
	margin-bottom: $margin-medium;
	margin-top: $margin-medium;

	img {
		margin-left: 0;
	}
}

pre {
	@if $legacy-support-for-mozilla {
		overflow-x: auto;  /* Use horizontal scroller if needed; for Firefox 2, not needed in Firefox 3 */
	}
	white-space: pre-wrap;
}

blockquote, form, img, pre {
	margin-bottom: $margin-medium;
}

// reset elements in grid system
[class*="span-"] {

	// reset margin left and right to elements that are used inside a grid cell
	#{headings(all)}, p, blockquote, table, form, img, pre, details {
		margin-left: 0;
		margin-right: 0;
	}

	p {
		margin-bottom: $margin-medium;
		margin-top: $margin-medium;
	}

	ul, ol, dl {
		margin: 5px 5px 10px 40px;
		padding: 0;
	}

	.float-right {
		margin-right: 0;
	}
}

/* Right to left (RTL) CSS */
[dir="rtl"] {
	p, table {
		img {
			margin-left: auto;
			margin-right: 0;
		}
	}

	// reset elements in grid system
	[class*="span-"] {
		ul, ol, dl {
			margin: 5px 40px 10px 5px;
		}
		.float-left {
			margin-left: 0;
		}
	}
}
