/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-eng.txt / wet-boew.github.io/wet-boew/Licence-fra.txt
 */
@import "compass/css3/box-sizing";
@import "compass/typography/lists/bullets";
@import "compass/css3/border-radius";

@mixin modules {

	.module-billboard, .module-menu-section, .module-table-contents {
		p, #{headings(2,6)} {
			@include header;
			@include colorize-base($medium);
			@include colorize($medium);
		}
	}

	.module-related {
		p, #{headings(2,6)} {
			@include header;
			@include colorize-base($accent);
			@include colorize($accent);
		}
	}

	.module-billboard li, .module-related > ul, .module-menu-section > ul {
		margin-top: 1px !important;
		margin-bottom: 0;
	}

	.module-billboard, .module-related, .module-menu-section {
		ul {
			margin: 0;
			@include no-bullets;
		}
	}

	[class*="module-"] {
		.background-light {
			color: #222 !important;
			text-shadow: 0 1px 1px #FFF;
		}
	}

	.module {
		@include module-colorize;
		outline: 1px solid darken($light, 10%);
		margin-top: 2px;
		margin-bottom: 3px;
		padding: 1px 0;
		p, #{headings(2,6)}, blockquote, > span {
			margin-left: 10px;
			margin-right: 10px;
			@include border-radius(0);
		}
	}

	.module-billboard {
		ul {
			li {
				a {
					&, &:link, &:visited {
						display: block;
						min-height: 32px;
						padding: $spacing-medium;
						text-decoration: none;
						background-repeat: no-repeat;
						background-position: 100% 0; //top right;
						text-shadow: -1px -1px 0 #333, 1px -1px 0 #333, -1px 1px 0 #555, 1px 1px 0 #000;
						font-weight: 700;
						@include colorize-base($accent);
					}
					@include pseudo-focus {
						text-decoration: underline;
					}
				}
			}
		}
	}

	.module-related, .module-menu-section {
		ul {
			@include module-colorize($border: "border");
			li {
				border-top: 1px dotted darken($light, 10%);
				margin-bottom: 0 !important;
				&:first-child {
					border-top: none;
				}
			}
		}
	}

	.module-related ul li, .module-menu-section ul li a {
		display: block;
		padding: ($margin-medium / 2) $margin-medium;
	}

	.module-menu-section {
		ul {
			li {
				a {
					display: block;
					text-decoration: none;
					@include pseudo-focus {
						background-color: darken($light, 3%);
						text-decoration: underline;
					}
				}
				ul {
					border: none;
					border-top: 1px dotted darken($light, 10%) !important;
					margin-left: 0 !important;
				}
				li {
					a {
						padding-left: 20px !important;
					}
					li {
						a {
							padding-left: 30px !important;
						}
					}
				}
			}
		}
	}

	.module-table-contents {
		background: none;
		> [class*="span-"] {
			margin-bottom: 0 !important;
		}
		> ul, > ol, > nav, > section {
			@include module-colorize($border: "border");
		}
		ul {
			&, &[class*="column-"] {
				list-style-type: none;
				margin: 0;
				padding: $margin-medium $margin-medium;
				li {
					margin-bottom: $margin-medium / 2;
					margin-left: 25px;
					list-style-image: url("../images/bullet.png");
				}
			}
			ul {
				padding-top: 5px;
				padding-bottom: 0;
			}
		}
	}

	.module-table-contents {
		background: none;
		> [class*="span-"] {
			margin-bottom: 0 !important;
		}
		> ul, > ol, > nav, > section {
			@include module-colorize($border: "border");
		}
		ul, ol {
			&, &[class*="column-"] {
				margin: 0;
				padding: $margin-medium $margin-medium;
				li {
					margin-bottom: $margin-medium / 2;
					margin-left: 25px;
				}
			}
			ul, ol {
				padding-top: 5px;
				padding-bottom: 0;
			}
		}
	}

	.module-table-contents {
		ul {
			&, &[class*="column-"] {
				list-style-type: none;
				li {
					list-style-image: url("../images/bullet.png");
				}
			}
		}
	}

	.module-poster {
		display: block;
		padding: $margin-medium / 2;
		@include border-radius;
		@include module-colorize($border: "border");
		.image-caption {
			margin: $margin-medium $margin-medium ($margin-medium / 2);
			#{headers(2, 6)} {
				font-family: $sans-serif;
			}
			& > * {
				font-size: 100%;
				line-height: 1.5;
				margin: 0;
				padding: 0;
			}
		}
		img {
				margin-bottom: 0;
		}
	}

	.module-contact {
		.clear {
			border-top: 1px solid #eee;
			visibility: visible;
			width: auto;
		}
		& [class*="span-"]{
				margin-bottom: 0 !important;
		}
	}

	.module-news {
		#{headers(2, 6)} {
			border-bottom: 2px solid $medium;
			a {
				text-decoration: none;
			}
			&:first-child { margin-top: 0 !important; }
		}
	}

	.module-news-article {
		padding: $spacing-medium $spacing-medium 0;
		@include module-colorize($border: "border", $shadow: true);
		img {
			display: block;
		}
	}

	.module-spotlight {
		@include module-colorize($accent, $border: "outline");
		ul {
			@include no-bullet;
			li {
				clear: left;
				margin-bottom: 10px !important;
				overflow: hidden;
				span { display: block; }
			}
			img {
				float: left;
				margin: 0 10px;
			}
			p {
				padding-left: 10px;
			}
		}
		img {
			width: 100px !important;
			float: left;
			margin-left: 10px;
		}
		& > * {
			padding: 10px;
			margin: 0;
		}
	}

	.module-comment {
		ol, ul {
			@include no-bullet;
			margin-right: 0;
			li {
				margin-bottom: $margin-medium;
				padding: $margin-medium $margin-medium $margin-medium ($margin-xlarge - $margin-medium) !important;
				@include fugue-icon("user-silhouette.png", $line-height: 40px, $padding: 40px);
				@include border-radius;
				@include module-colorize($border: "border");
			}
		}
	}

	div {
		[class*="module-"] {
			li {
				margin-bottom: $margin-medium / 2;
			}
		}
		.module-alert, .module-attention, .module-note, .module-info, .module-question, .module-answer, .module-tool, .module-inprogress, .module-refer, .module-summary, .module-archive {
			background-image: url('../images/module.jpg');
			background-repeat: no-repeat;
			padding-bottom: 5px;
			padding-top: 30px;
			@include box-sizing(border-box);
			> div, p, #{headings(2,6)} {
				margin: $margin-medium;
			}
			ul, ol {
				margin: $margin-medium $margin-medium $margin-medium 40px;
			}
			#{headers(2, 6)} {
				border-bottom: 1px solid #ddd;
				font-family: $sans-serif;
				font-size: 130%;
				font-weight: $font-weight-normal;
				width: auto;
			}
			&.module-simplify {
				background-image: none;
				padding-top: 5px;
			}
		}
		.module-attention {
			@include module-colorize($attention, $border: "outline"); background-position: 0 0;
		}
		.module-alert {
			@include module-colorize($alert, $border: "outline"); background-position: -1200px 0;
		}
		.module-note {
			@include module-colorize($note, $border: "outline"); background-position: -2400px 0;
		}
		.module-info {
			@include module-colorize($info, $border: "outline"); background-position: -3600px 0;
		}
		.module-question {
			@include module-colorize($question, $border: "outline"); background-position: -4800px 0;
		}
		.module-answer {
			@include module-colorize($answer, $border: "outline"); background-position: -6000px 0;
		}
		.module-tool {
			@include module-colorize($tool, $border: "outline"); background-position: -7200px 0;
		}
		.module-inprogress {
			@include module-colorize($inprogress, $border: "outline"); background-position: -8400px 0;
		}
		.module-refer {
			@include module-colorize($refer, $border: "outline"); background-position: -9600px 0;
		}
		.module-summary {
			@include module-colorize($summary, $border: "outline"); background-position: -10800px 0;
		}
		.module-archive {
			@include module-colorize($archive, $border: "outline"); background-position: -12000px 0;
		}
	}
}

// used in: @module-colorize
$default-module-color: #ccc;
$default-module-border: false;
$default-module-shadow: false;

@mixin module-colorize($color: $default-module-color, $shadow: $default-module-shadow, $border: $default-module-border) {
	background-color: mix($color, $white, 10%);
	@if $border == "border" {
		border: 1px solid $color;
	} @else if $border == "outline" {
		outline: 1px solid $color;
	}

	@if $shadow == true {
		@include box-shadow(0 2px 2px rgba($color, 0.15));
	}
}

$fugue-width: 16px;
$fugue-height: 16px;
$fugue-line-height: 18px;
$fugue-padding: 30px;

@mixin fugue-icon($bullet-icon, $width: $fugue-width, $height: $fugue-height, $line-height: $fugue-line-height, $padding: $fugue-padding) {
	background: url("../images/" + $bullet-icon) no-repeat ($padding - $width) / 2 ($line-height - $height) / 2;
}
