/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt
 */

@mixin tables {

	table {
		@include table;

		&.table-simplify {

			border: none;

			thead {

				border-bottom: 2px solid $dark;

				th, td {
					border-top: none;
				}
			}
			td, th {
				border: none;
				border-top-style: solid;
				border-top-width: 1px;
				text-align: left;
			}

			.table-header {
				td, th {
					border-top: 2px solid $dark;
					border-bottom: 1px solid $dark;
					font-weight: 400;
				}
			}

			tfoot { border-bottom: none; }
			.table-footer, tfoot { border-top: 2px solid $dark;	}
			.table-footer { border-bottom: 2px solid $dark; }

			@include table-color($white);
		}

		&.table-condensed {
			td, th {
				padding-bottom: $spacing-small;
				padding-top: $spacing-small;
			}
		}

		&.table-bordered {

			border: 1px solid darken($light, 10%);
			border-left: 0;
			border-collapse: separate;
			@if $legacy-support-for-ie7 {
				*border-collapse: collapse;
			}
			@include border-radius(4px);

			thead, tbody {
				&:first-child {
					tr {
						&:first-child {
							td, th {
								border-top: none;
							}
							th {
								&:first-child {
									@include border-radius($default-border-radius 0 0 0);
								}
								&:last-child {
									@include border-radius(0 $default-border-radius 0 0);
								}
							}
						}
					}
				}
				&:last-child {
					tr {
						&:last-child {
							th {
								&:first-child {
									@include border-radius(0 0 0 $default-border-radius);
								}
								&:last-child {
									@include border-radius(0 0 $default-border-radius 0);
								}
							}
						}
					}
				}
			}

			th, td {
				border: {
					bottom: none;
					right: none;
					left-style: solid;
					left-width: 1px;
				}
			}
		}

		&.align-right {

			tbody, tfoot {
				td, th {
					&:first-child { text-align: left; }
				}
				td {
					text-align: right;
				}
			}

		}

		&.table-accent {
			@include table-color($accent);
		}
		&.table-dark {
			@include table-color($dark);
		}
		&.table-medium {
			@include table-color($medium);
		}

	}

}

@mixin table {

	background-color: $white;
	border-collapse: collapse;
	border-spacing: 0;
	max-width: 100%;
	@include table-color($light);

	caption {
		margin-bottom: $spacing-small;
		text-align: center;
	}

	th, td {
		border-style: solid;
		border-width: 1px;
		padding: $spacing-medium - 2;
		vertical-align: top;
	}

	th {
		text-align: center;
	}

	table, img, p, ul, ol, dl {
		margin: 0 0 $spacing-medium;
	}

	ul, ol, dl {
		margin-left: $spacing-large;
	}

}

@mixin table-color($color) {

	$text: contrast-color($color, $dark, $white, 50%);
	$shadow: contrast-color($text, $dark, $white, 50%);
	$border: contrast-color($color, darken($color, 10%), lighten($color, 20%), 25%);

	border-color: $border;

	th, td {
		border-color: $border;
	}
	th {
		background-color: $color;
		color: $text;
		text-shadow: 0 1px 1px $shadow;
	}

}