/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 */

@mixin thermometer {
	p[class*="thermometer"] {
		padding-bottom: 230px !important;
		background: {
			repeat: no-repeat;
			position: center bottom;
		}
	}
	[class*="background-"] {
		p[class*="thermometer"] {
			padding-bottom: 230px !important; //TODO: Looks like the rule above already covers this
		}
	}
	.thermometer-0 {
		background-image: url(../images/thermometer-0.gif);
	}
	.thermometer-10 {
		background-image: url(../images/thermometer-10.gif);
	}
	.thermometer-20 {
		background-image: url(../images/thermometer-20.gif);
	}
	.thermometer-30 {
		background-image: url(../images/thermometer-30.gif);
	}
	.thermometer-40 {
		background-image: url(../images/thermometer-40.gif);
	}
	.thermometer-50 {
		background-image: url(../images/thermometer-50.gif);
	}
	.thermometer-60 {
		background-image: url(../images/thermometer-60.gif);
	}
	.thermometer-70 {
		background-image: url(../images/thermometer-70.gif);
	}
	.thermometer-80 {
		background-image: url(../images/thermometer-80.gif);
	}
	.thermometer-90 {
		background-image: url(../images/thermometer-90.gif);
	}
	.thermometer-100 {
		background-image: url(../images/thermometer-100.gif);
	}
	.thermometer-110 {
		background-image: url(../images/thermometer-110.gif);
	}
	.thermometer-120 {
		background-image: url(../images/thermometer-120.gif);
	}
}
