/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt
 */
@import "compass/css3/opacity";
@import "mixins";

/*   base appearance   */
body {
	line-height: 1.5em;
}

p, table {
	margin-bottom: $margin-medium;
	margin-top: $margin-medium;

	img {
		margin-left: 0;
	}
}

pre {
	white-space: pre-wrap;
}

blockquote, form, img, pre {
	margin-bottom: $margin-medium;
}

// reset elements in grid system
[class*="span-"] {

	// reset margin left and right to elements that are used inside a grid cell
	#{headings(all)}, p, blockquote, table, form, img, pre, details {
		margin-left: 0;
		margin-right: 0;
	}

	p {
		margin-bottom: $margin-medium;
		margin-top: $margin-medium;
	}

	ul, ol, dl {
		margin: 5px 5px 10px 40px;
		padding: 0;
	}

	.float-right {
		margin-right: 0;
	}
}

/* Right to left (RTL) CSS */
[dir="rtl"] {
	p, table {
		img {
			margin-left: auto;
			margin-right: 0;
		}
	}

	// reset elements in grid system
	[class*="span-"] {
		ul, ol, dl {
			margin: 5px 40px 10px 5px;
		}
		.float-left {
			margin-left: 0;
		}
	}
}

@import "border";
@import "button";
@import "color";
@import "module";
@import "table";
@import "form";
@import "badge";
@import "list";
@import "icon";
@import "thermometer";

@include buttons; /*done buttons*/
@include colors;
@include modules;
@include tables;	/*done tables*/
@include forms;
@include badges;	/*done tables*/
@include lists;
@include thermometer;

// fixes

%util-screen-font-weight-700 {
	font-weight: 700;
}

/* ---- Headings ---- */
#wb-main {
	#{headings(all)} {
		font-weight: $font-weight-bold;
		line-height: 150%;
		vertical-align: bottom;
	}
}

h1 {
	&:not(.ui-title) {
		color: $dark;
		border-bottom: 1px dotted $silver;
		padding: 0;
	}
}

h2 {
	&:not(.ui-title) {
		color: lighten($dark, 20%);
	}
}

h3 {
	&:not(.ui-title) {
		color: $medium;
	}
}

h4 {
	&:not(.ui-title) {
		color: $dark;
	}
}

h5 {
	&:not(.ui-title) {
		color: lighten($dark, 20%);
		@extend %util-screen-font-weight-700;
	}
}

h6 {
	&:not(.ui-title) {
		color: $medium;
		@extend %util-screen-font-weight-700;
	}
}

[class*="span-"] {
	#{headings(2, 6)} {
		//margin: $margin-large 0 $margin-medium;
		margin-left: 0;
		margin-right: 0;
	}
}

/*	 text	 */
.font-serif	{
	font-family: $serif;
}
.font-sans-serif {
	font-family: $sans-serif;
}
.wrap-none {
	white-space: nowrap;
}

.font-xxsmall {
	font-size: $font-xxsmall !important;
}
.font-xsmall {
	font-size: $font-xsmall !important;
}
.font-small {
	font-size: $font-small !important;
}
.font-medium {
	font-size: $font-medium !important;
}
.font-large	 {
	font-size: $font-large !important;
}
.font-xlarge	{
	font-size: $font-xlarge !important;
}
.font-xxlarge {
	font-size: $font-xxlarge !important;
}

blockquote {
	&, &.float-left, &.float-right {
		border-left: {
			width: 8px !important;
			color: $accent !important;
		}
		font: {
			family: $serif;
			size: 110%;
			style: italic;
		}
		line-height: 1.6em;
		padding: $spacing-medium $spacing-large;

		@include colorize-base(lighten($light, 3%));
		@include colorize-border(lighten($light, 3%));
	}
	&.float-left {
		float: left;
		margin-right: $spacing-medium;
		width: 30%;
	}
	&.float-right {
		float: right;
		margin-left: $spacing-medium;
		width: 30%;
	}
	&.float-right, &.float-left {
		font: {
			family: $serif;
		}
		border: {
			left: none;
			right: none;
		}
		padding: 0 10px;
	}
	.align-left, .align-right {
		font-style: normal;
		font-family: Verdana, Geneva, sans-serif;
		font-size: 90%;
	}
}

code {
	font: {
		size: 90%;
		weight: $font-weight-normal;
	}
	padding: 0 2px !important;
	text-shadow: none;

	@include colorize-base($light);
	@include colorize-border($light);
}

pre {
	code {
		background: none;
		border: none;
		padding: 0 !important;
	}
}

/*	 margin	 */
.margin-bottom-none	 {
	margin-bottom: 0 !important;
}
.margin-bottom-small {
	margin-bottom: $margin-small !important;
}
.margin-bottom-medium {
	margin-bottom: $margin-medium !important;
}
.margin-bottom-large {
	margin-bottom: $margin-large !important;
}
.margin-bottom-xlarge {
	margin-bottom: $margin-xlarge !important;
}
.margin-top-none {
	margin-top: 0 !important;
}
.margin-top-small {
	margin-top: $margin-small !important;
}
.margin-top-medium {
	margin-top: $margin-medium !important;
}
.margin-top-large {
	margin-top: $margin-large !important;
}
.margin-top-xlarge {
	margin-top: $margin-xlarge !important;
}
.margin-right-none {
	margin-right: 0 !important;
}
.margin-right-small {
	margin-right: $margin-small !important;
}
.margin-right-medium {
	margin-right: $margin-medium !important;
}
.margin-right-large {
	margin-right: $margin-large !important;
}
.margin-right-xlarge {
	margin-right: $margin-xlarge !important;
}
.margin-left-none {
	margin-left: 0 !important;
}
.margin-left-small {
	margin-left: $margin-small !important;
}
.margin-left-medium {
	margin-left: $margin-medium !important;
}
.margin-left-large {
	margin-left: $margin-large !important;
}
.margin-left-xlarge {
	margin-left: $margin-xlarge !important;
}

/*	 indentation	 */
.indent-none {
	margin-left: 0 !important;
}
.indent-small {
	margin-left: $margin-small !important;
}
.indent-medium {
	margin-left: $margin-medium !important;
}
.indent-large {
	margin-left: $margin-large !important;
}
.indent-xlarge			{
	margin-left: $margin-xlarge !important;
}

/*	 alignment	 */
.align-left {
	text-align: left !important;
}
.align-center {
	text-align: center !important;
}
.align-right {
	text-align: right !important;
}
p {
	&.align-right {
		margin-right: $margin-medium;
	}
}
.align-top {
	vertical-align: top !important;
	img {
		vertical-align: text-top !important;
	}
}
.align-middle	 {
	vertical-align: middle !important;
}
.align-bottom	 {
	vertical-align: bottom !important;
	img {
		vertical-align: text-bottom !important;
	}
}

/*	 line height	 */
.line-height-xsmall	 {
	line-height: 0.8 !important;
}
.line-height-small		{
	line-height: 1.0 !important;
}
.line-height-medium	 {
	line-height: 1.25 !important;
}
.line-height-large		{
	line-height: 1.5 !important;
}
.line-height-xlarge	 {
	line-height: 2.0 !important;
}


/*	 floating	 */
img {
	&.float-left {
		margin-right: $margin-medium;
	}
}
.float-left {
	float: left !important;
}
.float-right {
	float: right !important;
} /* If a grid cell is floated right and there happens to be a heading with a border-bottom or background colour to the left, some browsers	render the decoration across the entire space which slices through the float right element. The white background masks this. */

/*	 width	 */
$i: 100;
@while $i > 0 {
  .width-#{$i} { width: #{$i}% !important; }
  $i: $i - 10;
}

/*	 opacity	 */
$i: 100;
@while $i > 0 {
  .opacity-#{$i} { @include opacity($i / 100); }
  $i: $i - 10;
}

.border-top, .border-right, .border-bottom, .border-left, .border-all {
	float: left;
	position: relative;
	@extend %border-image;
}

.border-top {
	background-position: 0 0;
	background-repeat: repeat-x;
	min-height: 1px;
}

.border-bottom {
	background-position: 0 bottom;
	background-repeat: repeat-x;
	min-height: 1px;
}

.border-left {
	background-position: left 0;
	background-repeat: repeat-y;
}

.border-right {
	background-position: right 0;
	background-repeat: repeat-y;
}
.border-all {
	outline: 1px solid #ccc;
	background: none;
}

/* ---- Keyboard keys ---- */
kbd {
	background: #eee none repeat scroll 0 0;
	border: {
		color: #ccc #999 #777 #999;
		style: solid;
		width: 1px 3px 3px 2px;
	}
	font: {
		family: Arial, Helvetica, sans-serif;
		size: 80%;
	}
	padding: 0 3px;
	white-space: nowrap;
	@include border-radius(2px);
}

/*	grid on a table	 */
table {
	&.span-1, &.span-2, &.span-3, &.span-4, &.span-5, &.span-6, &.span-7, &.span-8, &.span-9, &.span-10, &.span-11, &.span-12 {
		display: table;
	}
}

/*	display overrides  */
.display-block {
	display: block !important;
}

.display-inline-block {
	display: inline-block !important;
}

.display-inline {
	display: inline !important;
}

/*	date  */
.date-container {
	height: 94px;
	float: left;
	margin-right: $margin-medium;
	margin-left: $margin-medium;
	min-width: 80px;
	position: relative;
	text-align: center;
}

[class*="span-"] .date-container {
	margin-left: 0;
}

.date-month {
	width: 100%;
	border: 1px solid rgba(0, 0, 0, 0.25);
	@include box-shadow(inset 0 1px 1px 0 rgba(255, 255, 255, 0.4));

	@include border-top-radius;
	@include colorize-base($accent);
	@include colorize($accent, $border: false);
	p {
		text-align: center;
		color: #fff;
		font-size: 85%;
		text-shadow: 0 1px 0 #111;
		margin: 5px 0 0 0;
		margin: 0 8px;
		padding: 0 0 1px 0;
	}
  a {
    color: #fff !important;
  }
	abbr, acronym {
		border: none;
	}
}
.date-day {
	background: $white;
	border: 1px solid $silver;
	height: 55px;
	width: 100%;
	@include background-image(linear-gradient(rgba(255, 255, 255, 1), rgba(247, 247, 247, 1)));
	@include border-bottom-radius($default-border-radius);
	@include box-shadow(0 1px 0 0 $light, 0 2px 0 0 $silver, 0 3px 0 0 $light, 0 4px 0 0 $silver);
	p {
		text-align: center;
		font: {
			size: 275%;
			weight: $font-weight-bold;
		}
		color: $dark;
		letter-spacing: -0.1em;
		line-height: 55px;
		text-shadow: 1px 1px 0 $white;
		margin: 0 !important;
		width: 100%;
	}
}

.date-small {
	height: 64px;
	min-width: 40px;
	.date-day {
		height: 30px;
		p {
			line-height: 30px;
			font-size: 150%;
		}
	}
}

/* Right to left (RTL) CSS */
[dir="rtl"] {
	blockquote {
		&, &.float-left, &.float-right {
			border-left: {
				width: 1px !important;
				color: #ddd !important;
			}

			border-right: {
				width: 8px !important;
				color: $accent !important;
			}
		}
	}

	.border-top, .border-right, .border-bottom, .border-left, .border-all {
		float: right;
	}

	.date-container {
		float: right;
	}

	[class*="span-"] .date-container {
		margin-left: auto;
		margin-right: 0;
	}

	//	 indentation
	.indent-none {
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
	.indent-small {
		margin-left: 0 !important;
		margin-right: $margin-small !important;
	}
	.indent-medium {
		margin-left: 0 !important;
		margin-right: $margin-medium !important;
	}
	.indent-large {
		margin-left: 0 !important;
		margin-right: $margin-large !important;
	}
	.indent-xlarge {
		margin-left: 0 !important;
		margin-right: $margin-xlarge !important;
	}
}
