/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt
 */
@import "list";
@include lists;

.margin-bottom-none {
	margin-bottom: 0 !important;
}

.margin-bottom-small {
	margin-bottom: 2px !important;
}

.margin-bottom-medium {
	margin-bottom: 10px !important;
}

.margin-bottom-large {
	margin-bottom: 20px !important;
}

.margin-bottom-xlarge {
	margin-bottom: 57px !important;
}

.margin-top-none {
	margin-top: 0 !important;
}

.margin-top-small {
	margin-top: 2px !important;
}

.margin-top-medium {
	margin-top: 10px !important;
}

.margin-top-large {
	margin-top: 20px !important;
}

.margin-top-xlarge {
	margin-top: 57px !important;
}

.font-xsmall {
	font-size: 70% !important;
}

.font-small {
	font-size: 85% !important;
}

.font-medium {
	font-size: 100% !important;
}

.font-large {
	font-size: 120% !important;
}

.font-xlarge {
	font-size: 130% !important;
}

table {
	border: 1px solid #ccc;
	border-collapse: collapse;
}

caption {
	text-align: left;
}

th {
	background-color: #eee;
	border: 1px solid #ccc;
	color: #555;
	text-align: center;
	padding: 8px;
}

td {
	border: 1px solid #ccc;
	vertical-align: top;
	padding: 5px 10px;
}

/* Right to left (RTL) CSS */
[dir="rtl"] {
	caption {
		text-align: right;
	}
}