/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt
 */
/* ---- IE6 fixes ---- */
.ie6 {
	.width-100 {
		width:98.5% !important;
	}
	legend {
		margin-left:-10px;
	}
	td.calendar-item {
		padding:2px 5px;
	}
	.border-top, .border-bottom {
		height:1px;
	}
	.module-billboard a {
		background-image:none !important;
	}
}