@charset "utf-8";
/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * www.tbs.gc.ca/ws-nw/wet-boew/terms / www.sct.gc.ca/ws-nw/wet-boew/conditions
 */
@import "compass/"; 

@import "mixins";
@import "button";
@import "color";
@import "module";
@import "table";
@import "form";
@import "badge";
@import "list";

@include buttons; /*done buttons*/
@include colors;
@include modules;
@include tables;	/*done tables*/
@include forms; 
@include badges;	/*done tables*/
@include lists;

// fixes


/* ---- Links ---- */
#wb-core{
	/*a[href^='http://www']{
		background:transparent url(../images/icon-external.gif) no-repeat right;
		padding-right:17px;
	}*/
	a[href*='rss'], a[href*='Rss']{
		background:none;
		padding:0;
	}
	a[href^='mailto:']{
		background:transparent url(../images/icon-email.gif) no-repeat 0 2px;
		padding-left:19px;
	}
	a[href$='.docx'], a[href$='.dotx'], a[href$='.xlsx'], a[href$='.xltx'], a[href$='.pptx'], a[href$='.potx'], a[href$='.psd'], a[href$='.zip'], a[href$='.doc'], a[href$='.pdf'], a[href$='.xls'], a[href$='.xlt'], a[href$='.rtf'], a[href$='.txt']{
		background:transparent url(../images/icon-download.gif) no-repeat 0 0;
		padding-left:15px;
	}
}

/* ---- Headings ---- */
#wb-main {
	h1, h2, h3, h4, h5, h6 {
		font-weight: $font-weight-bold;
		line-height: 150%;
		vertical-align: bottom;
	}
}
h1 { 
	color: $dark;
	border-bottom: 1px dotted $silver;
	font-size: 200%;
	padding: 0;
}
h2 {
	color: lighten($dark, 20%);
	font-size: 185%;
}
h3 {
	color: $medium;
	font-size: 170%;
}
h4 {
	color: $dark;
	font-size: 155%;
}
h5 {
	color: lighten($dark, 20%);
	font-size: 140%;
}
h6 {
	color: $medium;
	font-size: 125%;
}
h5, h6 { 
	font-weight: 700; 
}

[class*="span-"] { 
	#{headings(2,6)} {
		//margin: $margin-large 0 $margin-medium;
		margin-left: 0;
		margin-right: 0;
	}
}

.border-none	{ border: none; }

/*	 text	 */
.serif			{ font-family: $serif; }
.sans-serif	 { font-family: $sans-serif; }
.wrap-none		{ white-space: nowrap;}

.font-xxsmall { font-size: $font-xxsmall !important; }
.font-xsmall	{ font-size: $font-xsmall !important; }
.font-small	 { font-size: $font-small !important; }
.font-medium	{ font-size: $font-medium !important; }
.font-large	 { font-size: $font-large !important; }
.font-xlarge	{ font-size: $font-xlarge !important; }
.font-xxlarge { font-size: $font-xxlarge !important; }

blockquote {
	&, &.float-left, &.float-right {
		border-left:{
			width: 8px !important;
			color: $accent !important;
		}
		font:{
			family: $serif;
			size: 110%;
			style: italic;
		}
		line-height: 1.6em;
		padding: $spacing-medium $spacing-large; 

		@include colorize-base(lighten($light, 3%));
		@include colorize-border(lighten($light, 3%));
	}
	&.float-left { 
		float: left; 
		margin-right: $spacing-medium; 
		width: 30%; 
	}
	&.float-right { 
		float: right; 
		margin-left: $spacing-medium; 
		width: 30%; 
	}
	&.float-right, &.float-left { 
		font:{
			family: $serif;
			style: normal;
		}
		border:{
			left: none; 
			right: none;
		}
		padding: 0 10px; 
	}
}

code { 
	font:{
		size: 90%;
		weight: $font-weight-normal;
	}
	padding:0 2px !important;
	text-shadow: none; 
	
	@include colorize-base($light);
	@include colorize-border($light);
}

pre code {
	background: none;
	border: none;
	padding: 0 !important;
}

/*	 margin	 */
.margin-bottom-none	 { margin-bottom: 0 !important; }
.margin-bottom-small	{ margin-bottom: $margin-small !important; }
.margin-bottom-medium	 { margin-bottom: $margin-medium !important; }
.margin-bottom-large	{ margin-bottom: $margin-large !important; }
.margin-bottom-xlarge	 { margin-bottom: $margin-xlarge !important; }
.margin-top-none		{ margin-top: 0 !important; }
.margin-top-small		 { margin-top: $margin-small !important; }
.margin-top-medium		{ margin-top: $margin-medium !important; }
.margin-top-large		 { margin-top: $margin-large !important; }
.margin-top-xlarge		{ margin-top: $margin-xlarge !important; }
.margin-right-none		{ margin-right: 0 !important; }
.margin-right-small	 { margin-right: $margin-small !important; }
.margin-right-medium	{ margin-right: $margin-medium !important; }
.margin-right-large	 { margin-right: $margin-large !important; }
.margin-right-xlarge	{ margin-right: $margin-xlarge !important; }

/*	 indentation	 */
.indent-none			{ margin-left: 0 !important;}
.indent-small		 { margin-left: $margin-small !important;}
.indent-medium			{ margin-left: $margin-medium !important;}
.indent-large		 { margin-left: $margin-large !important;}
.indent-xlarge			{ margin-left: $margin-xlarge !important;}

/*	 alignment	 */
.align-left		 { text-align: left !important; }
.align-center	 { text-align: center !important; }
.align-right		{ text-align: right !important; }
p.align-right	 { margin-right: $margin-medium; }
.align-top			{ vertical-align: top !important; }
.align-top img		{ vertical-align: text-top !important; }
.align-middle	 { vertical-align: middle !important; }
.align-bottom	 { vertical-align: bottom !important; }
.align-bottom img { vertical-align: text-bottom !important; }

/*	 line height	 */
.line-height-xsmall	 { line-height: 0.8 !important; }
.line-height-small		{ line-height: 1.0 !important; }
.line-height-medium	 { line-height: 1.25 !important;}
.line-height-large		{ line-height: 1.5 !important; }
.line-height-xlarge	 { line-height: 2.0 !important; }

/*	 columns	 */
.column-two	 { @include column-count(2); }
.column-three	 { @include column-count(3); }
.column-four	{ @include column-count(4); }


/*	 floating	 */
img.float-left { margin-right: $margin-medium; }
.float-left{float:left !important;}
.float-right {float:right !important;/*background-color:#fff;*/} /* If a grid cell is floated right and there happens to be a heading with a border-bottom or background colour to the left, some browsers	render the decoration across the entire space which slices through the float right element. The white background masks this. */

/*	 width	 */
.width-100	{ width: 100% !important; }
.width-90 { width: 90% !important; }
.width-80 { width: 80% !important; }
.width-70 { width: 70% !important; }
.width-60 { width: 60% !important; }
.width-50 { width: 50% !important; }
.width-40 { width: 40% !important; }
.width-30 { width: 30% !important; }
.width-20 { width: 20% !important; }
.width-10 { width: 10% !important; }

/*	 opacity	 */
.opacity-100	{ @include opacity(1.0); }
.opacity-90	 { @include opacity(0.9); }
.opacity-80	 { @include opacity(0.8); }
.opacity-70	 { @include opacity(0.7); }
.opacity-60	 { @include opacity(0.6); }
.opacity-50	 { @include opacity(0.5); }
.opacity-40	 { @include opacity(0.4); }
.opacity-30	 { @include opacity(0.3); }
.opacity-20	 { @include opacity(0.2); }
.opacity-10	 { @include opacity(0.1); }

/* ---- Keyboard keys ---- */
kbd{
	background:#eee none repeat scroll 0 0;
	border:{
		color:#ccc #999 #777 #999;
		style:solid;
		width:1px 3px 3px 2px;
	}
	font:{
		family:Arial,Helvetica,sans-serif;
		size:80%;
	}
	padding:0 3px;
	white-space:nowrap;
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
}

/*	 progress effects	 *
[class*="thermometer"] {
	padding-bottom: 230px !important;
	background:{
		repeat: no-repeat;
		position: center bottom;
	}
}
.thermometer-0{background-image:url(../images/thermometer-0.gif);}
.thermometer-10{background-image:url(../images/thermometer-10.gif);}
.thermometer-20{background-image:url(../images/thermometer-20.gif);}
.thermometer-30{background-image:url(../images/thermometer-30.gif);}
.thermometer-40{background-image:url(../images/thermometer-40.gif);}
.thermometer-50{background-image:url(../images/thermometer-50.gif);}
.thermometer-60{background-image:url(../images/thermometer-60.gif);}
.thermometer-70{background-image:url(../images/thermometer-70.gif);}
.thermometer-80{background-image:url(../images/thermometer-80.gif);}
.thermometer-90{background-image:url(../images/thermometer-90.gif);}
.thermometer-100{background-image:url(../images/thermometer-100.gif);}
.thermometer-110{background-image:url(../images/thermometer-110.gif);}
.thermometer-120{background-image:url(../images/thermometer-120.gif);}
*/

/*	 calendar	 */
table{
	&.calendar-month{
		border: 1px solid darken($light, 10%);
		margin:3px 0 2px;
		caption {
			background: $light;
			border: 1px solid darken($light, 10%);
			border-bottom-width:0;
			font-weight: $font-weight-bold;
			color:#555;
			padding:5px;
			margin:0;
		}
	}
	&.span-1,&.span-2,&.span-3,&.span-4,&.span-5,&.span-6,&.span-7,&.span-8,&.span-9,&.span-10,&.span-11,&.span-12{
		display:table;
	}
}

.calendar-month{
	td, th{
		text-align: center;
		vertical-align: middle;
		background: $white;
		color: $medium;
		margin-bottom:0;
	}
}
th,td{
	&.calendar-weekend{
		background: lighten($light, 3%);
	}
}
td{
	&.calendar-today{
		border:2px solid $accent;
	}
	&.calendar-item{
		background: $dark;
		font-weight: $font-weight-bold;
		padding: 0;
		a,a:visited{
			display: block;
			color: $white !important;
			text-decoration:none;
		}
		&:hover, &:focus, &:active{
			background: lighten($dark, 15%);
		}
	}
}
.span-2 .calendar-month {
	td,th{
		width:30px;
		height:32px;
		padding:2px 3px;
	}
}

/*
.date {
	height: 94px;
	float: left;
	margin-right: $margin-medium;
	min-width: 80px;
	position: relative;
}
.date-month {
	width: 100%;
	border: 1px solid rgba(0,0,0,0.25);
	box-shadow: inset 0px 1px 1px 0px rgba(255,255,255,0.4);
	
	@include border-top-radius;
	@include colorize-base($accent);
	@include colorize($accent, $border:false);
	p {
		text-align: center;
		color: #fff;
		font-size: 85%;
		text-shadow: 0px 1px 0px #111;
		margin: 5px 0 0 0;
		margin: 3px 8px 0 8px;
		padding: 0 0 1px 0;
	}
}
.date-day {
	background: $white;
	border: 1px solid $silver;
	height: 55px;
	width: 100%;	
	@include background(top, rgba(255, 255, 255, 1) 0%, rgba(247, 247, 247, 1) 100%);
	@include border-bottom-radius($default-border-radius);
	@include box-shadow(0px 1px 0px 0px $light, 0px 2px 0px 0px $silver,0px 3px 0px 0px $light, 0px 4px 0px 0px $silver);
	p {
		text-align: center;
		font:{
			size: 275%;
			weight: $font-weight-bold;
		}
		color: $dark;
		letter-spacing: -0.1em;
		line-height: 55px;
		text-shadow: 1px 1px 0px $white;
		margin: 0 !important;
		width: 100%;
	}
}
*/