@charset "utf-8";
/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt
*/

.float-right,.float-left{float:none!important;}

form {
	[class*=width-] {
		width:100%!important;
	}
	[class*=margin-], [class*=span-]{
		margin:0!important;
	}
	
	&.background-light > * {
		outline: none;
		margin-left:0;
		margin-right:0;
	}
}

.form-inline{
		& > * {
			margin-right:0;
		}
		
		label{
			display: block;
		}
}

.form-radio.form-label-inline,.form-checkbox.form-label-inline{
	display: block;
	padding:0;
}

.form-radio, .form-checkbox{
	padding:0;
}

.form-horizontal label{
	text-align:left;
}

.form-input-append button{
	position:absolute;
}

.border-top,.border-right,.border-bottom,.border-left,.border-all {
	float:none;
	display:block;
	outline:none;
	position:static;
	background:none;
}

.module-billboard {
	max-width:280px;
}

.module-poster {
	display:inline-block;
}

input[type="image"] + label, input[type="checkbox"] + label, input[type="radio"] + label {
	display:block;
}

.bb-pre7 {
	input, textarea, select {
		&:focus, &:active {
			background:#000;
			color:#fff;
		}
	}
}