/*
 *
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 *
 *The purpose of these utilities are to test WCAG success criterion 1.4.12: Text Spacing
 */

/* Text Spacing */
.test-textSpacing {
	* {
		letter-spacing: .12em !important;
		line-height: 1.5em !important;
		word-spacing: .16em !important;
	}

	p {
		margin-bottom: 2em !important;
	}
}
