/*!

/*! WET-BOEW Core and Plugins */
/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 */
/*
 Global placeholder
 */
%accessible-invisible {
	height: 1px;
	width: 1px;
	clip: rect(1px, 1px, 1px, 1px);
	overflow: hidden;
	position: absolute;
	margin: 0;
}

%accessible-invisible-show {
	height: inherit;
	width: inherit;
	clip: rect(auto, auto, auto, auto);
	overflow: inherit;
	position: static;
	margin: inherit;
}
 
@import "partials/accessibility";
@import "partials/bootstrap-overrides";
@import "partials/language-selector";
@import "partials/transitions";
@import "partials/proximity";

/*
 Plugins
 */
@import "../plugins/data-inview/data-inview";
@import "../plugins/menu/menu";
@import "../plugins/multimedia/multimedia";
@import "../plugins/formvalid/formvalid";
@import "../plugins/lightbox/lightbox";
@import "../plugins/feedback/feedback";
@import "../plugins/texthighlight/texthighlight";
@import "../plugins/prettify/prettify";
@import "../plugins/footnotes/footnotes";
@import "../plugins/modal/modal";
@import "../plugins/tables/tables";
@import "../plugins/overlays/overlays";
@import "../plugins/share/share";
@import "../plugins/calendar/calendar-base";
@import "../plugins/calendar/calendar-theme";
@import '../plugins/cal-events/cal-events.scss';
@import "../plugins/tabs/tabs";

/*
 Polyfills
 */
@import "../polyfills/datalist/datalist-base";
@import "../polyfills/details/details-base";
@import "../polyfills/datepicker/datepicker-base";
