---
title: Correctif progress
language: fr
---
<style>
progress {
	width: 10em;
}
</style>

<p>L'élément HTML5 «&#160;<code lang="en">progress</code>&#160;» est utilisé pour fournir une barre de progression. Ce composant ajoute le soutien pour cet élément dans les navigateurs qui n'ont pas déjà la prise en charge native.</p>

<section>
	<h2>Exemples</h2>
	<table>
		<thead>
			<tr>
				<th scope="col">Valeur</th>
				<th scope="col">Max</th>
				<th scope="col">Résultat</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>22</td>
				<td>100</td>
				<td><progress value="22" max="100"><span class="wb-invisible">22 %</span></progress></td>
			</tr>
			<tr>
				<td>198</td>
				<td>300</td>
				<td><progress value="198" max="300"><span class="wb-invisible">66 %</span></progress></td>
			</tr>
			<tr>
				<td>500</td>
				<td>500</td>
				<td><progress value="500" max="500"><span class="wb-invisible">100 %</span></progress></td>
			</tr>
		</tbody>
	</table>
</section>