/* MODULES oCSS Classes */



.grid-container {
	[class*="module"] {
		margin-bottom: $gutters-xlarge;
		padding: 0 $gutters;
	}
	.module {
		background-color: $background-medium-color;
		color: $background-medium-text;
		border: $border + px solid $border-color-dark;
	}
}
