/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 */
.example2 {
	summary {
		background-color: #666;
		color: #fff;
		padding-left: 5px;
	}
}
.example3 {
	summary {
		background-color: #176ca7;
		color: #fff;
		text-align: right;
		padding-right: 5px;
	}
}
