---
{
	"title": "Feedback form",
	"language": "en",
	"category": "Plugin",
	"description": "Allows users to submit feedback for a specific Web page or Web site.",
	"tag": "feedback",
	"fr": "feedback",
	"css": "demo/feedback"
}
---
<div class="wb-formvalid wb-fdbck">
	<p>If you have difficulty with the following form, you can use any of our <a href="#osc-avs">other service channels</a> to contact us. Please read the <a href="#pics-ecrp">Personal Information Collection Statement</a> before completing this form.</p>
	<form action="#" method="get" id="fdbck-frm">
		<input type="hidden" name="language" value="en" />
		<div id="type">
			<label for="fbrsn"><span class="field-name">Reason for contacting us</span> <strong>(required)</strong></label>
			<select name="fbrsn" id="fbrsn" required="required">
				<option value=""></option>
				<option value="web">Critical problem with the website</option>
				<option value="improvement">Suggested improvement for the website</option>
				<option value="subject1">Question/comment about subject 1</option>
				<option value="subject2">Question/comment about subject 2</option>
				<option value="subject3">Question/comment about subject 3</option>
				<option value="other">Other</option>
			</select>
			<label for="fbsbj"><span class="field-name">Subject</span></label>
			<input type="text" id="fbsbj" name="fbsbj" size="45" maxlength="60" />
			<label for="fbmsg"><span class="field-name">Message</span> <strong>(required)</strong></label>
			<textarea id="fbmsg" name="fbmsg" rows="5" cols="45" required="required"></textarea>
		</div>

		<section id="fbweb">
			<h2>Website Issues</h2>
			<a class="wb-show-onfocus" href="#fbcntc">Skip to Contact Information</a>
			<label for="fbpg"><span class="field-name">What page address (URL) or page description?</span></label>
			<input type="text" id="fbpg" name="fbpg" size="80" maxlength="400" />
			<label for="fbprb">What were you trying to do when you encountered the problem?</label>
			<textarea id="fbprb" name="fbprb" rows="5" cols="45"></textarea>
			<fieldset>
				<legend>What were the problems?</legend>
				<label for="fbq1"><input class="problems" type="checkbox" name="problems[]" id="fbq1" value="small font that can't be adjusted" /> small font that can't be adjusted</label>
				<label for="fbq2"><input class="problems" type="checkbox" name="problems[]" id="fbq2" value="poor colour contrast" /> poor colour contrast</label>
				<label for="fbq3"><input class="problems" type="checkbox" name="problems[]" id="fbq3" value="unclear information, typos or poor grammar" /> unclear information, typos or poor grammar</label>
				<label for="fbq4"><input class="problems" type="checkbox" name="problems[]" id="fbq4" value="acronym or jargon not explained" /> acronym or jargon not explained</label>
				<label for="fbq5"><input class="problems" type="checkbox" name="problems[]" id="fbq5" value="confusing search results" /> confusing search results</label>
				<label for="fbq6"><input class="problems" type="checkbox" name="problems[]" id="fbq6" value="poor keyboard navigation" /> poor keyboard navigation</label>
				<label for="fbq7"><input class="problems" type="checkbox" name="problems[]" id="fbq7" value="some elements are too small to click on" /> some elements are too small to click on</label>
				<label for="fbq8"><input class="problems" type="checkbox" name="problems[]" id="fbq8" value="images with no text alternative provided" /> images with no text alternative provided</label>
				<label for="fbq9"><input class="problems" type="checkbox" name="problems[]" id="fbq9" value="multimedia without captions or text equivalent" /> multimedia without captions or text equivalent</label>
				<label for="fbq10"><input class="problems" type="checkbox" name="problems[]" id="fbq10" value="moving or flashing object that can’t be controlled" /> moving or flashing object that can’t be controlled</label>
				<label for="fbq11"><input class="problems" type="checkbox" name="problems[]" id="fbq11" value="incomplete or non-existent page (for example, “Page not found” error)" /> incomplete or non-existent page (for example, “Page not found” error)</label>
				<label for="fbq12"><input class="problems" type="checkbox" name="problems[]" id="fbq12" value="error notification is confusing or no error notification" /> error notification is confusing or no error notification</label>
				<label for="fbop">other problem</label>
				<input class="problems" type="text" id="fbop" name="fbop" size="45" maxlength="60" />
			</fieldset>

			<label for="fbaxs">How were you accessing the Web site today?</label>
			<select name="fbaxs" id="fbaxs">
				<option value="desktop">Desktop computer</option>
				<option value="laptop">Laptop</option>
				<option value="mobile">Mobile device</option>
			</select>

			<section id="fbcomp">
				<h3>Desktop &amp; Laptop Information</h3>
				<fieldset>
					<legend>Please include the version and other clarifying details</legend>
					<label for="fbos">Operating System</label>
					<input type="text" id="fbos" name="fbos" size="20" maxlength="100" />
					<label for="fbdbrwsr">Browser</label>
					<input type="text" id="fbdbrwsr" name="fbdbrwsr" size="20" maxlength="100" />
					<label for="fbdaad">Adaptive or assistive device</label>
					<input type="text" id="fbdaad" name="fbdaad" size="20" maxlength="100" />
				</fieldset>
			</section>

			<section id="fbmob">
				<h3>Mobile Information</h3>
				<fieldset>
					<legend>Please include the version and other clarifying details</legend>
					<label for="fbsphn">Smartphone type</label>
					<input type="text" id="fbsphn" name="fbsphn" size="20" maxlength="100" />
					<label for="fbmbrwsr">Browser</label>
					<input type="text" id="fbmbrwsr" name="fbmbrwsr" size="20" maxlength="100" />
					<label for="fbmaad">Adaptive or assistive device</label>
					<input type="text" id="fbmaad" name="fbmaad" size="20" maxlength="100" />
				</fieldset>
			</section>
		</section>

		<section id="fbcntc">
			<h2 class="wb-inv">Follow-up</h2>
			<label for="fbcntc1"><input type="checkbox" name="fbcntc1" id="fbcntc1" value="yes" /> Please contact me if you require further details.</label>
			<label for="fbcntc2"><input type="checkbox" name="fbcntc2" id="fbcntc2" value="yes" /> Send me a response.</label>

			<section id="fbinfo">
				<h3>Contact Information</h3>
				<fieldset>
					<legend>Please provide information that we could use to contact you</legend>
					<label for="fbnm"><span class="field-name">Name</span></label>
					<input type="text" id="fbnm" name="fbnm" size="45" maxlength="45" pattern=".{2,}" data-rule-minlength="2" />
					<label for="fbeml"><span class="field-name">E-mail address</span> <strong>(required)</strong></label>
					<input type="fbeml" id="fbeml" name="fbeml" size="45" maxlength="60" required="required" />
					<label for="fbhphn"><span class="field-name">Home phone number</span> including area code (for example, 999-999-9999)</label>
					<input type="tel" id="fbhphn" name="fbhphn" size="12" maxlength="12" data-rule-phoneUS="true" />
					<label for="fbwphn"><span class="field-name">Work phone number</span> including area code (for example, 999-999-9999)</label>
					<input type="tel" id="fbwphn" name="fbwphn" size="12" maxlength="12" data-rule-phoneUS="true" />
					<label for="fbwphnxt"><span class="field-name">Work phone number extension</span></label>
					<input type="text" id="fbwphnxt" name="fbwphnxt" size="8" maxlength="8" />
				</fieldset>
			</section>
		</section>

		<input type="submit" name="fbsbmt" id="fbsbmt" value="Submit feedback" /> <input type="reset" value="Reset" />
	</form>

	<section>
		<h2 id="pics-ecrp">Personal Information Collection Statement</h2>
		<p>All personal information created, held or collected by this department is protected under the <a href="http://laws-lois.justice.gc.ca/eng/acts/P-21/index.html" rel="external"><em>Privacy Act</em></a>. This means that you will be informed of the purpose for which it is being collected and how to exercise your right of access to that information. You will be asked for your consent where appropriate.</p>
		<section>
			<h3 id="pc-cp">Public Communications</h3>
			<p>Provision of the information requested on this form is voluntary. The personal information you include in an inquiry may be used to prepare a reply. The personal information is collected pursuant to the <em class="highlight">[appropriate provision in department’s enabling statute]</em>. Such information may be used for statistical, evaluation and reporting purposes. The information is included in the personal information bank <em class="highlight">[<abbr title="personal information bank">PIB</abbr> Number - <abbr title="personal information bank">PIB</abbr> Title]</em>. The information may be shared with programs and activities of <em class="highlight">[Applied Title of the Department]</em> should your inquiry pertain to a specific program or activity of the department. In such cases, the information is included in the personal information bank of the program or activity.</p>
			<p>The transmission of this information is not secure so sensitive personal information, such as your Social Insurance Number, should not be included in your message.</p>
			<p>If after reading this statement, you prefer not to submit your inquiry via the Internet, you may use one of the following methods:</p>
			<address>
				<dl id="fbosc-avs">
					<dt><strong>By Telephone:</strong></dt>
					<dd><em>[telephone number]</em></dd>
					<dt><strong>By Mail:</strong></dt>
					<dd><em>[mailing address]</em></dd>
					<dt><strong>In Person at:</strong></dt>
					<dd><em>[building address]</em></dd>
					<dt><strong>Teletypewriter:</strong></dt>
					<dd><em>[teletypewriter number]</em></dd>
				</dl>
			</address>
		</section>
		<section>
			<h3 id="pi-divp">Privacy inquiry</h3>
			<p>Any questions, comments, concerns or complaints regarding the administration of the <em><a href="http://laws-lois.justice.gc.ca/eng/acts/P-21/index.html" rel="external">Privacy Act</a></em> and privacy policies may be directed to the departmental Privacy Coordinator by email to <em class="highlight">[Privacy Coordinator email]</em>, by calling <em class="highlight">[Privacy Coordinator phone number]</em> or writing to:</p>
			<p><em class="highlight">[Privacy Coordinator mailing address]</em></p>
			<p>If you are not satisfied with our response to your privacy concern, you may wish to contact the <a href="http://www.priv.gc.ca/index_e.cfm" rel="external">Office of the Privacy Commissioner</a> by e-mail at <a href="mailto:info@priv.gc.ca">info@priv.gc.ca</a> or by telephone at 1-800-282-1376.</p>
		</section>
	</section>
</div>

<noscript>
	<p>You may use one of the following methods to contact us:</p>
	<address>
		<dl>
			<dt><strong>By E-mail:</strong></dt>
			<dd><em>[e-mail address]</em></dd>
			<dt><strong>By Telephone:</strong></dt>
			<dd><em>[telephone number]</em></dd>
			<dt><strong>By Mail:</strong></dt>
			<dd><em>[mailing address]</em></dd>
			<dt><strong>In Person at:</strong></dt>
			<dd><em>[building address]</em></dd>
			<dt><strong>Teletypewriter:</strong></dt>
			<dd><em>[teletypewriter number]</em></dd>
		</dl>
	</address>
</noscript>
