---
{
	"title": "Multimedia Player",
	"language": "en",
	"description": "Provides an accessible multimedia player for embedding video and audio into web pages.",
	"altLangPrefix": "multimedia",
	"dateModified": "2014-03-31"
}
---
<span class="wb-prettify all-pre hide"></span>

<section>
	<h2>Purpose</h2>
	<p>Provides an accessible multimedia player for embedding video and audio into web pages.</p>
</section>

<section>
	<h2>Working example</h2>
	<ul>
		<li><a href="../../../demos/multimedia/multimedia-en.html">English video example</a></li>
		<li><a href="../../../demos/multimedia/multimedia-fr.html">French video example</a></li>
		<li><a href="../../../demos/multimedia/multimedia-audio-en.html">English audio example</a></li>
		<li><a href="../../../demos/multimedia/multimedia-audio-fr.html">French audio example</a></li>
		<li><a href="../../../demos/multimedia/multimedia-youtube-en.html">English YouTube example</a></li>
		<li><a href="../../../demos/multimedia/multimedia-youtube-fr.html">French YouTube example</a></li>
	</ul>
</section>

<section>
	<h2>How to implement</h2>
	<p>Coming soon</p>
	<!--
	<ol>
		<li>Step 1</li>
		<li>Step 2
			<pre><code>Example code</code></pre>
		</li>
		<li>Step 3
			<pre><code>Example of multi-line code
Example of multi-line code
Example of multi-line code</code></pre>
		</li>
		<li>Step 4</li>
	</ol>
	-->
</section>

<section>
	<h2>Configuration options</h2>
	<p>Coming soon</p>
	<!--
	<p>Document the public configuration options that can be used by implementers or developers.</p>
	<table class="table">
		<thead>
			<tr>
				<th>Option</th>
				<th>Description</th>
				<th>How to configure</th>
				<th>Values</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Option 1</td>
				<td>Brief description of the option</td>
				<td>How to configure the option</td>
				<td>
					<dl>
						<dt>Value 1 (default):</dt>
						<dd>Brief description</dd>
						<dt>Value 2:</dt>
						<dd>Brief description</dd>
						<dt>Value 3:</dt>
						<dd>Brief description</dd>
					</dl>
				</td>
			</tr>
			<tr>
				<td>Option 2</td>
				<td>Brief description of the option</td>
				<td>How to configure the option</td>
				<td>
					<dl>
						<dt>Value 1 (default):</dt>
						<dd>Brief description</dd>
						<dt>Value 2:</dt>
						<dd>Brief description</dd>
						<dt>Value 3:</dt>
						<dd>Brief description</dd>
					</dl>
				</td>
			</tr>
		</tbody>
	</table>
	-->
</section>

<section>
	<h2>Events</h2>
	<table class="table">
		<thead>
			<tr>
				<th>Event</th>
				<th>Trigger</th>
				<th>What it does</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>wb-init.wb-mltmd</td>
				<td>Triggered manually (e.g., <code>$elm.trigger( "wb-init.wb-mltmd" );</code>).</td>
				<td>Used to manually initialize the multimedia player. <strong>Note:</strong> The multimedia player will be initialized automatically unless the multimedia player markup is added after the page has already loaded.</td>
			</tr>
		</tbody>
	</table>
</section>

<section>
	<h2>Source code</h2>
	<p><a href="https://github.com/wet-boew/wet-boew/tree/master/src/plugins/multimedia">Multimedia player source code on GitHub</a></p>
</section>
