---
{
	"title": "Lecteur multimédia",
	"language": "fr",
	"category": "Plugiciels",
	"categoryfile": "plugins",
	"description": "Un lecteur multimédia accessible permettant d'intégrer des contenus vidéo et audio sur les pages Web.",
	"altLangPrefix": "multimedia",
	"dateModified": "2014-08-04"
}
---
<span class="wb-prettify all-pre hide"></span>

<div lang="fr">

<section>
	<h2>But</h2>
	<p>Fournir un lecteur multimédia accessible permettant d'intégrer des contenus vidéo et audio sur les pages Web.</p>
</section>

<section>
	<h2>Exemples</h2>
	<ul>
		<li><a href="../../../demos/multimedia/multimedia-en.html">Exemple vidéo anglais</a></li>
		<li><a href="../../../demos/multimedia/multimedia-fr.html">Exemple vidéo français</a></li>
		<li><a href="../../../demos/multimedia/multimedia-audio-en.html">Exemple audio anglais</a></li>
		<li><a href="../../../demos/multimedia/multimedia-audio-fr.html">Exemple audio français</a></li>
		<li><a href="../../../demos/multimedia/multimedia-youtube-en.html">Exemple YouTube anglais</a></li>
		<li><a href="../../../demos/multimedia/multimedia-youtube-fr.html">Exemple YouTube français</a></li>
	</ul>
</section>

<section>
	<h2>Comment implémenter</h2>
	<p>Le lecteur multimédia requiert l'utilisation de quelques balises HTML5 et un lien vers la source média que vous désirez intégrer.</p>
	<section>
		<h3>Formats des médias</h3>
		<p>Le lecteur multimédia supporte plusieurs formats, énumérés ci-dessous. Toutefois, nous recommandons que vous fournissiez au minimum tout média vidéo au format MPEG4 (en utilisant les codecs H264 et AAC) afin de pouvoir rejoindre le plus grand auditoire, puisque tous les lecteurs mobiles et la plupart des navigateurs sont en mesure de jouer ce format. Nous recommandons également que vous fournissiez les médias en format WebM (en utilisant le codec VP8) en plus du format MPEG4 afin de prendre avantage du support natif du navigateur, par exemple Firefox.</p>
		<section>
			<h4>Formats compatibles</h4>
			<ul>
				<li><strong>Vidéo :</strong> MPEG4 (H264+AAC), WebM (VP8)</li>
				<li><strong>Audio :</strong> MP3, Ogg Vorbis</li>
				<li><strong>Sous-titrage :</strong> TTML, HTML5 Data</li>
			</ul>
		</section>
	</section>
	<section>
		<h3>Éléments requis</h3>
		<ol>
			<li>Chaque lecteur multimédia doit être placé dans sa propre balise <code>&lt;figure&gt;</code> en utilisant la classe <code>wb-mltmd</code> :
				<pre><code>&lt;figure class="wb-mltmd"&gt;</code></pre>
			</li>
			<li>Chaque contenant devrait contenir une balise <code>&lt;video&gt;</code> ou <code>&lt;audio&gt;</code>.</li>
			<li>
				<strong>Facultatif :</strong> Ajoutez un lien "Partagez cette vidéo" ou "Partagez ce fichier audio" en ajoutant ce qui suit à la balise <code>figure</code> :
				<pre><code>data-wb-mltmd='{"shareUrl": "url"}'</code></pre>
			</li>
			<li>
				Ajoutez l'élément <code>figcaption</code> à l'élément <code>figure</code> avec le titre du fichier vidéo ou audio. Si une transcription est requise, ajoutez soit le lien vers la transcription, soit un "details/summary" contenant le texte de la transcription.
					<pre><code>&lt;figcaption&gt;
	&lt;p&gt;Trouver un emploi&lt;/p&gt;
&lt;/figcaption&gt;</code></pre>
					<pre><code>&lt;figcaption&gt;
	&lt;p&gt;Trouver un emploi (&lt;a href="http://www.servicecanada.gc.ca/fra/video/te.shtml"&gt;Transcription&lt;/a&gt;)&lt;/p&gt;
&lt;/figcaption&gt;</code></pre>
					<pre><code>&lt;figcaption&gt;
	&lt;details id="inline-captions"&gt;
		&lt;summary&gt;Trouver un emploi - Transcription/Sous-titrage HTML5 &lt;/summary&gt;
		&lt;p class="wet-boew-vd"&gt;&lt;strong&gt;(La vidéo débute par une image de l'animatrice s'avançant vers la caméra. Un trait rouge suit le texte « Trouver un emploi ».)&lt;/strong&gt;&lt;/p&gt;
		&lt;p class="wet-boew-vd"&gt;&lt;strong&gt;(Coupure et plan moyen de l'animatrice. DESSIN AU TRAIT : Le bonhomme-allumettes apparaît à l'écran.)&lt;/strong&gt;&lt;/p&gt;
		&lt;p&gt;&lt;span class="wb-tmtxt" data-begin="2.50s" data-dur="3.84s"&gt;Bonjour, je m'appelle Amélie et je travaille à Service Canada.&lt;/span&gt;&lt;/p&gt;
		...
	&lt;/details&gt;
&lt;/figcaption&gt;</code></pre>
			</li>
		</ol>

		<section>
			<h4>Vidéo</h4>
			<ol>
				<li>Ajoutez l'attribut <code>poster</code> à l'élément <code>video</code> avec la valeur étant l'URL de la vignette de l'image illustrant la vidéo.</li>
				<li>Ajoutez l'attribut <code>title</code> à l'élément <code>video</code> avec la valeur étant le titre de la vidéo.</li>
				<li>
					Ajoutez un ou plusieurs éléments <code>source</code> à l'élément <code>video</code> avec l'attribut <code>src</code> ayant comme valeur l'URL du fichier média et l'attribut <code>type</code> étant son type MIME.<br />
					<strong>Note :</strong> Si vous indiquez plusieurs sources média pour la vidéo, le lecteur jouera le premier média qui fonctionne (est disponible, compatible, etc.).
					<pre><code>&lt;source type="video/webm" src="http://video2.servicecanada.gc.ca/video/boew-wet/te-lj-fra.webm" /&gt;
&lt;source type="video/mp4" src="http://video2.servicecanada.gc.ca/video/boew-wet/te-lj-fra.mp4" /&gt;</code></pre>
				</li>
				<li>Ajoutez l'élément <code>track</code> avec <code>kind="captions"</code> à l'élément <code>video</code> pour inclure le sous-titrage.
					<ol>
						<li>
							Ajoutez les attributs <code>srclang</code> et <code>label</code> à l'élément <code>track</code> pour identifier la langue du sous-titrage.
							<pre><code>&lt;track srclang="fr" label="Français" /&gt;</code></pre>
						</li>
						<li>Ajoutez les attributs <code>src</code> et <code>data-type</code> à l'élément <code>track</code> pour identifier la source du sous-titrage.
							<ul>
								<li><strong>Timed Text Markup Language :</strong> <code>data-type="application/ttml+xml"</code> et <code>src</code> est l'URL du fichier de sous-titrage de format <a rel="external" href="http://www.w3.org/TR/ttaf1-dfxp/">Timed Text Markup Language</a>.</li>
								<li><strong>Fichier de sous-titrage HTML :</strong> <code>data-type="text/html"</code> et <code>src</code> est l'URL du fichier de sous-titrage HTML.</li>
								<li><strong>Sous-titrage HTML en ligne :</strong> <code>data-type="text/html"</code> and <code>src</code> est l'URL du sous-titrage HTML en ligne (e.g., <code>src="#inline-captions"</code>).</li>
							</ul>
						</li>
					</ol>
					<pre><code>&lt;track src="cpts-lg-fr.html" kind="captions" data-type="text/html" srclang="fr" label="Français" /&gt;</code></pre>
				</li>
				<li><strong>Facultatif : </strong>Ajoutez des boutons pour accéder aux marqueurs temporels dans la vidéo.
					<ul>
						<li>Ajoutez un élément <code>button</code> dans le contenant <code>figure</code>.</li>
						<li>Spécifiez le marqueur en secondes (ex. 75s) ou en temps (01:15)</li>
					</ul>
					<pre><code>&lt;button class="btn btn-info cuepoint" data-cuepoint="75s"&gt;Marqueur temporel - 75s&lt;/button&gt;</code></pre>
					<pre><code>&lt;button class="btn btn-info cuepoint" data-cuepoint="01:15"&gt;Marqueur temporel - 01:15&lt;/button&gt;</code></pre>
				</li>
			</ol>

			<section>
				<h5>Code</h5>
				<pre><code>&lt;figure class="wb-mltmd" data-wb-mltmd='{"shareUrl": "http://youtu.be/p2-1ZIHu1W0"}'&gt;
	&lt;video poster="http://www.servicecanada.gc.ca/fra/video/images/te-lj-fra.jpg" title="Trouver un emploi"&gt;
		&lt;source type="video/webm" src="http://video2.servicecanada.gc.ca/video/boew-wet/te-lj-fra.webm" /&gt;
		&lt;source type="video/mp4" src="http://video2.servicecanada.gc.ca/video/boew-wet/te-lj-fra.mp4" /&gt;
		&lt;track src="cpts-lg-fr.html" kind="captions" data-type="text/html" srclang="fr" label="Français" /&gt;
	&lt;/video&gt;
	&lt;button class="btn btn-info cuepoint" data-cuepoint="75s"&gt;Marqueur temporel - 75s&lt;/button&gt;
	&lt;figcaption&gt;
		&lt;p&gt;Trouver un emploi (&lt;a href="http://www.servicecanada.gc.ca/fra/video/te.shtml"&gt;Transcription&lt;/a&gt;)&lt;/p&gt;
	&lt;/figcaption&gt;
&lt;/figure&gt;</code></pre>
			</section>
		</section>

		<section>
			<h4>Vidéo (YouTube)</h4>
			<ol>
				<li>Ajoutez l'attribut <code>title</code> à l'élément <code>video</code> avec la valeur étant le titre de la vidéo.</li>
				<li><p>Ajoutez un élément <code>source</code> à l'élément <code>video</code> avec l'attribut <code>type="video/youtube"</code> et l'attribut <code>src</code> étant l'URL de la vidéo.</p>
					<pre><code>&lt;source type="video/youtube" src="http://www.youtube.com/watch?v=9znKJqnFuuY" /&gt;</code></pre>
					<p>Ou</p>
					<pre><code>&lt;source type="video/youtube" src="https://youtu.be/9znKJqnFuuY" /&gt;</code></pre>
				</li>
				<li>Si le sous-titrage n'est pas déjà inclut pour la vidéo, l'ajouter avec les outils fournis par YouTube.</li>
			</ol>

			<section>
				<h5>Code</h5>
			<pre><code>&lt;figure class="wb-mltmd"&gt;
	&lt;video title="Suspect"&gt;
		&lt;source type="video/youtube" src="http://www.youtube.com/watch?v=9znKJqnFuuY" /&gt;
	&lt;/video&gt;
	&lt;figcaption&gt;
		&lt;p&gt;Suspect&lt;/p&gt;
	&lt;/figcaption&gt;
&lt;/figure&gt;</code></pre>
			</section>
		</section>

		<section>
			<h4>Audio</h4>
			<ol>
				<li>Ajoutez l'attribut <code>title</code> à l'élément <code>audio</code> avec la valeur étant le titre de l'audio.</li>
				<li>
					Ajoutez un ou plusieurs éléments <code>source</code> à l'élément <code>audio</code> avec l'attribut <code>src</code> avec la valeur étant l'URL du fichier média et l'attribut <code>type</code> étant le type MIME du fichier.<br />
					<strong>Note :</strong> Si vous indiquez plusieurs sources média pour l'audio, le lecteur jouera le premier fichier média qui fonctionne (est disponible, compatible, etc.).
					<pre><code>&lt;source src="http://www.archive.org/download/RideOfTheValkyries/ride_of_the_valkyries_2.mp3" type="audio/mp3" /&gt;
&lt;source src="http://www.archive.org/download/RideOfTheValkyries/ride_of_the_valkyries_2.ogg" type="audio/ogg" /&gt;</code></pre>
				</li>
			</ol>

			<section>
				<h5>Code</h5>
				<pre><code>&lt;figure class="wb-mltmd"&gt;
	&lt;audio title="Ride of the Valkyries"&gt;
		&lt;source src="http://www.archive.org/download/RideOfTheValkyries/ride_of_the_valkyries_2.mp3" type="audio/mp3" /&gt;
		&lt;source src="http://www.archive.org/download/RideOfTheValkyries/ride_of_the_valkyries_2.ogg" type="audio/ogg" /&gt;
	&lt;/audio&gt;
	&lt;figcaption&gt;
		&lt;p&gt;Ride of the Valkyries&lt;/p&gt;
	&lt;/figcaption&gt;
&lt;/figure&gt;</code></pre>
			</section>
		</section>
	</section>
</section>

<section>
	<h2>Options de configuration</h2>
	<table class="table">
		<thead>
			<tr>
				<th>Option</th>
				<th>Description</th>
				<th>Comment configurer</th>
				<th>Valeurs</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><code>shareUrl</code></td>
				<td>Ajoute un lien "Partagez cette vidéo" ou "Partagez ce fichier audio"</td>
				<td>Ajoutez <pre><code>data-wb-mltmd='{"shareUrl": "url"}'</code></pre> à l'élément avec l'attribut <code>class="wb-mltmd"</code>.</td>
				<td>
					<dl>
						<dt>URL</dt>
						<dd>URL de la vidéo ou du fichier audio à partager.</dd>
					</dl>
				</td>
			</tr>
		</tbody>
	</table>
</section>

<section>
	<h2>Événements</h2>
	<table class="table">
		<thead>
			<tr>
				<th>Événement</th>
				<th>Déclencheur</th>
				<th>Ce qu'il fait</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><code>wb-init.wb-mltmd</code></td>
				<td>Déclenché manuellement (e.g., <code>$( ".wb-mltmd" ).trigger( "wb-init.wb-mltmd" );</code>).</td>
				<td>Utilisé pour initialiser manuellement le lecteur multimédia. <strong>Note :</strong> Le lecteur sera initialisé automatiquement à moins que le code du lecteur soit ajouté après que la page ait déjà été chargée.</td>
			</tr>
			<tr>
				<td><code>wb-ready.wb-mltmd</code> (v4.0.5+)</td>
				<td>Déclenché automatiquement après que le lecteur soit initialisé.</td>
				<td>Utilisé pour identifier quel lecteur est initialisé (cible de l'événement)
					<pre><code>$( document ).on( "wb-ready.wb-mltmd", ".wb-mltmd", function( event ) {
});</code></pre>
					<pre><code>$( ".wb-mltmd" ).on( "wb-ready.wb-mltmd", function( event ) {
});</code></pre>
				</td>
			</tr>
			<tr>
				<td><code>wb-ready.wb</code> (v4.0.5+)</td>
				<td>Déclenché automatiquement quant BOEW a fini son chargement et son exécution.</td>
				<td>Utilisé pour identifier quand tous les plugiciels BOEW et les polyfills ont terminé leur chargement et leur exécution.
					<pre><code>$( document ).on( "wb-ready.wb", function( event ) {
});</code></pre>
				</td>
			</tr>
		</tbody>
	</table>
</section>

<section>
	<h2>Code source</h2>
	<p><a href="https://github.com/wet-boew/wet-boew/tree/master/src/plugins/multimedia">Code source du lecteur multimédia sur GitHub</a></p>
</section>
</div>
