---
{
	"title": "Dismissible notice",
	"language": "en",
	"category": "Plugins",
	"description": "Provides a dismissible notice box.",
	"tag": "dismiss",
	"parentdir": "dismiss",
	"altLangPrefix": "dismiss",
	"dateModified": "2014-08-10"
}
---
<details class="alert alert-info alert-dismiss" id="notice-534" open>
  <summary>Dismissible notice</summary>
  <p>This notice remembers whether it has been “dismissed” by user via a cookie. This cookie is based on the id of the details element, so you can use the same notice on multiple pages.</p>
</details>
