---
{
	"title": "Dismissible notice",
	"language": "en",
	"category": "Plugins",
	"description": "Provides a dismissible notice box.",
	"tag": "dismiss",
	"parentdir": "dismiss",
	"altLangPrefix": "dismiss",
	"dateModified": "2014-08-10"
}
---
<details class="alert alert-success alert-dismiss" open>
	<summary class="h3">Well done!</summary>
	<p>You successfully read this important alert message.</p>
</details>

<details class="alert alert-info alert-dismiss" open>
	<summary class="h3">Heads up!</summary>
	<p>This alert needs your attention, but it's not super important.</p>
</details>

<details class="alert alert-warning alert-dismiss" open>
	<summary class="h3">Warning!</summary>
	<p>Best check yourself, you're not looking too good.</p>
</details>

<details class="alert alert-danger alert-dismiss" open>
	<summary class="h3">Oh snap!</summary>
	<p>Change a few things up and try submitting again.</p>
</details>

