---
{
	"title": "Menu",
	"language": "fr",
	"category": "Plugiciels",
	"description": "Boîte d'avis révocable.",
	"tag": "dismiss",
	"parentdir": "dismiss",
	"altLangPrefix": "dismiss",
	"dateModified": "2014-08-10"
}
---
<ul>
	<li><strong>Grands écrans&#160;:</strong> Le menu est affiché dans l'en-tête comme une barre de menu.</li>
	<li><strong>Petits écrans et écrans de taille moyenne&#160;:</strong> Le menu est affiché comme un panneau latéral, activé par un bouton de menu dans l'en-tête, et comprend le menu secondaire et le pied de page.</li>
</ul>
